<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string></string>
		<key>Back</key>
		<string></string>
		<key>Banner</key>
		<string></string>
		<key>Show1</key>
		<string></string>
		<key>Show2</key>
		<string></string>
		<key>Show3</key>
		<string></string>
		<key>Show4</key>
		<string></string>
		<key>Alarm</key>
		<string></string>
		<key>CustomBanner</key>
		<string></string>
		<key>CustomSplash</key>
		<string></string>
		<key>Header</key>
		<string></string>
		<key>Footer</key>
		<string></string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string></string>
		<key>Application</key>
		<string></string>
		<key>Developer</key>
		<string></string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Adrar 1089 AM (إذاعة أدرار)</string>
			<key>logo</key>
			<string>1089</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-adrar-1089-am,16453.m3u</string>
			<key>http</key>
			<string>https://adrar.ice.infomaniak.ch/01.aac</string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ain Timouchent 95.9 FM (عين تموشنت)</string>
			<key>logo</key>
			<string>Timouchent</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-ain-temouchent-95-9-fm,16454.m3u</string>
			<key>http</key>
			<string>https://aintemouchent.ice.infomaniak.ch/46.aac</string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Algerie Internationale (نشرة الواحدة )</string>
			<key>logo</key>
			<string>Internationale</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-algerie-internationale,12001.m3u</string>
			<key>http</key>
			<string>https://rai.ice.infomaniak.ch/rai-32.aac</string>
			<key>note</key>
			<string>El Bahdja (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Annaba (عنابة)</string>
			<key>logo</key>
			<string>Annaba</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-annaba,16455.m3u</string>
			<key>http</key>
			<string>https://annaba.ice.infomaniak.ch/23.aac</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bechar (بشار)</string>
			<key>logo</key>
			<string>Bechar</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-bechar,16456.m3u</string>
			<key>http</key>
			<string>https://bechar.ice.infomaniak.ch/08.aac</string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Biskra (بسكرة)</string>
			<key>logo</key>
			<string>Biskra</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-biskra,16457.m3u</string>
			<key>http</key>
			<string>https://biskra.ice.infomaniak.ch/07.aac</string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bordj Bou Arreridj (برج بوعريريج)</string>
			<key>logo</key>
			<string>Bordj</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-bordj-bou-arreridj,16458.m3u</string>
			<key>http</key>
			<string>https://bba.ice.infomaniak.ch/34.aac</string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bouira (البويرة)</string>
			<key>logo</key>
			<string>Bouira</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-bouira,16459.m3u</string>
			<key>http</key>
			<string>https://bouira.ice.infomaniak.ch/10.aac</string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chaine 1 (القناة الأولى)</string>
			<key>logo</key>
			<string>1</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-chaine-1,3466.m3u</string>
			<key>http</key>
			<string>https://ch1.ice.infomaniak.ch/ch1-32.aac</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chaine 2 (القناة الثانية)</string>
			<key>logo</key>
			<string>2</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-chaine-2,3467.m3u</string>
			<key>http</key>
			<string>https://ch2.ice.infomaniak.ch/ch2-32.aac</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chaine 3 (القناة الثالثة)</string>
			<key>logo</key>
			<string>3</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-chaine-3,3468.m3u</string>
			<key>http</key>
			<string>https://ch3.ice.infomaniak.ch/ch3-32.aac</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chlef (الشلف)</string>
			<key>logo</key>
			<string>Chlef</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-chlef,16460.m3u</string>
			<key>http</key>
			<string>https://chlef.ice.infomaniak.ch/02.aac</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dzair</string>
			<key>logo</key>
			<string>Dzair</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-dzair,12002.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dzair Aures</string>
			<key>logo</key>
			<string>Aures</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-dzair-aures,12003.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dzair Chaabia el Andaloussia</string>
			<key>logo</key>
			<string>Chaabia</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-dzair-chaabia-el-andaloussia,12004.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dzair Izuran</string>
			<key>logo</key>
			<string>Izuran</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-dzair-izuran,12005.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dzair Orientale</string>
			<key>logo</key>
			<string>Orientale</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-dzair-orientale,12006.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dzair Raina</string>
			<key>logo</key>
			<string>Raina</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-dzair-raina,12008.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>El Bahdja (إذاعة البهجة)</string>
			<key>logo</key>
			<string>Bahdja</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-el-bahdja,3469.m3u</string>
			<key>http</key>
			<string>https://elbahdja.ice.infomaniak.ch/elbahdja-32.aac</string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>El Bayadh</string>
			<key>logo</key>
			<string>Bayadh</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-el-bayadh,16462.m3u</string>
			<key>http</key>
			<string>https://bayadh.ice.infomaniak.ch/32.aac</string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>El Tarf (الطارف)</string>
			<key>logo</key>
			<string>Tarf</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-el-taref,16463.m3u</string>
			<key>http</key>
			<string>https://eltarf.ice.infomaniak.ch/36.aac</string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ghardaia (غرداية)</string>
			<key>logo</key>
			<string>Ghardaia</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-ghardaia,16465.m3u</string>
			<key>http</key>
			<string>https://ghardaia.ice.infomaniak.ch/47.aac</string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Jil FM (جيل إف إم)</string>
			<key>logo</key>
			<string>Jil</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/jil-fm,17631.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Khenchla (خنشلة)</string>
			<key>logo</key>
			<string>Khenchla</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-ghardaia,16465.m3u</string>
			<key>http</key>
			<string>https://khenchla.ice.infomaniak.ch/40.aac</string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mascara (معسكر)</string>
			<key>logo</key>
			<string>Mascara</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-mascara,16470.m3u</string>
			<key>http</key>
			<string>https://mascara.ice.infomaniak.ch/29.aac</string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Medea (المدية)</string>
			<key>logo</key>
			<string>Medea</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-medea,16471.m3u</string>
			<key>http</key>
			<string>https://medea.ice.infomaniak.ch/26.aac</string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mila (ميلة)</string>
			<key>logo</key>
			<string>Mila</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-mila,16472.m3u</string>
			<key>http</key>
			<string>https://mila.ice.infomaniak.ch/43.aac</string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Msila</string>
			<key>logo</key>
			<string>Msila</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-msila,16473.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Naama FM	 (النعامة)</string>
			<key>logo</key>
			<string>Naama</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-naama-fm,16474.m3u</string>
			<key>http</key>
			<string>https://naama.ice.infomaniak.ch/45.aac</string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Oran (وهران)</string>
			<key>logo</key>
			<string>Oran</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-oran,16475.m3u</string>
			<key>http</key>
			<string>https://oran.ice.infomaniak.ch/31.aac</string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Oum El Bouaghi (أم البواقي)</string>
			<key>logo</key>
			<string>Oum</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-oum-el-bouaghi,16476.m3u</string>
			<key>http</key>
			<string>https://oeb.ice.infomaniak.ch/04.aac</string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Relizane (غليزان)</string>
			<key>logo</key>
			<string>Relizane</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-relizane,16477.m3u</string>
			<key>http</key>
			<string>https://relizane.ice.infomaniak.ch/48.aac</string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Saida (سعيدة)</string>
			<key>logo</key>
			<string>Saida</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-saida,16478.m3u</string>
			<key>http</key>
			<string>https://saida.ice.infomaniak.ch/20.aac</string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Setif 90.4 FM إذاعة سطيف الجهوية</string>
			<key>logo</key>
			<string>Setif</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-setif,16479.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-setif-fm,13234.m3u</string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Skikda (سكيكدة)</string>
			<key>logo</key>
			<string>Skikda</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-skikda,16480.m3u</string>
			<key>http</key>
			<string>https://skikda.ice.infomaniak.ch/21.aac</string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Soummam</string>
			<key>logo</key>
			<string>Soummam</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-soummam,13298.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tebessa (تبسة)</string>
			<key>logo</key>
			<string>Tebessa</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-tebessa,16482.m3u</string>
			<key>http</key>
			<string>https://radiotebessa.ice.infomaniak.ch/12.aac</string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tiaret 92.5 FM (تيارت)</string>
			<key>logo</key>
			<string>Tiaret</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-tiaret-92-5-fm,20127.m3u</string>
			<key>http</key>
			<string>https://tiaret.ice.infomaniak.ch/14.aac</string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tindouf (تندوف)</string>
			<key>logo</key>
			<string>Tindouf</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-tindouf,16483.m3u</string>
			<key>http</key>
			<string>https://tindouf.ice.infomaniak.ch/37.aac</string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tissemsilt (تسمسيلت)</string>
			<key>logo</key>
			<string>Tissemsilt</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-tissemsilt,16484.m3u</string>
			<key>http</key>
			<string>https://tissemsilt.ice.infomaniak.ch/38.aac</string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tizi Ouzou (تيزي وزو)</string>
			<key>logo</key>
			<string>Tizi</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-tizi-ouzou,16485.m3u</string>
			<key>http</key>
			<string>https://tiziouzou.ice.infomaniak.ch/15.aac</string>
			<key>note</key>
			<string>Local</string>
		</dict>
	</array>
</dict>
</plist>
