<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1</string>
		<key>Back</key>
		<string>1</string>
		<key>Banner</key>
		<string>1</string>
		<key>Show1</key>
		<string>1</string>
		<key>Show2</key>
		<string>1</string>
		<key>Show3</key>
		<string>1</string>
		<key>Show4</key>
		<string>1</string>
		<key>Alarm</key>
		<string>1</string>
		<key>CustomBanner</key>
		<string>1</string>
		<key>CustomSplash</key>
		<string>1</string>
		<key>Header</key>
		<string>1</string>
		<key>Footer</key>
		<string>1</string>
		<key>Email</key>
		<string>1</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1</string>
		<key>Developer</key>
		<string>1</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Menu</key>
	<array>
		<string>Top</string>
		<string>News</string>
		<string>Local</string>
		<string>Classic</string>
		<string>Music</string>
		<string>Sport</string>
		<string>Talk</string>
		<string>Youth</string>
		<string>Oldies</string>
	</array>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Panamericana FM 96.1</string>
			<key>logo</key>
			<string>Panamericana</string>
			<key>link</key>
			<string>http://www.megalink.com/radio/panamericana/panamericana.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/panamericana-580-am,326.m3u</string>
			<key>note</key>
			<string>La Paz (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Chacaltaya FM 93.7</string>
			<key>logo</key>
			<string>Chacaltaya</string>
			<key>link</key>
			<string>http://www.megalink.com/radio/chacaltaya/chacaltaya.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-chacaltaya-93-7-fm,18786.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Qhana FM 98.5</string>
			<key>logo</key>
			<string>Qhana</string>
			<key>link</key>
			<string>http://www.megalink.com/radio/qhana/qhana.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/rdio-qhana-98-5-fm,20132.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Palenque Comunicaciones</string>
			<key>logo</key>
			<string>Palenque</string>
			<key>link</key>
			<string>http://www.megalink.com/radio/palenque/palenque.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CADENA PRATEL FM 89.2</string>
			<key>logo</key>
			<string>PRATEL</string>
			<key>link</key>
			<string>http://www.megalink.com/radio/pratel/pratel.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Zonica FM 102.4</string>
			<key>logo</key>
			<string>Zonica</string>
			<key>link</key>
			<string>http://www.megalink.com/radio/zonika/zonika.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sistema Cristiano de Comunicaciones</string>
			<key>logo</key>
			<string>Sistema</string>
			<key>link</key>
			<string>http://www.megalink.com/radio/sistemacristiano/sistemacristiano.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Majestad FM 105.7</string>
			<key>logo</key>
			<string>Majestad</string>
			<key>link</key>
			<string>http://www.megalink.com/radio/majestad/majestad.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://46.4.17.9:8130/listen.pls&amp;t=.pls</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Restauración FM 98.9</string>
			<key>logo</key>
			<string>Restauracion</string>
			<key>link</key>
			<string>http://www.megalink.com/radio/restauracionfm/restauracionfm.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Fides FM 101.5</string>
			<key>logo</key>
			<string>Fides</string>
			<key>link</key>
			<string>https://usa7.fastcast4u.com/tunein/grflores-stream.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-fides-la-paz-100-3-fm,17595.m3u</string>
			<key>note</key>
			<string>Pop Music La Paz, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Guadalupe FM 105.1</string>
			<key>logo</key>
			<string>Guadalupe</string>
			<key>link</key>
			<string>https://www.radioforest.net/radio/639616.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.27.80.34:9304/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Clássica FM 106.9</string>
			<key>logo</key>
			<string>Classica</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://176.9.151.69:8000/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://176.9.151.69:8000/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Oldies</string>
		</dict>
		<dict>
			<key>name</key>
			<string>24 horas Musica Nacional Bolivia</string>
			<key>logo</key>
			<string>24</string>
			<key>link</key>
			<string>http://198.27.80.34:7711/stream/1/</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.27.80.34:7711/listen.pls?sid=1&amp;t=.pls</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Bolivariana</string>
			<key>logo</key>
			<string>Bolivariana</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://149.56.175.167:5411/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://149.56.175.167:5411/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Camargo</string>
			<key>logo</key>
			<string>Camargo</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.99.99.1:8778/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.99.99.1:8778/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Hit Camiri</string>
			<key>logo</key>
			<string>Camiri</string>
			<key>link</key>
			<string>http://radios.istbolivia.com:9330/listen.pls</string>
			<key>http</key>
			<string>http://radios.istbolivia.com:9330/;</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bolivia Tierra Querida - Latinos</string>
			<key>logo</key>
			<string>Tierra</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://67.212.179.138:7084/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://67.212.179.138:7084/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bolivia Tierra Querida - Folklor</string>
			<key>logo</key>
			<string>Querida</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://67.212.179.138:7080/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://67.212.179.138:7080/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Capital FM 105.7</string>
			<key>logo</key>
			<string>Capital</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://72.29.90.201:7801/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://72.29.90.201:7801/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Cruz del Sur</string>
			<key>logo</key>
			<string>Cruz</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://38.107.243.219:9006/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://38.107.243.219:9006/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Union Bolivia</string>
			<key>logo</key>
			<string>Union</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://109.169.26.216:8139/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://109.169.26.216:8139/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>EABOLIVIA</string>
			<key>logo</key>
			<string>EABOLIVIA</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://72.29.90.201:7110/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://72.29.90.201:7110/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Frecuencia Bolivariana</string>
			<key>logo</key>
			<string>Frecuencia</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://radiolatina.info:9326/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://radiolatina.info:9326/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Sucre 1320 AM</string>
			<key>logo</key>
			<string>1320</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://72.29.90.201:7791/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://72.29.90.201:7791/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Milenio 89.1 FM</string>
			<key>logo</key>
			<string>Milenio</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.27.80.34:9372/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.27.80.34:9372/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Boyuibe (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Alcance</string>
			<key>logo</key>
			<string>Alcance</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.27.80.34:9336/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.27.80.34:9336/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Lider 102.3 FM</string>
			<key>logo</key>
			<string>Lider</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.27.80.34:9332/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.27.80.34:9332/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Bermejo (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Onda Sureña Boliviana</string>
			<key>logo</key>
			<string>Onda</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://170.75.146.162:12290/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://170.75.146.162:12290/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Mix Bolivia</string>
			<key>logo</key>
			<string>Mix</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://144.217.129.213:9121/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://144.217.129.213:9121/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Corporación Bolivariana del Norte</string>
			<key>logo</key>
			<string>Norte</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://107.182.231.73:7131/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>http://107.182.231.73:7131/;stream.mp3</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>RCB</string>
			<key>logo</key>
			<string>RCB</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://45.43.200.114:8834/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://45.43.200.114:8834/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Audiokiss 90.7 FM</string>
			<key>logo</key>
			<string>Audiokiss</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/audiokiss-90-7-fm,10423.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Santa Cruz (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Erbol 100.9 FM</string>
			<key>logo</key>
			<string>Erbol</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/erbol-100-9-fm,323.m3u</string>
			<key>http</key>
			<string>http://108.170.61.114:7223/live</string>
			<key>note</key>
			<string>La Paz (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM 104.3 Estudiantil UAP</string>
			<key>logo</key>
			<string>Estudiantil</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/fm-104-3-estudiantil-uap-universidad-adventista-del-plata,18797.m3u</string>
			<key>http</key>
			<string>http://70.38.73.27:8129/live</string>
			<key>note</key>
			<string>Entre Ríos (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Melodia 99.3 FM</string>
			<key>logo</key>
			<string>Melodia</string>
			<key>link</key>
			<string>http://icecasthd.net:27148/live.m3u</string>
			<key>http</key>
			<string>http://icecasthd.net:2199/tunein/fmmelodia.pls</string>
			<key>note</key>
			<string>Music (La Paz, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Patria Nueva 94.3 FM</string>
			<key>logo</key>
			<string>Patria</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/patria-nueva-94-3-fm,18799.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>La Paz (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Activa 91.9 FM</string>
			<key>logo</key>
			<string>Activa</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-activa-91-9-fm,327.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music (Santa Cruz, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Betania 93.7 FM</string>
			<key>logo</key>
			<string>Betania</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-betania-93-7-fm,18802.m3u</string>
			<key>http</key>
			<string>http://icecast.radiobetania.com:8000/betania.mp3</string>
			<key>note</key>
			<string>Santa Cruz (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio El Deber 103.3 FM</string>
			<key>logo</key>
			<string>Deber</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-el-deber-103-3-fm,18796.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Santa Cruz (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Exito Bolivia 93.1 FM</string>
			<key>logo</key>
			<string>Exito</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-exito-bolivia-93-1-fm,18801.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>La Paz (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio FM Bolivia 94.9 FM</string>
			<key>logo</key>
			<string>Boliv</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-fm-bolivia-94-9-fm,17594.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>La Paz (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Kollasuyo 105.1 FM</string>
			<key>logo</key>
			<string>Kollasuyo</string>
			<key>link</key>
			<string>http://www.radiokollasuyo.net/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-kollasuyo-105-1-fm,18798.m3u</string>
			<key>note</key>
			<string>Potosí (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Transamericana</string>
			<key>logo</key>
			<string>Transamericana</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-transamericana,10461.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Oldies (Oruro, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Uno 96.7 FM</string>
			<key>logo</key>
			<string>Uno</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-uno-96-7-fm,20131.m3u</string>
			<key>http</key>
			<string>http://198.27.80.34:8020/;</string>
			<key>note</key>
			<string>Santa Cruz (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Yungas 92.1 FM</string>
			<key>logo</key>
			<string>Yungas</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-yungas-92-1-fm,20133.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Santa Cruz (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>WKM 91.5 FM</string>
			<key>logo</key>
			<string>WKM</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/wkm-91-5-fm,328.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music (La Paz, Local)</string>
		</dict>
	</array>
</dict>
</plist>
