<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string></string>
		<key>Back</key>
		<string></string>
		<key>Banner</key>
		<string></string>
		<key>Show1</key>
		<string></string>
		<key>Show2</key>
		<string></string>
		<key>Show3</key>
		<string></string>
		<key>Show4</key>
		<string></string>
		<key>Alarm</key>
		<string></string>
		<key>CustomBanner</key>
		<string></string>
		<key>CustomSplash</key>
		<string></string>
		<key>Header</key>
		<string></string>
		<key>Footer</key>
		<string></string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string></string>
		<key>Application</key>
		<string></string>
		<key>Developer</key>
		<string></string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>إذاعة القرآن الكريم</string>
			<key>logo</key>
			<string>Qurankareem</string>
			<key>link</key>
			<string>http://livestreaming5.onlinehorizons.net/hls-live/Qurankareem/_definst_/liveevent/livestream.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>إذاعة الأغاني</string>
			<key>logo</key>
			<string>aghany</string>
			<key>link</key>
			<string>http://livestreaming5.onlinehorizons.net/hls-live/Aghany/_definst_/liveevent/livestream.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>إذاعة صوت العرب</string>
			<key>logo</key>
			<string>arab</string>
			<key>link</key>
			<string>http://livestreaming5.onlinehorizons.net/hls-live/SootArab/_definst_/liveevent/livestream.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>إذاعة البرنامج العام</string>
			<key>logo</key>
			<string>aam</string>
			<key>link</key>
			<string>http://livestreaming5.onlinehorizons.net/hls-live/pernamegaam/_definst_/liveevent/livestream.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>إذاعة الشباب و الرياضة</string>
			<key>logo</key>
			<string>riyadah</string>
			<key>link</key>
			<string>http://livestreaming5.onlinehorizons.net/hls-live/Shabawreada/_definst_/liveevent/livestream.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>90s FM Arabic</string>
			<key>logo</key>
			<string>90s</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/90s-fm-arabic,19460.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Al Sharq Al Awsat 89.5 FM (إذاعة الشرق الأوسط)</string>
			<key>Q</key>
			<string>Shark</string>
			<key>link</key>
			<string>https://livestreaming5.onlinehorizons.net/hls-live/SharkAwsat/_definst_/liveevent/livestream.m3u8</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/al-sharq-al-awsat-89-5-fm,16607.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Alhaya FM</string>
			<key>logo</key>
			<string>Alhaya</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/alhaya-fm,16608.m3u</string>
			<key>http</key>
			<string>http://live.hayafm.com:8000/;</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC Arabic</string>
			<key>logo</key>
			<string>BBC</string>
			<key>link</key>
			<string>http://bbcwssc.ic.llnwd.net/stream/bbcwssc_mp1_ws-araba.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bokra</string>
			<key>logo</key>
			<string>Bokra</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-bokra,15445.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cairo</string>
			<key>logo</key>
			<string>Cairo</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-cairo,5122.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Diab FM</string>
			<key>logo</key>
			<string>Diab</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/diab-fm,16609.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>El-Radio 9090 (الراديو)</string>
			<key>logo</key>
			<string>9090</string>
			<key>link</key>
			<string>http://9090streaming.mobtada.com/9090FMEGYPT.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/el-radio-9090,20212.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Goal FM</string>
			<key>logo</key>
			<string>Goal</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/goal-fm,16610.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hits 88.2 راديو هيتس</string>
			<key>logo</key>
			<string>Hits</string>
			<key>link</key>
			<string>http://178.32.62.154:8957/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-hits-88-2,16621.m3u</string>
			<key>note</key>
			<string>News, Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>راديو حريتنا Horytna</string>
			<key>logo</key>
			<string>Horytna</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-horytna,13312.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mahatet Masr</string>
			<key>logo</key>
			<string>Mahatet</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/mahatet-masr-88-7-fm,20213.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Masr 88.7 FM راديو مصر</string>
			<key>logo</key>
			<string>Masr</string>
			<key>link</key>
			<string>https://live.radiomasr.net/RADIOMASR.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-masr-88-7-fm,16777.m3u</string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mega FM 92.7 ميجا اف ام</string>
			<key>logo</key>
			<string>Mega</string>
			<key>link</key>
			<string>http://nebula.shoutca.st:8211/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/mega-fm-92-7,20214.m3u</string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nile FM 104.2</string>
			<key>logo</key>
			<string>Nile</string>
			<key>link</key>
			<string>https://reach-audio.esteam.rocks/radio/8010/live.mp3</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/nile-fm-104-2-dsl,5123.m3u</string>
			<key>note</key>
			<string>News, Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nogoum 100.6 نجوم إف إم</string>
			<key>logo</key>
			<string>Nogoum</string>
			<key>link</key>
			<string>http://ice31.securenetsystems.net/NOGOUM.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/nogoum-100-6-fm,16620.m3u</string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ROBINSON FM 102.0</string>
			<key>logo</key>
			<string>ROBINSON</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/robinson-fm-102-0,16791.m3u</string>
			<key>http</key>
			<string>http://stream.robinsonfm.de/robinsonfm.mp3?_=2</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sawa راديو سوا</string>
			<key>logo</key>
			<string>Sawa</string>
			<key>link</key>
			<string>http://mbn-channel-06.akacast.akamaistream.net/7/28/233455/v1/ibb.akacast.akamaistream.net/mbn_channel_06</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-sawa-egypt,14435.m3u</string>
			<key>note</key>
			<string>News, Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sky News Arabia</string>
			<key>logo</key>
			<string>Sky</string>
			<key>link</key>
			<string>http://radio.skynewsarabia.com/stream/radio/skynewsarabia.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
	</array>
</dict>
</plist>
