<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string></string>
		<key>Main</key>
		<string></string>
		<key>Back</key>
		<string></string>
		<key>Banner</key>
		<string></string>
		<key>Show1</key>
		<string></string>
		<key>Show2</key>
		<string></string>
		<key>Show3</key>
		<string></string>
		<key>Show4</key>
		<string></string>
		<key>Alarm</key>
		<string></string>
		<key>CustomBanner</key>
		<string></string>
		<key>CustomSplash</key>
		<string></string>
		<key>Header</key>
		<string></string>
		<key>Footer</key>
		<string></string>
		<key>Email</key>
		<string>ios.apps.community@gmail.com</string>
		<key>Alternative</key>
		<string></string>
		<key>Application</key>
		<string></string>
		<key>Developer</key>
		<string></string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Menu</key>
	<array>
		<string>Top</string>
		<string>News</string>
		<string>Local</string>
		<string>Classic</string>
		<string>Music</string>
		<string>Sport</string>
		<string>Talk</string>
		<string>Youth</string>
		<string>Oldies</string>
	</array>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>A&apos;lo 90.0 FM</string>
			<key>logo</key>
			<string>Alo</string>
			<key>link</key>
			<string>http://tabassum.uz:9000/alo_high.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Avtoradio Hamroh 102.0 FM</string>
			<key>logo</key>
			<string>Avtoradio</string>
			<key>link</key>
			<string>https://st5.mediabay.uz/radio/Hamroh/tracks-a1/mono.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Classic 104.4 FM</string>
			<key>logo</key>
			<string>Classic</string>
			<key>link</key>
			<string>https://str-3.mediabay.tv/Radio_Classic/tracks-a1/mono.m3u8?token=7b6af4bbb3c793f701267a88f6775c28f66e9d43-05966f6be2c19fb57ab5430c7a00b367-1573855646-1573844846</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>MAXIMA 105.4 FM</string>
			<key>logo</key>
			<string>MAXIMA</string>
			<key>link</key>
			<string>https://str-3.mediabay.tv/Radio_Maxima/tracks-a1/mono.m3u8?token=8420e8c610a4dd9bc9f22ccbe12fc7b0fc5c9d15-c8cbf13b65d5a87b7d1200e5600e6bae-1573855646-1573844846</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Navruz 88.4 FM</string>
			<key>logo</key>
			<string>Navruz</string>
			<key>link</key>
			<string>http://navruzfm.uz:9000/navruz_low.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ORIAT 100.5 FM</string>
			<key>logo</key>
			<string>ORIAT</string>
			<key>link</key>
			<string>http://oriat.mediabay.uz/oriatfm.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ORIAT Dono 106.5 FM</string>
			<key>logo</key>
			<string>Dono</string>
			<key>link</key>
			<string>http://oriat.mediabay.uz/oriatdono.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>O&apos;zbegim Taronasi 101.0 FM</string>
			<key>logo</key>
			<string>Taronasi</string>
			<key>link</key>
			<string>http://fm101.uz:1935/radiostream/radiostation.stream/playlist.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Vodiy Sadosi</string>
			<key>logo</key>
			<string>Vodiy</string>
			<key>link</key>
			<string>https://str-3.mediabay.tv/Radio_Echo/tracks-a1/mono.m3u8?token=117485e4151c70765e246c5427ea14195848a847-809493bd2d76718b2f7d1fb4441cdaa3-1573855646-1573844846</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
