<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>9039650727</string>
		<key>Back</key>
		<string>2290888475</string>
		<key>Banner</key>
		<string>4019737261</string>
		<key>Show1</key>
		<string>1</string>
		<key>Show2</key>
		<string>1</string>
		<key>Show3</key>
		<string>1</string>
		<key>Show4</key>
		<string>1</string>
		<key>Alarm</key>
		<string>1328681669</string>
		<key>CustomBanner</key>
		<string>9885828535</string>
		<key>CustomSplash</key>
		<string>5267926670</string>
		<key>Header</key>
		<string>1624195130</string>
		<key>Footer</key>
		<string>7575838893</string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string>1176476751</string>
		<key>Application</key>
		<string>1457736136</string>
		<key>Developer</key>
		<string>1239592099</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Energy FM</string>
			<key>logo</key>
			<string>Energy</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://95.211.3.65:8502/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://95.211.3.65:8502/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>101FM Radio Logan</string>
			<key>logo</key>
			<string>Logan</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://95.211.3.65:8930/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://95.211.3.65:8930/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio 2Moro - Sawt El Ghad</string>
			<key>logo</key>
			<string>2Moro</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.178.123.11:7648/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.178.123.11:7648/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Portuguese Radio</string>
			<key>logo</key>
			<string>Portuguese</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.178.123.17:8012/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.178.123.17:8012/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM107.5 Orange</string>
			<key>logo</key>
			<string>Orange</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://176.31.248.14:12134/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://176.31.248.14:12134/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CRC Radio</string>
			<key>logo</key>
			<string>CRC</string>
			<key>link</key>
			<string>http://www.xrn.com.au/serverlinks07.m3u</string>
			<key>http</key>
			<string>http://www.xrn.com.au/serverlinks08.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Station X</string>
			<key>logo</key>
			<string>Station</string>
			<key>link</key>
			<string>http://www.xrn.com.au/serverlinks11.m3u</string>
			<key>http</key>
			<string>http://www.xrn.com.au/serverlinks12.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rock Australia Radio</string>
			<key>logo</key>
			<string>Rock</string>
			<key>link</key>
			<string>http://cent2.serverhostingcenter.com:2199/tunein/rockaust-stream.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://50.7.99.155:12167/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Australian Radio Indie</string>
			<key>logo</key>
			<string>Australian</string>
			<key>link</key>
			<string>http://www.australianradio.audio/australianradioindie.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.178.123.17:9542/listen.pls?sid=1&amp;t=.pls</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>AustraliaLatestNews.com</string>
			<key>logo</key>
			<string>AustraliaLatestNews</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://178.33.251.97:8329/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://178.33.251.97:8329/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>101.7 WS-FM</string>
			<key>logo</key>
			<string>WS-FM</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/101-7-ws-fm,6801.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>101.7 WSFM Classic Hits</string>
			<key>logo</key>
			<string>WSFM</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/101-7-wsfm-classic-hits,15191.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Brisbane (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>105.7 Radio Metro</string>
			<key>logo</key>
			<string>Metro</string>
			<key>link</key>
			<string>https://radiometro.com.au/songapp/Radio-Metro.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/105-7-radio-metro,16805.m3u</string>
			<key>note</key>
			<string>Top (Gold Coast, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>106.3 The Lounge</string>
			<key>logo</key>
			<string>The</string>
			<key>link</key>
			<string>http://www.fast-serv.com/live/stream.pls?host=ic2329.c564.fast-serv.com&amp;port=80&amp;path=/stream</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/106-3-the-lounge,15186.m3u</string>
			<key>note</key>
			<string>Port Douglas (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>2CA 105.3 FM</string>
			<key>logo</key>
			<string>2CA</string>
			<key>link</key>
			<string>http://eu7.fastcast4u.com/proxy/radio2ca?mp=/stream2ca.mp3</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/2ca-105-3-fm,18576.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>2CC 1206 AM</string>
			<key>logo</key>
			<string>2CC</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/2cc-1206-am,18587.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>2CH Easy 1170</string>
			<key>logo</key>
			<string>2CH</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/2ch-easy-1170,886.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>2EC</string>
			<key>logo</key>
			<string>2EC</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/2ec,18577.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Bega (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>2GB 873 AM</string>
			<key>logo</key>
			<string>873</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/2gb-873-am,887.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>2GLF 89.3 FM</string>
			<key>logo</key>
			<string>2GLF</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/2glf-89-3fm,9608.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>2MBS-FM</string>
			<key>logo</key>
			<string>2MBS</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/2mbs-fm,10427.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>2NM AM981</string>
			<key>logo</key>
			<string>2NM</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/2nm-am981,18578.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Hunter Valley (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>2ST 999 AM</string>
			<key>logo</key>
			<string>999</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/2st-999-am,18579.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Hunter Valley (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>2UE 954</string>
			<key>logo</key>
			<string>2UE</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/2ue,15185.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>3AW 693</string>
			<key>logo</key>
			<string>3AW</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/3aw,889.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>3BA 102.3 FM</string>
			<key>logo</key>
			<string>3BA</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/3ba-102-3-fm,18580.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Ballarat (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>3CR</string>
			<key>logo</key>
			<string>3CR</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/3cr,9682.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>3KND</string>
			<key>logo</key>
			<string>3KND</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/3knd,9681.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>3MBS 103.5 FM</string>
			<key>logo</key>
			<string>3MBS</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/3mbs-103-5-fm,14112.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>3RRR 102.7 FM</string>
			<key>logo</key>
			<string>3RRR</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/3rrr-102-7-fm,2375.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>4BC Radio</string>
			<key>logo</key>
			<string>4BC</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/4bc-radio,5266.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Brisbane (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>4BU 1332 AM</string>
			<key>logo</key>
			<string>4BU</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/4bu-1332-am,18581.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Bundaberg (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>4CA 864 AM</string>
			<key>logo</key>
			<string>4CA</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/4ca-864-am,18582.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Cairns (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>4MBS Classic FM 103.7</string>
			<key>logo</key>
			<string>4MBS</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/4mbs-classic-fm,15190.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>4MK 1026 AM</string>
			<key>logo</key>
			<string>4MK</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/4mk-1026-am,18585.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Mackay (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>5MBS</string>
			<key>logo</key>
			<string>5MBS</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/5mbs,16490.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Adelaide (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>5MU 1125 AM</string>
			<key>logo</key>
			<string>5MU</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/5mu-1125-am,18583.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Murray Bridge (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>5RM 801 AM</string>
			<key>logo</key>
			<string>5RM</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/5rm-801-am,18584.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Berri (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>5UV Adelaide 101.5 FM</string>
			<key>logo</key>
			<string>5UV</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/5uv-adelaide-101-5-fm,2541.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>6PR 882 News Talk</string>
			<key>logo</key>
			<string>6PR</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/6pr-news-talk-radio,2542.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Perth (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>7HOFM 101.7</string>
			<key>logo</key>
			<string>7HOFM</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/7hofm-101-7,18571.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Hobart (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>7XS West Coast</string>
			<key>logo</key>
			<string>7XS</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/7xs-west-coast,18586.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Queenstown (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>89.3 LAFM</string>
			<key>logo</key>
			<string>LAFM</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/89-3-lafm,18574.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Launceston (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>89.7 Eastside FM</string>
			<key>logo</key>
			<string>Eastside</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/89-7-eastside-fm,16405.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>90.9 Sea FM</string>
			<key>logo</key>
			<string>Sea</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/90-9-sea-fm,9763.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Gold Coast (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>91.1 The Edge</string>
			<key>logo</key>
			<string>Edge</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/91-1-the-edge,6797.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>95 BFM</string>
			<key>logo</key>
			<string>95</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/95-bfm-dsl,5271.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/95-bfm-modem,892.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>96Five FM Bristol</string>
			<key>logo</key>
			<string>96Five</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/96five-fm-bristol,2545.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>96FM Perth`s best Music</string>
			<key>logo</key>
			<string>96FM</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/96fm-perth-s-best-music,2544.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top, Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>96three FM</string>
			<key>logo</key>
			<string>96three</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/96three-fm,5268.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>97.3 FM Brisbane</string>
			<key>logo</key>
			<string>Brisban</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/97-3-fm-brisbane,5267.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>98.5 Sonshine FM</string>
			<key>logo</key>
			<string>Sonshine</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/98-5-soneshine-fm,2546.m3u</string>
			<key>http</key>
			<string>https://stream1.cnmns.net/sfm</string>
			<key>note</key>
			<string>Perth, Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>A-Net Station</string>
			<key>logo</key>
			<string>A-Net</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/a-net-station,5272.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Suedpol (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ABC Australia Radio</string>
			<key>logo</key>
			<string>ABC</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/abc-australia-radio,2548.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ABC Adelaide 891</string>
			<key>logo</key>
			<string>891</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/891-abc-adelaide,17437.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ABC Brisbane</string>
			<key>logo</key>
			<string>Brisbane</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/abc-brisbane,15188.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>ABC Canberra</string>
			<key>logo</key>
			<string>Canberra</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/abc-canberra,18875.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>ABC Classic FM</string>
			<key>logo</key>
			<string>Classic</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/abc-classic-fm-dsl,7891.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ABC Country</string>
			<key>logo</key>
			<string>Countr</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/abc-country,18876.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ABC Extra</string>
			<key>logo</key>
			<string>Extra</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/abc-extra,17944.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ABC Grandstand</string>
			<key>logo</key>
			<string>Grandstand</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/abc-grandstand-radio,16393.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ABC Jazz</string>
			<key>logo</key>
			<string>Jazz</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/abc-jazz,15181.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>ABC Melbourne</string>
			<key>logo</key>
			<string>Melbourne</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/abc-melbourne,15183.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>ABC News Radio 103.9 FM</string>
			<key>logo</key>
			<string>ABCNews</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/abc-news-radio-103-9-fm,15184.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ABC Perth</string>
			<key>logo</key>
			<string>Perth</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/abc-perth,18877.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>ABC Radio National</string>
			<key>logo</key>
			<string>National</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/abc-radio-national,15180.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>ABC Sydney</string>
			<key>logo</key>
			<string>Sydney</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/abc-sydney,18878.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>ABC Sydney 702 2BL</string>
			<key>logo</key>
			<string>702</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/702-abc-sydney-2bl,15182.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>ABC Triple J</string>
			<key>logo</key>
			<string>J</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/abc-triple-j,2554.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Active 89 FM</string>
			<key>logo</key>
			<string>89</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/active-89-fm,893.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Wellington (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Apna 990 AM</string>
			<key>logo</key>
			<string>990</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/apna-990-am,10717.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Wellington (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Base FM 107.7</string>
			<key>logo</key>
			<string>Base</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/base-fm-107-7,10531.m3u</string>
			<key>http</key>
			<string>http://stream.basefm.co.nz:8000/BaseHi</string>
			<key>note</key>
			<string>Music (Auckland, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bay FM 99.9</string>
			<key>logo</key>
			<string>Bay</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/bay-fm,9673.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Byron Bay (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Big Country Radio 88 FM</string>
			<key>logo</key>
			<string>Big</string>
			<key>link</key>
			<string>http://myradiostream.com/bigcountryradio</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/big-country-radio,15189.m3u</string>
			<key>note</key>
			<string>Music (Central Coast, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chilli 90.1 FM</string>
			<key>logo</key>
			<string>Chilli</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/chilli-90-1-fm,18567.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top (Launceston, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Coast FM</string>
			<key>logo</key>
			<string>Coast</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/coast-fm,8647.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Auckland (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Concert FM RNZ</string>
			<key>logo</key>
			<string>Concert</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/concert-fm,7490.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music (Wellington, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Double J</string>
			<key>logo</key>
			<string>Double</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/dig-radio,10670.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/dig-country-dsl,10672.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>FBi Radio 94.5 FM</string>
			<key>logo</key>
			<string>FBi</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/fbi-radio-94-5-fm,20130.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Flava Hip Hop &amp; RnB	</string>
			<key>logo</key>
			<string>Flava</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/flava-hip-hop-rnb,17088.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music (Auckland, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM 104.7 - 2ROC</string>
			<key>logo</key>
			<string>2ROC</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/fm-104-7-2roc,18097.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fox 101.9 FM</string>
			<key>logo</key>
			<string>Fox</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/fox-101-9-fm,7769.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>George 96.8 FM</string>
			<key>logo</key>
			<string>George</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/george-96-8-fm,7776.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Auckland (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Golden Days Radio 95.7 FM</string>
			<key>logo</key>
			<string>Golden</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/golden-days-radio-95-7-fm,14278.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Heads 106.4 FM</string>
			<key>logo</key>
			<string>Heads</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/heads-106-4-fm,18969.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hit105 105.3 FM 4BBB</string>
			<key>logo</key>
			<string>Hit105</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/hit105-105-3-fm-4bbb,18588.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top (Brisbane, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hitz 93.9 FM</string>
			<key>logo</key>
			<string>Hitz</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/hitz-93-9-fm,18566.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top (Bundaberg, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hope 103.2</string>
			<key>logo</key>
			<string>Hope</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/hope-103-2,10532.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hot 100 FM</string>
			<key>logo</key>
			<string>100</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/hot-100-fm,18564.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top (Darwin, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hot 91</string>
			<key>logo</key>
			<string>91</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/hot-91,9313.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Sunshine Coast (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hot FM 103.5</string>
			<key>logo</key>
			<string>Hot</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/hot-fm-103-5,18592.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top (Cairns, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>i98</string>
			<key>logo</key>
			<string>i98</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/i98,9311.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Wollongong (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>JOY 94.9</string>
			<key>logo</key>
			<string>JOY</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/joy-94-9,10543.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>K-Rock 95.5 FM</string>
			<key>logo</key>
			<string>K-Rock</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/k-rock-95-5-fm,18565.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top (Geelong, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Latinos FM Australia</string>
			<key>logo</key>
			<string>Latinos</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/latinos-fm-australia,20352.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Magic 1278</string>
			<key>logo</key>
			<string>1278</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/magic-1278,9310.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Oldies</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Magic FM 87.8</string>
			<key>logo</key>
			<string>Magic</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/magic-fm-87-8,18568.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Perth (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mai FM 88.6</string>
			<key>logo</key>
			<string>Mai</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/mai-fm-88-6,17086.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music (Auckland, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mix 101.1 KIIS</string>
			<key>logo</key>
			<string>KIIS</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/mix-101-1-tt-fm,7768.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mix 104.9 FM</string>
			<key>logo</key>
			<string>104</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/mix-104-9-fm,18572.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Darwin (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mix 106.5</string>
			<key>logo</key>
			<string>106</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/mix-106-05,6795.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>RNZ National Radio</string>
			<key>logo</key>
			<string>RN</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/national-radio,7491.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Wellington (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RNZ International </string>
			<key>logo</key>
			<string>RNZ</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/neuseeland-int,896.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Wellington (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Newstalk ZB 89.4 FM</string>
			<key>logo</key>
			<string>ZB</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/newstalk-zb-89-4-fm,18990.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Auckland (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Niu FM 103.8</string>
			<key>logo</key>
			<string>Niu</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/niu-fm-103-8,17087.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nova 100.3 FM Radio</string>
			<key>logo</key>
			<string>Nova</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/nova-100-3-fm-radio,2550.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nova 96.9 FM</string>
			<key>logo</key>
			<string>Nov</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/nova-93-7-fm,4057.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/nova-96-9-fm,2549.m3u</string>
			<key>note</key>
			<string>Top</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ONE FM 98.5</string>
			<key>logo</key>
			<string>ONE</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/one-fm-98-5,9610.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Shepparton (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Power 94.9 FM</string>
			<key>logo</key>
			<string>Power</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/power-94-9-fm,18569.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top (Nowra, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>PuradsiFM Tamil No.1</string>
			<key>logo</key>
			<string>PuradsiFM</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/puradsifm-tamil-no-1,19574.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio 1</string>
			<key>logo</key>
			<string>1</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-1,14111.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Tahiti (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dunedin</string>
			<key>logo</key>
			<string>Dunedin</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-dunedin,16784.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Eketahuna 106.5 FM</string>
			<key>logo</key>
			<string>Eketahuna</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-eketahuna-106-5-fm,19678.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Tararua District (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ena</string>
			<key>logo</key>
			<string>Ena</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-ena,9607.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Adelaide (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fremantle</string>
			<key>logo</key>
			<string>Fremantle</string>
			<key>link</key>
			<string>http://203.59.4.85:8000/live</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-fremantle,9575.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hauraki 99.0 FM</string>
			<key>logo</key>
			<string>Hauraki</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-hauraki-99-0-fm,18968.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Auckland (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Maria No Te Hau</string>
			<key>logo</key>
			<string>Hau</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-maria-no-te-hau,898.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sport - 1332 AM</string>
			<key>logo</key>
			<string>1332</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-sport-1332-am,18966.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Red FM</string>
			<key>logo</key>
			<string>Red</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/red-fm-australia,20380.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>River 94.9 FM</string>
			<key>logo</key>
			<string>River</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/river-94-9-fm,2551.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Brisbane (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
