<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1</string>
		<key>Back</key>
		<string>1</string>
		<key>Banner</key>
		<string>1</string>
		<key>Show1</key>
		<string>1</string>
		<key>Show2</key>
		<string>1</string>
		<key>Show3</key>
		<string>1</string>
		<key>Show4</key>
		<string>1</string>
		<key>Alarm</key>
		<string>1</string>
		<key>CustomBanner</key>
		<string>1</string>
		<key>CustomSplash</key>
		<string>1</string>
		<key>Header</key>
		<string>1</string>
		<key>Footer</key>
		<string>1</string>
		<key>Email</key>
		<string>1</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1</string>
		<key>Developer</key>
		<string>1</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>France Bleu Alsace 101.4FM</string>
			<key>logo</key>
			<string>Alsace</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_fbalsace.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Strasbourg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Bleu Armorique 101.3FM</string>
			<key>logo</key>
			<string>Armorique</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_fbarmorique.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Rennes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Bleu Auxerre 103.5FM</string>
			<key>logo</key>
			<string>Auxerre</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_fbauxerre.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Bleu Azur 103.8FM</string>
			<key>logo</key>
			<string>Azur</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_fbazur.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Nice</string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Bleu Béarn 102.5FM</string>
			<key>logo</key>
			<string>Bearn</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_fbbearn.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pau</string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Bleu Belfort-Montbéliard 106.8FM</string>
			<key>logo</key>
			<string>Belfort</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_fbbelfort.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Bleu Berry 95.2FM</string>
			<key>logo</key>
			<string>Berry</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_fbberry.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Châteauroux</string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Bleu Besançon 102.8FM</string>
			<key>logo</key>
			<string>Besancon</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_fbbesancon.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Bleu Bourgogne 98.3FM</string>
			<key>logo</key>
			<string>Bourgogne</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_fbbourgogne.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Dijon</string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Bleu Breizh Izel 98.6FM</string>
			<key>logo</key>
			<string>Breizh</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_fbbreizizel.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Quimper</string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Bleu Champagne-Ardenne 95.1FM</string>
			<key>logo</key>
			<string>Champagne</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_fbchampagne.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Reims</string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Bleu Cotentin </string>
			<key>logo</key>
			<string>Cotentin</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_fbcotentin.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Cherbourg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Bleu Creuse 94.3FM</string>
			<key>logo</key>
			<string>Creuse</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_fbcreuse.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Gueret</string>
		</dict>
	</array>
</dict>
</plist>
