<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>3083202766</string>
		<key>Back</key>
		<string>1578549401</string>
		<key>Banner</key>
		<string>9861306059</string>
		<key>Show1</key>
		<string>4228763476</string>
		<key>Show2</key>
		<string>3845620095</string>
		<key>Show3</key>
		<string>9644741682</string>
		<key>Show4</key>
		<string>8305925076</string>
		<key>Alarm</key>
		<string>7169787434</string>
		<key>CustomBanner</key>
		<string>2139971971</string>
		<key>CustomSplash</key>
		<string>3681968560</string>
		<key>Header</key>
		<string>8032277111</string>
		<key>Footer</key>
		<string>6242868519</string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string>1203227612</string>
		<key>Application</key>
		<string>1425515627</string>
		<key>Developer</key>
		<string>1239592099</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>franceinfo</string>
			<key>logo</key>
			<string>franceinfo</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_franceinfo128.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Inter</string>
			<key>logo</key>
			<string>Inter</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_franceinter128.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Musique</string>
			<key>logo</key>
			<string>Musique</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_francemusique128.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Classical/Jazz</string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Musique Classique easy</string>
			<key>logo</key>
			<string>easy</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_francemusiqueeasy.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Classical</string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Musique Classique plus</string>
			<key>logo</key>
			<string>Classique</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_francemusiqueplus.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Classical</string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Musique Concerts de Radio France</string>
			<key>logo</key>
			<string>Concerts</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_francemusiqueconcerts.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Classical, Public</string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Musique Musiques du monde - Ocora</string>
			<key>logo</key>
			<string>Ocora</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_francemusiquemonde.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>World / Traditional</string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Musique La Jazz</string>
			<key>logo</key>
			<string>Jazz</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_francemusiquejazz.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Musique La Contemporaine</string>
			<key>logo</key>
			<string>Contemporaine</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_francemusiquecontemp.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Classical</string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Culture</string>
			<key>logo</key>
			<string>Culture</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_franceculture128.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>FIP (national)</string>
			<key>logo</key>
			<string>national</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_fip128.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>FIP à Nantes</string>
			<key>logo</key>
			<string>Nantes</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_fipnantes.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Bleu Alsace 101.4FM</string>
			<key>logo</key>
			<string>Alsace</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_fbalsace.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Strasbourg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Bleu Armorique 101.3FM</string>
			<key>logo</key>
			<string>Armorique</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_fbarmorique.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Rennes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Bleu Auxerre 103.5FM</string>
			<key>logo</key>
			<string>Auxerre</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_fbauxerre.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Bleu Azur 103.8FM</string>
			<key>logo</key>
			<string>Azur</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_fbazur.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Nice</string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Bleu Béarn 102.5FM</string>
			<key>logo</key>
			<string>Bearn</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_fbbearn.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pau</string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Bleu Belfort-Montbéliard 106.8FM</string>
			<key>logo</key>
			<string>Belfort</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_fbbelfort.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Bleu Berry 95.2FM</string>
			<key>logo</key>
			<string>Berry</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_fbberry.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Châteauroux</string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Bleu Besançon 102.8FM</string>
			<key>logo</key>
			<string>Besancon</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_fbbesancon.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Bleu Bourgogne 98.3FM</string>
			<key>logo</key>
			<string>Bourgogne</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_fbbourgogne.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Dijon</string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Bleu Breizh Izel 98.6FM</string>
			<key>logo</key>
			<string>Breizh</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_fbbreizizel.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Quimper</string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Bleu Champagne-Ardenne 95.1FM</string>
			<key>logo</key>
			<string>Champagne</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_fbchampagne.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Reims</string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Bleu Cotentin </string>
			<key>logo</key>
			<string>Cotentin</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_fbcotentin.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Cherbourg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Bleu Creuse 94.3FM</string>
			<key>logo</key>
			<string>Creuse</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_fbcreuse.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Gueret</string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Bleu Drôme Ardèche 87.9FM</string>
			<key>logo</key>
			<string>Drome</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_fbdromeardeche.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Valence</string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Bleu Elsass</string>
			<key>logo</key>
			<string>Elsass</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_fbelsass.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Strasbourg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Bleu Gard Lozère 90.2FM</string>
			<key>logo</key>
			<string>Gard</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_fbgardlozere.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Nimes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Bleu Gascogne 98.8FM</string>
			<key>logo</key>
			<string>Gascogne</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_fbgascogne.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Mont de Marsan</string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Bleu Gironde 100.1FM</string>
			<key>logo</key>
			<string>Gironde</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_fbgironde.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Bordeaux</string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Bleu Hérault 100.6FM</string>
			<key>logo</key>
			<string>Herault</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_fbherault.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Montpellier</string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Bleu Isère 98.2FM</string>
			<key>logo</key>
			<string>Isere</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_fbisere.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Grenoble</string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Bleu La Rochelle 98.2FM</string>
			<key>logo</key>
			<string>Rochelle</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_fblarochelle.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>La Rochelle</string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Bleu Limousin 91.7FM</string>
			<key>logo</key>
			<string>Limousin</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_fblimousin.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Limoges</string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Bleu Loire Océan 101.8FM</string>
			<key>logo</key>
			<string>Loire</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_fbloireocean.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Nantes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Bleu Lorraine Nord 98.5FM</string>
			<key>logo</key>
			<string>Lorraine</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_fblorrainenord.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Metz</string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Bleu Maine 96.0FM</string>
			<key>logo</key>
			<string>Maine</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_fbmaine.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Le Mans</string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Bleu Mayenne 101.7FM</string>
			<key>logo</key>
			<string>Mayenne</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_fbmayenne.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Laval</string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Bleu Nord 94.7FM</string>
			<key>logo</key>
			<string>Nord</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_fbnord.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Lille</string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Bleu Normandie (Calvados – Orne) 102.6FM</string>
			<key>logo</key>
			<string>Normandie</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_fbbassenormandie.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Caen</string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Bleu Normandie (Seine-Maritime – Eure) 100.1FM</string>
			<key>logo</key>
			<string>Seine</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_fbhautenormandie.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Rouen Rouen</string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Bleu Occitanie 91.8FM</string>
			<key>logo</key>
			<string>Occitanie</string>
			<key>link</key>
			<string>https://www.francebleu.fr/toulouse</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Toulouse</string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Bleu Orléans 100.9FM</string>
			<key>logo</key>
			<string>Orleans</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_fborleans.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Orleans</string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Bleu Paris 107.1FM</string>
			<key>logo</key>
			<string>Paris</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_fbparis.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Paris</string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Bleu Pays d’Auvergne 102.5FM</string>
			<key>logo</key>
			<string>Pays</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_fbpaysdauvergne.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Clermont-Ferrand</string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Bleu Pays de Savoie 95.2FM</string>
			<key>logo</key>
			<string>Savoie</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_fbpaysdesavoie.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Chambery</string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Bleu Pays Basque 101.3FM</string>
			<key>logo</key>
			<string>Basque</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_fbpaysbasque.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Bayonne</string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Bleu Perigord 99.3FM</string>
			<key>logo</key>
			<string>Perigord</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_fbperigord.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Perigueux</string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Bleu Picardie 100.2FM</string>
			<key>logo</key>
			<string>Picardie</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_fbpicardie.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Amiens</string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Bleu Poitou 87.6FM</string>
			<key>logo</key>
			<string>Poitou</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_fbpoitou.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Poitiers</string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Bleu Provence 103.6FM</string>
			<key>logo</key>
			<string>Provence</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_fbprovence.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Aix En Provence</string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Bleu RCFM Frequenza Mora 101.7FM</string>
			<key>logo</key>
			<string>RCFM</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fbfrequenzamora.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Bastia</string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Bleu Roussillon 101.6FM</string>
			<key>logo</key>
			<string>Roussillon</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_fbroussillon.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Perpignan</string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Bleu Saint-Étienne-Loire 97.1FM</string>
			<key>logo</key>
			<string>Saint</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_fbstetienne.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Saint-Étienne</string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Bleu Sud Lorraine 100.5FM</string>
			<key>logo</key>
			<string>Sud</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_fbsudlorraine.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Nancy</string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Bleu Touraine 98.7FM</string>
			<key>logo</key>
			<string>Touraine</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_fbtouraine.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Tours</string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Bleu Vaucluse 98.8FM</string>
			<key>logo</key>
			<string>Vaucluse</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fr_fbvaucluse.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Avignon</string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
