<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1</string>
		<key>Back</key>
		<string>1</string>
		<key>Banner</key>
		<string>1</string>
		<key>Show1</key>
		<string>1</string>
		<key>Show2</key>
		<string>1</string>
		<key>Show3</key>
		<string>1</string>
		<key>Show4</key>
		<string>1</string>
		<key>Alarm</key>
		<string>1</string>
		<key>CustomBanner</key>
		<string>1</string>
		<key>CustomSplash</key>
		<string>1</string>
		<key>Header</key>
		<string>1</string>
		<key>Footer</key>
		<string>1</string>
		<key>Email</key>
		<string>1</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1</string>
		<key>Developer</key>
		<string>1</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>i99Radio</string>
			<key>logo</key>
			<string>i99Radio</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://66.85.88.18:5469/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://66.85.88.18:5469/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cult Radio A-Go-Go</string>
			<key>logo</key>
			<string>Cult</string>
			<key>link</key>
			<string>http://cdn.voscast.com/resources/?key=283ef72535f702ec1e01736689ee8390&amp;c=winamp</string>
			<key>http</key>
			<string>http://www.cultradioagogo.com/winamp.pls</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Horror And Halloween Radio</string>
			<key>logo</key>
			<string>Horror</string>
			<key>link</key>
			<string>http://cdn.voscast.com/resources/?key=46f246c4e8c29466f886a1eec12a74f8&amp;c=winamp</string>
			<key>http</key>
			<string>http://www.cultradioagogo.com/cragg.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>XL Gurbani</string>
			<key>logo</key>
			<string>XL</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://167.114.64.181:8554/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://167.114.64.181:8554/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Punjabi Radio USA</string>
			<key>logo</key>
			<string>Punjabi</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.178.123.5:7016/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.178.123.5:7016/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Love Radio USA</string>
			<key>logo</key>
			<string>Love</string>
			<key>link</key>
			<string>http://www.streamlicensing.com/directory/index.cgi/playlist.pls?action=playlist&amp;type=pls&amp;sid=4410&amp;stream_id=8338</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://184.95.47.178:9328/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Old Time Radio USA</string>
			<key>logo</key>
			<string>Time</string>
			<key>link</key>
			<string>http://198.105.216.204:2199/tunein/bslinker.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.105.216.204:8134/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Indianapolis</string>
		</dict>
		<dict>
			<key>name</key>
			<string>SUSPENSE Radio USA</string>
			<key>logo</key>
			<string>SUSPENSE</string>
			<key>link</key>
			<string>http://s4.reliastream.com:2199/tunein/bslink00.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://174.37.159.206:8230/listen.pls?sid=1&amp;t=.pls</string>
			<key>note</key>
			<string>Indianapolis</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Filipino USA</string>
			<key>logo</key>
			<string>Filipino</string>
			<key>link</key>
			<string>http://cdn.voscast.com/resources/?key=73a0e2faf082c4356d3fa708b4b12d8a&amp;c=winamp</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://162.252.85.85:9808/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Brazil Radio Orlando</string>
			<key>logo</key>
			<string>Brazil</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.99.34.205:8010/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.99.34.205:8010/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Pop</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Shanson</string>
			<key>logo</key>
			<string>Shanson</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.99.17.12:5949/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.99.17.12:5949/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Love Country USA </string>
			<key>logo</key>
			<string>Country</string>
			<key>link</key>
			<string>http://www.streamlicensing.com/directory/index.cgi/playlist.pls?action=playlist&amp;type=pls&amp;sid=4411&amp;stream_id=8341</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://184.95.47.178:9350/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Delicious Agony</string>
			<key>logo</key>
			<string>Agony</string>
			<key>link</key>
			<string>http://www.deliciousagony.com/lofi.pls</string>
			<key>http</key>
			<string>http://www.deliciousagony.com/listen.pls</string>
			<key>note</key>
			<string>Rock</string>
		</dict>
	</array>
</dict>
</plist>
