<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1</string>
		<key>Back</key>
		<string>1</string>
		<key>Banner</key>
		<string>2000816962</string>
		<key>Show1</key>
		<string>1</string>
		<key>Show2</key>
		<string>1</string>
		<key>Show3</key>
		<string>1</string>
		<key>Show4</key>
		<string>1</string>
		<key>Alarm</key>
		<string>1</string>
		<key>CustomBanner</key>
		<string>1</string>
		<key>CustomSplash</key>
		<string>1</string>
		<key>Header</key>
		<string>1</string>
		<key>Footer</key>
		<string>1</string>
		<key>Email</key>
		<string>1</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1</string>
		<key>Developer</key>
		<string>1</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>WDCN La Nueva 87.7 FM</string>
			<key>logo</key>
			<string>WDCN</string>
			<key>link</key>
			<string>http://stream.zenolive.com/4txu09svt5quv</string>
			<key>http</key>
			<string>http://173.193.205.96:7132/stream</string>
			<key>note</key>
			<string>Music (Washington, DC)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>WMUC College Park 88.1 FM</string>
			<key>logo</key>
			<string>WMUC</string>
			<key>link</key>
			<string>http://wmuc.umd.edu:8000/wmuc-hq.m3u</string>
			<key>http</key>
			<string>http://wmuc.umd.edu:8000/wmuc2-high</string>
			<key>note</key>
			<string>(College Park, MD)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>WAMU 88.5 FM</string>
			<key>logo</key>
			<string>WAMU</string>
			<key>link</key>
			<string>http://wamu-1.streamguys.com/wamu-1.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Youth (Washington, DC)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bluegrass Country</string>
			<key>logo</key>
			<string>Bluegrass</string>
			<key>link</key>
			<string>http://ice24.securenetsystems.net/WAMU.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Washington (DC)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>WPFW Pacifica 89.3 FM</string>
			<key>logo</key>
			<string>WPFW</string>
			<key>link</key>
			<string>http://wpfwfm.org:8000/wpfw_128.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk (Washington, DC)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>WPER 90.5 FM</string>
			<key>logo</key>
			<string>WPER</string>
			<key>link</key>
			<string>https://positivealtradio.streamguys1.com/wper</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music (Fredericksburg, VA)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>WCSP C-SPAN 90.1 FM</string>
			<key>logo</key>
			<string>WCSP</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/CSPANRADIO.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk (Washington, DC)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>WETA Classical 90.9 FM</string>
			<key>logo</key>
			<string>WETA</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/WETAFM.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music (Washington, DC)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Viva La Voce</string>
			<key>logo</key>
			<string>Viva</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/WETAVLV.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Washington (DC)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>WBJC Classical Music 91.5 FM</string>
			<key>logo</key>
			<string>WBJC</string>
			<key>link</key>
			<string>http://wbjc-ice.streamguys1.com/live.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music (Baltimore, MD)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>WGTS 91.9 FM</string>
			<key>logo</key>
			<string>WGTS</string>
			<key>link</key>
			<string>http://sc1.christiannetcast.com:9032/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Takoma Park, MD</string>
		</dict>
		<dict>
			<key>name</key>
			<string>WERQ QJams 92.3 FM</string>
			<key>logo</key>
			<string>WERQ</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/WERQFM.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>WINC 92.5 FM</string>
			<key>logo</key>
			<string>WINC</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/WINCFM.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music (Winchester, VA)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>WMMJ Majic 102.3 FM</string>
			<key>logo</key>
			<string>WMMJ</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/WMMJ.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Washington (DC)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>WTNT La Mega Capital 730 AM</string>
			<key>logo</key>
			<string>WTNT</string>
			<key>link</key>
			<string>http://vip.livecastnet.com:8000/capitalmega.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music (Washington, DC)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>WPOC Country 93.1 FM</string>
			<key>logo</key>
			<string>WPOC</string>
			<key>link</key>
			<string>http://stream.revma.ihrhls.com/zc1073.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music (Baltimore, MD)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>24/7 Comedy Legends</string>
			<key>logo</key>
			<string>Comedy</string>
			<key>link</key>
			<string>http://stream.revma.ihrhls.com/zc7202.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>WFLS Country 93.3 FM</string>
			<key>logo</key>
			<string>WFLS</string>
			<key>link</key>
			<string>http://live.wostreaming.net/direct/alphafredericksburg-wflsfmmp3-ibc1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music (Fredericksburg, VA)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>WKYS 93.9 Kiss FM</string>
			<key>logo</key>
			<string>WKYS</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/WKYSFM.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Washington (DC)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>WOL News Talk 1450 AM</string>
			<key>logo</key>
			<string>WOL</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/WOLAM.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk (Washington, DC)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>WCTN Auténtica 950 AM</string>
			<key>logo</key>
			<string>WCTN</string>
			<key>link</key>
			<string>https://streamingv2.shoutcast.com/wctn-950-am.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Washington (DC)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>WOWD Takoma 94.3 FM</string>
			<key>logo</key>
			<string>WOWD</string>
			<key>link</key>
			<string>http://99.198.118.250:8329/stream.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music (Takoma Park, MD)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>WIAD The Drive 94.7 FM</string>
			<key>logo</key>
			<string>WIAD</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/WIADFM.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music (Washington, DC)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Channel Q</string>
			<key>logo</key>
			<string>Q</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/KAMPHD2.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>WRBS Shine 95.1 FM</string>
			<key>logo</key>
			<string>WRBS</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/SHINEFM.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music (Baltimore, MD)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>WPGC 95.5 FM</string>
			<key>logo</key>
			<string>WPGC</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/WPGCFM.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Washington (DC)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>WPGC Area 95.5</string>
			<key>logo</key>
			<string>Area</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/WPGCHD2.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Washington (DC)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Connecting Vets</string>
			<key>logo</key>
			<string>Vets</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/WPGCHD3.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>WTEM The Team 980 AM</string>
			<key>logo</key>
			<string>WTEM</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/WTEMAM.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Sport (Washington, DC)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>FOX Sports</string>
			<key>logo</key>
			<string>Sports</string>
			<key>link</key>
			<string>http://stream.revma.ihrhls.com/zc4732.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>WHUR 96.3 FM</string>
			<key>logo</key>
			<string>WHUR</string>
			<key>link</key>
			<string>http://whur.streamon.fm/listen.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music (Washington, DC)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>WHUR World</string>
			<key>logo</key>
			<string>World</string>
			<key>link</key>
			<string>http://whurhd2.streamon.fm/listen.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music (Washington, DC)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>WHBC 96.3 FM</string>
			<key>logo</key>
			<string>WHBC</string>
			<key>link</key>
			<string>http://whurhd3.streamon.fm/listen.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Music (Washington, DC)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>WHUR 96.3 - DC Radio</string>
			<key>logo</key>
			<string>DC</string>
			<key>link</key>
			<string>http://whurhd4.streamon.fm/listen.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>WERA Arlington 96.7 FM</string>
			<key>logo</key>
			<string>WERA</string>
			<key>link</key>
			<string>http://wera.streamguys1.com/live-mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk (Arlington, VA)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>WQER 華語公共電台 馬里蘭州 96.7 FM</string>
			<key>logo</key>
			<string>WQER</string>
			<key>link</key>
			<string>http://shaincast.caster.fm:25531/listen.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk (Rockville, MD)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>97.1 WASH-FM</string>
			<key>logo</key>
			<string>WASH</string>
			<key>link</key>
			<string>http://stream.revma.ihrhls.com/zc2501.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cool Oldies</string>
			<key>logo</key>
			<string>Cool</string>
			<key>link</key>
			<string>http://stream.revma.ihrhls.com/zc4439.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Oldies Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>WKDV La Ley 1460 AM</string>
			<key>logo</key>
			<string>WKDV</string>
			<key>link</key>
			<string>http://centova1.creativos10.com:8046/listen.pls?sid=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk (Reston, VA)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>WIYY Rock 97.9 FM</string>
			<key>logo</key>
			<string>WIYY</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/WIYYFM.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music (Baltimore, MD)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>WMZQ 98.7 FM</string>
			<key>logo</key>
			<string>WMZQ</string>
			<key>link</key>
			<string>http://stream.revma.ihrhls.com/zc2513.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music (Washington, DC)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>i99Radio</string>
			<key>logo</key>
			<string>i99Radio</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://66.85.88.18:5469/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://66.85.88.18:5469/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cult Radio A-Go-Go</string>
			<key>logo</key>
			<string>Cult</string>
			<key>link</key>
			<string>http://cdn.voscast.com/resources/?key=283ef72535f702ec1e01736689ee8390&amp;c=winamp</string>
			<key>http</key>
			<string>http://www.cultradioagogo.com/winamp.pls</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Horror And Halloween Radio</string>
			<key>logo</key>
			<string>Horror</string>
			<key>link</key>
			<string>http://cdn.voscast.com/resources/?key=46f246c4e8c29466f886a1eec12a74f8&amp;c=winamp</string>
			<key>http</key>
			<string>http://www.cultradioagogo.com/cragg.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>XL Gurbani</string>
			<key>logo</key>
			<string>XL</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://167.114.64.181:8554/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://167.114.64.181:8554/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Punjabi Radio USA</string>
			<key>logo</key>
			<string>Punjabi</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.178.123.5:7016/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.178.123.5:7016/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Love Radio USA</string>
			<key>logo</key>
			<string>Love</string>
			<key>link</key>
			<string>http://www.streamlicensing.com/directory/index.cgi/playlist.pls?action=playlist&amp;type=pls&amp;sid=4410&amp;stream_id=8338</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://184.95.47.178:9328/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Old Time Radio USA</string>
			<key>logo</key>
			<string>Time</string>
			<key>link</key>
			<string>http://198.105.216.204:2199/tunein/bslinker.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.105.216.204:8134/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Indianapolis (IN)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>SUSPENSE Radio USA</string>
			<key>logo</key>
			<string>SUSPENSE</string>
			<key>link</key>
			<string>http://s4.reliastream.com:2199/tunein/bslink00.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://174.37.159.206:8230/listen.pls?sid=1&amp;t=.pls</string>
			<key>note</key>
			<string>Indianapolis (IN)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Filipino USA</string>
			<key>logo</key>
			<string>Filipino</string>
			<key>link</key>
			<string>http://cdn.voscast.com/resources/?key=73a0e2faf082c4356d3fa708b4b12d8a&amp;c=winamp</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://162.252.85.85:9808/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Brazil Radio Orlando</string>
			<key>logo</key>
			<string>Brazil</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.99.34.205:8010/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.99.34.205:8010/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Shanson</string>
			<key>logo</key>
			<string>Shanson</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.99.17.12:5949/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.99.17.12:5949/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Love Country USA </string>
			<key>logo</key>
			<string>Country</string>
			<key>link</key>
			<string>http://www.streamlicensing.com/directory/index.cgi/playlist.pls?action=playlist&amp;type=pls&amp;sid=4411&amp;stream_id=8341</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://184.95.47.178:9350/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Delicious Agony</string>
			<key>logo</key>
			<string>Agony</string>
			<key>link</key>
			<string>http://www.deliciousagony.com/lofi.pls</string>
			<key>http</key>
			<string>http://www.deliciousagony.com/listen.pls</string>
			<key>note</key>
			<string>Music</string>
		</dict>
	</array>
</dict>
</plist>
