<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string></string>
		<key>Main</key>
		<string></string>
		<key>Back</key>
		<string></string>
		<key>Banner</key>
		<string></string>
		<key>Show1</key>
		<string></string>
		<key>Show2</key>
		<string></string>
		<key>Show3</key>
		<string></string>
		<key>Show4</key>
		<string></string>
		<key>Alarm</key>
		<string></string>
		<key>CustomBanner</key>
		<string></string>
		<key>CustomSplash</key>
		<string></string>
		<key>Header</key>
		<string></string>
		<key>Footer</key>
		<string></string>
		<key>Email</key>
		<string>ios.apps.community@gmail.com</string>
		<key>Alternative</key>
		<string></string>
		<key>Application</key>
		<string></string>
		<key>Developer</key>
		<string></string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Menu</key>
	<array>
		<string>Top</string>
		<string>News</string>
		<string>Local</string>
		<string>Classic</string>
		<string>Music</string>
		<string>Sport</string>
		<string>Talk</string>
		<string>Youth</string>
		<string>Oldies</string>
	</array>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Africa Radio</string>
			<key>logo</key>
			<string>Afric</string>
			<key>link</key>
			<string>http://statslive.infomaniak.ch/playlist/african1paris/african1paris-128.mp3/playlist.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Akaboozi 87.9 FM Kampala</string>
			<key>logo</key>
			<string>Akaboozi</string>
			<key>link</key>
			<string>https://www.radiouganda.net/kaboozi.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/akaboozi-87-9-fm-kampala,16603.m3u</string>
			<key>note</key>
			<string>News, Talk (Buganda, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC Idhaa ya Kiswahili</string>
			<key>logo</key>
			<string>Idhaa</string>
			<key>link</key>
			<string>http://bbcwssc.ic.llnwd.net/stream/bbcwssc_mp1_ws-swaha_backup.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC World Service</string>
			<key>logo</key>
			<string>BBC</string>
			<key>link</key>
			<string>http://www.bbc.co.uk/worldservice/meta/live/mp3/eneuk.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Beat 96.3 FM</string>
			<key>logo</key>
			<string>Beat</string>
			<key>link</key>
			<string>http://144.217.203.226:8354/live.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bob FM 92.7</string>
			<key>logo</key>
			<string>Bob</string>
			<key>link</key>
			<string>http://216.104.207.60:88//broadwave.m3u?src=1&amp;rate=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Buddu</string>
			<key>logo</key>
			<string>Buddu</string>
			<key>link</key>
			<string>http://66.55.145.43:7344/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Capital FM 91.3</string>
			<key>logo</key>
			<string>Capital</string>
			<key>link</key>
			<string>https://www.radiouganda.net/capital.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/91-3-capital-fm,18857.m3u</string>
			<key>note</key>
			<string>Top</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CBS Buganda 88.8</string>
			<key>logo</key>
			<string>CBS</string>
			<key>link</key>
			<string>http://streamer.radiouganda.net:8000/cbs888.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/88-8-cbs-fm-buganda,15008.m3u</string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CBS Buganda 89.2</string>
			<key>logo</key>
			<string>Buganda</string>
			<key>link</key>
			<string>http://streamer.radiouganda.net:8000/cbs892.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/89-2-cbs-radio-buganda,15007.m3u</string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>City 97.0 FM</string>
			<key>logo</key>
			<string>City</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radiocity-97-0-fm,17904.m3u</string>
			<key>http</key>
			<string>http://185.5.55.194:8050/listen.pls?sid=1</string>
			<key>note</key>
			<string>News, Talk, Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Connect Uganda Radio</string>
			<key>logo</key>
			<string>Connect</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/connect-uganda-radio,15011.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Elgon FM 101.4</string>
			<key>logo</key>
			<string>Elgon</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/elgon-fm-101-4,20285.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Mbale (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Digida 106.5 FM</string>
			<key>logo</key>
			<string>Digida</string>
			<key>link</key>
			<string>http://66.55.145.43:7383/arabellavie.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Galaxy FM 100.2</string>
			<key>logo</key>
			<string>Galaxy</string>
			<key>link</key>
			<string>http://192.184.9.158:8638/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/100-2-galaxy-fm,17856.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>HOT100 Kampala</string>
			<key>logo</key>
			<string>HOT100</string>
			<key>link</key>
			<string>http://5.189.157.59:8000/stream.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/hot100-kampala,19354.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Impact Radio 98.5 FM</string>
			<key>logo</key>
			<string>Impact</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/impact-radio-98-5-fm,11223.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>KDR 100.3 FM</string>
			<key>logo</key>
			<string>KDR</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/kdr-100-3-fm,20496.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Kibaale (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>KFM Kampala 93.3</string>
			<key>logo</key>
			<string>KFM</string>
			<key>link</key>
			<string>http://41.221.93.134:8000/stream.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/93-3-kfm-kampala,17524.m3u</string>
			<key>note</key>
			<string>Top Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Maria</string>
			<key>logo</key>
			<string>Maria</string>
			<key>link</key>
			<string>http://dreamsiteradiocp.com:8052/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-maria,11225.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>MCF 98.7 FM</string>
			<key>logo</key>
			<string>MCF</string>
			<key>link</key>
			<string>http://shaincast.caster.fm:34777/listen.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Metro FM 90.8</string>
			<key>logo</key>
			<string>Metro</string>
			<key>link</key>
			<string>http://66.55.145.43:7757/listen.pls?sid=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Next Radio</string>
			<key>logo</key>
			<string>Next</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/nxt-radio,20255.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>One 90.0 FM</string>
			<key>logo</key>
			<string>One</string>
			<key>link</key>
			<string>http://rselvis.serverroom.net:5116/listen.pls?sid=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pearl FM 107.9</string>
			<key>logo</key>
			<string>Pearl</string>
			<key>link</key>
			<string>http://66.55.145.43:7404/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/107-9-pearl-fm-pearl-of-africa,19041.m3u</string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>POWER FM 104.1 Kampala</string>
			<key>logo</key>
			<string>POWER</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/power-fm-104-1-kampala,19137.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Prime 91.9 FM</string>
			<key>logo</key>
			<string>Prime</string>
			<key>link</key>
			<string>http://cast5.servcast.net:8266/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>RFI Afrique</string>
			<key>logo</key>
			<string>Afrique</string>
			<key>link</key>
			<string>http://icepe1.infomaniak.ch/rfiafrique-96k.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RFI English</string>
			<key>logo</key>
			<string>RFI</string>
			<key>link</key>
			<string>http://icepe1.infomaniak.ch/rfianglais-96k.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RFI Kiswahili</string>
			<key>logo</key>
			<string>Kiswahili</string>
			<key>link</key>
			<string>http://icepe1.infomaniak.ch/rfiswahili-96k.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>SALT FM 107.0</string>
			<key>logo</key>
			<string>SALT</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/107-0-salt-fm,18859.m3u</string>
			<key>http</key>
			<string>http://uk6.internet-radio.com:8358/stream</string>
			<key>note</key>
			<string>News, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sanyu FM 88.2</string>
			<key>logo</key>
			<string>Sanyu</string>
			<key>link</key>
			<string>http://s44.myradiostream.com:8138/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sapientia</string>
			<key>logo</key>
			<string>Sapientia</string>
			<key>link</key>
			<string>http://streamer.radiouganda.net:8000/sapientia.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-sapientia,15006.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Simba 97.3 FM</string>
			<key>logo</key>
			<string>Simba</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-simba-kampala,19355.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/simba-fm,13214.m3u</string>
			<key>note</key>
			<string>News, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Spirit FM 96.6</string>
			<key>logo</key>
			<string>Spirit</string>
			<key>link</key>
			<string>http://216.104.207.60:89/broadwave.m3u?src=1&amp;rate=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Uganda Boston</string>
			<key>logo</key>
			<string>Boston</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-uganda-boston,15012.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>VOA Afrique</string>
			<key>logo</key>
			<string>VOA</string>
			<key>link</key>
			<string>http://stream.radiojar.com/yuqn4nngq3quv</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
	</array>
</dict>
</plist>
