<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>i24NEWS in English</string>
		<key>logo</key>
		<string>i24NEWS1</string>
		<key>link</key>
		<string>http://www.i24news.tv/en/tv/live</string>
		<key>http</key>
		<string>http://www.i24news.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>i24NEWS in French</string>
		<key>logo</key>
		<string>i24NEWS2</string>
		<key>link</key>
		<string>http://www.i24news.tv/fr/tv/live</string>
		<key>http</key>
		<string>http://www.i24news.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>i24NEWS in Arabic</string>
		<key>logo</key>
		<string>i24NEWS3</string>
		<key>link</key>
		<string>http://www.i24news.tv/ar/tv/live</string>
		<key>http</key>
		<string>http://www.i24news.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Channel 10 ערוץ עשר</string>
		<key>logo</key>
		<string>10</string>
		<key>link</key>
		<string>http://10tv.nana10.co.il/</string>
		<key>http</key>
		<string>http://10tv.nana10.co.il/Article/?ArticleID=1055909</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Channel 20 ערוץ</string>
		<key>logo</key>
		<string>20</string>
		<key>link</key>
		<string>http://www.20il.co.il/vod/</string>
		<key>http</key>
		<string>http://www.20il.co.il</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Knesset Кнессета</string>
		<key>logo</key>
		<string>Knesset</string>
		<key>link</key>
		<string>http://main.knesset.gov.il/News/Broadcast/Pages/Channel99.aspx</string>
		<key>http</key>
		<string>http://main.knesset.gov.il</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hidabroot הידברות</string>
		<key>logo</key>
		<string>Hidabroot</string>
		<key>link</key>
		<string>https://www.hidabroot.org/live</string>
		<key>http</key>
		<string>https://www.hidabroot.org</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kabbalah in Hebrew</string>
		<key>logo</key>
		<string>Kabbalah1</string>
		<key>link</key>
		<string>http://www.kab.tv/heb#/stream</string>
		<key>http</key>
		<string>http://www.kab.tv/eng#/playlist</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kabbalah Русский</string>
		<key>logo</key>
		<string>Kabbalah2</string>
		<key>link</key>
		<string>http://www.kab.tv/rus#/stream</string>
		<key>http</key>
		<string>http://www.kab.tv/eng#/playlist</string>
	</dict>
</array>
</plist>
