<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Qatar Television تلفزيون قطر</string>
		<key>logo</key>
		<string>Qatar</string>
		<key>link</key>
		<string>http://www.qtv.qa/Live</string>
		<key>http</key>
		<string>http://www.qtv.qa</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Qatar Television 2 تلفزيون قطر</string>
		<key>logo</key>
		<string>2</string>
		<key>link</key>
		<string>http://www.qtv.qa/QtvTwoLive</string>
		<key>http</key>
		<string>http://www.qtv.qa</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Al Rayyan قناة الريان</string>
		<key>logo</key>
		<string>Rayyan</string>
		<key>link</key>
		<string>https://www.alrayyan.tv/live2/</string>
		<key>http</key>
		<string>https://www.alrayyan.tv/live/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>AL KASS ONE</string>
		<key>logo</key>
		<string>ALKASS1</string>
		<key>link</key>
		<string>http://www.alkass.net/alkass/live.aspx?ch=one</string>
		<key>http</key>
		<string>http://www.alkass.net/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>AL KASS TWO</string>
		<key>logo</key>
		<string>ALKASS2</string>
		<key>link</key>
		<string>http://www.alkass.net/alkass/live.aspx?ch=two</string>
		<key>http</key>
		<string>http://www.alkass.net/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>AL KASS FOUR</string>
		<key>logo</key>
		<string>ALKASS4</string>
		<key>link</key>
		<string>http://www.alkass.net/alkass/live.aspx?ch=four</string>
		<key>http</key>
		<string>http://www.alkass.net/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>AL KASS FIVE</string>
		<key>logo</key>
		<string>ALKASS5</string>
		<key>link</key>
		<string>http://www.alkass.net/alkass/live.aspx?ch=five</string>
		<key>http</key>
		<string>http://www.alkass.net/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>AL KASS ONLINE</string>
		<key>logo</key>
		<string>ALKASS3</string>
		<key>link</key>
		<string>http://www.alkass.net/alkass/live.aspx?ch=online</string>
		<key>http</key>
		<string>http://www.alkass.net/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Libya Al-Ahrar قناة ليبيا لكل الأحرار</string>
		<key>logo</key>
		<string>Ahrar</string>
		<key>link</key>
		<string>https://libyaalahrar.tv/live/</string>
		<key>http</key>
		<string>https://libyaalahrar.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Al Rasoul قناة الرسول</string>
		<key>logo</key>
		<string>Rasoul</string>
		<key>link</key>
		<string>http://www.alresoul.net/live.php</string>
		<key>http</key>
		<string>http://www.alresoul.net</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Al Arabiya (قناة العربية‎)</string>
		<key>logo</key>
		<string>Arabiya</string>
		<key>link</key>
		<string>https://www.alarabiya.net/live-stream.html?cref=navdesk</string>
		<key>http</key>
		<string>https://www.youtube.com/user/AlArabiya/videos?live_view=501&amp;flow=grid&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>قناة الحدث Al Hadath</string>
		<key>logo</key>
		<string>Hadath</string>
		<key>link</key>
		<string>http://www.alhadath.net/live-stream.html?cref=navdesk</string>
		<key>http</key>
		<string>https://www.youtube.com/channel/UCrj5BGAhtWxDfqbza9T9hqA/videos?live_view=501&amp;flow=grid&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CNBC Arabia (سي إن بي سي عربية)</string>
		<key>logo</key>
		<string>CNBC</string>
		<key>link</key>
		<string>https://www.cnbcarabia.com/Pages/live</string>
		<key>http</key>
		<string>https://www.cnbcarabia.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>BBC Arabic (بي بي سي عربي)</string>
		<key>logo</key>
		<string>BBC</string>
		<key>link</key>
		<string>http://www.bbc.com/arabic/tvandradio/2013/05/000000_bbcarabic_livetv</string>
		<key>http</key>
		<string>https://www.youtube.com/user/BBCArabicNews/videos?flow=grid&amp;live_view=501&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>التلفزيون العربي Alaraby    </string>
		<key>logo</key>
		<string>Alaraby</string>
		<key>link</key>
		<string>http://alaraby.tv/live/61/alaraby</string>
		<key>http</key>
		<string>http://alaraby.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>euronews عــربي</string>
		<key>logo</key>
		<string>euronews</string>
		<key>link</key>
		<string>http://arabic.euronews.com/live</string>
		<key>http</key>
		<string>http://arabic.euronews.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>فرانس 24 (FRANCE 24 Arabic)</string>
		<key>logo</key>
		<string>FRANCE</string>
		<key>link</key>
		<string>http://www.france24.com/ar/</string>
		<key>http</key>
		<string>https://www.youtube.com/user/france24arabic/videos?flow=grid&amp;view=2&amp;live_view=501</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Al Mayadeen (قناة الميادين)</string>
		<key>logo</key>
		<string>Mayadeen</string>
		<key>link</key>
		<string>http://www.almayadeen.net/live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/Mayadeentv/videos?view=2&amp;live_view=501&amp;flow=grid</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Almagharibia المغاربية‎</string>
		<key>logo</key>
		<string>Almagharibia</string>
		<key>link</key>
		<string>https://almagharibia.tv/</string>
		<key>http</key>
		<string>https://almagharibia.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Alhurra الحرة</string>
		<key>logo</key>
		<string>Alhurra</string>
		<key>link</key>
		<string>https://www.alhurra.com/embed/player/tube/4.html</string>
		<key>http</key>
		<string>https://www.alhurra.com/embed/player/tube/5.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RT Arabic</string>
		<key>logo</key>
		<string>RT</string>
		<key>link</key>
		<string>https://arabic.rt.com/live/</string>
		<key>http</key>
		<string>https://www.youtube.com/user/RTarabic/videos?view=2&amp;live_view=501&amp;flow=grid</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CGTN Arabic سي جي تي أن العربية‎‎</string>
		<key>logo</key>
		<string>CGTN</string>
		<key>link</key>
		<string>https://www.cgtn.com/channel/ar.do</string>
		<key>http</key>
		<string>https://www.cgtn.com</string>
	</dict>
</array>
</plist>
