<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Application</key>
	<string>1</string>
	<key>Developer</key>
	<string>1</string>
	<key>Email</key>
	<string>world.app.community@gmail.com</string>
	<key>ID</key>
	<string>3940256099942544</string>
	<key>Banner</key>
	<string>2934735716</string>
	<key>Main</key>
	<string>LitvaTV</string>
	<key>Back</key>
	<string>LitvaTV</string>
	<key>Switch</key>
	<string>LitvaTV</string>
	<key>Top</key>
	<string>LitvaTV</string>
	<key>Bottom</key>
	<string>LitvaTV</string>
	<key>Header</key>
	<string>LitvaTV</string>
	<key>Footer</key>
	<string>LitvaTV</string>
	<key>Delay</key>
	<string>2</string>
	<key>Minutes</key>
	<string>4</string>
</dict>
</plist>
