<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Astro Awani</string>
		<key>logo</key>
		<string>Awani</string>
		<key>link</key>
		<string>http://www.astroawani.com/live-tv</string>
		<key>http</key>
		<string>http://www.astroawani.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bernama</string>
		<key>logo</key>
		<string>Bernama</string>
		<key>link</key>
		<string>http://webtv.bernama.com/v2/</string>
		<key>http</key>
		<string>http://webtv.bernama.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Malaysia 1News</string>
		<key>logo</key>
		<string>News</string>
		<key>link</key>
		<string>http://www.malaysia1news.my/</string>
		<key>http</key>
		<string>http://www.malaysia1news.my/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TV1</string>
		<key>logo</key>
		<string>TV1</string>
		<key>link</key>
		<string>http://myklik.rtm.gov.my/live/10149</string>
		<key>http</key>
		<string>http://tv1.rtm.gov.my/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TV2</string>
		<key>logo</key>
		<string>TV2</string>
		<key>link</key>
		<string>http://myklik.rtm.gov.my/live/10148</string>
		<key>http</key>
		<string>http://tv2.rtm.gov.my/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TVi</string>
		<key>logo</key>
		<string>TVi</string>
		<key>link</key>
		<string>http://myklik.rtm.gov.my/live/10150</string>
		<key>http</key>
		<string>http://tvi.rtm.gov.my/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Galaksi Muzik</string>
		<key>logo</key>
		<string>Galaksi</string>
		<key>link</key>
		<string>http://galaksimuzik.rtm.gov.my/indexMA.html</string>
		<key>http</key>
		<string>http://galaksimuzik.rtm.gov.my/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RTM Parlimen</string>
		<key>logo</key>
		<string>Parlimen</string>
		<key>link</key>
		<string>http://rtmparlimen.rtm.gov.my/</string>
		<key>http</key>
		<string>http://rtmparlimen.rtm.gov.my/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Aksi Sukan</string>
		<key>logo</key>
		<string>Sukan</string>
		<key>link</key>
		<string>http://aksisukan.rtm.gov.my/</string>
		<key>http</key>
		<string>http://aksisukan.rtm.gov.my/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Selangor</string>
		<key>logo</key>
		<string>Selangor</string>
		<key>link</key>
		<string>https://selangortv.my/live-stream-tvs/</string>
		<key>http</key>
		<string>https://selangortv.my</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MobTV</string>
		<key>logo</key>
		<string>MobTV</string>
		<key>link</key>
		<string>http://www.mobtvlive.my/</string>
		<key>http</key>
		<string>http://www.mobtvlive.my/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mara</string>
		<key>logo</key>
		<string>Mara</string>
		<key>link</key>
		<string>http://maratv.my/web/</string>
		<key>http</key>
		<string>http://maratv.my</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Alhijrah</string>
		<key>logo</key>
		<string>Alhijrah</string>
		<key>link</key>
		<string>http://alhijrahmedia.com/tv-alhijrah-live-streaming/</string>
		<key>http</key>
		<string>https://alhijrahmedia.com/category/live-streaming/livemakkahtv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Go Shop Malay</string>
		<key>logo</key>
		<string>Malay</string>
		<key>link</key>
		<string>http://www.goshop.com.my/biz/shp/tvshopping/shpTvOnAirSel.do?chnlId=10221</string>
		<key>http</key>
		<string>http://www.goshop.com.my</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Go Shop Chinese</string>
		<key>logo</key>
		<string>Chinese</string>
		<key>link</key>
		<string>http://www.goshop.com.my/biz/shp/tvshopping/shpTvOnAirSel.do?chnlId=10361</string>
		<key>http</key>
		<string>http://www.goshop.com.my</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bloomberg Asia</string>
		<key>logo</key>
		<string>bloomberg</string>
		<key>link</key>
		<string>https://www.bloomberg.com/live/asia</string>
		<key>http</key>
		<string>https://www.bloomberg.com/live/asia_stream</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Media Prima Berhad TV3/ntv7/8TV/TV9/TONTON</string>
		<key>logo</key>
		<string>TV3</string>
		<key>link</key>
		<string>https://www.xtra.com.my/ms/livetv</string>
		<key>http</key>
		<string>https://www.xtra.com.my/en/livetv</string>
	</dict>
</array>
</plist>
