<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>3473094006</string>
		<key>Back</key>
		<string>7959133925</string>
		<key>Banner</key>
		<string>5403578187</string>
		<key>Show1</key>
		<string>REMOVED</string>
		<key>Show2</key>
		<string>REMOVED</string>
		<key>Show3</key>
		<string>REMOVED</string>
		<key>Show4</key>
		<string>REMOVED</string>
		<key>Alarm</key>
		<string>6562291776</string>
		<key>CustomBanner</key>
		<string>1118393407</string>
		<key>CustomSplash</key>
		<string>3735273295</string>
		<key>Header</key>
		<string>3169841676</string>
		<key>Footer</key>
		<string>1803368230</string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1446541304</string>
		<key>Developer</key>
		<string>1239592099</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Radio Crne Gore</string>
			<key>logo</key>
			<string>Crne</string>
			<key>link</key>
			<string>http://radio.beotel.net:8008/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News/Features/Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>R98</string>
			<key>logo</key>
			<string>R98</string>
			<key>link</key>
			<string>http://radio.beotel.net:8010/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Youth</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Antena M</string>
			<key>logo</key>
			<string>M</string>
			<key>link</key>
			<string>http://radioservis.me:8010/antenamlive</string>
			<key>http</key>
			<string>http://radioservis.me:8010/antenamlive.m3u</string>
			<key>note</key>
			<string>Pop Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Atlas Radio</string>
			<key>logo</key>
			<string>Atlas</string>
			<key>link</key>
			<string>http://www.rtvatlas.tv:9090/stream.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>F Radio</string>
			<key>logo</key>
			<string>F</string>
			<key>link</key>
			<string>http://fradio.fm:9010/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music (Bar, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Jupok Radio</string>
			<key>logo</key>
			<string>Jupok</string>
			<key>link</key>
			<string>http://176.9.59.144:8062/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Rožaje (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio083</string>
			<key>logo</key>
			<string>Radio083</string>
			<key>link</key>
			<string>http://46.4.76.142:2083/listen.pls?sid=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Nikšić (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Bar</string>
			<key>logo</key>
			<string>Bar</string>
			<key>link</key>
			<string>http://85.25.150.27:9000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Berane</string>
			<key>logo</key>
			<string>Berane</string>
			<key>link</key>
			<string>http://adriastream.net/cast/tunein.php/radioberane/playlist.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Bijelo Polje</string>
			<key>logo</key>
			<string>Bijelo</string>
			<key>link</key>
			<string>http://46.105.43.31:8122/stream</string>
			<key>http</key>
			<string>http://79.142.73.139:2055/listen.pls</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Corona</string>
			<key>logo</key>
			<string>Corona</string>
			<key>link</key>
			<string>http://213.136.72.86:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music (Bar, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio D</string>
			<key>logo</key>
			<string>D</string>
			<key>link</key>
			<string>http://128.127.108.4:2036/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio D Plus</string>
			<key>logo</key>
			<string>Plus</string>
			<key>link</key>
			<string>http://128.127.108.4:2033/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Delfin</string>
			<key>logo</key>
			<string>Delfin</string>
			<key>link</key>
			<string>http://46.4.76.142:2121/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Dux</string>
			<key>logo</key>
			<string>Dux</string>
			<key>link</key>
			<string>http://www.radiodux.me:8000/radiodux.m3u</string>
			<key>http</key>
			<string>http://s1.iqstreaming.com/tunein.php/radiodux/playlist.pls</string>
			<key>note</key>
			<string>Tivat (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Elmag</string>
			<key>logo</key>
			<string>Elmag</string>
			<key>link</key>
			<string>http://www.simplexstream.com/tunein.php/elmagrad/playlist.pls</string>
			<key>http</key>
			<string>http://5.152.208.98:8000/listen.pls</string>
			<key>note</key>
			<string>Pop Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Gusinje</string>
			<key>logo</key>
			<string>Gusinje</string>
			<key>link</key>
			<string>http://radio-gusinje.com:8100/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Herceg Novi</string>
			<key>logo</key>
			<string>Herceg</string>
			<key>link</key>
			<string>http://cdn.voscast.com/resources/?key=22f22f6b3fdb42a29bdc02140bfd5a49&amp;c=winamp</string>
			<key>http</key>
			<string>http://radiohn.dlinkddns.com:8000/streaming.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Homer</string>
			<key>logo</key>
			<string>Homer</string>
			<key>link</key>
			<string>http://178.77.101.181:8030/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Jadran</string>
			<key>logo</key>
			<string>Jadran</string>
			<key>link</key>
			<string>http://38.86.49.4:7110/listen.pls?sid=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Herceg Novi (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Kotor</string>
			<key>logo</key>
			<string>Kotor</string>
			<key>link</key>
			<string>http://79.142.73.139:2120/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Petnjica</string>
			<key>logo</key>
			<string>Petnjica</string>
			<key>link</key>
			<string>http://85.25.148.78:8000/radiopetnjica.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Радио Светигора</string>
			<key>logo</key>
			<string>Svetigora</string>
			<key>link</key>
			<string>http://www.svetigoralive.com:8879/listen.pls?sid=1</string>
			<key>http</key>
			<string>http://svetigoralive.com:8879/listen.pls</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Tivat</string>
			<key>logo</key>
			<string>Tivat</string>
			<key>link</key>
			<string>http://radiotivat.com/livestream/playlist.pls</string>
			<key>http</key>
			<string>http://95.211.166.127:8006/listen.pls</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Skala Radio</string>
			<key>logo</key>
			<string>Skala</string>
			<key>link</key>
			<string>http://178.238.236.240:8004/listen.pls</string>
			<key>http</key>
			<string>http://mediadots.primcast.com:8176/listen.pls</string>
			<key>note</key>
			<string>Kotor (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Star FM</string>
			<key>logo</key>
			<string>StarFM</string>
			<key>link</key>
			<string>http://178.32.62.154:9010/listen.pls?sid=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop/Rock Music (Cetinje, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Studentski Radio KRŠ</string>
			<key>logo</key>
			<string>Studentski</string>
			<key>link</key>
			<string>http://radioservis.me:8030/live?type=.mp3</string>
			<key>http</key>
			<string>http://radioservis.me:8030/live.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>TDI Radio</string>
			<key>logo</key>
			<string>TDI</string>
			<key>link</key>
			<string>http://streaming.tdiradio.com:8000/crnagora.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
