<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>الاولى - KTV 1</string>
		<key>logo</key>
		<string>KTV1</string>
		<key>link</key>
		<string>http://www.media.gov.kw/LiveTV1.aspx?PanChannel=KTV1</string>
		<key>http</key>
		<string>http://www.media.gov.kw/LiveTV1.aspx</string>
	</dict>
	<dict>
		<key>name</key>
		<string>الثانية - KTV 2</string>
		<key>logo</key>
		<string>KTV2</string>
		<key>link</key>
		<string>http://www.media.gov.kw/LiveTV1.aspx?PanChannel=KTV2</string>
		<key>http</key>
		<string>http://www.media.gov.kw</string>
	</dict>
	<dict>
		<key>name</key>
		<string>الثالثة الرياضية - KTV Sport</string>
		<key>logo</key>
		<string>KTV3</string>
		<key>link</key>
		<string>http://www.media.gov.kw/LiveTV1.aspx?PanChannel=KTVSports</string>
		<key>http</key>
		<string>http://www.media.gov.kw</string>
	</dict>
	<dict>
		<key>name</key>
		<string>بلس الرياضية - KTV Sport Plus</string>
		<key>logo</key>
		<string>KTV5</string>
		<key>link</key>
		<string>http://www.media.gov.kw/LiveTV1.aspx?PanChannel=KTVSportPlus</string>
		<key>http</key>
		<string>http://www.media.gov.kw</string>
	</dict>
	<dict>
		<key>name</key>
		<string>اثراء - KTV Ethraa</string>
		<key>logo</key>
		<string>KTV4</string>
		<key>link</key>
		<string>http://www.media.gov.kw/LiveTV1.aspx?PanChannel=KTVEthraa</string>
		<key>http</key>
		<string>http://www.media.gov.kw</string>
	</dict>
	<dict>
		<key>name</key>
		<string>العربي - KTV Arabe</string>
		<key>logo</key>
		<string>KTV6</string>
		<key>link</key>
		<string>http://www.media.gov.kw/LiveTV1.aspx?PanChannel=KTVArabe</string>
		<key>http</key>
		<string>http://www.media.gov.kw</string>
	</dict>
	<dict>
		<key>name</key>
		<string>القرين - Al Qurain</string>
		<key>logo</key>
		<string>KTV7</string>
		<key>link</key>
		<string>http://www.media.gov.kw/LiveTV1.aspx?PanChannel=KTVPlus</string>
		<key>http</key>
		<string>http://www.media.gov.kw</string>
	</dict>
	<dict>
		<key>name</key>
		<string>المجلس - KTV Al Majlis</string>
		<key>logo</key>
		<string>KTV8</string>
		<key>link</key>
		<string>http://www.media.gov.kw/LiveTV1.aspx?PanChannel=KTVSportExtra</string>
		<key>http</key>
		<string>http://www.media.gov.kw</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Al Rai الراي</string>
		<key>logo</key>
		<string>Rai</string>
		<key>link</key>
		<string>https://www.alraimedia.com/TV/ar/Home/Live</string>
		<key>http</key>
		<string>https://www.alraimedia.com/TV</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Al Shahed تلفزيون الشاهد</string>
		<key>logo</key>
		<string>Shahed</string>
		<key>link</key>
		<string>http://alshahed.tv/%D8%A7%D9%84%D8%A8%D8%AB-%D8%A7%D9%84%D9%85%D8%A8%D8%A7%D8%B4%D8%B1</string>
		<key>http</key>
		<string>http://alshahed.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Marina</string>
		<key>logo</key>
		<string>Marina</string>
		<key>link</key>
		<string>https://www.youtube.com/user/alinajimfans/videos?shelf_id=0&amp;live_view=501&amp;sort=dd&amp;view=2</string>
		<key>http</key>
		<string>http://www.marinafm.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Al Arabiya العربية‎</string>
		<key>logo</key>
		<string>Arabiya</string>
		<key>link</key>
		<string>https://www.alarabiya.net/live-stream.html?cref=navdesk</string>
		<key>http</key>
		<string>https://www.youtube.com/user/AlArabiya/videos?live_view=501&amp;flow=grid&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>الحدث Al Hadath</string>
		<key>logo</key>
		<string>Hadath</string>
		<key>link</key>
		<string>http://www.alhadath.net/live-stream.html?cref=navdesk</string>
		<key>http</key>
		<string>https://www.youtube.com/channel/UCrj5BGAhtWxDfqbza9T9hqA/videos?live_view=501&amp;flow=grid&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CNBC Arabia (سي إن بي سي عربية)</string>
		<key>logo</key>
		<string>CNBC</string>
		<key>link</key>
		<string>https://www.cnbcarabia.com/Pages/live</string>
		<key>http</key>
		<string>https://www.cnbcarabia.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>BBC Arabic (بي بي سي عربي)</string>
		<key>logo</key>
		<string>BBC</string>
		<key>link</key>
		<string>http://www.bbc.com/arabic/tvandradio/2013/05/000000_bbcarabic_livetv</string>
		<key>http</key>
		<string>https://www.youtube.com/user/BBCArabicNews/videos?flow=grid&amp;live_view=501&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>التلفزيون العربي Alaraby    </string>
		<key>logo</key>
		<string>Alaraby</string>
		<key>link</key>
		<string>http://alaraby.tv/live/61/alaraby</string>
		<key>http</key>
		<string>http://alaraby.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>euronews عــربي</string>
		<key>logo</key>
		<string>euronews</string>
		<key>link</key>
		<string>http://arabic.euronews.com/live</string>
		<key>http</key>
		<string>http://arabic.euronews.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>فرانس 24 (FRANCE 24 Arabic)</string>
		<key>logo</key>
		<string>FRANCE</string>
		<key>link</key>
		<string>http://www.france24.com/ar/</string>
		<key>http</key>
		<string>https://www.youtube.com/user/france24arabic/videos?flow=grid&amp;view=2&amp;live_view=501</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Al Mayadeen (قناة الميادين)</string>
		<key>logo</key>
		<string>Mayadeen</string>
		<key>link</key>
		<string>http://www.almayadeen.net/live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/Mayadeentv/videos?view=2&amp;live_view=501&amp;flow=grid</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Almagharibia المغاربية‎</string>
		<key>logo</key>
		<string>Almagharibia</string>
		<key>link</key>
		<string>https://almagharibia.tv/</string>
		<key>http</key>
		<string>https://almagharibia.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Alhurra الحرة</string>
		<key>logo</key>
		<string>Alhurra</string>
		<key>link</key>
		<string>https://www.alhurra.com/embed/player/tube/4.html</string>
		<key>http</key>
		<string>https://www.alhurra.com/embed/player/tube/5.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RT Arabic</string>
		<key>logo</key>
		<string>RT</string>
		<key>link</key>
		<string>https://arabic.rt.com/live/</string>
		<key>http</key>
		<string>https://www.youtube.com/user/RTarabic/videos?view=2&amp;live_view=501&amp;flow=grid</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CGTN Arabic سي جي تي أن العربية‎‎</string>
		<key>logo</key>
		<string>CGTN</string>
		<key>link</key>
		<string>https://www.cgtn.com/channel/ar.do</string>
		<key>http</key>
		<string>https://www.cgtn.com</string>
	</dict>
</array>
</plist>
