<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>RTL Télé Lëtzebuerg</string>
		<key>logo</key>
		<string>RTL</string>
		<key>link</key>
		<string>http://tele.rtl.lu/livestream/1ten_rtl/</string>
		<key>http</key>
		<string>http://tele.rtl.lu/livestream/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MCJ</string>
		<key>logo</key>
		<string>MCJ</string>
		<key>link</key>
		<string>http://www.tvmcj.com/</string>
		<key>http</key>
		<string>http://www.tvmcj.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Chambre</string>
		<key>logo</key>
		<string>Chambre</string>
		<key>link</key>
		<string>http://www.chd.lu/wps/portal/public/Accueil/Actualite/ChamberTV</string>
		<key>http</key>
		<string>http://www.chd.webtvlive.lu/player.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>BX1 Tele Bruxelles</string>
		<key>logo</key>
		<string>BX1</string>
		<key>link</key>
		<string>http://bx1.be/live/</string>
		<key>http</key>
		<string>http://bx1.be/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>iTELE</string>
		<key>logo</key>
		<string>iTELE</string>
		<key>link</key>
		<string>http://www.dailymotion.com/ITELE</string>
		<key>http</key>
		<string>http://www.itele.fr/direct</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Deutsche Welle</string>
		<key>logo</key>
		<string>DW1</string>
		<key>link</key>
		<string>http://www.dw.com/en/media-center/live-tv/s-100825?channel=5</string>
		<key>http</key>
		<string>http://www.dw.com/en/media-center/live-tv/s-100825?channel=4</string>
	</dict>
	<dict>
		<key>name</key>
		<string>K-TV</string>
		<key>logo</key>
		<string>K-TV</string>
		<key>link</key>
		<string>http://www3.k-tv.org/live-stream/hohe-qualit%C3%A4t</string>
		<key>http</key>
		<string>http://www3.k-tv.org/live-stream</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Der Spiegel</string>
		<key>logo</key>
		<string>Spiegel</string>
		<key>link</key>
		<string>http://www.spiegel.tv/filme/chance-oder-scheitern/</string>
		<key>http</key>
		<string>http://www.spiegel.de/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ZDF</string>
		<key>logo</key>
		<string>ZDF</string>
		<key>link</key>
		<string>https://www.zdf.de/live-tv</string>
		<key>http</key>
		<string>https://www.zdf.de/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bloomberg TV Europe</string>
		<key>logo</key>
		<string>bloomberg</string>
		<key>link</key>
		<string>https://www.bloomberg.com/live/europe</string>
		<key>http</key>
		<string>https://www.bloomberg.com/live/us</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Euronews</string>
		<key>logo</key>
		<string>Euronews</string>
		<key>link</key>
		<string>http://de.euronews.com/live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/euronewsfr/videos?live_view=501&amp;flow=grid&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>EbS Europe by Satellite</string>
		<key>logo</key>
		<string>EbS</string>
		<key>link</key>
		<string>http://ec.europa.eu/avservices/ebs/live.cfm?page=1</string>
		<key>http</key>
		<string>http://ec.europa.eu/avservices/ebs/schedule.cfm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sky News</string>
		<key>logo</key>
		<string>Sky</string>
		<key>link</key>
		<string>https://news.sky.com/watch-live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/skynews</string>
	</dict>
</array>
</plist>
