<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>BBTV 7</string>
		<key>logo</key>
		<string>BBTV</string>
		<key>link</key>
		<string>http://www.ch7.com/live1.html</string>
		<key>http</key>
		<string>http://www.ch7.com/live.html?ref=index</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Thai PBS</string>
		<key>logo</key>
		<string>PBS</string>
		<key>link</key>
		<string>http://www.thaipbs.or.th/live</string>
		<key>http</key>
		<string>http://www.thaipbs.or.th</string>
	</dict>
	<dict>
		<key>name</key>
		<string>True4U (ทรูโฟร์ยู)</string>
		<key>logo</key>
		<string>True4U</string>
		<key>link</key>
		<string>http://true4u.truelife.com/</string>
		<key>http</key>
		<string>http://true4u.truelife.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NBT</string>
		<key>logo</key>
		<string>NBT</string>
		<key>link</key>
		<string>http://thainews.prd.go.th</string>
		<key>http</key>
		<string>http://thainews.prd.go.th</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MCOT HD</string>
		<key>logo</key>
		<string>MCOT</string>
		<key>link</key>
		<string>https://tv.mcot.net/mcothd</string>
		<key>http</key>
		<string>https://tv.mcot.net</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MCOT Family</string>
		<key>logo</key>
		<string>Family</string>
		<key>link</key>
		<string>https://tv.mcot.net/mcotfamily</string>
		<key>http</key>
		<string>https://tv.mcot.net</string>
	</dict>
	<dict>
		<key>name</key>
		<string>3HD (ช่อง 33)</string>
		<key>logo</key>
		<string>33</string>
		<key>link</key>
		<string>http://www.thaitv3.com/%E0%B8%94%E0%B8%B9%E0%B8%97%E0%B8%B5%E0%B8%A7%E0%B8%B5%E0%B8%AD%E0%B8%AD%E0%B8%99%E0%B9%84%E0%B8%A5%E0%B8%99%E0%B9%8C</string>
		<key>http</key>
		<string>http://www.thaitv3.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>3SD (ช่อง 28)</string>
		<key>logo</key>
		<string>28</string>
		<key>link</key>
		<string>http://www.thaitv3.com/%E0%B8%94%E0%B8%B9%E0%B8%97%E0%B8%B5%E0%B8%A7%E0%B8%B5%E0%B8%AD%E0%B8%AD%E0%B8%99%E0%B9%84%E0%B8%A5%E0%B8%99%E0%B9%8C/28</string>
		<key>http</key>
		<string>http://www.thaitv3.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>3Family (ช่อง 13)</string>
		<key>logo</key>
		<string>13</string>
		<key>link</key>
		<string>http://www.thaitv3.com/%E0%B8%94%E0%B8%B9%E0%B8%97%E0%B8%B5%E0%B8%A7%E0%B8%B5%E0%B8%AD%E0%B8%AD%E0%B8%99%E0%B9%84%E0%B8%A5%E0%B8%99%E0%B9%8C/13</string>
		<key>http</key>
		<string>http://www.thaitv3.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TNN 24 - ทีเอ็นเอ็น 24</string>
		<key>logo</key>
		<string>TNN</string>
		<key>link</key>
		<string>http://www.tnnthailand.com/live-tv</string>
		<key>http</key>
		<string>http://www.tnnthailand.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Voice TV 21 วอยซ์ทีวี</string>
		<key>logo</key>
		<string>Voice</string>
		<key>link</key>
		<string>https://www.voicetv.co.th/live</string>
		<key>http</key>
		<string>https://www.voicetv.co.th</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Spring News (สปริงนิวส์)</string>
		<key>logo</key>
		<string>Spring</string>
		<key>link</key>
		<string>https://www.springnews.co.th/live</string>
		<key>http</key>
		<string>https://www.springnews.co.th</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ช่อง 2 -ThaiCh2</string>
		<key>logo</key>
		<string>2</string>
		<key>link</key>
		<string>http://thaich2.com/live/</string>
		<key>http</key>
		<string>http://thaich2.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>GMM 25 (จีเอ็มเอ็ม 25)</string>
		<key>logo</key>
		<string>GMM</string>
		<key>link</key>
		<string>http://live.gmm25.com</string>
		<key>http</key>
		<string>http://gmm25.com/live</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bright TV 20 (ไบรต์ทีวี)</string>
		<key>logo</key>
		<string>Bright</string>
		<key>link</key>
		<string>https://www.brighttv.co.th/live</string>
		<key>http</key>
		<string>https://www.brighttv.co.th</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Thairath ไทยรัฐทีวี</string>
		<key>logo</key>
		<string>Thairath</string>
		<key>link</key>
		<string>http://www.thairath.co.th/tv/live/</string>
		<key>http</key>
		<string>http://www.thairath.co.th/tv/live/#rss</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TV 24 (ทีวี 24)</string>
		<key>logo</key>
		<string>24</string>
		<key>link</key>
		<string>http://www.tv24.in.th/2015/05/watch-live-stream.html</string>
		<key>http</key>
		<string>http://www.tv24.in.th</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NEWS1 ASTV</string>
		<key>logo</key>
		<string>NEWS1</string>
		<key>link</key>
		<string>https://news1live.com/</string>
		<key>http</key>
		<string>https://news1live.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nation เนชั่นทีวี</string>
		<key>logo</key>
		<string>Nation</string>
		<key>link</key>
		<string>http://www.nationtv.tv/main/live/</string>
		<key>http</key>
		<string>http://www.nationtv.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>13 Siam Thai (13 สยามไท)</string>
		<key>logo</key>
		<string>Siam</string>
		<key>link</key>
		<string>http://www.13livetv.com/</string>
		<key>http</key>
		<string>http://www.xn--13-jsi2bec6c9c1i.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NEW18 - นิว18 (New TV)</string>
		<key>logo</key>
		<string>new</string>
		<key>link</key>
		<string>http://www.newtv.co.th/live</string>
		<key>http</key>
		<string>http://www.newtv.co.th</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Suwannabhumi ทีวีช่องสุวรรณภูมิ</string>
		<key>logo</key>
		<string>Suwannabhumi</string>
		<key>link</key>
		<string>http://suwannabhumi.tv/</string>
		<key>http</key>
		<string>http://suwannabhumi.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Parliament โทรทัศน์รัฐสภา</string>
		<key>logo</key>
		<string>Parliament</string>
		<key>link</key>
		<string>http://live.parliament.go.th/</string>
		<key>http</key>
		<string>http://live.parliament.go.th/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Workpoint ช่องเวิร์คพอยท์</string>
		<key>logo</key>
		<string>Workpoint</string>
		<key>link</key>
		<string>http://workpointtv.com/live</string>
		<key>http</key>
		<string>http://workpointtv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bloomberg Asia</string>
		<key>logo</key>
		<string>bloomberg</string>
		<key>link</key>
		<string>http://www.bloomberg.com/live/asia</string>
		<key>http</key>
		<string>http://www.bloomberg.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NAT</string>
		<key>logo</key>
		<string>NAT</string>
		<key>link</key>
		<string>http://www.nattv.com/thai.php</string>
		<key>http</key>
		<string>http://www.ustream.tv/channel/nat-news</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Amarin อมรินทร์ทีวี</string>
		<key>logo</key>
		<string>Amarin</string>
		<key>link</key>
		<string>http://www.amarintv.com/live-tv/</string>
		<key>http</key>
		<string>http://www.amarintv.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Esan อีสานทีวี</string>
		<key>logo</key>
		<string>Esan</string>
		<key>link</key>
		<string>http://www.esan-tv.com/live.php</string>
		<key>http</key>
		<string>https://www.mvtv.co.th/jwplayer2/player.php?channel=CH05</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Good Idea (GTV)</string>
		<key>logo</key>
		<string>GTV</string>
		<key>link</key>
		<string>http://www.goodideatv.tv/index.html#live-tv</string>
		<key>http</key>
		<string>http://www.goodideatv.tv/#live-tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sabaidee สบายดี ทีวี</string>
		<key>logo</key>
		<string>Sabaidee</string>
		<key>link</key>
		<string>http://www.sabaideetv.com/</string>
		<key>http</key>
		<string>http://www.sabaideetv.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DLTV ประถมศึกษาปีที่ 1</string>
		<key>logo</key>
		<string>1</string>
		<key>link</key>
		<string>http://www.dltv.ac.th/streaming?ch=DLTV1</string>
		<key>http</key>
		<string>http://www.dltv.ac.th/streaming</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DLTV ประถมศึกษาปีที่ 2</string>
		<key>logo</key>
		<string>DLT</string>
		<key>link</key>
		<string>http://www.dltv.ac.th/streaming?ch=DLTV2</string>
		<key>http</key>
		<string>http://www.dltv.ac.th/streaming</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DLTV ประถมศึกษาปีที่ 3</string>
		<key>logo</key>
		<string>3</string>
		<key>link</key>
		<string>http://www.dltv.ac.th/streaming?ch=DLTV3</string>
		<key>http</key>
		<string>http://www.dltv.ac.th/streaming</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DLTV ประถมศึกษาปีที่ 4</string>
		<key>logo</key>
		<string>4</string>
		<key>link</key>
		<string>http://www.dltv.ac.th/streaming?ch=DLTV4</string>
		<key>http</key>
		<string>http://www.dltv.ac.th/streaming</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DLTV ประถมศึกษาปีที่ 5</string>
		<key>logo</key>
		<string>5</string>
		<key>link</key>
		<string>http://www.dltv.ac.th/streaming?ch=DLTV5</string>
		<key>http</key>
		<string>http://www.dltv.ac.th/streaming</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DLTV ประถมศึกษาปีที่ 6</string>
		<key>logo</key>
		<string>6</string>
		<key>link</key>
		<string>http://www.dltv.ac.th/streaming?ch=DLTV6</string>
		<key>http</key>
		<string>http://www.dltv.ac.th/streaming</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DLTV มัธยมศึกษาปีที่ 1</string>
		<key>logo</key>
		<string>7</string>
		<key>link</key>
		<string>http://www.dltv.ac.th/streaming?ch=DLTV7</string>
		<key>http</key>
		<string>http://www.dltv.ac.th/streaming</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DLTV มัธยมศึกษาปีที่ 2</string>
		<key>logo</key>
		<string>8</string>
		<key>link</key>
		<string>http://www.dltv.ac.th/streaming?ch=DLTV8</string>
		<key>http</key>
		<string>http://www.dltv.ac.th/streaming</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DLTV มัธยมศึกษาปีที่ 3</string>
		<key>logo</key>
		<string>9</string>
		<key>link</key>
		<string>http://www.dltv.ac.th/streaming?ch=DLTV9</string>
		<key>http</key>
		<string>http://www.dltv.ac.th/streaming</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DLTV อนุบาลศึกษาปีที่ 1</string>
		<key>logo</key>
		<string>10</string>
		<key>link</key>
		<string>http://www.dltv.ac.th/streaming?ch=DLTV10</string>
		<key>http</key>
		<string>http://www.dltv.ac.th/streaming</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DLTV อนุบาลศึกษาปีที่ 2</string>
		<key>logo</key>
		<string>11</string>
		<key>link</key>
		<string>http://www.dltv.ac.th/streaming?ch=DLTV11</string>
		<key>http</key>
		<string>http://www.dltv.ac.th/streaming</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DLTV อนุบาลศึกษาปีที่ 3</string>
		<key>logo</key>
		<string>12</string>
		<key>link</key>
		<string>http://www.dltv.ac.th/streaming?ch=DLTV12</string>
		<key>http</key>
		<string>http://www.dltv.ac.th/streaming</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DLTV อาชีวศึกษา</string>
		<key>logo</key>
		<string>DLTV</string>
		<key>link</key>
		<string>http://www.dltv.ac.th/streaming?ch=DLTV13</string>
		<key>http</key>
		<string>http://www.dltv.ac.th/streaming</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DLTV อุดมศึกษา</string>
		<key>logo</key>
		<string>14</string>
		<key>link</key>
		<string>http://www.dltv.ac.th/streaming?ch=DLTV14</string>
		<key>http</key>
		<string>http://www.dltv.ac.th/streaming</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DLTV ครู</string>
		<key>logo</key>
		<string>15</string>
		<key>link</key>
		<string>http://www.dltv.ac.th/streaming?ch=DLTV15</string>
		<key>http</key>
		<string>http://www.dltv.ac.th/streaming</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MVTV Channal</string>
		<key>logo</key>
		<string>Channal</string>
		<key>link</key>
		<string>https://www.mvtv.co.th/page.php?cont=page&amp;id=8&amp;m=3</string>
		<key>http</key>
		<string>https://www.mvtv.co.th/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Five</string>
		<key>logo</key>
		<string>Five</string>
		<key>link</key>
		<string>https://www.mvtv.co.th/jwplayer2/player.php?channel=CH02</string>
		<key>http</key>
		<string>https://www.mvtv.co.th/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MIX Major</string>
		<key>logo</key>
		<string>Major</string>
		<key>link</key>
		<string>https://www.mvtv.co.th/jwplayer2/player.php?channel=CH03</string>
		<key>http</key>
		<string>https://www.mvtv.co.th/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MVL</string>
		<key>logo</key>
		<string>MVL</string>
		<key>link</key>
		<string>https://www.mvtv.co.th/jwplayer2/player.php?channel=CH04</string>
		<key>http</key>
		<string>https://www.mvtv.co.th/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>55</string>
		<key>logo</key>
		<string>55</string>
		<key>link</key>
		<string>https://www.mvtv.co.th/jwplayer2/player.php?channel=CH06</string>
		<key>http</key>
		<string>https://www.mvtv.co.th/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Thaibaan 83</string>
		<key>logo</key>
		<string>83</string>
		<key>link</key>
		<string>https://www.mvtv.co.th/jwplayer2/player.php?channel=CH07</string>
		<key>http</key>
		<string>https://www.mvtv.co.th/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>69</string>
		<key>logo</key>
		<string>69</string>
		<key>link</key>
		<string>https://www.mvtv.co.th/jwplayer2/player.php?channel=CH08</string>
		<key>http</key>
		<string>https://www.mvtv.co.th/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>HappyTV</string>
		<key>logo</key>
		<string>HappyTV</string>
		<key>link</key>
		<string>https://www.mvtv.co.th/jwplayer2/player.php?channel=CH09</string>
		<key>http</key>
		<string>https://www.mvtv.co.th/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DO CHANNEL</string>
		<key>logo</key>
		<string>DO</string>
		<key>link</key>
		<string>https://www.mvtv.co.th/jwplayer2/player.php?channel=CH10</string>
		<key>http</key>
		<string>https://www.mvtv.co.th/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>WSM</string>
		<key>logo</key>
		<string>WSM</string>
		<key>link</key>
		<string>https://www.mvtv.co.th/jwplayer2/player.php?channel=CH11</string>
		<key>http</key>
		<string>https://www.mvtv.co.th/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hmong</string>
		<key>logo</key>
		<string>Hmong</string>
		<key>link</key>
		<string>https://www.mvtv.co.th/jwplayer2/player.php?channel=CH12</string>
		<key>http</key>
		<string>https://www.mvtv.co.th/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MVM</string>
		<key>logo</key>
		<string>MVM</string>
		<key>link</key>
		<string>https://www.mvtv.co.th/jwplayer2/player.php?channel=CH13</string>
		<key>http</key>
		<string>https://www.mvtv.co.th/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sanook</string>
		<key>logo</key>
		<string>Sanook</string>
		<key>link</key>
		<string>https://www.mvtv.co.th/jwplayer2/player.php?channel=CH14</string>
		<key>http</key>
		<string>https://www.mvtv.co.th/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TVB Drama</string>
		<key>logo</key>
		<string>TVB</string>
		<key>link</key>
		<string>https://www.mvtv.co.th/jwplayer2/player.php?channel=CH15</string>
		<key>http</key>
		<string>https://www.mvtv.co.th/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>จ๊ะทิงจา Ja Ting Ja</string>
		<key>logo</key>
		<string>Ja</string>
		<key>link</key>
		<string>https://www.youtube.com/channel/UC5YVpbTWmNphMeTekgYrgsQ/videos?live_view=501&amp;flow=grid&amp;view=2</string>
		<key>http</key>
		<string>https://www.facebook.com/jatingja.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CARTOON CLUB</string>
		<key>logo</key>
		<string>CARTOON</string>
		<key>link</key>
		<string>http://cartoonclub.tv/</string>
		<key>http</key>
		<string>http://cartoonclub.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Topline</string>
		<key>logo</key>
		<string>Topline</string>
		<key>link</key>
		<string>http://www.toplinetv.com/</string>
		<key>http</key>
		<string>http://www.toplinetv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>True Shopping (ทรู ช็อปปิ้ง)</string>
		<key>logo</key>
		<string>Shopping</string>
		<key>link</key>
		<string>https://www.true-shopping.com/live/003585</string>
		<key>http</key>
		<string>https://www.true-shopping.com/live</string>
	</dict>
	<dict>
		<key>name</key>
		<string>True Select (ทรูซีเล็คท์)</string>
		<key>logo</key>
		<string>Select</string>
		<key>link</key>
		<string>https://www.true-shopping.com/live/003208</string>
		<key>http</key>
		<string>https://www.true-shopping.com/live</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TIGER Shopping</string>
		<key>logo</key>
		<string>TIGER</string>
		<key>link</key>
		<string>https://www.twitch.tv/tigershopping</string>
		<key>http</key>
		<string>http://tigershoppingtv.com/web/tiger_tv.php</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Jewelry Channel</string>
		<key>logo</key>
		<string>Jewelry</string>
		<key>link</key>
		<string>http://jwctv.com/store/tvonline/</string>
		<key>http</key>
		<string>http://jwctv.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>KCTV KC1</string>
		<key>logo</key>
		<string>KC1</string>
		<key>link</key>
		<string>http://www.kctv.co.th/kclive_1.html</string>
		<key>http</key>
		<string>http://www.kctv.co.th/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Police</string>
		<key>logo</key>
		<string>Police</string>
		<key>link</key>
		<string>http://www.policetv.tv/</string>
		<key>http</key>
		<string>http://www.policetv.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RAMA</string>
		<key>logo</key>
		<string>Rama</string>
		<key>link</key>
		<string>https://www.youtube.com/user/RamachannelTV/videos?view=2&amp;flow=grid&amp;live_view=501</string>
		<key>http</key>
		<string>http://med.mahidol.ac.th/ramachannel/home/live</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ETV</string>
		<key>logo</key>
		<string>ETV</string>
		<key>link</key>
		<string>http://www.etvthai.tv/stream/home.aspx</string>
		<key>http</key>
		<string>http://www.etvthai.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>True Plookpanya</string>
		<key>logo</key>
		<string>True</string>
		<key>link</key>
		<string>http://www.trueplookpanya.com/new/tv_live/</string>
		<key>http</key>
		<string>http://www.trueplookpanya.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MCU</string>
		<key>logo</key>
		<string>MCU</string>
		<key>link</key>
		<string>http://tv.mcu.ac.th/</string>
		<key>http</key>
		<string>http://tv.mcu.ac.th/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NBTV</string>
		<key>logo</key>
		<string>NBTV</string>
		<key>link</key>
		<string>http://nbtv.biz/</string>
		<key>http</key>
		<string>http://nbtv.biz/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>JCTV 1</string>
		<key>logo</key>
		<string>JCTV1</string>
		<key>link</key>
		<string>http://www.jctvthai.com/live_ch1.php</string>
		<key>http</key>
		<string>http://www.jctvthai.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>JCTV 2</string>
		<key>logo</key>
		<string>JCTV2</string>
		<key>link</key>
		<string>http://www.jctvthai.com/live_ch2.php</string>
		<key>http</key>
		<string>http://www.jctvthai.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Boonniyom (บุญนิยม ทีวี)</string>
		<key>logo</key>
		<string>Boonniyom</string>
		<key>link</key>
		<string>http://www.boonniyom.tv/</string>
		<key>http</key>
		<string>http://www.boonniyom.tv/hd.php</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SBT</string>
		<key>logo</key>
		<string>SBT</string>
		<key>link</key>
		<string>http://www.luangta.com/live-flash/</string>
		<key>http</key>
		<string>http://www.luangta.com/index.php</string>
	</dict>
	<dict>
		<key>name</key>
		<string>White Channel</string>
		<key>logo</key>
		<string>White</string>
		<key>link</key>
		<string>http://live.whitechannel.tv/</string>
		<key>http</key>
		<string>http://whitechannel.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Yateem ทวีศีรทัธาชน</string>
		<key>logo</key>
		<string>Yateem</string>
		<key>link</key>
		<string>http://yateemtv.muslimthai.com/</string>
		<key>http</key>
		<string>http://yateemtv.muslimthai.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TV Muslim Thailand</string>
		<key>logo</key>
		<string>Muslim</string>
		<key>link</key>
		<string>http://tvmuslim.org/</string>
		<key>http</key>
		<string>http://tvmuslim.org/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sky News</string>
		<key>logo</key>
		<string>Sky</string>
		<key>link</key>
		<string>https://news.sky.com/watch-live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/skynews</string>
	</dict>
</array>
</plist>
