<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>TVRI</string>
		<key>logo</key>
		<string>TVRI</string>
		<key>link</key>
		<string>http://tvri.co.id/live</string>
		<key>http</key>
		<string>http://tvri.co.id</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CNN Indonesia</string>
		<key>logo</key>
		<string>CNN</string>
		<key>link</key>
		<string>http://www.cnnindonesia.com/tv#livestreaming</string>
		<key>http</key>
		<string>http://www.cnnindonesia.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NET</string>
		<key>logo</key>
		<string>NET</string>
		<key>link</key>
		<string>http://www.netmedia.co.id/live</string>
		<key>http</key>
		<string>http://www.netmedia.co.id</string>
	</dict>
	<dict>
		<key>name</key>
		<string>INTV</string>
		<key>logo</key>
		<string>INTV</string>
		<key>link</key>
		<string>http://intv.id</string>
		<key>http</key>
		<string>http://intv.id/live.php</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TIC Indonesia Channel</string>
		<key>logo</key>
		<string>TIC</string>
		<key>link</key>
		<string>http://www.theindonesiachannel.com/schedule</string>
		<key>http</key>
		<string>http://www.theindonesiachannel.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Jakarta Globe</string>
		<key>logo</key>
		<string>Globe</string>
		<key>link</key>
		<string>http://jakartaglobe.id/indonesia-highlights/</string>
		<key>http</key>
		<string>http://jakartaglobe.id/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Rodja</string>
		<key>logo</key>
		<string>Rodja</string>
		<key>link</key>
		<string>https://rodja.tv/browse-live-videos-1-date.html</string>
		<key>http</key>
		<string>https://www.youtube.com/user/rodjatv/live</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ahsan</string>
		<key>logo</key>
		<string>Ahsan</string>
		<key>link</key>
		<string>http://ahsan.tv/streaming/</string>
		<key>http</key>
		<string>http://ahsan.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Muhammadiyah TvMu</string>
		<key>logo</key>
		<string>TvMu</string>
		<key>link</key>
		<string>http://tvmu.tv/</string>
		<key>http</key>
		<string>http://tvmu.tv/live-event/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Insan</string>
		<key>logo</key>
		<string>Insan</string>
		<key>link</key>
		<string>http://www.insantv.com/live.html</string>
		<key>http</key>
		<string>http://www.insantv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Lantabur</string>
		<key>logo</key>
		<string>Lantabur</string>
		<key>link</key>
		<string>http://lantabur.tv/</string>
		<key>http</key>
		<string>http://lantabur.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TV9 Nusantara</string>
		<key>logo</key>
		<string>TV9</string>
		<key>link</key>
		<string>http://tv9.co.id/</string>
		<key>http</key>
		<string>http://tv9.co.id/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ADi</string>
		<key>logo</key>
		<string>ADi</string>
		<key>link</key>
		<string>http://aditv.co.id/live-streaming/</string>
		<key>http</key>
		<string>http://aditv.co.id</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SNTV</string>
		<key>logo</key>
		<string>SNTV</string>
		<key>link</key>
		<string>https://www.sntivi.id/streaming/</string>
		<key>http</key>
		<string>https://www.sntivi.id</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Surau</string>
		<key>logo</key>
		<string>Surau</string>
		<key>link</key>
		<string>http://www.surau.tv/</string>
		<key>http</key>
		<string>http://www.surau.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Reformed 21</string>
		<key>logo</key>
		<string>21</string>
		<key>link</key>
		<string>http://reformed21.tv/</string>
		<key>http</key>
		<string>http://reformed21.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Malakoot Shine</string>
		<key>logo</key>
		<string>Malakoot</string>
		<key>link</key>
		<string>http://www.malakootshine.tv/nonton-langsung/</string>
		<key>http</key>
		<string>http://www.malakootshine.tv/en/watch-live/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DAAI</string>
		<key>logo</key>
		<string>DAAI</string>
		<key>link</key>
		<string>http://www.daaitv.co.id/live-streaming/</string>
		<key>http</key>
		<string>http://www.daaitv.co.id</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Banten</string>
		<key>logo</key>
		<string>Banten</string>
		<key>link</key>
		<string>http://www.cahayabanten.tv/</string>
		<key>http</key>
		<string>http://www.cahayabanten.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TVKU</string>
		<key>logo</key>
		<string>TVKU</string>
		<key>link</key>
		<string>http://www.tvku.tv/live</string>
		<key>http</key>
		<string>http://www.tvku.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sakti</string>
		<key>logo</key>
		<string>Sakti</string>
		<key>link</key>
		<string>http://sakti.tv/</string>
		<key>http</key>
		<string>http://sakti.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bios</string>
		<key>logo</key>
		<string>Bios</string>
		<key>link</key>
		<string>http://streaming.bios-tv.co.id/</string>
		<key>http</key>
		<string>http://streaming.bios-tv.co.id/#</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MGSTV</string>
		<key>logo</key>
		<string>MGSTV</string>
		<key>link</key>
		<string>https://www.mgstv.co.id/live.html</string>
		<key>http</key>
		<string>https://www.mgstv.co.id</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RCTV - Radar Cirebon</string>
		<key>logo</key>
		<string>RCTV</string>
		<key>link</key>
		<string>http://www.radarcirebon.tv/</string>
		<key>http</key>
		<string>http://www.radarcirebon.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Samarinda</string>
		<key>logo</key>
		<string>Samarinda</string>
		<key>link</key>
		<string>http://stv.prokal.co/Streaming.html</string>
		<key>http</key>
		<string>http://stv.prokal.co</string>
	</dict>
	<dict>
		<key>name</key>
		<string>PKTV Bontang</string>
		<key>logo</key>
		<string>Bontang</string>
		<key>link</key>
		<string>http://pktvbontang.com/</string>
		<key>http</key>
		<string>http://pktvbontang.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Duta</string>
		<key>logo</key>
		<string>Duta</string>
		<key>link</key>
		<string>http://www.dutatv.co.id/</string>
		<key>http</key>
		<string>http://www.dutatv.co.id/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nirwana</string>
		<key>logo</key>
		<string>Nirwana</string>
		<key>link</key>
		<string>http://nirwana.tv/live-streaming.php</string>
		<key>http</key>
		<string>http://nirwana.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Radar Lampung</string>
		<key>logo</key>
		<string>Radar</string>
		<key>link</key>
		<string>http://www.radartv.co.id/</string>
		<key>http</key>
		<string>http://www.radartv.co.id/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tegar</string>
		<key>logo</key>
		<string>Tegar</string>
		<key>link</key>
		<string>http://tegartv.com/</string>
		<key>http</key>
		<string>http://tegartv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Riau</string>
		<key>logo</key>
		<string>Riau</string>
		<key>link</key>
		<string>http://riautelevisi.com/streaming.html</string>
		<key>http</key>
		<string>http://riautelevisi.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Palembang</string>
		<key>logo</key>
		<string>Palembang</string>
		<key>link</key>
		<string>http://paltv.co.id/online/live-streaming/</string>
		<key>http</key>
		<string>http://paltv.co.id</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bloomberg Asia</string>
		<key>logo</key>
		<string>bloomberg</string>
		<key>link</key>
		<string>https://www.bloomberg.com/live/asia</string>
		<key>http</key>
		<string>https://www.bloomberg.com/live/asia_stream</string>
	</dict>
</array>
</plist>
