<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string></string>
		<key>Main</key>
		<string></string>
		<key>Back</key>
		<string></string>
		<key>Banner</key>
		<string></string>
		<key>Show1</key>
		<string></string>
		<key>Show2</key>
		<string></string>
		<key>Show3</key>
		<string></string>
		<key>Show4</key>
		<string></string>
		<key>Alarm</key>
		<string></string>
		<key>CustomBanner</key>
		<string></string>
		<key>CustomSplash</key>
		<string></string>
		<key>Header</key>
		<string></string>
		<key>Footer</key>
		<string></string>
		<key>Email</key>
		<string>ios.apps.community@gmail.com</string>
		<key>Alternative</key>
		<string></string>
		<key>Application</key>
		<string></string>
		<key>Developer</key>
		<string></string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Menu</key>
	<array>
		<string>Top</string>
		<string>News</string>
		<string>Local</string>
		<string>Classic</string>
		<string>Music</string>
		<string>Sport</string>
		<string>Talk</string>
		<string>Youth</string>
		<string>Oldies</string>
	</array>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Benguela</string>
			<key>logo</key>
			<string>Benguela</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-benguela,20023.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Canal A - Radio National</string>
			<key>logo</key>
			<string>Canal</string>
			<key>link</key>
			<string>http://radios.vpn.sapo.pt/AO/radio3.mp3</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/canal-a-radio-national,15544.m3u</string>
			<key>note</key>
			<string>Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cinco 94.5 FM</string>
			<key>logo</key>
			<string>Cinco</string>
			<key>link</key>
			<string>http://radios.vpn.sapo.pt/AO/radio5.mp3</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-cinco-94-5-fm,18158.m3u</string>
			<key>note</key>
			<string>Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cunene 92.2 FM</string>
			<key>logo</key>
			<string>Cunene</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-cunene-92-2-fm,18155.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Ondjiva (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ecclesia</string>
			<key>logo</key>
			<string>Ecclesia</string>
			<key>link</key>
			<string>https://www.radioecclesia.org/jplayer/player.html</string>
			<key>http</key>
			<string>http://radios.vpn.sapo.pt/AO/radio8.mp3</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Escola 88.5 FM</string>
			<key>logo</key>
			<string>Escola</string>
			<key>link</key>
			<string>http://radios.vpn.sapo.pt/AO/radio1.mp3</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Huila 96.6 FM</string>
			<key>logo</key>
			<string>Huila</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-huila-96-6-fm,18159.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Lubango (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kairós 98.4 FM</string>
			<key>logo</key>
			<string>Kairos</string>
			<key>link</key>
			<string>http://radios.vpn.sapo.pt/AO/radio9.mp3</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kuia Bue FM</string>
			<key>logo</key>
			<string>Kuia</string>
			<key>link</key>
			<string>http://app.kshost.com.br/player/9126/winamp.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-kuia-bue-fm,19128.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kwanza Sul 97.6 FM</string>
			<key>logo</key>
			<string>Kwanza</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-kwanza-sul-97-6-fm,18156.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Sumbe (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>LAC Luanda Antena Comercial</string>
			<key>logo</key>
			<string>LAC</string>
			<key>link</key>
			<string>http://radios.vpn.sapo.pt/AO/radio14.mp3</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/lac-luanda-antena-comercial,13236.m3u</string>
			<key>note</key>
			<string>News, Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Lobito 89.1 FM</string>
			<key>logo</key>
			<string>Lobito</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-lobito-89-1-fm,18157.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mais 99.1 FM</string>
			<key>logo</key>
			<string>Mais</string>
			<key>link</key>
			<string>http://5.189.189.245:2199/tunein/maisluanda.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-mais-99-1-fm,20239.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MFM 91.7</string>
			<key>logo</key>
			<string>MFM</string>
			<key>link</key>
			<string>http://radios.vpn.sapo.pt/AO/radio9.mp3</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RD 91.0 FM Despertar</string>
			<key>logo</key>
			<string>Despertar</string>
			<key>link</key>
			<string>http://radios.vpn.sapo.pt/AO/radio15.mp3</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk, Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RNA Cacuaco 105.0 FM</string>
			<key>logo</key>
			<string>Cacuaco</string>
			<key>link</key>
			<string>http://radios.vpn.sapo.pt/AO/radio17.mp3</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>RNA Luanda 99.9 FM</string>
			<key>logo</key>
			<string>Luanda</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-luanda,15543.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-luanda-99-9-fm,17591.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>RNA N&apos;gola Yetu 101.4 FM</string>
			<key>logo</key>
			<string>Yetu</string>
			<key>link</key>
			<string>http://radios.vpn.sapo.pt/AO/radio12.mp3</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>RNA Viana Cultural 92.8 FM</string>
			<key>logo</key>
			<string>Viana</string>
			<key>link</key>
			<string>http://radios.vpn.sapo.pt/AO/radio16.mp3</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Romantica 97.9 FM</string>
			<key>logo</key>
			<string>Romantica</string>
			<key>link</key>
			<string>http://radios.vpn.sapo.pt/AO/radio4.mp3</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>UnIA 92.3 FM</string>
			<key>logo</key>
			<string>UnIA</string>
			<key>link</key>
			<string>http://radios.vpn.sapo.pt/AO/radio2.mp3</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
	</array>
</dict>
</plist>
