<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>6212904340</string>
		<key>Back</key>
		<string>4999771313</string>
		<key>Banner</key>
		<string>1387829361</string>
		<key>Show1</key>
		<string>REMOVED</string>
		<key>Show2</key>
		<string>REMOVED</string>
		<key>Show3</key>
		<string>REMOVED</string>
		<key>Show4</key>
		<string>REMOVED</string>
		<key>Alarm</key>
		<string>9238399224</string>
		<key>CustomBanner</key>
		<string>3459636543</string>
		<key>CustomSplash</key>
		<string>7953237718</string>
		<key>Header</key>
		<string>4389574837</string>
		<key>Footer</key>
		<string>5319513127</string>
		<key>Email</key>
		<string>ios.apps.community@gmail.com</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1455001587</string>
		<key>Developer</key>
		<string>1360678770</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Menu</key>
	<array>
		<string>Top</string>
		<string>News</string>
		<string>Local</string>
		<string>Classic</string>
		<string>Music</string>
		<string>Sport</string>
		<string>Talk</string>
		<string>Youth</string>
		<string>Oldies</string>
	</array>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>5FM</string>
			<key>logo</key>
			<string>5FM</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/5fm,15931.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>702 Talk Radio</string>
			<key>logo</key>
			<string>702</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/702-talk-radio,13.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Smile FM 90.4</string>
			<key>logo</key>
			<string>Smile</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/90-4-smile-fm,17863.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>90.6 FM VCR</string>
			<key>logo</key>
			<string>VCR</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/90-6-fm-vcr,12214.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Vanderbijlpark (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Al-Ansaar 90.4 FM</string>
			<key>logo</key>
			<string>Al-Ansaar</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/al-ansaar-90-4-fm,18933.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Durban (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Alex 89.1 FM</string>
			<key>logo</key>
			<string>Alex</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/alex-89-1-fm,17588.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Algoa FM</string>
			<key>logo</key>
			<string>Algoa</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/algoa-fm,11150.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Port Elisabeth (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bay FM 107.9</string>
			<key>logo</key>
			<string>Bay</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/bay-fm-107-9,5903.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bok Radio 98.9 FM</string>
			<key>logo</key>
			<string>Bok</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/bok-radio-98-9-fm,18458.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bosveld Stereo 107.5 FM</string>
			<key>logo</key>
			<string>Bosveld</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/bosveld-stereo-107-5-fm,16843.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Waterberg (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bush Radio 89.5 FM</string>
			<key>logo</key>
			<string>Bush</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/bush-radio-89-5-fm,6878.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cape Pulpit 729 AM</string>
			<key>logo</key>
			<string>729</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/cape-pulpit-729-am,18713.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Bellville (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CapeTalk 567 AM</string>
			<key>logo</key>
			<string>567</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/cape-talk-567-am,6876.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Capricorn 96.0 FM</string>
			<key>logo</key>
			<string>Capricorn</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/capricorn-fm,16847.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music (Polokwane, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CCFM 107.5</string>
			<key>logo</key>
			<string>CCFM</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/ccfm-107-5,20399.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chai FM 101.9</string>
			<key>logo</key>
			<string>Chai</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/101-9-chai-fm,17556.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/chai-fm,19955.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Channel Africa</string>
			<key>logo</key>
			<string>Africa</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/channel-africa,18988.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CII - Channel Islam International</string>
			<key>logo</key>
			<string>CII</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/cii-channel-islam-international,18915.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Bellville (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Classic FM 102.7</string>
			<key>logo</key>
			<string>Classic</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/classic-fm-102-7,6873.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CliffCentral</string>
			<key>logo</key>
			<string>CliffCentral</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/cliffcentral,19736.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cut FM 105.8</string>
			<key>logo</key>
			<string>Cut</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/cut-fm-105-8-fm,20398.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Bloemfontein (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>East Coast Radio</string>
			<key>logo</key>
			<string>Coast</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/east-coast-radio,16.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/east-coast-radio-durban,15170.m3u</string>
			<key>note</key>
			<string>Music, (Bloemfontein, Local))</string>
		</dict>
		<dict>
			<key>name</key>
			<string>East Rand Stereo 93.9</string>
			<key>logo</key>
			<string>Rand</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/east-rand-stereo-93-9,16818.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Springs (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Eden FM 93.8</string>
			<key>logo</key>
			<string>Eden</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/eden-fm-93-8,16849.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Eldos FM 87.6</string>
			<key>logo</key>
			<string>Eldos</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/eldos-fm-87-6,18461.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fine Music Radio 101.3 FM</string>
			<key>logo</key>
			<string>Fine</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/fine-music-radio-101-3-fm,11103.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Gagasi 99.5 FM</string>
			<key>logo</key>
			<string>Gagasi</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/gagasi-99-5-fm,15956.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Good Hope FM 96.7</string>
			<key>logo</key>
			<string>Good</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/good-hope-fm-96-7,6872.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Groot FM 90.5</string>
			<key>logo</key>
			<string>Groot</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/groot-fm-90-5,18457.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Heart 104.9 FM</string>
			<key>logo</key>
			<string>Hear</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/heart-104-9-fm,16545.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hellenic Radio</string>
			<key>logo</key>
			<string>Hellenic</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/hellenic-radio,16850.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Highveld 94.7 FM</string>
			<key>logo</key>
			<string>Highveld</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/highveld-94-7-fm,17.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hindvani Radio 91.5 FM</string>
			<key>logo</key>
			<string>Hindvani</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/hindvani-radio-91-5-fm,18387.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Durban (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hot 91.9 FM</string>
			<key>logo</key>
			<string>Hot</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/hot-91-9-fm,18286.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Randburg (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>IFM 102.2</string>
			<key>logo</key>
			<string>IFM</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/ifm-102-2,18174.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Vanderbijlpark (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ikwekwezi FM 106.3 FM</string>
			<key>logo</key>
			<string>Ikwekwezi</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/ikwekwezi-fm-106-3-fm,15918.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Impact Radio 103.0 FM</string>
			<key>logo</key>
			<string>Impact</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/impact-radio-103-0-fm,34.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Inanda 88.4 FM</string>
			<key>logo</key>
			<string>Inanda</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/inanda-88-4-fm,18459.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Durban (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Jacaranda 94.2 FM</string>
			<key>logo</key>
			<string>Jacaranda</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/jacaranda-94-2-fm,14815.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Gauteng (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Jacaranda Afrikaans</string>
			<key>logo</key>
			<string>Afrikaans</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/ja-fm-jacaranda-afrikaans,18916.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Midrand (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Jozi FM 105.8</string>
			<key>logo</key>
			<string>Jozi</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/jozi-fm105-8,16819.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Soweto (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kaya FM 95.9</string>
			<key>logo</key>
			<string>Kaya</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/kaya-fm-95-9,4628.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>KFM 94.5</string>
			<key>logo</key>
			<string>KFM</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/kfm-94-5,4232.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kingfisher FM 103.8</string>
			<key>logo</key>
			<string>Kingfisher</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/kingfisher-fm-103-8,20400.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Port Elisabeth (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>KOVSIE FM 97.0</string>
			<key>logo</key>
			<string>KOVSIE</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/kovsie-fm-97-0,20401.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Bloemfontein (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kragbron 93.1 FM</string>
			<key>logo</key>
			<string>Kragbron</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/93-1-fm-stereo,16409.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Padkaart (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Lekker FM 98.3 FM</string>
			<key>logo</key>
			<string>Lekker</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/lekker-fm-98-3-fm,18463.m3u</string>
			<key>http</key>
			<string>http://zas3.ndx.co.za:8000/;</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Lesedi 106.6 FM</string>
			<key>logo</key>
			<string>Lesedi</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/lesedi-fm,15920.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Durban (Local)</string>
		</dict>
	</array>
</dict>
</plist>
