<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1</string>
		<key>Back</key>
		<string>1</string>
		<key>Banner</key>
		<string>1</string>
		<key>Show1</key>
		<string>1</string>
		<key>Show2</key>
		<string>1</string>
		<key>Show3</key>
		<string>1</string>
		<key>Show4</key>
		<string>1</string>
		<key>Alarm</key>
		<string>1</string>
		<key>CustomBanner</key>
		<string>1</string>
		<key>CustomSplash</key>
		<string>1</string>
		<key>Header</key>
		<string>1</string>
		<key>Footer</key>
		<string>1</string>
		<key>Email</key>
		<string>1</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1</string>
		<key>Developer</key>
		<string>1</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Menu</key>
	<array>
		<string>Top</string>
		<string>News</string>
		<string>Local</string>
		<string>Classic</string>
		<string>Music</string>
		<string>Sport</string>
		<string>Talk</string>
		<string>Youth</string>
		<string>Oldies</string>
	</array>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Rodja 756AM</string>
			<key>logo</key>
			<string>Rodja</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://119.82.232.83:80/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://119.82.232.83:80/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>RDI FM 97.1</string>
			<key>logo</key>
			<string>RDI</string>
			<key>link</key>
			<string>http://202.147.199.99:8000/;stream.nsv</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://rdn.myradio.web.id:8000/listen.pls?sid=1&amp;t=.pls</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>MQFM 102.7</string>
			<key>logo</key>
			<string>MQFM</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://125.160.17.21:8200/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://125.160.17.21:8200/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string>Bandung (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sahara Kendal 106.40 FM</string>
			<key>logo</key>
			<string>Sahara</string>
			<key>link</key>
			<string>http://u.klikhost.com/singleplaylist.php?ip=199.167.134.163&amp;port=7044&amp;format=PLS</string>
			<key>http</key>
			<string>http://u.klikhost.com/singleplaylist.php?ip=199.167.134.163&amp;port=7044&amp;format=M3U</string>
			<key>note</key>
			<string>Jawa (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Serambi FM 90.2</string>
			<key>logo</key>
			<string>Serambi</string>
			<key>link</key>
			<string>http://live.serambifm.com:8902/;</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://live.serambifm.com:8902/listen.pls&amp;t=.pls</string>
			<key>note</key>
			<string>Banda Aceh (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Musik Indonesia</string>
			<key>logo</key>
			<string>Musik</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://45.64.98.181:8252/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://45.64.98.181:8252/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Loker Musik</string>
			<key>logo</key>
			<string>Loker</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://206.190.130.182:8142/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://206.190.130.182:8142/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Top Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Classy NetRadio</string>
			<key>logo</key>
			<string>Classy</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://199.167.134.163:7720/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://199.167.134.163:7720/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TIRILOLOK</string>
			<key>logo</key>
			<string>TIRILOLOK</string>
			<key>link</key>
			<string>http://78.129.224.21/stream.mp3?ipport=78.129.224.21_37868</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://78.129.224.21:37868/listen.pls&amp;t=.pls</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dairi 87.6 FM</string>
			<key>logo</key>
			<string>Dairi</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://103.28.148.18:8656/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://103.28.148.18:8656/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string>Cirebon (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pratama 88.8 FM</string>
			<key>logo</key>
			<string>Pratama</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://103.28.148.18:8030/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://103.28.148.18:8030/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rajawali Radio</string>
			<key>logo</key>
			<string>Rajawali</string>
			<key>link</key>
			<string>http://www.rajawaliradio.com/modules/mod_ngs_shoutcast/singleplaylist.php?ip=125.160.17.21&amp;port=8012&amp;format=M3U</string>
			<key>http</key>
			<string>http://www.rajawaliradio.com/modules/mod_ngs_shoutcast/singleplaylist.php?ip=125.160.17.21&amp;port=8012&amp;format=PLS</string>
			<key>note</key>
			<string>Top Music (Bandung, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TotalFM 93,1</string>
			<key>logo</key>
			<string>TotalFM</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://103.28.148.18:8738/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://103.28.148.18:8738/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string>Sumatera (Local)</string>
		</dict>
	</array>
</dict>
</plist>
