<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>3688694344</string>
		<key>Back</key>
		<string>2429908403</string>
		<key>Banner</key>
		<string>4453436516</string>
		<key>Show1</key>
		<string>REMOVED</string>
		<key>Show2</key>
		<string>REMOVED</string>
		<key>Show3</key>
		<string>REMOVED</string>
		<key>Show4</key>
		<string>REMOVED</string>
		<key>Alarm</key>
		<string>9922930207</string>
		<key>CustomBanner</key>
		<string>4907187497</string>
		<key>CustomSplash</key>
		<string>1925800938</string>
		<key>Header</key>
		<string>2974378471</string>
		<key>Footer</key>
		<string>1278153420</string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string>1176515503</string>
		<key>Application</key>
		<string>1447016750</string>
		<key>Developer</key>
		<string>1239592099</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>CILV Live 88.5 FM</string>
			<key>logo</key>
			<string>CILV</string>
			<key>link</key>
			<string>http://newcap.leanstream.co/CILVFM-MP3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CHUO 89.1 FM</string>
			<key>logo</key>
			<string>CHUO</string>
			<key>link</key>
			<string>http://icecast1.isiglobal.ca/chuo.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CIHT Hot 89.9 FM</string>
			<key>logo</key>
			<string>CIHT</string>
			<key>link</key>
			<string>http://newcap.leanstream.co/CIHTFM-MP3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>ICI Première Ottawa</string>
			<key>logo</key>
			<string>ICI</string>
			<key>link</key>
			<string>http://cbcmp3.ic.llnwd.net/stream/cbcmp3_P-2OOTT0_OTT.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CBC One</string>
			<key>logo</key>
			<string>One</string>
			<key>link</key>
			<string>http://cbcmp3.ic.llnwd.net/stream/cbcmp3_cbc_r1_ott.m3u</string>
			<key>http</key>
			<string>http://cbcmp3.ic.llnwd.net/stream/cbcmp3_cbc_r1_cgy.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CJET Jack 92.3 FM</string>
			<key>logo</key>
			<string>CJET</string>
			<key>link</key>
			<string>http://rogers-hls.leanstream.co/rogers/ott923.stream/playlist.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CKCU 93.1 FM</string>
			<key>logo</key>
			<string>CKCU</string>
			<key>link</key>
			<string>http://icecast3.isiglobal.ca/ckcu.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CKKL 93.9 FM - Pure Country 94</string>
			<key>logo</key>
			<string>CKKL</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/CKKLFM.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CJFO 94.5 Unique FM</string>
			<key>logo</key>
			<string>CJFO</string>
			<key>link</key>
			<string>http://stream03.ustream.ca:8000/cjfofm128.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CIMF 94.9 Rouge FM</string>
			<key>logo</key>
			<string>CIMF</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/CIMFFM.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CFPO 95.7 Elmnt FM</string>
			<key>logo</key>
			<string>CFPO</string>
			<key>link</key>
			<string>http://ice10.securenetsystems.net/CFPO.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CFTX Capitale Rock 96.5 FM</string>
			<key>logo</key>
			<string>CFTX</string>
			<key>link</key>
			<string>http://stream.rncmedia.ca/gatineau.radiox.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CHLX Planète 97.1 FM</string>
			<key>logo</key>
			<string>CHLX</string>
			<key>link</key>
			<string>http://stream.rncmedia.ca/gatineau.planeteradio.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CJLL-FM 97.9 International</string>
			<key>logo</key>
			<string>CJLL</string>
			<key>link</key>
			<string>http://ice7.securenetsystems.net/CJLLFM.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CJWL Jewel 98.5 FM</string>
			<key>logo</key>
			<string>CJWL</string>
			<key>link</key>
			<string>http://ice2.securenetsystems.net/CJWL.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CHRI Family Radio 99.1 FM</string>
			<key>logo</key>
			<string>CHRI</string>
			<key>link</key>
			<string>http://206.132.180.91:554/stream.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CJOT Boom 99.7 FM</string>
			<key>logo</key>
			<string>CJOT</string>
			<key>link</key>
			<string>http://live.leanstream.co/CJOTFM-MP3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CJMJ Majic 100.3 FM</string>
			<key>logo</key>
			<string>CJMJ</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/CJMJFM.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CFRA News Talk 580 AM</string>
			<key>logo</key>
			<string>CFRA</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/CFRBAM.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CFGO TSN Radio 1200 AM</string>
			<key>logo</key>
			<string>CFGO</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/CFGOAM.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CKBY Country 101.1 FM</string>
			<key>logo</key>
			<string>CKBY</string>
			<key>link</key>
			<string>http://rogers-hls.leanstream.co/rogers/ott1011.stream/playlist.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CIDG Rebel 101.9 FM</string>
			<key>logo</key>
			<string>CIDG</string>
			<key>link</key>
			<string>http://72.1.219.223:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>ICI Musique</string>
			<key>logo</key>
			<string>Musique</string>
			<key>link</key>
			<string>http://cbcmp3.ic.llnwd.net/stream/cbcmp3_M-7OOTT0_OTT.m3u</string>
			<key>http</key>
			<string>http://cbcmp3.ic.llnwd.net/stream/cbcmp3_M-7AEDM0_EDM.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CBC Music</string>
			<key>logo</key>
			<string>CBC</string>
			<key>link</key>
			<string>http://cbcmp3.ic.llnwd.net/stream/cbcmp3_cbc_r2_wpg.m3u</string>
			<key>http</key>
			<string>http://cbcmp3.ic.llnwd.net/stream/cbcmp3_cbc_r2_edm.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CKTF Énergie</string>
			<key>logo</key>
			<string>CKTF</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/CKTFFM.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CKOF 104.7 FM</string>
			<key>logo</key>
			<string>CKOF</string>
			<key>link</key>
			<string>http://cogecomedia.leanstream.co/CKOFFM-MP3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CISS KiSS 105.3 FM</string>
			<key>logo</key>
			<string>CISS</string>
			<key>link</key>
			<string>http://rogers-hls.leanstream.co/rogers/ott1053.stream/playlist.m3u8</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://66.70.187.44:9134/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Oldies</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CHEZ World Class Rock 106.1 FM</string>
			<key>logo</key>
			<string>CHEZ</string>
			<key>link</key>
			<string>http://rogers-hls.leanstream.co/rogers/ott1061.stream/playlist.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CKQB Jump! 106.9 FM</string>
			<key>logo</key>
			<string>CKQB</string>
			<key>link</key>
			<string>http://live.leanstream.co/CKQBFM-MP3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CKDJ 107.9 FM</string>
			<key>logo</key>
			<string>CKDJ</string>
			<key>link</key>
			<string>http://fire.wavestreamer.com:5047/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CKAC Circulation 730 AM</string>
			<key>logo</key>
			<string>CKAC</string>
			<key>link</key>
			<string>http://cogecomedia.leanstream.co/CKACAM-MP3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CFZM Zoomer 740 AM</string>
			<key>logo</key>
			<string>CFZM</string>
			<key>link</key>
			<string>http://radiostream.zoomer.ca:8000/cfzm.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>WGY NewsRadio 810 AM</string>
			<key>logo</key>
			<string>WGY</string>
			<key>link</key>
			<string>http://stream.revma.ihrhls.com/zc1413.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>ICI Première Toronto</string>
			<key>logo</key>
			<string>Toronto</string>
			<key>link</key>
			<string>http://cbcmp3.ic.llnwd.net/stream/cbcmp3_P-2OTOR0_TOR.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CFMB Montréal 1280 AM</string>
			<key>logo</key>
			<string>1280</string>
			<key>link</key>
			<string>http://ice41.securenetsystems.net/CFMB.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CIWW 1310 News</string>
			<key>logo</key>
			<string>1310</string>
			<key>link</key>
			<string>http://rogers-hls.leanstream.co/rogers/ott1310.stream/playlist.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CJEU Oxygène 1670 AM</string>
			<key>logo</key>
			<string>CJEU</string>
			<key>link</key>
			<string>http://69.159.204.234:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CJSI Shine 88.9 FM</string>
			<key>logo</key>
			<string>CJSI</string>
			<key>link</key>
			<string>http://cjsi.streamon.fm/listen.m3u</string>
			<key>http</key>
			<string>http://cjry.streamon.fm/listen.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CKMP AMP Radio 90.3 FM</string>
			<key>logo</key>
			<string>CKMP</string>
			<key>link</key>
			<string>http://newcap.leanstream.co/CKMPFM-MP3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CJSW Independent Radio 90.9 FM</string>
			<key>logo</key>
			<string>CJSW</string>
			<key>link</key>
			<string>http://stream.cjsw.com/cjsw.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CKUA Network</string>
			<key>logo</key>
			<string>CKUA</string>
			<key>link</key>
			<string>http://ckua.streamon.fm/listen.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CHKF 加拿大中文電台 94.7 FM</string>
			<key>logo</key>
			<string>CHKF</string>
			<key>link</key>
			<string>https://5b2959fe11444.streamlock.net/radio/fm947.stream/playlist.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CKWD Wild 95.3 FM</string>
			<key>logo</key>
			<string>CKWD</string>
			<key>link</key>
			<string>http://ckwd.streamon.fm/listen.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CFIT Air 106.1 FM</string>
			<key>logo</key>
			<string>CFIT</string>
			<key>link</key>
			<string>http://goldenwestsites.com/stream/cfit_mp3.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CJAY Rock 92.1 FM</string>
			<key>logo</key>
			<string>CJAY</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/CJAYFM.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CFEX X92.9 FM</string>
			<key>logo</key>
			<string>CFEX</string>
			<key>link</key>
			<string>http://cfex.streamon.fm/listen.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CHFM 95.9 FM</string>
			<key>logo</key>
			<string>CHFM</string>
			<key>link</key>
			<string>http://rogers-hls.leanstream.co/rogers/cal959.stream/playlist.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CKLJ Country 96.5 FM</string>
			<key>logo</key>
			<string>CKLJ</string>
			<key>link</key>
			<string>http://cklj.streamon.fm/listen.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CHUP Soft Rock 97.7 FM</string>
			<key>logo</key>
			<string>CHUP</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/CHUPFM.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Virgin Radio</string>
			<key>logo</key>
			<string>Virgin</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/CIBKFM.pls</string>
			<key>http</key>
			<string>http://playerservices.streamtheworld.com/pls/CKFMFM.pls</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CFXO Sun Country 99.7 FM</string>
			<key>logo</key>
			<string>CFXO</string>
			<key>link</key>
			<string>http://goldenwestsites.com/stream/cfxo_mp3.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CKUV The Eagle 100.9 FM</string>
			<key>logo</key>
			<string>CKUV</string>
			<key>link</key>
			<string>http://goldenwestsites.com/stream/ckuv_mp3.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CKCE 101.5 Kool FM</string>
			<key>logo</key>
			<string>CKCE</string>
			<key>link</key>
			<string>http://ckce.streamon.fm/listen.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CFXL XL103.1 FM</string>
			<key>logo</key>
			<string>CFXL</string>
			<key>link</key>
			<string>http://newcap.leanstream.co/CFXLFM-MP3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CKJX Rock 104.5 FM</string>
			<key>logo</key>
			<string>CKJX</string>
			<key>link</key>
			<string>http://ckjx.streamon.fm/listen.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CKRY Country 105.1 FM</string>
			<key>logo</key>
			<string>CKRY</string>
			<key>link</key>
			<string>http://live.leanstream.co/CKRYFM-MP3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Global News</string>
			<key>logo</key>
			<string>Global</string>
			<key>link</key>
			<string>http://live.leanstream.co/CHQRAM-MP3.m3u</string>
			<key>http</key>
			<string>http://live.leanstream.co/CHQTAM-MP3.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CKYR 106.7 Red FM</string>
			<key>logo</key>
			<string>CKYR</string>
			<key>link</key>
			<string>http://ice9.securenetsystems.net/CKYR.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CFGQ 107.3 FM - Q107</string>
			<key>logo</key>
			<string>Q107</string>
			<key>link</key>
			<string>http://live.leanstream.co/CFGQFM-MP3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CHED 630</string>
			<key>logo</key>
			<string>CHED</string>
			<key>link</key>
			<string>http://live.leanstream.co/CHEDAM-MP3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CFFR 660 News</string>
			<key>logo</key>
			<string>CFFR</string>
			<key>link</key>
			<string>http://rogers-hls.leanstream.co/rogers/cal660.stream/playlist.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>The Light</string>
			<key>logo</key>
			<string>Light</string>
			<key>link</key>
			<string>http://cjli.streamon.fm/listen.m3u</string>
			<key>http</key>
			<string>http://cjca.streamon.fm/listen.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CKDQ 910 AM - Q91 Country</string>
			<key>logo</key>
			<string>CKDQ</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/CKDQAM.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CFAC Sportsnet The Fan 960 AM</string>
			<key>logo</key>
			<string>CFAC</string>
			<key>link</key>
			<string>http://rogers-hls.leanstream.co/rogers/cal960.stream/playlist.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CKMX Funny 1060 AM</string>
			<key>logo</key>
			<string>CKMX</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/CKMXAM.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CHRB 1140 AM</string>
			<key>logo</key>
			<string>CHRB</string>
			<key>link</key>
			<string>http://goldenwestsites.com/stream/chrb_mp3.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CJSR Community Radio 88.5 FM</string>
			<key>logo</key>
			<string>CJSR</string>
			<key>link</key>
			<string>http://cjsr.streamon.fm/listen.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CKNG The Chuck 92.5 FM</string>
			<key>logo</key>
			<string>CKNG</string>
			<key>link</key>
			<string>http://live.leanstream.co/CKNGFM-MP3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CIBW Big West 92.9 FM</string>
			<key>logo</key>
			<string>CIBW</string>
			<key>link</key>
			<string>http://cibw.streamon.fm/listen.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CJLD The One 93.1 FM</string>
			<key>logo</key>
			<string>CJLD</string>
			<key>link</key>
			<string>http://cjld.streamon.fm/listen.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CKGY Real Country 95.5 FM</string>
			<key>logo</key>
			<string>CKGY</string>
			<key>link</key>
			<string>http://newcap.leanstream.co/CKGYFM-MP3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CKEA Cruz 95.7 FM</string>
			<key>logo</key>
			<string>CKEA</string>
			<key>link</key>
			<string>http://ckea.streamon.fm/listen.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CKRA The Breeze 96.3 FM</string>
			<key>logo</key>
			<string>CKRA</string>
			<key>link</key>
			<string>http://newcap.leanstream.co/CKRAFM-MP3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CIRK 97.3 FM </string>
			<key>logo</key>
			<string>CIRK</string>
			<key>link</key>
			<string>http://newcap.leanstream.co/CIRKFM-MP3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CFCW 98.1 Cam FM</string>
			<key>logo</key>
			<string>CFCW</string>
			<key>link</key>
			<string>http://newcap.leanstream.co/CFCWFM-MP3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CFWE Alberta&apos;s Best Country Variety</string>
			<key>logo</key>
			<string>CFWE</string>
			<key>link</key>
			<string>http://entry-amms-1.leanstream-hd.com:2112/CFWEFM-MP3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CIZZ Zed 98.9 FM</string>
			<key>logo</key>
			<string>CIZZ</string>
			<key>link</key>
			<string>http://newcap.leanstream.co/CIZZFM-MP3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CIUP Up! 99.3 FM</string>
			<key>logo</key>
			<string>CIUP</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/CIUPFM.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CFBR The Bear 100.3 FM</string>
			<key>logo</key>
			<string>CFBR</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/CFBRFM.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CKER 101.7 World FM</string>
			<key>logo</key>
			<string>CKER</string>
			<key>link</key>
			<string>http://rogers-hls.leanstream.co/rogers/edm1017.stream/playlist.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CHDI Sonic 102.9 FM</string>
			<key>logo</key>
			<string>CHDI</string>
			<key>link</key>
			<string>http://rogers-hls.leanstream.co/rogers/edm1029.stream/playlist.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CISN Country 103.9 FM</string>
			<key>logo</key>
			<string>CISN</string>
			<key>link</key>
			<string>http://live.leanstream.co/CISNFM-MP3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CJNW Hot 107.1 FM</string>
			<key>logo</key>
			<string>CJNW</string>
			<key>link</key>
			<string>http://cjnw.streamon.fm/listen.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CKFT Mix 107.9 FM</string>
			<key>logo</key>
			<string>CKFT</string>
			<key>link</key>
			<string>http://goldenwestsites.com/stream/ckft_mp3.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CFCW Country Legend 840 AM</string>
			<key>logo</key>
			<string>Legend</string>
			<key>link</key>
			<string>http://newcap.leanstream.co/CFCWAM-MP3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CKJR W1440 AM</string>
			<key>logo</key>
			<string>CKJR</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/CKJRAM.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Olies Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CHNI Q88.9</string>
			<key>logo</key>
			<string>CHNI</string>
			<key>link</key>
			<string>http://newcap.leanstream.co/CHNIFM-MP3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CJPN 90.5 FM</string>
			<key>logo</key>
			<string>CJPN</string>
			<key>link</key>
			<string>http://stream2.statsradio.com:8022/stream.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CFRK New Country 92.3 FM</string>
			<key>logo</key>
			<string>CFRK</string>
			<key>link</key>
			<string>http://newcap.leanstream.co/CFRKFM.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CIHI Up! 93.1 FM</string>
			<key>logo</key>
			<string>CIHI</string>
			<key>link</key>
			<string>http://newcap.leanstream.co/CIHIFM.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dasmesh Darbar</string>
			<key>logo</key>
			<string>Dasmesh</string>
			<key>link</key>
			<string>http://s5.voscast.com:7316/stream?justMakingUnique3</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.178.123.14:7316/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Pop Music (Surrey, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Khalsa FM</string>
			<key>logo</key>
			<string>Khalsa</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.178.123.8:7798/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.178.123.8:7798/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Edmonton (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Christmas Canada </string>
			<key>logo</key>
			<string>Christmas</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://91.121.134.23:8380/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://91.121.134.23:8380/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>RockXradio</string>
			<key>logo</key>
			<string>RockXradio</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://158.69.227.214:8000/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://158.69.227.214:8000/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Rock Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>UCB Canada CKGW-FM 89.3</string>
			<key>logo</key>
			<string>CKGW</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.96.205.59:8930/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.96.205.59:8930/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Chatham-Kent (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>UCB Canada CKJJ-FM</string>
			<key>logo</key>
			<string>CKJJ</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.96.205.59:8235/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.96.205.59:8235/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string>Belleville (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hala Canada (هلا كندا)</string>
			<key>logo</key>
			<string>Hala</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.178.123.20:10146/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.178.123.20:10146/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Pop Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Get Rockin</string>
			<key>logo</key>
			<string>Get</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://158.69.38.194:9887/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://158.69.38.194:9887/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Rock Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RadioTwist</string>
			<key>logo</key>
			<string>RadioTwist</string>
			<key>link</key>
			<string>http://s34.myradiostream.com:11602/listen.mp3</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://91.121.202.224:11602/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>80s Muisc</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RSouvenirs</string>
			<key>logo</key>
			<string>RSouvenirs</string>
			<key>link</key>
			<string>https://player.fastcast4u.com/radiosouvenirsfm1/?pl=winamp&amp;c=0</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.99.170.8:5188/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string>Oldies</string>
		</dict>
		<dict>
			<key>name</key>
			<string>108.8 The End</string>
			<key>logo</key>
			<string>End</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://149.56.147.197:8330/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://149.56.147.197:8330/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Rock Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ritmos Latinos</string>
			<key>logo</key>
			<string>Ritmos</string>
			<key>link</key>
			<string>https://epsilon.shoutca.st/tunein/ritmolatinoradio.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://149.56.147.197:8185/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
