<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>3688694344</string>
		<key>Back</key>
		<string>2429908403</string>
		<key>Banner</key>
		<string>4453436516</string>
		<key>Show1</key>
		<string>2182496390</string>
		<key>Show2</key>
		<string>7133115335</string>
		<key>Show3</key>
		<string>9376135298</string>
		<key>Show4</key>
		<string>5245318593</string>
		<key>Alarm</key>
		<string>9922930207</string>
		<key>CustomBanner</key>
		<string>4907187497</string>
		<key>CustomSplash</key>
		<string>1925800938</string>
		<key>Header</key>
		<string>2974378471</string>
		<key>Footer</key>
		<string>1278153420</string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string>1176515503</string>
		<key>Application</key>
		<string>1447016750</string>
		<key>Developer</key>
		<string>1239592099</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Dasmesh Darbar</string>
			<key>logo</key>
			<string>Dasmesh</string>
			<key>link</key>
			<string>http://s5.voscast.com:7316/stream?justMakingUnique3</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.178.123.14:7316/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Pop (Surrey)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Khalsa FM</string>
			<key>logo</key>
			<string>Khalsa</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.178.123.8:7798/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.178.123.8:7798/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Edmonton</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Christmas Canada </string>
			<key>logo</key>
			<string>Christmas</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://91.121.134.23:8380/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://91.121.134.23:8380/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>RockXradio</string>
			<key>logo</key>
			<string>RockXradio</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://158.69.227.214:8000/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://158.69.227.214:8000/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Rock</string>
		</dict>
		<dict>
			<key>name</key>
			<string>UCB Canada CKGW-FM 89.3</string>
			<key>logo</key>
			<string>CKGW</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.96.205.59:8930/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.96.205.59:8930/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Chatham-Kent</string>
		</dict>
		<dict>
			<key>name</key>
			<string>UCB Canada CKJJ-FM</string>
			<key>logo</key>
			<string>CKJJ</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.96.205.59:8235/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.96.205.59:8235/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string>Belleville</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hala Canada (هلا كندا)</string>
			<key>logo</key>
			<string>Hala</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.178.123.20:10146/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.178.123.20:10146/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Pop</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Get Rockin</string>
			<key>logo</key>
			<string>Get</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://158.69.38.194:9887/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://158.69.38.194:9887/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Rock</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RadioTwist</string>
			<key>logo</key>
			<string>RadioTwist</string>
			<key>link</key>
			<string>http://s34.myradiostream.com:11602/listen.mp3</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://91.121.202.224:11602/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>80s</string>
		</dict>
		<dict>
			<key>name</key>
			<string>KISS Love</string>
			<key>logo</key>
			<string>KISS</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://66.70.187.44:9134/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://66.70.187.44:9134/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Oldies</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RSouvenirs</string>
			<key>logo</key>
			<string>RSouvenirs</string>
			<key>link</key>
			<string>https://player.fastcast4u.com/radiosouvenirsfm1/?pl=winamp&amp;c=0</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.99.170.8:5188/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string>Oldies</string>
		</dict>
		<dict>
			<key>name</key>
			<string>108.8 The End</string>
			<key>logo</key>
			<string>End</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://149.56.147.197:8330/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://149.56.147.197:8330/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Rock</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ritmos Latinos</string>
			<key>logo</key>
			<string>Ritmos</string>
			<key>link</key>
			<string>https://epsilon.shoutca.st/tunein/ritmolatinoradio.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://149.56.147.197:8185/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
