<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>9190138007</string>
		<key>Back</key>
		<string>3351843184</string>
		<key>Banner</key>
		<string>1</string>
		<key>Show1</key>
		<string>1</string>
		<key>Show2</key>
		<string>1</string>
		<key>Show3</key>
		<string>1</string>
		<key>Show4</key>
		<string>1</string>
		<key>Alarm</key>
		<string>1</string>
		<key>CustomBanner</key>
		<string>1</string>
		<key>CustomSplash</key>
		<string>7493912959</string>
		<key>Header</key>
		<string>8615422938</string>
		<key>Footer</key>
		<string>4217368144</string>
		<key>Email</key>
		<string>ios.apps.community@gmail.com</string>
		<key>Alternative</key>
		<string>1357567658</string>
		<key>Application</key>
		<string>1463206853</string>
		<key>Developer</key>
		<string>1360678770</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Menu</key>
	<array>
		<string>Top</string>
		<string>News</string>
		<string>Local</string>
		<string>Classic</string>
		<string>Music</string>
		<string>Sport</string>
		<string>Talk</string>
		<string>Youth</string>
		<string>Oldies</string>
	</array>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Rádio Slovensko</string>
			<key>logo</key>
			<string>Slovensko</string>
			<key>link</key>
			<string>http://live.slovakradio.sk:8000/Slovensko_32.mp3.m3u</string>
			<key>http</key>
			<string>http://live.slovakradio.sk:8000/Slovensko_128.mp3.m3u</string>
			<key>note</key>
			<string>News/Feature</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rádio Devín</string>
			<key>logo</key>
			<string>Devin</string>
			<key>link</key>
			<string>http://live.slovakradio.sk:8000/Devin_32.mp3.m3u</string>
			<key>http</key>
			<string>http://live.slovakradio.sk:8000/Devin_128.mp3.m3u</string>
			<key>note</key>
			<string>Cultural</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rádio_FM</string>
			<key>logo</key>
			<string>FM</string>
			<key>link</key>
			<string>http://live.slovakradio.sk:8000/FM_32.mp3.m3u</string>
			<key>http</key>
			<string>http://live.slovakradio.sk:8000/FM_128.mp3.m3u</string>
			<key>note</key>
			<string>Pop/Rock/Alternative Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rádio Regina Bratislava</string>
			<key>logo</key>
			<string>Bratislava</string>
			<key>link</key>
			<string>http://live.slovakradio.sk:8000/Regina_BA_32.mp3.m3u</string>
			<key>http</key>
			<string>http://live.slovakradio.sk:8000/Regina_BA_128.mp3.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rádio Regina Košice</string>
			<key>logo</key>
			<string>Regina</string>
			<key>link</key>
			<string>http://live.slovakradio.sk:8000/Regina_KE_32.mp3.m3u</string>
			<key>http</key>
			<string>http://live.slovakradio.sk:8000/Regina_KE_128.mp3.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rádio Regina Banská Bystrica</string>
			<key>logo</key>
			<string>Bystrica</string>
			<key>link</key>
			<string>http://live.slovakradio.sk:8000/Regina_BB_32.mp3.m3u</string>
			<key>http</key>
			<string>http://live.slovakradio.sk:8000/Regina_BB_128.mp3.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Patria</string>
			<key>logo</key>
			<string>Patria</string>
			<key>link</key>
			<string>http://live.slovakradio.sk:8000/Patria_32.mp3.m3u</string>
			<key>http</key>
			<string>http://live.slovakradio.sk:8000/Patria_128.mp3.m3u</string>
			<key>note</key>
			<string>Ethnic minorities</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RSI (Radio Slovakia International)</string>
			<key>logo</key>
			<string>RSI</string>
			<key>link</key>
			<string>http://live.slovakradio.sk:8000/RSI_32.mp3.m3u</string>
			<key>http</key>
			<string>http://live.slovakradio.sk:8000/RSI_128.mp3.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rádio Klasika</string>
			<key>logo</key>
			<string>Klasika</string>
			<key>link</key>
			<string>http://live.slovakradio.sk:8000/Klasika_32.mp3.m3u</string>
			<key>http</key>
			<string>http://live.slovakradio.sk:8000/Klasika_128.mp3.m3u</string>
			<key>note</key>
			<string>Classical Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rádio Litera</string>
			<key>logo</key>
			<string>Litera</string>
			<key>link</key>
			<string>http://live.slovakradio.sk:8000/Litera_32.mp3.m3u</string>
			<key>http</key>
			<string>http://live.slovakradio.sk:8000/Litera_128.mp3.m3u</string>
			<key>note</key>
			<string>Literature</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rádio Junior</string>
			<key>logo</key>
			<string>Junior</string>
			<key>link</key>
			<string>http://live.slovakradio.sk:8000/Junior_32.mp3.m3u</string>
			<key>http</key>
			<string>http://live.slovakradio.sk:8000/Junior_128.mp3.m3u</string>
			<key>note</key>
			<string>Youth</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Best FM</string>
			<key>logo</key>
			<string>Best</string>
			<key>link</key>
			<string>http://stream.bestfm.sk/128.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Oldies</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dobré Rádio</string>
			<key>logo</key>
			<string>Dobre</string>
			<key>link</key>
			<string>http://stream.dobreradio.sk:8000/Dobre128mp3.m3u</string>
			<key>http</key>
			<string>http://stream.dobreradio.sk:8000/Dobre192mp3.m3u</string>
			<key>note</key>
			<string>Prešov (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Europa 2</string>
			<key>logo</key>
			<string>Europa</string>
			<key>link</key>
			<string>http://pool.cdn.lagardere.cz/fm-europa2sk-128.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 30</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fun Radio</string>
			<key>logo</key>
			<string>Fun</string>
			<key>link</key>
			<string>http://stream.funradio.sk:8000/fun64.mp3.m3u</string>
			<key>http</key>
			<string>http://stream.funradio.sk:8000/fun128.mp3.m3u</string>
			<key>note</key>
			<string>Top 30</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fun Radio Top 20</string>
			<key>logo</key>
			<string>20</string>
			<key>link</key>
			<string>http://stream.funradio.sk:8000/top2064.mp3.m3u</string>
			<key>http</key>
			<string>http://stream.funradio.sk:8000/top20128.mp3.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fun Radio Novinky</string>
			<key>logo</key>
			<string>Novinky</string>
			<key>link</key>
			<string>http://stream.funradio.sk:8000/new64.mp3.m3u</string>
			<key>http</key>
			<string>http://stream.funradio.sk:8000/new128.mp3.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fun Radio Dance</string>
			<key>logo</key>
			<string>Dance</string>
			<key>link</key>
			<string>http://stream.funradio.sk:8000/dance64.mp3.m3u</string>
			<key>http</key>
			<string>http://stream.funradio.sk:8000/dance128.mp3.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fun Radio 80.90.Roky</string>
			<key>logo</key>
			<string>80</string>
			<key>link</key>
			<string>http://stream.funradio.sk:8000/80-90-64.mp3.m3u</string>
			<key>http</key>
			<string>http://stream.funradio.sk:8000/80-90-128.mp3.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fun Radio Rock</string>
			<key>logo</key>
			<string>Rock</string>
			<key>link</key>
			<string>http://stream.funradio.sk:8000/rock64.mp3.m3u</string>
			<key>http</key>
			<string>http://stream.funradio.sk:8000/rock128.mp3.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fun Radio Love Songs</string>
			<key>logo</key>
			<string>Love</string>
			<key>link</key>
			<string>http://stream.funradio.sk:8000/slow64.mp3.m3u</string>
			<key>http</key>
			<string>http://stream.funradio.sk:8000/slow128.mp3.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fun Radio Pre Deti</string>
			<key>logo</key>
			<string>Pre</string>
			<key>link</key>
			<string>http://stream.funradio.sk:8000/children64.mp3.m3u</string>
			<key>http</key>
			<string>http://stream.funradio.sk:8000/children128.mp3.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fun Radio HipHop</string>
			<key>logo</key>
			<string>HipHop</string>
			<key>link</key>
			<string>http://stream.funradio.sk:8000/hiphop64.mp3.m3u</string>
			<key>http</key>
			<string>http://stream.funradio.sk:8000/hiphop128.mp3.m3u</string>
			<key>note</key>
			<string>HipHop/RnB Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fun Radio Czechoslovakia</string>
			<key>logo</key>
			<string>Czechoslovakia</string>
			<key>link</key>
			<string>http://stream.funradio.sk:8000/cs64.mp3.m3u</string>
			<key>http</key>
			<string>http://stream.funradio.sk:8000/cs128.mp3.m3u</string>
			<key>note</key>
			<string>Pop Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fun Radio Running</string>
			<key>logo</key>
			<string>Running</string>
			<key>link</key>
			<string>http://stream.funradio.sk:8000/running64.mp3.m3u</string>
			<key>http</key>
			<string>http://stream.funradio.sk:8000/running128.mp3.m3u</string>
			<key>note</key>
			<string>UpBeat</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rádio 7</string>
			<key>logo</key>
			<string>7</string>
			<key>link</key>
			<string>http://37.9.170.32:8000/128.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Christian</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rádio Aktual</string>
			<key>logo</key>
			<string>Aktual</string>
			<key>link</key>
			<string>http://stream.radioaktual.sk:8000/aktual64.mp3</string>
			<key>http</key>
			<string>http://stream.radioaktual.sk:8000/aktual128.mp3</string>
			<key>note</key>
			<string>News/Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rádio Aligátor</string>
			<key>logo</key>
			<string>Aligator</string>
			<key>link</key>
			<string>http://stream.aligator.sk:8000/aligator_128.mp3.m3u</string>
			<key>http</key>
			<string>http://stream.aligator.sk:8000/aligator_192.mp3.m3u</string>
			<key>note</key>
			<string>Rock Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rádio Anténa Rock</string>
			<key>logo</key>
			<string>Antena</string>
			<key>link</key>
			<string>http://stream.antenarock.sk/antena-lo.mp3.m3u</string>
			<key>http</key>
			<string>http://stream.antenarock.sk/antena-hi.mp3.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rádio Beta</string>
			<key>logo</key>
			<string>Beta</string>
			<key>link</key>
			<string>http://server1.internetoveradio.sk:2199/tunein/radiobeta.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Bojnice (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Expres</string>
			<key>logo</key>
			<string>Expres</string>
			<key>link</key>
			<string>http://stream.expres.sk:8000/128.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rádio Frontinus</string>
			<key>logo</key>
			<string>Frontinus</string>
			<key>link</key>
			<string>http://www.frontinus.sk/frontinus128.m3u</string>
			<key>http</key>
			<string>http://www.frontinus.sk/frontinus64.m3u</string>
			<key>note</key>
			<string>Žilina (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Jemné</string>
			<key>logo</key>
			<string>Jemne</string>
			<key>link</key>
			<string>http://stream.jemne.sk/jemne-lo.mp3.m3u</string>
			<key>http</key>
			<string>http://stream.jemne.sk/jemne-hi.mp3.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rádio Kiss</string>
			<key>logo</key>
			<string>Kiss</string>
			<key>link</key>
			<string>http://195.146.10.45:8000/kissmp3pro_64.mp3.m3u</string>
			<key>http</key>
			<string>http://195.146.10.45:8000/kissmp3_128.mp3.m3u</string>
			<key>note</key>
			<string>Košice (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rádio Košice</string>
			<key>logo</key>
			<string>Kosice</string>
			<key>link</key>
			<string>http://stream.ecce.sk:8000/radiokosice-64.mp3.m3u</string>
			<key>http</key>
			<string>http://stream.ecce.sk:8000/radiokosice-128.mp3.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Liptov</string>
			<key>logo</key>
			<string>Liptov</string>
			<key>link</key>
			<string>http://www.radioliptov.sk/stream.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Liptovský Mikuláš (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rádio Lumen</string>
			<key>logo</key>
			<string>Lumen</string>
			<key>link</key>
			<string>http://audio.lumen.sk:8000/live64.mp3.m3u</string>
			<key>http</key>
			<string>http://audio.lumen.sk:8000/live128.mp3.m3u</string>
			<key>note</key>
			<string>Banská Bystrica (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Max</string>
			<key>logo</key>
			<string>Max</string>
			<key>link</key>
			<string>http://mp3stream4.abradio.cz:8000/max64.mp3.m3u</string>
			<key>http</key>
			<string>http://mp3stream4.abradio.cz:8000/max128.mp3.m3u</string>
			<key>note</key>
			<string>Nitra</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Modra</string>
			<key>logo</key>
			<string>Modra</string>
			<key>link</key>
			<string>http://217.75.82.149:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio One</string>
			<key>logo</key>
			<string>One</string>
			<key>link</key>
			<string>http://217.75.92.14:8000/nr160kb.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Nitra (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio One Retro</string>
			<key>logo</key>
			<string>Retro</string>
			<key>link</key>
			<string>http://217.75.92.14:8000/retro.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>90s Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio One Rock</string>
			<key>logo</key>
			<string>Roc</string>
			<key>link</key>
			<string>http://217.75.92.14:8000/rrock.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Banská Bystrica (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rádio Pieštany</string>
			<key>logo</key>
			<string>Piestany</string>
			<key>link</key>
			<string>http://live.radiopiestany.sk:8000/live.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rádio Plus 105,9 FM</string>
			<key>logo</key>
			<string>Plus</string>
			<key>link</key>
			<string>http://stream.sepia.sk:8000/plus128.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Nitra (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rádio Rebeca</string>
			<key>logo</key>
			<string>Rebeca</string>
			<key>link</key>
			<string>http://server1.internetoveradio.sk:8822/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop/Rock Music (Martin, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rádio Sever</string>
			<key>logo</key>
			<string>Sever</string>
			<key>link</key>
			<string>http://stream.sepia.sk:8000/sever128.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop/Rock/Dance Music (Žilina, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio SiTy</string>
			<key>logo</key>
			<string>SiTy</string>
			<key>link</key>
			<string>http://www.radiosity.sk/sity32.m3u</string>
			<key>http</key>
			<string>http://www.radiosity.sk/sity96.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rádio Šport</string>
			<key>logo</key>
			<string>Sport</string>
			<key>link</key>
			<string>http://stream.radiosport.sk:8000/Sport192.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Viva Metropol</string>
			<key>logo</key>
			<string>Viva</string>
			<key>link</key>
			<string>http://stream.sepia.sk:8000/viva128.mp3.m3u</string>
			<key>http</key>
			<string>http://stream.sepia.sk:8000/viva24.aac.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rádio Vlna</string>
			<key>logo</key>
			<string>Vlna</string>
			<key>link</key>
			<string>http://stream.radiovlna.sk/vlna-lo.mp3.m3u</string>
			<key>http</key>
			<string>http://stream.radiovlna.sk/vlna-hi.mp3.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio WOW</string>
			<key>logo</key>
			<string>WOW</string>
			<key>link</key>
			<string>http://stream.radiowow.sk:8200/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Bánovce (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Yes</string>
			<key>logo</key>
			<string>Yes</string>
			<key>link</key>
			<string>http://www.radioyes.sk:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Topolcany (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rocková republika</string>
			<key>logo</key>
			<string>republika</string>
			<key>link</key>
			<string>http://217.67.31.66:8000/republika128.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Rock Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sky Rádio</string>
			<key>logo</key>
			<string>Sky</string>
			<key>link</key>
			<string>http://stream.skyradio.sk:8000/sky128.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Prešov (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Trnavské Rádio</string>
			<key>logo</key>
			<string>Trnavske</string>
			<key>link</key>
			<string>http://stream.trnavskeradio.sk:8000/trnavske.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Trnava (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Záhorácke Rádio</string>
			<key>logo</key>
			<string>Zahoracke</string>
			<key>link</key>
			<string>http://play.zahorackeradio.sk/live/high.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Skalica (Local)</string>
		</dict>
	</array>
</dict>
</plist>
