<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Antigua</string>
		<key>logo</key>
		<string>Antigua</string>
		<key>link</key>
		<string>https://canalantigua.tv/</string>
		<key>http</key>
		<string>https://canalantigua.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Vea</string>
		<key>logo</key>
		<string>Vea</string>
		<key>link</key>
		<string>http://veacanal.net/portal/</string>
		<key>http</key>
		<string>http://veacanal.net/portal/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TeleVos</string>
		<key>logo</key>
		<string>TeleVos</string>
		<key>link</key>
		<string>http://www.televos.tv/</string>
		<key>http</key>
		<string>https://www.tvquetzachapin.tv/tv-online/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Chapin 3</string>
		<key>logo</key>
		<string>3</string>
		<key>link</key>
		<string>http://www.chapintv.com/envivo-3</string>
		<key>http</key>
		<string>http://www.chapintv.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Chapin 7</string>
		<key>logo</key>
		<string>7</string>
		<key>link</key>
		<string>http://www.chapintv.com/envivo-7</string>
		<key>http</key>
		<string>http://www.chapintv.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Chapin 23</string>
		<key>logo</key>
		<string>23</string>
		<key>link</key>
		<string>http://www.chapintv.com/envivo-23</string>
		<key>http</key>
		<string>http://www.chapintv.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Quetzachapin</string>
		<key>logo</key>
		<string>Quetzachapin</string>
		<key>link</key>
		<string>https://www.tvquetzachapin.tv/tv-online/</string>
		<key>http</key>
		<string>https://www.tvquetzachapin.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>USAC</string>
		<key>logo</key>
		<string>USAC</string>
		<key>link</key>
		<string>http://www.tvusac.com/?p=116</string>
		<key>http</key>
		<string>http://www.tvusac.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Maya (AVANCSO)</string>
		<key>logo</key>
		<string>Maya</string>
		<key>link</key>
		<string>http://www.ustream.tv/channel/tv-maya</string>
		<key>http</key>
		<string>http://avancso.org.gt/tvmaya/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Antigua Sports</string>
		<key>logo</key>
		<string>Sports</string>
		<key>link</key>
		<string>https://www.canalantigua.tv/seccion/deportes/</string>
		<key>http</key>
		<string>https://www.canalantigua.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Azteca Guatemala</string>
		<key>logo</key>
		<string>Azteca</string>
		<key>link</key>
		<string>http://www.azteca.com.gt/envivo.html</string>
		<key>http</key>
		<string>http://www.azteca.com.gt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Amigos</string>
		<key>logo</key>
		<string>Amigos</string>
		<key>link</key>
		<string>http://www.amigostv.com.gt/</string>
		<key>http</key>
		<string>http://www.amigostv.com.gt/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>27 de la Esperanza</string>
		<key>logo</key>
		<string>27</string>
		<key>link</key>
		<string>https://www.canal27.org/</string>
		<key>http</key>
		<string>https://livestream.com/accounts/13639189</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Enlace</string>
		<key>logo</key>
		<string>Enlace</string>
		<key>link</key>
		<string>https://www.enlace.org/envivo/</string>
		<key>http</key>
		<string>https://www.enlace.org</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Guatevision</string>
		<key>logo</key>
		<string>Guatevision</string>
		<key>link</key>
		<string>https://www.guatevision.com/en-vivo/</string>
		<key>http</key>
		<string>https://www.guatevision.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Gobierno de Guatemala</string>
		<key>logo</key>
		<string>Gobierno</string>
		<key>link</key>
		<string>http://mcd.gob.gt/canal-oficial-gobierno-de-guatemala/</string>
		<key>http</key>
		<string>http://mcd.gob.gt</string>
	</dict>
</array>
</plist>
