<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>TRM</string>
		<key>logo</key>
		<string>TRM</string>
		<key>link</key>
		<string>http://www.trm.md/ro/tv-on-line/</string>
		<key>http</key>
		<string>http://www.trm.md</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Publika</string>
		<key>logo</key>
		<string>Publika</string>
		<key>link</key>
		<string>http://www.publika.md/live</string>
		<key>http</key>
		<string>http://www.publika.md</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Pro TV Chişinău</string>
		<key>logo</key>
		<string>Pro</string>
		<key>link</key>
		<string>http://protv.md/protv-live.html</string>
		<key>http</key>
		<string>http://protv.md</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Realitatea</string>
		<key>logo</key>
		<string>Realitatea</string>
		<key>link</key>
		<string>http://www.realitatea.md/tv</string>
		<key>http</key>
		<string>http://www.realitatea.md</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Jurnal</string>
		<key>logo</key>
		<string>Jurnal</string>
		<key>link</key>
		<string>http://www.jurnaltv.md/ro/live/</string>
		<key>http</key>
		<string>http://www.jurnaltv.md</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Acasă în Moldova</string>
		<key>logo</key>
		<string>Acasa</string>
		<key>link</key>
		<string>http://acasatv.perfecte.md/live/</string>
		<key>http</key>
		<string>http://acasatv.perfecte.md</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Moldovan Business Channel</string>
		<key>logo</key>
		<string>Business</string>
		<key>link</key>
		<string>http://mbc.md/rom/live/</string>
		<key>http</key>
		<string>http://mbc.md</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TVR Moldova</string>
		<key>logo</key>
		<string>TVR</string>
		<key>link</key>
		<string>http://www.tvrplus.ro/live-tvr-moldova</string>
		<key>http</key>
		<string>http://www.tvrplus.ro</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Accent</string>
		<key>logo</key>
		<string>Accent</string>
		<key>link</key>
		<string>http://www.a-tv.md/index.php?do=static&amp;page=live</string>
		<key>http</key>
		<string>http://www.a-tv.md/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Canal Regional</string>
		<key>logo</key>
		<string>Regional</string>
		<key>link</key>
		<string>http://www.canalregional.md/index.php/live</string>
		<key>http</key>
		<string>http://www.canalregional.md</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ELITA</string>
		<key>logo</key>
		<string>ELITA</string>
		<key>link</key>
		<string>http://www.tvelita.md/index.php/live.html</string>
		<key>http</key>
		<string>http://www.aicitv.md/index.php/ro/2013-02-22-12-20-34</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Busuioc</string>
		<key>logo</key>
		<string>Busuioc</string>
		<key>link</key>
		<string>http://busuioctv.md/live/</string>
		<key>http</key>
		<string>http://busuioctv.md</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RU TV Moldova</string>
		<key>logo</key>
		<string>RU</string>
		<key>link</key>
		<string>http://rutv.md/</string>
		<key>http</key>
		<string>http://rutv.md/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Alfa Omega</string>
		<key>logo</key>
		<string>Alfa</string>
		<key>link</key>
		<string>http://alfaomega.tv/canal-tv/alfa-omega-tv</string>
		<key>http</key>
		<string>http://alfaomega.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Credo</string>
		<key>logo</key>
		<string>Credo</string>
		<key>link</key>
		<string>http://www.credo.tv/index.php/live</string>
		<key>http</key>
		<string>http://www.credo.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Atomyx</string>
		<key>logo</key>
		<string>Atomyx</string>
		<key>link</key>
		<string>http://atomyxtv.webs.com/live.htm</string>
		<key>http</key>
		<string>http://atomyxtv.webs.com/livehd.htm</string>
	</dict>
</array>
</plist>
