<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string></string>
		<key>Back</key>
		<string></string>
		<key>Banner</key>
		<string></string>
		<key>Show1</key>
		<string></string>
		<key>Show2</key>
		<string></string>
		<key>Show3</key>
		<string></string>
		<key>Show4</key>
		<string></string>
		<key>Alarm</key>
		<string></string>
		<key>CustomBanner</key>
		<string></string>
		<key>CustomSplash</key>
		<string></string>
		<key>Header</key>
		<string></string>
		<key>Footer</key>
		<string></string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string></string>
		<key>Application</key>
		<string></string>
		<key>Developer</key>
		<string></string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>EXO FM 105.9 FM</string>
			<key>logo</key>
			<string>EXO</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/exo-fm-105-9-fm,19550.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fun Radio Reunion 95.5 FM</string>
			<key>logo</key>
			<string>Fun</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/fun-radio-reunion-95-5-fm,19551.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>HIT FM Reunion 101.9</string>
			<key>logo</key>
			<string>HIT</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/hitfm-reunion,19552.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRJ Réunion 100.0 FM</string>
			<key>logo</key>
			<string>NRJ</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/nrj-reunion-100-0-fm,19553.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Freedom</string>
			<key>logo</key>
			<string>Freedom</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-freedom,8.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Pikan</string>
			<key>logo</key>
			<string>Pikan</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-pikan,19554.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Vie Reunion 105.5</string>
			<key>logo</key>
			<string>Vie</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-vie-reunion,19555.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>RSL Radio 104.7 FM</string>
			<key>logo</key>
			<string>RSL</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/rsl-radio-104-7-fm,18736.m3u</string>
			<key>http</key>
			<string>http://rslradio.ice.infomaniak.ch/rslradio-128.mp3</string>
			<key>note</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
