<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1</string>
		<key>Back</key>
		<string>1</string>
		<key>Banner</key>
		<string>1</string>
		<key>Show1</key>
		<string>1</string>
		<key>Show2</key>
		<string>1</string>
		<key>Show3</key>
		<string>1</string>
		<key>Show4</key>
		<string>1</string>
		<key>Alarm</key>
		<string>1</string>
		<key>CustomBanner</key>
		<string>1</string>
		<key>CustomSplash</key>
		<string>1</string>
		<key>Header</key>
		<string>1</string>
		<key>Footer</key>
		<string>1</string>
		<key>Email</key>
		<string>1</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1</string>
		<key>Developer</key>
		<string>1</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Radio Slovenija A1 (PRVI)</string>
			<key>logo</key>
			<string>A1</string>
			<key>link</key>
			<string>http://mp3.rtvslo.si/ra1.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News/Information</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Slovenija VAL 202</string>
			<key>logo</key>
			<string>Val202</string>
			<key>link</key>
			<string>http://mp3.rtvslo.si/val202.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop/Entertainmnet</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Slovenija ARS</string>
			<key>logo</key>
			<string>Ars</string>
			<key>link</key>
			<string>http://mp3.rtvslo.si/ars.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music/Educational</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Capodistria</string>
			<key>logo</key>
			<string>Capodistria</string>
			<key>link</key>
			<string>http://mp3.rtvslo.si/capo.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Koper</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Koper</string>
			<key>logo</key>
			<string>Koper</string>
			<key>link</key>
			<string>http://mp3.rtvslo.si/rakp.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Maribor</string>
			<key>logo</key>
			<string>Maribor</string>
			<key>link</key>
			<string>http://mp3.rtvslo.si/rmb.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>SI (Radio Slovenija International)</string>
			<key>logo</key>
			<string>International</string>
			<key>link</key>
			<string>http://mp3.rtvslo.si/rsi.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music/Entertainment</string>
		</dict>
	</array>
</dict>
</plist>
