<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>8457318918</string>
		<key>Back</key>
		<string>8615007682</string>
		<key>Banner</key>
		<string>3095125680</string>
		<key>Show1</key>
		<string>1084002028</string>
		<key>Show2</key>
		<string>4640103656</string>
		<key>Show3</key>
		<string>8196205288</string>
		<key>Show4</key>
		<string>6499980237</string>
		<key>Alarm</key>
		<string>6569522170</string>
		<key>CustomBanner</key>
		<string>3436092374</string>
		<key>CustomSplash</key>
		<string>5051167196</string>
		<key>Header</key>
		<string>7499460467</string>
		<key>Footer</key>
		<string>1696453533</string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string>1208536891</string>
		<key>Application</key>
		<string>1434619586</string>
		<key>Developer</key>
		<string>1239592099</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Radio Slovenija A1 (PRVI)</string>
			<key>logo</key>
			<string>A1</string>
			<key>link</key>
			<string>http://mp3.rtvslo.si/ra1.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News/Information</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Slovenija VAL 202</string>
			<key>logo</key>
			<string>Val202</string>
			<key>link</key>
			<string>http://mp3.rtvslo.si/val202.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop/Entertainmnet</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Slovenija ARS</string>
			<key>logo</key>
			<string>Ars</string>
			<key>link</key>
			<string>http://mp3.rtvslo.si/ars.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music/Educational</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Capodistria</string>
			<key>logo</key>
			<string>Capodistria</string>
			<key>link</key>
			<string>http://mp3.rtvslo.si/capo.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Koper</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Koper</string>
			<key>logo</key>
			<string>Koper</string>
			<key>link</key>
			<string>http://mp3.rtvslo.si/rakp.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Maribor</string>
			<key>logo</key>
			<string>Maribor</string>
			<key>link</key>
			<string>http://mp3.rtvslo.si/rmb.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>SI (Radio Slovenija International)</string>
			<key>logo</key>
			<string>International</string>
			<key>link</key>
			<string>http://mp3.rtvslo.si/rsi.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music/Entertainment</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MMR (Muravidéki Magyar Rádió)</string>
			<key>logo</key>
			<string>MMR</string>
			<key>link</key>
			<string>http://mp3.rtvslo.si/mmr.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Hungarian (Lendava)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hitradio Center</string>
			<key>logo</key>
			<string>Hitradio</string>
			<key>link</key>
			<string>http://stream.radiocenter.si/listen.pls</string>
			<key>http</key>
			<string>http://stream2.radiocenter.si:8068/listen.pls?sid=1</string>
			<key>note</key>
			<string>Top 40</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hitradio Center Pop</string>
			<key>logo</key>
			<string>Pop</string>
			<key>link</key>
			<string>http://stream2.radiocenter.si:8058/listen.pls?sid=1</string>
			<key>http</key>
			<string>http://stream2.radiocenter.si:8072/listen.pls?sid=1</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hitradio Center Love</string>
			<key>logo</key>
			<string>Love</string>
			<key>link</key>
			<string>http://stream2.radiocenter.si:8060/listen.pls?sid=1</string>
			<key>http</key>
			<string>http://stream2.radiocenter.si:8076/listen.pls?sid=1</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hitradio Center 80s</string>
			<key>logo</key>
			<string>80s</string>
			<key>link</key>
			<string>http://stream2.radiocenter.si:8064/listen.pls?sid=1</string>
			<key>http</key>
			<string>http://stream2.radiocenter.si:8078/listen.pls?sid=1</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hitradio Center Megamix </string>
			<key>logo</key>
			<string>Megamix</string>
			<key>link</key>
			<string>http://stream2.radiocenter.si:8066/listen.pls?sid=1</string>
			<key>http</key>
			<string>http://stream2.radiocenter.si:8074/listen.pls?sid=1</string>
			<key>note</key>
			<string>Top 40</string>
		</dict>
	</array>
</dict>
</plist>
