<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Sun</string>
		<key>logo</key>
		<string>Sun</string>
		<key>link</key>
		<string>http://stream.sun.mv/livestream</string>
		<key>http</key>
		<string>http://stream.sun.mv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Maldives</string>
		<key>logo</key>
		<string>Maldives</string>
		<key>link</key>
		<string>https://maldivestv.mv/</string>
		<key>http</key>
		<string>https://maldivestv.mv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>VNews</string>
		<key>logo</key>
		<string>VNews</string>
		<key>link</key>
		<string>http://www.vnews.mv/vtv/</string>
		<key>http</key>
		<string>http://www.vnews.mv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Rupavahini</string>
		<key>logo</key>
		<string>Rupavahini</string>
		<key>link</key>
		<string>http://www.rupavahini.lk/index.php?option=com_content&amp;view=article&amp;id=2958&amp;Itemid=209</string>
		<key>http</key>
		<string>http://www.rupavahini.lk</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ITN</string>
		<key>logo</key>
		<string>ITN</string>
		<key>link</key>
		<string>http://www.itntv.lk/</string>
		<key>http</key>
		<string>http://www.itntv.lk/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Vasantham</string>
		<key>logo</key>
		<string>Vasantham</string>
		<key>link</key>
		<string>http://www.vasantham.lk/</string>
		<key>http</key>
		<string>http://www.vasantham.lk/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Swarnavahini</string>
		<key>logo</key>
		<string>Swarnavahini</string>
		<key>link</key>
		<string>https://www.youtube.com/channel/UCAH7R88V7gz7RqJv78nNOzg/videos?view=2&amp;live_view=501&amp;flow=grid</string>
		<key>http</key>
		<string>https://www.youtube.com/channel/UCAH7R88V7gz7RqJv78nNOzg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>1</string>
		<key>logo</key>
		<string>1</string>
		<key>link</key>
		<string>http://tv1.lk/watch-live/</string>
		<key>http</key>
		<string>https://www.youtube.com/channel/UCoQXpCWew0Q3qz6buZYOAFg/videos?flow=grid&amp;live_view=501&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hiru</string>
		<key>logo</key>
		<string>Hiru</string>
		<key>link</key>
		<string>http://www.hirutv.lk/hirulive.php</string>
		<key>http</key>
		<string>http://www.hirutv.lk/hiruyoutubelive.php</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Athavan</string>
		<key>logo</key>
		<string>Athavan</string>
		<key>link</key>
		<string>http://athavantv.com/</string>
		<key>http</key>
		<string>http://athavannews.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Derana</string>
		<key>logo</key>
		<string>Derana</string>
		<key>link</key>
		<string>http://www.derana.lk/live/</string>
		<key>http</key>
		<string>https://www.youtube.com/user/tvderanavideos/videos?view=2&amp;live_view=501&amp;flow=grid</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Siyatha</string>
		<key>logo</key>
		<string>Siyatha</string>
		<key>link</key>
		<string>http://siyathatv.lk/live/</string>
		<key>http</key>
		<string>http://siyathatv.lk/live-stream/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sirasa</string>
		<key>logo</key>
		<string>Sirasa</string>
		<key>link</key>
		<string>http://sirasatv.lk/watch-live/</string>
		<key>http</key>
		<string>http://sirasatv.lk</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NewsFirst</string>
		<key>logo</key>
		<string>NewsFirst</string>
		<key>link</key>
		<string>https://www.newsfirst.lk/live/</string>
		<key>http</key>
		<string>https://www.newsfirst.lk</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TNL Telshan</string>
		<key>logo</key>
		<string>TNL</string>
		<key>link</key>
		<string>https://tnltvapp.github.io/dvr/</string>
		<key>http</key>
		<string>http://tnltv.lk/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nethra (Eye)</string>
		<key>logo</key>
		<string>Nethra</string>
		<key>link</key>
		<string>http://www.nethratv.lk/index.php/nethratv-live-webcast</string>
		<key>http</key>
		<string>http://www.nethratv.lk/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sri</string>
		<key>logo</key>
		<string>Sri</string>
		<key>link</key>
		<string>http://www.sritv.lk/sritvlive.php</string>
		<key>http</key>
		<string>http://www.sritv.lk</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Vettri</string>
		<key>logo</key>
		<string>Vettri</string>
		<key>link</key>
		<string>http://www.vettritv.com/</string>
		<key>http</key>
		<string>http://www.vettritv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kiss</string>
		<key>logo</key>
		<string>Kiss</string>
		<key>link</key>
		<string>http://www.kiss-tv.com/</string>
		<key>http</key>
		<string>http://www.kiss-tv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Real</string>
		<key>logo</key>
		<string>Real</string>
		<key>link</key>
		<string>http://www.realtvlive.com/</string>
		<key>http</key>
		<string>http://www.realtvlive.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Learn</string>
		<key>logo</key>
		<string>Learn</string>
		<key>link</key>
		<string>http://learntv.lk/stream1</string>
		<key>http</key>
		<string>http://learntv.lk/stream2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>The Buddhist</string>
		<key>logo</key>
		<string>Buddhist</string>
		<key>link</key>
		<string>https://www.youtube.com/channel/UCfQqHQ0uiF7OHo6peS-8Rsw/videos?flow=grid&amp;view=2&amp;live_view=501</string>
		<key>http</key>
		<string>https://www.thebuddhist.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Shraddha</string>
		<key>logo</key>
		<string>Shraddha</string>
		<key>link</key>
		<string>https://www.shraddha.lk/tv/</string>
		<key>http</key>
		<string>https://www.youtube.com/user/ShraddhaTV/videos?flow=grid&amp;view=2&amp;live_view=501</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Verbum</string>
		<key>logo</key>
		<string>Verbum</string>
		<key>link</key>
		<string>http://www.verbumtv.com/live.html</string>
		<key>http</key>
		<string>http://www.verbumtv.com</string>
	</dict>
</array>
</plist>
