<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string></string>
		<key>Main</key>
		<string></string>
		<key>Back</key>
		<string></string>
		<key>Banner</key>
		<string></string>
		<key>Show1</key>
		<string></string>
		<key>Show2</key>
		<string></string>
		<key>Show3</key>
		<string></string>
		<key>Show4</key>
		<string></string>
		<key>Alarm</key>
		<string></string>
		<key>CustomBanner</key>
		<string></string>
		<key>CustomSplash</key>
		<string></string>
		<key>Header</key>
		<string></string>
		<key>Footer</key>
		<string></string>
		<key>Email</key>
		<string>ios.apps.community@gmail.com</string>
		<key>Alternative</key>
		<string></string>
		<key>Application</key>
		<string></string>
		<key>Developer</key>
		<string></string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Menu</key>
	<array>
		<string>Top</string>
		<string>News</string>
		<string>Local</string>
		<string>Classic</string>
		<string>Music</string>
		<string>Sport</string>
		<string>Talk</string>
		<string>Youth</string>
		<string>Oldies</string>
	</array>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>CMBC Radio Progreso</string>
			<key>logo</key>
			<string>CMBC</string>
			<key>link</key>
			<string>https://icecast.teveo.cu/XjfW7qWN</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CMCK COCO 91.7 FM</string>
			<key>logo</key>
			<string>COCO</string>
			<key>link</key>
			<string>https://icecast.teveo.cu/fvc4RVRz</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CMBE Radio Ciudad de La Habana</string>
			<key>logo</key>
			<string>CMBE</string>
			<key>link</key>
			<string>https://icecast.teveo.cu/g73XCjCH</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CMBV Radio Taíno</string>
			<key>logo</key>
			<string>CMBV</string>
			<key>link</key>
			<string>https://icecast.teveo.cu/3MCwWg3V</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CMBQ Radio Enciclopedia</string>
			<key>logo</key>
			<string>CMBQ</string>
			<key>link</key>
			<string>https://icecast.teveo.cu/9Rnrbjzq</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-enciclopedia-94-1-fm,17598.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CMCL Radio Mayabeque 95.9 FM</string>
			<key>logo</key>
			<string>CMCL</string>
			<key>link</key>
			<string>https://icecast.teveo.cu/Rsrm7P9h</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Güines (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CMAD Radio Artemisa</string>
			<key>logo</key>
			<string>CMAD</string>
			<key>link</key>
			<string>https://icecast.teveo.cu/9HzjRcjX</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk, Music, Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CMBA Radio Rebelde</string>
			<key>logo</key>
			<string>CMBA</string>
			<key>link</key>
			<string>https://icecast.teveo.cu/zrXXWK9F</string>
			<key>http</key>
			<string>https://icecast.teveo.cu/kHKL7tWd</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CMCW Radio Camoa</string>
			<key>logo</key>
			<string>CMCW</string>
			<key>link</key>
			<string>https://icecast.teveo.cu/7vCk4tnh</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CMBL Radio Metropolitana</string>
			<key>logo</key>
			<string>CMBL</string>
			<key>link</key>
			<string>https://icecast.teveo.cu/ktW3mW74</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CMBF Radio Músical Nacional</string>
			<key>logo</key>
			<string>CMBF</string>
			<key>link</key>
			<string>https://icecast.teveo.cu/9Rnrbjzq</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-cmbf-musical-98-7-fm,17599.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CMCH Radio Cadena Habana 99.9 FM</string>
			<key>logo</key>
			<string>CMCH</string>
			<key>link</key>
			<string>https://icecast.teveo.cu/Jdq3Rbrg</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CMBD Radio Reloj</string>
			<key>logo</key>
			<string>CMBD</string>
			<key>link</key>
			<string>https://icecast.teveo.cu/b3jbfThq</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CMBN Radio Habana</string>
			<key>logo</key>
			<string>CMBN</string>
			<key>link</key>
			<string>https://icecast.teveo.cu/McW3fLhs</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CMBR Habana</string>
			<key>logo</key>
			<string>CMBR</string>
			<key>link</key>
			<string>http://media.ohc.cu/habanaradio.m3u</string>
			<key>http</key>
			<string>http://media.ohc.cu/habanaradio</string>
			<key>note</key>
			<string>News, Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CMDV Radio Siboney</string>
			<key>logo</key>
			<string>CMDV</string>
			<key>link</key>
			<string>https://icecast.teveo.cu/Hb9jFPns</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CMKZ Radio Baraguá 91.3 FM</string>
			<key>logo</key>
			<string>CMKZ</string>
			<key>link</key>
			<string>https://icecast.teveo.cu/3CMM7zph</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Palma Soriano (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CMKW Radio Mambí 93.7 FM</string>
			<key>logo</key>
			<string>CMKW</string>
			<key>link</key>
			<string>https://icecast.teveo.cu/f3Hnc9tP</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CMKC Radio Revolución 98.1 FM</string>
			<key>logo</key>
			<string>CMKC</string>
			<key>link</key>
			<string>https://icecast.teveo.cu/C9vVPN7h</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CMJQ Radio Majaguabo 104.7 FM</string>
			<key>logo</key>
			<string>CMJQ</string>
			<key>link</key>
			<string>https://icecast.teveo.cu/7P4nbVPK</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>San Luís (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CMJG Radio Sonido SM</string>
			<key>logo</key>
			<string>CMJG</string>
			<key>link</key>
			<string>https://icecast.teveo.cu/HmwFH4V4</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CMHA Radio Cadena Agramonte 105.3 FM</string>
			<key>logo</key>
			<string>CMHA</string>
			<key>link</key>
			<string>https://icecast.teveo.cu/j99xztkT</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CMHC Radio Camagüey 98.1 FM</string>
			<key>logo</key>
			<string>CMHC</string>
			<key>link</key>
			<string>https://icecast.teveo.cu/3gnbjHVF</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CMHM Radio La Voz del Bayatabo 98.5 FM</string>
			<key>logo</key>
			<string>CMHM</string>
			<key>link</key>
			<string>https://icecast.teveo.cu/sXzH3Lfp</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CMHV Radio Vertientes 104.1 FM</string>
			<key>logo</key>
			<string>CMHV</string>
			<key>link</key>
			<string>https://icecast.teveo.cu/7mw4Jvfh</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CMHR Florida 104.5 FM</string>
			<key>logo</key>
			<string>CMHR</string>
			<key>link</key>
			<string>https://icecast.teveo.cu/4N4Mfsgd</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CMHE Radio Esmeralda 105.9 FM</string>
			<key>logo</key>
			<string>CMHE</string>
			<key>link</key>
			<string>https://icecast.teveo.cu/NnvHhH9z</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>AFN Guantanamo</string>
			<key>logo</key>
			<string>AFN</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/afn-guantanamo,19331.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
