<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>6855256030</string>
		<key>Back</key>
		<string>8500398244</string>
		<key>Banner</key>
		<string>9621908220</string>
		<key>Show1</key>
		<string>REMOVED</string>
		<key>Show2</key>
		<string>REMOVED</string>
		<key>Show3</key>
		<string>REMOVED</string>
		<key>Show4</key>
		<string>REMOVED</string>
		<key>Alarm</key>
		<string>9350569198</string>
		<key>CustomBanner</key>
		<string>7845915835</string>
		<key>CustomSplash</key>
		<string>5874234904</string>
		<key>Header</key>
		<string>2545487693</string>
		<key>Footer</key>
		<string>5028180802</string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string>1366613538</string>
		<key>Application</key>
		<string>1448596890</string>
		<key>Developer</key>
		<string>1239592099</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>123 Vallenato</string>
			<key>logo</key>
			<string>123</string>
			<key>link</key>
			<string>http://192.99.150.42:7087/;/;stream.mp3</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/123-vallenato,11399.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Colombia Rumbera</string>
			<key>logo</key>
			<string>Rumbera</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://37.187.90.196:9480/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://37.187.90.196:9480/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bomba FM</string>
			<key>logo</key>
			<string>Bomba</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://46.4.33.73:10600/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://46.4.33.73:10600/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Tropical De Colombia</string>
			<key>logo</key>
			<string>Tropical</string>
			<key>link</key>
			<string>http://movil.pcpcomunicaciones.com:8050/listen.m3u</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.99.36.32:8050/listen.pls?sid=1&amp;t=.pls</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Reina Stereo 92.6 FM</string>
			<key>logo</key>
			<string>Reina</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.99.4.210:3906/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.99.4.210:3906/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>POSITIVA 101.1FM Tunja</string>
			<key>logo</key>
			<string>POSITIVA</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://99.198.110.162:7098/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://99.198.110.162:7098/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Trans Mundial Colombia</string>
			<key>logo</key>
			<string>Mundial</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.99.35.215:5382/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.99.35.215:5382/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Colombia Melodia Stereo</string>
			<key>logo</key>
			<string>Melodia</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://62.210.203.78:7064/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://62.210.203.78:7064/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tropicalisima</string>
			<key>logo</key>
			<string>Tropicalisima</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.178.123.17:8660/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.178.123.17:8660/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Emisora Reina 870 AM</string>
			<key>logo</key>
			<string>Emisora</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.99.4.210:3886/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.99.4.210:3886/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ejecutivos Radio - La Senal Bonita de Colombia</string>
			<key>logo</key>
			<string>Ejecutivos</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://163.172.77.142:8411/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://163.172.77.142:8411/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Pop, Jazz Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dorado Stereo 89.1 FM</string>
			<key>logo</key>
			<string>Dorado</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.27.88.38:7260/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>http://198.27.88.38:7260/;</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Melodia 60</string>
			<key>logo</key>
			<string>60</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://62.210.203.78:7192/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://62.210.203.78:7192/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Paisa Estéreo</string>
			<key>logo</key>
			<string>Paisa</string>
			<key>link</key>
			<string>http://147.135.5.58:7094/;</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/paisa-estereo,18701.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>ReggaetonColombia</string>
			<key>logo</key>
			<string>ReggaetonColombia</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.184.9.158:8836/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.184.9.158:8836/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cristianos Radio</string>
			<key>logo</key>
			<string>Cristianos</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://184.154.45.106:8516/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://184.154.45.106:8516/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Concierto Colombiano</string>
			<key>logo</key>
			<string>Concierto</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://142.4.217.133:8453/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://142.4.217.133:8453/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Quinchía Stereo 89.3</string>
			<key>logo</key>
			<string>Quinchia</string>
			<key>link</key>
			<string>http://198.27.88.38:7326/;</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.27.88.38:7326/listen.pls?sid=1&amp;t=.pls</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>FONTIBON Radio</string>
			<key>logo</key>
			<string>FONTIBON</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://195.154.133.107:8084/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://195.154.133.107:8084/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Click</string>
			<key>logo</key>
			<string>Click</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://142.4.217.133:9188/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://142.4.217.133:9188/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Diem Radio</string>
			<key>logo</key>
			<string>Diem</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://163.172.77.142:8342/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://163.172.77.142:8342/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Lluvia Stereo</string>
			<key>logo</key>
			<string>Lluvia</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.99.18.107:8082/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.99.18.107:8082/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>StereodeejayOnline</string>
			<key>logo</key>
			<string>StereodeejayOnline</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.50.156.92:8815/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.50.156.92:8815/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Makina Estereo</string>
			<key>logo</key>
			<string>Makina</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.99.18.107:8098/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.99.18.107:8098/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radiogaga Colombia</string>
			<key>logo</key>
			<string>Radiogaga</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://78.129.232.162:36004/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://78.129.232.162:36004/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Studio69</string>
			<key>logo</key>
			<string>Studio69</string>
			<key>link</key>
			<string>http://78.129.187.57:28965/;</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://78.129.187.57:28965/listen.pls&amp;t=.pls</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Conexion Latina</string>
			<key>logo</key>
			<string>Conexion</string>
			<key>link</key>
			<string>https://philae.shoutca.st/tunein/conexionlatina.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://176.31.107.8:8374/listen.pls?sid=1&amp;t=.pls</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Onda Digital Universidad</string>
			<key>logo</key>
			<string>Universidad</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://5.133.182.164:31297/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://5.133.182.164:31297/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>40 Principales - Bogota</string>
			<key>logo</key>
			<string>40</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/40-principales-bogota,11309.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/los-40-colombia,19970.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>40 Principales Medellin</string>
			<key>logo</key>
			<string>Principales</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/40-principales-97-4-fm,732.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Activa 97.9 FM</string>
			<key>logo</key>
			<string>Activa</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/activa-97-9-fm,733.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-acktiva-97-9-fm,17693.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Alfa 93.1 FM Stereo</string>
			<key>logo</key>
			<string>Alfa</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/alfa-93-1-fm-stereo,11323.m3u</string>
			<key>http</key>
			<string>http://46.4.33.73:9128/;</string>
			<key>note</key>
			<string>Calarca (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Amor Stereo Bogota</string>
			<key>logo</key>
			<string>Amor</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/amor-stereo,11389.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/anos-maravillosos,18541.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Amor Stereo Medellin</string>
			<key>logo</key>
			<string>Stereo</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/amor-stereo-medellin,18540.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/anos-maravillosos,18541.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Antena 2</string>
			<key>logo</key>
			<string>Antena</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/antena-2,11393.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Antena 2 Bucaramanga</string>
			<key>logo</key>
			<string>Bucaramanga</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/antena-2-bucaramanga,18464.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Antena 2 Cali</string>
			<key>logo</key>
			<string>Cali</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/antena-2-cali,18465.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Antena 2 Medellin</string>
			<key>logo</key>
			<string>2</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/antena-2-medellin,18466.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Olimpica Stereo - Armenia 96.1</string>
			<key>logo</key>
			<string>Olimpica</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/armenia-96-1-fm-olimpica-stereo,16261.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Olimpica Stereo - Barranquilla 92.1</string>
			<key>logo</key>
			<string>Barranquilla</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/barranquilla-92-1-fm-olimpica-stereo,16262.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Olimpica Stereo - Bogota 105.9</string>
			<key>logo</key>
			<string>Bogota</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/bogota-105-9-fm-olimpica-stereo,16263.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Olimpica Stereo - Bucaramanga 97.7</string>
			<key>logo</key>
			<string>Bucaramang</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/bucaramanga-97-7-fm-olimpica-stereo,16264.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Olimpica Stereo - Cali 104.5 FM</string>
			<key>logo</key>
			<string>Cal</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/cali-104-5-fm-olimpica-stereo,16265.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Olimpica Stereo - Cartagena 90.5 FM</string>
			<key>logo</key>
			<string>Cartagena</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/cartagena-90-5-fm-olimpica-stereo,16266.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Olimpica Stereo - Cucuta 94.7 FM</string>
			<key>logo</key>
			<string>Cucuta</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/cucuta-94-7-fm-olimpica-stereo,16267.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Olimpica Stereo - Ibague 94.3 FM</string>
			<key>logo</key>
			<string>Ibague</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/ibague-94-3-fm-olimpica-stereo,16268.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Olimpica Stereo - Manizales 89.7 FM</string>
			<key>logo</key>
			<string>Manizales</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/manizales-89-7-fm-olimpica-stereo,16269.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Olimpica Stereo - Medellin 104.9</string>
			<key>logo</key>
			<string>Medellin</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/medellin-104-9-olimpica-stereo,16897.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Olimpica Stereo - Monteria 90.5 FM</string>
			<key>logo</key>
			<string>Monteria</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/monteria-90-5-fm-olimpica-stereo,16270.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Olimpica Stereo - Neiva 90.5 FM</string>
			<key>logo</key>
			<string>Neiva</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/neiva-90-5-fm-olimpica-stereo,16271.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Olimpica Stereo - Pereira 102.7 FM</string>
			<key>logo</key>
			<string>Pereira</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/pereira-102-7-fm-olimpica-stereo,16272.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Barranquilla Estereo</string>
			<key>logo</key>
			<string>Estereo</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/barranquilla-estereo,11400.m3u</string>
			<key>http</key>
			<string>http://radio.yaservers.com:8197/;stream.mp3</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Besame 100.4 FM</string>
			<key>logo</key>
			<string>Besame</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/besame-100-4-fm,735.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Blu Radio 96.9 FM</string>
			<key>logo</key>
			<string>Blu</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/blu-radio-96-9-fm,17597.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bolero Stereo 96.3 FM</string>
			<key>logo</key>
			<string>Bolero</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/bolero-stereo-96-3-fm,12555.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Boom 99.1 FM</string>
			<key>logo</key>
			<string>Boom</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/boom-99-1-fm,14642.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Boyacá Radio</string>
			<key>logo</key>
			<string>Boyaca</string>
			<key>link</key>
			<string>http://62.210.141.243:8079/;stream</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/boyaca-radio,11306.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Buena Stereo</string>
			<key>logo</key>
			<string>Buena</string>
			<key>link</key>
			<string>http://78.129.224.17:10593/;</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/buena-stereo,18538.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fiesta Buga 106.1 FM</string>
			<key>logo</key>
			<string>Buga</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/buga-106-1-fm,13831.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cacica Stereo 89.7 FM</string>
			<key>logo</key>
			<string>Cacica</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/cacica-stereo,17388.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Valledupar (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Caliderumba Radio</string>
			<key>logo</key>
			<string>Caliderumba</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/caliderumba-radio,13850.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Candela Estereo 101.9 FM</string>
			<key>logo</key>
			<string>Candela</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/candela-estereo-101-9-fm,7975.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Caracol Radio</string>
			<key>logo</key>
			<string>Caracol</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/caracol-radio,11397.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/noticias-caracol-radio-100-9-fm,19991.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Carnavalxsiempre</string>
			<key>logo</key>
			<string>Carnavalxsiempre</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/carnavalxsiempre,18950.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Barranquilla (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ecos de Pasto</string>
			<key>logo</key>
			<string>Ecos</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/ecos-de-pasto,11307.m3u</string>
			<key>http</key>
			<string>http://stream1.emisorasvirtuales.com:8235/;</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ecos del Combeima 790 AM</string>
			<key>logo</key>
			<string>Combeima</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/ecos-del-combeima-790-am,11402.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Ibague (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>El Sol Cali 98.0 FM</string>
			<key>logo</key>
			<string>Sol</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/el-sol-cali-98-0-fm,18467.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>El Sol Medellin 107.9 FM</string>
			<key>logo</key>
			<string>El</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/el-sol-medellin-107-9-fm,18468.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>El Sol Tulua 96.1 FM</string>
			<key>logo</key>
			<string>Tulua</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/el-sol-tulua-96-1-fm,18469.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Estereo 99.9 FM</string>
			<key>logo</key>
			<string>Estere</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/estereo-99-9-fm,736.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Estrella Internacional</string>
			<key>logo</key>
			<string>Estrella</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/estrella-internacional,11415.m3u</string>
			<key>http</key>
			<string>http://147.135.5.58:7084/;</string>
			<key>note</key>
			<string>Music (Manizales, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Expresion Stereo</string>
			<key>logo</key>
			<string>Expresion</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/expresion-stereo,18442.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fantástica Medellin 96.9 FM</string>
			<key>logo</key>
			<string>Fantastica</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/fantastica-medellin-96-9-fm,18470.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/la-fantastico-104-4-fm,14641.m3u</string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>G12 Radio</string>
			<key>logo</key>
			<string>G12</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/g12-radio,20049.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>HJUT 106.9 FM Universidad de Bogota</string>
			<key>logo</key>
			<string>HJUT</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/hjut-106-9-fm-universidad-de-bogota,11395.m3u</string>
			<key>http</key>
			<string>http://hjut.utadeo.edu.co:8000/;emisora-hjut.mp3</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>ICC Radio</string>
			<key>logo</key>
			<string>ICC</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/icc-radio,11416.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Cariñosa</string>
			<key>logo</key>
			<string>Carinosa</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/la-carinosa,11527.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pasto (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Carinosa 610 AM</string>
			<key>logo</key>
			<string>610</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/la-carinosa-610-am,13830.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>La FM 94.9</string>
			<key>logo</key>
			<string>La</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/la-fm-94-9,6750.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/la-fm-94-9-fm,14640.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Maxima 89.1 FM</string>
			<key>logo</key>
			<string>Maxima</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/la-maxima-89-1-fm,14643.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Mega 90.9 FM</string>
			<key>logo</key>
			<string>Mega</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/la-mega-90-9-fm,14639.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Pachanguera FM - 95.7</string>
			<key>logo</key>
			<string>Pachanguera</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/la-pachanguera-fm-95-7,11302.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Red de los Andes 1390 AM</string>
			<key>logo</key>
			<string>Red</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/la-red-de-los-andes-1390-am,11414.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Manizales (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Reina Del Vallenato</string>
			<key>logo</key>
			<string>Del</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/la-reina-98-6-fm-barranquilla,16277.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Local (Barranquilla)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Vallenata 104.4 FM</string>
			<key>logo</key>
			<string>Vallenata</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/la-vallenata-104-4-fm,738.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>LA W Radio</string>
			<key>logo</key>
			<string>W</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/la-w-radio,20014.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>La X FM</string>
			<key>logo</key>
			<string>X</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/la-x-fm,739.m3u</string>
			<key>http</key>
			<string>https://listen.openstream.co/2956/audio</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>La X Más Música 103.9 FM</string>
			<key>logo</key>
			<string>Mas</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/la-x-mas-musica,20157.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Laud Stereo 90.4 FM</string>
			<key>logo</key>
			<string>Laud</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/laud-stereo-90-4-fm,11315.m3u</string>
			<key>http</key>
			<string>http://200.69.103.69:8000/laud</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Madrigal Stereo 88.1 FM</string>
			<key>logo</key>
			<string>Madrigal</string>
			<key>link</key>
			<string>http://madrigalfm.com/msplayer/?pl=winamp&amp;c=Madrigal%20Stereo</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/madrigal-stereo-88-1-fm,11423.m3u</string>
			<key>note</key>
			<string>Barranquilla (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Maravilla Stéreo 105.7 FM</string>
			<key>logo</key>
			<string>Maravilla</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/maravilla-stereo-105-7-fm,11426.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Valledupar (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Más Música</string>
			<key>logo</key>
			<string>Musica</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/mas-musica,11297.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Melodía Stereo 730 AM</string>
			<key>logo</key>
			<string>730</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/melodia-stereo-730-am,17387.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Modernízate Radio</string>
			<key>logo</key>
			<string>Modernizate</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/modernizate-radio,19664.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>El Carmen de Viboral (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ochentera Radio</string>
			<key>logo</key>
			<string>Ochentera</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/ochentera-radio,18471.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>OXIGENO 2 - 104.4 FM Medellin</string>
			<key>logo</key>
			<string>OXIGENO</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/oxigeno-104-4-fm-colombia,11398.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>OXIGENO 2 - 100.4 FM Bogota</string>
			<key>logo</key>
			<string>OXIGEN</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/oxigeno-2-100-4-fm,17716.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Que Buena 92.1 FM</string>
			<key>logo</key>
			<string>Que</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/que-buena-92-1-fm,11321.m3u</string>
			<key>http</key>
			<string>http://radio25.virtualtronics.com:8066/stream</string>
			<key>note</key>
			<string>Dosquebradas (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>QuillaRadio 97.9 FM</string>
			<key>logo</key>
			<string>QuillaRadio</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/quillaradio-97-9-fm,17668.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Barranquilla (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Quimbaya Estéreo 91.7 FM</string>
			<key>logo</key>
			<string>Quimbaya</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/quimbaya-estereo,16758.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio 1040 AM Popayan</string>
			<key>logo</key>
			<string>Popayan</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-1040-am-popayan,14645.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Autentica Cali 660 AM</string>
			<key>logo</key>
			<string>Autentica</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-autentica-cali-660-am,20017.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Comunícate</string>
			<key>logo</key>
			<string>Comunicate</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-comunicate,11316.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Curramba</string>
			<key>logo</key>
			<string>Curramba</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-curramba,11421.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Barranquilla (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Esperanza 1470 AM</string>
			<key>logo</key>
			<string>Esperanza</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-esperanza-1470-am,20013.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Guatapurí</string>
			<key>logo</key>
			<string>Guatapuri</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-guatapuri,11310.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Information (Valledupar, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Ipuc</string>
			<key>logo</key>
			<string>Ipuc</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-ipuc,20091.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-ipuk-medellin,20018.m3u</string>
			<key>note</key>
			<string>Medellin (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Kronos</string>
			<key>logo</key>
			<string>Kronos</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-kronos,19990.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Minuto de Dios 107.9 FM</string>
			<key>logo</key>
			<string>Minuto</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-minuto-de-dios-107-9-fm,11403.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-minuto-de-dios-1230-am,19530.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Munera 790 AM</string>
			<key>logo</key>
			<string>Munera</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-munera-790-am,11401.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Planeta Cali 96.9 FM</string>
			<key>logo</key>
			<string>Planeta</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-planeta-cali-96-9-fm,19033.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Policía Nacional 102.6 FM Barranquilla</string>
			<key>logo</key>
			<string>Nacional</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-policia-nacional-102-6-fm-barranquilla,19547.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Policía Nacional 92.4 FM Bogota</string>
			<key>logo</key>
			<string>Naciona</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-policia-nacional-92-4-fm-bogota,19546.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Policía Nacional 96.4 FM Medellin</string>
			<key>logo</key>
			<string>Policia</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-policia-nacional-96-4-fm-medellin,19545.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Santa Fe 1070 AM</string>
			<key>logo</key>
			<string>Santa</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-santa-fe-1070-am,11304.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Señal Cumbia</string>
			<key>logo</key>
			<string>Cumbia</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-senal-cumbia,18804.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Super Popayan</string>
			<key>logo</key>
			<string>Super</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-super-popayan,20015.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Tiempo 104.5 FM Monteria</string>
			<key>logo</key>
			<string>Tiempo1</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-tiempo-104-5-fm-monteria,16283.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Tiempo 105.9 FM Medellin</string>
			<key>logo</key>
			<string>Tiempo2</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-tiempo-105-9-fm-medellin,16281.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Tiempo 106.7 FM Valledupar</string>
			<key>logo</key>
			<string>Tiempo3</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-tiempo-106-7-fm-valledupar,16286.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Tiempo 88.5 FM Cartagena</string>
			<key>logo</key>
			<string>Tiempo4</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-tiempo-88-5-fm-cartagena,16279.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Tiempo 89.5 FM Cali</string>
			<key>logo</key>
			<string>Tiempo5</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-tiempo-89-5-fm-cali,16282.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Tiempo 92.7 FM Cucuta</string>
			<key>logo</key>
			<string>Tiempo6</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-tiempo-92-7-fm-cucuta,16280.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Tiempo 94.8 FM Neiva</string>
			<key>logo</key>
			<string>Tiempo7</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-tiempo-94-8-fm-neiva,16284.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Tiempo 96.1 FM Barranquilla</string>
			<key>logo</key>
			<string>Tiempo8</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-tiempo-96-1-fm-barranquilla,16278.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Tiempo 97.3 FM Sincelejo</string>
			<key>logo</key>
			<string>Tiempo9</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-tiempo-97-3-fm-sincelejo,16285.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Local</string>
		</dict>
	</array>
</dict>
</plist>
