<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Tolo News طلوع نیوز</string>
		<key>logo</key>
		<string>Tolo</string>
		<key>link</key>
		<string>https://www.tolonews.com/index.php/live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/TOLOnewsLive/videos?view=2&amp;live_view=501&amp;flow=grid</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ATN Ariana آریانا</string>
		<key>logo</key>
		<string>ATN1</string>
		<key>link</key>
		<string>https://arianatelevision.com/live/ariana-tv/</string>
		<key>http</key>
		<string>https://arianatelevision.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ATN Ariana News</string>
		<key>logo</key>
		<string>ATN5</string>
		<key>link</key>
		<string>https://ariananews.af/livetv/</string>
		<key>http</key>
		<string>https://ariananews.af</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ATN Ariana Europe</string>
		<key>logo</key>
		<string>ATN2</string>
		<key>link</key>
		<string>https://arianatelevision.com/live/ariana-tv-international/</string>
		<key>http</key>
		<string>https://arianatelevision.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ATN Ariana USA</string>
		<key>logo</key>
		<string>ATN3</string>
		<key>link</key>
		<string>https://arianatelevision.com/live/atn-usa-live-streaming/</string>
		<key>http</key>
		<string>https://arianatelevision.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ATN Ariana FM</string>
		<key>logo</key>
		<string>ATN4</string>
		<key>link</key>
		<string>https://arianatelevision.com/ariana-fm-live/</string>
		<key>http</key>
		<string>https://arianatelevision.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Maiwand</string>
		<key>logo</key>
		<string>Maiwand</string>
		<key>link</key>
		<string>http://www.maiwandtv.com/en/live.php</string>
		<key>http</key>
		<string>http://www.maiwandtv.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tamadon تمدن</string>
		<key>logo</key>
		<string>Tamadon</string>
		<key>link</key>
		<string>http://www.nanocdn.net/modules/lives/index.php?id=4&amp;channel=tamadon&amp;op=fpl</string>
		<key>http</key>
		<string>http://tamadon.af/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>VOA Persian</string>
		<key>logo</key>
		<string>VOA</string>
		<key>link</key>
		<string>https://ir.voanews.com/t/86.html?s=167034</string>
		<key>http</key>
		<string>https://www.youtube.com/user/PNNVideo/videos?view=2&amp;flow=grid&amp;live_view=501</string>
	</dict>
	<dict>
		<key>name</key>
		<string>BBC Persian</string>
		<key>logo</key>
		<string>BB</string>
		<key>link</key>
		<string>http://www.bbc.com/persian/tvandradio/2013/08/000001_bbcpersian_livetv</string>
		<key>http</key>
		<string>https://www.youtube.com/user/BBCPersian/videos?view=2&amp;live_view=501&amp;flow=grid</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Shamshad شمشاد</string>
		<key>logo</key>
		<string>Shamshad</string>
		<key>link</key>
		<string>http://shamshadtv.tv/live/index.php/pashto/2016-01-03-09-10-04</string>
		<key>http</key>
		<string>http://shamshadtv.tv/live/index.php/pashto/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Zhwandoon ژوندون‎</string>
		<key>logo</key>
		<string>Zhwandoon</string>
		<key>link</key>
		<string>http://www.zhwandoon.tv/live.php</string>
		<key>http</key>
		<string>http://www.zhwandoon.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Payam-e-Afghan پیام افغان</string>
		<key>logo</key>
		<string>Payam</string>
		<key>link</key>
		<string>http://www.payameafghantv.com/</string>
		<key>http</key>
		<string>http://www.payameafghantv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SATV صدای افغانستان‎</string>
		<key>logo</key>
		<string>SATV</string>
		<key>link</key>
		<string>http://www.satvlive.com/</string>
		<key>http</key>
		<string>http://www.satvlive.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ariana Afghanistan افغانستان آریانا</string>
		<key>logo</key>
		<string>Ariana</string>
		<key>link</key>
		<string>http://www.arianaafgtv.com/</string>
		<key>http</key>
		<string>http://www.arianaafgtv.com/index.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>1TV تلویزیون یک</string>
		<key>logo</key>
		<string>1</string>
		<key>link</key>
		<string>http://www.1tv.af/en/live</string>
		<key>http</key>
		<string>http://www.1tvnews.af/en/live</string>
	</dict>
</array>
</plist>
