<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>6212904340</string>
		<key>Back</key>
		<string>4999771313</string>
		<key>Banner</key>
		<string>1387829361</string>
		<key>Show1</key>
		<string>REMOVED</string>
		<key>Show2</key>
		<string>REMOVED</string>
		<key>Show3</key>
		<string>REMOVED</string>
		<key>Show4</key>
		<string>REMOVED</string>
		<key>Alarm</key>
		<string>9238399224</string>
		<key>CustomBanner</key>
		<string>3459636543</string>
		<key>CustomSplash</key>
		<string>7953237718</string>
		<key>Header</key>
		<string>4389574837</string>
		<key>Footer</key>
		<string>5319513127</string>
		<key>Email</key>
		<string>ios.apps.community@gmail.com</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1455001587</string>
		<key>Developer</key>
		<string>1360678770</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Menu</key>
	<array>
		<string>Top</string>
		<string>News</string>
		<string>Local</string>
		<string>Classic</string>
		<string>Music</string>
		<string>Sport</string>
		<string>Talk</string>
		<string>Youth</string>
		<string>Oldies</string>
	</array>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>7</string>
			<key>logo</key>
			<string>7</string>
			<key>link</key>
			<string>http://radio-7kosova.net/live/?pl=winamp&amp;c=Radio%207%20Kosova</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>21</string>
			<key>logo</key>
			<string>21</string>
			<key>link</key>
			<string>http://84.22.44.247:1935/live/radio.stream/playlist.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Capital 92.1 FM</string>
			<key>logo</key>
			<string>Capital</string>
			<key>link</key>
			<string>http://cfm.albaservers.com:8010/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dukagjini 99.7 / 106.3 FM</string>
			<key>logo</key>
			<string>Dukagjini</string>
			<key>link</key>
			<string>http://s6.voscast.com:8824/listen.pls</string>
			<key>http</key>
			<string>http://s1.voscast.com:8226/listen.pls</string>
			<key>note</key>
			<string>News, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Elit 91.6 FM</string>
			<key>logo</key>
			<string>Elit</string>
			<key>link</key>
			<string>http://78.129.234.163/stream.mp3?ipport=78.129.234.163_20632</string>
			<key>http</key>
			<string>http://50.22.219.37:25383/listen.pls</string>
			<key>note</key>
			<string>Plemetina (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fontana 98.8 FM</string>
			<key>logo</key>
			<string>Fontana</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-fontana-98-8-fm,17417.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Gračanica 90.7 FM</string>
			<key>logo</key>
			<string>Gracanica</string>
			<key>link</key>
			<string>http://188.40.95.74:8012/listen.pls?sid=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>K4 90.2 FM (KFOR)</string>
			<key>logo</key>
			<string>K4</string>
			<key>link</key>
			<string>http://208.98.1.43:9090/listen.pls</string>
			<key>http</key>
			<string>http://fm.radiokfor.com:8080/listen.pls</string>
			<key>note</key>
			<string>News, Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kent 95.2 FM</string>
			<key>logo</key>
			<string>Kent</string>
			<key>link</key>
			<string>http://live4.radyotvonline.com:8180/listen.pls</string>
			<key>http</key>
			<string>http://95.130.169.222/listen.pls?sid=1</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>KIM</string>
			<key>logo</key>
			<string>KIM</string>
			<key>link</key>
			<string>http://82.114.78.158/uzivo.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News (Çaglavica, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kosova e Lirë 94.2 FM</string>
			<key>logo</key>
			<string>Kosova</string>
			<key>link</key>
			<string>http://quasar.shoutca.st:8018/listen.pls</string>
			<key>http</key>
			<string>http://www.radiokosovaelire.com/live/live.m3u</string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kosova.Net</string>
			<key>logo</key>
			<string>Kosova.Net</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-kosova-net,13638.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Llapi 103.2 FM</string>
			<key>logo</key>
			<string>Llapi</string>
			<key>link</key>
			<string>http://radio.1dhe1.com:8555/listen.pls</string>
			<key>http</key>
			<string>http://radiollapi.com/wp-content/plugins/media-buttons/playlist.php?ip=radio1dhe1.com:8555&amp;mountpoint=&amp;format=M3U</string>
			<key>note</key>
			<string>News, Sport (Podujevë, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Maria - Kosovë</string>
			<key>logo</key>
			<string>Maria</string>
			<key>link</key>
			<string>http://dreamsiteradiocp.com:8110/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Plus 102.2 FM</string>
			<key>logo</key>
			<string>Plus</string>
			<key>link</key>
			<string>http://82.114.72.178:8000/;listen.pls?sid=1</string>
			<key>http</key>
			<string>http://www.radioplus.fm/live.pls</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Prishtina 89.8 FM</string>
			<key>logo</key>
			<string>Prishtina</string>
			<key>link</key>
			<string>https://stream.radio.co/sbe73908d2/listen</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RTK Kosova 1</string>
			<key>logo</key>
			<string>1</string>
			<key>link</key>
			<string>http://82.114.72.2:8088/listen.pls</string>
			<key>http</key>
			<string>http://www.rtklive.com/video/t_radio/radkos.pls</string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RTK Kosova 2</string>
			<key>logo</key>
			<string>2</string>
			<key>link</key>
			<string>http://82.114.72.2:8098/listen.pls</string>
			<key>http</key>
			<string>http://www.rtklive.com/video/t_radio/bluesky.pls</string>
			<key>note</key>
			<string>Youth</string>
		</dict>
		<dict>
			<key>name</key>
			<string>SHARRI Dragash</string>
			<key>logo</key>
			<string>SHARRI</string>
			<key>link</key>
			<string>http://live.radio-sharri.info:8020/listen.pls</string>
			<key>http</key>
			<string>http://radio-sharri.info:8020/;</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Urban FM 103.5</string>
			<key>logo</key>
			<string>Urban</string>
			<key>link</key>
			<string>http://46.19.224.157:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Alternative Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Vala Rinore</string>
			<key>logo</key>
			<string>Rinore</string>
			<key>link</key>
			<string>https://radiovalarinore.com/favourite-player/WinAmp-Player.pls</string>
			<key>http</key>
			<string>https://radiovalarinore.com/listen-live.pls</string>
			<key>note</key>
			<string>News, Talk, Top</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Vizioni 88.1 FM</string>
			<key>logo</key>
			<string>Vizioni</string>
			<key>link</key>
			<string>http://live.rcast.net:8570/listen.pls?sid=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Zëri i Shtimes 89.6 FM</string>
			<key>logo</key>
			<string>Shtimes</string>
			<key>link</key>
			<string>http://radio.1dhe1.com:8080/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk (Štimlje, Local)</string>
		</dict>
	</array>
</dict>
</plist>
