<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1</string>
		<key>Back</key>
		<string>1</string>
		<key>Banner</key>
		<string>1</string>
		<key>Show1</key>
		<string>1</string>
		<key>Show2</key>
		<string>1</string>
		<key>Show3</key>
		<string>1</string>
		<key>Show4</key>
		<string>1</string>
		<key>Alarm</key>
		<string>1</string>
		<key>CustomBanner</key>
		<string>1</string>
		<key>CustomSplash</key>
		<string>1</string>
		<key>Header</key>
		<string>1</string>
		<key>Footer</key>
		<string>1</string>
		<key>Email</key>
		<string>1</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1</string>
		<key>Developer</key>
		<string>1</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Menu</key>
	<array>
		<string>Top</string>
		<string>News</string>
		<string>Local</string>
		<string>Classic</string>
		<string>Music</string>
		<string>Sport</string>
		<string>Talk</string>
		<string>Youth</string>
		<string>Oldies</string>
	</array>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>RTK Radio Kosova 1</string>
			<key>logo</key>
			<string>1</string>
			<key>link</key>
			<string>http://www.rtklive.com/video/t_radio/radkos.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RTK Radio Kosova 2</string>
			<key>logo</key>
			<string>2</string>
			<key>link</key>
			<string>http://www.rtklive.com/video/t_radio/bluesky.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Youth</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Elit Radio 91,6</string>
			<key>logo</key>
			<string>Elit</string>
			<key>link</key>
			<string>http://78.129.234.163/stream.mp3?ipport=78.129.234.163_20632</string>
			<key>http</key>
			<string>http://50.22.219.37:25383/listen.pls</string>
			<key>note</key>
			<string>Plemetina</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Dukagjini 99,7</string>
			<key>logo</key>
			<string>Dukagjini</string>
			<key>link</key>
			<string>http://s1.voscast.com:8226/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio K4 90,2 FM</string>
			<key>logo</key>
			<string>K4</string>
			<key>link</key>
			<string>http://fm.radiokfor.com:8080/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio K4 96,6 FM</string>
			<key>logo</key>
			<string>96</string>
			<key>link</key>
			<string>http://fm.radiokfor.com:8090/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Kent FM</string>
			<key>logo</key>
			<string>Kent</string>
			<key>link</key>
			<string>http://live4.radyotvonline.com:8180/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio KIM</string>
			<key>logo</key>
			<string>KIM</string>
			<key>link</key>
			<string>http://82.114.78.158/uzivo.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News (Çaglavica)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Kosova e Lirë 94,2 FM</string>
			<key>logo</key>
			<string>Kosova</string>
			<key>link</key>
			<string>http://www.radiokosovaelire.com/live/live.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Llapi</string>
			<key>logo</key>
			<string>Llapi</string>
			<key>link</key>
			<string>http://radiollapi.com/wp-content/plugins/media-buttons/playlist.php?ip=radio1dhe1.com:8555&amp;mountpoint=&amp;format=M3U</string>
			<key>http</key>
			<string>http://radio.1dhe1.com:8555/listen.pls</string>
			<key>note</key>
			<string>Podujevë</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Plus 102,2FM</string>
			<key>logo</key>
			<string>Plus</string>
			<key>link</key>
			<string>http://www.radioplus.fm/live.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Dance</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Vala Rinore</string>
			<key>logo</key>
			<string>Rinore</string>
			<key>link</key>
			<string>http://www.radiovalarinore.com/favourite-player/WinAmp-Player.pls</string>
			<key>http</key>
			<string>http://84.22.46.10:8000/listen.pls</string>
			<key>note</key>
			<string>News/Information/Features</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Zëri i Shtimes</string>
			<key>logo</key>
			<string>Shtimes</string>
			<key>link</key>
			<string>http://radio.1dhe1.com:8080/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Štimlje</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Urban FM 103,5</string>
			<key>logo</key>
			<string>Urban</string>
			<key>link</key>
			<string>http://46.19.224.157:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Alternative</string>
		</dict>
	</array>
</dict>
</plist>
