<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Application</key>
	<string>1282971829</string>
	<key>Developer</key>
	<string>1214609104</string>
	<key>Email</key>
	<string>developer@gmail.com</string>
	<key>ID</key>
	<string>3940256099942544</string>
	<key>BannerTop</key>
	<string>29</string>
	<key>BannerBottom</key>
	<string>29</string>
	<key>Banner1</key>
	<string>2934735716</string>
	<key>Banner2</key>
	<string>29</string>
	<key>Banner3</key>
	<string>29</string>
	<key>Banner4</key>
	<string>29</string>
</dict>
</plist>
