<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Application</key>
	<string>1282971829</string>
	<key>Developer</key>
	<string>1239592099</string>
	<key>Email</key>
	<string>ershowvlad@meta.ua</string>
	<key>ID</key>
	<string>3694130267637407</string>
	<key>BannerTop</key>
	<string>2980695876</string>
	<key>BannerBottom</key>
	<string>4955535791</string>
	<key>Banner1</key>
	<string>7198555755</string>
	<key>Banner2</key>
	<string>2549574741</string>
	<key>Banner3</key>
	<string>9059142770</string>
	<key>Banner4</key>
	<string>1452115495</string>
</dict>
</plist>
