<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Application</key>
	<string>1</string>
	<key>Developer</key>
	<string>1</string>
	<key>Email</key>
	<string>dev@gmail.com</string>
	<key>ShowOffers</key>
	<string>9</string>
	<key>ID</key>
	<string>3940256099942544</string>
	<key>Header</key>
	<string>1</string>
	<key>Footer</key>
	<string>1</string>
	<key>Game</key>
	<string>1</string>
	<key>Banner</key>
	<string>1</string>
	<key>Menu1</key>
	<string>2934735716</string>
	<key>Menu2</key>
	<string>1</string>
	<key>Menu3</key>
	<string>1</string>
	<key>Menu4</key>
	<string>1</string>
	<key>Option1</key>
	<string>1</string>
	<key>Option2</key>
	<string>2</string>
	<key>Option3</key>
	<string>3</string>
	<key>Option4</key>
	<string>4</string>
	<key>Option5</key>
	<string>5</string>
</dict>
</plist>
