<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Application</key>
	<string>1347678311</string>
	<key>Developer</key>
	<string>1239592099</string>
	<key>Email</key>
	<string>idenitecs@gmail.com</string>
	<key>ShowOffers</key>
	<string>10</string>
	<key>ID</key>
	<string>3694130267637407</string>
	<key>Header</key>
	<string>1844218260</string>
	<key>Footer</key>
	<string>5448421351</string>
	<key>Game</key>
	<string>2494954951</string>
	<key>Banner</key>
	<string>8088749334</string>
	<key>Menu1</key>
	<string>2028051098</string>
	<key>Menu2</key>
	<string>1628595848</string>
	<key>Menu3</key>
	<string>4003477742</string>
	<key>Menu4</key>
	<string>5528312400</string>
	<key>Option1</key>
	<string>6261975420</string>
	<key>Option2</key>
	<string>4762025642</string>
	<key>Option3</key>
	<string>4634033131</string>
	<key>Option4</key>
	<string>1420233357</string>
	<key>Option5</key>
	<string>7261509556</string>
</dict>
</plist>
