<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Application</key>
	<string>130</string>
	<key>Developer</key>
	<string>123</string>
	<key>Email</key>
	<string>dev@gmail.com</string>
	<key>ID</key>
	<string>3940256099942544</string>
	<key>Top</key>
	<string>2934735716</string>
	<key>Bottom</key>
	<string>2934735716</string>
	<key>Map</key>
	<string>2934735716</string>
	<key>Back</key>
	<string>4411468910</string>
	<key>Main</key>
	<string>4411468910</string>
	<key>Info</key>
	<string>2934735716</string>
	<key>Header</key>
	<string>2934735716</string>
	<key>Footer</key>
	<string>2934735716</string>
	<key>Weather</key>
	<string>2934735716</string>
	<key>ShowOffer</key>
	<string>10</string>
	<key>Minutes</key>
	<string>4</string>
	<key>Delay</key>
	<string>2</string>
</dict>
</plist>
