<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ID</key>
	<string>3694130267637407</string>
	<key>Main</key>
	<string>7180450826</string>
	<key>Banner</key>
	<string>4070361312</string>
	<key>Show1</key>
	<string>4289853160</string>
	<key>Show2</key>
	<string>2785199801</string>
	<key>Show3</key>
	<string>7044719452</string>
	<key>Show4</key>
	<string>5271514920</string>
	<key>Radio</key>
	<string>https://stream.globalic.com.ua:1535/stream</string>
	<key>Playlist</key>
	<string>https://a2.radioheart.ru/api/html?userlogin=user8043&amp;api=lasttrack&amp;server=a2.radioheart.ru&amp;port=8043&amp;count=50</string>
	<key>Current</key>
	<string>https://a2.radioheart.ru/api/html?userlogin=user8043&amp;api=lasttrack&amp;server=a2.radioheart.ru&amp;port=8043&amp;count=1</string>
	<key>Twitter</key>
	<string>https://twitter.com/Radioex_Ukraine</string>
	<key>Facebook</key>
	<string>https://www.facebook.com/RadioexUa</string>
	<key>Instagram</key>
	<string>https://www.instagram.com/RADIOEX_UA</string>
	<key>YouTube</key>
	<string>https://www.youtube.com/user/radioexTV/featured</string>
	<key>Website</key>
	<string>https://www.radioex.in.ua</string>
	<key>Email</key>
	<string>radioextv@gmail.com</string>
	<key>Description</key>
	<string>Твое любимое EDM радио RADIOEX</string>
	<key>Application</key>
	<string>1450806619</string>
	<key>Minutes</key>
	<string>4</string>
	<key>Delay</key>
	<string>2</string>
</dict>
</plist>
