<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Application</key>
	<string>1282971829</string>
	<key>Developer</key>
	<string>1214609104</string>
	<key>Email</key>
	<string>developer@gmail.com</string>
	<key>ID</key>
	<string>3940256099942544</string>
	<key>Header</key>
	<string>2934735716</string>
	<key>Footer</key>
	<string>2934735716</string>
	<key>Game</key>
	<string>2934735716</string>
	<key>Bottom</key>
	<string>2934735716</string>
	<key>Menu1</key>
	<string>2934735716</string>
	<key>Menu2</key>
	<string>2934735716</string>
	<key>Menu3</key>
	<string>2934735716</string>
	<key>Menu4</key>
	<string>2934735716</string>
	<key>Settings1</key>
	<string>2934735716</string>
	<key>Settings2</key>
	<string>2934735716</string>
	<key>Settings3</key>
	<string>2934735716</string>
	<key>Settings4</key>
	<string>2934735716</string>
</dict>
</plist>
