<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Application</key>
	<string>1342299750</string>
	<key>Developer</key>
	<string>1239592099</string>
	<key>Email</key>
	<string>idenitecs@gmail.com</string>
	<key>ShowOffers</key>
	<string>10</string>
	<key>ID</key>
	<string>3694130267637407</string>
	<key>Header</key>
	<string>5147931238</string>
	<key>Footer</key>
	<string>2960751594</string>
	<key>Game</key>
	<string>4022551829</string>
	<key>Game1</key>
	<string>7003938384</string>
	<key>Game2</key>
	<string>8209208846</string>
	<key>Game3</key>
	<string>1690357365</string>
	<key>Game4</key>
	<string>7297907267</string>
	<key>Stats1</key>
	<string>6148477123</string>
	<key>Stats2</key>
	<string>9077892793</string>
	<key>Stats3</key>
	<string>1638386479</string>
	<key>Stats4</key>
	<string>8012223130</string>
</dict>
</plist>
