<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Application</key>
	<string>12829</string>
	<key>Developer</key>
	<string>12146</string>
	<key>Email</key>
	<string>developer@gmail.com</string>
	<key>ShowOffers</key>
	<string>9</string>
	<key>ID</key>
	<string>3940256099942544</string>
	<key>Header</key>
	<string>2</string>
	<key>Footer</key>
	<string>2</string>
	<key>Game</key>
	<string>2</string>
	<key>Game1</key>
	<string>2934735716</string>
	<key>Game2</key>
	<string>3</string>
	<key>Game3</key>
	<string>3</string>
	<key>Game4</key>
	<string>3</string>
	<key>Stats1</key>
	<string>3</string>
	<key>Stats2</key>
	<string>3</string>
	<key>Stats3</key>
	<string>3</string>
	<key>Stats4</key>
	<string>3</string>
</dict>
</plist>
