<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string></string>
		<key>Main</key>
		<string></string>
		<key>Back</key>
		<string></string>
		<key>Banner</key>
		<string></string>
		<key>Show1</key>
		<string></string>
		<key>Show2</key>
		<string></string>
		<key>Show3</key>
		<string></string>
		<key>Show4</key>
		<string></string>
		<key>Alarm</key>
		<string></string>
		<key>CustomBanner</key>
		<string></string>
		<key>CustomSplash</key>
		<string></string>
		<key>Header</key>
		<string></string>
		<key>Footer</key>
		<string></string>
		<key>Email</key>
		<string>ios.apps.community@gmail.com</string>
		<key>Alternative</key>
		<string></string>
		<key>Application</key>
		<string></string>
		<key>Developer</key>
		<string></string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Menu</key>
	<array>
		<string>Top</string>
		<string>News</string>
		<string>Local</string>
		<string>Classic</string>
		<string>Music</string>
		<string>Sport</string>
		<string>Talk</string>
		<string>Youth</string>
		<string>Oldies</string>
	</array>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>环保经济广播 FM 87.5</string>
			<key>logo</key>
			<string>87</string>
			<key>link</key>
			<string>http://ls.qingting.fm/live/1275.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>中山电台快乐888</string>
			<key>logo</key>
			<string>888</string>
			<key>link</key>
			<string>http://live.xmcdn.com/live/1191/64.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>珠海百岛之声 FM 91.5</string>
			<key>logo</key>
			<string>91</string>
			<key>link</key>
			<string>http://ls.qingting.fm/live/2473319.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>斗门广播电台 FM 92.8</string>
			<key>logo</key>
			<string>92</string>
			<key>link</key>
			<string>http://lhttp.qingting.fm/live/15318432/64k.mp3</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>香港電台第一台</string>
			<key>logo</key>
			<string>rthk</string>
			<key>link</key>
			<string>http://stm.rthk.hk/radio1.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>广东电台音乐之声 FM 99.3</string>
			<key>logo</key>
			<string>993</string>
			<key>link</key>
			<string>http://ctt.rgd.com.cn/fm993?type=.mp3</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>香港電台第二台</string>
			<key>logo</key>
			<string>rthk2</string>
			<key>link</key>
			<string>http://stm.rthk.hk/radio2.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>中山电台新锐967</string>
			<key>logo</key>
			<string>967</string>
			<key>link</key>
			<string>http://live.xmcdn.com/live/1220/64.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>TDM 98.0 FM</string>
			<key>logo</key>
			<string>TDM</string>
			<key>link</key>
			<string>http://live4.tdm.com.mo/live/rch1.live/playlist.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>澳門電台 FM 100.7</string>
			<key>logo</key>
			<string>100</string>
			<key>link</key>
			<string>http://live4.tdm.com.mo/live/rch2.live/playlist.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>RTHK 4</string>
			<key>logo</key>
			<string>rthk4</string>
			<key>link</key>
			<string>http://stm.rthk.hk/radio4.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>新城知訊台 FM 99.7</string>
			<key>logo</key>
			<string>99</string>
			<key>link</key>
			<string>http://metroradio-lh.akamaihd.net/i/997_h@349799/master.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>新城財經台 FM 104</string>
			<key>logo</key>
			<string>104</string>
			<key>link</key>
			<string>http://metroradio-lh.akamaihd.net/i/104_h@349798/master.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>珠江经济广播电台 FM 97.4</string>
			<key>logo</key>
			<string>97</string>
			<key>link</key>
			<string>http://ctt.rgd.com.cn/fm974?type=.mp3</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>深圳电台前海之声 HOT Radio FM 104.3</string>
			<key>logo</key>
			<string>HOT</string>
			<key>link</key>
			<string>http://live.xmcdn.com/live/267/64.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>羊城交通广播电台 FM 105.2</string>
			<key>logo</key>
			<string>105</string>
			<key>link</key>
			<string>http://ctt.rgd.com.cn/fm1052?type=.mp3</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>中央人民广播电台 大湾区之声 FM 101.2</string>
			<key>logo</key>
			<string>101</string>
			<key>link</key>
			<string>http://rtmpcnr007.cnr.cn/live/hxzs/playlist.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>中国国际广播电台 环球资讯广播</string>
			<key>logo</key>
			<string>zixun</string>
			<key>link</key>
			<string>http://sk.cri.cn/905.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>RTHK 3</string>
			<key>logo</key>
			<string>3</string>
			<key>link</key>
			<string>http://stm.rthk.hk/radio3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>香港電台普通話台</string>
			<key>logo</key>
			<string>rth</string>
			<key>link</key>
			<string>http://stm.rthk.hk/radiopth.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>香港電台第五台</string>
			<key>logo</key>
			<string>5</string>
			<key>link</key>
			<string>http://stm.rthk.hk/radio5.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>深圳新闻频率 先锋 898</string>
			<key>logo</key>
			<string>898</string>
			<key>link</key>
			<string>http://live.xmcdn.com/live/262/64.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>广东电台新闻广播 FM 91.4</string>
			<key>logo</key>
			<string>914</string>
			<key>link</key>
			<string>http://ctt.rgd.com.cn/fm914?type=.mp3</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>深圳交通频率 快乐106.2</string>
			<key>logo</key>
			<string>106</string>
			<key>link</key>
			<string>http://ls.qingting.fm/live/1272.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CRI 846 AM</string>
			<key>logo</key>
			<string>CRI</string>
			<key>link</key>
			<string>http://sk.cri.cn/am846.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
