<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>6110616931</string>
		<key>Back</key>
		<string>8840722058</string>
		<key>Banner</key>
		<string>5535847964</string>
		<key>Show1</key>
		<string>8952402699</string>
		<key>Show2</key>
		<string>3205251993</string>
		<key>Show3</key>
		<string>7395778445</string>
		<key>Show4</key>
		<string>8461448109</string>
		<key>Alarm</key>
		<string>4493039669</string>
		<key>CustomBanner</key>
		<string>8655538151</string>
		<key>CustomSplash</key>
		<string>7310774697</string>
		<key>Header</key>
		<string>5452141381</string>
		<key>Footer</key>
		<string>7638077756</string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string>1223555662</string>
		<key>Application</key>
		<string>1433973635</string>
		<key>Developer</key>
		<string>1239592099</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>DR Nyheder</string>
			<key>logo</key>
			<string>Nyheder</string>
			<key>link</key>
			<string>http://live-icy.gss.dr.dk:8000/A/A02L.mp3.m3u</string>
			<key>http</key>
			<string>http://live-icy.gss.dr.dk:8000/A/A02H.mp3.m3u</string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DR Ramasjang</string>
			<key>logo</key>
			<string>Ramasjang</string>
			<key>link</key>
			<string>http://live-icy.gss.dr.dk:8000/A/A24L.mp3.m3u</string>
			<key>http</key>
			<string>http://live-icy.gss.dr.dk:8000/A/A24H.mp3.m3u</string>
			<key>note</key>
			<string>Children programmes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DR P1</string>
			<key>logo</key>
			<string>P1</string>
			<key>link</key>
			<string>http://live-icy.gss.dr.dk:8000/A/A03L.mp3.m3u</string>
			<key>http</key>
			<string>http://live-icy.gss.dr.dk:8000/A/A03H.mp3.m3u</string>
			<key>note</key>
			<string>News/Features</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DR P2 Klassisk</string>
			<key>logo</key>
			<string>P2</string>
			<key>link</key>
			<string>http://live-icy.gss.dr.dk:8000/A/A04L.mp3.m3u</string>
			<key>http</key>
			<string>http://live-icy.gss.dr.dk:8000/A/A04H.mp3.m3u</string>
			<key>note</key>
			<string>Classical/Cultural</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DR P3</string>
			<key>logo</key>
			<string>P3</string>
			<key>link</key>
			<string>http://live-icy.gss.dr.dk:8000/A/A05L.mp3.m3u</string>
			<key>http</key>
			<string>http://live-icy.gss.dr.dk:8000/A/A05H.mp3.m3u</string>
			<key>note</key>
			<string>News/Youth</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DR P4 Bornholm</string>
			<key>logo</key>
			<string>Bornholm</string>
			<key>link</key>
			<string>http://live-icy.gss.dr.dk:8000/A/A06L.mp3.m3u</string>
			<key>http</key>
			<string>http://live-icy.gss.dr.dk:8000/A/A06H.mp3.m3u</string>
			<key>note</key>
			<string>Rønne</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DR P4 Esbjerg</string>
			<key>logo</key>
			<string>Esbjerg</string>
			<key>link</key>
			<string>http://live-icy.gss.dr.dk:8000/A/A15L.mp3.m3u</string>
			<key>http</key>
			<string>http://live-icy.gss.dr.dk:8000/A/A15L.mp3.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>DR P4 Fyn</string>
			<key>logo</key>
			<string>Fyn</string>
			<key>link</key>
			<string>http://live-icy.gss.dr.dk:8000/A/A07L.mp3.m3u</string>
			<key>http</key>
			<string>http://live-icy.gss.dr.dk:8000/A/A07H.mp3.m3u</string>
			<key>note</key>
			<string>Odense</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DR P4 København</string>
			<key>logo</key>
			<string>P4</string>
			<key>link</key>
			<string>http://live-icy.gss.dr.dk:8000/A/A08L.mp3.m3u</string>
			<key>http</key>
			<string>http://live-icy.gss.dr.dk:8000/A/A08H.mp3.m3u</string>
			<key>note</key>
			<string>Copenhagen</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DR P4 Midt &amp; Vest</string>
			<key>logo</key>
			<string>Midt</string>
			<key>link</key>
			<string>http://live-icy.gss.dr.dk:8000/A/A09L.mp3.m3u</string>
			<key>http</key>
			<string>http://live-icy.gss.dr.dk:8000/A/A09H.mp3.m3u</string>
			<key>note</key>
			<string>Holstebro</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DR P4 Nordjylland</string>
			<key>logo</key>
			<string>Nordjylland</string>
			<key>link</key>
			<string>http://live-icy.gss.dr.dk:8000/A/A10L.mp3.m3u</string>
			<key>http</key>
			<string>http://live-icy.gss.dr.dk:8000/A/A10H.mp3.m3u</string>
			<key>note</key>
			<string>Aalborg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DR P4 Sjælland</string>
			<key>logo</key>
			<string>Sjalland</string>
			<key>link</key>
			<string>http://live-icy.gss.dr.dk:8000/A/A11L.mp3.m3u</string>
			<key>http</key>
			<string>http://live-icy.gss.dr.dk:8000/A/A11H.mp3.m3u</string>
			<key>note</key>
			<string>Næstved</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DR P4 Syd</string>
			<key>logo</key>
			<string>Syd</string>
			<key>link</key>
			<string>http://live-icy.gss.dr.dk:8000/A/A12L.mp3.m3u</string>
			<key>http</key>
			<string>http://live-icy.gss.dr.dk:8000/A/A12H.mp3.m3u</string>
			<key>note</key>
			<string>Aabenraa</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DR P4 Trekanten</string>
			<key>logo</key>
			<string>Trekanten</string>
			<key>link</key>
			<string>http://live-icy.gss.dr.dk:8000/A/A13L.mp3.m3u</string>
			<key>http</key>
			<string>http://live-icy.gss.dr.dk:8000/A/A13H.mp3.m3u</string>
			<key>note</key>
			<string>Vejle</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DR P4 Østjylland</string>
			<key>logo</key>
			<string>Aarhus</string>
			<key>link</key>
			<string>http://live-icy.gss.dr.dk:8000/A/A14L.mp3.m3u</string>
			<key>http</key>
			<string>http://live-icy.gss.dr.dk:8000/A/A14H.mp3.m3u</string>
			<key>note</key>
			<string>Aarhus</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DR P5</string>
			<key>logo</key>
			<string>P5</string>
			<key>link</key>
			<string>http://live-icy.gss.dr.dk:8000/A/A25L.mp3.m3u</string>
			<key>http</key>
			<string>http://live-icy.gss.dr.dk:8000/A/A25H.mp3.m3u</string>
			<key>note</key>
			<string>Music/Features</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DR P6 Beat</string>
			<key>logo</key>
			<string>P6</string>
			<key>link</key>
			<string>http://live-icy.gss.dr.dk:8000/A/A29L.mp3.m3u</string>
			<key>http</key>
			<string>http://live-icy.gss.dr.dk:8000/A/A29H.mp3.m3u</string>
			<key>note</key>
			<string>Alternative</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DR P7 Mix</string>
			<key>logo</key>
			<string>P7</string>
			<key>link</key>
			<string>http://live-icy.gss.dr.dk:8000/A/A21L.mp3.m3u</string>
			<key>http</key>
			<string>http://live-icy.gss.dr.dk:8000/A/A21H.mp3.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>DR P8 Jazz</string>
			<key>logo</key>
			<string>P8</string>
			<key>link</key>
			<string>http://live-icy.gss.dr.dk:8000/A/A22L.mp3.m3u</string>
			<key>http</key>
			<string>http://live-icy.gss.dr.dk:8000/A/A22H.mp3.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>ANR</string>
			<key>logo</key>
			<string>ANR</string>
			<key>link</key>
			<string>http://www.listenlive.eu/dk_anr.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Ålborg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>go!FM</string>
			<key>logo</key>
			<string>goFM</string>
			<key>link</key>
			<string>http://www.listenlive.eu/dk_gofm.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Århus</string>
		</dict>
		<dict>
			<key>name</key>
			<string>myRock</string>
			<key>logo</key>
			<string>myRock</string>
			<key>link</key>
			<string>http://www.listenlive.eu/myrock.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Næstved Lokal Radio</string>
			<key>logo</key>
			<string>Lokal</string>
			<key>link</key>
			<string>http://stream.vibestream.dk:8015/stream.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Næstved</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nova FM</string>
			<key>logo</key>
			<string>Nova</string>
			<key>link</key>
			<string>http://www.listenlive.eu/streams/denmark/novafm.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pop FM</string>
			<key>logo</key>
			<string>Pop</string>
			<key>link</key>
			<string>http://www.listenlive.eu/streams/denmark/popfm.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>60s-90s</string>
		</dict>
		<dict>
			<key>name</key>
			<string>The Voice</string>
			<key>logo</key>
			<string>Voice</string>
			<key>link</key>
			<string>http://www.listenlive.eu/thevoice_dk.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio24syv</string>
			<key>logo</key>
			<string>Radio24syv</string>
			<key>link</key>
			<string>http://rrr.sz.xlcdn.com/?account=Radio24syv&amp;file=ENC1_Web128&amp;type=live&amp;service=icecast&amp;port=8000&amp;output=pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News/Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio 100FM</string>
			<key>logo</key>
			<string>100FM</string>
			<key>link</key>
			<string>http://www.listenlive.eu/streams/denmark/radio100fm.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Soft</string>
			<key>logo</key>
			<string>Soft</string>
			<key>link</key>
			<string>http://www.listenlive.eu/streams/denmark/radiosoft.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio 2000</string>
			<key>logo</key>
			<string>2000</string>
			<key>link</key>
			<string>http://icecast3.radiostuff.dk:8000/radio2000.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Ringe</string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
