<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1</string>
		<key>Back</key>
		<string>1</string>
		<key>Banner</key>
		<string>1</string>
		<key>Show1</key>
		<string>1</string>
		<key>Show2</key>
		<string>1</string>
		<key>Show3</key>
		<string>1</string>
		<key>Show4</key>
		<string>1</string>
		<key>Alarm</key>
		<string>1</string>
		<key>CustomBanner</key>
		<string>1</string>
		<key>CustomSplash</key>
		<string>1</string>
		<key>Header</key>
		<string>1</string>
		<key>Footer</key>
		<string>1</string>
		<key>Email</key>
		<string>www@vesti.lv</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1</string>
		<key>Developer</key>
		<string>1</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>DR Nyheder</string>
			<key>logo</key>
			<string>Nyheder</string>
			<key>link</key>
			<string>http://live-icy.gss.dr.dk:8000/A/A02L.mp3.m3u</string>
			<key>http</key>
			<string>http://live-icy.gss.dr.dk:8000/A/A02H.mp3.m3u</string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DR Ramasjang</string>
			<key>logo</key>
			<string>Ramasjang</string>
			<key>link</key>
			<string>http://live-icy.gss.dr.dk:8000/A/A24L.mp3.m3u</string>
			<key>http</key>
			<string>http://live-icy.gss.dr.dk:8000/A/A24H.mp3.m3u</string>
			<key>note</key>
			<string>Children programmes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DR P1</string>
			<key>logo</key>
			<string>P1</string>
			<key>link</key>
			<string>http://live-icy.gss.dr.dk:8000/A/A03L.mp3.m3u</string>
			<key>http</key>
			<string>http://live-icy.gss.dr.dk:8000/A/A03H.mp3.m3u</string>
			<key>note</key>
			<string>News/Features</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DR P2 Klassisk</string>
			<key>logo</key>
			<string>P2</string>
			<key>link</key>
			<string>http://live-icy.gss.dr.dk:8000/A/A04L.mp3.m3u</string>
			<key>http</key>
			<string>http://live-icy.gss.dr.dk:8000/A/A04H.mp3.m3u</string>
			<key>note</key>
			<string>Classical/Cultural</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DR P3</string>
			<key>logo</key>
			<string>P3</string>
			<key>link</key>
			<string>http://live-icy.gss.dr.dk:8000/A/A05L.mp3.m3u</string>
			<key>http</key>
			<string>http://live-icy.gss.dr.dk:8000/A/A05H.mp3.m3u</string>
			<key>note</key>
			<string>News/Youth</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DR P4 Bornholm</string>
			<key>logo</key>
			<string>Bornholm</string>
			<key>link</key>
			<string>http://live-icy.gss.dr.dk:8000/A/A06L.mp3.m3u</string>
			<key>http</key>
			<string>http://live-icy.gss.dr.dk:8000/A/A06H.mp3.m3u</string>
			<key>note</key>
			<string>Rønne</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DR P4 Esbjerg</string>
			<key>logo</key>
			<string>Esbjerg</string>
			<key>link</key>
			<string>http://live-icy.gss.dr.dk:8000/A/A15L.mp3.m3u</string>
			<key>http</key>
			<string>http://live-icy.gss.dr.dk:8000/A/A15L.mp3.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>DR P4 Fyn</string>
			<key>logo</key>
			<string>Fyn</string>
			<key>link</key>
			<string>http://live-icy.gss.dr.dk:8000/A/A07L.mp3.m3u</string>
			<key>http</key>
			<string>http://live-icy.gss.dr.dk:8000/A/A07H.mp3.m3u</string>
			<key>note</key>
			<string>Odense</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DR P4 København</string>
			<key>logo</key>
			<string>P4</string>
			<key>link</key>
			<string>http://live-icy.gss.dr.dk:8000/A/A08L.mp3.m3u</string>
			<key>http</key>
			<string>http://live-icy.gss.dr.dk:8000/A/A08H.mp3.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>DR P5</string>
			<key>logo</key>
			<string>P5</string>
			<key>link</key>
			<string>http://live-icy.gss.dr.dk:8000/A/A25L.mp3.m3u</string>
			<key>http</key>
			<string>http://live-icy.gss.dr.dk:8000/A/A25H.mp3.m3u</string>
			<key>note</key>
			<string>Music/Features</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DR P6 Beat</string>
			<key>logo</key>
			<string>P6</string>
			<key>link</key>
			<string>http://live-icy.gss.dr.dk:8000/A/A29L.mp3.m3u</string>
			<key>http</key>
			<string>http://live-icy.gss.dr.dk:8000/A/A29H.mp3.m3u</string>
			<key>note</key>
			<string>Alternative</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DR P7 Mix</string>
			<key>logo</key>
			<string>P7</string>
			<key>link</key>
			<string>http://live-icy.gss.dr.dk:8000/A/A21L.mp3.m3u</string>
			<key>http</key>
			<string>http://live-icy.gss.dr.dk:8000/A/A21H.mp3.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>DR P8 Jazz</string>
			<key>logo</key>
			<string>P8</string>
			<key>link</key>
			<string>http://live-icy.gss.dr.dk:8000/A/A22L.mp3.m3u</string>
			<key>http</key>
			<string>http://live-icy.gss.dr.dk:8000/A/A22H.mp3.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
