<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>KTK</string>
		<key>logo</key>
		<string>ktk</string>
		<key>link</key>
		<string>http://www.ktk.kz/ru/live</string>
		<key>http</key>
		<string>http://www.ktk.kz/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Первый в Казахстане</string>
		<key>logo</key>
		<string>1</string>
		<key>link</key>
		<string>https://1tv.kz/1tv-live/</string>
		<key>http</key>
		<string>https://www.youtube.com/channel/UClnTdCChBo5ocDX70Lh--uQ/videos?view=2&amp;live_view=501</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Астана TV</string>
		<key>logo</key>
		<string>astana</string>
		<key>link</key>
		<string>https://astanatv.kz/ru/live</string>
		<key>http</key>
		<string>https://astanatv.kz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Qazaqstan (Қазақстан)</string>
		<key>logo</key>
		<string>kaztrk</string>
		<key>link</key>
		<string>https://qazaqstan.tv/live</string>
		<key>http</key>
		<string>https://qazaqstan.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>QAZSPORT (Қазспорт)</string>
		<key>logo</key>
		<string>kazsport</string>
		<key>link</key>
		<string>https://qazsporttv.kz/kz/live</string>
		<key>http</key>
		<string>https://qazsporttv.kz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Балапан</string>
		<key>logo</key>
		<string>balapan</string>
		<key>link</key>
		<string>https://balapan.tv/live</string>
		<key>http</key>
		<string>https://balapan.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>7 Channel</string>
		<key>logo</key>
		<string>7</string>
		<key>link</key>
		<string>http://tv7.kz/kz/online/</string>
		<key>http</key>
		<string>http://tv7.kz/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Новое телевидение</string>
		<key>logo</key>
		<string>novoe</string>
		<key>link</key>
		<string>http://novoetv.kz/smotret-onlajn/</string>
		<key>http</key>
		<string>http://novoetv.kz/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>МТРК</string>
		<key>logo</key>
		<string>mtrk</string>
		<key>link</key>
		<string>https://mtrk.kz/ru/on-air-online/</string>
		<key>http</key>
		<string>https://mtrk.kz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Gakku</string>
		<key>logo</key>
		<string>gakku</string>
		<key>link</key>
		<string>https://gakku.kz/ru/tv</string>
		<key>http</key>
		<string>https://gakku.kz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hit TV</string>
		<key>logo</key>
		<string>hittv</string>
		<key>link</key>
		<string>http://hittv.kz/pryamoj-efir.html</string>
		<key>http</key>
		<string>http://hittv.kz/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ТУРАН</string>
		<key>logo</key>
		<string>turantv</string>
		<key>link</key>
		<string>https://turantv.kz/live.html</string>
		<key>http</key>
		<string>https://turantv.kz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Asyl Arna (Асыл арна)</string>
		<key>logo</key>
		<string>asylarna</string>
		<key>link</key>
		<string>http://www.asylarna.kz/online</string>
		<key>http</key>
		<string>http://www.asylarna.kz/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Қазақстан Ақтау</string>
		<key>logo</key>
		<string>kaztrk1</string>
		<key>link</key>
		<string>http://mangystautv.kz/kz/online</string>
		<key>http</key>
		<string>https://kaztrk.kz/kz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Қазақстан Ақтөбе</string>
		<key>logo</key>
		<string>kaztrk2</string>
		<key>link</key>
		<string>http://aktobetv.kz/kz/online</string>
		<key>http</key>
		<string>https://kaztrk.kz/kz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Қазақстан Алматы</string>
		<key>logo</key>
		<string>kaztrk3</string>
		<key>link</key>
		<string>http://almatytrk.kz/kz/online</string>
		<key>http</key>
		<string>https://kaztrk.kz/kz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Қазақстан Атырау</string>
		<key>logo</key>
		<string>kaztrk4</string>
		<key>link</key>
		<string>http://atyrautv.kz/kz/online</string>
		<key>http</key>
		<string>https://kaztrk.kz/kz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Қазақстан Қарағанды</string>
		<key>logo</key>
		<string>kaztrk5</string>
		<key>link</key>
		<string>http://kartv.kz/kz/online</string>
		<key>http</key>
		<string>https://kaztrk.kz/kz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Қазақстан Көкшетау</string>
		<key>logo</key>
		<string>kaztrk6</string>
		<key>link</key>
		<string>http://kokshetautv.kz/kz/online</string>
		<key>http</key>
		<string>https://kaztrk.kz/kz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Қазақстан Қостанай</string>
		<key>logo</key>
		<string>kaztrk7</string>
		<key>link</key>
		<string>http://kostanaytv.kz/kz/online</string>
		<key>http</key>
		<string>https://kaztrk.kz/kz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Қазақстан Қызылорда</string>
		<key>logo</key>
		<string>kaztrk8</string>
		<key>link</key>
		<string>http://kyzylordatv.kz/kz/online</string>
		<key>http</key>
		<string>https://kaztrk.kz/kz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Қазақстан Орал</string>
		<key>logo</key>
		<string>kaztrk9</string>
		<key>link</key>
		<string>http://oraltv.kz/kz/online</string>
		<key>http</key>
		<string>https://kaztrk.kz/kz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Қазақстан Өскемен</string>
		<key>logo</key>
		<string>kaztrk10</string>
		<key>link</key>
		<string>http://oskementv.kz/kz/online</string>
		<key>http</key>
		<string>https://kaztrk.kz/kz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Қазақстан Павлодар</string>
		<key>logo</key>
		<string>kaztrk11</string>
		<key>link</key>
		<string>http://pavlodartv.kz/kz/online</string>
		<key>http</key>
		<string>https://kaztrk.kz/kz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Қазақстан Петропавл</string>
		<key>logo</key>
		<string>kaztrk12</string>
		<key>link</key>
		<string>http://petropavltv.kz/kz/online</string>
		<key>http</key>
		<string>https://kaztrk.kz/kz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Қазақстан Семей</string>
		<key>logo</key>
		<string>kaztrk13</string>
		<key>link</key>
		<string>http://semeytv.kz/kz/online</string>
		<key>http</key>
		<string>https://kaztrk.kz/kz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Қазақстан Шымкент</string>
		<key>logo</key>
		<string>kaztrk14</string>
		<key>link</key>
		<string>http://shymkenttv.kz/kz/online</string>
		<key>http</key>
		<string>https://kaztrk.kz/kz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Қазақстан Тараз</string>
		<key>logo</key>
		<string>kaztrk15</string>
		<key>link</key>
		<string>http://taraztv.kz/kz/online</string>
		<key>http</key>
		<string>https://kaztrk.kz/kz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Алматы</string>
		<key>logo</key>
		<string>Almaty</string>
		<key>link</key>
		<string>https://almaty.tv/broadcasting</string>
		<key>http</key>
		<string>https://almaty.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>НТК - Независимый Телевизионный Канал</string>
		<key>logo</key>
		<string>HTK</string>
		<key>link</key>
		<string>http://www.ntk.kz/ru/live/</string>
		<key>http</key>
		<string>http://www.ntk.kz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Рика</string>
		<key>logo</key>
		<string>Rika</string>
		<key>link</key>
		<string>http://www.rikatv.kz/onlayn-tv/</string>
		<key>http</key>
		<string>http://www.rikatv.kz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Muzzone</string>
		<key>logo</key>
		<string>Muzzone</string>
		<key>link</key>
		<string>https://muzzone.tv/</string>
		<key>http</key>
		<string>https://player-muzzone.daitsuna.net/player</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Atameken Business</string>
		<key>logo</key>
		<string>Atameken</string>
		<key>link</key>
		<string>https://inbusiness.kz/ru/tv</string>
		<key>http</key>
		<string>https://inbusiness.kz</string>
	</dict>
</array>
</plist>
