<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>KTK</string>
		<key>logo</key>
		<string>ktk</string>
		<key>link</key>
		<string>http://www.ktk.kz/ru/live</string>
		<key>http</key>
		<string>http://www.ktk.kz/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Первый в Казахстане</string>
		<key>logo</key>
		<string>1</string>
		<key>link</key>
		<string>https://1tv.kz/?page_id=38</string>
		<key>http</key>
		<string>https://1tv.kz/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Астана TV</string>
		<key>logo</key>
		<string>astana</string>
		<key>link</key>
		<string>http://www.astanatv.kz/p/Online.html</string>
		<key>http</key>
		<string>http://www.astanatv.kz/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Қазақстан</string>
		<key>logo</key>
		<string>kaztrk</string>
		<key>link</key>
		<string>http://kaztv.kaztrk.kz/kz/live/</string>
		<key>http</key>
		<string>http://kaztv.kaztrk.kz/kz/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>KAZSPORT</string>
		<key>logo</key>
		<string>kazsport</string>
		<key>link</key>
		<string>http://kazsport.kaztrk.kz/online</string>
		<key>http</key>
		<string>http://kazsport.kaztrk.kz/kz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Балапан</string>
		<key>logo</key>
		<string>balapan</string>
		<key>link</key>
		<string>http://balapan.kaztrk.kz/kz/online</string>
		<key>http</key>
		<string>http://balapan.kaztrk.kz/kz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>7 Channel</string>
		<key>logo</key>
		<string>7</string>
		<key>link</key>
		<string>http://tv7.kz/kz/online/</string>
		<key>http</key>
		<string>http://tv7.kz/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Новое телевидение</string>
		<key>logo</key>
		<string>novoe</string>
		<key>link</key>
		<string>http://novoetv.kz/smotret-onlajn/</string>
		<key>http</key>
		<string>http://novoetv.kz/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>МТРК</string>
		<key>logo</key>
		<string>mtrk</string>
		<key>link</key>
		<string>http://mtrk.kz/ru/online.html</string>
		<key>http</key>
		<string>http://mtrk.kz/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Gakku</string>
		<key>logo</key>
		<string>gakku</string>
		<key>link</key>
		<string>http://gakku.kz/ru/tv</string>
		<key>http</key>
		<string>http://gakku.kz/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hit TV</string>
		<key>logo</key>
		<string>hittv</string>
		<key>link</key>
		<string>http://hittv.kz/pryamoj-efir.html</string>
		<key>http</key>
		<string>http://hittv.kz/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ТУРАН</string>
		<key>logo</key>
		<string>turantv</string>
		<key>link</key>
		<string>http://turantv.kz/live</string>
		<key>http</key>
		<string>http://turantv.kz/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Асыл арна</string>
		<key>logo</key>
		<string>asylarna</string>
		<key>link</key>
		<string>http://www.asylarna.kz/online</string>
		<key>http</key>
		<string>http://www.asylarna.kz/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Қазақстан Ақтау</string>
		<key>logo</key>
		<string>kaztrk1</string>
		<key>link</key>
		<string>http://mangystautv.kz/kz/online</string>
		<key>http</key>
		<string>https://kaztrk.kz/kz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Қазақстан Ақтөбе</string>
		<key>logo</key>
		<string>kaztrk2</string>
		<key>link</key>
		<string>http://aktobetv.kz/kz/online</string>
		<key>http</key>
		<string>https://kaztrk.kz/kz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Қазақстан Алматы</string>
		<key>logo</key>
		<string>kaztrk3</string>
		<key>link</key>
		<string>http://almatytrk.kz/kz/online</string>
		<key>http</key>
		<string>https://kaztrk.kz/kz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Қазақстан Атырау</string>
		<key>logo</key>
		<string>kaztrk4</string>
		<key>link</key>
		<string>http://atyrautv.kz/kz/online</string>
		<key>http</key>
		<string>https://kaztrk.kz/kz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Қазақстан Қарағанды</string>
		<key>logo</key>
		<string>kaztrk5</string>
		<key>link</key>
		<string>http://kartv.kz/kz/online</string>
		<key>http</key>
		<string>https://kaztrk.kz/kz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Қазақстан Көкшетау</string>
		<key>logo</key>
		<string>kaztrk6</string>
		<key>link</key>
		<string>http://kokshetautv.kz/kz/online</string>
		<key>http</key>
		<string>https://kaztrk.kz/kz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Қазақстан Қостанай</string>
		<key>logo</key>
		<string>kaztrk7</string>
		<key>link</key>
		<string>http://kostanaytv.kz/kz/online</string>
		<key>http</key>
		<string>https://kaztrk.kz/kz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Қазақстан Қызылорда</string>
		<key>logo</key>
		<string>kaztrk8</string>
		<key>link</key>
		<string>http://kyzylordatv.kz/kz/online</string>
		<key>http</key>
		<string>https://kaztrk.kz/kz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Қазақстан Орал</string>
		<key>logo</key>
		<string>kaztrk9</string>
		<key>link</key>
		<string>http://oraltv.kz/kz/online</string>
		<key>http</key>
		<string>https://kaztrk.kz/kz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Қазақстан Өскемен</string>
		<key>logo</key>
		<string>kaztrk10</string>
		<key>link</key>
		<string>http://oskementv.kz/kz/online</string>
		<key>http</key>
		<string>https://kaztrk.kz/kz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Қазақстан Павлодар</string>
		<key>logo</key>
		<string>kaztrk11</string>
		<key>link</key>
		<string>http://pavlodartv.kz/kz/online</string>
		<key>http</key>
		<string>https://kaztrk.kz/kz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Қазақстан Петропавл</string>
		<key>logo</key>
		<string>kaztrk12</string>
		<key>link</key>
		<string>http://petropavltv.kz/kz/online</string>
		<key>http</key>
		<string>https://kaztrk.kz/kz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Қазақстан Семей</string>
		<key>logo</key>
		<string>kaztrk13</string>
		<key>link</key>
		<string>http://semeytv.kz/kz/online</string>
		<key>http</key>
		<string>https://kaztrk.kz/kz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Қазақстан Шымкент</string>
		<key>logo</key>
		<string>kaztrk14</string>
		<key>link</key>
		<string>http://shymkenttv.kz/kz/online</string>
		<key>http</key>
		<string>https://kaztrk.kz/kz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Қазақстан Тараз</string>
		<key>logo</key>
		<string>kaztrk15</string>
		<key>link</key>
		<string>http://taraztv.kz/kz/online</string>
		<key>http</key>
		<string>https://kaztrk.kz/kz</string>
	</dict>
</array>
</plist>
