<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1</string>
		<key>Back</key>
		<string>1</string>
		<key>Banner</key>
		<string>1</string>
		<key>Show1</key>
		<string>1</string>
		<key>Show2</key>
		<string>1</string>
		<key>Show3</key>
		<string>1</string>
		<key>Show4</key>
		<string>1</string>
		<key>Alarm</key>
		<string>1</string>
		<key>CustomBanner</key>
		<string>1</string>
		<key>CustomSplash</key>
		<string>1</string>
		<key>Header</key>
		<string>1</string>
		<key>Footer</key>
		<string>1</string>
		<key>Email</key>
		<string>1</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1</string>
		<key>Developer</key>
		<string>1</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Menu</key>
	<array>
		<string>Top</string>
		<string>News</string>
		<string>Local</string>
		<string>Classic</string>
		<string>Music</string>
		<string>Sport</string>
		<string>Talk</string>
		<string>Youth</string>
		<string>Oldies</string>
	</array>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>95BFM</string>
			<key>logo</key>
			<string>95BFM</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/95-bfm-dsl,5271.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/95-bfm-modem,892.m3u</string>
			<key>note</key>
			<string>Gold Coast (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>90.9 Sea FM</string>
			<key>logo</key>
			<string>Sea</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/90-9-sea-fm,9763.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Active 89 FM</string>
			<key>logo</key>
			<string>Active</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/active-89-fm,893.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Apna 990 AM</string>
			<key>logo</key>
			<string>Apna</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/apna-990-am,10717.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Henderson (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Base FM 107.7</string>
			<key>logo</key>
			<string>Base</string>
			<key>link</key>
			<string>http://stream.basefm.co.nz:8000/BaseHi</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/base-fm-107-7,10531.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Breeze FM</string>
			<key>logo</key>
			<string>Breeze</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/the-breeze-fm,897.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chinese Voice</string>
			<key>logo</key>
			<string>Chinese</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/chinese-voice-radio-99-4-fm,18967.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Coast FM</string>
			<key>logo</key>
			<string>Coast</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/coast-fm,8647.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dunedin</string>
			<key>logo</key>
			<string>Dunedin</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-dunedin,16784.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Edge 94.2</string>
			<key>logo</key>
			<string>Edg</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/the-edge-94-2,12103.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Eketahuna 106.5 FM</string>
			<key>logo</key>
			<string>Eketahuna</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-eketahuna-106-5-fm,19678.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Tararua District (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>FLAVA Hip Hop and RnB</string>
			<key>logo</key>
			<string>FLAVA</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/flava-hip-hop-rnb,17088.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>George 96.8 FM</string>
			<key>logo</key>
			<string>George</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/george-96-8-fm,7776.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hauraki 99.0 FM</string>
			<key>logo</key>
			<string>Hauraki</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-hauraki-99-0-fm,18968.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Heads 106.4 FM</string>
			<key>logo</key>
			<string>Heads</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/heads-106-4-fm,18969.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mai FM 88.6</string>
			<key>logo</key>
			<string>Mai</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/mai-fm-88-6,17086.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RNZ International </string>
			<key>logo</key>
			<string>RNZ</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/neuseeland-int,896.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>RNZ National</string>
			<key>logo</key>
			<string>RN</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/national-radio,7491.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>RNZ Concert</string>
			<key>logo</key>
			<string>Concert</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/concert-fm,7490.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Newstalk ZB 89.4 FM</string>
			<key>logo</key>
			<string>ZB</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/newstalk-zb-89-4-fm,18990.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Niu FM 103.8</string>
			<key>logo</key>
			<string>Niu</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/niu-fm-103-8,17087.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pulse</string>
			<key>logo</key>
			<string>Pulse</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/the-pulse-radio,18970.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sport - 1332 AM</string>
			<key>logo</key>
			<string>1332</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-sport-1332-am,18966.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sleep</string>
			<key>logo</key>
			<string>Sleep</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/sleep-radio,19414.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music (Te Aroha, Local)</string>
		</dict>
	</array>
</dict>
</plist>
