<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string></string>
		<key>Back</key>
		<string></string>
		<key>Banner</key>
		<string></string>
		<key>Show1</key>
		<string></string>
		<key>Show2</key>
		<string></string>
		<key>Show3</key>
		<string></string>
		<key>Show4</key>
		<string></string>
		<key>Alarm</key>
		<string></string>
		<key>CustomBanner</key>
		<string></string>
		<key>CustomSplash</key>
		<string></string>
		<key>Header</key>
		<string></string>
		<key>Footer</key>
		<string></string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string></string>
		<key>Application</key>
		<string></string>
		<key>Developer</key>
		<string></string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Boss FM 104.1</string>
			<key>logo</key>
			<string>Boss</string>
			<key>link</key>
			<string>https://usa8.fastcast4u.com/proxy/bossfm2?mp=/1&amp;1585048851173</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/boss-104-1-9-fm-grenada,16683.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>City Sound 96.5 FM</string>
			<key>logo</key>
			<string>City</string>
			<key>link</key>
			<string>http://auds1.intacs.com/citysoundfm.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/city-sound-97-5,16684.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>GBN Gospel 97.1 FM</string>
			<key>logo</key>
			<string>GBN</string>
			<key>link</key>
			<string>http://gbn.gd:8111/GBNGOSPEL.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>GBN Hott 98</string>
			<key>logo</key>
			<string>Hott</string>
			<key>link</key>
			<string>http://gbn.gd:8111/hottfm98.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>GBN K105</string>
			<key>logo</key>
			<string>K105</string>
			<key>link</key>
			<string>http://gbn.gd:8111/k105.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>GFN Radio 100.3 FM</string>
			<key>logo</key>
			<string>GFN</string>
			<key>link</key>
			<string>http://video-dev.github.io/streams/x36xhzz/x36xhzz.m3u8</string>
			<key>http</key>
			<string>http://stream.eleden.com:8610/tgfnradio.aac</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>GTC 90.5 FM</string>
			<key>logo</key>
			<string>GTC</string>
			<key>link</key>
			<string>https://freeuk6.listen2myradio.com/live.mp3?typeportmount=s1_7724_stream</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Harbour Light Christian</string>
			<key>logo</key>
			<string>Harbour</string>
			<key>link</key>
			<string>http://199.127.197.73:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Magic 88.9 FM</string>
			<key>logo</key>
			<string>Magic</string>
			<key>link</key>
			<string>http://192.99.13.189:9748/listen.pls</string>
			<key>http</key>
			<string>https://live.voiceplusmedia.com:7036/;</string>
			<key>note</key>
			<string>News, Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Spiceislander 90.1 FM</string>
			<key>logo</key>
			<string>Spiceislander</string>
			<key>link</key>
			<string>http://192.99.13.189:9752/listen.pls</string>
			<key>http</key>
			<string>https://live.voiceplusmedia.com:7038/;</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Star FM 101.9</string>
			<key>logo</key>
			<string>Sta</string>
			<key>link</key>
			<string>http://equinox.shoutca.st:8288/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>The Soul of Grenada 90.9 FM</string>
			<key>logo</key>
			<string>Soul</string>
			<key>link</key>
			<string>https://tsogradio.out.airtime.pro/tsogradio_a.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Wee FM 93.3</string>
			<key>logo</key>
			<string>Wee</string>
			<key>link</key>
			<string>http://37.59.32.115:2199/tunein/mikey_eu2.pls</string>
			<key>http</key>
			<string>https://usa8.fastcast4u.com/proxy/weefm2?mp=/1&amp;1585047799837</string>
			<key>note</key>
			<string>Music</string>
		</dict>
	</array>
</dict>
</plist>
