<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1</string>
		<key>Back</key>
		<string>1</string>
		<key>Banner</key>
		<string>1</string>
		<key>Header</key>
		<string>1</string>
		<key>Footer</key>
		<string>1</string>
		<key>Email</key>
		<string>1</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1</string>
		<key>Developer</key>
		<string>1</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<integer>2</integer>
		<key>DemoMode</key>
		<string>10</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>RTP Africa</string>
			<key>logo</key>
			<string>RTP</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/11040.mp4</string>
			<key>country</key>
			<string>Angola</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Afrique Média</string>
			<key>logo</key>
			<string>Afrique</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/11041.mp4</string>
			<key>country</key>
			<string>Benin</string>
		</dict>
		<dict>
			<key>name</key>
			<string>africanews</string>
			<key>logo</key>
			<string>Africanews</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/11042.mp4</string>
			<key>country</key>
			<string>Congo Brazzaville</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TV3</string>
			<key>logo</key>
			<string>TV3</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/11043.mp4</string>
			<key>country</key>
			<string>Ghana</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Televiziona Malagasy</string>
			<key>logo</key>
			<string>Malagasy</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/11044.mp4</string>
			<key>country</key>
			<string>Madagascar</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ORTM</string>
			<key>logo</key>
			<string>ORTM</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/11045.mp4</string>
			<key>country</key>
			<string>Mali</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TM2</string>
			<key>logo</key>
			<string>TM2</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/11046.mp4</string>
			<key>country</key>
			<string>Mali</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RTV (RBA)</string>
			<key>logo</key>
			<string>RBA</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/11047.mp4</string>
			<key>country</key>
			<string>Rwanda</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NBS</string>
			<key>logo</key>
			<string>NBS</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/11048.mp4</string>
			<key>country</key>
			<string>Uganda</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NTV</string>
			<key>logo</key>
			<string>NTV</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/11049.mp4</string>
			<key>country</key>
			<string>Uganda</string>
		</dict>
	</array>
</dict>
</plist>
