<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1</string>
		<key>Back</key>
		<string>1</string>
		<key>Banner</key>
		<string>1</string>
		<key>Header</key>
		<string>1</string>
		<key>Footer</key>
		<string>1</string>
		<key>Email</key>
		<string>shelvinscare@gmail.com</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1</string>
		<key>Developer</key>
		<string>1</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<integer>2</integer>
		<key>DemoMode</key>
		<string>10</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Echorouk (HD الشروق تي في‎‎)</string>
			<key>logo</key>
			<string>Echorouk</string>
			<key>link</key>
			<string>https://tv.echoroukonline.com/live/</string>
			<key>http</key>
			<string>https://www.echoroukonline.com/#live</string>
			<key>country</key>
			<string>Algeria (الجزائر‎)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ennahar (قناة النهار)</string>
			<key>logo</key>
			<string>Ennahar</string>
			<key>link</key>
			<string>https://www.ennaharonline.com/live/</string>
			<key>http</key>
			<string>https://www.ennaharonline.com</string>
			<key>country</key>
			<string>Algeria (الجزائر‎)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>El Bilad</string>
			<key>logo</key>
			<string>Bilad</string>
			<key>link</key>
			<string>http://www.elbilad.net/static/tv</string>
			<key>http</key>
			<string>http://www.elbilad.net</string>
			<key>country</key>
			<string>Algeria (الجزائر‎)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>AlMagharibia (المغاربية‎)</string>
			<key>logo</key>
			<string>AlMagharibia</string>
			<key>link</key>
			<string>https://almagharibia.tv/</string>
			<key>http</key>
			<string>https://almagharibia.tv/</string>
			<key>country</key>
			<string>Algeria (الجزائر‎)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Numidia</string>
			<key>logo</key>
			<string>Numidia</string>
			<key>link</key>
			<string>http://www.numidiatv.tv/direct/</string>
			<key>http</key>
			<string>http://www.numidiatv.tv/direct/</string>
			<key>country</key>
			<string>Algeria (الجزائر‎)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CNA (La Chaîne Nord-Africaine)</string>
			<key>logo</key>
			<string>CNA</string>
			<key>link</key>
			<string>http://www.cna-sat.org/CnaLiveTv.html</string>
			<key>http</key>
			<string>http://www.cna-sat.org/</string>
			<key>country</key>
			<string>Algeria (الجزائر‎)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Zimbo</string>
			<key>logo</key>
			<string>Zimbo</string>
			<key>link</key>
			<string>http://www.tvzimbo.com/</string>
			<key>http</key>
			<string>https://livestream.com/accounts/19766999/events/5548210</string>
			<key>country</key>
			<string>Angola</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RTP Africa</string>
			<key>logo</key>
			<string>RTP</string>
			<key>link</key>
			<string>https://www.rtp.pt/play/direto/rtpafrica</string>
			<key>http</key>
			<string>http://www.rtp.pt/rtpafrica/</string>
			<key>country</key>
			<string>Angola</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Afrique Média</string>
			<key>logo</key>
			<string>Afrique</string>
			<key>link</key>
			<string>http://www.afriquemedia.tv/live</string>
			<key>http</key>
			<string>http://www.afriquemedia.tv</string>
			<key>country</key>
			<string>Benin</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ICÔN AFRICA</string>
			<key>logo</key>
			<string>AFRICA</string>
			<key>link</key>
			<string>https://www.iconafricatv.com/videos-c23dw</string>
			<key>http</key>
			<string>https://www.iconafricatv.com</string>
			<key>country</key>
			<string>Benin</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Terre Mère</string>
			<key>logo</key>
			<string>Terre</string>
			<key>link</key>
			<string>https://www.iconafricatv.com/ltm--live</string>
			<key>http</key>
			<string>https://www.iconafricatv.com</string>
			<key>country</key>
			<string>Benin</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TROPIC</string>
			<key>logo</key>
			<string>TROPIC</string>
			<key>link</key>
			<string>https://www.iconafricatv.com/tropic-tv</string>
			<key>http</key>
			<string>https://www.iconafricatv.com</string>
			<key>country</key>
			<string>Benin</string>
		</dict>
		<dict>
			<key>name</key>
			<string>GOSPEL</string>
			<key>logo</key>
			<string>GOSPEL</string>
			<key>link</key>
			<string>https://www.iconafricatv.com/gospel-tv</string>
			<key>http</key>
			<string>https://www.iconafricatv.com</string>
			<key>country</key>
			<string>Benin</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RTB</string>
			<key>logo</key>
			<string>RTB</string>
			<key>link</key>
			<string>http://www.rtb.bf/television-en-direct/</string>
			<key>http</key>
			<string>http://www.rtb.bf</string>
			<key>country</key>
			<string>Burkina Faso</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Impact</string>
			<key>logo</key>
			<string>Impact</string>
			<key>link</key>
			<string>http://www.impacttele.tv/</string>
			<key>http</key>
			<string>http://www.impacttele.tv/</string>
			<key>country</key>
			<string>Burkina Faso</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Canal 2 International</string>
			<key>logo</key>
			<string>International</string>
			<key>link</key>
			<string>http://www.canal2international.net/live.php</string>
			<key>http</key>
			<string>http://www.canal2international.net</string>
			<key>country</key>
			<string>Cameroon</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TCV (Televisão de Cabo Verde)</string>
			<key>logo</key>
			<string>TCV1</string>
			<key>link</key>
			<string>http://www.rtc.cv/tcvdirecto/</string>
			<key>http</key>
			<string>http://www.rtc.cv</string>
			<key>country</key>
			<string>Cape Verde (Kabu Verdi)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RTC (Radiotelevisão Caboverdiana)</string>
			<key>logo</key>
			<string>TCV2</string>
			<key>link</key>
			<string>http://www.rtc.cv/rcvdirecto/</string>
			<key>http</key>
			<string>http://www.rtc.cv</string>
			<key>country</key>
			<string>Cape Verde (Kabu Verdi)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RTC+ (Radiotelevisão Caboverdiana)</string>
			<key>logo</key>
			<string>TCV3</string>
			<key>link</key>
			<string>http://www.rtc.cv/rcvmaisdirecto/</string>
			<key>http</key>
			<string>http://www.rtc.cv</string>
			<key>country</key>
			<string>Cape Verde (Kabu Verdi)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Télé Tchad</string>
			<key>logo</key>
			<string>Tchad</string>
			<key>link</key>
			<string>http://www.onrtv.org/tv/</string>
			<key>http</key>
			<string>http://www.onrtv.org/fr/</string>
			<key>country</key>
			<string>Chad (تشاد‎)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Africanews</string>
			<key>logo</key>
			<string>Africanews</string>
			<key>link</key>
			<string>http://www.africanews.com/live/</string>
			<key>http</key>
			<string>https://www.youtube.com/channel/UC1_E8NeF5QHY2dtdLRBCCLA/videos?flow=grid&amp;live_view=501&amp;view=2</string>
			<key>country</key>
			<string>Congo Brazzaville</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ratelki</string>
			<key>logo</key>
			<string>Ratelki</string>
			<key>link</key>
			<string>http://ratelki.net</string>
			<key>http</key>
			<string>http://ratelki.net</string>
			<key>country</key>
			<string>Congo DR (DRC Kinshasa)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Congo Planet</string>
			<key>logo</key>
			<string>Planet</string>
			<key>link</key>
			<string>http://www.congoplanet.com/congo_television_live.jsp</string>
			<key>http</key>
			<string>https://www.congoplanet.com/tv_radio.jsp</string>
			<key>country</key>
			<string>Congo DR (DRC Kinshasa)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RTI (Radiodiffusion Télévision Ivoirienne)</string>
			<key>logo</key>
			<string>Ivoirienne</string>
			<key>link</key>
			<string>http://www.rti.ci/</string>
			<key>http</key>
			<string>http://www.rti.ci/</string>
			<key>country</key>
			<string>Côte d&apos;Ivoire (Ivory Coast)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>225</string>
			<key>logo</key>
			<string>225</string>
			<key>link</key>
			<string>http://www.canal225.com/?page_id=7307</string>
			<key>http</key>
			<string>http://www.canal225.com</string>
			<key>country</key>
			<string>Côte d&apos;Ivoire (Ivory Coast)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Benie</string>
			<key>logo</key>
			<string>Benie</string>
			<key>link</key>
			<string>http://www.benie.tv/index.php/livestream</string>
			<key>http</key>
			<string>http://www.benie.tv</string>
			<key>country</key>
			<string>Côte d&apos;Ivoire (Ivory Coast)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RTD - Télé Djibouti 2</string>
			<key>logo</key>
			<string>RTD2</string>
			<key>link</key>
			<string>http://www.rtd.dj/index.php?option=com_content&amp;view=article&amp;id=1048&amp;Itemid=298</string>
			<key>http</key>
			<string>http://www.rtd.dj</string>
			<key>country</key>
			<string>Djibouti (جيبوتي‎)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RTD - Télé Djibouti 3</string>
			<key>logo</key>
			<string>RTD3</string>
			<key>link</key>
			<string>http://www.rtd.dj/index.php?option=com_content&amp;view=article&amp;id=1691&amp;Itemid=310</string>
			<key>http</key>
			<string>http://www.rtd.dj</string>
			<key>country</key>
			<string>Djibouti (جيبوتي‎)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RTD - Télé Djibouti 4</string>
			<key>logo</key>
			<string>RTD4</string>
			<key>link</key>
			<string>http://www.rtd.dj/index.php?option=com_content&amp;view=article&amp;id=1570&amp;Itemid=250</string>
			<key>http</key>
			<string>http://www.rtd.dj</string>
			<key>country</key>
			<string>Djibouti (جيبوتي‎)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Egypt (مِصر)</string>
			<key>logo</key>
			<string>Egypt</string>
			<key>link</key>
			<string>1349746801</string>
			<key>http</key>
			<string></string>
			<key>country</key>
			<string>This country is available in the separate app. Tap to open</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Eri-TV</string>
			<key>logo</key>
			<string>Eri</string>
			<key>link</key>
			<string>http://www.eastafro.com/EriTV1/</string>
			<key>http</key>
			<string>http://www.eastafro.com</string>
			<key>country</key>
			<string>Eritrea (دولة إرتريا)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>EBC 1</string>
			<key>logo</key>
			<string>EBC1</string>
			<key>link</key>
			<string>http://www.ebc.et/web/en/etv</string>
			<key>http</key>
			<string>https://www.youtube.com/channel/UCOhrz3uRCOHmK6ueUstw7_Q/videos?flow=grid&amp;live_view=501&amp;view=2</string>
			<key>country</key>
			<string>Ethiopia (ኢትዮጵያ)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>EBC 2</string>
			<key>logo</key>
			<string>EBC2</string>
			<key>link</key>
			<string>http://www.ebc.et/web/en/etv-language</string>
			<key>http</key>
			<string>https://www.youtube.com/channel/UCOhrz3uRCOHmK6ueUstw7_Q/videos?flow=grid&amp;live_view=501&amp;view=2</string>
			<key>country</key>
			<string>Ethiopia (ኢትዮጵያ)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>EBC 3</string>
			<key>logo</key>
			<string>EBC3</string>
			<key>link</key>
			<string>http://www.ebc.et/web/en/etv-entertainment</string>
			<key>http</key>
			<string>https://www.youtube.com/channel/UCOhrz3uRCOHmK6ueUstw7_Q/videos?flow=grid&amp;live_view=501&amp;view=2</string>
			<key>country</key>
			<string>Ethiopia (ኢትዮጵያ)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ETN Elshaddai</string>
			<key>logo</key>
			<string>ETN</string>
			<key>link</key>
			<string>http://elshaddaitv.org/</string>
			<key>http</key>
			<string>http://elshaddaitv.org/</string>
			<key>country</key>
			<string>Ethiopia (ኢትዮጵያ)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Joy News MultiTV</string>
			<key>logo</key>
			<string>MultiTV</string>
			<key>link</key>
			<string>https://www.multitvworld.com/newworld/live/</string>
			<key>http</key>
			<string>https://www.youtube.com/user/myjoyonlinetube/videos?live_view=501&amp;flow=grid&amp;view=2</string>
			<key>country</key>
			<string>Ghana</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kessben</string>
			<key>logo</key>
			<string>Kessben</string>
			<key>link</key>
			<string>http://kessbentv.com/live/</string>
			<key>http</key>
			<string>http://kessbentv.com</string>
			<key>country</key>
			<string>Ghana</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Adom</string>
			<key>logo</key>
			<string>Adom</string>
			<key>link</key>
			<string>http://multitvworld.com/newworld/live/?vid=adom</string>
			<key>http</key>
			<string>https://www.youtube.com/user/adomtvtube/videos?view=2&amp;flow=grid&amp;live_view=501</string>
			<key>country</key>
			<string>Ghana</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Joy Prime</string>
			<key>logo</key>
			<string>Joy</string>
			<key>link</key>
			<string>http://www.ghanalive.tv/joyprime/</string>
			<key>http</key>
			<string>http://www.ghanalive.tv/joyprime/</string>
			<key>country</key>
			<string>Ghana</string>
		</dict>
		<dict>
			<key>name</key>
			<string>GBC GTV</string>
			<key>logo</key>
			<string>GBC</string>
			<key>link</key>
			<string>http://www.ghanalive.tv/gtv/</string>
			<key>http</key>
			<string>http://www.gbcghana.com/</string>
			<key>country</key>
			<string>Ghana</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TV3</string>
			<key>logo</key>
			<string>TV3</string>
			<key>link</key>
			<string>http://www.ghanalive.tv/tv3-online-stream/</string>
			<key>http</key>
			<string>http://3news.com/</string>
			<key>country</key>
			<string>Ghana</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Healing Jesus</string>
			<key>logo</key>
			<string>Healing</string>
			<key>link</key>
			<string>http://www.healingjesus.tv/n_livenow.htm</string>
			<key>http</key>
			<string>http://www.healingjesus.tv</string>
			<key>country</key>
			<string>Ghana</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Resurrection</string>
			<key>logo</key>
			<string>Resurrection</string>
			<key>link</key>
			<string>http://admin.ottdemo.rrsat.com/multibit/rrsatrtv1/index.php</string>
			<key>http</key>
			<string>http://www.resurrectiontv.org/</string>
			<key>country</key>
			<string>Ghana</string>
		</dict>
		<dict>
			<key>name</key>
			<string>GTV Sports Plus</string>
			<key>logo</key>
			<string>Sports</string>
			<key>link</key>
			<string>http://www.ghanalive.tv/gtv-sports/</string>
			<key>http</key>
			<string>http://www.ghanalive.tv/gtv-sports/</string>
			<key>country</key>
			<string>Ghana</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kenya</string>
			<key>logo</key>
			<string>Kenya</string>
			<key>link</key>
			<string>1349746801</string>
			<key>http</key>
			<string></string>
			<key>country</key>
			<string>This country is available in the separate app. Tap to open</string>
		</dict>
		<dict>
			<key>name</key>
			<string>218</string>
			<key>logo</key>
			<string>218</string>
			<key>link</key>
			<string>http://95.85.47.43:8080/218tv/embed.html</string>
			<key>http</key>
			<string>https://www.218tv.net/</string>
			<key>country</key>
			<string>Libya (ليبيا‎)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>218 News</string>
			<key>logo</key>
			<string>21</string>
			<key>link</key>
			<string>http://95.85.47.43/218news/embed.html</string>
			<key>http</key>
			<string>https://www.218tv.net/</string>
			<key>country</key>
			<string>Libya (ليبيا‎)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Libya 24 (ليبيا 24)</string>
			<key>logo</key>
			<string>Libya</string>
			<key>link</key>
			<string>https://libya24.tv/live</string>
			<key>http</key>
			<string>https://libya24.tv</string>
			<key>country</key>
			<string>Libya (ليبيا‎)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Libya&apos;s Channel (قناة ليبيا)</string>
			<key>logo</key>
			<string>Libyas</string>
			<key>link</key>
			<string>http://libyas.tv/</string>
			<key>http</key>
			<string>https://libyaschannel.com/</string>
			<key>country</key>
			<string>Libya (ليبيا‎)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Libya One (قناة ليبيا الأولى)</string>
			<key>logo</key>
			<string>One</string>
			<key>link</key>
			<string>http://libyaone.tv/live-3/</string>
			<key>http</key>
			<string>http://libyaone.tv</string>
			<key>country</key>
			<string>Libya (ليبيا‎)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tanasuh (قناة التناصح الفضائية)</string>
			<key>logo</key>
			<string>Tanasuh</string>
			<key>link</key>
			<string>http://stream.tanasuh.tv/</string>
			<key>http</key>
			<string>https://tanasuh.tv/</string>
			<key>country</key>
			<string>Libya (ليبيا‎)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dream&apos;In</string>
			<key>logo</key>
			<string>Dream</string>
			<key>link</key>
			<string>http://www.dreamin.tv/tv.html</string>
			<key>http</key>
			<string>http://www.ustream.tv/channel/23529238</string>
			<key>country</key>
			<string>Madagascar</string>
		</dict>
		<dict>
			<key>name</key>
			<string>i-BC</string>
			<key>logo</key>
			<string>i-BC</string>
			<key>link</key>
			<string>http://www.i-bc.tv/index.php?option=com_content&amp;view=article&amp;id=20&amp;Itemid=132</string>
			<key>http</key>
			<string>http://www.i-bc.tv</string>
			<key>country</key>
			<string>Madagascar</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kolo</string>
			<key>logo</key>
			<string>Kolo</string>
			<key>link</key>
			<string>http://www.kolo.mg/kolotv/live/</string>
			<key>http</key>
			<string>http://www.kolo.mg</string>
			<key>country</key>
			<string>Madagascar</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Televiziona Malagasy</string>
			<key>logo</key>
			<string>Malagasy</string>
			<key>link</key>
			<string>http://www.televiziona-malagasy.com/stream.php</string>
			<key>http</key>
			<string>http://www.televiziona-malagasy.com</string>
			<key>country</key>
			<string>Madagascar</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RTV Yahoshuah</string>
			<key>logo</key>
			<string>Yahoshuah</string>
			<key>link</key>
			<string>http://www.rtvyahoshuah.com/</string>
			<key>http</key>
			<string>https://www.youtube.com/channel/UCaw_3YWHDIMMJTDaNo0ZVOA/videos?view=2&amp;live_view=501&amp;flow=grid</string>
			<key>country</key>
			<string>Madagascar</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MBC</string>
			<key>logo</key>
			<string>MBC</string>
			<key>link</key>
			<string>http://www.mbc.mw/index.php/television/watch-mbctv-live</string>
			<key>http</key>
			<string>http://www.mbc.mw</string>
			<key>country</key>
			<string>Malawi</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ORTM</string>
			<key>logo</key>
			<string>ORTM</string>
			<key>link</key>
			<string>http://ortm.ml/index.php/direct-ortm</string>
			<key>http</key>
			<string>http://ortm.ml/</string>
			<key>country</key>
			<string>Mali</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TM2</string>
			<key>logo</key>
			<string>TM2</string>
			<key>link</key>
			<string>http://ortm.ml/index.php/direct-tm2</string>
			<key>http</key>
			<string>http://ortm.ml/</string>
			<key>country</key>
			<string>Mali</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TVM (التلفزة الموريتانية)</string>
			<key>logo</key>
			<string>TVM</string>
			<key>link</key>
			<string>http://tvm.mr/ar/live/</string>
			<key>http</key>
			<string>https://www.youtube.com/user/mauritaniantv/videos?view=2&amp;live_view=501&amp;flow=grid</string>
			<key>country</key>
			<string>Mauritania (موريتانيا‎)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Athagavia</string>
			<key>logo</key>
			<string>Athagavia</string>
			<key>link</key>
			<string>https://www.youtube.com/channel/UCyi-HKpQlTrBRi1TaiQ1htw/videos?flow=grid&amp;live_view=501&amp;view=2</string>
			<key>http</key>
			<string>http://tvm.mr/ar/live/</string>
			<key>country</key>
			<string>Mauritania (موريتانيا‎)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MayotteTV</string>
			<key>logo</key>
			<string>MayotteTV</string>
			<key>link</key>
			<string>http://www.mayottetv.fr/mayottetv/</string>
			<key>http</key>
			<string>http://www.mayottetv.fr/</string>
			<key>country</key>
			<string>Mayotte</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MayotteTV Islam</string>
			<key>logo</key>
			<string>Islam</string>
			<key>link</key>
			<string>http://www.mayottetv.fr/mayottetv-islam/</string>
			<key>http</key>
			<string>http://www.mayottetv.fr/</string>
			<key>country</key>
			<string>Mayotte</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MayotteTV Mila</string>
			<key>logo</key>
			<string>Mila</string>
			<key>link</key>
			<string>http://www.mayottetv.fr/mayottetv-mila/</string>
			<key>http</key>
			<string>http://www.mayottetv.fr/</string>
			<key>country</key>
			<string>Mayotte</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mayotte 1ère</string>
			<key>logo</key>
			<string>Mayotte</string>
			<key>link</key>
			<string>https://la1ere.francetvinfo.fr/mayotte/</string>
			<key>http</key>
			<string>https://la1ere.francetvinfo.fr/mayotte/</string>
			<key>country</key>
			<string>Mayotte</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Medi 1 (مدي 1 تي في)</string>
			<key>logo</key>
			<string>Medi</string>
			<key>link</key>
			<string>http://www.medi1tv.ma/fr/live.aspx</string>
			<key>http</key>
			<string>http://www.medi1tv.ma</string>
			<key>country</key>
			<string>Morocco (المملكة المغربية)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nessma (قناة نسمة‎ / نسمة تي في)</string>
			<key>logo</key>
			<string>Nessma</string>
			<key>link</key>
			<string>https://www.nessma.tv/fr/live</string>
			<key>http</key>
			<string>https://www.nessma.tv</string>
			<key>country</key>
			<string>Morocco (المملكة المغربية)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Al Aoula (الأولى / SNRT 1)</string>
			<key>logo</key>
			<string>Aoula</string>
			<key>link</key>
			<string>http://www.alaoula.ma/index.php?lang=fr</string>
			<key>http</key>
			<string>http://www.alaoula.ma</string>
			<key>country</key>
			<string>Morocco (المملكة المغربية)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Arryadia (الرياضية / SNRT 3)</string>
			<key>logo</key>
			<string>Arryadia</string>
			<key>link</key>
			<string>http://arryadia.snrt.ma/</string>
			<key>http</key>
			<string>http://www.snrtlive.ma/arryadia-live-%D8%A7%D9%84%D8%A8%D8%AB-%D8%A7%D9%84%D9%85%D8%A8%D8%A7%D8%B4%D8%B1-%D9%82%D9%86%D8%A7%D8%A9-%D8%A7%D9%84%D8%B1%D9%8A%D8%A7%D8%B6%D9%8A%D8%A9</string>
			<key>country</key>
			<string>Morocco (المملكة المغربية)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Miramar</string>
			<key>logo</key>
			<string>Miramar</string>
			<key>link</key>
			<string>http://miramar.co.mz/tv-online/</string>
			<key>http</key>
			<string>http://miramar.co.mz</string>
			<key>country</key>
			<string>Mozambique</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TVM 1</string>
			<key>logo</key>
			<string>TVM1</string>
			<key>link</key>
			<string>http://online.tvm.co.mz/site/emdirecto/tvm1</string>
			<key>http</key>
			<string>http://www.tvm.co.mz/</string>
			<key>country</key>
			<string>Mozambique</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TVM 2 Internacional</string>
			<key>logo</key>
			<string>TVM2</string>
			<key>link</key>
			<string>http://online.tvm.co.mz/site/emdirecto/tvm2</string>
			<key>http</key>
			<string>http://www.tvm.co.mz/</string>
			<key>country</key>
			<string>Mozambique</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nigeria (Nijeriya)</string>
			<key>logo</key>
			<string>Nigeria</string>
			<key>link</key>
			<string>1349746801</string>
			<key>http</key>
			<string></string>
			<key>country</key>
			<string>This country is available in the separate app. Tap to open</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Antenne Réunion</string>
			<key>logo</key>
			<string>Antenne</string>
			<key>link</key>
			<string>http://www.antennereunion.fr/direct</string>
			<key>http</key>
			<string>http://www.antennereunion.fr</string>
			<key>country</key>
			<string>Réunion</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RTV (RBA)</string>
			<key>logo</key>
			<string>RBA</string>
			<key>link</key>
			<string>http://www.rba.co.rw/tv</string>
			<key>http</key>
			<string>http://www.rba.co.rw</string>
			<key>country</key>
			<string>Rwanda</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RadioTV 10</string>
			<key>logo</key>
			<string>10</string>
			<key>link</key>
			<string>http://www.radiotv10.rw/?page=tv</string>
			<key>http</key>
			<string>http://www.radiotv10.rw</string>
			<key>country</key>
			<string>Rwanda</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TV1 Rwanda</string>
			<key>logo</key>
			<string>TV1</string>
			<key>link</key>
			<string>http://www.tv1.rw/Uko-wareba-TV1</string>
			<key>http</key>
			<string>http://www.tv1.rw/spip.php?article6</string>
			<key>country</key>
			<string>Rwanda</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TVS (Televisão Santomense)</string>
			<key>logo</key>
			<string>TVS</string>
			<key>link</key>
			<string>http://www.tvs.st/tvsplay</string>
			<key>http</key>
			<string>http://www.tvs.st</string>
			<key>country</key>
			<string>São Tomé and Príncipe</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RTS1</string>
			<key>logo</key>
			<string>RTS1</string>
			<key>link</key>
			<string>http://www.rts.sn/rts1</string>
			<key>http</key>
			<string>http://www.rts.sn/</string>
			<key>country</key>
			<string>Senegal</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RTS2</string>
			<key>logo</key>
			<string>RTS2</string>
			<key>link</key>
			<string>http://www.rts.sn/rts2</string>
			<key>http</key>
			<string>http://www.rts.sn/</string>
			<key>country</key>
			<string>Senegal</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Walf</string>
			<key>logo</key>
			<string>Walf</string>
			<key>link</key>
			<string>http://www.walf-groupe.com/walftv-live/</string>
			<key>http</key>
			<string>www.walf-groupe.com</string>
			<key>country</key>
			<string>Senegal</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DTV</string>
			<key>logo</key>
			<string>DTV</string>
			<key>link</key>
			<string>http://dtv.sn/home/dtvlive</string>
			<key>http</key>
			<string>http://dtv.sn</string>
			<key>country</key>
			<string>Senegal</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Diaspora 24</string>
			<key>logo</key>
			<string>Diaspora</string>
			<key>link</key>
			<string>http://diaspora24tv.com/</string>
			<key>http</key>
			<string>http://diaspora24tv.com/</string>
			<key>country</key>
			<string>Senegal</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TFM</string>
			<key>logo</key>
			<string>TFM</string>
			<key>link</key>
			<string>https://www.igfm.sn/tfm/</string>
			<key>http</key>
			<string>https://www.igfm.sn</string>
			<key>country</key>
			<string>Senegal</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sen</string>
			<key>logo</key>
			<string>Sen</string>
			<key>link</key>
			<string>http://sentv.sn/livetv/ledirect</string>
			<key>http</key>
			<string>http://sentv.sn</string>
			<key>country</key>
			<string>Senegal</string>
		</dict>
		<dict>
			<key>name</key>
			<string>People</string>
			<key>logo</key>
			<string>People</string>
			<key>link</key>
			<string>http://peopletvsenegal.tv/people-tv-live/people-tv-live-1</string>
			<key>http</key>
			<string>http://peopletvsenegal.tv</string>
			<key>country</key>
			<string>Senegal</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mouride</string>
			<key>logo</key>
			<string>Mouride</string>
			<key>link</key>
			<string>http://www.mouridetv.net</string>
			<key>http</key>
			<string>http://www.mouridetv.net</string>
			<key>country</key>
			<string>Senegal</string>
		</dict>
		<dict>
			<key>name</key>
			<string>SNTV (Somali National)</string>
			<key>logo</key>
			<string>SNTV</string>
			<key>link</key>
			<string>http://www.sntvnews.com/</string>
			<key>http</key>
			<string>http://www.sntvnews.com/</string>
			<key>country</key>
			<string>Somalia (+ Somaliland / Puntland)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Puntland</string>
			<key>logo</key>
			<string>Puntland</string>
			<key>link</key>
			<string>http://www.puntlandtvradio.net/</string>
			<key>http</key>
			<string>http://www.puntlandtvradio.net/</string>
			<key>country</key>
			<string>Somalia (+ Somaliland / Puntland)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Universal</string>
			<key>logo</key>
			<string>Universal</string>
			<key>link</key>
			<string>http://www.universaltvsomali.net/watch-livestream</string>
			<key>http</key>
			<string>http://www.universaltvsomali.net</string>
			<key>country</key>
			<string>Somalia (+ Somaliland / Puntland)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kalsan</string>
			<key>logo</key>
			<string>Kalsan</string>
			<key>link</key>
			<string>http://kalsantv.com/</string>
			<key>http</key>
			<string>http://kalsantv.com/</string>
			<key>country</key>
			<string>Somalia (+ Somaliland / Puntland)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>South Africa (RSA)</string>
			<key>logo</key>
			<string>South</string>
			<key>link</key>
			<string>1349746801</string>
			<key>http</key>
			<string></string>
			<key>country</key>
			<string>This country is available in the separate app. Tap to open</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dabanga</string>
			<key>logo</key>
			<string>Dabanga</string>
			<key>link</key>
			<string>https://www.dabangasudan.org/en</string>
			<key>http</key>
			<string>https://www.dabangasudan.org/en</string>
			<key>country</key>
			<string>Sudan (السودان‎)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sudan (تلفزيون السودان)</string>
			<key>logo</key>
			<string>Sudan</string>
			<key>link</key>
			<string>http://www.sudantv.gov.sd/sudantv/?page_id=60</string>
			<key>http</key>
			<string>http://www.sudantv.gov.sd/sudantv_en/?page_id=113</string>
			<key>country</key>
			<string>Sudan (السودان‎)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ashorooq (شبكة الشروق)</string>
			<key>logo</key>
			<string>Ashorooq</string>
			<key>link</key>
			<string>http://www.ashorooq.net/index.php?option=com_Livetv&amp;Itemid=1134</string>
			<key>http</key>
			<string>http://www.ashorooq.net</string>
			<key>country</key>
			<string>Sudan (السودان‎)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sudania 24 (S24 / 24 سودانية)</string>
			<key>logo</key>
			<string>Sudania</string>
			<key>link</key>
			<string>https://www.youtube.com/channel/UCrH0R6bG_X2FCB9Qt8JWxRg/videos?view=2&amp;flow=grid&amp;live_view=501</string>
			<key>http</key>
			<string>http://www.sudania24.tv/</string>
			<key>country</key>
			<string>Sudan (السودان‎)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tayba</string>
			<key>logo</key>
			<string>Tayba</string>
			<key>link</key>
			<string>http://www.tayba.tv/</string>
			<key>http</key>
			<string>http://www.tayba.tv/</string>
			<key>country</key>
			<string>Sudan (السودان‎)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Habari Star</string>
			<key>logo</key>
			<string>Habari</string>
			<key>link</key>
			<string>http://www.startv.co.tz/star-tv-live</string>
			<key>http</key>
			<string>http://www.startv.co.tz</string>
			<key>country</key>
			<string>Tanzania</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kwanza</string>
			<key>logo</key>
			<string>Kwanza</string>
			<key>link</key>
			<string>http://kwanzatv.co.tz/live/</string>
			<key>http</key>
			<string>http://kwanzatv.co.tz</string>
			<key>country</key>
			<string>Tanzania</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Barmedas</string>
			<key>logo</key>
			<string>Barmedas</string>
			<key>link</key>
			<string>http://www.ustream.tv/channel/barmedasonline-tv</string>
			<key>http</key>
			<string>http://www.barmedas.tv/</string>
			<key>country</key>
			<string>Tanzania</string>
		</dict>
		<dict>
			<key>name</key>
			<string>New World</string>
			<key>logo</key>
			<string>New</string>
			<key>link</key>
			<string>https://www.newworldtv.com/index.php/fr/live/</string>
			<key>http</key>
			<string>https://www.newworldtv.com/</string>
			<key>country</key>
			<string>Togo</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Attessia قناة التاسعة</string>
			<key>logo</key>
			<string>Attessia</string>
			<key>link</key>
			<string>http://attessia.tv/live</string>
			<key>http</key>
			<string>http://attessia.tv</string>
			<key>country</key>
			<string>Tunisia (تونس‎)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Al Watania 1 الوطنية</string>
			<key>logo</key>
			<string>Watania1</string>
			<key>link</key>
			<string>http://www.watania1.tn/%D8%A7%D9%84%D8%A8%D8%AB-%D8%A7%D9%84%D9%85%D8%A8%D8%A7%D8%B4%D8%B1/%D9%85%D8%AD%D8%AA%D9%88%D9%89</string>
			<key>http</key>
			<string>https://www.youtube.com/user/televisiontunisie6/videos?view=2&amp;flow=grid&amp;live_view=501</string>
			<key>country</key>
			<string>Tunisia (تونس‎)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Al Watania الوطنية 2</string>
			<key>logo</key>
			<string>Watania2</string>
			<key>link</key>
			<string>http://www.watania2.tn/%D8%A7%D9%84%D8%A8%D8%AB-%D8%A7%D9%84%D9%85%D8%A8%D9%80%D8%A7%D8%B4%D8%B1/%D9%85%D8%AD%D8%AA%D9%88%D9%89</string>
			<key>http</key>
			<string>https://www.youtube.com/channel/UCJW9gatYczI191TunQxMGbA/videos?view=2&amp;flow=grid&amp;live_view=501</string>
			<key>country</key>
			<string>Tunisia (تونس‎)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hannibal (قناة حنبعل‎ / HTV)</string>
			<key>logo</key>
			<string>Hannibal</string>
			<key>link</key>
			<string>http://hannibaltv.com.tn/rubrique/%D8%AD%D9%86%D8%A8%D8%B9%D9%84-%D9%85%D8%A8%D8%A7%D8%B4%D8%B1/420</string>
			<key>http</key>
			<string>http://hannibaltv.com.tn</string>
			<key>country</key>
			<string>Tunisia (تونس‎)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Jawhara</string>
			<key>logo</key>
			<string>Jawhara</string>
			<key>link</key>
			<string>http://www.jawharafm.net/fr/webcam/34</string>
			<key>http</key>
			<string>http://www.jawharafm.net</string>
			<key>country</key>
			<string>Tunisia (تونس‎)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>El Hiwar El Tounsi (الحوار التونسي)</string>
			<key>logo</key>
			<string>Hiwar</string>
			<key>link</key>
			<string>https://elhiwarettounsi.com/live.html</string>
			<key>http</key>
			<string>https://elhiwarettounsi.com</string>
			<key>country</key>
			<string>Tunisia (تونس‎)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Zitouna (قناة الزيتونة)</string>
			<key>logo</key>
			<string>Zitouna</string>
			<key>link</key>
			<string>http://www.zitounatv.com/</string>
			<key>http</key>
			<string>http://www.zitounatv.com/</string>
			<key>country</key>
			<string>Tunisia (تونس‎)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NTV</string>
			<key>logo</key>
			<string>NTV</string>
			<key>link</key>
			<string>http://www.ntv.co.ug/ntvlive/4522052-4522052-gb6xt4z/index.html</string>
			<key>http</key>
			<string>https://www.youtube.com/user/ntvuganda/videos?live_view=501&amp;view=2&amp;flow=grid</string>
			<key>country</key>
			<string>Uganda</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Spark</string>
			<key>logo</key>
			<string>Spark</string>
			<key>link</key>
			<string>http://www.ntv.co.ug/sparklive/4522516-4522516-9byjcvz/index.html</string>
			<key>http</key>
			<string>https://www.youtube.com/user/ntvuganda/videos?live_view=501&amp;view=2&amp;flow=grid</string>
			<key>country</key>
			<string>Uganda</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bukkede</string>
			<key>logo</key>
			<string>Bukkede</string>
			<key>link</key>
			<string>https://www.youtube.com/user/bukeddetv/videos?view=2&amp;flow=grid&amp;live_view=501</string>
			<key>http</key>
			<string>https://www.bukedde.co.ug/</string>
			<key>country</key>
			<string>Uganda</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NBS</string>
			<key>logo</key>
			<string>NBS</string>
			<key>link</key>
			<string>http://nbs.ug/live/</string>
			<key>http</key>
			<string>http://nbs.ug</string>
			<key>country</key>
			<string>Uganda</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dream</string>
			<key>logo</key>
			<string>Drea</string>
			<key>link</key>
			<string>http://www.imc.ug/</string>
			<key>http</key>
			<string>http://www.imc.ug/</string>
			<key>country</key>
			<string>Uganda</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RASD</string>
			<key>logo</key>
			<string>RASD</string>
			<key>link</key>
			<string>http://rasd.tv/</string>
			<key>http</key>
			<string>http://www.rasd-tv.com/</string>
			<key>country</key>
			<string>Western Sahara (SADR / الصحراء الغربية‎‎)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ZIM24</string>
			<key>logo</key>
			<string>ZIM24</string>
			<key>link</key>
			<string>http://www.zbc.co.zw/zim24/</string>
			<key>http</key>
			<string>http://www.zbc.co.zw</string>
			<key>country</key>
			<string>Zimbabwe</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ZBC</string>
			<key>logo</key>
			<string>ZBC</string>
			<key>link</key>
			<string>http://www.zbc.co.zw/zbctv/</string>
			<key>http</key>
			<string>http://www.zbc.co.zw</string>
			<key>country</key>
			<string>Zimbabwe</string>
		</dict>
	</array>
</dict>
</plist>
