<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1</string>
		<key>Back</key>
		<string>1</string>
		<key>Banner</key>
		<string>1</string>
		<key>Header</key>
		<string>1</string>
		<key>Footer</key>
		<string>1</string>
		<key>Email</key>
		<string>shelvinscare@gmail.com</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1</string>
		<key>Developer</key>
		<string>1</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<integer>2</integer>
		<key>DemoMode</key>
		<string>9</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>RTP Africa</string>
			<key>logo</key>
			<string>RTP</string>
			<key>link</key>
			<string>https://www.rtp.pt/play/direto/rtpafrica</string>
			<key>http</key>
			<string>http://www.rtp.pt/rtpafrica/</string>
			<key>country</key>
			<string>Angola</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Afrique Média</string>
			<key>logo</key>
			<string>Afrique</string>
			<key>link</key>
			<string>http://www.afriquemedia.tv/live</string>
			<key>http</key>
			<string>http://www.afriquemedia.tv</string>
			<key>country</key>
			<string>Benin</string>
		</dict>
		<dict>
			<key>name</key>
			<string>africanews</string>
			<key>logo</key>
			<string>Africanews</string>
			<key>link</key>
			<string>http://www.africanews.com/live/</string>
			<key>http</key>
			<string>https://www.youtube.com/channel/UC1_E8NeF5QHY2dtdLRBCCLA/videos?flow=grid&amp;live_view=501&amp;view=2</string>
			<key>country</key>
			<string>Congo Brazzaville</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TV3</string>
			<key>logo</key>
			<string>TV3</string>
			<key>link</key>
			<string>http://www.ghanalive.tv/tv3-online-stream/</string>
			<key>http</key>
			<string>http://3news.com/</string>
			<key>country</key>
			<string>Ghana</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kolo</string>
			<key>logo</key>
			<string>Kolo</string>
			<key>link</key>
			<string>http://www.kolo.mg/kolotv/live/</string>
			<key>http</key>
			<string>http://www.kolo.mg</string>
			<key>country</key>
			<string>Madagascar</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Televiziona Malagasy</string>
			<key>logo</key>
			<string>Malagasy</string>
			<key>link</key>
			<string>http://www.televiziona-malagasy.com/stream.php</string>
			<key>http</key>
			<string>http://www.televiziona-malagasy.com</string>
			<key>country</key>
			<string>Madagascar</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ORTM</string>
			<key>logo</key>
			<string>ORTM</string>
			<key>link</key>
			<string>http://ortm.ml/index.php/direct-ortm</string>
			<key>http</key>
			<string>http://ortm.ml/</string>
			<key>country</key>
			<string>Mali</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TM2</string>
			<key>logo</key>
			<string>TM2</string>
			<key>link</key>
			<string>http://ortm.ml/index.php/direct-tm2</string>
			<key>http</key>
			<string>http://ortm.ml/</string>
			<key>country</key>
			<string>Mali</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RTV (RBA)</string>
			<key>logo</key>
			<string>RBA</string>
			<key>link</key>
			<string>http://www.rba.co.rw/tv</string>
			<key>http</key>
			<string>http://www.rba.co.rw</string>
			<key>country</key>
			<string>Rwanda</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NBS</string>
			<key>logo</key>
			<string>NBS</string>
			<key>link</key>
			<string>http://nbs.ug/live/</string>
			<key>http</key>
			<string>http://nbs.ug</string>
			<key>country</key>
			<string>Uganda</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NTV</string>
			<key>logo</key>
			<string>NTV</string>
			<key>link</key>
			<string>http://www.ntv.co.ug/ntvlive/4522052-4522052-gb6xt4z/index.html</string>
			<key>http</key>
			<string>https://www.youtube.com/user/ntvuganda/videos?live_view=501&amp;view=2&amp;flow=grid</string>
			<key>country</key>
			<string>Uganda</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Al Jazeera الجزيرة‎</string>
			<key>logo</key>
			<string>Jazeera</string>
			<key>link</key>
			<string>http://www.aljazeera.net/broadcastschedule</string>
			<key>http</key>
			<string>https://www.youtube.com/user/aljazeerachannel/videos?live_view=501&amp;flow=grid&amp;view=2</string>
			<key>country</key>
			<string>Egypt</string>
		</dict>
		<dict>
			<key>name</key>
			<string>الحدث Al Hadath</string>
			<key>logo</key>
			<string>Hadath</string>
			<key>link</key>
			<string>http://www.alhadath.net/live-stream.html?cref=navdesk</string>
			<key>http</key>
			<string>https://www.youtube.com/channel/UCrj5BGAhtWxDfqbza9T9hqA/videos?live_view=501&amp;flow=grid&amp;view=2</string>
			<key>country</key>
			<string>Egypt</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sky News</string>
			<key>logo</key>
			<string>Sky</string>
			<key>link</key>
			<string>http://www.ntv.co.ug/sparklive/4522516-4522516-9byjcvz/index.html</string>
			<key>http</key>
			<string>https://www.youtube.com/user/ntvuganda/videos?live_view=501&amp;view=2&amp;flow=grid</string>
			<key>country</key>
			<string>South Africa</string>
		</dict>
	</array>
</dict>
</plist>
