<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>2821532376</string>
		<key>Back</key>
		<string>4298265578</string>
		<key>Banner</key>
		<string>1344799171</string>
		<key>Header</key>
		<string>1446633910</string>
		<key>Footer</key>
		<string>5114416183</string>
		<key>Email</key>
		<string>ios.apps.community@gmail.com</string>
		<key>Alternative</key>
		<string>1</string>
		<key>App</key>
		<string>1366394587</string>
		<key>Dev</key>
		<string>1360678770</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<integer>2</integer>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Pública</string>
			<key>logo</key>
			<string>Publica</string>
			<key>link</key>
			<string>https://www.youtube.com/user/TVPublicaArgentina/videos?view=2&amp;flow=grid&amp;live_view=501</string>
			<key>http</key>
			<string>http://www.tvpublica.com.ar/vivo/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Todo Noticias</string>
			<key>logo</key>
			<string>Todo</string>
			<key>link</key>
			<string>https://tn.com.ar/envivo/24hs</string>
			<key>http</key>
			<string>https://www.youtube.com/channel/UCj6PcyLvpnIRT_2W_mwa9Aw/videos?view=2&amp;live_view=501&amp;flow=grid</string>
		</dict>
		<dict>
			<key>name</key>
			<string>América</string>
			<key>logo</key>
			<string>America</string>
			<key>link</key>
			<string>https://www.americatv.com.ar</string>
			<key>http</key>
			<string>https://www.americatv.com.ar/vivo</string>
		</dict>
		<dict>
			<key>name</key>
			<string>A24</string>
			<key>logo</key>
			<string>A24</string>
			<key>link</key>
			<string>https://www.a24.com/</string>
			<key>http</key>
			<string>https://www.youtube.com/channel/UCR9120YBAqMfntqgRTKmkjQ/videos?view=2&amp;live_view=501&amp;flow=grid</string>
		</dict>
		<dict>
			<key>name</key>
			<string>El Nueve</string>
			<key>logo</key>
			<string>Nueve</string>
			<key>link</key>
			<string>http://www.elnueve.com.ar/envivo</string>
			<key>http</key>
			<string>http://www.elnueve.com.ar</string>
		</dict>
		<dict>
			<key>name</key>
			<string>8 Mar del Plata</string>
			<key>logo</key>
			<string>8</string>
			<key>link</key>
			<string>https://www.youtube.com/channel/UCY0QZk2M_ZZi95S-MN1Zndg/videos?flow=grid&amp;live_view=501&amp;view=2</string>
			<key>http</key>
			<string>http://telefe.com/canal8mardelplata/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mar del Plata</string>
			<key>logo</key>
			<string>Mar</string>
			<key>link</key>
			<string>http://www.canal79tv.com.ar/mardelplata.html</string>
			<key>http</key>
			<string>http://www.canal79tv.com.ar/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Costa</string>
			<key>logo</key>
			<string>Costa</string>
			<key>link</key>
			<string>http://www.canal79tv.com.ar/lacosta.html</string>
			<key>http</key>
			<string>http://www.canal79tv.com.ar/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>San Juan</string>
			<key>logo</key>
			<string>Juan</string>
			<key>link</key>
			<string>http://www.canal79tv.com.ar/sanjuan.html</string>
			<key>http</key>
			<string>http://www.canal79tv.com.ar/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>San Martín de los Andes</string>
			<key>logo</key>
			<string>Andes</string>
			<key>link</key>
			<string>http://www.canal79tv.com.ar/sanmartin.html</string>
			<key>http</key>
			<string>http://www.canal79tv.com.ar/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Catamarca</string>
			<key>logo</key>
			<string>Catamarca</string>
			<key>link</key>
			<string>http://www.canal79tv.com.ar/catamarca.html</string>
			<key>http</key>
			<string>http://www.canal79tv.com.ar/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tucumán</string>
			<key>logo</key>
			<string>Tucuman</string>
			<key>link</key>
			<string>http://www.canal79tv.com.ar/tucuman.html</string>
			<key>http</key>
			<string>http://www.canal79tv.com.ar/</string>
		</dict>
	</array>
</dict>
</plist>
