<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Alex TV</string>
		<key>logo</key>
		<string>a-pa</string>
		<key>link</key>
		<string>https://www.youtube.com/watch_popup?v=_QiRIYWXAE4</string>
		<key>http</key>
		<string>http://alextv.zp.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TV 4</string>
		<key>logo</key>
		<string>abc1</string>
		<key>link</key>
		<string>http://tv4.te.ua/onlajn-movlennya/</string>
		<key>http</key>
		<string>http://tv4.te.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sky News</string>
		<key>logo</key>
		<string>Sky</string>
		<key>link</key>
		<string>https://www.youtube.com/watch_popup?v=y60wDzZt8yg</string>
		<key>http</key>
		<string>https://www.youtube.com/watch_popup?v=y60wDzZt8yg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MNTV Australia</string>
		<key>logo</key>
		<string>mntv</string>
		<key>link</key>
		<string>http://mntv.com.au/portal/?page_id=895</string>
		<key>http</key>
		<string>http://mntv.com.au/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>INTV</string>
		<key>logo</key>
		<string>intvau</string>
		<key>link</key>
		<string>https://www.youtube.com/watch_popup?v=CW66CjnqXvk</string>
		<key>http</key>
		<string>http://www.intvau.com/#</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Parliament</string>
		<key>logo</key>
		<string>aph</string>
		<key>link</key>
		<string>http://www.aph.gov.au/News_and_Events/Watch_Parliament</string>
		<key>http</key>
		<string>http://www.aph.gov.au/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TVSN</string>
		<key>logo</key>
		<string>tvsn</string>
		<key>link</key>
		<string>https://www.itvsn.com.au/itvsn/streaming/watch_tvsn.html</string>
		<key>http</key>
		<string>https://www.itvsn.com.au/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Expo Channel</string>
		<key>logo</key>
		<string>Expo</string>
		<key>link</key>
		<string>http://expochannel.com.au/</string>
		<key>http</key>
		<string>http://expochannel.com.au/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>God TV</string>
		<key>logo</key>
		<string>god</string>
		<key>link</key>
		<string>https://www.youtube.com/watch_popup?v=-GGQdL7jqs0</string>
		<key>http</key>
		<string>http://www.god.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Angel TV</string>
		<key>logo</key>
		<string>angeltv</string>
		<key>link</key>
		<string>https://www.youtube.com/watch_popup?v=qSEeBbsAxbA</string>
		<key>http</key>
		<string>http://www.angeltv.org/</string>
	</dict>
</array>
</plist>
