<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>A-PAC</string>
		<key>logo</key>
		<string>a-pac</string>
		<key>link</key>
		<string>http://www.a-pac.tv/</string>
		<key>http</key>
		<string>http://www.a-pac.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ABC 24 (ONLY IN AUSTRALIA)</string>
		<key>logo</key>
		<string>abc</string>
		<key>link</key>
		<string>http://www.abc.net.au/news/abcnews24/</string>
		<key>http</key>
		<string>https://www.youtube.com/user/NewsOnABC/videos?view=2&amp;flow=list</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sky News</string>
		<key>logo</key>
		<string>Sky</string>
		<key>link</key>
		<string>https://www.youtube.com/watch_popup?v=y60wDzZt8yg</string>
		<key>http</key>
		<string>https://www.youtube.com/user/skynews/videos?flow=list&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MNTV Australia</string>
		<key>logo</key>
		<string>mntv</string>
		<key>link</key>
		<string>http://mntv.com.au/portal/?page_id=895</string>
		<key>http</key>
		<string>http://mntv.com.au/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>INTV</string>
		<key>logo</key>
		<string>intvau</string>
		<key>link</key>
		<string>http://www.intvau.com/#</string>
		<key>http</key>
		<string>http://www.intvau.com/#</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Parliament</string>
		<key>logo</key>
		<string>aph</string>
		<key>link</key>
		<string>http://www.aph.gov.au/News_and_Events/Watch_Parliament</string>
		<key>http</key>
		<string>http://www.aph.gov.au/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TVSN</string>
		<key>logo</key>
		<string>tvsn</string>
		<key>link</key>
		<string>https://www.itvsn.com.au/itvsn/streaming/watch_tvsn.html</string>
		<key>http</key>
		<string>https://www.itvsn.com.au/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Expo Channel</string>
		<key>logo</key>
		<string>Expo</string>
		<key>link</key>
		<string>http://expochannel.com.au/</string>
		<key>http</key>
		<string>http://expochannel.com.au/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>God TV</string>
		<key>logo</key>
		<string>god</string>
		<key>link</key>
		<string>http://www.god.tv/live/au</string>
		<key>http</key>
		<string>http://www.god.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Angel TV</string>
		<key>logo</key>
		<string>angeltv</string>
		<key>link</key>
		<string>http://www.angeltv.org/watching_now_new/watchmovie.php</string>
		<key>http</key>
		<string>http://www.angeltv.org/</string>
	</dict>
</array>
</plist>
