<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>7941352784</string>
		<key>Back</key>
		<string>5367160338</string>
		<key>Banner</key>
		<string>2357853614</string>
		<key>Header</key>
		<string>3287791908</string>
		<key>Footer</key>
		<string>9470056875</string>
		<key>Email</key>
		<string>ios.apps.community@gmail.com</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1452792954</string>
		<key>Developer</key>
		<string>1360678770</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>AzTV AZƏRBAYCAN </string>
			<key>logo</key>
			<string>AzTV</string>
			<key>link</key>
			<string>http://www.aztv.az/canli/aztv-canli.htm</string>
			<key>http</key>
			<string>http://www.aztv.az</string>
		</dict>
		<dict>
			<key>name</key>
			<string>İctimai</string>
			<key>logo</key>
			<string>ictimai</string>
			<key>link</key>
			<string>http://www.itv.az/az/online-tv</string>
			<key>http</key>
			<string>http://www.itv.az</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Xəzər Xəbər</string>
			<key>logo</key>
			<string>Xezer</string>
			<key>link</key>
			<string>http://xezerxeber.az/det-1</string>
			<key>http</key>
			<string>http://dalga.az/az/live/1</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ARB</string>
			<key>logo</key>
			<string>ARB</string>
			<key>link</key>
			<string>http://www.arbtv.az/az/pages/canli_yayim</string>
			<key>http</key>
			<string>http://www.arbtv.az</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ARB 24</string>
			<key>logo</key>
			<string>24</string>
			<key>link</key>
			<string>http://24.arbtv.az/az/pages/live</string>
			<key>http</key>
			<string>http://24.arbtv.az</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ARB Günəş</string>
			<key>logo</key>
			<string>Gunesh</string>
			<key>link</key>
			<string>http://gunesh.arbtv.az/az/pages/live</string>
			<key>http</key>
			<string>http://gunesh.arbtv.az</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Günaz</string>
			<key>logo</key>
			<string>Gunaz</string>
			<key>link</key>
			<string>http://gtv.live-s.cdn.bitgravity.com:1935/content:cdn-live/gtv/live/multibitrate.smil</string>
			<key>http</key>
			<string>https://www.gunaz.tv/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Lider</string>
			<key>logo</key>
			<string>Lider</string>
			<key>link</key>
			<string>http://www.lidertv.com/az/onlinetv.html</string>
			<key>http</key>
			<string>http://www.lidertv.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CBC</string>
			<key>logo</key>
			<string>CBC</string>
			<key>link</key>
			<string>http://cbc.az/ru/pages/live</string>
			<key>http</key>
			<string>http://cbc.az</string>
		</dict>
		<dict>
			<key>name</key>
			<string>İnterAz</string>
			<key>logo</key>
			<string>InterAz</string>
			<key>link</key>
			<string>http://www.interaztv.com/live/</string>
			<key>http</key>
			<string>http://www.interaztv.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>APA</string>
			<key>logo</key>
			<string>APA</string>
			<key>link</key>
			<string>http://www.apa.tv/live</string>
			<key>http</key>
			<string>http://www.apa.tv/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>İdman Azərbaycan</string>
			<key>logo</key>
			<string>idman</string>
			<key>link</key>
			<string>http://www.idmantv.az/canli/idman-canli-yayim.htm</string>
			<key>http</key>
			<string>http://www.idmantv.az</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mədəniyyət</string>
			<key>logo</key>
			<string>medeniyyet</string>
			<key>link</key>
			<string>http://medeniyyettv.az/canliyayim.html</string>
			<key>http</key>
			<string>http://medeniyyettv.az</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Muz</string>
			<key>logo</key>
			<string>Muz</string>
			<key>link</key>
			<string>http://www.muz-tv.az/canlitv.html</string>
			<key>http</key>
			<string>http://www.muz-tv.az</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ARB Ulduz</string>
			<key>logo</key>
			<string>Ulduz</string>
			<key>link</key>
			<string>http://ulduz.arbtv.az/az/pages/live</string>
			<key>http</key>
			<string>http://ulduz.arbtv.az</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dalğa</string>
			<key>logo</key>
			<string>Dalga</string>
			<key>link</key>
			<string>http://dalga.az/az/pages/canli</string>
			<key>http</key>
			<string>http://dalga.az/az/live/2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ARB Kəpəz</string>
			<key>logo</key>
			<string>Kepez</string>
			<key>link</key>
			<string>http://kepez.arbtv.az/az/pages/live</string>
			<key>http</key>
			<string>http://kepez.arbtv.az</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ARB Cənub</string>
			<key>logo</key>
			<string>Cenub</string>
			<key>link</key>
			<string>http://cenub.arbtv.az/az/pages/live</string>
			<key>http</key>
			<string>http://cenub.arbtv.az</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ARB Aran</string>
			<key>logo</key>
			<string>Aran</string>
			<key>link</key>
			<string>http://aran.arbtv.az/az/pages/live</string>
			<key>http</key>
			<string>http://aran.arbtv.az</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ARB Şəki</string>
			<key>logo</key>
			<string>Sheki</string>
			<key>link</key>
			<string>http://sheki.arbtv.az/az/pages/live</string>
			<key>http</key>
			<string>http://sheki.arbtv.az</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Naxçıvan TV</string>
			<key>logo</key>
			<string>Nakhchivan</string>
			<key>link</key>
			<string>http://canli.naxcivantv.az/</string>
			<key>http</key>
			<string>http://naxcivantv.az/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Naxçıvan Radio</string>
			<key>logo</key>
			<string>Radio</string>
			<key>link</key>
			<string>http://naxcivantv.az/radio.html</string>
			<key>http</key>
			<string>http://naxcivantv.az/</string>
		</dict>
	</array>
</dict>
</plist>
