<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1</string>
		<key>Back</key>
		<string>1</string>
		<key>Banner</key>
		<string>2000816962</string>
		<key>Header</key>
		<string>1</string>
		<key>Footer</key>
		<string>1</string>
		<key>Email</key>
		<string>1</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1</string>
		<key>Developer</key>
		<string>1</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>NTV (এনটিভি)</string>
			<key>logo</key>
			<string>NTV</string>
			<key>link</key>
			<string>https://www.ntvbd.com/livetv/</string>
			<key>http</key>
			<string>https://www.youtube.com/c/ntvdigital</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ATN Bangla (এটিএন বাংলা)</string>
			<key>logo</key>
			<string>ATN</string>
			<key>link</key>
			<string>http://www.atnbangla.tv/atn-tube/</string>
			<key>http</key>
			<string>http://www.jagobd.com/atn-bangla</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Channel i (চ্যানেল আই)</string>
			<key>logo</key>
			<string>i</string>
			<key>link</key>
			<string>https://www.channelionline.com/live-tv/</string>
			<key>http</key>
			<string>http://www.jagobd.com/channeli</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Boishakhi (বৈশাখী টিভি)</string>
			<key>logo</key>
			<string>Boishakhi</string>
			<key>link</key>
			<string>http://www.boishakhionline.com/live</string>
			<key>http</key>
			<string>http://www.jagobd.com/boishakhitv</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RTV (আরটিভি)</string>
			<key>logo</key>
			<string>RTV1</string>
			<key>link</key>
			<string>http://www.rtvonline.net/rtv/live</string>
			<key>http</key>
			<string>http://www.jagobd.com/rtv</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RTV Music</string>
			<key>logo</key>
			<string>RTV2</string>
			<key>link</key>
			<string>http://www.rtvmusic.tv/</string>
			<key>http</key>
			<string>http://www.jagobd.com/rtvmusic</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ATN News (এটিএন নিউজ)</string>
			<key>logo</key>
			<string>News</string>
			<key>link</key>
			<string>https://www.atnnewstv.com</string>
			<key>http</key>
			<string>https://www.youtube.com/channel/UCKlhfq1ILoAFav7iw5iCnfA/videos?flow=grid&amp;view=2&amp;live_view=501</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ATN Music</string>
			<key>logo</key>
			<string>Music</string>
			<key>link</key>
			<string>http://www.atnmusic.tv/</string>
			<key>http</key>
			<string>http://www.jagobd.com/atnmusic</string>
		</dict>
		<dict>
			<key>name</key>
			<string>IQRA Bangla</string>
			<key>logo</key>
			<string>Bangla</string>
			<key>link</key>
			<string>https://iqra.tv/iqra-bangla/</string>
			<key>http</key>
			<string>https://iqra.tv/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>IQRA</string>
			<key>logo</key>
			<string>IQRA</string>
			<key>link</key>
			<string>https://iqra.tv/</string>
			<key>http</key>
			<string>http://www.jagobd.com/iqratv</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NTV Europe</string>
			<key>logo</key>
			<string>Europe</string>
			<key>link</key>
			<string>http://www.europentv.com/live/</string>
			<key>http</key>
			<string>http://www.jagobd.com/ntveurope</string>
		</dict>
		<dict>
			<key>name</key>
			<string>i Europe</string>
			<key>logo</key>
			<string>iEurope</string>
			<key>link</key>
			<string>http://channelieurope.tv/</string>
			<key>http</key>
			<string>http://www.jagobd.com/channelieurope</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ATN Bangla UK</string>
			<key>logo</key>
			<string>UK</string>
			<key>link</key>
			<string>http://atnbanglauk.tv/</string>
			<key>http</key>
			<string>http://www.jagobd.com/atnbanglauk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ATN Islamic</string>
			<key>logo</key>
			<string>Islamic</string>
			<key>link</key>
			<string>http://www.atnislamic.tv/</string>
			<key>http</key>
			<string>http://www.jagobd.com/atnislamictv</string>
		</dict>
	</array>
</dict>
</plist>
