<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>АНТ - Общенациональное телевидение</string>
		<key>logo</key>
		<string>ont</string>
		<key>link</key>
		<string>https://ont.by/broadcasting</string>
		<key>http</key>
		<string>http://ont.by/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Беларусь 24</string>
		<key>logo</key>
		<string>belarus24</string>
		<key>link</key>
		<string>https://www.tvr.by/televidenie/belarus-24/</string>
		<key>http</key>
		<string>https://www.tvr.by/live-broadcast/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Беларусь 1</string>
		<key>logo</key>
		<string>belarus1</string>
		<key>link</key>
		<string>https://www.tvr.by/televidenie/belarus-1/</string>
		<key>http</key>
		<string>https://www.tvr.by/live-broadcast/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Беларусь 2</string>
		<key>logo</key>
		<string>belarus2</string>
		<key>link</key>
		<string>https://www.tvr.by/televidenie/belarus-2/</string>
		<key>http</key>
		<string>https://www.tvr.by/live-broadcast/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Беларусь 3</string>
		<key>logo</key>
		<string>belarus3</string>
		<key>link</key>
		<string>https://www.tvr.by/televidenie/belarus-3/</string>
		<key>http</key>
		<string>https://www.tvr.by/live-broadcast/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Беларусь 5</string>
		<key>logo</key>
		<string>belarus5</string>
		<key>link</key>
		<string>http://www.tvr.by/televidenie/belarus-5/</string>
		<key>http</key>
		<string>https://www.tvr.by/live-broadcast/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Беларусь 5. Интернет</string>
		<key>logo</key>
		<string>5internet</string>
		<key>link</key>
		<string>https://www.tvr.by/televidenie/belarus-5-internet/</string>
		<key>http</key>
		<string>https://www.tvr.by/live-broadcast/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Столичное телевидение</string>
		<key>logo</key>
		<string>ctv</string>
		<key>link</key>
		<string>http://www.ctv.by/online</string>
		<key>http</key>
		<string>http://www.ctv.by/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Белсат</string>
		<key>logo</key>
		<string>belsat</string>
		<key>link</key>
		<string>http://belsat.eu/online/</string>
		<key>http</key>
		<string>https://www.youtube.com/user/ibelsat/videos?view=2&amp;flow=grid&amp;live_view=501</string>
	</dict>
	<dict>
		<key>name</key>
		<string>First Music</string>
		<key>logo</key>
		<string>one</string>
		<key>link</key>
		<string>http://hdstream.one.by/</string>
		<key>http</key>
		<string>http://www.one.by/</string>
	</dict>
</array>
</plist>
