<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Alex TV</string>
		<key>logo</key>
		<string>a-pa</string>
		<key>link</key>
		<string>https://www.youtube.com/watch_popup?v=_QiRIYWXAE4</string>
		<key>http</key>
		<string>http://alextv.zp.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Белсат</string>
		<key>logo</key>
		<string>belsat</string>
		<key>link</key>
		<string>https://www.youtube.com/watch_popup?v=9WllQvmc7HY</string>
		<key>http</key>
		<string>https://www.youtube.com/user/ibelsat/videos?view=2&amp;flow=grid&amp;live_view=501</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TV 4</string>
		<key>logo</key>
		<string>abc1</string>
		<key>link</key>
		<string>http://tv4.te.ua/onlajn-movlennya/</string>
		<key>http</key>
		<string>http://tv4.te.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>АНТ - Общенациональное телевидение</string>
		<key>logo</key>
		<string>ont</string>
		<key>link</key>
		<string>https://www.youtube.com/watch_popup?v=hcFVstZdVqU</string>
		<key>http</key>
		<string>https://www.youtube.com/user/onttvchannel/featured</string>
	</dict>
	<dict>
		<key>name</key>
		<string>БЕЛАРУСЬ 24</string>
		<key>logo</key>
		<string>belarus24</string>
		<key>link</key>
		<string>https://www.youtube.com/watch_popup?v=QIyqLSk1q0w</string>
		<key>http</key>
		<string>https://www.youtube.com/user/BELARTV?feature=mhee</string>
	</dict>
	<dict>
		<key>name</key>
		<string>БЕЛАРУСЬ 1</string>
		<key>logo</key>
		<string>belarus1</string>
		<key>link</key>
		<string>https://www.youtube.com/watch_popup?v=RDzf34FErq8</string>
		<key>http</key>
		<string>https://www.youtube.com/channel/UCWqeoQKVbAfMjk8-aC713JQ</string>
	</dict>
	<dict>
		<key>name</key>
		<string>БЕЛАРУСЬ 2</string>
		<key>logo</key>
		<string>belarus2</string>
		<key>link</key>
		<string>https://www.youtube.com/watch_popup?v=tZmkj9ZsyOU</string>
		<key>http</key>
		<string>https://www.youtube.com/channel/UCWssHvvokPN6Cwj6m6XIUVA</string>
	</dict>
	<dict>
		<key>name</key>
		<string>БЕЛАРУСЬ 3</string>
		<key>logo</key>
		<string>belarus3</string>
		<key>link</key>
		<string>https://www.youtube.com/watch_popup?v=uhqrdS47Z-E</string>
		<key>http</key>
		<string>https://www.youtube.com/channel/UCyLsvwRuXDmGS_l8uF_oCbw</string>
	</dict>
	<dict>
		<key>name</key>
		<string>БЕЛАРУСЬ 5</string>
		<key>logo</key>
		<string>belarus5</string>
		<key>link</key>
		<string>https://www.youtube.com/watch_popup?v=FI1Z3942xpA</string>
		<key>http</key>
		<string>https://www.youtube.com/channel/UCWXMSLt1_6xoqt2bokXQEZA</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Столичное телевидение</string>
		<key>logo</key>
		<string>ctv</string>
		<key>link</key>
		<string>https://www.youtube.com/watch_popup?v=5mo2FZuZ8ZI</string>
		<key>http</key>
		<string>https://www.youtube.com/user/CTVBY/feed</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ТРО Союз</string>
		<key>logo</key>
		<string>tro</string>
		<key>link</key>
		<string>https://www.youtube.com/watch_popup?v=PlsJUycl7OI</string>
		<key>http</key>
		<string>https://www.youtube.com/user/telekanaltro/videos?view=1</string>
	</dict>
</array>
</plist>
