<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>EbS+ Europe by Satellite</string>
		<key>logo</key>
		<string>EbS</string>
		<key>link</key>
		<string>http://ec.europa.eu/avservices/ebs/live.cfm?page=1</string>
		<key>http</key>
		<string>http://ec.europa.eu/avservices/ebs/schedule.cfm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>EbS Europe by Satellite</string>
		<key>logo</key>
		<string>EbS+</string>
		<key>link</key>
		<string>http://ec.europa.eu/avservices/ebs/live.cfm?page=2</string>
		<key>http</key>
		<string>http://ec.europa.eu/avservices/ebs/schedule.cfm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ATV</string>
		<key>logo</key>
		<string>ATV</string>
		<key>link</key>
		<string>http://atv.be/info/extra-live-stream</string>
		<key>http</key>
		<string>http://atv.be/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>BX1 Tele Bruxelles</string>
		<key>logo</key>
		<string>BX1</string>
		<key>link</key>
		<string>http://bx1.be/live/</string>
		<key>http</key>
		<string>http://bx1.be/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TV Oost</string>
		<key>logo</key>
		<string>Oost</string>
		<key>link</key>
		<string>http://www.tvoost.be/live</string>
		<key>http</key>
		<string>http://www.tvoost.be/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TeleMB</string>
		<key>logo</key>
		<string>TeleMB</string>
		<key>link</key>
		<string>http://www.telemb.be/direct</string>
		<key>http</key>
		<string>http://www.telemb.be/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Euronews</string>
		<key>logo</key>
		<string>Euronews</string>
		<key>link</key>
		<string>http://fr.euronews.com/live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/euronewsfr/videos?live_view=501&amp;flow=grid&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bloomberg TV Europe</string>
		<key>logo</key>
		<string>bloomberg</string>
		<key>link</key>
		<string>https://www.bloomberg.com/live/europe</string>
		<key>http</key>
		<string>https://www.bloomberg.com/live/us</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sky News</string>
		<key>logo</key>
		<string>Sky</string>
		<key>link</key>
		<string>http://news.sky.com/watch-live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/skynews</string>
	</dict>
</array>
</plist>
