<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1</string>
		<key>Back</key>
		<string>1</string>
		<key>Banner</key>
		<string>3456476932</string>
		<key>Header</key>
		<string>1</string>
		<key>Footer</key>
		<string>1</string>
		<key>Email</key>
		<string>shelvinscare@gmail.com</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1</string>
		<key>Developer</key>
		<string>1</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<integer>2</integer>
		<key>DemoMode</key>
		<string>9</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Евроком</string>
			<key>logo</key>
			<string>Evrokom</string>
			<key>link</key>
			<string>http://live.eurocom.bg:8080/hls/stream.m3u8</string>
			<key>http</key>
			<string>http://live.eurocom.bg:8080/hls/stream.m3u8</string>
		</dict>
		<dict>
			<key>name</key>
			<string>БНТ World</string>
			<key>logo</key>
			<string>World</string>
			<key>link</key>
			<string>Test3</string>
			<key>http</key>
			<string>Test3</string>
		</dict>
		<dict>
			<key>name</key>
			<string>БНТ 1</string>
			<key>logo</key>
			<string>1</string>
			<key>link</key>
			<string>Test1</string>
			<key>http</key>
			<string>Test1</string>
		</dict>
		<dict>
			<key>name</key>
			<string>БНТ 2</string>
			<key>logo</key>
			<string>2</string>
			<key>link</key>
			<string>Test2</string>
			<key>http</key>
			<string>Test2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>БНТ HD</string>
			<key>logo</key>
			<string>HD</string>
			<key>link</key>
			<string>Test4</string>
			<key>http</key>
			<string>Test4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Нова телевизия</string>
			<key>logo</key>
			<string>Nova</string>
			<key>link</key>
			<string>http://212.25.58.237/nova/pl.m3u8</string>
			<key>http</key>
			<string>http://212.25.58.237/nova/pl.m3u8</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bulgaria on Air</string>
			<key>logo</key>
			<string>Air</string>
			<key>link</key>
			<string>http://ios.cdn.bg:2006/fls/bonair.stream/playlist.m3u8</string>
			<key>http</key>
			<string>http://ios.cdn.bg:2006/fls/bonair.stream/playlist.m3u8</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Черно море</string>
			<key>logo</key>
			<string>Test1</string>
			<key>link</key>
			<string>http://ios.cdn.bg:2006/fls/chmore.stream/playlist.m3u8</string>
			<key>http</key>
			<string>http://ios.cdn.bg:2006/fls/chmore.stream/playlist.m3u8</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ROMA</string>
			<key>logo</key>
			<string>ROMA</string>
			<key>link</key>
			<string>http://185.46.161.3/hls/sd.m3u8</string>
			<key>http</key>
			<string>http://185.46.161.3/hls/sd.m3u8</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BTV</string>
			<key>logo</key>
			<string>BTV</string>
			<key>link</key>
			<string>http://212.25.58.237/btv/pl.m3u8</string>
			<key>http</key>
			<string>http://212.25.58.237/btv/pl.m3u8</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TVN Bulgaria</string>
			<key>logo</key>
			<string>TVN</string>
			<key>link</key>
			<string>http://212.25.58.237/tvn/pl.m3u8</string>
			<key>http</key>
			<string>http://212.25.58.237/tvn/pl.m3u8</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Стара Загора</string>
			<key>logo</key>
			<string>Zagora</string>
			<key>link</key>
			<string>http://95.87.0.78:8080/tvstz.m3u8</string>
			<key>http</key>
			<string>http://95.87.0.78:8080/tvstz.m3u8</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bloomberg TV Bulgaria</string>
			<key>logo</key>
			<string>bloomberg</string>
			<key>link</key>
			<string>http://mn-l.mncdn.com/bloomberght/bloomberght2/radyodelisi.m3u8</string>
			<key>http</key>
			<string>http://mn-l.mncdn.com/bloomberght/bloomberght2/radyodelisi.m3u8</string>
		</dict>
		<dict>
			<key>name</key>
			<string>euronews Блгария</string>
			<key>logo</key>
			<string>Euronews</string>
			<key>link</key>
			<string>http://evronovosti.mediacdn.ru/sr1/evronovosti/playlist.m3u8</string>
			<key>http</key>
			<string>http://evronovosti.mediacdn.ru/sr1/evronovosti/playlist.m3u8</string>
		</dict>
	</array>
</dict>
</plist>
