<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>9083540534</string>
		<key>Back</key>
		<string>3064927098</string>
		<key>Banner</key>
		<string>8808208365</string>
		<key>Header</key>
		<string>6786526167</string>
		<key>Footer</key>
		<string>8862025168</string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1448718236</string>
		<key>Developer</key>
		<string>1239592099</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<integer>2</integer>
		<key>DemoMode</key>
		<string>9</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>ATV</string>
			<key>logo</key>
			<string>ATV</string>
			<key>link</key>
			<string>http://anguillatv.net/live/</string>
			<key>http</key>
			<string>http://anguillatv.net</string>
			<key>country</key>
			<string>Anguilla</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ABS</string>
			<key>logo</key>
			<string>ABS</string>
			<key>link</key>
			<string>http://abstvradio.com/live-streaming/</string>
			<key>http</key>
			<string>http://abstvradio.com</string>
			<key>country</key>
			<string>Antigua and Barbuda</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Telearuba</string>
			<key>logo</key>
			<string>Telearuba</string>
			<key>link</key>
			<string>http://www.telearuba.aw/live-stream/</string>
			<key>http</key>
			<string>http://www.telearuba.aw</string>
			<key>country</key>
			<string>Aruba</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CBC TV8</string>
			<key>logo</key>
			<string>CBC</string>
			<key>link</key>
			<string>http://www.cbc.bb/index.php/tv8/live-tv-2</string>
			<key>http</key>
			<string>http://www.cbc.bb</string>
			<key>country</key>
			<string>Barbados</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cinestream</string>
			<key>logo</key>
			<string>Cinestream</string>
			<key>link</key>
			<string>http://cinestreamtv.com/</string>
			<key>http</key>
			<string>http://cinestreamtv.com/</string>
			<key>country</key>
			<string>Barbados</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Krem</string>
			<key>logo</key>
			<string>Krem</string>
			<key>link</key>
			<string>http://www.krembz.com/</string>
			<key>http</key>
			<string>http://www.ustream.tv/channel/krem-radio-tv-live</string>
			<key>country</key>
			<string>Belize</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Plus</string>
			<key>logo</key>
			<string>Plus</string>
			<key>link</key>
			<string>http://www.plustvbelize.com/</string>
			<key>http</key>
			<string>http://www.ustream.tv/channel/plustvbelize</string>
			<key>country</key>
			<string>Belize</string>
		</dict>
		<dict>
			<key>name</key>
			<string>5</string>
			<key>logo</key>
			<string>5</string>
			<key>link</key>
			<string>https://www.youtube.com/channel/UC823EN3FaKJ4Pk_ZIcp34LA/live</string>
			<key>http</key>
			<string>http://edition.channel5belize.com/</string>
			<key>country</key>
			<string>Belize</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CITV</string>
			<key>logo</key>
			<string>CITV</string>
			<key>link</key>
			<string>https://www.gov.bm/whats-on-citv</string>
			<key>http</key>
			<string>https://www.gov.bm</string>
			<key>country</key>
			<string>Bermuda</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nos</string>
			<key>logo</key>
			<string>Nos</string>
			<key>link</key>
			<string>http://www.nostvbonaire.com/</string>
			<key>http</key>
			<string>http://www.nostvbonaire.com/Live.html</string>
			<key>country</key>
			<string>Bonaire</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CBN</string>
			<key>logo</key>
			<string>CBN</string>
			<key>link</key>
			<string>http://original.livestream.com/cbntvbvi</string>
			<key>http</key>
			<string>https://www.cbnvirginislands.com/</string>
			<key>country</key>
			<string>British Virgin Islands</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Colombia</string>
			<key>logo</key>
			<string>Colombia</string>
			<key>link</key>
			<string>1366613538</string>
			<key>http</key>
			<string>1366613538</string>
			<key>country</key>
			<string>This country is available in the separate app. Tap to open</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Costa Rica</string>
			<key>logo</key>
			<string>Costa</string>
			<key>link</key>
			<string>1435499553</string>
			<key>http</key>
			<string>1435499553</string>
			<key>country</key>
			<string>This country is available in the separate app. Tap to open</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TeleSUR</string>
			<key>logo</key>
			<string>TeleSUR</string>
			<key>link</key>
			<string>https://www.youtube.com/user/telesurtv/videos?view=2&amp;live_view=501&amp;flow=grid</string>
			<key>http</key>
			<string>https://www.telesurtv.net/</string>
			<key>country</key>
			<string>Cuba</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Martí</string>
			<key>logo</key>
			<string>Marti</string>
			<key>link</key>
			<string>https://www.martinoticias.com/live/video/9</string>
			<key>http</key>
			<string>https://www.martinoticias.com</string>
			<key>country</key>
			<string>Cuba</string>
		</dict>
		<dict>
			<key>name</key>
			<string>América TeVé</string>
			<key>logo</key>
			<string>TeVe</string>
			<key>link</key>
			<string>http://www.americateve.com/vivo</string>
			<key>http</key>
			<string>http://www.americateve.com</string>
			<key>country</key>
			<string>Cuba</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Teveo</string>
			<key>logo</key>
			<string>Teveo</string>
			<key>link</key>
			<string>http://www.americateve.com/teveo</string>
			<key>http</key>
			<string>http://www.americateve.com</string>
			<key>country</key>
			<string>Cuba</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nos Pais</string>
			<key>logo</key>
			<string>Pais</string>
			<key>link</key>
			<string>http://www.nospais.com/stream/</string>
			<key>http</key>
			<string>http://www.nospais.com/</string>
			<key>country</key>
			<string>Curaçao</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Direct 13 Media</string>
			<key>logo</key>
			<string>13</string>
			<key>link</key>
			<string>https://www.tvdirect13.com/</string>
			<key>http</key>
			<string>https://www.tvdirect13.com/</string>
			<key>country</key>
			<string>Curaçao</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CBA</string>
			<key>logo</key>
			<string>CBA</string>
			<key>link</key>
			<string>http://cba2.tv/</string>
			<key>http</key>
			<string>http://cba2.tv/</string>
			<key>country</key>
			<string>Curaçao</string>
		</dict>
		<dict>
			<key>name</key>
			<string>HOW</string>
			<key>logo</key>
			<string>HOW</string>
			<key>link</key>
			<string>http://how-online.org/how-tv/</string>
			<key>http</key>
			<string>http://how-online.org/</string>
			<key>country</key>
			<string>Curaçao</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dominican Republic</string>
			<key>logo</key>
			<string>Dominican</string>
			<key>link</key>
			<string>1434650301</string>
			<key>http</key>
			<string>1434650301</string>
			<key>country</key>
			<string>This country is available in the separate app. Tap to open</string>
		</dict>
		<dict>
			<key>name</key>
			<string>El Salvador</string>
			<key>logo</key>
			<string>Salvador</string>
			<key>link</key>
			<string>1424684275</string>
			<key>http</key>
			<string>1424684275</string>
			<key>country</key>
			<string>This country is available in the separate app. Tap to open</string>
		</dict>
		<dict>
			<key>name</key>
			<string>GFN (Global Family Network)</string>
			<key>logo</key>
			<string>GFN</string>
			<key>link</key>
			<string>http://www.globalfamilynetwork.net/site/tv/</string>
			<key>http</key>
			<string>http://www.globalfamilynetwork.net/</string>
			<key>country</key>
			<string>Grenada</string>
		</dict>
		<dict>
			<key>name</key>
			<string>GIS (Government Information Service of Grenada)</string>
			<key>logo</key>
			<string>GIS</string>
			<key>link</key>
			<string>https://www.gov.gd/tv/</string>
			<key>http</key>
			<string>https://www.gov.gd</string>
			<key>country</key>
			<string>Grenada</string>
		</dict>
		<dict>
			<key>name</key>
			<string>GBN</string>
			<key>logo</key>
			<string>GBN</string>
			<key>link</key>
			<string>http://gbn.gd/en/gbnnews/10/162/GBN-TV.htm</string>
			<key>http</key>
			<string>http://gbn.gd</string>
			<key>country</key>
			<string>Grenada</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Canal 10</string>
			<key>logo</key>
			<string>10</string>
			<key>link</key>
			<string>https://www.canal10.fr/</string>
			<key>http</key>
			<string>https://www.canal10.fr/</string>
			<key>country</key>
			<string>Guadeloupe</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ETV</string>
			<key>logo</key>
			<string>ETV</string>
			<key>link</key>
			<string>http://www.etv.gp/direct/</string>
			<key>http</key>
			<string>http://www.etv.gp</string>
			<key>country</key>
			<string>Guadeloupe</string>
		</dict>
		<dict>
			<key>name</key>
			<string>4 TV Guadeloupe</string>
			<key>logo</key>
			<string>4</string>
			<key>link</key>
			<string>https://guadeloupe4media.com/home</string>
			<key>http</key>
			<string>https://guadeloupe4media.com</string>
			<key>country</key>
			<string>Guadeloupe</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Guadeloupe la 1ère</string>
			<key>logo</key>
			<string>Guadeloupe</string>
			<key>link</key>
			<string>https://la1ere.francetvinfo.fr/guadeloupe/tv/direct</string>
			<key>http</key>
			<string>https://la1ere.francetvinfo.fr/guadeloupe/</string>
			<key>country</key>
			<string>Guadeloupe</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Guatemala</string>
			<key>logo</key>
			<string>Guatemala</string>
			<key>link</key>
			<string>1421220216</string>
			<key>http</key>
			<string>1421220216</string>
			<key>country</key>
			<string>This country is available in the separate app. Tap to open</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CNS 6</string>
			<key>logo</key>
			<string>CNS</string>
			<key>link</key>
			<string>http://cns6.tv/news/live-stream</string>
			<key>http</key>
			<string>http://cns6.tv</string>
			<key>country</key>
			<string>Guyana</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Guyane la 1ère</string>
			<key>logo</key>
			<string>Guyane</string>
			<key>link</key>
			<string>https://la1ere.francetvinfo.fr/guyane/tv/direct</string>
			<key>http</key>
			<string>https://www.youtube.com/channel/UCdijnb4OugCB6KUl2aN3qJQ/videos?flow=grid&amp;live_view=501&amp;view=2</string>
			<key>country</key>
			<string>Guyana</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Parliament of Guyana</string>
			<key>logo</key>
			<string>Guyana</string>
			<key>link</key>
			<string>https://livestream.com/TheParliamentOfGuyana/11thParliament86thSitting</string>
			<key>http</key>
			<string>http://parliament.gov.gy/</string>
			<key>country</key>
			<string>Guyana</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Haiti</string>
			<key>logo</key>
			<string>Haiti</string>
			<key>link</key>
			<string>1443369725</string>
			<key>http</key>
			<string>1443369725</string>
			<key>country</key>
			<string>This country is available in the separate app. Tap to open</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Honduras</string>
			<key>logo</key>
			<string>Honduras</string>
			<key>link</key>
			<string>1417437694</string>
			<key>http</key>
			<string>1417437694</string>
			<key>country</key>
			<string>This country is available in the separate app. Tap to open</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mello</string>
			<key>logo</key>
			<string>Mello</string>
			<key>link</key>
			<string>https://www.mellotv.com/player/stream.html</string>
			<key>http</key>
			<string>https://www.mellotv.com</string>
			<key>country</key>
			<string>Jamaica</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CVM</string>
			<key>logo</key>
			<string>CVM</string>
			<key>link</key>
			<string>http://www.cvmtv.com/live_stream.php</string>
			<key>http</key>
			<string>http://www.cvmtv.com</string>
			<key>country</key>
			<string>Jamaica</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MTM (Mercy and Truth Ministries Television)</string>
			<key>logo</key>
			<string>MTM</string>
			<key>link</key>
			<string>http://www.mercyandtruth.tv/?page_id=37</string>
			<key>http</key>
			<string>http://www.mercyandtruth.tv</string>
			<key>country</key>
			<string>Jamaica</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Madinina</string>
			<key>logo</key>
			<string>Madinina</string>
			<key>link</key>
			<string>http://www.madininatv.com/direct.html</string>
			<key>http</key>
			<string>http://www.madininatv.com</string>
			<key>country</key>
			<string>Martinique</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sucre</string>
			<key>logo</key>
			<string>Sucre</string>
			<key>link</key>
			<string>http://www.sucretv.fr/live.html</string>
			<key>http</key>
			<string>http://www.sucretv.fr</string>
			<key>country</key>
			<string>Martinique</string>
		</dict>
		<dict>
			<key>name</key>
			<string>LCI (La Chaîne Info)</string>
			<key>logo</key>
			<string>LCI</string>
			<key>link</key>
			<string>https://www.lci.fr/direct/</string>
			<key>http</key>
			<string>https://www.lci.fr</string>
			<key>country</key>
			<string>Martinique</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Martinique la 1ère</string>
			<key>logo</key>
			<string>Martinique</string>
			<key>link</key>
			<string>https://la1ere.francetvinfo.fr/martinique/tv/direct</string>
			<key>http</key>
			<string>https://la1ere.francetvinfo.fr/martinique</string>
			<key>country</key>
			<string>Martinique</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Famille</string>
			<key>logo</key>
			<string>Famille</string>
			<key>link</key>
			<string>http://tvfamille.org/#tv-direct</string>
			<key>http</key>
			<string>http://tvfamille.org</string>
			<key>country</key>
			<string>Martinique</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mexico</string>
			<key>logo</key>
			<string>Mexico</string>
			<key>link</key>
			<string>1426656180</string>
			<key>http</key>
			<string>1240842773</string>
			<key>country</key>
			<string>This country is available in the separate app. Tap to open</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nicaragua</string>
			<key>logo</key>
			<string>Nicaragua</string>
			<key>link</key>
			<string>1422076907</string>
			<key>http</key>
			<string>1422076907</string>
			<key>country</key>
			<string>This country is available in the separate app. Tap to open</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Panama</string>
			<key>logo</key>
			<string>Panama</string>
			<key>link</key>
			<string>1436502430</string>
			<key>http</key>
			<string>1436502430</string>
			<key>country</key>
			<string>This country is available in the separate app. Tap to open</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Puerto Rico</string>
			<key>logo</key>
			<string>Puerto</string>
			<key>link</key>
			<string>1440675089</string>
			<key>http</key>
			<string>1440675089</string>
			<key>country</key>
			<string>This country is available in the separate app. Tap to open</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ZIZ 5</string>
			<key>logo</key>
			<string>ZIZ</string>
			<key>link</key>
			<string>http://zizonline.com/tv/channel-5/</string>
			<key>http</key>
			<string>http://zizonline.com</string>
			<key>country</key>
			<string>Saint Kitts and Nevis</string>
		</dict>
		<dict>
			<key>name</key>
			<string>HTS</string>
			<key>logo</key>
			<string>HTS</string>
			<key>link</key>
			<string>https://www.htsstlucia.org/livestream/</string>
			<key>http</key>
			<string>https://www.htsstlucia.org</string>
			<key>country</key>
			<string>Saint Lucia</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DBS</string>
			<key>logo</key>
			<string>DBS</string>
			<key>link</key>
			<string>http://www.dbstvstlucia.com/index.php/livestream</string>
			<key>http</key>
			<string>http://www.dbstvstlucia.com</string>
			<key>country</key>
			<string>Saint Lucia</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TV Carib (WTN-TV)</string>
			<key>logo</key>
			<string>Carib</string>
			<key>link</key>
			<string>http://tvcarib.com/live.html</string>
			<key>http</key>
			<string>http://www.tvcarib.com/</string>
			<key>country</key>
			<string>Sint Maarten</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Scruffy</string>
			<key>logo</key>
			<string>Scruffy</string>
			<key>link</key>
			<string>https://carpetmedia.wixsite.com/scruffytv</string>
			<key>http</key>
			<string>https://carpetmedia.wixsite.com/scruffytv</string>
			<key>country</key>
			<string>Saint Lucia</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ATV (Algemene Televisie Verzorging)</string>
			<key>logo</key>
			<string>AT</string>
			<key>link</key>
			<string>http://www.atv.sr/live-broadcast/</string>
			<key>http</key>
			<string>http://www.atv.sr</string>
			<key>country</key>
			<string>Suriname</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CTV</string>
			<key>logo</key>
			<string>CTV</string>
			<key>link</key>
			<string>http://ctvtt.com/stream.htm</string>
			<key>http</key>
			<string>http://ctvtt.com</string>
			<key>country</key>
			<string>Trinidad and Tobago</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CNC3</string>
			<key>logo</key>
			<string>3</string>
			<key>link</key>
			<string>http://www.cnc3.co.tt/livestream</string>
			<key>http</key>
			<string>http://www.cnc3.co.tt</string>
			<key>country</key>
			<string>Trinidad and Tobago</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CCN 6</string>
			<key>logo</key>
			<string>CCN</string>
			<key>link</key>
			<string>https://www.tv6tnt.com/watch_live/</string>
			<key>http</key>
			<string>https://www.tv6tnt.com</string>
			<key>country</key>
			<string>Trinidad and Tobago</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Trinity</string>
			<key>logo</key>
			<string>Trinity</string>
			<key>link</key>
			<string>http://www.tcntt.com/index.php?option=com_content&amp;view=article&amp;id=264&amp;Itemid=238</string>
			<key>http</key>
			<string>http://www.tcntt.com</string>
			<key>country</key>
			<string>Trinidad and Tobago</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TIN (The Islamic Network)</string>
			<key>logo</key>
			<string>TIN</string>
			<key>link</key>
			<string>http://www.theislamicnetwork.org/</string>
			<key>http</key>
			<string>http://www.theislamicnetwork.org/</string>
			<key>country</key>
			<string>Trinidad and Tobago</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sankhya</string>
			<key>logo</key>
			<string>Sankhya</string>
			<key>link</key>
			<string>http://www.sankhyatv.com/videostream</string>
			<key>http</key>
			<string>http://www.sankhyatv.com</string>
			<key>country</key>
			<string>Trinidad and Tobago</string>
		</dict>
		<dict>
			<key>name</key>
			<string>WSVI-TV (Channel 8)</string>
			<key>logo</key>
			<string>8</string>
			<key>link</key>
			<string>http://www.asseenonchannel8.com/WSVI-TV/WSVI-TV/Channel_8_Live.html</string>
			<key>http</key>
			<string>http://www.wsvi.tv/</string>
			<key>country</key>
			<string>U.S. Virgin Islands</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Venezuela</string>
			<key>logo</key>
			<string>Venezuela</string>
			<key>link</key>
			<string>1391575666</string>
			<key>http</key>
			<string>1391575666</string>
			<key>country</key>
			<string>This country is available in the separate app. Tap to open</string>
		</dict>
	</array>
</dict>
</plist>
