<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1</string>
		<key>Back</key>
		<string>1</string>
		<key>Banner</key>
		<string>5321812971</string>
		<key>Header</key>
		<string>1</string>
		<key>Footer</key>
		<string>1</string>
		<key>Email</key>
		<string>1</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1</string>
		<key>Developer</key>
		<string>1</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<integer>2</integer>
		<key>DemoMode</key>
		<string>10</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>ABS</string>
			<key>logo</key>
			<string>ABS</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/01101.mp4</string>
			<key>country</key>
			<string>Antigua and Barbuda</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TeleSUR</string>
			<key>logo</key>
			<string>TeleSUR</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/01102.mp4</string>
			<key>country</key>
			<string>Cuba</string>
		</dict>
		<dict>
			<key>name</key>
			<string>América TeVé</string>
			<key>logo</key>
			<string>TeVe</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/01103.mp4</string>
			<key>country</key>
			<string>Cuba</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Teveo</string>
			<key>logo</key>
			<string>Teveo</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/01104.mp4</string>
			<key>country</key>
			<string>Cuba</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Guadeloupe la 1ère</string>
			<key>logo</key>
			<string>Guadeloupe</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/01105.mp4</string>
			<key>country</key>
			<string>Guadeloupe</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CVM</string>
			<key>logo</key>
			<string>CVM</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/01108.mp4</string>
			<key>country</key>
			<string>Jamaica</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Martinique la 1ère</string>
			<key>logo</key>
			<string>Martinique</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/01106.mp4</string>
			<key>country</key>
			<string>Martinique</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Guyane la 1ère</string>
			<key>logo</key>
			<string>Guyane</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/01107.mp4</string>
			<key>country</key>
			<string>Martinique</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CNC3</string>
			<key>logo</key>
			<string>3</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/01109.mp4</string>
			<key>country</key>
			<string>Trinidad and Tobago</string>
		</dict>
	</array>
</dict>
</plist>
