<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1</string>
		<key>Back</key>
		<string>1</string>
		<key>Banner</key>
		<string>5321812971</string>
		<key>Header</key>
		<string>1</string>
		<key>Footer</key>
		<string>1</string>
		<key>Email</key>
		<string>1</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1</string>
		<key>Developer</key>
		<string>1</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<integer>2</integer>
		<key>DemoMode</key>
		<string>10</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>ABS</string>
			<key>logo</key>
			<string>ABS</string>
			<key>link</key>
			<string>http://abstvradio.com/live-streaming/</string>
			<key>http</key>
			<string>http://abstvradio.com</string>
			<key>country</key>
			<string>Antigua and Barbuda</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TeleSUR</string>
			<key>logo</key>
			<string>TeleSUR</string>
			<key>link</key>
			<string>https://www.youtube.com/user/telesurtv/videos?view=2&amp;live_view=501&amp;flow=grid</string>
			<key>http</key>
			<string>https://www.telesurtv.net/</string>
			<key>country</key>
			<string>Cuba</string>
		</dict>
		<dict>
			<key>name</key>
			<string>América TeVé</string>
			<key>logo</key>
			<string>TeVe</string>
			<key>link</key>
			<string>http://www.americateve.com/vivo</string>
			<key>http</key>
			<string>http://www.americateve.com</string>
			<key>country</key>
			<string>Cuba</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Teveo</string>
			<key>logo</key>
			<string>Teveo</string>
			<key>link</key>
			<string>http://www.americateve.com/teveo</string>
			<key>http</key>
			<string>http://www.americateve.com</string>
			<key>country</key>
			<string>Cuba</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Guadeloupe 1ère</string>
			<key>logo</key>
			<string>Guadeloupe</string>
			<key>link</key>
			<string>https://la1ere.francetvinfo.fr/guadeloupe/tv/direct</string>
			<key>http</key>
			<string>https://la1ere.francetvinfo.fr/guadeloupe/</string>
			<key>country</key>
			<string>Guadeloupe</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CVM</string>
			<key>logo</key>
			<string>CVM</string>
			<key>link</key>
			<string>http://www.cvmtv.com/live_stream.php</string>
			<key>http</key>
			<string>http://www.cvmtv.com</string>
			<key>country</key>
			<string>Jamaica</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Martinique 1ère</string>
			<key>logo</key>
			<string>Martinique</string>
			<key>link</key>
			<string>https://la1ere.francetvinfo.fr/martinique/tv/direct</string>
			<key>http</key>
			<string>https://la1ere.francetvinfo.fr/martinique</string>
			<key>country</key>
			<string>Martinique</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CNC3</string>
			<key>logo</key>
			<string>3</string>
			<key>link</key>
			<string>http://www.cnc3.co.tt/livestream</string>
			<key>http</key>
			<string>http://www.cnc3.co.tt</string>
			<key>country</key>
			<string>Trinidad and Tobago</string>
		</dict>
	</array>
</dict>
</plist>
