<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>LuxemTV</string>
		<key>Back</key>
		<string>LuxemTV</string>
		<key>Banner</key>
		<string>3183620370</string>
		<key>Header</key>
		<string>LuxemTV</string>
		<key>Footer</key>
		<string>LuxemTV</string>
		<key>Email</key>
		<string>world.app.community@gmail.com</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1</string>
		<key>Developer</key>
		<string>1</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<integer>2</integer>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>La Red</string>
			<key>logo</key>
			<string>La</string>
			<key>link</key>
			<string>http://lared.cl/senal-online</string>
			<key>http</key>
			<string>http://lared.cl/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>UCV</string>
			<key>logo</key>
			<string>UCV</string>
			<key>link</key>
			<string>http://www.mediamas.tv/senal-online/</string>
			<key>http</key>
			<string>http://www.mediamas.tv</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chilevisión (CHV)</string>
			<key>logo</key>
			<string>CHV</string>
			<key>link</key>
			<string>http://www.chilevision.cl/senal-online/</string>
			<key>http</key>
			<string>http://www.chilevision.cl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MEGA</string>
			<key>logo</key>
			<string>MEGA</string>
			<key>link</key>
			<string>http://www.mega.cl/senal-en-vivo/</string>
			<key>http</key>
			<string>http://www.mega.cl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>24 Horas</string>
			<key>logo</key>
			<string>Horas</string>
			<key>link</key>
			<string>http://www.24horas.cl/envivo</string>
			<key>http</key>
			<string>http://www.24horas.cl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TVN</string>
			<key>logo</key>
			<string>TVN</string>
			<key>link</key>
			<string>http://www.tvn.cl/envivo/</string>
			<key>http</key>
			<string>http://www.tvn.cl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TVN MÚSICA</string>
			<key>logo</key>
			<string>MUSICA</string>
			<key>link</key>
			<string>http://www.tvn.cl/envivo/tvnmusica/</string>
			<key>http</key>
			<string>http://www.tvn.cl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TVN KIDS</string>
			<key>logo</key>
			<string>KIDS</string>
			<key>link</key>
			<string>http://www.tvn.cl/envivo/tvnkids/</string>
			<key>http</key>
			<string>http://www.tvn.cl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TVN DE CULTO</string>
			<key>logo</key>
			<string>CULTO</string>
			<key>link</key>
			<string>http://www.tvn.cl/envivo/tvndeculto/</string>
			<key>http</key>
			<string>http://www.tvn.cl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CHILE</string>
			<key>logo</key>
			<string>CHILE</string>
			<key>link</key>
			<string>http://www.tvn.cl/envivo/tvchile/</string>
			<key>http</key>
			<string>http://www.tvn.cl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>UCV3</string>
			<key>logo</key>
			<string>UCV3</string>
			<key>link</key>
			<string>http://ucv3.cl/</string>
			<key>http</key>
			<string>http://ucv3.cl/home.php</string>
		</dict>
		<dict>
			<key>name</key>
			<string>VTV - Valle del Aconcagua	</string>
			<key>logo</key>
			<string>VTV1</string>
			<key>link</key>
			<string>http://canalvtv.cl/2017/transmision_aconcagua/</string>
			<key>http</key>
			<string>http://canalvtv.cl/2017</string>
		</dict>
		<dict>
			<key>name</key>
			<string>VTV - Valparaíso y Viña del Mar</string>
			<key>logo</key>
			<string>VTV2</string>
			<key>link</key>
			<string>http://canalvtv.cl/2017/transmision_costa/</string>
			<key>http</key>
			<string>http://canalvtv.cl/2017</string>
		</dict>
	</array>
</dict>
</plist>
