<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>4660353571</string>
		<key>Back</key>
		<string>6137086770</string>
		<key>Banner</key>
		<string>3183620370</string>
		<key>Header</key>
		<string>7108632474</string>
		<key>Footer</key>
		<string>5944435051</string>
		<key>Email</key>
		<string>ios.apps.community@gmail.com</string>
		<key>Alternative</key>
		<string>1448267190</string>
		<key>Application</key>
		<string>1366618088</string>
		<key>Developer</key>
		<string>1360678770</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<integer>2</integer>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Talagante TV</string>
			<key>logo</key>
			<string>Talagante</string>
			<key>link</key>
			<string>https://mediacpstreamchile.com:1936/samuelalvarado/samuelalvarado/playlist.m3u8</string>
			<key>http</key>
			<string>https://talagantetv.cl/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Red</string>
			<key>logo</key>
			<string>La</string>
			<key>link</key>
			<string>http://lared.cl/senal-online</string>
			<key>http</key>
			<string>http://lared.cl/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>UCV</string>
			<key>logo</key>
			<string>UCV</string>
			<key>link</key>
			<string>http://www.mediamas.tv/senal-online/</string>
			<key>http</key>
			<string>http://www.mediamas.tv</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chilevisión (CHV)</string>
			<key>logo</key>
			<string>CHV</string>
			<key>link</key>
			<string>http://www.chilevision.cl/senal-online/</string>
			<key>http</key>
			<string>http://www.chilevision.cl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MEGA</string>
			<key>logo</key>
			<string>MEGA</string>
			<key>link</key>
			<string>http://www.mega.cl/senal-en-vivo/</string>
			<key>http</key>
			<string>http://www.mega.cl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>24 Horas</string>
			<key>logo</key>
			<string>Horas</string>
			<key>link</key>
			<string>http://www.24horas.cl/envivo</string>
			<key>http</key>
			<string>http://www.24horas.cl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TVN</string>
			<key>logo</key>
			<string>TVN</string>
			<key>link</key>
			<string>http://www.tvn.cl/envivo/</string>
			<key>http</key>
			<string>http://www.tvn.cl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TVN MÚSICA</string>
			<key>logo</key>
			<string>MUSICA</string>
			<key>link</key>
			<string>http://www.tvn.cl/envivo/tvnmusica/</string>
			<key>http</key>
			<string>http://www.tvn.cl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TVN KIDS</string>
			<key>logo</key>
			<string>KIDS</string>
			<key>link</key>
			<string>http://www.tvn.cl/envivo/tvnkids/</string>
			<key>http</key>
			<string>http://www.tvn.cl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TVN DE CULTO</string>
			<key>logo</key>
			<string>CULTO</string>
			<key>link</key>
			<string>http://www.tvn.cl/envivo/tvndeculto/</string>
			<key>http</key>
			<string>http://www.tvn.cl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CHILE</string>
			<key>logo</key>
			<string>CHILE</string>
			<key>link</key>
			<string>http://www.tvn.cl/envivo/tvchile/</string>
			<key>http</key>
			<string>http://www.tvn.cl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Niu</string>
			<key>logo</key>
			<string>Niu</string>
			<key>link</key>
			<string>http://niu.cl/</string>
			<key>http</key>
			<string>http://niu.cl/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM Hot TV</string>
			<key>logo</key>
			<string>Hot</string>
			<key>link</key>
			<string>http://fmhot.cl/canal-tv/</string>
			<key>http</key>
			<string>http://fmhot.cl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>UCV3</string>
			<key>logo</key>
			<string>UCV3</string>
			<key>link</key>
			<string>http://ucv3.cl/</string>
			<key>http</key>
			<string>http://ucv3.cl/home.php</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Senado (TVS)</string>
			<key>logo</key>
			<string>TVS</string>
			<key>link</key>
			<string>http://tv.senado.cl/</string>
			<key>http</key>
			<string>http://tv.senado.cl/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CDTV Cámara de Diputados</string>
			<key>logo</key>
			<string>CDTV</string>
			<key>link</key>
			<string>http://www.cdtv.cl/home.aspx</string>
			<key>http</key>
			<string>http://www.cdtv.cl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Enlace</string>
			<key>logo</key>
			<string>Enlace</string>
			<key>link</key>
			<string>https://www.enlace.org/envivo/</string>
			<key>http</key>
			<string>https://www.enlace.org</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nuevo Tiempo</string>
			<key>logo</key>
			<string>Tiempo</string>
			<key>link</key>
			<string>http://www.nuevotiempo.cl/tv-online/</string>
			<key>http</key>
			<string>http://www.nuevotiempo.cl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TNE</string>
			<key>logo</key>
			<string>TNE</string>
			<key>link</key>
			<string>http://www.tnetv.cl/senal_online</string>
			<key>http</key>
			<string>http://www.tnetv.cl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RTC</string>
			<key>logo</key>
			<string>RTC</string>
			<key>link</key>
			<string>http://www.rtctelevision.cl/</string>
			<key>http</key>
			<string>http://www.rtctelevision.cl/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Antofagasta</string>
			<key>logo</key>
			<string>Antofagasta</string>
			<key>link</key>
			<string>http://antofagasta.tv/senal-online/</string>
			<key>http</key>
			<string>http://antofagasta.tv/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cable Noticias</string>
			<key>logo</key>
			<string>Noticias</string>
			<key>link</key>
			<string>http://www.cablenoticias.cl/on-line</string>
			<key>http</key>
			<string>http://www.cablenoticias.cl/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>VTV - Valle del Aconcagua	</string>
			<key>logo</key>
			<string>VTV1</string>
			<key>link</key>
			<string>http://canalvtv.cl/2017/transmision_aconcagua/</string>
			<key>http</key>
			<string>http://canalvtv.cl/2017</string>
		</dict>
		<dict>
			<key>name</key>
			<string>VTV - Valparaíso y Viña del Mar</string>
			<key>logo</key>
			<string>VTV2</string>
			<key>link</key>
			<string>http://canalvtv.cl/2017/transmision_costa/</string>
			<key>http</key>
			<string>http://canalvtv.cl/2017</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Noticias Colchagua</string>
			<key>logo</key>
			<string>Colchagua</string>
			<key>link</key>
			<string>http://noticiascolchagua.cl/senal-en-vivo/</string>
			<key>http</key>
			<string>http://noticiascolchagua.cl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>9 Bío-Bío</string>
			<key>logo</key>
			<string>9</string>
			<key>link</key>
			<string>http://www.biobiotv.cl/envivo/</string>
			<key>http</key>
			<string>http://www.biobiotv.cl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TV4 Lota</string>
			<key>logo</key>
			<string>TV4</string>
			<key>link</key>
			<string>http://tv4television.cl/en-vivo/</string>
			<key>http</key>
			<string>http://tv4television.cl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ATV Valdivia</string>
			<key>logo</key>
			<string>ATV</string>
			<key>link</key>
			<string>https://www.atvvaldivia.com/se-al-en-vivo</string>
			<key>http</key>
			<string>https://www.atvvaldivia.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Puerto Montt</string>
			<key>logo</key>
			<string>Puerto</string>
			<key>link</key>
			<string>http://canal5.cl/</string>
			<key>http</key>
			<string>http://canal5.cl/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Santa María</string>
			<key>logo</key>
			<string>Santa</string>
			<key>link</key>
			<string>http://santamariatv.cl/</string>
			<key>http</key>
			<string>http://santamariatv.cl/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Soberania</string>
			<key>logo</key>
			<string>Soberania</string>
			<key>link</key>
			<string>http://www.soberaniaradio.cl/</string>
			<key>http</key>
			<string>http://www.soberaniaradio.cl/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pingüino</string>
			<key>logo</key>
			<string>Pinguino</string>
			<key>link</key>
			<string>http://elpinguino.com/digital/tv</string>
			<key>http</key>
			<string>http://elpinguino.com/tv</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ITV Patagonia</string>
			<key>logo</key>
			<string>ITV</string>
			<key>link</key>
			<string>http://www.itvpatagonia.com/</string>
			<key>http</key>
			<string>http://www.itvpatagonia.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Red</string>
			<key>logo</key>
			<string>Red</string>
			<key>link</key>
			<string>http://www.tvred.cl/wp/en-vivo/</string>
			<key>http</key>
			<string>http://www.tvred.cl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TVU</string>
			<key>logo</key>
			<string>TVU</string>
			<key>link</key>
			<string>https://www.tvu.cl/online.html</string>
			<key>http</key>
			<string>https://www.tvu.cl/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ahora Noticias</string>
			<key>logo</key>
			<string>Ahora</string>
			<key>link</key>
			<string>http://www.ahoranoticias.cl/senal-en-vivo/</string>
			<key>http</key>
			<string>http://www.ahoranoticias.cl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Canal 13</string>
			<key>logo</key>
			<string>13</string>
			<key>link</key>
			<string>http://www.13.cl/en-vivo</string>
			<key>http</key>
			<string>http://www.13.cl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Contivision</string>
			<key>logo</key>
			<string>Contivision</string>
			<key>link</key>
			<string>http://web.contivision.cl/ctv/envivo.php</string>
			<key>http</key>
			<string>http://www.contivision.cl</string>
		</dict>
	</array>
</dict>
</plist>
