<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>Root</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>4787885979</string>
		<key>Back</key>
		<string>7741352379</string>
		<key>Banner</key>
		<string>3311152775</string>
		<key>Alternative</key>
		<string>1</string>
		<key>App</key>
		<string>12312312</string>
		<key>Dev</key>
		<string>12312312</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<integer>2</integer>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>CCTV English</string>
			<key>logo</key>
			<string>cctve</string>
			<key>link</key>
			<string>http://english.cctv.com/live/p2p/index.shtml</string>
			<key>http</key>
			<string>http://tv.cctv.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CCTV Espanol</string>
			<key>logo</key>
			<string>cctvs</string>
			<key>link</key>
			<string>http://espanol.cctv.com/endirecto/index.shtml</string>
			<key>http</key>
			<string>http://tv.cctv.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CCTV French</string>
			<key>logo</key>
			<string>cctvf</string>
			<key>link</key>
			<string>http://tv.cctv.com/live/cctvfrench/</string>
			<key>http</key>
			<string>http://tv.cctv.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CCTV Arabic</string>
			<key>logo</key>
			<string>cctva</string>
			<key>link</key>
			<string>http://tv.cctv.com/live/cctvarabic/</string>
			<key>http</key>
			<string>http://tv.cctv.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CCTV Русский</string>
			<key>logo</key>
			<string>cctvr</string>
			<key>link</key>
			<string>http://tv.cctv.com/live/cctvrussian/</string>
			<key>http</key>
			<string>http://tv.cctv.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CCTV 1</string>
			<key>logo</key>
			<string>cctv1</string>
			<key>link</key>
			<string>http://tv.cctv.com/live/cctv1/</string>
			<key>http</key>
			<string>http://tv.cctv.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CCTV 2</string>
			<key>logo</key>
			<string>cctv2</string>
			<key>link</key>
			<string>http://tv.cctv.com/live/cctv2/</string>
			<key>http</key>
			<string>http://tv.cctv.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CCTV 3</string>
			<key>logo</key>
			<string>cctv3</string>
			<key>link</key>
			<string>http://tv.cctv.com/live/cctv3/</string>
			<key>http</key>
			<string>http://tv.cctv.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CCTV 4</string>
			<key>logo</key>
			<string>cctv4</string>
			<key>link</key>
			<string>http://tv.cctv.com/live/cctv4/</string>
			<key>http</key>
			<string>http://tv.cctv.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CCTV Europe</string>
			<key>logo</key>
			<string>cctveu</string>
			<key>link</key>
			<string>http://tv.cctv.com/live/cctveurope/</string>
			<key>http</key>
			<string>http://tv.cctv.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CCTV America</string>
			<key>logo</key>
			<string>cctvam</string>
			<key>link</key>
			<string>http://tv.cctv.com/live/cctvamerica/</string>
			<key>http</key>
			<string>http://tv.cctv.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CCTV 5</string>
			<key>logo</key>
			<string>cctv5</string>
			<key>link</key>
			<string>http://tv.cctv.com/live/cctv5/sd/</string>
			<key>http</key>
			<string>http://tv.cctv.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CCTV 5+</string>
			<key>logo</key>
			<string>cctv5+</string>
			<key>link</key>
			<string>http://tv.cctv.com/live/cctv5plus/sd/index.shtml</string>
			<key>http</key>
			<string>http://tv.cctv.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CCTV 6</string>
			<key>logo</key>
			<string>cctv6</string>
			<key>link</key>
			<string>http://tv.cctv.com/live/cctv6/sd/index.shtml</string>
			<key>http</key>
			<string>http://tv.cctv.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CCTV 7</string>
			<key>logo</key>
			<string>cctv7</string>
			<key>link</key>
			<string>http://tv.cctv.com/live/cctv7/sd/index.shtml</string>
			<key>http</key>
			<string>http://tv.cctv.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CCTV 8</string>
			<key>logo</key>
			<string>cctv8</string>
			<key>link</key>
			<string>http://tv.cctv.com/live/cctv8/sd/index.shtml</string>
			<key>http</key>
			<string>http://tv.cctv.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CCTV jilu</string>
			<key>logo</key>
			<string>cctvj</string>
			<key>link</key>
			<string>http://tv.cctv.com/live/cctvjilu/sd/index.shtml</string>
			<key>http</key>
			<string>http://tv.cctv.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CCTV 11</string>
			<key>logo</key>
			<string>cctv11</string>
			<key>link</key>
			<string>http://tv.cctv.com/live/cctv11/sd/index.shtml</string>
			<key>http</key>
			<string>http://tv.cctv.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CCTV 12</string>
			<key>logo</key>
			<string>cctv12</string>
			<key>link</key>
			<string>http://tv.cctv.com/live/cctv12/sd/index.shtml</string>
			<key>http</key>
			<string>http://tv.cctv.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CCTV Child</string>
			<key>logo</key>
			<string>cctvchild</string>
			<key>link</key>
			<string>http://tv.cctv.com/live/cctvchild/sd/index.shtml</string>
			<key>http</key>
			<string>http://tv.cctv.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CCTV 15</string>
			<key>logo</key>
			<string>cctv15</string>
			<key>link</key>
			<string>http://tv.cctv.com/live/cctv15/sd/index.shtml</string>
			<key>http</key>
			<string>http://tv.cctv.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CNC World</string>
			<key>logo</key>
			<string>CNC</string>
			<key>link</key>
			<string>http://en.cncnews.cn/Live/</string>
			<key>http</key>
			<string>http://en.cncnews.cn/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CNC 中文版</string>
			<key>logo</key>
			<string>CNC1</string>
			<key>link</key>
			<string>http://live.cncnews.cn/?t=0</string>
			<key>http</key>
			<string>http://www.cncnews.cn/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CNC 英文版</string>
			<key>logo</key>
			<string>CNC2</string>
			<key>link</key>
			<string>http://live.cncnews.cn/?t=1</string>
			<key>http</key>
			<string>http://www.cncnews.cn/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bloomberg Asia</string>
			<key>logo</key>
			<string>bloomberg</string>
			<key>link</key>
			<string>http://www.bloomberg.com/live/asia</string>
			<key>http</key>
			<string>http://www.bloomberg.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TDM - TELEDIFUSAO DE MACAU</string>
			<key>logo</key>
			<string>tdm</string>
			<key>link</key>
			<string>http://www.tdm.com.mo/c_broadcast/</string>
			<key>http</key>
			<string>http://www.tdm.com.mo/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MASTV</string>
			<key>logo</key>
			<string>MASTV</string>
			<key>link</key>
			<string>http://www.imastv.com/live/</string>
			<key>http</key>
			<string>http://www.imastv.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>LOTUS MACAU</string>
			<key>logo</key>
			<string>lotus</string>
			<key>link</key>
			<string>http://www.lotusbtv.com/</string>
			<key>http</key>
			<string>http://www.lotusbtv.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CCTV-13 央视 新闻频道</string>
			<key>logo</key>
			<string>cctv13</string>
			<key>link</key>
			<string>http://www.gstv.com.cn/folder3/folder22/folder391/</string>
			<key>http</key>
			<string>http://www.gstv.com.cn/</string>
		</dict>
	</array>
</dict>
</plist>
