<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>HNXTTV Public&amp;City 公共都市频道</string>
		<key>logo</key>
		<string>hnxttv3</string>
		<key>link</key>
		<string>http://app.hnxttv.com/soms4/web/jwzt/player/live_program_list/live_program_list.jsp?channel_id=303</string>
		<key>http</key>
		<string>http://hnxttv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>HNXTTV Economy 经济频道</string>
		<key>logo</key>
		<string>hnxttv4</string>
		<key>link</key>
		<string>http://app.hnxttv.com/soms4/web/jwzt/player/live_program_list/live_program_list.jsp?channel_id=302</string>
		<key>http</key>
		<string>http://hnxttv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>HNXTTV Law 法制频道</string>
		<key>logo</key>
		<string>hnxttv5</string>
		<key>link</key>
		<string>http://app.hnxttv.com/soms4/web/jwzt/player/live_program_list/live_program_list.jsp?channel_id=305</string>
		<key>http</key>
		<string>http://hnxttv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>JSTV 江苏电视台</string>
		<key>logo</key>
		<string>jstv</string>
		<key>link</key>
		<string>http://live.jstv.com/</string>
		<key>http</key>
		<string>http://jstv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nanjing Education&amp;Sci-Tech 教科频道</string>
		<key>logo</key>
		<string>nbs2</string>
		<key>link</key>
		<string>http://www.nbs.cn/live/2/</string>
		<key>http</key>
		<string>http://www.nbs.cn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CZTV News&amp;General 新闻综合</string>
		<key>logo</key>
		<string>cztv3</string>
		<key>link</key>
		<string>http://www.cztv.tv/itv/</string>
		<key>http</key>
		<string>http://www.cztv.tv/itv/folder32/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CZTV Lifestyle 生活频道</string>
		<key>logo</key>
		<string>cztv5</string>
		<key>link</key>
		<string>http://www.cztv.tv/itv/folder34/</string>
		<key>http</key>
		<string>http://www.cztv.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>XZGD Public 公共频道</string>
		<key>logo</key>
		<string>xzgd4</string>
		<key>link</key>
		<string>http://www.huaihai.tv/wltv/live/xzzg/</string>
		<key>http</key>
		<string>http://www.huaihai.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Zhangjiagang Lifestyle 民生频道</string>
		<key>logo</key>
		<string>ZJGTV2</string>
		<key>link</key>
		<string>http://www.zjgonline.com.cn/video/zb/index.html?id=11</string>
		<key>http</key>
		<string>http://www.zjgonline.com.cn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Jiangxi 5 Public 公共频道</string>
		<key>logo</key>
		<string>jxntv5</string>
		<key>link</key>
		<string>http://www.jxntv.cn/live/jxtv5.shtml</string>
		<key>http</key>
		<string>http://www.jxntv.cn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Jiangxi 7 少儿家庭频道</string>
		<key>logo</key>
		<string>jxntv7</string>
		<key>link</key>
		<string>http://www.jxntv.cn/live/jxtv7.shtml</string>
		<key>http</key>
		<string>http://www.jxntv.cn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Wenzhou News&amp;General 新闻综合频道</string>
		<key>logo</key>
		<string>WZTV1</string>
		<key>link</key>
		<string>http://tv.dhtv.cn/?channel=news</string>
		<key>http</key>
		<string>http://tv.dhtv.cn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Wenzhou City&amp;Lifestyle 都市生活</string>
		<key>logo</key>
		<string>WZTV3</string>
		<key>link</key>
		<string>http://tv.dhtv.cn/?channel=citylife</string>
		<key>http</key>
		<string>http://tv.dhtv.cn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Wenzhou Public 公共民生频道</string>
		<key>logo</key>
		<string>WZTV4</string>
		<key>link</key>
		<string>http://tv.dhtv.cn/?channel=peoples</string>
		<key>http</key>
		<string>http://tv.dhtv.cn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sichuan SCTV-1 四川卫视</string>
		<key>logo</key>
		<string>sctv1</string>
		<key>link</key>
		<string>http://www.sctv.cn/live/SCTV1/</string>
		<key>http</key>
		<string>http://www.sctv.cn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nanchong Public 公共频道</string>
		<key>logo</key>
		<string>ncntv2</string>
		<key>link</key>
		<string>http://www.ncntv.com.cn/live/index.shtml?id=2</string>
		<key>http</key>
		<string>http://www.ncntv.com.cn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nanchong Science&amp;Education 科教频道</string>
		<key>logo</key>
		<string>ncntv3</string>
		<key>link</key>
		<string>http://www.ncntv.com.cn/live/index.shtml?id=3</string>
		<key>http</key>
		<string>http://www.ncntv.com.cn/</string>
	</dict>
</array>
</plist>
