<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Euronews Русский</string>
		<key>logo</key>
		<string>Euronews7</string>
		<key>link</key>
		<string>http://ru.euronews.com/live</string>
		<key>http</key>
		<string>http://www.euronews.com/live</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Euronews Українська</string>
		<key>logo</key>
		<string>Euronews8</string>
		<key>link</key>
		<string>http://ua.euronews.com/live</string>
		<key>http</key>
		<string>http://www.euronews.com/live</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Еспресо TV</string>
		<key>logo</key>
		<string>espreso</string>
		<key>link</key>
		<string>http://espreso.tv/stream/</string>
		<key>http</key>
		<string>http://espreso.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>100% NEWS</string>
		<key>logo</key>
		<string>100</string>
		<key>link</key>
		<string>http://www.100news.tv/p/blog-page_7972.html</string>
		<key>http</key>
		<string>http://www.100news.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>112</string>
		<key>logo</key>
		<string>112</string>
		<key>link</key>
		<string>http://ua.112.ua/live</string>
		<key>http</key>
		<string>http://ua.112.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>5</string>
		<key>logo</key>
		<string>5</string>
		<key>link</key>
		<string>http://www.5.ua/live/</string>
		<key>http</key>
		<string>http://www.5.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Громадське</string>
		<key>logo</key>
		<string>gromadske</string>
		<key>link</key>
		<string>http://hromadske.ua/stream</string>
		<key>http</key>
		<string>http://hromadske.ua</string>
	</dict>
	<dict>
		<key>name</key>
		<string>UBR</string>
		<key>logo</key>
		<string>ubr</string>
		<key>link</key>
		<string>http://tv.ubr.ua/</string>
		<key>http</key>
		<string>http://ubr.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>1+1 International</string>
		<key>logo</key>
		<string>1+1</string>
		<key>link</key>
		<string>http://int.1plus1.ua/dyvitsya/archiv/onlayn-translyaciya-284028.html</string>
		<key>http</key>
		<string>http://int.1plus1.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ПЕРШИЙ</string>
		<key>logo</key>
		<string>1</string>
		<key>link</key>
		<string>http://1tv.com.ua/live</string>
		<key>http</key>
		<string>http://1tv.com.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>УКРАЇНА</string>
		<key>logo</key>
		<string>ukr</string>
		<key>link</key>
		<string>http://kanalukraina.tv/online/</string>
		<key>http</key>
		<string>http://kanalukraina.tv/</string>
	</dict>
</array>
</plist>
