<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>Root</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>4314940774</string>
		<key>Back</key>
		<string>5791673972</string>
		<key>Banner</key>
		<string>2838207575</string>
		<key>Alternative</key>
		<string>1</string>
		<key>App</key>
		<string>1252969110</string>
		<key>Dev</key>
		<string>1239592099</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<integer>2</integer>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Euronews Русский</string>
			<key>logo</key>
			<string>Euronews7</string>
			<key>link</key>
			<string>http://ru.euronews.com/live</string>
			<key>http</key>
			<string>http://www.euronews.com/live</string>
		</dict>
		<dict>
			<key>name</key>
			<string>БЕЛАРУСЬ 1</string>
			<key>logo</key>
			<string>belarus1</string>
			<key>link</key>
			<string>http://www.tvr.by/televidenie/belarus-1/</string>
			<key>http</key>
			<string>http://www.tvr.by/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Euronews Українська</string>
			<key>logo</key>
			<string>Euronews8</string>
			<key>link</key>
			<string>http://ua.euronews.com/live</string>
			<key>http</key>
			<string>http://www.euronews.com/live</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ПЕРШИЙ</string>
			<key>logo</key>
			<string>1</string>
			<key>link</key>
			<string>http://1tv.com.ua/live</string>
			<key>http</key>
			<string>http://1tv.com.ua/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>БЕЛАРУСЬ 24</string>
			<key>logo</key>
			<string>belarus24</string>
			<key>link</key>
			<string>http://belarus24.by/</string>
			<key>http</key>
			<string>http://www.tvr.by/televidenie/belarus-24/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>БЕЛАРУСЬ 2</string>
			<key>logo</key>
			<string>belarus2</string>
			<key>link</key>
			<string>http://www.tvr.by/televidenie/belarus-2/</string>
			<key>http</key>
			<string>http://www.tvr.by/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>БЕЛАРУСЬ 3</string>
			<key>logo</key>
			<string>belarus3</string>
			<key>link</key>
			<string>http://www.3belarus.by/online</string>
			<key>http</key>
			<string>http://www.tvr.by/televidenie/belarus-3/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>БЕЛАРУСЬ 5</string>
			<key>logo</key>
			<string>belarus5</string>
			<key>link</key>
			<string>http://www.tvr.by/televidenie/belarus-5/</string>
			<key>http</key>
			<string>http://www.tvr.by/</string>
		</dict>
	</array>
</dict>
</plist>
