<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Euronews Русский</string>
		<key>logo</key>
		<string>Euronews7</string>
		<key>link</key>
		<string>http://ru.euronews.com/live</string>
		<key>http</key>
		<string>http://www.euronews.com/live</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Қазақстан</string>
		<key>logo</key>
		<string>kaztrk</string>
		<key>link</key>
		<string>http://kaztv.kaztrk.kz/kz/live/</string>
		<key>http</key>
		<string>http://kaztv.kaztrk.kz/kz/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>БЕЛАРУСЬ 1</string>
		<key>logo</key>
		<string>belarus1</string>
		<key>link</key>
		<string>http://www.tvr.by/televidenie/belarus-1/</string>
		<key>http</key>
		<string>http://www.tvr.by/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Euronews Українська</string>
		<key>logo</key>
		<string>Euronews8</string>
		<key>link</key>
		<string>http://ua.euronews.com/live</string>
		<key>http</key>
		<string>http://www.euronews.com/live</string>
	</dict>
	<dict>
		<key>name</key>
		<string>KTK</string>
		<key>logo</key>
		<string>ktk</string>
		<key>link</key>
		<string>http://www.ktk.kz/ru/live</string>
		<key>http</key>
		<string>http://www.ktk.kz/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Первый в Казахстане</string>
		<key>logo</key>
		<string>kaz</string>
		<key>link</key>
		<string>https://1tv.kz/?page_id=38</string>
		<key>http</key>
		<string>https://1tv.kz/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Астана TV</string>
		<key>logo</key>
		<string>astana</string>
		<key>link</key>
		<string>http://www.astanatv.kz/p/Online.html</string>
		<key>http</key>
		<string>http://www.astanatv.kz/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>KAZSPORT</string>
		<key>logo</key>
		<string>kazsport</string>
		<key>link</key>
		<string>http://kazsport.kaztrk.kz/online</string>
		<key>http</key>
		<string>http://kazsport.kaztrk.kz/kz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Балапан</string>
		<key>logo</key>
		<string>balapan</string>
		<key>link</key>
		<string>http://balapan.kaztrk.kz/kz/online</string>
		<key>http</key>
		<string>http://balapan.kaztrk.kz/kz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>KAZAKH</string>
		<key>logo</key>
		<string>KAZAKH</string>
		<key>link</key>
		<string>http://kazakh-tv.kz/kz/category/live_now</string>
		<key>http</key>
		<string>http://kazakh-tv.kz/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>24 kz</string>
		<key>logo</key>
		<string>kz24</string>
		<key>link</key>
		<string>http://24.kz/kz/live-24-kz</string>
		<key>http</key>
		<string>http://24.kz/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Хабар ТВ</string>
		<key>logo</key>
		<string>khabar</string>
		<key>link</key>
		<string>http://khabar.kz/kz/ba-darlama/onlajn-k-rsetilim</string>
		<key>http</key>
		<string>http://khabar.kz/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>7 Channel</string>
		<key>logo</key>
		<string>7</string>
		<key>link</key>
		<string>http://tv7.kz/kz/online/</string>
		<key>http</key>
		<string>http://tv7.kz/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Știrile Pro TV News</string>
		<key>logo</key>
		<string>Stirile</string>
		<key>link</key>
		<string>http://stirileprotv.ro/protvnews/</string>
		<key>http</key>
		<string>http://stirileprotv.ro</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TRM</string>
		<key>logo</key>
		<string>TRM</string>
		<key>link</key>
		<string>http://www.trm.md/ro/tv-on-line/</string>
		<key>http</key>
		<string>http://www.trm.md</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Publika</string>
		<key>logo</key>
		<string>Publika</string>
		<key>link</key>
		<string>http://www.publika.md/live</string>
		<key>http</key>
		<string>http://www.publika.md</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Pro TV Chişinău</string>
		<key>logo</key>
		<string>Pro</string>
		<key>link</key>
		<string>http://protv.md/protv-live.html</string>
		<key>http</key>
		<string>http://protv.md</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Realitatea</string>
		<key>logo</key>
		<string>Realitatea</string>
		<key>link</key>
		<string>http://www.realitatea.md/tv</string>
		<key>http</key>
		<string>http://www.realitatea.md</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TVR Moldova</string>
		<key>logo</key>
		<string>Moldova</string>
		<key>link</key>
		<string>http://www.tvrplus.ro/live-tvr-moldova</string>
		<key>http</key>
		<string>http://www.tvrplus.ro</string>
	</dict>
	<dict>
		<key>name</key>
		<string>100% NEWS</string>
		<key>logo</key>
		<string>100</string>
		<key>link</key>
		<string>http://www.100news.tv/p/blog-page_7972.html</string>
		<key>http</key>
		<string>http://www.100news.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>112</string>
		<key>logo</key>
		<string>112</string>
		<key>link</key>
		<string>http://ua.112.ua/live</string>
		<key>http</key>
		<string>http://ua.112.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>5</string>
		<key>logo</key>
		<string>5</string>
		<key>link</key>
		<string>http://www.5.ua/live/</string>
		<key>http</key>
		<string>http://www.5.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Громадське</string>
		<key>logo</key>
		<string>gromadske</string>
		<key>link</key>
		<string>http://hromadske.ua/stream</string>
		<key>http</key>
		<string>http://hromadske.ua</string>
	</dict>
	<dict>
		<key>name</key>
		<string>UBR</string>
		<key>logo</key>
		<string>ubr</string>
		<key>link</key>
		<string>http://tv.ubr.ua/</string>
		<key>http</key>
		<string>http://ubr.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>1+1 International</string>
		<key>logo</key>
		<string>1+1</string>
		<key>link</key>
		<string>http://int.1plus1.ua/dyvitsya/archiv/onlayn-translyaciya-284028.html</string>
		<key>http</key>
		<string>http://int.1plus1.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ПЕРШИЙ</string>
		<key>logo</key>
		<string>1</string>
		<key>link</key>
		<string>http://1tv.com.ua/live</string>
		<key>http</key>
		<string>http://1tv.com.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>УКРАЇНА</string>
		<key>logo</key>
		<string>ukr</string>
		<key>link</key>
		<string>http://kanalukraina.tv/online/</string>
		<key>http</key>
		<string>http://kanalukraina.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>АНТ - Общенациональное телевидение</string>
		<key>logo</key>
		<string>ont</string>
		<key>link</key>
		<string>http://online.ont.by/</string>
		<key>http</key>
		<string>http://ont.by/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>БЕЛАРУСЬ 24</string>
		<key>logo</key>
		<string>belarus24</string>
		<key>link</key>
		<string>http://belarus24.by/</string>
		<key>http</key>
		<string>http://www.tvr.by/televidenie/belarus-24/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>БЕЛАРУСЬ 2</string>
		<key>logo</key>
		<string>belarus2</string>
		<key>link</key>
		<string>http://www.tvr.by/televidenie/belarus-2/</string>
		<key>http</key>
		<string>http://www.tvr.by/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>БЕЛАРУСЬ 3</string>
		<key>logo</key>
		<string>belarus3</string>
		<key>link</key>
		<string>http://www.3belarus.by/online</string>
		<key>http</key>
		<string>http://www.tvr.by/televidenie/belarus-3/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>БЕЛАРУСЬ 5</string>
		<key>logo</key>
		<string>belarus5</string>
		<key>link</key>
		<string>http://www.tvr.by/televidenie/belarus-5/</string>
		<key>http</key>
		<string>http://www.tvr.by/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Столичное телевидение</string>
		<key>logo</key>
		<string>ctv</string>
		<key>link</key>
		<string>http://www.ctv.by/online</string>
		<key>http</key>
		<string>http://www.ctv.by/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Белсат</string>
		<key>logo</key>
		<string>belsat</string>
		<key>link</key>
		<string>http://belsat.eu/online/</string>
		<key>http</key>
		<string>https://www.youtube.com/user/ibelsat/videos?view=2&amp;flow=grid&amp;live_view=501</string>
	</dict>
	<dict>
		<key>name</key>
		<string>МИР 24</string>
		<key>logo</key>
		<string>mir</string>
		<key>link</key>
		<string>http://mirtvr.by/</string>
		<key>http</key>
		<string>http://mirtvr.by/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>РБК</string>
		<key>logo</key>
		<string>rbc</string>
		<key>link</key>
		<string>http://tv.rbc.ru/</string>
		<key>http</key>
		<string>http://tv.rbc.ru/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>КРЫМ 1</string>
		<key>logo</key>
		<string>krym1</string>
		<key>link</key>
		<string>http://1tvcrimea.ru/pages/live/1tvcrimea</string>
		<key>http</key>
		<string>http://1tvcrimea.ru/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>КРЫМ 24</string>
		<key>logo</key>
		<string>krym24</string>
		<key>link</key>
		<string>http://1tvcrimea.ru/pages/live/crimea24</string>
		<key>http</key>
		<string>http://1tvcrimea.ru/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>МТВ Столица</string>
		<key>logo</key>
		<string>mtv</string>
		<key>link</key>
		<string>http://www.ustream.tv/embed/18605731?html5ui</string>
		<key>http</key>
		<string>http://mtv-stolica.ru/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ОТР</string>
		<key>logo</key>
		<string>otr</string>
		<key>link</key>
		<string>http://www.otr-online.ru/online/</string>
		<key>http</key>
		<string>http://www.otr-online.ru/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>LIFENEWS</string>
		<key>logo</key>
		<string>LIFENEWS</string>
		<key>link</key>
		<string>http://lifenews.ru/watch-live</string>
		<key>http</key>
		<string>http://lifenews.ru/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RT News</string>
		<key>logo</key>
		<string>RT3</string>
		<key>link</key>
		<string>https://www.rt.com/on-air/embed/</string>
		<key>http</key>
		<string>https://www.rt.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Առաջին ալիք Հ1 Armenia</string>
		<key>logo</key>
		<string>H1</string>
		<key>link</key>
		<string>http://www.1tv.am/hy/</string>
		<key>http</key>
		<string>http://www.1tv.am/en/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Shant Շանթ ՀԸ</string>
		<key>logo</key>
		<string>Shant</string>
		<key>link</key>
		<string>https://www.shanttv.com/en/live.html</string>
		<key>http</key>
		<string>https://www.shanttv.com/ru/live.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Կենտրոն Kentron</string>
		<key>logo</key>
		<string>Kentron</string>
		<key>link</key>
		<string>http://kentron.tv/index.php/am/livestream.html</string>
		<key>http</key>
		<string>http://kentron.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hope Россия</string>
		<key>logo</key>
		<string>Hope7</string>
		<key>link</key>
		<string>http://www.hopetv.org/watch/russia/</string>
		<key>http</key>
		<string>http://www.hopetv.org/watch</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hope Україна</string>
		<key>logo</key>
		<string>Hope8</string>
		<key>link</key>
		<string>http://www.hopetv.org/watch/ukraine/</string>
		<key>http</key>
		<string>http://www.hopetv.org/watch</string>
	</dict>
</array>
</plist>
