<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>6601418375</string>
		<key>Back</key>
		<string>8078151573</string>
		<key>Banner</key>
		<string>5124685171</string>
		<key>Header</key>
		<string>4181837767</string>
		<key>Footer</key>
		<string>2630040809</string>
		<key>Email</key>
		<string>ios.apps.community@gmail.com</string>
		<key>Alternative</key>
		<string>1448596890</string>
		<key>Application</key>
		<string>1366613538</string>
		<key>Developer</key>
		<string>1360678770</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<integer>2</integer>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Canal 1</string>
			<key>logo</key>
			<string>1</string>
			<key>link</key>
			<string>https://canal1.com.co/senal-en-vivo/</string>
			<key>http</key>
			<string>https://canal1.com.co</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NTN 24</string>
			<key>logo</key>
			<string>NTN</string>
			<key>link</key>
			<string>http://www.ntn24.com/envivo</string>
			<key>http</key>
			<string>https://www.youtube.com/user/canalNTN24/videos?flow=grid&amp;view=2&amp;live_view=501</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Institucional</string>
			<key>logo</key>
			<string>Institucional</string>
			<key>link</key>
			<string>https://www.canalinstitucional.tv/envivo</string>
			<key>http</key>
			<string>https://www.canalinstitucional.tv/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CINCO 5</string>
			<key>logo</key>
			<string>CINCO</string>
			<key>link</key>
			<string>https://www.rtvc.gov.co/players/canalcinco/index.html</string>
			<key>http</key>
			<string>https://www.rtvc.gov.co</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CABLE NOTICIAS</string>
			<key>logo</key>
			<string>CABLE</string>
			<key>link</key>
			<string>http://www.cablenoticias.tv/</string>
			<key>http</key>
			<string>http://www.cablenoticias.tv/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>El Tiempo</string>
			<key>logo</key>
			<string>Tiempo</string>
			<key>link</key>
			<string>http://www.eltiempo.com/eltiempo-television</string>
			<key>http</key>
			<string>http://www.eltiempo.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RCN</string>
			<key>logo</key>
			<string>RCN</string>
			<key>link</key>
			<string>https://www.noticiasrcn.com/envivo-noticias</string>
			<key>http</key>
			<string>http://www.canalrcn.com/streamingrcn</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Telepetróleo</string>
			<key>logo</key>
			<string>Telepetroleo</string>
			<key>link</key>
			<string>http://telepetroleo.com/</string>
			<key>http</key>
			<string>http://telepetroleo.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Caracol</string>
			<key>logo</key>
			<string>Caracol</string>
			<key>link</key>
			<string>https://www.caracoltv.com/senal-vivo</string>
			<key>http</key>
			<string>https://www.caracoltv.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mi Gente</string>
			<key>logo</key>
			<string>Gente</string>
			<key>link</key>
			<string>http://181.48.78.54:86/live.html?src=1</string>
			<key>http</key>
			<string>http://migente.fm/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>90 Minutos</string>
			<key>logo</key>
			<string>90</string>
			<key>link</key>
			<string>https://90minutos.co/senal-en-vivo/</string>
			<key>http</key>
			<string>https://90minutos.co</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Life Design</string>
			<key>logo</key>
			<string>Design</string>
			<key>link</key>
			<string>http://www.lifedesigntv.com/wordpress/?page_id=704</string>
			<key>http</key>
			<string>http://www.lifedesigntv.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Telepasto</string>
			<key>logo</key>
			<string>Telepasto</string>
			<key>link</key>
			<string>http://ccomunicaciones.udenar.edu.co/?page_id=550</string>
			<key>http</key>
			<string>http://ccomunicaciones.udenar.edu.co</string>
		</dict>
		<dict>
			<key>name</key>
			<string>SUPERNOTICIAS DEL VALLE</string>
			<key>logo</key>
			<string>VALLE</string>
			<key>link</key>
			<string>http://supernoticiasdelvalle.com/</string>
			<key>http</key>
			<string>http://supernoticiasdelvalle.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cristovisión</string>
			<key>logo</key>
			<string>Cristovision</string>
			<key>link</key>
			<string>http://www.cristovision.tv/</string>
			<key>http</key>
			<string>http://www.cristovision.tv/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CMB</string>
			<key>logo</key>
			<string>CMB</string>
			<key>link</key>
			<string>http://www.cmbcolombia.tv/</string>
			<key>http</key>
			<string>http://www.cmbcolombia.tv/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TeleAmiga</string>
			<key>logo</key>
			<string>TeleAmiga</string>
			<key>link</key>
			<string>http://teleamiga.tv/website/index.php/senal-en-vivo</string>
			<key>http</key>
			<string>http://teleamiga.tv/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Avivamiento ABN</string>
			<key>logo</key>
			<string>ABN</string>
			<key>link</key>
			<string>https://avivamiento.com/avivamiento-tv.php</string>
			<key>http</key>
			<string>https://avivamiento.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Canaan</string>
			<key>logo</key>
			<string>Canaan</string>
			<key>link</key>
			<string>http://livestream.com/accounts/18093467/events/4950564</string>
			<key>http</key>
			<string>http://canaanchannel.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Gracia</string>
			<key>logo</key>
			<string>Gracia</string>
			<key>link</key>
			<string>http://tvgracia.com/Live</string>
			<key>http</key>
			<string>https://www.youtube.com/channel/UCx8LRZYc6HdEmPeah0-dpNw/videos?flow=grid&amp;live_view=501&amp;view=2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TeleFamilia</string>
			<key>logo</key>
			<string>TeleFamilia</string>
			<key>link</key>
			<string>http://www.canaltelefamilia.org/</string>
			<key>http</key>
			<string>http://www.canaltelefamilia.org/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Teleantioquia</string>
			<key>logo</key>
			<string>Teleantioquia</string>
			<key>link</key>
			<string>http://www.teleantioquia.co/en-vivo/</string>
			<key>http</key>
			<string>http://www.teleantioquia.co</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Telemedellin</string>
			<key>logo</key>
			<string>Telemedellin</string>
			<key>link</key>
			<string>https://telemedellin.tv/senal-en-vivo/</string>
			<key>http</key>
			<string>https://telemedellin.tv</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CNC Medellín</string>
			<key>logo</key>
			<string>CNC</string>
			<key>link</key>
			<string>http://canalcncmedellin.com/</string>
			<key>http</key>
			<string>http://canalcncmedellin.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Acuario</string>
			<key>logo</key>
			<string>Acuario</string>
			<key>link</key>
			<string>http://www.canalacuario.com/senal-en-vivo/</string>
			<key>http</key>
			<string>http://www.canalacuario.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Telecaribe HD</string>
			<key>logo</key>
			<string>Telecaribe</string>
			<key>link</key>
			<string>https://streamingtelecaribe.jimdo.com/</string>
			<key>http</key>
			<string>http://www.telecaribe.co/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Telecaribe HD 2</string>
			<key>logo</key>
			<string>HD</string>
			<key>link</key>
			<string>https://streamingtelecaribe.jimdo.com/telecaribe-hd2/</string>
			<key>http</key>
			<string>http://www.telecaribe.co/senalhd2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TR3CE</string>
			<key>logo</key>
			<string>TR3CE</string>
			<key>link</key>
			<string>https://canaltrece.com.co/senal-en-vivo</string>
			<key>http</key>
			<string>https://canaltrece.com.co</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Capital</string>
			<key>logo</key>
			<string>Capital</string>
			<key>link</key>
			<string>http://www.canalcapital.gov.co/content/canal-capital-vivo</string>
			<key>http</key>
			<string>http://www.canalcapital.gov.co/senal-en-vivo</string>
		</dict>
		<dict>
			<key>name</key>
			<string>12 Valledupar</string>
			<key>logo</key>
			<string>12</string>
			<key>link</key>
			<string>http://www.canal12valledupar.com/</string>
			<key>http</key>
			<string>http://www.canal12valledupar.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ntv 104</string>
			<key>logo</key>
			<string>Ntv</string>
			<key>link</key>
			<string>http://www.ntv.com.co/?page_id=1675</string>
			<key>http</key>
			<string>http://www.ntv.com.co</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Campo</string>
			<key>logo</key>
			<string>Campo</string>
			<key>link</key>
			<string>http://www.canalcampotv.com/en-vivo</string>
			<key>http</key>
			<string>http://www.ustream.tv/channel/campotvoficial/pop-out</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Montería</string>
			<key>logo</key>
			<string>Monteria</string>
			<key>link</key>
			<string>http://www.ustream.tv/channel/canal-monteria/pop-out</string>
			<key>http</key>
			<string>http://www.ustream.tv/channel/canal-monteria/pop-out</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CNC Pasto</string>
			<key>logo</key>
			<string>CNC</string>
			<key>link</key>
			<string>http://www.cncpasto.com/</string>
			<key>http</key>
			<string>http://www.cncpasto.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TRO</string>
			<key>logo</key>
			<string>TRO</string>
			<key>link</key>
			<string>http://www.canaltro.com/senal-en-vivo/</string>
			<key>http</key>
			<string>http://www.canaltro.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CNC Pereira</string>
			<key>logo</key>
			<string>Pereira</string>
			<key>link</key>
			<string>http://www.cncregional.tv/es/ipaginas/ver/2/senal_en_vivo/</string>
			<key>http</key>
			<string>http://www.cncregional.tv</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Teleislas</string>
			<key>logo</key>
			<string>Teleislas</string>
			<key>link</key>
			<string>https://www.teleislas.com.co/index.php/inicio</string>
			<key>http</key>
			<string>https://www.teleislas.com.co/index.php/inicio</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Enlace</string>
			<key>logo</key>
			<string>Enlace</string>
			<key>link</key>
			<string>http://www.enlacetelevision.com/vivo</string>
			<key>http</key>
			<string>http://www.enlacetelevision.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Doce</string>
			<key>logo</key>
			<string>Doce</string>
			<key>link</key>
			<string>http://canaldocetv.com/web/senal-en-vivo/</string>
			<key>http</key>
			<string>http://canaldocetv.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>PyC</string>
			<key>logo</key>
			<string>PyC</string>
			<key>link</key>
			<string>https://www.pyctelevision.com/senal-pyc-television/</string>
			<key>http</key>
			<string>http://video.usatelk.com:1935/canal15/canal15/playlist.m3u8</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Telepacífico</string>
			<key>logo</key>
			<string>Telepacifico</string>
			<key>link</key>
			<string>http://www.telepacifico.com/envivo/</string>
			<key>http</key>
			<string>http://www.telepacifico.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CALITV</string>
			<key>logo</key>
			<string>CALITV</string>
			<key>link</key>
			<string>http://www.canalcalitv.com/senal-en-vivo/</string>
			<key>http</key>
			<string>http://www.canalcalitv.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>2</string>
			<key>logo</key>
			<string>2</string>
			<key>link</key>
			<string>http://envivo.canal2.co/</string>
			<key>http</key>
			<string>http://www.canal2.co/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bugavision</string>
			<key>logo</key>
			<string>Bugavision</string>
			<key>link</key>
			<string>https://bugavision.com/live.php</string>
			<key>http</key>
			<string>https://bugavision.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tacho Pistacho</string>
			<key>logo</key>
			<string>Tacho</string>
			<key>link</key>
			<string>http://www.tachopistacho.com/</string>
			<key>http</key>
			<string>http://www.tachopistacho.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>IBEROAMERICANO</string>
			<key>logo</key>
			<string>IBEROAMERICANO</string>
			<key>link</key>
			<string>http://www.ibe.tv/es/canal/iberoamericano/315/En-directo.htm</string>
			<key>http</key>
			<string>http://www.ibe.tv/es/canal/iberoamericano</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tele VID</string>
			<key>logo</key>
			<string>VID</string>
			<key>link</key>
			<string>https://televid.tv/</string>
			<key>http</key>
			<string>https://televid.tv/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>SALSA GORDA</string>
			<key>logo</key>
			<string>GORDA</string>
			<key>link</key>
			<string>https://ssh101-fl.bozztv.com/ssh101/qMUAZEy/index.m3u8</string>
			<key>http</key>
			<string>http://salsagordatelevision.blogspot.com</string>
		</dict>
	</array>
</dict>
</plist>
