<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>SerbiaTV</string>
		<key>Back</key>
		<string>SerbiaTV</string>
		<key>Banner</key>
		<string>5124685171</string>
		<key>Header</key>
		<string>SerbiaTV</string>
		<key>Footer</key>
		<string>SerbiaTV</string>
		<key>Email</key>
		<string>world.app.community@gmail.com</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1</string>
		<key>Developer</key>
		<string>1</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<integer>2</integer>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Canal 1</string>
			<key>logo</key>
			<string>1</string>
			<key>link</key>
			<string>https://canal1.com.co/senal-en-vivo/</string>
			<key>http</key>
			<string>https://canal1.com.co</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CINCO 5</string>
			<key>logo</key>
			<string>CINCO</string>
			<key>link</key>
			<string>https://www.rtvc.gov.co/players/canalcinco/index.html</string>
			<key>http</key>
			<string>https://www.rtvc.gov.co</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Telepetróleo</string>
			<key>logo</key>
			<string>Telepetroleo</string>
			<key>link</key>
			<string>http://telepetroleo.com/</string>
			<key>http</key>
			<string>http://telepetroleo.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Telepasto</string>
			<key>logo</key>
			<string>Telepasto</string>
			<key>link</key>
			<string>http://ccomunicaciones.udenar.edu.co/?page_id=550</string>
			<key>http</key>
			<string>http://ccomunicaciones.udenar.edu.co</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CNC Medellín</string>
			<key>logo</key>
			<string>CNC</string>
			<key>link</key>
			<string>http://canalcncmedellin.com/</string>
			<key>http</key>
			<string>http://canalcncmedellin.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Telecaribe HD</string>
			<key>logo</key>
			<string>Telecaribe</string>
			<key>link</key>
			<string>https://streamingtelecaribe.jimdo.com/</string>
			<key>http</key>
			<string>http://www.telecaribe.co/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Telecaribe HD 2</string>
			<key>logo</key>
			<string>HD</string>
			<key>link</key>
			<string>https://streamingtelecaribe.jimdo.com/telecaribe-hd2/</string>
			<key>http</key>
			<string>http://www.telecaribe.co/senalhd2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CNC Pasto</string>
			<key>logo</key>
			<string>CNC</string>
			<key>link</key>
			<string>http://www.cncpasto.com/</string>
			<key>http</key>
			<string>http://www.cncpasto.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CNC Pereira</string>
			<key>logo</key>
			<string>Pereira</string>
			<key>link</key>
			<string>http://www.cncregional.tv/es/ipaginas/ver/2/senal_en_vivo/</string>
			<key>http</key>
			<string>http://www.cncregional.tv</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Telepacífico</string>
			<key>logo</key>
			<string>Telepacifico</string>
			<key>link</key>
			<string>http://www.telepacifico.com/envivo/</string>
			<key>http</key>
			<string>http://www.telepacifico.com</string>
		</dict>
	</array>
</dict>
</plist>
