<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1</string>
		<key>Back</key>
		<string>1</string>
		<key>Banner</key>
		<string>5998380412</string>
		<key>Header</key>
		<string>1</string>
		<key>Footer</key>
		<string>1</string>
		<key>Email</key>
		<string>world.app.community@gmail.com</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1</string>
		<key>Developer</key>
		<string>1</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>4 RD</string>
			<key>logo</key>
			<string>RD</string>
			<key>link</key>
			<string>http://canal4rd.com/portada/index.php/senal-en-vivo</string>
			<key>http</key>
			<string>http://canal4rd.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Color Visión 9</string>
			<key>logo</key>
			<string>9</string>
			<key>link</key>
			<string>http://www.colorvision.com.do/en-vivo/</string>
			<key>http</key>
			<string>http://www.colorvision.com.do</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Antena 7</string>
			<key>logo</key>
			<string>7</string>
			<key>link</key>
			<string>http://www.antenalatina7.com/envivo</string>
			<key>http</key>
			<string>http://www.antenalatina7.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CDN 37</string>
			<key>logo</key>
			<string>37</string>
			<key>link</key>
			<string>http://www.cdn.com.do/</string>
			<key>http</key>
			<string>http://www.cdn.com.do/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Telemicro 5</string>
			<key>logo</key>
			<string>Telemicro</string>
			<key>link</key>
			<string>http://telemicro.com.do/web/telemicro-en-vivo/</string>
			<key>http</key>
			<string>http://telemicro.com.do</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Digital 15</string>
			<key>logo</key>
			<string>15</string>
			<key>link</key>
			<string>http://telemicro.com.do/web/digital-15-en-vivo/</string>
			<key>http</key>
			<string>http://telemicro.com.do</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Telecentro</string>
			<key>logo</key>
			<string>Telecentro</string>
			<key>link</key>
			<string>http://telemicro.com.do/web/telecentro-en-vivo/</string>
			<key>http</key>
			<string>http://telemicro.com.do</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Telenord 8</string>
			<key>logo</key>
			<string>8</string>
			<key>link</key>
			<string>http://www.telenord.com.do/index.php/canales/canal8</string>
			<key>http</key>
			<string>http://www.telenord.com.do</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Telenord 10</string>
			<key>logo</key>
			<string>10</string>
			<key>link</key>
			<string>http://www.telenord.com.do/index.php/canales/canal10</string>
			<key>http</key>
			<string>http://www.telenord.com.do</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Telenord 12</string>
			<key>logo</key>
			<string>12</string>
			<key>link</key>
			<string>http://www.telenord.com.do/index.php/canales/canal12</string>
			<key>http</key>
			<string>http://www.telenord.com.do</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Telenord 14</string>
			<key>logo</key>
			<string>14</string>
			<key>link</key>
			<string>http://www.telenord.com.do/index.php/canales/canal14</string>
			<key>http</key>
			<string>http://www.telenord.com.do</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Santiago 36</string>
			<key>logo</key>
			<string>36</string>
			<key>link</key>
			<string>http://santiagotv36.com/</string>
			<key>http</key>
			<string>http://santiagotv36.com/</string>
		</dict>
	</array>
</dict>
</plist>
