<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>EstoniaTV</string>
		<key>Back</key>
		<string>EstoniaTV</string>
		<key>Banner</key>
		<string>4270720774</string>
		<key>Header</key>
		<string>EstoniaTV</string>
		<key>Footer</key>
		<string>EstoniaTV</string>
		<key>Email</key>
		<string>world.app.community@gmail.com</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1</string>
		<key>Developer</key>
		<string>1</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<integer>2</integer>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>TC Televisió</string>
			<key>logo</key>
			<string>TC</string>
			<key>link</key>
			<string>http://www.tctelevision.com/en-vivo</string>
			<key>http</key>
			<string>http://www.tctelevision.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>UCSG</string>
			<key>logo</key>
			<string>UCSG</string>
			<key>link</key>
			<string>http://ecuastream.com/medios/video/ucsg/web.php</string>
			<key>http</key>
			<string>http://ucsgrtv.com/television/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Oromar</string>
			<key>logo</key>
			<string>Oromar</string>
			<key>link</key>
			<string>http://oromartv.com/en-vivo/</string>
			<key>http</key>
			<string>http://oromartv.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ecuador</string>
			<key>logo</key>
			<string>Ecuador</string>
			<key>link</key>
			<string>http://www.ecuadortv.ec/</string>
			<key>http</key>
			<string>http://www.ecuadortv.ec/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TeleSUR</string>
			<key>logo</key>
			<string>TeleSUR</string>
			<key>link</key>
			<string>https://www.youtube.com/user/telesurtv/videos?view=2&amp;live_view=501&amp;flow=grid</string>
			<key>http</key>
			<string>https://www.telesurtv.net/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TVC Televicentro</string>
			<key>logo</key>
			<string>Televicentro</string>
			<key>link</key>
			<string>http://www.tvc.com.ec/envivo</string>
			<key>http</key>
			<string>http://www.tvc.com.ec</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RTS Ecuador</string>
			<key>logo</key>
			<string>RTS</string>
			<key>link</key>
			<string>http://www.rts.com.ec/envivo</string>
			<key>http</key>
			<string>http://www.rts.com.ec</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ecotel</string>
			<key>logo</key>
			<string>Ecotel</string>
			<key>link</key>
			<string>http://www.ecotel.tv/</string>
			<key>http</key>
			<string>http://www.ecotel.tv/</string>
		</dict>
	</array>
</dict>
</plist>
