<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>5750451570</string>
		<key>Back</key>
		<string>8703917977</string>
		<key>Banner</key>
		<string>4273718373</string>
		<key>Header</key>
		<string>3564143676</string>
		<key>Footer</key>
		<string>7858611904</string>
		<key>Email</key>
		<string>ios.apps.community@gmail.com</string>
		<key>Alternative</key>
		<string>1452909721</string>
		<key>Application</key>
		<string>1384259866</string>
		<key>Developer</key>
		<string>1360678770</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<integer>2</integer>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>SONO ONDA</string>
			<key>logo</key>
			<string>SONO</string>
			<key>link</key>
			<string>https://inliveserver.com:1936/11512/11512/playlist.m3u8</string>
			<key>http</key>
			<string>http://www.sonoonda.com/index.php/tv-online</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TC Televisió</string>
			<key>logo</key>
			<string>TC</string>
			<key>link</key>
			<string>http://www.tctelevision.com/en-vivo</string>
			<key>http</key>
			<string>http://www.tctelevision.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>UCSG</string>
			<key>logo</key>
			<string>UCSG</string>
			<key>link</key>
			<string>http://ecuastream.com/medios/video/ucsg/web.php</string>
			<key>http</key>
			<string>http://ucsgrtv.com/television/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Oromar</string>
			<key>logo</key>
			<string>Oromar</string>
			<key>link</key>
			<string>http://oromartv.com/en-vivo/</string>
			<key>http</key>
			<string>http://oromartv.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ecuador</string>
			<key>logo</key>
			<string>Ecuador</string>
			<key>link</key>
			<string>http://www.ecuadortv.ec/</string>
			<key>http</key>
			<string>http://www.ecuadortv.ec/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Canela</string>
			<key>logo</key>
			<string>Canela</string>
			<key>link</key>
			<string>http://www.canelatv.com</string>
			<key>http</key>
			<string>http://www.canelatv.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TeleSUR</string>
			<key>logo</key>
			<string>TeleSUR</string>
			<key>link</key>
			<string>https://www.youtube.com/user/telesurtv/videos?view=2&amp;live_view=501&amp;flow=grid</string>
			<key>http</key>
			<string>https://www.telesurtv.net/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TVC Televicentro</string>
			<key>logo</key>
			<string>Televicentro</string>
			<key>link</key>
			<string>http://www.tvc.com.ec/envivo</string>
			<key>http</key>
			<string>http://www.tvc.com.ec</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RTS Ecuador</string>
			<key>logo</key>
			<string>RTS</string>
			<key>link</key>
			<string>http://www.rts.com.ec/envivo</string>
			<key>http</key>
			<string>http://www.rts.com.ec</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Telerama</string>
			<key>logo</key>
			<string>Telerama</string>
			<key>link</key>
			<string>http://www.telerama.ec/</string>
			<key>http</key>
			<string>http://www.telerama.ec/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Unsion</string>
			<key>logo</key>
			<string>Unsion</string>
			<key>link</key>
			<string>http://www.unsion.tv/</string>
			<key>http</key>
			<string>https://www.youtube.com/channel/UCFvrFu2iewUaNaXgGKGEz0Q/videos?view=2&amp;live_view=501&amp;flow=grid</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ecuavisa</string>
			<key>logo</key>
			<string>Ecuavisa</string>
			<key>link</key>
			<string>http://www.ecuavisa.com/noticiero-en-vivo</string>
			<key>http</key>
			<string>http://www.ecuavisa.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>UTV Universitaria</string>
			<key>logo</key>
			<string>UTV</string>
			<key>link</key>
			<string>http://online.utn.edu.ec/online/utvstream.html</string>
			<key>http</key>
			<string>http://www.utn.edu.ec/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ecotel</string>
			<key>logo</key>
			<string>Ecotel</string>
			<key>link</key>
			<string>http://www.ecotel.tv/</string>
			<key>http</key>
			<string>http://www.ecotel.tv/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Manabita</string>
			<key>logo</key>
			<string>Manabita</string>
			<key>link</key>
			<string>http://www.tvmanabita.tv/tvweb/</string>
			<key>http</key>
			<string>http://tvmanabita.tv/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Educa</string>
			<key>logo</key>
			<string>Educa</string>
			<key>link</key>
			<string>http://www.educa.ec/</string>
			<key>http</key>
			<string>http://www.educa.ec/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Asomavisión</string>
			<key>logo</key>
			<string>Asomavision</string>
			<key>link</key>
			<string>http://www.asomavision.com/</string>
			<key>http</key>
			<string>http://www.asomavision.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Teleamazonas</string>
			<key>logo</key>
			<string>Teleamazonas</string>
			<key>link</key>
			<string>http://www.teleamazonas.com/teleamazonas-en-vivo/</string>
			<key>http</key>
			<string>http://www.teleamazonas.com</string>
		</dict>
	</array>
</dict>
</plist>
