<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1</string>
		<key>Back</key>
		<string>1</string>
		<key>Banner</key>
		<string>1</string>
		<key>Header</key>
		<string>1</string>
		<key>Footer</key>
		<string>1</string>
		<key>Email</key>
		<string>1</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1</string>
		<key>Developer</key>
		<string>1</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<integer>2</integer>
		<key>DemoMode</key>
		<string>9</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Nile TC Sport قنوات النيل المتخصصة</string>
			<key>logo</key>
			<string>Nile1</string>
			<key>link</key>
			<string>http://www.niletc.tv/Channel/sport</string>
			<key>http</key>
			<string>http://www.niletc.tv</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nile TC Drama قنوات النيل المتخصصة</string>
			<key>logo</key>
			<string>Nile2</string>
			<key>link</key>
			<string>http://www.niletc.tv/Channel/drama</string>
			<key>http</key>
			<string>http://www.niletc.tv</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nile TC Cinema قنوات النيل المتخصصة</string>
			<key>logo</key>
			<string>Nile3</string>
			<key>link</key>
			<string>http://www.niletc.tv/Channel/cinema</string>
			<key>http</key>
			<string>http://www.niletc.tv</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nile TC Life قنوات النيل المتخصصة</string>
			<key>logo</key>
			<string>Nile4</string>
			<key>link</key>
			<string>http://www.niletc.tv/Channel/life</string>
			<key>http</key>
			<string>http://www.niletc.tv</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nile TC Family قنوات النيل المتخصصة</string>
			<key>logo</key>
			<string>Nile5</string>
			<key>link</key>
			<string>http://www.niletc.tv/Channel/family</string>
			<key>http</key>
			<string>http://www.niletc.tv</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nile TC Culture قنوات النيل المتخصصة</string>
			<key>logo</key>
			<string>Nile6</string>
			<key>link</key>
			<string>http://www.niletc.tv/Channel/culture</string>
			<key>http</key>
			<string>http://www.niletc.tv</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nile TC Comedy قنوات النيل المتخصصة</string>
			<key>logo</key>
			<string>Nile7</string>
			<key>link</key>
			<string>http://www.niletc.tv/Channel/comedy</string>
			<key>http</key>
			<string>http://www.niletc.tv</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nile TC Learning قنوات النيل المتخصصة</string>
			<key>logo</key>
			<string>Nile8</string>
			<key>link</key>
			<string>http://www.niletc.tv/Channel/Learning</string>
			<key>http</key>
			<string>http://www.niletc.tv</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Al Jazeera الجزيرة</string>
			<key>logo</key>
			<string>Jazeera</string>
			<key>link</key>
			<string>http://www.aljazeera.net/broadcastschedule</string>
			<key>http</key>
			<string>https://www.youtube.com/user/aljazeerachannel/videos?live_view=501&amp;flow=grid&amp;view=2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Al Jazeera English الجزيرة الإنجليزية</string>
			<key>logo</key>
			<string>English</string>
			<key>link</key>
			<string>http://www.aljazeera.com/live/</string>
			<key>http</key>
			<string>https://www.youtube.com/user/AlJazeeraEnglish/videos?view=2&amp;live_view=501&amp;flow=grid</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Aljazeera Mubasher (الجزيرة مباشر)</string>
			<key>logo</key>
			<string>Mubasher</string>
			<key>link</key>
			<string>http://mubasher.aljazeera.net/</string>
			<key>http</key>
			<string>https://www.youtube.com/user/aljazeeramubasher/videos?flow=grid&amp;view=2&amp;live_view=501</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Al Arabiya العربية</string>
			<key>logo</key>
			<string>Arabiya</string>
			<key>link</key>
			<string>https://www.alarabiya.net/live-stream.html?cref=navdesk</string>
			<key>http</key>
			<string>https://www.youtube.com/user/AlArabiya/videos?live_view=501&amp;flow=grid&amp;view=2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>الحدث Al Hadath</string>
			<key>logo</key>
			<string>Hadath</string>
			<key>link</key>
			<string>http://www.alhadath.net/live-stream.html?cref=navdesk</string>
			<key>http</key>
			<string>https://www.youtube.com/channel/UCrj5BGAhtWxDfqbza9T9hqA/videos?live_view=501&amp;flow=grid&amp;view=2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sky News Arabia (سكاي نيوز عربية)</string>
			<key>logo</key>
			<string>Sky</string>
			<key>link</key>
			<string>https://www.skynewsarabia.com/web/livestream</string>
			<key>http</key>
			<string>https://www.youtube.com/user/skynewsarabia/videos?flow=grid&amp;view=2&amp;live_view=501</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CNBC Arabia (سي إن بي سي عربية)</string>
			<key>logo</key>
			<string>CNBC</string>
			<key>link</key>
			<string>https://www.cnbcarabia.com/Pages/live</string>
			<key>http</key>
			<string>https://www.cnbcarabia.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC Arabic (بي بي سي عربي)</string>
			<key>logo</key>
			<string>BBC</string>
			<key>link</key>
			<string>http://www.bbc.com/arabic/tvandradio/2013/05/000000_bbcarabic_livetv</string>
			<key>http</key>
			<string>https://www.youtube.com/user/BBCArabicNews/videos?flow=grid&amp;live_view=501&amp;view=2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>التلفزيون العربي Alaraby    </string>
			<key>logo</key>
			<string>Alaraby</string>
			<key>link</key>
			<string>http://alaraby.tv/live/61/alaraby</string>
			<key>http</key>
			<string>http://alaraby.tv</string>
		</dict>
		<dict>
			<key>name</key>
			<string>euronews عــربي</string>
			<key>logo</key>
			<string>euronews</string>
			<key>link</key>
			<string>http://arabic.euronews.com/live</string>
			<key>http</key>
			<string>http://arabic.euronews.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RT Arabic</string>
			<key>logo</key>
			<string>RT</string>
			<key>link</key>
			<string>https://arabic.rt.com/live/</string>
			<key>http</key>
			<string>https://www.youtube.com/user/RTarabic/videos?view=2&amp;live_view=501&amp;flow=grid</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CGTN Arabic سي جي تي أن العربية‎‎</string>
			<key>logo</key>
			<string>CGTN</string>
			<key>link</key>
			<string>https://www.cgtn.com/channel/ar.do</string>
			<key>http</key>
			<string>https://www.cgtn.com</string>
		</dict>
	</array>
</dict>
</plist>
