<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Alfa</string>
		<key>logo</key>
		<string>Alfa</string>
		<key>link</key>
		<string>http://www.permanto.fi/live</string>
		<key>http</key>
		<string>http://www.permanto.fi</string>
	</dict>
	<dict>
		<key>name</key>
		<string>YLE TV1</string>
		<key>logo</key>
		<string>TV1</string>
		<key>link</key>
		<string>http://areena.yle.fi/tv/suorat/yle-tv1</string>
		<key>http</key>
		<string>http://areena.yle.fi/tv/suorat/yle-tv1#autoplay=true</string>
	</dict>
	<dict>
		<key>name</key>
		<string>YLE TV2</string>
		<key>logo</key>
		<string>TV2</string>
		<key>link</key>
		<string>http://areena.yle.fi/tv/suorat/yle-tv2</string>
		<key>http</key>
		<string>http://areena.yle.fi/tv/suorat/yle-tv2#autoplay=true</string>
	</dict>
	<dict>
		<key>name</key>
		<string>YLE Fem</string>
		<key>logo</key>
		<string>Fem</string>
		<key>link</key>
		<string>http://areena.yle.fi/tv/suorat/yle-fem</string>
		<key>http</key>
		<string>http://areena.yle.fi/tv/suorat/yle-fem#autoplay=true</string>
	</dict>
	<dict>
		<key>name</key>
		<string>YLE Teema</string>
		<key>logo</key>
		<string>Teema</string>
		<key>link</key>
		<string>http://areena.yle.fi/tv/suorat/yle-teema</string>
		<key>http</key>
		<string>http://areena.yle.fi/tv/suorat/yle-teema#autoplay=true</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Santa Claus Office</string>
		<key>logo</key>
		<string>Santa</string>
		<key>link</key>
		<string>http://santaclausoffice.com/en/livekamerat/</string>
		<key>http</key>
		<string>http://www.ustream.tv/channel/santaclauslive-outside-cam</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Taivas TV7</string>
		<key>logo</key>
		<string>TV7</string>
		<key>link</key>
		<string>http://www.tv7.fi/netti-tv/</string>
		<key>http</key>
		<string>http://www.tv7.fi/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bloomberg TV Europe</string>
		<key>logo</key>
		<string>bloomberg</string>
		<key>link</key>
		<string>https://www.bloomberg.com/live/europe</string>
		<key>http</key>
		<string>https://www.bloomberg.com/live/us</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Euronews</string>
		<key>logo</key>
		<string>Euronews</string>
		<key>link</key>
		<string>http://de.euronews.com/live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/euronewsfr/videos?live_view=501&amp;flow=grid&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>EbS Europe by Satellite</string>
		<key>logo</key>
		<string>EbS</string>
		<key>link</key>
		<string>http://ec.europa.eu/avservices/ebs/live.cfm?page=1</string>
		<key>http</key>
		<string>http://ec.europa.eu/avservices/ebs/schedule.cfm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sky News</string>
		<key>logo</key>
		<string>Sky</string>
		<key>link</key>
		<string>http://news.sky.com/watch-live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/skynews</string>
	</dict>
</array>
</plist>
