<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Key</key>
	<string>3694130267637407</string>
	<key>Bottom</key>
	<string>6529306773</string>
	<key>Main</key>
	<string>8006039971</string>
	<key>Back</key>
	<string>9482773175</string>
	<key>Channel</key>
	<array>
		<dict>
			<key>name</key>
			<string>weqwer</string>
			<key>logo</key>
			<string>wewer</string>
			<key>link</key>
			<string>we</string>
			<key>http</key>
			<string>ewe</string>
		</dict>
		<dict>
			<key>name</key>
			<string>dfdfg</string>
			<key>logo</key>
			<string>dfg</string>
			<key>link</key>
			<string>dfg</string>
			<key>http</key>
			<string>cvbn</string>
		</dict>
	</array>
</dict>
</plist>
