<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>EbS Europe by Satellite</string>
		<key>logo</key>
		<string>EbS</string>
		<key>link</key>
		<string>http://ec.europa.eu/avservices/ebs/live.cfm?page=1</string>
		<key>http</key>
		<string>http://ec.europa.eu/avservices/ebs/schedule.cfm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Euronews</string>
		<key>logo</key>
		<string>Euronews</string>
		<key>link</key>
		<string>http://de.euronews.com/live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/euronewsfr/videos?live_view=501&amp;flow=grid&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bloomberg TV Europe</string>
		<key>logo</key>
		<string>bloomberg</string>
		<key>link</key>
		<string>https://www.bloomberg.com/live/europe</string>
		<key>http</key>
		<string>https://www.bloomberg.com/live/us</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sky News</string>
		<key>logo</key>
		<string>Sky</string>
		<key>link</key>
		<string>http://news.sky.com/watch-live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/skynews</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Deutsche Welle</string>
		<key>logo</key>
		<string>DW1</string>
		<key>link</key>
		<string>http://www.dw.com/en/media-center/live-tv/s-100825?channel=5</string>
		<key>http</key>
		<string>http://www.dw.com/en/media-center/live-tv/s-100825?channel=4</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Deutsche Welle English</string>
		<key>logo</key>
		<string>DW2</string>
		<key>link</key>
		<string>http://www.dw.com/en/media-center/live-tv/s-100825?channel=1</string>
		<key>http</key>
		<string>http://www.dw.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>n-tv</string>
		<key>logo</key>
		<string>n</string>
		<key>link</key>
		<string>http://www.n-tv.de/mediathek/livestream/</string>
		<key>http</key>
		<string>http://www.n-tv.de</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tagesschau</string>
		<key>logo</key>
		<string>Tagesschau</string>
		<key>link</key>
		<string>http://www.tagesschau.de/multimedia/livestreams/livestream1/index.html</string>
		<key>http</key>
		<string>http://programm.tagesschau24.de/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Das Erste</string>
		<key>logo</key>
		<string>1</string>
		<key>link</key>
		<string>http://www.daserste.de/live/index.html</string>
		<key>http</key>
		<string>http://www.daserste.de/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Arte</string>
		<key>logo</key>
		<string>Arte</string>
		<key>link</key>
		<string>http://www.arte.tv/guide/de/live</string>
		<key>http</key>
		<string>http://www.arte.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Phoenix</string>
		<key>logo</key>
		<string>Phoenix</string>
		<key>link</key>
		<string>http://www.phoenix.de/livestream/</string>
		<key>http</key>
		<string>http://www.phoenix.de/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>3sat</string>
		<key>logo</key>
		<string>3</string>
		<key>link</key>
		<string>http://www.3sat.de/webtv/?live24.rm</string>
		<key>http</key>
		<string>http://www.3sat.de/mediathek/?mode=play&amp;obj=42667</string>
	</dict>
	<dict>
		<key>name</key>
		<string>WDR</string>
		<key>logo</key>
		<string>WDR</string>
		<key>link</key>
		<string>http://www1.wdr.de/mediathek/video/live/index.html</string>
		<key>http</key>
		<string>http://www1.wdr.de</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SR</string>
		<key>logo</key>
		<string>SR</string>
		<key>link</key>
		<string>http://www.sr.de/sr/fernsehen/livestream/</string>
		<key>http</key>
		<string>http://www.sr.de/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RBB24</string>
		<key>logo</key>
		<string>24</string>
		<key>link</key>
		<string>http://mediathek.rbb-online.de/tv/live</string>
		<key>http</key>
		<string>http://mediathek.rbb-online.de/tv/live?kanal=21518358</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NDR</string>
		<key>logo</key>
		<string>NDR</string>
		<key>link</key>
		<string>http://www.ndr.de/fernsehen/livestream/index.html</string>
		<key>http</key>
		<string>http://www.ndr.de/fernsehen/livestream/livestream219.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MDR SACHSEN</string>
		<key>logo</key>
		<string>MDR</string>
		<key>link</key>
		<string>http://www.mdr.de/mediathek/livestreams/fernsehen/index.html</string>
		<key>http</key>
		<string>http://www.mdr.de/tv/index.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>HR hessenschau</string>
		<key>logo</key>
		<string>hessenschau</string>
		<key>link</key>
		<string>http://hessenschau.de/tv-sendung/livestream-fernsehen-100.html</string>
		<key>http</key>
		<string>http://www.hr-online.de/website/fernsehen/sendungen/livestream.jsp</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Der Spiegel</string>
		<key>logo</key>
		<string>Spiegel</string>
		<key>link</key>
		<string>http://www.spiegel.tv/filme/chance-oder-scheitern/</string>
		<key>http</key>
		<string>http://www.spiegel.de/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>BBC Arabic</string>
		<key>logo</key>
		<string>bbc</string>
		<key>link</key>
		<string>http://www.bbc.co.uk/arabic/tvandradio/2013/05/000000_bbcarabic_livetv</string>
		<key>http</key>
		<string>http://www.bbc.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ALEX Berlin</string>
		<key>logo</key>
		<string>ALEX</string>
		<key>link</key>
		<string>http://alex-berlin.de/tv/livestream/popup.html</string>
		<key>http</key>
		<string>http://alex-berlin.de/tv/livestream.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TVB Berlin</string>
		<key>logo</key>
		<string>TVB</string>
		<key>link</key>
		<string>http://tvb.de/livestream/</string>
		<key>http</key>
		<string>http://tvb.de/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DAF Der Aktionar</string>
		<key>logo</key>
		<string>DAF</string>
		<key>link</key>
		<string>http://partner.anleger-fernsehen.de/20/live.php</string>
		<key>http</key>
		<string>http://www.deraktionaer.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ZDF</string>
		<key>logo</key>
		<string>ZDF</string>
		<key>link</key>
		<string>https://www.zdf.de/live-tv</string>
		<key>http</key>
		<string>https://www.zdf.de/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Worldnews</string>
		<key>logo</key>
		<string>Worldnews</string>
		<key>link</key>
		<string>http://www.worldnews-tv.tv.grid-tv.com/</string>
		<key>http</key>
		<string>http://www.germany-tv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Science</string>
		<key>logo</key>
		<string>Science</string>
		<key>link</key>
		<string>http://www.science-hdtv.tv.grid-tv.com/</string>
		<key>http</key>
		<string>http://www.germany-tv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Medizin</string>
		<key>logo</key>
		<string>Medizin</string>
		<key>link</key>
		<string>http://www.medizin-tv.tv.grid-tv.com/</string>
		<key>http</key>
		<string>http://www.germany-tv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Finearts</string>
		<key>logo</key>
		<string>Finearts</string>
		<key>link</key>
		<string>http://www.finearts-hdtv.tv.grid-tv.com/</string>
		<key>http</key>
		<string>http://www.germany-tv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Fly-HDTV</string>
		<key>logo</key>
		<string>Fly</string>
		<key>link</key>
		<string>http://www.fly-hdtv.tv.grid-tv.com/</string>
		<key>http</key>
		<string>http://www.germany-tv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Fashionguide</string>
		<key>logo</key>
		<string>Fashionguide</string>
		<key>link</key>
		<string>http://www.fashionguide-tv.tv.grid-tv.com/</string>
		<key>http</key>
		<string>http://www.germany-tv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Finanz</string>
		<key>logo</key>
		<string>Finanz</string>
		<key>link</key>
		<string>http://www.finanz-tv.tv.grid-tv.com/</string>
		<key>http</key>
		<string>http://www.germany-tv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Time-HDTV</string>
		<key>logo</key>
		<string>Time</string>
		<key>link</key>
		<string>http://www.time-hdtv.tv.grid-tv.com/</string>
		<key>http</key>
		<string>http://www.germany-tv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Immobilien</string>
		<key>logo</key>
		<string>Immobilien</string>
		<key>link</key>
		<string>http://www.immobilien-tv.tv.grid-tv.com/</string>
		<key>http</key>
		<string>http://www.germany-tv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Speaker</string>
		<key>logo</key>
		<string>Speaker</string>
		<key>link</key>
		<string>http://www.speaker-tv.tv.grid-tv.com/</string>
		<key>http</key>
		<string>http://www.germany-tv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Oberland</string>
		<key>logo</key>
		<string>Oberland</string>
		<key>link</key>
		<string>http://www.oberland-tv.germany-tv.com/</string>
		<key>http</key>
		<string>http://www.germany-tv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Commodity</string>
		<key>logo</key>
		<string>Commodity</string>
		<key>link</key>
		<string>http://www.commodity-tv.germany-tv.com/</string>
		<key>http</key>
		<string>http://www.germany-tv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NahidShahalimi</string>
		<key>logo</key>
		<string>NahidShahalimi</string>
		<key>link</key>
		<string>http://www.nahidshahalimi-tv.tv.grid-tv.com/</string>
		<key>http</key>
		<string>http://www.germany-tv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Rohstoff</string>
		<key>logo</key>
		<string>Rohstoff</string>
		<key>link</key>
		<string>http://www.rohstoff-tv.tv.grid-tv.com/</string>
		<key>http</key>
		<string>http://www.germany-tv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Brotzeit</string>
		<key>logo</key>
		<string>Brotzeit</string>
		<key>link</key>
		<string>http://www.brotzeit-tv.stiftungs-tv.tv.grid-tv.com/</string>
		<key>http</key>
		<string>http://www.germany-tv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Wachtel</string>
		<key>logo</key>
		<string>Wachtel</string>
		<key>link</key>
		<string>http://www.wachtel-tv.tv.grid-tv.com/</string>
		<key>http</key>
		<string>http://www.germany-tv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>HorstBeese</string>
		<key>logo</key>
		<string>HorstBeese</string>
		<key>link</key>
		<string>http://www.horstbeese-tv.tv.grid-tv.com/</string>
		<key>http</key>
		<string>http://www.germany-tv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hummel</string>
		<key>logo</key>
		<string>Hummel</string>
		<key>link</key>
		<string>http://www.hummel-tv.tv.grid-tv.com/</string>
		<key>http</key>
		<string>http://www.germany-tv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Seminarhouse</string>
		<key>logo</key>
		<string>Seminarhouse</string>
		<key>link</key>
		<string>http://www.theseminarhouse-tv.germany-tv.com/</string>
		<key>http</key>
		<string>http://www.germany-tv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Emobility</string>
		<key>logo</key>
		<string>Emobility</string>
		<key>link</key>
		<string>http://www.emobility-tv.tv.grid-tv.com/</string>
		<key>http</key>
		<string>http://www.germany-tv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ContemporaryArt</string>
		<key>logo</key>
		<string>ContemporaryArt</string>
		<key>link</key>
		<string>http://www.contemporaryart-tv.tv.grid-tv.com/</string>
		<key>http</key>
		<string>http://www.germany-tv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Rechtsberater</string>
		<key>logo</key>
		<string>Rechtsberater</string>
		<key>link</key>
		<string>http://www.rechtsberater-tv.tv.grid-tv.com/</string>
		<key>http</key>
		<string>http://www.germany-tv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Stiftungs</string>
		<key>logo</key>
		<string>Stiftungs</string>
		<key>link</key>
		<string>http://www.stiftungs-tv.tv.grid-tv.com/</string>
		<key>http</key>
		<string>http://www.germany-tv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Dancesports</string>
		<key>logo</key>
		<string>Dancesports</string>
		<key>link</key>
		<string>http://www.dancesports-tv.tv.grid-tv.com/</string>
		<key>http</key>
		<string>http://www.germany-tv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Heizung</string>
		<key>logo</key>
		<string>Heizung</string>
		<key>link</key>
		<string>http://www.heizung-tv.tv.grid-tv.com/</string>
		<key>http</key>
		<string>http://www.germany-tv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Autosalon-Isartal</string>
		<key>logo</key>
		<string>Isartal</string>
		<key>link</key>
		<string>http://www.autosalon-isartal-tv.tv.grid-tv.com/</string>
		<key>http</key>
		<string>http://www.germany-tv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Aviationschool</string>
		<key>logo</key>
		<string>Aviationschool</string>
		<key>link</key>
		<string>http://www.aviationschool-tv.tv.grid-tv.com/</string>
		<key>http</key>
		<string>http://www.germany-tv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Literatur</string>
		<key>logo</key>
		<string>Literatur</string>
		<key>link</key>
		<string>http://www.literatur-tv.tv.grid-tv.com/</string>
		<key>http</key>
		<string>http://www.germany-tv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RiC</string>
		<key>logo</key>
		<string>RiC</string>
		<key>link</key>
		<string>http://www.rictv.de/</string>
		<key>http</key>
		<string>http://www.hd-livestream.de/ric_iframe_deutsch.aspx</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DCTP</string>
		<key>logo</key>
		<string>DCTP</string>
		<key>link</key>
		<string>http://www.dctp.tv/livestream/</string>
		<key>http</key>
		<string>http://www.dctp.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SFE Souvenirs From Earth</string>
		<key>logo</key>
		<string>SFE</string>
		<key>link</key>
		<string>http://sfe.tv/</string>
		<key>http</key>
		<string>http://sfe.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nice TV</string>
		<key>logo</key>
		<string>Nice</string>
		<key>link</key>
		<string>https://playout.3qsdn.com/6092bb9e-8f72-11e4-a173-002590c750be</string>
		<key>http</key>
		<string>http://nicetv.de/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TecTime</string>
		<key>logo</key>
		<string>TecTime</string>
		<key>link</key>
		<string>http://www.tectime.tv/</string>
		<key>http</key>
		<string>http://www.tectime.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nrwision</string>
		<key>logo</key>
		<string>Nrwision</string>
		<key>link</key>
		<string>https://www.nrwision.de/programm/livestream.html</string>
		<key>http</key>
		<string>https://www.nrwision.de/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bundestag</string>
		<key>logo</key>
		<string>Bundestag</string>
		<key>link</key>
		<string>http://www.bundestag.de/mediathek</string>
		<key>http</key>
		<string>http://www.bundestag.de/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kanal Avrupa</string>
		<key>logo</key>
		<string>Avrupa</string>
		<key>link</key>
		<string>http://www.kanalavrupa.tv/live/</string>
		<key>http</key>
		<string>http://www.kanalavrupa.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Dugun</string>
		<key>logo</key>
		<string>Dugun</string>
		<key>link</key>
		<string>http://www.dugun.tv/</string>
		<key>http</key>
		<string>http://www.dugun.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Cira</string>
		<key>logo</key>
		<string>Cira</string>
		<key>link</key>
		<string>http://cira.tv/</string>
		<key>http</key>
		<string>http://cira.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Noviy Mir</string>
		<key>logo</key>
		<string>Mir</string>
		<key>link</key>
		<string>http://n-w.tv/</string>
		<key>http</key>
		<string>http://n-w.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>HSE24</string>
		<key>logo</key>
		<string>HSE1</string>
		<key>link</key>
		<string>http://www.hse24.de/Thema/Tvwelt/Startseite.html</string>
		<key>http</key>
		<string>http://www.hse24.de/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>HSE24 EXTRA</string>
		<key>logo</key>
		<string>HSE2</string>
		<key>link</key>
		<string>http://www.hse24.de/Thema/Tvwelt/Tvextra.html</string>
		<key>http</key>
		<string>http://www.hse24.de/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>HSE24 TREND</string>
		<key>logo</key>
		<string>HSE3</string>
		<key>link</key>
		<string>http://www.hse24.de/Thema/Tvwelt/Tvtrend.html</string>
		<key>http</key>
		<string>http://www.hse24.de/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Channel 21</string>
		<key>logo</key>
		<string>21</string>
		<key>link</key>
		<string>https://www.channel21.de/live</string>
		<key>http</key>
		<string>https://www.channel21.de</string>
	</dict>
	<dict>
		<key>name</key>
		<string>QVC</string>
		<key>logo</key>
		<string>QVC</string>
		<key>link</key>
		<string>http://www.qvc.de/QVCLiveTV.content.html?langId=-3&amp;storeId=10253&amp;catalogId=10153&amp;sc=LIVE</string>
		<key>http</key>
		<string>http://www.qvc.de</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Pearl</string>
		<key>logo</key>
		<string>Pearl</string>
		<key>link</key>
		<string>http://www.pearl.de/tv/</string>
		<key>http</key>
		<string>http://www.pearl.de/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sonnenklar.TV</string>
		<key>logo</key>
		<string>Sonnenklar</string>
		<key>link</key>
		<string>http://www.sonnenklar.tv/live-angebote.html</string>
		<key>http</key>
		<string>http://www.sonnenklar.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mediaspar</string>
		<key>logo</key>
		<string>Mediaspar</string>
		<key>link</key>
		<string>http://livestream.mediaspar.tv/</string>
		<key>http</key>
		<string>http://www.mediaspar.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Juwelo</string>
		<key>logo</key>
		<string>Juwelo</string>
		<key>link</key>
		<string>http://www.juwelo.de/live-auktion/</string>
		<key>http</key>
		<string>http://www.juwelo.it/acquisto-in-diretta/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>1-2-3</string>
		<key>logo</key>
		<string>123</string>
		<key>link</key>
		<string>https://www.1-2-3.tv/tv-auktion/</string>
		<key>http</key>
		<string>https://www.1-2-3.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Shop24Direct</string>
		<key>logo</key>
		<string>Shop24Direct</string>
		<key>link</key>
		<string>https://www.shop24direct.de/live-tv</string>
		<key>http</key>
		<string>https://www.shop24direct.de</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sparhandy</string>
		<key>logo</key>
		<string>Sparhandy</string>
		<key>link</key>
		<string>http://www.sparhandy.tv/</string>
		<key>http</key>
		<string>http://www.sparhandy.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>K-TV</string>
		<key>logo</key>
		<string>K-TV</string>
		<key>link</key>
		<string>http://www3.k-tv.org/live-stream/hohe-qualit%C3%A4t</string>
		<key>http</key>
		<string>http://www3.k-tv.org/live-stream</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ERF</string>
		<key>logo</key>
		<string>ERF</string>
		<key>link</key>
		<string>https://www.erf.de/fernsehen/livestream/4072?reset=1</string>
		<key>http</key>
		<string>https://www.erf.de/fernsehen/4049</string>
	</dict>
	<dict>
		<key>name</key>
		<string>EWTN</string>
		<key>logo</key>
		<string>EWTN</string>
		<key>link</key>
		<string>http://www.ewtn.de/streaming/player.php</string>
		<key>http</key>
		<string>http://www.ewtn.de/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Light Channel</string>
		<key>logo</key>
		<string>Light</string>
		<key>link</key>
		<string>http://www.lightchanneltv.de/tv/index</string>
		<key>http</key>
		<string>http://www.lightchanneltv.de/tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hope</string>
		<key>logo</key>
		<string>Hope</string>
		<key>link</key>
		<string>http://www.hopechannel.de/tv/live/</string>
		<key>http</key>
		<string>http://www.hopechannel.de/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bibel</string>
		<key>logo</key>
		<string>Bibel1</string>
		<key>link</key>
		<string>http://www.bibeltv.de/livestreams/bibeltv/</string>
		<key>http</key>
		<string>http://www.bibeltv.de/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bibel Impuls</string>
		<key>logo</key>
		<string>Bibel2</string>
		<key>link</key>
		<string>http://www.bibeltv.de/livestreams/impuls/</string>
		<key>http</key>
		<string>http://www.bibeltv.de/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bibel Musik</string>
		<key>logo</key>
		<string>Bibel3</string>
		<key>link</key>
		<string>http://www.bibeltv.de/livestreams/musik/</string>
		<key>http</key>
		<string>http://www.bibeltv.de/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Wesal Wiv</string>
		<key>logo</key>
		<string>Wiv</string>
		<key>link</key>
		<string>http://www.wiv-online.tv/</string>
		<key>http</key>
		<string>http://www.wiv-online.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Astro TV</string>
		<key>logo</key>
		<string>Astro</string>
		<key>link</key>
		<string>http://www.astrotv.de/</string>
		<key>http</key>
		<string>http://www.astrotv.de/tv-programm/astrotv-live</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Baden TV</string>
		<key>logo</key>
		<string>Baden</string>
		<key>link</key>
		<string>http://www.baden-tv.com/livestream-baden-tv/</string>
		<key>http</key>
		<string>http://www.baden-tv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>L-TV Landesfernsehen</string>
		<key>logo</key>
		<string>L-TV</string>
		<key>link</key>
		<string>http://l-tv-live.de/</string>
		<key>http</key>
		<string>http://l-tv.de/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RNF Rhein-Neckar Fernsehen</string>
		<key>logo</key>
		<string>RNF</string>
		<key>link</key>
		<string>http://www.rnf.de/mediathek/video/rnf-livestream/</string>
		<key>http</key>
		<string>http://www.rnf.de/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Landtag BW</string>
		<key>logo</key>
		<string>BW</string>
		<key>link</key>
		<string>http://www.landtag-bw.de/home/mediathek/landtag-live.html</string>
		<key>http</key>
		<string>https://www.verbavoice.net/webplayer/lt_bw/Main.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Oberpfalz TV</string>
		<key>logo</key>
		<string>Oberpfalz</string>
		<key>link</key>
		<string>https://www.otv.de/mediathek/video/livestream/</string>
		<key>http</key>
		<string>https://www.otv.de/mediathek/kategorie/livestream/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>a.tv Augsburg</string>
		<key>logo</key>
		<string>a</string>
		<key>link</key>
		<string>http://www.augsburg.tv/</string>
		<key>http</key>
		<string>http://www.augsburg.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Donau TV</string>
		<key>logo</key>
		<string>Donau</string>
		<key>link</key>
		<string>http://www.donautv.com/livestream/</string>
		<key>http</key>
		<string>http://www.donautv.com/mediathek/video/donau-tv-livestream-2/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TVO Oberfranken</string>
		<key>logo</key>
		<string>TVO</string>
		<key>link</key>
		<string>https://www.tvo.de/mediathek/video/livestream/</string>
		<key>http</key>
		<string>https://www.tvo.de/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>intv Ingolstadt</string>
		<key>logo</key>
		<string>intv</string>
		<key>link</key>
		<string>https://www.intv.de/mediathek/video/livestream/</string>
		<key>http</key>
		<string>https://www.intv.de/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Isar TV</string>
		<key>logo</key>
		<string>Isar</string>
		<key>link</key>
		<string>http://www.isar-tv.com/mediathek/videolivestream/isar-tv-livestream/</string>
		<key>http</key>
		<string>http://www.isar-tv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>München</string>
		<key>logo</key>
		<string>Munchen</string>
		<key>link</key>
		<string>https://www.muenchen.tv/livestream/</string>
		<key>http</key>
		<string>https://www.muenchen.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Event.TV</string>
		<key>logo</key>
		<string>Event</string>
		<key>link</key>
		<string>http://www.event-tv.eu/</string>
		<key>http</key>
		<string>http://www.event-tv.eu/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Franken Fernsehen</string>
		<key>logo</key>
		<string>Franken</string>
		<key>link</key>
		<string>https://www.frankenfernsehen.tv/mediathek/videolivestream/livestream/</string>
		<key>http</key>
		<string>https://www.frankenfernsehen.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TRP1 Tele Regional Passau</string>
		<key>logo</key>
		<string>TRP1</string>
		<key>link</key>
		<string>http://www.trp1.de/livestream/</string>
		<key>http</key>
		<string>http://www.trp1.de/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TVA TVAktuell</string>
		<key>logo</key>
		<string>TVA</string>
		<key>link</key>
		<string>https://www.tvaktuell.com/mediathek/kategorie/livestream/</string>
		<key>http</key>
		<string>https://www.tvaktuell.com/mediathek/video/livestream/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Touring - Würzburg</string>
		<key>logo</key>
		<string>Wurzburg</string>
		<key>link</key>
		<string>http://www.tvtouring.de/mediathek/video/livestream-wurzburg/</string>
		<key>http</key>
		<string>http://www.tvtouring.de/mediathek/kategorie/livestream/video/livestream-wurzburg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Touring - Schweinfurt</string>
		<key>logo</key>
		<string>Schweinfurt</string>
		<key>link</key>
		<string>http://www.tvtouring.de/mediathek/video/livestream-schweinfurt/</string>
		<key>http</key>
		<string>http://www.tvtouring.de/mediathek/kategorie/livestream/video/livestream-schweinfurt/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ODF</string>
		<key>logo</key>
		<string>ODF</string>
		<key>link</key>
		<string>http://www.odf-tv.de/aktuelle_sendung</string>
		<key>http</key>
		<string>http://www.odf-tv.de</string>
	</dict>
	<dict>
		<key>name</key>
		<string>WMZ</string>
		<key>logo</key>
		<string>WMZ</string>
		<key>link</key>
		<string>http://www.wmz.de/seenland/livestream/</string>
		<key>http</key>
		<string>http://www.wmz.de/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Potsdam</string>
		<key>logo</key>
		<string>Potsdam</string>
		<key>link</key>
		<string>http://www.potsdam.tv/livestream</string>
		<key>http</key>
		<string>http://www.potsdam.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hamburg 1</string>
		<key>logo</key>
		<string>Hamburg</string>
		<key>link</key>
		<string>http://www.hamburg1.de/livestream</string>
		<key>http</key>
		<string>http://www.hamburg1.de</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tide</string>
		<key>logo</key>
		<string>Tide</string>
		<key>link</key>
		<string>http://www.tidenet.de/tv</string>
		<key>http</key>
		<string>http://www.tidenet.de</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Noa4</string>
		<key>logo</key>
		<string>4</string>
		<key>link</key>
		<string>http://www.noa4.de/</string>
		<key>http</key>
		<string>http://www.noa4.de/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Rhein-Main</string>
		<key>logo</key>
		<string>Rhein</string>
		<key>link</key>
		<string>http://www.rheinmaintv.de/livestream/Livestream/1</string>
		<key>http</key>
		<string>http://www.rheinmaintv.de/livestream/Wir-seh039n-uns/1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>EV1</string>
		<key>logo</key>
		<string>EV1</string>
		<key>link</key>
		<string>http://www.ev1.tv/livestream/</string>
		<key>http</key>
		<string>http://www.ev1.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Oldenburg Eins</string>
		<key>logo</key>
		<string>Oldenburg</string>
		<key>link</key>
		<string>http://www.oeins.de/tv/live-stream/</string>
		<key>http</key>
		<string>http://www.oeins.de/tv/webtv-media-player/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>FRF1</string>
		<key>logo</key>
		<string>FRF1</string>
		<key>link</key>
		<string>http://www.friesischer-rundfunk.de/Livestream.asp</string>
		<key>http</key>
		<string>http://www.friesischer-rundfunk.de/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TV38</string>
		<key>logo</key>
		<string>38</string>
		<key>link</key>
		<string>https://www.tv38.de/service/live-stream/</string>
		<key>http</key>
		<string>https://www.tv38.de/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Center.tv Dusseldorf</string>
		<key>logo</key>
		<string>Center</string>
		<key>link</key>
		<string>http://www.centertv.de/live/</string>
		<key>http</key>
		<string>http://www.centertv.de/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>OK4</string>
		<key>logo</key>
		<string>OK4</string>
		<key>link</key>
		<string>http://www.ok4.tv/live/</string>
		<key>http</key>
		<string>http://www.oktv-rlp.de/sehen/livestream/225/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>OK Weinstraße</string>
		<key>logo</key>
		<string>OK</string>
		<key>link</key>
		<string>http://www.ok-weinstrasse.de/sender/web-tv/</string>
		<key>http</key>
		<string>http://www.oktv-rlp.de/sehen/livestream/132/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>OK Südwestpfalz</string>
		<key>logo</key>
		<string>Sudwestpfalz</string>
		<key>link</key>
		<string>http://www.oktv-suedwestpfalz.de/index.php/m-livestream</string>
		<key>http</key>
		<string>http://www.oktv-rlp.de/sehen/livestream/166/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>OK54</string>
		<key>logo</key>
		<string>54</string>
		<key>link</key>
		<string>http://ok54.de/iptv</string>
		<key>http</key>
		<string>http://www.oktv-rlp.de/sehen/livestream/231/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DRF1</string>
		<key>logo</key>
		<string>DRF1</string>
		<key>link</key>
		<string>http://drf-tv.de/drf/livestreams/livestream_drf1/Lifestream_drf1.de.jsp</string>
		<key>http</key>
		<string>http://drf-tv.de/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DRF Mittelrhein</string>
		<key>logo</key>
		<string>DRF</string>
		<key>link</key>
		<string>http://drf-tv.de/drf/livestreams/livestream_tv_mittelrhein/Livestream_tv_mittelrhein.de.jsp</string>
		<key>http</key>
		<string>http://drf-tv.de/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DRF WWTV</string>
		<key>logo</key>
		<string>WWTV</string>
		<key>link</key>
		<string>http://drf-tv.de/drf/livestreams/livestream_ww_tv/livestream_wwtv.de.jsp</string>
		<key>http</key>
		<string>http://drf-tv.de/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>OK Worms</string>
		<key>logo</key>
		<string>Worms</string>
		<key>link</key>
		<string>http://www.ok-worms.de/webtv.html</string>
		<key>http</key>
		<string>http://www.ustream.tv/channel/ok-worms-offener-kanal-worms</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Chemnitz Fernsehen</string>
		<key>logo</key>
		<string>Chemnitz</string>
		<key>link</key>
		<string>http://www.sachsen-fernsehen.de/mediathek/video/chemnitz-fernsehen-livestream/</string>
		<key>http</key>
		<string>http://www.sachsen-fernsehen.de/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Dresden Fernsehen</string>
		<key>logo</key>
		<string>Dresden</string>
		<key>link</key>
		<string>http://www.sachsen-fernsehen.de/mediathek/video/dresden-fernsehen-livestream/</string>
		<key>http</key>
		<string>http://www.sachsen-fernsehen.de/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Leipzig Fernsehen</string>
		<key>logo</key>
		<string>Leipzig</string>
		<key>link</key>
		<string>http://www.sachsen-fernsehen.de/mediathek/video/leipzig-fernsehen-livestream/</string>
		<key>http</key>
		<string>http://www.sachsen-fernsehen.de/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>KabelJournal</string>
		<key>logo</key>
		<string>KabelJournal</string>
		<key>link</key>
		<string>http://www.kabeljournal.de/index.php?id=164</string>
		<key>http</key>
		<string>http://www.kabeljournal.de/index.php?id=165&amp;no_cache=1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RBW</string>
		<key>logo</key>
		<string>RBW</string>
		<key>link</key>
		<string>http://www.rbwonline.de/rbwlivestream.php</string>
		<key>http</key>
		<string>http://www.rbwonline.de/tpl/rbwlivestream.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RAN1 Regionalfernsehen Anhalt</string>
		<key>logo</key>
		<string>RAN1</string>
		<key>link</key>
		<string>http://www.ran1.de/ran1livestream.php</string>
		<key>http</key>
		<string>http://www.ran1.de/tpl/ran1livestream.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>OK Dessau</string>
		<key>logo</key>
		<string>Dessau</string>
		<key>link</key>
		<string>http://www.ok-dessau.de/live-stream/live-stream-high.html</string>
		<key>http</key>
		<string>http://www.ok-dessau.de/live-stream/live-stream-low.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RFH</string>
		<key>logo</key>
		<string>RFH</string>
		<key>link</key>
		<string>http://www.rfh-tv.de/</string>
		<key>http</key>
		<string>http://www.rfh-tv.de/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TV Halle</string>
		<key>logo</key>
		<string>Halle</string>
		<key>link</key>
		<string>http://www.medienportal-msa.de/1_1.html</string>
		<key>http</key>
		<string>http://www.medienportal-msa.de/index.php?kat=1&amp;prog=1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>PUNKTum</string>
		<key>logo</key>
		<string>PUNKTum</string>
		<key>link</key>
		<string>http://www.medienportal-msa.de/1_6.html</string>
		<key>http</key>
		<string>http://www.punktum-fernsehen.de/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>H1 Hanover</string>
		<key>logo</key>
		<string>H1</string>
		<key>link</key>
		<string>http://h1.htp.tv/index.php/content/livestream</string>
		<key>http</key>
		<string>http://www.h-eins.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>BLK Burgenlandkreis</string>
		<key>logo</key>
		<string>BLK</string>
		<key>link</key>
		<string>http://www.medienportal-msa.de/1_8.html</string>
		<key>http</key>
		<string>http://www.blkregional.de/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MDF.1 Magdeburger</string>
		<key>logo</key>
		<string>MDF</string>
		<key>link</key>
		<string>http://www.mdf1.de/</string>
		<key>http</key>
		<string>http://www.medienportal-msa.de/1_5.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>OK Magdeburg</string>
		<key>logo</key>
		<string>Magdeburg</string>
		<key>link</key>
		<string>http://www.ok-magdeburg.de/</string>
		<key>http</key>
		<string>http://www.ok-magdeburg.de/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kulturmd</string>
		<key>logo</key>
		<string>Kulturmd</string>
		<key>link</key>
		<string>http://www.medienportal-msa.de/1_9.html</string>
		<key>http</key>
		<string>http://www.kulturmd.de/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>OKMQ Merseburg-Querfurt</string>
		<key>logo</key>
		<string>OKMQ</string>
		<key>link</key>
		<string>http://www.okmq.de/tv/livestream</string>
		<key>http</key>
		<string>http://www.okmq.de/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>OK Salzwedel</string>
		<key>logo</key>
		<string>Salzwedel</string>
		<key>link</key>
		<string>http://www.ok-salzwedel.de/ok-salzwedel_low.htm</string>
		<key>http</key>
		<string>http://www.ok-salzwedel.de/ok-salzwedel_high.htm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Elbekanal</string>
		<key>logo</key>
		<string>Elbekanal</string>
		<key>link</key>
		<string>http://elbekanal.de/wp/?page_id=149</string>
		<key>http</key>
		<string>http://elbekanal.de</string>
	</dict>
	<dict>
		<key>name</key>
		<string>OK Stendal</string>
		<key>logo</key>
		<string>Stendal</string>
		<key>link</key>
		<string>http://www.ok-stendal.de/life.html</string>
		<key>http</key>
		<string>http://www.medienportal-msa.de/2_5.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>OK Wernigerode</string>
		<key>logo</key>
		<string>Wernigerode</string>
		<key>link</key>
		<string>http://www.campus-tv-harz.de/ok-livestream.html</string>
		<key>http</key>
		<string>http://www.medienportal-msa.de/2_7.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>WTV Wettin</string>
		<key>logo</key>
		<string>WTV</string>
		<key>link</key>
		<string>http://wordpress.wettintv.de/</string>
		<key>http</key>
		<string>http://www.wettintv.de/iframes/livestream.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>naheTV</string>
		<key>logo</key>
		<string>nahe</string>
		<key>link</key>
		<string>http://www.oktv-rlp.de/sehen/livestream/134/</string>
		<key>http</key>
		<string>http://www.oktv-rlp.de</string>
	</dict>
	<dict>
		<key>name</key>
		<string>OK Mainz</string>
		<key>logo</key>
		<string>Mainz</string>
		<key>link</key>
		<string>http://www.oktv-rlp.de/sehen/livestream/156/</string>
		<key>http</key>
		<string>http://www.oktv-rlp.de</string>
	</dict>
	<dict>
		<key>name</key>
		<string>OK Kaiserslautern</string>
		<key>logo</key>
		<string>Kaiserslautern</string>
		<key>link</key>
		<string>http://www.oktv-rlp.de/sehen/livestream/105/</string>
		<key>http</key>
		<string>http://www.oktv-rlp.de</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RheinLokal</string>
		<key>logo</key>
		<string>RheinLokal</string>
		<key>link</key>
		<string>http://www.oktv-rlp.de/sehen/livestream/172/</string>
		<key>http</key>
		<string>http://www.oktv-rlp.de</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tele 1</string>
		<key>logo</key>
		<string>Tele1</string>
		<key>link</key>
		<string>http://www.tele1.ch/</string>
		<key>http</key>
		<string>https://www.youtube.com/user/Tele1AG/videos?view=2&amp;flow=grid&amp;live_view=501</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MTA</string>
		<key>logo</key>
		<string>MTA</string>
		<key>link</key>
		<string>http://www.mta.tv/live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/mtaOnline1/videos?view=2&amp;live_view=501&amp;flow=grid</string>
	</dict>
	<dict>
		<key>name</key>
		<string>HDL TV</string>
		<key>logo</key>
		<string>HDL</string>
		<key>link</key>
		<string>http://www.medienportal-msa.de/1_10.html</string>
		<key>http</key>
		<string>http://www.medienportal-msa.de/1_10.html</string>
	</dict>
</array>
</plist>
