<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1</string>
		<key>Back</key>
		<string>1</string>
		<key>Banner</key>
		<string>2325291929</string>
		<key>Header</key>
		<string>1</string>
		<key>Footer</key>
		<string>1</string>
		<key>Email</key>
		<string>world.app.community@gmail.com</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1</string>
		<key>Developer</key>
		<string>1</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Antigua</string>
			<key>logo</key>
			<string>Antigua</string>
			<key>link</key>
			<string>https://canalantigua.tv/</string>
			<key>http</key>
			<string>https://canalantigua.tv/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Antigua Sports</string>
			<key>logo</key>
			<string>Sports</string>
			<key>link</key>
			<string>https://www.canalantigua.tv/seccion/deportes/</string>
			<key>http</key>
			<string>https://www.canalantigua.tv</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Vea</string>
			<key>logo</key>
			<string>Vea</string>
			<key>link</key>
			<string>http://veacanal.tv/tv-online/</string>
			<key>http</key>
			<string>http://veacanal.tv</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TeleVos</string>
			<key>logo</key>
			<string>TeleVos</string>
			<key>link</key>
			<string>https://www.tvquetzachapin.tv/tv-online/</string>
			<key>http</key>
			<string>https://www.tvquetzachapin.tv/tv-online/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chapin 3</string>
			<key>logo</key>
			<string>3</string>
			<key>link</key>
			<string>http://www.chapintv.com/envivo-3</string>
			<key>http</key>
			<string>http://www.chapintv.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RT en Español</string>
			<key>logo</key>
			<string>RT</string>
			<key>link</key>
			<string>https://actualidad.rt.com/en_vivo2</string>
			<key>http</key>
			<string>https://www.youtube.com/user/ActualidadRT/videos?view=2&amp;flow=grid&amp;live_view=501</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Azteca Guatemala</string>
			<key>logo</key>
			<string>Azteca</string>
			<key>link</key>
			<string>http://www.azteca.com.gt/envivo.html</string>
			<key>http</key>
			<string>http://www.azteca.com.gt</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Enlace</string>
			<key>logo</key>
			<string>Enlace</string>
			<key>link</key>
			<string>https://www.enlace.org/envivo/</string>
			<key>http</key>
			<string>https://www.enlace.org</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Guatevision</string>
			<key>logo</key>
			<string>Guatevision</string>
			<key>link</key>
			<string>https://www.guatevision.com/en-vivo/</string>
			<key>http</key>
			<string>https://www.guatevision.com</string>
		</dict>
	</array>
</dict>
</plist>
