<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1</string>
		<key>Back</key>
		<string>1</string>
		<key>Banner</key>
		<string>8721825951</string>
		<key>Header</key>
		<string>1</string>
		<key>Footer</key>
		<string>1</string>
		<key>Email</key>
		<string>world.app.community@gmail.com</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1</string>
		<key>Developer</key>
		<string>1</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>RTVC (Caraibes 22)</string>
			<key>logo</key>
			<string>22</string>
			<key>link</key>
			<string>https://rtvc.radiotelevisioncaraibes.com/content/chaine-22</string>
			<key>http</key>
			<string>https://rtvc.radiotelevisioncaraibes.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RTH TV1</string>
			<key>logo</key>
			<string>TV1</string>
			<key>link</key>
			<string>http://www.rth2000.com/live-tv/</string>
			<key>http</key>
			<string>http://www.rth2000.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RTH Gospel</string>
			<key>logo</key>
			<string>Gospel</string>
			<key>link</key>
			<string>http://www.rth2000.com/gospel/</string>
			<key>http</key>
			<string>http://www.rth2000.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tele Anacaona</string>
			<key>logo</key>
			<string>Anacaona</string>
			<key>link</key>
			<string>http://www.mytatv.com/live/</string>
			<key>http</key>
			<string>http://www.mytatv.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tele Boston</string>
			<key>logo</key>
			<string>Boston</string>
			<key>link</key>
			<string>http://www.teleboston.com/</string>
			<key>http</key>
			<string>http://www.teleboston.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Haitipal</string>
			<key>logo</key>
			<string>Haitipal</string>
			<key>link</key>
			<string>http://original.livestream.com/quisqueya</string>
			<key>http</key>
			<string>http://original.livestream.com/quisqueya</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tele Planet Compas</string>
			<key>logo</key>
			<string>Compas</string>
			<key>link</key>
			<string>http://planetcompas.com/live/</string>
			<key>http</key>
			<string>http://planetcompas.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>4 RD</string>
			<key>logo</key>
			<string>RD</string>
			<key>link</key>
			<string>http://canal4rd.com/portada/index.php/senal-en-vivo</string>
			<key>http</key>
			<string>http://canal4rd.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Color Visión 9</string>
			<key>logo</key>
			<string>9</string>
			<key>link</key>
			<string>http://www.colorvision.com.do/en-vivo/</string>
			<key>http</key>
			<string>http://www.colorvision.com.do</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Noticias 16</string>
			<key>logo</key>
			<string>16</string>
			<key>link</key>
			<string>http://frecuenciasdominicanas.com/noticias16/tv.html</string>
			<key>http</key>
			<string>http://frecuenciasdominicanas.com/noticias16/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sky News</string>
			<key>logo</key>
			<string>Sky</string>
			<key>link</key>
			<string>http://frecuenciasdominicanas.com/noticias16/tv.html</string>
			<key>http</key>
			<string>http://frecuenciasdominicanas.com/noticias16/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sky 24</string>
			<key>logo</key>
			<string>Sky24</string>
			<key>link</key>
			<string>http://frecuenciasdominicanas.com/noticias16/tv.html</string>
			<key>http</key>
			<string>http://frecuenciasdominicanas.com/noticias16/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bloomberg</string>
			<key>logo</key>
			<string>bloomberg</string>
			<key>link</key>
			<string>http://frecuenciasdominicanas.com/noticias16/tv.html</string>
			<key>http</key>
			<string>http://frecuenciasdominicanas.com/noticias16/</string>
		</dict>
	</array>
</dict>
</plist>
