<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1674377628</string>
		<key>Back</key>
		<string>7916869266</string>
		<key>Banner</key>
		<string>4081049115</string>
		<key>Header</key>
		<string>3590094523</string>
		<key>Footer</key>
		<string>3945834666</string>
		<key>Email</key>
		<string>ios.apps.community@gmail.com</string>
		<key>Alternative</key>
		<string>1454260052</string>
		<key>Application</key>
		<string>1417437694</string>
		<key>Developer</key>
		<string>1360678770</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<integer>2</integer>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Globo</string>
			<key>logo</key>
			<string>Globo</string>
			<key>link</key>
			<string>http://www.globotvhonduras.com/</string>
			<key>http</key>
			<string>http://www.globotvhonduras.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>VTV Somos Todos</string>
			<key>logo</key>
			<string>VTV</string>
			<key>link</key>
			<string>http://www.vtv.com.hn/envivo</string>
			<key>http</key>
			<string>http://www.vtv.com.hn</string>
		</dict>
		<dict>
			<key>name</key>
			<string>6</string>
			<key>logo</key>
			<string>6</string>
			<key>link</key>
			<string>https://canal6.com.hn/envivo</string>
			<key>http</key>
			<string>https://canal6.com.hn</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Azteca</string>
			<key>logo</key>
			<string>Azteca</string>
			<key>link</key>
			<string>http://www.azteca.com.hn/envivo.html</string>
			<key>http</key>
			<string>http://www.azteca.com.hn</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RT en Español</string>
			<key>logo</key>
			<string>RT</string>
			<key>link</key>
			<string>https://actualidad.rt.com/en_vivo2</string>
			<key>http</key>
			<string>https://www.youtube.com/user/ActualidadRT/videos?view=2&amp;flow=grid&amp;live_view=501</string>
		</dict>
		<dict>
			<key>name</key>
			<string>HCH</string>
			<key>logo</key>
			<string>HCH1</string>
			<key>link</key>
			<string>https://hch.tv/live/</string>
			<key>http</key>
			<string>https://hch.tv</string>
		</dict>
		<dict>
			<key>name</key>
			<string>HCH Radio</string>
			<key>logo</key>
			<string>HCH2</string>
			<key>link</key>
			<string>https://hch.tv/hch-radio/</string>
			<key>http</key>
			<string>https://hch.tv</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cholusat Sur</string>
			<key>logo</key>
			<string>Cholusat</string>
			<key>link</key>
			<string>http://cholusatsur.com/home/index.php/en_vivo/</string>
			<key>http</key>
			<string>http://cholusatsur.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RTV</string>
			<key>logo</key>
			<string>RTV</string>
			<key>link</key>
			<string>http://rtv.hn/En%20Vivo.html</string>
			<key>http</key>
			<string>http://rtv.hn</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Teleceiba Internacional</string>
			<key>logo</key>
			<string>Teleceiba</string>
			<key>link</key>
			<string>http://teleceiba.com/</string>
			<key>http</key>
			<string>http://teleceiba.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>45TV De Los Ceibeños</string>
			<key>logo</key>
			<string>45</string>
			<key>link</key>
			<string>http://www.45tvhn.com/</string>
			<key>http</key>
			<string>http://www.45tvhn.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Choluvision 27</string>
			<key>logo</key>
			<string>27</string>
			<key>link</key>
			<string>http://www.choluvision27.com/html/Tv%20en%20vivo.html</string>
			<key>http</key>
			<string>http://www.choluvision27.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TeleDanlí 9</string>
			<key>logo</key>
			<string>9</string>
			<key>link</key>
			<string>http://grupoastro.net/tele-danli---canal-9.html</string>
			<key>http</key>
			<string>http://grupoastro.net</string>
		</dict>
		<dict>
			<key>name</key>
			<string>SiTV</string>
			<key>logo</key>
			<string>SiTV</string>
			<key>link</key>
			<string>http://www.sitvhn.com/onAir.php</string>
			<key>http</key>
			<string>http://www.sitvhn.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TEN 10</string>
			<key>logo</key>
			<string>10</string>
			<key>link</key>
			<string>http://www.tencanal10.tv/</string>
			<key>http</key>
			<string>http://www.tencanal10.tv/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Campus</string>
			<key>logo</key>
			<string>Campus</string>
			<key>link</key>
			<string>http://live.campushd.tv/</string>
			<key>http</key>
			<string>http://original.livestream.com/campushd</string>
		</dict>
		<dict>
			<key>name</key>
			<string>UTV UNAH</string>
			<key>logo</key>
			<string>UNAH</string>
			<key>link</key>
			<string>https://utv.unah.edu.hn/</string>
			<key>http</key>
			<string>http://original.livestream.com/unahutv</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MVC (Mi Viña)</string>
			<key>logo</key>
			<string>MVC</string>
			<key>link</key>
			<string>http://canalmvc.com/#service</string>
			<key>http</key>
			<string>http://canalmvc.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ebenezer</string>
			<key>logo</key>
			<string>Ebenezer</string>
			<key>link</key>
			<string>http://www.ebenezer.hn/en-vivo/</string>
			<key>http</key>
			<string>http://www.ebenezer.hn</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Suyapa</string>
			<key>logo</key>
			<string>Suyapa</string>
			<key>link</key>
			<string>http://www.fundacioncatolica.org/suyapatv.html</string>
			<key>http</key>
			<string>http://www.fundacioncatolica.org</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Suyapa Educativa</string>
			<key>logo</key>
			<string>Educativa</string>
			<key>link</key>
			<string>http://www.fundacioncatolica.org/telebasica.html</string>
			<key>http</key>
			<string>http://www.fundacioncatolica.org</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sercano</string>
			<key>logo</key>
			<string>Sercano</string>
			<key>link</key>
			<string>http://www.sercano.com/envivo/</string>
			<key>http</key>
			<string>http://www.sercano.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Unción</string>
			<key>logo</key>
			<string>Uncion</string>
			<key>link</key>
			<string>http://www.abriendobrecha.tv/en-directo/#menu-menuprincipal</string>
			<key>http</key>
			<string>http://www.abriendobrecha.tv</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Televicentro</string>
			<key>logo</key>
			<string>Televicentro</string>
			<key>link</key>
			<string>http://www.televicentro.hn/envivo</string>
			<key>http</key>
			<string>http://www.televicentro.hn</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Girasol 27</string>
			<key>logo</key>
			<string>Girasol</string>
			<key>link</key>
			<string>http://girasolradiotvhn.com/</string>
			<key>http</key>
			<string>http://girasolradiotvhn.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>JBN</string>
			<key>logo</key>
			<string>JBN</string>
			<key>link</key>
			<string>http://jbntv.org/</string>
			<key>http</key>
			<string>http://jbntv.org/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Metro</string>
			<key>logo</key>
			<string>Metro</string>
			<key>link</key>
			<string>http://www.lametrohn.com/metrotv/</string>
			<key>http</key>
			<string>http://www.lametrohn.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dios Te Ve</string>
			<key>logo</key>
			<string>Dios</string>
			<key>link</key>
			<string>http://www.diosteve.org/tv</string>
			<key>http</key>
			<string>http://www.diosteve.org</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TeleSUR</string>
			<key>logo</key>
			<string>TeleSUR</string>
			<key>link</key>
			<string>https://www.youtube.com/user/telesurtv/videos?view=2&amp;live_view=501&amp;flow=grid</string>
			<key>http</key>
			<string>https://www.telesurtv.net/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Guayape</string>
			<key>logo</key>
			<string>Guayape</string>
			<key>link</key>
			<string>http://www.ustream.tv/channel/guayaoe-tv</string>
			<key>http</key>
			<string>http://guayapetelevision.wixsite.com/guayapetv</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Centro</string>
			<key>logo</key>
			<string>Centro</string>
			<key>link</key>
			<string>http://tv.centroradialhn.net/</string>
			<key>http</key>
			<string>http://tv.centroradialhn.net/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Waldivision</string>
			<key>logo</key>
			<string>Waldivision</string>
			<key>link</key>
			<string>http://waldivision.tv/</string>
			<key>http</key>
			<string>http://waldivision.tv/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Caracol</string>
			<key>logo</key>
			<string>Caracol</string>
			<key>link</key>
			<string>https://www.caracoltv.com/senal-vivo</string>
			<key>http</key>
			<string>https://www.caracoltv.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hispan</string>
			<key>logo</key>
			<string>Hispan</string>
			<key>link</key>
			<string>https://www.hispantv.com/directo</string>
			<key>http</key>
			<string>https://www.youtube.com/user/hispantv</string>
		</dict>
	</array>
</dict>
</plist>
