<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1</string>
		<key>Back</key>
		<string>1</string>
		<key>Banner</key>
		<string>6707868027</string>
		<key>Header</key>
		<string>1</string>
		<key>Footer</key>
		<string>1</string>
		<key>Email</key>
		<string>world.app.community@gmail.com</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1</string>
		<key>Developer</key>
		<string>1</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<integer>2</integer>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Globo</string>
			<key>logo</key>
			<string>Globo</string>
			<key>link</key>
			<string>http://www.globotvhonduras.com/</string>
			<key>http</key>
			<string>http://www.globotvhonduras.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>VTV Somos Todos</string>
			<key>logo</key>
			<string>VTV</string>
			<key>link</key>
			<string>http://www.vtv.com.hn/envivo</string>
			<key>http</key>
			<string>http://www.vtv.com.hn</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Azteca</string>
			<key>logo</key>
			<string>Azteca</string>
			<key>link</key>
			<string>http://www.azteca.com.hn/envivo.html</string>
			<key>http</key>
			<string>http://www.azteca.com.hn</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RT en Español</string>
			<key>logo</key>
			<string>RT</string>
			<key>link</key>
			<string>https://actualidad.rt.com/en_vivo2</string>
			<key>http</key>
			<string>https://www.youtube.com/user/ActualidadRT/videos?view=2&amp;flow=grid&amp;live_view=501</string>
		</dict>
		<dict>
			<key>name</key>
			<string>HCH</string>
			<key>logo</key>
			<string>HCH1</string>
			<key>link</key>
			<string>https://hch.tv/live/</string>
			<key>http</key>
			<string>https://hch.tv</string>
		</dict>
		<dict>
			<key>name</key>
			<string>HCH Radio</string>
			<key>logo</key>
			<string>HCH2</string>
			<key>link</key>
			<string>https://hch.tv/hch-radio/</string>
			<key>http</key>
			<string>https://hch.tv</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Suyapa</string>
			<key>logo</key>
			<string>Suyapa</string>
			<key>link</key>
			<string>http://www.fundacioncatolica.org/suyapatv.html</string>
			<key>http</key>
			<string>http://www.fundacioncatolica.org</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Suyapa Educativa</string>
			<key>logo</key>
			<string>Educativa</string>
			<key>link</key>
			<string>http://www.fundacioncatolica.org/telebasica.html</string>
			<key>http</key>
			<string>http://www.fundacioncatolica.org</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TeleSUR</string>
			<key>logo</key>
			<string>TeleSUR</string>
			<key>link</key>
			<string>https://www.youtube.com/user/telesurtv/videos?view=2&amp;live_view=501&amp;flow=grid</string>
			<key>http</key>
			<string>https://www.telesurtv.net/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hispan</string>
			<key>logo</key>
			<string>Hispan</string>
			<key>link</key>
			<string>https://www.hispantv.com/directo</string>
			<key>http</key>
			<string>https://www.youtube.com/user/hispantv</string>
		</dict>
	</array>
</dict>
</plist>
