<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1478057975</string>
		<key>Back</key>
		<string>2954791173</string>
		<key>Banner</key>
		<string>9001324777</string>
		<key>Header</key>
		<string>6318515785</string>
		<key>Footer</key>
		<string>1557143694</string>
		<key>Application</key>
		<string>1363717182</string>
		<key>Developer</key>
		<string>1239592099</string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<integer>2</integer>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>M1</string>
			<key>logo</key>
			<string>M1</string>
			<key>link</key>
			<string>http://www.mediaklikk.hu/m1-elo/</string>
			<key>http</key>
			<string>http://www.mediaklikk.hu/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>M2</string>
			<key>logo</key>
			<string>M2</string>
			<key>link</key>
			<string>http://www.mediaklikk.hu/m2-elo</string>
			<key>http</key>
			<string>http://www.mediaklikk.hu/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>M4 Sport</string>
			<key>logo</key>
			<string>M4</string>
			<key>link</key>
			<string>http://www.mediaklikk.hu/m4-elo</string>
			<key>http</key>
			<string>http://www.mediaklikk.hu/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>M5</string>
			<key>logo</key>
			<string>M5</string>
			<key>link</key>
			<string>http://www.mediaklikk.hu/m5-elo</string>
			<key>http</key>
			<string>http://www.mediaklikk.hu/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Duna</string>
			<key>logo</key>
			<string>Duna</string>
			<key>link</key>
			<string>http://www.mediaklikk.hu/duna-elo</string>
			<key>http</key>
			<string>http://www.mediaklikk.hu/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Duna World</string>
			<key>logo</key>
			<string>World</string>
			<key>link</key>
			<string>http://www.mediaklikk.hu/duna-world-elo</string>
			<key>http</key>
			<string>http://www.mediaklikk.hu/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ATV</string>
			<key>logo</key>
			<string>ATV</string>
			<key>link</key>
			<string>http://www.atv.hu/elo-adas</string>
			<key>http</key>
			<string>http://www.atv.hu/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Budapest Európa Televízió</string>
			<key>logo</key>
			<string>Budapest</string>
			<key>link</key>
			<string>http://www.bpetv.org/bp-europa-televizio-budapest-online-tv-adas</string>
			<key>http</key>
			<string>http://www.bpetv.org/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Music Channel</string>
			<key>logo</key>
			<string>Music</string>
			<key>link</key>
			<string>http://1music.hu/</string>
			<key>http</key>
			<string>http://1music.hu/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>H!T</string>
			<key>logo</key>
			<string>H!T</string>
			<key>link</key>
			<string>http://myhit.tv/</string>
			<key>http</key>
			<string>http://myhit.tv/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fix</string>
			<key>logo</key>
			<string>Fix</string>
			<key>link</key>
			<string>http://fixhd.tv/live.php</string>
			<key>http</key>
			<string>http://www.fixhd.tv/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kincsem</string>
			<key>logo</key>
			<string>Kincsem</string>
			<key>link</key>
			<string>http://kincsempark.com/elo-verseny-kozvetites/</string>
			<key>http</key>
			<string>http://kincsempark.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Országgyűlés</string>
			<key>logo</key>
			<string>Orsz</string>
			<key>link</key>
			<string>http://www.parlament.hu/plenaris-elokozvetites</string>
			<key>http</key>
			<string>http://www.parlament.hu/kozvetites-tab</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Light Channel</string>
			<key>logo</key>
			<string>Light</string>
			<key>link</key>
			<string>http://www.ltvhu.org/</string>
			<key>http</key>
			<string>http://www.ltvhu.org/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bajai</string>
			<key>logo</key>
			<string>Bajai</string>
			<key>link</key>
			<string>http://www.bajaitelevizio.hu/?page_id=14120</string>
			<key>http</key>
			<string>http://www.bajaitelevizio.hu/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kecskeméti</string>
			<key>logo</key>
			<string>Kecskemeti</string>
			<key>link</key>
			<string>http://kecskemetitv.hu/</string>
			<key>http</key>
			<string>http://kecskemetitv.hu/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Miskolc</string>
			<key>logo</key>
			<string>Miskolc</string>
			<key>link</key>
			<string>http://minap.hu/eloadas</string>
			<key>http</key>
			<string>http://minap.hu</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tisza</string>
			<key>logo</key>
			<string>Tisza</string>
			<key>link</key>
			<string>http://www.tiszatv.hu/</string>
			<key>http</key>
			<string>http://www.tiszatv.hu/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Putnok Városi</string>
			<key>logo</key>
			<string>Putnok</string>
			<key>link</key>
			<string>http://www.pvtv.hu/</string>
			<key>http</key>
			<string>http://www.pvtv.hu/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ózdi Városi</string>
			<key>logo</key>
			<string>Ozdi</string>
			<key>link</key>
			<string>http://79.172.194.189/hls/ozdtv/live.m3u8</string>
			<key>http</key>
			<string>http://www.ovtv.eu/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Zemplén</string>
			<key>logo</key>
			<string>Zemplen</string>
			<key>link</key>
			<string>http://www.zemplentv.hu/elo_adas/</string>
			<key>http</key>
			<string>http://www.zemplentv.hu/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>City TV</string>
			<key>logo</key>
			<string>City</string>
			<key>link</key>
			<string>https://citytv.hu/ELO_ADAS</string>
			<key>http</key>
			<string>https://citytv.hu</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hatoscsatorna</string>
			<key>logo</key>
			<string>Hatoscsatorna</string>
			<key>link</key>
			<string>http://www.hatoscsatorna.hu/livetv.php</string>
			<key>http</key>
			<string>http://www.hatoscsatorna.hu</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Promontor</string>
			<key>logo</key>
			<string>Promontor</string>
			<key>link</key>
			<string>http://www.promontortv.hu/</string>
			<key>http</key>
			<string>http://www.promontortv.hu/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rákosmente</string>
			<key>logo</key>
			<string>Rakosmente</string>
			<key>link</key>
			<string>http://www.rakosmentetv.hu/eloadas</string>
			<key>http</key>
			<string>http://www.rakosmentetv.hu</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Szeged</string>
			<key>logo</key>
			<string>Szeged</string>
			<key>link</key>
			<string>http://vtvszeged.hu/</string>
			<key>http</key>
			<string>http://vtvszeged.hu/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Telin</string>
			<key>logo</key>
			<string>Telin</string>
			<key>link</key>
			<string>http://www.telin.hu/</string>
			<key>http</key>
			<string>http://www.telin.hu/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Makói Városi</string>
			<key>logo</key>
			<string>Makoi</string>
			<key>link</key>
			<string>http://makomedia.mikrohalo.hu/test.html</string>
			<key>http</key>
			<string>http://makotv.hu/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fehérvár</string>
			<key>logo</key>
			<string>Fehervar</string>
			<key>link</key>
			<string>http://www.fehervartv.hu/elo_adas</string>
			<key>http</key>
			<string>http://www.fehervartv.hu/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>VTV Mór</string>
			<key>logo</key>
			<string>VTV</string>
			<key>link</key>
			<string>http://morvtv.hu/index.php?M=12&amp;L=hu&amp;P=&amp;S=2&amp;ID=439</string>
			<key>http</key>
			<string>http://morvtv.hu</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Vásárhelyi</string>
			<key>logo</key>
			<string>Vasarhelyi</string>
			<key>link</key>
			<string>http://www.vasarhelyitv.hu/eloadas.php</string>
			<key>http</key>
			<string>http://www.vasarhelyitv.hu</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Győrplusz</string>
			<key>logo</key>
			<string>Gyorplusz</string>
			<key>link</key>
			<string>http://tv.gyorplusz.hu/adas</string>
			<key>http</key>
			<string>http://tv.gyorplusz.hu</string>
		</dict>
		<dict>
			<key>name</key>
			<string>O2</string>
			<key>logo</key>
			<string>O2</string>
			<key>link</key>
			<string>http://o2hir.hu/online.php</string>
			<key>http</key>
			<string>http://o2hir.hu/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rábaközi</string>
			<key>logo</key>
			<string>Rabakozi</string>
			<key>link</key>
			<string>http://www.molnarkft.hu/rabakozi-tv</string>
			<key>http</key>
			<string>http://www.molnarkft.hu/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Alföld</string>
			<key>logo</key>
			<string>Alfold</string>
			<key>link</key>
			<string>http://www.alfoldtv.hu/</string>
			<key>http</key>
			<string>http://www.alfoldtv.hu/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DTV Debrecen</string>
			<key>logo</key>
			<string>DTV</string>
			<key>link</key>
			<string>http://www.dehir.hu/dtv/</string>
			<key>http</key>
			<string>http://televizio.dtv.hu/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>GYTV Gyöngyösi</string>
			<key>logo</key>
			<string>GYTV</string>
			<key>link</key>
			<string>http://gyongyostv.hu/elo-adas/</string>
			<key>http</key>
			<string>http://gyongyostv.hu/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Eger</string>
			<key>logo</key>
			<string>Eger</string>
			<key>link</key>
			<string>http://www.tveger.hu/live/</string>
			<key>http</key>
			<string>http://www.tveger.hu</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Jász Trió</string>
			<key>logo</key>
			<string>Jasz</string>
			<key>link</key>
			<string>http://www.jttv.hu/online-tv</string>
			<key>http</key>
			<string>http://www.jttv.hu/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Karcag</string>
			<key>logo</key>
			<string>Karcag</string>
			<key>link</key>
			<string>http://www.karcagtv.hu/elo-adas</string>
			<key>http</key>
			<string>http://www.karcagtv.hu</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TKTV Tatabányai</string>
			<key>logo</key>
			<string>TKTV</string>
			<key>link</key>
			<string>http://tatabanyaitv.hu/cikk/elo-adas.html</string>
			<key>http</key>
			<string>http://tatabanyaitv.hu</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Halom</string>
			<key>logo</key>
			<string>Halom</string>
			<key>link</key>
			<string>http://www.halomtv.hu/elo-musor</string>
			<key>http</key>
			<string>http://www.halomtv.hu</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Telekeszi</string>
			<key>logo</key>
			<string>Telekeszi</string>
			<key>link</key>
			<string>http://telekeszi.hu/?page_id=2</string>
			<key>http</key>
			<string>http://telekeszi.hu</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kapos</string>
			<key>logo</key>
			<string>Kapos</string>
			<key>link</key>
			<string>http://kapos.hu/elo_adas.html</string>
			<key>http</key>
			<string>http://kapos.hu</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tavi</string>
			<key>logo</key>
			<string>Tavi</string>
			<key>link</key>
			<string>http://tavitv.hu/elo-adas/</string>
			<key>http</key>
			<string>http://tavitv.hu/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nyíregyházi</string>
			<key>logo</key>
			<string>Nyiregyhazi</string>
			<key>link</key>
			<string>http://www.nyiregyhazitv.hu/</string>
			<key>http</key>
			<string>http://www.nyiregyhazitv.hu/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Szombathelyi</string>
			<key>logo</key>
			<string>Szombathelyi</string>
			<key>link</key>
			<string>http://www.sztv.hu/online/elo-adas</string>
			<key>http</key>
			<string>http://www.sztv.hu/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tapolcai</string>
			<key>logo</key>
			<string>Tapolcai</string>
			<key>link</key>
			<string>http://tapolcaimedia.hu/elo-adas/</string>
			<key>http</key>
			<string>http://tapolcaimedia.hu/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Zalaegerszegi</string>
			<key>logo</key>
			<string>Zalaegerszegi</string>
			<key>link</key>
			<string>http://zegtv.hu/live/</string>
			<key>http</key>
			<string>http://zegtv.hu/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kanizsa</string>
			<key>logo</key>
			<string>Kanizsa</string>
			<key>link</key>
			<string>http://www.kanizsatv.hu/online_stream.php</string>
			<key>http</key>
			<string>http://www.kanizsatv.hu/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Keszthely</string>
			<key>logo</key>
			<string>Keszthely</string>
			<key>link</key>
			<string>http://www.tvkeszthely.hu/online_stream.php</string>
			<key>http</key>
			<string>http://www.tvkeszthely.hu/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bloomberg TV Europe</string>
			<key>logo</key>
			<string>bloomberg</string>
			<key>link</key>
			<string>https://www.bloomberg.com/live/europe</string>
			<key>http</key>
			<string>https://www.bloomberg.com/live/us</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Euronews</string>
			<key>logo</key>
			<string>Euronews</string>
			<key>link</key>
			<string>http://de.euronews.com/live</string>
			<key>http</key>
			<string>https://www.youtube.com/user/euronewsfr/videos?live_view=501&amp;flow=grid&amp;view=2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>EbS Europe by Satellite</string>
			<key>logo</key>
			<string>EbS</string>
			<key>link</key>
			<string>http://ec.europa.eu/avservices/ebs/live.cfm?page=1</string>
			<key>http</key>
			<string>http://ec.europa.eu/avservices/ebs/schedule.cfm</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sky News</string>
			<key>logo</key>
			<string>Sky</string>
			<key>link</key>
			<string>https://news.sky.com/watch-live</string>
			<key>http</key>
			<string>https://www.youtube.com/user/skynews</string>
		</dict>
	</array>
</dict>
</plist>
