<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1478057975</string>
		<key>Back</key>
		<string>2954791173</string>
		<key>Banner</key>
		<string>9001324777</string>
		<key>Header</key>
		<string>9</string>
		<key>Footer</key>
		<string>9</string>
		<key>Application</key>
		<string>9</string>
		<key>Developer</key>
		<string>9</string>
		<key>Email</key>
		<string>iden@gmail.com</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<integer>2</integer>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>M1</string>
			<key>logo</key>
			<string>M1</string>
			<key>link</key>
			<string>http://www.mediaklikk.hu/m1-elo/</string>
			<key>http</key>
			<string>http://www.mediaklikk.hu/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>M2</string>
			<key>logo</key>
			<string>M2</string>
			<key>link</key>
			<string>http://www.mediaklikk.hu/m2-elo</string>
			<key>http</key>
			<string>http://www.mediaklikk.hu/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>M4 Sport</string>
			<key>logo</key>
			<string>M4</string>
			<key>link</key>
			<string>http://www.mediaklikk.hu/m4-elo</string>
			<key>http</key>
			<string>http://www.mediaklikk.hu/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>M5</string>
			<key>logo</key>
			<string>M5</string>
			<key>link</key>
			<string>http://www.mediaklikk.hu/m5-elo</string>
			<key>http</key>
			<string>http://www.mediaklikk.hu/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Duna</string>
			<key>logo</key>
			<string>Duna</string>
			<key>link</key>
			<string>http://www.mediaklikk.hu/duna-elo</string>
			<key>http</key>
			<string>http://www.mediaklikk.hu/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Duna World</string>
			<key>logo</key>
			<string>World</string>
			<key>link</key>
			<string>http://www.mediaklikk.hu/duna-world-elo</string>
			<key>http</key>
			<string>http://www.mediaklikk.hu/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ATV</string>
			<key>logo</key>
			<string>ATV</string>
			<key>link</key>
			<string>http://www.atv.hu/elo-adas</string>
			<key>http</key>
			<string>http://www.atv.hu/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Budapest Európa Televízió</string>
			<key>logo</key>
			<string>Budapest</string>
			<key>link</key>
			<string>http://www.bpetv.org/bp-europa-televizio-budapest-online-tv-adas</string>
			<key>http</key>
			<string>http://www.bpetv.org/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Music Channel</string>
			<key>logo</key>
			<string>Music</string>
			<key>link</key>
			<string>http://1music.hu/</string>
			<key>http</key>
			<string>http://1music.hu/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fix</string>
			<key>logo</key>
			<string>Fix</string>
			<key>link</key>
			<string>http://fixhd.tv/live.php</string>
			<key>http</key>
			<string>http://www.fixhd.tv/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bloomberg TV Europe</string>
			<key>logo</key>
			<string>bloomberg</string>
			<key>link</key>
			<string>https://www.bloomberg.com/live/europe</string>
			<key>http</key>
			<string>https://www.bloomberg.com/live/us</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sky News</string>
			<key>logo</key>
			<string>Sky</string>
			<key>link</key>
			<string>http://news.sky.com/watch-live</string>
			<key>http</key>
			<string>https://www.youtube.com/user/skynews</string>
		</dict>
	</array>
</dict>
</plist>
