<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>LitvaTV</string>
		<key>Back</key>
		<string>LitvaTV</string>
		<key>Banner</key>
		<string>6209955574</string>
		<key>Header</key>
		<string>LitvaTV</string>
		<key>Footer</key>
		<string>LitvaTV</string>
		<key>Email</key>
		<string>world.app.community@gmail.com</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1</string>
		<key>Developer</key>
		<string>1</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<integer>2</integer>
		<key>DemoMode</key>
		<string>10</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>TVRI</string>
			<key>logo</key>
			<string>TVRI</string>
			<key>link</key>
			<string>http://tvri.co.id/live</string>
			<key>http</key>
			<string>http://tvri.co.id</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CNN Indonesia</string>
			<key>logo</key>
			<string>CNN</string>
			<key>link</key>
			<string>http://www.cnnindonesia.com/tv#livestreaming</string>
			<key>http</key>
			<string>http://www.cnnindonesia.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NET</string>
			<key>logo</key>
			<string>NET</string>
			<key>link</key>
			<string>http://www.netmedia.co.id/live</string>
			<key>http</key>
			<string>http://www.netmedia.co.id</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RCTV - Radar Cirebon</string>
			<key>logo</key>
			<string>RCTV</string>
			<key>link</key>
			<string>http://www.radarcirebon.tv/</string>
			<key>http</key>
			<string>http://www.radarcirebon.tv/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>INTV</string>
			<key>logo</key>
			<string>INTV</string>
			<key>link</key>
			<string>http://intv.id</string>
			<key>http</key>
			<string>http://intv.id/live.php</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Jakarta Globe</string>
			<key>logo</key>
			<string>Globe</string>
			<key>link</key>
			<string>http://jakartaglobe.id/indonesia-highlights/</string>
			<key>http</key>
			<string>http://jakartaglobe.id/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TV9 Nusantara</string>
			<key>logo</key>
			<string>TV9</string>
			<key>link</key>
			<string>http://tv9.co.id/</string>
			<key>http</key>
			<string>http://tv9.co.id/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Samarinda</string>
			<key>logo</key>
			<string>Samarinda</string>
			<key>link</key>
			<string>http://stv.prokal.co/Streaming.html</string>
			<key>http</key>
			<string>http://stv.prokal.co</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bloomberg Asia</string>
			<key>logo</key>
			<string>bloomberg</string>
			<key>link</key>
			<string>https://www.bloomberg.com/live/asia</string>
			<key>http</key>
			<string>https://www.bloomberg.com/live/asia_stream</string>
		</dict>
	</array>
</dict>
</plist>
