<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>TVRI</string>
		<key>logo</key>
		<string>TVRI</string>
		<key>link</key>
		<string>http://tvri.co.id/live</string>
		<key>http</key>
		<string>http://tvri.co.id</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RCTI</string>
		<key>logo</key>
		<string>RCTI</string>
		<key>link</key>
		<string>http://www.rcti.tv/streaming/</string>
		<key>http</key>
		<string>http://www.rcti.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CNN Indonesia</string>
		<key>logo</key>
		<string>CNN</string>
		<key>link</key>
		<string>http://www.cnnindonesia.com/tv#livestreaming</string>
		<key>http</key>
		<string>http://www.cnnindonesia.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MNCTV</string>
		<key>logo</key>
		<string>MNCTV</string>
		<key>link</key>
		<string>http://www.mnctv.com/streaming</string>
		<key>http</key>
		<string>http://www.mnctv.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RTV Rajawali</string>
		<key>logo</key>
		<string>RTV</string>
		<key>link</key>
		<string>http://rtv.co.id/program/livertv</string>
		<key>http</key>
		<string>http://rtv.co.id</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SCTV</string>
		<key>logo</key>
		<string>SCTV</string>
		<key>link</key>
		<string>http://www.sctv.co.id/live</string>
		<key>http</key>
		<string>http://www.sctv.co.id</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Indosiar</string>
		<key>logo</key>
		<string>Indosiar</string>
		<key>link</key>
		<string>http://www.indosiar.com/live</string>
		<key>http</key>
		<string>http://www.indosiar.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NET</string>
		<key>logo</key>
		<string>NET</string>
		<key>link</key>
		<string>http://www.netmedia.co.id/live</string>
		<key>http</key>
		<string>http://www.netmedia.co.id</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bloomberg Asia</string>
		<key>logo</key>
		<string>bloomberg</string>
		<key>link</key>
		<string>https://www.bloomberg.com/live/asia</string>
		<key>http</key>
		<string>https://www.bloomberg.com/live/asia_stream</string>
	</dict>
</array>
</plist>
