<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>RTÉ</string>
		<key>logo</key>
		<string>RTE</string>
		<key>link</key>
		<string>http://www.rte.ie/news/player/live/7/</string>
		<key>http</key>
		<string>http://www.rte.ie/player/ua/live/7/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TG4</string>
		<key>logo</key>
		<string>TG4</string>
		<key>link</key>
		<string>http://www.tg4.ie/en/live/home/</string>
		<key>http</key>
		<string>http://www.tg4.ie/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Cúla4</string>
		<key>logo</key>
		<string>cula4</string>
		<key>link</key>
		<string>http://www.tg4.ie/en/live/cula4/</string>
		<key>http</key>
		<string>http://www.tg4.ie/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nuacht TG4</string>
		<key>logo</key>
		<string>nuacht</string>
		<key>link</key>
		<string>http://www.tg4.ie/en/live/nuacht-tg4/</string>
		<key>http</key>
		<string>http://www.tg4.ie/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Irish TV</string>
		<key>logo</key>
		<string>irishtv</string>
		<key>link</key>
		<string>http://www.irishtv.ie/broadcast</string>
		<key>http</key>
		<string>http://www.irishtv.ie/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Cork Community TV</string>
		<key>logo</key>
		<string>cork</string>
		<key>link</key>
		<string>http://www.corkcommunitytv.ie/onlinetv.html</string>
		<key>http</key>
		<string>http://www.corkcommunitytv.ie/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Oireachtas Dáil Éireann</string>
		<key>logo</key>
		<string>daileireann</string>
		<key>link</key>
		<string>http://www.oireachtas.ie/parliament/watchlisten/watchlive/daileireann/</string>
		<key>http</key>
		<string>http://www.oireachtas.ie/parliament/watchlisten/watchlive/housesandcommittees/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Oireachtas Seanad Éireann</string>
		<key>logo</key>
		<string>seanadeireann</string>
		<key>link</key>
		<string>http://www.oireachtas.ie/parliament/watchlisten/watchlive/seanadeireann/</string>
		<key>http</key>
		<string>http://www.oireachtas.ie/parliament/watchlisten/watchlive/housesandcommittees/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Oireachtas Committee Room 1</string>
		<key>logo</key>
		<string>committeeroom1</string>
		<key>link</key>
		<string>http://www.oireachtas.ie/parliament/watchlisten/watchlive/committeeroom1/</string>
		<key>http</key>
		<string>http://www.oireachtas.ie/parliament/watchlisten/watchlive/allcommittees/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Oireachtas Committee Room 2</string>
		<key>logo</key>
		<string>committeeroom2</string>
		<key>link</key>
		<string>http://www.oireachtas.ie/parliament/watchlisten/watchlive/committeeroom2/</string>
		<key>http</key>
		<string>http://www.oireachtas.ie/parliament/watchlisten/watchlive/allcommittees/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Oireachtas Committee Room 3</string>
		<key>logo</key>
		<string>committeeroom3</string>
		<key>link</key>
		<string>http://www.oireachtas.ie/parliament/watchlisten/watchlive/committeeroom3/</string>
		<key>http</key>
		<string>http://www.oireachtas.ie/parliament/watchlisten/watchlive/allcommittees/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Oireachtas Committee Room 4</string>
		<key>logo</key>
		<string>committeeroom4</string>
		<key>link</key>
		<string>http://www.oireachtas.ie/parliament/watchlisten/watchlive/committeeroom4/</string>
		<key>http</key>
		<string>http://www.oireachtas.ie/parliament/watchlisten/watchlive/allcommittees/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sky News</string>
		<key>logo</key>
		<string>Sky</string>
		<key>link</key>
		<string>https://www.youtube.com/watch_popup?v=y60wDzZt8yg</string>
		<key>http</key>
		<string>https://www.youtube.com/user/skynews/videos?flow=grid&amp;live_view=501&amp;sort=dd&amp;view=2</string>
	</dict>
</array>
</plist>
