<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Alex TV</string>
		<key>logo</key>
		<string>RT</string>
		<key>link</key>
		<string>https://www.youtube.com/watch_popup?v=_QiRIYWXAE4</string>
		<key>http</key>
		<string>http://alextv.zp.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TG4</string>
		<key>logo</key>
		<string>TG4</string>
		<key>link</key>
		<string>https://www.youtube.com/watch_popup?v=6AW-mmBpZ-8</string>
		<key>http</key>
		<string>https://www.youtube.com/user/TG4/videos</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TV 4</string>
		<key>logo</key>
		<string>cula</string>
		<key>link</key>
		<string>http://tv4.te.ua/onlajn-movlennya/</string>
		<key>http</key>
		<string>http://tv4.te.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Irish TV</string>
		<key>logo</key>
		<string>irishtv</string>
		<key>link</key>
		<string>https://www.youtube.com/watch_popup?v=Ig1JdR06gKU</string>
		<key>http</key>
		<string>https://www.youtube.com/user/wetelltheworld</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nuacht TG4</string>
		<key>logo</key>
		<string>nuacht</string>
		<key>link</key>
		<string>http://www.tg4.ie/en/live/nuacht-tg4/</string>
		<key>http</key>
		<string>http://www.tg4.ie/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Cork Community TV</string>
		<key>logo</key>
		<string>cork</string>
		<key>link</key>
		<string>http://www.corkcommunitytv.ie/onlinetv.html</string>
		<key>http</key>
		<string>http://www.corkcommunitytv.ie/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sky News</string>
		<key>logo</key>
		<string>Sky</string>
		<key>link</key>
		<string>https://www.youtube.com/watch_popup?v=y60wDzZt8yg</string>
		<key>http</key>
		<string>https://www.youtube.com/user/skynews/videos?flow=grid&amp;live_view=501&amp;sort=dd&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Oireachtas Dáil Éireann</string>
		<key>logo</key>
		<string>daileireann</string>
		<key>link</key>
		<string>https://www.youtube.com/watch_popup?v=taWTxNyYD6U</string>
		<key>http</key>
		<string>https://www.youtube.com/user/oireachtasfilm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Oireachtas Seanad Éireann</string>
		<key>logo</key>
		<string>seanadeireann</string>
		<key>link</key>
		<string>https://www.youtube.com/watch_popup?v=qlcD-3WOYhI</string>
		<key>http</key>
		<string>https://www.youtube.com/user/oireachtasfilm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Oireachtas Committee Room 1</string>
		<key>logo</key>
		<string>committeeroom1</string>
		<key>link</key>
		<string>https://www.youtube.com/watch_popup?v=z6YhGzIumxI</string>
		<key>http</key>
		<string>https://www.youtube.com/user/oireachtasfilm</string>
	</dict>
</array>
</plist>
