<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1</string>
		<key>Back</key>
		<string>1</string>
		<key>Banner</key>
		<string>1</string>
		<key>Header</key>
		<string>1</string>
		<key>Footer</key>
		<string>1</string>
		<key>Email</key>
		<string>1</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1</string>
		<key>Developer</key>
		<string>1</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Yeshua ישוע חי</string>
			<key>logo</key>
			<string>Yeshua</string>
			<key>link</key>
			<string>https://www.yeshuachai.tv/</string>
			<key>http</key>
			<string>https://www.yeshuachai.tv/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>כאן 11</string>
			<key>logo</key>
			<string>11</string>
			<key>link</key>
			<string>https://www.kan.org.il/live/tv.aspx?stationid=2</string>
			<key>http</key>
			<string>https://www.kan.org.il</string>
		</dict>
		<dict>
			<key>name</key>
			<string>כאן חינוכית</string>
			<key>logo</key>
			<string>1</string>
			<key>link</key>
			<string>https://www.kan.org.il/live/tv.aspx?stationid=20</string>
			<key>http</key>
			<string>https://www.kan.org.il</string>
		</dict>
		<dict>
			<key>name</key>
			<string>33 | مكان</string>
			<key>logo</key>
			<string>33</string>
			<key>link</key>
			<string>https://www.makan.org.il/live/tv.aspx?stationid=3</string>
			<key>http</key>
			<string>https://www.makan.org.il</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Reshet 13 (13 רשת‎)</string>
			<key>logo</key>
			<string>13</string>
			<key>link</key>
			<string>https://reshet.tv/live/</string>
			<key>http</key>
			<string>https://reshet.tv</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kabbalah (ערוץ הקבלה) Hebrew</string>
			<key>logo</key>
			<string>Kabbalah1</string>
			<key>link</key>
			<string>http://www.kab.tv/heb#/stream</string>
			<key>http</key>
			<string>http://www.kab.tv/eng#/playlist</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kabbalah (ערוץ הקבלה) Русский</string>
			<key>logo</key>
			<string>Kabbalah2</string>
			<key>link</key>
			<string>http://www.kab.tv/rus#/stream</string>
			<key>http</key>
			<string>http://www.kab.tv/eng#/playlist</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sky News</string>
			<key>logo</key>
			<string>Sky</string>
			<key>link</key>
			<string>https://news.sky.com/watch-live</string>
			<key>http</key>
			<string>https://www.youtube.com/user/skynews/videos?flow=list&amp;view=2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bloomberg</string>
			<key>logo</key>
			<string>bloomberg</string>
			<key>link</key>
			<string>https://www.bloomberg.com/live/</string>
			<key>http</key>
			<string>https://www.bloomberg.com/live</string>
		</dict>
	</array>
</dict>
</plist>
