<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Sky TG24 Italia</string>
		<key>logo</key>
		<string>Sky</string>
		<key>link</key>
		<string>http://video.sky.it/news/diretta</string>
		<key>http</key>
		<string>http://video.sky.it/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Rai News 24</string>
		<key>logo</key>
		<string>Rai24</string>
		<key>link</key>
		<string>http://www.rainews.it/dl/rainews/live/ContentItem-3156f2f2-dc70-4953-8e2f-70d7489d4ce9.html</string>
		<key>http</key>
		<string>http://www.raiplay.it/dirette/rainews24</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Rai 1</string>
		<key>logo</key>
		<string>Rai1</string>
		<key>link</key>
		<string>http://www.raiplay.it/dirette/rai1</string>
		<key>http</key>
		<string>http://www.raiplay.it/dirette</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Rai 2</string>
		<key>logo</key>
		<string>Rai2</string>
		<key>link</key>
		<string>http://www.raiplay.it/dirette/rai2</string>
		<key>http</key>
		<string>http://www.raiplay.it/dirette</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Rai 3</string>
		<key>logo</key>
		<string>Rai3</string>
		<key>link</key>
		<string>http://www.raiplay.it/dirette/rai3</string>
		<key>http</key>
		<string>http://www.raiplay.it/dirette</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Rai 4</string>
		<key>logo</key>
		<string>Rai4</string>
		<key>link</key>
		<string>http://www.raiplay.it/dirette/rai4</string>
		<key>http</key>
		<string>http://www.raiplay.it/dirette</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Rai 5</string>
		<key>logo</key>
		<string>Rai5</string>
		<key>link</key>
		<string>http://www.raiplay.it/dirette/rai5</string>
		<key>http</key>
		<string>http://www.raiplay.it/dirette</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RaiSport + HD</string>
		<key>logo</key>
		<string>RaiSportHD</string>
		<key>link</key>
		<string>http://www.raiplay.it/dirette/raisportpiuhd</string>
		<key>http</key>
		<string>http://www.raiplay.it/dirette</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RaiSport</string>
		<key>logo</key>
		<string>RaiSport</string>
		<key>link</key>
		<string>http://www.raiplay.it/dirette/raisport</string>
		<key>http</key>
		<string>http://www.raiplay.it/dirette</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Rai Movie</string>
		<key>logo</key>
		<string>Movie</string>
		<key>link</key>
		<string>http://www.raiplay.it/dirette/raimovie</string>
		<key>http</key>
		<string>http://www.raiplay.it/dirette</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Rai Premium</string>
		<key>logo</key>
		<string>Premium</string>
		<key>link</key>
		<string>http://www.raiplay.it/dirette/raipremium</string>
		<key>http</key>
		<string>http://www.raiplay.it/dirette</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Rai YoYo</string>
		<key>logo</key>
		<string>YoYo</string>
		<key>link</key>
		<string>http://www.raiplay.it/dirette/raiyoyo</string>
		<key>http</key>
		<string>http://www.raiplay.it/dirette</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Rai Gulp</string>
		<key>logo</key>
		<string>Gulp</string>
		<key>link</key>
		<string>http://www.raiplay.it/dirette/raigulp</string>
		<key>http</key>
		<string>http://www.raiplay.it/dirette</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Rai Storia</string>
		<key>logo</key>
		<string>Storia</string>
		<key>link</key>
		<string>http://www.raiplay.it/dirette/raistoria</string>
		<key>http</key>
		<string>http://www.raiplay.it/dirette</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Rai Scuola</string>
		<key>logo</key>
		<string>Scuola</string>
		<key>link</key>
		<string>http://www.raiplay.it/dirette/raiscuola</string>
		<key>http</key>
		<string>http://www.raiplay.it/dirette</string>
	</dict>
	<dict>
		<key>name</key>
		<string>LA7</string>
		<key>logo</key>
		<string>LA7</string>
		<key>link</key>
		<string>http://www.la7.it/dirette-tv</string>
		<key>http</key>
		<string>http://www.la7.it</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TGcom 24</string>
		<key>logo</key>
		<string>TGcom</string>
		<key>link</key>
		<string>http://www.tgcom24.mediaset.it/</string>
		<key>http</key>
		<string>http://www.tgcom24.mediaset.it/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bloomberg TV Europe</string>
		<key>logo</key>
		<string>bloomberg</string>
		<key>link</key>
		<string>https://www.bloomberg.com/live/europe</string>
		<key>http</key>
		<string>https://www.bloomberg.com/live/us</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DI.TV 90</string>
		<key>logo</key>
		<string>90</string>
		<key>link</key>
		<string>http://www.di-tv.net/diretta-streaming/ditv-90/</string>
		<key>http</key>
		<string>http://www.di-tv.net/streaming/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DI.TV 210</string>
		<key>logo</key>
		<string>210</string>
		<key>link</key>
		<string>http://www.di-tv.net/diretta-streaming/ditv-210/</string>
		<key>http</key>
		<string>http://www.di-tv.net/streaming/stream_ditv210.php</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DI.TV Tele 1</string>
		<key>logo</key>
		<string>1</string>
		<key>link</key>
		<string>http://www.di-tv.net/diretta-streaming/ditv-tele1/</string>
		<key>http</key>
		<string>http://www.di-tv.net/streaming/stream_tele1.php</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Lazio TV Roma</string>
		<key>logo</key>
		<string>Roma</string>
		<key>link</key>
		<string>http://www.laziotv.com/LIVE_ROMA.php</string>
		<key>http</key>
		<string>http://www.laziotv.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Lazio TV Frosinone</string>
		<key>logo</key>
		<string>Frosinone</string>
		<key>link</key>
		<string>http://www.laziotv.com/LIVE_FR.php</string>
		<key>http</key>
		<string>http://www.laziotv.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Lazio TV Latina</string>
		<key>logo</key>
		<string>Latina</string>
		<key>link</key>
		<string>http://www.laziotv.com/LIVE_LT.php</string>
		<key>http</key>
		<string>http://www.laziotv.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Quartarete</string>
		<key>logo</key>
		<string>Quartarete1</string>
		<key>link</key>
		<string>http://www.quartarete.tv/streaming/quartarete.html</string>
		<key>http</key>
		<string>http://www.quartarete.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Quartarete Blu</string>
		<key>logo</key>
		<string>Quartarete2</string>
		<key>link</key>
		<string>http://www.quartarete.tv/streaming/quartareteblu.html</string>
		<key>http</key>
		<string>http://www.quartarete.tv</string>
	</dict>
</array>
</plist>
