<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>NHK</string>
		<key>logo</key>
		<string>NHK</string>
		<key>link</key>
		<string>https://www3.nhk.or.jp/nhkworld/en/live/</string>
		<key>http</key>
		<string>https://www3.nhk.or.jp/nhkworld/en/tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SOLiVE24</string>
		<key>logo</key>
		<string>24</string>
		<key>link</key>
		<string>http://weathernews.jp/solive24/</string>
		<key>http</key>
		<string>https://www.youtube.com/user/weathernews</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nikkei</string>
		<key>logo</key>
		<string>Nikkei1</string>
		<key>link</key>
		<string>http://channel.nikkei.co.jp/</string>
		<key>http</key>
		<string>http://www.ustream.tv/channel/nikkei-channel-business</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nikkei Shimbun</string>
		<key>logo</key>
		<string>Nikkei2</string>
		<key>link</key>
		<string>http://www.nikkei.com/video/</string>
		<key>http</key>
		<string>http://www.nikkei.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>FNN</string>
		<key>logo</key>
		<string>FNN</string>
		<key>link</key>
		<string>http://www.fnn-news.com/news/videolist/index.html</string>
		<key>http</key>
		<string>http://www.fnn-news.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Channel JAPAN</string>
		<key>logo</key>
		<string>japan</string>
		<key>link</key>
		<string>http://www.ustream.tv/channel/channeljapan</string>
		<key>http</key>
		<string>http://www.ch-japan.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bloomberg Asia</string>
		<key>logo</key>
		<string>bloomberg</string>
		<key>link</key>
		<string>https://www.bloomberg.com/live/asia</string>
		<key>http</key>
		<string>https://www.bloomberg.com/live/asia_stream</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Shop Channel</string>
		<key>logo</key>
		<string>Shop</string>
		<key>link</key>
		<string>http://www.shopch.jp/RealTimeTVHDShow.do</string>
		<key>http</key>
		<string>http://www.shopch.jp/RealTimeTVPopShow.do?il=header&amp;ic=live</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Japanet DX</string>
		<key>logo</key>
		<string>japanet</string>
		<key>link</key>
		<string>http://www.japanet.co.jp/shopping/</string>
		<key>http</key>
		<string>http://www.japanet.co.jp/shopping/dx/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>QVC</string>
		<key>logo</key>
		<string>QVC</string>
		<key>link</key>
		<string>http://qvc.jp/cont/live/Main?</string>
		<key>http</key>
		<string>https://www.youtube.com/user/QVCJapan/videos?view=2&amp;flow=grid</string>
	</dict>
	<dict>
		<key>name</key>
		<string>GSTV</string>
		<key>logo</key>
		<string>gstv</string>
		<key>link</key>
		<string>https://www.gstv.jp/live_tv.html</string>
		<key>http</key>
		<string>https://www.gstv.jp/</string>
	</dict>
</array>
</plist>
