<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1</string>
		<key>Back</key>
		<string>1</string>
		<key>Banner</key>
		<string>1</string>
		<key>Header</key>
		<string>1</string>
		<key>Footer</key>
		<string>1</string>
		<key>Email</key>
		<string>1</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1</string>
		<key>Developer</key>
		<string>1</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<integer>2</integer>
		<key>DemoMode</key>
		<string>9</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>JRTV الأردني</string>
			<key>logo</key>
			<string>JRTV1</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/jrtv1.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>JRTV الرياضية</string>
			<key>logo</key>
			<string>JRTV2</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/jrtv2.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>JRTV الإذاعة الأردنية</string>
			<key>logo</key>
			<string>JRTV3</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/jrtv3.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>JRTV إذاعة عمان اف ام</string>
			<key>logo</key>
			<string>JRTV4</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/jrtv4.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>JRTV إذاعة القران الكريم</string>
			<key>logo</key>
			<string>JRTV5</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/jrtv5.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Jordan </string>
			<key>logo</key>
			<string>JRTV6</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/jrtv6.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>JRTV التلفزيون الاردني</string>
			<key>logo</key>
			<string>JRTV7</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/jrtv7.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>JRTV إذاعة اربد الكبرى</string>
			<key>logo</key>
			<string>JRTV8</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/jrtv8.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Al Jazeera الجزيرة‎</string>
			<key>logo</key>
			<string>Jazeera</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/jazeera.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Al Jazeera English (الجزيرة الإنجليزية)</string>
			<key>logo</key>
			<string>English</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/jazeera-en.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Aljazeera Mubasher (الجزيرة مباشر‎)</string>
			<key>logo</key>
			<string>Mubasher</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/jazeera-mb.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Al Arabiya العربية‎</string>
			<key>logo</key>
			<string>Arabiya</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/arabiya.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>الحدث Al Hadath</string>
			<key>logo</key>
			<string>Hadath</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/hadath.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sky News Arabia (سكاي نيوز عربية‎)</string>
			<key>logo</key>
			<string>Sky</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/sky-ar.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CNBC Arabia (سي إن بي سي عربية)</string>
			<key>logo</key>
			<string>CNBC</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/cnbc-ar.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC Arabic (بي بي سي عربي)</string>
			<key>logo</key>
			<string>BBC</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/bbc-ar.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>euronews عــربي</string>
			<key>logo</key>
			<string>euronews</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/euronews-ar.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RT Arabic</string>
			<key>logo</key>
			<string>RT</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/rt-ar.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CGTN Arabic سي جي تي أن العربية‎‎</string>
			<key>logo</key>
			<string>CGTN</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/cgtn.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Noursat Jordan</string>
			<key>logo</key>
			<string>Jordan</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/noursat1.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nour SPIRIT</string>
			<key>logo</key>
			<string>SPIRIT</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/noursat2.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nour MARIAM</string>
			<key>logo</key>
			<string>MARIAM</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/noursat3.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nour MUSIC</string>
			<key>logo</key>
			<string>MUSIC</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/noursat4.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nour Al Koddass</string>
			<key>logo</key>
			<string>Koddass</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/noursat5.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nour Al Sharq</string>
			<key>logo</key>
			<string>Sharq</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/noursat6.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nour Al Shabab</string>
			<key>logo</key>
			<string>Shabab</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/noursat7.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nour Sat</string>
			<key>logo</key>
			<string>Nour</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/noursat8.mp4</string>
		</dict>
	</array>
</dict>
</plist>
