<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>KTK</string>
		<key>logo</key>
		<string>ktk</string>
		<key>link</key>
		<string>https://www.youtube.com/watch_popup?v=oCI1gygpIIE</string>
		<key>http</key>
		<string>https://www.youtube.com/channel/UCQxUvWxOX76kuq8genFms4A</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Қазақстан</string>
		<key>logo</key>
		<string>kaztrk</string>
		<key>link</key>
		<string>https://www.youtube.com/watch_popup?v=v4_GLH6pW1M</string>
		<key>http</key>
		<string>https://www.youtube.com/user/NTKKazakhstan</string>
	</dict>
	<dict>
		<key>name</key>
		<string>KAZSPORT</string>
		<key>logo</key>
		<string>kazsport</string>
		<key>link</key>
		<string>https://www.youtube.com/watch_popup?v=F-sQU4cyB-4</string>
		<key>http</key>
		<string>https://www.youtube.com/channel/UC5H6wThXeNmhScP-eJgyDQA</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Балапан</string>
		<key>logo</key>
		<string>balapan</string>
		<key>link</key>
		<string>https://www.youtube.com/watch_popup?v=4BznzOlaEc0</string>
		<key>http</key>
		<string>https://www.youtube.com/user/balapantv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>24 kz</string>
		<key>logo</key>
		<string>kz24</string>
		<key>link</key>
		<string>https://www.youtube.com/watch_popup?v=oWrIGz7Kf_g</string>
		<key>http</key>
		<string>https://www.youtube.com/channel/UCnAFKvDuqBGkIfV8Vn0J_CQ</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Хабар ТВ</string>
		<key>logo</key>
		<string>khabar</string>
		<key>link</key>
		<string>https://www.youtube.com/watch_popup?v=tauxhsy8h30</string>
		<key>http</key>
		<string>https://www.youtube.com/user/KhabarKZ</string>
	</dict>
	<dict>
		<key>name</key>
		<string>7 Channel</string>
		<key>logo</key>
		<string>7</string>
		<key>link</key>
		<string>https://www.youtube.com/watch_popup?v=4N77xY9O3mw</string>
		<key>http</key>
		<string>https://www.youtube.com/channel/UCK08g3UxjnEmHjF1BdvQkrw</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Новое телевидение</string>
		<key>logo</key>
		<string>novoe</string>
		<key>link</key>
		<string>https://www.youtube.com/watch_popup?v=WS0CrS4UP4Y</string>
		<key>http</key>
		<string>https://www.youtube.com/channel/UCBbPXc3JeL8qKvCUWX3_CrA</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Gakku</string>
		<key>logo</key>
		<string>gakku</string>
		<key>link</key>
		<string>https://www.youtube.com/watch_popup?v=jEk7Lc-e2QI</string>
		<key>http</key>
		<string>https://www.youtube.com/user/gakkutv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hit TV</string>
		<key>logo</key>
		<string>hittv</string>
		<key>link</key>
		<string>https://www.youtube.com/watch_popup?v=w_GkLgyZxkA</string>
		<key>http</key>
		<string>https://www.youtube.com/channel/UCEjEyywEtKppDDHrEyRe0PQ</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ТУРАН</string>
		<key>logo</key>
		<string>turantv</string>
		<key>link</key>
		<string>https://www.youtube.com/watch_popup?v=YKkTs7zK_lE</string>
		<key>http</key>
		<string>https://www.youtube.com/channel/UCHKzDycKHPnPNFTbmNSt-Mw</string>
	</dict>
</array>
</plist>
