<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Bloomberg TV Europe</string>
		<key>logo</key>
		<string>bloomberg</string>
		<key>link</key>
		<string>https://www.bloomberg.com/live/europe</string>
		<key>http</key>
		<string>https://www.bloomberg.com/live/us</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Euronews</string>
		<key>logo</key>
		<string>Euronews</string>
		<key>link</key>
		<string>http://de.euronews.com/live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/euronewsfr/videos?live_view=501&amp;flow=grid&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sky News Europa</string>
		<key>logo</key>
		<string>Sky</string>
		<key>link</key>
		<string>https://news.sky.com/watch-live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/skynews/videos?flow=list&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CHEK</string>
		<key>logo</key>
		<string>Re</string>
		<key>link</key>
		<string>http://www.cheknews.ca/live-news-british-columbia</string>
		<key>http</key>
		<string>http://www.cheknews.ca/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CPAC English</string>
		<key>logo</key>
		<string>LTV1</string>
		<key>link</key>
		<string>https://www.youtube.com/watch_popup?v=N1jpakWbrT8</string>
		<key>http</key>
		<string>http://www.cpac.ca/en/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CPAC Latvia</string>
		<key>logo</key>
		<string>LTV7</string>
		<key>link</key>
		<string>https://www.youtube.com/watch_popup?v=Y5rc5ukFWz4</string>
		<key>http</key>
		<string>http://www.cpac.ca/fr/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mabi TV</string>
		<key>logo</key>
		<string>EbS</string>
		<key>link</key>
		<string>https://www.youtube.com/watch_popup?v=wkBbbbPfFRQ</string>
		<key>http</key>
		<string>https://www.youtube.com/channel/UCC1LyPxWz4t2PGfIr2ETwPw/videos?view=2&amp;live_view=501&amp;flow=grid</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Channels Television</string>
		<key>logo</key>
		<string>1</string>
		<key>link</key>
		<string>https://www.youtube.com/watch_popup?v=ANM-dq5USTc</string>
		<key>http</key>
		<string>https://www.youtube.com/user/channelsweb/videos?live_view=501&amp;flow=grid&amp;view=2</string>
	</dict>
</array>
</plist>
