<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>News</string>
		<key>icon</key>
		<string>white-news-64</string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>Голос Карпат</string>
				<key>icon</key>
				<string>GolosKarpat-Icon</string>
				<key>picture</key>
				<string>GK</string>
				<key>description</key>
				<string>Програма для перегляду новин інформаційного порталу `Голос Карпат`.\n\nГолос Карпат – закарпатське інформаційне суспільно-політичне інтернет-видання, засноване у 2011р.. Входить до мультимедійного медіахолдингу `Голос Карпат`.\n\nНаше завдання - надавати оперативні, достовірні та ексклюзивні новини Закарпатської області, висвітлювати різні точки зору.\n\nНаша ідея – бути інформаційним рупором, виразником інтересів людей, що проживають у єврокарпатському регіоні, стояти на захисті свободи слова, думки і вибору.\n\nМи працюємо відкрито і відповідально.</string>
				<key>languages</key>
				<string>UA</string>
				<key>link</key>
				<string>http://itunes.apple.com/app/id1028800534</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>News</string>
		<key>icon</key>
		<string>white-news-64</string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string></string>
				<key>icon</key>
				<string></string>
				<key>picture</key>
				<string></string>
				<key>description</key>
				<string></string>
				<key>languages</key>
				<string></string>
				<key>link</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>News</string>
		<key>icon</key>
		<string>white-news-64</string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string></string>
				<key>icon</key>
				<string></string>
				<key>picture</key>
				<string></string>
				<key>description</key>
				<string></string>
				<key>languages</key>
				<string></string>
				<key>link</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>News</string>
		<key>icon</key>
		<string>white-news-64</string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string></string>
				<key>icon</key>
				<string></string>
				<key>picture</key>
				<string></string>
				<key>description</key>
				<string></string>
				<key>languages</key>
				<string></string>
				<key>link</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>News</string>
		<key>icon</key>
		<string>white-news-64</string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string></string>
				<key>icon</key>
				<string></string>
				<key>picture</key>
				<string></string>
				<key>description</key>
				<string></string>
				<key>languages</key>
				<string></string>
				<key>link</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>News</string>
		<key>icon</key>
		<string>white-news-64</string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string></string>
				<key>icon</key>
				<string></string>
				<key>picture</key>
				<string></string>
				<key>description</key>
				<string></string>
				<key>languages</key>
				<string></string>
				<key>link</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>News</string>
		<key>icon</key>
		<string>white-news-64</string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string></string>
				<key>icon</key>
				<string></string>
				<key>picture</key>
				<string></string>
				<key>description</key>
				<string></string>
				<key>languages</key>
				<string></string>
				<key>link</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>News</string>
		<key>icon</key>
		<string>white-news-64</string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string></string>
				<key>icon</key>
				<string></string>
				<key>picture</key>
				<string></string>
				<key>description</key>
				<string></string>
				<key>languages</key>
				<string></string>
				<key>link</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>News</string>
		<key>icon</key>
		<string>white-news-64</string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string></string>
				<key>icon</key>
				<string></string>
				<key>picture</key>
				<string></string>
				<key>description</key>
				<string></string>
				<key>languages</key>
				<string></string>
				<key>link</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>News</string>
		<key>icon</key>
		<string>white-news-64</string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string></string>
				<key>icon</key>
				<string></string>
				<key>picture</key>
				<string></string>
				<key>description</key>
				<string></string>
				<key>languages</key>
				<string></string>
				<key>link</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>News</string>
		<key>icon</key>
		<string>white-news-64</string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string></string>
				<key>icon</key>
				<string></string>
				<key>picture</key>
				<string></string>
				<key>description</key>
				<string></string>
				<key>languages</key>
				<string></string>
				<key>link</key>
				<string></string>
			</dict>
		</array>
	</dict>
</array>
</plist>
