<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Milenio</string>
		<key>logo</key>
		<string>Milenio</string>
		<key>link</key>
		<string>http://tv.milenio.com/</string>
		<key>http</key>
		<string>http://tv.milenio.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Azteca</string>
		<key>logo</key>
		<string>Azteca</string>
		<key>link</key>
		<string>http://www.azteca.com.hn/envivo.html</string>
		<key>http</key>
		<string>http://www.azteca.com.hn</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Multimedios Monterrey</string>
		<key>logo</key>
		<string>Monterrey</string>
		<key>link</key>
		<string>http://www.multimedios.com/tv/envivo/monterrey</string>
		<key>http</key>
		<string>http://www.multimedios.com/tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Multimedios Torreón</string>
		<key>logo</key>
		<string>Torreon</string>
		<key>link</key>
		<string>http://www.multimedios.com/tv/envivo/torreon</string>
		<key>http</key>
		<string>http://www.multimedios.com/tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ingenio</string>
		<key>logo</key>
		<string>Ingenio</string>
		<key>link</key>
		<string>http://www.televisioneducativa.gob.mx/canales/ingeniotv</string>
		<key>http</key>
		<string>http://www.televisioneducativa.gob.mx</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Telesecundaria</string>
		<key>logo</key>
		<string>Telesecundaria</string>
		<key>link</key>
		<string>http://www.televisioneducativa.gob.mx/canales/telesecundaria</string>
		<key>http</key>
		<string>http://www.televisioneducativa.gob.mx</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Telesecundaria +</string>
		<key>logo</key>
		<string>Telesecundari</string>
		<key>link</key>
		<string>http://www.televisioneducativa.gob.mx/canales/telesec</string>
		<key>http</key>
		<string>http://www.televisioneducativa.gob.mx</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Telebachillerato</string>
		<key>logo</key>
		<string>Telebachillerato</string>
		<key>link</key>
		<string>http://www.televisioneducativa.gob.mx/canales/telebachillerato</string>
		<key>http</key>
		<string>http://www.televisioneducativa.gob.mx</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Docencia</string>
		<key>logo</key>
		<string>Docencia</string>
		<key>link</key>
		<string>http://www.televisioneducativa.gob.mx/canales/tv-docencia</string>
		<key>http</key>
		<string>http://www.televisioneducativa.gob.mx</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Info 7 Nuevo León</string>
		<key>logo</key>
		<string>Nuevo</string>
		<key>link</key>
		<string>http://www.info7.mx/multimedia/tv/nuevoleon/</string>
		<key>http</key>
		<string>http://www.info7.mx/multimedia/tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Info 7 Tamaulipas</string>
		<key>logo</key>
		<string>Tamaulipas</string>
		<key>link</key>
		<string>http://www.info7.mx/multimedia/tv/tamaulipas</string>
		<key>http</key>
		<string>http://www.info7.mx/multimedia/tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Info 7 Coahuila</string>
		<key>logo</key>
		<string>Coahuila</string>
		<key>link</key>
		<string>http://www.info7.mx/multimedia/tv/coahuila</string>
		<key>http</key>
		<string>http://www.info7.mx/multimedia/tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TVCuatro 4.1</string>
		<key>logo</key>
		<string>1</string>
		<key>link</key>
		<string>https://www.tvcuatro.com/enlinea/4-1/</string>
		<key>http</key>
		<string>https://www.tvcuatro.com/enlinea/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TVCuatro 4.2</string>
		<key>logo</key>
		<string>2</string>
		<key>link</key>
		<string>https://www.tvcuatro.com/enlinea/4-2/</string>
		<key>http</key>
		<string>https://www.tvcuatro.com/enlinea/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TVCuatro 4.3</string>
		<key>logo</key>
		<string>3</string>
		<key>link</key>
		<string>https://www.tvcuatro.com/enlinea/4-3/</string>
		<key>http</key>
		<string>https://www.tvcuatro.com/enlinea/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TVP Culiacán</string>
		<key>logo</key>
		<string>Culiacan</string>
		<key>link</key>
		<string>http://www.tvpacifico.com.mx/tvenlinea/culiacan</string>
		<key>http</key>
		<string>http://tvpacifico.mx/tvenlinea</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TVP Mazatlán</string>
		<key>logo</key>
		<string>Mazatlan</string>
		<key>link</key>
		<string>http://www.tvpacifico.com.mx/tvenlinea/mazatlan</string>
		<key>http</key>
		<string>http://tvpacifico.mx/tvenlinea</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TVP Los Mochis</string>
		<key>logo</key>
		<string>Mochis</string>
		<key>link</key>
		<string>http://tvpacifico.mx/tvenlinea/mochis</string>
		<key>http</key>
		<string>http://tvpacifico.mx/tvenlinea</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TVP Obregón</string>
		<key>logo</key>
		<string>Obregon</string>
		<key>link</key>
		<string>http://tvpacifico.mx/tvenlinea/obregon</string>
		<key>http</key>
		<string>http://tvpacifico.mx/tvenlinea</string>
	</dict>
</array>
</plist>
