<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>7397650005</string>
		<key>Back</key>
		<string>6249161819</string>
		<key>Banner</key>
		<string>5154630045</string>
		<key>Header</key>
		<string>4744508459</string>
		<key>Footer</key>
		<string>6795956729</string>
		<key>Email</key>
		<string>ios.apps.community@gmail.com</string>
		<key>Alternative</key>
		<string>1447101143</string>
		<key>Application</key>
		<string>1426656180</string>
		<key>Developer</key>
		<string>1360678770</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Milenio</string>
			<key>logo</key>
			<string>Milenio</string>
			<key>link</key>
			<string>http://tv.milenio.com/</string>
			<key>http</key>
			<string>http://tv.milenio.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Azteca</string>
			<key>logo</key>
			<string>Azteca</string>
			<key>link</key>
			<string>http://www.azteca.com.hn/envivo.html</string>
			<key>http</key>
			<string>http://www.azteca.com.hn</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Azteca Uno</string>
			<key>logo</key>
			<string>Uno</string>
			<key>link</key>
			<string>http://www.aztecauno.com/todounshow/envivo/envivo/index/1038</string>
			<key>http</key>
			<string>http://www.aztecauno.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Excélsior</string>
			<key>logo</key>
			<string>Excelsior</string>
			<key>link</key>
			<string>http://www.excelsior.com.mx/tv</string>
			<key>http</key>
			<string>http://www.excelsior.com.mx</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Efekto</string>
			<key>logo</key>
			<string>Efekto</string>
			<key>link</key>
			<string>http://www.efekto.tv/</string>
			<key>http</key>
			<string>http://www.efekto.tv/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>5 MONDE</string>
			<key>logo</key>
			<string>MONDE</string>
			<key>link</key>
			<string>http://live.tv5monde.com/fbs.html?</string>
			<key>http</key>
			<string>http://www.tv5monde.com/reception/lg-es/amerique-latine/140/MEXICO</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Foro</string>
			<key>logo</key>
			<string>Foro</string>
			<key>link</key>
			<string>http://noticieros.televisa.com/programas/</string>
			<key>http</key>
			<string>http://noticieros.televisa.com/foro-tv/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Imagen</string>
			<key>logo</key>
			<string>Imagen</string>
			<key>link</key>
			<string>http://www.imagentv.com/en-vivo</string>
			<key>http</key>
			<string>https://www.youtube.com/channel/UCl5JKSQsl-_WSU1rz7_BCJA/videos?view=2&amp;flow=grid&amp;live_view=501</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Las Estrellas</string>
			<key>logo</key>
			<string>Estrellas</string>
			<key>link</key>
			<string>https://www.lasestrellas.tv/en-vivo</string>
			<key>http</key>
			<string>https://www.lasestrellas.tv</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Multimedios Monterrey</string>
			<key>logo</key>
			<string>Monterrey</string>
			<key>link</key>
			<string>http://www.multimedios.com/tv/envivo/monterrey</string>
			<key>http</key>
			<string>http://www.multimedios.com/tv</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Multimedios Torreón</string>
			<key>logo</key>
			<string>Torreon</string>
			<key>link</key>
			<string>http://www.multimedios.com/tv/envivo/torreon</string>
			<key>http</key>
			<string>http://www.multimedios.com/tv</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Teleritmo</string>
			<key>logo</key>
			<string>Teleritmo</string>
			<key>link</key>
			<string>http://www.multimedios.com/tv/envivo/teleritmo</string>
			<key>http</key>
			<string>http://www.multimedios.com/tv</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TeleFórmula</string>
			<key>logo</key>
			<string>TeleFormula</string>
			<key>link</key>
			<string>http://www.radioformula.com.mx/estaciones.asp?idEs=tele&amp;iPos=2</string>
			<key>http</key>
			<string>http://www.radioformula.com.mx</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tuxpan</string>
			<key>logo</key>
			<string>Tuxpan</string>
			<key>link</key>
			<string>http://www.tuxpantv.com/</string>
			<key>http</key>
			<string>http://50.7.98.234:1935/rtv/videortv/playlist.m3u8</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Canal del Congreso</string>
			<key>logo</key>
			<string>Congreso</string>
			<key>link</key>
			<string>http://www.canaldelcongreso.gob.mx/</string>
			<key>http</key>
			<string>http://www.canaldelcongreso.gob.mx/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cámara de Diputados</string>
			<key>logo</key>
			<string>Diputados</string>
			<key>link</key>
			<string>http://www.diputados.gob.mx/sesiones/camara/</string>
			<key>http</key>
			<string>http://www.diputados.gob.mx</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Judicial</string>
			<key>logo</key>
			<string>Judicial</string>
			<key>link</key>
			<string>https://www.scjn.gob.mx/transmision-en-vivo</string>
			<key>http</key>
			<string>https://www.supremacorte.gob.mx/transmision-en-vivo</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Once</string>
			<key>logo</key>
			<string>Once</string>
			<key>link</key>
			<string>http://www.oncetvmexicolive.tv/internacional/</string>
			<key>http</key>
			<string>http://www.canaloncelive.tv/internacional/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ingenio</string>
			<key>logo</key>
			<string>Ingenio</string>
			<key>link</key>
			<string>http://www.televisioneducativa.gob.mx/canales/ingeniotv</string>
			<key>http</key>
			<string>http://www.televisioneducativa.gob.mx</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Telesecundaria</string>
			<key>logo</key>
			<string>Telesecundaria</string>
			<key>link</key>
			<string>http://www.televisioneducativa.gob.mx/canales/telesecundaria</string>
			<key>http</key>
			<string>http://www.televisioneducativa.gob.mx</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Telesecundaria +</string>
			<key>logo</key>
			<string>Telesecundari</string>
			<key>link</key>
			<string>http://www.televisioneducativa.gob.mx/canales/telesec</string>
			<key>http</key>
			<string>http://www.televisioneducativa.gob.mx</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Telebachillerato</string>
			<key>logo</key>
			<string>Telebachillerato</string>
			<key>link</key>
			<string>http://www.televisioneducativa.gob.mx/canales/telebachillerato</string>
			<key>http</key>
			<string>http://www.televisioneducativa.gob.mx</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Docencia</string>
			<key>logo</key>
			<string>Docencia</string>
			<key>link</key>
			<string>http://www.televisioneducativa.gob.mx/canales/tv-docencia</string>
			<key>http</key>
			<string>http://www.televisioneducativa.gob.mx</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Una Voz Con Todos</string>
			<key>logo</key>
			<string>Una</string>
			<key>link</key>
			<string>http://www.unavozcontodos.mx/?c=EnLinea&amp;p=linea&amp;a=Index</string>
			<key>http</key>
			<string>http://www.unavozcontodos.mx</string>
		</dict>
		<dict>
			<key>name</key>
			<string>UNAM</string>
			<key>logo</key>
			<string>UNAM</string>
			<key>link</key>
			<string>http://tv.unam.mx/en-vivo/</string>
			<key>http</key>
			<string>http://tv.unam.mx</string>
		</dict>
		<dict>
			<key>name</key>
			<string>UDG Canal 44</string>
			<key>logo</key>
			<string>44</string>
			<key>link</key>
			<string>http://udgtv.com/canal44/</string>
			<key>http</key>
			<string>http://udgtv.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>UDG 44 Noticias</string>
			<key>logo</key>
			<string>UDG</string>
			<key>link</key>
			<string>http://udgtv.com/44noticias/</string>
			<key>http</key>
			<string>http://udgtv.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Green</string>
			<key>logo</key>
			<string>Green</string>
			<key>link</key>
			<string>http://www.greentv.com.mx/</string>
			<key>http</key>
			<string>http://www.greentv.com.mx/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>México Travel</string>
			<key>logo</key>
			<string>Travel</string>
			<key>link</key>
			<string>http://www.mexicotravelchannel.com.mx/</string>
			<key>http</key>
			<string>http://www.mexicotravelchannel.com.mx/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>PDV</string>
			<key>logo</key>
			<string>PDV</string>
			<key>link</key>
			<string>http://www.pdvtv.org/</string>
			<key>http</key>
			<string>http://cdn.rbm.tv/rightbrainmedia-live28/_definst_/mp4:Livetest/playlist.m3u8</string>
		</dict>
		<dict>
			<key>name</key>
			<string>María Visión</string>
			<key>logo</key>
			<string>Maria</string>
			<key>link</key>
			<string>http://www.mariavision.com/senal_en_vivo.php</string>
			<key>http</key>
			<string>http://www.mariavision.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Aguascalientes</string>
			<key>logo</key>
			<string>Aguascalientes</string>
			<key>link</key>
			<string>http://original.livestream.com/aguascalientes</string>
			<key>http</key>
			<string>http://www.aguascalientes.gob.mx/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>PSN - Primer Sistema de Noticias</string>
			<key>logo</key>
			<string>PSN</string>
			<key>link</key>
			<string>http://psn.si/</string>
			<key>http</key>
			<string>https://www.youtube.com/user/psntv1/videos?view=2&amp;live_view=501&amp;flow=grid</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Canal 66</string>
			<key>logo</key>
			<string>66</string>
			<key>link</key>
			<string>http://www.canal66.tv/envivo/</string>
			<key>http</key>
			<string>http://www.canal66.tv</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Telemar Campeche</string>
			<key>logo</key>
			<string>Telemar</string>
			<key>link</key>
			<string>http://telemarcampeche.com/transmision-en-vivo/</string>
			<key>http</key>
			<string>http://telemarcampeche.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Canal 10 Chiapas</string>
			<key>logo</key>
			<string>Chiapas</string>
			<key>link</key>
			<string>http://www.radiotvycine.chiapas.gob.mx/Television/tv-en-linea.html</string>
			<key>http</key>
			<string>http://www.radiotvycine.chiapas.gob.mx</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Canal 44

</string>
			<key>logo</key>
			<string>Canal</string>
			<key>link</key>
			<string>http://canal44.com/en-vivo/</string>
			<key>http</key>
			<string>http://canal44.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Canal 28</string>
			<key>logo</key>
			<string>28</string>
			<key>link</key>
			<string>http://canal28.tv/evento-en-vivo/</string>
			<key>http</key>
			<string>http://canal28.tv</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Canal 5 Televisión</string>
			<key>logo</key>
			<string>5</string>
			<key>link</key>
			<string>http://www.nsmedios.com/players/telesistemas/canal5/1/</string>
			<key>http</key>
			<string>http://cincotv.com/v2/5tv-en-vivo/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RCG 1</string>
			<key>logo</key>
			<string>RCG1</string>
			<key>link</key>
			<string>http://www.rcg.com.mx/rcg-tv-1/</string>
			<key>http</key>
			<string>http://www.rcg.com.mx/en-vivo/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RCG 2</string>
			<key>logo</key>
			<string>RCG2</string>
			<key>link</key>
			<string>http://www.rcg.com.mx/rcg-tv-2/</string>
			<key>http</key>
			<string>http://www.rcg.com.mx/en-vivo/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RCG 3</string>
			<key>logo</key>
			<string>RCG3</string>
			<key>link</key>
			<string>http://www.rcg.com.mx/rcg-tv-3-2/</string>
			<key>http</key>
			<string>http://www.rcg.com.mx/en-vivo/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Info 7 Nuevo León</string>
			<key>logo</key>
			<string>Nuevo</string>
			<key>link</key>
			<string>http://www.info7.mx/multimedia/tv/nuevoleon/</string>
			<key>http</key>
			<string>http://www.info7.mx/multimedia/tv</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Info 7 Tamaulipas</string>
			<key>logo</key>
			<string>Tamaulipas</string>
			<key>link</key>
			<string>http://www.info7.mx/multimedia/tv/tamaulipas</string>
			<key>http</key>
			<string>http://www.info7.mx/multimedia/tv</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Info 7 Coahuila</string>
			<key>logo</key>
			<string>Coahuila</string>
			<key>link</key>
			<string>http://www.info7.mx/multimedia/tv/coahuila</string>
			<key>http</key>
			<string>http://www.info7.mx/multimedia/tv</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TVCuatro 4.1</string>
			<key>logo</key>
			<string>1</string>
			<key>link</key>
			<string>https://www.tvcuatro.com/enlinea/4-1/</string>
			<key>http</key>
			<string>https://www.tvcuatro.com/enlinea/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TVCuatro 4.2</string>
			<key>logo</key>
			<string>2</string>
			<key>link</key>
			<string>https://www.tvcuatro.com/enlinea/4-2/</string>
			<key>http</key>
			<string>https://www.tvcuatro.com/enlinea/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TVCuatro 4.3</string>
			<key>logo</key>
			<string>3</string>
			<key>link</key>
			<string>https://www.tvcuatro.com/enlinea/4-3/</string>
			<key>http</key>
			<string>https://www.tvcuatro.com/enlinea/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ocho</string>
			<key>logo</key>
			<string>Ocho</string>
			<key>link</key>
			<string>http://www.ochotv.com/</string>
			<key>http</key>
			<string>http://www.ochotv.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RTG Guerrero</string>
			<key>logo</key>
			<string>RTG</string>
			<key>link</key>
			<string>http://rtvgro.net/inicio/television-en-vivo/</string>
			<key>http</key>
			<string>http://rtvgro.net/inicio/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>C7 Jalisco 17.1</string>
			<key>logo</key>
			<string>C7</string>
			<key>link</key>
			<string>http://c7jalisco.com/?q=se%C3%B1al-en-vivo-171</string>
			<key>http</key>
			<string>http://c7jalisco.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>C7 Jalisco 17.2</string>
			<key>logo</key>
			<string>Jalisco</string>
			<key>link</key>
			<string>http://c7jalisco.com/?q=se%C3%B1al-en-vivo-172</string>
			<key>http</key>
			<string>http://c7jalisco.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mexiquense</string>
			<key>logo</key>
			<string>Mexiquense</string>
			<key>link</key>
			<string>http://www.radioytvmexiquense.mx/</string>
			<key>http</key>
			<string>http://www.radioytvmexiquense.mx/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>C7 Michoacán (Canal Siete Uruapan)</string>
			<key>logo</key>
			<string>Uruapan</string>
			<key>link</key>
			<string>http://www.csiete.net/live/</string>
			<key>http</key>
			<string>http://www.csiete.net</string>
		</dict>
		<dict>
			<key>name</key>
			<string>SMRTV</string>
			<key>logo</key>
			<string>SMRTV</string>
			<key>link</key>
			<string>http://www.sistemamichoacano.tv/tv</string>
			<key>http</key>
			<string>http://www.ustream.tv/channel/sistema-michoacano/pop-out</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tele Ronda</string>
			<key>logo</key>
			<string>Ronda</string>
			<key>link</key>
			<string>http://www.tvronda.tv/</string>
			<key>http</key>
			<string>http://www.ustream.tv/channel/webtv-ronda/pop-out</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MVM</string>
			<key>logo</key>
			<string>MVM</string>
			<key>link</key>
			<string>http://www.mvmtelevision.com/</string>
			<key>http</key>
			<string>http://www.mvmtelevision.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Puebla</string>
			<key>logo</key>
			<string>Puebla</string>
			<key>link</key>
			<string>http://www.puebla.mx/</string>
			<key>http</key>
			<string>http://www.puebla.mx/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Canal 10</string>
			<key>logo</key>
			<string>10</string>
			<key>link</key>
			<string>http://www.canal10.tv/</string>
			<key>http</key>
			<string>http://www.canal10.tv/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Visión 10</string>
			<key>logo</key>
			<string>Vision</string>
			<key>link</key>
			<string>http://www.cablecom.com.mx/vivo_san_luis.html</string>
			<key>http</key>
			<string>http://www.cablecom.com.mx</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TVP Culiacán</string>
			<key>logo</key>
			<string>Culiacan</string>
			<key>link</key>
			<string>http://www.tvpacifico.com.mx/tvenlinea/culiacan</string>
			<key>http</key>
			<string>http://tvpacifico.mx/tvenlinea</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TVP Mazatlán</string>
			<key>logo</key>
			<string>Mazatlan</string>
			<key>link</key>
			<string>http://www.tvpacifico.com.mx/tvenlinea/mazatlan</string>
			<key>http</key>
			<string>http://tvpacifico.mx/tvenlinea</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TVP Los Mochis</string>
			<key>logo</key>
			<string>Mochis</string>
			<key>link</key>
			<string>http://tvpacifico.mx/tvenlinea/mochis</string>
			<key>http</key>
			<string>http://tvpacifico.mx/tvenlinea</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TVP Obregón</string>
			<key>logo</key>
			<string>Obregon</string>
			<key>link</key>
			<string>http://tvpacifico.mx/tvenlinea/obregon</string>
			<key>http</key>
			<string>http://tvpacifico.mx/tvenlinea</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Telemax</string>
			<key>logo</key>
			<string>Telemax</string>
			<key>link</key>
			<string>http://www.telemax.com.mx/telemaxenvivo</string>
			<key>http</key>
			<string>http://www.telemax.com.mx/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tabasqueña</string>
			<key>logo</key>
			<string>Tabasquena</string>
			<key>link</key>
			<string>http://www.tvt.mx/</string>
			<key>http</key>
			<string>http://www.tvt.mx/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tabasco Hoy</string>
			<key>logo</key>
			<string>Tabasco</string>
			<key>link</key>
			<string>https://tabascohoy.tv/</string>
			<key>http</key>
			<string>http://www.ustream.tv/channel/tabascohoytv/pop-out</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TVMÁS</string>
			<key>logo</key>
			<string>TVMAS</string>
			<key>link</key>
			<string>http://www.tvmas.mx/</string>
			<key>http</key>
			<string>http://www.tvmas.mx/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ecovisión Canal 27</string>
			<key>logo</key>
			<string>27</string>
			<key>link</key>
			<string>http://www.ecovision27tv.com/en-vivo.html</string>
			<key>http</key>
			<string>http://www.ustream.tv/channel/ecovision-canal-27/pop-out</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ondamex</string>
			<key>logo</key>
			<string>Ondamex</string>
			<key>link</key>
			<string>http://ondamex.com/tarot-en-directo.htm</string>
			<key>http</key>
			<string>http://ondamex.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Córdoba Internacional</string>
			<key>logo</key>
			<string>Cordoba</string>
			<key>link</key>
			<string>http://www.cordobainternacional.com/</string>
			<key>http</key>
			<string>http://www.cordobainternacional.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Vida</string>
			<key>logo</key>
			<string>Vida</string>
			<key>link</key>
			<string>http://vidartv.com/index.php/ve-television-vida.html</string>
			<key>http</key>
			<string>http://vidartv.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Solidaria</string>
			<key>logo</key>
			<string>Solidaria</string>
			<key>link</key>
			<string>http://es.solidariatv.com/en-vivo</string>
			<key>http</key>
			<string>http://es.solidariatv.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Iglesia Samaria</string>
			<key>logo</key>
			<string>Samaria</string>
			<key>link</key>
			<string>http://www.iglesiasamaria.org/television-cristiana-canal-cristiano-en-vivo.html</string>
			<key>http</key>
			<string>http://www.iglesiasamaria.org/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cetelmon</string>
			<key>logo</key>
			<string>Cetelmon</string>
			<key>link</key>
			<string>http://www.cetelmon.tv/Internet.html</string>
			<key>http</key>
			<string>http://www.cetelmon.tv/</string>
		</dict>
	</array>
</dict>
</plist>
