<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1</string>
		<key>Back</key>
		<string>2</string>
		<key>Banner</key>
		<string>4589664040</string>
		<key>Header</key>
		<string>1</string>
		<key>Footer</key>
		<string>1</string>
		<key>Email</key>
		<string>world.app.community@gmail.com</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1</string>
		<key>Developer</key>
		<string>1</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Milenio</string>
			<key>logo</key>
			<string>Milenio</string>
			<key>link</key>
			<string>http://tv.milenio.com/</string>
			<key>http</key>
			<string>http://tv.milenio.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Azteca</string>
			<key>logo</key>
			<string>Azteca</string>
			<key>link</key>
			<string>http://www.azteca.com.hn/envivo.html</string>
			<key>http</key>
			<string>http://www.azteca.com.hn</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Excélsior</string>
			<key>logo</key>
			<string>Excelsior</string>
			<key>link</key>
			<string>http://www.excelsior.com.mx/tv</string>
			<key>http</key>
			<string>http://www.excelsior.com.mx</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Foro</string>
			<key>logo</key>
			<string>Foro</string>
			<key>link</key>
			<string>http://noticieros.televisa.com/programas/</string>
			<key>http</key>
			<string>http://noticieros.televisa.com/foro-tv/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Azteca Uno</string>
			<key>logo</key>
			<string>Uno</string>
			<key>link</key>
			<string>http://www.aztecauno.com/todounshow/envivo/envivo/index/1038</string>
			<key>http</key>
			<string>http://www.aztecauno.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Multimedios Monterrey</string>
			<key>logo</key>
			<string>Monterrey</string>
			<key>link</key>
			<string>http://www.multimedios.com/tv/envivo/monterrey</string>
			<key>http</key>
			<string>http://www.multimedios.com/tv</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Multimedios Torreón</string>
			<key>logo</key>
			<string>Torreon</string>
			<key>link</key>
			<string>http://www.multimedios.com/tv/envivo/torreon</string>
			<key>http</key>
			<string>http://www.multimedios.com/tv</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Imagen</string>
			<key>logo</key>
			<string>Imagen</string>
			<key>link</key>
			<string>http://www.imagentv.com/en-vivo</string>
			<key>http</key>
			<string>https://www.youtube.com/channel/UCl5JKSQsl-_WSU1rz7_BCJA/videos?view=2&amp;flow=grid&amp;live_view=501</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Las Estrellas</string>
			<key>logo</key>
			<string>Estrellas</string>
			<key>link</key>
			<string>https://www.lasestrellas.tv/en-vivo</string>
			<key>http</key>
			<string>https://www.lasestrellas.tv</string>
		</dict>
		<dict>
			<key>name</key>
			<string>5 MONDE</string>
			<key>logo</key>
			<string>MONDE</string>
			<key>link</key>
			<string>http://live.tv5monde.com/fbs.html?</string>
			<key>http</key>
			<string>http://www.tv5monde.com/reception/lg-es/amerique-latine/140/MEXICO</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RT en Español</string>
			<key>logo</key>
			<string>RT</string>
			<key>link</key>
			<string>https://actualidad.rt.com/en_vivo2</string>
			<key>http</key>
			<string>https://www.youtube.com/user/ActualidadRT/videos?view=2&amp;flow=grid&amp;live_view=501</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ingenio</string>
			<key>logo</key>
			<string>Ingenio</string>
			<key>link</key>
			<string>http://www.televisioneducativa.gob.mx/canales/ingeniotv</string>
			<key>http</key>
			<string>http://www.televisioneducativa.gob.mx</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Telesecundaria</string>
			<key>logo</key>
			<string>Telesecundaria</string>
			<key>link</key>
			<string>http://www.televisioneducativa.gob.mx/canales/telesecundaria</string>
			<key>http</key>
			<string>http://www.televisioneducativa.gob.mx</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Telesecundaria +</string>
			<key>logo</key>
			<string>Telesecundari</string>
			<key>link</key>
			<string>http://www.televisioneducativa.gob.mx/canales/telesec</string>
			<key>http</key>
			<string>http://www.televisioneducativa.gob.mx</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Telebachillerato</string>
			<key>logo</key>
			<string>Telebachillerato</string>
			<key>link</key>
			<string>http://www.televisioneducativa.gob.mx/canales/telebachillerato</string>
			<key>http</key>
			<string>http://www.televisioneducativa.gob.mx</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Docencia</string>
			<key>logo</key>
			<string>Docencia</string>
			<key>link</key>
			<string>http://www.televisioneducativa.gob.mx/canales/tv-docencia</string>
			<key>http</key>
			<string>http://www.televisioneducativa.gob.mx</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TVCuatro 4.1</string>
			<key>logo</key>
			<string>1</string>
			<key>link</key>
			<string>https://www.tvcuatro.com/enlinea/4-1/</string>
			<key>http</key>
			<string>https://www.tvcuatro.com/enlinea/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TVCuatro 4.2</string>
			<key>logo</key>
			<string>2</string>
			<key>link</key>
			<string>https://www.tvcuatro.com/enlinea/4-2/</string>
			<key>http</key>
			<string>https://www.tvcuatro.com/enlinea/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TVCuatro 4.3</string>
			<key>logo</key>
			<string>3</string>
			<key>link</key>
			<string>https://www.tvcuatro.com/enlinea/4-3/</string>
			<key>http</key>
			<string>https://www.tvcuatro.com/enlinea/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TVP Culiacán</string>
			<key>logo</key>
			<string>Culiacan</string>
			<key>link</key>
			<string>http://www.tvpacifico.com.mx/tvenlinea/culiacan</string>
			<key>http</key>
			<string>http://tvpacifico.mx/tvenlinea</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TVP Mazatlán</string>
			<key>logo</key>
			<string>Mazatlan</string>
			<key>link</key>
			<string>http://www.tvpacifico.com.mx/tvenlinea/mazatlan</string>
			<key>http</key>
			<string>http://tvpacifico.mx/tvenlinea</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TVP Los Mochis</string>
			<key>logo</key>
			<string>Mochis</string>
			<key>link</key>
			<string>http://tvpacifico.mx/tvenlinea/mochis</string>
			<key>http</key>
			<string>http://tvpacifico.mx/tvenlinea</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TVP Obregón</string>
			<key>logo</key>
			<string>Obregon</string>
			<key>link</key>
			<string>http://tvpacifico.mx/tvenlinea/obregon</string>
			<key>http</key>
			<string>http://tvpacifico.mx/tvenlinea</string>
		</dict>
	</array>
</dict>
</plist>
