<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1</string>
		<key>Back</key>
		<string>1</string>
		<key>Banner</key>
		<string>6589210882</string>
		<key>Header</key>
		<string>1</string>
		<key>Footer</key>
		<string>1</string>
		<key>Email</key>
		<string>1</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1</string>
		<key>Developer</key>
		<string>1</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Channels Television</string>
			<key>logo</key>
			<string>Channels</string>
			<key>link</key>
			<string>http://www.channelstv.com/live</string>
			<key>http</key>
			<string>https://www.youtube.com/user/channelsweb/videos?flow=grid&amp;view=2&amp;live_view=501</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Silverbird</string>
			<key>logo</key>
			<string>Silverbird</string>
			<key>link</key>
			<string>http://silverbirdtv.com/live/</string>
			<key>http</key>
			<string>http://silverbirdtv.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TVC News</string>
			<key>logo</key>
			<string>TVC</string>
			<key>link</key>
			<string>https://www.youtube.com/channel/UCgp4A6I8LCWrhUzn-5SbKvA/videos?view=2&amp;flow=grid&amp;live_view=501</string>
			<key>http</key>
			<string>https://www.youtube.com/channel/UCgp4A6I8LCWrhUzn-5SbKvA/videos?view=2&amp;flow=grid&amp;live_view=501</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NTA</string>
			<key>logo</key>
			<string>NTA</string>
			<key>link</key>
			<string>http://www.nta.ng/live/</string>
			<key>http</key>
			<string>https://www.youtube.com/channel/UCtsZYRlzD-Mu9xpHKRPqIIA/videos?view=2&amp;flow=grid&amp;live_view=501</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TV Continental (TVC)</string>
			<key>logo</key>
			<string>Continental</string>
			<key>link</key>
			<string>https://www.tvcontinental.tv/livestreaming/</string>
			<key>http</key>
			<string>https://www.tvcontinental.tv</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ITV</string>
			<key>logo</key>
			<string>ITV</string>
			<key>link</key>
			<string>http://www.itvradionigeria.com/live-tv/</string>
			<key>http</key>
			<string>http://itvradionigeria.com/live/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>LTV Lagos</string>
			<key>logo</key>
			<string>LTV</string>
			<key>link</key>
			<string>http://www.lagostelevision.com/</string>
			<key>http</key>
			<string>http://www.lagostelevision.com/</string>
		</dict>
	</array>
</dict>
</plist>
