<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>euronews</string>
		<key>logo</key>
		<string>euronews</string>
		<key>link</key>
		<string>http://www.euronews.com/live</string>
		<key>http</key>
		<string>http://fr.euronews.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bloomberg TV</string>
		<key>logo</key>
		<string>bloomberg</string>
		<key>link</key>
		<string>https://www.bloomberg.com/live/europe</string>
		<key>http</key>
		<string>https://www.bloomberg.com/live/us</string>
	</dict>
	<dict>
		<key>name</key>
		<string>LA Muscle (Active Channel)</string>
		<key>logo</key>
		<string>lamuscletv</string>
		<key>link</key>
		<string>http://www.lamuscle.com/lamuscletv/live/</string>
		<key>http</key>
		<string>http://www.lamuscle.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Heart</string>
		<key>logo</key>
		<string>Heart</string>
		<key>link</key>
		<string>http://www.heart.co.uk/tv/player/</string>
		<key>http</key>
		<string>http://www.heart.co.uk/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NUsic</string>
		<key>logo</key>
		<string>NUsic</string>
		<key>link</key>
		<string>http://www.nusictv.com/on-air/</string>
		<key>http</key>
		<string>http://www.nusictv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Landscape</string>
		<key>logo</key>
		<string>Landscape</string>
		<key>link</key>
		<string>http://www.landscapetv.com/on-air/</string>
		<key>http</key>
		<string>http://www.landscapetv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Rocks &amp; Co.</string>
		<key>logo</key>
		<string>rocksandco</string>
		<key>link</key>
		<string>http://www.rocksandco.com/live-auction/</string>
		<key>http</key>
		<string>http://www.rocksandco.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>The Lounge</string>
		<key>logo</key>
		<string>lounge</string>
		<key>link</key>
		<string>http://www.gemporia.com/en-gb/auction/the-lounge/</string>
		<key>http</key>
		<string>http://www.gemporia.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ideal World</string>
		<key>logo</key>
		<string>idealworld</string>
		<key>link</key>
		<string>http://www.idealworld.tv/ShowGridView?showId=2625283</string>
		<key>http</key>
		<string>http://www.idealworld.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Create and Craft</string>
		<key>logo</key>
		<string>createandcraft</string>
		<key>link</key>
		<string>http://www.createandcraft.tv/showgridview?showId=2624535</string>
		<key>http</key>
		<string>http://www.createandcraft.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Asian Star</string>
		<key>logo</key>
		<string>101.6</string>
		<key>link</key>
		<string>http://www.asianstar1016.co.uk/livetv/</string>
		<key>http</key>
		<string>http://www.asianstar1016.co.uk/livetv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>V2BEAT Vibee</string>
		<key>logo</key>
		<string>V2BEAT</string>
		<key>link</key>
		<string>https://www.vibee.tv/popup-tv-player/</string>
		<key>http</key>
		<string>https://www.vibee.tv/webpage-player/</string>
	</dict>
</array>
</plist>
