<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1</string>
		<key>Back</key>
		<string>1</string>
		<key>Banner</key>
		<string>5321812971</string>
		<key>Header</key>
		<string>1</string>
		<key>Footer</key>
		<string>1</string>
		<key>Email</key>
		<string>1</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1</string>
		<key>Developer</key>
		<string>1</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<integer>2</integer>
		<key>DemoMode</key>
		<string>10</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>ABC 24</string>
			<key>logo</key>
			<string>abc</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/01091.mp4</string>
			<key>country</key>
			<string>Australia</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sky News</string>
			<key>logo</key>
			<string>Sky</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/sky.mp4</string>
			<key>country</key>
			<string>Australia</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bloomberg Australia</string>
			<key>logo</key>
			<string>bloomberg</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/bloomberg.mp4</string>
			<key>country</key>
			<string>Australia</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ABC News</string>
			<key>logo</key>
			<string>New</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/01092.mp4</string>
			<key>country</key>
			<string>Australia</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Polynésie la 1ère</string>
			<key>logo</key>
			<string>1</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/01093.mp4</string>
			<key>country</key>
			<string>Polynésie française (French Polynesia)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TVNZ Breakfast</string>
			<key>logo</key>
			<string>breakfast</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/01094.mp4</string>
			<key>country</key>
			<string>New Zealand</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TVNZ News midday</string>
			<key>logo</key>
			<string>midday</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/01095.mp4</string>
			<key>country</key>
			<string>New Zealand</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TVNZ News at six</string>
			<key>logo</key>
			<string>six</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/01096.mp4</string>
			<key>country</key>
			<string>New Zealand</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TVNZ News tonight</string>
			<key>logo</key>
			<string>tonight</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/01097.mp4</string>
			<key>country</key>
			<string>New Zealand</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TV Tonga</string>
			<key>logo</key>
			<string>Tonga1</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/01098.mp4</string>
			<key>country</key>
			<string>Tonga</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Tonga</string>
			<key>logo</key>
			<string>Tonga2</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/01099.mp4</string>
			<key>country</key>
			<string>Tonga</string>
		</dict>
	</array>
</dict>
</plist>
