<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>4006093466</string>
		<key>Back</key>
		<string>4417566122</string>
		<key>Banner</key>
		<string>8634911689</string>
		<key>Header</key>
		<string>5709346938</string>
		<key>Footer</key>
		<string>9362361922</string>
		<key>Email</key>
		<string>ios.apps.community@gmail.com</string>
		<key>Alternative</key>
		<string>1453543703</string>
		<key>Application</key>
		<string>1436502430</string>
		<key>Developer</key>
		<string>1360678770</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>TVN</string>
			<key>logo</key>
			<string>TVN</string>
			<key>link</key>
			<string>https://www.tvn-2.com/tv/en-directo</string>
			<key>http</key>
			<string>https://www.tvn-2.com/tv/en-directo/#tvn</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TVMax</string>
			<key>logo</key>
			<string>TVMax</string>
			<key>link</key>
			<string>https://www.tvmax-9.com/en_vivo/#tvmax</string>
			<key>http</key>
			<string>https://www.tvn-2.com/tv/en-directo/#tvmax</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RPC</string>
			<key>logo</key>
			<string>RPC</string>
			<key>link</key>
			<string>http://www.rpctv.com/endirecto/</string>
			<key>http</key>
			<string>http://www.rpctv.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NEX</string>
			<key>logo</key>
			<string>NEX</string>
			<key>link</key>
			<string>http://www.nexpanama.com/envivo</string>
			<key>http</key>
			<string>http://www.nexpanama.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>SERTV</string>
			<key>logo</key>
			<string>SERTV</string>
			<key>link</key>
			<string>http://www.sertv.gob.pa/live</string>
			<key>http</key>
			<string>http://www.sertv.gob.pa</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hosanna Visión</string>
			<key>logo</key>
			<string>Hosanna</string>
			<key>link</key>
			<string>http://hosannavision.com/envivo</string>
			<key>http</key>
			<string>http://hosannavision.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>FETV</string>
			<key>logo</key>
			<string>FETV</string>
			<key>link</key>
			<string>http://www.fetv.org/en-directo/</string>
			<key>http</key>
			<string>http://www.fetv.org</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TVN Radio TV</string>
			<key>logo</key>
			<string>Radio</string>
			<key>link</key>
			<string>https://www.tvn-2.com/tv/en-directo/#radiotv</string>
			<key>http</key>
			<string>https://www.tvn-2.com/tv/en-directo/#radio</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Telemetro</string>
			<key>logo</key>
			<string>Telemetro1</string>
			<key>link</key>
			<string>http://www.telemetro.com/endirecto/</string>
			<key>http</key>
			<string>http://www.telemetro.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Telemetro Radio</string>
			<key>logo</key>
			<string>Telemetro2</string>
			<key>link</key>
			<string>http://www.telemetro.com/radio/</string>
			<key>http</key>
			<string>http://www.telemetro.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RPC Radio Canal</string>
			<key>logo</key>
			<string>Canal</string>
			<key>link</key>
			<string>http://www.rpcradio.com/enlinea/index.html</string>
			<key>http</key>
			<string>http://www.rpcradio.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hosanna Capital</string>
			<key>logo</key>
			<string>Capital</string>
			<key>link</key>
			<string>http://hosannacapital.com.pa/</string>
			<key>http</key>
			<string>http://hosannacapital.com.pa/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hosanna Stereo</string>
			<key>logo</key>
			<string>Stereo</string>
			<key>link</key>
			<string>http://hosannastereo.com/</string>
			<key>http</key>
			<string>http://hosannastereo.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hosanna Carismatica</string>
			<key>logo</key>
			<string>Carismatica</string>
			<key>link</key>
			<string>http://lanuevahosannacarismatica.com/</string>
			<key>http</key>
			<string>http://lanuevahosannacarismatica.com/</string>
		</dict>
	</array>
</dict>
</plist>
