<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>3543641974</string>
		<key>Back</key>
		<string>9963869178</string>
		<key>Banner</key>
		<string>5020375177</string>
		<key>Header</key>
		<string>5912943523</string>
		<key>Footer</key>
		<string>7973841574</string>
		<key>Email</key>
		<string>ios.apps.community@gmail.com</string>
		<key>Alternative</key>
		<string>1454565568</string>
		<key>Application</key>
		<string>1399990847</string>
		<key>Developer</key>
		<string>1360678770</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<integer>2</integer>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Red Guaraní</string>
			<key>logo</key>
			<string>Red</string>
			<key>link</key>
			<string>http://www.redguarani.com.py/envivo</string>
			<key>http</key>
			<string>http://www.redguarani.com.py</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RPC</string>
			<key>logo</key>
			<string>RPC</string>
			<key>link</key>
			<string>http://www.rpc.com.py/en-vivo</string>
			<key>http</key>
			<string>http://www.rpc.com.py</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Unicanal</string>
			<key>logo</key>
			<string>Unicanal</string>
			<key>link</key>
			<string>http://www.unicanal.com.py/</string>
			<key>http</key>
			<string>http://www.unicanal.com.py/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Telefuturo</string>
			<key>logo</key>
			<string>Telefuturo</string>
			<key>link</key>
			<string>http://telefuturo.com.py/envivo</string>
			<key>http</key>
			<string>http://telefuturo.com.py</string>
		</dict>
		<dict>
			<key>name</key>
			<string>SNT</string>
			<key>logo</key>
			<string>SNT</string>
			<key>link</key>
			<string>http://www.snt.com.py/envivo</string>
			<key>http</key>
			<string>http://www.snt.com.py</string>
		</dict>
		<dict>
			<key>name</key>
			<string>C9N</string>
			<key>logo</key>
			<string>C9N</string>
			<key>link</key>
			<string>http://www.c9n.com.py/envivo</string>
			<key>http</key>
			<string>http://www.c9n.com.py</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Senado</string>
			<key>logo</key>
			<string>Senado</string>
			<key>link</key>
			<string>http://www.senado.gov.py/index.php/general-oculto/33-solo-header/75-sesion-en-vivo</string>
			<key>http</key>
			<string>http://www.senado.gov.py</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RT en Español</string>
			<key>logo</key>
			<string>RT</string>
			<key>link</key>
			<string>https://actualidad.rt.com/en_vivo2</string>
			<key>http</key>
			<string>https://www.youtube.com/user/ActualidadRT/videos?view=2&amp;flow=grid&amp;live_view=501</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TeleSUR</string>
			<key>logo</key>
			<string>TeleSUR</string>
			<key>link</key>
			<string>https://www.youtube.com/user/telesurtv/videos?view=2&amp;live_view=501&amp;flow=grid</string>
			<key>http</key>
			<string>https://www.telesurtv.net/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Valentia</string>
			<key>logo</key>
			<string>Valentia</string>
			<key>link</key>
			<string>http://valentiatv.com/</string>
			<key>http</key>
			<string>http://valentiatv.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Red Uno</string>
			<key>logo</key>
			<string>Uno</string>
			<key>link</key>
			<string>http://www.reduno.com.bo/senal-en-vivo/</string>
			<key>http</key>
			<string>http://www.reduno.com.bo</string>
		</dict>
	</array>
</dict>
</plist>
