<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Application</key>
	<string>1170141099</string>
	<key>Developer</key>
	<string>879767497</string>
	<key>Email</key>
	<string>ex@gmail.com</string>
	<key>ID</key>
	<string>3694130267637407</string>
	<key>Menu1</key>
	<string>6506179175</string>
	<key>Menu2</key>
	<string>9283018777</string>
	<key>Menu3</key>
	<string>7229566772</string>
	<key>Menu4</key>
	<string>2659766370</string>
	<key>Level1</key>
	<string>9283018777</string>
	<key>Level2</key>
	<string>9283018777</string>
	<key>Game</key>
	<string>3452709578</string>
	<key>Game1</key>
	<string>6506179175</string>
	<key>Game2</key>
	<string>7229566772</string>
	<key>Game3</key>
	<string>9283018777</string>
	<key>Game4</key>
	<string>2659766370</string>
	<key>Option1</key>
	<string>6506179175</string>
	<key>Option2</key>
	<string>7229566772</string>
	<key>Option3</key>
	<string>9283018777</string>
	<key>Option4</key>
	<string>2659766370</string>
	<key>Option5</key>
	<string>2659766370</string>
</dict>
</plist>
