<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>2100577286</string>
		<key>Back</key>
		<string>1525862211</string>
		<key>Banner</key>
		<string>8766755110</string>
		<key>Header</key>
		<string>6395045516</string>
		<key>Footer</key>
		<string>8446493783</string>
		<key>Email</key>
		<string>ios.apps.community@gmail.com</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1440675089</string>
		<key>Developer</key>
		<string>1360678770</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>América TeVé</string>
			<key>logo</key>
			<string>TeVe</string>
			<key>link</key>
			<string>http://www.americateve.com/vivo</string>
			<key>http</key>
			<string>http://www.americateve.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Teveo</string>
			<key>logo</key>
			<string>Teveo</string>
			<key>link</key>
			<string>http://www.americateve.com/teveo</string>
			<key>http</key>
			<string>http://www.americateve.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>WIPR</string>
			<key>logo</key>
			<string>WIPR</string>
			<key>link</key>
			<string>https://www.wipr.pr/envivo/</string>
			<key>http</key>
			<string>http://www.wipr.pr/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Telemundo PR</string>
			<key>logo</key>
			<string>Telemundo</string>
			<key>link</key>
			<string>https://www.telemundopr.com/noticias/puerto-rico/Mira-aqui-nuestra-programacion-en-vivo-442771403.html</string>
			<key>http</key>
			<string>https://www.telemundopr.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TiVa (WRUA)</string>
			<key>logo</key>
			<string>TiVa</string>
			<key>link</key>
			<string>https://tivatv.com/television/</string>
			<key>http</key>
			<string>https://tivatv.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>WOLE 12</string>
			<key>logo</key>
			<string>12</string>
			<key>link</key>
			<string>https://wole12.com/envivo/</string>
			<key>http</key>
			<string>https://wole12.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Telecadena SBN</string>
			<key>logo</key>
			<string>SBN</string>
			<key>link</key>
			<string>http://www.sbnnetwork.org/en-vivo</string>
			<key>http</key>
			<string>http://www.sbnnetwork.org</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CDM Internacional</string>
			<key>logo</key>
			<string>CDM</string>
			<key>link</key>
			<string>http://cdminternacional.com/cdmtv2/cdm-tv/</string>
			<key>http</key>
			<string>https://www.youtube.com/user/cdminternacional/videos?view=2&amp;flow=grid&amp;live_view=501</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Salvación</string>
			<key>logo</key>
			<string>Salvacion</string>
			<key>link</key>
			<string>http://www.salvaciontv.org/envivo.html</string>
			<key>http</key>
			<string>https://eleden.net/fp1.php?broadcast=livesalvatv&amp;strech=bestfit&amp;width=540&amp;height=360</string>
		</dict>
		<dict>
			<key>name</key>
			<string>13 WORO-DT</string>
			<key>logo</key>
			<string>13</string>
			<key>link</key>
			<string>http://www.canal13pr.tv/</string>
			<key>http</key>
			<string>http://www.canal13pr.tv/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Unico</string>
			<key>logo</key>
			<string>Unico</string>
			<key>link</key>
			<string>http://www.elcaballerodelacruz.org/unicotv/</string>
			<key>http</key>
			<string>http://www.elcaballerodelacruz.org</string>
		</dict>
		<dict>
			<key>name</key>
			<string>EBN</string>
			<key>logo</key>
			<string>EBN</string>
			<key>link</key>
			<string>http://www.ebnpr.tv/</string>
			<key>http</key>
			<string>http://www.ebnpr.tv/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NotiUno</string>
			<key>logo</key>
			<string>NotiUno</string>
			<key>link</key>
			<string>https://notiuno.com/notiuno-tv/</string>
			<key>http</key>
			<string>https://notiuno.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Wapa</string>
			<key>logo</key>
			<string>Wapa</string>
			<key>link</key>
			<string>https://www.wapa.tv/envivo</string>
			<key>http</key>
			<string>https://www.wapa.tv</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Univision</string>
			<key>logo</key>
			<string>Univision</string>
			<key>link</key>
			<string>https://www.univisionnow.com/channels?seoName=univision&amp;utm_source=univisioncom&amp;utm_medium=nav-watchbutton&amp;utm_campaign=TVE-2019-seoName</string>
			<key>http</key>
			<string>https://www.univision.com/local/puerto-rico-wlii/en-vivo-programacion-puerto-rico</string>
		</dict>
	</array>
</dict>
</plist>
