<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1017701970</string>
		<key>Back</key>
		<string>2494435179</string>
		<key>Banner</key>
		<string>8540968775</string>
		<key>Header</key>
		<string>1</string>
		<key>Footer</key>
		<string>1</string>
		<key>Application</key>
		<string>1356507161</string>
		<key>Developer</key>
		<string>1</string>
		<key>Email</key>
		<string>iden@gmail.com</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<integer>2</integer>
	</dict>
	<key>Content</key>
	<array>
		<dict>
		<key>name</key>
		<string>TVR International</string>
		<key>logo</key>
		<string>TVR1</string>
		<key>link</key>
		<string>http://www.tvrplus.ro/live-tvr-international</string>
		<key>http</key>
		<string>http://www.tvrplus.ro</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TVR Moldova</string>
		<key>logo</key>
		<string>TVR2</string>
		<key>link</key>
		<string>http://www.tvrplus.ro/live-tvr-moldova</string>
		<key>http</key>
		<string>http://www.tvrplus.ro</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Realitatea TV</string>
		<key>logo</key>
		<string>Realitatea1</string>
		<key>link</key>
		<string>http://webtv.realitatea.net/live?international=1</string>
		<key>http</key>
		<string>https://www.realitatea.net/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Realitatea Internaţional</string>
		<key>logo</key>
		<string>Realitatea2</string>
		<key>link</key>
		<string>http://webtv.realitatea.net/live</string>
		<key>http</key>
		<string>https://www.realitatea.net/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Antena3</string>
		<key>logo</key>
		<string>Antena</string>
		<key>link</key>
		<string>http://antenaplay.ro/live/antena-international</string>
		<key>http</key>
		<string>https://live.antena3.ro/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>B1</string>
		<key>logo</key>
		<string>B1</string>
		<key>link</key>
		<string>http://www.b1.ro/live.php</string>
		<key>http</key>
		<string>http://www.b1.ro</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Digi 24</string>
		<key>logo</key>
		<string>Digi</string>
		<key>link</key>
		<string>http://www.digi24.ro/live/digi24</string>
		<key>http</key>
		<string>http://www.digi24.ro</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Euronews</string>
		<key>logo</key>
		<string>Euronews</string>
		<key>link</key>
		<string>http://de.euronews.com/live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/euronewsfr/videos?live_view=501&amp;flow=grid&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sky News</string>
		<key>logo</key>
		<string>Sky</string>
		<key>link</key>
		<string>http://news.sky.com/watch-live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/skynews</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bloomberg TV Europe</string>
		<key>logo</key>
		<string>bloomberg</string>
		<key>link</key>
		<string>https://www.bloomberg.com/live/europe</string>
		<key>http</key>
		<string>https://www.bloomberg.com/live/us</string>
	</dict>
	</array>
</dict>
</plist>
