<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>2376037178</string>
		<key>Back</key>
		<string>6806236775</string>
		<key>Banner</key>
		<string>8422570778</string>
		<key>Header</key>
		<string>4321289862</string>
		<key>Footer</key>
		<string>8998901479</string>
		<key>Application</key>
		<string>1360678771</string>
		<key>Developer</key>
		<string>1360678770</string>
		<key>Email</key>
		<string>ios.apps.community@gmail.com</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<integer>2</integer>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>ПЕРВЫЙ</string>
			<key>logo</key>
			<string>1</string>
			<key>link</key>
			<string>http://stream.1tv.ru/live/</string>
			<key>http</key>
			<string>http://www.1tv.ru/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>euronews Россия</string>
			<key>logo</key>
			<string>euronews</string>
			<key>link</key>
			<string>http://ru.euronews.com/live</string>
			<key>http</key>
			<string>https://www.youtube.com/user/euronewsru/videos?flow=grid&amp;live_view=501&amp;view=2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>РБК</string>
			<key>logo</key>
			<string>rbc</string>
			<key>link</key>
			<string>http://tv.rbc.ru/</string>
			<key>http</key>
			<string>http://tv.rbc.ru/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>LIFENEWS</string>
			<key>logo</key>
			<string>LIFENEWS</string>
			<key>link</key>
			<string>http://lifenews.ru/watch-live</string>
			<key>http</key>
			<string>http://lifenews.ru/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RT News</string>
			<key>logo</key>
			<string>RT1</string>
			<key>link</key>
			<string>https://www.rt.com/on-air/embed/</string>
			<key>http</key>
			<string>https://www.rt.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ОТР</string>
			<key>logo</key>
			<string>otr</string>
			<key>link</key>
			<string>http://www.otr-online.ru/online/</string>
			<key>http</key>
			<string>http://www.otr-online.ru/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>МТВ Столица</string>
			<key>logo</key>
			<string>mtv</string>
			<key>link</key>
			<string>http://www.ustream.tv/embed/18605731?html5ui</string>
			<key>http</key>
			<string>http://mtv-stolica.ru/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Europa Plus ТВ</string>
			<key>logo</key>
			<string>Europa</string>
			<key>link</key>
			<string>http://www.europaplustv.com/online</string>
			<key>http</key>
			<string>http://www.europaplustv.com/online-new</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Европа Плюс</string>
			<key>logo</key>
			<string>Plus</string>
			<key>link</key>
			<string>http://www.europaplus.ru/live</string>
			<key>http</key>
			<string>http://www.europaplus.ru</string>
		</dict>
		<dict>
			<key>name</key>
			<string>НТВ</string>
			<key>logo</key>
			<string>NTV1</string>
			<key>link</key>
			<string>https://www.youtube.com/user/ntvru/videos?view=2&amp;live_view=501&amp;flow=grid</string>
			<key>http</key>
			<string>http://www.ntv.ru/air</string>
		</dict>
		<dict>
			<key>name</key>
			<string>НТВ-Стиль</string>
			<key>logo</key>
			<string>NTV2</string>
			<key>link</key>
			<string>http://www.ntv.ru/air/ntvstyle</string>
			<key>http</key>
			<string>http://www.ntv.ru/air</string>
		</dict>
		<dict>
			<key>name</key>
			<string>НТВ-Право</string>
			<key>logo</key>
			<string>NTV3</string>
			<key>link</key>
			<string>http://www.ntv.ru/air/ntvlaw</string>
			<key>http</key>
			<string>http://www.ntv.ru/air</string>
		</dict>
		<dict>
			<key>name</key>
			<string>НТВ-Сериал</string>
			<key>logo</key>
			<string>NTV4</string>
			<key>link</key>
			<string>http://www.ntv.ru/air/ntvseries</string>
			<key>http</key>
			<string>http://www.ntv.ru/air</string>
		</dict>
		<dict>
			<key>name</key>
			<string>THT</string>
			<key>logo</key>
			<string>THT</string>
			<key>link</key>
			<string>http://tnt-online.ru/</string>
			<key>http</key>
			<string>http://tnt-online.ru/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>РЕН ТВ</string>
			<key>logo</key>
			<string>REN</string>
			<key>link</key>
			<string>http://ren.tv/live</string>
			<key>http</key>
			<string>http://ren.tv</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ТВ-3</string>
			<key>logo</key>
			<string>TV3</string>
			<key>link</key>
			<string>https://tv3.ru/live</string>
			<key>http</key>
			<string>https://tv3.ru</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Настоящее Время</string>
			<key>logo</key>
			<string>Current</string>
			<key>link</key>
			<string>https://www.currenttime.tv/live</string>
			<key>http</key>
			<string>https://www.currenttime.tv/live/video/92</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Телеканал Ю</string>
			<key>logo</key>
			<string>U</string>
			<key>link</key>
			<string>https://www.u-tv.ru/online/</string>
			<key>http</key>
			<string>https://www.u-tv.ru</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TNT Music</string>
			<key>logo</key>
			<string>TNT</string>
			<key>link</key>
			<string>https://tntmusic.ru/live/</string>
			<key>http</key>
			<string>https://tntmusic.ru</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MUSICBOX</string>
			<key>logo</key>
			<string>musicbox-tv</string>
			<key>link</key>
			<string>http://www.mboxtv.ru/</string>
			<key>http</key>
			<string>http://www.mboxtv.ru/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>8</string>
			<key>logo</key>
			<string>8</string>
			<key>link</key>
			<string>http://live.proofix.ru/embed/tv8.php</string>
			<key>http</key>
			<string>http://www.8tv.ru/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>KURGAN</string>
			<key>logo</key>
			<string>kurgan</string>
			<key>link</key>
			<string>http://www.ustream.tv/embed/18185333?html5ui</string>
			<key>http</key>
			<string>http://www.kurgan.ru/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Первый Тульский</string>
			<key>logo</key>
			<string>1tul</string>
			<key>link</key>
			<string>http://www.ustream.tv/embed/18213437?html5ui </string>
			<key>http</key>
			<string>http://1tulatv.ru/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ямал-Регион</string>
			<key>logo</key>
			<string>yamal</string>
			<key>link</key>
			<string>http://www.ustream.tv/embed/16143936?html5ui</string>
			<key>http</key>
			<string>http://yamal-region.tv/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ставропольское телевидение</string>
			<key>logo</key>
			<string>stv</string>
			<key>link</key>
			<string>http://www.ustream.tv/embed/21513552?html5ui</string>
			<key>http</key>
			<string>http://stv24.tv/index.php</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Народный Канал</string>
			<key>logo</key>
			<string>nk</string>
			<key>link</key>
			<string>https://www.youtube.com/watch?v=Du_KYJEIpm8</string>
			<key>http</key>
			<string>http://tvnk.ru/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ЕДА</string>
			<key>logo</key>
			<string>eda</string>
			<key>link</key>
			<string>https://www.youtube.com/watch?v=043IEMz9WaY</string>
			<key>http</key>
			<string>http://www.tveda.ru/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>КРЫМ 1</string>
			<key>logo</key>
			<string>krym1</string>
			<key>link</key>
			<string>http://1tvcrimea.ru/pages/live/1tvcrimea</string>
			<key>http</key>
			<string>http://1tvcrimea.ru/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>КРЫМ 24</string>
			<key>logo</key>
			<string>krym24</string>
			<key>link</key>
			<string>http://1tvcrimea.ru/pages/live/crimea24</string>
			<key>http</key>
			<string>http://1tvcrimea.ru/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ИКС-ТВ Севастополь</string>
			<key>logo</key>
			<string>iks</string>
			<key>link</key>
			<string>http://www.ustream.tv/embed/7958810?html5ui</string>
			<key>http</key>
			<string>http://ikstv.ru/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RT USA</string>
			<key>logo</key>
			<string>RT2</string>
			<key>link</key>
			<string>https://www.rt.com/on-air/rt-america-air/embed/</string>
			<key>http</key>
			<string>https://www.rt.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RT UK</string>
			<key>logo</key>
			<string>RT3</string>
			<key>link</key>
			<string>https://www.rt.com/on-air/rt-uk-air/embed/</string>
			<key>http</key>
			<string>https://www.rt.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RT Документальный</string>
			<key>logo</key>
			<string>RT4</string>
			<key>link</key>
			<string>https://rtd.rt.com/on-air/embed/</string>
			<key>http</key>
			<string>https://www.rt.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>РЖД</string>
			<key>logo</key>
			<string>RZD</string>
			<key>link</key>
			<string>http://www.rzdtv.ru/onair/</string>
			<key>http</key>
			<string>http://www.rzdtv.ru/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>O2</string>
			<key>logo</key>
			<string>O2</string>
			<key>link</key>
			<string>http://o2tv.ru/?page_id=4164</string>
			<key>http</key>
			<string>http://o2tv.ru/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ЮМОР</string>
			<key>logo</key>
			<string>humor-tv</string>
			<key>link</key>
			<string>http://www.humor-tv.com/</string>
			<key>http</key>
			<string>http://www.humor-tv.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NEBISET</string>
			<key>logo</key>
			<string>NEBISET</string>
			<key>link</key>
			<string>http://www.nebiset.tv/</string>
			<key>http</key>
			<string>http://www.nebiset.tv/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Шансон</string>
			<key>logo</key>
			<string>shanson</string>
			<key>link</key>
			<string>http://www.shanson.tv/</string>
			<key>http</key>
			<string>http://www.shanson.tv/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ТУГАН ТЕЛ</string>
			<key>logo</key>
			<string>tugan</string>
			<key>link</key>
			<string>http://www.tugantel.tv/</string>
			<key>http</key>
			<string>http://www.tugantel.tv/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>JUCE</string>
			<key>logo</key>
			<string>JUCE</string>
			<key>link</key>
			<string>http://b.tbnit.spb.ru/player/jucetv.html </string>
			<key>http</key>
			<string>http://www.juce.tv/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Дамам</string>
			<key>logo</key>
			<string>Damam</string>
			<key>link</key>
			<string>http://www.sovetidamam.ru/webcast.htm</string>
			<key>http</key>
			<string>http://www.sovetidamam.ru/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>SHOPPING-LIVE</string>
			<key>logo</key>
			<string>shopping</string>
			<key>link</key>
			<string>http://up.mediacdn.ru/shoppinglive/</string>
			<key>http</key>
			<string>http://www.shoppinglive.ru/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>СИНЕРГИЯ ТВ</string>
			<key>logo</key>
			<string>synergy</string>
			<key>link</key>
			<string>http://smena.streaming.eagleplatform.com/api/player/12469/iframe.html?player_template_id=3990&amp;width=640&amp;height=360</string>
			<key>http</key>
			<string>http://synergytv.ru/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ТЕЛЕДОМ</string>
			<key>logo</key>
			<string>teledom</string>
			<key>link</key>
			<string>http://teledom.tv/</string>
			<key>http</key>
			<string>http://teledom.tv/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Калининград - Первый Городской</string>
			<key>logo</key>
			<string>kaliningrad</string>
			<key>link</key>
			<string>http://kaliningrad.1gorodskoi.ru/online</string>
			<key>http</key>
			<string>http://kaliningrad.1gorodskoi.ru</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Киров - Первый Городской</string>
			<key>logo</key>
			<string>Kirov</string>
			<key>link</key>
			<string>http://kirov.1gorodskoi.ru/online</string>
			<key>http</key>
			<string>http://kirov.1gorodskoi.ru</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Н. Новгород - Первый Городской</string>
			<key>logo</key>
			<string>NN</string>
			<key>link</key>
			<string>http://nn.1gorodskoi.ru/online</string>
			<key>http</key>
			<string>http://nn.1gorodskoi.ru</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Казань - Первый Городской</string>
			<key>logo</key>
			<string>kazan1</string>
			<key>link</key>
			<string>http://kazan.1gorodskoi.ru/online</string>
			<key>http</key>
			<string>http://kazan.1gorodskoi.ru/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>НИКА</string>
			<key>logo</key>
			<string>nika</string>
			<key>link</key>
			<string>http://nikatv.ru/radio/radio-online-veschanie</string>
			<key>http</key>
			<string>http://nikatv.ru/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Мир Белогорья</string>
			<key>logo</key>
			<string>mb</string>
			<key>link</key>
			<string>http://mirbelogorya.ru/live.html</string>
			<key>http</key>
			<string>http://mirbelogorya.ru/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>РСН</string>
			<key>logo</key>
			<string>rsn</string>
			<key>link</key>
			<string>http://rusnovosti.ru/videos</string>
			<key>http</key>
			<string>http://rusnovosti.ru/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ТРИ АНГЕЛА</string>
			<key>logo</key>
			<string>3</string>
			<key>link</key>
			<string>http://www.3angels.ru/air/online/</string>
			<key>http</key>
			<string>http://www.3angels.ru/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Радость Моя</string>
			<key>logo</key>
			<string>radost</string>
			<key>link</key>
			<string>http://www.radostmoya.ru/online/</string>
			<key>http</key>
			<string>http://www.radostmoya.ru/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ПРОСВЕЩЕНИЕ</string>
			<key>logo</key>
			<string>prosvesh</string>
			<key>link</key>
			<string>http://www.prosveshenie.tv/onairview.php</string>
			<key>http</key>
			<string>http://www.prosveshenie.tv/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ШАЛОМ</string>
			<key>logo</key>
			<string>shalom</string>
			<key>link</key>
			<string>http://b.tbnit.spb.ru/player/israil-tv.html</string>
			<key>http</key>
			<string>http://shalom.media/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ВЕРА 24</string>
			<key>logo</key>
			<string>24</string>
			<key>link</key>
			<string>http://b.tbnit.spb.ru/player/vera24.html</string>
			<key>http</key>
			<string>http://vera24.tv/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Т Б Н</string>
			<key>logo</key>
			<string>tbn</string>
			<key>link</key>
			<string>http://tbn-tv.com/online/</string>
			<key>http</key>
			<string>http://tbn-tv.com/online/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Раз</string>
			<key>logo</key>
			<string>Raz</string>
			<key>link</key>
			<string>http://www.raz.tv/live-mnu/livevideo-mnu</string>
			<key>http</key>
			<string>http://www.raz.tv</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Надежда</string>
			<key>logo</key>
			<string>Hope</string>
			<key>link</key>
			<string>http://www.hopetv.org/watch/russia/</string>
			<key>http</key>
			<string>https://hopetv.ru/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Russian Extreme</string>
			<key>logo</key>
			<string>Extreme</string>
			<key>link</key>
			<string>http://www.extremtv.ru/</string>
			<key>http</key>
			<string>http://www.extremtv.ru/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RU.TV</string>
			<key>logo</key>
			<string>RUTV</string>
			<key>link</key>
			<string>http://ru.tv/watch/online/</string>
			<key>http</key>
			<string>http://ru.tv</string>
		</dict>
		<dict>
			<key>name</key>
			<string>МУЗ-ТВ</string>
			<key>logo</key>
			<string>MUZ</string>
			<key>link</key>
			<string>http://muz-tv.ru/online/</string>
			<key>http</key>
			<string>http://muz-tv.ru/tvguide/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>1HD Music</string>
			<key>logo</key>
			<string>1HD</string>
			<key>link</key>
			<string>http://1hd.ru/</string>
			<key>http</key>
			<string>http://1hd.ru/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>HardLife</string>
			<key>logo</key>
			<string>HardLife</string>
			<key>link</key>
			<string>http://hardlife.tv/</string>
			<key>http</key>
			<string>http://hardlife.tv/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Global Star</string>
			<key>logo</key>
			<string>Global</string>
			<key>link</key>
			<string>http://www.globalstar.tv/online.aspx</string>
			<key>http</key>
			<string>http://www.globalstar.tv</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Top Shop</string>
			<key>logo</key>
			<string>Shop</string>
			<key>link</key>
			<string>http://www.top-shop.ru/genre/12-tv-tovary/</string>
			<key>http</key>
			<string>https://www.youtube.com/user/TopShopRU/videos?live_view=501&amp;flow=grid&amp;view=2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Спас</string>
			<key>logo</key>
			<string>Spas</string>
			<key>link</key>
			<string>http://www.spastv.ru/on_air.html</string>
			<key>http</key>
			<string>http://www.spastv.ru</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Impact</string>
			<key>logo</key>
			<string>Impact</string>
			<key>link</key>
			<string>http://impacttv.tv/new/onlinetv/</string>
			<key>http</key>
			<string>http://impacttv.tv/new/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Брат</string>
			<key>logo</key>
			<string>Brat</string>
			<key>link</key>
			<string>http://www.ibrattv.com/broadcasting-ru/</string>
			<key>http</key>
			<string>http://www.ibrattv.com/flowplayer-for-website-ru/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Первый христианский</string>
			<key>logo</key>
			<string>CNL</string>
			<key>link</key>
			<string>https://cnl.tv/live#cnl-eu</string>
			<key>http</key>
			<string>https://cnl.tv/live</string>
		</dict>
		<dict>
			<key>name</key>
			<string>РГВК Дагестан</string>
			<key>logo</key>
			<string>Dagestan</string>
			<key>link</key>
			<string>http://www.rgvktv.ru/live</string>
			<key>http</key>
			<string>http://www.rgvktv.ru</string>
		</dict>
		<dict>
			<key>name</key>
			<string>26 РЕГИОН</string>
			<key>logo</key>
			<string>26</string>
			<key>link</key>
			<string>http://www.26region.tv/online/</string>
			<key>http</key>
			<string>http://www.26region.tv</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Своё</string>
			<key>logo</key>
			<string>stv</string>
			<key>link</key>
			<string>http://stv24.tv/online/</string>
			<key>http</key>
			<string>http://stv24.tv</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Катунь 24</string>
			<key>logo</key>
			<string>K24</string>
			<key>link</key>
			<string>http://www.katun24.ru/</string>
			<key>http</key>
			<string>http://www.katun24.ru/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>АИСТ</string>
			<key>logo</key>
			<string>AIST</string>
			<key>link</key>
			<string>http://aisttv.ru/live/</string>
			<key>http</key>
			<string>http://aisttv.ru</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Краснодар</string>
			<key>logo</key>
			<string>Krasnodar</string>
			<key>link</key>
			<string>http://tvkrasnodar.ru/pryamoj-efir/</string>
			<key>http</key>
			<string>http://tvkrasnodar.ru</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Югра</string>
			<key>logo</key>
			<string>Ugra</string>
			<key>link</key>
			<string>https://ugra-tv.ru/online/</string>
			<key>http</key>
			<string>https://ugra-tv.ru</string>
		</dict>
		<dict>
			<key>name</key>
			<string>БСТ</string>
			<key>logo</key>
			<string>BST</string>
			<key>link</key>
			<string>http://tv-rb.ru/on-line/</string>
			<key>http</key>
			<string>http://up.mediacdn.ru/bonustv/bst3/player/?</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ТРК Пенза</string>
			<key>logo</key>
			<string>Penza</string>
			<key>link</key>
			<string>http://tv-penza.ru/</string>
			<key>http</key>
			<string>http://tv-penza.ru/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ТРК Казань</string>
			<key>logo</key>
			<string>Kazan</string>
			<key>link</key>
			<string>http://kzn.tv/online/</string>
			<key>http</key>
			<string>http://kzn.tv/projects/live/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Кубань 24</string>
			<key>logo</key>
			<string>Kuban</string>
			<key>link</key>
			<string>http://kuban24.tv/tv/</string>
			<key>http</key>
			<string>http://kuban24.tv</string>
		</dict>
		<dict>
			<key>name</key>
			<string>АТВмедиа</string>
			<key>logo</key>
			<string>ATV</string>
			<key>link</key>
			<string>http://atvmedia.ru/</string>
			<key>http</key>
			<string>http://atvmedia.ru/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>VIII Владивосток</string>
			<key>logo</key>
			<string>VIII</string>
			<key>link</key>
			<string>https://www.youtube.com/user/TV8channel/videos?live_view=501&amp;flow=grid&amp;view=2</string>
			<key>http</key>
			<string>http://viiichannel.ru/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Каббала</string>
			<key>logo</key>
			<string>Kabbalah</string>
			<key>link</key>
			<string>http://www.kab.tv/rus</string>
			<key>http</key>
			<string>http://www.kab.tv</string>
		</dict>
		<dict>
			<key>name</key>
			<string>FRESHTV</string>
			<key>logo</key>
			<string>FRESHTV</string>
			<key>link</key>
			<string>http://www.planeta-online.tv/channels/4/live.html</string>
			<key>http</key>
			<string>http://www.planeta-online.tv/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TBTYP</string>
			<key>logo</key>
			<string>TBTYP</string>
			<key>link</key>
			<string>http://www.planeta-online.tv/channels/2/live.html</string>
			<key>http</key>
			<string>http://www.planeta-online.tv/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Премьера</string>
			<key>logo</key>
			<string>Prem</string>
			<key>link</key>
			<string>http://www.planeta-online.tv/channels/5/live.html</string>
			<key>http</key>
			<string>http://www.planeta-online.tv/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Любимое</string>
			<key>logo</key>
			<string>Lubimoe</string>
			<key>link</key>
			<string>http://www.planeta-online.tv/channels/6/live.html</string>
			<key>http</key>
			<string>http://www.planeta-online.tv/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Доктор Градус</string>
			<key>logo</key>
			<string>Doctor</string>
			<key>link</key>
			<string>http://www.planeta-online.tv/channels/22/live.html</string>
			<key>http</key>
			<string>http://www.planeta-online.tv/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Релакс</string>
			<key>logo</key>
			<string>Relax</string>
			<key>link</key>
			<string>http://www.planeta-online.tv/channels/3/live.html</string>
			<key>http</key>
			<string>http://www.planeta-online.tv/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Дайвинг</string>
			<key>logo</key>
			<string>Diving</string>
			<key>link</key>
			<string>http://www.planeta-online.tv/channels/130/live.html</string>
			<key>http</key>
			<string>http://www.planeta-online.tv/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Радио FRESH</string>
			<key>logo</key>
			<string>FRESH</string>
			<key>link</key>
			<string>http://www.planeta-online.tv/channels/13/live.html</string>
			<key>http</key>
			<string>http://www.planeta-online.tv/</string>
		</dict>
	</array>
</dict>
</plist>
