<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1</string>
		<key>Back</key>
		<string>1</string>
		<key>Banner</key>
		<string>5998380412</string>
		<key>Header</key>
		<string>1</string>
		<key>Footer</key>
		<string>1</string>
		<key>Email</key>
		<string>world.app.community@gmail.com</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1</string>
		<key>Developer</key>
		<string>1</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>12</string>
			<key>logo</key>
			<string>12</string>
			<key>link</key>
			<string>http://www.canal12.com.sv/envivo</string>
			<key>http</key>
			<string>http://www.canal12.com.sv</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Megavisión 19/21/TRV/TvS/9</string>
			<key>logo</key>
			<string>Megavision</string>
			<key>link</key>
			<string>http://megavision.univtec.com/</string>
			<key>http</key>
			<string>http://megavision.univtec.com/#!/live/channels</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TVU Usuluteca</string>
			<key>logo</key>
			<string>TVU</string>
			<key>link</key>
			<string>http://televisionusuluteca.com/en-vivo/</string>
			<key>http</key>
			<string>http://televisionusuluteca.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TVES</string>
			<key>logo</key>
			<string>TVES</string>
			<key>link</key>
			<string>http://tves.sv/tv-online/</string>
			<key>http</key>
			<string>http://tves.sv</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tabernáculo</string>
			<key>logo</key>
			<string>Tabernaculo</string>
			<key>link</key>
			<string>http://tabernaculo.net/home/tabertv/</string>
			<key>http</key>
			<string>http://tabernaculo.net</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Orbita</string>
			<key>logo</key>
			<string>Orbita</string>
			<key>link</key>
			<string>http://orbitatv.com/</string>
			<key>http</key>
			<string>http://orbitatv.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>15 Usulutan</string>
			<key>logo</key>
			<string>15</string>
			<key>link</key>
			<string>http://canal15usulutan.com/</string>
			<key>http</key>
			<string>http://canal15usulutan.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RT en Español</string>
			<key>logo</key>
			<string>RT</string>
			<key>link</key>
			<string>https://actualidad.rt.com/en_vivo2</string>
			<key>http</key>
			<string>https://www.youtube.com/user/ActualidadRT/videos?view=2&amp;flow=grid&amp;live_view=501</string>
		</dict>
	</array>
</dict>
</plist>
