<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Sky News</string>
		<key>logo</key>
		<string>Sky</string>
		<key>link</key>
		<string>https://news.sky.com/watch-live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/skynews</string>
	</dict>
	<dict>
		<key>name</key>
		<string>BBC Arabic</string>
		<key>logo</key>
		<string>bbcA</string>
		<key>link</key>
		<string>http://www.bbc.co.uk/arabic/tvandradio/2013/05/000000_bbcarabic_livetv</string>
		<key>http</key>
		<string>http://www.bbc.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>euronews</string>
		<key>logo</key>
		<string>euronews</string>
		<key>link</key>
		<string>http://www.euronews.com/live</string>
		<key>http</key>
		<string>http://fr.euronews.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bloomberg TV</string>
		<key>logo</key>
		<string>bloomberg</string>
		<key>link</key>
		<string>https://www.bloomberg.com/live/europe</string>
		<key>http</key>
		<string>https://www.bloomberg.com/live/us</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Arise</string>
		<key>logo</key>
		<string>Arise</string>
		<key>link</key>
		<string>http://www.arise.tv/</string>
		<key>http</key>
		<string>http://www.arise.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>LA Muscle (Active Channel)</string>
		<key>logo</key>
		<string>lamuscletv</string>
		<key>link</key>
		<string>http://www.lamuscle.com/lamuscletv/live/</string>
		<key>http</key>
		<string>http://www.lamuscle.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Heart</string>
		<key>logo</key>
		<string>Heart</string>
		<key>link</key>
		<string>http://www.heart.co.uk/tv/player/</string>
		<key>http</key>
		<string>http://www.heart.co.uk/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NUsic</string>
		<key>logo</key>
		<string>NUsic</string>
		<key>link</key>
		<string>http://www.nusictv.com/on-air/</string>
		<key>http</key>
		<string>http://www.nusictv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Landscape</string>
		<key>logo</key>
		<string>Landscape</string>
		<key>link</key>
		<string>http://www.landscapetv.com/on-air/</string>
		<key>http</key>
		<string>http://www.landscapetv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Rocks &amp; Co.</string>
		<key>logo</key>
		<string>rocksandco</string>
		<key>link</key>
		<string>http://www.rocksandco.com/live-auction/</string>
		<key>http</key>
		<string>http://www.rocksandco.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Jewellery Maker</string>
		<key>logo</key>
		<string>Jewellery</string>
		<key>link</key>
		<string>http://www.jewellerymaker.com/en-gb/auction/</string>
		<key>http</key>
		<string>http://www.jewellerymaker.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>The Jewellery Channel (TJC)</string>
		<key>logo</key>
		<string>TJC</string>
		<key>link</key>
		<string>http://www.tjc.co.uk/watch-tjc</string>
		<key>http</key>
		<string>http://www.thejewellerychannel.tv/layouts/LiveTVPopup.aspx?popup=1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TJC Choice</string>
		<key>logo</key>
		<string>TJCc</string>
		<key>link</key>
		<string>http://www.tjc.co.uk/watch-tjc-choice</string>
		<key>http</key>
		<string>http://www.thejewellerychannel.tv/layouts/TGLiveTVPopup.aspx?popup=1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>The Lounge</string>
		<key>logo</key>
		<string>lounge</string>
		<key>link</key>
		<string>http://www.gemporia.com/en-gb/auction/the-lounge/</string>
		<key>http</key>
		<string>http://www.gemporia.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Gemporia</string>
		<key>logo</key>
		<string>Gemporia</string>
		<key>link</key>
		<string>http://www.gemporia.com/en-gb/auction/gemporia/</string>
		<key>http</key>
		<string>http://www.gemporia.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Gem Collector</string>
		<key>logo</key>
		<string>Collector</string>
		<key>link</key>
		<string>http://www.gemcollector.com/en-gb/auction/live/</string>
		<key>http</key>
		<string>http://www.gemporia.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ideal World</string>
		<key>logo</key>
		<string>idealworld</string>
		<key>link</key>
		<string>http://www.idealworld.tv/ShowGridView?showId=2625283</string>
		<key>http</key>
		<string>http://www.idealworld.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Create and Craft</string>
		<key>logo</key>
		<string>createandcraft</string>
		<key>link</key>
		<string>http://www.createandcraft.tv/showgridview?showId=2624535</string>
		<key>http</key>
		<string>http://www.createandcraft.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>God TV</string>
		<key>logo</key>
		<string>god</string>
		<key>link</key>
		<string>http://www.god.tv/live/uk</string>
		<key>http</key>
		<string>http://www.god.tv/liveevents</string>
	</dict>
	<dict>
		<key>name</key>
		<string>EWTN</string>
		<key>logo</key>
		<string>ewtn</string>
		<key>link</key>
		<string>http://www.ewtn.com/multimedia/live_player.asp?satname=ukirlnlp</string>
		<key>http</key>
		<string>http://www.ewtn.com/live/ewtnplayer/jwplayer.asp?bottom=false&amp;feed=ukirln</string>
	</dict>
	<dict>
		<key>name</key>
		<string>British Muslim TV</string>
		<key>logo</key>
		<string>bm</string>
		<key>link</key>
		<string>http://www.britishmuslim.tv/live.html</string>
		<key>http</key>
		<string>http://www.britishmuslim.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Asian Star</string>
		<key>logo</key>
		<string>101.6</string>
		<key>link</key>
		<string>http://www.asianstar1016.co.uk/livetv/</string>
		<key>http</key>
		<string>http://www.asianstar1016.co.uk/livetv/</string>
	</dict>
</array>
</plist>
