<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1</string>
		<key>Back</key>
		<string>1</string>
		<key>Banner</key>
		<string>1</string>
		<key>Header</key>
		<string>1</string>
		<key>Footer</key>
		<string>1</string>
		<key>Email</key>
		<string>shelvinscare@gmail.com</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1</string>
		<key>Developer</key>
		<string>1</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<integer>2</integer>
		<key>DemoMode</key>
		<string>10</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>RROKUM</string>
			<key>logo</key>
			<string>Rrokum</string>
			<key>link</key>
			<string>https://www.rrokum.tv/?page_id=331</string>
			<key>http</key>
			<string>https://www.rrokum.tv</string>
		</dict>
		<dict>
			<key>name</key>
			<string>РТВ 1</string>
			<key>logo</key>
			<string>Test2</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>РТВ 2</string>
			<key>logo</key>
			<string>Test3</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>ТВ Дуга Плус</string>
			<key>logo</key>
			<string>Duga</string>
			<key>link</key>
			<string>http://www.tvdugaplus.com/</string>
			<key>http</key>
			<string>http://www.rtvduga.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Al Jazeera Balkans</string>
			<key>logo</key>
			<string>Test4</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>TOP SOUND</string>
			<key>logo</key>
			<string>TopSound</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>TV+</string>
			<key>logo</key>
			<string>Test1</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Al Jazeera</string>
			<key>logo</key>
			<string>Jazeera</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>N1 Srbija</string>
			<key>logo</key>
			<string>N1</string>
			<key>link</key>
			<string>http://rs.n1info.com/N1-Uzivo</string>
			<key>http</key>
			<string>http://rs.n1info.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>euronews</string>
			<key>logo</key>
			<string>Euronews</string>
			<key>link</key>
			<string>http://de.euronews.com/live</string>
			<key>http</key>
			<string>https://www.youtube.com/user/euronewsfr/videos?live_view=501&amp;flow=grid&amp;view=2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bloomberg TV Europe</string>
			<key>logo</key>
			<string>bloomberg</string>
			<key>link</key>
			<string>https://www.bloomberg.com/live/europe</string>
			<key>http</key>
			<string>https://www.bloomberg.com/live/us</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sky News</string>
			<key>logo</key>
			<string>Sky</string>
			<key>link</key>
			<string>http://news.sky.com/watch-live</string>
			<key>http</key>
			<string>https://www.youtube.com/user/skynews</string>
		</dict>
		<dict>
			<key>name</key>
			<string>СОС канал</string>
			<key>logo</key>
			<string>SOS</string>
			<key>link</key>
			<string>http://soskanal.net/sos-stream</string>
			<key>http</key>
			<string>http://soskanal.net/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Subotica</string>
			<key>logo</key>
			<string>Subotica</string>
			<key>link</key>
			<string>http://www.tvsubotica.com/index.php?c=tvsu_live&amp;slider=off&amp;lg=sr</string>
			<key>http</key>
			<string>http://www.tvsubotica.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>K23</string>
			<key>logo</key>
			<string>K23</string>
			<key>link</key>
			<string>http://www.k23tv.com/online-tv/</string>
			<key>http</key>
			<string>http://www.k23tv.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pannon RTV</string>
			<key>logo</key>
			<string>Pannon</string>
			<key>link</key>
			<string>http://pannonrtv.com/web2/?p=294454</string>
			<key>http</key>
			<string>http://pannonrtv.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kanal 9</string>
			<key>logo</key>
			<string>9</string>
			<key>link</key>
			<string>http://www.kanal9tv.com/tv-k9-uzivo/</string>
			<key>http</key>
			<string>http://www.kanal9tv.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RTV City Ub</string>
			<key>logo</key>
			<string>RTV</string>
			<key>link</key>
			<string>http://www.rtvcityub.rs/uzivo/</string>
			<key>http</key>
			<string>http://www.rtvcityub.rs/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ТВ Ас Šabac</string>
			<key>logo</key>
			<string>As</string>
			<key>link</key>
			<string>http://www.rtvas.rs/televizija</string>
			<key>http</key>
			<string>http://www.rtvas.rs/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RTV Trstenik</string>
			<key>logo</key>
			<string>Trstenik</string>
			<key>link</key>
			<string>http://www.rtvtrstenik.rs/viewpage.php?page_id=6</string>
			<key>http</key>
			<string>http://www.rtvtrstenik.rs/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sandžak</string>
			<key>logo</key>
			<string>Sandzak</string>
			<key>link</key>
			<string>http://www.sandzak.tv/</string>
			<key>http</key>
			<string>http://www.sandzak.tv/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kladovo</string>
			<key>logo</key>
			<string>Kladovo</string>
			<key>link</key>
			<string>http://www.kladovo.net/iptv/indexktv.html</string>
			<key>http</key>
			<string>http://www.kladovo.net/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Leskovac</string>
			<key>logo</key>
			<string>Leskovac</string>
			<key>link</key>
			<string>http://www.tvl.rs/</string>
			<key>http</key>
			<string>http://partners.nettvplus.com/tvleskovac/video.html?iframe=true&amp;width=740&amp;height=600</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ТВ Протокол К-1</string>
			<key>logo</key>
			<string>K1</string>
			<key>link</key>
			<string>http://www.protokolk1.tv/index.php/protokol-k-1-uivo</string>
			<key>http</key>
			<string>http://www.protokolk1.tv</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Бел Ами</string>
			<key>logo</key>
			<string>Belle</string>
			<key>link</key>
			<string>http://www.belami.rs/tv-uzivo/</string>
			<key>http</key>
			<string>http://www.belami.rs/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pi Canal Pirot</string>
			<key>logo</key>
			<string>Pi</string>
			<key>link</key>
			<string>http://www.pikanal.rs/live-tv/</string>
			<key>http</key>
			<string>http://www.pikanal.rs/live-tv/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio S1 TV</string>
			<key>logo</key>
			<string>S1</string>
			<key>link</key>
			<string>http://www.radios1.rs/tv/</string>
			<key>http</key>
			<string>http://www.radios1.rs</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Храм</string>
			<key>logo</key>
			<string>Hram</string>
			<key>link</key>
			<string>http://www.tvhram.rs/</string>
			<key>http</key>
			<string>http://www.tvhram.rs/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Zdrava</string>
			<key>logo</key>
			<string>Zdrava</string>
			<key>link</key>
			<string>http://rs.zdrava-televizija.com/</string>
			<key>http</key>
			<string>http://rs.zdrava-televizija.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>EbS Europe by Satellite</string>
			<key>logo</key>
			<string>EbS</string>
			<key>link</key>
			<string>http://ec.europa.eu/avservices/ebs/live.cfm?page=1</string>
			<key>http</key>
			<string>http://ec.europa.eu/avservices/ebs/schedule.cfm</string>
		</dict>
	</array>
</dict>
</plist>
