<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>369413026763740700</string>
		<key>Main</key>
		<string>MoldovaTV</string>
		<key>Back</key>
		<string>MoldovaTV</string>
		<key>Banner</key>
		<string>2838538771</string>
		<key>Header</key>
		<string>9</string>
		<key>Footer</key>
		<string>9</string>
		<key>Movie</key>
		<string>splash on movie description screen</string>
		<key>Bottom</key>
		<string>banner on movie description screen</string>
		<key>Similar</key>
		<string>splash on similar movies screen</string>
		<key>Application</key>
		<string>9</string>
		<key>Developer</key>
		<string>9</string>
		<key>Email</key>
		<string>iden@gmail.com</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>Mode</key>
		<string>4</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>РТС Радио-телевизија Србије</string>
			<key>logo</key>
			<string>RTS</string>
			<key>link</key>
			<string>http://www.rts.rs/page/tv/ci/live.html</string>
			<key>http</key>
			<string>http://www.rts.rs/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>N1 Srbija</string>
			<key>logo</key>
			<string>N1</string>
			<key>link</key>
			<string>http://rs.n1info.com/N1-Uzivo</string>
			<key>http</key>
			<string>http://rs.n1info.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>СОС канал</string>
			<key>logo</key>
			<string>SOS</string>
			<key>link</key>
			<string>http://soskanal.net/sos-stream</string>
			<key>http</key>
			<string>http://soskanal.net/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Subotica</string>
			<key>logo</key>
			<string>Subotica</string>
			<key>link</key>
			<string>http://www.tvsubotica.com/index.php?c=tvsu_live&amp;slider=off&amp;lg=sr</string>
			<key>http</key>
			<string>http://www.tvsubotica.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>K23</string>
			<key>logo</key>
			<string>K23</string>
			<key>link</key>
			<string>http://www.k23tv.com/online-tv/</string>
			<key>http</key>
			<string>http://www.k23tv.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bloomberg TV Europe</string>
			<key>logo</key>
			<string>bloomberg</string>
			<key>link</key>
			<string>https://www.bloomberg.com/live/europe</string>
			<key>http</key>
			<string>https://www.bloomberg.com/live/us</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sky News</string>
			<key>logo</key>
			<string>Sky</string>
			<key>link</key>
			<string>http://news.sky.com/watch-live</string>
			<key>http</key>
			<string>https://www.youtube.com/user/skynews</string>
		</dict>
	</array>
</dict>
</plist>
