<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1</string>
		<key>Back</key>
		<string>1</string>
		<key>Banner</key>
		<string>1</string>
		<key>Header</key>
		<string>1</string>
		<key>Footer</key>
		<string>1</string>
		<key>Email</key>
		<string>shelvinscare@gmail.com</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1</string>
		<key>Developer</key>
		<string>1</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<integer>2</integer>
		<key>DemoMode</key>
		<string>9</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>RROKUM</string>
			<key>logo</key>
			<string>Rrokum</string>
			<key>link</key>
			<string>https://www.rrokum.tv/?page_id=331</string>
			<key>http</key>
			<string>https://www.rrokum.tv</string>
		</dict>
		<dict>
			<key>name</key>
			<string>РТВ 1</string>
			<key>logo</key>
			<string>Test2</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>РТВ 2</string>
			<key>logo</key>
			<string>Test3</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>ТВ Дуга Плус</string>
			<key>logo</key>
			<string>Duga</string>
			<key>link</key>
			<string>http://www.tvdugaplus.com/</string>
			<key>http</key>
			<string>http://www.rtvduga.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Al Jazeera Balkans</string>
			<key>logo</key>
			<string>Test4</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>TOP SOUND</string>
			<key>logo</key>
			<string>TopSound</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>TV+</string>
			<key>logo</key>
			<string>Test1</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Al Jazeera</string>
			<key>logo</key>
			<string>Jazeera</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>euronews</string>
			<key>logo</key>
			<string>Euronews</string>
			<key>link</key>
			<string>http://de.euronews.com/live</string>
			<key>http</key>
			<string>https://www.youtube.com/user/euronewsfr/videos?live_view=501&amp;flow=grid&amp;view=2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bloomberg TV Europe</string>
			<key>logo</key>
			<string>bloomberg</string>
			<key>link</key>
			<string>https://www.bloomberg.com/live/europe</string>
			<key>http</key>
			<string>https://www.bloomberg.com/live/us</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sky News</string>
			<key>logo</key>
			<string>Sky</string>
			<key>link</key>
			<string>http://news.sky.com/watch-live</string>
			<key>http</key>
			<string>https://www.youtube.com/user/skynews</string>
		</dict>
		<dict>
			<key>name</key>
			<string>N1 Srbija</string>
			<key>logo</key>
			<string>N1</string>
			<key>link</key>
			<string>http://rs.n1info.com/N1-Uzivo</string>
			<key>http</key>
			<string>http://rs.n1info.com</string>
		</dict>
	</array>
</dict>
</plist>
