<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>3848949209</string>
		<key>Back</key>
		<string>6675967686</string>
		<key>Banner</key>
		<string>7534146995</string>
		<key>Header</key>
		<string>6690734967</string>
		<key>Footer</key>
		<string>5362886011</string>
		<key>Email</key>
		<string>ios.apps.community@gmail.com</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1447359699</string>
		<key>Developer</key>
		<string>1360678770</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>CNBC Africa</string>
			<key>logo</key>
			<string>CNBC</string>
			<key>link</key>
			<string>https://www.cnbcafrica.com/watch/</string>
			<key>http</key>
			<string>https://www.youtube.com/user/ABNDigital/videos?flow=grid&amp;view=2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ANN7 - Africa News Network7</string>
			<key>logo</key>
			<string>ANN7</string>
			<key>link</key>
			<string>http://www.ann7.com/live-tv/</string>
			<key>http</key>
			<string>https://www.youtube.com/channel/UC6gciFMFztxlRrO5f4K1xbQ</string>
		</dict>
		<dict>
			<key>name</key>
			<string>SABC News</string>
			<key>logo</key>
			<string>SABC</string>
			<key>link</key>
			<string>https://www.youtube.com/user/sabcdigitalnews</string>
			<key>http</key>
			<string>http://www.sabcnews.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sky News</string>
			<key>logo</key>
			<string>Sky</string>
			<key>link</key>
			<string>https://news.sky.com/watch-live</string>
			<key>http</key>
			<string>https://www.youtube.com/user/skynews</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ezekiel</string>
			<key>logo</key>
			<string>Ezekiel</string>
			<key>link</key>
			<string>http://www.ezekieltvchannel.com/</string>
			<key>http</key>
			<string>http://www.ezekieltvchannel.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Faith Africa</string>
			<key>logo</key>
			<string>Africa</string>
			<key>link</key>
			<string>http://streaming.myfaithtv.com/faithafrica</string>
			<key>http</key>
			<string>http://www.myfaithtv.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Faith UK</string>
			<key>logo</key>
			<string>UK</string>
			<key>link</key>
			<string>http://streaming.myfaithtv.com/faithuk</string>
			<key>http</key>
			<string>http://www.myfaithtv.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Faith USA</string>
			<key>logo</key>
			<string>USA</string>
			<key>link</key>
			<string>http://www.myfaithusa.com/watch-live/</string>
			<key>http</key>
			<string>http://streaming.myfaithtv.com/faithusa</string>
		</dict>
		<dict>
			<key>name</key>
			<string>UBN Unity Fellowship</string>
			<key>logo</key>
			<string>UBN</string>
			<key>link</key>
			<string>http://www.unityfellowshipchurch.org.za/tv-ministry.html</string>
			<key>http</key>
			<string>http://www.unityfellowshipchurch.org.za</string>
		</dict>
		<dict>
			<key>name</key>
			<string>LoveWorldSAT</string>
			<key>logo</key>
			<string>LoveWorldSAT</string>
			<key>link</key>
			<string>https://www.loveworldsat.org/watchlisten/live-tv/</string>
			<key>http</key>
			<string>http://155.obj.netromedia.com/MobileStream/MobileStream/playlist.m3u8</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ITV Networks</string>
			<key>logo</key>
			<string>ITV</string>
			<key>link</key>
			<string>http://www.itvnetworks.tv/index.php/livestream</string>
			<key>http</key>
			<string>http://www.itvnetworks.tv</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TBN Africa</string>
			<key>logo</key>
			<string>TBN</string>
			<key>link</key>
			<string>https://www.tbninafrica.org/live-streaming</string>
			<key>http</key>
			<string>https://www.tbninafrica.org/webcast</string>
		</dict>
		<dict>
			<key>name</key>
			<string>GNF God Never Fails</string>
			<key>logo</key>
			<string>GNF</string>
			<key>link</key>
			<string>http://www.gnftv.com/</string>
			<key>http</key>
			<string>http://www.gnftv.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Celebration</string>
			<key>logo</key>
			<string>Celebration</string>
			<key>link</key>
			<string>https://mycelebrationtv.com/</string>
			<key>http</key>
			<string>https://mycelebrationtv.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ITVN Impact Television Network</string>
			<key>logo</key>
			<string>ITVN</string>
			<key>link</key>
			<string>http://www.itvn.co.za/</string>
			<key>http</key>
			<string>https://www.youtube.com/user/ITVNSA/videos?view=2&amp;flow=grid</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ADBN Ancient of Days Broadcasting Network</string>
			<key>logo</key>
			<string>ADBN</string>
			<key>link</key>
			<string>http://www.ancientofdays.tv/</string>
			<key>http</key>
			<string>http://www.ancientofdays.tv/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rhema</string>
			<key>logo</key>
			<string>Rhema</string>
			<key>link</key>
			<string>http://www.rhema.co.za/features/rhematv/watchrtv-2</string>
			<key>http</key>
			<string>http://www.rhema.co.za/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rabboni</string>
			<key>logo</key>
			<string>Rabboni</string>
			<key>link</key>
			<string>https://www.rabbonicentreministries.org.za/live-stream/</string>
			<key>http</key>
			<string>https://www.rabbonicentreministries.org.za</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RLW Ministries</string>
			<key>logo</key>
			<string>RLW</string>
			<key>link</key>
			<string>http://rlw.org.za/media/tv/</string>
			<key>http</key>
			<string>http://rlw.org.za</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ROV Rock of Victory</string>
			<key>logo</key>
			<string>ROV</string>
			<key>link</key>
			<string>http://www.rovtv.org/watch-online/</string>
			<key>http</key>
			<string>http://www.rovtv.org</string>
		</dict>
		<dict>
			<key>name</key>
			<string>AMI Alleluia Ministries International</string>
			<key>logo</key>
			<string>AMI</string>
			<key>link</key>
			<string>http://www.amitv.com/</string>
			<key>http</key>
			<string>http://www.amitv.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Omega Gospel</string>
			<key>logo</key>
			<string>Omega</string>
			<key>link</key>
			<string>http://www.omegagospel.org/webtv/</string>
			<key>http</key>
			<string>https://www.youtube.com/channel/UCuRhnEQ7y4rCsg__95uy3pw/videos?view=2&amp;live_view=501&amp;flow=grid</string>
		</dict>
	</array>
</dict>
</plist>
