<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1</string>
		<key>Back</key>
		<string>1</string>
		<key>Banner</key>
		<string>7534146995</string>
		<key>Header</key>
		<string>1</string>
		<key>Footer</key>
		<string>1</string>
		<key>Email</key>
		<string>1</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1</string>
		<key>Developer</key>
		<string>1</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>CNBC Africa</string>
			<key>logo</key>
			<string>CNBC</string>
			<key>link</key>
			<string>https://www.cnbcafrica.com/watch/</string>
			<key>http</key>
			<string>https://www.youtube.com/user/ABNDigital/videos?flow=grid&amp;view=2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ANN7 - Africa News Network7</string>
			<key>logo</key>
			<string>ANN7</string>
			<key>link</key>
			<string>http://www.ann7.com/live-tv/</string>
			<key>http</key>
			<string>https://www.youtube.com/channel/UC6gciFMFztxlRrO5f4K1xbQ</string>
		</dict>
		<dict>
			<key>name</key>
			<string>SABC News</string>
			<key>logo</key>
			<string>SABC</string>
			<key>link</key>
			<string>https://www.youtube.com/user/sabcdigitalnews</string>
			<key>http</key>
			<string>http://www.sabcnews.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sky News</string>
			<key>logo</key>
			<string>Sky</string>
			<key>link</key>
			<string>http://news.sky.com/watch-live</string>
			<key>http</key>
			<string>https://www.youtube.com/user/skynews</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Faith Africa</string>
			<key>logo</key>
			<string>Africa</string>
			<key>link</key>
			<string>http://streaming.myfaithtv.com/faithafrica</string>
			<key>http</key>
			<string>http://www.myfaithtv.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Faith UK</string>
			<key>logo</key>
			<string>UK</string>
			<key>link</key>
			<string>http://streaming.myfaithtv.com/faithuk</string>
			<key>http</key>
			<string>http://www.myfaithtv.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Faith USA</string>
			<key>logo</key>
			<string>USA</string>
			<key>link</key>
			<string>http://www.myfaithusa.com/watch-live/</string>
			<key>http</key>
			<string>http://streaming.myfaithtv.com/faithusa</string>
		</dict>
		<dict>
			<key>name</key>
			<string>LoveWorldSAT</string>
			<key>logo</key>
			<string>LoveWorldSAT</string>
			<key>link</key>
			<string>https://www.loveworldsat.org/watchlisten/live-tv/</string>
			<key>http</key>
			<string>http://155.obj.netromedia.com/MobileStream/MobileStream/playlist.m3u8</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TBN Africa</string>
			<key>logo</key>
			<string>TBN</string>
			<key>link</key>
			<string>https://www.tbninafrica.org/live-streaming</string>
			<key>http</key>
			<string>https://www.tbninafrica.org/webcast</string>
		</dict>
	</array>
</dict>
</plist>
