<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>Root</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>9630751173</string>
		<key>Back</key>
		<string>2107484371</string>
		<key>Banner</key>
		<string>8154017970</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<integer>2</integer>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Cuatro</string>
			<key>logo</key>
			<string>Cuatro</string>
			<key>link</key>
			<string>http://www.cuatro.com/en-directo/</string>
			<key>http</key>
			<string>http://www.cuatro.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Telecinco</string>
			<key>logo</key>
			<string>Telecinco</string>
			<key>link</key>
			<string>http://www.telecinco.es/endirecto/</string>
			<key>http</key>
			<string>http://www.telecinco.es/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Libertad Digital</string>
			<key>logo</key>
			<string>Libertad</string>
			<key>link</key>
			<string>http://tv.libertaddigital.com/directo.html</string>
			<key>http</key>
			<string>http://www.libertaddigital.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>La1</string>
			<key>logo</key>
			<string>La1</string>
			<key>link</key>
			<string>http://www.rtve.es/directo/la-1/</string>
			<key>http</key>
			<string>http://www.rtve.es/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>La2</string>
			<key>logo</key>
			<string>La2</string>
			<key>link</key>
			<string>http://www.rtve.es/directo/la-2/</string>
			<key>http</key>
			<string>http://www.rtve.es/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>La1 Catalunya</string>
			<key>logo</key>
			<string>Catalunya</string>
			<key>link</key>
			<string>http://www.rtve.es/television/catalunya/directo/</string>
			<key>http</key>
			<string>http://www.rtve.es/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>24</string>
			<key>logo</key>
			<string>24</string>
			<key>link</key>
			<string>http://www.rtve.es/directo/canal-24h/</string>
			<key>http</key>
			<string>http://www.rtve.es/noticias/mas-24/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RT en Español</string>
			<key>logo</key>
			<string>RT</string>
			<key>link</key>
			<string>https://actualidad.rt.com/en_vivo</string>
			<key>http</key>
			<string>https://actualidad.rt.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Logos</string>
			<key>logo</key>
			<string>Logos</string>
			<key>link</key>
			<string>http://logostv.es/ver-en-directo/</string>
			<key>http</key>
			<string>http://logostv.es/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Iglesia Samaria</string>
			<key>logo</key>
			<string>Samaria</string>
			<key>link</key>
			<string>http://www.iglesiasamaria.org/television-cristiana-canal-cristiano-en-vivo.html</string>
			<key>http</key>
			<string>http://www.iglesiasamaria.org/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Córdoba Internacional</string>
			<key>logo</key>
			<string>Cordoba</string>
			<key>link</key>
			<string>http://www.cordobainternacional.com/</string>
			<key>http</key>
			<string>http://www.cordobainternacional.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Canal Sur Andalucía</string>
			<key>logo</key>
			<string>Sur</string>
			<key>link</key>
			<string>http://www.canalsur.es/en_directo-1193.html</string>
			<key>http</key>
			<string>http://www.canalsur.es/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cádiz Digital</string>
			<key>logo</key>
			<string>Cadiz</string>
			<key>link</key>
			<string>http://tv.ocadizdigital.es/tv/directo</string>
			<key>http</key>
			<string>http://tv.ocadizdigital.es</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Velevisa</string>
			<key>logo</key>
			<string>Velevisa</string>
			<key>link</key>
			<string>http://www.velevisa.com/?content=television&amp;show=directo1</string>
			<key>http</key>
			<string>http://www.velevisa.com/?content=television&amp;show=directo2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Interalmería</string>
			<key>logo</key>
			<string>Interalmeria</string>
			<key>link</key>
			<string>http://www.interalmeria.tv/directo.php</string>
			<key>http</key>
			<string>http://www.interalmeria.tv/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cancionero</string>
			<key>logo</key>
			<string>Cancionero</string>
			<key>link</key>
			<string>http://www.cancionero.es/tv/</string>
			<key>http</key>
			<string>http://www.cancionero.es</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TG7 Granada</string>
			<key>logo</key>
			<string>TG7</string>
			<key>link</key>
			<string>http://www.granada.org/inet/tg7.nsf/byclave/endirecto</string>
			<key>http</key>
			<string>http://www.granada.org/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Aragón</string>
			<key>logo</key>
			<string>Aragon</string>
			<key>link</key>
			<string>http://alacarta.aragontelevision.es/streaming/streaming.html</string>
			<key>http</key>
			<string>http://www.aragontelevision.es/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fuengirola</string>
			<key>logo</key>
			<string>Fuengirola</string>
			<key>link</key>
			<string>http://www.fuengirolatv.com/tv-streaming/</string>
			<key>http</key>
			<string>http://www.fuengirolatv.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>HTV Huesca</string>
			<key>logo</key>
			<string>HTV</string>
			<key>link</key>
			<string>http://www.radiohuesca.com/directo-htv</string>
			<key>http</key>
			<string>http://www.radiohuesca.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Teleasturias</string>
			<key>logo</key>
			<string>Teleasturias</string>
			<key>link</key>
			<string>http://tvonline.teleasturias.com/</string>
			<key>http</key>
			<string>http://www.teleasturias.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RTPA</string>
			<key>logo</key>
			<string>RTPA</string>
			<key>link</key>
			<string>http://www.rtpa.es/</string>
			<key>http</key>
			<string>http://www.rtpa.es/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>IB3</string>
			<key>logo</key>
			<string>IB3</string>
			<key>link</key>
			<string>http://ib3tv.com/directe</string>
			<key>http</key>
			<string>http://ib3tv.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>EiTB</string>
			<key>logo</key>
			<string>EiTB</string>
			<key>link</key>
			<string>http://www.eitb.eus/es/television/etb-sat/</string>
			<key>http</key>
			<string>http://www.eitb.eus</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tele7</string>
			<key>logo</key>
			<string>Tele7</string>
			<key>link</key>
			<string>http://cdn.livestream.com/embed/tele7bizkaia?</string>
			<key>http</key>
			<string>http://original.livestream.com/tele7bizkaia</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TeleBilbao</string>
			<key>logo</key>
			<string>TeleBilbao</string>
			<key>link</key>
			<string>http://www.telebilbao.es/directo.html</string>
			<key>http</key>
			<string>http://www.telebilbao.es/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RTVC Canaria</string>
			<key>logo</key>
			<string>RTVC</string>
			<key>link</key>
			<string>http://www.rtvc.es/television/enDirecto.aspx?canal=sat</string>
			<key>http</key>
			<string>http://www.rtvc.es/television/directo.aspx?ref=mm</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ojos Solidarios</string>
			<key>logo</key>
			<string>Solidarios</string>
			<key>link</key>
			<string>http://www.ojossolidarios.com/</string>
			<key>http</key>
			<string>http://www.ojossolidarios.com/principal.html</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mírame</string>
			<key>logo</key>
			<string>Mírame</string>
			<key>link</key>
			<string>http://www.mirametv.com/</string>
			<key>http</key>
			<string>http://www.mirametv.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>El Día</string>
			<key>logo</key>
			<string>El</string>
			<key>link</key>
			<string>http://eldia.tv/?page_id=3034</string>
			<key>http</key>
			<string>http://eldia.tv/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Almansa Canal Imagen</string>
			<key>logo</key>
			<string>Imagen</string>
			<key>link</key>
			<string>http://www.tvalmansa.es/index.php?r=site/canalimagen</string>
			<key>http</key>
			<string>http://www.tvalmansa.es</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Almansa Infocanal</string>
			<key>logo</key>
			<string>Infocanal</string>
			<key>link</key>
			<string>http://www.tvalmansa.es/index.php?r=site/infocanal</string>
			<key>http</key>
			<string>http://www.tvalmansa.es</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Teletoledo</string>
			<key>logo</key>
			<string>Teletoledo</string>
			<key>link</key>
			<string>http://www.teletoledo.tv/index.php/tv-en-directo</string>
			<key>http</key>
			<string>http://www.teletoledo.tv</string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Regional de Castilla-La Mancha</string>
			<key>logo</key>
			<string>Mancha</string>
			<key>link</key>
			<string>http://www.laregional.tv/index.php/tv-en-directo</string>
			<key>http</key>
			<string>http://www.laregional.tv</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RTVCyL</string>
			<key>logo</key>
			<string>RTVCyL</string>
			<key>link</key>
			<string>http://www.rtvcyl.es/directoCylTV</string>
			<key>http</key>
			<string>http://www.rtvcyl.es/Directo.aspx</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Beteve</string>
			<key>logo</key>
			<string>Beteve</string>
			<key>link</key>
			<string>http://btv.playty.com/player#/endirecte?stream=btv_stream01</string>
			<key>http</key>
			<string>http://beteve.cat/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Catalana TV3</string>
			<key>logo</key>
			<string>TV3</string>
			<key>link</key>
			<string>http://www.ccma.cat/tv3/directe/tv3/</string>
			<key>http</key>
			<string>http://www.ccma.cat</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Catalana 324</string>
			<key>logo</key>
			<string>324</string>
			<key>link</key>
			<string>http://www.ccma.cat/tv3/directe/324/</string>
			<key>http</key>
			<string>http://www.ccma.cat</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Catalana 33</string>
			<key>logo</key>
			<string>33</string>
			<key>link</key>
			<string>http://www.ccma.cat/tv3/directe/33/</string>
			<key>http</key>
			<string>http://www.ccma.cat</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Catalana Super 3</string>
			<key>logo</key>
			<string>3</string>
			<key>link</key>
			<string>http://www.ccma.cat/tv3/directe/super3/</string>
			<key>http</key>
			<string>http://www.ccma.cat</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Catalana Esport 3</string>
			<key>logo</key>
			<string>Esport</string>
			<key>link</key>
			<string>http://www.ccma.cat/tv3/directe/esport3/</string>
			<key>http</key>
			<string>http://www.ccma.cat</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RTV Vilafranca</string>
			<key>logo</key>
			<string>Vilafranca</string>
			<key>link</key>
			<string>http://www.rtvvilafranca.cat/penedes-televisio-en-directe/</string>
			<key>http</key>
			<string>http://www.rtvvilafranca.cat</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Etv</string>
			<key>logo</key>
			<string>Etv</string>
			<key>link</key>
			<string>http://www.etv.cat/en-directe</string>
			<key>http</key>
			<string>http://www.etv.cat</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Canal Blau</string>
			<key>logo</key>
			<string>Blau</string>
			<key>link</key>
			<string>http://www.canalblau.cat/televisio/televisio-en-directe/</string>
			<key>http</key>
			<string>http://www.canalblau.cat</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Vallès Visió</string>
			<key>logo</key>
			<string>Visio</string>
			<key>link</key>
			<string>http://www.vallesvisio.cat/vallesvisio-directe/</string>
			<key>http</key>
			<string>http://www.vallesvisio.cat/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>25 TV</string>
			<key>logo</key>
			<string>25</string>
			<key>link</key>
			<string>http://www.25televisio.com/streaming.php</string>
			<key>http</key>
			<string>http://www.25televisio.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>VOTV</string>
			<key>logo</key>
			<string>VOTV</string>
			<key>link</key>
			<string>http://votv.xiptv.cat/votv-en-directe</string>
			<key>http</key>
			<string>http://votv.xiptv.cat</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TV Girona</string>
			<key>logo</key>
			<string>Girona</string>
			<key>link</key>
			<string>http://tvgirona.xiptv.cat/tvendirecte</string>
			<key>http</key>
			<string>http://www.tvgirona.cat/playertvgirona/playertvgirona.htm</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RTVCE Ceuta</string>
			<key>logo</key>
			<string>RTVCE</string>
			<key>link</key>
			<string>http://www.rtvce.es/tv-directo</string>
			<key>http</key>
			<string>http://www.rtvce.es</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Canal Extremadura</string>
			<key>logo</key>
			<string>Extremadura</string>
			<key>link</key>
			<string>http://www.canalextremadura.es/tv/directo</string>
			<key>http</key>
			<string>http://www.canalextremadura.es</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Galicia TV Europa</string>
			<key>logo</key>
			<string>Galicia</string>
			<key>link</key>
			<string>http://www.crtvg.es/tvg/tvg-en-directo</string>
			<key>http</key>
			<string>http://www.crtvg.es/tvg/tvg-en-directo/canle/galicia-tv-europa</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Galicia TV America</string>
			<key>logo</key>
			<string>America</string>
			<key>link</key>
			<string>http://www.crtvg.es/tvg/tvg-en-directo/canle/galicia-tv-america</string>
			<key>http</key>
			<string>http://www.crtvg.es</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Telemadrid</string>
			<key>logo</key>
			<string>Telemadrid</string>
			<key>link</key>
			<string>http://www.telemadrid.es/emision_en_directo</string>
			<key>http</key>
			<string>http://www.telemadrid.es</string>
		</dict>
		<dict>
			<key>name</key>
			<string>laOtra</string>
			<key>logo</key>
			<string>laOtra</string>
			<key>link</key>
			<string>http://www.telemadrid.es/emision_en_directo_laotra</string>
			<key>http</key>
			<string>http://www.telemadrid.es</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Canal 33 Madrid</string>
			<key>logo</key>
			<string>Canal33</string>
			<key>link</key>
			<string>http://www.canal33.info/2016/12/ver-emision-en-directo_20.html</string>
			<key>http</key>
			<string>http://www.canal33.info</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Melilla INMUSA</string>
			<key>logo</key>
			<string>Melilla</string>
			<key>link</key>
			<string>http://www.inmusa.es/directo.php</string>
			<key>http</key>
			<string>http://www.inmusa.es</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Levante</string>
			<key>logo</key>
			<string>Levante</string>
			<key>link</key>
			<string>http://www.levantetv.es/</string>
			<key>http</key>
			<string>http://www.levantetv.es/default.jsp</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hope</string>
			<key>logo</key>
			<string>Hope</string>
			<key>link</key>
			<string>http://www.hopetv.org/watch/esperanza/</string>
			<key>http</key>
			<string>http://www.hopetv.org/watch/hope-channel-south-america/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bloomberg TV Europa</string>
			<key>logo</key>
			<string>bloomberg</string>
			<key>link</key>
			<string>https://www.bloomberg.com/live/europe</string>
			<key>http</key>
			<string>https://www.bloomberg.com/live/us</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Euronews</string>
			<key>logo</key>
			<string>Euronews</string>
			<key>link</key>
			<string>http://de.euronews.com/live</string>
			<key>http</key>
			<string>https://www.youtube.com/user/euronewsfr/videos?live_view=501&amp;flow=grid&amp;view=2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sky News</string>
			<key>logo</key>
			<string>Sky</string>
			<key>link</key>
			<string>http://news.sky.com/watch-live</string>
			<key>http</key>
			<string>https://www.youtube.com/user/skynews</string>
		</dict>
	</array>
</dict>
</plist>
