<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>Root</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>9630751173</string>
		<key>Back</key>
		<string>2107484371</string>
		<key>Banner</key>
		<string>8154017970</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<integer>2</integer>
	</dict>
	<key>Content</key>
	<array>
        <dict>
            <key>name</key>
            <string>La1</string>
            <key>logo</key>
            <string>La1</string>
            <key>link</key>
            <string>http://www.rtve.es/directo/la-1/</string>
            <key>http</key>
            <string>http://www.rtve.es/</string>
        </dict>
        <dict>
            <key>name</key>
            <string>La2</string>
            <key>logo</key>
            <string>La2</string>
            <key>link</key>
            <string>http://www.rtve.es/directo/la-2/</string>
            <key>http</key>
            <string>http://www.rtve.es/</string>
        </dict>
        <dict>
            <key>name</key>
            <string>24</string>
            <key>logo</key>
            <string>24</string>
            <key>link</key>
            <string>http://www.rtve.es/directo/canal-24h/</string>
            <key>http</key>
            <string>http://www.rtve.es/noticias/mas-24/</string>
        </dict>
        <dict>
            <key>name</key>
            <string>La1 Catalunya</string>
            <key>logo</key>
            <string>Catalunya</string>
            <key>link</key>
            <string>http://www.rtve.es/television/catalunya/directo/</string>
            <key>http</key>
            <string>http://www.rtve.es/</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Libertad Digital</string>
            <key>logo</key>
            <string>Libertad</string>
            <key>link</key>
            <string>http://tv.libertaddigital.com/directo.html</string>
            <key>http</key>
            <string>http://www.libertaddigital.com/</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Almansa Canal Imagen</string>
            <key>logo</key>
            <string>Imagen</string>
            <key>link</key>
            <string>http://www.tvalmansa.es/index.php?r=site/canalimagen</string>
            <key>http</key>
            <string>http://www.tvalmansa.es</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Almansa Infocanal</string>
            <key>logo</key>
            <string>Infocanal</string>
            <key>link</key>
            <string>http://www.tvalmansa.es/index.php?r=site/infocanal</string>
            <key>http</key>
            <string>http://www.tvalmansa.es</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Catalana TV3</string>
            <key>logo</key>
            <string>TV3</string>
            <key>link</key>
            <string>http://www.ccma.cat/tv3/directe/tv3/</string>
            <key>http</key>
            <string>http://www.ccma.cat</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Catalana 324</string>
            <key>logo</key>
            <string>324</string>
            <key>link</key>
            <string>http://www.ccma.cat/tv3/directe/324/</string>
            <key>http</key>
            <string>http://www.ccma.cat</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Catalana 33</string>
            <key>logo</key>
            <string>33</string>
            <key>link</key>
            <string>http://www.ccma.cat/tv3/directe/33/</string>
            <key>http</key>
            <string>http://www.ccma.cat</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Catalana Super 3</string>
            <key>logo</key>
            <string>3</string>
            <key>link</key>
            <string>http://www.ccma.cat/tv3/directe/super3/</string>
            <key>http</key>
            <string>http://www.ccma.cat</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Catalana Esport 3</string>
            <key>logo</key>
            <string>Esport</string>
            <key>link</key>
            <string>http://www.ccma.cat/tv3/directe/esport3/</string>
            <key>http</key>
            <string>http://www.ccma.cat</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Galicia TV Europa</string>
            <key>logo</key>
            <string>Galicia</string>
            <key>link</key>
            <string>http://www.crtvg.es/tvg/tvg-en-directo</string>
            <key>http</key>
            <string>http://www.crtvg.es/tvg/tvg-en-directo/canle/galicia-tv-europa</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Galicia TV America</string>
            <key>logo</key>
            <string>America</string>
            <key>link</key>
            <string>http://www.crtvg.es/tvg/tvg-en-directo/canle/galicia-tv-america</string>
            <key>http</key>
            <string>http://www.crtvg.es</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Telemadrid</string>
            <key>logo</key>
            <string>Telemadrid</string>
            <key>link</key>
            <string>http://www.telemadrid.es/emision_en_directo</string>
            <key>http</key>
            <string>http://www.telemadrid.es</string>
        </dict>
        <dict>
            <key>name</key>
            <string>laOtra</string>
            <key>logo</key>
            <string>laOtra</string>
            <key>link</key>
            <string>http://www.telemadrid.es/emision_en_directo_laotra</string>
            <key>http</key>
            <string>http://www.telemadrid.es</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Sky News</string>
            <key>logo</key>
            <string>Sky</string>
            <key>link</key>
            <string>http://news.sky.com/watch-live</string>
            <key>http</key>
            <string>https://www.youtube.com/user/skynews</string>
        </dict>
	</array>
</dict>
</plist>
