<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>24Corren</string>
		<key>logo</key>
		<string>24</string>
		<key>link</key>
		<string>http://www.corren.se/24corren/24corren-just-nu/</string>
		<key>http</key>
		<string>http://www.corren.se/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Västmanlands</string>
		<key>logo</key>
		<string>Vastmanlands</string>
		<key>link</key>
		<string>http://vastmanland.tv/</string>
		<key>http</key>
		<string>http://vastmanland.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>24nt</string>
		<key>logo</key>
		<string>nt</string>
		<key>link</key>
		<string>http://www.nt.se/24nt/sandningen-just-nu/</string>
		<key>http</key>
		<string>http://www.nt.se/24nt/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Skellefteå</string>
		<key>logo</key>
		<string>Skelleftea</string>
		<key>link</key>
		<string>http://tvskelleftea.se/index.php/webbtv</string>
		<key>http</key>
		<string>http://tvskelleftea.se</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ÖKS Öppna Kanalen Stockholm</string>
		<key>logo</key>
		<string>OKS</string>
		<key>link</key>
		<string>https://oksplay.solidtango.com/live/forsta-livesandningen</string>
		<key>http</key>
		<string>https://oksplay.solidtango.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Malmö</string>
		<key>logo</key>
		<string>Malmo</string>
		<key>link</key>
		<string>https://malmomediakanal.solidtango.com/live/malmo-mediakanal-play-out</string>
		<key>http</key>
		<string>http://tvmalmo.se/live/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Expressen</string>
		<key>logo</key>
		<string>Expressen</string>
		<key>link</key>
		<string>http://www.expressen.se/tv/</string>
		<key>http</key>
		<string>http://www.expressen.se/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kanal 10</string>
		<key>logo</key>
		<string>10</string>
		<key>link</key>
		<string>http://kanal10.se/webbtv</string>
		<key>http</key>
		<string>http://kanal10.se</string>
	</dict>
	<dict>
		<key>name</key>
		<string>LifeStyle</string>
		<key>logo</key>
		<string>LifeStyle</string>
		<key>link</key>
		<string>http://lifestyletv.se/tv/</string>
		<key>http</key>
		<string>http://lifestyletv.se/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Himlen TV7</string>
		<key>logo</key>
		<string>TV7</string>
		<key>link</key>
		<string>http://www.himlentv7.se/webb-tv/</string>
		<key>http</key>
		<string>http://www.himlentv7.se/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Vision Sverige</string>
		<key>logo</key>
		<string>Vision</string>
		<key>link</key>
		<string>http://www.visionsverige.com/live</string>
		<key>http</key>
		<string>http://www.visionsverige.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Miracle</string>
		<key>logo</key>
		<string>Miracle</string>
		<key>link</key>
		<string>http://live.miraclechannel.com/</string>
		<key>http</key>
		<string>https://miraclechannel.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Newroz TV</string>
		<key>logo</key>
		<string>Newroz</string>
		<key>link</key>
		<string>http://www.newroz.tv/</string>
		<key>http</key>
		<string>https://livestream.com/accounts/7192261/events/2768698</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Komala</string>
		<key>logo</key>
		<string>Komala</string>
		<key>link</key>
		<string>http://www.tvkomala.com/</string>
		<key>http</key>
		<string>http://www.tvkomala.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bloomberg TV Europe</string>
		<key>logo</key>
		<string>bloomberg</string>
		<key>link</key>
		<string>https://www.bloomberg.com/live/europe</string>
		<key>http</key>
		<string>https://www.bloomberg.com/live/us</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Euronews</string>
		<key>logo</key>
		<string>Euronews</string>
		<key>link</key>
		<string>http://de.euronews.com/live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/euronewsfr/videos?live_view=501&amp;flow=grid&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>EbS Europe by Satellite</string>
		<key>logo</key>
		<string>EbS</string>
		<key>link</key>
		<string>http://ec.europa.eu/avservices/ebs/live.cfm?page=1</string>
		<key>http</key>
		<string>http://ec.europa.eu/avservices/ebs/schedule.cfm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sky News</string>
		<key>logo</key>
		<string>Sky</string>
		<key>link</key>
		<string>http://news.sky.com/watch-live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/skynews</string>
	</dict>
</array>
</plist>
