<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Sat</string>
		<key>logo</key>
		<string>sat</string>
		<key>link</key>
		<string>https://www.youtube.com/watch_popup?v=wi8Jfo4g_4E</string>
		<key>http</key>
		<string>http://www.rtv.gov.sy/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>News</string>
		<key>logo</key>
		<string>news</string>
		<key>link</key>
		<string>https://www.youtube.com/watch_popup?v=SwEP8OODPzk</string>
		<key>http</key>
		<string>http://www.rtv.gov.sy/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Aloula</string>
		<key>logo</key>
		<string>Aloula</string>
		<key>link</key>
		<string>https://www.youtube.com/</string>
		<key>http</key>
		<string>http://www.puma.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Drama</string>
		<key>logo</key>
		<string>Drama</string>
		<key>link</key>
		<string>https://www.vk.com/</string>
		<key>http</key>
		<string>http://www.twitter.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Talaqie</string>
		<key>logo</key>
		<string>Talaqie</string>
		<key>link</key>
		<string>https://www.youtube.com/watch_popup?v=OTjcCgnTJnY</string>
		<key>http</key>
		<string>http://www.rtv.gov.sy/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Education</string>
		<key>logo</key>
		<string>Education</string>
		<key>link</key>
		<string>https://www.youtube.com/watch_popup?v=g3hM1udFQz4</string>
		<key>http</key>
		<string>http://www.rtv.gov.sy/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nour-Elsham</string>
		<key>logo</key>
		<string>Nour-Elsham</string>
		<key>link</key>
		<string>https://www.youtube.com/watch_popup?v=S9hPfqnLzNY</string>
		<key>http</key>
		<string>http://www.rtv.gov.sy/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ugarit</string>
		<key>logo</key>
		<string>Ugarit</string>
		<key>link</key>
		<string>https://www.youtube.com/watch_popup?v=tSqISFydRy0</string>
		<key>http</key>
		<string>http://www.rtv.gov.sy/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Dimshq</string>
		<key>logo</key>
		<string>Dimshq</string>
		<key>link</key>
		<string>https://www.youtube.com/watch_popup?v=Fan1oa1tlzY</string>
		<key>http</key>
		<string>http://www.rtv.gov.sy/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Shaab</string>
		<key>logo</key>
		<string>Shaab</string>
		<key>link</key>
		<string>https://www.youtube.com/watch_popup?v=sIzDRLMQ_Os</string>
		<key>http</key>
		<string>http://www.rtv.gov.sy/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Shabab</string>
		<key>logo</key>
		<string>Shabab</string>
		<key>link</key>
		<string>https://www.youtube.com/watch_popup?v=9H2z29X-8do</string>
		<key>http</key>
		<string>http://www.rtv.gov.sy/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Syriana</string>
		<key>logo</key>
		<string>Syriana</string>
		<key>link</key>
		<string>https://www.youtube.com/watch_popup?v=C2-xgCkG1N4</string>
		<key>http</key>
		<string>http://www.rtv.gov.sy/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Amwaj</string>
		<key>logo</key>
		<string>Amwaj</string>
		<key>link</key>
		<string>https://www.youtube.com/watch_popup?v=_NPw1HjS3SQ</string>
		<key>http</key>
		<string>http://www.rtv.gov.sy/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Karma</string>
		<key>logo</key>
		<string>Karma</string>
		<key>link</key>
		<string>https://www.youtube.com/watch_popup?v=d9gcyvB7sTw</string>
		<key>http</key>
		<string>http://www.rtv.gov.sy/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RT Arabic</string>
		<key>logo</key>
		<string>RT</string>
		<key>link</key>
		<string>https://www.youtube.com/watch_popup?v=TGGCy5aMqC0</string>
		<key>http</key>
		<string>https://arabic.rt.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Star-2000</string>
		<key>logo</key>
		<string>star</string>
		<key>link</key>
		<string>http://www.ustream.tv/channel/startvpro/pop-out</string>
		<key>http</key>
		<string>http://www.star-2000.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Orient</string>
		<key>logo</key>
		<string>Orient</string>
		<key>link</key>
		<string>http://orient-tv.net/live/</string>
		<key>http</key>
		<string>http://orient-news.net/</string>
	</dict>
</array>
</plist>
