<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>FTV 民視新聞台</string>
		<key>logo</key>
		<string>FTV</string>
		<key>link</key>
		<string>http://news.ftv.com.tw/</string>
		<key>http</key>
		<string>https://www.youtube.com/watch?v=XxJKnDLYZz4</string>
	</dict>
	<dict>
		<key>name</key>
		<string>UDN TV</string>
		<key>logo</key>
		<string>udn</string>
		<key>link</key>
		<string>http://video.udn.com/live</string>
		<key>http</key>
		<string>http://udn.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CTS 華視新聞</string>
		<key>logo</key>
		<string>cts</string>
		<key>link</key>
		<string>http://news.cts.com.tw/</string>
		<key>http</key>
		<string>http://www.cts.com.tw/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CTi 中天新聞台</string>
		<key>logo</key>
		<string>cti</string>
		<key>link</key>
		<string>https://www.youtube.com/user/ctitv/videos?shelf_id=0&amp;live_view=501&amp;sort=dd&amp;view=2</string>
		<key>http</key>
		<string>http://www.ctitv.com.tw/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>EBC 東森新聞台</string>
		<key>logo</key>
		<string>ebc</string>
		<key>link</key>
		<string>http://news.ebc.net.tw/index.php</string>
		<key>http</key>
		<string>https://www.youtube.com/user/newsebc/videos?shelf_id=0&amp;live_view=501&amp;sort=dd&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TTV 台視新聞台</string>
		<key>logo</key>
		<string>ttv</string>
		<key>link</key>
		<string>https://www.youtube.com/channel/UCzZe-zMu-YgVFQfDmsFG_VQ/videos?view=2&amp;flow=list&amp;live_view=501</string>
		<key>http</key>
		<string>http://www.ttv.com.tw/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NTDAPTV 新唐人亞太電視台</string>
		<key>logo</key>
		<string>NTD</string>
		<key>link</key>
		<string>http://www.ntdtv.com.tw/live</string>
		<key>http</key>
		<string>http://www.ntdtv.com.tw/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SET 三立新聞台</string>
		<key>logo</key>
		<string>setn</string>
		<key>link</key>
		<string>http://www.setn.com/live/default.aspx</string>
		<key>http</key>
		<string>http://www.setn.com/LiveChannel.aspx</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TITV 原視</string>
		<key>logo</key>
		<string>titv</string>
		<key>link</key>
		<string>http://titv.ipcf.org.tw/live.jsp</string>
		<key>http</key>
		<string>http://titv.ipcf.org.tw/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Macroview TV 台灣宏觀電視</string>
		<key>logo</key>
		<string>mactv</string>
		<key>link</key>
		<string>http://www.ocacmactv.net/mactv/</string>
		<key>http</key>
		<string>http://www.ocacmactv.net/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sinda TV 信大電視台</string>
		<key>logo</key>
		<string>sinda</string>
		<key>link</key>
		<string>http://www.sindagmp.com.tw/?driect=tvshowlive</string>
		<key>http</key>
		<string>https://www.youtube.com/channel/UCZIvbuuP-xGgMG-_0tLLadg/videos?flow=list&amp;live_view=501&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Fans TV 番薯電視台</string>
		<key>logo</key>
		<string>fanstv</string>
		<key>link</key>
		<string>http://www.fanstv.tw/</string>
		<key>http</key>
		<string>http://www.fanstv.tw/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Dali TV 大立電視台</string>
		<key>logo</key>
		<string>dali</string>
		<key>link</key>
		<string>https://www.youtube.com/channel/UCTCDQIXxfrNwE_Z2iTTl8xw/videos?flow=list&amp;view=2</string>
		<key>http</key>
		<string>https://www.youtube.com/channel/UCTCDQIXxfrNwE_Z2iTTl8xw/videos?flow=list&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>EHS 東森購物</string>
		<key>logo</key>
		<string>ehs</string>
		<key>link</key>
		<string>http://www.etmall.com.tw/Pages/TV_Home.aspx?StoreID=31771</string>
		<key>http</key>
		<string>http://www.etmall.com.tw/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>U-Life 森森百貨</string>
		<key>logo</key>
		<string>umall</string>
		<key>link</key>
		<string>http://www.u-mall.com.tw/dept.aspx?StoreID=38920</string>
		<key>http</key>
		<string>http://www.u-mall.com.tw/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DaAi TV 大愛電視</string>
		<key>logo</key>
		<string>daai</string>
		<key>link</key>
		<string>https://www.youtube.com/user/DaAiVideo/videos?live_view=501&amp;view=2&amp;flow=list</string>
		<key>http</key>
		<string>http://www.daai.tv/daai-web/main/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TACT 台藝台</string>
		<key>logo</key>
		<string>tact1</string>
		<key>link</key>
		<string>http://www.tacttv.com/movie_detail.php?id=394</string>
		<key>http</key>
		<string>http://www.tacttv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TACT 2 台藝2台</string>
		<key>logo</key>
		<string>tact2</string>
		<key>link</key>
		<string>http://www.tacttv.com/movie_detail.php?id=395</string>
		<key>http</key>
		<string>http://www.tacttv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Good TV Ch.1 好消息一台</string>
		<key>logo</key>
		<string>good1</string>
		<key>link</key>
		<string>http://www.goodtv.tv/?ch1</string>
		<key>http</key>
		<string>http://www.goodtv.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Good TV Ch.2 好消息二台 / 真理造就台</string>
		<key>logo</key>
		<string>good2</string>
		<key>link</key>
		<string>http://www.goodtv.tv/?ch2</string>
		<key>http</key>
		<string>http://www.goodtv.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hwazan TV 華藏衛星電視台</string>
		<key>logo</key>
		<string>hwazan</string>
		<key>link</key>
		<string>http://www.hwazan.org/live/</string>
		<key>http</key>
		<string>http://www.hwazan.org/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Life TV 生命電視台</string>
		<key>logo</key>
		<string>lifetv</string>
		<key>link</key>
		<string>http://www.lifetv.org.tw/a_date/@live.htm</string>
		<key>http</key>
		<string>http://www.lifetv.org.tw/a_date/live.htm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CBTV 十方法界衛視</string>
		<key>logo</key>
		<string>cbtv</string>
		<key>link</key>
		<string>http://www.cbtv.com.tw/node/51</string>
		<key>http</key>
		<string>http://www.cbtv.com.tw</string>
	</dict>
	<dict>
		<key>name</key>
		<string>HOPE</string>
		<key>logo</key>
		<string>chinesehope</string>
		<key>link</key>
		<string>http://chinesehope.tv/zh/home/index.php</string>
		<key>http</key>
		<string>http://chinesehope.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>BTS 佛衛電視慈悲台</string>
		<key>logo</key>
		<string>rsbc</string>
		<key>link</key>
		<string>http://rsbc.ehosting.com.tw/bts/liveOnline.htm</string>
		<key>http</key>
		<string>http://rsbc.ehosting.com.tw/</string>
	</dict>
</array>
</plist>
