<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>TV5</string>
		<key>logo</key>
		<string>TV5</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/id1349746801</string>
		<key>http</key>
		<string>https://itunes.apple.com/app/id1308390114</string>
	</dict>
	<dict>
		<key>name</key>
		<string>BBTV 7</string>
		<key>logo</key>
		<string>BBTV</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/id1349746801</string>
		<key>http</key>
		<string>https://itunes.apple.com/app/id1308390114</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Thai PBS</string>
		<key>logo</key>
		<string>PBS</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/id1349746801</string>
		<key>http</key>
		<string>https://itunes.apple.com/app/id1308390114</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NBT</string>
		<key>logo</key>
		<string>NBT</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/id1349746801</string>
		<key>http</key>
		<string>https://itunes.apple.com/app/id1308390114</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MCOT HD</string>
		<key>logo</key>
		<string>MCOT</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/id1349746801</string>
		<key>http</key>
		<string>https://itunes.apple.com/app/id1308390114</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MCOT Family</string>
		<key>logo</key>
		<string>Family</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/id1349746801</string>
		<key>http</key>
		<string>https://itunes.apple.com/app/id1308390114</string>
	</dict>
	<dict>
		<key>name</key>
		<string>3HD (ช่อง 33)</string>
		<key>logo</key>
		<string>33</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/id1349746801</string>
		<key>http</key>
		<string>https://itunes.apple.com/app/id1308390114</string>
	</dict>
	<dict>
		<key>name</key>
		<string>3SD (ช่อง 28)</string>
		<key>logo</key>
		<string>28</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/id1349746801</string>
		<key>http</key>
		<string>https://itunes.apple.com/app/id1308390114</string>
	</dict>
	<dict>
		<key>name</key>
		<string>3Family (ช่อง 13)</string>
		<key>logo</key>
		<string>13</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/id1349746801</string>
		<key>http</key>
		<string>https://itunes.apple.com/app/id1308390114</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TNN 24 - ทีเอ็นเอ็น 24</string>
		<key>logo</key>
		<string>TNN</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/id1349746801</string>
		<key>http</key>
		<string>https://itunes.apple.com/app/id1308390114</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Voice TV 21 วอยซ์ทีวี</string>
		<key>logo</key>
		<string>Voice</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/id1349746801</string>
		<key>http</key>
		<string>https://itunes.apple.com/app/id1308390114</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bluesky ฟ้าวันใหม่ (Fahwonmai)</string>
		<key>logo</key>
		<string>Bluesky</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/id1349746801</string>
		<key>http</key>
		<string>https://itunes.apple.com/app/id1308390114</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Thairath ไทยรัฐทีวี</string>
		<key>logo</key>
		<string>Thairath</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/id1349746801</string>
		<key>http</key>
		<string>https://itunes.apple.com/app/id1308390114</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TV 24 (ทีวี 24)</string>
		<key>logo</key>
		<string>24</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/id1349746801</string>
		<key>http</key>
		<string>https://itunes.apple.com/app/id1308390114</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NEWS1 ASTV</string>
		<key>logo</key>
		<string>NEWS1</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/id1349746801</string>
		<key>http</key>
		<string>https://itunes.apple.com/app/id1308390114</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nation เนชั่นทีวี</string>
		<key>logo</key>
		<string>Nation</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/id1349746801</string>
		<key>http</key>
		<string>https://itunes.apple.com/app/id1308390114</string>
	</dict>
	<dict>
		<key>name</key>
		<string>13 Siam Thai (13 สยามไท)</string>
		<key>logo</key>
		<string>Siam</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/id1349746801</string>
		<key>http</key>
		<string>https://itunes.apple.com/app/id1308390114</string>
	</dict>
	<dict>
		<key>name</key>
		<string>new)tv นิวทีวี</string>
		<key>logo</key>
		<string>new</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/id1349746801</string>
		<key>http</key>
		<string>https://itunes.apple.com/app/id1308390114</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Suwannabhumi ทีวีช่องสุวรรณภูมิ</string>
		<key>logo</key>
		<string>Suwannabhumi</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/id1349746801</string>
		<key>http</key>
		<string>https://itunes.apple.com/app/id1308390114</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Money Channel</string>
		<key>logo</key>
		<string>Money</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/id1349746801</string>
		<key>http</key>
		<string>https://itunes.apple.com/app/id1308390114</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Parliament โทรทัศน์รัฐสภา</string>
		<key>logo</key>
		<string>Parliament</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/id1349746801</string>
		<key>http</key>
		<string>https://itunes.apple.com/app/id1308390114</string>
	</dict>
	<dict>
		<key>name</key>
		<string>PPTV</string>
		<key>logo</key>
		<string>PPTV</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/id1349746801</string>
		<key>http</key>
		<string>https://itunes.apple.com/app/id1308390114</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Workpoint ช่องเวิร์คพอยท์</string>
		<key>logo</key>
		<string>Workpoint</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/id1349746801</string>
		<key>http</key>
		<string>https://itunes.apple.com/app/id1308390114</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ช่อง 2 -ThaiCh2</string>
		<key>logo</key>
		<string>2</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/id1349746801</string>
		<key>http</key>
		<string>https://itunes.apple.com/app/id1308390114</string>
	</dict>
	<dict>
		<key>name</key>
		<string>M Channel</string>
		<key>logo</key>
		<string>M</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/id1349746801</string>
		<key>http</key>
		<string>https://itunes.apple.com/app/id1308390114</string>
	</dict>
	<dict>
		<key>name</key>
		<string>@TV แอททีวี (ATTV)</string>
		<key>logo</key>
		<string>ATTV</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/id1349746801</string>
		<key>http</key>
		<string>https://itunes.apple.com/app/id1308390114</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bloomberg Asia</string>
		<key>logo</key>
		<string>bloomberg</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/id1349746801</string>
		<key>http</key>
		<string>https://itunes.apple.com/app/id1308390114</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NAT</string>
		<key>logo</key>
		<string>NAT</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/id1349746801</string>
		<key>http</key>
		<string>https://itunes.apple.com/app/id1308390114</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hi Sport</string>
		<key>logo</key>
		<string>Hi</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/id1349746801</string>
		<key>http</key>
		<string>https://itunes.apple.com/app/id1308390114</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Amarin อมรินทร์ทีวี</string>
		<key>logo</key>
		<string>Amarin</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/id1349746801</string>
		<key>http</key>
		<string>https://itunes.apple.com/app/id1308390114</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Thai Visions</string>
		<key>logo</key>
		<string>Visions</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/id1349746801</string>
		<key>http</key>
		<string>https://itunes.apple.com/app/id1308390114</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Good</string>
		<key>logo</key>
		<string>Good</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/id1349746801</string>
		<key>http</key>
		<string>https://itunes.apple.com/app/id1308390114</string>
	</dict>
	<dict>
		<key>name</key>
		<string>JJ Channel</string>
		<key>logo</key>
		<string>JJ</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/id1349746801</string>
		<key>http</key>
		<string>https://itunes.apple.com/app/id1308390114</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Maxagro</string>
		<key>logo</key>
		<string>Maxagro</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/id1349746801</string>
		<key>http</key>
		<string>https://itunes.apple.com/app/id1308390114</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Good Living</string>
		<key>logo</key>
		<string>Living</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/id1349746801</string>
		<key>http</key>
		<string>https://itunes.apple.com/app/id1308390114</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Esan อีสานทีวี</string>
		<key>logo</key>
		<string>Esan</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/id1349746801</string>
		<key>http</key>
		<string>https://itunes.apple.com/app/id1308390114</string>
	</dict>
	<dict>
		<key>name</key>
		<string>GTV</string>
		<key>logo</key>
		<string>GTV</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/id1349746801</string>
		<key>http</key>
		<string>https://itunes.apple.com/app/id1308390114</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sabaidee สบายดี ทีวี</string>
		<key>logo</key>
		<string>Sabaidee</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/id1349746801</string>
		<key>http</key>
		<string>https://itunes.apple.com/app/id1308390114</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Topline</string>
		<key>logo</key>
		<string>Topline</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/id1349746801</string>
		<key>http</key>
		<string>https://itunes.apple.com/app/id1308390114</string>
	</dict>
	<dict>
		<key>name</key>
		<string>KCTV KC1</string>
		<key>logo</key>
		<string>KC1</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/id1349746801</string>
		<key>http</key>
		<string>https://itunes.apple.com/app/id1308390114</string>
	</dict>
	<dict>
		<key>name</key>
		<string>KCTV Cable News</string>
		<key>logo</key>
		<string>Cable</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/id1349746801</string>
		<key>http</key>
		<string>https://itunes.apple.com/app/id1308390114</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Police</string>
		<key>logo</key>
		<string>Police</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/id1349746801</string>
		<key>http</key>
		<string>https://itunes.apple.com/app/id1308390114</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Rama</string>
		<key>logo</key>
		<string>Rama</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/id1349746801</string>
		<key>http</key>
		<string>https://itunes.apple.com/app/id1308390114</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ETV</string>
		<key>logo</key>
		<string>ETV</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/id1349746801</string>
		<key>http</key>
		<string>https://itunes.apple.com/app/id1308390114</string>
	</dict>
	<dict>
		<key>name</key>
		<string>True Plookpanya</string>
		<key>logo</key>
		<string>True</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/id1349746801</string>
		<key>http</key>
		<string>https://itunes.apple.com/app/id1308390114</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MCU</string>
		<key>logo</key>
		<string>MCU</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/id1349746801</string>
		<key>http</key>
		<string>https://itunes.apple.com/app/id1308390114</string>
	</dict>
	<dict>
		<key>name</key>
		<string>1TV Thailand</string>
		<key>logo</key>
		<string>1</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/id1349746801</string>
		<key>http</key>
		<string>https://itunes.apple.com/app/id1308390114</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NBTV</string>
		<key>logo</key>
		<string>NBTV</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/id1349746801</string>
		<key>http</key>
		<string>https://itunes.apple.com/app/id1308390114</string>
	</dict>
	<dict>
		<key>name</key>
		<string>JCTV 1</string>
		<key>logo</key>
		<string>JCTV1</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/id1349746801</string>
		<key>http</key>
		<string>https://itunes.apple.com/app/id1308390114</string>
	</dict>
	<dict>
		<key>name</key>
		<string>JCTV 2</string>
		<key>logo</key>
		<string>JCTV2</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/id1349746801</string>
		<key>http</key>
		<string>https://itunes.apple.com/app/id1308390114</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DDTV</string>
		<key>logo</key>
		<string>DDTV</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/id1349746801</string>
		<key>http</key>
		<string>https://itunes.apple.com/app/id1308390114</string>
	</dict>
	<dict>
		<key>name</key>
		<string>World Buddhism WBTV</string>
		<key>logo</key>
		<string>Buddhism</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/id1349746801</string>
		<key>http</key>
		<string>https://itunes.apple.com/app/id1308390114</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Boonniyom (บุญนิยม ทีวี)</string>
		<key>logo</key>
		<string>Boonniyom</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/id1349746801</string>
		<key>http</key>
		<string>https://itunes.apple.com/app/id1308390114</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SBB</string>
		<key>logo</key>
		<string>SBB</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/id1349746801</string>
		<key>http</key>
		<string>https://itunes.apple.com/app/id1308390114</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SBT</string>
		<key>logo</key>
		<string>SBT</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/id1349746801</string>
		<key>http</key>
		<string>https://itunes.apple.com/app/id1308390114</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Chokdee</string>
		<key>logo</key>
		<string>Chokdee</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/id1349746801</string>
		<key>http</key>
		<string>https://itunes.apple.com/app/id1308390114</string>
	</dict>
	<dict>
		<key>name</key>
		<string>White Channel</string>
		<key>logo</key>
		<string>White</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/id1349746801</string>
		<key>http</key>
		<string>https://itunes.apple.com/app/id1308390114</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Yateem ทวีศีรทัธาชน</string>
		<key>logo</key>
		<string>Yateem</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/id1349746801</string>
		<key>http</key>
		<string>https://itunes.apple.com/app/id1308390114</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sky News</string>
		<key>logo</key>
		<string>Sky</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/id1349746801</string>
		<key>http</key>
		<string>https://itunes.apple.com/app/id1308390114</string>
	</dict>
</array>
</plist>
