<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>9</string>
		<key>Back</key>
		<string>9</string>
		<key>Banner</key>
		<string>3067367970</string>
		<key>Header</key>
		<string>9</string>
		<key>Footer</key>
		<string>9</string>
		<key>Application</key>
		<string>9</string>
		<key>Developer</key>
		<string>9</string>
		<key>Email</key>
		<string>iden@gmail.com</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<integer>2</integer>
	</dict>
	<key>Content</key>
	<array>
		<dict>
		<key>name</key>
		<string>TV5</string>
		<key>logo</key>
		<string>TV5</string>
		<key>link</key>
		<string>http://app.tv5.co.th/</string>
		<key>http</key>
		<string>http://www.tv5.co.th/firstpage/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>BBTV 7</string>
		<key>logo</key>
		<string>BBTV</string>
		<key>link</key>
		<string>http://www.ch7.com/live1.html</string>
		<key>http</key>
		<string>http://www.ch7.com/live.html?ref=index</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Thai PBS</string>
		<key>logo</key>
		<string>PBS</string>
		<key>link</key>
		<string>http://www.thaipbs.or.th/live</string>
		<key>http</key>
		<string>http://www.thaipbs.or.th</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MCOT HD</string>
		<key>logo</key>
		<string>MCOT</string>
		<key>link</key>
		<string>http://tv.mcot.net/channel9/MCOT%20HD</string>
		<key>http</key>
		<string>http://tv.mcot.net</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MCOT Family</string>
		<key>logo</key>
		<string>Family</string>
		<key>link</key>
		<string>http://tv.mcot.net/channel-family/MCOT%20Family</string>
		<key>http</key>
		<string>http://tv.mcot.net</string>
	</dict>
	<dict>
		<key>name</key>
		<string>3HD (ช่อง 33)</string>
		<key>logo</key>
		<string>33</string>
		<key>link</key>
		<string>http://www.thaitv3.com/%E0%B8%94%E0%B8%B9%E0%B8%97%E0%B8%B5%E0%B8%A7%E0%B8%B5%E0%B8%AD%E0%B8%AD%E0%B8%99%E0%B9%84%E0%B8%A5%E0%B8%99%E0%B9%8C</string>
		<key>http</key>
		<string>http://www.thaitv3.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>3SD (ช่อง 28)</string>
		<key>logo</key>
		<string>28</string>
		<key>link</key>
		<string>http://www.thaitv3.com/%E0%B8%94%E0%B8%B9%E0%B8%97%E0%B8%B5%E0%B8%A7%E0%B8%B5%E0%B8%AD%E0%B8%AD%E0%B8%99%E0%B9%84%E0%B8%A5%E0%B8%99%E0%B9%8C/28</string>
		<key>http</key>
		<string>http://www.thaitv3.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>3Family (ช่อง 13)</string>
		<key>logo</key>
		<string>13</string>
		<key>link</key>
		<string>http://www.thaitv3.com/%E0%B8%94%E0%B8%B9%E0%B8%97%E0%B8%B5%E0%B8%A7%E0%B8%B5%E0%B8%AD%E0%B8%AD%E0%B8%99%E0%B9%84%E0%B8%A5%E0%B8%99%E0%B9%8C/13</string>
		<key>http</key>
		<string>http://www.thaitv3.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bloomberg Asia</string>
		<key>logo</key>
		<string>bloomberg</string>
		<key>link</key>
		<string>http://www.bloomberg.com/live/asia</string>
		<key>http</key>
		<string>http://www.bloomberg.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>JCTV 1</string>
		<key>logo</key>
		<string>JCTV1</string>
		<key>link</key>
		<string>http://www.jctvthai.com/live_ch1.php</string>
		<key>http</key>
		<string>http://www.jctvthai.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>JCTV 2</string>
		<key>logo</key>
		<string>JCTV2</string>
		<key>link</key>
		<string>http://www.jctvthai.com/live_ch2.php</string>
		<key>http</key>
		<string>http://www.jctvthai.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sky News</string>
		<key>logo</key>
		<string>Sky</string>
		<key>link</key>
		<string>http://news.sky.com/watch-live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/skynews</string>
	</dict>
	</array>
</dict>
</plist>
