<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>1</string>
		<key>Main</key>
		<string>1</string>
		<key>Back</key>
		<string>1</string>
		<key>Banner</key>
		<string>1</string>
		<key>Header</key>
		<string>1</string>
		<key>Footer</key>
		<string>1</string>
		<key>Application</key>
		<string>1360619804</string>
		<key>Developer</key>
		<string>1239592099</string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<integer>2</integer>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>TV5</string>
			<key>logo</key>
			<string>TV5</string>
			<key>link</key>
			<string>http://app.tv5.co.th/</string>
			<key>http</key>
			<string>http://www.tv5.co.th/firstpage/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBTV 7</string>
			<key>logo</key>
			<string>BBTV</string>
			<key>link</key>
			<string>http://www.ch7.com/live1.html</string>
			<key>http</key>
			<string>http://www.ch7.com/live.html?ref=index</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Thai PBS</string>
			<key>logo</key>
			<string>PBS</string>
			<key>link</key>
			<string>http://www.thaipbs.or.th/live</string>
			<key>http</key>
			<string>http://www.thaipbs.or.th</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NBT</string>
			<key>logo</key>
			<string>NBT</string>
			<key>link</key>
			<string>http://thainews.prd.go.th/website_en/live/index</string>
			<key>http</key>
			<string>http://www.prd.go.th/main.php?filename=Prd_tv</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MCOT HD</string>
			<key>logo</key>
			<string>MCOT</string>
			<key>link</key>
			<string>http://tv.mcot.net/channel9/MCOT%20HD</string>
			<key>http</key>
			<string>http://tv.mcot.net</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MCOT Family</string>
			<key>logo</key>
			<string>Family</string>
			<key>link</key>
			<string>http://tv.mcot.net/channel-family/MCOT%20Family</string>
			<key>http</key>
			<string>http://tv.mcot.net</string>
		</dict>
		<dict>
			<key>name</key>
			<string>3HD (ช่อง 33)</string>
			<key>logo</key>
			<string>33</string>
			<key>link</key>
			<string>http://www.thaitv3.com/%E0%B8%94%E0%B8%B9%E0%B8%97%E0%B8%B5%E0%B8%A7%E0%B8%B5%E0%B8%AD%E0%B8%AD%E0%B8%99%E0%B9%84%E0%B8%A5%E0%B8%99%E0%B9%8C</string>
			<key>http</key>
			<string>http://www.thaitv3.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>3SD (ช่อง 28)</string>
			<key>logo</key>
			<string>28</string>
			<key>link</key>
			<string>http://www.thaitv3.com/%E0%B8%94%E0%B8%B9%E0%B8%97%E0%B8%B5%E0%B8%A7%E0%B8%B5%E0%B8%AD%E0%B8%AD%E0%B8%99%E0%B9%84%E0%B8%A5%E0%B8%99%E0%B9%8C/28</string>
			<key>http</key>
			<string>http://www.thaitv3.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>3Family (ช่อง 13)</string>
			<key>logo</key>
			<string>13</string>
			<key>link</key>
			<string>http://www.thaitv3.com/%E0%B8%94%E0%B8%B9%E0%B8%97%E0%B8%B5%E0%B8%A7%E0%B8%B5%E0%B8%AD%E0%B8%AD%E0%B8%99%E0%B9%84%E0%B8%A5%E0%B8%99%E0%B9%8C/13</string>
			<key>http</key>
			<string>http://www.thaitv3.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TNN 24 - ทีเอ็นเอ็น 24</string>
			<key>logo</key>
			<string>TNN</string>
			<key>link</key>
			<string>http://www.tnnthailand.com/player.php</string>
			<key>http</key>
			<string>http://www.tnnthailand.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Voice TV 21 วอยซ์ทีวี</string>
			<key>logo</key>
			<string>Voice</string>
			<key>link</key>
			<string>http://live.voicetv.co.th/</string>
			<key>http</key>
			<string>http://www.voicetv.co.th/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bluesky ฟ้าวันใหม่ (Fahwonmai)</string>
			<key>logo</key>
			<string>Bluesky</string>
			<key>link</key>
			<string>http://www.fahwonmai.tv/</string>
			<key>http</key>
			<string>https://www.youtube.com/channel/UCwqKydbDMrq9fcStsJIstwQ/videos?flow=grid&amp;live_view=501&amp;view=2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Thairath ไทยรัฐทีวี</string>
			<key>logo</key>
			<string>Thairath</string>
			<key>link</key>
			<string>http://www.thairath.co.th/tv/live/</string>
			<key>http</key>
			<string>http://www.thairath.co.th/tv/live/#rss</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TV 24 (ทีวี 24)</string>
			<key>logo</key>
			<string>24</string>
			<key>link</key>
			<string>http://www.tv24.in.th/2015/05/watch-live-stream.html</string>
			<key>http</key>
			<string>http://www.tv24.in.th</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NEWS1 ASTV</string>
			<key>logo</key>
			<string>NEWS1</string>
			<key>link</key>
			<string>http://www.manager.co.th/home/astv/</string>
			<key>http</key>
			<string>http://www.manager.co.th</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nation เนชั่นทีวี</string>
			<key>logo</key>
			<string>Nation</string>
			<key>link</key>
			<string>http://www.nationtv.tv/main/live/</string>
			<key>http</key>
			<string>http://www.nationtv.tv</string>
		</dict>
		<dict>
			<key>name</key>
			<string>13 Siam Thai (13 สยามไท)</string>
			<key>logo</key>
			<string>Siam</string>
			<key>link</key>
			<string>http://www.13livetv.com/</string>
			<key>http</key>
			<string>http://www.xn--13-jsi2bec6c9c1i.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>new)tv นิวทีวี</string>
			<key>logo</key>
			<string>new</string>
			<key>link</key>
			<string>http://www.newtv.co.th/live</string>
			<key>http</key>
			<string>http://www.newtv.co.th</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Suwannabhumi ทีวีช่องสุวรรณภูมิ</string>
			<key>logo</key>
			<string>Suwannabhumi</string>
			<key>link</key>
			<string>http://suwannabhumi.tv/</string>
			<key>http</key>
			<string>http://suwannabhumi.tv/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Money Channel</string>
			<key>logo</key>
			<string>Money</string>
			<key>link</key>
			<string>http://www.moneychannel.co.th/live/</string>
			<key>http</key>
			<string>http://www.moneychannel.co.th</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Parliament โทรทัศน์รัฐสภา</string>
			<key>logo</key>
			<string>Parliament</string>
			<key>link</key>
			<string>http://www.radioparliament.net/parliament/viewLive.php?live_id=17</string>
			<key>http</key>
			<string>http://www.radioparliament.net/parliament/viewLive.php?live_id=4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>PPTV</string>
			<key>logo</key>
			<string>PPTV</string>
			<key>link</key>
			<string>https://www.pptvhd36.com/live</string>
			<key>http</key>
			<string>https://www.pptvhd36.com/live#live2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Workpoint ช่องเวิร์คพอยท์</string>
			<key>logo</key>
			<string>Workpoint</string>
			<key>link</key>
			<string>http://workpointtv.com/live</string>
			<key>http</key>
			<string>http://workpointtv.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ช่อง 2 -ThaiCh2</string>
			<key>logo</key>
			<string>2</string>
			<key>link</key>
			<string>http://thaich2.com/live/</string>
			<key>http</key>
			<string>http://thaich2.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>M Channel</string>
			<key>logo</key>
			<string>M</string>
			<key>link</key>
			<string>http://www.m-channel.com/live.html</string>
			<key>http</key>
			<string>http://www.m-channel.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>@TV แอททีวี (ATTV)</string>
			<key>logo</key>
			<string>ATTV</string>
			<key>link</key>
			<string>http://www.attvthai.com/</string>
			<key>http</key>
			<string>http://www.attvthai.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bloomberg Asia</string>
			<key>logo</key>
			<string>bloomberg</string>
			<key>link</key>
			<string>http://www.bloomberg.com/live/asia</string>
			<key>http</key>
			<string>http://www.bloomberg.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NAT</string>
			<key>logo</key>
			<string>NAT</string>
			<key>link</key>
			<string>http://www.nattv.com/thai.php</string>
			<key>http</key>
			<string>http://www.ustream.tv/channel/nat-news</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hi Sport</string>
			<key>logo</key>
			<string>Hi</string>
			<key>link</key>
			<string>http://www.hicabletv.com/</string>
			<key>http</key>
			<string>http://www.hicabletv.com/fb.php</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Amarin อมรินทร์ทีวี</string>
			<key>logo</key>
			<string>Amarin</string>
			<key>link</key>
			<string>http://www.amarintv.com/live-tv/</string>
			<key>http</key>
			<string>http://www.amarintv.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Thai Visions</string>
			<key>logo</key>
			<string>Visions</string>
			<key>link</key>
			<string>http://www.abtv.co.th/live.php?id=2</string>
			<key>http</key>
			<string>http://www.abtv.co.th/abtv_live.php</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Good</string>
			<key>logo</key>
			<string>Good</string>
			<key>link</key>
			<string>http://www.abtv.co.th/live.php?id=3</string>
			<key>http</key>
			<string>http://www.abtv.co.th/abtv_live.php</string>
		</dict>
		<dict>
			<key>name</key>
			<string>JJ Channel</string>
			<key>logo</key>
			<string>JJ</string>
			<key>link</key>
			<string>http://www.abtv.co.th/live.php?id=5</string>
			<key>http</key>
			<string>http://www.abtv.co.th/abtv_live.php</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Maxagro</string>
			<key>logo</key>
			<string>Maxagro</string>
			<key>link</key>
			<string>http://www.abtv.co.th/live.php?id=6</string>
			<key>http</key>
			<string>http://www.abtv.co.th/abtv_live.php</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Good Living</string>
			<key>logo</key>
			<string>Living</string>
			<key>link</key>
			<string>http://www.abtv.co.th/live.php?id=9</string>
			<key>http</key>
			<string>http://www.abtv.co.th/abtv_live.php</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Esan อีสานทีวี</string>
			<key>logo</key>
			<string>Esan</string>
			<key>link</key>
			<string>http://www.esan-tv.com/live.php</string>
			<key>http</key>
			<string>http://www.esan-tv.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>GTV</string>
			<key>logo</key>
			<string>GTV</string>
			<key>link</key>
			<string>http://www.goodideatv.tv/#live-tv</string>
			<key>http</key>
			<string>http://www.goodideatv.tv/index.html#live-tv</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sabaidee สบายดี ทีวี</string>
			<key>logo</key>
			<string>Sabaidee</string>
			<key>link</key>
			<string>http://www.sabaideetv.com/#live</string>
			<key>http</key>
			<string>http://www.sabaideetv.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Topline</string>
			<key>logo</key>
			<string>Topline</string>
			<key>link</key>
			<string>http://www.toplinetv.com/</string>
			<key>http</key>
			<string>http://www.toplinetv.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>KCTV KC1</string>
			<key>logo</key>
			<string>KC1</string>
			<key>link</key>
			<string>http://www.kctv.co.th/kclive_1.html</string>
			<key>http</key>
			<string>http://www.kctv.co.th/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>KCTV Cable News</string>
			<key>logo</key>
			<string>Cable</string>
			<key>link</key>
			<string>http://www.kctv.co.th/cablelive_1.html</string>
			<key>http</key>
			<string>http://www.kctv.co.th/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Police</string>
			<key>logo</key>
			<string>Police</string>
			<key>link</key>
			<string>http://www.policetv.tv/</string>
			<key>http</key>
			<string>http://www.policetv.tv/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rama</string>
			<key>logo</key>
			<string>Rama</string>
			<key>link</key>
			<string>https://www.youtube.com/user/RamachannelTV/videos?view=2&amp;flow=grid&amp;live_view=501</string>
			<key>http</key>
			<string>http://med.mahidol.ac.th/ramachannel/home/live</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ETV</string>
			<key>logo</key>
			<string>ETV</string>
			<key>link</key>
			<string>http://www.etvthai.tv/stream/home.aspx</string>
			<key>http</key>
			<string>http://www.etvthai.tv/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>True Plookpanya</string>
			<key>logo</key>
			<string>True</string>
			<key>link</key>
			<string>http://www.trueplookpanya.com/new/tv_live/</string>
			<key>http</key>
			<string>http://www.trueplookpanya.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MCU</string>
			<key>logo</key>
			<string>MCU</string>
			<key>link</key>
			<string>http://tv.mcu.ac.th/</string>
			<key>http</key>
			<string>http://tv.mcu.ac.th/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>1TV Thailand</string>
			<key>logo</key>
			<string>1</string>
			<key>link</key>
			<string>http://www.1tvthailand.com/</string>
			<key>http</key>
			<string>http://www.1tvthailand.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NBTV</string>
			<key>logo</key>
			<string>NBTV</string>
			<key>link</key>
			<string>http://nbtv.biz/</string>
			<key>http</key>
			<string>http://nbtv.biz/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>JCTV 1</string>
			<key>logo</key>
			<string>JCTV1</string>
			<key>link</key>
			<string>http://www.jctvthai.com/live_ch1.php</string>
			<key>http</key>
			<string>http://www.jctvthai.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>JCTV 2</string>
			<key>logo</key>
			<string>JCTV2</string>
			<key>link</key>
			<string>http://www.jctvthai.com/live_ch2.php</string>
			<key>http</key>
			<string>http://www.jctvthai.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DDTV</string>
			<key>logo</key>
			<string>DDTV</string>
			<key>link</key>
			<string>http://www.8875fm.com/live.php</string>
			<key>http</key>
			<string>http://www.8875fm.com/index.php</string>
		</dict>
		<dict>
			<key>name</key>
			<string>World Buddhism WBTV</string>
			<key>logo</key>
			<string>Buddhism</string>
			<key>link</key>
			<string>http://www.wbtvonline.com/live.php</string>
			<key>http</key>
			<string>http://www.wbtvonline.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Boonniyom (บุญนิยม ทีวี)</string>
			<key>logo</key>
			<string>Boonniyom</string>
			<key>link</key>
			<string>http://www.boonniyom.tv/</string>
			<key>http</key>
			<string>http://www.boonniyom.tv/hd.php</string>
		</dict>
		<dict>
			<key>name</key>
			<string>SBB</string>
			<key>logo</key>
			<string>SBB</string>
			<key>link</key>
			<string>http://www.sbbtv999.tv/tvonline/</string>
			<key>http</key>
			<string>http://www.sbbtv999.tv/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>SBT</string>
			<key>logo</key>
			<string>SBT</string>
			<key>link</key>
			<string>http://www.luangta.com/live-flash/</string>
			<key>http</key>
			<string>http://www.luangta.com/index.php</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chokdee</string>
			<key>logo</key>
			<string>Chokdee</string>
			<key>link</key>
			<string>http://www.chokdeetv.com/</string>
			<key>http</key>
			<string>http://www.chokdeetv.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>White Channel</string>
			<key>logo</key>
			<string>White</string>
			<key>link</key>
			<string>http://whitechannel.tv/rerun/</string>
			<key>http</key>
			<string>http://whitechannel.tv/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Yateem ทวีศีรทัธาชน</string>
			<key>logo</key>
			<string>Yateem</string>
			<key>link</key>
			<string>http://yateemtv.muslimthai.com/</string>
			<key>http</key>
			<string>http://yateemtv.muslimthai.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sky News</string>
			<key>logo</key>
			<string>Sky</string>
			<key>link</key>
			<string>https://news.sky.com/watch-live</string>
			<key>http</key>
			<string>https://www.youtube.com/user/skynews</string>
		</dict>
	</array>
</dict>
</plist>
