<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1</string>
		<key>Back</key>
		<string>1</string>
		<key>Banner</key>
		<string>8721825951</string>
		<key>Header</key>
		<string>1</string>
		<key>Footer</key>
		<string>1</string>
		<key>Email</key>
		<string>1</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1</string>
		<key>Developer</key>
		<string>1</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<integer>2</integer>
		<key>DemoMode</key>
		<string>10</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>ATV</string>
			<key>logo</key>
			<string>ATV</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/112520.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>A2</string>
			<key>logo</key>
			<string>A2</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/112519.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>AHaber</string>
			<key>logo</key>
			<string>AHaber</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/112518.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>A News</string>
			<key>logo</key>
			<string>A</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/112517.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ATV Avrupa</string>
			<key>logo</key>
			<string>Avrupa</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/112516.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>A Spor</string>
			<key>logo</key>
			<string>ASpor</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/112515.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TRT1</string>
			<key>logo</key>
			<string>TRT1</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/112514.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TRT World</string>
			<key>logo</key>
			<string>World</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/112513.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TRT Haber</string>
			<key>logo</key>
			<string>Haber</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/112512.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TRT Spor</string>
			<key>logo</key>
			<string>Spor</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/112511.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TRT Türk</string>
			<key>logo</key>
			<string>TRT</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/112510.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TRT Müzik</string>
			<key>logo</key>
			<string>Muzik</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/112509.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TRT Belgesel</string>
			<key>logo</key>
			<string>Belgesel</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/112508.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TRT Okul</string>
			<key>logo</key>
			<string>Okul</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/112507.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TRT Çocuk</string>
			<key>logo</key>
			<string>Cocuk</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/112506.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TRT Avaz</string>
			<key>logo</key>
			<string>Avaz</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/112505.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TRT 6 Kurdish</string>
			<key>logo</key>
			<string>6</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/112504.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TRT Et-Türkiyye Arapça</string>
			<key>logo</key>
			<string>Arapca</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/112503.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TRT Diyanet</string>
			<key>logo</key>
			<string>Diyanet</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/112502.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CNN Türk</string>
			<key>logo</key>
			<string>CNN</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string>https://raw.githubusercontent.com/nitex/api/master/v1/112501.mp4</string>
		</dict>
	</array>
</dict>
</plist>
