<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>2677088373</string>
		<key>Back</key>
		<string>4153821570</string>
		<key>Banner</key>
		<string>4293422376</string>
		<key>Header</key>
		<string>9154027725</string>
		<key>Footer</key>
		<string>3839897967</string>
		<key>Application</key>
		<string>1363515501</string>
		<key>Developer</key>
		<string>1239592099</string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<integer>2</integer>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>country</key>
			<string>Azərbaycan (Азербайджан)</string>
			<key>name</key>
			<string>AzTV AZƏRBAYCAN </string>
			<key>logo</key>
			<string>AzTV</string>
			<key>link</key>
			<string>http://www.aztv.az/canli/aztv-canli.htm</string>
			<key>http</key>
			<string>http://www.aztv.az</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Azərbaycan (Азербайджан)</string>
			<key>name</key>
			<string>İctimai</string>
			<key>logo</key>
			<string>ictimai</string>
			<key>link</key>
			<string>http://www.itv.az/az/online-tv</string>
			<key>http</key>
			<string>http://www.itv.az</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Azərbaycan (Азербайджан)</string>
			<key>name</key>
			<string>Xəzər Xəbər</string>
			<key>logo</key>
			<string>Xezer</string>
			<key>link</key>
			<string>http://xezerxeber.az/det-1</string>
			<key>http</key>
			<string>http://dalga.az/az/live/1</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Azərbaycan (Азербайджан)</string>
			<key>name</key>
			<string>ARB</string>
			<key>logo</key>
			<string>ARB</string>
			<key>link</key>
			<string>http://www.arbtv.az/az/pages/canli_yayim</string>
			<key>http</key>
			<string>http://www.arbtv.az</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Azərbaycan (Азербайджан)</string>
			<key>name</key>
			<string>ARB 24</string>
			<key>logo</key>
			<string>ARB24</string>
			<key>link</key>
			<string>http://24.arbtv.az/az/pages/live</string>
			<key>http</key>
			<string>http://24.arbtv.az</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Azərbaycan (Азербайджан)</string>
			<key>name</key>
			<string>ARB Günəş</string>
			<key>logo</key>
			<string>Gunesh</string>
			<key>link</key>
			<string>http://gunesh.arbtv.az/az/pages/live</string>
			<key>http</key>
			<string>http://gunesh.arbtv.az</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Azərbaycan (Азербайджан)</string>
			<key>name</key>
			<string>Günaz</string>
			<key>logo</key>
			<string>Gunaz</string>
			<key>link</key>
			<string>http://gtv.live-s.cdn.bitgravity.com:1935/content:cdn-live/gtv/live/multibitrate.smil</string>
			<key>http</key>
			<string>https://www.gunaz.tv/</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Azərbaycan (Азербайджан)</string>
			<key>name</key>
			<string>Lider</string>
			<key>logo</key>
			<string>Lider</string>
			<key>link</key>
			<string>http://www.lidertv.com/az/onlinetv.html</string>
			<key>http</key>
			<string>http://www.lidertv.com</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Azərbaycan (Азербайджан)</string>
			<key>name</key>
			<string>CBC</string>
			<key>logo</key>
			<string>CBC</string>
			<key>link</key>
			<string>http://cbc.az/ru/pages/live</string>
			<key>http</key>
			<string>http://cbc.az</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Azərbaycan (Азербайджан)</string>
			<key>name</key>
			<string>İnterAz</string>
			<key>logo</key>
			<string>InterAz</string>
			<key>link</key>
			<string>http://www.interaztv.com/live/</string>
			<key>http</key>
			<string>http://www.interaztv.com</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Azərbaycan (Азербайджан)</string>
			<key>name</key>
			<string>APA</string>
			<key>logo</key>
			<string>APA</string>
			<key>link</key>
			<string>http://www.apa.tv/live</string>
			<key>http</key>
			<string>http://www.apa.tv/</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Azərbaycan (Азербайджан)</string>
			<key>name</key>
			<string>İdman Azərbaycan</string>
			<key>logo</key>
			<string>idman</string>
			<key>link</key>
			<string>http://www.idmantv.az/canli/idman-canli-yayim.htm</string>
			<key>http</key>
			<string>http://www.idmantv.az</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Azərbaycan (Азербайджан)</string>
			<key>name</key>
			<string>Mədəniyyət</string>
			<key>logo</key>
			<string>medeniyyet</string>
			<key>link</key>
			<string>http://medeniyyettv.az/canliyayim.html</string>
			<key>http</key>
			<string>http://medeniyyettv.az</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Հայաստան (Армения)</string>
			<key>name</key>
			<string>Հայաստան 1 (H1)</string>
			<key>logo</key>
			<string>H1</string>
			<key>link</key>
			<string>http://www.1tv.am/</string>
			<key>http</key>
			<string>http://www.1tv.am/</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Հայաստան (Армения)</string>
			<key>name</key>
			<string>Kentron (Կենտրոն)</string>
			<key>logo</key>
			<string>Kentron</string>
			<key>link</key>
			<string>http://kentron.tv/live.html</string>
			<key>http</key>
			<string>http://kentron.tv</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Հայաստան (Армения)</string>
			<key>name</key>
			<string>Global (ԳԼՈԲԱԼ ԹԻ-ՎԻ)</string>
			<key>logo</key>
			<string>Global</string>
			<key>link</key>
			<string>http://globaltv.am/%D6%85%D5%B6%D5%AC%D5%A1%D5%B5%D5%B6</string>
			<key>http</key>
			<string>http://globaltv.am</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Հայաստան (Армения)</string>
			<key>name</key>
			<string>Hrazdan (Հրազդան)</string>
			<key>logo</key>
			<string>Hrazdan</string>
			<key>link</key>
			<string>http://www.hrazdantv.am/?page_id=1500</string>
			<key>http</key>
			<string>http://www.hrazdantv.am</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Հայաստան (Армения)</string>
			<key>name</key>
			<string>Гала (Գալա)</string>
			<key>logo</key>
			<string>Gala</string>
			<key>link</key>
			<string>http://galatv.am/</string>
			<key>http</key>
			<string>http://galatv.am/</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Беларусь</string>
			<key>name</key>
			<string>АНТ - Общенациональное телевидение</string>
			<key>logo</key>
			<string>ont</string>
			<key>link</key>
			<string>http://online.ont.by/</string>
			<key>http</key>
			<string>http://ont.by/</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Беларусь</string>
			<key>name</key>
			<string>БЕЛАРУСЬ 24</string>
			<key>logo</key>
			<string>belarus24</string>
			<key>link</key>
			<string>http://belarus24.by/</string>
			<key>http</key>
			<string>http://www.tvr.by/televidenie/belarus-24/</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Беларусь</string>
			<key>name</key>
			<string>БЕЛАРУСЬ 1</string>
			<key>logo</key>
			<string>belarus1</string>
			<key>link</key>
			<string>http://www.tvr.by/televidenie/belarus-1/</string>
			<key>http</key>
			<string>http://www.tvr.by/</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Беларусь</string>
			<key>name</key>
			<string>БЕЛАРУСЬ 2</string>
			<key>logo</key>
			<string>belarus2</string>
			<key>link</key>
			<string>http://www.tvr.by/televidenie/belarus-2/</string>
			<key>http</key>
			<string>http://www.tvr.by/</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Беларусь</string>
			<key>name</key>
			<string>БЕЛАРУСЬ 3</string>
			<key>logo</key>
			<string>belarus3</string>
			<key>link</key>
			<string>http://www.3belarus.by/online</string>
			<key>http</key>
			<string>http://www.tvr.by/televidenie/belarus-3/</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Беларусь</string>
			<key>name</key>
			<string>БЕЛАРУСЬ 5</string>
			<key>logo</key>
			<string>belarus5</string>
			<key>link</key>
			<string>http://www.tvr.by/televidenie/belarus-5/</string>
			<key>http</key>
			<string>http://www.tvr.by/</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Беларусь</string>
			<key>name</key>
			<string>Столичное телевидение</string>
			<key>logo</key>
			<string>ctv</string>
			<key>link</key>
			<string>http://www.ctv.by/online</string>
			<key>http</key>
			<string>http://www.ctv.by/</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Беларусь</string>
			<key>name</key>
			<string>Белсат</string>
			<key>logo</key>
			<string>belsat</string>
			<key>link</key>
			<string>http://belsat.eu/online/</string>
			<key>http</key>
			<string>https://www.youtube.com/user/ibelsat/videos?view=2&amp;flow=grid&amp;live_view=501</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Қазақстан</string>
			<key>name</key>
			<string>KTK</string>
			<key>logo</key>
			<string>ktk</string>
			<key>link</key>
			<string>http://www.ktk.kz/ru/live</string>
			<key>http</key>
			<string>http://www.ktk.kz/</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Қазақстан</string>
			<key>name</key>
			<string>Первый в Казахстане</string>
			<key>logo</key>
			<string>kaz</string>
			<key>link</key>
			<string>https://1tv.kz/?page_id=38</string>
			<key>http</key>
			<string>https://1tv.kz/</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Қазақстан</string>
			<key>name</key>
			<string>Астана TV</string>
			<key>logo</key>
			<string>astana</string>
			<key>link</key>
			<string>http://www.astanatv.kz/p/Online.html</string>
			<key>http</key>
			<string>http://www.astanatv.kz/</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Қазақстан</string>
			<key>name</key>
			<string>Қазақстан</string>
			<key>logo</key>
			<string>kaztrk</string>
			<key>link</key>
			<string>http://kaztv.kaztrk.kz/kz/live/</string>
			<key>http</key>
			<string>http://kaztv.kaztrk.kz/kz/</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Қазақстан</string>
			<key>name</key>
			<string>KAZSPORT</string>
			<key>logo</key>
			<string>kazsport</string>
			<key>link</key>
			<string>http://kazsport.kaztrk.kz/online</string>
			<key>http</key>
			<string>http://kazsport.kaztrk.kz/kz</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Қазақстан</string>
			<key>name</key>
			<string>Балапан</string>
			<key>logo</key>
			<string>balapan</string>
			<key>link</key>
			<string>http://balapan.kaztrk.kz/kz/online</string>
			<key>http</key>
			<string>http://balapan.kaztrk.kz/kz</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Қазақстан</string>
			<key>name</key>
			<string>7 Channel</string>
			<key>logo</key>
			<string>7</string>
			<key>link</key>
			<string>http://tv7.kz/kz/online/</string>
			<key>http</key>
			<string>http://tv7.kz/</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Кыргызстан</string>
			<key>name</key>
			<string>КТРК</string>
			<key>logo</key>
			<string>KTRK</string>
			<key>link</key>
			<string>http://www.ktrk.kg/streams</string>
			<key>http</key>
			<string>http://www.ktrk.kg</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Кыргызстан</string>
			<key>name</key>
			<string>Ала Тоо 24</string>
			<key>logo</key>
			<string>Too</string>
			<key>link</key>
			<string>http://www.ktrk.kg/streams</string>
			<key>http</key>
			<string>http://www.ktrk.kg</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Кыргызстан</string>
			<key>name</key>
			<string>Аян</string>
			<key>logo</key>
			<string>Ayan</string>
			<key>link</key>
			<string>http://ayan.kg/%D0%BE-%D0%BA%D0%BE%D0%BC%D0%BF%D0%B0%D0%BD%D0%B8%D0%B8/</string>
			<key>http</key>
			<string>http://ayan.kg</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Кыргызстан</string>
			<key>name</key>
			<string>ОшТВ</string>
			<key>logo</key>
			<string>Osh</string>
			<key>link</key>
			<string>http://oshtv.kg/</string>
			<key>http</key>
			<string>http://oshtv.kg</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Кыргызстан</string>
			<key>name</key>
			<string>Хамелеон</string>
			<key>logo</key>
			<string>Hameleon</string>
			<key>link</key>
			<string>http://www.htv.kg/stream/</string>
			<key>http</key>
			<string>http://www.htv.kg</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Moldova (Молдавия)</string>
			<key>name</key>
			<string>TRM</string>
			<key>logo</key>
			<string>TRM</string>
			<key>link</key>
			<string>http://www.trm.md/ro/tv-on-line/</string>
			<key>http</key>
			<string>http://www.trm.md</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Moldova (Молдавия)</string>
			<key>name</key>
			<string>Publika</string>
			<key>logo</key>
			<string>Publika</string>
			<key>link</key>
			<string>http://www.publika.md/live</string>
			<key>http</key>
			<string>http://www.publika.md</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Moldova (Молдавия)</string>
			<key>name</key>
			<string>Pro TV Chişinău</string>
			<key>logo</key>
			<string>Pro</string>
			<key>link</key>
			<string>http://protv.md/protv-live.html</string>
			<key>http</key>
			<string>http://protv.md</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Moldova (Молдавия)</string>
			<key>name</key>
			<string>Realitatea</string>
			<key>logo</key>
			<string>Realitatea</string>
			<key>link</key>
			<string>http://www.realitatea.md/tv</string>
			<key>http</key>
			<string>http://www.realitatea.md</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Moldova (Молдавия)</string>
			<key>name</key>
			<string>TVR Moldova</string>
			<key>logo</key>
			<string>TVR</string>
			<key>link</key>
			<string>http://www.tvrplus.ro/live-tvr-moldova</string>
			<key>http</key>
			<string>http://www.tvrplus.ro</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Moldova (Молдавия)</string>
			<key>name</key>
			<string>Accent</string>
			<key>logo</key>
			<string>Accent</string>
			<key>link</key>
			<string>http://www.a-tv.md/index.php?do=static&amp;page=live</string>
			<key>http</key>
			<string>http://www.a-tv.md/</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Россия</string>
			<key>name</key>
			<string>ПЕРВЫЙ</string>
			<key>logo</key>
			<string>1</string>
			<key>link</key>
			<string>http://stream.1tv.ru/live/</string>
			<key>http</key>
			<string>http://www.1tv.ru/</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Россия</string>
			<key>name</key>
			<string>euronews Россия</string>
			<key>logo</key>
			<string>euronews</string>
			<key>link</key>
			<string>http://ru.euronews.com/live</string>
			<key>http</key>
			<string>https://www.youtube.com/user/euronewsru/videos?flow=grid&amp;live_view=501&amp;view=2</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Россия</string>
			<key>name</key>
			<string>РБК</string>
			<key>logo</key>
			<string>rbc</string>
			<key>link</key>
			<string>http://tv.rbc.ru/</string>
			<key>http</key>
			<string>http://tv.rbc.ru/</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Россия</string>
			<key>name</key>
			<string>RT News</string>
			<key>logo</key>
			<string>RT1</string>
			<key>link</key>
			<string>https://www.rt.com/on-air/embed/</string>
			<key>http</key>
			<string>https://www.rt.com/</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Россия</string>
			<key>name</key>
			<string>ОТР</string>
			<key>logo</key>
			<string>otr</string>
			<key>link</key>
			<string>http://www.otr-online.ru/online/</string>
			<key>http</key>
			<string>http://www.otr-online.ru/</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Россия</string>
			<key>name</key>
			<string>Europa Plus ТВ</string>
			<key>logo</key>
			<string>Europa</string>
			<key>link</key>
			<string>http://www.europaplustv.com/online</string>
			<key>http</key>
			<string>http://www.europaplustv.com/online-new</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Россия</string>
			<key>name</key>
			<string>Европа Плюс</string>
			<key>logo</key>
			<string>Plus</string>
			<key>link</key>
			<string>http://www.europaplus.ru/live</string>
			<key>http</key>
			<string>http://www.europaplus.ru</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Россия</string>
			<key>name</key>
			<string>CTC</string>
			<key>logo</key>
			<string>CTC</string>
			<key>link</key>
			<string>https://ctc.ru/online/</string>
			<key>http</key>
			<string>https://ctc.ru</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Россия</string>
			<key>name</key>
			<string>CTC Love</string>
			<key>logo</key>
			<string>Love</string>
			<key>link</key>
			<string>https://www.ctclove.ru/online/</string>
			<key>http</key>
			<string>https://www.ctclove.ru</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Россия</string>
			<key>name</key>
			<string>НТВ</string>
			<key>logo</key>
			<string>NTV1</string>
			<key>link</key>
			<string>https://www.youtube.com/user/ntvru/videos?view=2&amp;live_view=501&amp;flow=grid</string>
			<key>http</key>
			<string>http://www.ntv.ru/air</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Россия</string>
			<key>name</key>
			<string>НТВ-Стиль</string>
			<key>logo</key>
			<string>NTV2</string>
			<key>link</key>
			<string>http://www.ntv.ru/air/ntvstyle</string>
			<key>http</key>
			<string>http://www.ntv.ru/air</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Россия</string>
			<key>name</key>
			<string>НТВ-Право</string>
			<key>logo</key>
			<string>NTV3</string>
			<key>link</key>
			<string>http://www.ntv.ru/air/ntvlaw</string>
			<key>http</key>
			<string>http://www.ntv.ru/air</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Россия</string>
			<key>name</key>
			<string>НТВ-Сериал</string>
			<key>logo</key>
			<string>NTV4</string>
			<key>link</key>
			<string>http://www.ntv.ru/air/ntvseries</string>
			<key>http</key>
			<string>http://www.ntv.ru/air</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Россия</string>
			<key>name</key>
			<string>THT</string>
			<key>logo</key>
			<string>THT</string>
			<key>link</key>
			<string>http://tnt-online.ru/</string>
			<key>http</key>
			<string>http://tnt-online.ru/</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Россия</string>
			<key>name</key>
			<string>ТВ-3</string>
			<key>logo</key>
			<string>TV3</string>
			<key>link</key>
			<string>https://tv3.ru/live</string>
			<key>http</key>
			<string>https://tv3.ru</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Россия</string>
			<key>name</key>
			<string>Настоящее Время</string>
			<key>logo</key>
			<string>Current</string>
			<key>link</key>
			<string>https://www.currenttime.tv/live</string>
			<key>http</key>
			<string>https://www.currenttime.tv/live/video/92</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Россия</string>
			<key>name</key>
			<string>Телеканал Ю</string>
			<key>logo</key>
			<string>U</string>
			<key>link</key>
			<string>https://www.u-tv.ru/online/</string>
			<key>http</key>
			<string>https://www.u-tv.ru</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Россия</string>
			<key>name</key>
			<string>TNT Music</string>
			<key>logo</key>
			<string>TNT</string>
			<key>link</key>
			<string>https://tntmusic.ru/live/</string>
			<key>http</key>
			<string>https://tntmusic.ru</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Россия</string>
			<key>name</key>
			<string>MUSICBOX</string>
			<key>logo</key>
			<string>musicbox-tv</string>
			<key>link</key>
			<string>http://www.mboxtv.ru/</string>
			<key>http</key>
			<string>http://www.mboxtv.ru/</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Россия</string>
			<key>name</key>
			<string>8</string>
			<key>logo</key>
			<string>8</string>
			<key>link</key>
			<string>http://live.proofix.ru/embed/tv8.php</string>
			<key>http</key>
			<string>http://www.8tv.ru/</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Россия</string>
			<key>name</key>
			<string>RT USA</string>
			<key>logo</key>
			<string>RT2</string>
			<key>link</key>
			<string>https://www.rt.com/on-air/rt-america-air/embed/</string>
			<key>http</key>
			<string>https://www.rt.com/</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Россия</string>
			<key>name</key>
			<string>RT UK</string>
			<key>logo</key>
			<string>RT3</string>
			<key>link</key>
			<string>https://www.rt.com/on-air/rt-uk-air/embed/</string>
			<key>http</key>
			<string>https://www.rt.com/</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Россия</string>
			<key>name</key>
			<string>RT Документальный</string>
			<key>logo</key>
			<string>RT4</string>
			<key>link</key>
			<string>https://rtd.rt.com/on-air/embed/</string>
			<key>http</key>
			<string>https://www.rt.com/</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Россия</string>
			<key>name</key>
			<string>ЛенТВ 24</string>
			<key>logo</key>
			<string>24</string>
			<key>link</key>
			<string>https://lentv24.ru/timetable/</string>
			<key>http</key>
			<string>https://47channel.ru/on_air/</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Тоҷикистон</string>
			<key>name</key>
			<string>TVT Тоҷикистон</string>
			<key>logo</key>
			<string>TVT</string>
			<key>link</key>
			<string>http://ktr.tj/tvt</string>
			<key>http</key>
			<string>http://teleradiocom.tj/online-tv/81-shabakai-avval.html</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Тоҷикистон</string>
			<key>name</key>
			<string>Ҷаҳоннамо</string>
			<key>logo</key>
			<string>Jahonnamo</string>
			<key>link</key>
			<string>http://ktr.tj/tvj</string>
			<key>http</key>
			<string>http://jahonnamo.tj/tv-onlain.html</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Тоҷикистон</string>
			<key>name</key>
			<string>TVS Сафина</string>
			<key>logo</key>
			<string>TVS</string>
			<key>link</key>
			<string>http://ktr.tj/tvs</string>
			<key>http</key>
			<string>http://teleradiocom.tj/online-tv/82-shabakai-safina.html</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Türkmenistan</string>
			<key>name</key>
			<string>Altyn Asyr</string>
			<key>logo</key>
			<string>Altyn</string>
			<key>link</key>
			<string>https://online.tm/webtv/ch001.php</string>
			<key>http</key>
			<string>https://online.tm/webtv/</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Türkmenistan</string>
			<key>name</key>
			<string>Türkmenistan</string>
			<key>logo</key>
			<string>Turkmenistan</string>
			<key>link</key>
			<string>https://online.tm/webtv/ch007.php</string>
			<key>http</key>
			<string>https://online.tm/webtv/</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Oʻzbekiston</string>
			<key>name</key>
			<string>Oʻzbekiston</string>
			<key>logo</key>
			<string>Ozbekiston</string>
			<key>link</key>
			<string>https://www.mtrk.uz/uz/tv/ozbekiston/</string>
			<key>http</key>
			<string>https://www.mtrk.uz</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Україна</string>
			<key>name</key>
			<string>112</string>
			<key>logo</key>
			<string>112</string>
			<key>link</key>
			<string>http://ua.112.ua/live</string>
			<key>http</key>
			<string>http://ua.112.ua/</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Україна</string>
			<key>name</key>
			<string>5</string>
			<key>logo</key>
			<string>ua5</string>
			<key>link</key>
			<string>http://www.5.ua/live/</string>
			<key>http</key>
			<string>http://www.5.ua/</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Україна</string>
			<key>name</key>
			<string>Еспресо TV</string>
			<key>logo</key>
			<string>espreso</string>
			<key>link</key>
			<string>http://espreso.tv/stream/</string>
			<key>http</key>
			<string>http://espreso.tv/</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Україна</string>
			<key>name</key>
			<string>Громадське</string>
			<key>logo</key>
			<string>gromadske</string>
			<key>link</key>
			<string>http://hromadske.ua/stream</string>
			<key>http</key>
			<string>http://hromadske.ua</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Україна</string>
			<key>name</key>
			<string>UBR</string>
			<key>logo</key>
			<string>ubr</string>
			<key>link</key>
			<string>http://tv.ubr.ua/</string>
			<key>http</key>
			<string>http://ubr.ua/</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Україна</string>
			<key>name</key>
			<string>ПЕРШИЙ</string>
			<key>logo</key>
			<string>ua1</string>
			<key>link</key>
			<string>http://1tv.com.ua/live</string>
			<key>http</key>
			<string>http://1tv.com.ua/</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Україна</string>
			<key>name</key>
			<string>100% NEWS</string>
			<key>logo</key>
			<string>100</string>
			<key>link</key>
			<string>http://www.100news.tv/p/blog-page_7972.html</string>
			<key>http</key>
			<string>http://www.100news.tv/</string>
		</dict>
	</array>
</dict>
</plist>
