<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string> ФУТБОЛ ОНЛАЙН</string>
		<key>logo</key>
		<string>Ball.jpg</string>
		<key>link</key>
		<string>http://ukrtv.net/info.html#ht_890</string>
		<key>http</key>
		<string>http://ukrtv.net/info.html#ht_890</string>
	</dict>
	<dict>
		<key>name</key>
		<string>112</string>
		<key>logo</key>
		<string>112</string>
		<key>link</key>
		<string>http://ua.112.ua/live</string>
		<key>http</key>
		<string>http://ua.112.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>5</string>
		<key>logo</key>
		<string>5</string>
		<key>link</key>
		<string>http://www.5.ua/live/</string>
		<key>http</key>
		<string>http://www.5.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Еспресо TV</string>
		<key>logo</key>
		<string>espreso</string>
		<key>link</key>
		<string>http://espreso.tv/stream/</string>
		<key>http</key>
		<string>http://espreso.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Громадське</string>
		<key>logo</key>
		<string>gromadske</string>
		<key>link</key>
		<string>http://hromadske.ua/stream</string>
		<key>http</key>
		<string>http://hromadske.ua</string>
	</dict>
	<dict>
		<key>name</key>
		<string>UBR</string>
		<key>logo</key>
		<string>ubr</string>
		<key>link</key>
		<string>http://tv.ubr.ua/</string>
		<key>http</key>
		<string>http://ubr.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>1+1</string>
		<key>logo</key>
		<string>1+1</string>
		<key>link</key>
		<string>http://www.1plus1.ua/online</string>
		<key>http</key>
		<string>http://www.1plus1.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>2+2</string>
		<key>logo</key>
		<string>plus2</string>
		<key>link</key>
		<string>http://2plus2.ua/online</string>
		<key>http</key>
		<string>http://2plus2.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ТЕТ</string>
		<key>logo</key>
		<string>tet</string>
		<key>link</key>
		<string>http://tet.tv/uk/videos/stream/online/</string>
		<key>http</key>
		<string>http://tet.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>1+1 International</string>
		<key>logo</key>
		<string>international1</string>
		<key>link</key>
		<string>http://int.1plus1.ua/dyvitsya/archiv/onlayn-translyaciya-284028.html</string>
		<key>http</key>
		<string>http://int.1plus1.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Первый городской</string>
		<key>logo</key>
		<string>1CTV</string>
		<key>link</key>
		<string>http://live-tv.od.ua/tv/1tvod/1tvod.php?w=242&amp;h=200&amp;cnee&amp;a=0&amp;ff=0</string>
		<key>http</key>
		<string>http://www.1tv.od.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ПЕРШИЙ</string>
		<key>logo</key>
		<string>1</string>
		<key>link</key>
		<string>http://1tv.com.ua/live</string>
		<key>http</key>
		<string>http://1tv.com.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>УКРАЇНА</string>
		<key>logo</key>
		<string>ukr</string>
		<key>link</key>
		<string>http://kanalukraina.tv/online/</string>
		<key>http</key>
		<string>http://kanalukraina.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ІНТЕР</string>
		<key>logo</key>
		<string>inter</string>
		<key>link</key>
		<string>http://inter.ua/uk/live</string>
		<key>http</key>
		<string>http://inter.ua/ru/live</string>
	</dict>
	<dict>
		<key>name</key>
		<string>XSPORT</string>
		<key>logo</key>
		<string>XSPORT</string>
		<key>link</key>
		<string>http://xsport.ua/online/</string>
		<key>http</key>
		<string>http://xsport.ua</string>
	</dict>
	<dict>
		<key>name</key>
		<string>K1</string>
		<key>logo</key>
		<string>K1</string>
		<key>link</key>
		<string>https://www.k1.ua/uk/live</string>
		<key>http</key>
		<string>https://www.k1.ua</string>
	</dict>
	<dict>
		<key>name</key>
		<string>OTV</string>
		<key>logo</key>
		<string>OTV</string>
		<key>link</key>
		<string>http://o-tv.tv/otv.html</string>
		<key>http</key>
		<string>http://o-tv.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Київ</string>
		<key>logo</key>
		<string>Kyiv</string>
		<key>link</key>
		<string>https://kyivtv.com.ua/online</string>
		<key>http</key>
		<string>https://kyivtv.com.ua</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Магнолія</string>
		<key>logo</key>
		<string>magnonila</string>
		<key>link</key>
		<string>http://magnolia-tv.com/online-tv</string>
		<key>http</key>
		<string>http://magnolia-tv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>HTH</string>
		<key>logo</key>
		<string>HTH</string>
		<key>link</key>
		<string>http://ntn.ua/uk/live</string>
		<key>http</key>
		<string>http://ntn.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>100% NEWS</string>
		<key>logo</key>
		<string>100news</string>
		<key>link</key>
		<string>http://www.100news.tv/p/blog-page_7972.html</string>
		<key>http</key>
		<string>http://www.100news.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TV 4</string>
		<key>logo</key>
		<string>tv4</string>
		<key>link</key>
		<string>http://tv4.te.ua/onlajn-movlennya/</string>
		<key>http</key>
		<string>http://tv4.te.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>zik</string>
		<key>logo</key>
		<string>zik</string>
		<key>link</key>
		<string>http://zik.ua/tv/teleprograma/</string>
		<key>http</key>
		<string>http://zik.ua/tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>euronews</string>
		<key>logo</key>
		<string>euronews</string>
		<key>link</key>
		<string>http://ua.euronews.com/news/streaming-live/</string>
		<key>http</key>
		<string>http://ua.euronews.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>УНТ</string>
		<key>logo</key>
		<string>unt</string>
		<key>link</key>
		<string>http://www.unt.ua/ether/</string>
		<key>http</key>
		<string>http://www.unt.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ATR</string>
		<key>logo</key>
		<string>atr</string>
		<key>link</key>
		<string>http://atr.ua/</string>
		<key>http</key>
		<string>http://atr.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>UKRAINE TODAY</string>
		<key>logo</key>
		<string>UT</string>
		<key>link</key>
		<string>http://uatoday.tv/live</string>
		<key>http</key>
		<string>http://uatoday.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>51</string>
		<key>logo</key>
		<string>51</string>
		<key>link</key>
		<string>http://edge.hitechstreaming.com/htsplayer/htsplayer.php?id=51tv</string>
		<key>http</key>
		<string>http://www.dodtrk.com.ua/p/online.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Карпати</string>
		<key>logo</key>
		<string>Karpati</string>
		<key>link</key>
		<string>http://odtrk.if.ua/</string>
		<key>http</key>
		<string>http://odtrk.if.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Луганская ОДТРК</string>
		<key>logo</key>
		<string>lodtrk</string>
		<key>link</key>
		<string>http://lot.lg.ua/live</string>
		<key>http</key>
		<string>http://lot.lg.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>РДТРК &quot;Сіверська&quot;</string>
		<key>logo</key>
		<string>siver</string>
		<key>link</key>
		<string>http://www.ustream.tv/embed/18641095?html5ui</string>
		<key>http</key>
		<string>http://www.trksiver.com.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ЛТАВА</string>
		<key>logo</key>
		<string>ltava</string>
		<key>link</key>
		<string>http://www.ltava.poltava.ua/online.php</string>
		<key>http</key>
		<string>http://www.ltava.poltava.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ТОДТРК</string>
		<key>logo</key>
		<string>TOD</string>
		<key>link</key>
		<string>http://www.ustream.tv/embed/9702423?html5ui</string>
		<key>http</key>
		<string>http://todtrk.com.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Сівер-центр</string>
		<key>logo</key>
		<string>siver-centr</string>
		<key>link</key>
		<string>http://www.ustream.tv/embed/18640053?html5ui=1</string>
		<key>http</key>
		<string>http://chodtrk.com.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>9 канал</string>
		<key>logo</key>
		<string>9</string>
		<key>link</key>
		<string>http://edge.hitechstreaming.com/htsplayer/htsplayer.php?id=9tv</string>
		<key>http</key>
		<string>http://9-channel.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NewsOne</string>
		<key>logo</key>
		<string>NewsOne</string>
		<key>link</key>
		<string>http://newsone.ua/translyaciya-pryamogo-efiru-newsone/</string>
		<key>http</key>
		<string>http://newsone.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>UA|TV</string>
		<key>logo</key>
		<string>UATV</string>
		<key>link</key>
		<string>https://www.youtube.com/watch_popup?v=1vvQxSTeVzk</string>
		<key>http</key>
		<string>http://mip.gov.ua/en/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Галичина</string>
		<key>logo</key>
		<string>galtv</string>
		<key>link</key>
		<string>http://www.ustream.tv/embed/9807474?html5ui=1</string>
		<key>http</key>
		<string>http://galtv.if.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Перший автомобільний</string>
		<key>logo</key>
		<string>1avto</string>
		<key>link</key>
		<string>http://1auto.tv/online/</string>
		<key>http</key>
		<string>http://1auto.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ПРАВО</string>
		<key>logo</key>
		<string>pravo</string>
		<key>link</key>
		<string>http://www.pravotv.ua/ru/live</string>
		<key>http</key>
		<string>http://www.pravotv.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>РІВНЕ 1</string>
		<key>logo</key>
		<string>rivne1</string>
		<key>link</key>
		<string>http://www.ustream.tv/embed/17133378?html5ui</string>
		<key>http</key>
		<string>http://www.rivne1.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>СОВЕРШЕННО СЕКРЕТНО</string>
		<key>logo</key>
		<string>SECRETNO</string>
		<key>link</key>
		<string>http://sovsekretno.tv/%D0%BE%D0%BD%D0%BB%D0%B0%D0%B9%D0%BD-%D1%82%D0%B2/</string>
		<key>http</key>
		<string>http://sovsekretno.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>МАКСІ ТВ</string>
		<key>logo</key>
		<string>maxxi</string>
		<key>link</key>
		<string>http://megogo.net/e/1412441</string>
		<key>http</key>
		<string>http://maxxi.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Music BOX</string>
		<key>logo</key>
		<string>musicbox</string>
		<key>link</key>
		<string>http://radio.adamant.ua/adamant_player/mb_ua/mb_ua_v.html</string>
		<key>http</key>
		<string>http://www.musicboxua.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>34</string>
		<key>logo</key>
		<string>34</string>
		<key>link</key>
		<string>http://34.ua/online/</string>
		<key>http</key>
		<string>http://34.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>АКАДЕМИЯ</string>
		<key>logo</key>
		<string>academia</string>
		<key>link</key>
		<string>http://live-tv.od.ua/tv/36chod/36chod.php?0=w&amp;1=h&amp;2=cnee&amp;3=a&amp;4=ff&amp;w=452&amp;h=361.6&amp;cnee=undefined&amp;a=1&amp;ff=0</string>
		<key>http</key>
		<string>http://telekanal.academy/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ТРЕТИЙ</string>
		<key>logo</key>
		<string>tretiy</string>
		<key>link</key>
		<string>http://live-tv.od.ua/tv/3tvod/3tvod.php?w=960&amp;h=540&amp;cnee&amp;a=1&amp;ff=0</string>
		<key>http</key>
		<string>http://tretiy.tv/live/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Чернівецький Промінь</string>
		<key>logo</key>
		<string>chpromin</string>
		<key>link</key>
		<string>http://promin.cv.ua/live</string>
		<key>http</key>
		<string>http://promin.cv.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Гамма</string>
		<key>logo</key>
		<string>gamma</string>
		<key>link</key>
		<string>http://www.gamma.tv/play.php</string>
		<key>http</key>
		<string>http://www.gamma.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string> SPORT 1</string>
		<key>logo</key>
		<string>sport1</string>
		<key>link</key>
		<string>http://pvplus.tv/live/sport1.html</string>
		<key>http</key>
		<string>http://poverkhnost.tv/pages/index.php?c=10&amp;s=135</string>
	</dict>
	<dict>
		<key>name</key>
		<string> SPORT 2</string>
		<key>logo</key>
		<string>sport2</string>
		<key>link</key>
		<string>http://pvplus.tv/live/sport2.html</string>
		<key>http</key>
		<string>http://poverkhnost.tv/pages/index.php?c=10&amp;s=121</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CNL</string>
		<key>logo</key>
		<string>CNL</string>
		<key>link</key>
		<string>http://embed.cdn01.net/player.php?width=640&amp;height=360&amp;skinColor=000000&amp;autoStart=false&amp;tvButtonID=crosstv&amp;id=10429&amp;type=live</string>
		<key>http</key>
		<string>https://cnl.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Надія</string>
		<key>logo</key>
		<string>HOPE</string>
		<key>link</key>
		<string>http://hope.ua/ua</string>
		<key>http</key>
		<string>http://hope.ua/ua</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RTI</string>
		<key>logo</key>
		<string>RTI</string>
		<key>link</key>
		<string>http://rti.ua/#</string>
		<key>http</key>
		<string>http://rti.ua/#</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Телевсесвіт</string>
		<key>logo</key>
		<string>televsesvit</string>
		<key>link</key>
		<string>http://www.televsesvit.ua/index.php/online</string>
		<key>http</key>
		<string>http://www.televsesvit.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ІНТБ</string>
		<key>logo</key>
		<string>INTB</string>
		<key>link</key>
		<string>http://www.ustream.tv/embed/16319913?html5ui</string>
		<key>http</key>
		<string>http://intb.te.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>МаляткоTV</string>
		<key>logo</key>
		<string>Malyatko</string>
		<key>link</key>
		<string>http://malyatko-tv.com.ua/live/</string>
		<key>http</key>
		<string>http://malyatko-tv.com.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Соціальна країна</string>
		<key>logo</key>
		<string>sockraina</string>
		<key>link</key>
		<string>http://sockraina.com/live/</string>
		<key>http</key>
		<string>http://sockraina.com/live/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ПравдаТУТ</string>
		<key>logo</key>
		<string>pravdatut</string>
		<key>link</key>
		<string>http://pravdatyt.tv/#pravdatythls</string>
		<key>http</key>
		<string>http://pravdatyt.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>РУДАНА</string>
		<key>logo</key>
		<string>rudana</string>
		<key>link</key>
		<string>http://cdn.livestream.com/embed/rudana?layout=4&amp;color=0xe7e7e7&amp;autoPlay=true&amp;mute=false&amp;iconColorOver=0x888888&amp;iconColor=0x777777&amp;allowchat=true&amp;height=340&amp;width=560</string>
		<key>http</key>
		<string>http://rudana.com.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ИРТ</string>
		<key>logo</key>
		<string>irt</string>
		<key>link</key>
		<string>http://www.ustream.tv/embed/9400701?html5ui</string>
		<key>http</key>
		<string>http://www.irt.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>БЕСТ</string>
		<key>logo</key>
		<string>best</string>
		<key>link</key>
		<string>http://www.ustream.tv/embed/20545036?html5ui</string>
		<key>http</key>
		<string>http://www.trkbest.com.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Київ TV</string>
		<key>logo</key>
		<string>kyiv</string>
		<key>link</key>
		<string>http://kievtv.com.ua/</string>
		<key>http</key>
		<string>http://kievtv.com.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ТРК Круг</string>
		<key>logo</key>
		<string>krug</string>
		<key>link</key>
		<string>http://www.ustream.tv/embed/13822645?html5ui</string>
		<key>http</key>
		<string>http://www.krug.com.ua/main</string>
	</dict>
	<dict>
		<key>name</key>
		<string>KRATU</string>
		<key>logo</key>
		<string>kratu</string>
		<key>link</key>
		<string>http://kratu.ua/Live.html</string>
		<key>http</key>
		<string>http://kratu.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>3S</string>
		<key>logo</key>
		<string>shuster</string>
		<key>link</key>
		<string>http://lanet.tv/3s/</string>
		<key>http</key>
		<string>http://www.3s.tv/MAIN</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ильичевское телевидение 3</string>
		<key>logo</key>
		<string>IT3</string>
		<key>link</key>
		<string>http://www.ustream.tv/embed/18213369?html5ui</string>
		<key>http</key>
		<string>http://it3.com.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ВПТВ</string>
		<key>logo</key>
		<string>vptv</string>
		<key>link</key>
		<string>http://cdn.ua/code/machouse.ua/live/?stream=live5.stream&amp;width=640&amp;height=360&amp;view=1</string>
		<key>http</key>
		<string>http://formatmedia.com.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ГУМОР TV</string>
		<key>logo</key>
		<string>gumor</string>
		<key>link</key>
		<string>http://radio.adamant.ua/adamant_player/gumor_babai/gumor_babai_v.html?width=500&amp;height=400&amp;iframe=true</string>
		<key>http</key>
		<string>http://www.gumortv.com.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ООДТРК</string>
		<key>logo</key>
		<string>OODTRK</string>
		<key>link</key>
		<string>http://www.ustream.tv/embed/9256855?html5ui</string>
		<key>http</key>
		<string>http://oodtrk.od.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Орбіта</string>
		<key>logo</key>
		<string>orbita</string>
		<key>link</key>
		<string>http://www.ustream.tv/embed/10366979?html5ui</string>
		<key>http</key>
		<string>http://orbita.dn.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Репортер</string>
		<key>logo</key>
		<string>reporter</string>
		<key>link</key>
		<string>http://live-tv.od.ua/tv/31chod/31chod.php?w=720&amp;h=576&amp;cnee&amp;a=0&amp;ff=0</string>
		<key>http</key>
		<string>http://reporter.od.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ТВ-ГОЛД</string>
		<key>logo</key>
		<string>tvgold</string>
		<key>link</key>
		<string>http://www.ustream.tv/embed/17930685?html5ui</string>
		<key>http</key>
		<string>http://www.ustream.tv/embed/17930685?html5ui</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Южная Волна</string>
		<key>logo</key>
		<string>volna</string>
		<key>link</key>
		<string>http://live-tv.od.ua/tv/wave/wave.php?w=720&amp;h=576&amp;cnee&amp;a=0&amp;ff=0</string>
		<key>http</key>
		<string>http://volnatv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Бессарабия ТВ</string>
		<key>logo</key>
		<string>besarabia</string>
		<key>link</key>
		<string>http://www.ustream.tv/embed/13638739?html5ui</string>
		<key>http</key>
		<string>https://www.youtube.com/user/BessarabiaTV/featured</string>
	</dict>
</array>
</plist>
