<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>VTV 1</string>
		<key>logo</key>
		<string>1</string>
		<key>link</key>
		<string>http://vtv.vn/truyen-hinh-truc-tuyen/vtv1.htm</string>
		<key>http</key>
		<string>http://kr.tvnet.gov.vn/kenh-truyen-hinh/1011/vtv1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>VTV 2 (Science/Tech.)</string>
		<key>logo</key>
		<string>2</string>
		<key>link</key>
		<string>http://vtv.vn/truyen-hinh-truc-tuyen/vtv2.htm</string>
		<key>http</key>
		<string>http://kr.tvnet.gov.vn/kenh-truyen-hinh/1010/vtv2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>VTV 3 (Sports/Entertainment)</string>
		<key>logo</key>
		<string>3</string>
		<key>link</key>
		<string>http://vtv.vn/truyen-hinh-truc-tuyen/vtv3.htm</string>
		<key>http</key>
		<string>http://kr.tvnet.gov.vn/kenh-truyen-hinh/1013/vtv3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>VTV 4 (International)</string>
		<key>logo</key>
		<string>4</string>
		<key>link</key>
		<string>http://vtv.vn/truyen-hinh-truc-tuyen/vtv4.htm</string>
		<key>http</key>
		<string>http://kr.tvnet.gov.vn/kenh-truyen-hinh/1009/vtv4</string>
	</dict>
	<dict>
		<key>name</key>
		<string>VTV 5 (Ethnic Minorities)</string>
		<key>logo</key>
		<string>5</string>
		<key>link</key>
		<string>http://vtv.vn/truyen-hinh-truc-tuyen/vtv5.htm</string>
		<key>http</key>
		<string>http://vtv.vn/truyen-hinh-truc-tuyen.htm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>VTV5 TÂY NAM BỘ</string>
		<key>logo</key>
		<string>NAM</string>
		<key>link</key>
		<string>http://vtv.vn/truyen-hinh-truc-tuyen/vtv5-tay-nam-bo.htm</string>
		<key>http</key>
		<string>http://vtv.vn/truyen-hinh-truc-tuyen.htm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>VTV 6 (Youth-oriented Sports &amp; Ent.)	</string>
		<key>logo</key>
		<string>6</string>
		<key>link</key>
		<string>http://vtv.vn/truyen-hinh-truc-tuyen/vtv6.htm</string>
		<key>http</key>
		<string>http://vtv.vn/truyen-hinh-truc-tuyen.htm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>VTV 7 (Educational)</string>
		<key>logo</key>
		<string>7</string>
		<key>link</key>
		<string>http://vtv.vn/truyen-hinh-truc-tuyen/vtv7.htm</string>
		<key>http</key>
		<string>http://vtv.vn/truyen-hinh-truc-tuyen.htm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>VTV 8 (Central &amp; Central Highlands)	</string>
		<key>logo</key>
		<string>8</string>
		<key>link</key>
		<string>http://vtv.vn/truyen-hinh-truc-tuyen/vtv8.htm</string>
		<key>http</key>
		<string>http://vtv.vn/truyen-hinh-truc-tuyen.htm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>VTV 9 (Southern Vietnam)</string>
		<key>logo</key>
		<string>9</string>
		<key>link</key>
		<string>http://vtv.vn/truyen-hinh-truc-tuyen/vtv9.htm</string>
		<key>http</key>
		<string>http://vtv.vn/truyen-hinh-truc-tuyen.htm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>VTV Live</string>
		<key>logo</key>
		<string>VTV</string>
		<key>link</key>
		<string>http://thunghiem.vtv.vn/</string>
		<key>http</key>
		<string>http://vtv.vn/truyen-hinh-truc-tuyen.htm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>VTC 1</string>
		<key>logo</key>
		<string>VTC1</string>
		<key>link</key>
		<string>http://kr.tvnet.gov.vn/kenh-truyen-hinh/1007/vtc1</string>
		<key>http</key>
		<string>http://kr.tvnet.gov.vn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>VTC 9 - Let&apos;sViet</string>
		<key>logo</key>
		<string>VTC9</string>
		<key>link</key>
		<string>http://letsviet.vn/vi/xem-truc-tuyen/</string>
		<key>http</key>
		<string>http://letsviet.vn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>VTC 10 - NETVIET</string>
		<key>logo</key>
		<string>NETVIET</string>
		<key>link</key>
		<string>http://kr.tvnet.gov.vn/kenh-truyen-hinh/1006/netviet</string>
		<key>http</key>
		<string>http://kr.tvnet.gov.vn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>VTC 16 (Agriculture &amp; Rural)</string>
		<key>logo</key>
		<string>16</string>
		<key>link</key>
		<string>http://kr.tvnet.gov.vn/kenh-truyen-hinh/1018/vtc16</string>
		<key>http</key>
		<string>http://kr.tvnet.gov.vn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>HTV9</string>
		<key>logo</key>
		<string>HTV9</string>
		<key>link</key>
		<string>http://kr.tvnet.gov.vn/kenh-truyen-hinh/1012/htv9</string>
		<key>http</key>
		<string>http://kr.tvnet.gov.vn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TTXVN</string>
		<key>logo</key>
		<string>TTXVN</string>
		<key>link</key>
		<string>http://vnews.gov.vn/</string>
		<key>http</key>
		<string>http://kr.tvnet.gov.vn/kenh-truyen-hinh/1019/ttxvn</string>
	</dict>
	<dict>
		<key>name</key>
		<string>HN</string>
		<key>logo</key>
		<string>HN</string>
		<key>link</key>
		<string>http://hanoitv.vn/truyen-hinh-truc-tuyen.html</string>
		<key>http</key>
		<string>http://kr.tvnet.gov.vn/kenh-truyen-hinh/1008/hn</string>
	</dict>
	<dict>
		<key>name</key>
		<string>VOV</string>
		<key>logo</key>
		<string>VOV</string>
		<key>link</key>
		<string>http://vovtv.vov.vn/</string>
		<key>http</key>
		<string>http://vovtv.vov.vn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>VOV1</string>
		<key>logo</key>
		<string>VOV1</string>
		<key>link</key>
		<string>http://kr.tvnet.gov.vn/kenh-truyen-hinh/1014/vov1</string>
		<key>http</key>
		<string>http://kr.tvnet.gov.vn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>VOV2</string>
		<key>logo</key>
		<string>VOV2</string>
		<key>link</key>
		<string>http://kr.tvnet.gov.vn/kenh-truyen-hinh/1015/vov2</string>
		<key>http</key>
		<string>http://kr.tvnet.gov.vn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>VOV3</string>
		<key>logo</key>
		<string>VOV3</string>
		<key>link</key>
		<string>http://kr.tvnet.gov.vn/kenh-truyen-hinh/1016/vov3</string>
		<key>http</key>
		<string>http://kr.tvnet.gov.vn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>VOV5</string>
		<key>logo</key>
		<string>VOV5</string>
		<key>link</key>
		<string>http://kr.tvnet.gov.vn/kenh-truyen-hinh/1017/vov5</string>
		<key>http</key>
		<string>http://kr.tvnet.gov.vn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bloomberg Asia</string>
		<key>logo</key>
		<string>bloomberg</string>
		<key>link</key>
		<string>https://www.bloomberg.com/live/asia</string>
		<key>http</key>
		<string>https://www.bloomberg.com/live/asia_stream</string>
	</dict>
</array>
</plist>
