<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Alex TV</string>
		<key>logo</key>
		<string>a-pa</string>
		<key>link</key>
		<string>https://www.youtube.com/watch_popup?v=_QiRIYWXAE4</string>
		<key>http</key>
		<string>http://alextv.zp.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TV 4</string>
		<key>logo</key>
		<string>abc1</string>
		<key>link</key>
		<string>http://tv4.te.ua/onlajn-movlennya/</string>
		<key>http</key>
		<string>http://tv4.te.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>INTV</string>
		<key>logo</key>
		<string>intvau</string>
		<key>link</key>
		<string>https://www.youtube.com/watch_popup?v=CW66CjnqXvk</string>
		<key>http</key>
		<string>http://www.intvau.com/#</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sky News</string>
		<key>logo</key>
		<string>Sky</string>
		<key>link</key>
		<string>https://www.youtube.com/watch_popup?v=y60wDzZt8yg</string>
		<key>http</key>
		<string>https://www.youtube.com/watch_popup?v=y60wDzZt8yg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>God TV</string>
		<key>logo</key>
		<string>god</string>
		<key>link</key>
		<string>https://www.youtube.com/watch_popup?v=-GGQdL7jqs0</string>
		<key>http</key>
		<string>http://www.god.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NZ Parliament</string>
		<key>logo</key>
		<string>parliament</string>
		<key>link</key>
		<string>https://www.parliament.nz/en/watch-parliament/</string>
		<key>http</key>
		<string>https://www.parliament.nz/en/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Canterbury TV</string>
		<key>logo</key>
		<string>ctv</string>
		<key>link</key>
		<string>http://ctv.co.nz/livestream/</string>
		<key>http</key>
		<string>http://ctv.co.nz/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ankhila Punjab TV</string>
		<key>logo</key>
		<string>Ankhila</string>
		<key>link</key>
		<string>https://ankhilapunjabtv.com/</string>
		<key>http</key>
		<string>https://ankhilapunjabtv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Shine TV</string>
		<key>logo</key>
		<string>shinetv</string>
		<key>link</key>
		<string>http://www.shinetv.co.nz/stream/</string>
		<key>http</key>
		<string>http://www.shinetv.co.nz/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>News Hub Online</string>
		<key>logo</key>
		<string>hub</string>
		<key>link</key>
		<string>http://www.radiolive.co.nz/ListenOnline.aspx?ref=Newshub</string>
		<key>http</key>
		<string>http://www.newshub.co.nz/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ABC 24 (ONLY IN AUSTRALIA)</string>
		<key>logo</key>
		<string>abc</string>
		<key>link</key>
		<string>https://www.youtube.com/user/NewsOnABC/videos?view=2&amp;flow=list</string>
		<key>http</key>
		<string>https://www.youtube.com/user/NewsOnABC/videos?view=2&amp;flow=list</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Angel TV</string>
		<key>logo</key>
		<string>angeltv</string>
		<key>link</key>
		<string>https://www.youtube.com/watch_popup?v=qSEeBbsAxbA</string>
		<key>http</key>
		<string>http://www.angeltv.org/</string>
	</dict>
</array>
</plist>
