<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>NZ Parliament</string>
		<key>logo</key>
		<string>parliament</string>
		<key>link</key>
		<string>https://www.parliament.nz/en/watch-parliament/</string>
		<key>http</key>
		<string>https://www.parliament.nz/en/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Canterbury TV</string>
		<key>logo</key>
		<string>ctv</string>
		<key>link</key>
		<string>http://ctv.co.nz/livestream/</string>
		<key>http</key>
		<string>http://ctv.co.nz/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ankhila Punjab TV</string>
		<key>logo</key>
		<string>Ankhila</string>
		<key>link</key>
		<string>https://ankhilapunjabtv.com/</string>
		<key>http</key>
		<string>https://ankhilapunjabtv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Shine TV</string>
		<key>logo</key>
		<string>shinetv</string>
		<key>link</key>
		<string>http://www.shinetv.co.nz/stream/</string>
		<key>http</key>
		<string>http://www.shinetv.co.nz/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sky News</string>
		<key>logo</key>
		<string>Sky</string>
		<key>link</key>
		<string>https://news.sky.com/watch-live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/skynews/videos?flow=list&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>News Hub Online</string>
		<key>logo</key>
		<string>hub</string>
		<key>link</key>
		<string>http://www.radiolive.co.nz/ListenOnline.aspx?ref=Newshub</string>
		<key>http</key>
		<string>http://www.newshub.co.nz/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TVNZ Breakfast</string>
		<key>logo</key>
		<string>breakfast</string>
		<key>link</key>
		<string>https://www.tvnz.co.nz/one-news/new-zealand/live-stream-breakfast-q15155.html</string>
		<key>http</key>
		<string>https://www.tvnz.co.nz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TVNZ News midday</string>
		<key>logo</key>
		<string>midday</string>
		<key>link</key>
		<string>https://www.tvnz.co.nz/one-news/new-zealand/live-stream-one-news-at-midday-q00051.html</string>
		<key>http</key>
		<string>https://www.tvnz.co.nz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TVNZ News at six</string>
		<key>logo</key>
		<string>six</string>
		<key>link</key>
		<string>https://www.tvnz.co.nz/one-news/new-zealand/live-stream-one-news-at-six-q01667.html</string>
		<key>http</key>
		<string>https://www.tvnz.co.nz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TVNZ News tonight</string>
		<key>logo</key>
		<string>tonight</string>
		<key>link</key>
		<string>https://www.tvnz.co.nz/one-news/new-zealand/live-stream-one-news-tonight-q01253.html</string>
		<key>http</key>
		<string>https://www.tvnz.co.nz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>A-PAC</string>
		<key>logo</key>
		<string>a-pac</string>
		<key>link</key>
		<string>http://www.a-pac.tv/</string>
		<key>http</key>
		<string>http://www.a-pac.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ABC 24 (ONLY IN AUSTRALIA)</string>
		<key>logo</key>
		<string>abc</string>
		<key>link</key>
		<string>http://www.abc.net.au/news/abcnews24/</string>
		<key>http</key>
		<string>https://www.youtube.com/user/NewsOnABC/videos?view=2&amp;flow=list</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MNTV Australia</string>
		<key>logo</key>
		<string>mntv</string>
		<key>link</key>
		<string>http://mntv.com.au/portal/?page_id=895</string>
		<key>http</key>
		<string>http://mntv.com.au/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>INTV</string>
		<key>logo</key>
		<string>intvau</string>
		<key>link</key>
		<string>http://www.intvau.com/#</string>
		<key>http</key>
		<string>http://www.intvau.com/#</string>
	</dict>
	<dict>
		<key>name</key>
		<string>AU Parliament</string>
		<key>logo</key>
		<string>aph</string>
		<key>link</key>
		<string>http://www.aph.gov.au/News_and_Events/Watch_Parliament</string>
		<key>http</key>
		<string>http://www.aph.gov.au/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TVSN</string>
		<key>logo</key>
		<string>tvsn</string>
		<key>link</key>
		<string>https://www.itvsn.com.au/itvsn/streaming/watch_tvsn.html</string>
		<key>http</key>
		<string>https://www.itvsn.com.au/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Expo Channel</string>
		<key>logo</key>
		<string>Expo</string>
		<key>link</key>
		<string>http://expochannel.com.au/</string>
		<key>http</key>
		<string>http://expochannel.com.au/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>God TV</string>
		<key>logo</key>
		<string>god</string>
		<key>link</key>
		<string>http://www.god.tv/live/au</string>
		<key>http</key>
		<string>http://www.god.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Angel TV</string>
		<key>logo</key>
		<string>angeltv</string>
		<key>link</key>
		<string>http://www.angeltv.org/watching_now_new/watchmovie.php</string>
		<key>http</key>
		<string>http://www.angeltv.org/</string>
	</dict>
</array>
</plist>
