<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>7843340317</string>
		<key>Back</key>
		<string>2207870254</string>
		<key>Banner</key>
		<string>1375980798</string>
		<key>Show1</key>
		<string>1</string>
		<key>Show2</key>
		<string>1</string>
		<key>Show3</key>
		<string>1</string>
		<key>Show4</key>
		<string>1</string>
		<key>Alarm</key>
		<string>7366674077</string>
		<key>CustomBanner</key>
		<string>6983530698</string>
		<key>CustomSplash</key>
		<string>5698369183</string>
		<key>Header</key>
		<string>6791959000</string>
		<key>Footer</key>
		<string>5095733954</string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string>1213104320</string>
		<key>Application</key>
		<string>1458019409</string>
		<key>Developer</key>
		<string>1239592099</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Japan Hits - Asia Dream</string>
			<key>logo</key>
			<string>Hits</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://158.69.38.194:8796/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://158.69.38.194:8796/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>JROCK - Asia Dream</string>
			<key>logo</key>
			<string>JROCK</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://158.69.38.194:8909/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://158.69.38.194:8909/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>JPOP - Asia Dream</string>
			<key>logo</key>
			<string>JPOP</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://142.44.131.253:8058/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://142.44.131.253:8058/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Big B</string>
			<key>logo</key>
			<string>Big</string>
			<key>link</key>
			<string>https://www.bigbradio.net/stream/jpop64.pls</string>
			<key>http</key>
			<string>https://www.bigbradio.net/stream/jpop128.pls</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>J-Pop Project</string>
			<key>logo</key>
			<string>J-Pop</string>
			<key>link</key>
			<string>http://agnes.torontocast.com:8083/stream/;</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://184.75.223.178:8083/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>J-Idols Project</string>
			<key>logo</key>
			<string>J-Idols</string>
			<key>link</key>
			<string>http://agnes.torontocast.com:8011/stream/;</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://184.75.223.178:8011/listen.pls?sid=1&amp;t=.pls</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>J1 HITS</string>
			<key>logo</key>
			<string>J1</string>
			<key>link</key>
			<string>https://rec.torontocast.stream/J1.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://sky1.torontocast.com:9041/listen.pls?sid=1&amp;t=.pls</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>J1 XTRA</string>
			<key>logo</key>
			<string>XTRA</string>
			<key>link</key>
			<string>https://rec.torontocast.stream/J1xtra.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>J1 GOLD</string>
			<key>logo</key>
			<string>GOLD</string>
			<key>link</key>
			<string>https://rec.torontocast.stream/J1gold.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://sky1.torontocast.com:9069/listen.pls?sid=1&amp;t=.pls</string>
			<key>note</key>
			<string>Oldies Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>JCLUB - Asia Dream</string>
			<key>logo</key>
			<string>JCLUB</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://142.44.131.253:8007/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://142.44.131.253:8007/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Japan-A-Radio</string>
			<key>logo</key>
			<string>Japan-A</string>
			<key>link</key>
			<string>http://www.japanaradio.com/free/24kaacp.pls</string>
			<key>http</key>
			<string>http://www.japanaradio.com/free/48kaacp.pls</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Friends Forever</string>
			<key>logo</key>
			<string>Friends</string>
			<key>link</key>
			<string>http://23.29.71.154:8066/listen.pls</string>
			<key>http</key>
			<string>http://23.29.71.154:8062/listen.pls</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Blue Heron</string>
			<key>logo</key>
			<string>Heron</string>
			<key>link</key>
			<string>http://www.streamlicensing.com/stations/blueheron/BlueHeronRadio.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
	</array>
</dict>
</plist>
