<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>7843340317</string>
		<key>Back</key>
		<string>2207870254</string>
		<key>Banner</key>
		<string>1</string>
		<key>Show1</key>
		<string>1</string>
		<key>Show2</key>
		<string>1</string>
		<key>Show3</key>
		<string>1</string>
		<key>Show4</key>
		<string>1</string>
		<key>Alarm</key>
		<string>1</string>
		<key>CustomBanner</key>
		<string>1</string>
		<key>CustomSplash</key>
		<string>5698369183</string>
		<key>Header</key>
		<string>6791959000</string>
		<key>Footer</key>
		<string>5095733954</string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string>1213104320</string>
		<key>Application</key>
		<string>1458019409</string>
		<key>Developer</key>
		<string>1239592099</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Amami FM 77.7</string>
			<key>logo</key>
			<string>Amami</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/amami-fm-77-7,12131.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>AnimeNfo Radio</string>
			<key>logo</key>
			<string>AnimeNfo</string>
			<key>link</key>
			<string>http://momori.animenfo.com:8000/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/animenfo-radio,12764.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ban-Ban 86.9 FM</string>
			<key>logo</key>
			<string>Ban</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/ban-ban-86-9-fm,16710.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Banana FM 87.7</string>
			<key>logo</key>
			<string>Banana</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/banana-fm-87-7,16709.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Beach FM 78.9</string>
			<key>logo</key>
			<string>Beach</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/beach-fm-78-9,829.m3u</string>
			<key>http</key>
			<string>http://150.95.174.29:8000/by_the_sea</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CIAO! 79.6 FM</string>
			<key>logo</key>
			<string>CIAO</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/ciao-79-6-fm,12124.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM 76.7</string>
			<key>logo</key>
			<string>76</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/fm-76-7,12120.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM 83.7</string>
			<key>logo</key>
			<string>83</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/fm-83-7,12113.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM Castle 79.0</string>
			<key>logo</key>
			<string>Castle</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/fm-castle-79-0,12126.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM Karuizawa 77.5</string>
			<key>logo</key>
			<string>Karuizawa</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/fm-karuizawa-77-5,12119.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM Miki 76.1</string>
			<key>logo</key>
			<string>Miki</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/fm-miki-76-1,12129.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM Nirai 76.2</string>
			<key>logo</key>
			<string>Nirai</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/fm-nirai-76-2,12107.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM Odawara 78.7</string>
			<key>logo</key>
			<string>Odawara</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/fm-odawara-78-7,12121.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM Palulun 76.2 FM</string>
			<key>logo</key>
			<string>Palulun</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/fm-palulun-76-2-fm,12118.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM Wing 76.1</string>
			<key>logo</key>
			<string>Wing</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/fm-wing-76-1,12111.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM-Mot.com</string>
			<key>logo</key>
			<string>Mot</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/fm-mot-com,12116.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM N1 76.3</string>
			<key>logo</key>
			<string>N1</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/fmn1-76-3,12108.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>JAGA</string>
			<key>logo</key>
			<string>JAGA</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/fm-jaga,12110.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>J-Wave 81.3 FM</string>
			<key>logo</key>
			<string>Wave</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/j-wave-81-3-fm,13710.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>JPOPSUKI Radio</string>
			<key>logo</key>
			<string>JPOPSUKI</string>
			<key>link</key>
			<string>http://jpopsuki.fm:2199/tunein/jpopsuki-stream.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/jpopsuki-radio,18415.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kiku FM 77.9</string>
			<key>logo</key>
			<string>Kiku</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/kiku-fm-77-9,12130.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music (Hirakata, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mid FM 76.1</string>
			<key>logo</key>
			<string>Mid</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/mid-fm-76-1,12125.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mumix - Kine Nato</string>
			<key>logo</key>
			<string>Mumix</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/mumix-kine-nato,16713.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ottava Radio</string>
			<key>logo</key>
			<string>Ottava</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/ottava-radio,12765.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Japan Hits - Asia Dream</string>
			<key>logo</key>
			<string>Hits</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://158.69.38.194:8796/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://158.69.38.194:8796/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>JROCK - Asia Dream</string>
			<key>logo</key>
			<string>JROCK</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://158.69.38.194:8909/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://158.69.38.194:8909/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>JPOP - Asia Dream</string>
			<key>logo</key>
			<string>JPOP</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://142.44.131.253:8058/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://142.44.131.253:8058/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Big B</string>
			<key>logo</key>
			<string>Big</string>
			<key>link</key>
			<string>https://www.bigbradio.net/stream/jpop64.pls</string>
			<key>http</key>
			<string>https://www.bigbradio.net/stream/jpop128.pls</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>J-Pop Project</string>
			<key>logo</key>
			<string>J-Pop</string>
			<key>link</key>
			<string>http://agnes.torontocast.com:8083/stream/;</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://184.75.223.178:8083/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>J-Idols Project</string>
			<key>logo</key>
			<string>J-Idols</string>
			<key>link</key>
			<string>http://agnes.torontocast.com:8011/stream/;</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://184.75.223.178:8011/listen.pls?sid=1&amp;t=.pls</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>J1 HITS</string>
			<key>logo</key>
			<string>J1</string>
			<key>link</key>
			<string>https://rec.torontocast.stream/J1.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://sky1.torontocast.com:9041/listen.pls?sid=1&amp;t=.pls</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>J1 XTRA</string>
			<key>logo</key>
			<string>XTRA</string>
			<key>link</key>
			<string>https://rec.torontocast.stream/J1xtra.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>J1 GOLD</string>
			<key>logo</key>
			<string>GOLD</string>
			<key>link</key>
			<string>https://rec.torontocast.stream/J1gold.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://sky1.torontocast.com:9069/listen.pls?sid=1&amp;t=.pls</string>
			<key>note</key>
			<string>Oldies Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>JCLUB - Asia Dream</string>
			<key>logo</key>
			<string>JCLUB</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://142.44.131.253:8007/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://142.44.131.253:8007/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Japan-A-Radio</string>
			<key>logo</key>
			<string>Japan-A</string>
			<key>link</key>
			<string>http://www.japanaradio.com/free/24kaacp.pls</string>
			<key>http</key>
			<string>http://www.japanaradio.com/free/48kaacp.pls</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Friends Forever</string>
			<key>logo</key>
			<string>Friends</string>
			<key>link</key>
			<string>http://23.29.71.154:8066/listen.pls</string>
			<key>http</key>
			<string>http://23.29.71.154:8062/listen.pls</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Blue Heron</string>
			<key>logo</key>
			<string>Heron</string>
			<key>link</key>
			<string>http://www.streamlicensing.com/stations/blueheron/BlueHeronRadio.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Moon Mission</string>
			<key>logo</key>
			<string>Moon</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://uk5.internet-radio.com:8306/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://uk5.internet-radio.com:8306/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kahoku</string>
			<key>logo</key>
			<string>Kahoku</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://radio.kahoku.net:8000/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://radio.kahoku.net:8000/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Otaku Music</string>
			<key>logo</key>
			<string>Otaku</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://158.69.38.194:8132/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://158.69.38.194:8132/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Armitages Dimension</string>
			<key>logo</key>
			<string>Armitages</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://62.75.253.56:8012/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://62.75.253.56:8012/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chiru No</string>
			<key>logo</key>
			<string>Chiru</string>
			<key>link</key>
			<string>https://chiru.no:8080/stream.mp3</string>
			<key>http</key>
			<string>https://chiru.no/?chiru.no.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CDJapan</string>
			<key>logo</key>
			<string>CDJapan</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://108.61.34.50:7720/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://108.61.34.50:7720/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>TLIG Japanese</string>
			<key>logo</key>
			<string>TLIG</string>
			<key>link</key>
			<string>http://stream.tligradio.org/tunein/tligradio_en.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://46.28.49.164:7800/listen.pls?sid=1&amp;t=.pls</string>
			<key>note</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
