<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1</string>
		<key>Back</key>
		<string>1</string>
		<key>Banner</key>
		<string>1</string>
		<key>Show1</key>
		<string>1</string>
		<key>Show2</key>
		<string>1</string>
		<key>Show3</key>
		<string>1</string>
		<key>Show4</key>
		<string>1</string>
		<key>Alarm</key>
		<string>1</string>
		<key>CustomBanner</key>
		<string>1</string>
		<key>CustomSplash</key>
		<string>1</string>
		<key>Header</key>
		<string>1</string>
		<key>Footer</key>
		<string>1</string>
		<key>Email</key>
		<string>1</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1</string>
		<key>Developer</key>
		<string>1</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Menu</key>
	<array>
		<string>Top</string>
		<string>News</string>
		<string>Local</string>
		<string>Classic</string>
		<string>Music</string>
		<string>Sport</string>
		<string>Talk</string>
		<string>Youth</string>
		<string>Oldies</string>
	</array>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>100.1 FM</string>
			<key>logo</key>
			<string>100</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/100-1-fm,16680.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 5</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Amistad 101.9 FM</string>
			<key>logo</key>
			<string>Amistad</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/amistad-101-9-fm,18202.m3u</string>
			<key>http</key>
			<string>http://arsradiotv.com:8020/;</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Amor FM 91.9</string>
			<key>logo</key>
			<string>Amor</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/amor-fm-91-9,10086.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>La Romana (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bachata Radio</string>
			<key>logo</key>
			<string>Bachata</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/bachata-radio,13275.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Puerto Plata (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Barahona 970 AM</string>
			<key>logo</key>
			<string>Barahona</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/barahona-970-am,17622.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Caliente 104 FM</string>
			<key>logo</key>
			<string>Caliente</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/caliente-104-fm,18129.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CDN 92.5 FM</string>
			<key>logo</key>
			<string>CDN</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/cdn-92-5-fm,18204.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cima 100.5 FM</string>
			<key>logo</key>
			<string>Cima</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/cima-100-fm,3447.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/cima-100-5-fm,17248.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Clave 95.9 FM</string>
			<key>logo</key>
			<string>Clave</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/clave-95-9-fm,18205.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Comando 88</string>
			<key>logo</key>
			<string>Comando</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/comando-88,18206.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cosmos 99.1 FM</string>
			<key>logo</key>
			<string>Cosmos</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/cosmos-99-1-fm,17613.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>La Romana (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Criolla 106.1 FM</string>
			<key>logo</key>
			<string>Criolla</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/criolla-106-1-fm,17252.m3u</string>
			<key>http</key>
			<string>http://rgradio.net:8060/criolla106</string>
			<key>note</key>
			<string>Santiago (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Digital 94 FM</string>
			<key>logo</key>
			<string>Digital</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/digital-94-fm,11339.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Macoris (Local)</string>
		</dict>
	</array>
</dict>
</plist>
