<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>7842102550</string>
		<key>Back</key>
		<string>1075769251</string>
		<key>Banner</key>
		<string>1</string>
		<key>Show1</key>
		<string>1</string>
		<key>Show2</key>
		<string>1</string>
		<key>Show3</key>
		<string>1</string>
		<key>Show4</key>
		<string>1</string>
		<key>Alarm</key>
		<string>1</string>
		<key>CustomBanner</key>
		<string>1</string>
		<key>CustomSplash</key>
		<string>8187972514</string>
		<key>Header</key>
		<string>8078315398</string>
		<key>Footer</key>
		<string>3320812735</string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1469777971</string>
		<key>Developer</key>
		<string>1239592099</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>100.1 FM</string>
			<key>logo</key>
			<string>100</string>
			<key>link</key>
			<string>http://radio.domint.net:8096/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/100-1-fm,16680.m3u</string>
			<key>note</key>
			<string>Top</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Amanecer</string>
			<key>logo</key>
			<string>Amanecer</string>
			<key>link</key>
			<string>http://cast.multimediadominicana.com:9035/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-amanecer,16780.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Amistad 101.9 FM</string>
			<key>logo</key>
			<string>Amistad</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/amistad-101-9-fm,18202.m3u</string>
			<key>http</key>
			<string>http://arsradiotv.com:8020/;</string>
			<key>note</key>
			<string>News, Talk, Sport, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Amor FM 91.9</string>
			<key>logo</key>
			<string>Amor</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/amor-fm-91-9,10086.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>La Romana (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Azua</string>
			<key>logo</key>
			<string>Azua</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-azua,13271.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bachata Dominicana</string>
			<key>logo</key>
			<string>Bachat</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-bachata-dominicana,18899.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music (La Romana, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bachata Radio</string>
			<key>logo</key>
			<string>Bachata</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/bachata-radio,13275.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk, Music (Puerto Plata, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Be 99.7 FM</string>
			<key>logo</key>
			<string>Be</string>
			<key>link</key>
			<string>http://ca5.rcast.net:8070/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Barahona 970 AM</string>
			<key>logo</key>
			<string>Barahona</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/barahona-970-am,17622.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Caliente 104 FM</string>
			<key>logo</key>
			<string>Caliente</string>
			<key>link</key>
			<string>http://radio.domint.net:8064/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/caliente-104-fm,18129.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Caracol 1200 AM</string>
			<key>logo</key>
			<string>1200</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-caracol-1200-am,17623.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Azua (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CDN 92.5 FM</string>
			<key>logo</key>
			<string>CDN</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/cdn-92-5-fm,18204.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk, Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cima 100.5 FM</string>
			<key>logo</key>
			<string>Cima</string>
			<key>link</key>
			<string>http://167.114.223.51:9384/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/cima-100-fm,3447.m3u</string>
			<key>note</key>
			<string>News, Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Clave 95.9 FM</string>
			<key>logo</key>
			<string>Clave</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/clave-95-9-fm,18205.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Comando 88</string>
			<key>logo</key>
			<string>Comando</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/comando-88,18206.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cosmos 99.1 FM</string>
			<key>logo</key>
			<string>Cosmos</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/cosmos-99-1-fm,17613.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>La Romana (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Consentida 890 AM</string>
			<key>logo</key>
			<string>Consentida</string>
			<key>link</key>
			<string>http://212.83.135.226:9962/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Criolla 106.1 FM</string>
			<key>logo</key>
			<string>Criolla</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/criolla-106-1-fm,17252.m3u</string>
			<key>http</key>
			<string>http://rgradio.net:8060/criolla106</string>
			<key>note</key>
			<string>Santiago (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Digital 94 FM</string>
			<key>logo</key>
			<string>94</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/digital-94-fm,11339.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk, Music (Macoris, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Digital 95.5 FM</string>
			<key>logo</key>
			<string>Digital</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/digital-95-5-fm,18207.m3u</string>
			<key>http</key>
			<string>http://stm2.grupointernet.com:8050/;stream.mp3</string>
			<key>note</key>
			<string>Top</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Disco 106.1 FM</string>
			<key>logo</key>
			<string>Disco</string>
			<key>link</key>
			<string>http://radio2.domint.net:8048/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/disco-106-1-fm,11359.m3u</string>
			<key>note</key>
			<string>News, Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Disco 89 - 88.9 FM</string>
			<key>logo</key>
			<string>89</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/disco-89-88-9-fm,18208.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Disney 97.3 FM</string>
			<key>logo</key>
			<string>Disney</string>
			<key>link</key>
			<string>http://radio.domint.net:8026/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-disney-97-3-fm,18131.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dominicana FM</string>
			<key>logo</key>
			<string>Domincana</string>
			<key>link</key>
			<string>http://174.140.166.238:8610/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk, Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>El Bacharengue</string>
			<key>logo</key>
			<string>Bacharengue</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/el-bacharengue,11351.m3u</string>
			<key>http</key>
			<string>http://195.154.33.87:9998/;</string>
			<key>note</key>
			<string>Santiago de los Caballeros (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Emociones 97.9 FM</string>
			<key>logo</key>
			<string>Emociones</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-emociones-97-9-fm,17616.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk, Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Enamorada 99.9 FM</string>
			<key>logo</key>
			<string>Enamorada</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/enamorada-99-9-fm,17619.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Santa Cruz de Barahona (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Escala 106 FM</string>
			<key>logo</key>
			<string>Escala</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/escala-106-fm,17617.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Santa Cruz de Barahona (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Escandalo 102.5 FM</string>
			<key>logo</key>
			<string>Escandalo</string>
			<key>link</key>
			<string>http://radio3.domint.net:8062/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/escandalo-102-5-fm,18132.m3u</string>
			<key>note</key>
			<string>News, Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Escape 88.9 FM</string>
			<key>logo</key>
			<string>Escape</string>
			<key>link</key>
			<string>http://radio1.domint.net:8066/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/escape-88-9,11360.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ESPN Radio 104.5 FM</string>
			<key>logo</key>
			<string>ESPN</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/espn-radio-104-5-fm,18209.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Estacion 97.7 FM</string>
			<key>logo</key>
			<string>Estacion</string>
			<key>link</key>
			<string>http://ca5.rcast.net:8072/listen.pls</string>
			<key>http</key>
			<string>http://ca5.rcast.net:8072/;stream.mp3</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Estrella FM 90.5</string>
			<key>logo</key>
			<string>Estrell</string>
			<key>link</key>
			<string>http://streaming.estrella90.com:7110/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Estrella FM 92.3</string>
			<key>logo</key>
			<string>Estrella</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/estrella-fm-92-3,11343.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Bavaro (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Eternidad 990 AM</string>
			<key>logo</key>
			<string>Eternidad</string>
			<key>link</key>
			<string>http://66.128.53.117:9950/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Exa FM</string>
			<key>logo</key>
			<string>Exa</string>
			<key>link</key>
			<string>http://72.29.70.22:8007/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fenomenal FM</string>
			<key>logo</key>
			<string>Fenomenal</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/fenomenal-fm,17254.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Santiago (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fidelity 94.1 FM</string>
			<key>logo</key>
			<string>Fidelity</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/FIDELITY.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/fidelity-94-1-fm,11347.m3u</string>
			<key>note</key>
			<string>Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Flow 90.1 FM</string>
			<key>logo</key>
			<string>Flow</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/flow-90-1-fm,11368.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM 107.5</string>
			<key>logo</key>
			<string>F</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/fm-107-5,11342.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fuego 90 FM</string>
			<key>logo</key>
			<string>Fuego</string>
			<key>link</key>
			<string>http://209.126.116.143:9222/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/fuego-90-fm,11340.m3u</string>
			<key>note</key>
			<string>News, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Full 94.1</string>
			<key>logo</key>
			<string>Full</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/full-94-1,18210.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Guia 97.9 FM</string>
			<key>logo</key>
			<string>Guia</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/guia-97-9-fm,13269.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk (Barahona, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>HIFA La Voz de las Fuerzas Armadas</string>
			<key>logo</key>
			<string>HIFA</string>
			<key>link</key>
			<string>http://radio.domint.net:8028/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>HIJB 830 AM</string>
			<key>logo</key>
			<string>HIJB</string>
			<key>link</key>
			<string>http://system809.ximtelius.stream:18522/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk, Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hits 92.1 FM</string>
			<key>logo</key>
			<string>Hits</string>
			<key>link</key>
			<string>http://radio2.rgradio.net:8520/hits92.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>I Love Bachata Radio</string>
			<key>logo</key>
			<string>I</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/i-love-bachata-radio,15995.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music (Puerto Plata, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Impacto 1440 AM</string>
			<key>logo</key>
			<string>Impacto</string>
			<key>link</key>
			<string>http://stream2.305stream.com:8076/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Independencia FM 93.3</string>
			<key>logo</key>
			<string>Independencia</string>
			<key>link</key>
			<string>http://stream.grupotelemicro.com:9303/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/independencia-fm,17251.m3u</string>
			<key>note</key>
			<string>Music (Santiago, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Jumbo 92 FM</string>
			<key>logo</key>
			<string>Jumbo</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/jumbo-92-fm,15017.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Juventus Don Bosco</string>
			<key>logo</key>
			<string>Juventus</string>
			<key>link</key>
			<string>http://paginas.moisespaulino.com:8009/live.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kiss 95 FM</string>
			<key>logo</key>
			<string>Kiss</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/kiss-95-fm,11345.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Bonao (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kool 106.9 FM</string>
			<key>logo</key>
			<string>Kool</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-kool-106-9-fm,18562.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk, Sport (Bavaro, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>KQ 94.5 FM</string>
			<key>logo</key>
			<string>KQ</string>
			<key>link</key>
			<string>http://radio.yaservers.com:9990/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>KV 94.7 FM</string>
			<key>logo</key>
			<string>KV</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/kv-94-7-fm,18211.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top</string>
		</dict>
		<dict>
			<key>name</key>
			<string>La 91 FM</string>
			<key>logo</key>
			<string>91</string>
			<key>link</key>
			<string>http://radio.domint.net:8040/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/la-91-fm,11788.m3u</string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Bachatera</string>
			<key>logo</key>
			<string>Bachatera</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/la-bachatera,15994.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>La H 102.3 FM</string>
			<key>logo</key>
			<string>H</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/la-h-102-3-fm,14264.m3u</string>
			<key>http</key>
			<string>http://radio7a.domint.net:8050/;</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Kalle 96.3 FM</string>
			<key>logo</key>
			<string>Kalle</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/la-kalle-96-3-fm,18212.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music (Bani, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Llave FM 95.7</string>
			<key>logo</key>
			<string>Llave</string>
			<key>link</key>
			<string>http://radio7a.domint.net:8074/listen.pls</string>
			<key>http</key>
			<string>http://radio7a.domint.net:8074/listen.m3u</string>
			<key>note</key>
			<string>Tenares (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Mega 102.5 FM</string>
			<key>logo</key>
			<string>La</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/la-mega-102-5-fm,18213.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>La N 103.5 FM</string>
			<key>logo</key>
			<string>N</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/la-n-103-5-fm,3450.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk, Top Music (Santiago, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Nexia FM</string>
			<key>logo</key>
			<string>Nexia</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/la-nexia-fm,18993.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Valverde (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Nota 95.7 FM</string>
			<key>logo</key>
			<string>Nota</string>
			<key>link</key>
			<string>http://system809.ximtelius.stream:18511/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk, Top</string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Rocka 91.7 FM</string>
			<key>logo</key>
			<string>Rocka</string>
			<key>link</key>
			<string>http://5.135.183.124:8243/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>La X 102.1 FM</string>
			<key>logo</key>
			<string>LaX</string>
			<key>link</key>
			<string>http://vip.livecastnet.com:8000/x1021.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Latidos 93.7 FM</string>
			<key>logo</key>
			<string>Latidos</string>
			<key>link</key>
			<string>http://72.29.70.22:9200/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Latina 104</string>
			<key>logo</key>
			<string>104</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/latina-88-7-fm,17158.m3u</string>
			<key>http</key>
			<string>http://www.caribbean-radio.com/playlists/do/1043fm.pls</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Latina 88.7 FM</string>
			<key>logo</key>
			<string>Latina</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/latina-88-7-fm,17158.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>LatinaMix Bavaro</string>
			<key>logo</key>
			<string>LatinaMix</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/latinamix,19730.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-bavaro-92-5-fm,18561.m3u</string>
			<key>note</key>
			<string>News, Talk, Music, Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Magis 98.3 FM</string>
			<key>logo</key>
			<string>Magis</string>
			<key>link</key>
			<string>http://radio.ipl.edu.do:8000/magisfm.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mambo 94.3 FM</string>
			<key>logo</key>
			<string>Mambo</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/mambo-94-3-fm,17153.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Higuey (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Manantial 89.5 FM</string>
			<key>logo</key>
			<string>Manantial</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/manantial-89-5-fm,13267.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Puerto Plata (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Maravillosa FM 89.7</string>
			<key>logo</key>
			<string>Maravillosa</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/maravillosa-fm-89-7,11365.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk (Barahona, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>María</string>
			<key>logo</key>
			<string>Maria</string>
			<key>link</key>
			<string>http://dreamsiteradiocp4.com:8100/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mega 105.1 FM</string>
			<key>logo</key>
			<string>Mega</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/mega-105-1-fm,17615.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Merengola Radio</string>
			<key>logo</key>
			<string>Merengola</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/merengola-radio,13277.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Puerto Plata (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mixx 104.5 FM</string>
			<key>logo</key>
			<string>Mixx</string>
			<key>link</key>
			<string>http://radio2.domint.net:8050/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/mixx-104-5-fm,19875.m3u</string>
			<key>note</key>
			<string>Santiago (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Monumental FM 100.3</string>
			<key>logo</key>
			<string>Monumental</string>
			<key>link</key>
			<string>http://198.50.158.92:9125/;</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/monumental-fm,3452.m3u</string>
			<key>note</key>
			<string>News, Talk, Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mortal FM 104.9</string>
			<key>logo</key>
			<string>Mortal</string>
			<key>link</key>
			<string>http://stream.grupotelemicro.com:1249/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/mortal-fm-104-9,17159.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nativa 103.5 FM</string>
			<key>logo</key>
			<string>Nativa</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/nativa-103-5-fm,19350.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Neón 89.3 FM</string>
			<key>logo</key>
			<string>Neon</string>
			<key>link</key>
			<string>http://radio.domint.net:8138/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Palma 90.7 FM</string>
			<key>logo</key>
			<string>Palma</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-palma-90-7-fm,17614.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Perla 106.3 FM</string>
			<key>logo</key>
			<string>Perla</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/perla-106-3-fm,11370.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pesa 92.3 FM</string>
			<key>logo</key>
			<string>Pesa</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/pesa-92-3-fm,17618.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pío Deportes Radio 1080 AM</string>
			<key>logo</key>
			<string>1080</string>
			<key>link</key>
			<string>http://radio.radiostreaming.us:9948/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk, Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Popular 950 AM</string>
			<key>logo</key>
			<string>Popular</string>
			<key>link</key>
			<string>http://radio7a.domint.net:8060/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Power 103.7 FM</string>
			<key>logo</key>
			<string>Power</string>
			<key>link</key>
			<string>http://199.217.118.215:8412/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Premium 101.1 FM</string>
			<key>logo</key>
			<string>Premium</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/premium-101-1-fm,11366.m3u</string>
			<key>http</key>
			<string>http://radio2.domint.net:8058/stream</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Primera 88.1 FM</string>
			<key>logo</key>
			<string>Primera</string>
			<key>link</key>
			<string>http://stream.grupotelemicro.com:8801/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/primera-88-1-fm,16682.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pueblo 1510 AM</string>
			<key>logo</key>
			<string>Pueblo</string>
			<key>link</key>
			<string>http://lapatrona.kydsecurity.com:8000/live.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pura Vida 92.9 FM</string>
			<key>logo</key>
			<string>Pura</string>
			<key>link</key>
			<string>http://23.239.68.71:9700/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/pura-vida-92-9-fm,18133.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Quisqueya FM</string>
			<key>logo</key>
			<string>Quisquey</string>
			<key>link</key>
			<string>http://174.140.166.238:8620/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Quisqueya Radio</string>
			<key>logo</key>
			<string>Quisqueya</string>
			<key>link</key>
			<string>https://stream.zenolive.com/6vezfgg4zbruv.aac</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/quisqueya-radio,11357.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Villa - La Sencilla 1480 AM</string>
			<key>logo</key>
			<string>Sencilla</string>
			<key>link</key>
			<string>http://audio.domiradio.com:9382/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Raíces Radio</string>
			<key>logo</key>
			<string>Raices</string>
			<key>link</key>
			<string>http://radio7a.domint.net:8120/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Real AM 1310</string>
			<key>logo</key>
			<string>Real</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-real-am-1310,11344.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music (La Vega, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Red Nacional Cristiana 710 AM</string>
			<key>logo</key>
			<string>710</string>
			<key>link</key>
			<string>https://stream.zenolive.com/03yn1w98swzuv.aac</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Renuevo 89.7 FM</string>
			<key>logo</key>
			<string>Renuevo</string>
			<key>link</key>
			<string>http://radiotvstream.com:8031/renuevo.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Revelacion 88.1 FM</string>
			<key>logo</key>
			<string>Revelacion</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-revelacion-88-1-fm,11341.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Santiago (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Reguepop</string>
			<key>logo</key>
			<string>Reguepop</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/reguepop,13276.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Puerto Plata (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ritmo 96.5 FM</string>
			<key>logo</key>
			<string>Ritmo</string>
			<key>link</key>
			<string>http://streaming.ritmo96.com:7100/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rumba 98.5 FM</string>
			<key>logo</key>
			<string>Rumba</string>
			<key>link</key>
			<string>http://radio7a.domint.net:8226/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/rumba-98-5-fm,15976.m3u</string>
			<key>note</key>
			<string>Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sabor a Merengue</string>
			<key>logo</key>
			<string>Sabor</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/sabor-a-merengue,11353.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Santiago (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Santo Domingo 620 AM</string>
			<key>logo</key>
			<string>620</string>
			<key>link</key>
			<string>http://174.140.166.238:8630/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sonido Suave 99.3 FM</string>
			<key>logo</key>
			<string>Sonido</string>
			<key>link</key>
			<string>http://radio.domint.net:8002/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/sonido-suave-99-3-fm,18214.m3u</string>
			<key>note</key>
			<string>Top</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Studio 88.5 FM</string>
			<key>logo</key>
			<string>Studio</string>
			<key>link</key>
			<string>http://radio2.domint.net:8248/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Suave 107</string>
			<key>logo</key>
			<string>107</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/suave-107,17250.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Súper 7 FM 107.7</string>
			<key>logo</key>
			<string>7</string>
			<key>link</key>
			<string>http://radio7a.domint.net:8066/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Super K 100.7 FM</string>
			<key>logo</key>
			<string>K</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/super-k-100-7-fm,17247.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Super Q 100.9 FM</string>
			<key>logo</key>
			<string>Q</string>
			<key>link</key>
			<string>http://23.239.68.71:9756/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Suspiro 102.5 FM</string>
			<key>logo</key>
			<string>Suspiro</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/suspiro-102-5-fm,11369.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Barahona (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tiempo FM 100.7</string>
			<key>logo</key>
			<string>Tiempo</string>
			<key>link</key>
			<string>http://www.caribbean-radio.com/playlists/do/1007fm.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk, Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Top Latina 101.7 FM</string>
			<key>logo</key>
			<string>Latin</string>
			<key>link</key>
			<string>http://radio2.domint.net:8022/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Trueno 99 FM</string>
			<key>logo</key>
			<string>Trueno</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/trueno-99-fm,17620.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pedernales (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Turbo 98 FM</string>
			<key>logo</key>
			<string>Turbo</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/turbo-98-fm,17253.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top (Santiago, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Universal 650 AM</string>
			<key>logo</key>
			<string>650</string>
			<key>link</key>
			<string>http://192.99.44.11:1488/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk, Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>VEN 1200 AM Santo Domingo</string>
			<key>logo</key>
			<string>Santo</string>
			<key>link</key>
			<string>http://s1media.hosting.nassever.com:6002/radioven1200.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-ven-1200-am,18231.m3u</string>
			<key>note</key>
			<string>Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>VEN 105.5 FM La Romana</string>
			<key>logo</key>
			<string>Ven</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-ven-105-5-fm,18230.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Vida 105.3 FM</string>
			<key>logo</key>
			<string>Vida</string>
			<key>link</key>
			<string>https://paginas.moisespaulino.com:9036/stream?type=.mp3</string>
			<key>http</key>
			<string>http://paginas.moisespaulino.com:8036/listen.pls</string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Visión Cristiana Internacional</string>
			<key>logo</key>
			<string>Cristiana</string>
			<key>link</key>
			<string>http://166.88.21.98:9660/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Z 101</string>
			<key>logo</key>
			<string>101</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/Z101FM.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/z-101,17249.m3u</string>
			<key>note</key>
			<string>News, Talk, Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Zol 106.5 FM</string>
			<key>logo</key>
			<string>Zol</string>
			<key>link</key>
			<string>http://radio2.domint.net:8022/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/zol-106-5-fm,3454.m3u</string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
	</array>
</dict>
</plist>
