<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>ΕΡΤ1</string>
		<key>logo</key>
		<string>ept1</string>
		<key>link</key>
		<string>http://webtv.ert.gr/ert1/</string>
		<key>http</key>
		<string>http://webtv.ert.gr/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ΕΡΤ2</string>
		<key>logo</key>
		<string>ept2</string>
		<key>link</key>
		<string>http://webtv.ert.gr/ert2/</string>
		<key>http</key>
		<string>http://webtv.ert.gr/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ΕΡΤ3</string>
		<key>logo</key>
		<string>ept3</string>
		<key>link</key>
		<string>http://webtv.ert.gr/ert3/</string>
		<key>http</key>
		<string>http://webtv.ert.gr/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ΕΡΤ World</string>
		<key>logo</key>
		<string>ept</string>
		<key>link</key>
		<string>http://webtv.ert.gr/ertworld/</string>
		<key>http</key>
		<string>http://webtv.ert.gr/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ΕΡΤ Play</string>
		<key>logo</key>
		<string>Play</string>
		<key>link</key>
		<string>http://webtv.ert.gr/ertplay/</string>
		<key>http</key>
		<string>http://webtv.ert.gr/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Epsilon</string>
		<key>logo</key>
		<string>Epsilon</string>
		<key>link</key>
		<string>http://www.epsilontv.gr/live/</string>
		<key>http</key>
		<string>http://www.epsilontv.gr</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SBC</string>
		<key>logo</key>
		<string>SBC</string>
		<key>link</key>
		<string>http://www.sbctv.gr/</string>
		<key>http</key>
		<string>http://www.sbctv.gr/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Alpha</string>
		<key>logo</key>
		<string>Alpha</string>
		<key>link</key>
		<string>http://www.alphatv.gr/webtv/live</string>
		<key>http</key>
		<string>http://www.alphatv.gr</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Skai</string>
		<key>logo</key>
		<string>Skai</string>
		<key>link</key>
		<string>http://www.skai.gr/player/tvlive/</string>
		<key>http</key>
		<string>http://www.skai.gr</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Αρτ Τηλεοραση</string>
		<key>logo</key>
		<string>Art</string>
		<key>link</key>
		<string>http://www.arttv.info/2014/03/art-tv-live.html</string>
		<key>http</key>
		<string>http://www.arttv.info</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Zougla</string>
		<key>logo</key>
		<string>Zougla</string>
		<key>link</key>
		<string>http://www.zougla.gr/live</string>
		<key>http</key>
		<string>http://www.zougla.gr</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Euronews</string>
		<key>logo</key>
		<string>Euronews</string>
		<key>link</key>
		<string>http://gr.euronews.com/live</string>
		<key>http</key>
		<string>http://gr.euronews.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Star</string>
		<key>logo</key>
		<string>Star</string>
		<key>link</key>
		<string>http://www.star.gr/tv/el/Pages/LiveStream.aspx</string>
		<key>http</key>
		<string>http://www.star.gr</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mega</string>
		<key>logo</key>
		<string>Mega</string>
		<key>link</key>
		<string>https://www.youtube.com/user/Megatvweb/videos?view=2&amp;flow=grid&amp;live_view=501</string>
		<key>http</key>
		<string>http://www.megatv.com/webtv/default.asp?catid=33880&amp;subid=20763&amp;pubid=33005683</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Greek Voice</string>
		<key>logo</key>
		<string>Voice</string>
		<key>link</key>
		<string>http://www.wpso.com/</string>
		<key>http</key>
		<string>http://www.wpso.com/tv640.htm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>GREEK VIDEO HITS</string>
		<key>logo</key>
		<string>greekvideohits</string>
		<key>link</key>
		<string>http://www.greekvideohits.com/</string>
		<key>http</key>
		<string>http://www.greekvideohits.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Greek Architects</string>
		<key>logo</key>
		<string>Architects</string>
		<key>link</key>
		<string>http://www.greekarchitects.gr/tv.php</string>
		<key>http</key>
		<string>http://www.greekarchitects.gr</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ΟΔΙΕ</string>
		<key>logo</key>
		<string>ODIE</string>
		<key>link</key>
		<string>http://www.odie.gr/el/odiePage/live</string>
		<key>http</key>
		<string>http://www.odie.gr</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TileSport</string>
		<key>logo</key>
		<string>TileSport</string>
		<key>link</key>
		<string>http://www.tilesport.tv/index_live.php</string>
		<key>http</key>
		<string>http://www.tilesport.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>4E</string>
		<key>logo</key>
		<string>4</string>
		<key>link</key>
		<string>http://www.tv4e.gr/livestreaming.php</string>
		<key>http</key>
		<string>http://www.tv4e.gr</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Patras Church</string>
		<key>logo</key>
		<string>Patras</string>
		<key>link</key>
		<string>http://www.patras-church.gr/new/</string>
		<key>http</key>
		<string>http://www.patras-church.gr</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ΕΑΕΠ Νίκαιας - Nikaia Church</string>
		<key>logo</key>
		<string>Nikaia</string>
		<key>link</key>
		<string>https://www.nikaia-church.gr/media-files/live-streaming-nikaia</string>
		<key>http</key>
		<string>https://www.nikaia-church.gr</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Word of God</string>
		<key>logo</key>
		<string>Word</string>
		<key>link</key>
		<string>http://www.wordofgod.gr/Main.aspx?lang=el&amp;chk=1</string>
		<key>http</key>
		<string>http://www.wordofgod.gr/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Voice of God TV</string>
		<key>logo</key>
		<string>VoiceOfGod</string>
		<key>link</key>
		<string>http://www.voiceofgod.gr/Main.aspx?lang=el&amp;chk=1</string>
		<key>http</key>
		<string>http://www.voiceofgod.gr</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Blue Sky</string>
		<key>logo</key>
		<string>Blue</string>
		<key>link</key>
		<string>https://www.youtube.com/user/blueskyathens/videos?live_view=501&amp;view=2&amp;flow=grid</string>
		<key>http</key>
		<string>http://www.blueskytv.gr/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kontra</string>
		<key>logo</key>
		<string>Kontra</string>
		<key>link</key>
		<string>http://live24.gr/webtv/kontrachannel/</string>
		<key>http</key>
		<string>http://kontrachannel.gr/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ΕΝΑ</string>
		<key>logo</key>
		<string>ena</string>
		<key>link</key>
		<string>http://original.livestream.com/lamiaenatv</string>
		<key>http</key>
		<string>http://www.enatv.gr/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Star</string>
		<key>logo</key>
		<string>TVStar</string>
		<key>link</key>
		<string>https://tvstar.gr/webtv</string>
		<key>http</key>
		<string>https://tvstar.gr</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TV100</string>
		<key>logo</key>
		<string>TV100</string>
		<key>link</key>
		<string>http://www.fm100.gr/live/tv100</string>
		<key>http</key>
		<string>http://www.fm100.gr</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Επιλογές</string>
		<key>logo</key>
		<string>Epilioges</string>
		<key>link</key>
		<string>http://epiloges.tv/index.php?page=news_d&amp;article_id=410&amp;category_id=20</string>
		<key>http</key>
		<string>http://www.ustream.tv/channel/tv-epiloges/pop-out</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Europe 1</string>
		<key>logo</key>
		<string>Europe1</string>
		<key>link</key>
		<string>http://www.europeone.gr/index.php?option=com_content&amp;view=article&amp;id=109&amp;Itemid=142</string>
		<key>http</key>
		<string>http://www.europeone.gr</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Κρήτη TV Crete</string>
		<key>logo</key>
		<string>Crete</string>
		<key>link</key>
		<string>http://www.cretetv.gr/live-stream/</string>
		<key>http</key>
		<string>http://www.cretetv.gr/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Νέα</string>
		<key>logo</key>
		<string>Nea</string>
		<key>link</key>
		<string>http://www.neatv.gr/el/webtv.php</string>
		<key>http</key>
		<string>http://www.neatv.gr</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Creta</string>
		<key>logo</key>
		<string>Creta</string>
		<key>link</key>
		<string>https://tvcreta.gr/live/</string>
		<key>http</key>
		<string>https://tvcreta.gr/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ΘρακηΝετ Thraki Net</string>
		<key>logo</key>
		<string>Thraki</string>
		<key>link</key>
		<string>http://thrakinet.tv/%CE%B4%CE%B5%CE%AF%CF%84%CE%B5-%CE%B6%CF%89%CE%BD%CF%84%CE%B1%CE%BD%CE%AC-thrakinet-live/</string>
		<key>http</key>
		<string>http://thrakinet.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Δέλτα</string>
		<key>logo</key>
		<string>Delta</string>
		<key>link</key>
		<string>https://www.youtube.com/channel/UCzbsC-Pud1UPAYlm5nWI-uQ/live</string>
		<key>http</key>
		<string>http://v4.deltatv.gr/index.php?option=com_k2&amp;view=item&amp;layout=item&amp;id=11183&amp;Itemid=191</string>
	</dict>
	<dict>
		<key>name</key>
		<string>R Channel Θράκης</string>
		<key>logo</key>
		<string>R</string>
		<key>link</key>
		<string>http://www.tvrodopi.gr/index.php?option=com_content&amp;view=article&amp;id=195&amp;Itemid=802</string>
		<key>http</key>
		<string>http://www.tvrodopi.gr</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ήπειρος TV1</string>
		<key>logo</key>
		<string>TV1</string>
		<key>link</key>
		<string>http://www.epirustv1.gr/</string>
		<key>http</key>
		<string>http://www.epirustv1.gr/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Βήμα</string>
		<key>logo</key>
		<string>Vima</string>
		<key>link</key>
		<string>http://www.vimanews.gr/</string>
		<key>http</key>
		<string>http://www.ustream.tv/channel/pluswebtv/pop-out</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Corfu</string>
		<key>logo</key>
		<string>Corfu</string>
		<key>link</key>
		<string>http://www.corfutv.gr/index.php?option=com_content&amp;view=article&amp;id=3583&amp;Itemid=609</string>
		<key>http</key>
		<string>http://www.corfutv.gr</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ΣΑΜΙΑΚΗ Samiaki</string>
		<key>logo</key>
		<string>Samiaki</string>
		<key>link</key>
		<string>http://samiaki.tv/web-tv/</string>
		<key>http</key>
		<string>http://samiaki.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Μυτιλήνης Mitilini</string>
		<key>logo</key>
		<string>Mitilini</string>
		<key>link</key>
		<string>http://www.tvmitilini.gr/tv-mitilini/live-tv-mitilini</string>
		<key>http</key>
		<string>http://www.tvmitilini.gr</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DR</string>
		<key>logo</key>
		<string>DR</string>
		<key>link</key>
		<string>http://drtvhellas.blogspot.gr/</string>
		<key>http</key>
		<string>http://original.livestream.com/drtvhellas</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Best</string>
		<key>logo</key>
		<string>Best</string>
		<key>link</key>
		<string>http://www.best-tv.gr/live-tv</string>
		<key>http</key>
		<string>http://www.best-tv.gr</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Αιγαίο Aigaio</string>
		<key>logo</key>
		<string>Aigaio</string>
		<key>link</key>
		<string>http://www.aigaio-tv.gr/index.php/livestream</string>
		<key>http</key>
		<string>http://www.aigaio-tv.gr/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ωμέγα</string>
		<key>logo</key>
		<string>Omega</string>
		<key>link</key>
		<string>http://www.omegatv.net/channel-1_live.html</string>
		<key>http</key>
		<string>http://www.omegatv.net/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Σύρος TV1 Syros</string>
		<key>logo</key>
		<string>Syros</string>
		<key>link</key>
		<string>http://www.syrostv1.gr/index.php?option=com_wrapper&amp;view=wrapper&amp;Itemid=69</string>
		<key>http</key>
		<string>http://www.syrostv1.gr</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Aigaio Ano Syros</string>
		<key>logo</key>
		<string>Ano</string>
		<key>link</key>
		<string>http://aigaiolive.gr/tv_live/</string>
		<key>http</key>
		<string>http://original.livestream.com/aigaiotv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Astra</string>
		<key>logo</key>
		<string>Astra</string>
		<key>link</key>
		<string>http://www.astratv.gr/live-streaming/</string>
		<key>http</key>
		<string>http://www.astratv.gr/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Lepanto</string>
		<key>logo</key>
		<string>Lepanto</string>
		<key>link</key>
		<string>http://lepantortv.gr/live-tv.html</string>
		<key>http</key>
		<string>http://lepantortv.gr</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Flash</string>
		<key>logo</key>
		<string>Flash</string>
		<key>link</key>
		<string>http://flash-tv.gr/portfolio/</string>
		<key>http</key>
		<string>http://flash-tv.gr</string>
	</dict>
	<dict>
		<key>name</key>
		<string>West</string>
		<key>logo</key>
		<string>West</string>
		<key>link</key>
		<string>http://www.westchannel.gr/livetv/</string>
		<key>http</key>
		<string>http://www.ustream.tv/channel/west-channel/pop-out</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bloomberg TV Europe</string>
		<key>logo</key>
		<string>bloomberg</string>
		<key>link</key>
		<string>https://www.bloomberg.com/live/europe</string>
		<key>http</key>
		<string>https://www.bloomberg.com/live/us</string>
	</dict>
	<dict>
		<key>name</key>
		<string>EbS Europe by Satellite</string>
		<key>logo</key>
		<string>EbS</string>
		<key>link</key>
		<string>http://ec.europa.eu/avservices/ebs/live.cfm?page=1</string>
		<key>http</key>
		<string>http://ec.europa.eu/avservices/ebs/schedule.cfm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sky News</string>
		<key>logo</key>
		<string>Sky</string>
		<key>link</key>
		<string>http://news.sky.com/watch-live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/skynews</string>
	</dict>
</array>
</plist>
