<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>БНТ World</string>
		<key>logo</key>
		<string>World</string>
		<key>link</key>
		<string>http://tv.bnt.bg/bnt4</string>
		<key>http</key>
		<string>http://tv.bnt.bg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>БНТ 1</string>
		<key>logo</key>
		<string>1</string>
		<key>link</key>
		<string>http://tv.bnt.bg/bnt1</string>
		<key>http</key>
		<string>http://tv.bnt.bg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>БНТ 2</string>
		<key>logo</key>
		<string>2</string>
		<key>link</key>
		<string>http://tv.bnt.bg/bnt2</string>
		<key>http</key>
		<string>http://tv.bnt.bg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>БНТ HD</string>
		<key>logo</key>
		<string>HD</string>
		<key>link</key>
		<string>http://tv.bnt.bg/bnt3</string>
		<key>http</key>
		<string>http://tv.bnt.bg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Евроком</string>
		<key>logo</key>
		<string>Evrokom</string>
		<key>link</key>
		<string>http://eurocom.bg/live</string>
		<key>http</key>
		<string>http://eurocom.bg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Нова телевизия</string>
		<key>logo</key>
		<string>Nova</string>
		<key>link</key>
		<string>https://nova.bg/live/</string>
		<key>http</key>
		<string>https://nova.bg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TV1</string>
		<key>logo</key>
		<string>TV1</string>
		<key>link</key>
		<string>http://www.tv1channel.org/</string>
		<key>http</key>
		<string>http://www.tv1channel.org/index.php/livetv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bulgaria on Air</string>
		<key>logo</key>
		<string>Air</string>
		<key>link</key>
		<string>http://www.bgonair.bg/tvonline</string>
		<key>http</key>
		<string>http://www.bgonair.bg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Алфа</string>
		<key>logo</key>
		<string>Alfa</string>
		<key>link</key>
		<string>https://www.youtube.com/user/isocomputers/live</string>
		<key>http</key>
		<string>http://www.alfa.bg/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bloomberg TV Bulgaria</string>
		<key>logo</key>
		<string>bloomberg</string>
		<key>link</key>
		<string>http://www.bloombergtv.bg/video</string>
		<key>http</key>
		<string>http://www.bloombergtv.bg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Agro</string>
		<key>logo</key>
		<string>Agro</string>
		<key>link</key>
		<string>http://www.agrotv.bg/</string>
		<key>http</key>
		<string>http://www.agrotv.bg/index.php</string>
	</dict>
	<dict>
		<key>name</key>
		<string>BIT</string>
		<key>logo</key>
		<string>BIT</string>
		<key>link</key>
		<string>http://www.bitelevision.com/live/</string>
		<key>http</key>
		<string>http://www.bitelevision.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>VTV</string>
		<key>logo</key>
		<string>VTV</string>
		<key>link</key>
		<string>http://www.vtv.bg/?target=online</string>
		<key>http</key>
		<string>http://www.vtv.bg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TVart</string>
		<key>logo</key>
		<string>TVart</string>
		<key>link</key>
		<string>http://www.tvart.info/</string>
		<key>http</key>
		<string>http://www.tvart.info/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Стара Загора</string>
		<key>logo</key>
		<string>Zagora</string>
		<key>link</key>
		<string>http://tvstz.com/%D0%BD%D0%B0-%D0%B6%D0%B8%D0%B2%D0%BE</string>
		<key>http</key>
		<string>http://tvstz.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Стойчев</string>
		<key>logo</key>
		<string>Stoichev</string>
		<key>link</key>
		<string>http://www.tvstoichev.com/online</string>
		<key>http</key>
		<string>http://www.tvstoichev.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Rimex</string>
		<key>logo</key>
		<string>Rimex</string>
		<key>link</key>
		<string>http://tv.rimex-ltd.com/bg/gleday-na-zhivo</string>
		<key>http</key>
		<string>http://tv.rimex-ltd.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>City</string>
		<key>logo</key>
		<string>City</string>
		<key>link</key>
		<string>http://city.bg/live</string>
		<key>http</key>
		<string>http://city.bg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>100% Ауто Мото</string>
		<key>logo</key>
		<string>Auto</string>
		<key>link</key>
		<string>http://www.100automoto.tv/</string>
		<key>http</key>
		<string>http://www.100automoto.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DSTV</string>
		<key>logo</key>
		<string>DSTV</string>
		<key>link</key>
		<string>http://dstv-bg.com/</string>
		<key>http</key>
		<string>http://dstv-bg.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Voice</string>
		<key>logo</key>
		<string>Voice</string>
		<key>link</key>
		<string>http://www.thevoice.bg/stream</string>
		<key>http</key>
		<string>http://www.thevoice.bg/player_tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Magic</string>
		<key>logo</key>
		<string>Magic</string>
		<key>link</key>
		<string>http://thevoice.bg/stream_magic_tv</string>
		<key>http</key>
		<string>http://www.thevoice.bg/player_tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tiankov FOLK</string>
		<key>logo</key>
		<string>FOLK</string>
		<key>link</key>
		<string>http://www.tiankov.com/tiankov-folk.html</string>
		<key>http</key>
		<string>http://www.tiankov.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tiankov ORIENT folk</string>
		<key>logo</key>
		<string>ORIENT</string>
		<key>link</key>
		<string>http://www.tiankov.com/tiankov-orient.html</string>
		<key>http</key>
		<string>http://www.tiankov.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tiankov POP folk</string>
		<key>logo</key>
		<string>POP</string>
		<key>link</key>
		<string>http://www.tiankov.com/tiankov-pop.html</string>
		<key>http</key>
		<string>http://www.tiankov.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Пловдивска православна телевизия</string>
		<key>logo</key>
		<string>Plovdivska</string>
		<key>link</key>
		<string>http://www.plovdivskamitropolia.bg/</string>
		<key>http</key>
		<string>http://www.plovdivskamitropolia.bg/modules/mod_playerjr/player-licensed5.swf?file=mpegts.stream&amp;wmode=transparent&amp;playlistsize=0&amp;stretching=exactfit&amp;volume=100&amp;streamer=rtmp://31.13.218.108/live/&amp;start=1&amp;autostart=true</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Euronews</string>
		<key>logo</key>
		<string>Euronews</string>
		<key>link</key>
		<string>http://de.euronews.com/live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/euronewsfr/videos?live_view=501&amp;flow=grid&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>EbS Europe by Satellite</string>
		<key>logo</key>
		<string>EbS</string>
		<key>link</key>
		<string>http://ec.europa.eu/avservices/ebs/live.cfm?page=1</string>
		<key>http</key>
		<string>http://ec.europa.eu/avservices/ebs/schedule.cfm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sky News</string>
		<key>logo</key>
		<string>Sky</string>
		<key>link</key>
		<string>https://news.sky.com/watch-live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/skynews</string>
	</dict>
</array>
</plist>
