<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1</string>
		<key>Back</key>
		<string>1</string>
		<key>Banner</key>
		<string>1</string>
		<key>Show1</key>
		<string>1</string>
		<key>Show2</key>
		<string>1</string>
		<key>Show3</key>
		<string>1</string>
		<key>Show4</key>
		<string>1</string>
		<key>Alarm</key>
		<string>1</string>
		<key>CustomBanner</key>
		<string>1</string>
		<key>CustomSplash</key>
		<string>1</string>
		<key>Header</key>
		<string>1</string>
		<key>Footer</key>
		<string>1</string>
		<key>Email</key>
		<string>1</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1</string>
		<key>Developer</key>
		<string>1</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Menu</key>
	<array>
		<string>Top</string>
		<string>News</string>
		<string>Local</string>
		<string>Classic</string>
		<string>Music</string>
		<string>Sport</string>
		<string>Talk</string>
		<string>Youth</string>
		<string>Oldies</string>
	</array>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Ar Daidardo არ დაიდარდო</string>
			<key>logo</key>
			<string>Ar</string>
			<key>link</key>
			<string>http://www.ardaidardo.ge/live.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ავტორადიო Avtoradio 95,1 FM</string>
			<key>logo</key>
			<string>Avtoradio</string>
			<key>link</key>
			<string>http://www.listenlive.eu/avtoradioge.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fortuna FM 106,9</string>
			<key>logo</key>
			<string>Fortuna</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fortunafm.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fortuna Plus 103,4 რადიო ფორტუნა პლუსი</string>
			<key>logo</key>
			<string>Plus</string>
			<key>link</key>
			<string>http://www.fortunaplus.ge/live/live.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Jako FM 96.3 რადიო</string>
			<key>logo</key>
			<string>Jako</string>
			<key>link</key>
			<string>http://188.169.118.246:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Argo</string>
			<key>logo</key>
			<string>Argo</string>
			<key>link</key>
			<string>http://188.93.89.164:8000/listen.pls?sid=1</string>
			<key>http</key>
			<string>http://80.241.246.125:9000/listen.pls</string>
			<key>note</key>
			<string>News/Talk/Music (Zestafoni)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio DK ძველი ქალაქი</string>
			<key>logo</key>
			<string>D</string>
			<key>link</key>
			<string>http://iis.ge:8000/radiodk.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop (Kutaisi)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio GIPA რადიო ჯიპა FM 94.3</string>
			<key>logo</key>
			<string>GIPA</string>
			<key>link</key>
			<string>http://31.146.205.144:8000/livemp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Hereti FM 102,8</string>
			<key>logo</key>
			<string>Hereti</string>
			<key>link</key>
			<string>http://www.heretifm.com/upload/tmpfiles/hereti.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News/Music (Lagodekhi)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio MUZA</string>
			<key>logo</key>
			<string>MUZA</string>
			<key>link</key>
			<string>http://www.bfnstreaming.nl/radiomuza.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Palitra 103,9 FM რადიო პალიტრა </string>
			<key>logo</key>
			<string>Palitra</string>
			<key>link</key>
			<string>http://stream.palitra.ge:8000/stream.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News/Talk/Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Star FM 93.9</string>
			<key>logo</key>
			<string>StarFM</string>
			<key>link</key>
			<string>http://stream.it-solutions.ge:8000/mp3-starfm.m3u</string>
			<key>http</key>
			<string>http://starfm.stargroup.ge:8000/live.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio SOMA 107.9</string>
			<key>logo</key>
			<string>SOMA</string>
			<key>link</key>
			<string>http://www.radiosoma.com/RadioSoma_107.9_MHz.m3u</string>
			<key>http</key>
			<string>http://live.radiosoma.com/listen.pls</string>
			<key>note</key>
			<string>Pop (Sukhumi)</string>
		</dict>
	</array>
</dict>
</plist>
