<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string></string>
		<key>Main</key>
		<string></string>
		<key>Back</key>
		<string></string>
		<key>Banner</key>
		<string></string>
		<key>Show1</key>
		<string></string>
		<key>Show2</key>
		<string></string>
		<key>Show3</key>
		<string></string>
		<key>Show4</key>
		<string></string>
		<key>Alarm</key>
		<string></string>
		<key>CustomBanner</key>
		<string></string>
		<key>CustomSplash</key>
		<string></string>
		<key>Header</key>
		<string></string>
		<key>Footer</key>
		<string></string>
		<key>Email</key>
		<string>ios.apps.community@gmail.com</string>
		<key>Alternative</key>
		<string></string>
		<key>Application</key>
		<string></string>
		<key>Developer</key>
		<string></string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Menu</key>
	<array>
		<string>Top</string>
		<string>News</string>
		<string>Local</string>
		<string>Classic</string>
		<string>Music</string>
		<string>Sport</string>
		<string>Talk</string>
		<string>Youth</string>
		<string>Oldies</string>
	</array>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Africa Radio</string>
			<key>logo</key>
			<string>Afric</string>
			<key>link</key>
			<string>http://statslive.infomaniak.ch/playlist/african1paris/african1paris-128.mp3/playlist.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Al Bayane 95.7 FM</string>
			<key>logo</key>
			<string>Bayane</string>
			<key>link</key>
			<string>http://46.105.105.118:8000/albayane.mp3.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-albayane-95-7-fm,16630.m3u</string>
			<key>note</key>
			<string>Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC Afrique</string>
			<key>logo</key>
			<string>BBC</string>
			<key>link</key>
			<string>http://bbcwssc.ic.llnwd.net/stream/bbcwssc_mp1_ws-frena.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Espoir 102.8 FM</string>
			<key>logo</key>
			<string>Espoir</string>
			<key>link</key>
			<string>http://93.190.141.15:8440/listen.pls?sid=1</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-espoir-102-8-fm,18021.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fréquence 2</string>
			<key>logo</key>
			<string>2</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/frequence-2,18023.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fréquence Vie 89.4 FM</string>
			<key>logo</key>
			<string>Vie</string>
			<key>link</key>
			<string>http://188.40.32.140:8023/frequencevie.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ivoire FM 103.4</string>
			<key>logo</key>
			<string>Ivoire</string>
			<key>link</key>
			<string>http://eu4.fastcast4u.com:5270/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Jam 99.3 FM</string>
			<key>logo</key>
			<string>Jam</string>
			<key>link</key>
			<string>https://www.radioking.com/play/my-radio-jam</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-jam-99-3-fm,16631.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Voix de l&apos;Espérance 101.6 FM</string>
			<key>logo</key>
			<string>Voix</string>
			<key>link</key>
			<string>http://213.136.96.99:8000/esperance.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nationale Catholique</string>
			<key>logo</key>
			<string>Catholique</string>
			<key>link</key>
			<string>http://72.10.166.2:9078/listen.pls</string>
			<key>http</key>
			<string>http://93.190.141.15:7026/rncabidjan-48.mp3</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nostalgie 101.1 FM</string>
			<key>logo</key>
			<string>Nostalgie</string>
			<key>link</key>
			<string>http://213.136.96.14:8000/nostalgie.mp3.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/nostalgie-101-1-fm,16629.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RFI Afrique</string>
			<key>logo</key>
			<string>RFI</string>
			<key>link</key>
			<string>http://icepe1.infomaniak.ch/rfiafrique-96k.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RTI La Chaîne Nationale 88.0 FM</string>
			<key>logo</key>
			<string>RTI</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/rti-la-chaine-nationale-88-0-fm,18022.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Trace FM Ivory Coast</string>
			<key>logo</key>
			<string>Trace</string>
			<key>link</key>
			<string>http://stream.trace.tv/trace_fm_ci-midfi.aac.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/trace-fm-ivory-coast,17674.m3u</string>
			<key>note</key>
			<string>Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Vibe 94.6 FM</string>
			<key>logo</key>
			<string>Vibe</string>
			<key>link</key>
			<string>http://217.182.132.143:8000/viberadio-ci.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>VOA Afrique</string>
			<key>logo</key>
			<string>VOA</string>
			<key>link</key>
			<string>http://stream.radiojar.com/yuqn4nngq3quv</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
	</array>
</dict>
</plist>
