<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>3196695205</string>
		<key>Back</key>
		<string>5056571786</string>
		<key>Banner</key>
		<string>7813762914</string>
		<key>Show1</key>
		<string>9814784884</string>
		<key>Show2</key>
		<string>1582153215</string>
		<key>Show3</key>
		<string>1787410614</string>
		<key>Show4</key>
		<string>1525231323</string>
		<key>Alarm</key>
		<string>2847967573</string>
		<key>CustomBanner</key>
		<string>9758944564</string>
		<key>CustomSplash</key>
		<string>8291865947</string>
		<key>Header</key>
		<string>6749637844</string>
		<key>Footer</key>
		<string>6558066159</string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1444130499</string>
		<key>Developer</key>
		<string>1239592099</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Latvijas Radio 1</string>
			<key>logo</key>
			<string>Latvijas</string>
			<key>link</key>
			<string>http://lr1mp1.latvijasradio.lv:8010/listen.pls</string>
			<key>http</key>
			<string>http://lr1mp1.latvijasradio.lv:8012/listen.pls</string>
			<key>note</key>
			<string>News/Features/Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Latvijas Radio 2</string>
			<key>logo</key>
			<string>2</string>
			<key>link</key>
			<string>http://lr2mp0.latvijasradio.lv:8000/listen.pls</string>
			<key>http</key>
			<string>http://lr2mp1.latvijasradio.lv:8002/listen.pls</string>
			<key>note</key>
			<string>Pop Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Latvijas Radio 3 Klasika</string>
			<key>logo</key>
			<string>3</string>
			<key>link</key>
			<string>http://lr3mp0.latvijasradio.lv:8006/listen.pls</string>
			<key>http</key>
			<string>http://lr3mp0.latvijasradio.lv:8004/listen.pls</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Latvijas Radio 4</string>
			<key>logo</key>
			<string>4</string>
			<key>link</key>
			<string>http://lr4mp0.latvijasradio.lv:8018/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>1 Business Radio</string>
			<key>logo</key>
			<string>Business</string>
			<key>link</key>
			<string>http://a.1br.lv:8000/1BusinessRadio.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Alise +</string>
			<key>logo</key>
			<string>Alise</string>
			<key>link</key>
			<string>http://fm2inet.aliseplus.lv:8080/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 10 (Daugavpils)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Capital FM</string>
			<key>logo</key>
			<string>Capital</string>
			<key>link</key>
			<string>http://radio2.capitalfm.lv:8000/listen.pls</string>
			<key>http</key>
			<string>http://radio2.capitalfm.lv:9000/listen.pls</string>
			<key>note</key>
			<string>Top 10 / Dance</string>
		</dict>
		<dict>
			<key>name</key>
			<string>European Hit Radio</string>
			<key>logo</key>
			<string>European</string>
			<key>link</key>
			<string>http://stream.europeanhitradio.com:8000/ehr64.m3u</string>
			<key>http</key>
			<string>http://stream.europeanhitradio.com:8000/ehr.ogg.m3u</string>
			<key>note</key>
			<string>Top 10</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Europa Plus 99,5</string>
			<key>logo</key>
			<string>Europa</string>
			<key>link</key>
			<string>http://radio.995.lv/995.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 10 / Dance</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hiti Rossii</string>
			<key>logo</key>
			<string>Hiti</string>
			<key>link</key>
			<string>http://stream.hitirossii.com:8000/khr.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Rock/Pop Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Jumor FM</string>
			<key>logo</key>
			<string>Jumor</string>
			<key>link</key>
			<string>http://radio.jumorfm.lv/GoldFM.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kurzemes Radio</string>
			<key>logo</key>
			<string>Kurzemes</string>
			<key>link</key>
			<string>http://80.70.23.50:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Kuldīga (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Latgolys Radeja</string>
			<key>logo</key>
			<string>Latgolys</string>
			<key>link</key>
			<string>http://lr.lv/stereo_96k.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Rezekne (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Latvijas Kristigais Radio</string>
			<key>logo</key>
			<string>Kristigais</string>
			<key>link</key>
			<string>http://91.203.71.10:8006/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mix FM</string>
			<key>logo</key>
			<string>Mix</string>
			<key>link</key>
			<string>http://radio.mixfm.lv/MixFM.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 10</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio 1</string>
			<key>logo</key>
			<string>1</string>
			<key>link</key>
			<string>http://93.177.251.152:8000/live1.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop/Rock/Dance Music (Jekabpils, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Baltkom</string>
			<key>logo</key>
			<string>Baltkom</string>
			<key>link</key>
			<string>http://91.90.255.111/baltkom.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News/Information/Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Ef-Ei</string>
			<key>logo</key>
			<string>Ef-Ei</string>
			<key>link</key>
			<string>http://www.efeipro.lv/efei.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop Music (Rezekne, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RadioNABA</string>
			<key>logo</key>
			<string>RadioNABA</string>
			<key>link</key>
			<string>http://nabamp0.latvijasradio.lv:8016/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Rock Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Oira</string>
			<key>logo</key>
			<string>Oira</string>
			<key>link</key>
			<string>http://radiooira.lv:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Pik</string>
			<key>logo</key>
			<string>Pik</string>
			<key>link</key>
			<string>http://www.pik.lv/files/players/winampstereo.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 10</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Skonto</string>
			<key>logo</key>
			<string>Skonto</string>
			<key>link</key>
			<string>http://www.radioskonto.lv/online_radio/stereo.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio SWH</string>
			<key>logo</key>
			<string>SWH</string>
			<key>link</key>
			<string>http://80.232.162.149:8000/swh96mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio SWH+</string>
			<key>logo</key>
			<string>S</string>
			<key>link</key>
			<string>http://80.232.162.149:8000/plus96mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio SWH Rock</string>
			<key>logo</key>
			<string>SW</string>
			<key>link</key>
			<string>http://80.232.162.149:8000/rock96mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Valmiera</string>
			<key>logo</key>
			<string>Valmiera</string>
			<key>link</key>
			<string>http://85.254.49.110:8002/radiov.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Retro FM</string>
			<key>logo</key>
			<string>Retro</string>
			<key>link</key>
			<string>http://lifemedia.cloud.makonix.com:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Oldies</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rietumu Radio</string>
			<key>logo</key>
			<string>Rietumu</string>
			<key>link</key>
			<string>http://85.254.49.118:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop/Rock Music (Liepaja, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Riga Radio (XO)</string>
			<key>logo</key>
			<string>Riga</string>
			<key>link</key>
			<string>http://r.rigaradio.lv:8000/mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News/Talk/Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Spin FM</string>
			<key>logo</key>
			<string>Spin</string>
			<key>link</key>
			<string>http://80.232.162.149:8000/spin96mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 10</string>
		</dict>
		<dict>
			<key>name</key>
			<string>STAR FM</string>
			<key>logo</key>
			<string>STA</string>
			<key>link</key>
			<string>http://www.listenlive.eu/streams/latvia/starfm.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Super FM</string>
			<key>logo</key>
			<string>Super</string>
			<key>link</key>
			<string>http://stream.superfm.lv:8000/lhr.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 10</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Top Radio</string>
			<key>logo</key>
			<string>TopRadio</string>
			<key>link</key>
			<string>http://195.13.200.164:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Dance</string>
		</dict>
	</array>
</dict>
</plist>
