<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>4 RD</string>
		<key>logo</key>
		<string>RD</string>
		<key>link</key>
		<string>http://canal4rd.com/portada/index.php/senal-en-vivo</string>
		<key>http</key>
		<string>http://canal4rd.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Color Visión 9</string>
		<key>logo</key>
		<string>9</string>
		<key>link</key>
		<string>http://www.colorvision.com.do/en-vivo/</string>
		<key>http</key>
		<string>http://www.colorvision.com.do</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Noticias 16</string>
		<key>logo</key>
		<string>16</string>
		<key>link</key>
		<string>http://frecuenciasdominicanas.com/noticias16/tv.html</string>
		<key>http</key>
		<string>http://frecuenciasdominicanas.com/noticias16/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Antena 7</string>
		<key>logo</key>
		<string>7</string>
		<key>link</key>
		<string>http://www.antenalatina7.com/envivo</string>
		<key>http</key>
		<string>http://www.antenalatina7.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CDN 37</string>
		<key>logo</key>
		<string>37</string>
		<key>link</key>
		<string>http://www.cdn.com.do/</string>
		<key>http</key>
		<string>http://www.cdn.com.do/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Telemicro 5</string>
		<key>logo</key>
		<string>Telemicro</string>
		<key>link</key>
		<string>http://telemicro.com.do/web/telemicro-en-vivo/</string>
		<key>http</key>
		<string>http://telemicro.com.do</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Digital 15</string>
		<key>logo</key>
		<string>15</string>
		<key>link</key>
		<string>http://telemicro.com.do/web/digital-15-en-vivo/</string>
		<key>http</key>
		<string>http://telemicro.com.do</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Telecentro</string>
		<key>logo</key>
		<string>Telecentro</string>
		<key>link</key>
		<string>http://telemicro.com.do/web/telecentro-en-vivo/</string>
		<key>http</key>
		<string>http://telemicro.com.do</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Teleradio America</string>
		<key>logo</key>
		<string>Teleradio</string>
		<key>link</key>
		<string>http://www.teleradioamerica.com/en-vivo/</string>
		<key>http</key>
		<string>http://www.teleradioamerica.com/en-vivo-2/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TeleUniverso 29</string>
		<key>logo</key>
		<string>29</string>
		<key>link</key>
		<string>http://teleuniversotv.com/en-vivo/</string>
		<key>http</key>
		<string>http://teleuniversotv.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TNI 51</string>
		<key>logo</key>
		<string>51</string>
		<key>link</key>
		<string>http://www.tni51.com/</string>
		<key>http</key>
		<string>http://www.tni51.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Telefuturo 23</string>
		<key>logo</key>
		<string>23</string>
		<key>link</key>
		<string>http://telefuturo.com.do/home/ver-online/</string>
		<key>http</key>
		<string>http://telefuturo.com.do/home</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mango</string>
		<key>logo</key>
		<string>Mango</string>
		<key>link</key>
		<string>http://mangotvrd.com/mango-online</string>
		<key>http</key>
		<string>http://mangotvrd.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bajo Techo</string>
		<key>logo</key>
		<string>Bajo</string>
		<key>link</key>
		<string>http://bajotecho.tv/index.html</string>
		<key>http</key>
		<string>http://bajotecho.tv/index.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>La Voz de María</string>
		<key>logo</key>
		<string>Voz</string>
		<key>link</key>
		<string>http://www.lavozdemariatv.org/</string>
		<key>http</key>
		<string>http://www.lavozdemariatv.org/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Congregación Cristiana</string>
		<key>logo</key>
		<string>Cristiana</string>
		<key>link</key>
		<string>http://www.unored.tv/congregacion-cristiana/</string>
		<key>http</key>
		<string>http://www.unored.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Telenord 8</string>
		<key>logo</key>
		<string>8</string>
		<key>link</key>
		<string>http://www.telenord.com.do/index.php/canales/canal8</string>
		<key>http</key>
		<string>http://www.telenord.com.do</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Telenord 10</string>
		<key>logo</key>
		<string>10</string>
		<key>link</key>
		<string>http://www.telenord.com.do/index.php/canales/canal10</string>
		<key>http</key>
		<string>http://www.telenord.com.do</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Telenord 12</string>
		<key>logo</key>
		<string>12</string>
		<key>link</key>
		<string>http://www.telenord.com.do/index.php/canales/canal12</string>
		<key>http</key>
		<string>http://www.telenord.com.do</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Telenord 14</string>
		<key>logo</key>
		<string>14</string>
		<key>link</key>
		<string>http://www.telenord.com.do/index.php/canales/canal14</string>
		<key>http</key>
		<string>http://www.telenord.com.do</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hermanas Mirabal 33</string>
		<key>logo</key>
		<string>33</string>
		<key>link</key>
		<string>http://www.hmtv.com.do/index.php/canal</string>
		<key>http</key>
		<string>http://www.hmtv.com.do</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mia</string>
		<key>logo</key>
		<string>Mia</string>
		<key>link</key>
		<string>http://miatelevision.com/</string>
		<key>http</key>
		<string>http://miatelevision.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Romana 42</string>
		<key>logo</key>
		<string>42</string>
		<key>link</key>
		<string>http://romanatv42.com/</string>
		<key>http</key>
		<string>http://romanatv42.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Microvision</string>
		<key>logo</key>
		<string>Microvision</string>
		<key>link</key>
		<string>http://microvision.com.do/</string>
		<key>http</key>
		<string>http://microvision.com.do/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Vegateve</string>
		<key>logo</key>
		<string>Vegateve</string>
		<key>link</key>
		<string>http://www.vegateve.com/</string>
		<key>http</key>
		<string>http://www.vegateve.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Maimon 3</string>
		<key>logo</key>
		<string>3</string>
		<key>link</key>
		<string>http://www.maimontv.com/</string>
		<key>http</key>
		<string>http://www.maimontv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Yuna Visión 10</string>
		<key>logo</key>
		<string>Yuna</string>
		<key>link</key>
		<string>http://www.yunavision.com/</string>
		<key>http</key>
		<string>http://www.yunavision.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>PERAVIA VISION</string>
		<key>logo</key>
		<string>PERAVIA</string>
		<key>link</key>
		<string>http://peraviavision.tv/index.php/transmision#peravia-vision</string>
		<key>http</key>
		<string>http://peraviavision.tv/index.php/transmision</string>
	</dict>
	<dict>
		<key>name</key>
		<string>VISIÓN 3000</string>
		<key>logo</key>
		<string>3000</string>
		<key>link</key>
		<string>http://peraviavision.tv/index.php/transmision#visi%C3%B3n-3000</string>
		<key>http</key>
		<string>http://peraviavision.tv/index.php/transmision</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Musavisión 10</string>
		<key>logo</key>
		<string>Musavision</string>
		<key>link</key>
		<string>http://www.musavision.com/en-vivo/</string>
		<key>http</key>
		<string>http://www.musavision.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Plata 3</string>
		<key>logo</key>
		<string>Plata</string>
		<key>link</key>
		<string>http://tvplata.net/en-vivo/</string>
		<key>http</key>
		<string>http://tvplata.net</string>
	</dict>
	<dict>
		<key>name</key>
		<string>JMTV 12</string>
		<key>logo</key>
		<string>JMTV</string>
		<key>link</key>
		<string>http://jmtv12.com.do/</string>
		<key>http</key>
		<string>http://jmtv12.com.do/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>10 San Juan</string>
		<key>logo</key>
		<string>Juan</string>
		<key>link</key>
		<string>http://www.tv10sanjuan.com/</string>
		<key>http</key>
		<string>http://www.tv10sanjuan.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Teleunion</string>
		<key>logo</key>
		<string>Teleunion</string>
		<key>link</key>
		<string>http://teleuniontvrd.com/</string>
		<key>http</key>
		<string>http://teleuniontvrd.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>25</string>
		<key>logo</key>
		<string>25</string>
		<key>link</key>
		<string>http://www.canal25rd.com/</string>
		<key>http</key>
		<string>http://www.canal25rd.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Santiago 36</string>
		<key>logo</key>
		<string>36</string>
		<key>link</key>
		<string>http://santiagotv36.com/</string>
		<key>http</key>
		<string>http://santiagotv36.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Telecontacto</string>
		<key>logo</key>
		<string>Telecontacto</string>
		<key>link</key>
		<string>http://www.telecontacto.tv/</string>
		<key>http</key>
		<string>http://stream.prostudionetwork.com:1957/telecontacto/TC/playlist.m3u8</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Telesistema 11</string>
		<key>logo</key>
		<string>11</string>
		<key>link</key>
		<string>http://telesistema11.com.do/</string>
		<key>http</key>
		<string>http://telenoticias.com.do/</string>
	</dict>
</array>
</plist>
