<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string></string>
		<key>Main</key>
		<string></string>
		<key>Back</key>
		<string></string>
		<key>Banner</key>
		<string></string>
		<key>Show1</key>
		<string></string>
		<key>Show2</key>
		<string></string>
		<key>Show3</key>
		<string></string>
		<key>Show4</key>
		<string></string>
		<key>Alarm</key>
		<string></string>
		<key>CustomBanner</key>
		<string></string>
		<key>CustomSplash</key>
		<string></string>
		<key>Header</key>
		<string></string>
		<key>Footer</key>
		<string></string>
		<key>Email</key>
		<string>ios.apps.community@gmail.com</string>
		<key>Alternative</key>
		<string></string>
		<key>Application</key>
		<string></string>
		<key>Developer</key>
		<string></string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Menu</key>
	<array>
		<string>Top</string>
		<string>News</string>
		<string>Local</string>
		<string>Classic</string>
		<string>Music</string>
		<string>Sport</string>
		<string>Talk</string>
		<string>Youth</string>
		<string>Oldies</string>
	</array>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>AH Radio Music</string>
			<key>logo</key>
			<string>AH</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/ah-radio-music,13838.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>AH Radio News Broadcast</string>
			<key>logo</key>
			<string>Broadcast</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/ah-radio-news-broadcast,13837.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>AH Radio Opera</string>
			<key>logo</key>
			<string>Opera</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/ah-radio-opera,13843.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>AH Radio Tourism</string>
			<key>logo</key>
			<string>Tourism</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/ah-radio-tourismus,13840.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>AH Radio Wirtschaft</string>
			<key>logo</key>
			<string>Wirtschaft</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/ah-radio-wirtschaft,13841.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Beijing Joy FM 87.6</string>
			<key>logo</key>
			<string>Joy</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/beijing-joy-fm-87-6,19597.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Beijing Music Radio 97.4</string>
			<key>logo</key>
			<string>Beijing</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/beijing-music-radio-97-4,19596.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Beijing News Radio 100.6 FM</string>
			<key>logo</key>
			<string>Beijin</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/beijing-news-radio,19594.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Beijing Sports Radio 102.5 FM</string>
			<key>logo</key>
			<string>Sports</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/beijing-sports-radio,19595.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Beijing Traffic Radio 103.9 FM</string>
			<key>logo</key>
			<string>Traffic</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/beijing-traffic-radio-103-9-fm,19593.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>China Plus Radio</string>
			<key>logo</key>
			<string>Plu</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/china-plus-radio,19583.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>City FM 101.7 Changsha</string>
			<key>logo</key>
			<string>Changsha</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/city-fm-101-7,12723.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>City FM 102.6 Sichuan</string>
			<key>logo</key>
			<string>Sichuan</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/city-fm-102-6,12722.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CNR-1 Voice of China</string>
			<key>logo</key>
			<string>CNR-1</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/cnr-1-voice-of-china,10555.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CNR-2 Voice of Economic</string>
			<key>logo</key>
			<string>CNR-2</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/cnr-2-voice-of-economic,10556.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CNR-3 Music Radio</string>
			<key>logo</key>
			<string>CNR-3</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/cnr-3-music-radio,10557.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CNR-5 Voice of Zhong Hua</string>
			<key>logo</key>
			<string>CNR-5</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/cnr-5-voice-of-zhong-hua,10559.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CNR-6 Voice of Shen Zhou</string>
			<key>logo</key>
			<string>CNR-6</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/cnr-6-voice-of-shen-zhou,10560.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CNR-7-1 Voice of Chinese Mandarin</string>
			<key>logo</key>
			<string>CNR-7-1</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/cnr-7-1-voice-of-chinese-mandarin,10561.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CNR-7-2 Voice of Two languages</string>
			<key>logo</key>
			<string>CNR-7-2</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/cnr-7-2-voice-of-two-languages,10562.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CNR-8 Voice of Nation</string>
			<key>logo</key>
			<string>CNR-8</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/cnr-8-voice-of-nation,10563.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CNR-9 Voice of Culture and Art</string>
			<key>logo</key>
			<string>CNR-9</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/cnr-9-voice-of-culture-and-art,10564.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CNR-10 Happy Radio 747</string>
			<key>logo</key>
			<string>CNR-10</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/cnr-10-happy-radio-747,19586.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CNR-11 Global Information</string>
			<key>logo</key>
			<string>CNR-11</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/cnr-11-global-information,19581.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CNR-12 Comic</string>
			<key>logo</key>
			<string>CNR-12</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/cnr-12-comic,19582.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CNR-13 Hong Kong</string>
			<key>logo</key>
			<string>CNR-13</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/cnr-13-hong-kong,19584.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CNR-15 Highway</string>
			<key>logo</key>
			<string>CNR-15</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/cnr-15-highway,19580.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CNR-16 Village Voice</string>
			<key>logo</key>
			<string>CNR-16</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/cnr-16-village-voice,19587.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CRI Chinese Universal Broadcasting</string>
			<key>logo</key>
			<string>CRI</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/cri-chinese-universal-broadcasting,19588.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk, News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CRI Easy FM</string>
			<key>logo</key>
			<string>Easy</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/cri-easy-fm,19579.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/easy-fm,10565.m3u</string>
			<key>note</key>
			<string>Talk, News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CRI Hit FM 88.7 FM Beijing</string>
			<key>logo</key>
			<string>Hit</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/cri-hit-fm-88-7-fm-beijing,19578.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk, News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CRI Nairobi 91.9 FM</string>
			<key>logo</key>
			<string>Nairobi</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/nairobi-91-9-fm,10570.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CRI Vientiane 93.0 FM</string>
			<key>logo</key>
			<string>Vientiane</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/vientiane-93-0-fm,10571.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CRI Voice of Hakka</string>
			<key>logo</key>
			<string>Hakka</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/cri-voice-of-hakka,19591.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk, News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CRI Voice of Minnan</string>
			<key>logo</key>
			<string>Minnan</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/cri-voice-of-minnan,19592.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk, News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DHRadio 104.3 FM</string>
			<key>logo</key>
			<string>DHRadio</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/dhradio-104-3-fm,12715.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM 88.1 Henan</string>
			<key>logo</key>
			<string>Henan</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/fm-88-1,12718.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music, Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM 89.0 Hangzhou</string>
			<key>logo</key>
			<string>Hangzhou</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/fm-89-0,12720.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music, Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM 92.1 Shenyang</string>
			<key>logo</key>
			<string>Shenyang</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/fm-92-1,12717.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music, Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM 95.4 Beijing</string>
			<key>logo</key>
			<string>Beiji</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/fm-95-4,12714.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM 96.5 Suzhou (苏州生活广播)</string>
			<key>logo</key>
			<string>Suzhou</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/fm-96-5,12721.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music, Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM 97.1 Hanzhong</string>
			<key>logo</key>
			<string>Hanzhong</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/fm-97-1,12716.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top Music, Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM 98.1 Sichuan (四川公共新闻广播)</string>
			<key>logo</key>
			<string>Sichua</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/fm-98-1-sichuan,13956.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Foshan 88.3</string>
			<key>logo</key>
			<string>88</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-foshan-88-3,13844.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Foshan 90.1</string>
			<key>logo</key>
			<string>90</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-foshan-90-1,13845.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Foshan 90.6</string>
			<key>logo</key>
			<string>906</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-foshan-90-6,13846.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Foshan 92.4</string>
			<key>logo</key>
			<string>92</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-foshan-92-4,13847.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Foshan 94.6</string>
			<key>logo</key>
			<string>94</string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Golden Vox 95.5 FM</string>
			<key>logo</key>
			<string>Vox</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/golden-vox-95-5-fm,12724.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Hunan (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Henan Auto FM 99.9</string>
			<key>logo</key>
			<string>Auto</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-private-car-fm-99-9,19599.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Joy 91.5 FM</string>
			<key>logo</key>
			<string>91</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/joy-91-5-fm,2449.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Love Radio 103.7</string>
			<key>logo</key>
			<string>Lov</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/love-radio-103-7,16036.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Shanghai (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Metro Radio 94.5 FM</string>
			<key>logo</key>
			<string>Metro</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/metro-radio-94-5-fm,19598.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>SZR 106.2 FM</string>
			<key>logo</key>
			<string>SZR</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/szr-106-2-fm,2428.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>SZR 89.8 FM</string>
			<key>logo</key>
			<string>89</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/szr-89-8-fm,2426.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>SZR 97.1 FM</string>
			<key>logo</key>
			<string>97</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/szr-97-1-fm,2427.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>TDM</string>
			<key>logo</key>
			<string>TDM</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/tdm-radio,2451.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Xiamen Radio Music Channel FM 90.9</string>
			<key>logo</key>
			<string>Xiamen</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/xiamen-radio-music-channel-fm-90-9,12719.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>XIHU 104.5 FM</string>
			<key>logo</key>
			<string>XIHU</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/xihu-104-5-fm,2450.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
