<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Application</key>
	<string>1403111257</string>
	<key>Developer</key>
	<string>1360678770</string>
	<key>Email</key>
	<string>ios.apps.community@gmail.com</string>
	<key>ID</key>
	<string>3694130267637407</string>
	<key>Banner</key>
	<string>8450928219</string>
	<key>Main</key>
	<string>8004713800</string>
	<key>Back</key>
	<string>3830483314</string>
	<key>Switch</key>
	<string>8934652093</string>
	<key>Top</key>
	<string>1622713256</string>
	<key>Bottom</key>
	<string>5370386579</string>
	<key>Header</key>
	<string>4420692013</string>
	<key>Footer</key>
	<string>2668626646</string>
	<key>Delay</key>
	<string>2</string>
	<key>Minutes</key>
	<string>4</string>
</dict>
</plist>
