<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Application</key>
	<string>130</string>
	<key>Developer</key>
	<string>123</string>
	<key>Email</key>
	<string>iden@gmail.com</string>
	<key>ID</key>
	<string>3940256099942544</string>
	<key>Banner</key>
	<string>2934735716</string>
	<key>Back</key>
	<string>4411468910</string>
	<key>Main</key>
	<string>4411468910</string>
	<key>Switch</key>
	<string>4411468910</string>
	<key>Header</key>
	<string>2934735716</string>
	<key>Footer</key>
	<string>2934735716</string>
	<key>Add</key>
	<string>2934735716</string>
	<key>Alarm</key>
	<string>2934735716</string>
	<key>Channels</key>
	<string>2934735716</string>
	<key>SwitchOn</key>
	<string>9</string>
	<key>Delay</key>
	<string>2</string>
	<key>Minutes</key>
	<string>4</string>
	<key>ShowCountries</key>
	<string>9</string>
	<key>ShowCloud</key>
	<string>10</string>
	<key>ShowAddTV</key>
	<string>10</string>
	<key>ShowAddAlarm</key>
	<string>10</string>
	<key>ShowAlarmTab</key>
	<string>10</string>
	<key>DropAlarms</key>
	<string>9</string>
</dict>
</plist>
