<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Austria (Österreich)</string>
		<key>code</key>
		<string>CH</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Belgium (België)</string>
		<key>code</key>
		<string>CH</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Benelux</string>
		<key>code</key>
		<string>CH</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Denmark (Danmark)</string>
		<key>code</key>
		<string>CH</string>
	</dict>
	<dict>
		<key>name</key>
		<string>France</string>
		<key>code</key>
		<string>CH</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Germany (Deutschland)</string>
		<key>code</key>
		<string>CH</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Luxembourg (Lëtzebuerg)</string>
		<key>code</key>
		<string>CH</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Netherlands (Nederland)</string>
		<key>code</key>
		<string>CH</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Switzerland (Suisse/Schweiz)</string>
		<key>code</key>
		<string>CH</string>
	</dict>
</array>
</plist>
