<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>General (СНГ)</string>
		<key>code</key>
		<string>CS</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Armenia (Hayastan)</string>
		<key>code</key>
		<string>AM</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Azerbaijan (Azǝrbaycan)</string>
		<key>code</key>
		<string>AZ</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Belarus (Беларусь)</string>
		<key>code</key>
		<string>BY</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Georgia (საქართველო)</string>
		<key>code</key>
		<string>GE</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kazakhstan (Қазақстан)</string>
		<key>code</key>
		<string>KZ</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kyrgyzstan (Кыргыз)</string>
		<key>code</key>
		<string>KG</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Moldova</string>
		<key>code</key>
		<string>MD</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Russia (Россия)</string>
		<key>code</key>
		<string>RU</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tajikistan (Тоҷикистон)</string>
		<key>code</key>
		<string>TJ</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Turkmenistan</string>
		<key>code</key>
		<string>TM</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ukraine (Україна)</string>
		<key>code</key>
		<string>UA</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Uzbekistan (Oʻzbekiston)</string>
		<key>code</key>
		<string>UZ</string>
	</dict>
</array>
</plist>
