<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Application</key>
	<string>1403032226</string>
	<key>Developer</key>
	<string>1360678770</string>
	<key>Email</key>
	<string>ios.apps.community@gmail.com</string>
	<key>ID</key>
	<string>3694130267637407</string>
	<key>Banner</key>
	<string>8182761483</string>
	<key>Main</key>
	<string>8886049620</string>
	<key>Back</key>
	<string>9569000934</string>
	<key>Switch</key>
	<string>7297635789</string>
	<key>Top</key>
	<string>3810241940</string>
	<key>Bottom</key>
	<string>7078143939</string>
	<key>Header</key>
	<string>1650982461</string>
	<key>Footer</key>
	<string>7624938840</string>
	<key>Delay</key>
	<string>2</string>
	<key>Minutes</key>
	<string>4</string>
</dict>
</plist>
