<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Application</key>
	<string>1291959154</string>
	<key>Developer</key>
	<string>1214609104</string>
	<key>Email</key>
	<string>developer@gmail.com</string>
	<key>ID</key>
	<string>3694130267637407</string>
	<key>Banner</key>
	<string>3983647175</string>
	<key>Back</key>
	<string></string>
	<key>Main</key>
	<string></string>
	<key>Switch</key>
	<string></string>
	<key>Header</key>
	<string></string>
	<key>Footer</key>
	<string></string>
	<key>Add</key>
	<string></string>
	<key>Alarm</key>
	<string></string>
	<key>Channels</key>
	<string></string>
	<key>SwitchOn</key>
	<string>2</string>
	<key>Delay</key>
	<string>2</string>
	<key>Minutes</key>
	<string>4</string>
	<key>ShowCountries</key>
	<string>9</string>
	<key>ShowCloud</key>
	<string>10</string>
	<key>ShowAddTV</key>
	<string>10</string>
	<key>ShowAddAlarm</key>
	<string>10</string>
	<key>ShowAlarmTab</key>
	<string>10</string>
	<key>DropAlarms</key>
	<string>9</string>
</dict>
</plist>
