<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Application</key>
	<string>1308390114</string>
	<key>Developer</key>
	<string>1239592099</string>
	<key>Email</key>
	<string>idenitecs@gmail.com</string>
	<key>ID</key>
	<string>3694130267637407</string>
	<key>Banner</key>
	<string>2270486459</string>
	<key>Back</key>
	<string>4396411752</string>
	<key>Main</key>
	<string>8748264897</string>
	<key>Switch</key>
	<string>6144607698</string>
	<key>Header</key>
	<string>2186725977</string>
	<key>Footer</key>
	<string>4706391182</string>
	<key>Add</key>
	<string></string>
	<key>Alarm</key>
	<string></string>
	<key>Channels</key>
	<string></string>
	<key>SwitchOn</key>
	<string>10</string>
	<key>Delay</key>
	<string>2</string>
	<key>Minutes</key>
	<string>4</string>
	<key>ShowCountries</key>
	<string>10</string>
	<key>ShowCloud</key>
	<string>9</string>
	<key>ShowAddTV</key>
	<string>9</string>
	<key>ShowAddAlarm</key>
	<string>10</string>
	<key>ShowAlarmTab</key>
	<string>10</string>
	<key>DropAlarms</key>
	<string>9</string>
</dict>
</plist>
