<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Sister, Sister</string>
		<key>logo</key>
		<string>https://images-na.ssl-images-amazon.com/images/M/MV5BODE0YmI1Y2YtMTlhYS00ZjQ0LTllYWMtNDdiYjBhMmRiZjM1XkEyXkFqcGdeQXVyMzU0NzkwMDg@._V1_.jpg</string>
		<key>desc</key>
		<string>USA, 1982</string>
		<key>http</key>
		<string>https://www.youtube.com/watch_popup?v=YcflVFr0buA</string>
		<key>category</key>
		<string>Drama</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Outrage!</string>
		<key>logo</key>
		<string>https://images-na.ssl-images-amazon.com/images/M/MV5BMTIwNjI3MjIxMV5BMl5BanBnXkFtZTcwNzYxNTIyMQ@@._V1_.jpg</string>
		<key>desc</key>
		<string>USA, 1986</string>
		<key>http</key>
		<string>https://www.youtube.com/watch_popup?v=TplvHdB7arg</string>
		<key>category</key>
		<string>Adventure</string>
	</dict>
	<dict>
		<key>name</key>
		<string>A Case of Deadly Force</string>
		<key>logo</key>
		<string>https://images-na.ssl-images-amazon.com/images/M/MV5BZmFlNDBjM2MtNWNlNC00MzdjLWI0ZmUtNWU1Y2I1ZTZiYmM0XkEyXkFqcGdeQXVyMzU0NzkwMDg@._V1_.jpg</string>
		<key>desc</key>
		<string>USA, 1986</string>
		<key>http</key>
		<string>https://www.youtube.com/watch_popup?v=Q0Tl7Vw559I</string>
		<key>category</key>
		<string>Drama</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Crisis at Central High</string>
		<key>logo</key>
		<string>https://images-na.ssl-images-amazon.com/images/M/MV5BNjkwNTUzNDQ5NV5BMl5BanBnXkFtZTcwMDg3ODAyMQ@@._V1_.jpg</string>
		<key>desc</key>
		<string>USA, 1981</string>
		<key>http</key>
		<string>https://www.youtube.com/watch_popup?v=DPdoCObPUjI</string>
		<key>category</key>
		<string>Documentary</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Battered</string>
		<key>logo</key>
		<string>https://images-na.ssl-images-amazon.com/images/M/MV5BNTA0M2E0ZWMtODkwZC00ZjU4LWEyMDAtZjJkM2JlNDg1Mjc5XkEyXkFqcGdeQXVyNjU1Njg5NTM@._V1_SY1000_CR0,0,778,1000_AL_.jpg</string>
		<key>desc</key>
		<string>USA, 1979</string>
		<key>http</key>
		<string>https://www.youtube.com/watch_popup?v=vrajktrChos</string>
		<key>category</key>
		<string>Documentary</string>
	</dict>
	<dict>
		<key>name</key>
		<string>The Autobiography of Miss Jane Pittman</string>
		<key>logo</key>
		<string>https://images-na.ssl-images-amazon.com/images/M/MV5BOTE1OTUyOTE1M15BMl5BanBnXkFtZTcwMDcxMDgyMQ@@._V1_.jpg</string>
		<key>desc</key>
		<string>USA, 1974</string>
		<key>http</key>
		<string>https://www.youtube.com/watch_popup?v=KSDlm2LqAes</string>
		<key>category</key>
		<string>Drama</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Booker</string>
		<key>logo</key>
		<string>https://images-na.ssl-images-amazon.com/images/M/MV5BMTc3MDgzNjk5Nl5BMl5BanBnXkFtZTYwMzY2ODg2._V1_.jpg</string>
		<key>desc</key>
		<string>USA, 1984</string>
		<key>http</key>
		<string>https://www.youtube.com/watch_popup?v=mkWPdW23mAc</string>
		<key>category</key>
		<string>Documentary</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Guilty of Innocence: The Lenell Geter Story</string>
		<key>logo</key>
		<string>https://images-na.ssl-images-amazon.com/images/M/MV5BOTU0ODRiNTQtY2ZiNC00NjI2LWI3YjgtMWMwY2VhOWIzNDkyXkEyXkFqcGdeQXVyMzU0NzkwMDg@._V1_.jpg</string>
		<key>desc</key>
		<string>USA, 1987</string>
		<key>http</key>
		<string>https://www.youtube.com/watch_popup?v=kHpCLqfLbW0</string>
		<key>category</key>
		<string>Musical</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ray Alexander: A Taste for Justice</string>
		<key>logo</key>
		<string>https://images-na.ssl-images-amazon.com/images/M/MV5BMTMyNTg3Njg4M15BMl5BanBnXkFtZTcwOTI1ODE1NA@@._V1_SY1000_CR0,0,928,1000_AL_.jpg</string>
		<key>desc</key>
		<string>USA, 1994</string>
		<key>http</key>
		<string>https://www.youtube.com/watch_popup?v=AzwppGWWdpc</string>
		<key>category</key>
		<string>Adventure</string>
	</dict>
	<dict>
		<key>name</key>
		<string>The Guardian</string>
		<key>logo</key>
		<string>https://images-na.ssl-images-amazon.com/images/M/MV5BMGZiMjY1MTYtOGRlMy00Y2I3LWJjYzctZWE4ZmRjNjJkNjlmXkEyXkFqcGdeQXVyMzU0NzkwMDg@._V1_.jpg</string>
		<key>desc</key>
		<string>USA, 1984</string>
		<key>http</key>
		<string>https://www.youtube.com/watch_popup?v=yy-rfzSeZHo</string>
		<key>category</key>
		<string>Adventure</string>
	</dict>
</array>
</plist>
