<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Sister, Sister</string>
		<key>logo</key>
		<string>https://images-na.ssl-images-amazon.com/images/M/MV5BODE0YmI1Y2YtMTlhYS00ZjQ0LTllYWMtNDdiYjBhMmRiZjM1XkEyXkFqcGdeQXVyMzU0NzkwMDg@._V1_.jpg</string>
		<key>desc</key>
		<string>USA, 1982</string>
		<key>http</key>
		<string>https://www.youtube.com/watch_popup?v=YcflVFr0buA</string>
		<key>category</key>
		<string>Drama</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Outrage!</string>
		<key>logo</key>
		<string>https://images-na.ssl-images-amazon.com/images/M/MV5BMTIwNjI3MjIxMV5BMl5BanBnXkFtZTcwNzYxNTIyMQ@@._V1_.jpg</string>
		<key>desc</key>
		<string>USA, 1986</string>
		<key>http</key>
		<string>https://www.youtube.com/watch_popup?v=TplvHdB7arg</string>
		<key>category</key>
		<string>Adventure</string>
	</dict>
	<dict>
		<key>name</key>
		<string>A Case of Deadly Force</string>
		<key>logo</key>
		<string>https://images-na.ssl-images-amazon.com/images/M/MV5BZmFlNDBjM2MtNWNlNC00MzdjLWI0ZmUtNWU1Y2I1ZTZiYmM0XkEyXkFqcGdeQXVyMzU0NzkwMDg@._V1_.jpg</string>
		<key>desc</key>
		<string>USA, 1986</string>
		<key>http</key>
		<string>https://www.youtube.com/watch_popup?v=Q0Tl7Vw559I</string>
		<key>category</key>
		<string>Drama</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Crisis at Central High</string>
		<key>logo</key>
		<string>https://images-na.ssl-images-amazon.com/images/M/MV5BNjkwNTUzNDQ5NV5BMl5BanBnXkFtZTcwMDg3ODAyMQ@@._V1_.jpg</string>
		<key>desc</key>
		<string>USA, 1981</string>
		<key>http</key>
		<string>https://www.youtube.com/watch_popup?v=DPdoCObPUjI</string>
		<key>category</key>
		<string>Documentary</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Battered</string>
		<key>logo</key>
		<string>https://images-na.ssl-images-amazon.com/images/M/MV5BNTA0M2E0ZWMtODkwZC00ZjU4LWEyMDAtZjJkM2JlNDg1Mjc5XkEyXkFqcGdeQXVyNjU1Njg5NTM@._V1_SY1000_CR0,0,778,1000_AL_.jpg</string>
		<key>desc</key>
		<string>USA, 1979</string>
		<key>http</key>
		<string>https://www.youtube.com/watch_popup?v=vrajktrChos</string>
		<key>category</key>
		<string>Documentary</string>
	</dict>
	<dict>
		<key>name</key>
		<string>The Autobiography of Miss Jane Pittman</string>
		<key>logo</key>
		<string>https://images-na.ssl-images-amazon.com/images/M/MV5BOTE1OTUyOTE1M15BMl5BanBnXkFtZTcwMDcxMDgyMQ@@._V1_.jpg</string>
		<key>desc</key>
		<string>USA, 1974</string>
		<key>http</key>
		<string>https://www.youtube.com/watch_popup?v=KSDlm2LqAes</string>
		<key>category</key>
		<string>Drama</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Booker</string>
		<key>logo</key>
		<string>https://images-na.ssl-images-amazon.com/images/M/MV5BMTc3MDgzNjk5Nl5BMl5BanBnXkFtZTYwMzY2ODg2._V1_.jpg</string>
		<key>desc</key>
		<string>USA, 1984</string>
		<key>http</key>
		<string>https://www.youtube.com/watch_popup?v=mkWPdW23mAc</string>
		<key>category</key>
		<string>Documentary</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Guilty of Innocence: The Lenell Geter Story</string>
		<key>logo</key>
		<string>https://images-na.ssl-images-amazon.com/images/M/MV5BOTU0ODRiNTQtY2ZiNC00NjI2LWI3YjgtMWMwY2VhOWIzNDkyXkEyXkFqcGdeQXVyMzU0NzkwMDg@._V1_.jpg</string>
		<key>desc</key>
		<string>USA, 1987</string>
		<key>http</key>
		<string>https://www.youtube.com/watch_popup?v=kHpCLqfLbW0</string>
		<key>category</key>
		<string>Musical</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ray Alexander: A Taste for Justice</string>
		<key>logo</key>
		<string>https://images-na.ssl-images-amazon.com/images/M/MV5BMTMyNTg3Njg4M15BMl5BanBnXkFtZTcwOTI1ODE1NA@@._V1_SY1000_CR0,0,928,1000_AL_.jpg</string>
		<key>desc</key>
		<string>USA, 1994</string>
		<key>http</key>
		<string>https://www.youtube.com/watch_popup?v=AzwppGWWdpc</string>
		<key>category</key>
		<string>Adventure</string>
	</dict>
	<dict>
		<key>name</key>
		<string>The Guardian</string>
		<key>logo</key>
		<string>https://images-na.ssl-images-amazon.com/images/M/MV5BMGZiMjY1MTYtOGRlMy00Y2I3LWJjYzctZWE4ZmRjNjJkNjlmXkEyXkFqcGdeQXVyMzU0NzkwMDg@._V1_.jpg</string>
		<key>desc</key>
		<string>USA, 1984</string>
		<key>http</key>
		<string>https://www.youtube.com/watch_popup?v=yy-rfzSeZHo</string>
		<key>category</key>
		<string>Adventure</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Murder Without Motive: The Edmund Perry Story</string>
		<key>logo</key>
		<string>https://images-na.ssl-images-amazon.com/images/M/MV5BMjU3ODg2OTI0N15BMl5BanBnXkFtZTcwMDQxMDkwMw@@._V1_SY1000_CR0,0,674,1000_AL_.jpg</string>
		<key>desc</key>
		<string>USA, 1992</string>
		<key>http</key>
		<string>https://www.youtube.com/watch_popup?v=9UC7KbvxYKU</string>
		<key>category</key>
		<string>Adventure</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tricks of the Trade</string>
		<key>logo</key>
		<string>https://images-na.ssl-images-amazon.com/images/M/MV5BYWFkYzZjODItMjYwMS00MjRlLWE1NWMtODJkN2JjMDExZGFjXkEyXkFqcGdeQXVyMzU0NzkwMDg@._V1_.jpg</string>
		<key>desc</key>
		<string>USA, 1988</string>
		<key>http</key>
		<string>https://www.youtube.com/watch_popup?v=sDBPRUh0DT8</string>
		<key>category</key>
		<string>Comedy</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Jailbirds</string>
		<key>logo</key>
		<string>https://images-na.ssl-images-amazon.com/images/M/MV5BMTk3NzE4NzEyM15BMl5BanBnXkFyZXN1bWU@._V1_.jpg</string>
		<key>desc</key>
		<string>USA, 1991</string>
		<key>http</key>
		<string>https://www.youtube.com/watch_popup?v=2-gAEP6WrFs</string>
		<key>category</key>
		<string>Comedy</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Muggable Mary, Street Cop</string>
		<key>logo</key>
		<string>https://images-na.ssl-images-amazon.com/images/M/MV5BMTEyNDA3NzQ2NDleQTJeQWpwZ15BbWU3MDkwNjAzMjg@._V1_SY1000_CR0,0,677,1000_AL_.jpg</string>
		<key>desc</key>
		<string>USA, 1982</string>
		<key>http</key>
		<string>https://www.youtube.com/watch_popup?v=a7i-NxOlp6g</string>
		<key>category</key>
		<string>Musical</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Judge Horton and the Scottsboro Boys</string>
		<key>logo</key>
		<string>https://images-na.ssl-images-amazon.com/images/M/MV5BNzlmYzZiYmItZWI4YS00MzI5LTk1OTktMTQyNzIxMGNmZWI1XkEyXkFqcGdeQXVyMzI5NDcxNzI@._V1_SY1000_CR0,0,812,1000_AL_.jpg</string>
		<key>desc</key>
		<string>USA, 1976</string>
		<key>http</key>
		<string>https://www.youtube.com/watch_popup?v=rwfE7PSf784</string>
		<key>category</key>
		<string>Adventure</string>
	</dict>
	<dict>
		<key>name</key>
		<string>The Red Spider</string>
		<key>logo</key>
		<string>https://images-na.ssl-images-amazon.com/images/M/MV5BNWQ4MzYyY2MtZjBhMi00OTNiLWI2MTItODcyMjM4YmViZDkwXkEyXkFqcGdeQXVyMzU0NzkwMDg@._V1_.jpg</string>
		<key>desc</key>
		<string>USA, 1988</string>
		<key>http</key>
		<string>https://www.youtube.com/watch_popup?v=a0wb7ac8jwY</string>
		<key>category</key>
		<string>Adventure</string>
	</dict>
	<dict>
		<key>name</key>
		<string>On the Line</string>
		<key>logo</key>
		<string>https://images-na.ssl-images-amazon.com/images/M/MV5BMDhlMGE1OWQtMDMxNS00M2M3LWE1ZTMtNTQxY2Y0ODNiODlhXkEyXkFqcGdeQXVyMzM4MjM0Nzg@._V1_SY1000_CR0,0,722,1000_AL_.jpg</string>
		<key>desc</key>
		<string>USA, 1997</string>
		<key>http</key>
		<string>https://www.youtube.com/watch_popup?v=ghqdxYpYd0U</string>
		<key>category</key>
		<string>Comedy</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Five Desperate Hours</string>
		<key>logo</key>
		<string>https://images-na.ssl-images-amazon.com/images/M/MV5BMjI4MzkwNjY1Ml5BMl5BanBnXkFtZTcwOTQ4NTMzNA@@._V1_SY1000_CR0,0,666,1000_AL_.jpg</string>
		<key>desc</key>
		<string>USA, 1997</string>
		<key>http</key>
		<string>https://www.youtube.com/watch_popup?v=VXEfVMGyZHk</string>
		<key>category</key>
		<string>Musical</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Murder in Black and White</string>
		<key>logo</key>
		<string>https://images-na.ssl-images-amazon.com/images/M/MV5BNGIyNDk5ZGYtOGNjZC00MTY5LWI4YzMtZDFmZTgzZjU2OWMzXkEyXkFqcGdeQXVyNzg5OTk2OA@@._V1_.jpg</string>
		<key>desc</key>
		<string>USA, 1990</string>
		<key>http</key>
		<string>https://www.youtube.com/watch_popup?v=lZlUuVqfip0</string>
		<key>category</key>
		<string>Drama</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mother&apos;s Day</string>
		<key>logo</key>
		<string>https://images-na.ssl-images-amazon.com/images/M/MV5BYjhhYzhhY2YtMDhjOC00YWQ5LWE0MzItNjc0NDhlN2U5MjhjXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_.jpg</string>
		<key>desc</key>
		<string>USA, 1980</string>
		<key>http</key>
		<string>https://www.youtube.com/watch_popup?v=ubdVNv0pc2M</string>
		<key>category</key>
		<string>Comedy</string>
	</dict>
	<dict>
		<key>name</key>
		<string>One in a Million: The Ron LeFlore Story</string>
		<key>logo</key>
		<string>https://images-na.ssl-images-amazon.com/images/M/MV5BNzQ5NGI4NTctNmM2Mi00Zjc3LTkwNzgtNGM5YjBiYmIzOTFlXkEyXkFqcGdeQXVyMzYwNTYyNzU@._V1_SY1000_CR0,0,1214,1000_AL_.jpg</string>
		<key>desc</key>
		<string>USA, 1977</string>
		<key>http</key>
		<string>https://www.youtube.com/watch_popup?v=4ti_NdMLqOo</string>
		<key>category</key>
		<string>Sport</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kiss Shot</string>
		<key>logo</key>
		<string>https://images-na.ssl-images-amazon.com/images/M/MV5BMjE2ODM0NDA4OF5BMl5BanBnXkFtZTcwNjQ4MjMyMQ@@._V1_.jpg</string>
		<key>desc</key>
		<string>USA, 1989</string>
		<key>http</key>
		<string>https://www.youtube.com/watch_popup?v=8rVnpkSFp3Q</string>
		<key>category</key>
		<string>Kids</string>
	</dict>
	<dict>
		<key>name</key>
		<string>In the Line of Duty: The Price of Vengeance</string>
		<key>logo</key>
		<string>https://images-na.ssl-images-amazon.com/images/M/MV5BOWU5NGM2MDItZDlhZS00ZTcxLThkNDUtMjhjMjVhODgwY2ZjXkEyXkFqcGdeQXVyNjYwODc3ODk@._V1_.jpg</string>
		<key>desc</key>
		<string>USA, 1994</string>
		<key>http</key>
		<string>https://www.youtube.com/watch_popup?v=XygxfHyyTSM</string>
		<key>category</key>
		<string>Drama</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Love Your Mama</string>
		<key>logo</key>
		<string>https://images-na.ssl-images-amazon.com/images/M/MV5BYTMwY2NkZGMtZjVmOC00OWIzLWE4MWYtOGFmZWM1MDdiMTFkL2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyNjk5Mzk3MjE@._V1_.jpg</string>
		<key>desc</key>
		<string>USA, 1990</string>
		<key>http</key>
		<string>https://www.youtube.com/watch_popup?v=76Y_sIJVdcw</string>
		<key>category</key>
		<string>Musical</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Johnnie Gibson: F.B.I.</string>
		<key>logo</key>
		<string>https://images-na.ssl-images-amazon.com/images/M/MV5BMTM1NjM3Njc0NF5BMl5BanBnXkFtZTcwOTA3MjEyMQ@@._V1_.jpg</string>
		<key>desc</key>
		<string>USA, 1986</string>
		<key>http</key>
		<string>https://www.youtube.com/watch_popup?v=W5xBnkaMYCo</string>
		<key>category</key>
		<string>Drama</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Line of Fire: The Morris Dees Story</string>
		<key>logo</key>
		<string>https://images-na.ssl-images-amazon.com/images/M/MV5BM2Q3YjE4NDEtNzU2Mi00OTg0LWE1NDctY2JjMmU4ZGViZWJjXkEyXkFqcGdeQXVyMTEyMDcwNw@@._V1_.jpg</string>
		<key>desc</key>
		<string>USA, 1991</string>
		<key>http</key>
		<string>https://www.youtube.com/watch_popup?v=t1EtvlDjPa8</string>
		<key>category</key>
		<string>Drama</string>
	</dict>
</array>
</plist>
