<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Application</key>
	<string>1</string>
	<key>Developer</key>
	<string>1</string>
	<key>Email</key>
	<string>www@vesti.lv</string>
	<key>ID</key>
	<string>369413026763740700</string>
	<key>Banner</key>
	<string>5040615576</string>
	<key>Back</key>
	<string>GreeceTV</string>
	<key>Main</key>
	<string>GreeceTV</string>
	<key>Switch</key>
	<string>GreeceTV</string>
	<key>Header</key>
	<string>GreeceTV</string>
	<key>Footer</key>
	<string>GreeceTV</string>
	<key>Add</key>
	<string>none</string>
	<key>Alarm</key>
	<string>GreeceTV</string>
	<key>Channels</key>
	<string>GreeceTV</string>
	<key>SwitchOn</key>
	<string>9</string>
	<key>Delay</key>
	<string>2</string>
	<key>Minutes</key>
	<string>4</string>
	<key>ShowCountries</key>
	<string>9</string>
	<key>ShowCloud</key>
	<string>10</string>
	<key>ShowAddTV</key>
	<string>9</string>
	<key>ShowAddAlarm</key>
	<string>10</string>
	<key>ShowAlarmTab</key>
	<string>10</string>
	<key>DropAlarms</key>
	<string>9</string>
</dict>
</plist>
