<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Application</key>
	<string>1355483606</string>
	<key>Developer</key>
	<string>1239592099</string>
	<key>Email</key>
	<string>idenitecs@gmail.com</string>
	<key>ID</key>
	<string>3694130267637407</string>
	<key>Banner</key>
	<string>5040615576</string>
	<key>Back</key>
	<string>7994081978</string>
	<key>Main</key>
	<string>6517348775</string>
	<key>Switch</key>
	<string>1447654756</string>
	<key>Header</key>
	<string>4668999870</string>
	<key>Footer</key>
	<string>2078210147</string>
	<key>Add</key>
	<string>none</string>
	<key>Alarm</key>
	<string>1216840025</string>
	<key>Channels</key>
	<string>1491052635</string>
	<key>SwitchOn</key>
	<string>10</string>
	<key>Delay</key>
	<string>2</string>
	<key>Minutes</key>
	<string>4</string>
	<key>ShowCountries</key>
	<string>10</string>
	<key>ShowCloud</key>
	<string>9</string>
	<key>ShowAddTV</key>
	<string>9</string>
	<key>ShowAddAlarm</key>
	<string>10</string>
	<key>ShowAlarmTab</key>
	<string>10</string>
	<key>DropAlarms</key>
	<string>9</string>
</dict>
</plist>
