<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>India Today</string>
		<key>logo</key>
		<string>Today</string>
		<key>desc</key>
		<string>http://indiatoday.intoday.in/livetv.jsp</string>
		<key>http</key>
		<string>http://indiatoday.intoday.in/</string>
	</dict>
</array>
</plist>
