<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>India Today</string>
		<key>logo</key>
		<string>https://images-na.ssl-images-amazon.com/images/M/MV5BMzE1YjMzZGItZTkwOS00ZmY3LWEzYmMtODM0OWVhNGU2MDkxXkEyXkFqcGdeQXVyNTY3OTUwODg@._V1_UY268_CR12,0,182,268_AL_.jpg</string>
		<key>desc</key>
		<string>http://indiatoday.intoday.in/livetv.jsp</string>
		<key>http</key>
		<string>http://indiatoday.intoday.in/</string>
	</dict>
</array>
</plist>
