<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>People s Television</string>
		<key>logo</key>
		<string>PTV</string>
		<key>link</key>
		<string>http://corporate.ptv.ph/ptvlivestream</string>
		<key>http</key>
		<string>https://www.youtube.com/user/PTVPhilippines/videos?flow=grid&amp;live_view=501&amp;sort=dd&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NET25</string>
		<key>logo</key>
		<string>NET25</string>
		<key>link</key>
		<string>http://www.eaglebroadcasting.net/net25tv/</string>
		<key>http</key>
		<string>http://www.eaglenews.ph/net25online/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CNN Philippines</string>
		<key>logo</key>
		<string>CNN</string>
		<key>link</key>
		<string>http://cnnphilippines.com/videos/</string>
		<key>http</key>
		<string>http://cnnphilippines.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>UNTV</string>
		<key>logo</key>
		<string>UNTV</string>
		<key>link</key>
		<string>https://www.untvweb.com/live-stream/</string>
		<key>http</key>
		<string>https://www.untvweb.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TV5</string>
		<key>logo</key>
		<string>TV5</string>
		<key>link</key>
		<string>http://news.tv5.com.ph/</string>
		<key>http</key>
		<string>http://www.tv5.com.ph/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Maria</string>
		<key>logo</key>
		<string>Maria</string>
		<key>link</key>
		<string>http://tvmaria.ph/watch-2/</string>
		<key>http</key>
		<string>http://tvmaria.ph/index.php/watch-2/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>INC</string>
		<key>logo</key>
		<string>INC</string>
		<key>link</key>
		<string>http://iglesianicristo.net/inctv/</string>
		<key>http</key>
		<string>http://incmedia.org/live-stream/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SMNI</string>
		<key>logo</key>
		<string>SMNI</string>
		<key>link</key>
		<string>http://smni.com/</string>
		<key>http</key>
		<string>http://smni.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sonshine</string>
		<key>logo</key>
		<string>Sonshine</string>
		<key>link</key>
		<string>http://www.sonshinetvradyo.com/</string>
		<key>http</key>
		<string>http://www.sonshinetvradyo.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CCTN 47</string>
		<key>logo</key>
		<string>CCTN</string>
		<key>link</key>
		<string>http://cctn47.com/cctn/?page_id=2</string>
		<key>http</key>
		<string>http://www.ustream.tv/channel/cctn47</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Old Path</string>
		<key>logo</key>
		<string>Path</string>
		<key>link</key>
		<string>https://www.theoldpath.tv/</string>
		<key>http</key>
		<string>https://www.theoldpath.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ang Dating Daan</string>
		<key>logo</key>
		<string>Ang</string>
		<key>link</key>
		<string>http://angdatingdaan.org/</string>
		<key>http</key>
		<string>http://angdatingdaan.org/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CLTV 36</string>
		<key>logo</key>
		<string>CLTV</string>
		<key>link</key>
		<string>http://www.cltv36.tv/livestreaming.php</string>
		<key>http</key>
		<string>http://www.cltv36.tv/#livestream</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bloomberg Asia</string>
		<key>logo</key>
		<string>bloomberg</string>
		<key>link</key>
		<string>https://www.bloomberg.com/live/asia</string>
		<key>http</key>
		<string>https://www.bloomberg.com/live/asia_stream</string>
	</dict>
</array>
</plist>
