<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>RTK 1</string>
		<key>logo</key>
		<string>RTK1</string>
		<key>link</key>
		<string>http://www.rtklive.com/sq/livestream/rtk1/</string>
		<key>http</key>
		<string>http://www.rtklive.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RTK 2</string>
		<key>logo</key>
		<string>RTK2</string>
		<key>link</key>
		<string>http://www.rtklive.com/sq/livestream/rtk2/</string>
		<key>http</key>
		<string>http://www.rtklive.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RTK 3</string>
		<key>logo</key>
		<string>RTK3</string>
		<key>link</key>
		<string>http://www.rtklive.com/sq/livestream/rtk3/</string>
		<key>http</key>
		<string>http://www.rtklive.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RTK 4</string>
		<key>logo</key>
		<string>RTK4</string>
		<key>link</key>
		<string>http://www.rtklive.com/sq/livestream/rtk4/</string>
		<key>http</key>
		<string>http://www.rtklive.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Rrokum</string>
		<key>logo</key>
		<string>Rrokum</string>
		<key>link</key>
		<string>http://www.rrokum.tv/live/</string>
		<key>http</key>
		<string>http://www.rrokum.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Klan Kosova</string>
		<key>logo</key>
		<string>Klan</string>
		<key>link</key>
		<string>http://klankosova.tv</string>
		<key>http</key>
		<string>http://klankosova.tv/#liveStream</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Arta</string>
		<key>logo</key>
		<string>Arta</string>
		<key>link</key>
		<string>http://www.koha.net/arta-tv/</string>
		<key>http</key>
		<string>http://www.koha.net</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tribuna</string>
		<key>logo</key>
		<string>Tribuna</string>
		<key>link</key>
		<string>http://stream.itprishtina.com/tribuna/</string>
		<key>http</key>
		<string>http://gazetatribuna.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Syri Vision</string>
		<key>logo</key>
		<string>Syri</string>
		<key>link</key>
		<string>http://syri-vision.tv/tv/live.html</string>
		<key>http</key>
		<string>http://www.syri-vision.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>BESA</string>
		<key>logo</key>
		<string>BESA</string>
		<key>link</key>
		<string>http://www.rtvbesa.com/live/</string>
		<key>http</key>
		<string>http://rtvbesa.com/?page_id=172</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mir</string>
		<key>logo</key>
		<string>Mir</string>
		<key>link</key>
		<string>http://rtvmir.listen2myradio.com/</string>
		<key>http</key>
		<string>http://www.rtvmir.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Puls</string>
		<key>logo</key>
		<string>Puls</string>
		<key>link</key>
		<string>http://www.rtvpuls.com/strana/live_tv</string>
		<key>http</key>
		<string>http://www.rtvpuls.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Zico</string>
		<key>logo</key>
		<string>Zico</string>
		<key>link</key>
		<string>http://zico.tv/livestream/</string>
		<key>http</key>
		<string>http://zico.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>PeaceTV - Qendra për Studime Islame</string>
		<key>logo</key>
		<string>PeaceTV</string>
		<key>link</key>
		<string>http://www.qsi-ks.com/webi/live.php</string>
		<key>http</key>
		<string>http://www.qsi-ks.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Zenica</string>
		<key>logo</key>
		<string>Zenica</string>
		<key>link</key>
		<string>http://www.rtvze.ba/tvze-uzivo/</string>
		<key>http</key>
		<string>http://original.livestream.com/tv_zenica_live</string>
	</dict>
	<dict>
		<key>name</key>
		<string>N1</string>
		<key>logo</key>
		<string>N1</string>
		<key>link</key>
		<string>http://hr.n1info.com/Video/LIVE-TV/a5760/N1-UZIVO.html</string>
		<key>http</key>
		<string>http://hr.n1info.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bloomberg TV Europe</string>
		<key>logo</key>
		<string>bloomberg</string>
		<key>link</key>
		<string>https://www.bloomberg.com/live/europe</string>
		<key>http</key>
		<string>https://www.bloomberg.com/live/us</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sky News</string>
		<key>logo</key>
		<string>Sky</string>
		<key>link</key>
		<string>https://news.sky.com/watch-live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/skynews</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Euronews</string>
		<key>logo</key>
		<string>Euronews</string>
		<key>link</key>
		<string>http://de.euronews.com/live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/euronewsfr/videos?live_view=501&amp;flow=grid&amp;view=2</string>
	</dict>
</array>
</plist>
