<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Express News (ایکسپریس نیوز)</string>
		<key>logo</key>
		<string>Express</string>
		<key>link</key>
		<string>http://live.express.pk/</string>
		<key>http</key>
		<string>https://www.youtube.com/channel/UCTur7oM6mLL0rM2k0znuZpQ/videos?flow=grid&amp;live_view=501&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Samaa</string>
		<key>logo</key>
		<string>Samaa</string>
		<key>link</key>
		<string>https://www.samaa.tv/live/</string>
		<key>http</key>
		<string>https://www.youtube.com/user/samaatvnews/videos?view=2&amp;flow=grid&amp;live_view=501</string>
	</dict>
	<dict>
		<key>name</key>
		<string>PTV News</string>
		<key>logo</key>
		<string>News</string>
		<key>link</key>
		<string>http://www.ptv.com.pk/public/userView/ptvCorporate/newslive</string>
		<key>http</key>
		<string>http://www.ptv.com.pk/public/userView/livestreaming</string>
	</dict>
	<dict>
		<key>name</key>
		<string>PTV Home</string>
		<key>logo</key>
		<string>Home</string>
		<key>link</key>
		<string>http://www.ptv.com.pk/public/userView/ptvCorporate/homelive</string>
		<key>http</key>
		<string>http://www.ptv.com.pk/public/userView/livestreaming</string>
	</dict>
	<dict>
		<key>name</key>
		<string>PTV World</string>
		<key>logo</key>
		<string>World</string>
		<key>link</key>
		<string>http://www.ptv.com.pk/public/userView/ptvCorporate/worldlive</string>
		<key>http</key>
		<string>http://www.ptv.com.pk/public/userView/livestreaming</string>
	</dict>
	<dict>
		<key>name</key>
		<string>PTV Sports</string>
		<key>logo</key>
		<string>PTV</string>
		<key>link</key>
		<string>http://sports.ptv.com.pk/public/sportslive</string>
		<key>http</key>
		<string>http://www.ptv.com.pk/public/userView/livestreaming</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Geo News (جیو نیوز)</string>
		<key>logo</key>
		<string>Geo</string>
		<key>link</key>
		<string>https://live.geo.tv/</string>
		<key>http</key>
		<string>https://live.geo.tv/stream2.php</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Geo Tez (جیو تیز)</string>
		<key>logo</key>
		<string>Tez</string>
		<key>link</key>
		<string>http://geotez.tv/</string>
		<key>http</key>
		<string>http://geotez.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ARY News (اے آر وائی نیوز)</string>
		<key>logo</key>
		<string>ARY</string>
		<key>link</key>
		<string>http://live.arynews.tv/</string>
		<key>http</key>
		<string>http://live.arynews.tv/alternate.php</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ARY Digital (اے آر وائی ڈیجیٹل)</string>
		<key>logo</key>
		<string>Digital</string>
		<key>link</key>
		<string>http://live.arydigital.tv/</string>
		<key>http</key>
		<string>https://arydigital.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ARY Zindagi</string>
		<key>logo</key>
		<string>Zindagi</string>
		<key>link</key>
		<string>http://live.aryzindagi.tv/</string>
		<key>http</key>
		<string>http://www.aryzindagi.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ARY Musik</string>
		<key>logo</key>
		<string>Musik</string>
		<key>link</key>
		<string>http://live.arymusik.tv/</string>
		<key>http</key>
		<string>http://arymusik.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ARY QTV</string>
		<key>logo</key>
		<string>Qtv</string>
		<key>link</key>
		<string>http://live.aryqtv.tv/</string>
		<key>http</key>
		<string>https://aryqtv.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Such (سچ ٹی وی)</string>
		<key>logo</key>
		<string>Such</string>
		<key>link</key>
		<string>https://www.suchtv.pk/live.html</string>
		<key>http</key>
		<string>https://www.suchtv.pk</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Dawn (ڈان نیوز)</string>
		<key>logo</key>
		<string>Dawn</string>
		<key>link</key>
		<string>https://www.dawnnews.tv/watch-live/</string>
		<key>http</key>
		<string>https://www.youtube.com/user/dawnnewspakistan/videos?view=2&amp;flow=grid&amp;live_view=501</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Dunya (دنیا نیوز)</string>
		<key>logo</key>
		<string>Dunya</string>
		<key>link</key>
		<string>http://dunyanews.tv/newsite/live_stream/new1_live_tv.php</string>
		<key>http</key>
		<string>http://dunya.com.pk/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Lahore</string>
		<key>logo</key>
		<string>Lahore</string>
		<key>link</key>
		<string>http://lahorenews.tv/live/</string>
		<key>http</key>
		<string>http://lahorenews.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>92</string>
		<key>logo</key>
		<string>92</string>
		<key>link</key>
		<string>http://live.92newshd.tv/</string>
		<key>http</key>
		<string>https://92newshd.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Waqt (وقت نیوز)</string>
		<key>logo</key>
		<string>Waqt</string>
		<key>link</key>
		<string>https://waqtnews.tv/live-tv</string>
		<key>http</key>
		<string>https://www.youtube.com/user/waqtnews/videos?view=2&amp;flow=grid&amp;live_view=501</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CITY 42</string>
		<key>logo</key>
		<string>42</string>
		<key>link</key>
		<string>https://www.city42.tv/live</string>
		<key>http</key>
		<string>https://www.youtube.com/channel/UCdTup4kK7Ze08KYp7ReiuMw/videos?view=2&amp;flow=grid&amp;live_view=501</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Royal News</string>
		<key>logo</key>
		<string>Royal</string>
		<key>link</key>
		<string>http://royalnews.tv/?page_id=56</string>
		<key>http</key>
		<string>http://royalnews.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>News One (نیوز ون)</string>
		<key>logo</key>
		<string>One</string>
		<key>link</key>
		<string>http://live.newsone.tv/</string>
		<key>http</key>
		<string>https://www.youtube.com/channel/UCjHWKUbljF4hp3s5PbgK9uA/videos?view=2&amp;flow=grid&amp;live_view=501</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Aaj (آج ٹی وی)</string>
		<key>logo</key>
		<string>Aaj</string>
		<key>link</key>
		<string>http://aaj.tv/live/</string>
		<key>http</key>
		<string>https://www.youtube.com/channel/UCdHy-hnyIEZBHkPJecz9RtA/videos?view=2&amp;live_view=501&amp;flow=grid</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Jaag</string>
		<key>logo</key>
		<string>Jaag</string>
		<key>link</key>
		<string>http://live.jaagtv.com/</string>
		<key>http</key>
		<string>http://www.jaagtv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Capital</string>
		<key>logo</key>
		<string>Capital</string>
		<key>link</key>
		<string>http://dailycapital.pk/program/live/UC-an6pHQfTVZXgrLP0p1EGA/capital-tv-live</string>
		<key>http</key>
		<string>https://www.youtube.com/channel/UC-an6pHQfTVZXgrLP0p1EGA/videos?live_view=501&amp;view=2&amp;flow=grid</string>
	</dict>
	<dict>
		<key>name</key>
		<string>24 News HD</string>
		<key>logo</key>
		<string>24</string>
		<key>link</key>
		<string>https://www.24newshd.tv/live</string>
		<key>http</key>
		<string>https://www.youtube.com/channel/UCcmpeVbSSQlZRvHfdC-CRwg/videos?view=2&amp;flow=grid&amp;live_view=501</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Neo News</string>
		<key>logo</key>
		<string>Neo</string>
		<key>link</key>
		<string>https://www.neonetwork.pk/live-tv</string>
		<key>http</key>
		<string>https://www.neonetwork.pk</string>
	</dict>
	<dict>
		<key>name</key>
		<string>BOL (بول نیٹ ورک‎)</string>
		<key>logo</key>
		<string>BOL</string>
		<key>link</key>
		<string>https://www.bolnetwork.com/bol-news/watch-live/</string>
		<key>http</key>
		<string>https://www.youtube.com/BOLNetworkOfficial</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kohenoor</string>
		<key>logo</key>
		<string>Kohenoor</string>
		<key>link</key>
		<string>https://www.kohenoor.tv/live</string>
		<key>http</key>
		<string>https://www.kohenoor.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>News Pakistan (BBC partner)</string>
		<key>logo</key>
		<string>BBC</string>
		<key>link</key>
		<string>https://www.newspakistan.tv/live/</string>
		<key>http</key>
		<string>https://www.newspakistan.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>KTN (ڪي ٽي اين نيوز)</string>
		<key>logo</key>
		<string>KTN</string>
		<key>link</key>
		<string>http://www.ktnnews.tv/watch-live-ktn-news/</string>
		<key>http</key>
		<string>https://www.youtube.com/user/ktnnewschannel</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Awami Awaz</string>
		<key>logo</key>
		<string>Awami</string>
		<key>link</key>
		<string>http://awamiawaz.com/44631/</string>
		<key>http</key>
		<string>http://awamiawaz.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Khyber (خېبر نيوز)</string>
		<key>logo</key>
		<string>Khyber</string>
		<key>link</key>
		<string>https://khybernews.tv/live-streaming/</string>
		<key>http</key>
		<string>https://khybernews.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mashriq</string>
		<key>logo</key>
		<string>Mashriq</string>
		<key>link</key>
		<string>https://www.mashriqtv.pk/live-tv</string>
		<key>http</key>
		<string>https://www.mashriqtv.pk</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Waseb</string>
		<key>logo</key>
		<string>Waseb</string>
		<key>link</key>
		<string>https://www.youtube.com/channel/UCb3vKSPkWFWiFljsSGoeyoQ</string>
		<key>http</key>
		<string>http://www.waseb.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>A-Plus (اے پلس)</string>
		<key>logo</key>
		<string>Plus</string>
		<key>link</key>
		<string>http://a-plus.tv/livetv/</string>
		<key>http</key>
		<string>http://a-plus.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Har Pal Geo</string>
		<key>logo</key>
		<string>Har</string>
		<key>link</key>
		<string>http://harpalgeo.tv/live/</string>
		<key>http</key>
		<string>http://harpalgeo.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TVOne (ٹی وی ون گلوبل)</string>
		<key>logo</key>
		<string>TVOne</string>
		<key>link</key>
		<string>https://www.tvonepk.tv/live-tv</string>
		<key>http</key>
		<string>https://www.youtube.com/c/tvonepk</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kay2</string>
		<key>logo</key>
		<string>Kay2</string>
		<key>link</key>
		<string>http://kay2.tv/livetv.php</string>
		<key>http</key>
		<string>http://kay2.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hum (ہم ٹی-وی)</string>
		<key>logo</key>
		<string>Hum</string>
		<key>link</key>
		<string>https://www.hum.tv/live/</string>
		<key>http</key>
		<string>https://www.hum.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SBN (GTV)</string>
		<key>logo</key>
		<string>SBN</string>
		<key>link</key>
		<string>http://ustre.am/1xyYg</string>
		<key>http</key>
		<string>http://www.sbnnews.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>KTN Entertainment</string>
		<key>logo</key>
		<string>Entertainment</string>
		<key>link</key>
		<string>http://ktntv.tv/</string>
		<key>http</key>
		<string>http://ktntv.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>AVT Khyber</string>
		<key>logo</key>
		<string>AVT</string>
		<key>link</key>
		<string>http://avtkhyber.tv/livetv/</string>
		<key>http</key>
		<string>http://avtkhyber.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Pashto 1</string>
		<key>logo</key>
		<string>Pashto</string>
		<key>link</key>
		<string>http://pashto-1.tv/watch-now/</string>
		<key>http</key>
		<string>http://pashto-1.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Shrrang</string>
		<key>logo</key>
		<string>Shrrang</string>
		<key>link</key>
		<string>http://shrrang.tv/</string>
		<key>http</key>
		<string>http://shrrang.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Jhumar</string>
		<key>logo</key>
		<string>Jhumar</string>
		<key>link</key>
		<string>http://jhumar.tv/</string>
		<key>http</key>
		<string>http://jhumar.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Geo Super (جیو سپر)</string>
		<key>logo</key>
		<string>Super</string>
		<key>link</key>
		<string>https://www.geosuper.tv/live</string>
		<key>http</key>
		<string>https://www.geosuper.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Masala (مصالحہ)</string>
		<key>logo</key>
		<string>Masala</string>
		<key>link</key>
		<string>https://www.masala.tv/livetv/</string>
		<key>http</key>
		<string>https://www.masala.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Jwand</string>
		<key>logo</key>
		<string>Jwand</string>
		<key>link</key>
		<string>http://jwand.tv/</string>
		<key>http</key>
		<string>http://jwand.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ranra</string>
		<key>logo</key>
		<string>Ranra</string>
		<key>link</key>
		<string>http://ranra.tv/</string>
		<key>http</key>
		<string>http://ranra.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Minhaj</string>
		<key>logo</key>
		<string>Minhaj</string>
		<key>link</key>
		<string>http://www.minhaj.tv/</string>
		<key>http</key>
		<string>http://www.minhaj.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hadi 1</string>
		<key>logo</key>
		<string>Hadi1</string>
		<key>link</key>
		<string>http://www.en.haditv.com/Live/6/</string>
		<key>http</key>
		<string>http://www.en.haditv.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hadi 2</string>
		<key>logo</key>
		<string>Hadi2</string>
		<key>link</key>
		<string>http://www.en.haditv.com/Live/7/</string>
		<key>http</key>
		<string>http://www.en.haditv.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hadi 3</string>
		<key>logo</key>
		<string>Hadi3</string>
		<key>link</key>
		<string>http://www.en.haditv.com/Live/8/</string>
		<key>http</key>
		<string>http://www.en.haditv.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hadi 4</string>
		<key>logo</key>
		<string>Hadi4</string>
		<key>link</key>
		<string>http://www.en.haditv.com/Live/9/</string>
		<key>http</key>
		<string>http://www.en.haditv.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hadi 5</string>
		<key>logo</key>
		<string>Hadi5</string>
		<key>link</key>
		<string>http://www.en.haditv.com/Live/10/</string>
		<key>http</key>
		<string>http://www.en.haditv.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Dua Channel</string>
		<key>logo</key>
		<string>Dua</string>
		<key>link</key>
		<string>http://www.en.haditv.com/Live/11/</string>
		<key>http</key>
		<string>http://www.en.haditv.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Paigham</string>
		<key>logo</key>
		<string>Paigham</string>
		<key>link</key>
		<string>http://www.paigham.tv/webtv/</string>
		<key>http</key>
		<string>http://www.paigham.tv/webtv/urdu.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Madani Urdu</string>
		<key>logo</key>
		<string>Madani1</string>
		<key>link</key>
		<string>https://www.dawateislami.net/islam/streaming/watch-live-madani-channel.htm</string>
		<key>http</key>
		<string>https://www.dawateislami.net/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Madani English</string>
		<key>logo</key>
		<string>Madani2</string>
		<key>link</key>
		<string>https://www.dawateislami.net/islam/streaming/watch-live-madani-channel-english.htm</string>
		<key>http</key>
		<string>https://www.dawateislami.net/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Madani Bangla</string>
		<key>logo</key>
		<string>Madani3</string>
		<key>link</key>
		<string>https://www.dawateislami.net/islam/streaming/watch-live-madani-channel-bangla.htm</string>
		<key>http</key>
		<string>https://www.dawateislami.net/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Issac</string>
		<key>logo</key>
		<string>Issac</string>
		<key>link</key>
		<string>http://isaactelevision.tv/live-tv/</string>
		<key>http</key>
		<string>http://isaactelevision.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>JCTV Jesus Christ</string>
		<key>logo</key>
		<string>JCTV</string>
		<key>link</key>
		<string>http://www.jctv.org.pk/live.php</string>
		<key>http</key>
		<string>http://www.jctv.org.pk</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Zindagi</string>
		<key>logo</key>
		<string>Zinda</string>
		<key>link</key>
		<string>http://www.zindagitv.com/</string>
		<key>http</key>
		<string>http://www.zindagitv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Barkat</string>
		<key>logo</key>
		<string>Barkat</string>
		<key>link</key>
		<string>http://www.barkat.tv/live%20tv.html</string>
		<key>http</key>
		<string>http://www.barkat.tv</string>
	</dict>
</array>
</plist>
