<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1</string>
		<key>Back</key>
		<string>1</string>
		<key>Banner</key>
		<string>1</string>
		<key>Show1</key>
		<string>1</string>
		<key>Show2</key>
		<string>1</string>
		<key>Show3</key>
		<string>1</string>
		<key>Show4</key>
		<string>1</string>
		<key>Alarm</key>
		<string>1</string>
		<key>CustomBanner</key>
		<string>1</string>
		<key>CustomSplash</key>
		<string>1</string>
		<key>Header</key>
		<string>1</string>
		<key>Footer</key>
		<string>1</string>
		<key>Email</key>
		<string>1</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1</string>
		<key>Developer</key>
		<string>1</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Menu</key>
	<array>
		<string>Top</string>
		<string>News</string>
		<string>Local</string>
		<string>Classic</string>
		<string>Music</string>
		<string>Sport</string>
		<string>Talk</string>
		<string>Youth</string>
		<string>Oldies</string>
	</array>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Cidade 91.1 FM</string>
			<key>logo</key>
			<string>Cidade</string>
			<key>link</key>
			<string>http://app.kshost.com.br/player/9288/winamp.pls</string>
			<key>http</key>
			<string>http://radios.vpn.sapo.pt/CV/radio1.mp3</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Comerical</string>
			<key>logo</key>
			<string>Comerical</string>
			<key>link</key>
			<string>http://radios.vpn.sapo.pt/CV/radio9.mp3</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Crioula FM</string>
			<key>logo</key>
			<string>Crioula</string>
			<key>link</key>
			<string>http://radios.vpn.sapo.pt/CV/radio5.mp3</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Edudativa</string>
			<key>logo</key>
			<string>Edudativa</string>
			<key>link</key>
			<string>http://radios.vpn.sapo.pt/CV/radio11.mp3</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Morabeza</string>
			<key>logo</key>
			<string>Morabeza</string>
			<key>link</key>
			<string>http://92.222.77.115:8112/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nova de Maria</string>
			<key>logo</key>
			<string>Maria</string>
			<key>link</key>
			<string>http://radios.vpn.sapo.pt/CV/radio10.mp3</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Praia FM</string>
			<key>logo</key>
			<string>Praia</string>
			<key>link</key>
			<string>http://radios.vpn.sapo.pt/CV/radio4.mp3</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Top Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RCV</string>
			<key>logo</key>
			<string>RCV</string>
			<key>link</key>
			<string>http://radios.vpn.sapo.pt/CV/radio7.mp3</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>RCV+</string>
			<key>logo</key>
			<string>RCV+</string>
			<key>link</key>
			<string>http://radios.vpn.sapo.pt/CV/radio6.mp3</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>RDP África</string>
			<key>logo</key>
			<string>RDP</string>
			<key>link</key>
			<string>http://radiocast.rtp.pt/rdpafrica80a.mp3</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RFI - Rádio França Internacional</string>
			<key>logo</key>
			<string>RFI</string>
			<key>link</key>
			<string>http://icepe1.infomaniak.ch/rfibrasil-96k.mp3.m3u</string>
			<key>http</key>
			<string>http://icepe1.infomaniak.ch/rfiafrique-96k.mp3.m3u</string>
			<key>note</key>
			<string>News, Talk, Music</string>
		</dict>
	</array>
</dict>
</plist>
