<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string></string>
		<key>Main</key>
		<string></string>
		<key>Back</key>
		<string></string>
		<key>Banner</key>
		<string></string>
		<key>Show1</key>
		<string></string>
		<key>Show2</key>
		<string></string>
		<key>Show3</key>
		<string></string>
		<key>Show4</key>
		<string></string>
		<key>Alarm</key>
		<string></string>
		<key>CustomBanner</key>
		<string></string>
		<key>CustomSplash</key>
		<string></string>
		<key>Header</key>
		<string></string>
		<key>Footer</key>
		<string></string>
		<key>Email</key>
		<string>ios.apps.community@gmail.com</string>
		<key>Alternative</key>
		<string></string>
		<key>Application</key>
		<string></string>
		<key>Developer</key>
		<string></string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Menu</key>
	<array>
		<string>Top</string>
		<string>News</string>
		<string>Local</string>
		<string>Classic</string>
		<string>Music</string>
		<string>Sport</string>
		<string>Talk</string>
		<string>Youth</string>
		<string>Oldies</string>
	</array>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>BFBS Radio 1</string>
			<key>logo</key>
			<string>1</string>
			<key>link</key>
			<string>http://direct.sharp-stream.com/ssvcbfbs1.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Ascension Island</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BFBS Radio 2</string>
			<key>logo</key>
			<string>BFBS</string>
			<key>link</key>
			<string>http://direct.sharp-stream.com/ssvcbfbs2.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Ascension Island</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Duma FM</string>
			<key>logo</key>
			<string>Duma</string>
			<key>link</key>
			<string>http://50.7.99.163:16170/listen.pls?sid=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Botswana</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Gabz FM 96.2</string>
			<key>logo</key>
			<string>Gabz</string>
			<key>link</key>
			<string>http://fmt01.egihosting.com:17721/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/gabz-fm-96-2,18262.m3u</string>
			<key>note</key>
			<string>Botswana</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RB1</string>
			<key>logo</key>
			<string>RB1</string>
			<key>link</key>
			<string>http://168.167.134.26:8000/rb1.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Botswana</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RB2 103.0 FM</string>
			<key>logo</key>
			<string>RB2</string>
			<key>link</key>
			<string>http://168.167.134.26:8000/rb2.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Botswana</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Yarona FM 106.8</string>
			<key>logo</key>
			<string>Yarona</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/yarona-fm-106-8,18918.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Botswana</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pulsar 94.8 FM Ouaga</string>
			<key>logo</key>
			<string>Ouaga</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/pulsar-94-8-fm-ouaga,16626.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Burkina Faso</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pulsar FM</string>
			<key>logo</key>
			<string>Pulsar</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/pulsar-fm,13849.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Burkina Faso</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ndeke Luka</string>
			<key>logo</key>
			<string>Ndeke</string>
			<key>link</key>
			<string>http://stream.radiondekeluka.org:8001/ndekeluka.m3u</string>
			<key>http</key>
			<string>https://stream.radiondekeluka.org/ndekeluka</string>
			<key>note</key>
			<string>Central African Republic</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CASM FM</string>
			<key>logo</key>
			<string>CASM</string>
			<key>link</key>
			<string>https://casmfm.ice.infomaniak.ch/casmfm-32.mp3</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Comores</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RCM13 Comores</string>
			<key>logo</key>
			<string>RCM13</string>
			<key>link</key>
			<string>http://sv1.vestaradio.com/rcm13.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Comores</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RTMC Mbéni</string>
			<key>logo</key>
			<string>RTMC</string>
			<key>link</key>
			<string>http://rtmc.ice.infomaniak.ch/rtmc-32.mp3</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Comores</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bonne Nouvelle 95.5 FM</string>
			<key>logo</key>
			<string>Bonne</string>
			<key>link</key>
			<string>http://31.14.40.144:3006/stream.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Gabon</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Record FM 107.9</string>
			<key>logo</key>
			<string>Record</string>
			<key>link</key>
			<string>http://162.210.196.217:8086/listen.pls?sid=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Gabon</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RTN 100.0 FM</string>
			<key>logo</key>
			<string>RTN</string>
			<key>link</key>
			<string>http://31.14.40.144:3036/stream.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Gabon</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dziani 104.8 FM</string>
			<key>logo</key>
			<string>Dziani</string>
			<key>link</key>
			<string>http://listen.radioking.com/radio/3331/stream/63166</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Mayotte</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kwezi FM</string>
			<key>logo</key>
			<string>Kwezi</string>
			<key>link</key>
			<string>http://kwezifm.ice.infomaniak.ch/kwezifm-128.mp3</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Mayotte</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mawoua 88.1 FM</string>
			<key>logo</key>
			<string>Mawoua</string>
			<key>link</key>
			<string>http://mawoua.ice.infomaniak.ch/mawoua-32.aac</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Mayotte</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mayana FM</string>
			<key>logo</key>
			<string>Mayana</string>
			<key>link</key>
			<string>http://62.210.131.27:8029/listen.pls?sid=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Mayotte</string>
		</dict>
		<dict>
			<key>name</key>
			<string>K-Radio 97.2 FM</string>
			<key>logo</key>
			<string>K</string>
			<key>link</key>
			<string>http://www.k-ent.sc:8000/kradio.mp3.m3u</string>
			<key>http</key>
			<string>http://www.k-ent.sc:8000/kradio.mp3</string>
			<key>note</key>
			<string>Seychelles</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pure FM 90.7</string>
			<key>logo</key>
			<string>Pure</string>
			<key>link</key>
			<string>http://radio.sbc.sc:8010/purefmlive.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Seychelles</string>
		</dict>
		<dict>
			<key>name</key>
			<string>SBC Paradise FM</string>
			<key>logo</key>
			<string>Paradise</string>
			<key>link</key>
			<string>https://streaming.fabrik.fm/paradise-fm/echocast/audio/index.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Seychelles</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Saint FM Community</string>
			<key>logo</key>
			<string>Saint</string>
			<key>link</key>
			<string>http://radio.canstream.co.uk:8013/live96.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>St. Helena Island</string>
		</dict>
		<dict>
			<key>name</key>
			<string>SAMS</string>
			<key>logo</key>
			<string>SAMS</string>
			<key>link</key>
			<string>http://lush.wavestreamer.com:7465/Live.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>St. Helena Island</string>
		</dict>
		<dict>
			<key>name</key>
			<string>88.4 City FM</string>
			<key>logo</key>
			<string>City</string>
			<key>link</key>
			<string>http://streams.radio.co/s27dd498f6/listen</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>South Sudan</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Eye Radio 98.6 FM</string>
			<key>logo</key>
			<string>Eye</string>
			<key>link</key>
			<string>http://eyeradio.primcast.com:9588/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>South Sudan</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Miraya 101.0 FM</string>
			<key>logo</key>
			<string>Miraya</string>
			<key>link</key>
			<string>http://s3.myradiostream.com:15918/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/miraya-fm,13333.m3u</string>
			<key>note</key>
			<string>South Sudan</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Degnigban</string>
			<key>logo</key>
			<string>Degnigban</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-degnigban,18160.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Togo</string>
		</dict>
	</array>
</dict>
</plist>
