<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string></string>
		<key>Back</key>
		<string></string>
		<key>Banner</key>
		<string></string>
		<key>Show1</key>
		<string></string>
		<key>Show2</key>
		<string></string>
		<key>Show3</key>
		<string></string>
		<key>Show4</key>
		<string></string>
		<key>Alarm</key>
		<string></string>
		<key>CustomBanner</key>
		<string></string>
		<key>CustomSplash</key>
		<string></string>
		<key>Header</key>
		<string></string>
		<key>Footer</key>
		<string></string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string></string>
		<key>Application</key>
		<string></string>
		<key>Developer</key>
		<string></string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>99 FM Maputo</string>
			<key>logo</key>
			<string>99</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-99-fm-maputo,19026.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Capital 90.7 FM Maputo</string>
			<key>logo</key>
			<string>Capital</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-capital-90-7-fm-maputo,19027.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>LM Radio 87.8 FM</string>
			<key>logo</key>
			<string>LM</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/lm-radio-87-8-fm,19022.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mega Kizomba 88.5 FM</string>
			<key>logo</key>
			<string>Kizomba</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/mega-kizomba-88-5-fm,19601.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>RM Antene Nacional</string>
			<key>logo</key>
			<string>Antene</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/rm-antene-nacional,19023.m3u</string>
			<key>http</key>
			<string>http://196.28.236.2:8000/;stream.mp3</string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RM Desporto</string>
			<key>logo</key>
			<string>Desporto</string>
			<key>link</key>
			<string>http://162.244.80.52:9260/;stream.mp3</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RM Gaza</string>
			<key>logo</key>
			<string>Gaza</string>
			<key>link</key>
			<string>http://162.244.80.52:9256/;stream.mp3</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>RM Nampula</string>
			<key>logo</key>
			<string>Nampula</string>
			<key>link</key>
			<string>http://cast5.servcast.net:3303/;stream.mp3</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>RM Sofala</string>
			<key>logo</key>
			<string>Sofala</string>
			<key>link</key>
			<string>http://78.129.240.14:34727/;stream.mp3</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>SFM 94.6</string>
			<key>logo</key>
			<string>SFM</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/sfm-94-6,19024.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Super FM 101.9</string>
			<key>logo</key>
			<string>Super</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/super-fm-101-9,19025.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
