<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1</string>
		<key>Back</key>
		<string>1</string>
		<key>Banner</key>
		<string>1</string>
		<key>Show1</key>
		<string>1</string>
		<key>Show2</key>
		<string>1</string>
		<key>Show3</key>
		<string>1</string>
		<key>Show4</key>
		<string>1</string>
		<key>Alarm</key>
		<string>1</string>
		<key>CustomBanner</key>
		<string>1</string>
		<key>CustomSplash</key>
		<string>1</string>
		<key>Header</key>
		<string>1</string>
		<key>Footer</key>
		<string>1</string>
		<key>Email</key>
		<string>1</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1</string>
		<key>Developer</key>
		<string>1</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Menu</key>
	<array>
		<string>Top</string>
		<string>News</string>
		<string>Local</string>
		<string>Classic</string>
		<string>Music</string>
		<string>Sport</string>
		<string>Talk</string>
		<string>Youth</string>
		<string>Oldies</string>
	</array>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>95X FM San Juan</string>
			<key>logo</key>
			<string>95X</string>
			<key>link</key>
			<string>http://www.streamlicensing.com/directory/index.cgi/playlist.pls?action=playlist&amp;type=pls&amp;sid=457&amp;stream_id=757</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/95x-fm-san-juan,19563.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Allegro 91.3 FM</string>
			<key>logo</key>
			<string>Allegro</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/allegro-91-3-fm,19560.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Clamor 89.3 FM</string>
			<key>logo</key>
			<string>Clamor</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-clamor-89-3-fm,18229.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Culebra (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Estereo Tempo 96.5 FM</string>
			<key>logo</key>
			<string>Estereo</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/estereo-tempo-96-5-fm,19565.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM 96</string>
			<key>logo</key>
			<string>96</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-fm-96,19564.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Nueva 94</string>
			<key>logo</key>
			<string>Nueva</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/la-nueva-94,17756.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/la-nueva-94-fm,13716.m3u</string>
			<key>note</key>
			<string>Bayamón (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>La X 100.7 FM</string>
			<key>logo</key>
			<string>X</string>
			<key>link</key>
			<string>http://wow.eleden.com/lax/lax.stream/playlist.m3u8</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/la-x-100-7-fm,13721.m3u</string>
			<key>note</key>
			<string>Bayamon (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MEGA 106.9 FM</string>
			<key>logo</key>
			<string>MEGA</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/mega-106-9-fm,14779.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Noti Uno 630 AM</string>
			<key>logo</key>
			<string>Noti</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/noti-uno-630-am,17576.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Rio Piedras (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nueva Vida 97.7 FM</string>
			<key>logo</key>
			<string>Vida</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/nueva-vida-97-7-fm,13717.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Caguas (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Redentor 104 FM</string>
			<key>logo</key>
			<string>Redentor</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/redentor-104-fm,13720.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Renacer 106.1 FM</string>
			<key>logo</key>
			<string>Renacer</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/renacer-106-1-fm,13723.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sacra 91.7 FM</string>
			<key>logo</key>
			<string>Sacra</string>
			<key>link</key>
			<string>http://wow.eleden.com/rsacrab/rsacrab.stream/playlist.m3u8</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/sacra-91-7-fm,19561.m3u</string>
			<key>note</key>
			<string>Quebradillas (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Super K 106</string>
			<key>logo</key>
			<string>106</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/super-k-106,19557.m3u</string>
			<key>http</key>
			<string>http://centova2.whsh4u.com:9179/stream?type=http&amp;nocache=1</string>
			<key>note</key>
			<string>Arecibo (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Triunfo FM 96.9</string>
			<key>logo</key>
			<string>Triunfo</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/triunfo-fm-96-9,18245.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Manati (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Universidad 89.7 FM</string>
			<key>logo</key>
			<string>Universidad</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-universidad-89-7-fm,19558.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>VID 90 90.3 FM</string>
			<key>logo</key>
			<string>VID</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/vid-90-90-3-fm,19559.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Anasco (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>WAPA Radio 680 AM</string>
			<key>logo</key>
			<string>WAPA</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/wapa-radio-680-am,18232.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>WOLA Radio Procer</string>
			<key>logo</key>
			<string>WOLA</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/wola-radio-procer,18780.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Barranquitas (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Yunque 93</string>
			<key>logo</key>
			<string>Yunque</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/yunque-93,19562.m3u</string>
			<key>http</key>
			<string>http://server7.servistreaming.com:10021/stream?type=.mp3</string>
			<key>note</key>
			<string>Naguabo (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Zeta 93 FM</string>
			<key>logo</key>
			<string>Zeta</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/zeta-93-fm,13718.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
