<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1</string>
		<key>Back</key>
		<string>1</string>
		<key>Banner</key>
		<string>1</string>
		<key>Show1</key>
		<string>1</string>
		<key>Show2</key>
		<string>1</string>
		<key>Show3</key>
		<string>1</string>
		<key>Show4</key>
		<string>1</string>
		<key>Alarm</key>
		<string>1</string>
		<key>CustomBanner</key>
		<string>1</string>
		<key>CustomSplash</key>
		<string>1</string>
		<key>Header</key>
		<string>1</string>
		<key>Footer</key>
		<string>1</string>
		<key>Email</key>
		<string>1</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1</string>
		<key>Developer</key>
		<string>1</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>95X FM San Juan</string>
			<key>logo</key>
			<string>95X</string>
			<key>link</key>
			<string>http://www.streamlicensing.com/directory/index.cgi/playlist.pls?action=playlist&amp;type=pls&amp;sid=457&amp;stream_id=757</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/95x-fm-san-juan,19563.m3u</string>
			<key>note</key>
			<string>Top Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Allegro 91.3 FM</string>
			<key>logo</key>
			<string>Allegro</string>
			<key>link</key>
			<string>http://192.254.105.36:8080/broadwave.m3u?src=1&amp;rate=1</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/allegro-91-3-fm,19560.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Católica 88.9 FM</string>
			<key>logo</key>
			<string>88.9</string>
			<key>link</key>
			<string>http://stream.rarserver.net:8078/catolicapr</string>
			<key>http</key>
			<string>http://stream.rarserver.net:8078/catolicapr.m3u</string>
			<key>note</key>
			<string>Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Clamor 89.3 FM</string>
			<key>logo</key>
			<string>Clamor</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-clamor-89-3-fm,18229.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Culebra (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Estereo Tempo 96.5 FM</string>
			<key>logo</key>
			<string>Estereo</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/estereo-tempo-96-5-fm,19565.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Familia 92.1 FM</string>
			<key>logo</key>
			<string>Familia</string>
			<key>link</key>
			<string>http://ice.eleden.com:8000/laestaciondelafamiliapr.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fidelity 95.7 FM</string>
			<key>logo</key>
			<string>Fidelity</string>
			<key>link</key>
			<string>http://server7.servistreaming.com:10036/stream.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM 96</string>
			<key>logo</key>
			<string>96</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-fm-96,19564.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>FOX Sports</string>
			<key>logo</key>
			<string>Sports</string>
			<key>link</key>
			<string>http://stream.revma.ihrhls.com/zc4732.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fresh 99.9 FM</string>
			<key>logo</key>
			<string>Fresh</string>
			<key>link</key>
			<string>http://204.12.193.98:8173/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hot 102</string>
			<key>logo</key>
			<string>102</string>
			<key>link</key>
			<string>http://server7.servistreaming.com:10024/stream.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>iHeart Latino Hits</string>
			<key>logo</key>
			<string>iHeart</string>
			<key>link</key>
			<string>http://stream.revma.ihrhls.com/zc7193.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Joe 106.1 FM</string>
			<key>logo</key>
			<string>Joe</string>
			<key>link</key>
			<string>http://s8.myradiostream.com:7808/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top</string>
		</dict>
		<dict>
			<key>name</key>
			<string>K-LOVE</string>
			<key>logo</key>
			<string>K-LOVE</string>
			<key>link</key>
			<string>http://maestro.emfcdn.com/stream_for/k-love/web/mp3</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kodesh 89.3 FM</string>
			<key>logo</key>
			<string>Kodesh</string>
			<key>link</key>
			<string>http://stream.tuenlacecristiano.com:8006/stream.m3u.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>KQ 105</string>
			<key>logo</key>
			<string>KQ</string>
			<key>link</key>
			<string>http://live.wostreaming.net/direct/univision-wkaqfmmp3-ibc1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Nueva 94</string>
			<key>logo</key>
			<string>Nueva</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/la-nueva-94,17756.m3u</string>
			<key>http</key>
			<string>http://live.wostreaming.net/direct/sbsystems-wodafmaac-ib-64</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>La X 100.7 FM</string>
			<key>logo</key>
			<string>X</string>
			<key>link</key>
			<string>http://wow.eleden.com/lax/lax.stream/playlist.m3u8</string>
			<key>http</key>
			<string>http://ice.eleden.com:8000/lax.ogg.m3u</string>
			<key>note</key>
			<string>News, Top Music (Bayamon, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Magic 97.3 FM</string>
			<key>logo</key>
			<string>Magic</string>
			<key>link</key>
			<string>http://ice.eleden.com/magic.aac.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Oldies, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MEGA 106.9 FM</string>
			<key>logo</key>
			<string>MEGA</string>
			<key>link</key>
			<string>http://live.wostreaming.net/direct/sbsystems-wmegfmaac-ib-64</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/mega-106-9-fm,14779.m3u</string>
			<key>note</key>
			<string>Top Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Noti Uno 630 AM</string>
			<key>logo</key>
			<string>Noti</string>
			<key>link</key>
			<string>http://68.235.35.243:9027/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/noti-uno-630-am,17576.m3u</string>
			<key>note</key>
			<string>News, Talk (Rio Piedras, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Noticias 580 AM WKAQ</string>
			<key>logo</key>
			<string>Noticias</string>
			<key>link</key>
			<string>http://live.wostreaming.net/direct/univision-wkaqammp3-ibc1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk, Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nueva Vida 97.7 FM</string>
			<key>logo</key>
			<string>Vida</string>
			<key>link</key>
			<string>http://radio.ministeriotv.com:8042/live.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/nueva-vida-97-7-fm,13717.m3u</string>
			<key>note</key>
			<string>Talk (Caguas, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Redentor 104 FM</string>
			<key>logo</key>
			<string>Redentor</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/redentor-104-fm,13720.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Renacer 106.1 FM</string>
			<key>logo</key>
			<string>Renacer</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/renacer-106-1-fm,13723.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sacra 91.7 FM</string>
			<key>logo</key>
			<string>Sacra</string>
			<key>link</key>
			<string>http://wow.eleden.com/rsacrab/rsacrab.stream/playlist.m3u8</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/sacra-91-7-fm,19561.m3u</string>
			<key>note</key>
			<string>Quebradillas (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Salsoul 99.1 FM</string>
			<key>logo</key>
			<string>Salsoul</string>
			<key>link</key>
			<string>http://68.235.35.243:8001/listen.pls?sid=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Super K 106.5 FM</string>
			<key>logo</key>
			<string>106</string>
			<key>link</key>
			<string>http://69.175.122.202:8252/live.m3u</string>
			<key>http</key>
			<string>http://centova2.whsh4u.com:9179/stream?type=http&amp;nocache=1</string>
			<key>note</key>
			<string>Top Music (Arecibo, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>The Rock Radio Network</string>
			<key>logo</key>
			<string>Rock</string>
			<key>link</key>
			<string>http://tvportal.unored.com:4025/rock24k.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Triunfo FM 96.9</string>
			<key>logo</key>
			<string>Triunfo</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/triunfo-fm-96-9,18245.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Manati (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Universidad 89.7 FM</string>
			<key>logo</key>
			<string>Universidad</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-universidad-89-7-fm,19558.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk, Top</string>
		</dict>
		<dict>
			<key>name</key>
			<string>VID 90 90.3 FM</string>
			<key>logo</key>
			<string>VID</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/vid-90-90-3-fm,19559.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Anasco (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>WAPA La Poderosa 680 AM</string>
			<key>logo</key>
			<string>WAPA</string>
			<key>link</key>
			<string>http://unoredradio.com:9658/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/wapa-radio-680-am,18232.m3u</string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>WCRP Revelación 88.1 FM</string>
			<key>logo</key>
			<string>WCRP</string>
			<key>link</key>
			<string>http://tvportal.unored.com:4028/revelacion.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>WGIT Faro de Santidad</string>
			<key>logo</key>
			<string>WGIT</string>
			<key>link</key>
			<string>https://5dbcd1053301e.streamlock.net:4443/farodesantidad/farodesantidad/playlist.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>WIAC 740 AM</string>
			<key>logo</key>
			<string>WIAC</string>
			<key>link</key>
			<string>http://166.88.21.98:9546/;</string>
			<key>http</key>
			<string>http://166.88.21.98:9546/listen.pls</string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>WIPR 940 AM</string>
			<key>logo</key>
			<string>WIPR</string>
			<key>link</key>
			<string>http://192.254.105.36:8080/broadwave.m3u?src=2&amp;rate=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>WOLA Radio Procer</string>
			<key>logo</key>
			<string>WOLA</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/wola-radio-procer,18780.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Barranquitas (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>WQBS Noticias 870 AM</string>
			<key>logo</key>
			<string>870</string>
			<key>link</key>
			<string>http://174.36.206.197:7092/listen.pls?sid=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>WRSO Acción 97.9</string>
			<key>logo</key>
			<string>WRSO</string>
			<key>link</key>
			<string>http://stream.revma.ihrhls.com/zc7959.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>WRXD Play 96 FM</string>
			<key>logo</key>
			<string>WRXD</string>
			<key>link</key>
			<string>http://live.wostreaming.net/direct/sbsystems-wrxdfmaac1-ib-64</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>WXEW Victoria 840 AM</string>
			<key>logo</key>
			<string>Victoria</string>
			<key>link</key>
			<string>http://server10.servistreaming.com:9039/listen.pls?sid=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Top</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Yunque 93</string>
			<key>logo</key>
			<string>Yunque</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/yunque-93,19562.m3u</string>
			<key>http</key>
			<string>http://server7.servistreaming.com:10021/stream?type=.mp3</string>
			<key>note</key>
			<string>Naguabo (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Zeta 93 FM</string>
			<key>logo</key>
			<string>Zeta</string>
			<key>link</key>
			<string>http://live.wostreaming.net/direct/sbsystems-wzntfmaac-ib-64</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/zeta-93-fm,13718.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
	</array>
</dict>
</plist>
