<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string></string>
		<key>Main</key>
		<string></string>
		<key>Back</key>
		<string></string>
		<key>Banner</key>
		<string></string>
		<key>Show1</key>
		<string></string>
		<key>Show2</key>
		<string></string>
		<key>Show3</key>
		<string></string>
		<key>Show4</key>
		<string></string>
		<key>Alarm</key>
		<string></string>
		<key>CustomBanner</key>
		<string></string>
		<key>CustomSplash</key>
		<string></string>
		<key>Header</key>
		<string></string>
		<key>Footer</key>
		<string></string>
		<key>Email</key>
		<string>ios.apps.community@gmail.com</string>
		<key>Alternative</key>
		<string></string>
		<key>Application</key>
		<string></string>
		<key>Developer</key>
		<string></string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Menu</key>
	<array>
		<string>Top</string>
		<string>News</string>
		<string>Local</string>
		<string>Classic</string>
		<string>Music</string>
		<string>Sport</string>
		<string>Talk</string>
		<string>Youth</string>
		<string>Oldies</string>
	</array>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>KSBS Island 92.1 FM</string>
			<key>logo</key>
			<string>KSBS</string>
			<key>link</key>
			<string>http://205.161.15.113:88/broadwave.mp3?src=3&amp;kbps=128</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>American Samoa</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kiribati</string>
			<key>logo</key>
			<string>Kiribati</string>
			<key>link</key>
			<string>http://streamer5.rightclickitservices.com:9790/listen.pls?sid=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Kiribati</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nauru 105.1 FM</string>
			<key>logo</key>
			<string>Nauru</string>
			<key>link</key>
			<string>http://radionauru.nr:8000/live.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Nauru</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Djiido</string>
			<key>logo</key>
			<string>Djiido</string>
			<key>link</key>
			<string>http://radiodjiido.nc:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>New Caledonia</string>
		</dict>
		<dict>
			<key>name</key>
			<string>La 1ère</string>
			<key>logo</key>
			<string>1ere</string>
			<key>link</key>
			<string>http://radios.la1ere.fr/nouvellecaledonie</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>New Caledonia</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRJ</string>
			<key>logo</key>
			<string>NRJ</string>
			<key>link</key>
			<string>http://testradio01.ice.infomaniak.ch/testradio01-192.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>New Caledonia</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Océane FM</string>
			<key>logo</key>
			<string>Oceane</string>
			<key>link</key>
			<string>http://radio.oceanefm.nc:8000/oceanenc.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>New Caledonia</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rythme Bleu</string>
			<key>logo</key>
			<string>Rythme</string>
			<key>link</key>
			<string>http://radio.lagoon.nc/rrb.m3u</string>
			<key>http</key>
			<string>https://stream.rrb.nc/</string>
			<key>note</key>
			<string>New Caledonia</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC World Service</string>
			<key>logo</key>
			<string>BBC</string>
			<key>link</key>
			<string>http://www.bbc.co.uk/worldservice/meta/live/mp3/eneuk.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Northern Mariana Islands</string>
		</dict>
		<dict>
			<key>name</key>
			<string>KKMP Man&apos;nge Elle&apos; </string>
			<key>logo</key>
			<string>KKMP</string>
			<key>link</key>
			<string>https://s2.yesstreaming.net/proxy/bluecont?mp=/live</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Northern Mariana Islands</string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM100</string>
			<key>logo</key>
			<string>FM100</string>
			<key>link</key>
			<string>http://124.240.197.88:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Papua New Guinea</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Maria</string>
			<key>logo</key>
			<string>Maria</string>
			<key>link</key>
			<string>http://dreamsiteradiocp.com:8030/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-maria-no-te-hau,898.m3u</string>
			<key>note</key>
			<string>Papua New Guinea</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Wantok Light</string>
			<key>logo</key>
			<string>Wantok</string>
			<key>link</key>
			<string>http://ice6.securenetsystems.net/PNGRADIO.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Papua New Guinea</string>
		</dict>
		<dict>
			<key>name</key>
			<string>1</string>
			<key>logo</key>
			<string>1</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-1,14111.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Tahiti</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tiare FM</string>
			<key>logo</key>
			<string>Tiare</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/tiare-fm,899.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Tahiti</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Letio FM87.5</string>
			<key>logo</key>
			<string>Letio</string>
			<key>link</key>
			<string>http://stereo.wavestreamer.com:5856/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Tonga</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TBC</string>
			<key>logo</key>
			<string>TBC</string>
			<key>link</key>
			<string>http://tbcletio.serverroom.us:8142/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Tonga</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Capital FM107</string>
			<key>logo</key>
			<string>Capital</string>
			<key>link</key>
			<string>http://s1.wohooo.net:8021/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Vanuatu</string>
		</dict>
	</array>
</dict>
</plist>
