<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>2772386890</string>
		<key>Back</key>
		<string>6328488524</string>
		<key>Banner</key>
		<string>9884590155</string>
		<key>Show1</key>
		<string>REMOVED</string>
		<key>Show2</key>
		<string>REMOVED</string>
		<key>Show3</key>
		<string>REMOVED</string>
		<key>Show4</key>
		<string>REMOVED</string>
		<key>Alarm</key>
		<string>2744466733</string>
		<key>CustomBanner</key>
		<string>5179058386</string>
		<key>CustomSplash</key>
		<string>6136916839</string>
		<key>Header</key>
		<string>8926731704</string>
		<key>Footer</key>
		<string>3454913176</string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1444331737</string>
		<key>Developer</key>
		<string>1239592099</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Lietuvos Radijas 1</string>
			<key>logo</key>
			<string>1</string>
			<key>link</key>
			<string>http://82.135.234.195:8000/lr.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News/Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Lietuvos Radijas Klasika</string>
			<key>logo</key>
			<string>Klasika</string>
			<key>link</key>
			<string>http://82.135.234.195:8000/klasika.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Classical</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Lietuvos Radijas Opus 3</string>
			<key>logo</key>
			<string>3</string>
			<key>link</key>
			<string>http://82.135.234.195:8000/opus3.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Dance</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Classic Rock FM</string>
			<key>logo</key>
			<string>Rock</string>
			<key>link</key>
			<string>http://5.20.223.18/crf32.aac.m3u</string>
			<key>http</key>
			<string>http://5.20.223.18/crf64.aac.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>European Hit Radio</string>
			<key>logo</key>
			<string>European</string>
			<key>link</key>
			<string>http://84.46.162.57:8000/ehr.m3u</string>
			<key>http</key>
			<string>http://84.46.162.57:8000/ehr2.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>EXTRA FM</string>
			<key>logo</key>
			<string>EXTRA</string>
			<key>link</key>
			<string>http://82.135.234.195:8000/extrafm.mp3</string>
			<key>http</key>
			<string>http://82.135.234.195:8000/extrafm.mp3.m3u</string>
			<key>note</key>
			<string>Kaunas (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM99 (Alytaus Radijas)</string>
			<key>logo</key>
			<string>FM99</string>
			<key>link</key>
			<string>http://82.135.234.195:8000/fm99.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Geras FM</string>
			<key>logo</key>
			<string>Geras</string>
			<key>link</key>
			<string>http://82.135.234.195:8000/gerasfm.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Dance</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Gold FM</string>
			<key>logo</key>
			<string>Gold</string>
			<key>link</key>
			<string>http://82.135.234.195:8000/goldfm.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Oldies</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Jazz FM 99,3</string>
			<key>logo</key>
			<string>Jazz</string>
			<key>link</key>
			<string>http://jazzfm.lt/wp-content/uploads/2016/02/jazzfm.pls</string>
			<key>http</key>
			<string>http://82.135.234.195:8000/jazzfm.mp3.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Laluna</string>
			<key>logo</key>
			<string>Laluna</string>
			<key>link</key>
			<string>http://stream.laluna.lt/laluna/mp3.m3u</string>
			<key>http</key>
			<string>http://stream.laluna.lt/laluna/high.m3u</string>
			<key>note</key>
			<string>Klaipeda (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Lietus</string>
			<key>logo</key>
			<string>Lietus</string>
			<key>link</key>
			<string>http://radio.lietus.fm/LIETUS.m3u</string>
			<key>http</key>
			<string>http://stream.m-1.fm/lietus/aacp.m3u</string>
			<key>note</key>
			<string>Pop Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>M-1</string>
			<key>logo</key>
			<string>M-1</string>
			<key>link</key>
			<string>http://radio.m-1.fm/m1/aacp.m3u</string>
			<key>http</key>
			<string>http://radio.m-1.fm/m1/mp3.m3u</string>
			<key>note</key>
			<string>Pop Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>M-1 Plius</string>
			<key>logo</key>
			<string>Plius</string>
			<key>link</key>
			<string>http://stream.m-1.fm/M-1PLIUS.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Marijos radijas</string>
			<key>logo</key>
			<string>Marijos</string>
			<key>link</key>
			<string>http://streamer.marijosradijas.lt:8001/marijosradijas.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Kaunas (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Neringa FM</string>
			<key>logo</key>
			<string>Neringa</string>
			<key>link</key>
			<string>http://82.135.234.195:8000/neringafm.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Power Hit Radio</string>
			<key>logo</key>
			<string>Power</string>
			<key>link</key>
			<string>http://power-stream.data.lt:8000/PHR.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 10 / Dance</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pūkas</string>
			<key>logo</key>
			<string>Pukas</string>
			<key>link</key>
			<string>http://82.135.234.195:8000/pukas.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop (Kaunas)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pūkas 2</string>
			<key>logo</key>
			<string>2</string>
			<key>link</key>
			<string>http://82.135.234.195:8000/pukas2.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Kaunas (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pulsas</string>
			<key>logo</key>
			<string>Pulsas</string>
			<key>link</key>
			<string>http://212.24.103.40:8000/listen.pls?sid=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Panevėžys (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radijas TAU 102.9 FM</string>
			<key>logo</key>
			<string>TAU</string>
			<key>link</key>
			<string>http://www.tau.lt/tau.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Kaunas (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radiocentras</string>
			<key>logo</key>
			<string>Radiocentras</string>
			<key>link</key>
			<string>http://84.46.205.13/rc128.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radijo Stotis Kelyje Kaunas</string>
			<key>logo</key>
			<string>Kaunas</string>
			<key>link</key>
			<string>http://82.135.234.195:8000/kelyje_kaunas.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music/Information</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radijo Stotis Kelyje Klaipėda</string>
			<key>logo</key>
			<string>Kelyje</string>
			<key>link</key>
			<string>http://82.135.234.195:8000/kelyje_klaipeda.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music/Information</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radijo Stotis Kelyje Vilnius</string>
			<key>logo</key>
			<string>Stotis</string>
			<key>link</key>
			<string>http://82.135.234.195:8000/kelyje_vilnius.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music/Information</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Znad Wilii</string>
			<key>logo</key>
			<string>Znad</string>
			<key>link</key>
			<string>http://play.zw.lt:8000/zw128.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio ZW Fun</string>
			<key>logo</key>
			<string>ZW</string>
			<key>link</key>
			<string>http://play.zw.lt:8000/zwfun.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Raduga 100.8 FM</string>
			<key>logo</key>
			<string>Raduga</string>
			<key>link</key>
			<string>http://stream.raduga.lt/raduga/high.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music/Information (Klaipeda)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Relax FM</string>
			<key>logo</key>
			<string>Relax</string>
			<key>link</key>
			<string>http://5.20.223.18/relaxfm128.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>RS2</string>
			<key>logo</key>
			<string>RS2</string>
			<key>link</key>
			<string>http://rs2.lt/rs2.lt.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Šiauliai (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Russkoje Radio Baltija</string>
			<key>logo</key>
			<string>Russkoje</string>
			<key>link</key>
			<string>http://5.20.223.18/rrb128.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Saulės radijas</string>
			<key>logo</key>
			<string>radijas</string>
			<key>link</key>
			<string>http://saule-mp3.vinlita.lt:8008/stream.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Šiauliai (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Start FM</string>
			<key>logo</key>
			<string>Start</string>
			<key>link</key>
			<string>http://eteris.startfm.lt/startfm.mp3</string>
			<key>http</key>
			<string>http://eteris.startfm.lt:8000/startfm.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Utenos radijas</string>
			<key>logo</key>
			<string>Utenos</string>
			<key>link</key>
			<string>http://gyvai.utenosradijas.lt:8010/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Utena (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Zip FM</string>
			<key>logo</key>
			<string>Zip</string>
			<key>link</key>
			<string>http://84.46.205.13/zipfm64.aac.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Dance</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Žinių Radijas</string>
			<key>logo</key>
			<string>Radija</string>
			<key>link</key>
			<string>http://netradio.ziniur.lt/ziniur_64.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
	</array>
</dict>
</plist>
