<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string></string>
		<key>Back</key>
		<string></string>
		<key>Banner</key>
		<string></string>
		<key>Show1</key>
		<string></string>
		<key>Show2</key>
		<string></string>
		<key>Show3</key>
		<string></string>
		<key>Show4</key>
		<string></string>
		<key>Alarm</key>
		<string></string>
		<key>CustomBanner</key>
		<string></string>
		<key>CustomSplash</key>
		<string></string>
		<key>Header</key>
		<string></string>
		<key>Footer</key>
		<string></string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string></string>
		<key>Application</key>
		<string></string>
		<key>Developer</key>
		<string></string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>105.1 Crossover FM</string>
			<key>logo</key>
			<string>Crossover</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/105-1-crossover-fm-manila,5254.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>106.1 Radio Boracay</string>
			<key>logo</key>
			<string>Boracay</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/106-1-radio-boracay,10631.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>911FM True Radio</string>
			<key>logo</key>
			<string>True</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/911fm-true-radio,20550.m3u</string>
			<key>http</key>
			<string>http://us7.streamingpulse.com/3361/?pl=winamp&amp;c=911FM</string>
			<key>note</key>
			<string>Tagbilaran (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Air Waves Mellow DWLL 94.7 FM</string>
			<key>logo</key>
			<string>AWFM</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/air-waves-fm-mellow-touch-awfm,13201.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk, Top Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Barangay 99.5 RT Cebu DWLS</string>
			<key>logo</key>
			<string>Barangay</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/barangay-99-5-rt-cebu,18126.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Boracay Beach Radio 97.3 FM</string>
			<key>logo</key>
			<string>Beach</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/boracay-beach-radio-97-3-fm,16946.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top Music (Kalibo, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cool FM 90.1</string>
			<key>logo</key>
			<string>Cool</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/cool-fm-90-1,16912.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dominican Radio 102.3 FM Manaoag</string>
			<key>logo</key>
			<string>Manaoag</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/dominican-radio-102-3-fm-manaoag,16982.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DWAM 99.1 Spirit FM</string>
			<key>logo</key>
			<string>DWAM</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/99-1-spirit-fm-dwam-fm,13728.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Batanga (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DWAQ FM 107.5</string>
			<key>logo</key>
			<string>DWAQ</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/dwaqfm-107-5,19566.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Legazpi (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DWAV Wave 89.1 FM</string>
			<key>logo</key>
			<string>Wave</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/wave-89-1-fm,850.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DWBR Radio 104.3 FM</string>
			<key>logo</key>
			<string>DWBR</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/dwbr-radio-104-3-fm,20170.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Quezon (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DWFM 5 News 92.3 FM</string>
			<key>logo</key>
			<string>5</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radyo-5-92-3-news-fm-dwfm,16195.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Sport (Mandaluyong, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DWGB 97.1 OKFM</string>
			<key>logo</key>
			<string>OKFM</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/97-1-okfm-dwgb-fm,17181.m3u</string>
			<key>http</key>
			<string>http://50.97.94.44:8020/;</string>
			<key>note</key>
			<string>Legazpi (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DWIZ 882</string>
			<key>logo</key>
			<string>882</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/dwiz-882-khz,6690.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DWIZ 89.3 FM News Radio Dagupan</string>
			<key>logo</key>
			<string>DWIZ</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/dwiz-89-3-fm-news-radio-dagupan,17986.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Sport, Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DWJV 96.7 FM Power FM</string>
			<key>logo</key>
			<string>DWJV</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/dwjw-96-7-fm-power-fm,20548.m3u</string>
			<key>http</key>
			<string>https://stream.zenolive.com/n4q1s7r4qzzuv.aac</string>
			<key>note</key>
			<string>Naga (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DWJX OKFM 89.5 FM Sorsogon</string>
			<key>logo</key>
			<string>DWJX</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/dwjx-okfm-89-5-fm-sorsogon-city,20454.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DWKY 91.5 FM Win Radio</string>
			<key>logo</key>
			<string>Win</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/91-5-fm-win-radio,16395.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-dwky-91-5-fm,847.m3u</string>
			<key>note</key>
			<string>Music (Mandaluyong, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DWQZ 97.9 Home Radio</string>
			<key>logo</key>
			<string>DWQZ</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/97-9-home-radio,13205.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top Music (Iloilo, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DWRK Easy Rock 96.9 FM</string>
			<key>logo</key>
			<string>DWRK</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/dwrk-easy-rock-96-9-fm,16196.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>DWRR 101.9 FOR LIFE</string>
			<key>logo</key>
			<string>DWRR</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/dwrr-101-9-for-life-manila,11792.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>DWSB 89.5 Subic Bay</string>
			<key>logo</key>
			<string>Subic</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/89-5-subic-bay-radio-dwsb,13200.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>DWXI El Shaddai 1314 AM</string>
			<key>logo</key>
			<string>DWXI</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/dwxi-el-shaddai-1314-am,15195.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Makati (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DXFR Freedom Online Radio 104.0</string>
			<key>logo</key>
			<string>Freedom</string>
			<key>link</key>
			<string>https://cp3.shoutcheap.com:2199/tunein/filgloba.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/freedom-online-radio-104-0,17060.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DXRK Magnum 99.9 FM</string>
			<key>logo</key>
			<string>DXRK</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/magnum-99-9-fm-dxrk,17311.m3u</string>
			<key>http</key>
			<string>http://162.210.196.142:14764/;stream.mp3</string>
			<key>note</key>
			<string>News, Music (Cagayan de Oro, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DXRZ RMN Zamboanga</string>
			<key>logo</key>
			<string>DXRZ</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/dxrz-rmn-zamboanga,17758.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Zamboanga (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DYFR 98.7 FM</string>
			<key>logo</key>
			<string>DYFR</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/dyfr-98-7-fm,17988.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Cebu (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DYNS Kiss FM 103.7</string>
			<key>logo</key>
			<string>DYNS</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/dyns-kiss-fm-103-7,20546.m3u</string>
			<key>http</key>
			<string>https://stream.zenolive.com/qnzf7xyk0wzuv.aac</string>
			<key>note</key>
			<string>Catarman (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DYOK - Aksyon Radyo Iloilo 720 AM</string>
			<key>logo</key>
			<string>720</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/dyok-aksyon-radyo-iloilo-720-am,17993.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/aksyon-radio-iloilo-720,16737.m3u</string>
			<key>note</key>
			<string>News, Talk (Iloilo, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DYRD 1161 AM</string>
			<key>logo</key>
			<string>1161</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/dyrd-1161-am,16947.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk (Tagbilaran, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DYTR 1116 AM</string>
			<key>logo</key>
			<string>1116</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/dytr-1116-am,20549.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk (Bohol, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DZAS 702</string>
			<key>logo</key>
			<string>DZAS</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/dzas,6688.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DZBB 594 Super Radyo</string>
			<key>logo</key>
			<string>594</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/dzbb-594-super-radyo,843.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>DZFE 98.7 FM</string>
			<key>logo</key>
			<string>DZFE</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/dzfe-98-7-fm,17989.m3u</string>
			<key>http</key>
			<string>http://sg-icecast.eradioportal.com:8000/febc_dzfe</string>
			<key>note</key>
			<string>Music (Pasig, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DZGB AM 729</string>
			<key>logo</key>
			<string>729</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/dzgb-am-729-khz,17180.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Legazpi (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DZLL FM 107.1 FM MemoRies</string>
			<key>logo</key>
			<string>DZLL</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/dzll-fm-107-1-fm,19298.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music (Baguio, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DZMB Love Radio Manila 90.7</string>
			<key>logo</key>
			<string>DZMB</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/90-7-love-radio-manila,11791.m3u</string>
			<key>http</key>
			<string>https://manilabr.radioca.st/;</string>
			<key>note</key>
			<string>Top Music, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DZMD 1161 AM</string>
			<key>logo</key>
			<string>DZMD</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/dzmd-1161-am,18498.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Daet Camarines Norte (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DZMM Radyo Patrol 630</string>
			<key>logo</key>
			<string>630</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/dzmm-radyo-patrol-630,18418.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News (Quezon, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DZMS 1251 AM</string>
			<key>logo</key>
			<string>1251</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/dzms-1251-am,18497.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Sorsogon (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DZOK 97.5 OKFM</string>
			<key>logo</key>
			<string>DZOK</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/dzok-97-5-okfm,18392.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top Music (Naga, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DZRB RP1 Radyo Pilipinas Uno 738</string>
			<key>logo</key>
			<string>RP1</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/rp1-radyo-pilipinas-uno,20171.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DZRB Radyo ng Bayan 738</string>
			<key>logo</key>
			<string>738</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/dzrb-radyo-ng-bayan-738-khz,6691.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>DZRH 666</string>
			<key>logo</key>
			<string>666</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/dzrh-666khz-manila,6687.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DZRJ 810 AM The Voice of the Philippines</string>
			<key>logo</key>
			<string>810</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/dzrj-810-am-the-voice-of-the-philippines,13222.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>DZRJ UR 105.9 FM</string>
			<key>logo</key>
			<string>DZRJ</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/ur-105-9-fm-dzrj,13207.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DZRM 87.5 FM</string>
			<key>logo</key>
			<string>DZRM</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/dzrm-radio-87-5-fm,8454.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>DZRP 94.5 FM</string>
			<key>logo</key>
			<string>DZRP</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/dzrp,8453.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>DZSR</string>
			<key>logo</key>
			<string>DZSR</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/dzsr,8452.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DZSR RP2 Radyo Pilipinas Dos 918</string>
			<key>logo</key>
			<string>RP2</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/rp2-radyo-pilipinas-dos,20172.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DZWX Bombo Radyo Baguio</string>
			<key>logo</key>
			<string>DZWX</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/bombo-radyo-baguio-dzwx,13202.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News (Baguio, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DZXL RMN News 558</string>
			<key>logo</key>
			<string>DZXL</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/dzxl-rmn-news,6689.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Energy FM 91.5 Metro</string>
			<key>logo</key>
			<string>Energy</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/energy-fm-91-5-metro-manila,13203.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>FILIPINO MUSIC CENTRAL</string>
			<key>logo</key>
			<string>CENTRAL</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/filipino-music-central,20547.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hot FM 104.5</string>
			<key>logo</key>
			<string>Hot</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/hot-fm-104-5-fm-iloilo,17525.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Iloilo (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>iFM 93.9 Davao</string>
			<key>logo</key>
			<string>Davao</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/ifm-93-9-davao,16995.m3u</string>
			<key>http</key>
			<string>https://magic.radioca.st/stream</string>
			<key>note</key>
			<string>Top Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>iFM 93.9 Manila</string>
			<key>logo</key>
			<string>iFM</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/ifm-93-9-manila,6693.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>iFM Dagupan 104.7</string>
			<key>logo</key>
			<string>Dagupan</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/ifm-dagupan-104-7,6694.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>iFM Iloilo</string>
			<key>logo</key>
			<string>Iloilo</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/ifm-iloilo,17346.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Jam 88.3 FM</string>
			<key>logo</key>
			<string>Jam</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/jam-88-3-fm,4420.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>KBYN (Kabayan)</string>
			<key>logo</key>
			<string>KBYN</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radyo-kbyn,17351.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Magic 89.9 FM</string>
			<key>logo</key>
			<string>Magic</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/magic-89-9-fm,845.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Monster RX 93.1 FM</string>
			<key>logo</key>
			<string>Monster</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/monster-radio-rx-93-1-fm,846.m3u</string>
			<key>http</key>
			<string>http://sg-icecast.eradioportal.com:8000/monsterrx</string>
			<key>note</key>
			<string>Top Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Monster RX Cebu 105.9 FM</string>
			<key>logo</key>
			<string>RX</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/rx-cebu-105-9-fm,17995.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top Music, Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MOR 101.5 Bacolod</string>
			<key>logo</key>
			<string>Bacolod</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/mor-101-5-bacolod,16812.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Oldies, Local, Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MOR 93.9 Legazpi</string>
			<key>logo</key>
			<string>Legazpi</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/mor-93-9-legazpi,16194.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Oldies, Local, Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MOR Cebu 97.1 FM DYLS</string>
			<key>logo</key>
			<string>DYLS</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/mor-cebu-97-1-fm-dyls,18903.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Oldies, Local, Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MOR Iloilo</string>
			<key>logo</key>
			<string>MOR</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/mor-iloilo,17348.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Oldies, Local, Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pinoy Light Rock OPM Filipino</string>
			<key>logo</key>
			<string>OPM</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/pinoy-lightrock-opm-filipino,19420.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pinoy Radio</string>
			<key>logo</key>
			<string>Pinoy</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/pinoy-radio,16911.m3u</string>
			<key>http</key>
			<string>https://usa5.fastcast4u.com/proxy/mcbnprc?mp=/1</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pinoy Seoul Radio</string>
			<key>logo</key>
			<string>Seoul</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/pinoy-seoul-radio,20487.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Natin 101.3 FM Kiamba</string>
			<key>logo</key>
			<string>Kiamba</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radyo-natin-101-3-fm,14134.m3u</string>
			<key>http</key>
			<string>http://sg-icecast.eradioportal.com:8000/radyo_natin</string>
			<key>note</key>
			<string>News, Local, Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Natin 105.5 FM Whales</string>
			<key>logo</key>
			<string>Whales</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radyo-natin-fm-105-5,10792.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Local, Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rakista</string>
			<key>logo</key>
			<string>Rakista</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/rakista-radio,16785.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RJ 100.3 FM</string>
			<key>logo</key>
			<string>RJ</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/rj-100-3-fm,13221.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>RMN Cebu</string>
			<key>logo</key>
			<string>Cebu</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/rmn-cebu,17994.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RMN Manila</string>
			<key>logo</key>
			<string>RMN</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/rmn-manila,11444.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rock-it</string>
			<key>logo</key>
			<string>Rock-it</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/rockit-radyo,14479.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Oldies, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Star FM Bacolod 93.3</string>
			<key>logo</key>
			<string>Bacolo</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/star-fm-bacolod-93-3-fm,18922.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top Music, Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Star FM Baguio 89.5</string>
			<key>logo</key>
			<string>Baguio</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/star-fm-baguio-89-5-fm,14592.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top Music, Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Star FM Cebu 95.5</string>
			<key>logo</key>
			<string>Ceb</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/star-fm-cebu-95-5-fm,18921.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top Music, Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Star FM Cotabato 93.7</string>
			<key>logo</key>
			<string>Cotabato</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/star-fm-cotabato-93-7-fm,14589.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top Music, Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Star FM Dagupan 100.7</string>
			<key>logo</key>
			<string>Dagupa</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/star-fm-dagupan-100-7-fm,18920.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top Music, Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Star FM Davao 96.3</string>
			<key>logo</key>
			<string>Dava</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/star-fm-davao-96-3-fm,14593.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top Music, Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Star FM Dipolog 93.3</string>
			<key>logo</key>
			<string>Dipolog</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/star-fm-dipolog-93-3-fm,14591.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top Music, Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Star FM Iloilo 99.5</string>
			<key>logo</key>
			<string>Iloil</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/star-fm-iloilo-99-5-fm,14595.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top Music, Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Star FM Manila 102.7</string>
			<key>logo</key>
			<string>Manila</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/star-fm-manila-102-7-fm,14588.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top Music, Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Star FM Roxas 103.7</string>
			<key>logo</key>
			<string>Roxas</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/star-fm-roxas-103-7-fm,14594.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top Music, Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Star FM Zamboanga 93.9</string>
			<key>logo</key>
			<string>Zamboanga</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/star-fm-zamboanga-93-9-fm,14590.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top Music, Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>UNTV RADIO LA VERDAD 1350</string>
			<key>logo</key>
			<string>UNTV</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/untv-radio-la-verdad-1350-khz,16364.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Quezon (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Wild 92.3 WT</string>
			<key>logo</key>
			<string>Wild</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/wild-fm,17347.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Music (Zamboanga, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>XFM 92.3 FM</string>
			<key>logo</key>
			<string>XFM</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/xfm-92-3-fm,11445.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Y101 FM</string>
			<key>logo</key>
			<string>Y101</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/y101-fm,13726.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Oldies, Top Music (Cebu, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>YES! FM 101.1</string>
			<key>logo</key>
			<string>YES</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/yes-fm-101-1-manila,16736.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Oldies Music</string>
		</dict>
	</array>
</dict>
</plist>
