<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>RTS Info</string>
		<key>logo</key>
		<string>RTS</string>
		<key>link</key>
		<string>https://www.rts.ch/play/tv/rts-info/video/la-chane-dinformation-rts-info-en-continu?id=1967124</string>
		<key>http</key>
		<string>http://www.rts.ch/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RTS Un</string>
		<key>logo</key>
		<string>Un</string>
		<key>link</key>
		<string>http://www.rts.ch/play/tv/direct#?tvLiveId=3608506</string>
		<key>http</key>
		<string>http://www.rts.ch/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RTS Deux</string>
		<key>logo</key>
		<string>Deux</string>
		<key>link</key>
		<string>http://www.rts.ch/play/tv/direct#?tvLiveId=3608517</string>
		<key>http</key>
		<string>http://www.rts.ch/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TeleZüri</string>
		<key>logo</key>
		<string>TeleZuri</string>
		<key>link</key>
		<string>http://www.telezueri.ch/live</string>
		<key>http</key>
		<string>http://www.telezueri.ch/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Canal 9</string>
		<key>logo</key>
		<string>9</string>
		<key>link</key>
		<string>http://canal9.ch/direct/</string>
		<key>http</key>
		<string>http://canal9.ch/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TeleBielingue</string>
		<key>logo</key>
		<string>TeleBielingue</string>
		<key>link</key>
		<string>http://livevideo.infomaniak.com/iframe.php?stream=telebielinguech&amp;name=tbplayer&amp;player=1020</string>
		<key>http</key>
		<string>http://www.telebielingue.ch/de</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tele 1</string>
		<key>logo</key>
		<string>Tele1</string>
		<key>link</key>
		<string>http://www.tele1.ch/</string>
		<key>http</key>
		<string>https://www.youtube.com/user/Tele1AG/videos?view=2&amp;flow=grid&amp;live_view=501</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TVO - Das Ostschweizer Fernsehen</string>
		<key>logo</key>
		<string>TVO</string>
		<key>link</key>
		<string>http://www.tvo-online.ch/?playlist=livestream</string>
		<key>http</key>
		<string>http://www.tvo-online.ch/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Schweiz 5</string>
		<key>logo</key>
		<string>5</string>
		<key>link</key>
		<string>http://www.schweiz5.ch/v2/?page_id=52</string>
		<key>http</key>
		<string>http://www.schweiz5.ch/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TeleBärn</string>
		<key>logo</key>
		<string>TeleBarn</string>
		<key>link</key>
		<string>http://www.telebaern.tv/live</string>
		<key>http</key>
		<string>http://www.telebaern.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>La Télé</string>
		<key>logo</key>
		<string>La</string>
		<key>link</key>
		<string>http://www.latele.ch/live</string>
		<key>http</key>
		<string>http://www.latele.ch/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TVM3</string>
		<key>logo</key>
		<string>3</string>
		<key>link</key>
		<string>http://www.tvm3.tv/</string>
		<key>http</key>
		<string>http://livevideo.infomaniak.com/iframe.php?stream=tvm3&amp;name=html5&amp;player=922</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Telebasel</string>
		<key>logo</key>
		<string>Telebasel</string>
		<key>link</key>
		<string>https://telebasel.ch/live/</string>
		<key>http</key>
		<string>https://telebasel.ch/live/?utm_source=live&amp;utm_medium=button&amp;utm_campaign=Live%20Button</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TeleTicino</string>
		<key>logo</key>
		<string>TeleTicino</string>
		<key>link</key>
		<string>http://www.teleticino.ch/</string>
		<key>http</key>
		<string>http://www.teleticino.ch/palinsesto.php</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SRF 1</string>
		<key>logo</key>
		<string>1</string>
		<key>link</key>
		<string>http://www.srf.ch/livestream/player/srf-1</string>
		<key>http</key>
		<string>http://www.rtr.ch/play/tv/live</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SRF Zwei</string>
		<key>logo</key>
		<string>2</string>
		<key>link</key>
		<string>http://www.srf.ch/livestream/player/srf-2</string>
		<key>http</key>
		<string>http://www.srf.ch/play/tv/live#?tvLiveId=c49c1d64-9f60-0001-1c36-43c288c01a10</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SRF Info</string>
		<key>logo</key>
		<string>SRF</string>
		<key>link</key>
		<string>http://www.srf.ch/livestream/player/srf-info</string>
		<key>http</key>
		<string>http://www.srf.ch/play/tv/live</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RSI LA 1</string>
		<key>logo</key>
		<string>RSI1</string>
		<key>link</key>
		<string>https://www.rsi.ch/play/tv/live#?tvLiveId=livestream_La1</string>
		<key>http</key>
		<string>https://www.rsi.ch/play/tv/live</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RSI LA 2</string>
		<key>logo</key>
		<string>RSI2</string>
		<key>link</key>
		<string>https://www.rsi.ch/play/tv/live#?tvLiveId=livestream_La2</string>
		<key>http</key>
		<string>https://www.rsi.ch/play/tv/live</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Rouge TV</string>
		<key>logo</key>
		<string>Rouge</string>
		<key>link</key>
		<string>http://www.rouge.com/rouge-tv-live</string>
		<key>http</key>
		<string>http://www.rouge.com/rouge-tv-live</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Rouge Pop Rock</string>
		<key>logo</key>
		<string>Rouge1</string>
		<key>link</key>
		<string>http://www.rougefm.com/webtvs.php?tv=rock</string>
		<key>http</key>
		<string>http://www.rouge.com/rouge-tv-live</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Rouge Electro</string>
		<key>logo</key>
		<string>Rouge2</string>
		<key>link</key>
		<string>http://www.rougefm.com/webtvs.php?tv=electro</string>
		<key>http</key>
		<string>http://www.rouge.com/rouge-tv-live</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Rouge Hip Hop &amp; RnB</string>
		<key>logo</key>
		<string>Rouge3</string>
		<key>link</key>
		<string>http://www.rougefm.com/webtvs.php?tv=hiphop</string>
		<key>http</key>
		<string>http://www.rouge.com/rouge-tv-live</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Rouge Latino</string>
		<key>logo</key>
		<string>Rouge4</string>
		<key>link</key>
		<string>http://www.rougefm.com/webtvs.php?tv=latino</string>
		<key>http</key>
		<string>http://www.rouge.com/rouge-tv-live</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bloomberg TV Europe</string>
		<key>logo</key>
		<string>bloomberg</string>
		<key>link</key>
		<string>https://www.bloomberg.com/live/europe</string>
		<key>http</key>
		<string>https://www.bloomberg.com/live/us</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Euronews</string>
		<key>logo</key>
		<string>Euronews</string>
		<key>link</key>
		<string>http://de.euronews.com/live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/euronewsfr/videos?live_view=501&amp;flow=grid&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>EbS Europe by Satellite</string>
		<key>logo</key>
		<string>EbS</string>
		<key>link</key>
		<string>http://ec.europa.eu/avservices/ebs/live.cfm?page=1</string>
		<key>http</key>
		<string>http://ec.europa.eu/avservices/ebs/schedule.cfm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Leman Bleu</string>
		<key>logo</key>
		<string>Leman</string>
		<key>link</key>
		<string>http://www.lemanbleu.ch/fr/Live.html#wrapper</string>
		<key>http</key>
		<string>http://www.lemanbleu.ch/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Dieu</string>
		<key>logo</key>
		<string>Dieu</string>
		<key>link</key>
		<string>http://www.dieutv.com/</string>
		<key>http</key>
		<string>http://www.dieutv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>K-TV</string>
		<key>logo</key>
		<string>K-TV</string>
		<key>link</key>
		<string>http://www3.k-tv.org/live-stream/hohe-qualit%C3%A4t</string>
		<key>http</key>
		<string>http://www3.k-tv.org/live-stream</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ERF</string>
		<key>logo</key>
		<string>ERF</string>
		<key>link</key>
		<string>https://www.erf.de/fernsehen/livestream/4072?reset=1</string>
		<key>http</key>
		<string>https://www.erf.de/fernsehen/4049</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hope</string>
		<key>logo</key>
		<string>Hope</string>
		<key>link</key>
		<string>http://www.hopechannel.de/tv/live/</string>
		<key>http</key>
		<string>http://www.hopechannel.de/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>EWTN</string>
		<key>logo</key>
		<string>EWTN</string>
		<key>link</key>
		<string>http://www.ewtn.de/streaming/player.php</string>
		<key>http</key>
		<string>http://www.ewtn.de/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bibel</string>
		<key>logo</key>
		<string>Bibel1</string>
		<key>link</key>
		<string>http://www.bibeltv.de/livestreams/bibeltv/</string>
		<key>http</key>
		<string>http://www.bibeltv.de/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MTA</string>
		<key>logo</key>
		<string>MTA</string>
		<key>link</key>
		<string>http://www.mta.tv/live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/mtaOnline1/videos?view=2&amp;live_view=501&amp;flow=grid</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Wesal Wiv</string>
		<key>logo</key>
		<string>Wiv</string>
		<key>link</key>
		<string>http://www.wiv-online.tv/</string>
		<key>http</key>
		<string>http://www.wiv-online.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>3sat</string>
		<key>logo</key>
		<string>sat</string>
		<key>link</key>
		<string>http://www.3sat.de/webtv/?live24.rm</string>
		<key>http</key>
		<string>http://www.3sat.de/mediathek/?mode=play&amp;obj=42667</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ZDF</string>
		<key>logo</key>
		<string>ZDF</string>
		<key>link</key>
		<string>https://www.zdf.de/live-tv</string>
		<key>http</key>
		<string>https://www.zdf.de/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tagesschau</string>
		<key>logo</key>
		<string>Tagesschau</string>
		<key>link</key>
		<string>http://www.tagesschau.de/multimedia/livestreams/livestream1/index.html</string>
		<key>http</key>
		<string>http://programm.tagesschau24.de/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Das Erste</string>
		<key>logo</key>
		<string>Erste</string>
		<key>link</key>
		<string>http://www.daserste.de/live/index.html</string>
		<key>http</key>
		<string>http://www.daserste.de/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Deutsche Welle</string>
		<key>logo</key>
		<string>DW1</string>
		<key>link</key>
		<string>http://www.dw.com/en/media-center/live-tv/s-100825?channel=5</string>
		<key>http</key>
		<string>http://www.dw.com/en/media-center/live-tv/s-100825?channel=4</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Der Spiegel</string>
		<key>logo</key>
		<string>Spiegel</string>
		<key>link</key>
		<string>http://www.spiegel.tv/filme/chance-oder-scheitern/</string>
		<key>http</key>
		<string>http://www.spiegel.de/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Canal+</string>
		<key>logo</key>
		<string>Canal+</string>
		<key>link</key>
		<string>http://www.canalplus.fr/pid3580-live-tv-clair.html</string>
		<key>http</key>
		<string>http://www.canalplus.fr/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RMC</string>
		<key>logo</key>
		<string>RMC</string>
		<key>link</key>
		<string>http://rmc.bfmtv.com/mediaplayer/live-audio/</string>
		<key>http</key>
		<string>http://rmcdecouverte.bfmtv.com/mediaplayer-direct/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>iTELE</string>
		<key>logo</key>
		<string>iTELE</string>
		<key>link</key>
		<string>http://www.dailymotion.com/ITELE</string>
		<key>http</key>
		<string>http://www.itele.fr/direct</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sky News</string>
		<key>logo</key>
		<string>Sky</string>
		<key>link</key>
		<string>http://news.sky.com/watch-live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/skynews</string>
	</dict>
</array>
</plist>
