<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>RTS Info</string>
		<key>logo</key>
		<string>RTS</string>
		<key>link</key>
		<string>https://www.rts.ch/play/tv/rts-info/video/la-chane-dinformation-rts-info-en-continu?id=1967124</string>
		<key>http</key>
		<string>http://www.rts.ch/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RTS Un</string>
		<key>logo</key>
		<string>Un</string>
		<key>link</key>
		<string>http://www.rts.ch/play/tv/direct#?tvLiveId=3608506</string>
		<key>http</key>
		<string>http://www.rts.ch/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RTS Deux</string>
		<key>logo</key>
		<string>Deux</string>
		<key>link</key>
		<string>http://www.rts.ch/play/tv/direct#?tvLiveId=3608517</string>
		<key>http</key>
		<string>http://www.rts.ch/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TeleZüri</string>
		<key>logo</key>
		<string>TeleZuri</string>
		<key>link</key>
		<string>http://www.telezueri.ch/live</string>
		<key>http</key>
		<string>http://www.telezueri.ch/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Canal 9</string>
		<key>logo</key>
		<string>9</string>
		<key>link</key>
		<string>http://canal9.ch/direct/</string>
		<key>http</key>
		<string>http://canal9.ch/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tele 1</string>
		<key>logo</key>
		<string>Tele1</string>
		<key>link</key>
		<string>http://www.tele1.ch/</string>
		<key>http</key>
		<string>https://www.youtube.com/user/Tele1AG/videos?view=2&amp;flow=grid&amp;live_view=501</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Schweiz 5</string>
		<key>logo</key>
		<string>5</string>
		<key>link</key>
		<string>http://www.schweiz5.ch/v2/?page_id=52</string>
		<key>http</key>
		<string>http://www.schweiz5.ch/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SRF 1</string>
		<key>logo</key>
		<string>1</string>
		<key>link</key>
		<string>http://www.srf.ch/livestream/player/srf-1</string>
		<key>http</key>
		<string>http://www.rtr.ch/play/tv/live</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SRF Zwei</string>
		<key>logo</key>
		<string>2</string>
		<key>link</key>
		<string>http://www.srf.ch/livestream/player/srf-2</string>
		<key>http</key>
		<string>http://www.srf.ch/play/tv/live#?tvLiveId=c49c1d64-9f60-0001-1c36-43c288c01a10</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SRF Info</string>
		<key>logo</key>
		<string>SRF</string>
		<key>link</key>
		<string>http://www.srf.ch/livestream/player/srf-info</string>
		<key>http</key>
		<string>http://www.srf.ch/play/tv/live</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RSI LA 1</string>
		<key>logo</key>
		<string>RSI1</string>
		<key>link</key>
		<string>https://www.rsi.ch/play/tv/live#?tvLiveId=livestream_La1</string>
		<key>http</key>
		<string>https://www.rsi.ch/play/tv/live</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RSI LA 2</string>
		<key>logo</key>
		<string>RSI2</string>
		<key>link</key>
		<string>https://www.rsi.ch/play/tv/live#?tvLiveId=livestream_La2</string>
		<key>http</key>
		<string>https://www.rsi.ch/play/tv/live</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Rouge TV</string>
		<key>logo</key>
		<string>Rouge</string>
		<key>link</key>
		<string>http://www.rouge.com/rouge-tv-live</string>
		<key>http</key>
		<string>http://www.rouge.com/rouge-tv-live</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Rouge Pop Rock</string>
		<key>logo</key>
		<string>Rouge1</string>
		<key>link</key>
		<string>http://www.rougefm.com/webtvs.php?tv=rock</string>
		<key>http</key>
		<string>http://www.rouge.com/rouge-tv-live</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Rouge Electro</string>
		<key>logo</key>
		<string>Rouge2</string>
		<key>link</key>
		<string>http://www.rougefm.com/webtvs.php?tv=electro</string>
		<key>http</key>
		<string>http://www.rouge.com/rouge-tv-live</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Rouge Hip Hop &amp; RnB</string>
		<key>logo</key>
		<string>Rouge3</string>
		<key>link</key>
		<string>http://www.rougefm.com/webtvs.php?tv=hiphop</string>
		<key>http</key>
		<string>http://www.rouge.com/rouge-tv-live</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Rouge Latino</string>
		<key>logo</key>
		<string>Rouge4</string>
		<key>link</key>
		<string>http://www.rougefm.com/webtvs.php?tv=latino</string>
		<key>http</key>
		<string>http://www.rouge.com/rouge-tv-live</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Euronews</string>
		<key>logo</key>
		<string>Euronews</string>
		<key>link</key>
		<string>http://de.euronews.com/live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/euronewsfr/videos?live_view=501&amp;flow=grid&amp;view=2</string>
	</dict>
</array>
</plist>
