<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string></string>
		<key>Main</key>
		<string></string>
		<key>Back</key>
		<string></string>
		<key>Banner</key>
		<string></string>
		<key>Show1</key>
		<string></string>
		<key>Show2</key>
		<string></string>
		<key>Show3</key>
		<string></string>
		<key>Show4</key>
		<string></string>
		<key>Alarm</key>
		<string></string>
		<key>CustomBanner</key>
		<string></string>
		<key>CustomSplash</key>
		<string></string>
		<key>Header</key>
		<string></string>
		<key>Footer</key>
		<string></string>
		<key>Email</key>
		<string>ios.apps.community@gmail.com</string>
		<key>Alternative</key>
		<string></string>
		<key>Application</key>
		<string></string>
		<key>Developer</key>
		<string></string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Menu</key>
	<array>
		<string>Top</string>
		<string>News</string>
		<string>Local</string>
		<string>Classic</string>
		<string>Music</string>
		<string>Sport</string>
		<string>Talk</string>
		<string>Youth</string>
		<string>Oldies</string>
	</array>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>123 99.7 FM</string>
			<key>logo</key>
			<string>123</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/123-99-7-fm,20067.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Tamale (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>A1 101.1 FM</string>
			<key>logo</key>
			<string>A1</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/a1-radio-101-1-fm,19101.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Bolgatanga (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ABC 100.9 FM</string>
			<key>logo</key>
			<string>ABC</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/abc-radio-100-9-fm,20066.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Tamale (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ability OFM</string>
			<key>logo</key>
			<string>Ability</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/ability-ofm-radio,19637.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Accra FM 100.5</string>
			<key>logo</key>
			<string>Accra</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/accra-fm-100-5,20521.m3u</string>
			<key>http</key>
			<string>https://stream.zenolive.com/vh11r0nbe3quv.aac</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Accra24</string>
			<key>logo</key>
			<string>Accra24</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/accra24,19638.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Adepa 107.3 FM</string>
			<key>logo</key>
			<string>Adepa</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/adepa-107-3-fm,14248.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Adom 106.3 FM</string>
			<key>logo</key>
			<string>Adom</string>
			<key>link</key>
			<string>http://67.159.60.45:8002/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/adom-106-3-fm,10464.m3u</string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ahenfie Radio</string>
			<key>logo</key>
			<string>Ahenfie</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/ahenfie-radio,14250.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ahomka 99.5 FM</string>
			<key>logo</key>
			<string>Ahomka</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-ahomka-99-5-fm,17602.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Elmina (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Akwaaba Radio</string>
			<key>logo</key>
			<string>Akwaaba</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/akwaaba-radio,14251.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Angel FM 96.1</string>
			<key>logo</key>
			<string>Angel</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/angel-fm-96-1,19951.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Kumasi (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Apple 68 FM</string>
			<key>logo</key>
			<string>68</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/apple-68-fm,18325.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Asempa 94.7 FM</string>
			<key>logo</key>
			<string>Asempa</string>
			<key>link</key>
			<string>http://67.159.60.45:8006/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/asempa-94-7-fm,13254.m3u</string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ASHH FM 101.1</string>
			<key>logo</key>
			<string>Ashh</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/ashh-fm-101-1,12743.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music (Kumasi, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC World Service</string>
			<key>logo</key>
			<string>BBC</string>
			<key>link</key>
			<string>http://www.bbc.co.uk/worldservice/meta/live/mp3/eneuk.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bohye 95.3 FM</string>
			<key>logo</key>
			<string>Bohye</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/bohye-95-3-fm,17866.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Kumasi (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Breeze 90.9 FM</string>
			<key>logo</key>
			<string>Breeze</string>
			<key>link</key>
			<string>http://s10.voscast.com:7516/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Citi 97.3 FM</string>
			<key>logo</key>
			<string>Citi</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/citi-97-3-fm,17225.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music, News, Talk, Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Crusaders Radio AFCM</string>
			<key>logo</key>
			<string>Crusaders</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/crusaders-radio-ghana,20395.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Kumasi (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Deliverance Radio</string>
			<key>logo</key>
			<string>Deliverance</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/deliverance-radio,14254.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fox 97.9 FM</string>
			<key>logo</key>
			<string>Fox</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/fox-fm-97-9,19952.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/fox-97-9fm,12745.m3u</string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>GBC Obonu FM 96.5</string>
			<key>logo</key>
			<string>Obonu</string>
			<key>link</key>
			<string>http://67.159.60.45:8050/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>GBC Uniiq FM 95.7</string>
			<key>logo</key>
			<string>Uniiq</string>
			<key>link</key>
			<string>http://67.159.60.45:8112/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Gentlemen Radio</string>
			<key>logo</key>
			<string>Gentlemen</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/gentlemen-radio,19419.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ghana Today</string>
			<key>logo</key>
			<string>Today</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/ghana-today,10469.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ghana Waves</string>
			<key>logo</key>
			<string>Waves</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/ghana-waves-radio,13796.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk, Sport, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ghanaba Radio</string>
			<key>logo</key>
			<string>Ghanaba</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/ghanaba-radio,19117.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Gold 90.5 FM</string>
			<key>logo</key>
			<string>Gold</string>
			<key>link</key>
			<string>http://198.27.83.198:5194/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Green FM 88.5</string>
			<key>logo</key>
			<string>Green</string>
			<key>link</key>
			<string>http://greenfm883.primcast.com:7428/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Happy 98.9 FM</string>
			<key>logo</key>
			<string>Happy</string>
			<key>link</key>
			<string>http://stream.zeno.fm/pcyedn08reruv</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hello 101.3 FM</string>
			<key>logo</key>
			<string>Hello</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/hello-101-3-fm,16488.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk (Kumasi, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>HighLife Radio</string>
			<key>logo</key>
			<string>HighLife</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/highlife-radio-ghana,17449.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hitz FM 103.9</string>
			<key>logo</key>
			<string>Hitz</string>
			<key>link</key>
			<string>http://67.159.60.45:8032/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/103-9-hitz-fm,15964.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hot 93.9 FM</string>
			<key>logo</key>
			<string>Hot</string>
			<key>link</key>
			<string>http://stream.zenolive.com/k7v9k6yn944tv</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/hot-90-0-fm,10471.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Joy 99.7 FM</string>
			<key>logo</key>
			<string>Joy</string>
			<key>link</key>
			<string>http://67.159.60.45:8000/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/joy-99-7-fm,10473.m3u</string>
			<key>note</key>
			<string>News, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kasapa FM 102.3</string>
			<key>logo</key>
			<string>Kasapa</string>
			<key>link</key>
			<string>http://stream.zenolive.com/khacm7nv6gwtv.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/kasapa-fm-102-3,10474.m3u</string>
			<key>note</key>
			<string>News, Talk, Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kessben FM 93.3</string>
			<key>logo</key>
			<string>Kessben</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/kessben-fm-93-3,17152.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music (Kumasi, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Koowaa FM</string>
			<key>logo</key>
			<string>Koowaa</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/koowaa-fm,18937.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Live FM 91.9</string>
			<key>logo</key>
			<string>Live</string>
			<key>link</key>
			<string>http://192.99.56.4/listen/gh3gbtrt6gwtv.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Luv 99.5 FM</string>
			<key>logo</key>
			<string>Luv</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/luv-99-5-fm,13256.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Melody 91.1 FM</string>
			<key>logo</key>
			<string>Melody</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/melody-91-1-fm,15965.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Metro 94.1 FM</string>
			<key>logo</key>
			<string>Metro</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/metro-94-1-fm,18026.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk (Kumasi, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MY FM 94.5</string>
			<key>logo</key>
			<string>M</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/my-fm-94-5,19946.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Sport, News, (Koforidua, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Naspa Radio</string>
			<key>logo</key>
			<string>Naspa</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/naspa-radio,14262.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Neat 100.9 FM</string>
			<key>logo</key>
			<string>Neat</string>
			<key>link</key>
			<string>http://67.159.60.45:8108/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/neat-100-9-fm,18508.m3u</string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nhyira 104.5 FM</string>
			<key>logo</key>
			<string>Nhyira</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/nhyira-104-5-fm,13255.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NKWA Radio</string>
			<key>logo</key>
			<string>NKWA</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/nkwa-radio,16975.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Obimanso Radio</string>
			<key>logo</key>
			<string>Obimanso</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/obimanso-radio,14263.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Okay 101.7 FM	</string>
			<key>logo</key>
			<string>Okay</string>
			<key>link</key>
			<string>http://67.159.60.45:8052/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/okay-101-7-fm,15967.m3u</string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Oliv FM</string>
			<key>logo</key>
			<string>Oliv</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/oliv-fm,19761.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Kumasi (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Oman FM 107.1</string>
			<key>logo</key>
			<string>Oma</string>
			<key>link</key>
			<string>http://omanfm.atunwadigital.streamguys1.com/omanfm</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Otec FM 102.9</string>
			<key>logo</key>
			<string>Otec</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/otec-fm-102-9,20520.m3u</string>
			<key>http</key>
			<string>https://stream.zenolive.com/8rv5ee923p5tv.aac</string>
			<key>note</key>
			<string>News, Talk, Sport (Kumasi, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Peace 104.3 FM</string>
			<key>logo</key>
			<string>Peace</string>
			<key>link</key>
			<string>http://67.159.60.45:8066/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/peace-104-3-fm,15966.m3u</string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rainbow 87.5 FM</string>
			<key>logo</key>
			<string>Rainbow</string>
			<key>link</key>
			<string>http://node-06.zeno.fm/wv4tseqxk8quv</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/rainbow-radio-ghana,17707.m3u</string>
			<key>note</key>
			<string>News, Talk, Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RFI English</string>
			<key>logo</key>
			<string>RFI</string>
			<key>link</key>
			<string>http://icepe1.infomaniak.ch/rfianglais-96k.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sankofa Radio</string>
			<key>logo</key>
			<string>Sankofa</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/sankofa-radio,18528.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk (Kumasi, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Starr 103.5 FM</string>
			<key>logo</key>
			<string>Starr</string>
			<key>link</key>
			<string>http://st2.zenorad.io:14894/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk, Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sunlight Radio</string>
			<key>logo</key>
			<string>Sunlight</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/sunlight-radio,10476.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sweet Melodies 94.3 FM</string>
			<key>logo</key>
			<string>Melodies</string>
			<key>link</key>
			<string>http://67.159.60.45:8046/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Time FM 96.9</string>
			<key>logo</key>
			<string>Time</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/time-fm-96-9,20203.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music, News, Talk, Sport (Kumasi, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Top 103.1 FM</string>
			<key>logo</key>
			<string>To</string>
			<key>link</key>
			<string>http://topfm.primcast.com:5116/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Univers 105.7 FM</string>
			<key>logo</key>
			<string>Univers</string>
			<key>link</key>
			<string>http://78.129.234.163:23504/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Valley View 97.7 FM</string>
			<key>logo</key>
			<string>Valley</string>
			<key>link</key>
			<string>http://s30.myradiostream.com:5938/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>VOA Africa</string>
			<key>logo</key>
			<string>VOA</string>
			<key>link</key>
			<string>https://voa17.akacast.akamaistream.net/7/685/437799/v1/ibb.akacast.akamaistream.net/voa17</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>WORD RADIO</string>
			<key>logo</key>
			<string>WORD</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/word-radio,17548.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Xfm 95.1</string>
			<key>logo</key>
			<string>Xfm</string>
			<key>link</key>
			<string>http://108.178.13.122:8114/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>YFM 107.9</string>
			<key>logo</key>
			<string>YFM</string>
			<key>link</key>
			<string>http://stream.zeno.fm/ykyagk58reruv</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
	</array>
</dict>
</plist>
