<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string></string>
		<key>Back</key>
		<string></string>
		<key>Banner</key>
		<string></string>
		<key>Show1</key>
		<string></string>
		<key>Show2</key>
		<string></string>
		<key>Show3</key>
		<string></string>
		<key>Show4</key>
		<string></string>
		<key>Alarm</key>
		<string></string>
		<key>CustomBanner</key>
		<string></string>
		<key>CustomSplash</key>
		<string></string>
		<key>Header</key>
		<string></string>
		<key>Footer</key>
		<string></string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string></string>
		<key>Application</key>
		<string></string>
		<key>Developer</key>
		<string></string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>103.9 Hitz FM</string>
			<key>logo</key>
			<string>Hitz</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/103-9-hitz-fm,15964.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>123 99.7 FM</string>
			<key>logo</key>
			<string>123</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/123-99-7-fm,20067.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Tamale (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>A1 Radio 101.1 FM</string>
			<key>logo</key>
			<string>A1</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/a1-radio-101-1-fm,19101.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Bolgatanga (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ABC Radio 100.9 FM</string>
			<key>logo</key>
			<string>ABC</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/abc-radio-100-9-fm,20066.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Tamale (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ability OFM Radio</string>
			<key>logo</key>
			<string>Ability</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/ability-ofm-radio,19637.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Accra FM 100.5</string>
			<key>logo</key>
			<string>Accra</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/accra-fm-100-5,20521.m3u</string>
			<key>http</key>
			<string>https://stream.zenolive.com/vh11r0nbe3quv.aac</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Accra24</string>
			<key>logo</key>
			<string>Accra24</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/accra24,19638.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Adepa 107.3 FM</string>
			<key>logo</key>
			<string>Adepa</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/adepa-107-3-fm,14248.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Adom 106.3 FM</string>
			<key>logo</key>
			<string>Adom</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/adom-106-3-fm,10464.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ahenfie Radio</string>
			<key>logo</key>
			<string>Ahenfie</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/ahenfie-radio,14250.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Akwaaba Radio</string>
			<key>logo</key>
			<string>Akwaaba</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/akwaaba-radio,14251.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Angel FM 96.1</string>
			<key>logo</key>
			<string>Angel</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/angel-fm-96-1,19951.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Kumasi (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Apple 68 FM</string>
			<key>logo</key>
			<string>68</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/apple-68-fm,18325.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Asempa 94.7 FM</string>
			<key>logo</key>
			<string>Asempa</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/asempa-94-7-fm,13254.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ashh FM 101.1</string>
			<key>logo</key>
			<string>Ashh</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/ashh-fm-101-1,12743.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Kumasi (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bohye 95.3 FM</string>
			<key>logo</key>
			<string>Bohye</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/bohye-95-3-fm,17866.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Kumasi (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Citi 97.3 FM</string>
			<key>logo</key>
			<string>Citi</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/citi-97-3-fm,17225.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Crusaders Radio AFCM</string>
			<key>logo</key>
			<string>Crusaders</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/crusaders-radio-ghana,20395.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Kumasi (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Deliverance Radio</string>
			<key>logo</key>
			<string>Deliverance</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/deliverance-radio,14254.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fox 97.9 FM</string>
			<key>logo</key>
			<string>Fox</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/fox-fm-97-9,19952.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/fox-97-9fm,12745.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Gentlemen Radio</string>
			<key>logo</key>
			<string>Gentlemen</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/gentlemen-radio,19419.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ghana Today</string>
			<key>logo</key>
			<string>Today</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/ghana-today,10469.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ghana Waves Radio</string>
			<key>logo</key>
			<string>Waves</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/ghana-waves-radio,13796.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ghanaba Radio</string>
			<key>logo</key>
			<string>Ghanaba</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/ghanaba-radio,19117.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hello 101.3 FM</string>
			<key>logo</key>
			<string>Hello</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/hello-101-3-fm,16488.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Kumasi (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
