<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string></string>
		<key>Main</key>
		<string></string>
		<key>Back</key>
		<string></string>
		<key>Banner</key>
		<string></string>
		<key>Show1</key>
		<string></string>
		<key>Show2</key>
		<string></string>
		<key>Show3</key>
		<string></string>
		<key>Show4</key>
		<string></string>
		<key>Alarm</key>
		<string></string>
		<key>CustomBanner</key>
		<string></string>
		<key>CustomSplash</key>
		<string></string>
		<key>Header</key>
		<string></string>
		<key>Footer</key>
		<string></string>
		<key>Email</key>
		<string>ios.apps.community@gmail.com</string>
		<key>Alternative</key>
		<string></string>
		<key>Application</key>
		<string></string>
		<key>Developer</key>
		<string></string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Menu</key>
	<array>
		<string>Top</string>
		<string>News</string>
		<string>Local</string>
		<string>Classic</string>
		<string>Music</string>
		<string>Sport</string>
		<string>Talk</string>
		<string>Youth</string>
		<string>Oldies</string>
	</array>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Capital 91.6 FM - الخرطوم، السودان</string>
			<key>logo</key>
			<string>Capital</string>
			<key>link</key>
			<string>http://www.capitalfm.sd:9106/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>راديو الرابعة 94 FM - الخرطوم، السودان</string>
			<key>logo</key>
			<string>94</string>
			<key>link</key>
			<string>http://streams.radio.co/s909325731/listen</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>راديو هلا 96 FM - الخرطوم، السودان</string>
			<key>logo</key>
			<string>96</string>
			<key>link</key>
			<string>http://108.61.34.50:7026/stream.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>راديو سوا السودان</string>
			<key>logo</key>
			<string>Sawa</string>
			<key>link</key>
			<string>http://mbn-channel-02.akacast.akamaistream.net/7/32/233451/v1/ibb.akacast.akamaistream.net/mbn_channel_02</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>راديو الحياة 98.3 FM - الخرطوم، السودان</string>
			<key>logo</key>
			<string>alhia</string>
			<key>link</key>
			<string>http://streams.shoutcastsolutions.com:8183/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>إذاعة الفرقان 99 FM - الخرطوم، السودان</string>
			<key>logo</key>
			<string>99</string>
			<key>link</key>
			<string>http://104.167.4.67:8039/live.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>إذاعة الفرقان 102 FM - الخرطوم، السودان</string>
			<key>logo</key>
			<string>102</string>
			<key>link</key>
			<string>http://104.167.4.67:8080/live.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>إذاعة الفرقان 105 FM - الخرطوم، السودان</string>
			<key>logo</key>
			<string>105</string>
			<key>link</key>
			<string>http://104.167.4.67:8081/live.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>الاذاعة الطبية 99.3 Altbia FM</string>
			<key>logo</key>
			<string>Altbia</string>
			<key>link</key>
			<string>https://178.32.62.163:9729/;stream.mp3</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>إذاعة ساهرون FM 99.6 - الخرطوم، السودان</string>
			<key>logo</key>
			<string>saheroon</string>
			<key>link</key>
			<string>http://212.83.150.15:8620/listen.pls?sid=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
