<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>6572404520</string>
		<key>Back</key>
		<string>1009511682</string>
		<key>Banner</key>
		<string>6385165284</string>
		<key>Show1</key>
		<string>1647380901</string>
		<key>Show2</key>
		<string>9637126535</string>
		<key>Show3</key>
		<string>9434796612</string>
		<key>Show4</key>
		<string>4001656471</string>
		<key>Alarm</key>
		<string>9142727542</string>
		<key>CustomBanner</key>
		<string>3235369715</string>
		<key>CustomSplash</key>
		<string>4273544241</string>
		<key>Header</key>
		<string>3043798024</string>
		<key>Footer</key>
		<string>7738571567</string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string>1232667435</string>
		<key>Application</key>
		<string>1426085632</string>
		<key>Developer</key>
		<string>1239592099</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>RNE Radio Nacional</string>
			<key>logo</key>
			<string>Nacional</string>
			<key>link</key>
			<string>http://radiolive-mp3-rtve.flumotion.com/rtve/rne.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News/information/features</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RNE Radio Clásica</string>
			<key>logo</key>
			<string>RNE</string>
			<key>link</key>
			<string>http://www.listenlive.eu/rneradioclasica.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Classical/cultural programming</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RNE Radio 3</string>
			<key>logo</key>
			<string>3</string>
			<key>link</key>
			<string>http://radiolive-mp3-rtve.flumotion.com/rtve/radio3.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News / Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RNE Ràdio 4</string>
			<key>logo</key>
			<string>4</string>
			<key>link</key>
			<string>http://radiolive-mp3-rtve.flumotion.com/rtve/radio4.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News/music/features (Catalan)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RNE Radio 5 Todo Noticias</string>
			<key>logo</key>
			<string>5</string>
			<key>link</key>
			<string>http://radiolive-mp3-rtve.flumotion.com/rtve/radio5.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Exterior</string>
			<key>logo</key>
			<string>Exterior</string>
			<key>link</key>
			<string>http://radiolive-mp3-rtve.flumotion.com/rtve/radioexterior.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>ABC Punto Radio</string>
			<key>logo</key>
			<string>ABC</string>
			<key>link</key>
			<string>http://94.23.22.181:8031/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News/Talk/Music (Tenerife)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Activa FM</string>
			<key>logo</key>
			<string>Activa</string>
			<key>link</key>
			<string>http://emisorasmusicales.com:8000/activafm.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop (Marina Alta)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Alzira Ràdio</string>
			<key>logo</key>
			<string>Alzira</string>
			<key>link</key>
			<string>http://radioserver7.profesionalhosting.com:11199/listen.pls?sid=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Antena-6</string>
			<key>logo</key>
			<string>Antena</string>
			<key>link</key>
			<string>http://www.antena6.com:8015/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 30</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Atlantis FM</string>
			<key>logo</key>
			<string>Atlantis</string>
			<key>link</key>
			<string>http://91.121.166.38:7420/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop/Rock (Tenerife)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Barcelona FM</string>
			<key>logo</key>
			<string>Barcelona</string>
			<key>link</key>
			<string>http://shoutcast.barcelonatv.stream.flumotion.com/barcelonatv/live.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Information/Music (Barcelona)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bay Radio</string>
			<key>logo</key>
			<string>Bay</string>
			<key>link</key>
			<string>http://s2.streammonster.com/tunein.php/astammer/playlist.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Javea</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BI FM</string>
			<key>logo</key>
			<string>BI</string>
			<key>link</key>
			<string>http://94.75.234.135:8052/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Alternative/Indie (Bilbao)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bilbo Hiria Irratia</string>
			<key>logo</key>
			<string>Bilbo</string>
			<key>link</key>
			<string>http://freedom.wavestreamer.com:7429/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music/News/Information (Bilbao)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Boca Ràdio 90.1FM</string>
			<key>logo</key>
			<string>Boca</string>
			<key>link</key>
			<string>http://srv0410.radiostreaming.es:8009/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Barcelona</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cadena 100</string>
			<key>logo</key>
			<string>100</string>
			<key>link</key>
			<string>http://www.listenlive.eu/cadena100.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cadena Cope</string>
			<key>logo</key>
			<string>Cope</string>
			<key>link</key>
			<string>http://www.listenlive.eu/cadenacope.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News/Talk/Sports</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cadena Cope Sevilla</string>
			<key>logo</key>
			<string>Sevill</string>
			<key>link</key>
			<string>http://www.listenlive.eu/copesevilla.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News/Talk/Sports</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cadena Dial</string>
			<key>logo</key>
			<string>Dial</string>
			<key>link</key>
			<string>http://provisioning.streamtheworld.com/pls/CADENADIAL.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cadena Digital</string>
			<key>logo</key>
			<string>Digital</string>
			<key>link</key>
			<string>http://185.23.192.118:8080/cadenadigital/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 30 (Malaga)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cadena Nostalgia</string>
			<key>logo</key>
			<string>Nostalgia</string>
			<key>link</key>
			<string>http://server.hablocomunicaciones.com:8004/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Oldies</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cadena Ser</string>
			<key>logo</key>
			<string>Cadena</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/CADENASER.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News/talk/sports</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cadena Ser Radio Barcelona</string>
			<key>logo</key>
			<string>Ser</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/SER_BARCELONA.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News/talk/sports</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cadena Ser Radio Bilbao</string>
			<key>logo</key>
			<string>Bilbao</string>
			<key>link</key>
			<string>http://provisioning.streamtheworld.com/pls/SER_BILBAO.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News/talk/sports</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cadena Ser Radio Sevilla</string>
			<key>logo</key>
			<string>Sevilla</string>
			<key>link</key>
			<string>http://provisioning.streamtheworld.com/pls/SER_SEVILLA.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News/talk/sports</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cadena Ser Extremadura</string>
			<key>logo</key>
			<string>Extremadura</string>
			<key>link</key>
			<string>http://provisioning.streamtheworld.com/pls/SER_Extremadura.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News/talk/sports (Badajoz)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cadena Ser Radio Valencia</string>
			<key>logo</key>
			<string>Valencia</string>
			<key>link</key>
			<string>http://provisioning.streamtheworld.com/pls/SER_VALENCIA.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News/talk/sports (Mallorca)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cadena Ser Radio Melilla</string>
			<key>logo</key>
			<string>Melilla</string>
			<key>link</key>
			<string>http://provisioning.streamtheworld.com/pls/SER_MELILLA.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News/talk/sports</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cadena Ser Radio Murcia</string>
			<key>logo</key>
			<string>Murcia</string>
			<key>link</key>
			<string>http://provisioning.streamtheworld.com/pls/SER_MURCIA.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News/talk/sports</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cadena Ser Radio Pamplona</string>
			<key>logo</key>
			<string>Pamplona</string>
			<key>link</key>
			<string>http://provisioning.streamtheworld.com/pls/SER_PAMPLONA.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News/talk/sports</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cadena Ser Radio Tenerife</string>
			<key>logo</key>
			<string>Tenerife</string>
			<key>link</key>
			<string>http://provisioning.streamtheworld.com/pls/SER_TENERIFE.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News/talk/sports</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cadena Ser Radio Zaragoza</string>
			<key>logo</key>
			<string>Zaragoza</string>
			<key>link</key>
			<string>http://provisioning.streamtheworld.com/pls/SER_ZARAGOZA.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News/talk/sports</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cadena Ser Radio Santander</string>
			<key>logo</key>
			<string>Santander</string>
			<key>link</key>
			<string>http://provisioning.streamtheworld.com/pls/SER_SANTANDER.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News/talk/sports</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cadena Ser Radio Toledo</string>
			<key>logo</key>
			<string>Toledo</string>
			<key>link</key>
			<string>http://provisioning.streamtheworld.com/pls/SER_TOLEDO.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News/talk/sports</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cadena Ser Radio Valladolid</string>
			<key>logo</key>
			<string>Valladolid</string>
			<key>link</key>
			<string>http://provisioning.streamtheworld.com/pls/SER_VALLADOLID.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News/talk/sports</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cadena Ser Radio Ceuta</string>
			<key>logo</key>
			<string>Ceuta</string>
			<key>link</key>
			<string>http://provisioning.streamtheworld.com/pls/SER_CEUTA.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News/talk/sports</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Candil Radio</string>
			<key>logo</key>
			<string>Candil</string>
			<key>link</key>
			<string>http://s6.viastreaming.net:7100/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Huércal de Almería</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Catalunya Ràdio</string>
			<key>logo</key>
			<string>Catalunya</string>
			<key>link</key>
			<string>http://www.catradio.cat/directes/catradio_http.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News/talk/music (Barcelona)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Catalunya Informació</string>
			<key>logo</key>
			<string>Informacio</string>
			<key>link</key>
			<string>http://www.catradio.cat/directes/catinfo_http.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News/Talk (Barcelona)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Catalunya Música</string>
			<key>logo</key>
			<string>Musica</string>
			<key>link</key>
			<string>http://www.listenlive.eu/es_catalunyamusica.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Classical/Culture (Barcelona)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CatClàssica</string>
			<key>logo</key>
			<string>CatClassica</string>
			<key>link</key>
			<string>http://www.listenlive.eu/es_catclassica.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Barcelona</string>
		</dict>
		<dict>
			<key>name</key>
			<string>iCat FM</string>
			<key>logo</key>
			<string>iCat</string>
			<key>link</key>
			<string>http://www.catradio.cat/directes/icat_http.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Barcelona</string>
		</dict>
		<dict>
			<key>name</key>
			<string>iCatjazz</string>
			<key>logo</key>
			<string>iCatjazz</string>
			<key>link</key>
			<string>http://www.catradio.cat/directes/icatjazz_http.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Barcelona</string>
		</dict>
		<dict>
			<key>name</key>
			<string>iCatTrònica</string>
			<key>logo</key>
			<string>iCatTronica</string>
			<key>link</key>
			<string>http://www.catradio.cat/directes/icattronica_http.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Electronica (Barcelona)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>iCatMón</string>
			<key>logo</key>
			<string>iCatMon</string>
			<key>link</key>
			<string>http://www.catradio.cat/directes/icatmon_http.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Urban/World (Barcelona)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>totCat</string>
			<key>logo</key>
			<string>totCat</string>
			<key>link</key>
			<string>http://www.catradio.cat/directes/totcat_http.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Barcelona</string>
		</dict>
		<dict>
			<key>name</key>
			<string>iCatRumba</string>
			<key>logo</key>
			<string>iCatRumba</string>
			<key>link</key>
			<string>http://www.catradio.cat/directes/icatrumba_http.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Barcelona</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Central FM</string>
			<key>logo</key>
			<string>Central</string>
			<key>link</key>
			<string>http://streaming.dragonstack.com:2199/tunein/atngrand.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 30 (Arroyo de la Miel)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chanquete FM</string>
			<key>logo</key>
			<string>Chanquete</string>
			<key>link</key>
			<string>http://92.48.107.35:8008/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop (Malaga)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Coast FM</string>
			<key>logo</key>
			<string>Coast</string>
			<key>link</key>
			<string>http://s3.viastreaming.net:8540/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 30 (Tenerife)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cool FM</string>
			<key>logo</key>
			<string>Cool</string>
			<key>link</key>
			<string>http://62.210.84.35:8059/listen.pls</string>
			<key>http</key>
			<string>http://62.210.84.35:8018/listen.pls</string>
			<key>note</key>
			<string>Classic/Hits (Costa Blanca)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>COM Radio</string>
			<key>logo</key>
			<string>COM</string>
			<key>link</key>
			<string>http://comradio-streaming.gnuine.com:8100/mac22.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News/Talk (Barcelona)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cope Cantabria</string>
			<key>logo</key>
			<string>Cantabria</string>
			<key>link</key>
			<string>http://www.deportescopecantabria.com:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News/Talk (Santander)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Crónicas Radio</string>
			<key>logo</key>
			<string>Cronicas</string>
			<key>link</key>
			<string>http://85.48.192.60:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News/information/music (Lanzarote)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Disco Music Radio</string>
			<key>logo</key>
			<string>Disco</string>
			<key>link</key>
			<string>http://www.discomusicradio.com:8100/listen.pls</string>
			<key>http</key>
			<string>http://www.discomusicradio.com/PLAYER/index.html</string>
			<key>note</key>
			<string>Pop (Valencia)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>EiTB Euskadi Irratia</string>
			<key>logo</key>
			<string>Irratia</string>
			<key>link</key>
			<string>http://www.listenlive.eu/euskadiirratia.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>San Sebastián</string>
		</dict>
		<dict>
			<key>name</key>
			<string>EiTB Radio Euskadi</string>
			<key>logo</key>
			<string>Euskadi</string>
			<key>link</key>
			<string>http://www.listenlive.eu/radioeuskadi.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Bilbao</string>
		</dict>
		<dict>
			<key>name</key>
			<string>EiTB Radio Vitoria</string>
			<key>logo</key>
			<string>Vitoria</string>
			<key>link</key>
			<string>http://www.listenlive.eu/radiovitoria.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>EiTB Gaztea</string>
			<key>logo</key>
			<string>Gaztea</string>
			<key>link</key>
			<string>http://www.listenlive.eu/gaztea.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>San Sebastián</string>
		</dict>
		<dict>
			<key>name</key>
			<string>EiTB Musika</string>
			<key>logo</key>
			<string>Musika</string>
			<key>link</key>
			<string>http://www.listenlive.eu/eitbmusika.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>San Sebastián</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Elite Radio</string>
			<key>logo</key>
			<string>Elite</string>
			<key>link</key>
			<string>http://85.25.117.229/tunein.php/elitesevilla/playlist.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Seville</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Energy FM</string>
			<key>logo</key>
			<string>Energy</string>
			<key>link</key>
			<string>http://uk1.internet-radio.com:15614/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Dance (Tenerife)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>esRadio Madrid</string>
			<key>logo</key>
			<string>esRadio</string>
			<key>link</key>
			<string>http://livestreaming3.esradio.fm/stream64.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News/Talk/Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>esRadio Guadalajara</string>
			<key>logo</key>
			<string>Guadalajara</string>
			<key>link</key>
			<string>http://91.121.68.52:8054/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News/Talk/Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Europa FM</string>
			<key>logo</key>
			<string>Europa</string>
			<key>link</key>
			<string>http://212.129.60.86:9968/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop/Rock (Tenerife)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Excite FM</string>
			<key>logo</key>
			<string>Excite</string>
			<key>link</key>
			<string>http://cp6.shoutcheap.com:2199/tunein/theleade.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop (Oriheula Costa)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fiesta FM Madrid</string>
			<key>logo</key>
			<string>Fiesta</string>
			<key>link</key>
			<string>http://178.33.161.251:6024/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Flaix FM</string>
			<key>logo</key>
			<string>Flaix</string>
			<key>link</key>
			<string>http://www.listenlive.eu/flaixfm.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 30 / Dance (Barcelona)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Formula Hit</string>
			<key>logo</key>
			<string>Formula</string>
			<key>link</key>
			<string>http://server1.emitironline.com:9400/formulahit.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 30 (Portugalete)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Gestiona Radio</string>
			<key>logo</key>
			<string>Gestiona</string>
			<key>link</key>
			<string>http://escucha.gestionaradio.com:8000/listen.pls?sid=1</string>
			<key>http</key>
			<string>http://escucha.gestionaradio.com:8000/live.mp3</string>
			<key>note</key>
			<string>Business, economics</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Global Radio</string>
			<key>logo</key>
			<string>Global</string>
			<key>link</key>
			<string>http://s6.viastreaming.net:7450/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Dance/RnB (Mijas Costa)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>GUM FM</string>
			<key>logo</key>
			<string>GUM</string>
			<key>link</key>
			<string>http://gum-fm01.streaming-pro.com:8018/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pirineus</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Holiday Gym FM</string>
			<key>logo</key>
			<string>Gym</string>
			<key>link</key>
			<string>http://s1.prositel.net:9001/holidaygym.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Fitness</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Holland FM</string>
			<key>logo</key>
			<string>Hollan</string>
			<key>link</key>
			<string>http://stream01.streamhier.nl:9010/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Gran Ganaria</string>
		</dict>
		<dict>
			<key>name</key>
			<string>IB3 Ràdio</string>
			<key>logo</key>
			<string>IB3</string>
			<key>link</key>
			<string>http://streaming01.ib3radio.com:8000/ib3radio.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Palma De Mallorca</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ibiza Radio Global</string>
			<key>logo</key>
			<string>Ibiza</string>
			<key>link</key>
			<string>http://s6.viastreaming.net:7010/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Dance</string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
