<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string></string>
		<key>Back</key>
		<string></string>
		<key>Banner</key>
		<string></string>
		<key>Show1</key>
		<string></string>
		<key>Show2</key>
		<string></string>
		<key>Show3</key>
		<string></string>
		<key>Show4</key>
		<string></string>
		<key>Alarm</key>
		<string></string>
		<key>CustomBanner</key>
		<string></string>
		<key>CustomSplash</key>
		<string></string>
		<key>Header</key>
		<string></string>
		<key>Footer</key>
		<string></string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string></string>
		<key>Application</key>
		<string></string>
		<key>Developer</key>
		<string></string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Bamakan 100.3 FM</string>
			<key>logo</key>
			<string>Bamakan</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-bamakan,16644.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>ENERGIE 107.9 FM</string>
			<key>logo</key>
			<string>ENERGIE</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-energie-107-9-fm,18507.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Jekafo 100.7 FM</string>
			<key>logo</key>
			<string>Jekafo</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-jekafo,16646.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Joliba 105.0 FM</string>
			<key>logo</key>
			<string>Joliba</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/joliba-105-0-fm,20490.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>KLEDU 101.2 FM</string>
			<key>logo</key>
			<string>KLEDU</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-kledu-101-2-fm,20465.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mali Jet</string>
			<key>logo</key>
			<string>Jet</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/mali-jet,16642.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>ORTM Chaine 2</string>
			<key>logo</key>
			<string>ORTM</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/ortm-chaine2,16643.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
