<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>CBS</string>
		<key>logo</key>
		<string>CBS</string>
		<key>link</key>
		<string>http://www.cbsnews.com/live/</string>
		<key>http</key>
		<string>http://wkrg.com/cbsn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Free Speech</string>
		<key>logo</key>
		<string>freespeech</string>
		<key>link</key>
		<string>https://www.freespeech.org/</string>
		<key>http</key>
		<string>https://livestream.com/FreeSpeechTVLive/events/2677504</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Newsmax</string>
		<key>logo</key>
		<string>Newsmax</string>
		<key>link</key>
		<string>http://www.newsmaxtv.com/</string>
		<key>http</key>
		<string>https://www.youtube.com/user/NewsmaxTV/videos?flow=grid&amp;live_view=501&amp;view=2&amp;sort=dd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CNN</string>
		<key>logo</key>
		<string>CNN1</string>
		<key>link</key>
		<string>http://edition.cnn.com/</string>
		<key>http</key>
		<string>http://edition.cnn.com/video/flashLive/live.html?stream=stream1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CNN News18</string>
		<key>logo</key>
		<string>CNN2</string>
		<key>link</key>
		<string>http://www.news18.com/livetv/</string>
		<key>http</key>
		<string>http://cnnphilippines.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MSNBC</string>
		<key>logo</key>
		<string>msnbc</string>
		<key>link</key>
		<string>http://www.msnbc.com/live-online/</string>
		<key>http</key>
		<string>http://www.msnbc.com/live-online/watch/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ABC</string>
		<key>logo</key>
		<string>ABC</string>
		<key>link</key>
		<string>http://abcnews.go.com/Live</string>
		<key>http</key>
		<string>http://abcnews.go.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ABC 7 NY</string>
		<key>logo</key>
		<string>ABC7</string>
		<key>link</key>
		<string>http://abc7ny.com/live/</string>
		<key>http</key>
		<string>http://abc7ny.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Voice of America (VOA)</string>
		<key>logo</key>
		<string>voa</string>
		<key>link</key>
		<string>http://ir.voanews.com/t/86.html?s=74225</string>
		<key>http</key>
		<string>http://www.voanews.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CBN</string>
		<key>logo</key>
		<string>cbn1</string>
		<key>link</key>
		<string>http://www1.cbn.com/tv/cbn-live</string>
		<key>http</key>
		<string>http://www1.cbn.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CBN News</string>
		<key>logo</key>
		<string>cbn2</string>
		<key>link</key>
		<string>http://www1.cbn.com/tv/cbn-news</string>
		<key>http</key>
		<string>http://www1.cbn.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CGTN America (CCTV)</string>
		<key>logo</key>
		<string>CCTV</string>
		<key>link</key>
		<string>http://america.cgtn.com/livenews</string>
		<key>http</key>
		<string>http://america.cgtn.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Fox News</string>
		<key>logo</key>
		<string>Fox</string>
		<key>link</key>
		<string>http://video.foxnews.com/v/2013931500001/?#sp=watch-live</string>
		<key>http</key>
		<string>http://www.foxnews.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>WPIX (PIX 11)</string>
		<key>logo</key>
		<string>PIX</string>
		<key>link</key>
		<string>http://pix11.com/on-air/live-streaming/</string>
		<key>http</key>
		<string>https://livestream.com/WPIX/live</string>
	</dict>
	<dict>
		<key>name</key>
		<string>The Washington Post</string>
		<key>logo</key>
		<string>post</string>
		<key>link</key>
		<string>https://www.washingtonpost.com/video/c/live</string>
		<key>http</key>
		<string>https://www.washingtonpost.com/posttv/c/live?nid=menu_nav_video-live</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bloomberg U.S.</string>
		<key>logo</key>
		<string>bloomberg1</string>
		<key>link</key>
		<string>https://www.bloomberg.com/live/us</string>
		<key>http</key>
		<string>https://www.youtube.com/user/Bloomberg/videos?shelf_id=0&amp;live_view=501&amp;sort=dd&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bloomberg U.S. Event</string>
		<key>logo</key>
		<string>bloomberg2</string>
		<key>link</key>
		<string>https://www.bloomberg.com/live/stream</string>
		<key>http</key>
		<string>https://www.bloomberg.com/live/stream</string>
	</dict>
	<dict>
		<key>name</key>
		<string>BizTV</string>
		<key>logo</key>
		<string>biztv</string>
		<key>link</key>
		<string>http://www.ustream.tv/biztv/pop-out</string>
		<key>http</key>
		<string>http://www.ustream.tv/biztv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>United Nations Webcast</string>
		<key>logo</key>
		<string>un</string>
		<key>link</key>
		<string>http://webtv.un.org/live/</string>
		<key>http</key>
		<string>https://www.youtube.com/user/unitednations/live</string>
	</dict>
	<dict>
		<key>name</key>
		<string>WeatherNation</string>
		<key>logo</key>
		<string>WeatherNation</string>
		<key>link</key>
		<string>http://www.weathernationtv.com/video/</string>
		<key>http</key>
		<string>http://www.weathernationtv.com/</string>
	</dict>
</array>
</plist>
