<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>CBS</string>
		<key>logo</key>
		<string>CBS</string>
		<key>link</key>
		<string>http://www.cbsnews.com/live/</string>
		<key>http</key>
		<string>http://wkrg.com/cbsn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RT USA</string>
		<key>logo</key>
		<string>RT</string>
		<key>link</key>
		<string>https://www.rt.com/on-air/rt-america-air/embed/</string>
		<key>http</key>
		<string>https://www.rt.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CNN</string>
		<key>logo</key>
		<string>CNN1</string>
		<key>link</key>
		<string>http://edition.cnn.com/</string>
		<key>http</key>
		<string>http://edition.cnn.com/video/flashLive/live.html?stream=stream1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CNN News18</string>
		<key>logo</key>
		<string>CNN2</string>
		<key>link</key>
		<string>http://www.news18.com/livetv/</string>
		<key>http</key>
		<string>http://cnnphilippines.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MSNBC</string>
		<key>logo</key>
		<string>msnbc</string>
		<key>link</key>
		<string>http://www.msnbc.com/live-online/</string>
		<key>http</key>
		<string>http://www.msnbc.com/live-online/watch/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CGTN America (CCTV)</string>
		<key>logo</key>
		<string>CCTV</string>
		<key>link</key>
		<string>http://america.cgtn.com/livenews</string>
		<key>http</key>
		<string>http://america.cgtn.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bloomberg U.S.</string>
		<key>logo</key>
		<string>bloomberg1</string>
		<key>link</key>
		<string>https://www.bloomberg.com/live/us</string>
		<key>http</key>
		<string>https://www.youtube.com/user/Bloomberg/videos?shelf_id=0&amp;live_view=501&amp;sort=dd&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bloomberg U.S. Event</string>
		<key>logo</key>
		<string>bloomberg2</string>
		<key>link</key>
		<string>https://www.bloomberg.com/live/stream</string>
		<key>http</key>
		<string>https://www.bloomberg.com/live/stream</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Newsmax</string>
		<key>logo</key>
		<string>Newsmax</string>
		<key>link</key>
		<string>http://www.newsmaxtv.com/</string>
		<key>http</key>
		<string>https://www.youtube.com/user/NewsmaxTV/videos?flow=grid&amp;live_view=501&amp;view=2&amp;sort=dd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Free Speech</string>
		<key>logo</key>
		<string>freespeech</string>
		<key>link</key>
		<string>https://www.freespeech.org/</string>
		<key>http</key>
		<string>https://livestream.com/FreeSpeechTVLive/events/2677504</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ABC</string>
		<key>logo</key>
		<string>ABC</string>
		<key>link</key>
		<string>http://abcnews.go.com/Live</string>
		<key>http</key>
		<string>http://abcnews.go.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ABC 7 NY</string>
		<key>logo</key>
		<string>ABC7</string>
		<key>link</key>
		<string>http://abc7ny.com/live/</string>
		<key>http</key>
		<string>http://abc7ny.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Voice of America (VOA)</string>
		<key>logo</key>
		<string>voa</string>
		<key>link</key>
		<string>http://ir.voanews.com/t/86.html?s=74225</string>
		<key>http</key>
		<string>http://www.voanews.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CBN</string>
		<key>logo</key>
		<string>cbn1</string>
		<key>link</key>
		<string>http://www1.cbn.com/tv/cbn-live</string>
		<key>http</key>
		<string>http://www1.cbn.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CBN News</string>
		<key>logo</key>
		<string>cbn2</string>
		<key>link</key>
		<string>http://www1.cbn.com/tv/cbn-news</string>
		<key>http</key>
		<string>http://www1.cbn.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Fox News</string>
		<key>logo</key>
		<string>Fox</string>
		<key>link</key>
		<string>http://video.foxnews.com/v/2013931500001/?#sp=watch-live</string>
		<key>http</key>
		<string>http://www.foxnews.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>WPIX (PIX 11)</string>
		<key>logo</key>
		<string>PIX</string>
		<key>link</key>
		<string>http://pix11.com/on-air/live-streaming/</string>
		<key>http</key>
		<string>https://livestream.com/WPIX/live</string>
	</dict>
	<dict>
		<key>name</key>
		<string>The Washington Post</string>
		<key>logo</key>
		<string>post</string>
		<key>link</key>
		<string>https://www.washingtonpost.com/video/c/live</string>
		<key>http</key>
		<string>https://www.washingtonpost.com/posttv/c/live?nid=menu_nav_video-live</string>
	</dict>
	<dict>
		<key>name</key>
		<string>BizTV</string>
		<key>logo</key>
		<string>biztv</string>
		<key>link</key>
		<string>http://www.ustream.tv/biztv/pop-out</string>
		<key>http</key>
		<string>http://www.ustream.tv/biztv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>United Nations Webcast</string>
		<key>logo</key>
		<string>un</string>
		<key>link</key>
		<string>http://webtv.un.org/live/</string>
		<key>http</key>
		<string>https://www.youtube.com/user/unitednations/live</string>
	</dict>
	<dict>
		<key>name</key>
		<string>WeatherNation</string>
		<key>logo</key>
		<string>WeatherNation</string>
		<key>link</key>
		<string>http://www.weathernationtv.com/video/</string>
		<key>http</key>
		<string>http://www.weathernationtv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NFL Now</string>
		<key>logo</key>
		<string>nfl</string>
		<key>link</key>
		<string>https://www.nfl.com/now</string>
		<key>http</key>
		<string>https://www.nfl.com/now?module=now_traffic_driver</string>
	</dict>
	<dict>
		<key>name</key>
		<string>JBTV</string>
		<key>logo</key>
		<string>jbtv</string>
		<key>link</key>
		<string>http://jbtvmusic.com/live/</string>
		<key>http</key>
		<string>https://livestream.com/accounts/4103375/events/2634658</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CMC</string>
		<key>logo</key>
		<string>CMC</string>
		<key>link</key>
		<string>http://cmc-tv.com/</string>
		<key>http</key>
		<string>http://www.cmctvusa.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RadioU TV</string>
		<key>logo</key>
		<string>RadioU</string>
		<key>link</key>
		<string>http://radiou.com/tv/</string>
		<key>http</key>
		<string>http://radiou.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>LA 36</string>
		<key>logo</key>
		<string>la36</string>
		<key>link</key>
		<string>http://www.la36.org/</string>
		<key>http</key>
		<string>http://la36.granicus.com/MediaPlayer.php?publish_id=19</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Juce</string>
		<key>logo</key>
		<string>juce</string>
		<key>link</key>
		<string>http://jucetv.com/watch-live/</string>
		<key>http</key>
		<string>http://jucetv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>UATV</string>
		<key>logo</key>
		<string>uatv</string>
		<key>link</key>
		<string>http://uatv.alaska.edu/livestream.html</string>
		<key>http</key>
		<string>http://uatv.alaska.edu/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ASU Live</string>
		<key>logo</key>
		<string>asu</string>
		<key>link</key>
		<string>https://asunow.asu.edu/asulive</string>
		<key>http</key>
		<string>https://www.asu.edu/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NAU-TV</string>
		<key>logo</key>
		<string>NAU</string>
		<key>link</key>
		<string>http://nau-tv.com/watchlive/</string>
		<key>http</key>
		<string>http://nau-tv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NASA</string>
		<key>logo</key>
		<string>nasa</string>
		<key>link</key>
		<string>https://www.nasa.gov/multimedia/nasatv/index.html#public</string>
		<key>http</key>
		<string>https://www.nasa.gov/multimedia/nasatv/index.html#media</string>
	</dict>
	<dict>
		<key>name</key>
		<string>UARK</string>
		<key>logo</key>
		<string>UARK</string>
		<key>link</key>
		<string>http://www.ustream.tv/channel/uatvonline-live/pop-out</string>
		<key>http</key>
		<string>http://uatvonline.net/watchlive-22/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>UALRTV</string>
		<key>logo</key>
		<string>UALRTV</string>
		<key>link</key>
		<string>https://ualruniversitytelevision.viebit.com/</string>
		<key>http</key>
		<string>http://ualr.edu/tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>UCTV</string>
		<key>logo</key>
		<string>UCTV</string>
		<key>link</key>
		<string>http://www.uctv.tv/watch/</string>
		<key>http</key>
		<string>http://www.uctv.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CSUDH</string>
		<key>logo</key>
		<string>CSUDH</string>
		<key>link</key>
		<string>http://dhtv.csudh.edu/</string>
		<key>http</key>
		<string>http://dhtv.csudh.edu/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Chabot (KCTH 27)</string>
		<key>logo</key>
		<string>Chabot</string>
		<key>link</key>
		<string>http://www.chabottv.net/</string>
		<key>http</key>
		<string>http://www.ustream.tv/channel/kcth-27-chabot-tv-live/pop-out</string>
	</dict>
	<dict>
		<key>name</key>
		<string>University Channel</string>
		<key>logo</key>
		<string>ctl</string>
		<key>link</key>
		<string>http://www.ctl.uga.edu/ctlcable</string>
		<key>http</key>
		<string>http://www.ctl.uga.edu/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>KUJH</string>
		<key>logo</key>
		<string>KUJH</string>
		<key>link</key>
		<string>http://tv.ku.edu/watch-live/</string>
		<key>http</key>
		<string>http://www.ustream.tv/channel/kujh-tv/pop-out</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Southeastern Channel</string>
		<key>logo</key>
		<string>selu</string>
		<key>link</key>
		<string>http://www.selu.edu/thesoutheasternchannel/live/</string>
		<key>http</key>
		<string>http://www2.selu.edu/thesoutheasternchannel//live/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>PGCPS</string>
		<key>logo</key>
		<string>PGCPS</string>
		<key>link</key>
		<string>http://vod.pgcps.org/cablecastapi/live?channel_id=1&amp;use_cdn=true</string>
		<key>http</key>
		<string>http://www1.pgcps.org/tv96/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Oakland University TV</string>
		<key>logo</key>
		<string>OUTV</string>
		<key>link</key>
		<string>http://wwwp.oakland.edu/outv/live-streams/Livestream/</string>
		<key>http</key>
		<string>http://wwwp.oakland.edu/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Lindenwood University</string>
		<key>logo</key>
		<string>LUTV</string>
		<key>link</key>
		<string>http://www.lindenwood.edu/lutv/lutv-hd-streaming/</string>
		<key>http</key>
		<string>http://www.lindenwood.edu/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ithaca College Television</string>
		<key>logo</key>
		<string>ICTV</string>
		<key>link</key>
		<string>http://ictv.org/live/</string>
		<key>http</key>
		<string>http://ictv.org/live2/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>UO</string>
		<key>logo</key>
		<string>UO</string>
		<key>link</key>
		<string>http://media.uoregon.edu/channel/livestream</string>
		<key>http</key>
		<string>http://media.uoregon.edu/channel/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>WTOP-10</string>
		<key>logo</key>
		<string>wtop10tv</string>
		<key>link</key>
		<string>http://www.wtop10.com/live/</string>
		<key>http</key>
		<string>http://www.wtop10.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>OUTV</string>
		<key>logo</key>
		<string>ou</string>
		<key>link</key>
		<string>http://ou.edu/tv/watch.html</string>
		<key>http</key>
		<string>http://www.ustream.tv/channel/outvlive/pop-out</string>
	</dict>
	<dict>
		<key>name</key>
		<string>KBVR 26</string>
		<key>logo</key>
		<string>KBVR</string>
		<key>link</key>
		<string>http://live.oregonstate.edu/video/kbvr-tv-live</string>
		<key>http</key>
		<string>http://oregonstate.edu/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Germantown High School</string>
		<key>logo</key>
		<string>ghs</string>
		<key>link</key>
		<string>http://www.ghstv.org/live-stream/</string>
		<key>http</key>
		<string>http://www.ghstv.org/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Temple (TUTV)</string>
		<key>logo</key>
		<string>TUTV</string>
		<key>link</key>
		<string>http://templetv.net/watch-live/</string>
		<key>http</key>
		<string>http://templetv.net/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Texas Student Television (TSTV)</string>
		<key>logo</key>
		<string>TSTV</string>
		<key>link</key>
		<string>http://watchtstv.com/live.php</string>
		<key>http</key>
		<string>http://watchtstv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NVCC</string>
		<key>logo</key>
		<string>nvcc</string>
		<key>link</key>
		<string>http://www.nvcc.edu/tvcenter/nvcctvlive.html</string>
		<key>http</key>
		<string>http://www.nvcc.edu/index.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>George Mason University</string>
		<key>logo</key>
		<string>gmu</string>
		<key>link</key>
		<string>http://gmutv.gmu.edu/live/</string>
		<key>http</key>
		<string>http://gmutv.gmu.edu/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>West Liberty University (WLU-TV 14)</string>
		<key>logo</key>
		<string>wltv</string>
		<key>link</key>
		<string>http://www.ustream.tv/channel/west-liberty-university-television/pop-out</string>
		<key>http</key>
		<string>http://www.ustream.tv/channel/west-liberty-university-television</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Evine</string>
		<key>logo</key>
		<string>Evine</string>
		<key>link</key>
		<string>http://www.evine.com/onair/watchuslive</string>
		<key>http</key>
		<string>http://www.evine.com/onair/watchuslive?cm_re=GN-_-ONAIR-_-WATCHUSLIVE</string>
	</dict>
	<dict>
		<key>name</key>
		<string>America Auction Network</string>
		<key>logo</key>
		<string>aantv</string>
		<key>link</key>
		<string>http://www.aantv.com/</string>
		<key>http</key>
		<string>https://www.youtube.com/user/AmericasAuction/videos?live_view=501&amp;flow=grid&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Liquidation Channel</string>
		<key>logo</key>
		<string>shoplc</string>
		<key>link</key>
		<string>https://www.shoplc.com/livetv/liveAuction</string>
		<key>http</key>
		<string>https://www.shoplc.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Gem Shopping Network</string>
		<key>logo</key>
		<string>gem</string>
		<key>link</key>
		<string>http://www.gemshopping.com/watchlive/</string>
		<key>http</key>
		<string>http://www.gemshopping.com/shows/popup.php</string>
	</dict>
	<dict>
		<key>name</key>
		<string>America Value Channel</string>
		<key>logo</key>
		<string>AVC</string>
		<key>link</key>
		<string>http://www.shopavc.com/Watchlive.html</string>
		<key>http</key>
		<string>https://livestream.com/accounts/2479061/events/1794286</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Coin Vault</string>
		<key>logo</key>
		<string>CoinVault</string>
		<key>link</key>
		<string>http://www.thecoinvault.com/t-watch.aspx</string>
		<key>http</key>
		<string>https://www.youtube.com/user/CoinVaultTV/videos?view=2&amp;flow=grid&amp;live_view=501</string>
	</dict>
	<dict>
		<key>name</key>
		<string>3ABN</string>
		<key>logo</key>
		<string>ABN</string>
		<key>link</key>
		<string>http://3abn.org/all-streams/3abn.html</string>
		<key>http</key>
		<string>http://3abn.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>3ABN Proclaim</string>
		<key>logo</key>
		<string>proclaim</string>
		<key>link</key>
		<string>http://3abn.org/all-streams/proclaim.html</string>
		<key>http</key>
		<string>http://3abn.org/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>3ABN Dare to Dream</string>
		<key>logo</key>
		<string>dare</string>
		<key>link</key>
		<string>http://3abn.org/all-streams/daretodream.html</string>
		<key>http</key>
		<string>http://3abn.org/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>3ABN Kids</string>
		<key>logo</key>
		<string>kids</string>
		<key>link</key>
		<string>http://3abn.org/all-streams/international.html</string>
		<key>http</key>
		<string>http://3abn.org/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>3ABN International</string>
		<key>logo</key>
		<string>international</string>
		<key>link</key>
		<string>http://3abn.org/all-streams/kids.html</string>
		<key>http</key>
		<string>http://3abn.org/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Amazing Facts</string>
		<key>logo</key>
		<string>AF</string>
		<key>link</key>
		<string>http://www.amazingfacts.org/media-library</string>
		<key>http</key>
		<string>http://www.amazingfacts.org/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CatholicTV</string>
		<key>logo</key>
		<string>catholictv</string>
		<key>link</key>
		<string>http://www.catholictv.com/watch-live</string>
		<key>http</key>
		<string>http://www.catholictv.com/esne-live</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Christian Television Network</string>
		<key>logo</key>
		<string>ctn</string>
		<key>link</key>
		<string>http://www.ctnonline.com/ctn-programs.html</string>
		<key>http</key>
		<string>http://admin.ottdemo.rrsat.com/multibit/ctntv/index.php</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Cornerstone TeleVision</string>
		<key>logo</key>
		<string>CTVN</string>
		<key>link</key>
		<string>http://www.ctvn.org/watch/watch-live/</string>
		<key>http</key>
		<string>http://www.ctvn.org/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Daystar</string>
		<key>logo</key>
		<string>Daystar</string>
		<key>link</key>
		<string>http://www.daystar.com/watch/live-stream/</string>
		<key>http</key>
		<string>http://www.daystar.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>EWTN</string>
		<key>logo</key>
		<string>ewtn</string>
		<key>link</key>
		<string>http://www.ewtn.com/multimedia/live_player.asp?satname=domenglp</string>
		<key>http</key>
		<string>http://www.ewtn.com/live/ewtnplayer/jwplayer.asp?bottom=false&amp;feed=domeng</string>
	</dict>
	<dict>
		<key>name</key>
		<string>God s Learning Channel</string>
		<key>logo</key>
		<string>glc</string>
		<key>link</key>
		<string>http://www.godslearningchannel.com/site/live.php</string>
		<key>http</key>
		<string>http://glc.us.com/site/live_3.php</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hope Channel</string>
		<key>logo</key>
		<string>Hope1</string>
		<key>link</key>
		<string>http://www.hopetv.org/watch/</string>
		<key>http</key>
		<string>http://www.hopetv.org</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hope Church</string>
		<key>logo</key>
		<string>Hope2</string>
		<key>link</key>
		<string>http://www.hopetv.org/watch/hope-church-channel/</string>
		<key>http</key>
		<string>http://www.hopetv.org</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SonLife Broadcasting Network</string>
		<key>logo</key>
		<string>SBN</string>
		<key>link</key>
		<string>http://sonlifetv.com/watch.html</string>
		<key>http</key>
		<string>http://sonlifetv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bible Discovery</string>
		<key>logo</key>
		<string>biblediscoverytv</string>
		<key>link</key>
		<string>http://www.biblediscoverytv.com/watch-now/</string>
		<key>http</key>
		<string>http://www.biblediscoverytv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Super Channel (WACX-TV / TV 55)</string>
		<key>logo</key>
		<string>wacxtv</string>
		<key>link</key>
		<string>http://www.wacxtv.com/WatchTV55.aspx</string>
		<key>http</key>
		<string>http://www.wacxtv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Shepherds Chapel</string>
		<key>logo</key>
		<string>shepherd</string>
		<key>link</key>
		<string>https://shepherdschapel.com/satellitefeed/</string>
		<key>http</key>
		<string>https://www.youtube.com/user/TheShepherdsChapel/videos?view=2&amp;flow=grid&amp;live_view=501</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TCT</string>
		<key>logo</key>
		<string>TCT1</string>
		<key>link</key>
		<string>http://www.tct.tv/watch-tct/watch-live/tct</string>
		<key>http</key>
		<string>https://www.youtube.com/user/TCTTVNet/videos?sort=dd&amp;view=2&amp;shelf_id=3&amp;live_view=501</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TCT Family</string>
		<key>logo</key>
		<string>TCT2</string>
		<key>link</key>
		<string>http://www.tct.tv/watch-tct/watch-live/tct-family</string>
		<key>http</key>
		<string>https://www.youtube.com/user/TCTTVNet/videos?sort=dd&amp;view=2&amp;shelf_id=3&amp;live_view=501</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TCT Kids</string>
		<key>logo</key>
		<string>TCT</string>
		<key>link</key>
		<string>http://www.tct.tv/watch-tct/watch-live/tct-kids</string>
		<key>http</key>
		<string>https://www.youtube.com/user/TCTTVNet/videos?sort=dd&amp;view=2&amp;shelf_id=3&amp;live_view=501</string>
	</dict>
	<dict>
		<key>name</key>
		<string>KAZQ</string>
		<key>logo</key>
		<string>AlphaOmega</string>
		<key>link</key>
		<string>http://kazq32.org/watch-online/</string>
		<key>http</key>
		<string>http://kazq32.org/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Inspiration</string>
		<key>logo</key>
		<string>ini</string>
		<key>link</key>
		<string>http://ini.tv/livestream/</string>
		<key>http</key>
		<string>http://ini.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Smart LifeStyle</string>
		<key>logo</key>
		<string>Lifestyle</string>
		<key>link</key>
		<string>http://vp.telvue.com/preview?id=T01587&amp;video=22780&amp;autoplay=true</string>
		<key>http</key>
		<string>http://www.smartlifestyletv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Divine TV</string>
		<key>logo</key>
		<string>Divine</string>
		<key>link</key>
		<string>http://dvnonline.org/</string>
		<key>http</key>
		<string>http://dvnonline.org/</string>
	</dict>
</array>
</plist>
