<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>CBS</string>
		<key>logo</key>
		<string>CBS</string>
		<key>link</key>
		<string>http://www.cbsnews.com/live/</string>
		<key>http</key>
		<string>http://wkrg.com/cbsn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RT USA</string>
		<key>logo</key>
		<string>RT</string>
		<key>link</key>
		<string>https://www.rt.com/on-air/rt-america-air/embed/</string>
		<key>http</key>
		<string>https://www.rt.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CNN</string>
		<key>logo</key>
		<string>CNN1</string>
		<key>link</key>
		<string>http://edition.cnn.com/</string>
		<key>http</key>
		<string>http://edition.cnn.com/video/flashLive/live.html?stream=stream1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CNN News18</string>
		<key>logo</key>
		<string>CNN2</string>
		<key>link</key>
		<string>http://www.news18.com/livetv/</string>
		<key>http</key>
		<string>http://cnnphilippines.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MSNBC</string>
		<key>logo</key>
		<string>msnbc</string>
		<key>link</key>
		<string>http://www.msnbc.com/live-online/</string>
		<key>http</key>
		<string>http://www.msnbc.com/live-online/watch/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CGTN America (CCTV)</string>
		<key>logo</key>
		<string>CCTV</string>
		<key>link</key>
		<string>http://america.cgtn.com/livenews</string>
		<key>http</key>
		<string>http://america.cgtn.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>LA 36</string>
		<key>logo</key>
		<string>la36</string>
		<key>link</key>
		<string>http://www.la36.org/</string>
		<key>http</key>
		<string>http://la36.granicus.com/MediaPlayer.php?publish_id=19</string>
	</dict>
	<dict>
		<key>name</key>
		<string>UALRTV</string>
		<key>logo</key>
		<string>UALRTV</string>
		<key>link</key>
		<string>https://ualruniversitytelevision.viebit.com/</string>
		<key>http</key>
		<string>http://ualr.edu/tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>3ABN</string>
		<key>logo</key>
		<string>ABN</string>
		<key>link</key>
		<string>http://3abn.org/all-streams/3abn.html</string>
		<key>http</key>
		<string>http://3abn.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>3ABN Proclaim</string>
		<key>logo</key>
		<string>proclaim</string>
		<key>link</key>
		<string>http://3abn.org/all-streams/proclaim.html</string>
		<key>http</key>
		<string>http://3abn.org/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>3ABN Dare to Dream</string>
		<key>logo</key>
		<string>dare</string>
		<key>link</key>
		<string>http://3abn.org/all-streams/daretodream.html</string>
		<key>http</key>
		<string>http://3abn.org/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>3ABN Kids</string>
		<key>logo</key>
		<string>kids</string>
		<key>link</key>
		<string>http://3abn.org/all-streams/international.html</string>
		<key>http</key>
		<string>http://3abn.org/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>3ABN International</string>
		<key>logo</key>
		<string>international</string>
		<key>link</key>
		<string>http://3abn.org/all-streams/kids.html</string>
		<key>http</key>
		<string>http://3abn.org/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TCT</string>
		<key>logo</key>
		<string>TCT1</string>
		<key>link</key>
		<string>http://www.tct.tv/watch-tct/watch-live/tct</string>
		<key>http</key>
		<string>https://www.youtube.com/user/TCTTVNet/videos?sort=dd&amp;view=2&amp;shelf_id=3&amp;live_view=501</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TCT Family</string>
		<key>logo</key>
		<string>TCT2</string>
		<key>link</key>
		<string>http://www.tct.tv/watch-tct/watch-live/tct-family</string>
		<key>http</key>
		<string>https://www.youtube.com/user/TCTTVNet/videos?sort=dd&amp;view=2&amp;shelf_id=3&amp;live_view=501</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TCT Kids</string>
		<key>logo</key>
		<string>TCT</string>
		<key>link</key>
		<string>http://www.tct.tv/watch-tct/watch-live/tct-kids</string>
		<key>http</key>
		<string>https://www.youtube.com/user/TCTTVNet/videos?sort=dd&amp;view=2&amp;shelf_id=3&amp;live_view=501</string>
	</dict>
</array>
</plist>
