<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>4973100595</string>
		<key>Back</key>
		<string>3384686753</string>
		<key>Banner</key>
		<string>9084693854</string>
		<key>Show1</key>
		<string>REMOVED</string>
		<key>Show2</key>
		<string>REMOVED</string>
		<key>Show3</key>
		<string>REMOVED</string>
		<key>Show4</key>
		<string>REMOVED</string>
		<key>Alarm</key>
		<string>9631488763</string>
		<key>CustomBanner</key>
		<string>6366073319</string>
		<key>CustomSplash</key>
		<string>9842283891</string>
		<key>Header</key>
		<string>6641405480</string>
		<key>Footer</key>
		<string>2426828303</string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string>1399990847</string>
		<key>Application</key>
		<string>1454565568</string>
		<key>Developer</key>
		<string>1239592099</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Rincon Paraguayo</string>
			<key>logo</key>
			<string>Rincon</string>
			<key>link</key>
			<string>http://radiohd.net:3606/listen.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://199.167.150.105:8360/listen.pls?sid=1&amp;t=.pls</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Sonica Paraguay</string>
			<key>logo</key>
			<string>Sonica</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.15.77.50:9800/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.15.77.50:9800/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>San Lorenzo (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ebenezer FM</string>
			<key>logo</key>
			<string>Ebenezer</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://91.134.147.168:9588/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://91.134.147.168:9588/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>El Shaddai 101.5</string>
			<key>logo</key>
			<string>Shaddai</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://91.134.147.168:9706/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://91.134.147.168:9706/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Contacto FM 104.3</string>
			<key>logo</key>
			<string>Contacto</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://91.134.147.168:9574/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://91.134.147.168:9574/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Capiibary (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Musica Paraguaya</string>
			<key>logo</key>
			<string>Musica</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.15.77.50:9978/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.15.77.50:9978/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>1ro de Marzo 780 AM</string>
			<key>logo</key>
			<string>Marzo</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/1ro-de-marzo-780-am,747.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>94.7 FM Azul y Oro</string>
			<key>logo</key>
			<string>Azul</string>
			<key>link</key>
			<string>http://aliasdns.info/?pl=winamp&amp;c=Radio%20Azul%20y%20Oro%2094.7%20MHz%20-%20Luque%20-%20Paraguay</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/94-7-fm-azul-y-oro,5852.m3u</string>
			<key>note</key>
			<string>Luque (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Amor 95.9 FM</string>
			<key>logo</key>
			<string>Amor</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/amor-95-9-fm,10064.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Aspen Classics 102.7 FM</string>
			<key>logo</key>
			<string>Aspen</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/aspen-classics-102-7-fm,16951.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Aurora FM 87.9 FM</string>
			<key>logo</key>
			<string>Aurora</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/aurora-fm-87-9-fm,14137.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Caazapa (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Canal 100 FM</string>
			<key>logo</key>
			<string>100</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/canal-100-fm,748.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Caraguatay 90.3 FM</string>
			<key>logo</key>
			<string>Caraguatay</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/caraguatay-90-3-fm,16954.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cardinal 730 AM</string>
			<key>logo</key>
			<string>Cardinal</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/cardinal-730-am,749.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chaco Boreal 1330 AM</string>
			<key>logo</key>
			<string>Chaco</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/chaco-boreal-1330-am,10065.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Emisoras Paraguay 106.1 FM</string>
			<key>logo</key>
			<string>Emisoras</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/emisoras-paraguay-106-1-fm,10062.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Evolución 89.3</string>
			<key>logo</key>
			<string>Evolucion</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/evolucion-89-3,16962.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/evolucion-89-3-fm,10066.m3u</string>
			<key>note</key>
			<string>Eusebio Ayala (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fernando de la Mora 92.7 FM</string>
			<key>logo</key>
			<string>Fernando</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/fernando-de-la-mora-92-7-fm,10063.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Itapúa 102.5 FM</string>
			<key>logo</key>
			<string>Itapua</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/itapua-102-5-fm,750.m3u</string>
			<key>http</key>
			<string>http://aire.itacom.com.py:8000/itapuafm</string>
			<key>note</key>
			<string>Tropical Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>La 970 AM</string>
			<key>logo</key>
			<string>La</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/la-970-am,751.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Libertad 95.7 FM</string>
			<key>logo</key>
			<string>Libertad</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/libertad-95-7-fm,10058.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>San Estanislao (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Montecarlo 100.9 FM</string>
			<key>logo</key>
			<string>Montecarlo</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/montecarlo-100-9-fm,10068.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Cámara 104.1 FM</string>
			<key>logo</key>
			<string>Camara</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-camara-104-1-fm,16955.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Centro 95.1 FM</string>
			<key>logo</key>
			<string>Centro</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-centro-95-1-fm,16961.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Tropical Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Colmenar</string>
			<key>logo</key>
			<string>Colmenar</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-colmenar,9588.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Caaguazu (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Farra 101.3 FM</string>
			<key>logo</key>
			<string>Farra</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-farra-101-3-fm,16963.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio FM Capital 101.7</string>
			<key>logo</key>
			<string>Capital</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-fm-capital-101-7,16953.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio FM Concert 107.7</string>
			<key>logo</key>
			<string>Concert</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-fm-concert-107-7,12556.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Mas FM</string>
			<key>logo</key>
			<string>Mas</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-mas-fm,16959.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Nanduti 1020 AM</string>
			<key>logo</key>
			<string>Nanduti</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-nanduti-1020-am,3719.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Obedira 102.1 FM</string>
			<key>logo</key>
			<string>Obedira</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-obedira-102-1-fm,16952.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>RGS 94.3 FM</string>
			<key>logo</key>
			<string>RGS</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/rgs-94-3-fm,10057.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>San Fernando 100.3 FM</string>
			<key>logo</key>
			<string>San</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/san-fernando-100-3-fm,14139.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Bella Vista (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Top Milenium 91.5 FM</string>
			<key>logo</key>
			<string>Milenium</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/top-milenium-91-5-fm,10055.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Urbana 106.9 FM</string>
			<key>logo</key>
			<string>Urbana</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-urbana-106-9-fm,16960.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/urbana-106-9-fm,10056.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Yacyreta 98.5 FM</string>
			<key>logo</key>
			<string>Yacyreta</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/yacyreta-98-5-fm,16958.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
