<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1</string>
		<key>Back</key>
		<string>1</string>
		<key>Banner</key>
		<string>1</string>
		<key>Show1</key>
		<string>1</string>
		<key>Show2</key>
		<string>1</string>
		<key>Show3</key>
		<string>1</string>
		<key>Show4</key>
		<string>1</string>
		<key>Alarm</key>
		<string>1</string>
		<key>CustomBanner</key>
		<string>1</string>
		<key>CustomSplash</key>
		<string>1</string>
		<key>Header</key>
		<string>1</string>
		<key>Footer</key>
		<string>1</string>
		<key>Email</key>
		<string>1</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1</string>
		<key>Developer</key>
		<string>1</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Rincon Paraguayo</string>
			<key>logo</key>
			<string>Rincon</string>
			<key>link</key>
			<string>http://radiohd.net:3606/listen.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://199.167.150.105:8360/listen.pls?sid=1&amp;t=.pls</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Sonica Paraguay</string>
			<key>logo</key>
			<string>Sonica</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.15.77.50:9800/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.15.77.50:9800/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>San Lorenzo (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ebenezer FM</string>
			<key>logo</key>
			<string>Ebenezer</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://91.134.147.168:9588/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://91.134.147.168:9588/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>El Shaddai 101.5</string>
			<key>logo</key>
			<string>Shaddai</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://91.134.147.168:9706/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://91.134.147.168:9706/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Contacto FM 104.3</string>
			<key>logo</key>
			<string>Contacto</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://91.134.147.168:9574/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://91.134.147.168:9574/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Capiibary</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Musica Paraguaya</string>
			<key>logo</key>
			<string>Musica</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.15.77.50:9978/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.15.77.50:9978/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>1ro de Marzo 780 AM</string>
			<key>logo</key>
			<string>Marzo</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/1ro-de-marzo-780-am,747.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>94.7 FM Azul y Oro</string>
			<key>logo</key>
			<string>Azul</string>
			<key>link</key>
			<string>http://aliasdns.info/?pl=winamp&amp;c=Radio%20Azul%20y%20Oro%2094.7%20MHz%20-%20Luque%20-%20Paraguay</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/94-7-fm-azul-y-oro,5852.m3u</string>
			<key>note</key>
			<string>Luque</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Amor 95.9 FM</string>
			<key>logo</key>
			<string>Amor</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/amor-95-9-fm,10064.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Aspen Classics 102.7 FM</string>
			<key>logo</key>
			<string>Aspen</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/aspen-classics-102-7-fm,16951.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Aurora FM 87.9 FM</string>
			<key>logo</key>
			<string>Aurora</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/aurora-fm-87-9-fm,14137.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Canal 100 FM</string>
			<key>logo</key>
			<string>100</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/canal-100-fm,748.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Caraguatay 90.3 FM</string>
			<key>logo</key>
			<string>Caraguatay</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/caraguatay-90-3-fm,16954.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
	</array>
</dict>
</plist>
