<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>PBC فلسطين</string>
		<key>logo</key>
		<string>PBC</string>
		<key>link</key>
		<string>http://www.pbc.ps/</string>
		<key>http</key>
		<string>https://www.youtube.com/channel/UCHswbrumSJUEgCY5NRrl6Ng/videos?flow=grid&amp;view=2&amp;live_view=501</string>
	</dict>
	<dict>
		<key>name</key>
		<string>تلفزيون فلسطيني Palestinian</string>
		<key>logo</key>
		<string>Palestinian</string>
		<key>link</key>
		<string>http://palestinian-tv.com/</string>
		<key>http</key>
		<string>http://palestinian-tv.com/live/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Al-Quds القدس</string>
		<key>logo</key>
		<string>Quds</string>
		<key>link</key>
		<string>http://www.qudstv.com/</string>
		<key>http</key>
		<string>http://www.qudstv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>مساواة الفضائية Musawa</string>
		<key>logo</key>
		<string>Musawa</string>
		<key>link</key>
		<string>http://musawachannel.com/live</string>
		<key>http</key>
		<string>http://musawachannel.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Fajer الضفة 1</string>
		<key>logo</key>
		<string>Fajer1</string>
		<key>link</key>
		<string>http://alfajertv.com/live/live-westbank-1.php</string>
		<key>http</key>
		<string>http://alfajertv.com/live/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Fajer الضفة 2</string>
		<key>logo</key>
		<string>Fajer2</string>
		<key>link</key>
		<string>http://alfajertv.com/live/live-westbank-2.php</string>
		<key>http</key>
		<string>http://alfajertv.com/live/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Fajer الضفة 3</string>
		<key>logo</key>
		<string>Fajer3</string>
		<key>link</key>
		<string>http://alfajertv.com/live/live-westbank-3.php</string>
		<key>http</key>
		<string>http://alfajertv.com/live/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Fajer الضفة 4</string>
		<key>logo</key>
		<string>Fajer4</string>
		<key>link</key>
		<string>http://alfajertv.com/live/live-westbank-4.php</string>
		<key>http</key>
		<string>http://alfajertv.com/live/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Fajer الضفة 5</string>
		<key>logo</key>
		<string>Fajer5</string>
		<key>link</key>
		<string>http://alfajertv.com/live/live-westbank-5.php</string>
		<key>http</key>
		<string>http://alfajertv.com/live/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Fajer International دولي</string>
		<key>logo</key>
		<string>Fajer6</string>
		<key>link</key>
		<string>http://alfajertv.com/live/live-international.php</string>
		<key>http</key>
		<string>http://alfajertv.com/live/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>PNN شبكة فلسطين الاخبارية</string>
		<key>logo</key>
		<string>PNN</string>
		<key>link</key>
		<string>http://english.pnn.ps/</string>
		<key>http</key>
		<string>http://pnn.ps/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>الأقصى ‎Al Aqsa</string>
		<key>logo</key>
		<string>Aqsa</string>
		<key>link</key>
		<string>http://aqsatv.ps/live</string>
		<key>http</key>
		<string>http://aqsatv.ps</string>
	</dict>
	<dict>
		<key>name</key>
		<string>الفلسطينية Al Falstiniah</string>
		<key>logo</key>
		<string>Falstiniah</string>
		<key>link</key>
		<string>http://ftv.ps/live/index.html</string>
		<key>http</key>
		<string>http://ftv.ps</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hona Alquds هنا القدس</string>
		<key>logo</key>
		<string>Hona</string>
		<key>link</key>
		<string>http://www.honaalquds.tv/hona/live.php</string>
		<key>http</key>
		<string>http://www.honaalquds.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Salam السلام</string>
		<key>logo</key>
		<string>Salam</string>
		<key>link</key>
		<string>http://www.salam-tv.ps/ar/live</string>
		<key>http</key>
		<string>http://www.salam-tv.ps</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ma&apos;an Arabic</string>
		<key>logo</key>
		<string>Ma&apos;an1</string>
		<key>link</key>
		<string>https://www.maannews.net/LiveTV.html</string>
		<key>http</key>
		<string>https://www.maannews.net/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ma&apos;an English</string>
		<key>logo</key>
		<string>Ma&apos;an2</string>
		<key>link</key>
		<string>http://www.maannews.com/LiveTV.html</string>
		<key>http</key>
		<string>http://www.maannews.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Wattan وطن للانباء</string>
		<key>logo</key>
		<string>Wattan</string>
		<key>link</key>
		<string>http://www.wattan.tv/live</string>
		<key>http</key>
		<string>http://www.wattan.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Al Arabiya العربية‎</string>
		<key>logo</key>
		<string>Arabiya</string>
		<key>link</key>
		<string>https://www.alarabiya.net/live-stream.html?cref=navdesk</string>
		<key>http</key>
		<string>https://www.youtube.com/user/AlArabiya/videos?live_view=501&amp;flow=grid&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>الحدث Al Hadath</string>
		<key>logo</key>
		<string>Hadath</string>
		<key>link</key>
		<string>http://www.alhadath.net/live-stream.html?cref=navdesk</string>
		<key>http</key>
		<string>https://www.youtube.com/channel/UCrj5BGAhtWxDfqbza9T9hqA/videos?live_view=501&amp;flow=grid&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CNBC Arabia (سي إن بي سي عربية)</string>
		<key>logo</key>
		<string>CNBC</string>
		<key>link</key>
		<string>https://www.cnbcarabia.com/Pages/live</string>
		<key>http</key>
		<string>https://www.cnbcarabia.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>BBC Arabic (بي بي سي عربي)</string>
		<key>logo</key>
		<string>BBC</string>
		<key>link</key>
		<string>http://www.bbc.com/arabic/tvandradio/2013/05/000000_bbcarabic_livetv</string>
		<key>http</key>
		<string>https://www.youtube.com/user/BBCArabicNews/videos?flow=grid&amp;live_view=501&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>العربي Alaraby    </string>
		<key>logo</key>
		<string>Alaraby</string>
		<key>link</key>
		<string>http://alaraby.tv/live/61/alaraby</string>
		<key>http</key>
		<string>http://alaraby.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>euronews عــربي</string>
		<key>logo</key>
		<string>euronews</string>
		<key>link</key>
		<string>http://arabic.euronews.com/live</string>
		<key>http</key>
		<string>http://arabic.euronews.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>فرانس 24 (FRANCE 24 Arabic)</string>
		<key>logo</key>
		<string>FRANCE</string>
		<key>link</key>
		<string>http://www.france24.com/ar/</string>
		<key>http</key>
		<string>https://www.youtube.com/user/france24arabic/videos?flow=grid&amp;view=2&amp;live_view=501</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Al Mayadeen الميادين</string>
		<key>logo</key>
		<string>Mayadeen</string>
		<key>link</key>
		<string>http://www.almayadeen.net/live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/Mayadeentv/videos?view=2&amp;live_view=501&amp;flow=grid</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Almagharibia المغاربية‎</string>
		<key>logo</key>
		<string>Almagharibia</string>
		<key>link</key>
		<string>https://almagharibia.tv/</string>
		<key>http</key>
		<string>https://almagharibia.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Alhurra الحرة</string>
		<key>logo</key>
		<string>Alhurra</string>
		<key>link</key>
		<string>https://www.alhurra.com/embed/player/tube/4.html</string>
		<key>http</key>
		<string>https://www.alhurra.com/embed/player/tube/5.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RT Arabic</string>
		<key>logo</key>
		<string>RT</string>
		<key>link</key>
		<string>https://arabic.rt.com/live/</string>
		<key>http</key>
		<string>https://www.youtube.com/user/RTarabic/videos?view=2&amp;live_view=501&amp;flow=grid</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CGTN Arabic سي جي تي أن العربية‎‎</string>
		<key>logo</key>
		<string>CGTN</string>
		<key>link</key>
		<string>https://www.cgtn.com/channel/ar.do</string>
		<key>http</key>
		<string>https://www.cgtn.com</string>
	</dict>
</array>
</plist>
