<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1</string>
		<key>Back</key>
		<string>1</string>
		<key>Banner</key>
		<string>1</string>
		<key>Show1</key>
		<string>1</string>
		<key>Show2</key>
		<string>1</string>
		<key>Show3</key>
		<string>1</string>
		<key>Show4</key>
		<string>1</string>
		<key>Alarm</key>
		<string>1</string>
		<key>CustomBanner</key>
		<string>1</string>
		<key>CustomSplash</key>
		<string>1</string>
		<key>Header</key>
		<string>1</string>
		<key>Footer</key>
		<string>1</string>
		<key>Email</key>
		<string>1</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1</string>
		<key>Developer</key>
		<string>1</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Menu</key>
	<array>
		<string>Top</string>
		<string>News</string>
		<string>Local</string>
		<string>Classic</string>
		<string>Music</string>
		<string>Sport</string>
		<string>Talk</string>
		<string>Youth</string>
		<string>Oldies</string>
	</array>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Advent Stereo - Adventista </string>
			<key>logo</key>
			<string>Advent</string>
			<key>link</key>
			<string>http://www.adventstereo.org/Advent_Stereo.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.15.77.50:9642/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Alfa 93.5 FM</string>
			<key>logo</key>
			<string>Alfa</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-alfa-93-5-fm,20102.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Beat Doble L 94.1 FM</string>
			<key>logo</key>
			<string>L</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://94.23.6.53:8461/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://94.23.6.53:8461/listen.pls?sid=1&amp;t=.pls</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Corporacion 540 AM</string>
			<key>logo</key>
			<string>Corporacion</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-corporacion-540-am,20105.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CristoNica</string>
			<key>logo</key>
			<string>CristoNica</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://104.167.4.67:8173/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://104.167.4.67:8173/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hotmusic</string>
			<key>logo</key>
			<string>Hotmusic</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/hotmusic-radio,20123.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Joya FM 103.9</string>
			<key>logo</key>
			<string>Joya</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-joya-fm-103-9,20101.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>La F</string>
			<key>logo</key>
			<string>F</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.235.87.105:10796/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.235.87.105:10796/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Jefa</string>
			<key>logo</key>
			<string>Jefa</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://94.23.6.53:8684/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://94.23.6.53:8684/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Marka 90.9 FM</string>
			<key>logo</key>
			<string>Marka</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-la-marka-90-9-fm,20098.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Picosa 97.9 FM</string>
			<key>logo</key>
			<string>Picosa</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/la-picosa-97-9-fm,20097.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Primerisima 91.7 FM</string>
			<key>logo</key>
			<string>Primerisima</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-la-primerisima-91-7-fm,20115.m3u</string>
			<key>http</key>
			<string>http://server.3hostingnica.com:9000/&amp;type=mp3</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>León 106.5 FM</string>
			<key>logo</key>
			<string>Leon</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.235.87.105:10890/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.235.87.105:10890/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Lite 107.1 FM</string>
			<key>logo</key>
			<string>Lite</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-lite-107-1-fm,20100.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Los 40 Nicaragua 93.1 FM</string>
			<key>logo</key>
			<string>40</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/los-40-nicaragua-93-1-fm,20099.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Monumental 96.5 FM</string>
			<key>logo</key>
			<string>Monumental</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-monumental-96-5-fm,20103.m3u</string>
			<key>http</key>
			<string>http://107.6.142.243:9328/;stream.mp3</string>
			<key>note</key>
			<string>Jinotega (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nuevo Tiempo 98.9 FM</string>
			<key>logo</key>
			<string>Nuevo</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://91.121.155.140:20344/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://91.121.155.140:20344/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pirata 99.9 FM</string>
			<key>logo</key>
			<string>Pirata</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-pirata-99-9-fm-dsl,49.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Nicaragua 88.7 FM</string>
			<key>logo</key>
			<string>Nicaragu</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-nicaragua-88-7-fm,3670.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Universal</string>
			<key>logo</key>
			<string>Universal</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.99.18.164:9994/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.99.18.164:9994/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ya 600 AM</string>
			<key>logo</key>
			<string>Ya</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-ya-600-am,20104.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
