<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1</string>
		<key>Back</key>
		<string>1</string>
		<key>Banner</key>
		<string>1</string>
		<key>Show1</key>
		<string>1</string>
		<key>Show2</key>
		<string>1</string>
		<key>Show3</key>
		<string>1</string>
		<key>Show4</key>
		<string>1</string>
		<key>Alarm</key>
		<string>1</string>
		<key>CustomBanner</key>
		<string>1</string>
		<key>CustomSplash</key>
		<string>1</string>
		<key>Header</key>
		<string>1</string>
		<key>Footer</key>
		<string>1</string>
		<key>Email</key>
		<string>1</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1</string>
		<key>Developer</key>
		<string>1</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Menu</key>
	<array>
		<string>Top</string>
		<string>News</string>
		<string>Local</string>
		<string>Classic</string>
		<string>Music</string>
		<string>Sport</string>
		<string>Talk</string>
		<string>Youth</string>
		<string>Oldies</string>
	</array>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Activa 101.1 FM</string>
			<key>logo</key>
			<string>Activa</string>
			<key>link</key>
			<string>https://59d39900ebfb8.streamlock.net/RadioActivaNicaragua/RadioActivaNicaragua/playlist.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Advent Stereo - Adventista </string>
			<key>logo</key>
			<string>Advent</string>
			<key>link</key>
			<string>http://streaming.admediasystem.net:9642/listen.pls</string>
			<key>http</key>
			<string>http://www.adventstereo.org/Advent_Stereo.pls</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Alfa 93.5 FM</string>
			<key>logo</key>
			<string>Alfa</string>
			<key>link</key>
			<string>http://radios-mp3-nc.cdn.nedmedia.io/nc-alfa.mp3.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-alfa-93-5-fm,20102.m3u</string>
			<key>note</key>
			<string>News, Oldies Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Amante 96.3 FM</string>
			<key>logo</key>
			<string>Amante</string>
			<key>link</key>
			<string>http://radios-mp3-nc.cdn.nedmedia.io/nc-amante.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bautista 103.1 FM</string>
			<key>logo</key>
			<string>Bautista</string>
			<key>link</key>
			<string>http://198.154.106.104:8518/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Beat Doble L 94.1 FM</string>
			<key>logo</key>
			<string>L</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://94.23.6.53:8461/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://94.23.6.53:8461/listen.pls?sid=1&amp;t=.pls</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CEPAD 1120 AM</string>
			<key>logo</key>
			<string>CEPAD</string>
			<key>link</key>
			<string>http://streaming.xtremdesign.net:4068/stream.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Clásica 101.9 FM</string>
			<key>logo</key>
			<string>Clasica</string>
			<key>link</key>
			<string>http://165.98.68.45:8000/clasica.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Corporacion 540 AM</string>
			<key>logo</key>
			<string>Corporacion</string>
			<key>link</key>
			<string>http://199.191.58.182:7016/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-corporacion-540-am,20105.m3u</string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Consentida</string>
			<key>logo</key>
			<string>Consentida</string>
			<key>link</key>
			<string>http://109.169.15.20:23095/;</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CristoNica</string>
			<key>logo</key>
			<string>CristoNica</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://104.167.4.67:8173/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://104.167.4.67:8173/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Futura 91.3 FM</string>
			<key>logo</key>
			<string>Futura</string>
			<key>link</key>
			<string>http://108.160.157.83:9978/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hotmusic</string>
			<key>logo</key>
			<string>Hotmusic</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/hotmusic-radio,20123.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Joya FM 103.9</string>
			<key>logo</key>
			<string>Joya</string>
			<key>link</key>
			<string>http://radios-mp3-nc.cdn.nedmedia.io/nc-joya.mp3.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-joya-fm-103-9,20101.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Buenísima 93.1 FM</string>
			<key>logo</key>
			<string>Buenisima</string>
			<key>link</key>
			<string>http://radios-nc.cdn.nedmedia.io/radios/nc/labuenisima.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>La F</string>
			<key>logo</key>
			<string>F</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.235.87.105:10796/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.235.87.105:10796/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Jefa</string>
			<key>logo</key>
			<string>Jefa</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://94.23.6.53:8684/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://94.23.6.53:8684/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Marka 90.9 FM</string>
			<key>logo</key>
			<string>Marka</string>
			<key>link</key>
			<string>http://radios-mp3-nc.cdn.nedmedia.io/nc-lamarka.mp3.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-la-marka-90-9-fm,20098.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Pachanguera 95.1 FM</string>
			<key>logo</key>
			<string>Pachanguera</string>
			<key>link</key>
			<string>http://radios-mp3-nc.cdn.nedmedia.io/nc-pachanguera.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Picosa 97.9 FM</string>
			<key>logo</key>
			<string>Picosa</string>
			<key>link</key>
			<string>http://radios-mp3-nc.cdn.nedmedia.io/nc-lapicosa.mp3.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/la-picosa-97-9-fm,20097.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Primerisima 91.7 FM</string>
			<key>logo</key>
			<string>Primerisima</string>
			<key>link</key>
			<string>http://216.235.94.11:21446/listen.pls</string>
			<key>http</key>
			<string>http://server.3hostingnica.com:9000/&amp;type=mp3</string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Tuani 100.3 FM</string>
			<key>logo</key>
			<string>Tuani</string>
			<key>link</key>
			<string>http://165.98.68.45:8000/latuani.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk, Top</string>
		</dict>
		<dict>
			<key>name</key>
			<string>León 106.5 FM</string>
			<key>logo</key>
			<string>Leon</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.235.87.105:10890/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.235.87.105:10890/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Lite 107.1 FM</string>
			<key>logo</key>
			<string>Lite</string>
			<key>link</key>
			<string>http://radios-mp3-nc.cdn.nedmedia.io/nc-lite.mp3.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-lite-107-1-fm,20100.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Los 40 Nicaragua 93.1 FM</string>
			<key>logo</key>
			<string>40</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/los-40-nicaragua-93-1-fm,20099.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Maranatha 103.5 FM</string>
			<key>logo</key>
			<string>Maranatha</string>
			<key>link</key>
			<string>http://stream2.servercristianonetwork.com:8096/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Maria</string>
			<key>logo</key>
			<string>Maria</string>
			<key>link</key>
			<string>http://dreamsiteradiocp4.com:8048/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Monumental 96.5 FM</string>
			<key>logo</key>
			<string>Monumental</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-monumental-96-5-fm,20103.m3u</string>
			<key>http</key>
			<string>http://107.6.142.243:9328/;stream.mp3</string>
			<key>note</key>
			<string>News, Talk, Top</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mujer 94.7 FM</string>
			<key>logo</key>
			<string>Mujer</string>
			<key>link</key>
			<string>http://sora.guegue.com:8000/radiomujer.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nova 100.7 FM</string>
			<key>logo</key>
			<string>Nova</string>
			<key>link</key>
			<string>http://radios-nc.cdn.nedmedia.io/radios/nc/nova.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nuevo Tiempo 98.9 FM</string>
			<key>logo</key>
			<string>Nuevo</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://91.121.155.140:20344/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://91.121.155.140:20344/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ondas de Luz 94.3 FM</string>
			<key>logo</key>
			<string>Ondas</string>
			<key>link</key>
			<string>http://50.7.70.58:8779/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pirata 99.9 FM</string>
			<key>logo</key>
			<string>Pirata</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-pirata-99-9-fm-dsl,49.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Nicaragua 88.7 FM</string>
			<key>logo</key>
			<string>Nicaragu</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-nicaragua-88-7-fm,3670.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk, Top</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Restauración 107.9 FM</string>
			<key>logo</key>
			<string>Restauracion</string>
			<key>link</key>
			<string>http://66.128.53.148:8014/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rica 105.9 FM</string>
			<key>logo</key>
			<string>Rica</string>
			<key>link</key>
			<string>http://67.212.165.106:8024/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Romántica 98.7 FM</string>
			<key>logo</key>
			<string>Romantica</string>
			<key>link</key>
			<string>http://radios-mp3-nc.cdn.nedmedia.io/nc-romantica.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sandino 107.5 FM</string>
			<key>logo</key>
			<string>Sandino</string>
			<key>link</key>
			<string>http://165.98.68.45:8020/lasandino.mp3.m3u</string>
			<key>http</key>
			<string>http://165.98.68.45:8020/lasandino.mp3</string>
			<key>note</key>
			<string>News, Talk, Top</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Suprema 106.3 FM</string>
			<key>logo</key>
			<string>Suprema</string>
			<key>link</key>
			<string>http://radios-mp3-nc.cdn.nedmedia.io/nc-suprema.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tropicálida 89.9 FM</string>
			<key>logo</key>
			<string>Tropicalida</string>
			<key>link</key>
			<string>http://radios-mp3-nc.cdn.nedmedia.io/nc-tropicalida.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Universal</string>
			<key>logo</key>
			<string>Universal</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.99.18.164:9994/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.99.18.164:9994/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Universidad</string>
			<key>logo</key>
			<string>Universidad</string>
			<key>link</key>
			<string>http://stream.codigosur.org:8000/RUniversidad1023fm.mp3.m3u</string>
			<key>http</key>
			<string>http://stream.codigosur.org:8000/RUniversidad1023fm.mp3</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Viva 98.3 FM</string>
			<key>logo</key>
			<string>Viva</string>
			<key>link</key>
			<string>http://165.98.68.45:8000/vivafm.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ya 600 AM</string>
			<key>logo</key>
			<string>Ya</string>
			<key>link</key>
			<string>http://stream.zenolive.com/axr92qawesmtv</string>
			<key>http</key>
			<string>https://stream.zenolive.com/axr92qawesmtv</string>
			<key>note</key>
			<string>News, Talk, Top</string>
		</dict>
	</array>
</dict>
</plist>
