<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Sat</string>
		<key>logo</key>
		<string>sat</string>
		<key>link</key>
		<string>http://live.rtv.gov.sy/Youtube_Live.aspx?live=0&amp;ch=sat_tv</string>
		<key>http</key>
		<string>http://www.rtv.gov.sy/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>S News</string>
		<key>logo</key>
		<string>news</string>
		<key>link</key>
		<string>http://live.rtv.gov.sy/Youtube_Live.aspx?live=1&amp;ch=snews_tv</string>
		<key>http</key>
		<string>http://www.rtv.gov.sy/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Aloula</string>
		<key>logo</key>
		<string>Aloula</string>
		<key>link</key>
		<string>http://live.rtv.gov.sy/Youtube_Live.aspx?live=5&amp;ch=Aloula_tv</string>
		<key>http</key>
		<string>http://www.rtv.gov.sy/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Drama</string>
		<key>logo</key>
		<string>Drama</string>
		<key>link</key>
		<string>http://live.rtv.gov.sy/Youtube_Live.aspx?live=3&amp;ch=drama_tv</string>
		<key>http</key>
		<string>http://www.rtv.gov.sy/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Talaqie</string>
		<key>logo</key>
		<string>Talaqie</string>
		<key>link</key>
		<string>http://live.rtv.gov.sy/Youtube_Live.aspx?live=4&amp;ch=talaqie_tv</string>
		<key>http</key>
		<string>http://www.rtv.gov.sy/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Education</string>
		<key>logo</key>
		<string>Education</string>
		<key>link</key>
		<string>http://live.rtv.gov.sy/Youtube_Live.aspx?live=6&amp;ch=SEdu_tv</string>
		<key>http</key>
		<string>http://www.rtv.gov.sy/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nour-Elsham</string>
		<key>logo</key>
		<string>Nour-Elsham</string>
		<key>link</key>
		<string>http://live.rtv.gov.sy/Youtube_Live.aspx?live=2&amp;ch=Nour_tv</string>
		<key>http</key>
		<string>http://www.rtv.gov.sy/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ugarit</string>
		<key>logo</key>
		<string>Ugarit</string>
		<key>link</key>
		<string>http://live.rtv.gov.sy/Youtube_Live.aspx?live=7&amp;ch=Ugarit_tv</string>
		<key>http</key>
		<string>http://www.rtv.gov.sy/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Dimshq</string>
		<key>logo</key>
		<string>Dimshq</string>
		<key>link</key>
		<string>http://live.rtv.gov.sy/Youtube_Live.aspx?live=8&amp;ch=dismhq_Radio</string>
		<key>http</key>
		<string>http://www.rtv.gov.sy/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Shaab</string>
		<key>logo</key>
		<string>Shaab</string>
		<key>link</key>
		<string>http://live.rtv.gov.sy/Youtube_Live.aspx?live=9&amp;ch=shaab_Radio</string>
		<key>http</key>
		<string>http://www.rtv.gov.sy/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Shabab</string>
		<key>logo</key>
		<string>Shabab</string>
		<key>link</key>
		<string>http://live.rtv.gov.sy/Youtube_Live.aspx?live=10&amp;ch=Shabab_Radio</string>
		<key>http</key>
		<string>http://www.rtv.gov.sy/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Radio Souryana</string>
		<key>logo</key>
		<string>Syriana</string>
		<key>link</key>
		<string>http://live.rtv.gov.sy/Youtube_Live.aspx?live=11&amp;ch=Soriana_Radio</string>
		<key>http</key>
		<string>http://www.rtv.gov.sy/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Amwaj</string>
		<key>logo</key>
		<string>Amwaj</string>
		<key>link</key>
		<string>http://live.rtv.gov.sy/Youtube_Live.aspx?live=12&amp;ch=Amwaj_Radio</string>
		<key>http</key>
		<string>http://www.rtv.gov.sy/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Zenobia_Radio</string>
		<key>logo</key>
		<string>Karma</string>
		<key>link</key>
		<string>http://live.rtv.gov.sy/Youtube_Live.aspx?live=13&amp;ch=Zenobia_Radio</string>
		<key>http</key>
		<string>http://www.rtv.gov.sy/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Star-2000</string>
		<key>logo</key>
		<string>star</string>
		<key>link</key>
		<string>http://www.ustream.tv/channel/startvpro/pop-out</string>
		<key>http</key>
		<string>http://www.star-2000.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Orient</string>
		<key>logo</key>
		<string>Orient</string>
		<key>link</key>
		<string>http://orient-tv.net/live/</string>
		<key>http</key>
		<string>http://orient-news.net/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Al Jazeera (الجزيرة‎ / قناة الجزيرة)</string>
		<key>logo</key>
		<string>Jazeera</string>
		<key>link</key>
		<string>http://www.aljazeera.net/broadcastschedule</string>
		<key>http</key>
		<string>https://www.youtube.com/user/aljazeerachannel/videos?live_view=501&amp;flow=grid&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Al Jazeera English (قناة الجزيرة الإنجليزية)</string>
		<key>logo</key>
		<string>English</string>
		<key>link</key>
		<string>http://www.aljazeera.com/live/</string>
		<key>http</key>
		<string>https://www.youtube.com/user/AlJazeeraEnglish/videos?view=2&amp;live_view=501&amp;flow=grid</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Aljazeera Mubasher (الجزيرة مباشر‎)</string>
		<key>logo</key>
		<string>Mubasher</string>
		<key>link</key>
		<string>http://mubasher.aljazeera.net/</string>
		<key>http</key>
		<string>https://www.youtube.com/user/aljazeeramubasher/videos?flow=grid&amp;view=2&amp;live_view=501</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Al Arabiya (قناة العربية‎)</string>
		<key>logo</key>
		<string>Arabiya</string>
		<key>link</key>
		<string>https://www.alarabiya.net/live-stream.html?cref=navdesk</string>
		<key>http</key>
		<string>https://www.youtube.com/user/AlArabiya/videos?live_view=501&amp;flow=grid&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>قناة الحدث Al Hadath</string>
		<key>logo</key>
		<string>Hadath</string>
		<key>link</key>
		<string>http://www.alhadath.net/live-stream.html?cref=navdesk</string>
		<key>http</key>
		<string>https://www.youtube.com/channel/UCrj5BGAhtWxDfqbza9T9hqA/videos?live_view=501&amp;flow=grid&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sky News Arabia (سكاي نيوز عربية‎)</string>
		<key>logo</key>
		<string>Sky</string>
		<key>link</key>
		<string>https://www.skynewsarabia.com/web/livestream</string>
		<key>http</key>
		<string>https://www.youtube.com/user/skynewsarabia/videos?flow=grid&amp;view=2&amp;live_view=501</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CNBC Arabia (سي إن بي سي عربية)</string>
		<key>logo</key>
		<string>CNBC</string>
		<key>link</key>
		<string>https://www.cnbcarabia.com/Pages/live</string>
		<key>http</key>
		<string>https://www.cnbcarabia.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>BBC Arabic (بي بي سي عربي)</string>
		<key>logo</key>
		<string>BBC</string>
		<key>link</key>
		<string>http://www.bbc.com/arabic/tvandradio/2013/05/000000_bbcarabic_livetv</string>
		<key>http</key>
		<string>https://www.youtube.com/user/BBCArabicNews/videos?flow=grid&amp;live_view=501&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>التلفزيون العربي Alaraby    </string>
		<key>logo</key>
		<string>Alaraby</string>
		<key>link</key>
		<string>http://alaraby.tv/live/61/alaraby</string>
		<key>http</key>
		<string>http://alaraby.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>euronews عــربي</string>
		<key>logo</key>
		<string>euronews</string>
		<key>link</key>
		<string>http://arabic.euronews.com/live</string>
		<key>http</key>
		<string>http://arabic.euronews.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>فرانس 24 (FRANCE 24 Arabic)</string>
		<key>logo</key>
		<string>FRANCE</string>
		<key>link</key>
		<string>http://www.france24.com/ar/</string>
		<key>http</key>
		<string>https://www.youtube.com/user/france24arabic/videos?flow=grid&amp;view=2&amp;live_view=501</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Al Mayadeen (قناة الميادين)</string>
		<key>logo</key>
		<string>Mayadeen</string>
		<key>link</key>
		<string>http://www.almayadeen.net/live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/Mayadeentv/videos?view=2&amp;live_view=501&amp;flow=grid</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Almagharibia المغاربية‎</string>
		<key>logo</key>
		<string>Almagharibia</string>
		<key>link</key>
		<string>https://almagharibia.tv/</string>
		<key>http</key>
		<string>https://almagharibia.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Alhurra الحرة</string>
		<key>logo</key>
		<string>Alhurra</string>
		<key>link</key>
		<string>https://www.alhurra.com/embed/player/tube/4.html</string>
		<key>http</key>
		<string>https://www.alhurra.com/embed/player/tube/5.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RT Arabic</string>
		<key>logo</key>
		<string>RT</string>
		<key>link</key>
		<string>https://arabic.rt.com/live/</string>
		<key>http</key>
		<string>https://www.youtube.com/user/RTarabic/videos?view=2&amp;live_view=501&amp;flow=grid</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CGTN Arabic سي جي تي أن العربية‎‎</string>
		<key>logo</key>
		<string>CGTN</string>
		<key>link</key>
		<string>https://www.cgtn.com/channel/ar.do</string>
		<key>http</key>
		<string>https://www.cgtn.com</string>
	</dict>
</array>
</plist>
