<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string></string>
		<key>Back</key>
		<string></string>
		<key>Banner</key>
		<string></string>
		<key>Show1</key>
		<string></string>
		<key>Show2</key>
		<string></string>
		<key>Show3</key>
		<string></string>
		<key>Show4</key>
		<string></string>
		<key>Alarm</key>
		<string></string>
		<key>CustomBanner</key>
		<string></string>
		<key>CustomSplash</key>
		<string></string>
		<key>Header</key>
		<string></string>
		<key>Footer</key>
		<string></string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string></string>
		<key>Application</key>
		<string></string>
		<key>Developer</key>
		<string></string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>1 RTHK</string>
			<key>logo</key>
			<string>1</string>
			<key>link</key>
			<string>http://stm.rthk.hk/radio1.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-1-rthk,813.m3u</string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>2 RTHK</string>
			<key>logo</key>
			<string>2</string>
			<key>link</key>
			<string>http://stm.rthk.hk/radio2.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-2-rthk,814.m3u</string>
			<key>note</key>
			<string>Top Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>3 RTHK</string>
			<key>logo</key>
			<string>3</string>
			<key>link</key>
			<string>http://stm.rthk.hk/radio3.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-3-rthk,815.m3u</string>
			<key>note</key>
			<string>News, Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>4 RTHK</string>
			<key>logo</key>
			<string>4</string>
			<key>link</key>
			<string>http://stm.rthk.hk/radio4.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-4-rthk,816.m3u</string>
			<key>note</key>
			<string>Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>5 RTHK</string>
			<key>logo</key>
			<string>5</string>
			<key>link</key>
			<string>http://stm.rthk.hk/radio5.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-5-rthk,817.m3u</string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>6 RTHK</string>
			<key>logo</key>
			<string>6</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-6-rthk,19728.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>香港電台普通話台 AM 621</string>
			<key>logo</key>
			<string>RTHK</string>
			<key>link</key>
			<string>http://stm.rthk.hk/radiopth.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Apple FM</string>
			<key>logo</key>
			<string>Apple</string>
			<key>link</key>
			<string>http://sc.apple-fm.net:9018/listen.pls</string>
			<key>http</key>
			<string>http://sc.apple-fm.net:9020/listen.pls</string>
			<key>note</key>
			<string>Oldies</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC World Service</string>
			<key>logo</key>
			<string>BBC</string>
			<key>link</key>
			<string>http://www.bbc.co.uk/worldservice/meta/live/mp3/eneuk.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Billboard Radio China - Asia Hits</string>
			<key>logo</key>
			<string>Asia</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/billboard-radio-china-asia-hits,11876.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Billboard Radio China - EDM Club</string>
			<key>logo</key>
			<string>EDM</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/billboard-radio-china-edm-club,17316.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Billboard Radio China 80s</string>
			<key>logo</key>
			<string>80s</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/billboard-radio-china-80s,10454.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Billboard Radio China Hits</string>
			<key>logo</key>
			<string>Hits</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/billboard-radio-china-hits,19459.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Billboard Radio Hot 100</string>
			<key>logo</key>
			<string>100</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/billboard-radio-hot-100,10452.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music, Top</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Billboiard Radio China Rock</string>
			<key>logo</key>
			<string>Billboiard</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/billboiard-radio-china-rock,10453.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Commercial Radio AM 864</string>
			<key>logo</key>
			<string>864</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/commercial-radio-am-864,12215.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CRI China Plus</string>
			<key>logo</key>
			<string>CRI</string>
			<key>link</key>
			<string>http://sk.cri.cn/am846.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>HKCR1 88.1 FM</string>
			<key>logo</key>
			<string>HKCR1</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/hkcr1-88-1-fm,12725.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>HKCR2 90.3 FM</string>
			<key>logo</key>
			<string>HKCR2</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/hkcr2-90-3-fm,12726.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Metro 99.7 FM 新城知訊台</string>
			<key>logo</key>
			<string>Metro</string>
			<key>link</key>
			<string>http://metroradio-lh.akamaihd.net/i/997_h@349799/master.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Metro Finance FM 104</string>
			<key>logo</key>
			<string>Finance</string>
			<key>link</key>
			<string>http://metroradio-lh.akamaihd.net/i/104_h@349798/master.m3u8</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/metro-finance-live,12727.m3u</string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Metro Info</string>
			<key>logo</key>
			<string>Info</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/metro-info-live,12729.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Metro Plus 1044 AM</string>
			<key>logo</key>
			<string>1044</string>
			<key>link</key>
			<string>http://metroradio-lh.akamaihd.net/i/1044_h@349800/master.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/metro-plus-1044-am,12730.m3u</string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>OnAirPower</string>
			<key>logo</key>
			<string>OnAirPower</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/onairpower,12728.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TDM 100.7 FM 澳門電台</string>
			<key>logo</key>
			<string>TDM</string>
			<key>link</key>
			<string>http://live4.tdm.com.mo/live/rch2.live/playlist.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
	</array>
</dict>
</plist>
