<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>МРТ 1</string>
		<key>logo</key>
		<string>МР1</string>
		<key>link</key>
		<string>http://play.mrt.com.mk/live/mrt1-sat</string>
		<key>http</key>
		<string>http://play.mrt.com.mk/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>МРТ 2</string>
		<key>logo</key>
		<string>МР2</string>
		<key>link</key>
		<string>http://play.mrt.com.mk/live/mrt2-sat</string>
		<key>http</key>
		<string>http://play.mrt.com.mk/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Орбис</string>
		<key>logo</key>
		<string>Orbis</string>
		<key>link</key>
		<string>http://tvorbis.com.mk/?page_id=145</string>
		<key>http</key>
		<string>http://tvorbis.com.mk</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Koha</string>
		<key>logo</key>
		<string>Koha</string>
		<key>link</key>
		<string>http://www.tvkoha.tv/koha-live</string>
		<key>http</key>
		<string>http://www.tvkoha.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>INTV</string>
		<key>logo</key>
		<string>INTV</string>
		<key>link</key>
		<string>http://www.intvau.com/</string>
		<key>http</key>
		<string>http://www.intvau.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SkyMusic</string>
		<key>logo</key>
		<string>Music</string>
		<key>link</key>
		<string>http://www.supersky.ch/?cat=3</string>
		<key>http</key>
		<string>http://www.supersky.ch</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SkyMusic+</string>
		<key>logo</key>
		<string>Sky</string>
		<key>link</key>
		<string>http://www.supersky.ch/?cat=8</string>
		<key>http</key>
		<string>http://www.supersky.ch</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SkyHumor</string>
		<key>logo</key>
		<string>Humor</string>
		<key>link</key>
		<string>http://www.supersky.ch/?cat=4</string>
		<key>http</key>
		<string>http://www.supersky.ch</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SkyShow</string>
		<key>logo</key>
		<string>Show</string>
		<key>link</key>
		<string>http://www.supersky.ch/?cat=5</string>
		<key>http</key>
		<string>http://www.supersky.ch</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SkyFilm</string>
		<key>logo</key>
		<string>Film</string>
		<key>link</key>
		<string>http://www.supersky.ch/?cat=6</string>
		<key>http</key>
		<string>http://www.supersky.ch</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SkyDokumentar</string>
		<key>logo</key>
		<string>Dokumentar</string>
		<key>link</key>
		<string>http://www.supersky.ch/?cat=7</string>
		<key>http</key>
		<string>http://www.supersky.ch</string>
	</dict>
</array>
</plist>
