<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string></string>
		<key>Main</key>
		<string></string>
		<key>Back</key>
		<string></string>
		<key>Banner</key>
		<string></string>
		<key>Show1</key>
		<string></string>
		<key>Show2</key>
		<string></string>
		<key>Show3</key>
		<string></string>
		<key>Show4</key>
		<string></string>
		<key>Alarm</key>
		<string></string>
		<key>CustomBanner</key>
		<string></string>
		<key>CustomSplash</key>
		<string></string>
		<key>Header</key>
		<string></string>
		<key>Footer</key>
		<string></string>
		<key>Email</key>
		<string>ios.apps.community@gmail.com</string>
		<key>Alternative</key>
		<string></string>
		<key>Application</key>
		<string></string>
		<key>Developer</key>
		<string></string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Menu</key>
	<array>
		<string>Top</string>
		<string>News</string>
		<string>Local</string>
		<string>Classic</string>
		<string>Music</string>
		<string>Sport</string>
		<string>Talk</string>
		<string>Youth</string>
		<string>Oldies</string>
	</array>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>100 FM</string>
			<key>logo</key>
			<string>100</string>
			<key>link</key>
			<string>http://media.carib.pro/radio100.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-100,60.m3u</string>
			<key>note</key>
			<string>News, Talk, Top Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Blazin FM 99.3</string>
			<key>logo</key>
			<string>Blazin</string>
			<key>link</key>
			<string>http://stereo.wavestreamer.com:3439/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Caribbean Hot FM</string>
			<key>logo</key>
			<string>Hot</string>
			<key>link</key>
			<string>http://auds1.intacs.com/caribbeanhotfm.m3u</string>
			<key>http</key>
			<string>https://auds1.intacs.com/caribbeanhotfm</string>
			<key>note</key>
			<string>Top Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Caribbean Kiss FM</string>
			<key>logo</key>
			<string>Kiss</string>
			<key>link</key>
			<string>http://auds1.intacs.com/caribbeankissfm.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/caribbean-kiss-fm,19533.m3u</string>
			<key>note</key>
			<string>Top Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Caribbean Power Jam</string>
			<key>logo</key>
			<string>Jam</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/caribbean-power-jam-radio,19534.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fire Online</string>
			<key>logo</key>
			<string>Fire</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/fire-online-radio,19240.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hitz 92.1 FM</string>
			<key>logo</key>
			<string>Hitz</string>
			<key>link</key>
			<string>http://ice41.securenetsystems.net/HITZFM.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/hitz-fm-91-1,18847.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Joy FM</string>
			<key>logo</key>
			<string>Joy</string>
			<key>link</key>
			<string>http://joyfm.dyndns.org:85/broadwave.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kairi FM 93.1</string>
			<key>logo</key>
			<string>Kairi</string>
			<key>link</key>
			<string>http://199.189.115.207:8000/lucia.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Liberty FM 92.3</string>
			<key>logo</key>
			<string>Liberty</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/92-3-liberty-fm,18733.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Prayz FM 98.5 The Power and The Glory</string>
			<key>logo</key>
			<string>Prayz</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/prayz-fm-the-power-and-the-glory,15159.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>RCI Caribbean International</string>
			<key>logo</key>
			<string>RCI</string>
			<key>link</key>
			<string>http://media.carib.pro/RCI.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-caribbean-international-rci,6612.m3u</string>
			<key>note</key>
			<string>News, Talk, Top Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Real FM</string>
			<key>logo</key>
			<string>Real</string>
			<key>link</key>
			<string>http://s7.voscast.com:8840/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>RFI 102.1 FM</string>
			<key>logo</key>
			<string>RFI</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/rfi-102-1-fm,19771.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rizzen 102 FM</string>
			<key>logo</key>
			<string>Rizzen</string>
			<key>link</key>
			<string>http://38.96.148.38:9668/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Saint Lucia</string>
			<key>logo</key>
			<string>Saint</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-saint-lucia,10441.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>The Wave</string>
			<key>logo</key>
			<string>Wave</string>
			<key>link</key>
			<string>http://ice66.securenetsystems.net/THEWAVE.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/the-wave-st-lucia-93-7-fm,16367.m3u</string>
			<key>note</key>
			<string>Top Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Vybe</string>
			<key>logo</key>
			<string>Vybe</string>
			<key>link</key>
			<string>http://us2.internet-radio.com:8103/live.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/vybe-radio-100-9-fm-st-lucia,19015.m3u</string>
			<key>note</key>
			<string>News, Music</string>
		</dict>
	</array>
</dict>
</plist>
