<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>IRIB 1 یک</string>
		<key>logo</key>
		<string>IRIB1</string>
		<key>link</key>
		<string>http://tv1.ir/portal/viewpage/1765</string>
		<key>http</key>
		<string>http://www1.live.irib.ir/#tv1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>دو IRIB 1 </string>
		<key>logo</key>
		<string>IRIB2</string>
		<key>link</key>
		<string>http://www.tv2.ir/html/item/3</string>
		<key>http</key>
		<string>http://www1.live.irib.ir/#tv2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>IRIB 3 سه</string>
		<key>logo</key>
		<string>IRIB3</string>
		<key>link</key>
		<string>http://www.tv3.ir/live</string>
		<key>http</key>
		<string>http://www1.live.irib.ir/#tv3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>IRIB 4 چهار</string>
		<key>logo</key>
		<string>IRIB4</string>
		<key>link</key>
		<string>http://tv4.ir/Live</string>
		<key>http</key>
		<string>http://www1.live.irib.ir/#tv4</string>
	</dict>
	<dict>
		<key>name</key>
		<string>IRIB Tehran 5 تهران</string>
		<key>logo</key>
		<string>IRIB5</string>
		<key>link</key>
		<string>http://tv5.ir/tv5live</string>
		<key>http</key>
		<string>http://www1.live.irib.ir/#tv5</string>
	</dict>
	<dict>
		<key>name</key>
		<string>IRIB Press پرس</string>
		<key>logo</key>
		<string>IRIB6</string>
		<key>link</key>
		<string>http://www.presstv.com/Default/Live</string>
		<key>http</key>
		<string>http://www.presstv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>IRINN (Khabar) خبر</string>
		<key>logo</key>
		<string>IRIB7</string>
		<key>link</key>
		<string>http://www.irinn.ir/fa/live</string>
		<key>http</key>
		<string>http://www1.live.irib.ir/#irinn</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Alalam العالم</string>
		<key>logo</key>
		<string>IRIB8</string>
		<key>link</key>
		<string>http://www.alalam.ir/live</string>
		<key>http</key>
		<string>http://www.alalam.ir/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Jam-e Jam جام جم</string>
		<key>logo</key>
		<string>IRIB9</string>
		<key>link</key>
		<string>http://www.jjtvn.ir/fa/live</string>
		<key>http</key>
		<string>http://www.jjtvn.ir</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hispan هیسپان</string>
		<key>logo</key>
		<string>IRIB10</string>
		<key>link</key>
		<string>https://www.hispantv.com/directo</string>
		<key>http</key>
		<string>https://www.youtube.com/user/hispantv/videos?live_view=501&amp;flow=grid&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nasim</string>
		<key>logo</key>
		<string>Nasim</string>
		<key>link</key>
		<string>http://www.tvnasim.ir/live</string>
		<key>http</key>
		<string>http://www1.live.irib.ir/#nasim</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sahar Azeri سحر</string>
		<key>logo</key>
		<string>Azeri</string>
		<key>link</key>
		<string>http://azeri.sahartv.ir/tv/live</string>
		<key>http</key>
		<string>http://azeri.sahartv.ir/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sahar Balkan سحر</string>
		<key>logo</key>
		<string>Balkan</string>
		<key>link</key>
		<string>http://balkan.sahartv.ir/tv/uzivo</string>
		<key>http</key>
		<string>http://balkan.sahartv.ir/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sahar Kurdish سحر</string>
		<key>logo</key>
		<string>Kurdish</string>
		<key>link</key>
		<string>http://kurdish.sahartv.ir/tv/live</string>
		<key>http</key>
		<string>http://kurdish.sahartv.ir/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sahar Kurmanci سحر</string>
		<key>logo</key>
		<string>Kurmanci</string>
		<key>link</key>
		<string>http://kurmanci.sahartv.ir/tv/live</string>
		<key>http</key>
		<string>http://kurmanci.sahartv.ir/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sahar Urdu سحر</string>
		<key>logo</key>
		<string>Urdu</string>
		<key>link</key>
		<string>http://urdu.sahartv.ir/tv/watch_live</string>
		<key>http</key>
		<string>http://www1.live.irib.ir/#ifilm-farsi</string>
	</dict>
	<dict>
		<key>name</key>
		<string>iFilm Persian</string>
		<key>logo</key>
		<string>iFilm1</string>
		<key>link</key>
		<string>http://fa.ifilmtv.com/Home/Live</string>
		<key>http</key>
		<string>http://www1.live.irib.ir/#ifilm-farsi</string>
	</dict>
	<dict>
		<key>name</key>
		<string>iFilm English</string>
		<key>logo</key>
		<string>iFilm2</string>
		<key>link</key>
		<string>http://en.ifilmtv.com/Home/Live</string>
		<key>http</key>
		<string>http://www1.live.irib.ir/#ifilm-farsi</string>
	</dict>
	<dict>
		<key>name</key>
		<string>iFilm Arabic</string>
		<key>logo</key>
		<string>iFilm3</string>
		<key>link</key>
		<string>http://ar.ifilmtv.com/Home/Live</string>
		<key>http</key>
		<string>http://ar.ifilmtv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mostanad مستند</string>
		<key>logo</key>
		<string>Mostanad</string>
		<key>link</key>
		<string>http://www.doctv.ir/live</string>
		<key>http</key>
		<string>http://www1.live.irib.ir/#mostanad</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Shoma شما</string>
		<key>logo</key>
		<string>Shoma</string>
		<key>link</key>
		<string>http://shomatv.ir/livetv</string>
		<key>http</key>
		<string>http://www1.live.irib.ir/#shoma</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Salamat</string>
		<key>logo</key>
		<string>Salamat</string>
		<key>link</key>
		<string>http://salamattv.ir/</string>
		<key>http</key>
		<string>http://www1.live.irib.ir/#salamat</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Amouzesh آموزش</string>
		<key>logo</key>
		<string>Amouzesh</string>
		<key>link</key>
		<string>http://tv7.ir/portal/viewpage/1366</string>
		<key>http</key>
		<string>http://www1.live.irib.ir/#amuzesh</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Pooya</string>
		<key>logo</key>
		<string>Pooya</string>
		<key>link</key>
		<string>http://www.pooyatv.ir/live</string>
		<key>http</key>
		<string>http://www1.live.irib.ir/#pouya</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Varzesh ورزش سیما</string>
		<key>logo</key>
		<string>Varzesh</string>
		<key>link</key>
		<string>http://varzeshtv.ir/Live</string>
		<key>http</key>
		<string>http://www1.live.irib.ir/#varzesh</string>
	</dict>
	<dict>
		<key>name</key>
		<string>IRIB Quran</string>
		<key>logo</key>
		<string>Quran</string>
		<key>link</key>
		<string>http://qurantv.ir/live</string>
		<key>http</key>
		<string>http://www1.live.irib.ir/#quran</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Alkawthar الکوثر</string>
		<key>logo</key>
		<string>Alkawthar</string>
		<key>link</key>
		<string>http://www.alkawthartv.com/live</string>
		<key>http</key>
		<string>http://www.alkawthartv.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ofogh</string>
		<key>logo</key>
		<string>Ofogh</string>
		<key>link</key>
		<string>http://www.ofoghtv.ir/</string>
		<key>http</key>
		<string>http://www1.live.irib.ir/#ofogh</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Omid باشگاه امید</string>
		<key>logo</key>
		<string>Omid</string>
		<key>link</key>
		<string>http://omidtv.ir/portal/viewpage/1734</string>
		<key>http</key>
		<string>http://www1.live.irib.ir/#omid</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tamasha</string>
		<key>logo</key>
		<string>Tamasha</string>
		<key>link</key>
		<string>http://www1.live.irib.ir/#tamasha</string>
		<key>http</key>
		<string>http://www1.live.irib.ir/#tamasha</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Iran KALA</string>
		<key>logo</key>
		<string>KALA</string>
		<key>link</key>
		<string>http://www1.live.irib.ir/#irankala</string>
		<key>http</key>
		<string>http://irankala.ir/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Al Jazeera الجزيرة‎</string>
		<key>logo</key>
		<string>Jazeera</string>
		<key>link</key>
		<string>http://www.aljazeera.net/broadcastschedule</string>
		<key>http</key>
		<string>https://www.youtube.com/user/aljazeerachannel/videos?live_view=501&amp;flow=grid&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Al Jazeera English (الجزيرة الإنجليزية)</string>
		<key>logo</key>
		<string>English</string>
		<key>link</key>
		<string>http://www.aljazeera.com/live/</string>
		<key>http</key>
		<string>https://www.youtube.com/user/AlJazeeraEnglish/videos?view=2&amp;live_view=501&amp;flow=grid</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Aljazeera Mubasher (الجزيرة مباشر‎)</string>
		<key>logo</key>
		<string>Mubasher</string>
		<key>link</key>
		<string>http://mubasher.aljazeera.net/</string>
		<key>http</key>
		<string>https://www.youtube.com/user/aljazeeramubasher/videos?flow=grid&amp;view=2&amp;live_view=501</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Al Arabiya العربية‎</string>
		<key>logo</key>
		<string>Arabiya</string>
		<key>link</key>
		<string>https://www.alarabiya.net/live-stream.html?cref=navdesk</string>
		<key>http</key>
		<string>https://www.youtube.com/user/AlArabiya/videos?live_view=501&amp;flow=grid&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>الحدث Al Hadath</string>
		<key>logo</key>
		<string>Hadath</string>
		<key>link</key>
		<string>http://www.alhadath.net/live-stream.html?cref=navdesk</string>
		<key>http</key>
		<string>https://www.youtube.com/channel/UCrj5BGAhtWxDfqbza9T9hqA/videos?live_view=501&amp;flow=grid&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sky News Arabia (سكاي نيوز عربية‎)</string>
		<key>logo</key>
		<string>Sky</string>
		<key>link</key>
		<string>https://www.skynewsarabia.com/web/livestream</string>
		<key>http</key>
		<string>https://www.youtube.com/user/skynewsarabia/videos?flow=grid&amp;view=2&amp;live_view=501</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CNBC Arabia (سي إن بي سي عربية)</string>
		<key>logo</key>
		<string>CNBC</string>
		<key>link</key>
		<string>https://www.cnbcarabia.com/Pages/live</string>
		<key>http</key>
		<string>https://www.cnbcarabia.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>BBC Arabic (بي بي سي عربي)</string>
		<key>logo</key>
		<string>BBC</string>
		<key>link</key>
		<string>http://www.bbc.com/arabic/tvandradio/2013/05/000000_bbcarabic_livetv</string>
		<key>http</key>
		<string>https://www.youtube.com/user/BBCArabicNews/videos?flow=grid&amp;live_view=501&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>العربي Alaraby    </string>
		<key>logo</key>
		<string>Alaraby</string>
		<key>link</key>
		<string>http://alaraby.tv/live/61/alaraby</string>
		<key>http</key>
		<string>http://alaraby.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>euronews عــربي</string>
		<key>logo</key>
		<string>euronews</string>
		<key>link</key>
		<string>http://arabic.euronews.com/live</string>
		<key>http</key>
		<string>http://arabic.euronews.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>فرانس 24 (FRANCE 24 Arabic)</string>
		<key>logo</key>
		<string>FRANCE</string>
		<key>link</key>
		<string>http://www.france24.com/ar/</string>
		<key>http</key>
		<string>https://www.youtube.com/user/france24arabic/videos?flow=grid&amp;view=2&amp;live_view=501</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Al Mayadeen الميادين</string>
		<key>logo</key>
		<string>Mayadeen</string>
		<key>link</key>
		<string>http://www.almayadeen.net/live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/Mayadeentv/videos?view=2&amp;live_view=501&amp;flow=grid</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Almagharibia المغاربية‎</string>
		<key>logo</key>
		<string>Almagharibia</string>
		<key>link</key>
		<string>https://almagharibia.tv/</string>
		<key>http</key>
		<string>https://almagharibia.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Alhurra الحرة</string>
		<key>logo</key>
		<string>Alhurra</string>
		<key>link</key>
		<string>https://www.alhurra.com/embed/player/tube/4.html</string>
		<key>http</key>
		<string>https://www.alhurra.com/embed/player/tube/5.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RT Arabic</string>
		<key>logo</key>
		<string>RT</string>
		<key>link</key>
		<string>https://arabic.rt.com/live/</string>
		<key>http</key>
		<string>https://www.youtube.com/user/RTarabic/videos?view=2&amp;live_view=501&amp;flow=grid</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CGTN Arabic سي جي تي أن العربية‎‎</string>
		<key>logo</key>
		<string>CGTN</string>
		<key>link</key>
		<string>https://www.cgtn.com/channel/ar.do</string>
		<key>http</key>
		<string>https://www.cgtn.com</string>
	</dict>
</array>
</plist>
