<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>IRIB 1 یک</string>
		<key>logo</key>
		<string>IRIB1</string>
		<key>link</key>
		<string>http://tv1.ir/portal/viewpage/1765</string>
		<key>http</key>
		<string>http://www1.live.irib.ir/#tv1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>دو IRIB 1 </string>
		<key>logo</key>
		<string>IRIB2</string>
		<key>link</key>
		<string>http://www.tv2.ir/html/item/3</string>
		<key>http</key>
		<string>http://www1.live.irib.ir/#tv2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>IRIB 3 سه</string>
		<key>logo</key>
		<string>IRIB3</string>
		<key>link</key>
		<string>http://www.tv3.ir/live</string>
		<key>http</key>
		<string>http://www1.live.irib.ir/#tv3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>IRIB 4 چهار</string>
		<key>logo</key>
		<string>IRIB4</string>
		<key>link</key>
		<string>http://tv4.ir/Live</string>
		<key>http</key>
		<string>http://www1.live.irib.ir/#tv4</string>
	</dict>
	<dict>
		<key>name</key>
		<string>IRIB Tehran 5 تهران</string>
		<key>logo</key>
		<string>IRIB5</string>
		<key>link</key>
		<string>http://tv5.ir/tv5live</string>
		<key>http</key>
		<string>http://www1.live.irib.ir/#tv5</string>
	</dict>
	<dict>
		<key>name</key>
		<string>IRIB Press پرس</string>
		<key>logo</key>
		<string>IRIB6</string>
		<key>link</key>
		<string>http://www.presstv.com/Default/Live</string>
		<key>http</key>
		<string>http://www.presstv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>IRINN (Khabar) خبر</string>
		<key>logo</key>
		<string>IRIB7</string>
		<key>link</key>
		<string>http://www.irinn.ir/fa/live</string>
		<key>http</key>
		<string>http://www1.live.irib.ir/#irinn</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Alalam العالم</string>
		<key>logo</key>
		<string>IRIB8</string>
		<key>link</key>
		<string>http://www.alalam.ir/live</string>
		<key>http</key>
		<string>http://www.alalam.ir/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Jam-e Jam جام جم</string>
		<key>logo</key>
		<string>IRIB9</string>
		<key>link</key>
		<string>http://www.jjtvn.ir/fa/live</string>
		<key>http</key>
		<string>http://www.jjtvn.ir</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hispan هیسپان</string>
		<key>logo</key>
		<string>IRIB10</string>
		<key>link</key>
		<string>https://www.hispantv.com/directo</string>
		<key>http</key>
		<string>https://www.youtube.com/user/hispantv/videos?live_view=501&amp;flow=grid&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nasim</string>
		<key>logo</key>
		<string>Nasim</string>
		<key>link</key>
		<string>http://www.tvnasim.ir/live</string>
		<key>http</key>
		<string>http://www1.live.irib.ir/#nasim</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sahar Azeri سحر</string>
		<key>logo</key>
		<string>Azeri</string>
		<key>link</key>
		<string>http://azeri.sahartv.ir/tv/live</string>
		<key>http</key>
		<string>http://azeri.sahartv.ir/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sahar Balkan سحر</string>
		<key>logo</key>
		<string>Balkan</string>
		<key>link</key>
		<string>http://balkan.sahartv.ir/tv/uzivo</string>
		<key>http</key>
		<string>http://balkan.sahartv.ir/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sahar Kurdish سحر</string>
		<key>logo</key>
		<string>Kurdish</string>
		<key>link</key>
		<string>http://kurdish.sahartv.ir/tv/live</string>
		<key>http</key>
		<string>http://kurdish.sahartv.ir/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sahar Kurmanci سحر</string>
		<key>logo</key>
		<string>Kurmanci</string>
		<key>link</key>
		<string>http://kurmanci.sahartv.ir/tv/live</string>
		<key>http</key>
		<string>http://kurmanci.sahartv.ir/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sahar Urdu سحر</string>
		<key>logo</key>
		<string>Urdu</string>
		<key>link</key>
		<string>http://urdu.sahartv.ir/tv/watch_live</string>
		<key>http</key>
		<string>http://www1.live.irib.ir/#ifilm-farsi</string>
	</dict>
	<dict>
		<key>name</key>
		<string>iFilm Persian</string>
		<key>logo</key>
		<string>iFilm1</string>
		<key>link</key>
		<string>http://fa.ifilmtv.com/Home/Live</string>
		<key>http</key>
		<string>http://www1.live.irib.ir/#ifilm-farsi</string>
	</dict>
	<dict>
		<key>name</key>
		<string>iFilm English</string>
		<key>logo</key>
		<string>iFilm2</string>
		<key>link</key>
		<string>http://en.ifilmtv.com/Home/Live</string>
		<key>http</key>
		<string>http://www1.live.irib.ir/#ifilm-farsi</string>
	</dict>
	<dict>
		<key>name</key>
		<string>iFilm Arabic</string>
		<key>logo</key>
		<string>iFilm3</string>
		<key>link</key>
		<string>http://ar.ifilmtv.com/Home/Live</string>
		<key>http</key>
		<string>http://ar.ifilmtv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mostanad مستند</string>
		<key>logo</key>
		<string>Mostanad</string>
		<key>link</key>
		<string>http://www.doctv.ir/live</string>
		<key>http</key>
		<string>http://www1.live.irib.ir/#mostanad</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Shoma شما</string>
		<key>logo</key>
		<string>Shoma</string>
		<key>link</key>
		<string>http://shomatv.ir/livetv</string>
		<key>http</key>
		<string>http://www1.live.irib.ir/#shoma</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Salamat</string>
		<key>logo</key>
		<string>Salamat</string>
		<key>link</key>
		<string>http://salamattv.ir/</string>
		<key>http</key>
		<string>http://www1.live.irib.ir/#salamat</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Amouzesh آموزش</string>
		<key>logo</key>
		<string>Amouzesh</string>
		<key>link</key>
		<string>http://tv7.ir/portal/viewpage/1366</string>
		<key>http</key>
		<string>http://www1.live.irib.ir/#amuzesh</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Pooya</string>
		<key>logo</key>
		<string>Pooya</string>
		<key>link</key>
		<string>http://www.pooyatv.ir/live</string>
		<key>http</key>
		<string>http://www1.live.irib.ir/#pouya</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Varzesh ورزش سیما</string>
		<key>logo</key>
		<string>Varzesh</string>
		<key>link</key>
		<string>http://varzeshtv.ir/Live</string>
		<key>http</key>
		<string>http://www1.live.irib.ir/#varzesh</string>
	</dict>
	<dict>
		<key>name</key>
		<string>IRIB Quran</string>
		<key>logo</key>
		<string>Quran</string>
		<key>link</key>
		<string>http://qurantv.ir/live</string>
		<key>http</key>
		<string>http://www1.live.irib.ir/#quran</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Alkawthar الکوثر</string>
		<key>logo</key>
		<string>Alkawthar</string>
		<key>link</key>
		<string>http://www.alkawthartv.com/live</string>
		<key>http</key>
		<string>http://www.alkawthartv.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ofogh</string>
		<key>logo</key>
		<string>Ofogh</string>
		<key>link</key>
		<string>http://www.ofoghtv.ir/</string>
		<key>http</key>
		<string>http://www1.live.irib.ir/#ofogh</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Omid باشگاه امید</string>
		<key>logo</key>
		<string>Omid</string>
		<key>link</key>
		<string>http://omidtv.ir/portal/viewpage/1734</string>
		<key>http</key>
		<string>http://www1.live.irib.ir/#omid</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tamasha</string>
		<key>logo</key>
		<string>Tamasha</string>
		<key>link</key>
		<string>http://www1.live.irib.ir/#tamasha</string>
		<key>http</key>
		<string>http://www1.live.irib.ir/#tamasha</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Iran KALA</string>
		<key>logo</key>
		<string>KALA</string>
		<key>link</key>
		<string>http://www1.live.irib.ir/#irankala</string>
		<key>http</key>
		<string>http://irankala.ir/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Aparat آپارات</string>
		<key>logo</key>
		<string>Aparat</string>
		<key>link</key>
		<string>https://www.aparat.com/live</string>
		<key>http</key>
		<string>https://www.aparat.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>BBC Persian</string>
		<key>logo</key>
		<string>BB</string>
		<key>link</key>
		<string>http://www.bbc.com/persian/tvandradio/2013/08/000001_bbcpersian_livetv</string>
		<key>http</key>
		<string>https://www.youtube.com/user/BBCPersian/videos?view=2&amp;live_view=501&amp;flow=grid</string>
	</dict>
	<dict>
		<key>name</key>
		<string>VOA Persian</string>
		<key>logo</key>
		<string>VOA</string>
		<key>link</key>
		<string>https://ir.voanews.com/t/86.html?s=167034</string>
		<key>http</key>
		<string>https://www.youtube.com/user/PNNVideo/videos?view=2&amp;flow=grid&amp;live_view=501</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Andisheh</string>
		<key>logo</key>
		<string>Andisheh</string>
		<key>link</key>
		<string>http://www.andisheh.tv/andishehlive.html</string>
		<key>http</key>
		<string>http://www.andisheh.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Royal Time</string>
		<key>logo</key>
		<string>Royal</string>
		<key>link</key>
		<string>http://rtimetv.com/</string>
		<key>http</key>
		<string>http://rtimetv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Rang-A-Rang</string>
		<key>logo</key>
		<string>Rang</string>
		<key>link</key>
		<string>http://rangarang.us/</string>
		<key>http</key>
		<string>http://rangarang.us/youtube_fa/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tin</string>
		<key>logo</key>
		<string>Tin</string>
		<key>link</key>
		<string>http://www.afnl.com/</string>
		<key>http</key>
		<string>http://www.afnl.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Yek</string>
		<key>logo</key>
		<string>Yek</string>
		<key>link</key>
		<string>http://ch1.cc/live-tv/</string>
		<key>http</key>
		<string>http://ch1.cc</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mihan</string>
		<key>logo</key>
		<string>Mihan</string>
		<key>link</key>
		<string>http://mihantv.com/</string>
		<key>http</key>
		<string>http://mihantv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Didgah</string>
		<key>logo</key>
		<string>Didgah</string>
		<key>link</key>
		<string>http://www.didgah.tv/</string>
		<key>http</key>
		<string>https://livestream.com/accounts/7712661/events/2873466</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Simay Azadi</string>
		<key>logo</key>
		<string>Simay</string>
		<key>link</key>
		<string>https://iranntv.com/%D9%BE%D8%AE%D8%B4-%D8%B2%D9%86%D8%AF%D9%87-2/</string>
		<key>http</key>
		<string>https://iranntv.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Iranefarda ایران فردا</string>
		<key>logo</key>
		<string>Iranefarda</string>
		<key>link</key>
		<string>http://iranefardalive.com/low-bandwidth/</string>
		<key>http</key>
		<string>http://iranefardalive.com/now/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ITC Canada</string>
		<key>logo</key>
		<string>ITC</string>
		<key>link</key>
		<string>http://itctv.ca/</string>
		<key>http</key>
		<string>http://itctv.ca/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MTC Melli</string>
		<key>logo</key>
		<string>Melli</string>
		<key>link</key>
		<string>http://www.mellitv.com/</string>
		<key>http</key>
		<string>http://www.mellitv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Radio Javan</string>
		<key>logo</key>
		<string>RJTV</string>
		<key>link</key>
		<string>https://www.radiojavan.com/tv</string>
		<key>http</key>
		<string>https://www.radiojavan.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Wesal Haq</string>
		<key>logo</key>
		<string>Haq</string>
		<key>link</key>
		<string>http://www.wesalhaq.tv/</string>
		<key>http</key>
		<string>http://www.wesalhaq.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kalemeh کلمه</string>
		<key>logo</key>
		<string>Kalemeh</string>
		<key>link</key>
		<string>https://kalemeh.tv/?q=%D9%BE%D8%AE%D8%B4-%D8%B2%D9%86%D8%AF%D9%87</string>
		<key>http</key>
		<string>https://kalemeh.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Salaam</string>
		<key>logo</key>
		<string>Salaam</string>
		<key>link</key>
		<string>http://www.salaamtv.org/Fa/WatchLive.aspx</string>
		<key>http</key>
		<string>http://www.salaamtv.org/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mohabat</string>
		<key>logo</key>
		<string>Mohabat</string>
		<key>link</key>
		<string>http://www.mohabat.tv/Default.aspx?pid=26&amp;l=2</string>
		<key>http</key>
		<string>http://www.mohabat.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TBN Nejat</string>
		<key>logo</key>
		<string>Nejat</string>
		<key>link</key>
		<string>https://www.tbn.org/watch/live?network=nejat#</string>
		<key>http</key>
		<string>https://www.tbn.org/watch/live</string>
	</dict>
	<dict>
		<key>name</key>
		<string>البرز Alborz </string>
		<key>logo</key>
		<string>Alborz</string>
		<key>link</key>
		<string>http://alborz.irib.ir/livetv</string>
		<key>http</key>
		<string>http://alborz.irib.ir</string>
	</dict>
	<dict>
		<key>name</key>
		<string>سبلان Sabalan </string>
		<key>logo</key>
		<string>Sabalan</string>
		<key>link</key>
		<string>http://ardabil.irib.ir/-/%D9%BE%D8%AE%D8%B4-%D8%B2%D9%86%D8%AF%D9%87-%D8%B3%DB%8C%D9%85%D8%A7</string>
		<key>http</key>
		<string>http://ardabil.irib.ir</string>
	</dict>
	<dict>
		<key>name</key>
		<string>بوشهر Bushehr</string>
		<key>logo</key>
		<string>Bushehr</string>
		<key>link</key>
		<string>http://boushehr.irib.ir/tv/live</string>
		<key>http</key>
		<string>http://boushehr.irib.ir</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Jahanbin جهانبین</string>
		<key>logo</key>
		<string>Jahanbin</string>
		<key>link</key>
		<string>http://chb.irib.ir/livetv</string>
		<key>http</key>
		<string>http://chb.irib.ir</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sahand سهند</string>
		<key>logo</key>
		<string>Sahand</string>
		<key>link</key>
		<string>http://tabriz.irib.ir/livetv</string>
		<key>http</key>
		<string>http://tabriz.irib.ir/-/%D8%A8%D8%B1%D9%86%D8%A7%D9%85%D9%87-300004-2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Fars فارس</string>
		<key>logo</key>
		<string>Fars</string>
		<key>link</key>
		<string>http://fars.irib.ir/live</string>
		<key>http</key>
		<string>http://fars.irib.ir</string>
	</dict>
	<dict>
		<key>name</key>
		<string>باران Rasht</string>
		<key>logo</key>
		<string>Rasht</string>
		<key>link</key>
		<string>http://guilan.irib.ir/tv/live</string>
		<key>http</key>
		<string>http://guilan.irib.ir</string>
	</dict>
	<dict>
		<key>name</key>
		<string>همدان  Hamadan</string>
		<key>logo</key>
		<string>Hamadan</string>
		<key>link</key>
		<string>http://hamedan.irib.ir/tv/live</string>
		<key>http</key>
		<string>http://hamedan.irib.ir/radio/live</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Gorgan سبز</string>
		<key>logo</key>
		<string>Gorgan</string>
		<key>link</key>
		<string>http://golestan.irib.ir/live-sima</string>
		<key>http</key>
		<string>http://golestan.irib.ir/live-radio</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ilam ایلام</string>
		<key>logo</key>
		<string>Ilam</string>
		<key>link</key>
		<string>http://ilam.irib.ir/live-streaming-sound</string>
		<key>http</key>
		<string>http://ilam.irib.ir/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Isfahan اصفهان</string>
		<key>logo</key>
		<string>Isfahan</string>
		<key>link</key>
		<string>http://isfahan.irib.ir/tvlive</string>
		<key>http</key>
		<string>http://isfahan.irib.ir</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kerman کرمان</string>
		<key>logo</key>
		<string>Kerman</string>
		<key>link</key>
		<string>http://kerman.irib.ir/live</string>
		<key>http</key>
		<string>http://kerman.irib.ir</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Khuzestan خوزستان</string>
		<key>logo</key>
		<string>Khuzestan</string>
		<key>link</key>
		<string>http://ahwaz.irib.ir/livetv</string>
		<key>http</key>
		<string>http://ahwaz.irib.ir</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Dena دنا</string>
		<key>logo</key>
		<string>Dena</string>
		<key>link</key>
		<string>http://yasouj.irib.ir/-/%D9%BE%D8%AE%D8%B4-%D8%B2%D9%86%D8%AF%D9%87-%D8%B3%DB%8C-1</string>
		<key>http</key>
		<string>http://yasouj.irib.ir</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Aflak افلاک</string>
		<key>logo</key>
		<string>Aflak</string>
		<key>link</key>
		<string>http://lorestan.irib.ir/%D9%BE%D8%AE%D8%B4-%D8%B2%D9%86%D8%AF%D9%87-%D8%B3%DB%8C%D9%85%D8%A7</string>
		<key>http</key>
		<string>http://lorestan.irib.ir</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Atrek River اترک</string>
		<key>logo</key>
		<string>Atrek</string>
		<key>link</key>
		<string>http://bojnourd.irib.ir/tv/live</string>
		<key>http</key>
		<string>http://bojnourd.irib.ir</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Qazvin قزوین</string>
		<key>logo</key>
		<string>Qazvin</string>
		<key>link</key>
		<string>http://qazvin.irib.ir/%D9%BE%D8%AE%D8%B4-%D8%B2%D9%86%D8%AF%D9%87-%D8%B3%DB%8C%D9%85%D8%A7%DB%8C-%D9%85%D8%B1%DA%A9%D8%B2-%D9%82%D8%B2%D9%88%DB%8C%D9%86</string>
		<key>http</key>
		<string>http://qazvin.irib.ir</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Qom قم</string>
		<key>logo</key>
		<string>Qom</string>
		<key>link</key>
		<string>http://qom.irib.ir/tv/live</string>
		<key>http</key>
		<string>http://qom.irib.ir/live</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Razavi Khorasan خراسان رضوی</string>
		<key>logo</key>
		<string>Razavi</string>
		<key>link</key>
		<string>http://mashhad.irib.ir/tv/live</string>
		<key>http</key>
		<string>http://mashhad.irib.ir/live</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Semnan سمنان</string>
		<key>logo</key>
		<string>Semnan</string>
		<key>link</key>
		<string>http://semnan.irib.ir/%D9%BE%D8%AE%D8%B4-%D8%B2%D9%86%D8%AF%D9%87-%D8%B3%DB%8C%D9%85%D8%A7%DB%8C-%D9%85%D8%B1%D8%A7%DA%A9%D8%B2-%D8%A7%D8%B3%D8%AA%D8%A7%D9%86%DB%8C?p_p_id=56_INSTANCE_zNdHuwqaYWv7&amp;p_p_lifecycle=0&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=column-1&amp;p_p_col_count=2&amp;_56_INSTANCE_zNdHuwqaYWv7_p_v_g_id=589271&amp;_56_INSTANCE_zNdHuwqaYWv7_cmd=add&amp;_56_INSTANCE_zNdHuwqaYWv7_currentURL=%2F%25D9%25BE%25D8%25AE%25D8%25B4-%25D8%25B2%25D9%2586%25D8%25AF%25D9%2587-%25D8%25B3%25DB%258C%25D9%2585%25D8%25A7%25DB%258C-%25D9%2585%25D8%25B1%25D8%25A7%25DA%25A9%25D8%25B2-%25D8%25A7%25D8%25B3%25D8%25AA%25D8%25A7%25D9%2586%25DB%258C&amp;_56_INSTANCE_zNdHuwqaYWv7_doAsUserId=&amp;_56_INSTANCE_zNdHuwqaYWv7_portletAjaxable=1</string>
		<key>http</key>
		<string>http://semnan.irib.ir</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hamoon هامون</string>
		<key>logo</key>
		<string>Hamoon</string>
		<key>link</key>
		<string>http://zahedan.irib.ir/tv/live</string>
		<key>http</key>
		<string>http://zahedan.irib.ir</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Khavaran خاوران</string>
		<key>logo</key>
		<string>Khavaran</string>
		<key>link</key>
		<string>http://birjand.irib.ir/tv/live</string>
		<key>http</key>
		<string>http://birjand.irib.ir</string>
	</dict>
	<dict>
		<key>name</key>
		<string>West Azerbaijan</string>
		<key>logo</key>
		<string>Azerbaijan</string>
		<key>link</key>
		<string>http://urmia.irib.ir/live</string>
		<key>http</key>
		<string>http://urmia.irib.ir</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mahabad مهاباد</string>
		<key>logo</key>
		<string>Mahabad</string>
		<key>link</key>
		<string>http://mahabad.irib.ir/%D9%BE%D8%AE%D8%B4-%D8%B2%D9%86%D8%AF%D9%87</string>
		<key>http</key>
		<string>http://mahabad.irib.ir</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Yazd و سیمای مرکز یزد</string>
		<key>logo</key>
		<string>Yazd</string>
		<key>link</key>
		<string>http://yazd.irib.ir/livetv</string>
		<key>http</key>
		<string>http://yazd.irib.ir</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Eshragh اشراق</string>
		<key>logo</key>
		<string>Eshragh</string>
		<key>link</key>
		<string>http://zanjan.irib.ir/tv-live</string>
		<key>http</key>
		<string>http://zanjan.irib.ir</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Al Jazeera الجزيرة‎</string>
		<key>logo</key>
		<string>Jazeera</string>
		<key>link</key>
		<string>http://www.aljazeera.net/broadcastschedule</string>
		<key>http</key>
		<string>https://www.youtube.com/user/aljazeerachannel/videos?live_view=501&amp;flow=grid&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Al Jazeera English (الجزيرة الإنجليزية)</string>
		<key>logo</key>
		<string>English</string>
		<key>link</key>
		<string>http://www.aljazeera.com/live/</string>
		<key>http</key>
		<string>https://www.youtube.com/user/AlJazeeraEnglish/videos?view=2&amp;live_view=501&amp;flow=grid</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Aljazeera Mubasher (الجزيرة مباشر‎)</string>
		<key>logo</key>
		<string>Mubasher</string>
		<key>link</key>
		<string>http://mubasher.aljazeera.net/</string>
		<key>http</key>
		<string>https://www.youtube.com/user/aljazeeramubasher/videos?flow=grid&amp;view=2&amp;live_view=501</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Al Arabiya العربية‎</string>
		<key>logo</key>
		<string>Arabiya</string>
		<key>link</key>
		<string>https://www.alarabiya.net/live-stream.html?cref=navdesk</string>
		<key>http</key>
		<string>https://www.youtube.com/user/AlArabiya/videos?live_view=501&amp;flow=grid&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>الحدث Al Hadath</string>
		<key>logo</key>
		<string>Hadath</string>
		<key>link</key>
		<string>http://www.alhadath.net/live-stream.html?cref=navdesk</string>
		<key>http</key>
		<string>https://www.youtube.com/channel/UCrj5BGAhtWxDfqbza9T9hqA/videos?live_view=501&amp;flow=grid&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sky News Arabia (سكاي نيوز عربية‎)</string>
		<key>logo</key>
		<string>Sky</string>
		<key>link</key>
		<string>https://www.skynewsarabia.com/web/livestream</string>
		<key>http</key>
		<string>https://www.youtube.com/user/skynewsarabia/videos?flow=grid&amp;view=2&amp;live_view=501</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CNBC Arabia (سي إن بي سي عربية)</string>
		<key>logo</key>
		<string>CNBC</string>
		<key>link</key>
		<string>https://www.cnbcarabia.com/Pages/live</string>
		<key>http</key>
		<string>https://www.cnbcarabia.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>BBC Arabic (بي بي سي عربي)</string>
		<key>logo</key>
		<string>BBC</string>
		<key>link</key>
		<string>http://www.bbc.com/arabic/tvandradio/2013/05/000000_bbcarabic_livetv</string>
		<key>http</key>
		<string>https://www.youtube.com/user/BBCArabicNews/videos?flow=grid&amp;live_view=501&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>العربي Alaraby    </string>
		<key>logo</key>
		<string>Alaraby</string>
		<key>link</key>
		<string>http://alaraby.tv/live/61/alaraby</string>
		<key>http</key>
		<string>http://alaraby.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TBN Al Horreya</string>
		<key>logo</key>
		<string>Horreya</string>
		<key>link</key>
		<string>https://www.tbn.org/watch/live?network=al-horreya#</string>
		<key>http</key>
		<string>https://www.tbn.org/watch/live</string>
	</dict>
	<dict>
		<key>name</key>
		<string>euronews عــربي</string>
		<key>logo</key>
		<string>euronews</string>
		<key>link</key>
		<string>http://arabic.euronews.com/live</string>
		<key>http</key>
		<string>http://arabic.euronews.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>فرانس 24 (FRANCE 24 Arabic)</string>
		<key>logo</key>
		<string>FRANCE</string>
		<key>link</key>
		<string>http://www.france24.com/ar/</string>
		<key>http</key>
		<string>https://www.youtube.com/user/france24arabic/videos?flow=grid&amp;view=2&amp;live_view=501</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Al Mayadeen الميادين</string>
		<key>logo</key>
		<string>Mayadeen</string>
		<key>link</key>
		<string>http://www.almayadeen.net/live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/Mayadeentv/videos?view=2&amp;live_view=501&amp;flow=grid</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Almagharibia المغاربية‎</string>
		<key>logo</key>
		<string>Almagharibia</string>
		<key>link</key>
		<string>https://almagharibia.tv/</string>
		<key>http</key>
		<string>https://almagharibia.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Alhurra الحرة</string>
		<key>logo</key>
		<string>Alhurra</string>
		<key>link</key>
		<string>https://www.alhurra.com/embed/player/tube/4.html</string>
		<key>http</key>
		<string>https://www.alhurra.com/embed/player/tube/5.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RT Arabic</string>
		<key>logo</key>
		<string>RT</string>
		<key>link</key>
		<string>https://arabic.rt.com/live/</string>
		<key>http</key>
		<string>https://www.youtube.com/user/RTarabic/videos?view=2&amp;live_view=501&amp;flow=grid</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CGTN Arabic سي جي تي أن العربية‎‎</string>
		<key>logo</key>
		<string>CGTN</string>
		<key>link</key>
		<string>https://www.cgtn.com/channel/ar.do</string>
		<key>http</key>
		<string>https://www.cgtn.com</string>
	</dict>
</array>
</plist>
