<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string></string>
		<key>Main</key>
		<string></string>
		<key>Back</key>
		<string></string>
		<key>Banner</key>
		<string></string>
		<key>Show1</key>
		<string></string>
		<key>Show2</key>
		<string></string>
		<key>Show3</key>
		<string></string>
		<key>Show4</key>
		<string></string>
		<key>Alarm</key>
		<string></string>
		<key>CustomBanner</key>
		<string></string>
		<key>CustomSplash</key>
		<string></string>
		<key>Header</key>
		<string></string>
		<key>Footer</key>
		<string></string>
		<key>Email</key>
		<string>ios.apps.community@gmail.com</string>
		<key>Alternative</key>
		<string></string>
		<key>Application</key>
		<string></string>
		<key>Developer</key>
		<string></string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Menu</key>
	<array>
		<string>Top</string>
		<string>News</string>
		<string>Local</string>
		<string>Classic</string>
		<string>Music</string>
		<string>Sport</string>
		<string>Talk</string>
		<string>Youth</string>
		<string>Oldies</string>
	</array>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Africa Radio</string>
			<key>logo</key>
			<string>Afric</string>
			<key>link</key>
			<string>http://statslive.infomaniak.ch/playlist/african1paris/african1paris-128.mp3/playlist.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC Afrique</string>
			<key>logo</key>
			<string>BBC</string>
			<key>link</key>
			<string>http://bbcwssc.ic.llnwd.net/stream/bbcwssc_mp1_ws-frena.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Degnigban</string>
			<key>logo</key>
			<string>Degnigban</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-degnigban,18160.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kara</string>
			<key>logo</key>
			<string>Kara</string>
			<key>link</key>
			<string>http://node-15.zeno.fm/2bsx1sxr2vduv</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Lomé</string>
			<key>logo</key>
			<string>Lome</string>
			<key>link</key>
			<string>http://node-12.zeno.fm/umeg0b00hyduv</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Maria</string>
			<key>logo</key>
			<string>Maria</string>
			<key>link</key>
			<string>http://dreamsiteradiocp2.com:8050/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>RFI Afrique</string>
			<key>logo</key>
			<string>RFI</string>
			<key>link</key>
			<string>http://icepe1.infomaniak.ch/rfiafrique-96k.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>VOA Afrique</string>
			<key>logo</key>
			<string>VOA</string>
			<key>link</key>
			<string>http://stream.radiojar.com/yuqn4nngq3quv</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Zéphyr</string>
			<key>logo</key>
			<string>Zephyr</string>
			<key>link</key>
			<string>http://node-12.zeno.fm/n8hq8w5nxueuv</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
