<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>LRT</string>
		<key>logo</key>
		<string>LRT</string>
		<key>link</key>
		<string>http://www.lrt.lt/mediateka/tiesiogiai/lrt-televizija</string>
		<key>http</key>
		<string>http://www.lrt.lt/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>LRT Kultūra</string>
		<key>logo</key>
		<string>Kultura</string>
		<key>link</key>
		<string>http://www.lrt.lt/mediateka/tiesiogiai/lrt-kultura</string>
		<key>http</key>
		<string>http://www.lrt.lt/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>LRT Lituanica</string>
		<key>logo</key>
		<string>Lituanica</string>
		<key>link</key>
		<string>http://www.lrt.lt/mediateka/tiesiogiai/lrt-lituanica</string>
		<key>http</key>
		<string>http://www.lrt.lt/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Lietuvos Rytas</string>
		<key>logo</key>
		<string>Rytas</string>
		<key>link</key>
		<string>http://tv.lrytas.lt/live/</string>
		<key>http</key>
		<string>http://tv.lrytas.lt/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bloomberg TV Europe</string>
		<key>logo</key>
		<string>bloomberg</string>
		<key>link</key>
		<string>https://www.bloomberg.com/live/europe</string>
		<key>http</key>
		<string>https://www.bloomberg.com/live/us</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Euronews</string>
		<key>logo</key>
		<string>Euronews</string>
		<key>link</key>
		<string>http://de.euronews.com/live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/euronewsfr/videos?live_view=501&amp;flow=grid&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>EbS Europe by Satellite</string>
		<key>logo</key>
		<string>EbS</string>
		<key>link</key>
		<string>http://ec.europa.eu/avservices/ebs/live.cfm?page=1</string>
		<key>http</key>
		<string>http://ec.europa.eu/avservices/ebs/schedule.cfm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sky News</string>
		<key>logo</key>
		<string>Sky</string>
		<key>link</key>
		<string>https://news.sky.com/watch-live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/skynews</string>
	</dict>
</array>
</plist>
