<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1425194052</string>
		<key>Back</key>
		<string>8728969003</string>
		<key>Banner</key>
		<string>1998402528</string>
		<key>Show1</key>
		<string>REMOVED</string>
		<key>Show2</key>
		<string>REMOVED</string>
		<key>Show3</key>
		<string>REMOVED</string>
		<key>Show4</key>
		<string>REMOVED</string>
		<key>Alarm</key>
		<string>6266457191</string>
		<key>CustomBanner</key>
		<string>1177782044</string>
		<key>CustomSplash</key>
		<string>2027829281</string>
		<key>Header</key>
		<string>6046965347</string>
		<key>Footer</key>
		<string>1993822650</string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string>1360678771</string>
		<key>Application</key>
		<string>1435097898</string>
		<key>Developer</key>
		<string>1239592099</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Авторадио</string>
			<key>logo</key>
			<string>AvtoRadio</string>
			<key>link</key>
			<string>http://ic4.101.ru:8000/v3_1.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music/Information</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Наше Радио</string>
			<key>logo</key>
			<string>Nashe</string>
			<key>link</key>
			<string>http://nashe3.hostingradio.ru/nashe-128.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Russian rock</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Радио Шансон</string>
			<key>logo</key>
			<string>Chanson</string>
			<key>link</key>
			<string>http://audio.rambler.ru/action/play.m3u?id=420</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Радио Шансон Уфа</string>
			<key>logo</key>
			<string>Ufa</string>
			<key>link</key>
			<string>http://www.listenlive.eu/chansonufa.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Русское Радио</string>
			<key>logo</key>
			<string>Russkoe</string>
			<key>link</key>
			<string>http://www.listenlive.eu/ru_russkoeradio.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Russian pop</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ретро FM (Москва 88,3 FM)</string>
			<key>logo</key>
			<string>88,3</string>
			<key>link</key>
			<string>http://retroserver.streamr.ru:8043/retro128.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ретро FM (Петербург)</string>
			<key>logo</key>
			<string>Retro</string>
			<key>link</key>
			<string>http://www.onair.eltel.net/retrofm128.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Europa Plus</string>
			<key>logo</key>
			<string>Europa</string>
			<key>link</key>
			<string>http://ep128server.streamr.ru:8030/ep128.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 40</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Europa Plus Top 40</string>
			<key>logo</key>
			<string>40</string>
			<key>link</key>
			<string>http://eptop128server.streamr.ru:8033/eptop128.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Europa Plus RnB</string>
			<key>logo</key>
			<string>RnB</string>
			<key>link</key>
			<string>http://eprnb128server.streamr.ru:8061/eprnb128.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Europa Plus PopRock</string>
			<key>logo</key>
			<string>PopRock</string>
			<key>link</key>
			<string>http://eprock128server.streamr.ru:8062/eprock128.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Europa Plus Fresh</string>
			<key>logo</key>
			<string>Fresh</string>
			<key>link</key>
			<string>http://epfresh128server.streamr.ru:8034/epfresh128.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 40</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Europa Plus Dance</string>
			<key>logo</key>
			<string>Dance</string>
			<key>link</key>
			<string>http://epdance128server.streamr.ru:8035/epdance128.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 40</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Europa Plus</string>
			<key>logo</key>
			<string>Plus</string>
			<key>link</key>
			<string>http://www.listenlive.eu/EuropaPlusNN.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Нижний Новгород</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Europa Plus</string>
			<key>logo</key>
			<string>Euro</string>
			<key>link</key>
			<string>http://212.193.249.165:8000/europapluskirov.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Киров</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Авторитетное Радио</string>
			<key>logo</key>
			<string>Avtoritetnoe</string>
			<key>link</key>
			<string>http://84.22.142.130:8000/arstream.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Krasnoyarsk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Best FM</string>
			<key>logo</key>
			<string>Best</string>
			<key>link</key>
			<string>http://nashe3.hostingradio.ru/best-128.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Блиц FM 105,5</string>
			<key>logo</key>
			<string>Blitz</string>
			<key>link</key>
			<string>http://r1.vmariel.ru:8000/blitz.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop (Йошкар-Ола)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Большое Радио 106,9</string>
			<key>logo</key>
			<string>106,9</string>
			<key>link</key>
			<string>http://listen.myradio24.com:9000/8286.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music/Talk (Мурманск)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Business FM</string>
			<key>logo</key>
			<string>Business</string>
			<key>link</key>
			<string>http://m1.bfm.ru:8000/fm64.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Business FM 107.4</string>
			<key>logo</key>
			<string>107.4</string>
			<key>link</key>
			<string>http://www.listenlive.eu/businessfmspb.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News (St Petersburg)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Business FM 107.5</string>
			<key>logo</key>
			<string>107.5</string>
			<key>link</key>
			<string>http://92.50.139.190:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News (Ufa)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>College Radio</string>
			<key>logo</key>
			<string>College</string>
			<key>link</key>
			<string>http://78.40.216.228:24000/college128kb.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop/Youth (Kaliningrad)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Comedy Radio</string>
			<key>logo</key>
			<string>Comedy</string>
			<key>link</key>
			<string>http://comedy.hostingradio.ru:8012/comedy.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Детское радио</string>
			<key>logo</key>
			<string>Detskoe</string>
			<key>link</key>
			<string>http://79.143.70.114:8000/detifm-dvbs-64k.aac.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Youth</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Динамит</string>
			<key>logo</key>
			<string>Dinamit</string>
			<key>link</key>
			<string>http://82.208.90.58:2000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop/Dance (Нижний Новгород)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dipol FM</string>
			<key>logo</key>
			<string>Dipol</string>
			<key>link</key>
			<string>http://www.listenlive.eu/dipolfm.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop/Dance (Тюмень)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Добрые Песни 96.4 FM</string>
			<key>logo</key>
			<string>Dobrye</string>
			<key>link</key>
			<string>http://92.255.169.178/dp.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Тюмень</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Дорожное Радио</string>
			<key>logo</key>
			<string>Dorognoe</string>
			<key>link</key>
			<string>http://dorognoe.hostingradio.ru:8000/dorognoe.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>80s/90s/Pop (St Petersburg)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Эхо Москвы</string>
			<key>logo</key>
			<string>Echo</string>
			<key>link</key>
			<string>http://stream05.media.rambler.ru/echo.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Эльдорадио</string>
			<key>logo</key>
			<string>EldoRadio</string>
			<key>link</key>
			<string>http://onair.eltel.net/eldoradio-128k.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>St Petersburg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Global FM Tambov</string>
			<key>logo</key>
			<string>Global</string>
			<key>link</key>
			<string>http://s07.radio-tochka.com:6455/listen.pls</string>
			<key>http</key>
			<string>http://s07.radio-tochka.com:6810/listen.pls</string>
			<key>note</key>
			<string>Top 40</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Город FM 107.6</string>
			<key>logo</key>
			<string>Gorod</string>
			<key>link</key>
			<string>http://radio.gorodfm.ru:8000/gorodfm.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News/Talk (Екатеринбург)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Говорит Москва</string>
			<key>logo</key>
			<string>Govorit</string>
			<key>link</key>
			<string>http://88.150.175.154:8000/rufm.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hit FM</string>
			<key>logo</key>
			<string>Hit</string>
			<key>link</key>
			<string>http://www.listenlive.eu/hitfm_ru.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop/Rock</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Inter Radio</string>
			<key>logo</key>
			<string>Inter</string>
			<key>link</key>
			<string>http://intervolna.com:8000/Inter.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Jazz (Екатеринбург)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Интерра FM</string>
			<key>logo</key>
			<string>Interra</string>
			<key>link</key>
			<string>http://ice.interra.fm:8000/barix.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Oldies (Первоуральск)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Кекс FM</string>
			<key>logo</key>
			<string>Keks</string>
			<key>link</key>
			<string>http://keksserver.streamr.ru:8037/keks128.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>St.Petersburg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Коммерсантъ</string>
			<key>logo</key>
			<string>Kommersant</string>
			<key>link</key>
			<string>http://www.listenlive.eu/kommersant.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>L-Radio</string>
			<key>logo</key>
			<string>L-Radio</string>
			<key>link</key>
			<string>http://server2.lradio.ru:8000/lradio64.aac.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Челябинск</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Лира</string>
			<key>logo</key>
			<string>Lira</string>
			<key>link</key>
			<string>http://87.229.132.22:8000/LiraFM.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop (Богданович)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Love Radio</string>
			<key>logo</key>
			<string>Love</string>
			<key>link</key>
			<string>http://www.listenlive.eu/loveradio_ru.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Макс FM</string>
			<key>logo</key>
			<string>Maks</string>
			<key>link</key>
			<string>http://mxsel.maksmedia.ru:8000/maksfm128.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 40 (Сочи)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Марий Эл</string>
			<key>logo</key>
			<string>Mari</string>
			<key>link</key>
			<string>http://r1.vmariel.ru:8000/3kanal.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Йошкар-Ола</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mega FM 106,4</string>
			<key>logo</key>
			<string>Mega</string>
			<key>link</key>
			<string>http://radio.arkhnet.ru:6001/megafm.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop/Dance/RnB (Архангельск)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Megapolis FM 89&apos;5</string>
			<key>logo</key>
			<string>Megapolis</string>
			<key>link</key>
			<string>http://ic4.101.ru:8000/e1_1.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Dance</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Мир Белогорья</string>
			<key>logo</key>
			<string>Belogorya</string>
			<key>link</key>
			<string>http://play.belradio.net:8008/nonstop2.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Belgorod</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Москва FM</string>
			<key>logo</key>
			<string>Moscow</string>
			<key>link</key>
			<string>http://livestream.rfn.ru:8080/moscowfmen128.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Rock</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Moskva FM</string>
			<key>logo</key>
			<string>Moskva</string>
			<key>link</key>
			<string>http://www.listenlive.eu/ru_moskvafm.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 40 / News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Моя Удмуртия</string>
			<key>logo</key>
			<string>Udmurtia</string>
			<key>link</key>
			<string>http://radio.myudm.ru:10010/mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Народная Волна 91.9 FM</string>
			<key>logo</key>
			<string>Narodnaya</string>
			<key>link</key>
			<string>http://intervolna.com:8000/rnv.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Country/Folk/Blues (Екатеринбург)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Наше Подмосковье 1</string>
			<key>logo</key>
			<string>Podmoscovie</string>
			<key>link</key>
			<string>http://109.238.242.92:8000/rtvp_aac128.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Новая Жизнь</string>
			<key>logo</key>
			<string>Life</string>
			<key>link</key>
			<string>http://radio.totalwebservices.net:8022/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Новая Россия 104FM</string>
			<key>logo</key>
			<string>104FM</string>
			<key>link</key>
			<string>http://91.205.3.170:8000/128.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Новороссийск</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ника</string>
			<key>logo</key>
			<string>Nika</string>
			<key>link</key>
			<string>http://radio.nikatv.ru:8959/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Калуга</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NN-Radio</string>
			<key>logo</key>
			<string>NN</string>
			<key>link</key>
			<string>http://cast.r52.ru:8000/nrd.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News/Music (Нижний Новгород)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRG</string>
			<key>logo</key>
			<string>NRG</string>
			<key>link</key>
			<string>http://www.listenlive.eu/energyru.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 40 / Dance</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Пилот Радио 102.7FM</string>
			<key>logo</key>
			<string>Pilot</string>
			<key>link</key>
			<string>http://tv-pilot.ru:1027/pilot-radio_air.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 40 (Тверь)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Пионер FM</string>
			<key>logo</key>
			<string>Pioner</string>
			<key>link</key>
			<string>http://radio.dline-media.com/ppr128.mp3</string>
			<key>http</key>
			<string>http://pioner.hostingradio.ru:8008/ppr128.m3u</string>
			<key>note</key>
			<string>Dance</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Power Хит Радио 104.5 FM</string>
			<key>logo</key>
			<string>Power</string>
			<key>link</key>
			<string>http://213.142.213.41:91/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 40 (Мурманск)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Пульс-радио</string>
			<key>logo</key>
			<string>Puls</string>
			<key>link</key>
			<string>http://r1.vmariel.ru:8000/puls.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop (Йошкар-Ола)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Радио 7 на семи холмах</string>
			<key>logo</key>
			<string>7</string>
			<key>link</key>
			<string>http://server03.hostingradio.ru:8040/radio7128.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Радио 40 105.1 FM</string>
			<key>logo</key>
			<string>105.1</string>
			<key>link</key>
			<string>http://www.listenlive.eu/radio40_ru.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Rock (Калуга)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Радио 100 FM</string>
			<key>logo</key>
			<string>100</string>
			<key>link</key>
			<string>http://www.listenlive.eu/radio100fm.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Челябинск</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Радио 107</string>
			<key>logo</key>
			<string>107</string>
			<key>link</key>
			<string>http://62.183.34.109:8000/radio107.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 40 (Краснодар)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Радио Адам 104.5</string>
			<key>logo</key>
			<string>Adam</string>
			<key>link</key>
			<string>http://84.201.255.85:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Ижевск</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Радио АЛЬФА - 104.1 FM</string>
			<key>logo</key>
			<string>Alfa</string>
			<key>link</key>
			<string>http://www.alfafm.ru/alfa.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Пермь (Oldies)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Радио Априори</string>
			<key>logo</key>
			<string>Apriori</string>
			<key>link</key>
			<string>http://rain72.ru:8000/apriori.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop/Rock (Тюмень)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Радио Автос</string>
			<key>logo</key>
			<string>Avtos</string>
			<key>link</key>
			<string>http://avtos.com:8888/avtos.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Иркутск</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Радио Белый лебедь</string>
			<key>logo</key>
			<string>Lebed</string>
			<key>link</key>
			<string>http://91.143.8.133:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Волгоград</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio БИТ 103.5 FM</string>
			<key>logo</key>
			<string>BIT</string>
			<key>link</key>
			<string>http://vol.fm:8000/radiobit.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 40 / Dance (Брянск)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Радио Благо 102,3 FM</string>
			<key>logo</key>
			<string>Blago</string>
			<key>link</key>
			<string>http://www.radioblago.ru/live/radioblago-40kbit.m3u</string>
			<key>http</key>
			<string>http://www.radioblago.ru/live/radioblago-40kbit.pls</string>
			<key>note</key>
			<string>Коломна</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Радио Борнео</string>
			<key>logo</key>
			<string>Borneo</string>
			<key>link</key>
			<string>http://live.borneo.ru:8888/128.m3u</string>
			<key>http</key>
			<string>http://live.borneo.ru:8888/64</string>
			<key>note</key>
			<string>Воронеж</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RADIO CAFE</string>
			<key>logo</key>
			<string>CAFE</string>
			<key>link</key>
			<string>http://s03.radio-tochka.com:6045/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop/Rock (Уфа)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Chocolate</string>
			<key>logo</key>
			<string>Chocolate</string>
			<key>link</key>
			<string>http://choco.hostingradio.ru:10010/fm128.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Уфа</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Радио СИТИ</string>
			<key>logo</key>
			<string>City</string>
			<key>link</key>
			<string>http://www.100i6fm.ru/city.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Oldies (Тюмень)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Радио Континенталь 100.4 FM</string>
			<key>logo</key>
			<string>Continental</string>
			<key>link</key>
			<string>http://stream01.radiocon.ru:8000/live.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop (Челябинск)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Радио Восток России 103,7 FM</string>
			<key>logo</key>
			<string>Vostok</string>
			<key>link</key>
			<string>http://vostoknews.ru/vostok.m3u</string>
			<key>http</key>
			<string>http://s03.radio-tochka.com:6540/listen.pls</string>
			<key>note</key>
			<string>Хабаровск</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Радио для двоих</string>
			<key>logo</key>
			<string>2</string>
			<key>link</key>
			<string>http://rdd.hostingradio.ru:8003/radiohit.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>St Petersburg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Радио Gold</string>
			<key>logo</key>
			<string>Gold</string>
			<key>link</key>
			<string>http://94.190.19.28:8000/radio1.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop/Oldies (Первоуральск)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Радио Голос Ангары 103,5 FM</string>
			<key>logo</key>
			<string>Angary</string>
			<key>link</key>
			<string>http://rga.ru/listen256.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop/Rock (Братск)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Радио Губерния 100,7 FM</string>
			<key>logo</key>
			<string>Gubernia</string>
			<key>link</key>
			<string>http://www.gubernia-media.ru:8000/gubernia.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Воронеж</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Радио Интерволна 102,9 FM</string>
			<key>logo</key>
			<string>Intervolna</string>
			<key>link</key>
			<string>http://online.intervolna.ru:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 40 (Челябинск)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Jazz - Jazz Legends</string>
			<key>logo</key>
			<string>Legends</string>
			<key>link</key>
			<string>http://www.listenlive.eu/radiojazzlegends.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Jazz - Jazz Vocals</string>
			<key>logo</key>
			<string>Vocals</string>
			<key>link</key>
			<string>http://www.listenlive.eu/radiojazzvocals.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Jazz - Smooth Jazz</string>
			<key>logo</key>
			<string>Smooth</string>
			<key>link</key>
			<string>http://www.listenlive.eu/radiosmoothjazz.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Jazz - Classic Jazz</string>
			<key>logo</key>
			<string>Jazz</string>
			<key>link</key>
			<string>http://www.listenlive.eu/radioclassicjazz.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Радио Карнавал</string>
			<key>logo</key>
			<string>Karnaval</string>
			<key>link</key>
			<string>https://radiokarnaval.ru/radiokarnaval.m3u</string>
			<key>http</key>
			<string>http://online.carnivalfm.ru/karnaval128.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Радио Комсомольская Правда</string>
			<key>logo</key>
			<string>Pravda</string>
			<key>link</key>
			<string>http://www.listenlive.eu/kp.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk/Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Радио Майяма</string>
			<key>logo</key>
			<string>Mayama</string>
			<key>link</key>
			<string>http://sc1.ipip.cz:8020/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 40 (Ревда)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio MCM</string>
			<key>logo</key>
			<string>MCM</string>
			<key>link</key>
			<string>http://91.227.68.150:10000/hit128.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 40 (Иркутск)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio METRO 102.4 FM</string>
			<key>logo</key>
			<string>METRO</string>
			<key>link</key>
			<string>http://195.182.132.18:8240/listen.pls</string>
			<key>http</key>
			<string>http://195.182.132.18:8230/listen.pls</string>
			<key>note</key>
			<string>Top 40 (St Petersburg)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Monte Carlo</string>
			<key>logo</key>
			<string>Monte</string>
			<key>link</key>
			<string>http://www.listenlive.eu/ru_rmc.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Electronica/Lounge</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Monte Carlo Nights</string>
			<key>logo</key>
			<string>Nights</string>
			<key>link</key>
			<string>http://www.listenlive.eu/ru_rmcnights.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Monte Carlo Sweet</string>
			<key>logo</key>
			<string>Sweet</string>
			<key>link</key>
			<string>http://www.listenlive.eu/ru_rmcsweet.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Monte Carlo Bossa</string>
			<key>logo</key>
			<string>Bossa</string>
			<key>link</key>
			<string>http://www.listenlive.eu/ru_rmcbossa.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Monte Carlo Gold Collection</string>
			<key>logo</key>
			<string>Collection</string>
			<key>link</key>
			<string>http://www.listenlive.eu/ru_rmcgold.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Oldies</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Monte Carlo 105.9 FM</string>
			<key>logo</key>
			<string>Carlo</string>
			<key>link</key>
			<string>http://185.39.195.90:8000/montecarlo_128.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Electronica/Lounge (St Petersburg)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Радио Москвы</string>
			<key>logo</key>
			<string>Moskvy</string>
			<key>link</key>
			<string>http://livestream.rfn.ru:8080/moscowtalk128.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News/Talk/Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Радио Новая Волна 102,0 FM</string>
			<key>logo</key>
			<string>Volna</string>
			<key>link</key>
			<string>http://89.249.224.121:8010/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 40 (Волгоград)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Радио ОК</string>
			<key>logo</key>
			<string>OK</string>
			<key>link</key>
			<string>http://radiook.nlink.ru:8000/OKradio128.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 40 / Dance (Рязань)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Алмазный край</string>
			<key>logo</key>
			<string>Almaz</string>
			<key>link</key>
			<string>https://stream.almaz-media.tv:8008/live</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Music</string>
		</dict>
	</array>
</dict>
</plist>
