<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1425194052</string>
		<key>Back</key>
		<string>8728969003</string>
		<key>Banner</key>
		<string>1998402528</string>
		<key>Show1</key>
		<string>8587151161</string>
		<key>Show2</key>
		<string>6148690088</string>
		<key>Show3</key>
		<string>4260893344</string>
		<key>Show4</key>
		<string>4232973183</string>
		<key>Alarm</key>
		<string>6266457191</string>
		<key>CustomBanner</key>
		<string>1177782044</string>
		<key>CustomSplash</key>
		<string>2027829281</string>
		<key>Header</key>
		<string>6046965347</string>
		<key>Footer</key>
		<string>1993822650</string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string>1360678771</string>
		<key>Application</key>
		<string>1435097898</string>
		<key>Developer</key>
		<string>1239592099</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Авторадио</string>
			<key>logo</key>
			<string>AvtoRadio</string>
			<key>link</key>
			<string>http://ic4.101.ru:8000/v3_1.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music/Information</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Наше Радио</string>
			<key>logo</key>
			<string>Nashe</string>
			<key>link</key>
			<string>http://nashe3.hostingradio.ru/nashe-128.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Russian rock</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Радио Шансон</string>
			<key>logo</key>
			<string>Chanson</string>
			<key>link</key>
			<string>http://audio.rambler.ru/action/play.m3u?id=420</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Радио Шансон Уфа</string>
			<key>logo</key>
			<string>Ufa</string>
			<key>link</key>
			<string>http://www.listenlive.eu/chansonufa.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Русское Радио</string>
			<key>logo</key>
			<string>Russkoe</string>
			<key>link</key>
			<string>http://www.listenlive.eu/ru_russkoeradio.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Russian pop</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ретро FM (Москва 88,3 FM)</string>
			<key>logo</key>
			<string>88,3</string>
			<key>link</key>
			<string>http://retroserver.streamr.ru:8043/retro128.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ретро FM (Петербург)</string>
			<key>logo</key>
			<string>Retro</string>
			<key>link</key>
			<string>http://www.onair.eltel.net/retrofm128.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Europa Plus</string>
			<key>logo</key>
			<string>Europa</string>
			<key>link</key>
			<string>http://ep128server.streamr.ru:8030/ep128.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 40</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Europa Plus Top 40</string>
			<key>logo</key>
			<string>40</string>
			<key>link</key>
			<string>http://eptop128server.streamr.ru:8033/eptop128.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Europa Plus RnB</string>
			<key>logo</key>
			<string>RnB</string>
			<key>link</key>
			<string>http://eprnb128server.streamr.ru:8061/eprnb128.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Europa Plus PopRock</string>
			<key>logo</key>
			<string>PopRock</string>
			<key>link</key>
			<string>http://eprock128server.streamr.ru:8062/eprock128.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Europa Plus Fresh</string>
			<key>logo</key>
			<string>Fresh</string>
			<key>link</key>
			<string>http://epfresh128server.streamr.ru:8034/epfresh128.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 40</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Europa Plus Dance</string>
			<key>logo</key>
			<string>Dance</string>
			<key>link</key>
			<string>http://epdance128server.streamr.ru:8035/epdance128.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 40</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Europa Plus</string>
			<key>logo</key>
			<string>Plus</string>
			<key>link</key>
			<string>http://www.listenlive.eu/EuropaPlusNN.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Нижний Новгород</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Europa Plus</string>
			<key>logo</key>
			<string>Euro</string>
			<key>link</key>
			<string>http://212.193.249.165:8000/europapluskirov.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Киров</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Авторитетное Радио</string>
			<key>logo</key>
			<string>Avtoritetnoe</string>
			<key>link</key>
			<string>http://84.22.142.130:8000/arstream.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Krasnoyarsk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Best FM</string>
			<key>logo</key>
			<string>Best</string>
			<key>link</key>
			<string>http://nashe3.hostingradio.ru/best-128.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Блиц FM 105,5</string>
			<key>logo</key>
			<string>Blitz</string>
			<key>link</key>
			<string>http://r1.vmariel.ru:8000/blitz.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop (Йошкар-Ола)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Большое Радио 106,9</string>
			<key>logo</key>
			<string>106,9</string>
			<key>link</key>
			<string>http://listen.myradio24.com:9000/8286.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music/Talk (Мурманск)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Business FM</string>
			<key>logo</key>
			<string>Business</string>
			<key>link</key>
			<string>http://m1.bfm.ru:8000/fm64.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Business FM 107.4</string>
			<key>logo</key>
			<string>107.4</string>
			<key>link</key>
			<string>http://www.listenlive.eu/businessfmspb.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News (St Petersburg)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Business FM 107.5</string>
			<key>logo</key>
			<string>107.5</string>
			<key>link</key>
			<string>http://92.50.139.190:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News (Ufa)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>College Radio</string>
			<key>logo</key>
			<string>College</string>
			<key>link</key>
			<string>http://78.40.216.228:24000/college128kb.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop/Youth (Kaliningrad)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Comedy Radio</string>
			<key>logo</key>
			<string>Comedy</string>
			<key>link</key>
			<string>http://comedy.hostingradio.ru:8012/comedy.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Детское радио</string>
			<key>logo</key>
			<string>Detskoe</string>
			<key>link</key>
			<string>http://79.143.70.114:8000/detifm-dvbs-64k.aac.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Youth</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Динамит</string>
			<key>logo</key>
			<string>Dinamit</string>
			<key>link</key>
			<string>http://82.208.90.58:2000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop/Dance (Нижний Новгород)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dipol FM</string>
			<key>logo</key>
			<string>Dipol</string>
			<key>link</key>
			<string>http://www.listenlive.eu/dipolfm.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop/Dance (Тюмень)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Добрые Песни 96.4 FM</string>
			<key>logo</key>
			<string>Dobrye</string>
			<key>link</key>
			<string>http://92.255.169.178/dp.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Тюмень</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Дорожное Радио</string>
			<key>logo</key>
			<string>Dorognoe</string>
			<key>link</key>
			<string>http://dorognoe.hostingradio.ru:8000/dorognoe.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>80s/90s/Pop (St Petersburg)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Эхо Москвы</string>
			<key>logo</key>
			<string>Echo</string>
			<key>link</key>
			<string>http://stream05.media.rambler.ru/echo.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Эльдорадио</string>
			<key>logo</key>
			<string>EldoRadio</string>
			<key>link</key>
			<string>http://onair.eltel.net/eldoradio-128k.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>St Petersburg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Global FM Tambov</string>
			<key>logo</key>
			<string>Global</string>
			<key>link</key>
			<string>http://s07.radio-tochka.com:6455/listen.pls</string>
			<key>http</key>
			<string>http://s07.radio-tochka.com:6810/listen.pls</string>
			<key>note</key>
			<string>Top 40</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Город FM 107.6</string>
			<key>logo</key>
			<string>Gorod</string>
			<key>link</key>
			<string>http://radio.gorodfm.ru:8000/gorodfm.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News/Talk (Екатеринбург)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Говорит Москва</string>
			<key>logo</key>
			<string>Govorit</string>
			<key>link</key>
			<string>http://88.150.175.154:8000/rufm.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hit FM</string>
			<key>logo</key>
			<string>Hit</string>
			<key>link</key>
			<string>http://www.listenlive.eu/hitfm_ru.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop/Rock</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Inter Radio</string>
			<key>logo</key>
			<string>Inter</string>
			<key>link</key>
			<string>http://intervolna.com:8000/Inter.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Jazz (Екатеринбург)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Интерра FM</string>
			<key>logo</key>
			<string>Interra</string>
			<key>link</key>
			<string>http://ice.interra.fm:8000/barix.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Oldies (Первоуральск)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Кекс FM</string>
			<key>logo</key>
			<string>Keks</string>
			<key>link</key>
			<string>http://keksserver.streamr.ru:8037/keks128.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>St.Petersburg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Коммерсантъ</string>
			<key>logo</key>
			<string>Kommersant</string>
			<key>link</key>
			<string>http://www.listenlive.eu/kommersant.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>L-Radio</string>
			<key>logo</key>
			<string>L-Radio</string>
			<key>link</key>
			<string>http://server2.lradio.ru:8000/lradio64.aac.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Челябинск</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Лира</string>
			<key>logo</key>
			<string>Lira</string>
			<key>link</key>
			<string>http://87.229.132.22:8000/LiraFM.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop (Богданович)</string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
