<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Kantipur कान्तिपुर</string>
		<key>logo</key>
		<string>Kantipur</string>
		<key>link</key>
		<string>http://www.kantipurtv.com/live</string>
		<key>http</key>
		<string>http://www.kantipurtv.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>News24</string>
		<key>logo</key>
		<string>News24</string>
		<key>link</key>
		<string>http://www.news24nepal.tv/live</string>
		<key>http</key>
		<string>http://www.news24nepal.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ABC NEWS</string>
		<key>logo</key>
		<string>ABC</string>
		<key>link</key>
		<string>https://www.youtube.com/user/abcnewstvnepal/videos?flow=grid&amp;live_view=501&amp;view=2</string>
		<key>http</key>
		<string>https://www.youtube.com/user/abcnewstvnepal/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Makalu मकालु</string>
		<key>logo</key>
		<string>Makalu</string>
		<key>link</key>
		<string>http://www.makalutv.com/watch-live</string>
		<key>http</key>
		<string>http://www.makalutv.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Himshikhar हिमशिखर</string>
		<key>logo</key>
		<string>Himshikhar</string>
		<key>link</key>
		<string>https://himshikhartv.com.np/watch-live</string>
		<key>http</key>
		<string>https://himshikhartv.com.np</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Suryodaya</string>
		<key>logo</key>
		<string>Suryodaya</string>
		<key>link</key>
		<string>http://suryodayatv.com/live</string>
		<key>http</key>
		<string>http://suryodayatv.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nepali</string>
		<key>logo</key>
		<string>Nepali</string>
		<key>link</key>
		<string>http://nepalitv.co.uk/livetv</string>
		<key>http</key>
		<string>http://nepalitv.co.uk</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MNTV My Nepal</string>
		<key>logo</key>
		<string>MNTV</string>
		<key>link</key>
		<string>https://mntv.com.au/portal/mntv-live/</string>
		<key>http</key>
		<string>https://mntv.com.au/portal</string>
	</dict>
	<dict>
		<key>name</key>
		<string>HK Nepali</string>
		<key>logo</key>
		<string>HK</string>
		<key>link</key>
		<string>http://www.hknepali.com/page-live-tv.php</string>
		<key>http</key>
		<string>http://www.hknepali.com/page-live-tv.php#sthash.nq9QywlM.dpbs</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bhakti Darshan</string>
		<key>logo</key>
		<string>Bhakti</string>
		<key>link</key>
		<string>https://www.youtube.com/user/bhaktidarshan/videos?view=2&amp;flow=grid&amp;live_view=501</string>
		<key>http</key>
		<string>http://bhaktidarshantv.com/</string>
	</dict>
<dict>
		<key>name</key>
		<string>Bloomberg Asia</string>
		<key>logo</key>
		<string>bloomberg</string>
		<key>link</key>
		<string>https://www.bloomberg.com/live/asia</string>
		<key>http</key>
		<string>https://www.bloomberg.com/live/asia_stream</string>
	</dict>
</array>
</plist>
