<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>UA ПЕРШИЙ</string>
		<key>logo</key>
		<string>1</string>
		<key>link</key>
		<string>https://tv.suspilne.media/live</string>
		<key>http</key>
		<string>https://tv.suspilne.media</string>
	</dict>
	<dict>
		<key>name</key>
		<string>112</string>
		<key>logo</key>
		<string>112</string>
		<key>link</key>
		<string>http://ua.112.ua/live</string>
		<key>http</key>
		<string>http://ua.112.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>5</string>
		<key>logo</key>
		<string>5</string>
		<key>link</key>
		<string>http://www.5.ua/live/</string>
		<key>http</key>
		<string>http://www.5.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Еспресо TV</string>
		<key>logo</key>
		<string>espreso</string>
		<key>link</key>
		<string>http://espreso.tv/stream/</string>
		<key>http</key>
		<string>http://espreso.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Громадське</string>
		<key>logo</key>
		<string>gromadske</string>
		<key>link</key>
		<string>http://hromadske.ua/stream</string>
		<key>http</key>
		<string>http://hromadske.ua</string>
	</dict>
	<dict>
		<key>name</key>
		<string>UBR</string>
		<key>logo</key>
		<string>ubr</string>
		<key>link</key>
		<string>http://tv.ubr.ua/</string>
		<key>http</key>
		<string>http://ubr.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>XSPORT</string>
		<key>logo</key>
		<string>XSPORT</string>
		<key>link</key>
		<string>http://xsport.ua/online/</string>
		<key>http</key>
		<string>http://xsport.ua</string>
	</dict>
	<dict>
		<key>name</key>
		<string>OTV</string>
		<key>logo</key>
		<string>OTV</string>
		<key>link</key>
		<string>http://o-tv.tv/otv.html</string>
		<key>http</key>
		<string>http://o-tv.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>СФЕРА-ТВ</string>
		<key>logo</key>
		<string>Sfera</string>
		<key>link</key>
		<string>http://sfera-tv.com.ua/online</string>
		<key>http</key>
		<string>http://sfera-tv.com.ua</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Київ</string>
		<key>logo</key>
		<string>Kyi</string>
		<key>link</key>
		<string>https://kyivtv.com.ua/online</string>
		<key>http</key>
		<string>https://kyivtv.com.ua</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ЧП.INFO (Магнолія-ТВ)</string>
		<key>logo</key>
		<string>magnonila</string>
		<key>link</key>
		<string>http://magnolia-tv.com/online-tv</string>
		<key>http</key>
		<string>http://magnolia-tv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>100% NEWS</string>
		<key>logo</key>
		<string>100news</string>
		<key>link</key>
		<string>http://www.100news.tv/p/blog-page_7972.html</string>
		<key>http</key>
		<string>http://www.100news.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TV 4 Тернопіль</string>
		<key>logo</key>
		<string>tv4</string>
		<key>link</key>
		<string>https://tv4.te.ua/onlajn-movlennya/</string>
		<key>http</key>
		<string>https://tv4.te.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>zik</string>
		<key>logo</key>
		<string>zik</string>
		<key>link</key>
		<string>https://zik.ua/live1</string>
		<key>http</key>
		<string>https://zik.ua/live2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>euronews</string>
		<key>logo</key>
		<string>euronews</string>
		<key>link</key>
		<string>http://ua.euronews.com/news/streaming-live/</string>
		<key>http</key>
		<string>http://ua.euronews.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ATR</string>
		<key>logo</key>
		<string>atr</string>
		<key>link</key>
		<string>https://atr.ua/live</string>
		<key>http</key>
		<string>http://atr.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Луганская ОДТРК</string>
		<key>logo</key>
		<string>lodtrk</string>
		<key>link</key>
		<string>http://lot.lg.ua/live</string>
		<key>http</key>
		<string>http://lot.lg.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NewsOne</string>
		<key>logo</key>
		<string>NewsOne</string>
		<key>link</key>
		<string>https://newsone.ua/live.html</string>
		<key>http</key>
		<string>http://newsone.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>UA|TV</string>
		<key>logo</key>
		<string>UATV</string>
		<key>link</key>
		<string>https://uatv.ua/category/video/</string>
		<key>http</key>
		<string>https://uatv.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Галичина ОТБ</string>
		<key>logo</key>
		<string>galtv</string>
		<key>link</key>
		<string>https://galtv.if.ua/online</string>
		<key>http</key>
		<string>http://galtv.if.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>РІВНЕ 1</string>
		<key>logo</key>
		<string>rivne1</string>
		<key>link</key>
		<string>https://rivne1.tv/online</string>
		<key>http</key>
		<string>https://rivne1.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Music BOX</string>
		<key>logo</key>
		<string>musicbox</string>
		<key>link</key>
		<string>https://musicbox.ua/musicbox-online/</string>
		<key>http</key>
		<string>https://musicbox.ua</string>
	</dict>
	<dict>
		<key>name</key>
		<string>АКАДЕМИЯ</string>
		<key>logo</key>
		<string>academia</string>
		<key>link</key>
		<string>http://live-tv.od.ua/tv/36chod/36chod.php?0=w&amp;1=h&amp;2=cnee&amp;3=a&amp;4=ff&amp;w=452&amp;h=361.6&amp;cnee=undefined&amp;a=1&amp;ff=0</string>
		<key>http</key>
		<string>http://telekanal.academy/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ТРЕТИЙ</string>
		<key>logo</key>
		<string>tretiy</string>
		<key>link</key>
		<string>http://live-tv.od.ua/tv/3tvod/3tvod.php?w=960&amp;h=540&amp;cnee&amp;a=1&amp;ff=0</string>
		<key>http</key>
		<string>https://ssl.live-tv.od.ua/tv/3tvod/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Чернівецький Промінь</string>
		<key>logo</key>
		<string>chpromin</string>
		<key>link</key>
		<string>http://promin.cv.ua/live</string>
		<key>http</key>
		<string>http://promin.cv.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string> SPORT 1</string>
		<key>logo</key>
		<string>sport1</string>
		<key>link</key>
		<string>http://pvplus.tv/live/sport1.html</string>
		<key>http</key>
		<string>http://poverkhnost.tv/pages/index.php?c=10&amp;s=135</string>
	</dict>
	<dict>
		<key>name</key>
		<string> SPORT 2</string>
		<key>logo</key>
		<string>sport2</string>
		<key>link</key>
		<string>http://pvplus.tv/live/sport2.html</string>
		<key>http</key>
		<string>http://poverkhnost.tv/pages/index.php?c=10&amp;s=121</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CNL</string>
		<key>logo</key>
		<string>CNL</string>
		<key>link</key>
		<string>https://cnl.tv/ru/live#cnl-ukr</string>
		<key>http</key>
		<string>https://cnl.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Надія</string>
		<key>logo</key>
		<string>HOPE</string>
		<key>link</key>
		<string>https://tv.hope.ua/uk/live</string>
		<key>http</key>
		<string>https://tv.hope.ua/uk</string>
	</dict>
	<dict>
		<key>name</key>
		<string>4 Канал (RTI)</string>
		<key>logo</key>
		<string>RTI</string>
		<key>link</key>
		<string>https://4channel.com.ua/</string>
		<key>http</key>
		<string>https://4channel.com.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Телевсесвіт</string>
		<key>logo</key>
		<string>televsesvit</string>
		<key>link</key>
		<string>http://www.televsesvit.ua/index.php/online</string>
		<key>http</key>
		<string>http://www.televsesvit.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ІНТБ</string>
		<key>logo</key>
		<string>INTB</string>
		<key>link</key>
		<string>https://intb.te.ua/onla-n/</string>
		<key>http</key>
		<string>https://intb.te.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Малятко</string>
		<key>logo</key>
		<string>Malyatko</string>
		<key>link</key>
		<string>http://malyatko-tv.com.ua/live/</string>
		<key>http</key>
		<string>http://malyatko-tv.com.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ПравдаТУТ</string>
		<key>logo</key>
		<string>pravdatut</string>
		<key>link</key>
		<string>https://www.tut.media/online.html</string>
		<key>http</key>
		<string>https://www.tut.media</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Pудана</string>
		<key>logo</key>
		<string>rudana</string>
		<key>link</key>
		<string>https://rudana.com.ua/online</string>
		<key>http</key>
		<string>https://rudana.com.ua</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ИРТ</string>
		<key>logo</key>
		<string>irt</string>
		<key>link</key>
		<string>http://www.irt.ua/irt-online</string>
		<key>http</key>
		<string>http://www.irt.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>KRATU</string>
		<key>logo</key>
		<string>kratu</string>
		<key>link</key>
		<string>http://kratu.ua/live/</string>
		<key>http</key>
		<string>http://kratu.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Орбіта</string>
		<key>logo</key>
		<string>orbita</string>
		<key>link</key>
		<string>http://orbita.dn.ua/video</string>
		<key>http</key>
		<string>http://orbita.dn.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Первый городской</string>
		<key>logo</key>
		<string>1CTV</string>
		<key>link</key>
		<string>http://live-tv.od.ua/tv/1tvod/1tvod.php?w=242&amp;h=200&amp;cnee&amp;a=0&amp;ff=0</string>
		<key>http</key>
		<string>http://www.1tv.od.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Репортер</string>
		<key>logo</key>
		<string>Reporter</string>
		<key>link</key>
		<string>http://reporter.od.ua/pryamoy-efir/</string>
		<key>http</key>
		<string>http://live-tv.od.ua/tv/31chod/31chod.php?w=720&amp;h=576&amp;cnee&amp;a=0&amp;ff=0</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Южная Волна</string>
		<key>logo</key>
		<string>volna</string>
		<key>link</key>
		<string>http://live-tv.od.ua/tv/wave/wave.php?w=720&amp;h=576&amp;cnee&amp;a=0&amp;ff=0</string>
		<key>http</key>
		<string>https://volnatv.com/online-translyaciya.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>OBOZREVATEL</string>
		<key>logo</key>
		<string>OBOZ</string>
		<key>link</key>
		<string>https://www.obozrevatel.com/tv/</string>
		<key>http</key>
		<string>https://www.obozrevatel.com/tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CK1</string>
		<key>logo</key>
		<string>CK1</string>
		<key>link</key>
		<string>http://sk1.tv/online/</string>
		<key>http</key>
		<string>http://sk1.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Черноморская TPK</string>
		<key>logo</key>
		<string>TPK</string>
		<key>link</key>
		<string>http://blackseatv.com/live/</string>
		<key>http</key>
		<string>http://blackseatv.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>НАШ</string>
		<key>logo</key>
		<string>NASH</string>
		<key>link</key>
		<string>https://nash.live/online.html</string>
		<key>http</key>
		<string>https://www.youtube.com/channel/UCz7ttPTNO_S1PS9rNsCt_iA/videos?view=2&amp;flow=grid&amp;live_view=501</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Прямий</string>
		<key>logo</key>
		<string>prm</string>
		<key>link</key>
		<string>https://prm.ua</string>
		<key>http</key>
		<string>https://www.youtube.com/channel/UCH9H_b9oJtSHBovh94yB5HA/videos?view=2&amp;flow=grid&amp;live_view=501</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Z Запоріжжя</string>
		<key>logo</key>
		<string>Z</string>
		<key>link</key>
		<string>https://ztv.zp.ua/online/</string>
		<key>http</key>
		<string>https://ztv.zp.ua</string>
	</dict>
	<dict>
		<key>name</key>
		<string>МТВ (Маріуполь)</string>
		<key>logo</key>
		<string>Mariupol</string>
		<key>link</key>
		<string>https://mariupolskoe.tv/online</string>
		<key>http</key>
		<string>https://mariupolskoe.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Перший Діловий</string>
		<key>logo</key>
		<string>FBC</string>
		<key>link</key>
		<string>https://fbc.net.ua/tv/online_video/</string>
		<key>http</key>
		<string>https://fbc.net.ua</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TV5</string>
		<key>logo</key>
		<string>TV5</string>
		<key>link</key>
		<string>https://tv5.zp.ua/online/</string>
		<key>http</key>
		<string>https://tv5.zp.ua</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Настоящее Время</string>
		<key>logo</key>
		<string>Vremya</string>
		<key>link</key>
		<string>https://www.currenttime.tv/live/video/92</string>
		<key>http</key>
		<string>https://www.youtube.com/c/CurrenttimeTvofficial/videos?view=2&amp;live_view=501</string>
	</dict>
	<dict>
		<key>name</key>
		<string>11 Дніпро</string>
		<key>logo</key>
		<string>11</string>
		<key>link</key>
		<string>https://11tv.dp.ua/broadcast</string>
		<key>http</key>
		<string>https://11tv.dp.ua</string>
	</dict>
	<dict>
		<key>name</key>
		<string>12</string>
		<key>logo</key>
		<string>12</string>
		<key>link</key>
		<string>https://www.youtube.com/c/12%D0%9A%D0%B0%D0%BD%D0%B0%D0%BB12/videos?view=2&amp;live_view=501</string>
		<key>http</key>
		<string>https://12kanal.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>33</string>
		<key>logo</key>
		<string>33</string>
		<key>link</key>
		<string>https://33tv.com.ua/online/</string>
		<key>http</key>
		<string>https://33tv.com.ua</string>
	</dict>
	<dict>
		<key>name</key>
		<string>34</string>
		<key>logo</key>
		<string>34</string>
		<key>link</key>
		<string>https://34.ua/online</string>
		<key>http</key>
		<string>https://34.ua</string>
	</dict>
	<dict>
		<key>name</key>
		<string>7 канал</string>
		<key>logo</key>
		<string>7</string>
		<key>link</key>
		<string>http://7kanal.com.ua/live/</string>
		<key>http</key>
		<string>http://7kanal.com.ua</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Алекс</string>
		<key>logo</key>
		<string>Alex</string>
		<key>link</key>
		<string>http://alexua.tv/alexua-online.html</string>
		<key>http</key>
		<string>http://alexua.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>BOUTIQUE</string>
		<key>logo</key>
		<string>BOUTIQUE</string>
		<key>link</key>
		<string>https://btq-tv.com/pages/live</string>
		<key>http</key>
		<string>https://btq-tv.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>C-TV Житомир</string>
		<key>logo</key>
		<string>C-TV</string>
		<key>link</key>
		<string>https://www.ctv.ua/onlajn-transljacija/</string>
		<key>http</key>
		<string>https://www.ctv.ua</string>
	</dict>
	<dict>
		<key>name</key>
		<string>D1 Дніпро</string>
		<key>logo</key>
		<string>D1</string>
		<key>link</key>
		<string>https://d1.dp.ua/online/</string>
		<key>http</key>
		<string>https://d1.dp.ua</string>
	</dict>
	<dict>
		<key>name</key>
		<string>GENUINE</string>
		<key>logo</key>
		<string>GENUINE</string>
		<key>link</key>
		<string>https://gen-tv.com/ru/online_tv.htm</string>
		<key>http</key>
		<string>https://gen-tv.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>HD FASHION and LifeStyle</string>
		<key>logo</key>
		<string>LifeStyle</string>
		<key>link</key>
		<string>http://hdfashion.tv/online</string>
		<key>http</key>
		<string>http://hdfashion.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ID Fashion</string>
		<key>logo</key>
		<string>Fashion</string>
		<key>link</key>
		<string>http://idfashion.tv/online/europe</string>
		<key>http</key>
		<string>http://idfashion.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MostVideo</string>
		<key>logo</key>
		<string>MostVideo</string>
		<key>link</key>
		<string>https://mostvideo.tv/#live-player</string>
		<key>http</key>
		<string>https://mostvideo.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Simon Харків</string>
		<key>logo</key>
		<string>Simon</string>
		<key>link</key>
		<string>https://www.objectiv.tv/wp-content/themes/objective/template-parts/liveVideo.php</string>
		<key>http</key>
		<string>https://www.objectiv.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TV7+ Хмельницький</string>
		<key>logo</key>
		<string>TV7+</string>
		<key>link</key>
		<string>https://tv7plus.com/live/</string>
		<key>http</key>
		<string>https://tv7plus.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Аверс</string>
		<key>logo</key>
		<string>Avers</string>
		<key>link</key>
		<string>https://www.volynnews.com/avers/</string>
		<key>http</key>
		<string>https://www.volynnews.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Апостроф</string>
		<key>logo</key>
		<string>Apostrof</string>
		<key>link</key>
		<string>https://www.youtube.com/channel/UC0lnIB2qcArjFJPtq79WGZA/videos?view=2&amp;live_view=501</string>
		<key>http</key>
		<string>https://www.youtube.com/channel/UC0lnIB2qcArjFJPtq79WGZA/videos</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Вітер</string>
		<key>logo</key>
		<string>Viter</string>
		<key>link</key>
		<string>https://cbn.com.ua/viter/</string>
		<key>http</key>
		<string>https://cbn.com.ua</string>
	</dict>
	<dict>
		<key>name</key>
		<string>BTB+ Херсон</string>
		<key>logo</key>
		<string>BTB+</string>
		<key>link</key>
		<string>http://video.vtvplus.com.ua:81/hls/online/index.m3u8</string>
		<key>http</key>
		<string>http://www.vtvplus.com.ua/lang/ua/onlayn-movlennya.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Донбас Онлайн</string>
		<key>logo</key>
		<string>Donbas</string>
		<key>link</key>
		<string>https://www.donbas-online.com/online/</string>
		<key>http</key>
		<string>https://www.donbas-online.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ЗДОРОВЬЕ (Одеса)</string>
		<key>logo</key>
		<string>Zdorovye</string>
		<key>link</key>
		<string>http://zd.od.ua/onlajn-prosmotr-telekanal-zdorove/</string>
		<key>http</key>
		<string>http://zd.od.ua</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ЗОРЯНИЙ</string>
		<key>logo</key>
		<string>Zoryanyy</string>
		<key>link</key>
		<string>https://zoryanyy.tv/</string>
		<key>http</key>
		<string>https://zoryanyy.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ільдана</string>
		<key>logo</key>
		<string>Ildana</string>
		<key>link</key>
		<string>https://ildana.tv/onlinies</string>
		<key>http</key>
		<string>https://ildana.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ІТ-3 (Чорноморськ)</string>
		<key>logo</key>
		<string>IT-3</string>
		<key>link</key>
		<string>https://it3.online/tv/</string>
		<key>http</key>
		<string>https://it3.online/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Крокус</string>
		<key>logo</key>
		<string>Krokus</string>
		<key>link</key>
		<string>https://www.krokus.tv/1522-prjamij-efr-telekanalu-krokus.html</string>
		<key>http</key>
		<string>https://bc.krokus.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>KPT</string>
		<key>logo</key>
		<string>KPT</string>
		<key>link</key>
		<string>https://www.tvkrt.com.ua/online</string>
		<key>http</key>
		<string>https://www.tvkrt.com.ua</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Місто+</string>
		<key>logo</key>
		<string>Misto+</string>
		<key>link</key>
		<string>http://irt.pl.ua/online/mistoplus</string>
		<key>http</key>
		<string>http://irt.pl.ua</string>
	</dict>
	<dict>
		<key>name</key>
		<string>HTA - Незалежне телевізійне агентство</string>
		<key>logo</key>
		<string>HTA</string>
		<key>link</key>
		<string>http://www.nta.ua/%d0%bd%d0%b0%d0%b6%d0%b8%d0%b2%d0%be/</string>
		<key>http</key>
		<string>http://www.nta.ua</string>
	</dict>
	<dict>
		<key>name</key>
		<string>HTK</string>
		<key>logo</key>
		<string>HTK</string>
		<key>link</key>
		<string>https://ntktv.ua/web-camery/trkntk/</string>
		<key>http</key>
		<string>https://ntktv.ua</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Перший Західний</string>
		<key>logo</key>
		<string>1zahid</string>
		<key>link</key>
		<string>http://1zahid.com/online/</string>
		<key>http</key>
		<string>http://1zahid.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Перший Подільський</string>
		<key>logo</key>
		<string>1podil</string>
		<key>link</key>
		<string>https://www.youtube.com/c/%D0%9F%D0%B5%D1%80%D1%88%D0%B8%D0%B9%D0%9F%D0%BE%D0%B4%D1%96%D0%BB%D1%8C%D1%81%D1%8C%D0%BA%D0%B8%D0%B9/videos?view=2&amp;live_view=501</string>
		<key>http</key>
		<string>https://www.youtube.com/channel/UC-HlSzVsIkTw7mcH6rzxgsA</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Погляд</string>
		<key>logo</key>
		<string>Poglyad</string>
		<key>link</key>
		<string>https://www.youtube.com/channel/UCnN6PLPAqdlZyeQ3fp3EEjA/videos?view=2&amp;live_view=501</string>
		<key>http</key>
		<string>https://www.poglyad.tv/on-line/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>PAI</string>
		<key>logo</key>
		<string>PAI</string>
		<key>link</key>
		<string>https://rai.ua/#stream</string>
		<key>http</key>
		<string>https://rai.ua</string>
	</dict>
	<dict>
		<key>name</key>
		<string>РИТМ</string>
		<key>logo</key>
		<string>Rytm</string>
		<key>link</key>
		<string>https://ritm.tv/tv/</string>
		<key>http</key>
		<string>https://ritm.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Сварожичи</string>
		<key>logo</key>
		<string>Svarogichi</string>
		<key>link</key>
		<string>http://svarozhichi.ua/</string>
		<key>http</key>
		<string>http://svarozhichi.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>СИГМА</string>
		<key>logo</key>
		<string>Sigma</string>
		<key>link</key>
		<string>https://sigmatv.com.ua/ru/online</string>
		<key>http</key>
		<string>https://sigmatv.com.ua</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ТБ Бердянськ</string>
		<key>logo</key>
		<string>Berdyansk</string>
		<key>link</key>
		<string>http://tv.berdyansk.net/online</string>
		<key>http</key>
		<string>http://tv.berdyansk.net</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TBA</string>
		<key>logo</key>
		<string>TBA</string>
		<key>link</key>
		<string>https://tva.ua/onair/</string>
		<key>http</key>
		<string>https://tva.ua</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Трофей</string>
		<key>logo</key>
		<string>Trofey</string>
		<key>link</key>
		<string>https://trofey.tv/</string>
		<key>http</key>
		<string>https://trofey.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Україна 24</string>
		<key>logo</key>
		<string>24</string>
		<key>link</key>
		<string>https://ukraina24.segodnya.ua/online</string>
		<key>http</key>
		<string>https://www.youtube.com/c/%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D0%B024/videos?view=2&amp;live_view=501</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Херсон Плюс</string>
		<key>logo</key>
		<string>Herson</string>
		<key>link</key>
		<string>http://khersontv.com/onlinetv/</string>
		<key>http</key>
		<string>http://khersontv.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Центральний</string>
		<key>logo</key>
		<string>Centralnyy</string>
		<key>link</key>
		<string>https://central-ua.tv/efir/</string>
		<key>http</key>
		<string>https://central-ua.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Думская</string>
		<key>logo</key>
		<string>Dumskaya</string>
		<key>link</key>
		<string>https://dumskaya.net/tv//live/</string>
		<key>http</key>
		<string>https://dumskaya.net</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Медіа-Інформ</string>
		<key>logo</key>
		<string>Media</string>
		<key>link</key>
		<string>http://www.mediainform.in.ua/</string>
		<key>http</key>
		<string>http://www.mediainform.in.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ГЛАС</string>
		<key>logo</key>
		<string>GLAS</string>
		<key>link</key>
		<string>https://glas.org.ua/</string>
		<key>http</key>
		<string>https://glas.org.ua/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TIC</string>
		<key>logo</key>
		<string>TIC</string>
		<key>link</key>
		<string>http://www.tistv.news/live-tv/</string>
		<key>http</key>
		<string>http://www.tistv.news</string>
	</dict>
	<dict>
		<key>name</key>
		<string>UA: КУЛЬТУРА</string>
		<key>logo</key>
		<string>UA</string>
		<key>link</key>
		<string>https://culture.suspilne.media/</string>
		<key>http</key>
		<string>https://suspilne.media/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>UA: Центральний</string>
		<key>logo</key>
		<string>UA1</string>
		<key>link</key>
		<string>http://central.suspilne.media/</string>
		<key>http</key>
		<string>https://suspilne.media/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>UA: Крим</string>
		<key>logo</key>
		<string>UA2</string>
		<key>link</key>
		<string>https://crimea.suspilne.media/ua/online</string>
		<key>http</key>
		<string>https://suspilne.media/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>UA: Вінниця</string>
		<key>logo</key>
		<string>UA3</string>
		<key>link</key>
		<string>https://vn.suspilne.media/live</string>
		<key>http</key>
		<string>https://vn.suspilne.media</string>
	</dict>
	<dict>
		<key>name</key>
		<string>UA: Житомир</string>
		<key>logo</key>
		<string>UA4</string>
		<key>link</key>
		<string>https://zt.suspilne.media/live</string>
		<key>http</key>
		<string>https://zt.suspilne.media</string>
	</dict>
	<dict>
		<key>name</key>
		<string>UA: Рівне</string>
		<key>logo</key>
		<string>Rivne</string>
		<key>link</key>
		<string>https://rv.suspilne.media/live</string>
		<key>http</key>
		<string>https://rv.suspilne.media</string>
	</dict>
	<dict>
		<key>name</key>
		<string>UA: Миколаїв</string>
		<key>logo</key>
		<string>UA5</string>
		<key>link</key>
		<string>https://mk.suspilne.media/live</string>
		<key>http</key>
		<string>https://suspilne.media/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>UA: Харків</string>
		<key>logo</key>
		<string>UA6</string>
		<key>link</key>
		<string>https://kh.suspilne.media/live</string>
		<key>http</key>
		<string>https://suspilne.media/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>UA: Донбас</string>
		<key>logo</key>
		<string>UA7</string>
		<key>link</key>
		<string>https://dn.suspilne.media/live</string>
		<key>http</key>
		<string>https://suspilne.media/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>UA: Волинь</string>
		<key>logo</key>
		<string>UA8</string>
		<key>link</key>
		<string>https://vo.suspilne.media/live</string>
		<key>http</key>
		<string>https://vo.suspilne.media</string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>logo</key>
		<string></string>
		<key>link</key>
		<string></string>
		<key>http</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>logo</key>
		<string></string>
		<key>link</key>
		<string></string>
		<key>http</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>logo</key>
		<string></string>
		<key>link</key>
		<string></string>
		<key>http</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>logo</key>
		<string></string>
		<key>link</key>
		<string></string>
		<key>http</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>logo</key>
		<string></string>
		<key>link</key>
		<string></string>
		<key>http</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>logo</key>
		<string></string>
		<key>link</key>
		<string></string>
		<key>http</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>logo</key>
		<string></string>
		<key>link</key>
		<string></string>
		<key>http</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>logo</key>
		<string></string>
		<key>link</key>
		<string></string>
		<key>http</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>logo</key>
		<string></string>
		<key>link</key>
		<string></string>
		<key>http</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>logo</key>
		<string></string>
		<key>link</key>
		<string></string>
		<key>http</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>logo</key>
		<string></string>
		<key>link</key>
		<string></string>
		<key>http</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>logo</key>
		<string></string>
		<key>link</key>
		<string></string>
		<key>http</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>logo</key>
		<string></string>
		<key>link</key>
		<string></string>
		<key>http</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>logo</key>
		<string></string>
		<key>link</key>
		<string></string>
		<key>http</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>logo</key>
		<string></string>
		<key>link</key>
		<string></string>
		<key>http</key>
		<string></string>
	</dict>
</array>
</plist>
