<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>N1</string>
		<key>logo</key>
		<string>N1</string>
		<key>link</key>
		<string>http://hr.n1info.com/N1-Uzivo</string>
		<key>http</key>
		<string>http://hr.n1info.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Jabuka</string>
		<key>logo</key>
		<string>Jabuka</string>
		<key>link</key>
		<string>http://jabukatv.hr/live-jabuka-tv/</string>
		<key>http</key>
		<string>http://jabukatv.hr/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>STV Slavonije i Baranje</string>
		<key>logo</key>
		<string>STV</string>
		<key>link</key>
		<string>http://www.stv.hr/live-stream.html</string>
		<key>http</key>
		<string>http://www.stv.hr</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Zdrava Televizija</string>
		<key>logo</key>
		<string>Zdrava</string>
		<key>link</key>
		<string>http://hr.zdrava-televizija.com/</string>
		<key>http</key>
		<string>http://hr.zdrava-televizija.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Osječka</string>
		<key>logo</key>
		<string>Osjecka</string>
		<key>link</key>
		<string>http://osjecka.com/live-stream/</string>
		<key>http</key>
		<string>http://osjecka.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bloomberg TV Europe</string>
		<key>logo</key>
		<string>bloomberg</string>
		<key>link</key>
		<string>https://www.bloomberg.com/live/europe</string>
		<key>http</key>
		<string>https://www.bloomberg.com/live/us</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Euronews</string>
		<key>logo</key>
		<string>Euronews</string>
		<key>link</key>
		<string>http://de.euronews.com/live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/euronewsfr/videos?live_view=501&amp;flow=grid&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>EbS Europe by Satellite</string>
		<key>logo</key>
		<string>EbS</string>
		<key>link</key>
		<string>http://ec.europa.eu/avservices/ebs/live.cfm?page=1</string>
		<key>http</key>
		<string>http://ec.europa.eu/avservices/ebs/schedule.cfm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sky News</string>
		<key>logo</key>
		<string>Sky</string>
		<key>link</key>
		<string>https://news.sky.com/watch-live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/skynews</string>
	</dict>
</array>
</plist>
