<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>RÚV</string>
		<key>logo</key>
		<string>1</string>
		<key>link</key>
		<string>http://www.ruv.is/ruv</string>
		<key>http</key>
		<string>http://www.ruv.is/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RÚV 2</string>
		<key>logo</key>
		<string>2</string>
		<key>link</key>
		<string>http://www.ruv.is/ruv-2</string>
		<key>http</key>
		<string>http://www.ruv.is/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>INN</string>
		<key>logo</key>
		<string>INN</string>
		<key>link</key>
		<string>http://inntv.is/</string>
		<key>http</key>
		<string>http://inntv.is/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>N4</string>
		<key>logo</key>
		<string>4</string>
		<key>link</key>
		<string>http://www.n4.is/is/n4-i-beinni</string>
		<key>http</key>
		<string>http://www.n4.is/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Althingi</string>
		<key>logo</key>
		<string>Althingi</string>
		<key>link</key>
		<string>http://www.althingi.is/</string>
		<key>http</key>
		<string>http://www.althingi.is/?low=1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Visir</string>
		<key>logo</key>
		<string>Visir</string>
		<key>link</key>
		<string>http://www.visir.is/section/MEDIA02</string>
		<key>http</key>
		<string>http://www.visir.is</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Gospel</string>
		<key>logo</key>
		<string>Gospel</string>
		<key>link</key>
		<string>http://www.gospel.tv/live-streaming/live-iceland/</string>
		<key>http</key>
		<string>http://www.gospel.tv/live-streaming/live-europe/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Omega</string>
		<key>logo</key>
		<string>Omega</string>
		<key>link</key>
		<string>http://www.omega.is/Omega/LiveStream.aspx?Date=06/20/2014&amp;ChanelId=1</string>
		<key>http</key>
		<string>http://www.omega.is/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bloomberg TV Europe</string>
		<key>logo</key>
		<string>bloomberg</string>
		<key>link</key>
		<string>https://www.bloomberg.com/live/europe</string>
		<key>http</key>
		<string>https://www.bloomberg.com/live/us</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Euronews</string>
		<key>logo</key>
		<string>Euronews</string>
		<key>link</key>
		<string>http://de.euronews.com/live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/euronewsfr/videos?live_view=501&amp;flow=grid&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>EbS Europe by Satellite</string>
		<key>logo</key>
		<string>EbS</string>
		<key>link</key>
		<string>http://ec.europa.eu/avservices/ebs/live.cfm?page=1</string>
		<key>http</key>
		<string>http://ec.europa.eu/avservices/ebs/schedule.cfm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sky News</string>
		<key>logo</key>
		<string>Sky</string>
		<key>link</key>
		<string>https://news.sky.com/watch-live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/skynews</string>
	</dict>
</array>
</plist>
