<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>8578991465</string>
		<key>Back</key>
		<string>3135093090</string>
		<key>Banner</key>
		<string>6663274568</string>
		<key>Show1</key>
		<string>REMOVED</string>
		<key>Show2</key>
		<string>REMOVED</string>
		<key>Show3</key>
		<string>REMOVED</string>
		<key>Show4</key>
		<string>REMOVED</string>
		<key>Alarm</key>
		<string>8927788907</string>
		<key>CustomBanner</key>
		<string>2362380555</string>
		<key>CustomSplash</key>
		<string>2915601248</string>
		<key>Header</key>
		<string>8878374363</string>
		<key>Footer</key>
		<string>3483890531</string>
		<key>Email</key>
		<string>ios.apps.community@gmail.com</string>
		<key>Alternative</key>
		<string>1444542783</string>
		<key>Application</key>
		<string>1456016255</string>
		<key>Developer</key>
		<string>1360678770</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Menu</key>
	<array>
		<string>Top</string>
		<string>News</string>
		<string>Local</string>
		<string>Classic</string>
		<string>Music</string>
		<string>Sport</string>
		<string>Talk</string>
		<string>Youth</string>
		<string>Oldies</string>
	</array>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Capital Radio</string>
			<key>logo</key>
			<string>Capital</string>
			<key>link</key>
			<string>http://46.20.3.195/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>80s/90s Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dinamo 103.8</string>
			<key>logo</key>
			<string>Dinamo</string>
			<key>link</key>
			<string>http://www.dinamo.fm/dinamo_aacplus.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Electronic/Urban Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dolunay Radyo 108</string>
			<key>logo</key>
			<string>108</string>
			<key>link</key>
			<string>http://yayin1.canliyayin.org:8318/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Islamic Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>İTÜ Radyosu Klasik</string>
			<key>logo</key>
			<string>Klasik</string>
			<key>link</key>
			<string>http://radyo.itu.edu.tr/ITU_Radio_Classical.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Classical</string>
		</dict>
		<dict>
			<key>name</key>
			<string>İTÜ Radyosu Caz Blues</string>
			<key>logo</key>
			<string>Caz</string>
			<key>link</key>
			<string>http://radyo.itu.edu.tr/ITU_Radio_Jazz_Blues.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Jazz/Blues Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>İTÜ Radyosu Rock</string>
			<key>logo</key>
			<string>Rock</string>
			<key>link</key>
			<string>http://radyo.itu.edu.tr/ITU_Radio_Rock.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Rock Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kral FM</string>
			<key>logo</key>
			<string>Kral</string>
			<key>link</key>
			<string>http://shoutcastdogus.cdnturk.com/listen.pls?sid=7</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Turkish Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kral Pop</string>
			<key>logo</key>
			<string>Pop</string>
			<key>link</key>
			<string>http://shoutcastdogus.cdnturk.com/listen.pls?sid=11</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Metro FM</string>
			<key>logo</key>
			<string>Metro</string>
			<key>link</key>
			<string>http://provisioning.streamtheworld.com/pls/metro_fm.pls</string>
			<key>http</key>
			<string>http://provisioning.streamtheworld.com/pls/metro_fmaac.pls</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>NTV Radyo</string>
			<key>logo</key>
			<string>NTV</string>
			<key>link</key>
			<string>http://shoutcastdogus.cdnturk.com/listen.pls?sid=19</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Olay FM 90.5</string>
			<key>logo</key>
			<string>Olay</string>
			<key>link</key>
			<string>http://yayin5.yayindayiz.biz:8190/listen.pls</string>
			<key>http</key>
			<string>http://www.olayfm.com.tr/live/olayfmlist.pls</string>
			<key>note</key>
			<string>Biliyordum (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Park FM</string>
			<key>logo</key>
			<string>Park</string>
			<key>link</key>
			<string>http://park.netradyom.com:1345/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk/Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Power FM</string>
			<key>logo</key>
			<string>Power</string>
			<key>link</key>
			<string>http://46.20.4.43:8130/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Power Türk</string>
			<key>logo</key>
			<string>Turk</string>
			<key>link</key>
			<string>http://37.247.100.100:8040/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Power XL</string>
			<key>logo</key>
			<string>XL</string>
			<key>link</key>
			<string>http://46.20.4.34:8130/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Lounge Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Line 99.1 FM</string>
			<key>logo</key>
			<string>Line</string>
			<key>link</key>
			<string>http://radioline.fm:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Bursa (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radyo Metropol</string>
			<key>logo</key>
			<string>Metropol</string>
			<key>link</key>
			<string>http://radyometropol.radyolarburada.com:5544/listen.pls</string>
			<key>http</key>
			<string>http://sunucu2.radyolarburada.com:5544/listen.pls</string>
			<key>note</key>
			<string>Mersin (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radyo Medya 101.8</string>
			<key>logo</key>
			<string>Medya</string>
			<key>link</key>
			<string>http://radyomedya.radyoyayini.com:9160/listen.pls</string>
			<key>http</key>
			<string>http://radyomedyaa.radyoyayini.com:6052/listen.pls</string>
			<key>note</key>
			<string>Pop/Dance Music (Inegöl/Bursa, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radyo Seymen 107</string>
			<key>logo</key>
			<string>Seymen</string>
			<key>link</key>
			<string>http://seymenfm.radyolarburada.com:6363/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radyo Voyage 107.4</string>
			<key>logo</key>
			<string>Voyage</string>
			<key>link</key>
			<string>http://shoutcastdogus.cdnturk.com/listen.pls?sid=23</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Ambient/New Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Virgin Radio Türkiye</string>
			<key>logo</key>
			<string>Virgin</string>
			<key>link</key>
			<string>http://shoutcastdogus.cdnturk.com/listen.pls?sid=31</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
