<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Phoenix TV InfoNews 资讯台</string>
		<key>logo</key>
		<string>ifeng1</string>
		<key>link</key>
		<string>http://v.ifeng.com/live/#4AC51C17-9FBE-47F2-8EE0-8285A66EAFF5</string>
		<key>http</key>
		<string>http://v.ifeng.com/live</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Phoenix TV Chinese 中文台</string>
		<key>logo</key>
		<string>ifeng2</string>
		<key>link</key>
		<string>http://v.ifeng.com/live/#270DE943-3CDF-45E1-8445-9403F93E80C4</string>
		<key>http</key>
		<string>http://v.ifeng.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Phoenix TV Hong Kong 香港台</string>
		<key>logo</key>
		<string>ifeng3</string>
		<key>link</key>
		<string>http://v.ifeng.com/live/#2c942450-2165-4750-80de-7dff9c224153</string>
		<key>http</key>
		<string>http://v.ifeng.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>HKS TV 香港衛視 / 香港卫视</string>
		<key>logo</key>
		<string>hks</string>
		<key>link</key>
		<string>http://www.hkstv.tv/?mod=index&amp;do=live</string>
		<key>http</key>
		<string>http://www.hkstv.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Health TV 健康卫视</string>
		<key>logo</key>
		<string>health</string>
		<key>link</key>
		<string>http://www.jkwshk.tv/live/</string>
		<key>http</key>
		<string>http://www.jkwshk.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RTHK31 港台電視 31</string>
		<key>logo</key>
		<string>trthk31</string>
		<key>link</key>
		<string>http://programme.rthk.hk/rthk/tv/index.php?c=tv&amp;m=timetabled&amp;channel=dtt31</string>
		<key>http</key>
		<string>http://rthk.hk/index.htm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RTHK32 港台電視 32</string>
		<key>logo</key>
		<string>trthk32</string>
		<key>link</key>
		<string>http://programme.rthk.hk/rthk/tv/index.php?c=tv&amp;m=timetabled&amp;channel=dtt32</string>
		<key>http</key>
		<string>http://rthk.hk/index.htm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>立法會直擊 Legislative Council of HK</string>
		<key>logo</key>
		<string>trthk33</string>
		<key>link</key>
		<string>http://app4.rthk.hk/special/legcolive/index.htm</string>
		<key>http</key>
		<string>http://app4.rthk.hk/special/legcolive/index.htm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bloomberg TV Asia</string>
		<key>logo</key>
		<string>bloom1</string>
		<key>link</key>
		<string>http://www.bloomberg.com/live/asia</string>
		<key>http</key>
		<string>http://www.bloomberg.com/live</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bloomberg TV Asia Event</string>
		<key>logo</key>
		<string>bloom2</string>
		<key>link</key>
		<string>http://www.bloomberg.com/live/asia_stream</string>
		<key>http</key>
		<string>http://www.bloomberg.com/live</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Creation TV 創世電視</string>
		<key>logo</key>
		<string>cgtv</string>
		<key>link</key>
		<string>http://www.creation-tv.com/cgtv/</string>
		<key>http</key>
		<string>http://www.creation-tv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>HOPE</string>
		<key>logo</key>
		<string>chinesehope</string>
		<key>link</key>
		<string>http://chinesehope.tv/zh/home/index.php</string>
		<key>http</key>
		<string>http://chinesehope.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>HK Buddhist Edu. Fdn</string>
		<key>logo</key>
		<string>amtbhk</string>
		<key>link</key>
		<string>http://amtbhk.com/livetv</string>
		<key>http</key>
		<string>http://amtbhk.com/</string>
	</dict>
</array>
</plist>
