<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1</string>
		<key>Back</key>
		<string>1</string>
		<key>Banner</key>
		<string>1</string>
		<key>Show1</key>
		<string>1</string>
		<key>Show2</key>
		<string>1</string>
		<key>Show3</key>
		<string>1</string>
		<key>Show4</key>
		<string>1</string>
		<key>Alarm</key>
		<string>1</string>
		<key>CustomBanner</key>
		<string>1</string>
		<key>CustomSplash</key>
		<string>1</string>
		<key>Header</key>
		<string>1</string>
		<key>Footer</key>
		<string>1</string>
		<key>Email</key>
		<string>1</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1</string>
		<key>Developer</key>
		<string>1</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Menu</key>
	<array>
		<string>Top</string>
		<string>News</string>
		<string>Local</string>
		<string>Classic</string>
		<string>Music</string>
		<string>Sport</string>
		<string>Talk</string>
		<string>Youth</string>
		<string>Oldies</string>
	</array>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Pública FM</string>
			<key>logo</key>
			<string>Publica</string>
			<key>link</key>
			<string>http://equinox.shoutca.st:8710/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Metro FM</string>
			<key>logo</key>
			<string>Metro</string>
			<key>link</key>
			<string>http://radios-ec.cdn.nedmedia.io/radios/ec-lametro.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>JM 88.9 FM</string>
			<key>logo</key>
			<string>JM</string>
			<key>link</key>
			<string>http://ecuastream.net:8072/JM_Radio.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Festival FM</string>
			<key>logo</key>
			<string>Festival</string>
			<key>link</key>
			<string>https://usa1.fastcast4u.com/proxy/bhbcnrny?mp=/1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Platinum</string>
			<key>logo</key>
			<string>Platinum</string>
			<key>link</key>
			<string>https://streamingecuador.net:8160/radioplatinum.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nuevo Tiempo</string>
			<key>logo</key>
			<string>Nuevo</string>
			<key>link</key>
			<string>https://stream.live.novotempo.com/radio/smil:rntQuitoEC.smil/playlist.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Poderosa 92.9 FM</string>
			<key>logo</key>
			<string>Poderosa</string>
			<key>link</key>
			<string>http://makrodigital.net:9008/Radio_La_Poderosa.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Eres 93.3 FM</string>
			<key>logo</key>
			<string>Eres</string>
			<key>link</key>
			<string>http://99.198.118.250:8068/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Galaxia FM</string>
			<key>logo</key>
			<string>Galaxia</string>
			<key>link</key>
			<string>http://radios-ec.cdn.nedmedia.io/radios/ec-galaxia.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Católica Nacional</string>
			<key>logo</key>
			<string>Nacional</string>
			<key>link</key>
			<string>http://186.4.136.144:8000/stream</string>
			<key>http</key>
			<string>http://audio.waag.org:8000/rcato.mp3.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Gitana 94.9 FM</string>
			<key>logo</key>
			<string>Gitana</string>
			<key>link</key>
			<string>http://streaming-aacplus.com:8298/radiogitana.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pichincha Universal 95.3 FM</string>
			<key>logo</key>
			<string>Pichincha</string>
			<key>link</key>
			<string>http://ecuastream.com:9120/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBN</string>
			<key>logo</key>
			<string>BBN</string>
			<key>link</key>
			<string>https://bbnspanish-lh.akamaihd.net/i/BibleBroadcasting_Spanishios@87757/index_48_a-p.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Joya 97.3 FM</string>
			<key>logo</key>
			<string>Joya</string>
			<key>link</key>
			<string>http://radios-ec.cdn.nedmedia.io/radios/ec-joya.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM Mundo 98.1</string>
			<key>logo</key>
			<string>Mundo</string>
			<key>link</key>
			<string>http://streamingecuador.net:9314/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Alfa Radio 98.5 FM</string>
			<key>logo</key>
			<string>Alfa</string>
			<key>link</key>
			<string>http://radios-ec.cdn.nedmedia.io/radios/ec-alfa.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Rumbera 99.7 FM</string>
			<key>logo</key>
			<string>Rumbera</string>
			<key>link</key>
			<string>http://radio.uncuartocomunicacion.com:7670/LaRumbera.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Maria Ecuador</string>
			<key>logo</key>
			<string>Maria</string>
			<key>link</key>
			<string>https://dreamsiteradiocp4.com/proxy/rmequador2?mp=/stream</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Blue</string>
			<key>logo</key>
			<string>Blue</string>
			<key>link</key>
			<string>https://streamingecuador.net:7061/stream.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sucesos 101.7 FM</string>
			<key>logo</key>
			<string>Sucesos</string>
			<key>link</key>
			<string>http://216.158.67.68:8001/stream.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Urbana FM</string>
			<key>logo</key>
			<string>Urbana</string>
			<key>link</key>
			<string>https://stream.pentaedro.info:9003/stream.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Vox 104.1 FM</string>
			<key>logo</key>
			<string>Vox</string>
			<key>link</key>
			<string>http://radio.uncuartocomunicacion.com:8040/RadioVoxFM.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Más Candela</string>
			<key>logo</key>
			<string>Candela</string>
			<key>link</key>
			<string>https://s2.yesstreaming.net:2199/tunein/candela.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Quito 760 AM</string>
			<key>logo</key>
			<string>Quito</string>
			<key>link</key>
			<string>https://streamingecuador.net:8332/radioquito.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sensación 800 AM</string>
			<key>logo</key>
			<string>800</string>
			<key>link</key>
			<string>http://198.15.70.122:9954/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Positiva 860 AM</string>
			<key>logo</key>
			<string>Positiva</string>
			<key>link</key>
			<string>http://srv7.icecaster.com:8000/radiopositivaonline.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cadena Democracia 920 AM</string>
			<key>logo</key>
			<string>Democracia</string>
			<key>link</key>
			<string>http://200.105.233.4:1046/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Casa de la Cultura 940 AM</string>
			<key>logo</key>
			<string>Casa</string>
			<key>link</key>
			<string>http://66.226.76.170:8026/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Pantera 960 AM</string>
			<key>logo</key>
			<string>Pantera</string>
			<key>link</key>
			<string>http://190.52.193.147:8000/radiotupantera.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tarquí 990 AM</string>
			<key>logo</key>
			<string>990</string>
			<key>link</key>
			<string>http://makrodigital.com:8038/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Metropolitana 1240 AM</string>
			<key>logo</key>
			<string>Metropolitana</string>
			<key>link</key>
			<string>http://50.22.219.37:21308/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Monumental</string>
			<key>logo</key>
			<string>Monumental</string>
			<key>link</key>
			<string>http://srv7.icecaster.com:8000/radiomonumental.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cristal 870 AM</string>
			<key>logo</key>
			<string>Cristal</string>
			<key>link</key>
			<string>http://148.251.128.213:9982/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>El Tiempo 1410 AM</string>
			<key>logo</key>
			<string>Tiempo</string>
			<key>link</key>
			<string>https://sv70.ecuaradiotv.net:8000/eltiempohd</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Futura 1430 AM</string>
			<key>logo</key>
			<string>Futura</string>
			<key>link</key>
			<string>http://173.236.19.90:8120/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Punto Rojo 89.7 FM</string>
			<key>logo</key>
			<string>Punto</string>
			<key>link</key>
			<string>https://streamingecuador.net:9086/stream.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Romance 90.1 FM</string>
			<key>logo</key>
			<string>Romance</string>
			<key>link</key>
			<string>http://streamingecuador.net:9310/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Antena 3</string>
			<key>logo</key>
			<string>Antena</string>
			<key>link</key>
			<string>http://makrodigital.com:8177/Radio_Antena3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Estrella 92.1 FM</string>
			<key>logo</key>
			<string>Estrella</string>
			<key>link</key>
			<string>https://aacplus.rstreaminghd.com:7019/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Forever 92.5 FM</string>
			<key>logo</key>
			<string>Forever</string>
			<key>link</key>
			<string>http://makrodigital.com:8014/forever.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Onda Positiva 94.1 FM</string>
			<key>logo</key>
			<string>Onda</string>
			<key>link</key>
			<string>http://streamingecuador.net:9304/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cupido 95.3 FM</string>
			<key>logo</key>
			<string>Cupido</string>
			<key>link</key>
			<string>http://streamingecuador.net:9318/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rumba Network 107.3 FM</string>
			<key>logo</key>
			<string>Network</string>
			<key>link</key>
			<string>http://makrodigital.com:8078/radiorumbanetwork.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tropicana 96.5 FM</string>
			<key>logo</key>
			<string>Tropicana</string>
			<key>link</key>
			<string>http://streamingecuador.net:9306/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Morena 640 AM</string>
			<key>logo</key>
			<string>Morena</string>
			<key>link</key>
			<string>http://ic.streann.com:8000/RadioMorenaAM.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>i99 98.9 FM</string>
			<key>logo</key>
			<string>i99</string>
			<key>link</key>
			<string>http://200.105.239.46:6020/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Red 102.1 FM</string>
			<key>logo</key>
			<string>Red</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://200.105.233.4:1050/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>http://200.105.233.4:1050/listen.pls</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio CRE Satelital</string>
			<key>logo</key>
			<string>CRE</string>
			<key>link</key>
			<string>http://ecuastream.com:9022/listen.pls</string>
			<key>http</key>
			<string>https://ecuastreams.com/medios/radio/232-833-CRE/web/playlist.php?eiplist=listen.m3u</string>
			<key>note</key>
			<string>News (Guayaquil, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Visión 91.7 FM</string>
			<key>logo</key>
			<string>Vision</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://37.187.73.145:8104/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://37.187.73.145:8104/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ondas Carchenses</string>
			<key>logo</key>
			<string>Ondas</string>
			<key>link</key>
			<string>http://ecuastream.net:8192/listen.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://37.187.73.145:8192/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Unica Chichera</string>
			<key>logo</key>
			<string>Unica</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://87.117.197.33:10593/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://87.117.197.33:10593/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fiesta La Grande de Machala</string>
			<key>logo</key>
			<string>Fiesta</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://www.ecuastream.com:9050/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://www.ecuastream.com:9050/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pasion</string>
			<key>logo</key>
			<string>Pasion</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.99.0.170:6106/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.99.0.170:6106/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dorado</string>
			<key>logo</key>
			<string>Dorado</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.15.77.50:9508/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.15.77.50:9508/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chicha Mix</string>
			<key>logo</key>
			<string>Chicha</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://78.129.163.82:27970/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://78.129.163.82:27970/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Turismo Ecuador</string>
			<key>logo</key>
			<string>Turismo</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://176.31.248.14:13430/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://176.31.248.14:13430/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Vicio</string>
			<key>logo</key>
			<string>Vicio</string>
			<key>link</key>
			<string>https://player.questreaming.com/?pl=winamp&amp;c=radiovicio</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://85.25.237.157:8236/listen.pls?sid=1&amp;t=.pls</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ecuador Vallenato</string>
			<key>logo</key>
			<string>Vallenato</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://78.129.224.19:3697/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://78.129.224.19:3697/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>LATINO ECUADOR</string>
			<key>logo</key>
			<string>LATINO</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://162.210.196.140:8490/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://162.210.196.140:8490/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cumbia</string>
			<key>logo</key>
			<string>Cumbia</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://209.95.35.49:7109/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://209.95.35.49:7109/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Main Street Ecuatorianita</string>
			<key>logo</key>
			<string>Ecuatorianita</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.99.17.12:5821/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.99.17.12:5821/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tricolor FM</string>
			<key>logo</key>
			<string>Tricolor</string>
			<key>link</key>
			<string>http://184.107.210.202:1935/efrasyste/tricolormovil.stream/playlist.m3u8</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://184.107.210.203:7096/listen.pls&amp;t=.pls</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cumbre 102.5 FM</string>
			<key>logo</key>
			<string>Cumbre</string>
			<key>link</key>
			<string>http://184.107.210.202:1935/efrasyste/cumbre.stream/playlist.m3u8</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://184.107.210.202:7048/listen.pls&amp;t=.pls</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tu Vecina</string>
			<key>logo</key>
			<string>Tu</string>
			<key>link</key>
			<string>http://184.107.210.202:1935/efrasyste/cumbre.stream/playlist.m3u8</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://184.107.210.203:7056/listen.pls?sid=1&amp;t=.pls</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Presencia Ecuatoriana</string>
			<key>logo</key>
			<string>Presencia</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://144.76.247.162:9330/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://144.76.247.162:9330/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>LOS 40</string>
			<key>logo</key>
			<string>40</string>
			<key>link</key>
			<string>https://streamingecuador.net:7051/stream.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/40-principales-97-7-fm,10602.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Atalaya 680 AM</string>
			<key>logo</key>
			<string>Atalaya</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/atalaya-680-am,713.m3u</string>
			<key>http</key>
			<string>http://str.ecuastreaming.com:9978/;</string>
			<key>note</key>
			<string>Sport (Guayaquil, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Diblu 88.9 FM</string>
			<key>logo</key>
			<string>Diblu</string>
			<key>link</key>
			<string>http://streamingecuador.net:9302/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/diblu-fm-88-9,16782.m3u</string>
			<key>note</key>
			<string>Guayaquil (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hot 106 FM</string>
			<key>logo</key>
			<string>Hot</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/hot-106-fm,10605.m3u</string>
			<key>http</key>
			<string>http://195.154.182.222:3655/live</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>JC Radio La Bruja 107.3 FM</string>
			<key>logo</key>
			<string>JC</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/jc-radio-la-bruja-107-3-fm,10604.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>La 96.1</string>
			<key>logo</key>
			<string>La</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/la-96-1,10599.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Cuenca (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Radio Redonda 96.9 FM</string>
			<key>logo</key>
			<string>Redonda</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/la-radio-redonda-96-9-fm,20152.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Quito (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Radio Redonda 99.3 FM</string>
			<key>logo</key>
			<string>99</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/la-radio-redonda-99-3-fm,20151.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Guayaquil (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Voz del Tomebamba 1070 AM</string>
			<key>logo</key>
			<string>del</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/la-voz-del-tomebamba-1070-am,20144.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-tomebamba,20146.m3u</string>
			<key>note</key>
			<string>Cuenca (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MELODIA 90.5 FM</string>
			<key>logo</key>
			<string>MELODIA</string>
			<key>link</key>
			<string>http://sisteplay1.streamwowza.com:1935/radiohd/MelodiaFm1/playlist.m3u8</string>
			<key>http</key>
			<string>http://enhd.co:1935/9370/default.stream/playlist.m3u8</string>
			<key>note</key>
			<string>Ambato (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Alegria 98.5 FM</string>
			<key>logo</key>
			<string>Alegria</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-alegria-98-5-fm,14970.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Ambato (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>America</string>
			<key>logo</key>
			<string>America</string>
			<key>link</key>
			<string>https://streamingecuador.net:9100/stream.m3u</string>
			<key>http</key>
			<string>https://streamingecuador.net:9101/stream.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Armonica</string>
			<key>logo</key>
			<string>Armonica</string>
			<key>link</key>
			<string>http://195.154.182.222:25194/live</string>
			<key>http</key>
			<string>http://38.96.148.216:9050/listen.pls</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Canela</string>
			<key>logo</key>
			<string>Canela</string>
			<key>link</key>
			<string>https://stream.pentaedro.info:9025/stream.m3u</string>
			<key>http</key>
			<string>https://stream.pentaedro.info:9027/stream.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Caravana 750 AM</string>
			<key>logo</key>
			<string>Caravana</string>
			<key>link</key>
			<string>https://streamingecuador.net:9006/stream.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-caravana,715.m3u</string>
			<key>note</key>
			<string>Guayaquil (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>City 89.3 FM</string>
			<key>logo</key>
			<string>City</string>
			<key>link</key>
			<string>http://198.15.77.50:9564/;</string>
			<key>http</key>
			<string>http://streamingecuador.net:9330/listen.pls</string>
			<key>note</key>
			<string>Guayaquil (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Continental 1320</string>
			<key>logo</key>
			<string>Continental</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-continental-1320,14953.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Ambato (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cuyabeno 98.1 FM</string>
			<key>logo</key>
			<string>Cuyabeno</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-cuyabeno-98-1-fm,20150.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Nueva Loja (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ecua Stereo</string>
			<key>logo</key>
			<string>Ecua</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-ecua-stereo,17973.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Cuenca (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ecuashyri 104.9 FM</string>
			<key>logo</key>
			<string>Ecuashyri</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-ecuashyri-104-9-fm,16842.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>HCJB</string>
			<key>logo</key>
			<string>HCJB</string>
			<key>link</key>
			<string>https://streamingecuador.net:8287/hcjb.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-hcjb-89-3-fm,16966.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>HCJB AM 690</string>
			<key>logo</key>
			<string>690</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-hcjb-am-690,11569.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Otra 91.3 FM</string>
			<key>logo</key>
			<string>Otra</string>
			<key>link</key>
			<string>http://195.154.182.222:25016/live</string>
			<key>http</key>
			<string>http://38.96.148.217:8090/listen.pls</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Otra Guayaquil 94.9 FM</string>
			<key>logo</key>
			<string>Guayaquil</string>
			<key>link</key>
			<string>http://195.154.182.222:25018/live</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Picosa</string>
			<key>logo</key>
			<string>Picosa</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-la-picosa,20096.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Cuenca (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Macas</string>
			<key>logo</key>
			<string>Macas</string>
			<key>link</key>
			<string>https://www.radiomacas.com/players/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-macas,20147.m3u</string>
			<key>note</key>
			<string>Cuenca (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Maxima Caracol 91.3 FM</string>
			<key>logo</key>
			<string>Maxima</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-maxima-caracol-91-3-fm,14967.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Ambato (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Morona 89.3 FM</string>
			<key>logo</key>
			<string>Morona</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-morona-89-3-fm,20148.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Macas (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sucre 700 AM</string>
			<key>logo</key>
			<string>Sucre</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-sucre-700-am,17509.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Zaracay 100.5 FM</string>
			<key>logo</key>
			<string>Zaracay</string>
			<key>link</key>
			<string>http://190.90.241.254:8000/zradiomp3.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-zaracay-100-5-fm,731.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rio 95.7 FM</string>
			<key>logo</key>
			<string>Rio</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/rio-95-7-fm,17148.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Riobamba (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RUMBA 88.9 FM</string>
			<key>logo</key>
			<string>RUMBA</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/rumba-88-9-fm,14952.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Ambato (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sonido 102.1 FM</string>
			<key>logo</key>
			<string>Sonido</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/sonido-102-1-fm,20145.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Cuenca (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>SONO ONDA 99.7</string>
			<key>logo</key>
			<string>SONO</string>
			<key>link</key>
			<string>http://5.135.183.124/tunein/sonoonda-stream.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Portoviejo (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sonorama FM</string>
			<key>logo</key>
			<string>Sonorama</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/sonorama-fm,727.m3u</string>
			<key>http</key>
			<string>https://streamingecuador.net:7013/listen.pls</string>
			<key>note</key>
			<string>Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sucre 900 AM</string>
			<key>logo</key>
			<string>900</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/sucre-900-am,728.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tropicalida FM</string>
			<key>logo</key>
			<string>Tropicalida</string>
			<key>link</key>
			<string>http://radios-ec.cdn.nedmedia.io/radios/ec-tropicalida.m3u8</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/tropicalida-91-3-fm,10597.m3u</string>
			<key>note</key>
			<string>Guayaquil (Local)</string>
		</dict>
	</array>
</dict>
</plist>
