<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>2573927728</string>
		<key>Back</key>
		<string>4390406423</string>
		<key>Banner</key>
		<string>8217970793</string>
		<key>Show1</key>
		<string>9455439969</string>
		<key>Show2</key>
		<string>2506888236</string>
		<key>Show3</key>
		<string>8043136000</string>
		<key>Show4</key>
		<string>4816947689</string>
		<key>Alarm</key>
		<string>1002234875</string>
		<key>Custom</key>
		<string>4749908195</string>
		<key>Splash</key>
		<string>7212420006</string>
		<key>Header</key>
		<string>2698459920</string>
		<key>Footer</key>
		<string>3819969904</string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string>1176523620</string>
		<key>Application</key>
		<string>1415291428</string>
		<key>Developer</key>
		<string>1239592099</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<integer>2</integer>
		<key>MenuMode</key>
		<string>10</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>BBC Radio 1</string>
			<key>logo</key>
			<string>BBC1</string>
			<key>link</key>
			<string>http://www.listenlive.eu/bbcradio1.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>National (Top 30)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC Radio 2</string>
			<key>logo</key>
			<string>BBC2</string>
			<key>link</key>
			<string>http://www.listenlive.eu/bbcradio2.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>National (Popular / Contemporary)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC Radio 3</string>
			<key>logo</key>
			<string>BBC3</string>
			<key>link</key>
			<string>http://www.listenlive.eu/bbcradio3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>National (Classical)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC Radio 4</string>
			<key>logo</key>
			<string>BBC4</string>
			<key>link</key>
			<string>http://www.listenlive.eu/bbcradio4.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>National (News / Feature programming)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC Radio 4 LW</string>
			<key>logo</key>
			<string>BBC4L</string>
			<key>link</key>
			<string>http://www.listenlive.eu/bbcradio4lw.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>National (News / Feature programming)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC Radio 4 Extra</string>
			<key>logo</key>
			<string>BBC4E</string>
			<key>link</key>
			<string>http://www.listenlive.eu/bbcradio4extra.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>National (Comedy / Drama / Features)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC 5 Live</string>
			<key>logo</key>
			<string>BBC5</string>
			<key>link</key>
			<string>http://www.listenlive.eu/bbc5live.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>National (News / Talk / Sport)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC 5 Live Sports Extra</string>
			<key>logo</key>
			<string>BBC5S</string>
			<key>link</key>
			<string>http://www.listenlive.eu/bbc5liveextra.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>National (Sport)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC 6 Music</string>
			<key>logo</key>
			<string>BBC6</string>
			<key>link</key>
			<string>http://www.listenlive.eu/bbc6music.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>National (Music)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC 1Xtra</string>
			<key>logo</key>
			<string>BBC1X</string>
			<key>link</key>
			<string>http://www.listenlive.eu/bbc1xtra.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>National (Urban / RnB / Hip-Hop)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC Asian Network</string>
			<key>logo</key>
			<string>BBCA</string>
			<key>link</key>
			<string>http://www.listenlive.eu/bbcasian.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Birmingham (Asian programming)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC World Service</string>
			<key>logo</key>
			<string>BBCW</string>
			<key>link</key>
			<string>http://www.bbc.co.uk/worldservice/meta/live/mp3/eneuk.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>London (International news / Features)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC Radio Berkshire</string>
			<key>logo</key>
			<string>BBCB</string>
			<key>link</key>
			<string>http://open.live.bbc.co.uk/mediaselector/5/select/version/2.0/mediaset/http-icy-mp3-a/vpid/bbc_radio_berkshire/format/pls.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC Radio Bristol</string>
			<key>logo</key>
			<string>BBCBristol</string>
			<key>link</key>
			<string>http://open.live.bbc.co.uk/mediaselector/5/select/version/2.0/mediaset/http-icy-mp3-a/vpid/bbc_radio_bristol/format/pls.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC Radio Cambridgeshire</string>
			<key>logo</key>
			<string>BBCCambridge</string>
			<key>link</key>
			<string>http://open.live.bbc.co.uk/mediaselector/5/select/version/2.0/mediaset/http-icy-mp3-a/vpid/bbc_radio_cambridge/format/pls.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC Radio Cornwall</string>
			<key>logo</key>
			<string>BBCCornwall</string>
			<key>link</key>
			<string>http://open.live.bbc.co.uk/mediaselector/5/select/version/2.0/mediaset/http-icy-mp3-a/vpid/bbc_radio_cornwall/format/pls.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Truro</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC Coventry and Warwickshire</string>
			<key>logo</key>
			<string>BBCCoventry</string>
			<key>link</key>
			<string>http://open.live.bbc.co.uk/mediaselector/5/select/version/2.0/mediaset/http-icy-mp3-a/vpid/bbc_radio_coventry_warwickshire/format/pls.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC Radio Cumbria</string>
			<key>logo</key>
			<string>BBCCumbria</string>
			<key>link</key>
			<string>http://open.live.bbc.co.uk/mediaselector/5/select/version/2.0/mediaset/http-icy-mp3-a/vpid/bbc_radio_cumbria/format/pls.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Carlisle</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC Radio Derby</string>
			<key>logo</key>
			<string>BBCDerby</string>
			<key>link</key>
			<string>http://open.live.bbc.co.uk/mediaselector/5/select/version/2.0/mediaset/http-icy-mp3-a/vpid/bbc_radio_derby/format/pls.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC Radio Devon</string>
			<key>logo</key>
			<string>BBCDevon</string>
			<key>link</key>
			<string>http://open.live.bbc.co.uk/mediaselector/5/select/version/2.0/mediaset/http-icy-mp3-a/vpid/bbc_radio_devon/format/pls.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Plymouth</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC Essex</string>
			<key>logo</key>
			<string>BBCE</string>
			<key>link</key>
			<string>http://open.live.bbc.co.uk/mediaselector/5/select/version/2.0/mediaset/http-icy-mp3-a/vpid/bbc_radio_essex/format/pls.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Chelmsford</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC Radio Gloucestershire</string>
			<key>logo</key>
			<string>BBCG</string>
			<key>link</key>
			<string>http://open.live.bbc.co.uk/mediaselector/5/select/version/2.0/mediaset/http-icy-mp3-a/vpid/bbc_radio_gloucestershire/format/pls.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC Radio Guernsey</string>
			<key>logo</key>
			<string>BBCGu</string>
			<key>link</key>
			<string>http://open.live.bbc.co.uk/mediaselector/5/select/version/2.0/mediaset/http-icy-mp3-a/vpid/bbc_radio_guernsey/format/pls.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>St Sampson&apos;s</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC Hereford/Worcester</string>
			<key>logo</key>
			<string>BBCHereford</string>
			<key>link</key>
			<string>http://open.live.bbc.co.uk/mediaselector/5/select/version/2.0/mediaset/http-icy-mp3-a/vpid/bbc_radio_hereford_worcester/format/pls.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC Radio Humberside</string>
			<key>logo</key>
			<string>BBCHum</string>
			<key>link</key>
			<string>http://open.live.bbc.co.uk/mediaselector/5/select/version/2.0/mediaset/http-icy-mp3-a/vpid/bbc_radio_humberside/format/pls.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Hull</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC Radio Jersey</string>
			<key>logo</key>
			<string>BBCJersey</string>
			<key>link</key>
			<string>http://open.live.bbc.co.uk/mediaselector/5/select/version/2.0/mediaset/http-icy-mp3-a/vpid/bbc_radio_jersey/format/pls.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>St.Helier</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC Radio Kent</string>
			<key>logo</key>
			<string>BBCKent</string>
			<key>link</key>
			<string>http://open.live.bbc.co.uk/mediaselector/5/select/version/2.0/mediaset/http-icy-mp3-a/vpid/bbc_radio_kent/format/pls.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Maidstone</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC Radio Lancashire</string>
			<key>logo</key>
			<string>BBCLanca</string>
			<key>link</key>
			<string>http://open.live.bbc.co.uk/mediaselector/5/select/version/2.0/mediaset/http-icy-mp3-a/vpid/bbc_radio_lancashire/format/pls.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Blackburn</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC Radio Leeds</string>
			<key>logo</key>
			<string>BBCLeeds</string>
			<key>link</key>
			<string>http://open.live.bbc.co.uk/mediaselector/5/select/version/2.0/mediaset/http-icy-mp3-a/vpid/bbc_radio_leeds/format/pls.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC Radio Leicester</string>
			<key>logo</key>
			<string>BBCLeicester</string>
			<key>link</key>
			<string>http://open.live.bbc.co.uk/mediaselector/5/select/version/2.0/mediaset/http-icy-mp3-a/vpid/bbc_radio_leicester/format/pls.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC Radio Lincolnshire</string>
			<key>logo</key>
			<string>BBCLincoln</string>
			<key>link</key>
			<string>http://open.live.bbc.co.uk/mediaselector/5/select/version/2.0/mediaset/http-icy-mp3-a/vpid/bbc_radio_lincolnshire/format/pls.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC London 94.9</string>
			<key>logo</key>
			<string>BBCLondon</string>
			<key>link</key>
			<string>http://open.live.bbc.co.uk/mediaselector/5/select/version/2.0/mediaset/http-icy-mp3-a/vpid/bbc_london/format/pls.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Local News / Features</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC Radio Manchester</string>
			<key>logo</key>
			<string>BBCManchester</string>
			<key>link</key>
			<string>http://open.live.bbc.co.uk/mediaselector/5/select/version/2.0/mediaset/http-icy-mp3-a/vpid/bbc_radio_manchester/format/pls.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC Radio Merseyside</string>
			<key>logo</key>
			<string>BBCMerseyside</string>
			<key>link</key>
			<string>http://open.live.bbc.co.uk/mediaselector/5/select/version/2.0/mediaset/http-icy-mp3-a/vpid/bbc_radio_merseyside/format/pls.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Liverpool</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC Newcastle</string>
			<key>logo</key>
			<string>BBCNewcastle</string>
			<key>link</key>
			<string>http://open.live.bbc.co.uk/mediaselector/5/select/version/2.0/mediaset/http-icy-mp3-a/vpid/bbc_radio_newcastle/format/pls.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC Radio Norfolk</string>
			<key>logo</key>
			<string>BBCNorfolk</string>
			<key>link</key>
			<string>http://open.live.bbc.co.uk/mediaselector/5/select/version/2.0/mediaset/http-icy-mp3-a/vpid/bbc_radio_norfolk/format/pls.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Norwich</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC Radio Northampton</string>
			<key>logo</key>
			<string>BBCNorth</string>
			<key>link</key>
			<string>http://open.live.bbc.co.uk/mediaselector/5/select/version/2.0/mediaset/http-icy-mp3-a/vpid/bbc_radio_northampton/format/pls.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC Radio Nottingham</string>
			<key>logo</key>
			<string>BBCNottingham</string>
			<key>link</key>
			<string>http://open.live.bbc.co.uk/mediaselector/5/select/version/2.0/mediaset/http-icy-mp3-a/vpid/bbc_radio_nottingham/format/pls.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC Radio Oxford</string>
			<key>logo</key>
			<string>BBCOxford</string>
			<key>link</key>
			<string>http://open.live.bbc.co.uk/mediaselector/5/select/version/2.0/mediaset/http-icy-mp3-a/vpid/bbc_radio_oxford/format/pls.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC Radio Sheffield</string>
			<key>logo</key>
			<string>BBCSheffield</string>
			<key>link</key>
			<string>http://open.live.bbc.co.uk/mediaselector/5/select/version/2.0/mediaset/http-icy-mp3-a/vpid/bbc_radio_sheffield/format/pls.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC Radio Shropshire</string>
			<key>logo</key>
			<string>BBCShropshire</string>
			<key>link</key>
			<string>http://open.live.bbc.co.uk/mediaselector/5/select/version/2.0/mediaset/http-icy-mp3-a/vpid/bbc_radio_shropshire/format/pls.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Shrewsbury</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC Radio Solent</string>
			<key>logo</key>
			<string>BBCSolent</string>
			<key>link</key>
			<string>http://open.live.bbc.co.uk/mediaselector/5/select/version/2.0/mediaset/http-icy-mp3-a/vpid/bbc_radio_solent/format/pls.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Southampton</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC Somerset</string>
			<key>logo</key>
			<string>BBCSomerset</string>
			<key>link</key>
			<string>http://open.live.bbc.co.uk/mediaselector/5/select/version/2.0/mediaset/http-icy-mp3-a/vpid/bbc_radio_somerset_sound/format/pls.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Taunton</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC Radio Stoke</string>
			<key>logo</key>
			<string>BBCStoke</string>
			<key>link</key>
			<string>http://open.live.bbc.co.uk/mediaselector/5/select/version/2.0/mediaset/http-icy-mp3-a/vpid/bbc_radio_stoke/format/pls.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC Radio Suffolk</string>
			<key>logo</key>
			<string>BBCSuffolk</string>
			<key>link</key>
			<string>http://open.live.bbc.co.uk/mediaselector/5/select/version/2.0/mediaset/http-icy-mp3-a/vpid/bbc_radio_suffolk/format/pls.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Ipswich</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC Surrey</string>
			<key>logo</key>
			<string>BBCSurrey</string>
			<key>link</key>
			<string>http://open.live.bbc.co.uk/mediaselector/5/select/version/2.0/mediaset/http-icy-mp3-a/vpid/bbc_radio_surrey/format/pls.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Guildford</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC Sussex</string>
			<key>logo</key>
			<string>BBCSussex</string>
			<key>link</key>
			<string>http://open.live.bbc.co.uk/mediaselector/5/select/version/2.0/mediaset/http-icy-mp3-a/vpid/bbc_radio_sussex/format/pls.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Brighton</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC Tees</string>
			<key>logo</key>
			<string>BBCTees</string>
			<key>link</key>
			<string>http://open.live.bbc.co.uk/mediaselector/5/select/version/2.0/mediaset/http-icy-mp3-a/vpid/bbc_tees/format/pls.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Middlesbrough</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC Three Counties Radio</string>
			<key>logo</key>
			<string>BBCThree</string>
			<key>link</key>
			<string>http://open.live.bbc.co.uk/mediaselector/5/select/version/2.0/mediaset/http-icy-mp3-a/vpid/bbc_three_counties_radio/format/pls.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Luton</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC Wiltshire</string>
			<key>logo</key>
			<string>BBCWiltshire</string>
			<key>link</key>
			<string>http://open.live.bbc.co.uk/mediaselector/5/select/version/2.0/mediaset/http-icy-mp3-a/vpid/bbc_radio_wiltshire/format/pls.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Swindon</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC WM 95.6</string>
			<key>logo</key>
			<string>BBCWM</string>
			<key>link</key>
			<string>http://open.live.bbc.co.uk/mediaselector/5/select/version/2.0/mediaset/http-icy-mp3-a/vpid/bbc_wm/format/pls.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Birmingham</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC Radio York</string>
			<key>logo</key>
			<string>BBCYork</string>
			<key>link</key>
			<string>http://open.live.bbc.co.uk/mediaselector/5/select/version/2.0/mediaset/http-icy-mp3-a/vpid/bbc_radio_york/format/pls.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC Radio Cymru</string>
			<key>logo</key>
			<string>BBCCymru</string>
			<key>link</key>
			<string>http://open.live.bbc.co.uk/mediaselector/5/select/version/2.0/mediaset/http-icy-mp3-a/vpid/bbc_radio_cymru/format/pls.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Cardiff (Welsh)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC Radio Scotland</string>
			<key>logo</key>
			<string>BBCScotland</string>
			<key>link</key>
			<string>http://www.listenlive.eu/bbcradioscotland.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Glasgow</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC Radio nan Gaidheal</string>
			<key>logo</key>
			<string>BBCGaidheal</string>
			<key>link</key>
			<string>http://www.listenlive.eu/bbcradionangaidheal.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Stornoway (Gaelic service)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC Radio Ulster</string>
			<key>logo</key>
			<string>BBCUlster</string>
			<key>link</key>
			<string>http://open.live.bbc.co.uk/mediaselector/5/select/version/2.0/mediaset/http-icy-mp3-a/vpid/bbc_radio_ulster/format/pls.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Belfast</string>
		</dict>
	</array>
</dict>
</plist>
