<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string></string>
		<key>Back</key>
		<string></string>
		<key>Banner</key>
		<string></string>
		<key>Show1</key>
		<string></string>
		<key>Show2</key>
		<string></string>
		<key>Show3</key>
		<string></string>
		<key>Show4</key>
		<string></string>
		<key>Alarm</key>
		<string></string>
		<key>CustomBanner</key>
		<string></string>
		<key>CustomSplash</key>
		<string></string>
		<key>Header</key>
		<string></string>
		<key>Footer</key>
		<string></string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string></string>
		<key>Application</key>
		<string></string>
		<key>Developer</key>
		<string></string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>106.2 FM</string>
			<key>logo</key>
			<string>Humm</string>
			<key>link</key>
			<string>https://prod-35-227-177-94.wostreaming.net/humfm-fm1062mp3-ibc1</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/humm-106-2-fm,19876.m3u</string>
			<key>note</key>
			<string>News, Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Apna Karachi 107</string>
			<key>logo</key>
			<string>APNA</string>
			<key>link</key>
			<string>http://72.255.62.220:7070/live107.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/apna-karachi-107,16048.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Awaz 104 FM</string>
			<key>logo</key>
			<string>104</string>
			<key>link</key>
			<string>http://158.69.4.171:8140/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-awaz-104-fm,19878.m3u</string>
			<key>note</key>
			<string>Top News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Awaz 105 FM Okara</string>
			<key>logo</key>
			<string>Awaz</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/awaz-105-fm,15949.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Awaz 106 FM Gujranwala</string>
			<key>logo</key>
			<string>106</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/awaz-radio-106-fm,17003.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Buzz FM Islamabad</string>
			<key>logo</key>
			<string>Buzz</string>
			<key>link</key>
			<string>http://fusion.shoutca.st:8112/listen.pls?sid=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Top, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Buzz FM Lahore</string>
			<key>logo</key>
			<string>Buz</string>
			<key>link</key>
			<string>http://158.69.4.171:8104/listen.pls?sid=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Top, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Buzz FM Karachi</string>
			<key>logo</key>
			<string>Bu</string>
			<key>link</key>
			<string>http://158.69.4.171:8100/listen.pls?sid=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Top, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>City FM 89</string>
			<key>logo</key>
			<string>89</string>
			<key>link</key>
			<string>https://video1.getstreamhosting.com:8026/stream.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/city-fm-89-dsl,5823.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dhamaal FM 94</string>
			<key>logo</key>
			<string>Dhamaal</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/dhamaal-fm-94,15948.m3u</string>
			<key>http</key>
			<string>http://199.217.119.214:8000/dhamal94slk?type=.mp3</string>
			<key>note</key>
			<string>News, Talk (Faisalabad, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Faizan-e-Mah-e-Shawwal</string>
			<key>logo</key>
			<string>Shawwal</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/faizan-e-mah-e-shawwal-radio,17684.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Farz Uloom</string>
			<key>logo</key>
			<string>Uloom</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/farz-uloom-radio,17682.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM91 Islamabad</string>
			<key>logo</key>
			<string>FM91</string>
			<key>link</key>
			<string>https://cc.vmakerhost.com/proxy/islamabad?mp=/stream</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/fm91-islamabad,18712.m3u</string>
			<key>note</key>
			<string>News, Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM91 Karachi</string>
			<key>logo</key>
			<string>Karachi</string>
			<key>link</key>
			<string>https://cc.vmakerhost.com/proxy/karachi?mp=/stream</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/fm91-karachi,11767.m3u</string>
			<key>note</key>
			<string>News, Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM91 Lahore</string>
			<key>logo</key>
			<string>Lahor</string>
			<key>link</key>
			<string>https://cc.vmakerhost.com/proxy/lahore?mp=/stream</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/fm91-lahore,18711.m3u</string>
			<key>note</key>
			<string>News, Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM93 Mirpur</string>
			<key>logo</key>
			<string>93</string>
			<key>link</key>
			<string>http://203.124.35.147:8032/listen.pls?sid=1</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/fm-93-mirpur,16340.m3u</string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM94 Dhanak</string>
			<key>logo</key>
			<string>Dhanak</string>
			<key>link</key>
			<string>http://203.124.35.147:8002/listen.pls?sid=2</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM100 Hyderabad</string>
			<key>logo</key>
			<string>Hyderabad</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/fm100-hyderabad,19082.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM100 Islamabad</string>
			<key>logo</key>
			<string>Islamabad</string>
			<key>link</key>
			<string>http://162.244.80.118:4900/listen.pls?sid=1</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/fm100-islamabad,839.m3u</string>
			<key>note</key>
			<string>News, Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM100 Karachi</string>
			<key>logo</key>
			<string>FM100</string>
			<key>link</key>
			<string>http://162.244.80.118:3024/listen.pls?sid=1</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/fm100-karachi,9402.m3u</string>
			<key>note</key>
			<string>News, Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM100 Lahore</string>
			<key>logo</key>
			<string>Lahore</string>
			<key>link</key>
			<string>http://162.244.80.118:3058/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/fm100-lahore,9403.m3u</string>
			<key>note</key>
			<string>News, Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM101 Islamabad</string>
			<key>logo</key>
			<string>Islamaba</string>
			<key>link</key>
			<string>http://203.124.35.147:8006/listen.pls?sid=2</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM101 Lahore</string>
			<key>logo</key>
			<string>101</string>
			<key>link</key>
			<string>http://203.124.35.147:8084/listen.pls?sid=2</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM101 Karachi</string>
			<key>logo</key>
			<string>Karac</string>
			<key>link</key>
			<string>http://203.124.35.147:8036/listen.pls?sid=2</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>HOT FM 105</string>
			<key>logo</key>
			<string>HOT</string>
			<key>link</key>
			<string>http://172.93.237.106:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk, Sport, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>JAN FM 91.6</string>
			<key>logo</key>
			<string>JAN</string>
			<key>link</key>
			<string>http://212.83.138.48:8200/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Madani Channel</string>
			<key>logo</key>
			<string>Madani</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/madani-channel,11113.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mast FM 103</string>
			<key>logo</key>
			<string>Mast</string>
			<key>link</key>
			<string>http://110.36.229.158:8000/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/mast-fm-103,17259.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mix FM 99 Kasur</string>
			<key>logo</key>
			<string>Kasur</string>
			<key>link</key>
			<string>http://radio.flare.pk:8098/fm99</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/flare-fm-99-kasur,15177.m3u</string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Naat</string>
			<key>logo</key>
			<string>Naat</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/naat-radio,17683.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>PBC Islamabad (ریڈیو پاکستان)</string>
			<key>logo</key>
			<string>NBS</string>
			<key>link</key>
			<string>http://203.124.35.147:8044/listen.pls?sid=2</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-pakistan-nbs-islamabad,16336.m3u</string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ریڈیو پاکستان</string>
			<key>logo</key>
			<string>PBC</string>
			<key>link</key>
			<string>http://203.124.35.147:8046/listen.pls?sid=1</string>
			<key>http</key>
			<string>http://203.124.35.147:8000/listen.pls?sid=2</string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>PBC Lahore</string>
			<key>logo</key>
			<string>Laho</string>
			<key>link</key>
			<string>http://203.124.35.147:8086/listen.pls?sid=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>PBC Peshawar</string>
			<key>logo</key>
			<string>Peshawar</string>
			<key>link</key>
			<string>http://203.124.35.147:8088/listen.pls?sid=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>PBC Karachi</string>
			<key>logo</key>
			<string>Karac</string>
			<key>link</key>
			<string>http://210.56.24.230:8036/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Power99 Islamabad</string>
			<key>logo</key>
			<string>Power99</string>
			<key>link</key>
			<string>http://23.235.206.127:8000/listen.pls?sid=1</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/power99-islamabad,16862.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Quran صوت القرآن</string>
			<key>logo</key>
			<string>Quran</string>
			<key>link</key>
			<string>http://203.124.35.147:8004/listen.pls?sid=2</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/quran-radio,17681.m3u</string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Riphah FM 102.2</string>
			<key>logo</key>
			<string>Riphah</string>
			<key>link</key>
			<string>http://162.244.80.106:11470/listen.pls?sid=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Samaa FM Islamabad</string>
			<key>logo</key>
			<string>Samaa</string>
			<key>link</key>
			<string>https://samaaisb107-itelservices.radioca.st/listen.pls?sid=1</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/samaa-fm,19400.m3u</string>
			<key>note</key>
			<string>News, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Samaa FM Lahore</string>
			<key>logo</key>
			<string>Sama</string>
			<key>link</key>
			<string>https://samaalhr107-itelservices.radioca.st/listen.pls?sid=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Samaa FM Karachi</string>
			<key>logo</key>
			<string>Sam</string>
			<key>link</key>
			<string>https://samaakhi107-itelservices.radioca.st/listen.pls?sid=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sindh Police FM 88.6</string>
			<key>logo</key>
			<string>Sindh</string>
			<key>link</key>
			<string>http://s33.myradiostream.com:12558/listen.mp3</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Smile FM 88.6</string>
			<key>logo</key>
			<string>Smile</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/smile-fm-88-6,18898.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Haripur (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>SMIU</string>
			<key>logo</key>
			<string>SMIU</string>
			<key>link</key>
			<string>https://s30.myradiostream.com/28364/listen.mp3</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Suno FM Islamabad</string>
			<key>logo</key>
			<string>Suno</string>
			<key>link</key>
			<string>http://110.93.246.72:8000/SUNO.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/suno-pakistan-fm-89-4,18288.m3u</string>
			<key>note</key>
			<string>News, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Suno FM Lahore</string>
			<key>logo</key>
			<string>Lah</string>
			<key>link</key>
			<string>http://110.93.246.72:8000/Lahore.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Suno FM Karachi</string>
			<key>logo</key>
			<string>Karach</string>
			<key>link</key>
			<string>http://110.93.246.72:8000/Karachi.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>The Hit FM 102</string>
			<key>logo</key>
			<string>The</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/the-hit-fm-102,18924.m3u</string>
			<key>http</key>
			<string>http://rps.a-xee.com:8500/TheHitFM?type=.mp3</string>
			<key>note</key>
			<string>Mandra (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>The Magic Radio</string>
			<key>logo</key>
			<string>Magic</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/the-magic-radio,19877.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Mirpur (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>VALLEY FM103</string>
			<key>logo</key>
			<string>VALLEY</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/valley-fm103,18381.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Muzaffarabad (Local)</string>
		</dict>
	</array>
</dict>
</plist>
