<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Haugaland</string>
		<key>logo</key>
		<string>Haugaland</string>
		<key>link</key>
		<string>https://hnytt.no/se-tvh-live/</string>
		<key>http</key>
		<string>https://hnytt.no/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Risvollan</string>
		<key>logo</key>
		<string>Risvollan</string>
		<key>link</key>
		<string>http://www.tvrisvollan.no/</string>
		<key>http</key>
		<string>http://www.tvrisvollan.no/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NRK 1</string>
		<key>logo</key>
		<string>1</string>
		<key>link</key>
		<string>https://tv.nrk.no/direkte/nrk1</string>
		<key>http</key>
		<string>https://www.nrk.no/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NRK 2</string>
		<key>logo</key>
		<string>2</string>
		<key>link</key>
		<string>https://tv.nrk.no/direkte/nrk2</string>
		<key>http</key>
		<string>https://www.nrk.no/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NRK 3</string>
		<key>logo</key>
		<string>3</string>
		<key>link</key>
		<string>https://tv.nrk.no/direkte/nrk3</string>
		<key>http</key>
		<string>https://www.nrk.no/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NRK Super</string>
		<key>logo</key>
		<string>Super</string>
		<key>link</key>
		<string>https://tv.nrk.no/direkte/nrksuper</string>
		<key>http</key>
		<string>https://www.nrk.no/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Stortinget</string>
		<key>logo</key>
		<string>Stortinget</string>
		<key>link</key>
		<string>https://www.stortinget.no/no/Hva-skjer-pa-Stortinget/Stortinget-akkurat-na/Nett-TV/</string>
		<key>http</key>
		<string>https://www.stortinget.no/no/Hva-skjer-pa-Stortinget/Stortinget-akkurat-na/Nett-TV/#sal1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Visjon Norge</string>
		<key>logo</key>
		<string>Visjon</string>
		<key>link</key>
		<string>http://www.visjonnorge.com/</string>
		<key>http</key>
		<string>http://www.visjonnorge.com/tv/se-web-tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kanal 10</string>
		<key>logo</key>
		<string>10</string>
		<key>link</key>
		<string>http://kanal10.no/web-tv</string>
		<key>http</key>
		<string>http://kanal10.no</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hope Channel</string>
		<key>logo</key>
		<string>Hope</string>
		<key>link</key>
		<string>http://www.hopechannel.no/innhold/web-tv/livestream/</string>
		<key>http</key>
		<string>http://www.hopechannel.no</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bloomberg TV Europe</string>
		<key>logo</key>
		<string>bloomberg</string>
		<key>link</key>
		<string>https://www.bloomberg.com/live/europe</string>
		<key>http</key>
		<string>https://www.bloomberg.com/live/us</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Euronews</string>
		<key>logo</key>
		<string>Euronews</string>
		<key>link</key>
		<string>http://de.euronews.com/live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/euronewsfr/videos?live_view=501&amp;flow=grid&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>EbS Europe by Satellite</string>
		<key>logo</key>
		<string>EbS</string>
		<key>link</key>
		<string>http://ec.europa.eu/avservices/ebs/live.cfm?page=1</string>
		<key>http</key>
		<string>http://ec.europa.eu/avservices/ebs/schedule.cfm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sky News</string>
		<key>logo</key>
		<string>Sky</string>
		<key>link</key>
		<string>http://news.sky.com/watch-live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/skynews</string>
	</dict>
</array>
</plist>
