<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string></string>
		<key>Main</key>
		<string></string>
		<key>Back</key>
		<string></string>
		<key>Banner</key>
		<string></string>
		<key>Show1</key>
		<string></string>
		<key>Show2</key>
		<string></string>
		<key>Show3</key>
		<string></string>
		<key>Show4</key>
		<string></string>
		<key>Alarm</key>
		<string></string>
		<key>CustomBanner</key>
		<string></string>
		<key>CustomSplash</key>
		<string></string>
		<key>Header</key>
		<string></string>
		<key>Footer</key>
		<string></string>
		<key>Email</key>
		<string>ios.apps.community@gmail.com</string>
		<key>Alternative</key>
		<string></string>
		<key>Application</key>
		<string></string>
		<key>Developer</key>
		<string></string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Menu</key>
	<array>
		<string>Top</string>
		<string>News</string>
		<string>Local</string>
		<string>Classic</string>
		<string>Music</string>
		<string>Sport</string>
		<string>Talk</string>
		<string>Youth</string>
		<string>Oldies</string>
	</array>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Алмаз-ФМ</string>
			<key>logo</key>
			<string>Almaz</string>
			<key>link</key>
			<string>http://almazfm.ddns.net:8888/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Европа Плюс</string>
			<key>logo</key>
			<string>Evropa</string>
			<key>link</key>
			<string>http://ep256.hostingradio.ru:8052/europaplus256.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>КТРК Кыргыз</string>
			<key>logo</key>
			<string>KTRK</string>
			<key>link</key>
			<string>http://212.112.96.232:8083/</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Кыргызстан Обондору</string>
			<key>logo</key>
			<string>Obondoru</string>
			<key>link</key>
			<string>http://31.192.250.52:8000/obondoru128.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Manas 102.9 FM</string>
			<key>logo</key>
			<string>Manas</string>
			<key>link</key>
			<string>http://live.mediamanas.kg:8000/online.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Марал</string>
			<key>logo</key>
			<string>Maral</string>
			<key>link</key>
			<string>http://212.42.115.186:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ОК</string>
			<key>logo</key>
			<string>OK</string>
			<key>link</key>
			<string>http://stream.okradio.kg:8000/mp3-hq.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Рекорд</string>
			<key>logo</key>
			<string>Record</string>
			<key>link</key>
			<string>http://air.radiorecord.ru:8101/rr_320.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ретро FM</string>
			<key>logo</key>
			<string>Retro</string>
			<key>link</key>
			<string>http://retroserver.streamr.ru:8043/retro256.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Romantika</string>
			<key>logo</key>
			<string>Romantika</string>
			<key>link</key>
			<string>https://pub0302.101.ru:8443/stream/air/aac/64/101.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Спутник</string>
			<key>logo</key>
			<string>Sputnik</string>
			<key>link</key>
			<string>http://nfw.ria.ru/flv/audio.aspx?ID=34872596&amp;type=mp3</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Тумар FM 101.3</string>
			<key>logo</key>
			<string>Tumar</string>
			<key>link</key>
			<string>http://live.tumar.fm:8000/online.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Хит FM 105.6</string>
			<key>logo</key>
			<string>Hit</string>
			<key>link</key>
			<string>http://radio.city.kg:8000/hitfm-bishkek.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Эхо Москвы 91.2 FM</string>
			<key>logo</key>
			<string>Echo</string>
			<key>link</key>
			<string>http://ice912.echo.msk.ru:9120/32.aac.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
