<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string></string>
		<key>Main</key>
		<string></string>
		<key>Back</key>
		<string></string>
		<key>Banner</key>
		<string></string>
		<key>Show1</key>
		<string></string>
		<key>Show2</key>
		<string></string>
		<key>Show3</key>
		<string></string>
		<key>Show4</key>
		<string></string>
		<key>Alarm</key>
		<string></string>
		<key>CustomBanner</key>
		<string></string>
		<key>CustomSplash</key>
		<string></string>
		<key>Header</key>
		<string></string>
		<key>Footer</key>
		<string></string>
		<key>Email</key>
		<string>ios.apps.community@gmail.com</string>
		<key>Alternative</key>
		<string></string>
		<key>Application</key>
		<string></string>
		<key>Developer</key>
		<string></string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Menu</key>
	<array>
		<string>Top</string>
		<string>News</string>
		<string>Local</string>
		<string>Classic</string>
		<string>Music</string>
		<string>Sport</string>
		<string>Talk</string>
		<string>Youth</string>
		<string>Oldies</string>
	</array>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Capital FM</string>
			<key>logo</key>
			<string>Capital</string>
			<key>link</key>
			<string>http://s2.voscast.com:7962/listen.pls?sid=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Islam</string>
			<key>logo</key>
			<string>Islam</string>
			<key>link</key>
			<string>http://178.obj.netromedia.net:8028/listen.pls</string>
			<key>http</key>
			<string>http://178.obj.netromedia.net:8028/;</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Malawi Adventist 90.8 FM</string>
			<key>logo</key>
			<string>Adventist</string>
			<key>link</key>
			<string>http://s6.voscast.com:10446/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Blantyre (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Maria</string>
			<key>logo</key>
			<string>Maria</string>
			<key>link</key>
			<string>http://dreamsiteradiocp.com:8040/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MBC Radio 1</string>
			<key>logo</key>
			<string>1</string>
			<key>link</key>
			<string>http://154.66.123.49:88/broadwave.m3u?src=1&amp;rate=1</string>
			<key>http</key>
			<string>http://154.66.125.13:86/broadwavehigh.mp3?src=1</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>MBC Radio 2 92.2 FM</string>
			<key>logo</key>
			<string>2</string>
			<key>link</key>
			<string>http://154.66.123.49:86/broadwave.m3u?src=1&amp;rate=1</string>
			<key>http</key>
			<string>http://154.66.125.13:86/broadwavehigh.mp3?src=1</string>
			<key>note</key>
			<string>Blantyre (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Times Radio</string>
			<key>logo</key>
			<string>Times</string>
			<key>link</key>
			<string>http://ice31.securenetsystems.net/TIMESFM.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TWR Malawi</string>
			<key>logo</key>
			<string>TWR</string>
			<key>link</key>
			<string>http://s3.myradiostream.com:4352/;stream.mp3</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ufulu FM 92.5</string>
			<key>logo</key>
			<string>Ufulu</string>
			<key>link</key>
			<string>https://s5.voscast.com:9463/live</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>World Radio Network</string>
			<key>logo</key>
			<string>Network</string>
			<key>link</key>
			<string>http://shoutcast.wrn.org:8025/NAMAAP.%D0%BC3%D1%83</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>YONECO</string>
			<key>logo</key>
			<string>YONECO</string>
			<key>link</key>
			<string>http://s31.myradiostream.com:15532/listen.pls?sid=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Youth</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Zodiac Broadcasting Station</string>
			<key>logo</key>
			<string>Zodiac</string>
			<key>link</key>
			<string>http://ice31.securenetsystems.net/0079.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC World Service</string>
			<key>logo</key>
			<string>BBC</string>
			<key>link</key>
			<string>http://www.bbc.co.uk/worldservice/meta/live/mp3/eneuk.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>VOA Africa</string>
			<key>logo</key>
			<string>VOA</string>
			<key>link</key>
			<string>https://voa17.akacast.akamaistream.net/7/685/437799/v1/ibb.akacast.akamaistream.net/voa17</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RFI Afrique</string>
			<key>logo</key>
			<string>RFI</string>
			<key>link</key>
			<string>http://icepe1.infomaniak.ch/rfiafrique-96k.mp3.m3u</string>
			<key>http</key>
			<string>http://icepe1.infomaniak.ch/rfianglais-96k.mp3.m3u</string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
	</array>
</dict>
</plist>
