<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string></string>
		<key>Back</key>
		<string></string>
		<key>Banner</key>
		<string></string>
		<key>Show1</key>
		<string></string>
		<key>Show2</key>
		<string></string>
		<key>Show3</key>
		<string></string>
		<key>Show4</key>
		<string></string>
		<key>Alarm</key>
		<string></string>
		<key>CustomBanner</key>
		<string></string>
		<key>CustomSplash</key>
		<string></string>
		<key>Header</key>
		<string></string>
		<key>Footer</key>
		<string></string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string></string>
		<key>Application</key>
		<string></string>
		<key>Developer</key>
		<string></string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Afro 105.3 FM</string>
			<key>logo</key>
			<string>Afro</string>
			<key>link</key>
			<string>http://node-15.zeno.fm/t5td4ky6hkeuv</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBN</string>
			<key>logo</key>
			<string>BBN</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/bbn-radio,18127.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM 97.1 Addis Abeba</string>
			<key>logo</key>
			<string>Addis</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/fm-97-1-addis-abeba,15239.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sheger 102.1 FM ሸገር ኤፍ ኤም</string>
			<key>logo</key>
			<string>Sheger</string>
			<key>link</key>
			<string>http://node-23.zeno.fm/st55ta775wquv</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/sheger-102-1-fm,16624.m3u</string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Xoriyo</string>
			<key>logo</key>
			<string>Xoriyo</string>
			<key>link</key>
			<string>http://www.ogadennet.com/rx/radioxor.mp3</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-xoriyo,5149.m3u</string>
			<key>note</key>
			<string>Ogaden (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Zami 90.7 FM (ዛሚ ሬዲዮ 90.7 ኤፍ ኤም)</string>
			<key>logo</key>
			<string>Zami</string>
			<key>link</key>
			<string>http://node-27.zeno.fm/61hxscaatxquv</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/zami-90-7-fm,18219.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>ኤፍ ኤም 96.3</string>
			<key>logo</key>
			<string>96</string>
			<key>link</key>
			<string>http://rrsatrtmp.tulix.tv/addis1/addis1radio/playlist.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>ፋና ኤፍ ኤም 98.1</string>
			<key>logo</key>
			<string>98</string>
			<key>link</key>
			<string>http://wowhe1.vixtream.net/vcdnedge1/_definst_/fbcfm/playlist.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>ብስራት ሬድዮ 101.1 FM</string>
			<key>logo</key>
			<string>101</string>
			<key>link</key>
			<string>http://node-15.zeno.fm/zvaru17saxquv</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>ኢትዮ ኤፍ ኤም 107.8 Ethio</string>
			<key>logo</key>
			<string>107</string>
			<key>link</key>
			<string>http://stream.radiojar.com/evu0e26m7p5tv.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Sport</string>
		</dict>
	</array>
</dict>
</plist>
