<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Men Olympic</string>
		<key>logo</key>
		<string>user_male2-32</string>
		<key>rss</key>
		<string>http://www.ukrainefootball.net/rss/liga-evropy</string>
		<key>website</key>
		<string>http://www.ukrainefootball.net/</string>
		<key>title</key>
		<string>title</string>
		<key>link</key>
		<string>link</string>
		<key>description</key>
		<string>description</string>
		<key>pubDate</key>
		<string>pubDate</string>
		<key>url</key>
		<string>url</string>
		<key>enclosure</key>
		<string>enclosure</string>
		<key>fulltext</key>
		<string>UF</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Boys&apos; Youth Olympic</string>
		<key>logo</key>
		<string>user_male4-32</string>
		<key>rss</key>
		<string>http://www.ukrainefootball.net/rss/ostalnye-strany</string>
		<key>website</key>
		<string>http://www.ukrainefootball.net/</string>
		<key>title</key>
		<string>title</string>
		<key>link</key>
		<string>link</string>
		<key>description</key>
		<string>description</string>
		<key>pubDate</key>
		<string>pubDate</string>
		<key>url</key>
		<string>url</string>
		<key>enclosure</key>
		<string>enclosure</string>
		<key>fulltext</key>
		<string>UF</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Women&apos;s Olympic</string>
		<key>logo</key>
		<string>user_female2-32</string>
		<key>rss</key>
		<string>http://www.ukrainefootball.net/rss/futbol-yujnoy-ameriki</string>
		<key>website</key>
		<string>http://www.ukrainefootball.net/</string>
		<key>title</key>
		<string>title</string>
		<key>link</key>
		<string>link</string>
		<key>description</key>
		<string>description</string>
		<key>pubDate</key>
		<string>pubDate</string>
		<key>url</key>
		<string>url</string>
		<key>enclosure</key>
		<string>enclosure</string>
		<key>fulltext</key>
		<string>UF</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Girls&apos; Youth Olympic</string>
		<key>logo</key>
		<string>user_female4-32</string>
		<key>rss</key>
		<string>http://www.ukrainefootball.net/rss/reytingi</string>
		<key>website</key>
		<string>http://www.ukrainefootball.net/</string>
		<key>title</key>
		<string>title</string>
		<key>link</key>
		<string>link</string>
		<key>description</key>
		<string>description</string>
		<key>pubDate</key>
		<string>pubDate</string>
		<key>url</key>
		<string>url</string>
		<key>enclosure</key>
		<string>enclosure</string>
		<key>fulltext</key>
		<string>UF</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Latest News</string>
		<key>logo</key>
		<string>euro</string>
		<key>rss</key>
		<string>http://www.ukrainefootball.net/rss/ispaniya</string>
		<key>website</key>
		<string>http://www.ukrainefootball.net/</string>
		<key>title</key>
		<string>title</string>
		<key>link</key>
		<string>link</string>
		<key>description</key>
		<string>description</string>
		<key>pubDate</key>
		<string>pubDate</string>
		<key>url</key>
		<string>url</string>
		<key>enclosure</key>
		<string>enclosure</string>
		<key>fulltext</key>
		<string>UF</string>
	</dict>
</array>
</plist>
