<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string></string>
		<key>Back</key>
		<string></string>
		<key>Banner</key>
		<string></string>
		<key>Show1</key>
		<string></string>
		<key>Show2</key>
		<string></string>
		<key>Show3</key>
		<string></string>
		<key>Show4</key>
		<string></string>
		<key>Alarm</key>
		<string></string>
		<key>CustomBanner</key>
		<string></string>
		<key>CustomSplash</key>
		<string></string>
		<key>Header</key>
		<string></string>
		<key>Footer</key>
		<string></string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string></string>
		<key>Application</key>
		<string></string>
		<key>Developer</key>
		<string></string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Bombolom FM 106.2</string>
			<key>logo</key>
			<string>Bombolom</string>
			<key>link</key>
			<string>http://shaincast.caster.fm:12303/listen.mp3</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CFM Rádio Notícias 87.7 FM</string>
			<key>logo</key>
			<string>CFM</string>
			<key>link</key>
			<string>http://78.129.224.21:19478/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Golo FM</string>
			<key>logo</key>
			<string>Golo</string>
			<key>link</key>
			<string>http://95.217.75.38:7990/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Jovem</string>
			<key>logo</key>
			<string>Jovem</string>
			<key>link</key>
			<string>http://srv3.ipstm.net:9014/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kussundé</string>
			<key>logo</key>
			<string>Kussunde</string>
			<key>link</key>
			<string>https://player.hstbr.net/radiokussunde/winamp.pls</string>
			<key>http</key>
			<string>https://player.hstbr.net/radiokussunde/itunes.pls</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pindjiguiti FM 95.0</string>
			<key>logo</key>
			<string>Pindjiguiti</string>
			<key>link</key>
			<string>http://198.7.59.204:37696/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>RDP África</string>
			<key>logo</key>
			<string>RDP</string>
			<key>link</key>
			<string>http://radiocast.rtp.pt/rdpafrica80a.mp3</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RFI - Rádio França Internacional</string>
			<key>logo</key>
			<string>RFI</string>
			<key>link</key>
			<string>http://icepe1.infomaniak.ch/rfibrasil-96k.mp3.m3u</string>
			<key>http</key>
			<string>http://icepe1.infomaniak.ch/rfiafrique-96k.mp3.m3u</string>
			<key>note</key>
			<string>News, Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sol Mansi</string>
			<key>logo</key>
			<string>Mansi</string>
			<key>link</key>
			<string>http://s41.myradiostream.com/34468/</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
