<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string></string>
		<key>Back</key>
		<string></string>
		<key>Banner</key>
		<string></string>
		<key>Show1</key>
		<string></string>
		<key>Show2</key>
		<string></string>
		<key>Show3</key>
		<string></string>
		<key>Show4</key>
		<string></string>
		<key>Alarm</key>
		<string></string>
		<key>CustomBanner</key>
		<string></string>
		<key>CustomSplash</key>
		<string></string>
		<key>Header</key>
		<string></string>
		<key>Footer</key>
		<string></string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string></string>
		<key>Application</key>
		<string></string>
		<key>Developer</key>
		<string></string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>106 FM</string>
			<key>logo</key>
			<string>106</string>
			<key>link</key>
			<string>http://85.132.81.184:8080/106new/index.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Azerbaijan (Azərbaycan)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Antenn 101 FM</string>
			<key>logo</key>
			<string>Antenn</string>
			<key>link</key>
			<string>http://85.132.71.10:8000/antenn-mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Azerbaijan (Azərbaycan)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Araz FM 103.3 FM</string>
			<key>logo</key>
			<string>Araz</string>
			<key>link</key>
			<string>http://s39.myradiostream.com:5458/listen.pls</string>
			<key>http</key>
			<string>http://s14.myradiostream.com:30454/listen.mp3</string>
			<key>note</key>
			<string>Azerbaijan (Azərbaycan)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ASAN 100.0 FM</string>
			<key>logo</key>
			<string>ASAN</string>
			<key>link</key>
			<string>http://94.20.74.206:4448/stream1.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Azerbaijan (Azərbaycan)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Azad 106.3 FM</string>
			<key>logo</key>
			<string>Azad</string>
			<key>link</key>
			<string>http://85.132.71.10:8000/atv1063fm.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Azerbaijan (Azərbaycan)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ictimai 90.0 FM</string>
			<key>logo</key>
			<string>ictimai</string>
			<key>link</key>
			<string>http://85.132.81.13:8888/2702</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Azerbaijan (Azərbaycan)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kəpəz FM 93.3</string>
			<key>logo</key>
			<string>kepez</string>
			<key>link</key>
			<string>http://85.132.78.122:3344/now.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Azerbaijan (Azərbaycan)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Media FM 105.5</string>
			<key>logo</key>
			<string>Media</string>
			<key>link</key>
			<string>http://85.132.71.10:8000/live.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Azerbaijan (Azərbaycan)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Vətən 92.3 FM</string>
			<key>logo</key>
			<string>veten</string>
			<key>link</key>
			<string>https://node-16.zeno.fm/0kgkkzanmueuv</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Azerbaijan (Azərbaycan)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Xəzər Hit FM 103.0</string>
			<key>logo</key>
			<string>Hit</string>
			<key>link</key>
			<string>http://s30.myradiostream.com:32684/listen.pls</string>
			<key>http</key>
			<string>https://s30.myradiostream.com/32684/listen.mp3</string>
			<key>note</key>
			<string>Azerbaijan (Azərbaycan)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Актобе 101.4 FM</string>
			<key>logo</key>
			<string>Aktobe</string>
			<key>link</key>
			<string>http://85.29.144.124:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Kazakhstan (Қазақстан)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Gakku</string>
			<key>logo</key>
			<string>Gakku</string>
			<key>link</key>
			<string>http://stream.gakku.tv/radio/recordfm_192.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Kazakhstan (Қазақстан)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Qazaq Radıosy</string>
			<key>logo</key>
			<string>Qazaq</string>
			<key>link</key>
			<string>http://onradio.kaztrk.kz:8000/kazradio.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Kazakhstan (Қазақстан)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Shalqar Radıosy</string>
			<key>logo</key>
			<string>Shalqar</string>
			<key>link</key>
			<string>http://onradio.kaztrk.kz:8000/shalkar.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Kazakhstan (Қазақстан)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Astana Radıosy 101.4 FM</string>
			<key>logo</key>
			<string>Astana</string>
			<key>link</key>
			<string>http://onradio.kaztrk.kz:8000/astana.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Kazakhstan (Қазақстан)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Жұлдыз</string>
			<key>logo</key>
			<string>Zhuldyz</string>
			<key>link</key>
			<string>http://195.210.47.197:8000/zhulduz.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Kazakhstan (Қазақстан)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>City</string>
			<key>logo</key>
			<string>City</string>
			<key>link</key>
			<string>http://94.247.130.243:5050/city.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Kazakhstan (Қазақстан)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Energy FM 102.2</string>
			<key>logo</key>
			<string>Energy</string>
			<key>link</key>
			<string>http://89.219.34.117:8008/NEWENERGY.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Kazakhstan (Қазақстан)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>7 106.9 FM</string>
			<key>logo</key>
			<string>7</string>
			<key>link</key>
			<string>http://listen4.myradio24.com:9000/8334.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Kazakhstan (Қазақстан)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Алмаз-ФМ</string>
			<key>logo</key>
			<string>Almaz</string>
			<key>link</key>
			<string>http://almazfm.ddns.net:8888/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Kyrgyzstan (Кыргызстан)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>КТРК Кыргыз</string>
			<key>logo</key>
			<string>KTRK</string>
			<key>link</key>
			<string>http://212.112.96.232:8083/</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Kyrgyzstan (Кыргызстан)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Кыргызстан Обондору</string>
			<key>logo</key>
			<string>Obondoru</string>
			<key>link</key>
			<string>http://31.192.250.52:8000/obondoru128.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Kyrgyzstan (Кыргызстан)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Manas 102.9 FM</string>
			<key>logo</key>
			<string>Manas</string>
			<key>link</key>
			<string>http://live.mediamanas.kg:8000/online.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Kyrgyzstan (Кыргызстан)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Марал</string>
			<key>logo</key>
			<string>Maral</string>
			<key>link</key>
			<string>http://212.42.115.186:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Kyrgyzstan (Кыргызстан)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ОК</string>
			<key>logo</key>
			<string>OK</string>
			<key>link</key>
			<string>http://stream.okradio.kg:8000/mp3-hq.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Kyrgyzstan (Кыргызстан)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Romantika</string>
			<key>logo</key>
			<string>Romantika</string>
			<key>link</key>
			<string>https://pub0302.101.ru:8443/stream/air/aac/64/101.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Kyrgyzstan (Кыргызстан)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Тумар FM 101.3</string>
			<key>logo</key>
			<string>Tumar</string>
			<key>link</key>
			<string>http://live.tumar.fm:8000/online.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Kyrgyzstan (Кыргызстан)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Эхо Москвы 91.2 FM</string>
			<key>logo</key>
			<string>Echo</string>
			<key>link</key>
			<string>http://ice912.echo.msk.ru:9120/32.aac.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Азия-Плюс</string>
			<key>logo</key>
			<string>Asia</string>
			<key>link</key>
			<string>http://62.122.137.82:8020/ap.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Tajikistan (Тоҷикистон)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ватан 106.0 FM</string>
			<key>logo</key>
			<string>Vatan</string>
			<key>link</key>
			<string>http://217.11.177.201:8000/sr128.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Tajikistan (Тоҷикистон)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Имруз 107.4 FM</string>
			<key>logo</key>
			<string>Imruz</string>
			<key>link</key>
			<string>http://109.74.75.131:8000/Imruz64.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Tajikistan (Тоҷикистон)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Овози тоҷик 105.5 FM</string>
			<key>logo</key>
			<string>Ovozi</string>
			<key>link</key>
			<string>https://str-4.mediabay.tv/Radio_OvoziTojik/tracks-a1/mono.m3u8?token=4531178f567650fd14ee711f3294f6c8914a03f4-445d9ebfbd6cea5082cc68197ae824db-1573839741-1573828941</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Tajikistan (Тоҷикистон)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Садои Душанбе</string>
			<key>logo</key>
			<string>Sadoidushanbe</string>
			<key>link</key>
			<string>https://str-4.mediabay.tv/Radio_SadoiDushanbe/tracks-a1/mono.m3u8?token=1b0201334d3466862f7bab7b01e1f2ad106cd9be-ca4298883a3c245b1ca4f69970481cb1-1573839741-1573828941</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Tajikistan (Тоҷикистон)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Тоҷикистон 104.7 FM</string>
			<key>logo</key>
			<string>Tojikiston</string>
			<key>link</key>
			<string>https://str-4.mediabay.tv/Radio_Tajik/tracks-a1/mono.m3u8?token=18e5687350f827906133ae3d87474ab923c09c5f-8398d55fb99611192ca40c3b52577e36-1573839741-1573828941</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Tajikistan (Тоҷикистон)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Фарҳанг 106.5 FM</string>
			<key>logo</key>
			<string>Farhang</string>
			<key>link</key>
			<string>https://str-4.mediabay.tv/Radio_Farhang/tracks-a1/mono.m3u8?token=675a828662eaea0613bed07596f2a3d31cd65193-ace3cfa278cc70a25a5469002ccf559d-1573839741-1573828941</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Tajikistan (Тоҷикистон)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ховар 101.5 FM</string>
			<key>logo</key>
			<string>Hobar</string>
			<key>link</key>
			<string>http://193.124.66.132:8001/live.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Tajikistan (Тоҷикистон)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Çar Tarapdan</string>
			<key>logo</key>
			<string>Tarapdan</string>
			<key>link</key>
			<string>http://217.174.238.59/tarap.mp3</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Turkmenistan (Туркменистан)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Miras</string>
			<key>logo</key>
			<string>Miras</string>
			<key>link</key>
			<string>http://217.174.238.59/miras.mp3</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Turkmenistan (Туркменистан)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Watan</string>
			<key>logo</key>
			<string>Watan</string>
			<key>link</key>
			<string>http://217.174.238.59/watan.mp3</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Turkmenistan (Туркменистан)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Owaz 101.3 FM</string>
			<key>logo</key>
			<string>Owaz</string>
			<key>link</key>
			<string>http://217.174.238.59/owaz.mp3</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Turkmenistan (Туркменистан)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pars Today (Türkmen)</string>
			<key>logo</key>
			<string>Pars</string>
			<key>link</key>
			<string>http://cdn1.live.irib.ir:1935/channel-live/smil:r-torkaman/playlist.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Turkmenistan (Туркменистан)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>A&apos;lo 90.0 FM</string>
			<key>logo</key>
			<string>Alo</string>
			<key>link</key>
			<string>http://tabassum.uz:9000/alo_high.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Uzbekistan (Oʻzbekiston)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Avtoradio Hamroh 102.0 FM</string>
			<key>logo</key>
			<string>Avtoradio</string>
			<key>link</key>
			<string>https://st5.mediabay.uz/radio/Hamroh/tracks-a1/mono.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Uzbekistan (Oʻzbekiston)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Classic 104.4 FM</string>
			<key>logo</key>
			<string>Classic</string>
			<key>link</key>
			<string>https://str-3.mediabay.tv/Radio_Classic/tracks-a1/mono.m3u8?token=7b6af4bbb3c793f701267a88f6775c28f66e9d43-05966f6be2c19fb57ab5430c7a00b367-1573855646-1573844846</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Uzbekistan (Oʻzbekiston)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MAXIMA 105.4 FM</string>
			<key>logo</key>
			<string>MAXIMA</string>
			<key>link</key>
			<string>https://str-3.mediabay.tv/Radio_Maxima/tracks-a1/mono.m3u8?token=8420e8c610a4dd9bc9f22ccbe12fc7b0fc5c9d15-c8cbf13b65d5a87b7d1200e5600e6bae-1573855646-1573844846</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Uzbekistan (Oʻzbekiston)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Navruz 88.4 FM</string>
			<key>logo</key>
			<string>Navruz</string>
			<key>link</key>
			<string>http://navruzfm.uz:9000/navruz_low.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Uzbekistan (Oʻzbekiston)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ORIAT 100.5 FM</string>
			<key>logo</key>
			<string>ORIAT</string>
			<key>link</key>
			<string>http://oriat.mediabay.uz/oriatfm.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Uzbekistan (Oʻzbekiston)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ORIAT Dono 106.5 FM</string>
			<key>logo</key>
			<string>Dono</string>
			<key>link</key>
			<string>http://oriat.mediabay.uz/oriatdono.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Uzbekistan (Oʻzbekiston)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>O&apos;zbegim Taronasi 101.0 FM</string>
			<key>logo</key>
			<string>Taronasi</string>
			<key>link</key>
			<string>http://fm101.uz:1935/radiostream/radiostation.stream/playlist.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Uzbekistan (Oʻzbekiston)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Vodiy Sadosi</string>
			<key>logo</key>
			<string>Vodiy</string>
			<key>link</key>
			<string>https://str-3.mediabay.tv/Radio_Echo/tracks-a1/mono.m3u8?token=117485e4151c70765e246c5427ea14195848a847-809493bd2d76718b2f7d1fb4441cdaa3-1573855646-1573844846</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Uzbekistan (Oʻzbekiston)</string>
		</dict>
	</array>
</dict>
</plist>
