<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1</string>
		<key>Back</key>
		<string>1</string>
		<key>Banner</key>
		<string>1</string>
		<key>Show1</key>
		<string>1</string>
		<key>Show2</key>
		<string>1</string>
		<key>Show3</key>
		<string>1</string>
		<key>Show4</key>
		<string>1</string>
		<key>Alarm</key>
		<string>1</string>
		<key>CustomBanner</key>
		<string>1</string>
		<key>CustomSplash</key>
		<string>1</string>
		<key>Header</key>
		<string>1</string>
		<key>Footer</key>
		<string>1</string>
		<key>Email</key>
		<string>www@vesti.lv</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1</string>
		<key>Developer</key>
		<string>1</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Yle Radio 1</string>
			<key>logo</key>
			<string>1</string>
			<key>link</key>
			<string>https://areena.yle.fi/radio/ohjelmat/yle-radio-1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Culture, art, factual talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Yle Radio Suomi</string>
			<key>logo</key>
			<string>Suomi</string>
			<key>link</key>
			<string>https://areena.yle.fi/radio/ohjelmat/yle-radio-suomi</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, sport, music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Yle Puhe</string>
			<key>logo</key>
			<string>Puhe</string>
			<key>link</key>
			<string>https://areena.yle.fi/radio/ohjelmat/yle-puhe</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, current affairs</string>
		</dict>
		<dict>
			<key>name</key>
			<string>YleX</string>
			<key>logo</key>
			<string>YleX</string>
			<key>link</key>
			<string>https://areena.yle.fi/radio/ohjelmat/ylex</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Popular culture, pop, rock</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Yle Klassinen</string>
			<key>logo</key>
			<string>Klassinen</string>
			<key>link</key>
			<string>https://areena.yle.fi/radio/ohjelmat/yle-klassinen/</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Classical music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>YLE Sámi Radio</string>
			<key>logo</key>
			<string>Test</string>
			<key>link</key>
			<string>http://69.175.94.98:8102/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Helsinki</string>
		</dict>
		<dict>
			<key>name</key>
			<string>YLE Oulu Radio</string>
			<key>logo</key>
			<string>Test1</string>
			<key>link</key>
			<string>http://stream.iradio.fi:8000/klasupro-med.mp3.m3u</string>
			<key>http</key>
			<string>http://stream.iradio.fi:8000/klasupro-hi.mp3.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>YLE Lapin Radio</string>
			<key>logo</key>
			<string>Test1</string>
			<key>link</key>
			<string>http://stream.iradio.fi:8000/klasu-med.mp3.m3u</string>
			<key>http</key>
			<string>http://stream.iradio.fi:8000/klasu-hi.mp3.m3u</string>
			<key>note</key>
			<string>Rovaniemi</string>
		</dict>
		<dict>
			<key>name</key>
			<string>YLE Radio Savo</string>
			<key>logo</key>
			<string>Test1</string>
			<key>link</key>
			<string>http://radio01.nk.hel.fi:8128/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Kuopio</string>
		</dict>
		<dict>
			<key>name</key>
			<string>YLE Etelä-Karjalan Radio</string>
			<key>logo</key>
			<string>Test1</string>
			<key>link</key>
			<string>http://suomiradio.pro:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Lappeenranta</string>
		</dict>
		<dict>
			<key>name</key>
			<string>YLE Kainuun Radio</string>
			<key>logo</key>
			<string>Test1</string>
			<key>link</key>
			<string>http://www.listenlive.eu/moreeni.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Kajaani</string>
		</dict>
		<dict>
			<key>name</key>
			<string>YLE Kymenlaakson Radio</string>
			<key>logo</key>
			<string>Test1</string>
			<key>link</key>
			<string>http://radioaktiivinen.lappia.fi:8000/play.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Kotka-Kouvola</string>
		</dict>
		<dict>
			<key>name</key>
			<string>YLE Lahden Radio</string>
			<key>logo</key>
			<string>Test1</string>
			<key>link</key>
			<string>http://suomiradio.pro:8080/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Lahti</string>
		</dict>
	</array>
</dict>
</plist>
