<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>9148731861</string>
		<key>Back</key>
		<string>4443200090</string>
		<key>Banner</key>
		<string>6633167594</string>
		<key>Show1</key>
		<string>REMOVED</string>
		<key>Show2</key>
		<string>REMOVED</string>
		<key>Show3</key>
		<string>REMOVED</string>
		<key>Show4</key>
		<string>REMOVED</string>
		<key>Alarm</key>
		<string>4573285930</string>
		<key>CustomBanner</key>
		<string>4381714241</string>
		<key>CustomSplash</key>
		<string>4383899466</string>
		<key>Header</key>
		<string>3329838092</string>
		<key>Footer</key>
		<string>2016756420</string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string>1207634243</string>
		<key>Application</key>
		<string>1433809583</string>
		<key>Developer</key>
		<string>1239592099</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Yle Radio 1</string>
			<key>logo</key>
			<string>1</string>
			<key>link</key>
			<string>https://areena.yle.fi/radio/ohjelmat/yle-radio-1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Culture, Art, Factual Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Yle Radio Suomi</string>
			<key>logo</key>
			<string>Suomi</string>
			<key>link</key>
			<string>https://areena.yle.fi/radio/ohjelmat/yle-radio-suomi</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Sport, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Yle Puhe</string>
			<key>logo</key>
			<string>Puhe</string>
			<key>link</key>
			<string>https://areena.yle.fi/radio/ohjelmat/yle-puhe</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, current affairs</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Yle X</string>
			<key>logo</key>
			<string>YleX</string>
			<key>link</key>
			<string>https://areena.yle.fi/radio/ohjelmat/ylex</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Popular Culture, Pop, Rock Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Yle Klassinen</string>
			<key>logo</key>
			<string>Klassinen</string>
			<key>link</key>
			<string>https://areena.yle.fi/radio/ohjelmat/yle-klassinen/</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Classical Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Finest FM</string>
			<key>logo</key>
			<string>Finest</string>
			<key>link</key>
			<string>http://69.175.94.98:8102/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Kirkkonummi (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Free Your Mind</string>
			<key>logo</key>
			<string>Mind</string>
			<key>link</key>
			<string>http://radio01.nk.hel.fi:8128/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Youth</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Gramox</string>
			<key>logo</key>
			<string>Gramox</string>
			<key>link</key>
			<string>http://suomiradio.pro:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Oldies / Nostalgia (Tampere, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Moreeni</string>
			<key>logo</key>
			<string>Moreeni</string>
			<key>link</key>
			<string>http://www.listenlive.eu/moreeni.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Tampere (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Pro</string>
			<key>logo</key>
			<string>Pro</string>
			<key>link</key>
			<string>http://radioaktiivinen.lappia.fi:8000/play.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Tornio (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Sandels</string>
			<key>logo</key>
			<string>Sandels</string>
			<key>link</key>
			<string>http://suomiradio.pro:8080/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Kuopio (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rondo Classic Klasu</string>
			<key>logo</key>
			<string>Klasu</string>
			<key>link</key>
			<string>http://stream.iradio.fi:8000/klasu-med.mp3.m3u</string>
			<key>http</key>
			<string>http://stream.iradio.fi:8000/klasu-hi.mp3.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rondo Classic Klasu Pro</string>
			<key>logo</key>
			<string>Rondo</string>
			<key>link</key>
			<string>http://stream.iradio.fi:8000/klasupro-med.mp3.m3u</string>
			<key>http</key>
			<string>http://stream.iradio.fi:8000/klasupro-hi.mp3.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sea FM</string>
			<key>logo</key>
			<string>Sea</string>
			<key>link</key>
			<string>http://s3.myradiostream.com:4976/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Oulu (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Spin FM</string>
			<key>logo</key>
			<string>Spin</string>
			<key>link</key>
			<string>http://www.listenlive.eu/spinfm_fi.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>RnB / HipHop Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Steel FM</string>
			<key>logo</key>
			<string>Steel</string>
			<key>link</key>
			<string>http://ice6.securenetsystems.net/STEELFM.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Current / Classic Hits (Åland, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Viva Classica</string>
			<key>logo</key>
			<string>Viva</string>
			<key>link</key>
			<string>http://www.listenlive.eu/vivaclassica.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
