<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>6588865094</string>
		<key>Back</key>
		<string>5986229860</string>
		<key>Banner</key>
		<string>3671768159</string>
		<key>Show1</key>
		<string>8364981190</string>
		<key>Show2</key>
		<string>4845249021</string>
		<key>Show3</key>
		<string>7351282420</string>
		<key>Show4</key>
		<string>2817851488</string>
		<key>Alarm</key>
		<string>7687034787</string>
		<key>CustomBanner</key>
		<string>2837322340</string>
		<key>CustomSplash</key>
		<string>4337982569</string>
		<key>Header</key>
		<string>4486156374</string>
		<key>Footer</key>
		<string>1476849651</string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string>1182970463</string>
		<key>Application</key>
		<string>1439082788</string>
		<key>Developer</key>
		<string>1239592099</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Альфа</string>
			<key>logo</key>
			<string>Alpha</string>
			<key>link</key>
			<string>http://86.57.151.4:8009/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 10</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Барановичи</string>
			<key>logo</key>
			<string>Baranovichi</string>
			<key>link</key>
			<string>http://radio.100fm.by:8000/100fm.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 10</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Брест</string>
			<key>logo</key>
			<string>Brest</string>
			<key>link</key>
			<string>http://93.84.112.253:8039/stream.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 10</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Душевное</string>
			<key>logo</key>
			<string>Dushevnoe</string>
			<key>link</key>
			<string>http://imgradio.pro/DushevnoeRadio48.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Oldies</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Гомель</string>
			<key>logo</key>
			<string>Gomel</string>
			<key>link</key>
			<string>http://s1.radioheart.ru:8001/radiogomelfm.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 10</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Гомель Плюс 103,7 FM</string>
			<key>logo</key>
			<string>103</string>
			<key>link</key>
			<string>http://s1.radioheart.ru:8001/radiogomel.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Хит Радио</string>
			<key>logo</key>
			<string>Hit</string>
			<key>link</key>
			<string>http://www.listenlive.eu/hitradioby.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 10</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Лидер</string>
			<key>logo</key>
			<string>Lider</string>
			<key>link</key>
			<string>http://lider-fm.by:8000/radio.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Lida</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MFM 105.0</string>
			<key>logo</key>
			<string>MFM</string>
			<key>link</key>
			<string>http://105fm.by/mfm.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Grodno</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MV</string>
			<key>logo</key>
			<string>MV</string>
			<key>link</key>
			<string>http://radio.adsl.by:8000/mvolna.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music / Information</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Новое Радио</string>
			<key>logo</key>
			<string>Novoe</string>
			<key>link</key>
			<string>http://www.live.bn.by:8000/novoeradio_128.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 10</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Пилот</string>
			<key>logo</key>
			<string>Pilot</string>
			<key>link</key>
			<string>http://imgradio.pro/PilotBy128.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 10</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Гомель 107,4 FM</string>
			<key>logo</key>
			<string>107</string>
			<key>link</key>
			<string>http://skycast.su:2007/998.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Gomel</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BA International</string>
			<key>logo</key>
			<string>BA</string>
			<key>link</key>
			<string>http://87.252.252.78:8000/BA.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 10</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Радио Мелодии века</string>
			<key>logo</key>
			<string>Melodii</string>
			<key>link</key>
			<string>http://87.252.252.78:8000/MV.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Радио Минск</string>
			<key>logo</key>
			<string>Minsk</string>
			<key>link</key>
			<string>http://93.84.113.142:8000/radio.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Радио ОНТ</string>
			<key>logo</key>
			<string>ONT</string>
			<key>link</key>
			<string>http://shoutcast.byfly.by:8008/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>РАНАК</string>
			<key>logo</key>
			<string>Ranak</string>
			<key>link</key>
			<string>http://www.draiv.by:8000/ranak.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Svetlogorsk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Радио Рокс-М</string>
			<key>logo</key>
			<string>Roks</string>
			<key>link</key>
			<string>http://91.149.157.79:8000/roks.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Радио Витебск</string>
			<key>logo</key>
			<string>Vitebsk</string>
			<key>link</key>
			<string>http://radio.vtv.by:8000/radio_vitebsk_128.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 10 (Vitebsk)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Русское Радио</string>
			<key>logo</key>
			<string>Russkoe</string>
			<key>link</key>
			<string>http://live.rusradio.by:8000/live.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Unistar 99.5 FM</string>
			<key>logo</key>
			<string>Unistar</string>
			<key>link</key>
			<string>http://unistar.by:8000/unistar-128kb.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 10</string>
		</dict>
	</array>
</dict>
</plist>
