<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Channels Television</string>
		<key>logo</key>
		<string>Channels</string>
		<key>link</key>
		<string>http://www.channelstv.com/live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/channelsweb/videos?flow=grid&amp;view=2&amp;live_view=501</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Silverbird</string>
		<key>logo</key>
		<string>Silverbird</string>
		<key>link</key>
		<string>http://silverbirdtv.com/live/</string>
		<key>http</key>
		<string>http://silverbirdtv.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TVC News</string>
		<key>logo</key>
		<string>TVC</string>
		<key>link</key>
		<string>https://www.tvcontinental.tv/livestreaming/</string>
		<key>http</key>
		<string>https://www.youtube.com/channel/UCgp4A6I8LCWrhUzn-5SbKvA/videos?view=2&amp;flow=grid&amp;live_view=501</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NTA</string>
		<key>logo</key>
		<string>NTA</string>
		<key>link</key>
		<string>http://www.nta.ng/live/</string>
		<key>http</key>
		<string>https://www.youtube.com/channel/UCtsZYRlzD-Mu9xpHKRPqIIA/videos?view=2&amp;flow=grid&amp;live_view=501</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ITV</string>
		<key>logo</key>
		<string>ITV</string>
		<key>link</key>
		<string>http://www.itvradionigeria.com/live-tv/</string>
		<key>http</key>
		<string>http://itvradionigeria.com/live/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>LTV Lagos</string>
		<key>logo</key>
		<string>LTV</string>
		<key>link</key>
		<string>http://www.lagostelevision.com/</string>
		<key>http</key>
		<string>http://www.lagostelevision.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bride</string>
		<key>logo</key>
		<string>Bride</string>
		<key>link</key>
		<string>http://bridetv.org/tv/</string>
		<key>http</key>
		<string>http://bridetv.org/tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ACBN</string>
		<key>logo</key>
		<string>ACBN</string>
		<key>link</key>
		<string>http://acbntv.org/live-streaming/</string>
		<key>http</key>
		<string>http://acbntv.org</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Dove</string>
		<key>logo</key>
		<string>Dove</string>
		<key>link</key>
		<string>http://dovevision.org/live-tv/</string>
		<key>http</key>
		<string>http://dovevision.org</string>
	</dict>
	<dict>
		<key>name</key>
		<string>LoveWorld Plus</string>
		<key>logo</key>
		<string>LoveWorld</string>
		<key>link</key>
		<string>http://www.loveworldplus.tv/</string>
		<key>http</key>
		<string>http://www.loveworldplus.tv/tv/watch/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>LCTN Lumen Christi</string>
		<key>logo</key>
		<string>Lumen</string>
		<key>link</key>
		<string>http://www.lumenchristitv.com/watch-live</string>
		<key>http</key>
		<string>http://www.lumenchristitv.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Emmanuel</string>
		<key>logo</key>
		<string>Emmanuel</string>
		<key>link</key>
		<string>https://emmanuel.tv/</string>
		<key>http</key>
		<string>https://emmanuel.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ABN</string>
		<key>logo</key>
		<string>ABN</string>
		<key>link</key>
		<string>http://www.abnchannel.net/webtv.php</string>
		<key>http</key>
		<string>http://www.abnchannel.net</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Joshua Iginla Ministries</string>
		<key>logo</key>
		<string>Joshua</string>
		<key>link</key>
		<string>http://www.joshuaiginlaministries.org/live.php</string>
		<key>http</key>
		<string>http://www.joshuaiginlaministries.org</string>
	</dict>
	<dict>
		<key>name</key>
		<string>More Grace</string>
		<key>logo</key>
		<string>Grace</string>
		<key>link</key>
		<string>http://www.moregrace.tv/</string>
		<key>http</key>
		<string>http://www.moregrace.tv/</string>
	</dict>
</array>
</plist>
