<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string></string>
		<key>Back</key>
		<string></string>
		<key>Banner</key>
		<string></string>
		<key>Show1</key>
		<string></string>
		<key>Show2</key>
		<string></string>
		<key>Show3</key>
		<string></string>
		<key>Show4</key>
		<string></string>
		<key>Alarm</key>
		<string></string>
		<key>CustomBanner</key>
		<string></string>
		<key>CustomSplash</key>
		<string></string>
		<key>Header</key>
		<string></string>
		<key>Footer</key>
		<string></string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string></string>
		<key>Application</key>
		<string></string>
		<key>Developer</key>
		<string></string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>African Hit Radio</string>
			<key>logo</key>
			<string>African</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/african-hit-radio,16189.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Athiani FM 99.2</string>
			<key>logo</key>
			<string>Athiani</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/athiani-fm-99-2,17240.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Machakos (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Capital 98.4 FM</string>
			<key>logo</key>
			<string>Capital</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/capital-98-4-fm,3472.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chamgei FM</string>
			<key>logo</key>
			<string>Chamgei</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/chamgei-fm,16735.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Choice Radio 87.7</string>
			<key>logo</key>
			<string>Choice</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/choice-radio-87-7,20514.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Classic 105</string>
			<key>logo</key>
			<string>Classic</string>
			<key>link</key>
			<string>http://streams.radioafricagroup.co.ke:88/broadwave.mp3?src=5&amp;rate=1&amp;kbps=128</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/classic-105,15031.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Coro FM 99.5 FM</string>
			<key>logo</key>
			<string>Coro</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/coro-fm-99-5-fm,17084.m3u</string>
			<key>http</key>
			<string>https://stream.zeno.fm/65sw1gyst5quv</string>
			<key>note</key>
			<string>News, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>East FM 106.3</string>
			<key>logo</key>
			<string>East</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/east-fm-106-3,13715.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Egesa FM</string>
			<key>logo</key>
			<string>Egesa</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/egesa-fm,16734.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Emoo FM</string>
			<key>logo</key>
			<string>Emoo</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/emoo-fm,20073.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Freedom Radio 99.5 FM</string>
			<key>logo</key>
			<string>Freedom</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/freedom-radio-99-5-fm,18290.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Kano (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>FUNX Cool 91.3 FM</string>
			<key>logo</key>
			<string>FUNX</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/funx-cool-91-3-fm,20515.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ghetto Radio 89.5 FM</string>
			<key>logo</key>
			<string>Ghetto</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/ghetto-radio-89-5-fm,14570.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Gukena FM 92.8</string>
			<key>logo</key>
			<string>Gukena</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/gukena-fm-92-8,19325.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hero Radio</string>
			<key>logo</key>
			<string>Hero</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/hero-radio,20153.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Nakuru (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Homeboyz Radio 91.5 FM</string>
			<key>logo</key>
			<string>Homeboyz</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/homeboyz-radio-91-5-fm,13714.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hope FM 93.3</string>
			<key>logo</key>
			<string>Hope</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/93-3-hope-fm,15034.m3u</string>
			<key>http</key>
			<string>https://freeuk29.listen2myradio.com/live.mp3?typeportmount=s1_18413_stream_40758844</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hot 96 FM</string>
			<key>logo</key>
			<string>96</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/hot-96-fm,15030.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Iganjo FM 94.6</string>
			<key>logo</key>
			<string>Iganjo</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/iganjo-fm,20215.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Inooro FM</string>
			<key>logo</key>
			<string>Inooro</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/inooro-fm,15254.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>IQRA 95.0 FM</string>
			<key>logo</key>
			<string>IQRA</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/95-0-iqra-fm,20217.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Jambo 97.5</string>
			<key>logo</key>
			<string>Jambo</string>
			<key>link</key>
			<string>http://streams.radioafricagroup.co.ke:88/broadwave.mp3?src=1&amp;rate=1&amp;kbps=128</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/97-5-radio-jambo,17624.m3u</string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Jesus is Lord Radio 105.3</string>
			<key>logo</key>
			<string>Lord</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/jesus-is-lord-radio-105-3,14573.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Nakuru (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kameme 101.1 FM</string>
			<key>logo</key>
			<string>Kameme</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/kameme-101-1-fm,3473.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kass FM 89.1</string>
			<key>logo</key>
			<string>Kass</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/kass-fm,9762.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kigooco FM 98.6</string>
			<key>logo</key>
			<string>Kigooco</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/kigooco-fm-98-6,20254.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kiss 100</string>
			<key>logo</key>
			<string>100</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/kiss-100-nairobi,3474.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kitwek FM 98.0</string>
			<key>logo</key>
			<string>Kitwek</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/kitwek-fm-98-0,17305.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mayian FM 100.7</string>
			<key>logo</key>
			<string>Mayian</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/mayian-fm-100-7,16825.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Maasai (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mayienga FM 93.5</string>
			<key>logo</key>
			<string>Mayienga</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/mayienga-fm-93-5,17310.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Kisumu (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mbaitu 92.5 FM</string>
			<key>logo</key>
			<string>Mbaitu</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/mbaitu-92-5-fm,17671.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Meru FM 88.3</string>
			<key>logo</key>
			<string>Meru</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/meru-fm,16824.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Milele FM 93.6</string>
			<key>logo</key>
			<string>Milele</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/milele-fm,16326.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mulembe FM 97.9</string>
			<key>logo</key>
			<string>Mulembe</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/mulembe-fm,16733.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Musyi FM 102.2</string>
			<key>logo</key>
			<string>Musyi</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/musyi-fm,16732.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>North Rift Radio 104.9</string>
			<key>logo</key>
			<string>North</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/north-rift-radio,20259.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Kapenguria (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRG Bongo</string>
			<key>logo</key>
			<string>Bongo</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/nrg-bongo,20041.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRG Dance</string>
			<key>logo</key>
			<string>Dance</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/nrg-dance,20036.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRG DanceHall</string>
			<key>logo</key>
			<string>DanceHall</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/nrg-dancehall,20038.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRG Gospel</string>
			<key>logo</key>
			<string>Gospel</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/nrg-gospel,20034.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRG Hip Hop</string>
			<key>logo</key>
			<string>Hip</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/nrg-hip-hop,20033.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRG Mixology</string>
			<key>logo</key>
			<string>Mixology</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/nrg-mixology,20044.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRG Naija</string>
			<key>logo</key>
			<string>Naija</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/nrg-naija,20042.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRG OldSchool</string>
			<key>logo</key>
			<string>OldSchool</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/nrg-oldschool,20035.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRG Pop</string>
			<key>logo</key>
			<string>Pop</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/nrg-pop,20039.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRG Radio 91.3 FM Kenya</string>
			<key>logo</key>
			<string>NRG</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/nrg-radio-91-3-fm-kenya,20030.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRG Reggae</string>
			<key>logo</key>
			<string>Reggae</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/nrg-reggae,20037.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRG RnB</string>
			<key>logo</key>
			<string>RnB</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/nrg-rnb,20032.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRG Rhumba</string>
			<key>logo</key>
			<string>Rhumba</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/nrg-rumba,20043.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRG Trap</string>
			<key>logo</key>
			<string>Trap</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/nrg-trap,20040.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRG X</string>
			<key>logo</key>
			<string>X</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/nrg-x,20031.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Truth FM 90.7</string>
			<key>logo</key>
			<string>Truth</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/90-7-truth-fm,16970.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
