<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>TVM 1</string>
		<key>logo</key>
		<string>TVM1</string>
		<key>link</key>
		<string>http://www.tvm.com.mt/mt/live/</string>
		<key>http</key>
		<string>http://www.tvm.com.mt/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TVM 2</string>
		<key>logo</key>
		<string>TVM2</string>
		<key>link</key>
		<string>http://www.tvm.com.mt/mt/live/tvm-2/</string>
		<key>http</key>
		<string>http://www.tvm.com.mt/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NET Television</string>
		<key>logo</key>
		<string>NET</string>
		<key>link</key>
		<string>http://live.nettv.com.mt/</string>
		<key>http</key>
		<string>http://live.nettv.com.mt/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>F Living</string>
		<key>logo</key>
		<string>Living</string>
		<key>link</key>
		<string>http://fliving.tv/site/live-streaming</string>
		<key>http</key>
		<string>http://fliving.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>One</string>
		<key>logo</key>
		<string>One</string>
		<key>link</key>
		<string>http://www.one.com.mt/live/one.html</string>
		<key>http</key>
		<string>http://www.one.com.mt/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Smash</string>
		<key>logo</key>
		<string>Smash</string>
		<key>link</key>
		<string>http://www.ustream.tv/channel/smash-tv-malta/pop-out</string>
		<key>http</key>
		<string>https://www.facebook.com/Smash-TV-Malta-122848811119080/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>EbS Europe by Satellite</string>
		<key>logo</key>
		<string>EbS</string>
		<key>link</key>
		<string>http://ec.europa.eu/avservices/ebs/live.cfm?page=2</string>
		<key>http</key>
		<string>http://ec.europa.eu/avservices/ebs/schedule.cfm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bloomberg TV</string>
		<key>logo</key>
		<string>bloomberg</string>
		<key>link</key>
		<string>https://www.bloomberg.com/live/europe</string>
		<key>http</key>
		<string>https://www.bloomberg.com/live/us</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sky TG24 Italia</string>
		<key>logo</key>
		<string>Sky</string>
		<key>link</key>
		<string>http://video.sky.it/news/diretta</string>
		<key>http</key>
		<string>http://video.sky.it/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Euronews</string>
		<key>logo</key>
		<string>Euronews</string>
		<key>link</key>
		<string>http://de.euronews.com/live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/euronewsfr/videos?live_view=501&amp;flow=grid&amp;view=2</string>
	</dict>
</array>
</plist>
