<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1</string>
		<key>Back</key>
		<string>1</string>
		<key>Banner</key>
		<string>1</string>
		<key>Show1</key>
		<string>1</string>
		<key>Show2</key>
		<string>1</string>
		<key>Show3</key>
		<string>1</string>
		<key>Show4</key>
		<string>1</string>
		<key>Alarm</key>
		<string>1</string>
		<key>CustomBanner</key>
		<string>1</string>
		<key>CustomSplash</key>
		<string>1</string>
		<key>Header</key>
		<string>1</string>
		<key>Footer</key>
		<string>1</string>
		<key>Email</key>
		<string>1</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1</string>
		<key>Developer</key>
		<string>1</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>103FM</string>
			<key>logo</key>
			<string>103FM</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/103fm,11296.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>91.1 Talk City</string>
			<key>logo</key>
			<string>City</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/91-1-talk-city,12211.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>94.1 Boom Champions</string>
			<key>logo</key>
			<string>Boom</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/94-1-boom-champions,17468.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>95.1 FM The Best Mix</string>
			<key>logo</key>
			<string>Best</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/95-1-fm-the-best-mix,12208.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>96.1 WEFM</string>
			<key>logo</key>
			<string>WEFM</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/96-1-wefm,16663.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Aakash Vani 106.5 FM</string>
			<key>logo</key>
			<string>Aakash</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/aakash-vani-106-5-fm,16740.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bacchanal Radio</string>
			<key>logo</key>
			<string>Bacchanal</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/bacchanal-radio,17868.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Trincity (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Heritage Radio 101.7 FM</string>
			<key>logo</key>
			<string>Heritage</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/heritage-radio-101-7-fm,12202.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>San Fernando (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>i95.5 FM</string>
			<key>logo</key>
			<string>i95</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/i95-5-fm,4616.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Inspirational Radio 730AM</string>
			<key>logo</key>
			<string>Inspirational</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/inspirational-radio-730am,16741.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Isaac Radio 98.1 FM</string>
			<key>logo</key>
			<string>Isaac</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/isaac-radio-98-1-fm,12205.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Newtown (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Power 102 FM</string>
			<key>logo</key>
			<string>Power</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/power-102-fm,12199.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Jaagriti 102.7 FM</string>
			<key>logo</key>
			<string>Jaagriti</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-jaagriti-102-7-fm,12203.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Tunapuna (Local)</string>
		</dict>
	</array>
</dict>
</plist>
