<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1</string>
		<key>Back</key>
		<string>1</string>
		<key>Banner</key>
		<string>1</string>
		<key>Show1</key>
		<string>1</string>
		<key>Show2</key>
		<string>1</string>
		<key>Show3</key>
		<string>1</string>
		<key>Show4</key>
		<string>1</string>
		<key>Alarm</key>
		<string>1</string>
		<key>CustomBanner</key>
		<string>1</string>
		<key>CustomSplash</key>
		<string>1</string>
		<key>Header</key>
		<string>1</string>
		<key>Footer</key>
		<string>1</string>
		<key>Email</key>
		<string>1</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1</string>
		<key>Developer</key>
		<string>1</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Menu</key>
	<array>
		<string>Top</string>
		<string>News</string>
		<string>Local</string>
		<string>Classic</string>
		<string>Music</string>
		<string>Sport</string>
		<string>Talk</string>
		<string>Youth</string>
		<string>Oldies</string>
	</array>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>3 Ombúes 88.7 FM</string>
			<key>logo</key>
			<string>3</string>
			<key>link</key>
			<string>http://217.147.94.171:30477/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>41</string>
			<key>logo</key>
			<string>41</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://107.170.111.32:2990/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://107.170.111.32:2990/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string>News, Talk, Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>1010 AM</string>
			<key>logo</key>
			<string>1010</string>
			<key>link</key>
			<string>https://radiolatina.live/9204/stream.mp3</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk, Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Aire 100.3 FM</string>
			<key>logo</key>
			<string>Aire</string>
			<key>link</key>
			<string>http://198.204.234.10:27125/stream.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Alfa 96.3 FM</string>
			<key>logo</key>
			<string>Alfa</string>
			<key>link</key>
			<string>http://radioonline.netgate.com.uy:8000/alfafm.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/alfa-96-3-fm,774.m3u</string>
			<key>note</key>
			<string>News, Top, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>América 1450 AM</string>
			<key>logo</key>
			<string>1450</string>
			<key>link</key>
			<string>https://radiocx46-zikoxweb.radioca.st/stream</string>
			<key>http</key>
			<string>http://radios.cxnlive.com:8006/listen.pls</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Azul 101.9 FM</string>
			<key>logo</key>
			<string>Azul</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/azul-101-9-fm,775.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Azul (Punta del Este) 93.5 FM</string>
			<key>logo</key>
			<string>Punta</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/azul-fm-93-5,17784.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Babel 97.1 FM</string>
			<key>logo</key>
			<string>Babel</string>
			<key>link</key>
			<string>http://173.249.7.231:8092/listen.pls?sid=1</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/babel-97-1-fm,18153.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bautista Online</string>
			<key>logo</key>
			<string>Bautista</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://170.75.146.162:7586/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://170.75.146.162:7586/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Gospel Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Canelones 1570 AM</string>
			<key>logo</key>
			<string>Canelones</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-canelones-1570-am,20109.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Canto y Fogon</string>
			<key>logo</key>
			<string>Canto</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://78.129.159.25:8051/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://78.129.159.25:8051/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string>Folk Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Carve 850 AM</string>
			<key>logo</key>
			<string>Carve</string>
			<key>link</key>
			<string>https://radiolatina.live/9202/stream</string>
			<key>http</key>
			<string>http://195.154.182.222:49037/;</string>
			<key>note</key>
			<string>News, Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Centenario 1250 AM</string>
			<key>logo</key>
			<string>Centenario</string>
			<key>link</key>
			<string>http://rfm.radio.netgate.com.uy:8000/centenario.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cero 104.3 FM</string>
			<key>logo</key>
			<string>Cero</string>
			<key>link</key>
			<string>http://199.217.118.9:7902/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Clarín 580 AM</string>
			<key>logo</key>
			<string>Clarin</string>
			<key>link</key>
			<string>http://usa15.ciudaddigital.com.uy:8032/ClarinAM.m3u</string>
			<key>http</key>
			<string>https://medios.ciudaddigital.com.uy:18032/ClarinAM</string>
			<key>note</key>
			<string>Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Clásica 650 AM</string>
			<key>logo</key>
			<string>Clasica</string>
			<key>link</key>
			<string>http://173.249.7.231:8076/listen.pls?sid=1</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/clasica-650-am,18151.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Colonia 550 AM</string>
			<key>logo</key>
			<string>Colonia</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/colonia-550-am,777.m3u</string>
			<key>http</key>
			<string>http://www.servidorstreaming2.com:9962/;</string>
			<key>note</key>
			<string>News, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cuareim 1270 AM</string>
			<key>logo</key>
			<string>Cuareim</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-cuareim-1270-am,20054.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Artigas (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Del Molino FM 89.3</string>
			<key>logo</key>
			<string>Molino</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/del-molino-fm-89-3,10410.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pando (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Del Plata FM 95.5</string>
			<key>logo</key>
			<string>Plata</string>
			<key>link</key>
			<string>http://199.217.118.9:7920/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/del-plata-fm-95-5,10411.m3u</string>
			<key>note</key>
			<string>Top</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Del Sol 99.5 FM</string>
			<key>logo</key>
			<string>Sol</string>
			<key>link</key>
			<string>https://radio2.dl.uy:9952/stream/1/?type=http&amp;nocache=2780</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Diamante FM 98.7</string>
			<key>logo</key>
			<string>Diamante</string>
			<key>link</key>
			<string>http://panel.zwcast.com:9220/diamante.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/diamante-fm-98-7,778.m3u</string>
			<key>note</key>
			<string>News, Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dios es Amor</string>
			<key>logo</key>
			<string>Dios</string>
			<key>link</key>
			<string>http://230.stm-ip.com:8822/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Disney 91.9 FM</string>
			<key>logo</key>
			<string>Disney</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://195.154.182.222:25282/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>http://streamrd1.sarandi.com.uy:9350/listen.pls</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>El Espectador 810 AM</string>
			<key>logo</key>
			<string>Espectador</string>
			<key>link</key>
			<string>http://streaming.espectador.com/envivo.m3u</string>
			<key>http</key>
			<string>http://espectador1.net.com.uy:8120/stream/13/</string>
			<key>note</key>
			<string>News, Talk, Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>EL Prado 99.9 FM</string>
			<key>logo</key>
			<string>Prado</string>
			<key>link</key>
			<string>http://radios-online.info:3270/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Emisora Ciudad de Montevideo 1370 AM</string>
			<key>logo</key>
			<string>Ciudad</string>
			<key>link</key>
			<string>http://usa15.ciudaddigital.com.uy/medios/EmisoraCiudadDeMontevideo/audio/directo.pls</string>
			<key>http</key>
			<string>http://usa15.ciudaddigital.com.uy:8138/EmisoraCiudadDeMontevideo.m3u</string>
			<key>note</key>
			<string>Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Emisora del Sur 94.7</string>
			<key>logo</key>
			<string>Sur</string>
			<key>link</key>
			<string>http://173.249.7.231:8100/listen.pls?sid=1</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/emisora-del-sur-94-7,18154.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Emisora Galaxia FM 105.9</string>
			<key>logo</key>
			<string>Emisora</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.49.65.42:10312/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.49.65.42:10312/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>News, Talk, Pop Latin Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Emisora Principal 107.9 FM</string>
			<key>logo</key>
			<string>Principal</string>
			<key>link</key>
			<string>http://94.23.205.82:10764/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Energy Uruguay</string>
			<key>logo</key>
			<string>Energy</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://149.56.195.94:8476/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://149.56.195.94:8476/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fénix 1330 AM</string>
			<key>logo</key>
			<string>Fenix</string>
			<key>link</key>
			<string>http://usa15.ciudaddigital.com.uy:28060/B-fenix.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM 105.3 del Carmen</string>
			<key>logo</key>
			<string>Carmen</string>
			<key>link</key>
			<string>http://radios-online.info:2930/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Futura 91.1 FM</string>
			<key>logo</key>
			<string>Futura</string>
			<key>link</key>
			<string>http://199.217.118.9:7916/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-futura-91-1-fm,20094.m3u</string>
			<key>note</key>
			<string>Top Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Inolvidable FM 93.1</string>
			<key>logo</key>
			<string>Inolvidable</string>
			<key>link</key>
			<string>http://50.30.33.105:9123/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/93-1-fm-inolvidable,7896.m3u</string>
			<key>note</key>
			<string>Latino Music (Canelones, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>La 30 Radio Nacional</string>
			<key>logo</key>
			<string>30</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/la-30-radio-nacional,2348.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Catorce 10</string>
			<key>logo</key>
			<string>Catorce</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/lacatorce10,773.m3u</string>
			<key>http</key>
			<string>http://radio.lacatorce10.com.uy:8060/;</string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Costa 88.3 FM</string>
			<key>logo</key>
			<string>Costa</string>
			<key>link</key>
			<string>http://200.58.118.108:8235/stream.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top</string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Cotorra 94.3 FM</string>
			<key>logo</key>
			<string>Cotorra</string>
			<key>link</key>
			<string>http://204.197.245.100:8238/;</string>
			<key>http</key>
			<string>http://192.99.2.81:8238/listen.pls</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Ley 106.7</string>
			<key>logo</key>
			<string>Ley</string>
			<key>link</key>
			<string>http://s1.centovapanel.com:8061/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/la-ley-106-7,11086.m3u</string>
			<key>note</key>
			<string>News, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Treinta 1130 AM</string>
			<key>logo</key>
			<string>Treinta</string>
			<key>link</key>
			<string>http://radio.radionacional.com.uy:8090/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Zurda</string>
			<key>logo</key>
			<string>Zurda</string>
			<key>link</key>
			<string>http://cp.usa2.fastcast4u.com:2199/tunein/radiolaz.pls</string>
			<key>http</key>
			<string>http://192.95.33.174/stream/radiolaz.pls</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Latina 103.7 FM</string>
			<key>logo</key>
			<string>Latina</string>
			<key>link</key>
			<string>http://199.217.118.9:7930/listen.pls</string>
			<key>http</key>
			<string>https://s2.yesstreaming.net:2199/tunein/enalur-stream.pls</string>
			<key>note</key>
			<string>Top Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Libertadores 1020 AM</string>
			<key>logo</key>
			<string>Libertadores</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-libertadores-1020-am,20053.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Salto (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>María</string>
			<key>logo</key>
			<string>Maria</string>
			<key>link</key>
			<string>http://dreamsiteradiocp.com:8088/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Metrópolis 104.9 FM</string>
			<key>logo</key>
			<string>Metropolis</string>
			<key>link</key>
			<string>http://51.15.152.81:8141/listen.pls?sid=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Monte Carlo 930 AM</string>
			<key>logo</key>
			<string>Monte</string>
			<key>link</key>
			<string>http://199.217.118.9:7900/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nuevo Tiempo 101.3 FM</string>
			<key>logo</key>
			<string>Nuevo</string>
			<key>link</key>
			<string>https://stream.live.novotempo.com/radio/smil:rntMontevideoUY.smil/playlist.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Oceano 93.9 FM</string>
			<key>logo</key>
			<string>Oceano</string>
			<key>link</key>
			<string>http://radio3.oceanofm.com:8010/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/oceano-93-9-fm,10235.m3u</string>
			<key>note</key>
			<string>Oldies, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Oldies 90.3 FM</string>
			<key>logo</key>
			<string>Oldie</string>
			<key>link</key>
			<string>http://radios.cxnlive.com:8004/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Oldies</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Oriental 770 AM</string>
			<key>logo</key>
			<string>Oriental</string>
			<key>link</key>
			<string>http://radiolatina.live:7906/listen.pls?sid=1</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-oriental-770,20074.m3u</string>
			<key>note</key>
			<string>Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>PsyRadio Progressive</string>
			<key>logo</key>
			<string>Progressive</string>
			<key>link</key>
			<string>http://streamer.psyradio.org:8010/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/psyradio-fm,18254.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>PsyRadio Chillout</string>
			<key>logo</key>
			<string>Chillout</string>
			<key>link</key>
			<string>http://streamer.psyradio.org:8020/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/psyradio-fm,18254.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>PsyRadio Psytrance</string>
			<key>logo</key>
			<string>Psytrance</string>
			<key>link</key>
			<string>http://streamer.psyradio.org:8030/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/psyradio-fm,18254.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>PsyRadio Alternative</string>
			<key>logo</key>
			<string>Alternative</string>
			<key>link</key>
			<string>http://streamer.psyradio.org:8040/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/psyradio-fm,18254.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rural 610 AM</string>
			<key>logo</key>
			<string>Rural</string>
			<key>link</key>
			<string>http://radiolatina.live:9206/listen.pls?sid=1</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-rural-610-am,20024.m3u</string>
			<key>note</key>
			<string>News, Talk, Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>UNO Digital</string>
			<key>logo</key>
			<string>UNO</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://server-uk1.radioseninternet.net:8000/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://server-uk1.radioseninternet.net:8000/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Rock Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Retro Music Uruguay</string>
			<key>logo</key>
			<string>Retro</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://149.56.195.94:8008/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://149.56.195.94:8008/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ritmo FM 88.1</string>
			<key>logo</key>
			<string>Ritmo</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://195.154.182.222:25156/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://195.154.182.222:25156/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sarandi 690 AM</string>
			<key>logo</key>
			<string>Sarandi</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/sarandi-690-am-cx8,787.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Señal Zoe 91.5 FM</string>
			<key>logo</key>
			<string>Zoe</string>
			<key>link</key>
			<string>http://tvportal.unored.com:4023/mvtv.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sport 890</string>
			<key>logo</key>
			<string>890</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-sport-890,20095.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk, Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>UNI 89.1 FM</string>
			<key>logo</key>
			<string>UNI</string>
			<key>link</key>
			<string>http://164.73.2.137:8008/uniradio.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Universal 970 AM</string>
			<key>logo</key>
			<string>Universal</string>
			<key>link</key>
			<string>https://radio.970universal.com:8012/listen.pls</string>
			<key>http</key>
			<string>http://radio.970universal.com:8010/;</string>
			<key>note</key>
			<string>News, Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Urbana 92.5 FM</string>
			<key>logo</key>
			<string>Urbana</string>
			<key>link</key>
			<string>http://streaming.urbana.com.uy/urbana.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Uruguay 1050 AM</string>
			<key>logo</key>
			<string>1050</string>
			<key>link</key>
			<string>http://173.249.7.231:8084/listen.pls?sid=1</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/uruguay-1050-am,18152.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
	</array>
</dict>
</plist>
