<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string></string>
		<key>Back</key>
		<string></string>
		<key>Banner</key>
		<string></string>
		<key>Show1</key>
		<string></string>
		<key>Show2</key>
		<string></string>
		<key>Show3</key>
		<string></string>
		<key>Show4</key>
		<string></string>
		<key>Alarm</key>
		<string></string>
		<key>CustomBanner</key>
		<string></string>
		<key>CustomSplash</key>
		<string></string>
		<key>Header</key>
		<string></string>
		<key>Footer</key>
		<string></string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string></string>
		<key>Application</key>
		<string></string>
		<key>Developer</key>
		<string></string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>102.5 Beat FM</string>
			<key>logo</key>
			<string>Beat</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/102-5-beat-fm,8416.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top</string>
		</dict>
		<dict>
			<key>name</key>
			<string>AljasraCulture</string>
			<key>logo</key>
			<string>AljasraCulture</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-aljasraculture,18763.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>AmmanNet</string>
			<key>logo</key>
			<string>AmmanNet</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/ammannet,9337.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>BLISS FM 104.2</string>
			<key>logo</key>
			<string>BLISS</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/bliss-fm-104-2,16047.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fann 104.2 FM</string>
			<key>logo</key>
			<string>Fann</string>
			<key>link</key>
			<string>http://188.247.86.66/RadioFann/Audio128/playlist.m3u8</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-fann-104-2-fm,6409.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hala FM</string>
			<key>logo</key>
			<string>Hala</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/hala-fm,16045.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hayat FM 104.7</string>
			<key>logo</key>
			<string>Hayat</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/hayat-fm-104-7,12664.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>JBC Radio 88.7 FM</string>
			<key>logo</key>
			<string>JBC</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/jbc-radio-88-7-fm,18767.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mazaj FM</string>
			<key>logo</key>
			<string>Mazaj</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/mazaj-fm,8415.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Melody FM 91.1</string>
			<key>logo</key>
			<string>Melody</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/melody-fm,16046.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mood FM</string>
			<key>logo</key>
			<string>Mood</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/mood-fm,8417.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Play 99.6 FM</string>
			<key>logo</key>
			<string>Pla</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/play-99-6-fm,6040.m3u</string>
			<key>http</key>
			<string>http://edge.mixlr.com/channel/hynza</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rotana Radio Jordan 99.9 FM</string>
			<key>logo</key>
			<string>Rotana</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/rotana-radio-jordan-99-9-fm,17019.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sawa راديو سوا</string>
			<key>logo</key>
			<string>Sawa</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-sawa-jordan,18765.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sawt El Ghad Jordan 101.5 - صوت الغد الأردن</string>
			<key>logo</key>
			<string>Ghad</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/sawt-el-ghad-101-5-fm-jordan,10074.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>اذاعة يقين 103.7 - Yaqeen FM</string>
			<key>logo</key>
			<string>Yaqeen</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/yaqeen-fm-103-7,18766.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
