<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1</string>
		<key>Back</key>
		<string>1</string>
		<key>Banner</key>
		<string>1</string>
		<key>Show1</key>
		<string>1</string>
		<key>Show2</key>
		<string>1</string>
		<key>Show3</key>
		<string>1</string>
		<key>Show4</key>
		<string>1</string>
		<key>Alarm</key>
		<string>1</string>
		<key>CustomBanner</key>
		<string>1</string>
		<key>CustomSplash</key>
		<string>1</string>
		<key>Header</key>
		<string>1</string>
		<key>Footer</key>
		<string>1</string>
		<key>Email</key>
		<string>1</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1</string>
		<key>Developer</key>
		<string>1</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Menu</key>
	<array>
		<string>Top</string>
		<string>News</string>
		<string>Local</string>
		<string>Classic</string>
		<string>Music</string>
		<string>Sport</string>
		<string>Talk</string>
		<string>Youth</string>
		<string>Oldies</string>
	</array>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>104.7 Hit</string>
			<key>logo</key>
			<string>104</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-104-7-hit,14824.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>2</string>
			<key>logo</key>
			<string>2</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-2,14821.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-dos-99-5-fm,41.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>94.7</string>
			<key>logo</key>
			<string>94.7</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-94-7,42.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>95.5 Jazz</string>
			<key>logo</key>
			<string>Jazz</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/95-5-jazz,14822.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>911 La Radio</string>
			<key>logo</key>
			<string>911</string>
			<key>link</key>
			<string>http://www.911laradio.com/itunes.m3u</string>
			<key>http</key>
			<string>http://www.911laradio.com/winamp.pls</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>959 Nueve Siete Nueve</string>
			<key>logo</key>
			<string>959</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/979-nueve-siete-nueve,17106.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ADN 90.7 FM</string>
			<key>logo</key>
			<string>ADN</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-adn-90-7-fm,14826.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Azul FM 99.9</string>
			<key>logo</key>
			<string>Azul</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/azul-fm-99-9,12176.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Best FM 103.5</string>
			<key>logo</key>
			<string>Best</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-best-fm-103-5,17391.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Alajuela (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Columbia 98.7</string>
			<key>logo</key>
			<string>Columbia</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-columbia-98-7,43.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Columbia Estereo 92.7 FM</string>
			<key>logo</key>
			<string>Estereo</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/columbia-estereo-92-7-fm,14819.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Conexión 97.9</string>
			<key>logo</key>
			<string>Conexion</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/conexion-97-9,4612.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Costa Rica</string>
			<key>logo</key>
			<string>Rica</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-costa-rica,12179.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Disney 101.1 FM</string>
			<key>logo</key>
			<string>Disney</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-disney-101-1-fm,17389.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Faro del Caribe 1080 AM</string>
			<key>logo</key>
			<string>1080</string>
			<key>link</key>
			<string>http://unoredradio.com:9768/;stream.mp3_</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-faro-del-caribe-1080-am,3668.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fides 93.1 FM</string>
			<key>logo</key>
			<string>Fides</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-fides,14825.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Guarco Radio</string>
			<key>logo</key>
			<string>Guarco</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/guarco-radio,16389.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Cartago (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ina</string>
			<key>logo</key>
			<string>Ina</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-ina,12180.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Súper Estación 89.1 FM</string>
			<key>logo</key>
			<string>Estacion</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/la-super-estacion-89-1-fm,18504.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Los 40 Principale Costa Rica</string>
			<key>logo</key>
			<string>Los</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/los-40-principale-costa-rica,7488.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Malpais</string>
			<key>logo</key>
			<string>Malpais</string>
			<key>link</key>
			<string>http://5.39.82.140:8006/;stream.mp3</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-malpais,14820.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Musical 97.5 FM</string>
			<key>logo</key>
			<string>Musical</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-musical-97-5-fm,3669.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Omega 105.1</string>
			<key>logo</key>
			<string>Omega</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/omega-105-1,7487.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Onda Brava</string>
			<key>logo</key>
			<string>Onda</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/onda-brava-radio,14823.m3u</string>
			<key>http</key>
			<string>http://167.114.210.232:8221/;</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Reloj 94.3</string>
			<key>logo</key>
			<string>Reloj</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-reloj-94-3,44.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Stereo Vision 98.3 FM</string>
			<key>logo</key>
			<string>Stereo</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-stereo-vision-98-3-fm,12184.m3u</string>
			<key>http</key>
			<string>http://server.y2kwebs.com:9984/;</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Teletica Radio 91.5 FM</string>
			<key>logo</key>
			<string>Teletica</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/teletica-radio-91-5-fm,20069.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Urbano 106 FM</string>
			<key>logo</key>
			<string>Urbano</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-urbano-106-fm,20143.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Z FM 95.1</string>
			<key>logo</key>
			<string>Z</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-z-fm-95-1,17390.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Alajuela (Local)</string>
		</dict>
	</array>
</dict>
</plist>
