<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1</string>
		<key>Back</key>
		<string>1</string>
		<key>Banner</key>
		<string>1</string>
		<key>Show1</key>
		<string>1</string>
		<key>Show2</key>
		<string>1</string>
		<key>Show3</key>
		<string>1</string>
		<key>Show4</key>
		<string>1</string>
		<key>Alarm</key>
		<string>1</string>
		<key>CustomBanner</key>
		<string>1</string>
		<key>CustomSplash</key>
		<string>1</string>
		<key>Header</key>
		<string>1</string>
		<key>Footer</key>
		<string>1</string>
		<key>Email</key>
		<string>1</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1</string>
		<key>Developer</key>
		<string>1</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Menu</key>
	<array>
		<string>Top</string>
		<string>News</string>
		<string>Local</string>
		<string>Classic</string>
		<string>Music</string>
		<string>Sport</string>
		<string>Talk</string>
		<string>Youth</string>
		<string>Oldies</string>
	</array>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>2</string>
			<key>logo</key>
			<string>2</string>
			<key>link</key>
			<string>http://luxcast123.luxwer.net:8115/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-dos-99-5-fm,41.m3u</string>
			<key>note</key>
			<string>Top</string>
		</dict>
		<dict>
			<key>name</key>
			<string>94.7</string>
			<key>logo</key>
			<string>94.7</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-94-7,42.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Oldies Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>959 Nueve Siete Nueve</string>
			<key>logo</key>
			<string>959</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/979-nueve-siete-nueve,17106.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ADN 90.7 FM</string>
			<key>logo</key>
			<string>ADN</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-adn-90-7-fm,14826.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Alajuela 1120 AM</string>
			<key>logo</key>
			<string>Alajuela</string>
			<key>link</key>
			<string>http://99.198.110.162:7002/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top Music, Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>América 780 AM</string>
			<key>logo</key>
			<string>780</string>
			<key>link</key>
			<string>http://192.99.4.210:3254/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk, Sport, Top</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Azul FM 99.9</string>
			<key>logo</key>
			<string>Azul</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/azul-fm-99-9,12176.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBN - Red de Radiodifusión Bíblica</string>
			<key>logo</key>
			<string>BBN</string>
			<key>link</key>
			<string>https://bbnspanish-lh.akamaihd.net/i/BibleBroadcasting_Spanishios@87757/index_48_a-p.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bésame 89.9 FM</string>
			<key>logo</key>
			<string>Besame</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/BESAME_CR.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Best FM 103.5</string>
			<key>logo</key>
			<string>Best</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-best-fm-103-5,17391.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Alajuela (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cartago 850 AM</string>
			<key>logo</key>
			<string>Cartago</string>
			<key>link</key>
			<string>http://radiolatina.info:9986/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music, Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Centro 96.3 FM</string>
			<key>logo</key>
			<string>Centro</string>
			<key>link</key>
			<string>http://www.ticoradio.com:44/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk, Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Columbia 98.7</string>
			<key>logo</key>
			<string>Columbia</string>
			<key>link</key>
			<string>http://luxcast123.luxwer.net:8121/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-columbia-98-7,43.m3u</string>
			<key>note</key>
			<string>News, Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Columbia Estereo 92.7 FM</string>
			<key>logo</key>
			<string>Estereo</string>
			<key>link</key>
			<string>http://luxcast123.luxwer.net:8119/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/columbia-estereo-92-7-fm,14819.m3u</string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Conexión 97.9</string>
			<key>logo</key>
			<string>Conexion</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/conexion-97-9,4612.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Costa Rica</string>
			<key>logo</key>
			<string>Rica</string>
			<key>link</key>
			<string>http://50.7.66.66:9980/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-costa-rica,12179.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Disney 101.1 FM</string>
			<key>logo</key>
			<string>Disney</string>
			<key>link</key>
			<string>http://ic.streann.com:8000/disneycostarica.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-disney-101-1-fm,17389.m3u</string>
			<key>note</key>
			<string>Youth, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Extrema 102.3 FM</string>
			<key>logo</key>
			<string>Extrema</string>
			<key>link</key>
			<string>http://s18.myradiostream.com:3520/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Faro del Caribe 1080 AM</string>
			<key>logo</key>
			<string>1080</string>
			<key>link</key>
			<string>http://unoredradio.com:9768/;stream.mp3_</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-faro-del-caribe-1080-am,3668.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fides 93.1 FM</string>
			<key>logo</key>
			<string>Fides</string>
			<key>link</key>
			<string>http://50.7.244.74:8046/radiofides.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-fides,14825.m3u</string>
			<key>note</key>
			<string>Top</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Groovy 91.1 FM</string>
			<key>logo</key>
			<string>Groovy</string>
			<key>link</key>
			<string>https://www.911laradio.com/itunes.m3u</string>
			<key>http</key>
			<string>https://www.911laradio.com/winamp.pls</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Guarco</string>
			<key>logo</key>
			<string>Guarco</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/guarco-radio,16389.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Cartago (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hit 104.7</string>
			<key>logo</key>
			<string>104</string>
			<key>link</key>
			<string>http://s8.voscast.com:7528/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-104-7-hit,14824.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ina</string>
			<key>logo</key>
			<string>Ina</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-ina,12180.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>IQ 93.9 FM</string>
			<key>logo</key>
			<string>IQ</string>
			<key>link</key>
			<string>http://rtvhd.net:9942/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Jazz 95.5</string>
			<key>logo</key>
			<string>Jazz</string>
			<key>link</key>
			<string>http://streamer.radio.co/s967167041/listen.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/95-5-jazz,14822.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Caliente 90.7 FM</string>
			<key>logo</key>
			<string>Caliente</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/QTEJA_CR.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Gigante 800 AM</string>
			<key>logo</key>
			<string>Gigante</string>
			<key>link</key>
			<string>http://radiolatina.info:9982/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Negrita 530 AM</string>
			<key>logo</key>
			<string>Negrita</string>
			<key>link</key>
			<string>http://50.7.66.66:9972/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Cartago (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Radio 911</string>
			<key>logo</key>
			<string>911</string>
			<key>link</key>
			<string>http://www.911laradio.com/itunes.m3u</string>
			<key>http</key>
			<string>http://www.911laradio.com/winamp.pls</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Súper Estación 89.1 FM</string>
			<key>logo</key>
			<string>Estacion</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/la-super-estacion-89-1-fm,18504.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk, Sport, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Life 89.5 FM</string>
			<key>logo</key>
			<string>Life</string>
			<key>link</key>
			<string>http://67.212.165.162:7652/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Lira 88.7 FM</string>
			<key>logo</key>
			<string>Lira</string>
			<key>link</key>
			<string>http://163.172.16.45:9962/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Los 40 Principale Costa Rica</string>
			<key>logo</key>
			<string>Los</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/LOS40_CR.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/los-40-principale-costa-rica,7488.m3u</string>
			<key>note</key>
			<string>Top Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Malpais</string>
			<key>logo</key>
			<string>Malpais</string>
			<key>link</key>
			<string>http://5.39.82.140:8006/;stream.mp3</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-malpais,14820.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>María 100.7 FM</string>
			<key>logo</key>
			<string>Maria</string>
			<key>link</key>
			<string>http://dreamsiteradiocp2.com:8044/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Musical 97.5 FM</string>
			<key>logo</key>
			<string>Musical</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-musical-97-5-fm,3669.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nueva 1140 AM</string>
			<key>logo</key>
			<string>Nueva</string>
			<key>link</key>
			<string>http://radiolatina.info:9992/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Guápiles (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Omega 105.1</string>
			<key>logo</key>
			<string>Omega</string>
			<key>link</key>
			<string>http://rtvhd.net:9932/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/omega-105-1,7487.m3u</string>
			<key>note</key>
			<string>Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>OK! 105.5 FM</string>
			<key>logo</key>
			<string>OK</string>
			<key>link</key>
			<string>http://okradio.rtvhd.net:8130/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Onda Brava</string>
			<key>logo</key>
			<string>Onda</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/onda-brava-radio,14823.m3u</string>
			<key>http</key>
			<string>http://167.114.210.232:8221/;</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Q&apos;Teja 91.5 FM</string>
			<key>logo</key>
			<string>Teja</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/QTEJA_CR.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Reloj 94.3</string>
			<key>logo</key>
			<string>Reloj</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-reloj-94-3,44.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Shock 106.3 FM</string>
			<key>logo</key>
			<string>Shock</string>
			<key>link</key>
			<string>http://50.7.66.66:9986/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sideral 1340 AM</string>
			<key>logo</key>
			<string>Sideral</string>
			<key>link</key>
			<string>http://216.75.41.15:8040/radiosideral.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>San Ramón (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sinaí 103.9 FM</string>
			<key>logo</key>
			<string>Sinai</string>
			<key>link</key>
			<string>http://radiosinai.org:8002/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk, Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sinfonola 90.3 FM</string>
			<key>logo</key>
			<string>Sinfonola</string>
			<key>link</key>
			<string>http://50.7.66.66:9972/listen.pls</string>
			<key>http</key>
			<string>http://163.172.16.45:9972/;</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Stereo Vision 98.3 FM</string>
			<key>logo</key>
			<string>Stereo</string>
			<key>link</key>
			<string>http://50.7.66.66:9984/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-stereo-vision-98-3-fm,12184.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Teletica 91.5 FM</string>
			<key>logo</key>
			<string>Teletica</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/teletica-radio-91-5-fm,20069.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tigre 820 AM</string>
			<key>logo</key>
			<string>Tigre</string>
			<key>link</key>
			<string>http://www.ticoradio.com:100/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Victoria 1180 AM</string>
			<key>logo</key>
			<string>Victoria</string>
			<key>link</key>
			<string>http://50.7.66.66:9302/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Heredia (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Unción 106.7 FM</string>
			<key>logo</key>
			<string>Uncion</string>
			<key>link</key>
			<string>http://199.38.86.212:8000/uncion.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Urbano 106 FM</string>
			<key>logo</key>
			<string>Urbano</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-urbano-106-fm,20143.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Wao 92.3 FM</string>
			<key>logo</key>
			<string>Wao</string>
			<key>link</key>
			<string>http://streamer.teknoweb.co/s98074e491/listen.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Z FM 95.1</string>
			<key>logo</key>
			<string>Z</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-z-fm-95-1,17390.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Alajuela (Local)</string>
		</dict>
	</array>
</dict>
</plist>
