<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string></string>
		<key>Back</key>
		<string></string>
		<key>Banner</key>
		<string></string>
		<key>Show1</key>
		<string></string>
		<key>Show2</key>
		<string></string>
		<key>Show3</key>
		<string></string>
		<key>Show4</key>
		<string></string>
		<key>Alarm</key>
		<string></string>
		<key>CustomBanner</key>
		<string></string>
		<key>CustomSplash</key>
		<string></string>
		<key>Header</key>
		<string></string>
		<key>Footer</key>
		<string></string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string></string>
		<key>Application</key>
		<string></string>
		<key>Developer</key>
		<string></string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>VOV Giao thông FM 91</string>
			<key>logo</key>
			<string>91</string>
			<key>link</key>
			<string>http://5a6872aace0ce.streamlock.net/vovgt+hn/vovgt+hn.stream_aac/playlist.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>VOV1 Ban thời sự</string>
			<key>logo</key>
			<string>VOV1</string>
			<key>link</key>
			<string>http://5a6872aace0ce.streamlock.net/vov1/vov1.stream_aac/playlist.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>VOV2 Ban Văn hoá</string>
			<key>logo</key>
			<string>VOV2</string>
			<key>link</key>
			<string>http://5a6872aace0ce.streamlock.net/vov2/vov2.stream_aac/playlist.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>VOV3 Ban Âm nhạc</string>
			<key>logo</key>
			<string>VOV3</string>
			<key>link</key>
			<string>http://5a6872aace0ce.streamlock.net/vov3/vov3.stream_aac/playlist.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>VOV5 Ban Đối ngoại</string>
			<key>logo</key>
			<string>VOV5</string>
			<key>link</key>
			<string>http://5a6872aace0ce.streamlock.net/vov5/vov5.stream_aac/playlist.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>VOV 24/7</string>
			<key>logo</key>
			<string>VOV</string>
			<key>link</key>
			<string>http://5a6872aace0ce.streamlock.net/vov247/vov247.stream_aac/playlist.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>VOV Giao thông Tp.</string>
			<key>logo</key>
			<string>Giao</string>
			<key>link</key>
			<string>http://5a6872aace0ce.streamlock.net/vovgt+hcm/vovgt+hcm.stream_aac/playlist.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>VOH FM 95.6</string>
			<key>logo</key>
			<string>VOH</string>
			<key>link</key>
			<string>http://120.72.118.102:1935/live/channel1/playlist.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>VOH FM 99.9</string>
			<key>logo</key>
			<string>VO</string>
			<key>link</key>
			<string>http://120.72.118.102:1935/live/channel3/playlist.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>VOH AM 610</string>
			<key>logo</key>
			<string>610</string>
			<key>link</key>
			<string>http://120.72.118.102:1935/live/channel2/playlist.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Xone FM</string>
			<key>logo</key>
			<string>Xone</string>
			<key>link</key>
			<string>https://node-19.zeno.fm/v51ym0g96qruv</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>China Plus Radio</string>
			<key>logo</key>
			<string>China</string>
			<key>link</key>
			<string>http://sk.cri.cn/am846.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
	</array>
</dict>
</plist>
