<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string></string>
		<key>Main</key>
		<string></string>
		<key>Back</key>
		<string></string>
		<key>Banner</key>
		<string></string>
		<key>Show1</key>
		<string></string>
		<key>Show2</key>
		<string></string>
		<key>Show3</key>
		<string></string>
		<key>Show4</key>
		<string></string>
		<key>Alarm</key>
		<string></string>
		<key>CustomBanner</key>
		<string></string>
		<key>CustomSplash</key>
		<string></string>
		<key>Header</key>
		<string></string>
		<key>Footer</key>
		<string></string>
		<key>Email</key>
		<string>ios.apps.community@gmail.com</string>
		<key>Alternative</key>
		<string></string>
		<key>Application</key>
		<string></string>
		<key>Developer</key>
		<string></string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Menu</key>
	<array>
		<string>Top</string>
		<string>News</string>
		<string>Local</string>
		<string>Classic</string>
		<string>Music</string>
		<string>Sport</string>
		<string>Talk</string>
		<string>Youth</string>
		<string>Oldies</string>
	</array>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>DBS</string>
			<key>logo</key>
			<string>DBS</string>
			<key>link</key>
			<string>http://s15.myradiostream.com:15668/listen.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dominica Catholic Radio 96.1 FM</string>
			<key>logo</key>
			<string>Catholic</string>
			<key>link</key>
			<string>http://cdn.comeseetv.com:8010/dominicacatholicradio.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kairi FM</string>
			<key>logo</key>
			<string>Kairi</string>
			<key>link</key>
			<string>http://199.189.115.207:8000/listen.pls?sid=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk, Top Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Q-95 FM</string>
			<key>logo</key>
			<string>Q-95</string>
			<key>link</key>
			<string>http://tostream.vouscast.com:8026/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Sport, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio En Ba Mango</string>
			<key>logo</key>
			<string>Mango</string>
			<key>link</key>
			<string>http://s10.myradiostream.com:4212/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Vibes Radio 93.9 FM</string>
			<key>logo</key>
			<string>Vibes</string>
			<key>link</key>
			<string>http://vibesradio.dm:8000/vibes939.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk, Top Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ZGBC Voice of Life</string>
			<key>logo</key>
			<string>ZGBC</string>
			<key>link</key>
			<string>http://37.187.172.190:8010/vol.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk</string>
		</dict>
	</array>
</dict>
</plist>
