<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>France 24</string>
		<key>logo</key>
		<string>24</string>
		<key>link</key>
		<string>http://www.france24.com/fr/tv-en-direct-chaine-live/</string>
		<key>http</key>
		<string>http://www.dailymotion.com/france24</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CNEWS (ex iTELE)</string>
		<key>logo</key>
		<string>iTELE</string>
		<key>link</key>
		<string>http://www.cnews.fr/le-direct</string>
		<key>http</key>
		<string>http://www.itele.fr/direct</string>
	</dict>
	<dict>
		<key>name</key>
		<string>BFMTV</string>
		<key>logo</key>
		<string>BFMTV</string>
		<key>link</key>
		<string>http://www.bfmtv.com/mediaplayer/live-video/</string>
		<key>http</key>
		<string>http://www.bfmtv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>BFM Business</string>
		<key>logo</key>
		<string>BFM</string>
		<key>link</key>
		<string>http://bfmbusiness.bfmtv.com/mediaplayer/live-video/</string>
		<key>http</key>
		<string>http://bfmbusiness.bfmtv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>BFM Paris</string>
		<key>logo</key>
		<string>Paris</string>
		<key>link</key>
		<string>http://www.bfmtv.com/mediaplayer/live-bfm-paris/</string>
		<key>http</key>
		<string>http://www.bfmtv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RMC</string>
		<key>logo</key>
		<string>RMC</string>
		<key>link</key>
		<string>http://rmc.bfmtv.com/mediaplayer/live-audio/</string>
		<key>http</key>
		<string>http://rmcdecouverte.bfmtv.com/mediaplayer-direct/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>BFM Sport</string>
		<key>logo</key>
		<string>Sport</string>
		<key>link</key>
		<string>http://rmcsport.bfmtv.com/mediaplayer/live-bfm-sport/</string>
		<key>http</key>
		<string>http://www.bfmtv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Euronews</string>
		<key>logo</key>
		<string>Euronews</string>
		<key>link</key>
		<string>http://fr.euronews.com/live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/euronewsfr/videos?live_view=501&amp;flow=grid&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sky News</string>
		<key>logo</key>
		<string>Sky</string>
		<key>link</key>
		<string>http://news.sky.com/watch-live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/skynews</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bloomberg TV Europe</string>
		<key>logo</key>
		<string>bloomberg</string>
		<key>link</key>
		<string>https://www.bloomberg.com/live/europe</string>
		<key>http</key>
		<string>https://www.bloomberg.com/live/us</string>
	</dict>
	<dict>
		<key>name</key>
		<string>France Info</string>
		<key>logo</key>
		<string>francetvinfo</string>
		<key>link</key>
		<string>http://www.francetvinfo.fr/en-direct/tv.html</string>
		<key>http</key>
		<string>https://www.france.tv/franceinfo/direct.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>France 2</string>
		<key>logo</key>
		<string>2</string>
		<key>link</key>
		<string>https://www.france.tv/france-2/direct.html</string>
		<key>http</key>
		<string>https://www.france.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>France 3</string>
		<key>logo</key>
		<string>3</string>
		<key>link</key>
		<string>https://www.france.tv/france-3/direct.html</string>
		<key>http</key>
		<string>https://www.france.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>France 4</string>
		<key>logo</key>
		<string>4</string>
		<key>link</key>
		<string>https://www.france.tv/france-4/direct.html</string>
		<key>http</key>
		<string>https://www.france.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>France 5</string>
		<key>logo</key>
		<string>5</string>
		<key>link</key>
		<string>https://www.france.tv/france-5/direct.html</string>
		<key>http</key>
		<string>https://www.france.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>France Ô</string>
		<key>logo</key>
		<string>O</string>
		<key>link</key>
		<string>https://www.france.tv/france-o/direct.html</string>
		<key>http</key>
		<string>https://www.france.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Canal+</string>
		<key>logo</key>
		<string>Canal+</string>
		<key>link</key>
		<string>http://www.canalplus.fr/pid3580-live-tv-clair.html</string>
		<key>http</key>
		<string>http://www.canalplus.fr/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>LCP Assemblée nationale</string>
		<key>logo</key>
		<string>LCP</string>
		<key>link</key>
		<string>http://www.lcp.fr/le-direct/24-24</string>
		<key>http</key>
		<string>http://www.lcp.fr/le-direct</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Public Senat</string>
		<key>logo</key>
		<string>Public</string>
		<key>link</key>
		<string>https://www.publicsenat.fr/direct</string>
		<key>http</key>
		<string>https://www.publicsenat.fr/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Assemblee nationale</string>
		<key>logo</key>
		<string>assemblee</string>
		<key>link</key>
		<string>http://videos.assemblee-nationale.fr/direct.php</string>
		<key>http</key>
		<string>http://www.assemblee-nationale.fr/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Senat</string>
		<key>logo</key>
		<string>Senat</string>
		<key>link</key>
		<string>http://videos.senat.fr/direct</string>
		<key>http</key>
		<string>http://videos.senat.fr/direct1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ouatch TV</string>
		<key>logo</key>
		<string>ouatch</string>
		<key>link</key>
		<string>http://www.ouatch.tv/direct.html</string>
		<key>http</key>
		<string>http://www.ouatch.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Telesud</string>
		<key>logo</key>
		<string>Telesud</string>
		<key>link</key>
		<string>http://www.telesud.com/</string>
		<key>http</key>
		<string>http://www.telesud.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tele Antilles</string>
		<key>logo</key>
		<string>Antilles</string>
		<key>link</key>
		<string>https://www.youtube.com/channel/UClATtgy59vn0gt5LB4LamrQ</string>
		<key>http</key>
		<string>http://www.teleantilles.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>OUI TELE</string>
		<key>logo</key>
		<string>OUI</string>
		<key>link</key>
		<string>http://player.ouifm.fr/tele/</string>
		<key>http</key>
		<string>https://www.ouifm.fr/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>L&apos;Equipe 21</string>
		<key>logo</key>
		<string>21</string>
		<key>link</key>
		<string>http://www.lequipe.fr/lachainelequipe/</string>
		<key>http</key>
		<string>http://www.lequipe.fr/lachainelequipe/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>QVC</string>
		<key>logo</key>
		<string>QVC</string>
		<key>link</key>
		<string>https://www.qvc.fr/tv/live.html</string>
		<key>http</key>
		<string>https://www.qvc.fr/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>M6 Boutique &amp; Co</string>
		<key>logo</key>
		<string>M6</string>
		<key>link</key>
		<string>http://www.m6boutique.com/Popup/PopupLiveM6.aspx</string>
		<key>http</key>
		<string>http://www.m6boutique.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>KTO Television Catholique</string>
		<key>logo</key>
		<string>KTO</string>
		<key>link</key>
		<string>http://www.ktotv.com/</string>
		<key>http</key>
		<string>http://www.ktotv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Lourdes</string>
		<key>logo</key>
		<string>Lourdes</string>
		<key>link</key>
		<string>http://fr.lourdes-france.org/tv-lourdes/index.php</string>
		<key>http</key>
		<string>http://fr.lourdes-france.org/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>HolyGod</string>
		<key>logo</key>
		<string>HG</string>
		<key>link</key>
		<string>http://holygod.tv/iframe/HGTV720p</string>
		<key>http</key>
		<string>http://www.holygodtv.net/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NLM TV</string>
		<key>logo</key>
		<string>NLM</string>
		<key>link</key>
		<string>http://www.nlm-tv.com/tv/watch</string>
		<key>http</key>
		<string>http://www.nlm-tv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Astrocenter</string>
		<key>logo</key>
		<string>Astrocenter</string>
		<key>link</key>
		<string>http://mon.astrocenter.fr/tv/en-direct</string>
		<key>http</key>
		<string>http://mon.astrocenter.fr/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mirabelle</string>
		<key>logo</key>
		<string>Mirabelle</string>
		<key>link</key>
		<string>http://www.mirabelle.tv/</string>
		<key>http</key>
		<string>http://www.mirabelle.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Alsace 20</string>
		<key>logo</key>
		<string>20</string>
		<key>link</key>
		<string>http://www.alsace20.tv/Live.html</string>
		<key>http</key>
		<string>http://www.alsace20.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Vosges</string>
		<key>logo</key>
		<string>Vosges</string>
		<key>link</key>
		<string>https://www.vosgestelevision.tv/Direct.html</string>
		<key>http</key>
		<string>https://www.vosgestelevision.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nancy-Web</string>
		<key>logo</key>
		<string>Nancy</string>
		<key>link</key>
		<string>http://www.nancy-webtv.fr/index.php/direct</string>
		<key>http</key>
		<string>http://www.nancy-webtv.fr/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TV7 Bordeaux</string>
		<key>logo</key>
		<string>7</string>
		<key>link</key>
		<string>http://www.tv7.com/</string>
		<key>http</key>
		<string>http://www.tv7.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TVPI</string>
		<key>logo</key>
		<string>TVPI</string>
		<key>link</key>
		<string>http://www.tvpi.fr/</string>
		<key>http</key>
		<string>http://www.tvpi.fr/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TLM Tele Lyon Metropole</string>
		<key>logo</key>
		<string>TLM</string>
		<key>link</key>
		<string>http://tlm.tv/direct</string>
		<key>http</key>
		<string>http://tlm.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Drome Ardeche</string>
		<key>logo</key>
		<string>Drome</string>
		<key>link</key>
		<string>http://www.dromeardeche.tv/le-direct</string>
		<key>http</key>
		<string>http://www.dromeardeche.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TL7 Television Loire</string>
		<key>logo</key>
		<string>TL7</string>
		<key>link</key>
		<string>http://www.tl7.fr/</string>
		<key>http</key>
		<string>http://www.tl7.fr/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TeleGrenoble Isere</string>
		<key>logo</key>
		<string>TeleGrenoble</string>
		<key>link</key>
		<string>http://www.telegrenoble.net/direct.html</string>
		<key>http</key>
		<string>http://www.telegrenoble.net/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TVR - TV Rennes 35</string>
		<key>logo</key>
		<string>TVR</string>
		<key>link</key>
		<string>http://www.tvr.bzh/direct</string>
		<key>http</key>
		<string>http://www.tvr.bzh/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TebeSud</string>
		<key>logo</key>
		<string>TebeSud</string>
		<key>link</key>
		<string>http://www.tebesud.fr/</string>
		<key>http</key>
		<string>http://www.tebesud.fr/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tebeo</string>
		<key>logo</key>
		<string>Tebeo</string>
		<key>link</key>
		<string>http://www.tebeo.bzh/le-direct</string>
		<key>http</key>
		<string>http://www.tebeo.bzh/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bip - Berry Issoudun Premiere</string>
		<key>logo</key>
		<string>Bip</string>
		<key>link</key>
		<string>http://www.biptv.tv/direct.html</string>
		<key>http</key>
		<string>http://www.biptv.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Yvelines Premiere</string>
		<key>logo</key>
		<string>Yvelines</string>
		<key>link</key>
		<string>http://www.yvelines1.com/direct/</string>
		<key>http</key>
		<string>http://www.yvelines1.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>La Chaine Normande</string>
		<key>logo</key>
		<string>Chaine</string>
		<key>link</key>
		<string>http://www.lachainenormande.tv/Direct.html</string>
		<key>http</key>
		<string>http://www.lachainenormande.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Weo</string>
		<key>logo</key>
		<string>Weo</string>
		<key>link</key>
		<string>http://www.weo.fr/direct/</string>
		<key>http</key>
		<string>http://www.weo.fr/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Grand Lille</string>
		<key>logo</key>
		<string>Lille</string>
		<key>link</key>
		<string>http://www.grandlille.tv/</string>
		<key>http</key>
		<string>http://www.grandlille.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Matele</string>
		<key>logo</key>
		<string>Matele</string>
		<key>link</key>
		<string>http://www.matele.tv/direct/</string>
		<key>http</key>
		<string>http://www.matele.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Telenantes</string>
		<key>logo</key>
		<string>Telenantes</string>
		<key>link</key>
		<string>http://www.telenantes.com/direct</string>
		<key>http</key>
		<string>http://www.dailymotion.com/TELENANTES</string>
	</dict>
	<dict>
		<key>name</key>
		<string>LM TV Sarthe</string>
		<key>logo</key>
		<string>LM</string>
		<key>link</key>
		<string>http://www.lmtv.fr/</string>
		<key>http</key>
		<string>http://www.lmtv.fr/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Angers Tele</string>
		<key>logo</key>
		<string>Angers</string>
		<key>link</key>
		<string>http://angers-tele.fr/</string>
		<key>http</key>
		<string>http://angers-tele.fr/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Dici (Canal 31)</string>
		<key>logo</key>
		<string>Dici</string>
		<key>link</key>
		<string>http://www.dici.fr/tv</string>
		<key>http</key>
		<string>http://www.dici.fr/player?tab=tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Azur</string>
		<key>logo</key>
		<string>Azur</string>
		<key>link</key>
		<string>http://www.azur-tv.fr/content/live-azur-tv</string>
		<key>http</key>
		<string>http://www.azur-tv.fr/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MTA French</string>
		<key>logo</key>
		<string>MTA</string>
		<key>link</key>
		<string>http://www.mta.tv/live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/mtaOnline1/videos?view=2&amp;flow=grid</string>
	</dict>
	<dict>
		<key>name</key>
		<string>EWTN</string>
		<key>logo</key>
		<string>EWTN</string>
		<key>link</key>
		<string>http://www.ewtn.com/multimedia/live_player.asp?satname=ukirlnlp</string>
		<key>http</key>
		<string>http://www.ewtn.com/live/ewtnplayer/jwplayer.asp?bottom=false&amp;feed=ukirln</string>
	</dict>
</array>
</plist>
