<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string></string>
		<key>Back</key>
		<string></string>
		<key>Banner</key>
		<string></string>
		<key>Show1</key>
		<string></string>
		<key>Show2</key>
		<string></string>
		<key>Show3</key>
		<string></string>
		<key>Show4</key>
		<string></string>
		<key>Alarm</key>
		<string></string>
		<key>CustomBanner</key>
		<string></string>
		<key>CustomSplash</key>
		<string></string>
		<key>Header</key>
		<string></string>
		<key>Footer</key>
		<string></string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string></string>
		<key>Application</key>
		<string></string>
		<key>Developer</key>
		<string></string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Al Wisal 96.5 FM</string>
			<key>logo</key>
			<string>Wisal</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/al-wisal-96-5-fm,18913.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hala FM</string>
			<key>logo</key>
			<string>Hala</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/hala-fm,17196.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hi FM 95.5 FM</string>
			<key>logo</key>
			<string>Hi</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/hi-fm-95-5-fm,18910.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Merge 104.8 FM</string>
			<key>logo</key>
			<string>Merge</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/merge-104-8-fm,18914.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Oman FM</string>
			<key>logo</key>
			<string>Oma</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/oman-fm,838.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News/Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Oman Quran 93.20 FM</string>
			<key>logo</key>
			<string>Quran</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/oman-quran-93-20-fm,20513.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Oman R English 90.4 FM</string>
			<key>logo</key>
			<string>English</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/oman-r-english-90-4-fm,18911.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Oman Radio - Arabic 94.4 FM</string>
			<key>logo</key>
			<string>Arabic</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/oman-r-english-90-4-fm,18911.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
