<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string></string>
		<key>Main</key>
		<string></string>
		<key>Back</key>
		<string></string>
		<key>Banner</key>
		<string></string>
		<key>Show1</key>
		<string></string>
		<key>Show2</key>
		<string></string>
		<key>Show3</key>
		<string></string>
		<key>Show4</key>
		<string></string>
		<key>Alarm</key>
		<string></string>
		<key>CustomBanner</key>
		<string></string>
		<key>CustomSplash</key>
		<string></string>
		<key>Header</key>
		<string></string>
		<key>Footer</key>
		<string></string>
		<key>Email</key>
		<string>ios.apps.community@gmail.com</string>
		<key>Alternative</key>
		<string></string>
		<key>Application</key>
		<string></string>
		<key>Developer</key>
		<string></string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Menu</key>
	<array>
		<string>Top</string>
		<string>News</string>
		<string>Local</string>
		<string>Classic</string>
		<string>Music</string>
		<string>Sport</string>
		<string>Talk</string>
		<string>Youth</string>
		<string>Oldies</string>
	</array>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>إذاعة الشارقة</string>
			<key>logo</key>
			<string>sharjah</string>
			<key>link</key>
			<string>http://audiostreaming.itworkscdn.com:9008/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>إذاعة القرآن الكريم</string>
			<key>logo</key>
			<string>quran</string>
			<key>link</key>
			<string>http://ca.rcast.net:8058/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>إذاعة القرآن من الشارقة</string>
			<key>logo</key>
			<string>sharja</string>
			<key>link</key>
			<string>http://audiostreaming.itworkscdn.com:9010/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>1 Abu Dhabi 100.5 FM</string>
			<key>logo</key>
			<string>1</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/ADM_RADIO_1.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-1-abu-dhabi-100-5-fm,19658.m3u</string>
			<key>note</key>
			<string>News, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>1 Dubai 104.1 FM</string>
			<key>logo</key>
			<string>3</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-1-dubai-104-1-fm,19659.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>2 Abu Dhabi 106.0 FM</string>
			<key>logo</key>
			<string>2</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/ADM_RADIO_2.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-2-abu-dhabi-106-0-fm,19661.m3u</string>
			<key>note</key>
			<string>News, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>2 Dubai 99.3 FM</string>
			<key>logo</key>
			<string>5</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-2-dubai-99-3-fm,19660.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>4 89.1 FM</string>
			<key>logo</key>
			<string>4</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/RADIO4FM.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio4-89-1-fm,16087.m3u</string>
			<key>note</key>
			<string>Ajman (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Abu Dhabi Classic FM</string>
			<key>logo</key>
			<string>Abu</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/ADCFM.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/abu-dhabi-classic-fm,16083.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Abu Dhabi FM</string>
			<key>logo</key>
			<string>Dhabi</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/ABU_DHABI.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/abu-dhabi-fm,16082.m3u</string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Al Arabiya FM 99.0 العربية</string>
			<key>logo</key>
			<string>Arabiya</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/AL_ARABIYA.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-al-arabiya-98-9,5237.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Al Khaleejiya 100.9 الخليجية</string>
			<key>logo</key>
			<string>Khaleejiya</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/AL_KHALEEJIA.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-al-khaleejiya-100-9,5238.m3u</string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>إذاعة الأولى Al Oula 107.4</string>
			<key>logo</key>
			<string>Oula</string>
			<key>link</key>
			<string>http://uk6.internet-radio.com:8103/listen.pls?sid=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>راديو الرابعة Al Rabia 107.8 FM </string>
			<key>logo</key>
			<string>Rabia</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/AL_RABEAFM.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/al-rabea-fm,16564.m3u</string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Asia 1269 AM</string>
			<key>logo</key>
			<string>1269</string>
			<key>link</key>
			<string>http://51.255.235.165:5480/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-asia-1269-am,10719.m3u</string>
			<key>note</key>
			<string>News, Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>AsiaNetRadio 657 AM</string>
			<key>logo</key>
			<string>657</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/asianetradio-657-am,16361.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC Arabic</string>
			<key>logo</key>
			<string>BBC</string>
			<key>link</key>
			<string>http://bbcwssc.ic.llnwd.net/stream/bbcwssc_mp1_ws-araba.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Big FM 106.2</string>
			<key>logo</key>
			<string>Big</string>
			<key>link</key>
			<string>http://sg1.fastcast4u.com/proxy/dzcwbfih</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/big-fm-106-2,19485.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Channel 4 FM 104.8</string>
			<key>logo</key>
			<string>Channel</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/CHANNEL4FM.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/channel-4-fm-104-8,2645.m3u</string>
			<key>note</key>
			<string>News, Music (Ajman, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>City 101.6</string>
			<key>logo</key>
			<string>City</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/ARNCITY.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-city-101-6,5236.m3u</string>
			<key>note</key>
			<string>Top</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Club FM 99.6</string>
			<key>logo</key>
			<string>Club</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/CLUBFMUAE.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dance FM 97.8</string>
			<key>logo</key>
			<string>Dance</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/DANCE_FM.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/dance-fm-dubai,20310.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dubai 92</string>
			<key>logo</key>
			<string>92</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/DUBAI_92.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/dubai-92,10695.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dubai Eye 103.8</string>
			<key>logo</key>
			<string>Eye</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/DUBAI_EYE.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/103-8-dubai-eye,10697.m3u</string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dubai Radio 93.0 FM</string>
			<key>logo</key>
			<string>Dubai</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/dubai-radio-93-0-fm,17600.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Emarat FM</string>
			<key>logo</key>
			<string>Emarat</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/EMARAT_FM.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/emarat-fm,16085.m3u</string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Europa Plus UAE</string>
			<key>logo</key>
			<string>Europa</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/europa-plus-uae,19665.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>إذاعة دبي للقرآن - 91.4 FM</string>
			<key>logo</key>
			<string>duba</string>
			<key>link</key>
			<string>http://uk5.internet-radio.com:8079/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fujairah 92.6 FM الفجيرة</string>
			<key>logo</key>
			<string>Fujairah</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/fujairah-92-6-fm,16565.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Gilli 106.5 FM</string>
			<key>logo</key>
			<string>Gilli</string>
			<key>link</key>
			<string>http://s7.voscast.com:10218/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Gold 101.3 FM</string>
			<key>logo</key>
			<string>Gold</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/GOLDFM.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/gold-101-3-fm,16089.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>راديو هلا Hala 95.6</string>
			<key>logo</key>
			<string>Hala</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/DANCE_FM_4.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Heart 107.1 FM</string>
			<key>logo</key>
			<string>Hear</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/HEART.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Umm Al Quwain (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hit 96.7</string>
			<key>logo</key>
			<string>Hit</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/HIT.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-hit-96-7,5235.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>iRadioDubai</string>
			<key>logo</key>
			<string>iRadioDubai</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/iradiodubai,19109.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Jio 100.3 FM</string>
			<key>logo</key>
			<string>Jio</string>
			<key>link</key>
			<string>http://s7.voscast.com:10224/listen.pls?sid=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Umm Al Quwain (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Lodi</string>
			<key>logo</key>
			<string>Lodi</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-lodi,11738.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pearl 102.0 FM</string>
			<key>logo</key>
			<string>Pearl</string>
			<key>link</key>
			<string>http://stereo.wavestreamer.com:5214/Live.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pravasi Bharathi</string>
			<key>logo</key>
			<string>Pravasi</string>
			<key>link</key>
			<string>http://198.27.67.39:8000/pravasiradio.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pulse 95 FM</string>
			<key>logo</key>
			<string>95</string>
			<key>link</key>
			<string>http://209.15.226.17:9024/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk, Sport (Sharjah, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Quran Kareem (القرآن الكريم)</string>
			<key>logo</key>
			<string>Kareem</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/QURAN_KAREEM.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sawa Gulf</string>
			<key>logo</key>
			<string>Sawa</string>
			<key>link</key>
			<string>http://mbn-channel-01.akacast.akamaistream.net/7/29/233450/v1/ibb.akacast.akamaistream.net/mbn_channel_01</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-sawa-gulf,16086.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Shoma 93.4 رادیو شما موج</string>
			<key>logo</key>
			<string>Shoma</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/RADIO_SHOMA.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-shoma-93-4-fm,16090.m3u</string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sky News Arabia</string>
			<key>logo</key>
			<string>Sky</string>
			<key>link</key>
			<string>http://radio.skynewsarabia.com/stream/radio/skynewsarabia.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Spice FM 105.4</string>
			<key>logo</key>
			<string>Spice</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/105-4-radio-spice-fm,14766.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Star FM</string>
			<key>logo</key>
			<string>Sta</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/STAR_FM.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/star-fm,16084.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Suno 102.4 FM</string>
			<key>logo</key>
			<string>Suno</string>
			<key>link</key>
			<string>http://50.7.71.27:9693/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/suno-102-4-fm,16091.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tag 91.1 FM</string>
			<key>logo</key>
			<string>Tag</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/TAG911AE.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tamil FM 89.4</string>
			<key>logo</key>
			<string>Tamil</string>
			<key>link</key>
			<string>http://31.14.40.149:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Virgin Radio 104.4 FM</string>
			<key>logo</key>
			<string>Virgin</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/VIRGINRADIO_DUBAI.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/virgin-radio-104-4-fm,10698.m3u</string>
			<key>note</key>
			<string>Top Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Voice of Kerala 1152 VOK</string>
			<key>logo</key>
			<string>Kerala</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/voice-of-kerala-1152-vok,16360.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
	</array>
</dict>
</plist>
