<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1</string>
		<key>Back</key>
		<string>1</string>
		<key>Banner</key>
		<string>1</string>
		<key>Show1</key>
		<string>1</string>
		<key>Show2</key>
		<string>1</string>
		<key>Show3</key>
		<string>1</string>
		<key>Show4</key>
		<string>1</string>
		<key>Alarm</key>
		<string>1</string>
		<key>CustomBanner</key>
		<string>1</string>
		<key>CustomSplash</key>
		<string>1</string>
		<key>Header</key>
		<string>1</string>
		<key>Footer</key>
		<string>1</string>
		<key>Email</key>
		<string>www@vesti.lv</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1</string>
		<key>Developer</key>
		<string>1</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Menu</key>
	<array>
		<string>Top</string>
		<string>News</string>
		<string>Local</string>
		<string>Classic</string>
		<string>Music</string>
		<string>Sport</string>
		<string>Talk</string>
		<string>Youth</string>
		<string>Oldies</string>
	</array>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>SRF 1 Ostschweiz</string>
			<key>logo</key>
			<string>Ostschweiz</string>
			<key>link</key>
			<string>http://stream.srg-ssr.ch/regi_ost/mp3_128.m3u</string>
			<key>http</key>
			<string>http://stream.srg-ssr.ch/regi_ost/aacp_32.m3u</string>
			<key>note</key>
			<string>St.Gallen</string>
		</dict>
		<dict>
			<key>name</key>
			<string>SRF 1 Zentralschweiz</string>
			<key>logo</key>
			<string>Zentralschweiz</string>
			<key>link</key>
			<string>http://stream.srg-ssr.ch/regi_zentr/mp3_128.m3u</string>
			<key>http</key>
			<string>http://stream.srg-ssr.ch/regi_zentr/aacp_32.m3u</string>
			<key>note</key>
			<string>Luzern</string>
		</dict>
		<dict>
			<key>name</key>
			<string>SRF 1 Zürich Schaffhausen</string>
			<key>logo</key>
			<string>Schaffhausen</string>
			<key>link</key>
			<string>http://stream.srg-ssr.ch/regi_zh_sh/mp3_128.m3u</string>
			<key>http</key>
			<string>http://stream.srg-ssr.ch/regi_zh_sh/aacp_32.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>SRF 2 Kultur</string>
			<key>logo</key>
			<string>Kultur</string>
			<key>link</key>
			<string>http://stream.srg-ssr.ch/drs2/mp3_128.m3u</string>
			<key>http</key>
			<string>http://stream.srg-ssr.ch/drs2/aacp_32.m3u</string>
			<key>note</key>
			<string>Culture / Classical / Jazz</string>
		</dict>
		<dict>
			<key>name</key>
			<string>SRF 3</string>
			<key>logo</key>
			<string>3</string>
			<key>link</key>
			<string>http://stream.srg-ssr.ch/drs3/mp3_128.m3u</string>
			<key>http</key>
			<string>http://stream.srg-ssr.ch/drs3/aacp_32.m3u</string>
			<key>note</key>
			<string>Rock / Pop / Entertainment</string>
		</dict>
		<dict>
			<key>name</key>
			<string>SRF 4 News</string>
			<key>logo</key>
			<string>4</string>
			<key>link</key>
			<string>http://stream.srg-ssr.ch/drs4news/mp3_128.m3u</string>
			<key>http</key>
			<string>http://stream.srg-ssr.ch/drs4news/aacp_32.m3u</string>
			<key>note</key>
			<string>News / Information</string>
		</dict>
		<dict>
			<key>name</key>
			<string>SRF Virus</string>
			<key>logo</key>
			<string>Virus</string>
			<key>link</key>
			<string>http://stream.srg-ssr.ch/drsvirus/mp3_128.m3u</string>
			<key>http</key>
			<string>http://stream.srg-ssr.ch/drsvirus/aacp_32.m3u</string>
			<key>note</key>
			<string>Youth programmes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>SRF Musikwelle</string>
			<key>logo</key>
			<string>Musikwelle</string>
			<key>link</key>
			<string>http://stream.srg-ssr.ch/drsmw/mp3_128.m3u</string>
			<key>http</key>
			<string>http://stream.srg-ssr.ch/drsmw/aacp_32.m3u</string>
			<key>note</key>
			<string>Traditional/folk music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>SRG SSR Radio Swiss Pop</string>
			<key>logo</key>
			<string>Pop</string>
			<key>link</key>
			<string>http://stream.srg-ssr.ch/rsp/mp3_128.m3u</string>
			<key>http</key>
			<string>http://www.radioswisspop.ch/live/aacp32.m3u</string>
			<key>note</key>
			<string>Pop/Hits</string>
		</dict>
		<dict>
			<key>name</key>
			<string>SRG SSR Radio Swiss Jazz</string>
			<key>logo</key>
			<string>SRG</string>
			<key>link</key>
			<string>http://stream.srg-ssr.ch/rsj/mp3_128.m3u</string>
			<key>http</key>
			<string>http://www.radioswissjazz.ch/live/aacp32.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>SRG SSR Radio Swiss Classic</string>
			<key>logo</key>
			<string>SSR</string>
			<key>link</key>
			<string>http://stream.srg-ssr.ch/rsc_de/mp3_128.m3u</string>
			<key>http</key>
			<string>http://www.radioswissclassic.ch/live/aacp32.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>SRG SSR Radio Suisse Classique</string>
			<key>logo</key>
			<string>Classique</string>
			<key>link</key>
			<string>http://stream.srg-ssr.ch/rsc_fr/mp3_128.m3u</string>
			<key>http</key>
			<string>http://www.radiosuisseclassique.ch/live/aacp32.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>SRG SSR Radio Svizzera Classica</string>
			<key>logo</key>
			<string>Classica</string>
			<key>link</key>
			<string>http://stream.srg-ssr.ch/rsc_it/mp3_128.m3u</string>
			<key>http</key>
			<string>http://www.radiosvizzeraclassica.ch/live/aacp32.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>RTR Radio Rumantsch</string>
			<key>logo</key>
			<string>Rumantsch</string>
			<key>link</key>
			<string>http://stream.srg-ssr.ch/rr/mp3_128.m3u</string>
			<key>http</key>
			<string>http://stream.srg-ssr.ch/rr/aacp_96.m3u</string>
			<key>note</key>
			<string>Chur</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RSR La Premiere</string>
			<key>logo</key>
			<string>Premiere</string>
			<key>link</key>
			<string>http://stream.srg-ssr.ch/la-1ere/mp3_128.m3u</string>
			<key>http</key>
			<string>http://stream.srg-ssr.ch/la-1ere/aacp_32.m3u</string>
			<key>note</key>
			<string>News/Features (Lausanne)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RSR Espace 2</string>
			<key>logo</key>
			<string>Espace</string>
			<key>link</key>
			<string>http://stream.srg-ssr.ch/espace-2/mp3_128.m3u</string>
			<key>http</key>
			<string>http://stream.srg-ssr.ch/espace-2/aacp_32.m3u</string>
			<key>note</key>
			<string>Culture/Classical/Jazz (Lausanne)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RSR Couleur 3</string>
			<key>logo</key>
			<string>Couleur</string>
			<key>link</key>
			<string>http://stream.srg-ssr.ch/couleur3/mp3_128.m3u</string>
			<key>http</key>
			<string>http://stream.srg-ssr.ch/couleur3/aacp_32.m3u</string>
			<key>note</key>
			<string>Rock/Pop/Entertainment (Lausanne)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RSR Option Musique</string>
			<key>logo</key>
			<string>Musique</string>
			<key>link</key>
			<string>http://stream.srg-ssr.ch/option-musique/mp3_128.m3u</string>
			<key>http</key>
			<string>http://stream.srg-ssr.ch/option-musique/aacp_32.m3u</string>
			<key>note</key>
			<string>Hits (Lausanne)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RSI Rete Uno</string>
			<key>logo</key>
			<string>Uno</string>
			<key>link</key>
			<string>http://stream.srg-ssr.ch/reteuno/mp3_128.m3u</string>
			<key>http</key>
			<string>http://stream.srg-ssr.ch/reteuno/aacp_32.m3u</string>
			<key>note</key>
			<string>News/Features (Lugano)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RSI Rete Due</string>
			<key>logo</key>
			<string>Due</string>
			<key>link</key>
			<string>http://stream.srg-ssr.ch/retedue/mp3_128.m3u</string>
			<key>http</key>
			<string>http://stream.srg-ssr.ch/retedue/aacp_32.m3u</string>
			<key>note</key>
			<string>Culture/Classical/Jazz (Lugano)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RSI Rete Tre</string>
			<key>logo</key>
			<string>Tre</string>
			<key>link</key>
			<string>http://stream.srg-ssr.ch/retetre/mp3_128.m3u</string>
			<key>http</key>
			<string>http://stream.srg-ssr.ch/retetre/aacp_32.m3u</string>
			<key>note</key>
			<string>Rock/Pop/Entertainment (Lugano)</string>
		</dict>
	</array>
</dict>
</plist>
