<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1560639048</string>
		<key>Back</key>
		<string>8764341647</string>
		<key>Banner</key>
		<string>7639710662</string>
		<key>Show1</key>
		<string>9015198052</string>
		<key>Show2</key>
		<string>5431176269</string>
		<key>Show3</key>
		<string>3351807836</string>
		<key>Show4</key>
		<string>4090174438</string>
		<key>Alarm</key>
		<string>1244519249</string>
		<key>CustomBanner</key>
		<string>5922130857</string>
		<key>CustomSplash</key>
		<string>9574860439</string>
		<key>Header</key>
		<string>2721252444</string>
		<key>Footer</key>
		<string>7343023731</string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string>1207399807</string>
		<key>Application</key>
		<string>1425737734</string>
		<key>Developer</key>
		<string>1239592099</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>SRF 1</string>
			<key>logo</key>
			<string>SRF</string>
			<key>link</key>
			<string>http://stream.srg-ssr.ch/drs1/mp3_128.m3u</string>
			<key>http</key>
			<string>http://stream.srg-ssr.ch/drs1/aacp_32.m3u</string>
			<key>note</key>
			<string>Basel</string>
		</dict>
		<dict>
			<key>name</key>
			<string>SRF 1 Aargau Solothurn</string>
			<key>logo</key>
			<string>Aargau</string>
			<key>link</key>
			<string>http://stream.srg-ssr.ch/regi_ag_so/mp3_128.m3u</string>
			<key>http</key>
			<string>http://stream.srg-ssr.ch/regi_ag_so/aacp_32.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>SRF 1 Basel Baselland</string>
			<key>logo</key>
			<string>Basel</string>
			<key>link</key>
			<string>http://stream.srg-ssr.ch/regi_bs_bl/mp3_128.m3u</string>
			<key>http</key>
			<string>http://stream.srg-ssr.ch/regi_bs_bl/aacp_32.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>SRF 1 Bern Freibourg Wallis</string>
			<key>logo</key>
			<string>Wallis</string>
			<key>link</key>
			<string>http://stream.srg-ssr.ch/regi_be_fr_vs/mp3_128.m3u</string>
			<key>http</key>
			<string>http://stream.srg-ssr.ch/regi_be_fr_vs/aacp_32.m3u</string>
			<key>note</key>
			<string>News / Features</string>
		</dict>
		<dict>
			<key>name</key>
			<string>SRF 1 Ostschweiz</string>
			<key>logo</key>
			<string>Ostschweiz</string>
			<key>link</key>
			<string>http://stream.srg-ssr.ch/regi_ost/mp3_128.m3u</string>
			<key>http</key>
			<string>http://stream.srg-ssr.ch/regi_ost/aacp_32.m3u</string>
			<key>note</key>
			<string>St.Gallen</string>
		</dict>
		<dict>
			<key>name</key>
			<string>SRF 1 Zentralschweiz</string>
			<key>logo</key>
			<string>Zentralschweiz</string>
			<key>link</key>
			<string>http://stream.srg-ssr.ch/regi_zentr/mp3_128.m3u</string>
			<key>http</key>
			<string>http://stream.srg-ssr.ch/regi_zentr/aacp_32.m3u</string>
			<key>note</key>
			<string>Luzern</string>
		</dict>
		<dict>
			<key>name</key>
			<string>SRF 1 Zürich Schaffhausen</string>
			<key>logo</key>
			<string>Schaffhausen</string>
			<key>link</key>
			<string>http://stream.srg-ssr.ch/regi_zh_sh/mp3_128.m3u</string>
			<key>http</key>
			<string>http://stream.srg-ssr.ch/regi_zh_sh/aacp_32.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>SRF 2 Kultur</string>
			<key>logo</key>
			<string>Kultur</string>
			<key>link</key>
			<string>http://stream.srg-ssr.ch/drs2/mp3_128.m3u</string>
			<key>http</key>
			<string>http://stream.srg-ssr.ch/drs2/aacp_32.m3u</string>
			<key>note</key>
			<string>Culture / Classical / Jazz</string>
		</dict>
		<dict>
			<key>name</key>
			<string>SRF 3</string>
			<key>logo</key>
			<string>3</string>
			<key>link</key>
			<string>http://stream.srg-ssr.ch/drs3/mp3_128.m3u</string>
			<key>http</key>
			<string>http://stream.srg-ssr.ch/drs3/aacp_32.m3u</string>
			<key>note</key>
			<string>Rock / Pop / Entertainment</string>
		</dict>
		<dict>
			<key>name</key>
			<string>SRF 4 News</string>
			<key>logo</key>
			<string>4</string>
			<key>link</key>
			<string>http://stream.srg-ssr.ch/drs4news/mp3_128.m3u</string>
			<key>http</key>
			<string>http://stream.srg-ssr.ch/drs4news/aacp_32.m3u</string>
			<key>note</key>
			<string>News / Information</string>
		</dict>
		<dict>
			<key>name</key>
			<string>SRF Virus</string>
			<key>logo</key>
			<string>Virus</string>
			<key>link</key>
			<string>http://stream.srg-ssr.ch/drsvirus/mp3_128.m3u</string>
			<key>http</key>
			<string>http://stream.srg-ssr.ch/drsvirus/aacp_32.m3u</string>
			<key>note</key>
			<string>Youth programmes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>SRF Musikwelle</string>
			<key>logo</key>
			<string>Musikwelle</string>
			<key>link</key>
			<string>http://stream.srg-ssr.ch/drsmw/mp3_128.m3u</string>
			<key>http</key>
			<string>http://stream.srg-ssr.ch/drsmw/aacp_32.m3u</string>
			<key>note</key>
			<string>Traditional/folk music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>SRG SSR Radio Swiss Pop</string>
			<key>logo</key>
			<string>Pop</string>
			<key>link</key>
			<string>http://stream.srg-ssr.ch/rsp/mp3_128.m3u</string>
			<key>http</key>
			<string>http://www.radioswisspop.ch/live/aacp32.m3u</string>
			<key>note</key>
			<string>Pop/Hits</string>
		</dict>
		<dict>
			<key>name</key>
			<string>SRG SSR Radio Swiss Jazz</string>
			<key>logo</key>
			<string>SRG</string>
			<key>link</key>
			<string>http://stream.srg-ssr.ch/rsj/mp3_128.m3u</string>
			<key>http</key>
			<string>http://www.radioswissjazz.ch/live/aacp32.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>SRG SSR Radio Swiss Classic</string>
			<key>logo</key>
			<string>SSR</string>
			<key>link</key>
			<string>http://stream.srg-ssr.ch/rsc_de/mp3_128.m3u</string>
			<key>http</key>
			<string>http://www.radioswissclassic.ch/live/aacp32.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>SRG SSR Radio Suisse Classique</string>
			<key>logo</key>
			<string>Classique</string>
			<key>link</key>
			<string>http://stream.srg-ssr.ch/rsc_fr/mp3_128.m3u</string>
			<key>http</key>
			<string>http://www.radiosuisseclassique.ch/live/aacp32.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>SRG SSR Radio Svizzera Classica</string>
			<key>logo</key>
			<string>Classica</string>
			<key>link</key>
			<string>http://stream.srg-ssr.ch/rsc_it/mp3_128.m3u</string>
			<key>http</key>
			<string>http://www.radiosvizzeraclassica.ch/live/aacp32.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>RTR Radio Rumantsch</string>
			<key>logo</key>
			<string>Rumantsch</string>
			<key>link</key>
			<string>http://stream.srg-ssr.ch/rr/mp3_128.m3u</string>
			<key>http</key>
			<string>http://stream.srg-ssr.ch/rr/aacp_96.m3u</string>
			<key>note</key>
			<string>Chur</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Argovia</string>
			<key>logo</key>
			<string>Argovia</string>
			<key>link</key>
			<string>http://icecast.argovia.ch/argovia128.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Aarau</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Argovia Classic Rock</string>
			<key>logo</key>
			<string>Classic</string>
			<key>link</key>
			<string>http://www.argovia.ch/radio/streams/scr-hq.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Aarau</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Argovia Hit Mix</string>
			<key>logo</key>
			<string>Hit</string>
			<key>link</key>
			<string>http://www.argovia.ch/radio/streams/hm-hq.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Aarau</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Argovia News</string>
			<key>logo</key>
			<string>New</string>
			<key>link</key>
			<string>http://icecast.argovia.ch/argovianews.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Aarau</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Argovia Love</string>
			<key>logo</key>
			<string>Lov</string>
			<key>link</key>
			<string>http://icecast.argovia.ch/argovialove.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Aarau</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Argovia Comedy</string>
			<key>logo</key>
			<string>Comedy</string>
			<key>link</key>
			<string>http://icecast.argovia.ch/argoviacomedy.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Aarau</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Country Radio Switzerland</string>
			<key>logo</key>
			<string>Country</string>
			<key>link</key>
			<string>http://www.countryradio.ch/assets/files/listen.pls</string>
			<key>http</key>
			<string>https://www.countryradio.ch/crs-64.pls</string>
			<key>note</key>
			<string>Schoenenberg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DJ Radio</string>
			<key>logo</key>
			<string>DJ</string>
			<key>link</key>
			<string>http://login.streamplus.de/player.php?spt=4411.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Dance/Club (Zurich)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Energy Zurich</string>
			<key>logo</key>
			<string>Zurich</string>
			<key>link</key>
			<string>http://statslive.infomaniak.ch/playlist/energyzuerich/energyzuerich-high.mp3/playlist.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 30</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Energy Bern</string>
			<key>logo</key>
			<string>Bern</string>
			<key>link</key>
			<string>http://statslive.infomaniak.ch/playlist/energybern/energybern-high.mp3/playlist.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 30</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Energy Basel</string>
			<key>logo</key>
			<string>Energy</string>
			<key>link</key>
			<string>http://energybasel.ice.infomaniak.ch/energybasel-high.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 30</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Energy Black</string>
			<key>logo</key>
			<string>Black</string>
			<key>link</key>
			<string>http://statslive.infomaniak.ch/playlist/energyblack/energyblack-high.mp3/playlist.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>RnB/HipHop (Zurich)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Energy Charts</string>
			<key>logo</key>
			<string>Charts</string>
			<key>link</key>
			<string>http://statslive.infomaniak.ch/playlist/energycharts/energycharts-high.mp3/playlist.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 30 (Zurich)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Energy Elektro</string>
			<key>logo</key>
			<string>Elektro</string>
			<key>link</key>
			<string>http://statslive.infomaniak.ch/playlist/energyelektro/energyelektro-high.mp3/playlist.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Electronic (Zurich)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Energy German</string>
			<key>logo</key>
			<string>German</string>
			<key>link</key>
			<string>http://statslive.infomaniak.ch/playlist/energygerman/energygerman-high.mp3/playlist.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop (Zurich)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Energy Italy</string>
			<key>logo</key>
			<string>Italy</string>
			<key>link</key>
			<string>http://statslive.infomaniak.ch/playlist/energyitaly/energyitaly-high.mp3/playlist.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop (Zurich)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Energy Love</string>
			<key>logo</key>
			<string>Love</string>
			<key>link</key>
			<string>http://statslive.infomaniak.ch/playlist/energylove/energylove-high.mp3/playlist.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Zurich</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Energy Hot</string>
			<key>logo</key>
			<string>Hot</string>
			<key>link</key>
			<string>http://statslive.infomaniak.ch/playlist/energyhot/energyhot-high.mp3/playlist.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 30 (Zurich)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Energy 80s</string>
			<key>logo</key>
			<string>80s</string>
			<key>link</key>
			<string>http://statslive.infomaniak.ch/playlist/energy80s/energy80s-high.mp3/playlist.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Zurich</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Energy 90s</string>
			<key>logo</key>
			<string>90s</string>
			<key>link</key>
			<string>http://statslive.infomaniak.ch/playlist/energy90s/energy90s-high.mp3/playlist.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Zurich</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Energy 00s</string>
			<key>logo</key>
			<string>00s</string>
			<key>link</key>
			<string>http://broadcast.infomaniak.ch/energy00s-high.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Zurich</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Energy Dance</string>
			<key>logo</key>
			<string>Dance</string>
			<key>link</key>
			<string>http://broadcast.infomaniak.ch/energydance-high.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Zurich</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Energy Girl</string>
			<key>logo</key>
			<string>Girl</string>
			<key>link</key>
			<string>http://broadcast.infomaniak.ch/energygirl-high.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 30 (Zurich)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Energy Latin</string>
			<key>logo</key>
			<string>Latin</string>
			<key>link</key>
			<string>http://broadcast.infomaniak.ch/nrjlatin-high.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Zurich</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Energy Live</string>
			<key>logo</key>
			<string>Live</string>
			<key>link</key>
			<string>http://broadcast.infomaniak.ch/energylive-high.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Zurich</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Energy Lounge</string>
			<key>logo</key>
			<string>Lounge</string>
			<key>link</key>
			<string>http://broadcast.infomaniak.ch/energylounge-high.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Zurich</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Energy Mix</string>
			<key>logo</key>
			<string>Mix</string>
			<key>link</key>
			<string>http://broadcast.infomaniak.ch/energymix-high.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>HipHop (Zurich)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Energy Rock</string>
			<key>logo</key>
			<string>Rock</string>
			<key>link</key>
			<string>http://broadcast.infomaniak.ch/energyrock-high.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Zurich</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Energy Soundtrack</string>
			<key>logo</key>
			<string>Soundtrack</string>
			<key>link</key>
			<string>http://broadcast.infomaniak.ch/energysoundtrack-high.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Zurich</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Energy Swiss</string>
			<key>logo</key>
			<string>Swiss</string>
			<key>link</key>
			<string>http://broadcast.infomaniak.ch/energyswiss-high.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Rock/Pop (Zurich)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM1 Nord</string>
			<key>logo</key>
			<string>Nord</string>
			<key>link</key>
			<string>http://www.radiofm1.ch/streaming/fm1sg128.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>St.Gallen</string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM1 Süd</string>
			<key>logo</key>
			<string>Sud</string>
			<key>link</key>
			<string>http://fm1sud.bcast.infomaniak.ch/fm1sud.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Buchs</string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM1 Gold</string>
			<key>logo</key>
			<string>Gold</string>
			<key>link</key>
			<string>http://www.radiofm1.ch/streaming/fm1gold128.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>St.Gallen</string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM1 Hot</string>
			<key>logo</key>
			<string>FM1</string>
			<key>link</key>
			<string>http://www.radiofm1.ch/streaming/fm1hot128.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 30 / RnB (St.Gallen)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kanal K</string>
			<key>logo</key>
			<string>K</string>
			<key>link</key>
			<string>http://82.197.165.150/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Aarau</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Life Channel</string>
			<key>logo</key>
			<string>Channel</string>
			<key>link</key>
			<string>http://www.listenlive.eu/lifechannel.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pfäffikon</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Lounge-Radio.com</string>
			<key>logo</key>
			<string>Radio.com</string>
			<key>link</key>
			<string>http://www.lounge-radio.com/listen128.m3u</string>
			<key>http</key>
			<string>https://lounge-radio.com/aacplus.m3u</string>
			<key>note</key>
			<string>Ambient/Lounge</string>
		</dict>
		<dict>
			<key>name</key>
			<string>neo1</string>
			<key>logo</key>
			<string>neo1</string>
			<key>link</key>
			<string>http://stream-02.zic-network.ch:8000/neo1.m3u</string>
			<key>http</key>
			<string>http://webradio.neo1.ch/neo1</string>
			<key>note</key>
			<string>Pop/Rock (Langnau)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Planet 105</string>
			<key>logo</key>
			<string>105</string>
			<key>link</key>
			<string>http://radio.netstream.ch/planet105_128k_mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 30 (Zurich)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio 1</string>
			<key>logo</key>
			<string>1</string>
			<key>link</key>
			<string>http://radio.netstream.ch/128k.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop/Rock (Zurich)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio 3fach</string>
			<key>logo</key>
			<string>3fach</string>
			<key>link</key>
			<string>http://3fach.ch/wp-content/uploads/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Lucerne</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio 24</string>
			<key>logo</key>
			<string>24</string>
			<key>link</key>
			<string>http://icecast.radio24.ch/radio24.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Zurich</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio 24 Rock</string>
			<key>logo</key>
			<string>24Rock</string>
			<key>link</key>
			<string>http://icecast.radio24.ch/radio24rock.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Zurich</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio 24 Pop</string>
			<key>logo</key>
			<string>24Pop</string>
			<key>link</key>
			<string>http://icecast.radio24.ch/radio24pop.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Zurich</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio 32</string>
			<key>logo</key>
			<string>32</string>
			<key>link</key>
			<string>http://radio32-stream.customer.solnet.ch:8000/radio32.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Solothurn</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio 32 Goldies</string>
			<key>logo</key>
			<string>Goldies</string>
			<key>link</key>
			<string>http://radio32-stream.customer.solnet.ch:8100/radio32goldies.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Solothurn</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Basilisk</string>
			<key>logo</key>
			<string>Basilisk</string>
			<key>link</key>
			<string>http://statslive.infomaniak.com/playlist/ohnewerbung/radiobasilisk-64-128-0.mp3/playlist.m3u</string>
			<key>http</key>
			<string>http://statslive.infomaniak.com/playlist/ohnewerbung/radiobasilisk-64-0.aac/playlist.m3u</string>
			<key>note</key>
			<string>Basel</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio BeO</string>
			<key>logo</key>
			<string>BeO</string>
			<key>link</key>
			<string>http://87.237.169.123:8000/radiobeo.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop, Oldies, Country (Interlaken)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio BERN1</string>
			<key>logo</key>
			<string>BERN1</string>
			<key>link</key>
			<string>http://mp3.radiobern1.ch/radiobern1128k.m3u</string>
			<key>http</key>
			<string>http://aac.radiobern1.ch/radiobern164k.m3u</string>
			<key>note</key>
			<string>Pop/Rock (Berne)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Central</string>
			<key>logo</key>
			<string>Central</string>
			<key>link</key>
			<string>http://195.48.36.34/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Brunnen</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Central Charts</string>
			<key>logo</key>
			<string>Chart</string>
			<key>link</key>
			<string>http://sp1128.mp3.green.ch/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 30 (Brunnen)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Central Swiss</string>
			<key>logo</key>
			<string>Swis</string>
			<key>link</key>
			<string>http://sp3128.mp3.green.ch/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Brunnen</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Central Jazz</string>
			<key>logo</key>
			<string>Jazz</string>
			<key>link</key>
			<string>http://sp4128.mp3.green.ch/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Brunnen</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Central HipHop</string>
			<key>logo</key>
			<string>HipHop</string>
			<key>link</key>
			<string>http://sp5128.mp3.green.ch/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Brunnen</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Central Funk</string>
			<key>logo</key>
			<string>Funk</string>
			<key>link</key>
			<string>http://sp6128.mp3.green.ch/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Soul, funk (Brunnen)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Central Rock</string>
			<key>logo</key>
			<string>Roc</string>
			<key>link</key>
			<string>http://sp7128.mp3.green.ch/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Brunnen</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Central Dance</string>
			<key>logo</key>
			<string>Danc</string>
			<key>link</key>
			<string>http://sp8128.mp3.green.ch/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Brunnen</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Central Country</string>
			<key>logo</key>
			<string>Countr</string>
			<key>link</key>
			<string>http://sp9128.mp3.green.ch/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Brunnen</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Central Schlager</string>
			<key>logo</key>
			<string>Schlager</string>
			<key>link</key>
			<string>http://sp9128.mp3.green.ch/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Brunnen</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Freiburg</string>
			<key>logo</key>
			<string>Freiburg</string>
			<key>link</key>
			<string>http://broadcast.infomaniak.ch/radiofreiburg-low.mp3.m3u</string>
			<key>http</key>
			<string>http://broadcast.infomaniak.ch/radiofreiburg-high.mp3.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Gloria</string>
			<key>logo</key>
			<string>Gloria</string>
			<key>link</key>
			<string>http://live-two.dmd2.ch:8080/radiogloria_lo.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Baldegg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Inside</string>
			<key>logo</key>
			<string>Inside</string>
			<key>link</key>
			<string>http://fra.radiostream.de:37499/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop/Dance (Zofingen)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Kaiseregg</string>
			<key>logo</key>
			<string>Kaiseregg</string>
			<key>link</key>
			<string>http://radiokaiseregg128k.ice.infomaniak.ch/playlists/stream128k.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>80s/Pop/Rock (Schwarzsee)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio LoRa 97,5 MHz</string>
			<key>logo</key>
			<string>LoRa</string>
			<key>link</key>
			<string>http://statslive.infomaniak.ch/playlist/lora/lora-192.mp3/playlist.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Zurich</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Melody</string>
			<key>logo</key>
			<string>Melody</string>
			<key>link</key>
			<string>http://www.radiofm1.ch/streaming/fm1melody128.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>St.Gallen</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Monte Carlo Swiss</string>
			<key>logo</key>
			<string>Monte</string>
			<key>link</key>
			<string>http://stream.105.ch:8000/rmc.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Zurich</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Pilatus</string>
			<key>logo</key>
			<string>Pilatus</string>
			<key>link</key>
			<string>http://radiopilatus.bcast.infomaniak.ch/pilatus192.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Lucerne</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio RaBe 95,6</string>
			<key>logo</key>
			<string>RaBe</string>
			<key>link</key>
			<string>http://stream.rabe.ch:8000/livestream/rabe-mid.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Culture (Berne)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Radius</string>
			<key>logo</key>
			<string>Radius</string>
			<key>link</key>
			<string>http://radioradius.ch/radius_quicktime.pls</string>
			<key>http</key>
			<string>http://relay.radio.ethz.ch/radius_winamp.m3u</string>
			<key>note</key>
			<string>Zurich</string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Swiss Internet Radio Classical</string>
			<key>logo</key>
			<string>Classical</string>
			<key>link</key>
			<string>http://www.swissradio.ch/streams/6034.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Swiss Internet Radio Opera</string>
			<key>logo</key>
			<string>Opera</string>
			<key>link</key>
			<string>http://www.swissradio.ch/streams/6060.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Swiss Internet Radio Jazz</string>
			<key>logo</key>
			<string>Internet</string>
			<key>link</key>
			<string>http://www.swissradio.ch/streams/6054.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Swiss Internet Radio Modern Jazz</string>
			<key>logo</key>
			<string>Modern</string>
			<key>link</key>
			<string>http://www.swissradio.ch/streams/6092.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Swiss Internet Radio 80s Pop</string>
			<key>logo</key>
			<string>80</string>
			<key>link</key>
			<string>http://www.radiocrazy.ch/streams/6070.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Swiss Internet Radio Sanctus</string>
			<key>logo</key>
			<string>Sanctus</string>
			<key>link</key>
			<string>http://www.radiocrazy.ch/streams/6080.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
