<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string></string>
		<key>Back</key>
		<string></string>
		<key>Banner</key>
		<string></string>
		<key>Show1</key>
		<string></string>
		<key>Show2</key>
		<string></string>
		<key>Show3</key>
		<string></string>
		<key>Show4</key>
		<string></string>
		<key>Alarm</key>
		<string></string>
		<key>CustomBanner</key>
		<string></string>
		<key>CustomSplash</key>
		<string></string>
		<key>Header</key>
		<string></string>
		<key>Footer</key>
		<string></string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string></string>
		<key>Application</key>
		<string></string>
		<key>Developer</key>
		<string></string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>RTVA Nacional d&apos;Andorra</string>
			<key>logo</key>
			<string>Nacional</string>
			<key>link</key>
			<string>https://videos.rtva.ad/live/rna/playlist.m3u8</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/rna-radio,5994.m3u</string>
			<key>note</key>
			<string>News, Talk, Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Valira 93.3 FM</string>
			<key>logo</key>
			<string>Valira</string>
			<key>link</key>
			<string>http://91.187.93.115:8020/listen.pls?sid=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pròxima FM</string>
			<key>logo</key>
			<string>Proxima</string>
			<key>link</key>
			<string>http://91.187.93.115:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RTVA Andorra Música</string>
			<key>logo</key>
			<string>RTVA</string>
			<key>link</key>
			<string>https://videos.rtva.ad/live/am/playlist.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>SER Principat d&apos;Andorra 102.3 FM</string>
			<key>logo</key>
			<string>SER</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/SER_ANDORRA.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cadena 100 95.0 FM</string>
			<key>logo</key>
			<string>100</string>
			<key>link</key>
			<string>http://cadena100-streamers-mp3.flumotion.com/cope/cadena100.mp3</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/cadena-100-95-0-fm,17589.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Seu 107.2 FM</string>
			<key>logo</key>
			<string>Seu</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-seu-107-2-fm,20128.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RNE Cataluña</string>
			<key>logo</key>
			<string>RNE</string>
			<key>link</key>
			<string>http://rne.rtveradio.cires21.com/rnecat.mp3</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Virgin</string>
			<key>logo</key>
			<string>Virgin</string>
			<key>link</key>
			<string>http://ais-live.cloud-services.paris:8000/virgin.mp3</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRJ</string>
			<key>logo</key>
			<string>NRJ</string>
			<key>link</key>
			<string>http://cdn.nrjaudio.fm/audio1/fr/30001/mp3_128.mp3?origine=tune-in-radio</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fun</string>
			<key>logo</key>
			<string>Fun</string>
			<key>link</key>
			<string>http://streaming.radio.funradio.fr/fun-1-44-128.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nostalgie</string>
			<key>logo</key>
			<string>Nostalgie</string>
			<key>link</key>
			<string>http://185.52.127.160/fr/30601/mp3_128.mp3?origine=tune-in-radio</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Oldies Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC World Service</string>
			<key>logo</key>
			<string>BBC</string>
			<key>link</key>
			<string>http://www.bbc.co.uk/worldservice/meta/live/mp3/eneuk.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RFI</string>
			<key>logo</key>
			<string>RFI</string>
			<key>link</key>
			<string>http://icepe1.infomaniak.ch/rfimonde-96k.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Maria</string>
			<key>logo</key>
			<string>Maria</string>
			<key>link</key>
			<string>http://dreamsiteradiocp.com:8024/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk</string>
		</dict>
	</array>
</dict>
</plist>
