<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1</string>
		<key>Back</key>
		<string>1</string>
		<key>Banner</key>
		<string>1886804033</string>
		<key>Show1</key>
		<string>1</string>
		<key>Show2</key>
		<string>1</string>
		<key>Show3</key>
		<string>1</string>
		<key>Show4</key>
		<string>1</string>
		<key>Alarm</key>
		<string>1</string>
		<key>CustomBanner</key>
		<string>1</string>
		<key>CustomSplash</key>
		<string>1</string>
		<key>Header</key>
		<string>1</string>
		<key>Footer</key>
		<string>1</string>
		<key>Email</key>
		<string>www@vesti.lv</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1</string>
		<key>Developer</key>
		<string>1</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Radio Focus Sofia</string>
			<key>logo</key>
			<string>Focus</string>
			<key>link</key>
			<string>http://online.focus-radio.net:8100/sofia.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News/information/music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Focus Kustendil</string>
			<key>logo</key>
			<string>Kustendil</string>
			<key>link</key>
			<string>http://online.focus-radio.net:8100/kn.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Focus Pirin</string>
			<key>logo</key>
			<string>Pirin</string>
			<key>link</key>
			<string>http://online.focus-radio.net:8100/pirin.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>BNR1 Program Horizont</string>
			<key>logo</key>
			<string>BNR1</string>
			<key>link</key>
			<string>http://stream.bnr.bg:8102/horizont_low.mp3.m3u</string>
			<key>http</key>
			<string>http://stream.bnr.bg:8002/horizont.mp3.m3u</string>
			<key>note</key>
			<string>News/Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BNR2 Hristo Botev</string>
			<key>logo</key>
			<string>Botev</string>
			<key>link</key>
			<string>http://stream.bnr.bg:8103/botev_low.mp3.m3u</string>
			<key>http</key>
			<string>http://stream.bnr.bg:8003/botev.mp3.m3u</string>
			<key>note</key>
			<string>Culture</string>
		</dict>
		<dict>
			<key>name</key>
			<string>БНР Blagoevgrad</string>
			<key>logo</key>
			<string>Blagoevgrad</string>
			<key>link</key>
			<string>http://195.24.37.210/stream.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>БНР Burgas</string>
			<key>logo</key>
			<string>Burgas</string>
			<key>link</key>
			<string>http://212.95.175.63:8002/listen.pls</string>
			<key>http</key>
			<string>http://212.95.175.63:8000/listen.pls</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>БНР Plovdiv</string>
			<key>logo</key>
			<string>Plovdiv</string>
			<key>link</key>
			<string>http://62.204.136.202:28/live128.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>БНР Shumen</string>
			<key>logo</key>
			<string>Shumen</string>
			<key>link</key>
			<string>http://87.246.38.170:8001/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>БНР Stara Zagora</string>
			<key>logo</key>
			<string>Stara</string>
			<key>link</key>
			<string>http://82.103.99.99:8000/radiosz-low.m3u</string>
			<key>http</key>
			<string>http://82.103.99.99:8000/radiosz.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>БНР Varna</string>
			<key>logo</key>
			<string>Varna</string>
			<key>link</key>
			<string>http://broadcast.masters.bg:8000/live.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>БНР Sofia</string>
			<key>logo</key>
			<string>Sofia</string>
			<key>link</key>
			<string>http://stream.bnr.bg:8105/sofia_low.mp3.m3u</string>
			<key>http</key>
			<string>http://stream.bnr.bg:8005/sofia.mp3.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>БНР Vidin</string>
			<key>logo</key>
			<string>Vidin</string>
			<key>link</key>
			<string>http://89.106.110.85:8003/listen.pls</string>
			<key>http</key>
			<string>http://89.106.110.85:8000/listen.pls</string>
			<key>note</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
