<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>2992312238</string>
		<key>Back</key>
		<string>7068972825</string>
		<key>Banner</key>
		<string>5460948504</string>
		<key>Show1</key>
		<string>5754206947</string>
		<key>Show2</key>
		<string>3481081607</string>
		<key>Show3</key>
		<string>9529800421</string>
		<key>Show4</key>
		<string>8025147067</string>
		<key>Alarm</key>
		<string>5014597076</string>
		<key>CustomBanner</key>
		<string>6301001854</string>
		<key>CustomSplash</key>
		<string>2284491958</string>
		<key>Header</key>
		<string>3291695135</string>
		<key>Footer</key>
		<string>5149386497</string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string>1224178528</string>
		<key>Application</key>
		<string>1424572122</string>
		<key>Developer</key>
		<string>1239592099</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>RAI Radiouno</string>
			<key>logo</key>
			<string>Radiouno</string>
			<key>link</key>
			<string>http://www.listenlive.eu/rai1.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News / Information</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RAI Radiodue</string>
			<key>logo</key>
			<string>Radiodue</string>
			<key>link</key>
			<string>http://www.listenlive.eu/rai2.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Contemporary</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RAI Radiotre</string>
			<key>logo</key>
			<string>Radiotre</string>
			<key>link</key>
			<string>http://www.listenlive.eu/rai3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Classical / Culture</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RAI FD4 Leggera</string>
			<key>logo</key>
			<string>FD4</string>
			<key>link</key>
			<string>http://www.listenlive.eu/rai4.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Jazz / Easy Listening</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RAI FD5 Auditorium</string>
			<key>logo</key>
			<string>FD5</string>
			<key>link</key>
			<string>http://www.listenlive.eu/rai5.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Classical</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RAI Isoradio</string>
			<key>logo</key>
			<string>Isoradio</string>
			<key>link</key>
			<string>http://www.listenlive.eu/rai6.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News / Information / Traffic</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RAI GR Parlamento</string>
			<key>logo</key>
			<string>GR</string>
			<key>link</key>
			<string>http://www.listenlive.eu/rai7.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Italian Parliament</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RAI Italica</string>
			<key>logo</key>
			<string>Italica</string>
			<key>link</key>
			<string>http://www.listenlive.eu/rai8.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>International Service</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RAI Sender Bozen</string>
			<key>logo</key>
			<string>Bozen</string>
			<key>link</key>
			<string>http://www.listenlive.eu/raibz.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Regional Service (German / Ladin), Bolzano</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rai Radio Techete</string>
			<key>logo</key>
			<string>Techete</string>
			<key>link</key>
			<string>http://www.listenlive.eu/rai9.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>History</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rai Radio Live</string>
			<key>logo</key>
			<string>Live</string>
			<key>link</key>
			<string>http://www.listenlive.eu/rai10.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Rock / Pop</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rai Radio Kids</string>
			<key>logo</key>
			<string>Kids</string>
			<key>link</key>
			<string>http://www.listenlive.eu/rai11.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Kids Music, Trends</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Antenna Radio Esse</string>
			<key>logo</key>
			<string>Esse</string>
			<key>link</key>
			<string>http://s8.mediastreaming.it:7580/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Siena</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Die Antenne</string>
			<key>logo</key>
			<string>Die</string>
			<key>link</key>
			<string>http://server2.digital-webstream.de:23780/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Lana (Südtirol)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Antenna1</string>
			<key>logo</key>
			<string>Antenna1</string>
			<key>link</key>
			<string>http://s3.mediastreaming.it:7568/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Antenna 2 MyValley</string>
			<key>logo</key>
			<string>MyValley</string>
			<key>link</key>
			<string>http://wma03.fluidstream.net:9070/listen.pls</string>
			<key>http</key>
			<string>http://ice10.fluidstream.net/fluid1001.aac.m3u</string>
			<key>note</key>
			<string>Pop / Information (Clusone)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Antenna Uno</string>
			<key>logo</key>
			<string>Antenna</string>
			<key>link</key>
			<string>http://server.bellaradio.it:8090/a1.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Dance (Catania)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bella Radio</string>
			<key>logo</key>
			<string>Bella</string>
			<key>link</key>
			<string>http://server.bellaradio.it:8090/bellaradio.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Catania</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Centro Suono Sport</string>
			<key>logo</key>
			<string>Suono</string>
			<key>link</key>
			<string>http://www.radiocentrosuono.it:8000/rcss.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Sport / Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CiaoComo Radio</string>
			<key>logo</key>
			<string>CiaoComo</string>
			<key>link</key>
			<string>http://178.32.136.160:8078/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ciccio Riccio</string>
			<key>logo</key>
			<string>Ciccio</string>
			<key>link</key>
			<string>http://onair11.xdevel.com:8198/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Brindisi</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Controradio</string>
			<key>logo</key>
			<string>Controradio</string>
			<key>link</key>
			<string>http://streaming.controradiolive.info:8190/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music / Culture / Local News (Florence)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Country Power Station</string>
			<key>logo</key>
			<string>Country</string>
			<key>link</key>
			<string>http://shoutcast.countrypowerstation.net:2199/tunein/cps.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>US Country Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DeeGay Radio</string>
			<key>logo</key>
			<string>DeeGay</string>
			<key>link</key>
			<string>http://www.deegay.it/deegay.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop / Dance</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DeeGay Classics</string>
			<key>logo</key>
			<string>Classics</string>
			<key>link</key>
			<string>http://www.deegay.it/classic/deegayclassic.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop / Classics</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Delta Radio</string>
			<key>logo</key>
			<string>Delta</string>
			<key>link</key>
			<string>http://wma02.fluidstream.net:7209/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News / Information / Music (Porto Tolle)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Easy Network</string>
			<key>logo</key>
			<string>Easy</string>
			<key>link</key>
			<string>http://str01.fluidstream.net:6030/listen.pls</string>
			<key>http</key>
			<string>http://wma02.fluidstream.net:6030/listen.pls</string>
			<key>note</key>
			<string>Padova</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ElleRadio</string>
			<key>logo</key>
			<string>ElleRadio</string>
			<key>link</key>
			<string>http://178.32.136.160:8104/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News / Information / Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM Italia</string>
			<key>logo</key>
			<string>FMItalia</string>
			<key>link</key>
			<string>http://onair7.xdevel.com:8700/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop (Siracusa)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Gamma Radio</string>
			<key>logo</key>
			<string>Gamma</string>
			<key>link</key>
			<string>http://nr9.newradio.it:9071/listen.pls?sid=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Ponsacco</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Golden Radio Italia</string>
			<key>logo</key>
			<string>Golden1</string>
			<key>link</key>
			<string>http://www.goldenradio.it/listen.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>80s music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Golden Hit Radio</string>
			<key>logo</key>
			<string>Golden2</string>
			<key>link</key>
			<string>http://www.goldenradio.it/hitradio/hr128.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 30</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Italia Radio</string>
			<key>logo</key>
			<string>Italia</string>
			<key>link</key>
			<string>http://players.fluidstream.net/easy4trafic.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Salemi</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Latte Miele</string>
			<key>logo</key>
			<string>Latte</string>
			<key>link</key>
			<string>http://players.fluidstream.net/lattemiele.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Ascoli</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Lazio Style Radio</string>
			<key>logo</key>
			<string>Lazio</string>
			<key>link</key>
			<string>http://176.31.117.120:8221/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>LifeGate Radio</string>
			<key>logo</key>
			<string>LifeGate</string>
			<key>link</key>
			<string>http://onair15.xdevel.com:8254/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Rock / Environmental awareness</string>
		</dict>
		<dict>
			<key>name</key>
			<string>m2o</string>
			<key>logo</key>
			<string>m2o</string>
			<key>link</key>
			<string>http://mp3.kataweb.it:8000/M2O.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Dance</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Magic Music Radio</string>
			<key>logo</key>
			<string>Magic</string>
			<key>link</key>
			<string>http://www.gammagioiosa.net/magic.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop / Rock (Gioiosa Jonica)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MultiRadio</string>
			<key>logo</key>
			<string>MultiRadio</string>
			<key>link</key>
			<string>http://multiradio.podzone.org:8008/stream.aac.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 30 (Tolentino)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NBC - Rete Regione</string>
			<key>logo</key>
			<string>NBC</string>
			<key>link</key>
			<string>http://audio1.meway.tv:8016/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop / News (Bolzano)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Onda Libera</string>
			<key>logo</key>
			<string>Onda</string>
			<key>link</key>
			<string>http://s6.mediastreaming.it:9064/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Primaradio Cosenza</string>
			<key>logo</key>
			<string>Cosenza</string>
			<key>link</key>
			<string>http://live.streamingmedia.it/tunein.php/primaradio/playlist.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 30</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Primaradio Napoli</string>
			<key>logo</key>
			<string>Primaradio</string>
			<key>link</key>
			<string>http://kemoniastreaming2.net:8010/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 30</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Primaradio Sicilia</string>
			<key>logo</key>
			<string>Sicilia</string>
			<key>link</key>
			<string>http://188.165.242.32:8126/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Palermo</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Primaradio Piemonte</string>
			<key>logo</key>
			<string>Piemonte</string>
			<key>link</key>
			<string>http://69.60.119.117:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop / Dance / Information (Asti)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Queen Hit Radio</string>
			<key>logo</key>
			<string>Queen</string>
			<key>link</key>
			<string>http://ascolta.no-ip.org:8000/listen.pls</string>
			<key>http</key>
			<string>http://ascolta.no-ip.org:8088/listen.pls</string>
			<key>note</key>
			<string>Top 30 (Lecce)</string>
		</dict>
	</array>
</dict>
</plist>
