<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string></string>
		<key>Main</key>
		<string></string>
		<key>Back</key>
		<string></string>
		<key>Banner</key>
		<string></string>
		<key>Show1</key>
		<string></string>
		<key>Show2</key>
		<string></string>
		<key>Show3</key>
		<string></string>
		<key>Show4</key>
		<string></string>
		<key>Alarm</key>
		<string></string>
		<key>CustomBanner</key>
		<string></string>
		<key>CustomSplash</key>
		<string></string>
		<key>Header</key>
		<string></string>
		<key>Footer</key>
		<string></string>
		<key>Email</key>
		<string>ios.apps.community@gmail.com</string>
		<key>Alternative</key>
		<string></string>
		<key>Application</key>
		<string></string>
		<key>Developer</key>
		<string></string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Menu</key>
	<array>
		<string>Top</string>
		<string>News</string>
		<string>Local</string>
		<string>Classic</string>
		<string>Music</string>
		<string>Sport</string>
		<string>Talk</string>
		<string>Youth</string>
		<string>Oldies</string>
	</array>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>BBC World Service</string>
			<key>logo</key>
			<string>BBC</string>
			<key>link</key>
			<string>http://www.bbc.co.uk/worldservice/meta/live/mp3/eneuk.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Anguilla</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Klass 92.9 FM</string>
			<key>logo</key>
			<string>Klass</string>
			<key>link</key>
			<string>http://s4.streammonster.com:8627/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Anguilla</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Up Beat 97.7 FM</string>
			<key>logo</key>
			<string>Beat</string>
			<key>link</key>
			<string>http://64.150.176.42:8062/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Anguilla</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Voz di Bonaire 94.7 FM</string>
			<key>logo</key>
			<string>Voz</string>
			<key>link</key>
			<string>http://159.203.190.86:8304/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Bonaire</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ZBVI</string>
			<key>logo</key>
			<string>ZBVI</string>
			<key>link</key>
			<string>http://67.228.177.153:1601/ZBVIRadio.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>British Virgin Islands</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ZCBN 92.3 FM - The Breeze</string>
			<key>logo</key>
			<string>ZCBN</string>
			<key>link</key>
			<string>http://195.201.108.182:8020/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>British Virgin Islands</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ZCCR Caribbean Christian Radio 94.1 FM</string>
			<key>logo</key>
			<string>ZCCR</string>
			<key>link</key>
			<string>http://zccrfm.streamon.fm/listen.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>British Virgin Islands</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ZJKC 90.9 FM</string>
			<key>logo</key>
			<string>ZJKC</string>
			<key>link</key>
			<string>http://195.201.108.182:8022/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>British Virgin Islands</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Island 92</string>
			<key>logo</key>
			<string>92</string>
			<key>link</key>
			<string>http://listen.streamon.fm/futuri-preroll/pjil.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Saint Martin</string>
		</dict>
		<dict>
			<key>name</key>
			<string>SXM GOV 107.9 FM</string>
			<key>logo</key>
			<string>SXM</string>
			<key>link</key>
			<string>http://68.168.101.146:8786/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Saint Martin</string>
		</dict>
		<dict>
			<key>name</key>
			<string>88 JAMZ 88.7 FM</string>
			<key>logo</key>
			<string>88</string>
			<key>link</key>
			<string>http://198.143.144.226:8057/stream.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Turks and Caicos</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hope Radio 89.7 FM</string>
			<key>logo</key>
			<string>Hope</string>
			<key>link</key>
			<string>http://s13.myradiostream.com:11912/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Turks and Caicos</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Island FM 93.9</string>
			<key>logo</key>
			<string>Island</string>
			<key>link</key>
			<string>http://s2.voscast.com:11344/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Turks and Caicos</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Power 92.5 FM</string>
			<key>logo</key>
			<string>Power</string>
			<key>link</key>
			<string>http://172.245.56.179:8092/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Turks and Caicos</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Turks and Caicos 89.1 FM</string>
			<key>logo</key>
			<string>Caicos</string>
			<key>link</key>
			<string>http://sc27.streamhoster.com/lv_rtc107fm--broadcast1.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Turks and Caicos</string>
		</dict>
	</array>
</dict>
</plist>
