<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string></string>
		<key>Back</key>
		<string></string>
		<key>Banner</key>
		<string></string>
		<key>Show1</key>
		<string></string>
		<key>Show2</key>
		<string></string>
		<key>Show3</key>
		<string></string>
		<key>Show4</key>
		<string></string>
		<key>Alarm</key>
		<string></string>
		<key>CustomBanner</key>
		<string></string>
		<key>CustomSplash</key>
		<string></string>
		<key>Header</key>
		<string></string>
		<key>Footer</key>
		<string></string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string></string>
		<key>Application</key>
		<string></string>
		<key>Developer</key>
		<string></string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>2 (البرنامج الثاني)97.5 </string>
			<key>logo</key>
			<string>2</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-kuwait-2,17746.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>98.9 القرآن الكريم / AlQuran Alkarem 98.9</string>
			<key>logo</key>
			<string>Alkarem</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-kuwait-koran,4260.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>ايزي اف ام Easy 92.5</string>
			<key>logo</key>
			<string>Easy</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-kuwait-easy-92-5-fm,18880.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/fm-92-5,4262.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hona Kuwait FM 93.9</string>
			<key>logo</key>
			<string>Hona</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-hona-kuwait,17745.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Marina FM 88.8	</string>
			<key>logo</key>
			<string>Marina</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/marina-fm-88-8,10233.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Salmiya (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kuwait Arabic Music 87.9 الغناء العربي القديم</string>
			<key>logo</key>
			<string>Arabic</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-kuwait-arabic-music,13311.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kuwait FM</string>
			<key>logo</key>
			<string>Kuwai</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-kuwait-fm,4261.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kuwait FM 99.7 Super Station</string>
			<key>logo</key>
			<string>Station</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-kuwait-fm-99-7-super-station,17307.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kuwait Shaabya</string>
			<key>logo</key>
			<string>Shaabya</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-kuwait-shaabya,17744.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kuwait Main</string>
			<key>logo</key>
			<string>Main</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-kuwait-main,4259.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
