<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string></string>
		<key>Back</key>
		<string></string>
		<key>Banner</key>
		<string></string>
		<key>Show1</key>
		<string></string>
		<key>Show2</key>
		<string></string>
		<key>Show3</key>
		<string></string>
		<key>Show4</key>
		<string></string>
		<key>Alarm</key>
		<string></string>
		<key>CustomBanner</key>
		<string></string>
		<key>CustomSplash</key>
		<string></string>
		<key>Header</key>
		<string></string>
		<key>Footer</key>
		<string></string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string></string>
		<key>Application</key>
		<string></string>
		<key>Developer</key>
		<string></string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>101.5 FM</string>
			<key>logo</key>
			<string>101</string>
			<key>link</key>
			<string>http://s2.voscast.com:10512/;stream.mp3</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Island 92</string>
			<key>logo</key>
			<string>92</string>
			<key>link</key>
			<string>http://listen.streamon.fm/futuri-preroll/pjil.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Laser 101.1 FM</string>
			<key>logo</key>
			<string>Laser</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/laser-101-1-fm,12195.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>OASIS 96.3 FM</string>
			<key>logo</key>
			<string>OASIS</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/oasis-96-3fm,12194.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pearl 98.1 FM</string>
			<key>logo</key>
			<string>Pearl</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/pearl-fm-98-1,12191.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Power 102.7 FM</string>
			<key>logo</key>
			<string>Power</string>
			<key>link</key>
			<string>http://stream.sxmradio.com:8060/channel3.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>SXM GOV 107.9 FM</string>
			<key>logo</key>
			<string>SXM</string>
			<key>link</key>
			<string>http://68.168.101.146:8786/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tropixx 105.5 FM</string>
			<key>logo</key>
			<string>Tropixx</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/tropixx-105-5-fm,12196.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Voice of Sint Marteen</string>
			<key>logo</key>
			<string>Sint</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/voice-of-sint-marteen,12192.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/1300-am,12193.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
