<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>4808834744</string>
		<key>Back</key>
		<string>1110274644</string>
		<key>Banner</key>
		<string>5787886255</string>
		<key>Show1</key>
		<string>REMOVED</string>
		<key>Show2</key>
		<string>REMOVED</string>
		<key>Show3</key>
		<string>REMOVED</string>
		<key>Show4</key>
		<string>REMOVED</string>
		<key>Alarm</key>
		<string>4042547986</string>
		<key>CustomBanner</key>
		<string>8169495256</string>
		<key>CustomSplash</key>
		<string>1291782631</string>
		<key>Header</key>
		<string>8907861850</string>
		<key>Footer</key>
		<string>2150881819</string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string>1366618088</string>
		<key>Application</key>
		<string>1448267190</string>
		<key>Developer</key>
		<string>1239592099</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Éxitos 80/90 Radioscura</string>
			<key>logo</key>
			<string>Radioscura</string>
			<key>link</key>
			<string>http://www.oscura.cl/wp-content/plugins//media-buttons/playlist.php?ip=5.9.65.9:8085&amp;mountpoint=&amp;format=M3U</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://5.9.65.9:8014/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string>90s</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Nuevo Tiempo</string>
			<key>logo</key>
			<string>Nuevo</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://streaming.nuevotiempo.cl:8000/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://streaming.nuevotiempo.cl:8000/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Caramelo</string>
			<key>logo</key>
			<string>Caramelo</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://190.196.10.197:8120/listen.pls&amp;t=.m3u</string>
			<key>http</key>
			<string>http://sc6.digitalproserver.com:8120/;stream.mp3</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM Mix</string>
			<key>logo</key>
			<string>Mix</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://190.3.169.87:9800/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://190.3.169.87:9800/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Top</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Sinfonia Online</string>
			<key>logo</key>
			<string>Sinfonia</string>
			<key>link</key>
			<string>http://5.9.65.9:8240/listen.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://5.9.65.9:8240/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Eclipse Net 1 - Bossa Nova and Jazz</string>
			<key>logo</key>
			<string>Bossa</string>
			<key>link</key>
			<string>http://centova.neonetwork.cl:2199/tunein/eclipse1.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://5.9.65.9:8044/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Jazz Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Eclipse Net 1 - Party Zone</string>
			<key>logo</key>
			<string>Party</string>
			<key>link</key>
			<string>http://centova.neonetwork.cl:2199/tunein/eclipse2.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Eclipse Net 1 - Romantic Classic</string>
			<key>logo</key>
			<string>Romantic</string>
			<key>link</key>
			<string>http://centova.neonetwork.cl:2199/tunein/eclipse3.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Folclor de Chile</string>
			<key>logo</key>
			<string>Folclor</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://144.217.203.184:8837/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://144.217.203.184:8837/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pop Music Chile</string>
			<key>logo</key>
			<string>Pop</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://46.4.33.73:5196/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://46.4.33.73:5196/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Huintil - Choapa 97.7</string>
			<key>logo</key>
			<string>Choapa</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://208.85.5.254:7466/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://208.85.5.254:7466/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Style FM Chile</string>
			<key>logo</key>
			<string>Style</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.49.65.42:10408/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.49.65.42:10408/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dance FM Chile</string>
			<key>logo</key>
			<string>Dance</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://162.252.57.90:9332/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://162.252.57.90:9332/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>AMAPOLA</string>
			<key>logo</key>
			<string>AMAPOLA</string>
			<key>link</key>
			<string>http://streaming.chiloestreaming.com:9644/listen.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.15.77.50:9644/listen.pls&amp;t=.pls</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>PuraChilera</string>
			<key>logo</key>
			<string>PuraChilera</string>
			<key>link</key>
			<string>http://198.245.60.208:1935/sca/scastream11/playlist.m3u</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://178.33.115.87:7790/listen.pls?sid=1&amp;t=.pls</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>FunMusic</string>
			<key>logo</key>
			<string>FunMusic</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://149.56.175.167:5558/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://149.56.175.167:5558/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Continente</string>
			<key>logo</key>
			<string>Continente</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.99.18.164:9816/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.99.18.164:9816/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Oldies</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rock Chileno</string>
			<key>logo</key>
			<string>Chileno</string>
			<key>link</key>
			<string>https://cp9.shoutcheap.com:2199/tunein/radioroc.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://108.163.197.114:8113/listen.pls?sid=1&amp;t=.pls</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Apostoles de la Palabra</string>
			<key>logo</key>
			<string>Apostoles</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://46.4.33.73:9318/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://46.4.33.73:9318/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Somos Chile</string>
			<key>logo</key>
			<string>Somos</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://5.9.65.9:8120/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://5.9.65.9:8120/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cosmos</string>
			<key>logo</key>
			<string>Cosmos</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.99.18.164:9718/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.99.18.164:9718/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pulsar</string>
			<key>logo</key>
			<string>Pulsar</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://185.193.112.155:18090/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://185.193.112.155:18090/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Top</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cronos</string>
			<key>logo</key>
			<string>Cronos</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.7.58.248:8251/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.7.58.248:8251/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RADIO VOZ EVANGÉLICA FUEGO SANTO</string>
			<key>logo</key>
			<string>VOZ</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://170.75.146.162:8928/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://170.75.146.162:8928/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Minagri</string>
			<key>logo</key>
			<string>Minagri</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://190.3.169.87:9338/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://190.3.169.87:9338/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
