<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>4808834744</string>
		<key>Back</key>
		<string>1110274644</string>
		<key>Banner</key>
		<string>5787886255</string>
		<key>Show1</key>
		<string>REMOVED</string>
		<key>Show2</key>
		<string>REMOVED</string>
		<key>Show3</key>
		<string>REMOVED</string>
		<key>Show4</key>
		<string>REMOVED</string>
		<key>Alarm</key>
		<string>4042547986</string>
		<key>CustomBanner</key>
		<string>8169495256</string>
		<key>CustomSplash</key>
		<string>1291782631</string>
		<key>Header</key>
		<string>8907861850</string>
		<key>Footer</key>
		<string>2150881819</string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string>1366618088</string>
		<key>Application</key>
		<string>1448267190</string>
		<key>Developer</key>
		<string>1239592099</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Lubna 90.3 FM</string>
			<key>logo</key>
			<string>Lubna</string>
			<key>link</key>
			<string>http://sonicpanel.mediostream.cl:8056/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>40 Principales 95.2 FM</string>
			<key>logo</key>
			<string>40</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/40-principales-95-2-fm,10579.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ADN 91.7 FM</string>
			<key>logo</key>
			<string>ADN</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/ADN.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/adn-radio-chile-91-7,14291.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Aguamarina FM 100.5</string>
			<key>logo</key>
			<string>Aguamarina</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/aguamarina-fm,19738.m3u</string>
			<key>http</key>
			<string>http://sonando.us.digitalproserver.com/aguamarina.aac</string>
			<key>note</key>
			<string>Tomé (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Alborada 107.7 FM</string>
			<key>logo</key>
			<string>Alborada</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/alborada-107-7-fm,665.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music (Chillan, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Armonia</string>
			<key>logo</key>
			<string>Armonia</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/armonia,13912.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Beethoven 96.5 FM</string>
			<key>logo</key>
			<string>Beethoven</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/beethoven-96-5-fm,666.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bio-Bio</string>
			<key>logo</key>
			<string>Bio</string>
			<key>link</key>
			<string>https://unlimited4-us.dps.live/biobiosantiago/aac/icecast.audio</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/bio-bio-la-radio-98-1-fm,10576.m3u</string>
			<key>note</key>
			<string>Music (Concepción, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bravissima 88.7 FM</string>
			<key>logo</key>
			<string>Bravissima</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/bravissima-88-7-fm,10581.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Iquique (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Canal 95.1 FM</string>
			<key>logo</key>
			<string>Canal</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/canal-95-1-fm,669.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music (Antofagastas, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Carolina 99.3 FM</string>
			<key>logo</key>
			<string>Carolina</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/carolina-99-3-fm,670.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Centro FM 103.3</string>
			<key>logo</key>
			<string>Centro</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/centro-fm,9648.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Antofagastas (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Colo Colo 107.5 FM</string>
			<key>logo</key>
			<string>Colo</string>
			<key>link</key>
			<string>https://player.tustreaming.cl/radios/?pl=winamp&amp;c=colocoloweb</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/colo-colo-107-5-fm,673.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Concierto 88.5 FM</string>
			<key>logo</key>
			<string>Concierto</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/concierto-88-5-fm,674.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Corazón 101.3 FM</string>
			<key>logo</key>
			<string>Corazon</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/corazon-101-3-fm,675.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Digital FM</string>
			<key>logo</key>
			<string>Digital</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/digital-fm,10585.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Arica (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Duna 89.7 FM</string>
			<key>logo</key>
			<string>Duna</string>
			<key>link</key>
			<string>http://unlimited4-us.dps.live/duna/aac/icecast.audio</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/duna-89-7-fm,676.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>El Conquistador 91.3 FM</string>
			<key>logo</key>
			<string>Conquistador</string>
			<key>link</key>
			<string>https://stream10.usastreams.com/9314/stream/;</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/el-conquistador-91-3-fm,677.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM Dos 98.5 FM</string>
			<key>logo</key>
			<string>Dos</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/fm-dos-98-5-fm,10580.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM Mas 89.1</string>
			<key>logo</key>
			<string>Mas</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/fm-mas-89-1,680.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM Okey 101.3</string>
			<key>logo</key>
			<string>Okey</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/fm-okey-101-3,682.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music (Los Andes, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM Stylo 88.9 FM</string>
			<key>logo</key>
			<string>Stylo</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/fm-stylo-88-9-fm,10593.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Quellón (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM TIEMPO 95.9</string>
			<key>logo</key>
			<string>TIEMPO</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/fm-tiempo-95-9,683.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>FUTURO 88.9 FM</string>
			<key>logo</key>
			<string>FUTURO</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/FUTURO.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/futuro-88-9-fm,684.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Horizonte 103.3 FM</string>
			<key>logo</key>
			<string>Horizonte</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/horizonte-103-3-fm,685.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Imagina 88.1 FM</string>
			<key>logo</key>
			<string>Imagina</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/IMAGINA.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/imagina-88-1-fm,686.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Infinita 100.1 FM</string>
			<key>logo</key>
			<string>Infinita</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/infinita-100-1-fm,687.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Isadora 97.7 FM</string>
			<key>logo</key>
			<string>Isadora</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/isadora-97-7-fm,688.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/isadora-fm,9547.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Clave 92.9 FM</string>
			<key>logo</key>
			<string>Clave</string>
			<key>link</key>
			<string>https://unlimited1-us.dps.live/laclavetv/laclavetv.smil/laclavetv/livestream1/playlist.m3u8</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-la-clave-92-9-fm,20052.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Discusion 94.7 FM</string>
			<key>logo</key>
			<string>Discusion</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/la-discusion-94-7-fm,690.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Chillan (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>M80</string>
			<key>logo</key>
			<string>M80</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/m80-radio-online,8627.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Copiapó (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Macarena 99.7 FM</string>
			<key>logo</key>
			<string>Macarena</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/macarena-99-7-fm,10586.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Chillan (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Maria 89.3 FM</string>
			<key>logo</key>
			<string>Maria</string>
			<key>link</key>
			<string>https://dreamsiteradiocp4.com/proxy/rmchile2?mp=/stream</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/maria-89-3-fm,693.m3u</string>
			<key>note</key>
			<string>Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Montecarlo 102.7 FM</string>
			<key>logo</key>
			<string>Montecarlo</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/montecarlo-102-7-fm,694.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>La Serena (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MRG 90.1 FM</string>
			<key>logo</key>
			<string>MRG</string>
			<key>link</key>
			<string>http://streaming.chiloestreaming.com:9548/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/mrg-90-1-fm,10591.m3u</string>
			<key>note</key>
			<string>Music (Chiloe, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chiloé</string>
			<key>logo</key>
			<string>Chiloe</string>
			<key>link</key>
			<string>http://streaming.chiloestreaming.com:9554/listen.pls</string>
			<key>http</key>
			<string>http://198.15.77.50:9554/;</string>
			<key>note</key>
			<string>Music (Chiloe, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nuestra Radio Cristiana NCR</string>
			<key>logo</key>
			<string>Nuestra</string>
			<key>link</key>
			<string>http://www.nuestraradio.org/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/nuestra-radio-cristiana-ncr,11147.m3u</string>
			<key>note</key>
			<string>Calama (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nuevo Mundo 930 AM</string>
			<key>logo</key>
			<string>Mundo</string>
			<key>link</key>
			<string>https://www.radionuevomundo.cl/play/playlist.php?name=listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/nuevo-mundo-930-am,696.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Oasis 102.1 FM</string>
			<key>logo</key>
			<string>Oasis</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/oasis-102-1-fm,697.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pudahuel 90.5 FM</string>
			<key>logo</key>
			<string>Pudahuel</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/PUDAHUEL.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/pudahuel-90-5-fm,700.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>101</string>
			<key>logo</key>
			<string>101</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-101,9573.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>La Union (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Agricultura 92.1 FM</string>
			<key>logo</key>
			<string>Agricultura</string>
			<key>link</key>
			<string>https://unlimited1-us.dps.live/agricultura/gotardis/audio/now/livestream1.m3u8</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-agricultura-92-1-fm,10590.m3u</string>
			<key>note</key>
			<string>Oldies</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Alliance Inter</string>
			<key>logo</key>
			<string>Inter</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-alliance-inter,20208.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Antillanca 103.5 FM</string>
			<key>logo</key>
			<string>Antillanca</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-antillanca-103-5-fm,10592.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Osorno (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Austral 970 AM</string>
			<key>logo</key>
			<string>Austral</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-austral-970-am,19740.m3u</string>
			<key>http</key>
			<string>http://stream5.eltelon.com:8000/austral-am.aac</string>
			<key>note</key>
			<string>Valdivia (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Caribe 104.9 FM</string>
			<key>logo</key>
			<string>Caribe</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-caribe-104-9-fm,11009.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Iquique (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Carnaval 90.1 FM</string>
			<key>logo</key>
			<string>Carnaval</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-carnaval-rancagua-90-1-fm,15240.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Rancagua (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cooperativa</string>
			<key>logo</key>
			<string>Cooperativa</string>
			<key>link</key>
			<string>http://unlimited4-us.dps.live/cooperativafm/aac/icecast.audio</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-cooperativa,14293.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Definitiva FM 90.5</string>
			<key>logo</key>
			<string>Definitiva</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-definitiva,9591.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Tocopilla (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Festival</string>
			<key>logo</key>
			<string>Festival</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-festival,17352.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Viña del Mar (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Gratissima 97.7 FM</string>
			<key>logo</key>
			<string>Gratissima</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-gratissima-97-7-fm,19739.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Puerto Varas (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Maxima</string>
			<key>logo</key>
			<string>Maxima</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-maxima,9569.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Antofagasta (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mia 89.3 FM</string>
			<key>logo</key>
			<string>Mia</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-mia-89-3-fm,10589.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Paulina 89.3 FM</string>
			<key>logo</key>
			<string>Paulina</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-paulina-89-3-fm,10582.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Iquique (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>PERFECCION</string>
			<key>logo</key>
			<string>PERFECCION</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-perfeccion,698.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Lima (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Polar</string>
			<key>logo</key>
			<string>Polar</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-polar,10588.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Punta Arenas (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Simpatia 106.5 FM</string>
			<key>logo</key>
			<string>Simpatia</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-simpatia-106-5-fm,20141.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talagante (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Union – 571.18 FO</string>
			<key>logo</key>
			<string>Union</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-union-571-18-fo,19412.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Tarapaca (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Universal 94.7</string>
			<key>logo</key>
			<string>Universal</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-universal-94-7,10574.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pitrufquén (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ventisqueros 97.7 FM</string>
			<key>logo</key>
			<string>Ventisqueros</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-ventisqueros-97-7-fm,10594.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Coyhaique (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Vida Nueva 133AM</string>
			<key>logo</key>
			<string>Vida</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-vida-nueva-133am,11133.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>RadioActiva 97.1 FM</string>
			<key>logo</key>
			<string>Radioactiva</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/ACTIVA.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radioactiva-97-1-fm,10578.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rock and Pop 94.1</string>
			<key>logo</key>
			<string>and</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/ROCK_AND_POP.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/rock-and-pop-94-1,10575.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Romantica 104.1 FM</string>
			<key>logo</key>
			<string>Romantica</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/romantica-104-1-fm,704.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tele 13 Radio 103.3 FM</string>
			<key>logo</key>
			<string>13</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/tele-13-radio-103-3-fm,18389.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Uchile 102.5 FM</string>
			<key>logo</key>
			<string>Uchile</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-u-de-chile-102-5-fm,702.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-universidad-de-chile-102-5-fm-uchile,19977.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Universo 93.7 FM</string>
			<key>logo</key>
			<string>Universo</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/universo-93-7-fm,10583.m3u</string>
			<key>http</key>
			<string>http://radio.digitalfm.cl:8000/universofm.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Vacaciones 97.5 FM</string>
			<key>logo</key>
			<string>Vacaciones</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/vacaciones-97-5-fm,709.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>El Quisco (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Zero 97.7</string>
			<key>logo</key>
			<string>Zero</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/zero-97-7,711.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Éxitos 80/90 Radioscura</string>
			<key>logo</key>
			<string>Radioscura</string>
			<key>link</key>
			<string>http://www.oscura.cl/wp-content/plugins//media-buttons/playlist.php?ip=5.9.65.9:8085&amp;mountpoint=&amp;format=M3U</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://5.9.65.9:8014/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string>90s Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nuevo Tiempo</string>
			<key>logo</key>
			<string>Nuevo</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://streaming.nuevotiempo.cl:8000/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://streaming.nuevotiempo.cl:8000/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Caramelo</string>
			<key>logo</key>
			<string>Caramelo</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://190.196.10.197:8120/listen.pls&amp;t=.m3u</string>
			<key>http</key>
			<string>http://sc6.digitalproserver.com:8120/;stream.mp3</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM Mix</string>
			<key>logo</key>
			<string>Mix</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://190.3.169.87:9800/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://190.3.169.87:9800/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Top</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sinfonia Online</string>
			<key>logo</key>
			<string>Sinfonia</string>
			<key>link</key>
			<string>http://5.9.65.9:8240/listen.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://5.9.65.9:8240/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Eclipse Net 1 - Bossa Nova and Jazz</string>
			<key>logo</key>
			<string>Bossa</string>
			<key>link</key>
			<string>http://centova.neonetwork.cl:2199/tunein/eclipse1.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://5.9.65.9:8044/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Jazz Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Eclipse Net 1 - Party Zone</string>
			<key>logo</key>
			<string>Party</string>
			<key>link</key>
			<string>http://centova.neonetwork.cl:2199/tunein/eclipse2.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Eclipse Net 1 - Romantic Classic</string>
			<key>logo</key>
			<string>Romantic</string>
			<key>link</key>
			<string>http://centova.neonetwork.cl:2199/tunein/eclipse3.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Folclor de Chile</string>
			<key>logo</key>
			<string>Folclor</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://144.217.203.184:8837/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://144.217.203.184:8837/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pop Music Chile</string>
			<key>logo</key>
			<string>Pop</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://46.4.33.73:5196/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://46.4.33.73:5196/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Huintil - Choapa 97.7</string>
			<key>logo</key>
			<string>Choapa</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://208.85.5.254:7466/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://208.85.5.254:7466/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Style FM Chile</string>
			<key>logo</key>
			<string>Style</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.49.65.42:10408/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.49.65.42:10408/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dance FM Chile</string>
			<key>logo</key>
			<string>Dance</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://162.252.57.90:9332/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://162.252.57.90:9332/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>AMAPOLA</string>
			<key>logo</key>
			<string>AMAPOLA</string>
			<key>link</key>
			<string>http://streaming.chiloestreaming.com:9644/listen.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.15.77.50:9644/listen.pls&amp;t=.pls</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>PuraChilera</string>
			<key>logo</key>
			<string>PuraChilera</string>
			<key>link</key>
			<string>http://198.245.60.208:1935/sca/scastream11/playlist.m3u</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://178.33.115.87:7790/listen.pls?sid=1&amp;t=.pls</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>FunMusic</string>
			<key>logo</key>
			<string>FunMusic</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://149.56.175.167:5558/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://149.56.175.167:5558/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Continente</string>
			<key>logo</key>
			<string>Continente</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.99.18.164:9816/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.99.18.164:9816/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Oldies</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rock Chileno</string>
			<key>logo</key>
			<string>Chileno</string>
			<key>link</key>
			<string>https://cp9.shoutcheap.com:2199/tunein/radioroc.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://108.163.197.114:8113/listen.pls?sid=1&amp;t=.pls</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Apostoles de la Palabra</string>
			<key>logo</key>
			<string>Apostoles</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://46.4.33.73:9318/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://46.4.33.73:9318/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Somos Chile</string>
			<key>logo</key>
			<string>Somos</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://5.9.65.9:8120/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://5.9.65.9:8120/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cosmos</string>
			<key>logo</key>
			<string>Cosmos</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.99.18.164:9718/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.99.18.164:9718/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pulsar</string>
			<key>logo</key>
			<string>Pulsar</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://185.193.112.155:18090/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://185.193.112.155:18090/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Top</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cronos</string>
			<key>logo</key>
			<string>Cronos</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.7.58.248:8251/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.7.58.248:8251/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>VOZ EVANGÉLICA FUEGO SANTO</string>
			<key>logo</key>
			<string>VOZ</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://170.75.146.162:8928/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://170.75.146.162:8928/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Minagri</string>
			<key>logo</key>
			<string>Minagri</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://190.3.169.87:9338/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://190.3.169.87:9338/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>45</string>
			<key>logo</key>
			<string>45</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://190.3.169.87:9332/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://190.3.169.87:9332/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Aldea</string>
			<key>logo</key>
			<string>Aldea</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://69.30.218.190:8454/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://69.30.218.190:8454/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>RADIOKOSMOS</string>
			<key>logo</key>
			<string>RADIOKOSMOS</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.99.18.164:9764/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.99.18.164:9764/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
