<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1816428560</string>
		<key>Back</key>
		<string>7935238060</string>
		<key>Banner</key>
		<string>9887324425</string>
		<key>Show1</key>
		<string>5756507720</string>
		<key>Show2</key>
		<string>1059425255</string>
		<key>Show3</key>
		<string>9121037667</string>
		<key>Show4</key>
		<string>9676281872</string>
		<key>Alarm</key>
		<string>2671889824</string>
		<key>CustomBanner</key>
		<string>7863796316</string>
		<key>CustomSplash</key>
		<string>8007976984</string>
		<key>Header</key>
		<string>6359142958</string>
		<key>Footer</key>
		<string>7896296342</string>
		<key>Email</key>
		<string>ios.apps.community@gmail.com</string>
		<key>Alternative</key>
		<string>1205274856</string>
		<key>Application</key>
		<string>1453706460</string>
		<key>Developer</key>
		<string>1360678770</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Menu</key>
	<array>
		<string>Top</string>
		<string>News</string>
		<string>Local</string>
		<string>Classic</string>
		<string>Music</string>
		<string>Sport</string>
		<string>Talk</string>
		<string>Youth</string>
		<string>Oldies</string>
	</array>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Polskie Radio 1 (Jedynka)</string>
			<key>logo</key>
			<string>1</string>
			<key>link</key>
			<string>http://stream3.polskieradio.pl:8900/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News/Features</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Polskie Radio 2 (Dwójka)</string>
			<key>logo</key>
			<string>2</string>
			<key>link</key>
			<string>http://stream3.polskieradio.pl:8902/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Classical/Culture</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Polskie Radio 3 (Trójka)</string>
			<key>logo</key>
			<string>3</string>
			<key>link</key>
			<string>http://stream3.polskieradio.pl:8904/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop/Rock Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Polskie Radio Czwórka</string>
			<key>logo</key>
			<string>4</string>
			<key>link</key>
			<string>http://stream3.polskieradio.pl:8906/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Youth/Lifestyle</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Poland</string>
			<key>logo</key>
			<string>Poland</string>
			<key>link</key>
			<string>http://stream3.polskieradio.pl:8908/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>International</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Polskie Radio 24</string>
			<key>logo</key>
			<string>24</string>
			<key>link</key>
			<string>http://stream3.polskieradio.pl:8080/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News/Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Polskie Radio Rytm</string>
			<key>logo</key>
			<string>Rytm</string>
			<key>link</key>
			<string>http://stream3.polskieradio.pl:8910/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Polskie Radio dzieciom</string>
			<key>logo</key>
			<string>dzieciom</string>
			<key>link</key>
			<string>http://stream3.polskieradio.pl:8916/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Children</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Polskie Radio Bialystok</string>
			<key>logo</key>
			<string>Bialystok</string>
			<key>link</key>
			<string>http://www.radio.bialystok.pl/internetowe/radioplayer/mp3stream.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Polskie Radio Dla Ciebie</string>
			<key>logo</key>
			<string>Dla</string>
			<key>link</key>
			<string>http://www.rdc.pl/rdc.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Polskie Radio Gdansk</string>
			<key>logo</key>
			<string>Gdansk</string>
			<key>link</key>
			<string>http://stream.task.gda.pl:8000/rg1.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Polskie Radio Gorzów 95,6 FM</string>
			<key>logo</key>
			<string>95,6</string>
			<key>link</key>
			<string>http://stream02.radiogorzow.pl:10115/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Polskie Radio Katowice</string>
			<key>logo</key>
			<string>Katowice</string>
			<key>link</key>
			<string>http://panel.nadaje.com:9212/radiokatowice.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>PR Radio Kielce</string>
			<key>logo</key>
			<string>Kielce</string>
			<key>link</key>
			<string>http://www.radio.kielce.pl/themes/basic/radio_1/player/radio-kielce.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>PR Radio Koszalin</string>
			<key>logo</key>
			<string>Koszalin</string>
			<key>link</key>
			<string>http://91.232.4.24:7090/listen.pls</string>
			<key>http</key>
			<string>http://91.232.4.24:9092/listen.pls</string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>PR Radio Krakow</string>
			<key>logo</key>
			<string>Krakow</string>
			<key>link</key>
			<string>http://www3.radiokrakow.pl/other_media/online/RadioKrakow.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>PR Off Radio Kraków</string>
			<key>logo</key>
			<string>Off</string>
			<key>link</key>
			<string>http://stream4.nadaje.com:13332/offradiokrakow.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>PR Radio Łódź</string>
			<key>logo</key>
			<string>PR</string>
			<key>link</key>
			<string>http://stream.radiolodz.pl:8000/radiolodz1.ogg.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>PR Radio Lublin</string>
			<key>logo</key>
			<string>Lublin</string>
			<key>link</key>
			<string>http://www.radio.lublin.pl/streaming/64k.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>PR Radio Merkury</string>
			<key>logo</key>
			<string>Merkury</string>
			<key>link</key>
			<string>http://www.radio.pionier.net.pl/stream.pls?radio=merkury</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Poznan (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>PR MC Radio</string>
			<key>logo</key>
			<string>MC</string>
			<key>link</key>
			<string>http://www.radio.pionier.net.pl/stream.pls?radio=mcradio</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop/Rock Music (Poznan, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>PR Radio Olsztyn</string>
			<key>logo</key>
			<string>Olsztyn</string>
			<key>link</key>
			<string>http://213.73.25.178:7055/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>PR Radio Opole (Region)</string>
			<key>logo</key>
			<string>Region</string>
			<key>link</key>
			<string>http://dab.radio.opole.pl:8090/1.m3u</string>
			<key>http</key>
			<string>http://dab.radio.opole.pl:8070/1.m3u</string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>PR Radio Opole (City)</string>
			<key>logo</key>
			<string>City</string>
			<key>link</key>
			<string>http://dab.radio.opole.pl:8080/1.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>PR Radio Opole 2</string>
			<key>logo</key>
			<string>Opole</string>
			<key>link</key>
			<string>http://dab.radio.opole.pl:8060/1.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>PR Radio Pik</string>
			<key>logo</key>
			<string>Pik</string>
			<key>link</key>
			<string>http://stream.radiopik.pl:9004/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Bydgoszcz (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>PR Radio Rzeszów</string>
			<key>logo</key>
			<string>Rzeszow</string>
			<key>link</key>
			<string>http://www.radio.rzeszow.pl/stereo.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>PR Radio RAM</string>
			<key>logo</key>
			<string>RAM</string>
			<key>link</key>
			<string>http://stream4.nadaje.com:9220/ram.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Wroclaw (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>PR Radio Szczecin</string>
			<key>logo</key>
			<string>Szczecin</string>
			<key>link</key>
			<string>http://www.radio.szczecin.pl/prs.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>PR Radio 94i4</string>
			<key>logo</key>
			<string>94i4</string>
			<key>link</key>
			<string>http://stream3.nadaje.com:8200/szczecinfm.m3u</string>
			<key>http</key>
			<string>http://www.94i4.fm/onair.m3u</string>
			<key>note</key>
			<string>Szczecin (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>PR Radio Wroclaw</string>
			<key>logo</key>
			<string>Wroclaw</string>
			<key>link</key>
			<string>http://stream4.nadaje.com:9240/prw</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>PR Radio Wrocław Kultura</string>
			<key>logo</key>
			<string>Kultura</string>
			<key>link</key>
			<string>http://stream4.nadaje.com:9230/rwkultura.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>PR Radio Zachód</string>
			<key>logo</key>
			<string>Zachod</string>
			<key>link</key>
			<string>http://stream01.zachod.pl:10103/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Zielona Góra (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>PR Radio Zielona Góra</string>
			<key>logo</key>
			<string>Zielona</string>
			<key>link</key>
			<string>http://rzg.pl/player/rzg.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Akademickie Radio LUZ</string>
			<key>logo</key>
			<string>Akademickie</string>
			<key>link</key>
			<string>http://radioluz.pwr.wroc.pl/listen.pls</string>
			<key>http</key>
			<string>http://radioluz.pwr.wroc.pl/luz.pls</string>
			<key>note</key>
			<string>Wroclaw (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Antyradio</string>
			<key>logo</key>
			<string>Antyradio</string>
			<key>link</key>
			<string>http://ant-waw-01.cdn.eurozet.pl:8602/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Rock Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Antyradio 106.4</string>
			<key>logo</key>
			<string>106.4</string>
			<key>link</key>
			<string>http://ant-kat-01.cdn.eurozet.pl:8604/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Katowice (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Antyradio Greatest</string>
			<key>logo</key>
			<string>Greatest</string>
			<key>link</key>
			<string>http://antgre-01.cdn.eurozet.pl:8008/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Classic</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Antyradio Ballads</string>
			<key>logo</key>
			<string>Ballads</string>
			<key>link</key>
			<string>http://antgre-01.cdn.eurozet.pl:8002/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Rock Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Antyradio Covers</string>
			<key>logo</key>
			<string>Covers</string>
			<key>link</key>
			<string>http://antgre-01.cdn.eurozet.pl:8006/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Rock Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Antyradio Hard</string>
			<key>logo</key>
			<string>Hard</string>
			<key>link</key>
			<string>http://antgre-01.cdn.eurozet.pl:8010/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Rock Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Antyradio Made in Poland</string>
			<key>logo</key>
			<string>Made</string>
			<key>link</key>
			<string>http://178.32.207.236:8012/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Rock Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Antyradio Classic</string>
			<key>logo</key>
			<string>Classic</string>
			<key>link</key>
			<string>http://antgre-01.cdn.eurozet.pl:8004/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Rock Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BabyRadio.pl</string>
			<key>logo</key>
			<string>BabyRadio.pl</string>
			<key>link</key>
			<string>http://www.radio.pionier.net.pl/stream.pls?radio=babyradio</string>
			<key>http</key>
			<string>http://www.babyradio.pl/</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Blue FM (Radio Pogoda)</string>
			<key>logo</key>
			<string>Blue</string>
			<key>link</key>
			<string>http://mainstream.radioagora.pl/bluefm.mp3.m3u</string>
			<key>http</key>
			<string>http://www.radioblue.fm/blueaac.pls</string>
			<key>note</key>
			<string>Poznan (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Eska INFO 97,7 Krakow</string>
			<key>logo</key>
			<string>97,7</string>
			<key>link</key>
			<string>http://acdn.smcloud.net/t046-1.mp3.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 40</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Eska INFO 99,8 Lódz</string>
			<key>logo</key>
			<string>99,8</string>
			<key>link</key>
			<string>http://acdn.smcloud.net/t040-1.mp3.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 40</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Eska INFO 104,9 Wroclaw</string>
			<key>logo</key>
			<string>104,9</string>
			<key>link</key>
			<string>http://acdn.smcloud.net/t044-1.mp3.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 40</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Eska INFO 105,6 Warsaw</string>
			<key>logo</key>
			<string>105,6</string>
			<key>link</key>
			<string>http://acdn.smcloud.net/t042-1.mp3.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 40</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Eska INFO 89,9 Olsztyn</string>
			<key>logo</key>
			<string>89,9</string>
			<key>link</key>
			<string>http://acdn.smcloud.net/t060-1_mp3.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 40</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Eska INFO 103,6 Lublin</string>
			<key>logo</key>
			<string>103,6</string>
			<key>link</key>
			<string>http://acdn.smcloud.net/t062-1_mp3.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 40</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Eska Rock Ballads</string>
			<key>logo</key>
			<string>Eska</string>
			<key>link</key>
			<string>http://acdn.smcloud.net/t011-1_mp3.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Eska Party</string>
			<key>logo</key>
			<string>Party</string>
			<key>link</key>
			<string>http://acdn.smcloud.net/t005-1_mp3.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Dance/Pop Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Eska Club</string>
			<key>logo</key>
			<string>Club</string>
			<key>link</key>
			<string>http://acdn.smcloud.net/t004-1_mp3.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Dance/House Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Eska Goraca 20</string>
			<key>logo</key>
			<string>Goraca</string>
			<key>link</key>
			<string>http://acdn.smcloud.net/t019-1_mp3.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 40</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Eska Global Lista</string>
			<key>logo</key>
			<string>Lista</string>
			<key>link</key>
			<string>http://acdn.smcloud.net/t016-1_mp3.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Dance/Pop Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Eska Rap</string>
			<key>logo</key>
			<string>Rap</string>
			<key>link</key>
			<string>http://acdn.smcloud.net/t002-1_mp3.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Eska RnB</string>
			<key>logo</key>
			<string>Rn</string>
			<key>link</key>
			<string>http://acdn.smcloud.net/t003-1_mp3.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Eska Rock</string>
			<key>logo</key>
			<string>Rock</string>
			<key>link</key>
			<string>http://acdn.smcloud.net/t041-1_mp3.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Eska Rock Polska</string>
			<key>logo</key>
			<string>Polska</string>
			<key>link</key>
			<string>http://acdn.smcloud.net/t008-1_mp3.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Eska Rock Alternative</string>
			<key>logo</key>
			<string>Alternative</string>
			<key>link</key>
			<string>http://acdn.smcloud.net/t015-1_mp3.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Eska Rock Xtreme</string>
			<key>logo</key>
			<string>Xtreme</string>
			<key>link</key>
			<string>http://acdn.smcloud.net/t001-1_mp3.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Katolickie Radio Ciechanów</string>
			<key>logo</key>
			<string>Ciechanow</string>
			<key>link</key>
			<string>http://sc4.24cast.pl:9802/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Katolickie Radio Podlasie</string>
			<key>logo</key>
			<string>Podlasie</string>
			<key>link</key>
			<string>http://listen.slotex.pl/7038.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Siedlce (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Katolickie Radio Zamosc</string>
			<key>logo</key>
			<string>Zamosc</string>
			<key>link</key>
			<string>http://www.listenlive.eu/krz.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Katolickie Radio Rzeszów - VIA</string>
			<key>logo</key>
			<string>Katolickie</string>
			<key>link</key>
			<string>http://62.133.128.18:8040/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Meloradio</string>
			<key>logo</key>
			<string>Meloradio</string>
			<key>link</key>
			<string>http://mel01.cdn.eurozet.pl:8800/mel-net.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Muzyczne Radio</string>
			<key>logo</key>
			<string>Muzyczne</string>
			<key>link</key>
			<string>http://stream3.nadaje.com:9000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 40 (Jelenia Góra, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nadzieja.pl CCM Radio</string>
			<key>logo</key>
			<string>Nadzieja.pl</string>
			<key>link</key>
			<string>http://stream3.nadaje.com:8036/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Podkowa Lesna (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Planeta FM</string>
			<key>logo</key>
			<string>Planeta</string>
			<key>link</key>
			<string>http://pla-net-01.cdn.eurozet.pl:8700/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Planeta Above and Beyond</string>
			<key>logo</key>
			<string>Above</string>
			<key>link</key>
			<string>http://plaabo-01.cdn.eurozet.pl:8202/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Planeta House</string>
			<key>logo</key>
			<string>House</string>
			<key>link</key>
			<string>http://plahou-01.cdn.eurozet.pl:8208/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Planeta Oldskul</string>
			<key>logo</key>
			<string>Oldskul</string>
			<key>link</key>
			<string>http://plaold-01.cdn.eurozet.pl:8212/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Planeta Progressive</string>
			<key>logo</key>
			<string>Progressive</string>
			<key>link</key>
			<string>http://plapro-01.cdn.eurozet.pl:8214/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Planeta RnB</string>
			<key>logo</key>
			<string>RnB</string>
			<key>link</key>
			<string>http://plarnb-01.cdn.eurozet.pl:8216/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio 5 Elk</string>
			<key>logo</key>
			<string>Elk</string>
			<key>link</key>
			<string>http://radio.ipip.cz:8086/listen.pls</string>
			<key>http</key>
			<string>https://radio5.com.pl/player/?pl=winamp&amp;c=Elk</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio 5 Suwalki</string>
			<key>logo</key>
			<string>Suwalki</string>
			<key>link</key>
			<string>https://radio5.com.pl/player/?pl=winamp&amp;c=Suwalki</string>
			<key>http</key>
			<string>https://radio5.com.pl/player/?pl=quicktime&amp;c=Suwalki</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Afera</string>
			<key>logo</key>
			<string>Afera</string>
			<key>link</key>
			<string>http://lodz.radio.pionier.net.pl:8000/pl/afera.ogg.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Rock Music (Poznan, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio AIN KARIM</string>
			<key>logo</key>
			<string>KARIM</string>
			<key>link</key>
			<string>http://radioainkarim.pl/themes/portal/play/radioainkarim.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Skomielna Czarna (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Akadera</string>
			<key>logo</key>
			<string>Akadera</string>
			<key>link</key>
			<string>http://lodz.radio.pionier.net.pl:8000/pl/akadera.ogg.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Białystok (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Alex</string>
			<key>logo</key>
			<string>Alex</string>
			<key>link</key>
			<string>http://192.184.9.158:8754/listen.pls</string>
			<key>http</key>
			<string>https://tachyon.shoutca.st/tunein/radioalex.pls</string>
			<key>note</key>
			<string>Zakopane (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Bajka</string>
			<key>logo</key>
			<string>Bajka</string>
			<key>link</key>
			<string>http://91.232.4.24:9768/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Youth</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Bielsko</string>
			<key>logo</key>
			<string>Bielsko</string>
			<key>link</key>
			<string>http://stream.nadaje.com:8044/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 40</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Bogoria</string>
			<key>logo</key>
			<string>Bogoria</string>
			<key>link</key>
			<string>http://s6.radiohost.pl/play-8888.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Grodzisk Mazowiecki (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Bon Ton</string>
			<key>logo</key>
			<string>Bon</string>
			<key>link</key>
			<string>http://bonton.streamhost.pl:8092/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 40 (Chełm, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio CCM</string>
			<key>logo</key>
			<string>CCM</string>
			<key>link</key>
			<string>http://radioccm.pl/radio_ccm.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Gliwice (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Centrum 98.2</string>
			<key>logo</key>
			<string>98.2</string>
			<key>link</key>
			<string>http://www.listenlive.eu/centrum.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Lublin (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Centrum 106.4</string>
			<key>logo</key>
			<string>Centrum</string>
			<key>link</key>
			<string>http://shot4.inten.pl:8888/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Kalisz (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Centrum 89.0 FM</string>
			<key>logo</key>
			<string>89.0</string>
			<key>link</key>
			<string>http://62.93.41.26:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Rzeszów (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio EL</string>
			<key>logo</key>
			<string>EL</string>
			<key>link</key>
			<string>http://shot2.inten.pl:8778/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Elblag (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Elka Leszno</string>
			<key>logo</key>
			<string>Elka</string>
			<key>link</key>
			<string>http://elka.pl/elka.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio eM</string>
			<key>logo</key>
			<string>eM</string>
			<key>link</key>
			<string>http://shot2.inten.pl:8784/listen.pls</string>
			<key>http</key>
			<string>http://194.181.177.253:8004/listen.pls</string>
			<key>note</key>
			<string>Katowice (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio eM Kielce</string>
			<key>logo</key>
			<string>Kielc</string>
			<key>link</key>
			<string>http://78.46.170.230:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Emaus</string>
			<key>logo</key>
			<string>Emaus</string>
			<key>link</key>
			<string>http://lodz.radio.pionier.net.pl:8000/pl/emaus3.ogg.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Poznań (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio eR</string>
			<key>logo</key>
			<string>eR</string>
			<key>link</key>
			<string>http://stream.radioer.pl:8000/Radio_eR.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Lublin (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Express</string>
			<key>logo</key>
			<string>Express</string>
			<key>link</key>
			<string>http://stream.nadaje.com:8064/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pszczyna (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio FAMA 92,9</string>
			<key>logo</key>
			<string>92,9</string>
			<key>link</key>
			<string>http://stream2.nadaje.com:8078/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Kielce (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio FAMA 100,8</string>
			<key>logo</key>
			<string>100,8</string>
			<key>link</key>
			<string>http://stream2.nadaje.com:8076/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio FAMA 94,7</string>
			<key>logo</key>
			<string>94,7</string>
			<key>link</key>
			<string>http://stream3.nadaje.com:8096/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Wolomin (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio FAMA 100,8</string>
			<key>logo</key>
			<string>100,8</string>
			<key>link</key>
			<string>http://stream3.nadaje.com:9024/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Slupsk (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio FARA</string>
			<key>logo</key>
			<string>FARA</string>
			<key>link</key>
			<string>http://62.133.128.22:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Przemysl (Local)</string>
		</dict>
	</array>
</dict>
</plist>
