<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>8974956561</string>
		<key>Back</key>
		<string>9187118676</string>
		<key>Banner</key>
		<string>5035232621</string>
		<key>Show1</key>
		<string>9856793398</string>
		<key>Show2</key>
		<string>8211597289</string>
		<key>Show3</key>
		<string>7230630053</string>
		<key>Show4</key>
		<string>4380163484</string>
		<key>Alarm</key>
		<string>3454094624</string>
		<key>CustomBanner</key>
		<string>3064154336</string>
		<key>CustomSplash</key>
		<string>8839225199</string>
		<key>Header</key>
		<string>2872582646</string>
		<key>Footer</key>
		<string>4524575660</string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string>1205274856</string>
		<key>Application</key>
		<string>1434310367</string>
		<key>Developer</key>
		<string>1239592099</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Polskie Radio 1 (Jedynka)</string>
			<key>logo</key>
			<string>1</string>
			<key>link</key>
			<string>http://stream3.polskieradio.pl:8900/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News/Features</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Polskie Radio 2 (Dwójka)</string>
			<key>logo</key>
			<string>2</string>
			<key>link</key>
			<string>http://stream3.polskieradio.pl:8902/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Classical/Culture</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Polskie Radio 3 (Trójka)</string>
			<key>logo</key>
			<string>3</string>
			<key>link</key>
			<string>http://stream3.polskieradio.pl:8904/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop/Rock</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Polskie Radio Czwórka</string>
			<key>logo</key>
			<string>4</string>
			<key>link</key>
			<string>http://stream3.polskieradio.pl:8906/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Youth/Lifestyle</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Poland</string>
			<key>logo</key>
			<string>Poland</string>
			<key>link</key>
			<string>http://stream3.polskieradio.pl:8908/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>International</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Polskie Radio 24</string>
			<key>logo</key>
			<string>24</string>
			<key>link</key>
			<string>http://stream3.polskieradio.pl:8080/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News/Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Polskie Radio Rytm</string>
			<key>logo</key>
			<string>Rytm</string>
			<key>link</key>
			<string>http://stream3.polskieradio.pl:8910/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Polskie Radio dzieciom</string>
			<key>logo</key>
			<string>dzieciom</string>
			<key>link</key>
			<string>http://stream3.polskieradio.pl:8916/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Children</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Polskie Radio Bialystok</string>
			<key>logo</key>
			<string>Bialystok</string>
			<key>link</key>
			<string>http://www.radio.bialystok.pl/internetowe/radioplayer/mp3stream.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Polskie Radio Dla Ciebie</string>
			<key>logo</key>
			<string>Dla</string>
			<key>link</key>
			<string>http://www.rdc.pl/rdc.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Polskie Radio Gdansk</string>
			<key>logo</key>
			<string>Gdansk</string>
			<key>link</key>
			<string>http://stream.task.gda.pl:8000/rg1.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Polskie Radio Gorzów 95,6 FM</string>
			<key>logo</key>
			<string>95,6</string>
			<key>link</key>
			<string>http://stream02.radiogorzow.pl:10115/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Polskie Radio Katowice</string>
			<key>logo</key>
			<string>Katowice</string>
			<key>link</key>
			<string>http://panel.nadaje.com:9212/radiokatowice.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
