<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>OE24</string>
		<key>logo</key>
		<string>OE24</string>
		<key>link</key>
		<string>http://www.oe24.at/tv</string>
		<key>http</key>
		<string>http://www.oe24.at</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Okto</string>
		<key>logo</key>
		<string>Okto</string>
		<key>link</key>
		<string>http://okto.tv/schauen/livestream</string>
		<key>http</key>
		<string>http://okto.tv/schauen</string>
	</dict>
	<dict>
		<key>name</key>
		<string>W24</string>
		<key>logo</key>
		<string>W24</string>
		<key>link</key>
		<string>http://www.w24.at/TV-Live</string>
		<key>http</key>
		<string>http://www.w24.at</string>
	</dict>
	<dict>
		<key>name</key>
		<string>M4TV (Austria24)</string>
		<key>logo</key>
		<string>Austria24</string>
		<key>link</key>
		<string>http://austria24.tv/web-tv/</string>
		<key>http</key>
		<string>http://austria24.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RTS Salzburg</string>
		<key>logo</key>
		<string>RTS</string>
		<key>link</key>
		<string>http://www.rts-salzburg.at/live/</string>
		<key>http</key>
		<string>http://www.rts-salzburg.at/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>FS1</string>
		<key>logo</key>
		<string>FS1</string>
		<key>link</key>
		<string>http://fs1.tv/stream-tv/dein-stream.html</string>
		<key>http</key>
		<string>http://fs1.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tirol TV</string>
		<key>logo</key>
		<string>Tirol</string>
		<key>link</key>
		<string>http://www.tiroltv.at/live/</string>
		<key>http</key>
		<string>http://www.tiroltv.at/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mühlviertel</string>
		<key>logo</key>
		<string>Muhlviertel</string>
		<key>link</key>
		<string>http://www.muehlviertel.tv/live</string>
		<key>http</key>
		<string>http://www.muehlviertel.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Dorf TV</string>
		<key>logo</key>
		<string>Dorf</string>
		<key>link</key>
		<string>https://www.dorftv.at/livestream</string>
		<key>http</key>
		<string>https://www.dorftv.at/home</string>
	</dict>
	<dict>
		<key>name</key>
		<string>LLTV - Linz Land TV</string>
		<key>logo</key>
		<string>LLTV</string>
		<key>link</key>
		<string>http://www.linzlandtv.at/LLTV_Live</string>
		<key>http</key>
		<string>http://linzlandtv.riskommunal.net/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>3sat</string>
		<key>logo</key>
		<string>3</string>
		<key>link</key>
		<string>http://www.3sat.de/webtv/?live24.rm</string>
		<key>http</key>
		<string>http://www.3sat.de/mediathek/?mode=play&amp;obj=42667</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ländle</string>
		<key>logo</key>
		<string>Landle</string>
		<key>link</key>
		<string>http://www.laendletv.com/</string>
		<key>http</key>
		<string>http://www.laendletv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Euronews</string>
		<key>logo</key>
		<string>Euronews</string>
		<key>link</key>
		<string>http://de.euronews.com/live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/euronewsfr/videos?live_view=501&amp;flow=grid&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bloomberg TV Europe</string>
		<key>logo</key>
		<string>bloomberg</string>
		<key>link</key>
		<string>https://www.bloomberg.com/live/europe</string>
		<key>http</key>
		<string>https://www.bloomberg.com/live/us</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Der Spiegel</string>
		<key>logo</key>
		<string>Spiegel</string>
		<key>link</key>
		<string>http://www.spiegel.tv/filme/chance-oder-scheitern/</string>
		<key>http</key>
		<string>http://www.spiegel.de/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>EbS Europe by Satellite</string>
		<key>logo</key>
		<string>EbS</string>
		<key>link</key>
		<string>http://ec.europa.eu/avservices/ebs/live.cfm?page=1</string>
		<key>http</key>
		<string>http://ec.europa.eu/avservices/ebs/schedule.cfm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Deutsche Welle</string>
		<key>logo</key>
		<string>DW1</string>
		<key>link</key>
		<string>http://www.dw.com/en/media-center/live-tv/s-100825?channel=5</string>
		<key>http</key>
		<string>http://www.dw.com/en/media-center/live-tv/s-100825?channel=4</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sky News</string>
		<key>logo</key>
		<string>Sky</string>
		<key>link</key>
		<string>http://news.sky.com/watch-live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/skynews</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Gotv</string>
		<key>logo</key>
		<string>Gotv</string>
		<key>link</key>
		<string>http://www.gotv.at/app/</string>
		<key>http</key>
		<string>http://www.gotv.at/app/?q=H</string>
	</dict>
	<dict>
		<key>name</key>
		<string>KroneHit</string>
		<key>logo</key>
		<string>KroneHit</string>
		<key>link</key>
		<string>http://www.kronehit.at/alles-ueber-kronehit/tv/</string>
		<key>http</key>
		<string>http://www.kronehit.at/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ZDF</string>
		<key>logo</key>
		<string>ZDF</string>
		<key>link</key>
		<string>https://www.zdf.de/live-tv</string>
		<key>http</key>
		<string>https://www.zdf.de/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Viyana TV</string>
		<key>logo</key>
		<string>Viyana</string>
		<key>link</key>
		<string>http://www.viyana.tv/</string>
		<key>http</key>
		<string>http://www.viyana.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Melodie Express</string>
		<key>logo</key>
		<string>Melodie</string>
		<key>link</key>
		<string>http://www.melodie-express.tv/stream</string>
		<key>http</key>
		<string>http://web4137.ws.mynet.at/cms/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>K-TV</string>
		<key>logo</key>
		<string>K-TV</string>
		<key>link</key>
		<string>http://www3.k-tv.org/live-stream/hohe-qualit%C3%A4t</string>
		<key>http</key>
		<string>http://www3.k-tv.org/live-stream</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Swamiji</string>
		<key>logo</key>
		<string>Swamiji</string>
		<key>link</key>
		<string>http://www.swamiji.tv/stream/eu/eu-Vienna</string>
		<key>http</key>
		<string>http://www.yogaindailylife.org/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Wesal Wiv</string>
		<key>logo</key>
		<string>Wiv</string>
		<key>link</key>
		<string>http://www.wiv-online.tv/</string>
		<key>http</key>
		<string>http://www.wiv-online.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ERF</string>
		<key>logo</key>
		<string>ERF</string>
		<key>link</key>
		<string>https://www.erf.de/fernsehen/livestream/4072?reset=1</string>
		<key>http</key>
		<string>https://www.erf.de/fernsehen/4049</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bibel</string>
		<key>logo</key>
		<string>Bibel1</string>
		<key>link</key>
		<string>http://www.bibeltv.de/livestreams/bibeltv/</string>
		<key>http</key>
		<string>http://www.bibeltv.de/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bibel Impuls</string>
		<key>logo</key>
		<string>Bibel2</string>
		<key>link</key>
		<string>http://www.bibeltv.de/livestreams/impuls/</string>
		<key>http</key>
		<string>http://www.bibeltv.de/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bibel Musik</string>
		<key>logo</key>
		<string>Bibel3</string>
		<key>link</key>
		<string>http://www.bibeltv.de/livestreams/musik/</string>
		<key>http</key>
		<string>http://www.bibeltv.de/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hope</string>
		<key>logo</key>
		<string>Hope</string>
		<key>link</key>
		<string>http://www.hopechannel.de/tv/live/</string>
		<key>http</key>
		<string>http://www.hopechannel.de/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>EWTN</string>
		<key>logo</key>
		<string>EWTN</string>
		<key>link</key>
		<string>http://www.ewtn.de/streaming/player.php</string>
		<key>http</key>
		<string>http://www.ewtn.de/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MTA</string>
		<key>logo</key>
		<string>MTA</string>
		<key>link</key>
		<string>http://www.mta.tv/live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/mtaOnline1/videos?view=2&amp;live_view=501&amp;flow=grid</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Servus TV</string>
		<key>logo</key>
		<string>Servus</string>
		<key>link</key>
		<string>http://www.servustv.com/at/Live</string>
		<key>http</key>
		<string>http://www.servustv.com/at</string>
	</dict>
</array>
</plist>
