<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>9761001180</string>
		<key>Back</key>
		<string>2269879198</string>
		<key>Banner</key>
		<string>2812449451</string>
		<key>Show1</key>
		<string>7139062497</string>
		<key>Show2</key>
		<string>3834242302</string>
		<key>Show3</key>
		<string>6368551088</string>
		<key>Show4</key>
		<string>7581915625</string>
		<key>Alarm</key>
		<string>1730823143</string>
		<key>CustomBanner</key>
		<string>5961712197</string>
		<key>CustomSplash</key>
		<string>6751694467</string>
		<key>Header</key>
		<string>1813039036</string>
		<key>Footer</key>
		<string>9499957368</string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string>1391575666</string>
		<key>Application</key>
		<string>1456479823</string>
		<key>Developer</key>
		<string>1239592099</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Amiga Radio Web</string>
			<key>logo</key>
			<string>Amiga</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://173.243.114.26:7132/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://173.243.114.26:7132/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Circuito Radio Ideal</string>
			<key>logo</key>
			<string>Circuito</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://162.252.57.90:20500/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/circuito-cnb-102-3-fm,792.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Alfa y Omega</string>
			<key>logo</key>
			<string>Alfa</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://95.154.254.81:9625/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://95.154.254.81:9625/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>91.9 FM</string>
			<key>logo</key>
			<string>91</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/91-9-fm,9363.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Alazana 88.3 FM</string>
			<key>logo</key>
			<string>Alazana</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/alazana-88-3-fm,18474.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Astro 97.7 FM</string>
			<key>logo</key>
			<string>Astro</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/astro-97-7-fm,18475.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Ospino (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bandera 105.7 FM</string>
			<key>logo</key>
			<string>Bandera</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/bandera-105-7-fm,18477.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Ciudad Guayana (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Candela Pura 91.1 FM</string>
			<key>logo</key>
			<string>Candela</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/candela-pura-91-1-fm,15915.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/estrella-91-9-fm,14421.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Corianisima 96.7 FM</string>
			<key>logo</key>
			<string>Corianisima</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/corianisima-96-7-fm,18480.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fiesta Latina 106.1 FM</string>
			<key>logo</key>
			<string>Fiesta</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/fiesta-latina-106-1-fm,10079.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hot 94.1 FM</string>
			<key>logo</key>
			<string>Hot</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/hot-94-1-fm,796.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kys 101.5 FM</string>
			<key>logo</key>
			<string>Kys</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/kys-101-5-fm,798.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>LA ROMANTICA 97.1 FM</string>
			<key>logo</key>
			<string>LA</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/la-romantica-97-1-fm,14423.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Maturin (Local)</string>
		</dict>
	</array>
</dict>
</plist>
