<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>9761001180</string>
		<key>Back</key>
		<string>2269879198</string>
		<key>Banner</key>
		<string>2812449451</string>
		<key>Show1</key>
		<string>REMOVED</string>
		<key>Show2</key>
		<string>REMOVED</string>
		<key>Show3</key>
		<string>REMOVED</string>
		<key>Show4</key>
		<string>REMOVED</string>
		<key>Alarm</key>
		<string>1730823143</string>
		<key>CustomBanner</key>
		<string>5961712197</string>
		<key>CustomSplash</key>
		<string>6751694467</string>
		<key>Header</key>
		<string>1813039036</string>
		<key>Footer</key>
		<string>9499957368</string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string>1391575666</string>
		<key>Application</key>
		<string>1456479823</string>
		<key>Developer</key>
		<string>1239592099</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>LA ROMANTICA 88.9 FM</string>
			<key>logo</key>
			<string>ROMANTIC</string>
			<key>link</key>
			<string>http://streaming3.globalhost.net.ve:8068/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>La X 89.7 FM</string>
			<key>logo</key>
			<string>X</string>
			<key>link</key>
			<string>http://cp2.lorini.net:39500/araguenafm.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Unión Actualidad 90.3 FM</string>
			<key>logo</key>
			<string>Actualidad</string>
			<key>link</key>
			<string>http://ur58.lorini.net:2080/listen.pls?sid=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>RNV Activa</string>
			<key>logo</key>
			<string>Activa</string>
			<key>link</key>
			<string>http://rnv.lorini.net:29010/RNVACTIVA.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RNV Informativa</string>
			<key>logo</key>
			<string>RNV</string>
			<key>link</key>
			<string>http://rnv.lorini.net:29100/RNVINFORMATIVO.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-nacional-de-venezuela,803.m3u</string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CRP 91.5 FM</string>
			<key>logo</key>
			<string>CRP</string>
			<key>link</key>
			<string>http://162.252.57.90:9988/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Melodía Stereo 93.5 FM</string>
			<key>logo</key>
			<string>Stereo</string>
			<key>link</key>
			<string>http://cp2.lorini.net:27004/stream.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>YVKE Mundial 94.5 FM</string>
			<key>logo</key>
			<string>YVKE</string>
			<key>link</key>
			<string>http://190.9.128.238:8080/radiomundial.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Lider 94.9 FM</string>
			<key>logo</key>
			<string>Lider</string>
			<key>link</key>
			<string>http://94.23.35.151:9934/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Miraflores 95.9 FM</string>
			<key>logo</key>
			<string>Miraflores</string>
			<key>link</key>
			<string>http://live2.mediastreaming.com.ve:8000/RadioMiraflores.aac.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Alba Ciudad 96.3 FM</string>
			<key>logo</key>
			<string>Alba</string>
			<key>link</key>
			<string>http://envivo.albaciudad.org:8000/albaciudad.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Inolvidable 96.9 FM</string>
			<key>logo</key>
			<string>Inolvidable</string>
			<key>link</key>
			<string>http://cp4.lorini.net:36172/stream.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Urquia 97.5 FM</string>
			<key>logo</key>
			<string>Urquia</string>
			<key>link</key>
			<string>http://190.9.130.31:8000/urquiafm.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Advanta 98.7 FM</string>
			<key>logo</key>
			<string>Advanta</string>
			<key>link</key>
			<string>http://cp2.lorini.net:2020/venfmcaracas.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Éxitos 99.9 FM</string>
			<key>logo</key>
			<string>Exitos</string>
			<key>link</key>
			<string>http://ur58.lorini.net:2070/EXITOS.aac.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Primera 100.5 FM</string>
			<key>logo</key>
			<string>Primera</string>
			<key>link</key>
			<string>http://srv2.plugstreaming.com:8152/listen.pls?sid=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Digital 100.7 FM</string>
			<key>logo</key>
			<string>Digital</string>
			<key>link</key>
			<string>http://content.jwplatform.com/videos/pWskYheD-480.mp4</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tiuna 101.9 FM</string>
			<key>logo</key>
			<string>Tiuna</string>
			<key>link</key>
			<string>http://lortel58.lorini.net:12000/TIUNAFM.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radiorama Stereo 103.3 FM</string>
			<key>logo</key>
			<string>Radiorama</string>
			<key>link</key>
			<string>http://lortel58.lorini.net:44002/RADIORAMA1033FM.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Planeta 105.3 FM</string>
			<key>logo</key>
			<string>Planeta</string>
			<key>link</key>
			<string>http://srv2.plugstreaming.com:8246/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fe y Alegría 105.7 FM</string>
			<key>logo</key>
			<string>Alegria</string>
			<key>link</key>
			<string>http://www.aler.org:8000/caracasfm.aac.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk, Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fiesta 106.5 FM</string>
			<key>logo</key>
			<string>Fiesta</string>
			<key>link</key>
			<string>http://streaming3.globalhost.net.ve:9012/listen.pls?sid=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Sport, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Onda La Superestación 107.9 FM</string>
			<key>logo</key>
			<string>Onda</string>
			<key>link</key>
			<string>http://ur58.lorini.net:2060/ONDA.aac.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Amiga Radio Web</string>
			<key>logo</key>
			<string>Amiga</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://173.243.114.26:7132/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://173.243.114.26:7132/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Circuito Radio Ideal</string>
			<key>logo</key>
			<string>Circuito</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://162.252.57.90:20500/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/circuito-cnb-102-3-fm,792.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Alfa y Omega</string>
			<key>logo</key>
			<string>Alfa</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://95.154.254.81:9625/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://95.154.254.81:9625/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>91.9 FM</string>
			<key>logo</key>
			<string>91</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/91-9-fm,9363.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Alazana 88.3 FM</string>
			<key>logo</key>
			<string>Alazana</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/alazana-88-3-fm,18474.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Astro 97.7 FM</string>
			<key>logo</key>
			<string>Astro</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/astro-97-7-fm,18475.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Ospino (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bandera 105.7 FM</string>
			<key>logo</key>
			<string>Bandera</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/bandera-105-7-fm,18477.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Ciudad Guayana (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Candela Pura 91.1 FM</string>
			<key>logo</key>
			<string>Candela</string>
			<key>link</key>
			<string>http://streaming3.globalhost.net.ve:9020/listen.pls?sid=1</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/estrella-91-9-fm,14421.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Corianisima 96.7 FM</string>
			<key>logo</key>
			<string>Corianisima</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/corianisima-96-7-fm,18480.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fiesta Latina 106.1 FM</string>
			<key>logo</key>
			<string>Fiesta</string>
			<key>link</key>
			<string>http://laradiohd.com:10313/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/fiesta-latina-106-1-fm,10079.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hot 94.1 FM</string>
			<key>logo</key>
			<string>Hot</string>
			<key>link</key>
			<string>http://streaming3.globalhost.net.ve:9016/listen.pls?sid=1</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/hot-94-1-fm,796.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kys 101.5 FM</string>
			<key>logo</key>
			<string>Kys</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/kys-101-5-fm,798.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>LA ROMANTICA 97.1 FM</string>
			<key>logo</key>
			<string>LA</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/la-romantica-97-1-fm,14423.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Maturin (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>LA ROMANTICA 98.9 FM</string>
			<key>logo</key>
			<string>ROMANTICA</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/la-romantica-98-9-fm,14422.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Puerto La Cruz (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mega 107.3 FM</string>
			<key>logo</key>
			<string>Mega</string>
			<key>link</key>
			<string>http://ur58.lorini.net:2050/LAMEGA.aac.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/mega-107-3-fm,800.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Oxigeno 107.3 FM</string>
			<key>logo</key>
			<string>Oxigeno</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/oxigeno-107-3-fm,802.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio AGN</string>
			<key>logo</key>
			<string>AGN</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-agn,20000.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Barquisimento 690 AM</string>
			<key>logo</key>
			<string>Barquisimento</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-barquisimento-690-am,15916.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-barquisimeto-690-am,17226.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Caracas Radio YVKS 750 AM</string>
			<key>logo</key>
			<string>YVKS</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-caracas-radio-yvks-750-am,18201.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Recuerdos 1300 AM</string>
			<key>logo</key>
			<string>Recuerdos</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-recuerdos-1300-am,15917.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>RQ910</string>
			<key>logo</key>
			<string>RQ910</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/rq910,9361.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
