<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1</string>
		<key>Back</key>
		<string>1</string>
		<key>Banner</key>
		<string>1</string>
		<key>Show1</key>
		<string>1</string>
		<key>Show2</key>
		<string>1</string>
		<key>Show3</key>
		<string>1</string>
		<key>Show4</key>
		<string>1</string>
		<key>Alarm</key>
		<string>1</string>
		<key>CustomBanner</key>
		<string>1</string>
		<key>CustomSplash</key>
		<string>1</string>
		<key>Header</key>
		<string>1</string>
		<key>Footer</key>
		<string>1</string>
		<key>Email</key>
		<string>1</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1</string>
		<key>Developer</key>
		<string>1</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Amiga Radio Web</string>
			<key>logo</key>
			<string>Amiga</string>
			<key>link</key>
			<string>http://www.radiosoma.com/RadioSoma_107.9_MHz.m3u</string>
			<key>http</key>
			<string>http://www.radiosoma.com/RadioSoma_107.9_MHz.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Circuito Radio Ideal</string>
			<key>logo</key>
			<string>Circuito</string>
			<key>link</key>
			<string>http://stream.it-solutions.ge:8000/mp3-starfm.m3u</string>
			<key>http</key>
			<string>http://stream.it-solutions.ge:8000/mp3-starfm.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Alfa y Omega</string>
			<key>logo</key>
			<string>Alfa</string>
			<key>link</key>
			<string>http://93.123.123.7:8000/listen.pls</string>
			<key>http</key>
			<string>http://93.123.123.7:8000/listen.pls</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>91.9 FM</string>
			<key>logo</key>
			<string>91</string>
			<key>link</key>
			<string>http://provisioning.streamtheworld.com/pls/SER_TOLEDO.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Alazana 88.3 FM</string>
			<key>logo</key>
			<string>Alazana</string>
			<key>link</key>
			<string>http://cast.streams.ovh:9069/live</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Astro 97.7 FM</string>
			<key>logo</key>
			<string>Astro</string>
			<key>link</key>
			<string>http://www.radiosoma.com/RadioSoma_107.9_MHz.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Ospino (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bandera 105.7 FM</string>
			<key>logo</key>
			<string>Bandera</string>
			<key>link</key>
			<string>http://stream.it-solutions.ge:8000/mp3-starfm.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Ciudad Guayana (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Candela Pura 91.1 FM</string>
			<key>logo</key>
			<string>Candela</string>
			<key>link</key>
			<string>http://93.123.123.7:8000/listen.pls</string>
			<key>http</key>
			<string>http://93.123.123.7:8000/listen.pls</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Corianisima 96.7 FM</string>
			<key>logo</key>
			<string>Corianisima</string>
			<key>link</key>
			<string>http://provisioning.streamtheworld.com/pls/SER_TOLEDO.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fiesta Latina 106.1 FM</string>
			<key>logo</key>
			<string>Fiesta</string>
			<key>link</key>
			<string>http://cast.streams.ovh:9069/live</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hot 94.1 FM</string>
			<key>logo</key>
			<string>Hot</string>
			<key>link</key>
			<string>http://www.radiosoma.com/RadioSoma_107.9_MHz.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kys 101.5 FM</string>
			<key>logo</key>
			<string>Kys</string>
			<key>link</key>
			<string>http://stream.it-solutions.ge:8000/mp3-starfm.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>LA ROMANTICA 97.1 FM</string>
			<key>logo</key>
			<string>LA</string>
			<key>link</key>
			<string>http://93.123.123.7:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Maturin (Local)</string>
		</dict>
	</array>
</dict>
</plist>
