<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string></string>
		<key>Main</key>
		<string></string>
		<key>Back</key>
		<string></string>
		<key>Banner</key>
		<string></string>
		<key>Show1</key>
		<string></string>
		<key>Show2</key>
		<string></string>
		<key>Show3</key>
		<string></string>
		<key>Show4</key>
		<string></string>
		<key>Alarm</key>
		<string></string>
		<key>CustomBanner</key>
		<string></string>
		<key>CustomSplash</key>
		<string></string>
		<key>Header</key>
		<string></string>
		<key>Footer</key>
		<string></string>
		<key>Email</key>
		<string>ios.apps.community@gmail.com</string>
		<key>Alternative</key>
		<string></string>
		<key>Application</key>
		<string></string>
		<key>Developer</key>
		<string></string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Menu</key>
	<array>
		<string>Top</string>
		<string>News</string>
		<string>Local</string>
		<string>Classic</string>
		<string>Music</string>
		<string>Sport</string>
		<string>Talk</string>
		<string>Youth</string>
		<string>Oldies</string>
	</array>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Gakku</string>
			<key>logo</key>
			<string>Gakku</string>
			<key>link</key>
			<string>http://stream.gakku.tv/radio/recordfm_192.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Qazaq Radıosy</string>
			<key>logo</key>
			<string>Qazaq</string>
			<key>link</key>
			<string>http://onradio.kaztrk.kz:8000/kazradio.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Shalqar Radıosy</string>
			<key>logo</key>
			<string>Shalqar</string>
			<key>link</key>
			<string>http://onradio.kaztrk.kz:8000/shalkar.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Astana Radıosy 101.4 FM</string>
			<key>logo</key>
			<string>Astana</string>
			<key>link</key>
			<string>http://onradio.kaztrk.kz:8000/astana.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Classic Radıosy</string>
			<key>logo</key>
			<string>Classic</string>
			<key>link</key>
			<string>http://onradio.kaztrk.kz:8000/classic.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Жұлдыз</string>
			<key>logo</key>
			<string>Zhuldyz</string>
			<key>link</key>
			<string>http://195.210.47.197:8000/zhulduz.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Youth Top Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dala</string>
			<key>logo</key>
			<string>Dala</string>
			<key>link</key>
			<string>http://95.56.234.40:8080/DALA_128.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Русское Радио Казахстан</string>
			<key>logo</key>
			<string>Russkoe</string>
			<key>link</key>
			<string>http://31.148.22.35:9000/stream.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Business</string>
			<key>logo</key>
			<string>Business</string>
			<key>link</key>
			<string>http://94.247.130.243:5050/business.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>NS</string>
			<key>logo</key>
			<string>NS</string>
			<key>link</key>
			<string>http://ne.fm/mp3/radions-kz.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Авторадио</string>
			<key>logo</key>
			<string>Avtoradio</string>
			<key>link</key>
			<string>http://ps.ne.fm/AVTORADIO.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Дача 107.3 FM</string>
			<key>logo</key>
			<string>Dacha</string>
			<key>link</key>
			<string>https://stream.gakku.tv/dacha.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Lux</string>
			<key>logo</key>
			<string>Lux</string>
			<key>link</key>
			<string>http://icecastlv.luxnet.ua/lux_kz.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>City</string>
			<key>logo</key>
			<string>City</string>
			<key>link</key>
			<string>http://94.247.130.243:5050/city.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Energy FM 102.2</string>
			<key>logo</key>
			<string>Energy</string>
			<key>link</key>
			<string>http://89.219.34.117:8008/NEWENERGY.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>7 106.9 FM</string>
			<key>logo</key>
			<string>7</string>
			<key>link</key>
			<string>http://listen4.myradio24.com:9000/8334.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Семей (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Талап 100.6 FM</string>
			<key>logo</key>
			<string>Talap</string>
			<key>link</key>
			<string>http://streamingv2.shoutcast.com/Talap.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top Music (Уральск, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Актобе 101.4 FM</string>
			<key>logo</key>
			<string>Aktobe</string>
			<key>link</key>
			<string>http://85.29.144.124:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Актобе (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Жаңа FM</string>
			<key>logo</key>
			<string>Jana</string>
			<key>link</key>
			<string>http://nefm.kz/mp3/zhanafm.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
	</array>
</dict>
</plist>
