<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Rudaw</string>
		<key>logo</key>
		<string>Rudaw</string>
		<key>link</key>
		<string>http://www.rudaw.net/sorani/onair/tv/live</string>
		<key>http</key>
		<string>http://www.rudaw.net/sorani</string>
	</dict>
	<dict>
		<key>name</key>
		<string>GK (Gali Kurdistan)</string>
		<key>logo</key>
		<string>GK</string>
		<key>link</key>
		<string>http://www.gksat.tv/live.aspx</string>
		<key>http</key>
		<string>http://www.gksat.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NRT HD</string>
		<key>logo</key>
		<string>NRT1</string>
		<key>link</key>
		<string>http://www.nrttv.com/streamNRT.aspx</string>
		<key>http</key>
		<string>http://www.nrttv.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NRT 2</string>
		<key>logo</key>
		<string>NRT2</string>
		<key>link</key>
		<string>http://www.nrttv.com/streamNRT2.aspx</string>
		<key>http</key>
		<string>http://www.nrttv.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NRT Arabic</string>
		<key>logo</key>
		<string>NRT3</string>
		<key>link</key>
		<string>http://www.nrttv.com/ar/StreamAr.aspx</string>
		<key>http</key>
		<string>http://www.nrttv.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NRT Radio</string>
		<key>logo</key>
		<string>NRT4</string>
		<key>link</key>
		<string>http://www.nrttv.com/ar/arabicradio.aspx</string>
		<key>http</key>
		<string>http://www.nrttv.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kurdsat کوردسات‎</string>
		<key>logo</key>
		<string>Kurdsat</string>
		<key>link</key>
		<string>http://kurdsat.tv/stream.aspx</string>
		<key>http</key>
		<string>http://kurdsat.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Speda كه‌ناڵی سپێده‌</string>
		<key>logo</key>
		<string>Speda</string>
		<key>link</key>
		<string>http://www.speda.net/index.php/on-air/live</string>
		<key>http</key>
		<string>http://www.speda.net</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kurdistan 24</string>
		<key>logo</key>
		<string>Kurdistan24</string>
		<key>link</key>
		<string>http://www.kurdistan24.net/en/LiveWatch/e9847195-3c42-47cb-9103-bf477c68bc8f</string>
		<key>http</key>
		<string>http://www.kurdistan24.net/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>WAAR</string>
		<key>logo</key>
		<string>WAAR</string>
		<key>link</key>
		<string>http://waarmedia.com//tv/</string>
		<key>http</key>
		<string>http://waarmedia.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>KNN</string>
		<key>logo</key>
		<string>KNN</string>
		<key>link</key>
		<string>http://www.knnc.net/live.aspx</string>
		<key>http</key>
		<string>http://www.knnc.net</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kurdistan</string>
		<key>logo</key>
		<string>Kurdistan</string>
		<key>link</key>
		<string>http://kurdistantv.net/ku/live</string>
		<key>http</key>
		<string>http://kurdistantv.net/ar/live</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Rêga</string>
		<key>logo</key>
		<string>Rega</string>
		<key>link</key>
		<string>http://regaykurdistan.com/tv/RegaTV.htm</string>
		<key>http</key>
		<string>http://www.rega.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>KurdMAX</string>
		<key>logo</key>
		<string>KurdMAX</string>
		<key>link</key>
		<string>http://www.kurdmax.tv/live</string>
		<key>http</key>
		<string>http://www.kurdmax.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Vin</string>
		<key>logo</key>
		<string>Vin</string>
		<key>link</key>
		<string>http://www.vintv.net/index.php/ku/zindi/tv</string>
		<key>http</key>
		<string>http://www.vintv.net</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Amozhgary ئامؤزكارى</string>
		<key>logo</key>
		<string>Amozhgary</string>
		<key>link</key>
		<string>http://amozhgary.tv/Live</string>
		<key>http</key>
		<string>http://amozhgary.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TRT 6 Kurdish</string>
		<key>logo</key>
		<string>6</string>
		<key>link</key>
		<string>http://www.trt.net.tr/Anasayfa/canli.aspx?y=tv&amp;k=trt6</string>
		<key>http</key>
		<string>http://www.trtkurdi.com.tr/zindi-tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Zarok</string>
		<key>logo</key>
		<string>Zarok</string>
		<key>link</key>
		<string>http://zaroktv.com.tr/Kurmanci/WESANA-ZINDI</string>
		<key>http</key>
		<string>http://zaroktv.com.tr</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sahar Azeri سحر</string>
		<key>logo</key>
		<string>Azeri</string>
		<key>link</key>
		<string>http://azeri.sahartv.ir/tv/live</string>
		<key>http</key>
		<string>http://azeri.sahartv.ir/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sahar Balkan سحر</string>
		<key>logo</key>
		<string>Balkan</string>
		<key>link</key>
		<string>http://balkan.sahartv.ir/tv/uzivo</string>
		<key>http</key>
		<string>http://balkan.sahartv.ir/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sahar Kurdish سحر</string>
		<key>logo</key>
		<string>Kurdish</string>
		<key>link</key>
		<string>http://kurdish.sahartv.ir/tv/live</string>
		<key>http</key>
		<string>http://kurdish.sahartv.ir/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sahar Kurmanci سحر</string>
		<key>logo</key>
		<string>Kurmanci</string>
		<key>link</key>
		<string>http://kurmanci.sahartv.ir/tv/live</string>
		<key>http</key>
		<string>http://kurmanci.sahartv.ir/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sahar Urdu سحر</string>
		<key>logo</key>
		<string>Urdu</string>
		<key>link</key>
		<string>http://urdu.sahartv.ir/tv/watch_live</string>
		<key>http</key>
		<string>http://www1.live.irib.ir/#ifilm-farsi</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mahabad مهاباد</string>
		<key>logo</key>
		<string>Mahabad</string>
		<key>link</key>
		<string>http://mahabad.irib.ir/%D9%BE%D8%AE%D8%B4-%D8%B2%D9%86%D8%AF%D9%87</string>
		<key>http</key>
		<string>http://mahabad.irib.ir</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ilam ایلام</string>
		<key>logo</key>
		<string>Ilam</string>
		<key>link</key>
		<string>http://ilam.irib.ir/live-streaming-sound</string>
		<key>http</key>
		<string>http://ilam.irib.ir/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Çira</string>
		<key>logo</key>
		<string>Cira</string>
		<key>link</key>
		<string>http://cira.tv/</string>
		<key>http</key>
		<string>http://cira.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Stêrk</string>
		<key>logo</key>
		<string>Sterk</string>
		<key>link</key>
		<string>http://sterktv.net/</string>
		<key>http</key>
		<string>http://sterktv.net/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Komala</string>
		<key>logo</key>
		<string>Komala</string>
		<key>link</key>
		<string>http://www.tvkomala.com/</string>
		<key>http</key>
		<string>http://www.tvkomala.com/</string>
	</dict>
</array>
</plist>
