<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Citizen</string>
		<key>logo</key>
		<string>Citizen</string>
		<key>link</key>
		<string>https://citizentv.co.ke/tv/</string>
		<key>http</key>
		<string>https://www.youtube.com/user/kenyacitizentv/videos?live_view=501&amp;view=2&amp;flow=grid</string>
	</dict>
	<dict>
		<key>name</key>
		<string>KTN Home</string>
		<key>logo</key>
		<string>Home</string>
		<key>link</key>
		<string>https://www.standardmedia.co.ke/ktnhome/</string>
		<key>http</key>
		<string>https://www.standardmedia.co.ke/ktnhome/live</string>
	</dict>
	<dict>
		<key>name</key>
		<string>KTN News</string>
		<key>logo</key>
		<string>News</string>
		<key>link</key>
		<string>https://www.standardmedia.co.ke/ktnnews/</string>
		<key>http</key>
		<string>https://www.standardmedia.co.ke/ktnnews/live</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kass</string>
		<key>logo</key>
		<string>Kass</string>
		<key>link</key>
		<string>http://kasstv.co.ke/</string>
		<key>http</key>
		<string>http://kasstv.co.ke/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>KBC 1</string>
		<key>logo</key>
		<string>KBC</string>
		<key>link</key>
		<string>http://www.kbc.co.ke/kbc-live/</string>
		<key>http</key>
		<string>http://www.kbc.co.ke</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Goodnews Broadcasting System</string>
		<key>logo</key>
		<string>Goodnews</string>
		<key>link</key>
		<string>http://www.gbskenya.com/live/index</string>
		<key>http</key>
		<string>http://www.gbskenya.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NTV</string>
		<key>logo</key>
		<string>NTV</string>
		<key>link</key>
		<string>https://www.youtube.com/user/qtvkenya/videos?flow=grid&amp;view=2&amp;live_view=501</string>
		<key>http</key>
		<string>https://ntv.nation.co.ke/live/2740874-2740874-4yhxxuz/index.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Inooro</string>
		<key>logo</key>
		<string>Inooro</string>
		<key>link</key>
		<string>https://www.youtube.com/channel/UCZlNMLTVNxzwB0axilK-rDw/videos?view=2&amp;flow=grid&amp;live_view=501</string>
		<key>http</key>
		<string>http://inoorotv.co.ke/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>K24</string>
		<key>logo</key>
		<string>K24</string>
		<key>link</key>
		<string>http://www.mediamaxnetwork.co.ke/livestream/</string>
		<key>http</key>
		<string>http://www.mediamaxnetwork.co.ke</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kameme</string>
		<key>logo</key>
		<string>Kameme</string>
		<key>link</key>
		<string>http://www.mediamaxnetwork.co.ke/kamemetv/</string>
		<key>http</key>
		<string>http://www.mediamaxnetwork.co.ke/kamemetv-livestream/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Njata</string>
		<key>logo</key>
		<string>Njata</string>
		<key>link</key>
		<string>http://njatatv.co.ke/</string>
		<key>http</key>
		<string>http://njatatv.co.ke/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ebru</string>
		<key>logo</key>
		<string>Ebru</string>
		<key>link</key>
		<string>http://www.ebru.co.ke/live/</string>
		<key>http</key>
		<string>http://www.ebru.co.ke</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Endtime</string>
		<key>logo</key>
		<string>Endtime</string>
		<key>link</key>
		<string>https://www.facebook.com/Endtimetv/live/</string>
		<key>http</key>
		<string></string>
	</dict>
</array>
</plist>
