<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1</string>
		<key>Back</key>
		<string>1</string>
		<key>Banner</key>
		<string>1</string>
		<key>Show1</key>
		<string>1</string>
		<key>Show2</key>
		<string>1</string>
		<key>Show3</key>
		<string>1</string>
		<key>Show4</key>
		<string>1</string>
		<key>Alarm</key>
		<string>1</string>
		<key>CustomBanner</key>
		<string>1</string>
		<key>CustomSplash</key>
		<string>1</string>
		<key>Header</key>
		<string>1</string>
		<key>Footer</key>
		<string>1</string>
		<key>Email</key>
		<string>1</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1</string>
		<key>Developer</key>
		<string>1</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Menu</key>
	<array>
		<string>Top</string>
		<string>News</string>
		<string>Local</string>
		<string>Classic</string>
		<string>Music</string>
		<string>Sport</string>
		<string>Talk</string>
		<string>Youth</string>
		<string>Oldies</string>
	</array>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Amor Peru</string>
			<key>logo</key>
			<string>Amor</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-amor-peru,17774.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Antankallo (TVRADIOPERU)</string>
			<key>logo</key>
			<string>Antankallo</string>
			<key>link</key>
			<string>http://az-streamingserver.com:2199/tunein/radiomaria.pls</string>
			<key>http</key>
			<string>http://cast.az-streamingserver.com:9037/;stream.mp3</string>
			<key>note</key>
			<string>Matucana (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Arequipa Internacional 103.9 FM</string>
			<key>logo</key>
			<string>Internacional</string>
			<key>link</key>
			<string>http://167.114.118.120:7084/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Arequipa Visión 102.9 FM</string>
			<key>logo</key>
			<string>Arequipa</string>
			<key>link</key>
			<string>http://65.60.2.26:8198/listen.pls</string>
			<key>http</key>
			<string>http://65.60.2.26:8198/stream?type=http&amp;nocache=509</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Astoria 94.9 FM</string>
			<key>logo</key>
			<string>Astoria</string>
			<key>link</key>
			<string>http://51.38.74.200:8421/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Iquitos (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Azul 840 AM</string>
			<key>logo</key>
			<string>Azul</string>
			<key>link</key>
			<string>https://5cefcbf58ba2e.streamlock.net/azul/azul.stream/playlist.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bacan Sat</string>
			<key>logo</key>
			<string>Bacan</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-bacan-sat,18727.m3u</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://209.9.238.4:8944/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bethel 1570 AM</string>
			<key>logo</key>
			<string>Bethel</string>
			<key>link</key>
			<string>http://96.31.83.86:8158/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bienestar 760 AM - 1360 AM</string>
			<key>logo</key>
			<string>Bienestar</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/BIENESTAR.pls?csegid=20004&amp;dist=20004</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Candela Pacayzapa 107.1 FM</string>
			<key>logo</key>
			<string>Candela</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://95.154.254.157:16679/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://95.154.254.157:16679/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Canto Grande 97.7 FM</string>
			<key>logo</key>
			<string>Canto</string>
			<key>link</key>
			<string>http://65.60.2.26:8050/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Capital 96.7 FM</string>
			<key>logo</key>
			<string>Capital</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/RADIO_CAPITAL.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-capital-96-7-fm,17775.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cielo</string>
			<key>logo</key>
			<string>Cielo</string>
			<key>link</key>
			<string>http://167.114.118.120:7342/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cima 97.0 FM</string>
			<key>logo</key>
			<string>Cima</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/cima-fm-97-0,17768.m3u</string>
			<key>http</key>
			<string>http://94.23.84.122:7018/;</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Comas 101.7 FM</string>
			<key>logo</key>
			<string>Comas</string>
			<key>link</key>
			<string>http://65.60.2.26:8044/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-comas-101-7-fm,17769.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Contacto Sur 93.9 FM - 800 AM</string>
			<key>logo</key>
			<string>Contacto</string>
			<key>link</key>
			<string>http://s30.myradiostream.com:12218/listen.pls</string>
			<key>http</key>
			<string>http://s30.myradiostream.com:12218/listem.mp3</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Continental 740 AM</string>
			<key>logo</key>
			<string>Continental</string>
			<key>link</key>
			<string>https://betelgeuse.dribbcast.com/proxy/continental?mp=/stream</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Corazón 94.3 FM</string>
			<key>logo</key>
			<string>Corazon</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/RADIO_CORAZON.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-corazon-94-3-fm,17776.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dios es Amor</string>
			<key>logo</key>
			<string>Dios</string>
			<key>link</key>
			<string>https://radio.gisslive.com:8256/stream.m3u</string>
			<key>http</key>
			<string>https://radio.gisslive.com:8226/stream.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Disney</string>
			<key>logo</key>
			<string>Disney</string>
			<key>link</key>
			<string>http://173.192.105.252:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Distorsion FM</string>
			<key>logo</key>
			<string>Distorsion</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://190.196.10.197:8100/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://190.196.10.197:8100/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string>Rock Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Doble N 95.3 FM</string>
			<key>logo</key>
			<string>N</string>
			<key>link</key>
			<string>http://www.radiodoblen.com/emision.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-doble-n-95-3fm,10431.m3u</string>
			<key>note</key>
			<string>Cajamarca (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Doble Nueve 99.1 FM</string>
			<key>logo</key>
			<string>Nueve</string>
			<key>link</key>
			<string>http://54.39.129.47:8004/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-doble-nueve-99-1-fm,10260.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Enmanuel 100.7 FM</string>
			<key>logo</key>
			<string>Enmanuel</string>
			<key>link</key>
			<string>https://sonicpanel.dattastreaming.com/8108/stream.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Estrella 102.7 FM</string>
			<key>logo</key>
			<string>Estrella</string>
			<key>link</key>
			<string>http://radio.datahost.pe:9660/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Trujillo (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Exito 1060 AM</string>
			<key>logo</key>
			<string>Exito</string>
			<key>link</key>
			<string>http://67.212.179.138:7200/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-exito-1060,12934.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Exitosa FM</string>
			<key>logo</key>
			<string>Exitosa</string>
			<key>link</key>
			<string>http://167.114.116.212:1935/radioexitosa2016/radioexitosa.stream/playlist.m3u8</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-exitosa-92-5-fm,17766.m3u</string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fe Peru 1220 AM</string>
			<key>logo</key>
			<string>Fe</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-fe-peru-1220,18728.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Felicidad 88.9 FM</string>
			<key>logo</key>
			<string>Felicidad</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/RADIO_FELICIDAD.pls</string>
			<key>http</key>
			<string>http://playerservices.streamtheworld.com/pls/RADIO_FELICIDAD_AM.pls</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Feliz 1110 AM</string>
			<key>logo</key>
			<string>Feliz</string>
			<key>link</key>
			<string>https://rafel.radioca.st/listen.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://31.177.57.51:8592/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fiesta 105.5 FM</string>
			<key>logo</key>
			<string>Fiesta</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-fiesta-105-5-fm,17772.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Filarmonia 102.7 FM</string>
			<key>logo</key>
			<string>Filarmonia</string>
			<key>link</key>
			<string>http://c22.radioboss.fm:8100/stream</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/filarmonia-102-7fm,10391.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Frecuencia 100</string>
			<key>logo</key>
			<string>100</string>
			<key>link</key>
			<string>http://oyotunstream.com:7066/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Trujillo (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Frecuencia 1330 Arequipa</string>
			<key>logo</key>
			<string>1330</string>
			<key>link</key>
			<string>http://freeus3.listen2myradio.com:33698/stream</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Frecuencia Primera FM</string>
			<key>logo</key>
			<string>Frecuencia</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/frecuencia-primera-fm,759.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Gigante 102.5 FM</string>
			<key>logo</key>
			<string>Gigante</string>
			<key>link</key>
			<string>http://95.154.196.33:10904/listen.pls?sid=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Cusco (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>HUASCARAN 104.5</string>
			<key>logo</key>
			<string>HUASCARAN</string>
			<key>link</key>
			<string>http://69.30.218.190:27832/;</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://69.30.218.190:27832/listen.pls?sid=1&amp;t=.pls</string>
			<key>note</key>
			<string>Music (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Impacto</string>
			<key>logo</key>
			<string>Impacto</string>
			<key>link</key>
			<string>http://radio.radiotel.net:9000/listen.pls?sid=1</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-impacto-90-1-fm,17762.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Inca 540 AM</string>
			<key>logo</key>
			<string>Inca</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/CRP_INC.pls?csegid=20004&amp;dist=20004</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-inca-540-am,18720.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Integridad 105.7 FM</string>
			<key>logo</key>
			<string>Integridad</string>
			<key>link</key>
			<string>http://167.114.118.119:7710/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Trujillo (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Intiraymi 830 AM</string>
			<key>logo</key>
			<string>Intiraymi</string>
			<key>link</key>
			<string>http://radiointiraymi.com/envivo.pls</string>
			<key>http</key>
			<string>http://ip.melodyradios.com:8038/live.m3u</string>
			<key>note</key>
			<string>Cusco (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Joven</string>
			<key>logo</key>
			<string>Joven</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://144.217.203.184:8876/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://144.217.203.184:8876/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Tarma (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>JR FM 88.7</string>
			<key>logo</key>
			<string>JR</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://99.198.110.162:8038/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://99.198.110.162:8038/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string>Music (Arequipa, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Karibena 94.9 FM</string>
			<key>logo</key>
			<string>Karibena</string>
			<key>link</key>
			<string>http://167.114.118.120:7442/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-karibena-94-9-fm,17765.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>KHostPeru</string>
			<key>logo</key>
			<string>KHostPeru</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.50.154.235:8050/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.50.154.235:8050/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Cronica</string>
			<key>logo</key>
			<string>Cronica</string>
			<key>link</key>
			<string>https://cdnh4.iblups.com/hls/3KBokMgDQi.m3u8</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-la-cronica,18719.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Familia 105.1 FM</string>
			<key>logo</key>
			<string>Familia</string>
			<key>link</key>
			<string>http://65.60.2.26:6122/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Inolvidable 93.7 FM</string>
			<key>logo</key>
			<string>Inolvidable</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/CRP_LI.pls?csegid=20004&amp;dist=20004</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-la-inolvidable-93-7-fm,17764.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Kalle 96.1 FM</string>
			<key>logo</key>
			<string>Kalle</string>
			<key>link</key>
			<string>http://167.114.118.120:7448/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-la-kalle-96-1-fm,17767.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Luz 1080 AM</string>
			<key>logo</key>
			<string>Luz</string>
			<key>link</key>
			<string>http://radio.transmite.pe:9310/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-la-luz-1080am,10395.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Radio Joven 1550</string>
			<key>logo</key>
			<string>1550</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-1550-la-radio-joven,9666.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Huancayo (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Ribereña Mix 89.1 FM</string>
			<key>logo</key>
			<string>La</string>
			<key>link</key>
			<string>https://node-20.zeno.fm/vptyc0f8eeruv</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Zona 90.5 FM</string>
			<key>logo</key>
			<string>Zona</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/RADIO_LAZONA.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-la-zona-90-5-fm,19037.m3u</string>
			<key>note</key>
			<string>Top</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Latina 990 AM</string>
			<key>logo</key>
			<string>Latina</string>
			<key>link</key>
			<string>http://server07.srvsh.com.br:8016/;</string>
			<key>http</key>
			<string>http://192.151.156.19:7382/listen.pls?sid=1</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Libertad 820 AM</string>
			<key>logo</key>
			<string>820</string>
			<key>link</key>
			<string>http://stream.nortecloud.com:9972/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Libertad Mundo 1160 AM</string>
			<key>logo</key>
			<string>Libertad</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-libertad-mundo,10393.m3u</string>
			<key>http</key>
			<string>http://162.244.80.118:3727/listen.pls</string>
			<key>note</key>
			<string>Trujillo (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Lider 98.7 FM – 1240 AM</string>
			<key>logo</key>
			<string>Lider</string>
			<key>link</key>
			<string>https://betelgeuse.dribbcast.com/proxy/radiolider?mp=/stream</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Magica 88.3 FM</string>
			<key>logo</key>
			<string>Magica</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/MAG.pls?csegid=20004&amp;dist=20004</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-magica-88-3-fm,14968.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Maranon 580 AM</string>
			<key>logo</key>
			<string>Maranon</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-maranon-580-am,10392.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Jaén (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Maria (Peru)</string>
			<key>logo</key>
			<string>Maria</string>
			<key>link</key>
			<string>https://dreamsiteradiocp4.com/proxy/rmperu2?mp=/stream</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-maria-peru-580-am,18723.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Melodía 104.3 FM</string>
			<key>logo</key>
			<string>Melodia</string>
			<key>link</key>
			<string>http://184.154.28.210:8214/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Metropolitana 1040</string>
			<key>logo</key>
			<string>METROPOLITANA</string>
			<key>link</key>
			<string>http://99.198.110.162:8130/listen.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://99.198.110.162:8130/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Folk Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MH Radio</string>
			<key>logo</key>
			<string>MH</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://212.83.172.164:9316/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://212.83.172.164:9316/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mil 1000 AM</string>
			<key>logo</key>
			<string>Mil</string>
			<key>link</key>
			<string>https://conectperu.com/cp/links.php?p=8252&amp;m=pls</string>
			<key>http</key>
			<string>https://conectperu.com/8252/stream</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Milenia 1530 AM</string>
			<key>logo</key>
			<string>Milenia</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://67.212.179.138:7130/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://67.212.179.138:7130/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Moda 97.3 FM</string>
			<key>logo</key>
			<string>Moda</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/CRP_MOD.pls?csegid=20004&amp;dist=20004</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-moda-97-3-fm,15197.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Moderna 930 AM</string>
			<key>logo</key>
			<string>Moderna</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-moderna,18726.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mundial 1540 AM</string>
			<key>logo</key>
			<string>Mundial</string>
			<key>link</key>
			<string>https://node-17.zeno.fm/4gtgrwrzczzuv</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music (Trujillo, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nacional del Perú 103.9 FM</string>
			<key>logo</key>
			<string>Nacional</string>
			<key>link</key>
			<string>https://cdnh4.iblups.com/hls/OisZOgZAOB.m3u8</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-national-103-9-fm,767.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>NOVA 105.1 FM</string>
			<key>logo</key>
			<string>NOVA</string>
			<key>link</key>
			<string>http://67.212.179.138:7064/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Trujillo (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nueva Cadena 1200 AM</string>
			<key>logo</key>
			<string>Cadena</string>
			<key>link</key>
			<string>http://radio.transmite.pe:9300/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nueva Q 107.1 FM</string>
			<key>logo</key>
			<string>Nueva</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/CRP_NQ.pls?csegid=20004&amp;dist=20004</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/107-1-nueva-q-fm,17773.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nuevo Tiempo</string>
			<key>logo</key>
			<string>Nuevo</string>
			<key>link</key>
			<string>https://stream.live.novotempo.com/radio/smil:rntLimaPE.smil/playlist.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Oasis 100.1 FM</string>
			<key>logo</key>
			<string>Oasis</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/CRP_OAS.pls?csegid=20004&amp;dist=20004</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-oasis-100-1-fm,17103.m3u</string>
			<key>note</key>
			<string>Rock Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>OK 94.9 FM</string>
			<key>logo</key>
			<string>OK</string>
			<key>link</key>
			<string>https://node-27.zeno.fm/qrqwzybuumzuv</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Trujillo (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Onda Cero 98.1 FM</string>
			<key>logo</key>
			<string>Cero</string>
			<key>link</key>
			<string>https://streaming.gometri.com/stream/8011/listen.pls?sid=1</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-onda-cero-98-1-fm,13187.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Onda Digital</string>
			<key>logo</key>
			<string>Onda</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/onda-digital,12933.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Oriente 560 AM</string>
			<key>logo</key>
			<string>Oriente</string>
			<key>link</key>
			<string>http://player.srvstm.com/player/18090/winamp.pls</string>
			<key>http</key>
			<string>http://radio.radiotel.net:9312/listen.pls</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ovación 620 AM</string>
			<key>logo</key>
			<string>620</string>
			<key>link</key>
			<string>https://5949aa132c8fb.streamlock.net:554/ipradioovacion1/liveovacion1radio/playlist.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Oxigeno</string>
			<key>logo</key>
			<string>Oxigeno</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/RADIO_OXIGENO.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/oxigeno-rock,19640.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pacífico 640 AM</string>
			<key>logo</key>
			<string>Pacifico</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-pacifico-640-am,18724.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>PAMPA YURAC 90.1 FM</string>
			<key>logo</key>
			<string>PAMPA</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.15.77.50:9474/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.15.77.50:9474/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Panamericana</string>
			<key>logo</key>
			<string>Panamericana</string>
			<key>link</key>
			<string>https://streaming.gometri.com/stream/8000/listen.pls?sid=1</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/panamericana-radio,4413.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Perú Cumbia</string>
			<key>logo</key>
			<string>PeruCumbia</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-peru-cumbia,17104.m3u</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://67.212.179.138:8144/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>PERU RADIO</string>
			<key>logo</key>
			<string>PER</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.7.58.248:35937/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.7.58.248:35937/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Planeta 107.7 FM</string>
			<key>logo</key>
			<string>Planeta</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/CRP_PLA.pls?csegid=20004&amp;dist=20004</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-planeta-107-7,14294.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radiomar 106.3 FM</string>
			<key>logo</key>
			<string>Radiomar</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/CRP_MAR.pls?csegid=20004&amp;dist=20004</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radiomar-plus-106-3-fm,17612.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>RBC Radio 104.7 FM</string>
			<key>logo</key>
			<string>RBC</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/rbc-satelital-104-7-fm,18729.m3u</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://67.212.179.138:8730/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Red Integridad</string>
			<key>logo</key>
			<string>Red</string>
			<key>link</key>
			<string>https://turbo.2cdn.eu/redintegridad/stream.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/red-radio-700-am,18725.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>REDE 740 AM</string>
			<key>logo</key>
			<string>REDE</string>
			<key>link</key>
			<string>https://dattavolt.com/cp/links.php?p=8280&amp;m=pls</string>
			<key>http</key>
			<string>https://player.datalivehd.com/proxy/7066/;/live</string>
			<key>note</key>
			<string>Music (Cusco, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ritmo Romantica 93.1 FM</string>
			<key>logo</key>
			<string>Ritmo</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/CRP_RIT.pls?csegid=20004&amp;dist=20004</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-ritmo-romantica-93-1,15868.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>RPP Noticias</string>
			<key>logo</key>
			<string>RPP</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/RADIO_RPP.pls</string>
			<key>http</key>
			<string>http://playerservices.streamtheworld.com/pls/RADIO_RPP_AREQUIPA.pls</string>
			<key>note</key>
			<string>News, Talk, Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Salkantay 92.7 FM - 1080 AM</string>
			<key>logo</key>
			<string>Salkantay</string>
			<key>link</key>
			<string>http://ip.melodyradios.com:8040/listen.pls?sid=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Cusco (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>San Borja 91.1 FM</string>
			<key>logo</key>
			<string>Borja</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-san-borja-91-1fm,10396.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>San Martín 97.7 FM - 1380 AM</string>
			<key>logo</key>
			<string>San</string>
			<key>link</key>
			<string>https://sonicpanel.dattastreaming.com:10968/stream?icy=http</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Santa Mónica 93.9 FM - 600 AM</string>
			<key>logo</key>
			<string>Monica</string>
			<key>link</key>
			<string>https://player.voxhd.com.br/player/7400/itunes.pls</string>
			<key>http</key>
			<string>https://player.voxhd.com.br/player/7400/winamp.pls</string>
			<key>note</key>
			<string>Cusco (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Santa Rosa 1500 AM</string>
			<key>logo</key>
			<string>Santa</string>
			<key>link</key>
			<string>https://securestream.conectarhosting.com:8136/live.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-santa-rosa,19988.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Satélite 100.7 FM</string>
			<key>logo</key>
			<string>Satelite</string>
			<key>link</key>
			<string>https://sonicpanel.dattastreaming.com/8170/stream</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sensación 97.7 FM</string>
			<key>logo</key>
			<string>Sensacion</string>
			<key>link</key>
			<string>http://54.39.129.47:8106/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sonica 88.1 FM</string>
			<key>logo</key>
			<string>Sonica</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/sonica-88-1-fm,18730.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Stereo 1</string>
			<key>logo</key>
			<string>Stereo</string>
			<key>link</key>
			<string>http://radiostereo1fm.com/player/playlist.php?name=listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Stereo Villa 101.7 FM</string>
			<key>logo</key>
			<string>Villa</string>
			<key>link</key>
			<string>http://107.150.32.26:9316/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Studio 92</string>
			<key>logo</key>
			<string>92</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/RADIO_STUDIO92.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/studio-92,10433.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Studio 97</string>
			<key>logo</key>
			<string>97</string>
			<key>link</key>
			<string>http://www.studio97.com.pe/player/?pl=winamp&amp;c=Radio%20Studio%2097</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://91.121.113.129:8116/listen.pls?sid=1&amp;t=.pls</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sucre</string>
			<key>logo</key>
			<string>Sucre</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://78.129.224.17:12893/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://78.129.224.17:12893/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Super Stereo 105.5 FM</string>
			<key>logo</key>
			<string>Super</string>
			<key>link</key>
			<string>http://198.148.103.200:8052/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tawantinsuyo</string>
			<key>logo</key>
			<string>Tawantinsuyo</string>
			<key>link</key>
			<string>http://eu2.serviaudio.com:10959/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Cusco (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tropical 99.1 FM</string>
			<key>logo</key>
			<string>Tropical</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-tropical,10196.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Tarapoto (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TURBO MIX 92.5 FM</string>
			<key>logo</key>
			<string>TURBO</string>
			<key>link</key>
			<string>http://167.114.118.120:7624/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-turbomix-92-5-fm,17420.m3u</string>
			<key>note</key>
			<string>Music (Cajamarca, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TURBO MIX 710 AM</string>
			<key>logo</key>
			<string>710</string>
			<key>link</key>
			<string>http://167.114.118.120:7626/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music (Cajamarca, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TURBO MIX PIRATA 103.3 FM</string>
			<key>logo</key>
			<string>PIRATA</string>
			<key>link</key>
			<string>http://167.114.118.120:7628/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/turbo-mix-103-3-fm,16909.m3u</string>
			<key>note</key>
			<string>Music (Cajamarca, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Union 103.3 FM</string>
			<key>logo</key>
			<string>Union</string>
			<key>link</key>
			<string>http://67.212.179.138:7218/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-union-103-3fm,10399.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Union 880 AM</string>
			<key>logo</key>
			<string>880AM</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-union-880am,10398.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Victoria 92.9 FM</string>
			<key>logo</key>
			<string>Victoria</string>
			<key>link</key>
			<string>http://radio.sistemasandinos.org:10961/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Vida 680 AM</string>
			<key>logo</key>
			<string>Vida</string>
			<key>link</key>
			<string>https://eu2.serviaudio.com:10991/listen.pls?sid=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Cusco (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Viva FM</string>
			<key>logo</key>
			<string>Viva</string>
			<key>link</key>
			<string>http://tupanel.info:8746/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/viva-fm-104-7-fm,17771.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>X Radio 91.9 FM</string>
			<key>logo</key>
			<string>X</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/x-radio-91-9-fm,17763.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Yaraví 106.3 FM - 930 AM</string>
			<key>logo</key>
			<string>930</string>
			<key>link</key>
			<string>http://99.198.110.162:7012/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Z Rock &amp; Pop</string>
			<key>logo</key>
			<string>Z</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/z-rock-pop,18721.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top Music</string>
		</dict>
	</array>
</dict>
</plist>
