<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1571871628</string>
		<key>Back</key>
		<string>8110850503</string>
		<key>Banner</key>
		<string>8594066231</string>
		<key>Show1</key>
		<string>REMOVED</string>
		<key>Show2</key>
		<string>REMOVED</string>
		<key>Show3</key>
		<string>REMOVED</string>
		<key>Show4</key>
		<string>REMOVED</string>
		<key>Alarm</key>
		<string>4243757688</string>
		<key>CustomBanner</key>
		<string>3860614302</string>
		<key>CustomSplash</key>
		<string>1179498696</string>
		<key>Header</key>
		<string>4744829875</string>
		<key>Footer</key>
		<string>7179421524</string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string>1366614217</string>
		<key>Application</key>
		<string>1455389553</string>
		<key>Developer</key>
		<string>1239592099</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Radio Bacan Sat</string>
			<key>logo</key>
			<string>Bacan</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://209.9.238.4:8944/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://209.9.238.4:8944/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>JR FM 88.7</string>
			<key>logo</key>
			<string>JR</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://99.198.110.162:8038/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://99.198.110.162:8038/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string>Arequipa, Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>METROPOLITANA 1040</string>
			<key>logo</key>
			<string>METROPOLITANA</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://99.198.110.162:8130/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://99.198.110.162:8130/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Folk Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RBC Radio 104.7 FM</string>
			<key>logo</key>
			<string>RBC</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://67.212.179.138:8730/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://67.212.179.138:8730/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Arequipa Visión 102.9 FM</string>
			<key>logo</key>
			<string>Arequipa</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://65.60.2.26:8198/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://65.60.2.26:8198/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Sucre</string>
			<key>logo</key>
			<string>Sucre</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://78.129.224.17:12893/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://78.129.224.17:12893/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Libertad Mundo - La Voz de La Calle</string>
			<key>logo</key>
			<string>Libertad</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://162.244.80.118:3727/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://162.244.80.118:3727/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Trujillo, Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Studio 97</string>
			<key>logo</key>
			<string>97</string>
			<key>link</key>
			<string>http://www.studio97.com.pe/player/?pl=winamp&amp;c=Radio%20Studio%2097</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://91.121.113.129:8116/listen.pls?sid=1&amp;t=.pls</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Distorsion FM</string>
			<key>logo</key>
			<string>Distorsion</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://190.196.10.197:8100/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://190.196.10.197:8100/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string>Rock Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MH Radio</string>
			<key>logo</key>
			<string>MH</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://212.83.172.164:9316/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://212.83.172.164:9316/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>PAMPA YURAC 90.1 FM</string>
			<key>logo</key>
			<string>PAMPA</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.15.77.50:9474/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.15.77.50:9474/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Candela Pacayzapa 107.1 FM</string>
			<key>logo</key>
			<string>Candela</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://95.154.254.157:16679/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://95.154.254.157:16679/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Joven</string>
			<key>logo</key>
			<string>Joven</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://144.217.203.184:8876/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://144.217.203.184:8876/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Tarma, Local</string>
		</dict>
	</array>
</dict>
</plist>
