<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1</string>
		<key>Back</key>
		<string>1</string>
		<key>Banner</key>
		<string>1</string>
		<key>Show1</key>
		<string>1</string>
		<key>Show2</key>
		<string>1</string>
		<key>Show3</key>
		<string>1</string>
		<key>Show4</key>
		<string>1</string>
		<key>Alarm</key>
		<string>1</string>
		<key>CustomBanner</key>
		<string>1</string>
		<key>CustomSplash</key>
		<string>1</string>
		<key>Header</key>
		<string>1</string>
		<key>Footer</key>
		<string>1</string>
		<key>Email</key>
		<string>1</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1</string>
		<key>Developer</key>
		<string>1</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Menu</key>
	<array>
		<string>Top</string>
		<string>News</string>
		<string>Local</string>
		<string>Classic</string>
		<string>Music</string>
		<string>Sport</string>
		<string>Talk</string>
		<string>Youth</string>
		<string>Oldies</string>
	</array>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Suara Malaysia Sabah</string>
			<key>logo</key>
			<string>Sabah</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.111.140.6:8146/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.111.140.6:8146/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>RL Retro</string>
			<key>logo</key>
			<string>RL</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://188.165.237.19:8366/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://188.165.237.19:8366/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>AI FM</string>
			<key>logo</key>
			<string>AI</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/ai-fm,19885.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Asyik FM</string>
			<key>logo</key>
			<string>Asyik</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/asyik-fm,19887.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Best 104 FM</string>
			<key>logo</key>
			<string>Best</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/best-104-fm,15943.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>BFM 89.9 FM</string>
			<key>logo</key>
			<string>BFM</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/bfm-89-9-fm,12740.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Petaling Jaya (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cats FM</string>
			<key>logo</key>
			<string>Cats</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/cats-fm,15945.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>FLY FM 95.8</string>
			<key>logo</key>
			<string>FLY</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/fly-fm-95-8,9447.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Petaling Jaya (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hitz FM</string>
			<key>logo</key>
			<string>Hitz</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/hitz-fm,11410.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hitz FM Kota Kinabalu</string>
			<key>logo</key>
			<string>Kota</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/hitz-fm-kota-kinabalu,16155.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hitz FM Kuching</string>
			<key>logo</key>
			<string>Kuching</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/hitz-fm-kuching,16156.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>HOT FM</string>
			<key>logo</key>
			<string>HOT</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/hot-fm,11409.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>IkimFM</string>
			<key>logo</key>
			<string>IkimFM</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/ikimfm,9701.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Johor FM</string>
			<key>logo</key>
			<string>Johor</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/johor-fm,9702.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kedah FM</string>
			<key>logo</key>
			<string>Kedah</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/kedah-fm,19898.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kelantan FM</string>
			<key>logo</key>
			<string>Kelantan</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/kelantan-fm,19899.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>KL FM 97.2</string>
			<key>logo</key>
			<string>KL</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/kl-fm-97-2,18261.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Labuan FM 89.4</string>
			<key>logo</key>
			<string>Labuan</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/labuan-fm-89-4,15947.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Lite FM</string>
			<key>logo</key>
			<string>Lite</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/lite-fm,11411.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Minnal FM</string>
			<key>logo</key>
			<string>Minnal</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/minnal-fm,19886.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mutiara FM</string>
			<key>logo</key>
			<string>Mutiara</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/mutiara-fm,12739.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nasional FM</string>
			<key>logo</key>
			<string>Nasional</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/nasional-fm,18260.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Negiri FM</string>
			<key>logo</key>
			<string>Negiri</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/negiri-fm,9704.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>One FM - 88.1 FM</string>
			<key>logo</key>
			<string>One</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/one-fm-88-1-fm,15944.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pahang FM 104.1</string>
			<key>logo</key>
			<string>Pahang</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/pahang-fm-104-1,19900.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Perlis FM</string>
			<key>logo</key>
			<string>Perlis</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/perlis-fm,19902.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Putra FM 90.7</string>
			<key>logo</key>
			<string>Putra</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/putra-fm,15957.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio 98.8</string>
			<key>logo</key>
			<string>98</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-98-8,5253.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Klasik</string>
			<key>logo</key>
			<string>Klasik</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-klasik,15942.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Melaka</string>
			<key>logo</key>
			<string>Melaka</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-melaka,836.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sabah VFM</string>
			<key>logo</key>
			<string>VFM</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/selangor-fm,9705.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Selangor FM</string>
			<key>logo</key>
			<string>Selangor</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/selangor-fm,9705.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sinar FM 96.7</string>
			<key>logo</key>
			<string>Sinar</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/sinar-fm-96-7,18164.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Suria FM</string>
			<key>logo</key>
			<string>Suria</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/suria-fm,14289.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Traxx FM Malaysia</string>
			<key>logo</key>
			<string>Traxx</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/traxx-fm-malaysia,19884.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>WAI FM</string>
			<key>logo</key>
			<string>WAI</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/wai-fm,19901.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
