<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Lao-Thai US</string>
		<key>logo</key>
		<string>US</string>
		<key>link</key>
		<string>http://www.laothaitv.com/</string>
		<key>http</key>
		<string>http://www.laothaitv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hmong 32.6</string>
		<key>logo</key>
		<string>32</string>
		<key>link</key>
		<string>http://hmongtvnetwork.com/watch-32-6/</string>
		<key>http</key>
		<string>http://hmongtvnetwork.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hmong 25.3</string>
		<key>logo</key>
		<string>25</string>
		<key>link</key>
		<string>http://hmongtvnetwork.com/watch-25-3/</string>
		<key>http</key>
		<string>http://hmongtvnetwork.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hmong USA</string>
		<key>logo</key>
		<string>USA</string>
		<key>link</key>
		<string>http://www.hmongusatv.com/</string>
		<key>http</key>
		<string>http://www.hmongusatv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SEA</string>
		<key>logo</key>
		<string>SEA</string>
		<key>link</key>
		<string>http://seatv.com.kh/second/live/2/3</string>
		<key>http</key>
		<string>http://seatv.com.kh</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hang Meas RHM</string>
		<key>logo</key>
		<string>RHM</string>
		<key>link</key>
		<string>http://www.hangmeas.com.kh/en/rhm-hdtv/</string>
		<key>http</key>
		<string>http://www.hangmeas.com.kh/en/tv-channel/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hang Meas HM</string>
		<key>logo</key>
		<string>HM</string>
		<key>link</key>
		<string>http://www.hangmeas.com.kh/en/hm-hdtv/</string>
		<key>http</key>
		<string>http://www.hangmeas.com.kh/en/tv-channel/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CNC</string>
		<key>logo</key>
		<string>CNC</string>
		<key>link</key>
		<string>https://www.facebook.com/pg/cnc.news.kh/videos</string>
		<key>http</key>
		<string>http://www.cnc.com.kh/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MRTV-4</string>
		<key>logo</key>
		<string>4</string>
		<key>link</key>
		<string>http://www.pyoneplay.com/live/mrtv---4</string>
		<key>http</key>
		<string>http://www.mrtv4.com.mm/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bloomberg Asia</string>
		<key>logo</key>
		<string>bloomberg</string>
		<key>link</key>
		<string>https://www.bloomberg.com/live/asia</string>
		<key>http</key>
		<string>https://www.bloomberg.com/live/asia_stream</string>
	</dict>
</array>
</plist>
