<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>NPO Nieuws</string>
		<key>logo</key>
		<string>Nieuws</string>
		<key>link</key>
		<string>http://nos.nl/livestream/npo-nieuws</string>
		<key>http</key>
		<string>https://www.npo.nl/live/npo-nieuws</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NPO Politiek</string>
		<key>logo</key>
		<string>Politiek</string>
		<key>link</key>
		<string>http://nos.nl/livestream/npo-politiek</string>
		<key>http</key>
		<string>https://www.npo.nl/live/npo-politiek</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NPO 1</string>
		<key>logo</key>
		<string>NPO1</string>
		<key>link</key>
		<string>https://www.npo.nl/live/npo-1</string>
		<key>http</key>
		<string>https://www.npo.nl</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NPO 2</string>
		<key>logo</key>
		<string>NPO2</string>
		<key>link</key>
		<string>https://www.npo.nl/live/npo-2</string>
		<key>http</key>
		<string>https://www.npo.nl</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NPO 3</string>
		<key>logo</key>
		<string>NPO3</string>
		<key>link</key>
		<string>https://www.npo.nl/npo3</string>
		<key>http</key>
		<string>https://www.npo.nl</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NPO Cultura</string>
		<key>logo</key>
		<string>Cultura</string>
		<key>link</key>
		<string>https://www.npo.nl/live/npo-cultura</string>
		<key>http</key>
		<string>https://www.npo.nl</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NPO 101</string>
		<key>logo</key>
		<string>NPO101</string>
		<key>link</key>
		<string>https://www.npo.nl/live/npo-101</string>
		<key>http</key>
		<string>https://www.npo.nl</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NPO Best</string>
		<key>logo</key>
		<string>NPOBest</string>
		<key>link</key>
		<string>https://www.npo.nl/live/npo-best</string>
		<key>http</key>
		<string>https://www.npo.nl</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NPO Zapp Xtra</string>
		<key>logo</key>
		<string>Zapp</string>
		<key>link</key>
		<string>https://www.npo.nl/live/npo-zappxtra</string>
		<key>http</key>
		<string>https://www.npo.nl</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SLAM</string>
		<key>logo</key>
		<string>SLAM</string>
		<key>link</key>
		<string>https://live.slam.nl/slam-live/</string>
		<key>http</key>
		<string>https://www.slam.nl/slam-tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>538</string>
		<key>logo</key>
		<string>538</string>
		<key>link</key>
		<string>http://www.538.nl/live/tv/index.php</string>
		<key>http</key>
		<string>https://www.538.nl</string>
	</dict>
	<dict>
		<key>name</key>
		<string>AFTV</string>
		<key>logo</key>
		<string>AFTV</string>
		<key>link</key>
		<string>http://www.aftv.nl/</string>
		<key>http</key>
		<string>http://www.aftv.nl/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RTV Drenthe</string>
		<key>logo</key>
		<string>RTV</string>
		<key>link</key>
		<string>http://www.rtvdrenthe.nl/tv</string>
		<key>http</key>
		<string>http://www.rtvdrenthe.nl/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Omroep Flevoland</string>
		<key>logo</key>
		<string>Omroep</string>
		<key>link</key>
		<string>http://www.omroepflevoland.nl/kijken</string>
		<key>http</key>
		<string>http://www.omroepflevoland.nl/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Omrop Fryslân</string>
		<key>logo</key>
		<string>Omrop</string>
		<key>link</key>
		<string>http://www.omropfryslan.nl/live/omrop-fryslan-tv</string>
		<key>http</key>
		<string>http://www.omropfryslan.nl/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Omrop Klipkar TV</string>
		<key>logo</key>
		<string>Klipkar</string>
		<key>link</key>
		<string>http://www.omropfryslan.nl/live/klipkar-tv</string>
		<key>http</key>
		<string>http://www.omropfryslan.nl/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ede</string>
		<key>logo</key>
		<string>Ede</string>
		<key>link</key>
		<string>http://www.lokaleomroepede.nl/live</string>
		<key>http</key>
		<string>http://www.lokaleomroepede.nl/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Omroep Gelderland</string>
		<key>logo</key>
		<string>Gelderland</string>
		<key>link</key>
		<string>http://www.omroepgelderland.nl/tv</string>
		<key>http</key>
		<string>http://www.omroepgelderland.nl/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>N1 (KIJK RN7)</string>
		<key>logo</key>
		<string>N1</string>
		<key>link</key>
		<string>https://rn7.nl/tv</string>
		<key>http</key>
		<string>http://www.n1.nl/livestream/content/page?798</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RTV Hattem</string>
		<key>logo</key>
		<string>Hattem</string>
		<key>link</key>
		<string>http://content.streamone.net/embed/account=D5RJNYcbAV42/livestream=kJZMIKsTN0cQ/omroep-hattem-tv.html</string>
		<key>http</key>
		<string>http://www.rtvhattem.nl/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RTV Arnhem</string>
		<key>logo</key>
		<string>Arnhem</string>
		<key>link</key>
		<string>http://www.rtv-arnhem.nl/</string>
		<key>http</key>
		<string>http://www.rtv-arnhem.nl/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RTV Noord</string>
		<key>logo</key>
		<string>Noord</string>
		<key>link</key>
		<string>http://www.rtvnoord.nl/livetv</string>
		<key>http</key>
		<string>http://www.rtvnoord.nl/live</string>
	</dict>
	<dict>
		<key>name</key>
		<string>OOG</string>
		<key>logo</key>
		<string>OOG</string>
		<key>link</key>
		<string>https://www.oogtv.nl/stream/popup_tv.php</string>
		<key>http</key>
		<string>https://www.oogtv.nl/#</string>
	</dict>
	<dict>
		<key>name</key>
		<string>L1</string>
		<key>logo</key>
		<string>L1</string>
		<key>link</key>
		<string>http://l1-live.nl/live-l1-tv/</string>
		<key>http</key>
		<string>http://l1-live.nl/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>3ML</string>
		<key>logo</key>
		<string>ML</string>
		<key>link</key>
		<string>http://www.3ml.nl/gemist.php?id=live</string>
		<key>http</key>
		<string>http://www.3ml.nl/swf/player.swf?autostart=true&amp;provider=rtmp&amp;streamer=rtmp://fms1.3ml.nl/livepkgr/&amp;file=livetv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Omroep Venlo</string>
		<key>logo</key>
		<string>Venlo</string>
		<key>link</key>
		<string>https://omroepvenlo.nl/live/tv</string>
		<key>http</key>
		<string>https://omroepvenlo.nl/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Omroep Reindonk</string>
		<key>logo</key>
		<string>Reindonk</string>
		<key>link</key>
		<string>http://www.reindonk.nl/livestream</string>
		<key>http</key>
		<string>http://www.reindonk.nl/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Weert</string>
		<key>logo</key>
		<string>Weert</string>
		<key>link</key>
		<string>http://www.weertfmtv.nl/livestream</string>
		<key>http</key>
		<string>http://www.weertfmtv.nl/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Omroep Brabant</string>
		<key>logo</key>
		<string>Brabant</string>
		<key>link</key>
		<string>http://www.omroepbrabant.nl/Portal.aspx?type=tv</string>
		<key>http</key>
		<string>http://www.omroepbrabant.nl/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>HTR Heusden</string>
		<key>logo</key>
		<string>HTR</string>
		<key>link</key>
		<string>http://www.htrmedia.nl/televisie/live-tv</string>
		<key>http</key>
		<string>http://www.htrmedia.nl/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Studio040</string>
		<key>logo</key>
		<string>Studio040</string>
		<key>link</key>
		<string>http://www.studio040.nl/televisie-online-bekijken.html</string>
		<key>http</key>
		<string>http://www.studio040.nl/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NH Nieuws</string>
		<key>logo</key>
		<string>NH</string>
		<key>link</key>
		<string>http://www.nhnieuws.nl/live/tv</string>
		<key>http</key>
		<string>http://www.nhnieuws.nl/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SALTO 1</string>
		<key>logo</key>
		<string>SALTO1</string>
		<key>link</key>
		<string>http://www.salto.nl/salto1/</string>
		<key>http</key>
		<string>http://www.salto.nl/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SALTO 2</string>
		<key>logo</key>
		<string>SALTO2</string>
		<key>link</key>
		<string>http://www.salto.nl/salto2/</string>
		<key>http</key>
		<string>http://www.salto.nl/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>AT5</string>
		<key>logo</key>
		<string>AT5</string>
		<key>link</key>
		<string>http://www.at5.nl/live</string>
		<key>http</key>
		<string>http://www.at5.nl/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RTi Hilversum</string>
		<key>logo</key>
		<string>RTi</string>
		<key>link</key>
		<string>https://rtihilversum.nl/televisie/televisie-live/</string>
		<key>http</key>
		<string>https://rtihilversum.nl/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RTV Purmerend</string>
		<key>logo</key>
		<string>Purmerend</string>
		<key>link</key>
		<string>http://rtvpurmerend.nl/televisie/live</string>
		<key>http</key>
		<string>http://rtvpurmerend.nl/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RTV Oost</string>
		<key>logo</key>
		<string>Oost</string>
		<key>link</key>
		<string>http://www.rtvoost.nl/tv/live.aspx</string>
		<key>http</key>
		<string>http://www.rtvoost.nl/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RTV Slos</string>
		<key>logo</key>
		<string>Slos</string>
		<key>link</key>
		<string>http://rtvslos.nl/rtv-slos-service-tv-live/</string>
		<key>http</key>
		<string>http://rtvslos.nl/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RTV Borne</string>
		<key>logo</key>
		<string>Borne</string>
		<key>link</key>
		<string>http://www.rtvborne.nl/livestream</string>
		<key>http</key>
		<string>http://www.rtvborne.nl/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Deventer RTV</string>
		<key>logo</key>
		<string>Deventer</string>
		<key>link</key>
		<string>http://deventerrtv.nl/televisie/live</string>
		<key>http</key>
		<string>http://deventerrtv.nl</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RTV Sternet</string>
		<key>logo</key>
		<string>Sternet</string>
		<key>link</key>
		<string>http://www.rtvsternet.nl/livestream</string>
		<key>http</key>
		<string>http://www.rtvsternet.nl/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RTV IJsselmond</string>
		<key>logo</key>
		<string>IJsselmond</string>
		<key>link</key>
		<string>http://www.rtvijsselmond.nl/nl/live-kijken/</string>
		<key>http</key>
		<string>http://content.streamone.net/embed/account=BBRIE-6bD0Q2/livestream=5SYMIucRIJUW/rtv-ijsselmond-tv.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RTV Rijnmond</string>
		<key>logo</key>
		<string>Rijnmond</string>
		<key>link</key>
		<string>http://www.rijnmond.nl/tv</string>
		<key>http</key>
		<string>http://www.rijnmond.nl</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Omroep West</string>
		<key>logo</key>
		<string>West</string>
		<key>link</key>
		<string>http://www.omroepwest.nl/tv</string>
		<key>http</key>
		<string>http://www.omroepwest.nl</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RTV Dordrecht</string>
		<key>logo</key>
		<string>Dordrecht</string>
		<key>link</key>
		<string>http://www.rtvdordrecht.nl/livestream</string>
		<key>http</key>
		<string>http://content.streamone.nl/embed/account=OJjm2F/livestream=r2Dg7AiHkp/playlist.xspf</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Stadsomroep Schiedam</string>
		<key>logo</key>
		<string>Schiedam</string>
		<key>link</key>
		<string>http://www.stadsomroepschiedam.nl/tv/stream</string>
		<key>http</key>
		<string>http://www.stadsomroepschiedam.nl/tv/livestream</string>
	</dict>
	<dict>
		<key>name</key>
		<string>WOS</string>
		<key>logo</key>
		<string>WOS</string>
		<key>link</key>
		<string>http://www.wos.nl/livestream</string>
		<key>http</key>
		<string>http://www.wos.nl/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RTV Utrecht</string>
		<key>logo</key>
		<string>Utrecht</string>
		<key>link</key>
		<string>http://www.rtvutrecht.nl/live/rtvutrecht/</string>
		<key>http</key>
		<string>http://www.rtvutrecht.nl/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>UStad</string>
		<key>logo</key>
		<string>UStad</string>
		<key>link</key>
		<string>http://www.rtvutrecht.nl/live/ustad/</string>
		<key>http</key>
		<string>http://www.rtvutrecht.nl/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ronde Venen</string>
		<key>logo</key>
		<string>Ronde</string>
		<key>link</key>
		<string>http://rtvrondevenen.nl/televisie/live</string>
		<key>http</key>
		<string>http://rtvrondevenen.nl</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Omroep Zeeland</string>
		<key>logo</key>
		<string>Zeeland</string>
		<key>link</key>
		<string>http://www.omroepzeeland.nl/streams/tv/index.php</string>
		<key>http</key>
		<string>http://www.omroepzeeland.nl/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CTV Zeeland</string>
		<key>logo</key>
		<string>CTV</string>
		<key>link</key>
		<string>http://www.ctvzeeland.nl/tv/livestream</string>
		<key>http</key>
		<string>http://www.ctvzeeland.nl/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tweede Kamer - Plenaire zaal</string>
		<key>logo</key>
		<string>Plenaire</string>
		<key>link</key>
		<string>https://www.tweedekamer.nl/vergaderingen/livedebat/plenaire-zaal</string>
		<key>http</key>
		<string>https://www.tweedekamer.nl/vergaderingen/livedebat/flex1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tweede Kamer - Thorbeckezaal</string>
		<key>logo</key>
		<string>Thorbeckezaal</string>
		<key>link</key>
		<string>https://www.tweedekamer.nl/vergaderingen/livedebat/thorbeckezaal</string>
		<key>http</key>
		<string>https://www.tweedekamer.nl/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tweede Kamer - Groen van Prinstererzaal</string>
		<key>logo</key>
		<string>Groen</string>
		<key>link</key>
		<string>https://www.tweedekamer.nl/vergaderingen/livedebat/groen-van-prinstererzaal</string>
		<key>http</key>
		<string>https://www.tweedekamer.nl/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Euronews</string>
		<key>logo</key>
		<string>Euronews</string>
		<key>link</key>
		<string>http://de.euronews.com/live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/euronewsfr/videos?live_view=501&amp;flow=grid&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tweede Kamer - Troelstrazaal</string>
		<key>logo</key>
		<string>Troelstrazaal</string>
		<key>link</key>
		<string>https://www.tweedekamer.nl/vergaderingen/livedebat/troelstrazaal</string>
		<key>http</key>
		<string>https://www.tweedekamer.nl/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tweede Kamer - Aletta Jacobszaal</string>
		<key>logo</key>
		<string>Jacobszaal</string>
		<key>link</key>
		<string>https://www.tweedekamer.nl/vergaderingen/livedebat/aletta-jacobszaal</string>
		<key>http</key>
		<string>https://www.tweedekamer.nl/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tweede Kamer - Klompézaal</string>
		<key>logo</key>
		<string>Klompezaal</string>
		<key>link</key>
		<string>https://www.tweedekamer.nl/vergaderingen/livedebat/klompezaal</string>
		<key>http</key>
		<string>https://www.tweedekamer.nl/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>EbS Europe by Satellite</string>
		<key>logo</key>
		<string>EbS</string>
		<key>link</key>
		<string>http://ec.europa.eu/avservices/ebs/live.cfm?page=1</string>
		<key>http</key>
		<string>http://ec.europa.eu/avservices/ebs/schedule.cfm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tweede Kamer - Suze Groenewegzaal</string>
		<key>logo</key>
		<string>Suze</string>
		<key>link</key>
		<string>https://www.tweedekamer.nl/vergaderingen/livedebat/suze-groenewegzaal</string>
		<key>http</key>
		<string>https://www.tweedekamer.nl/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sky News</string>
		<key>logo</key>
		<string>Sky</string>
		<key>link</key>
		<string>http://news.sky.com/watch-live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/skynews</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tweede Kamer - Wttewaall van Stoetwegenzaal</string>
		<key>logo</key>
		<string>Wttewaall</string>
		<key>link</key>
		<string>https://www.tweedekamer.nl/vergaderingen/livedebat/wttewaal-van-stoetwegenzaal</string>
		<key>http</key>
		<string>https://www.tweedekamer.nl/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tweede Kamer - Evenementenkanaal</string>
		<key>logo</key>
		<string>Evenementenkanaal</string>
		<key>link</key>
		<string>https://www.tweedekamer.nl/vergaderingen/livedebat/evenementenkanaal</string>
		<key>http</key>
		<string>https://www.tweedekamer.nl/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bloomberg TV Europe</string>
		<key>logo</key>
		<string>bloomberg</string>
		<key>link</key>
		<string>https://www.bloomberg.com/live/europe</string>
		<key>http</key>
		<string>https://www.bloomberg.com/live/us</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tweede Kamer - Enquêtezaal</string>
		<key>logo</key>
		<string>Enquetezaal</string>
		<key>link</key>
		<string>https://www.tweedekamer.nl/vergaderingen/livedebat/enquetezaal</string>
		<key>http</key>
		<string>https://www.tweedekamer.nl/</string>
	</dict>
</array>
</plist>
