<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>TV 2 Østjylland</string>
		<key>logo</key>
		<string>TV2</string>
		<key>link</key>
		<string>http://www.tv2oj.dk/live-tv</string>
		<key>http</key>
		<string>http://www.tv2oj.dk</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TV Aarhus</string>
		<key>logo</key>
		<string>Aarhus</string>
		<key>link</key>
		<string>http://www.tvaarhus.dk/tvaarhus-livetv/</string>
		<key>http</key>
		<string>http://www.tvaarhus.dk/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TV2 Nord</string>
		<key>logo</key>
		<string>Nord</string>
		<key>link</key>
		<string>http://www.tv2nord.dk/tv</string>
		<key>http</key>
		<string>http://www.tv2nord.dk</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TV Øst</string>
		<key>logo</key>
		<string>Ost</string>
		<key>link</key>
		<string>http://www.tveast.dk/nettv-live</string>
		<key>http</key>
		<string>http://www.tveast.dk</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TV 2 Fyn</string>
		<key>logo</key>
		<string>Fyn</string>
		<key>link</key>
		<string>http://www.tv2fyn.dk/live-tv</string>
		<key>http</key>
		<string>http://www.tv2fyn.dk</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TV 2 Lorry</string>
		<key>logo</key>
		<string>Lorry</string>
		<key>link</key>
		<string>http://www.tv2lorry.dk/live</string>
		<key>http</key>
		<string>http://www.tv2lorry.dk</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TVS Syd</string>
		<key>logo</key>
		<string>Syd</string>
		<key>link</key>
		<string>http://www.tvsyd.dk/live-tv</string>
		<key>http</key>
		<string>http://www.tvsyd.dk</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TVMV Midtvest</string>
		<key>logo</key>
		<string>TVMV</string>
		<key>link</key>
		<string>http://www.tvmidtvest.dk/live</string>
		<key>http</key>
		<string>http://www.tvmidtvest.dk</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TV 2 Bornholm</string>
		<key>logo</key>
		<string>Bornholm</string>
		<key>link</key>
		<string>http://play.tv2bornholm.dk/?area=liveTV</string>
		<key>http</key>
		<string>http://play.tv2bornholm.dk</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Folketinget</string>
		<key>logo</key>
		<string>Folketinget</string>
		<key>link</key>
		<string>http://www.ft.dk/webTV/TV_kanalen_folketinget.aspx</string>
		<key>http</key>
		<string>http://www.ft.dk/webTV</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DR 1</string>
		<key>logo</key>
		<string>1</string>
		<key>link</key>
		<string>https://www.dr.dk/TV/live/dr1</string>
		<key>http</key>
		<string>https://www.dr.dk/tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DR 2</string>
		<key>logo</key>
		<string>2</string>
		<key>link</key>
		<string>https://www.dr.dk/tv/live/dr2</string>
		<key>http</key>
		<string>https://www.dr.dk/tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DR 3</string>
		<key>logo</key>
		<string>3</string>
		<key>link</key>
		<string>https://www.dr.dk/tv/live/dr3</string>
		<key>http</key>
		<string>https://www.dr.dk/tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DR K</string>
		<key>logo</key>
		<string>K</string>
		<key>link</key>
		<string>https://www.dr.dk/tv/live/dr-k</string>
		<key>http</key>
		<string>https://www.dr.dk/tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DR Ramasjang</string>
		<key>logo</key>
		<string>Ramasjang</string>
		<key>link</key>
		<string>https://www.dr.dk/tv/live/dr-ramasjang</string>
		<key>http</key>
		<string>https://www.dr.dk/tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DR Ultra</string>
		<key>logo</key>
		<string>Ultra</string>
		<key>link</key>
		<string>https://www.dr.dk/tv/live/dr-ultra</string>
		<key>http</key>
		<string>https://www.dr.dk/tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>KKRtv</string>
		<key>logo</key>
		<string>KKRtv</string>
		<key>link</key>
		<string>http://kkrtv.dk/live-tv/</string>
		<key>http</key>
		<string>http://kkrtv.dk</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bloomberg TV Europe</string>
		<key>logo</key>
		<string>bloomberg</string>
		<key>link</key>
		<string>https://www.bloomberg.com/live/europe</string>
		<key>http</key>
		<string>https://www.bloomberg.com/live/us</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Euronews</string>
		<key>logo</key>
		<string>Euronews</string>
		<key>link</key>
		<string>http://de.euronews.com/live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/euronewsfr/videos?live_view=501&amp;flow=grid&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>EbS Europe by Satellite</string>
		<key>logo</key>
		<string>EbS</string>
		<key>link</key>
		<string>http://ec.europa.eu/avservices/ebs/live.cfm?page=1</string>
		<key>http</key>
		<string>http://ec.europa.eu/avservices/ebs/schedule.cfm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sky News</string>
		<key>logo</key>
		<string>Sky</string>
		<key>link</key>
		<string>https://news.sky.com/watch-live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/skynews</string>
	</dict>
</array>
</plist>
