<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string></string>
		<key>Back</key>
		<string></string>
		<key>Banner</key>
		<string></string>
		<key>Show1</key>
		<string></string>
		<key>Show2</key>
		<string></string>
		<key>Show3</key>
		<string></string>
		<key>Show4</key>
		<string></string>
		<key>Alarm</key>
		<string></string>
		<key>CustomBanner</key>
		<string></string>
		<key>CustomSplash</key>
		<string></string>
		<key>Header</key>
		<string></string>
		<key>Footer</key>
		<string></string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string></string>
		<key>Application</key>
		<string></string>
		<key>Developer</key>
		<string></string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Africa Radio</string>
			<key>logo</key>
			<string>Afric</string>
			<key>link</key>
			<string>http://statslive.infomaniak.ch/playlist/african1paris/african1paris-128.mp3/playlist.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC Afrique</string>
			<key>logo</key>
			<string>BBC</string>
			<key>link</key>
			<string>http://bbcwssc.ic.llnwd.net/stream/bbcwssc_mp1_ws-frena.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>HitFM Mauritius</string>
			<key>logo</key>
			<string>HitFM</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/hitfm-mauritius,17743.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>MBC Best FM</string>
			<key>logo</key>
			<string>Best</string>
			<key>link</key>
			<string>http://www.mbcradio.tv/sites/all/themes/mbcradiotv/radiostreams/bestfm.m3u8</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/best-fm,15894.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>MBC Kool FM</string>
			<key>logo</key>
			<string>Kool</string>
			<key>link</key>
			<string>http://www.mbcradio.tv/sites/all/themes/mbcradiotv/radiostreams/koolfm.m3u8</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/kool-fm,37.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MBC Music FM</string>
			<key>logo</key>
			<string>MBC</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/mbc-music-fm,15803.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>MBC Radio Maurice 1</string>
			<key>logo</key>
			<string>1</string>
			<key>link</key>
			<string>http://www.mbcradio.tv/sites/all/themes/mbcradiotv/radiostreams/radiomaurice.m3u8</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/648-mbc-radio-maurice-1,15801.m3u</string>
			<key>note</key>
			<string>Oldies</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MBC Radio Mauritius 2</string>
			<key>logo</key>
			<string>2</string>
			<key>link</key>
			<string>http://www.mbcradio.tv/sites/all/themes/mbcradiotv/radiostreams/radiomauritius.m3u8</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/mbc-radio-mauritius-2-819,15802.m3u</string>
			<key>note</key>
			<string>Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MBC Taal FM</string>
			<key>logo</key>
			<string>Taal</string>
			<key>link</key>
			<string>http://www.mbcradio.tv/sites/all/themes/mbcradiotv/radiostreams/taalfm.m3u8</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/taal-fm,38.m3u</string>
			<key>note</key>
			<string>Oldies</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Moris</string>
			<key>logo</key>
			<string>Moris</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-moris-modem,2234.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-moris-dsl,2233.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRJ Maurice</string>
			<key>logo</key>
			<string>NRJ</string>
			<key>link</key>
			<string>http://185.52.127.170/mu/55802/mp3_128.mp3.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/nrj-maurice,20047.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>One</string>
			<key>logo</key>
			<string>One</string>
			<key>link</key>
			<string>http://173.208.157.101:8020/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-one,11894.m3u</string>
			<key>note</key>
			<string>News, Talk, Top Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Plus</string>
			<key>logo</key>
			<string>Plus</string>
			<key>link</key>
			<string>http://s4.voscast.com:8432/listen.pls</string>
			<key>http</key>
			<string>https://stream.radio.co/s8cc7a5da4/listen</string>
			<key>note</key>
			<string>News, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Plus Fever</string>
			<key>logo</key>
			<string>Fever</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-plus-fever,16822.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Plus Hits</string>
			<key>logo</key>
			<string>Hits</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-plus-hits,16821.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RFI Afrique</string>
			<key>logo</key>
			<string>RFI</string>
			<key>link</key>
			<string>http://icepe1.infomaniak.ch/rfiafrique-96k.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rock Mauritius</string>
			<key>logo</key>
			<string>Rock</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/rock-mauritius-radio,16327.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Top FM</string>
			<key>logo</key>
			<string>T</string>
			<key>link</key>
			<string>http://webcast.orange.mu:1935/TopFM/TopFM.sdp/playlist.m3u8</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/top-radio-fm,3476.m3u</string>
			<key>note</key>
			<string>News, Talk, Top</string>
		</dict>
		<dict>
			<key>name</key>
			<string>VOA Afrique</string>
			<key>logo</key>
			<string>VOA</string>
			<key>link</key>
			<string>http://stream.radiojar.com/yuqn4nngq3quv</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
	</array>
</dict>
</plist>
