<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>ETV Eesti Televisioon</string>
		<key>logo</key>
		<string>ETV</string>
		<key>link</key>
		<string>http://otse.err.ee/k/etv</string>
		<key>http</key>
		<string>http://etv.err.ee/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ETV 2</string>
		<key>logo</key>
		<string>ETV2</string>
		<key>link</key>
		<string>http://otse.err.ee/k/etv2</string>
		<key>http</key>
		<string>http://etv2.err.ee/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ETV plus</string>
		<key>logo</key>
		<string>Plus</string>
		<key>link</key>
		<string>http://otse.err.ee/k/etvpluss</string>
		<key>http</key>
		<string>http://etv.err.ee/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Riigikogu</string>
		<key>logo</key>
		<string>Riigikogu</string>
		<key>link</key>
		<string>https://www.riigikogu.ee/infoallikad/multimeedia/otseulekanded/</string>
		<key>http</key>
		<string>https://www.riigikogu.ee</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Taevas TV7</string>
		<key>logo</key>
		<string>TV7</string>
		<key>link</key>
		<string>http://www.tv7.ee/neti-tv/</string>
		<key>http</key>
		<string>http://www.tv7.ee/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bloomberg TV Europe</string>
		<key>logo</key>
		<string>bloomberg</string>
		<key>link</key>
		<string>https://www.bloomberg.com/live/europe</string>
		<key>http</key>
		<string>https://www.bloomberg.com/live/us</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Euronews</string>
		<key>logo</key>
		<string>Euronews</string>
		<key>link</key>
		<string>http://de.euronews.com/live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/euronewsfr/videos?live_view=501&amp;flow=grid&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>EbS Europe by Satellite</string>
		<key>logo</key>
		<string>EbS</string>
		<key>link</key>
		<string>http://ec.europa.eu/avservices/ebs/live.cfm?page=1</string>
		<key>http</key>
		<string>http://ec.europa.eu/avservices/ebs/schedule.cfm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sky News</string>
		<key>logo</key>
		<string>Sky</string>
		<key>link</key>
		<string>https://news.sky.com/watch-live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/skynews</string>
	</dict>
</array>
</plist>
