<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string></string>
		<key>Main</key>
		<string></string>
		<key>Back</key>
		<string></string>
		<key>Banner</key>
		<string></string>
		<key>Show1</key>
		<string></string>
		<key>Show2</key>
		<string></string>
		<key>Show3</key>
		<string></string>
		<key>Show4</key>
		<string></string>
		<key>Alarm</key>
		<string></string>
		<key>CustomBanner</key>
		<string></string>
		<key>CustomSplash</key>
		<string></string>
		<key>Header</key>
		<string></string>
		<key>Footer</key>
		<string></string>
		<key>Email</key>
		<string>ios.apps.community@gmail.com</string>
		<key>Alternative</key>
		<string></string>
		<key>Application</key>
		<string></string>
		<key>Developer</key>
		<string></string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Menu</key>
	<array>
		<string>Top</string>
		<string>News</string>
		<string>Local</string>
		<string>Classic</string>
		<string>Music</string>
		<string>Sport</string>
		<string>Talk</string>
		<string>Youth</string>
		<string>Oldies</string>
	</array>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Alhuda FM 107.0</string>
			<key>logo</key>
			<string>Alhuda</string>
			<key>link</key>
			<string>http://www.qurantranslations.net/radio/alghamidi/Winamp.pls</string>
			<key>http</key>
			<string>http://stream.radiojar.com/ab0kdeaw16duv.mp3</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Banadir FM 103.4</string>
			<key>logo</key>
			<string>Banadir</string>
			<key>link</key>
			<string>http://tekjir.com:8000/radiobanadir</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dalsan</string>
			<key>logo</key>
			<string>Dalsan</string>
			<key>link</key>
			<string>https://knight.wavestreamer.com:6058/1/;stream?type%20=</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Danan 94.0 FM</string>
			<key>logo</key>
			<string>Danan</string>
			<key>link</key>
			<string>http://176.31.107.8:8042/stream.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Gool 99.0 FM</string>
			<key>logo</key>
			<string>Gool</string>
			<key>link</key>
			<string>http://cdn01.iqbroadcast.tv:8081/g1/goolfm/icecast.audio</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/gool-fm,20440.m3u</string>
			<key>note</key>
			<string>Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kaah FM 105.5</string>
			<key>logo</key>
			<string>Kaah</string>
			<key>link</key>
			<string>http://stream.radiojar.com/smbxpr2k55quv.mp3</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kulmiye 88.0 FM</string>
			<key>logo</key>
			<string>Kulmiye</string>
			<key>link</key>
			<string>http://radiokulmiye.net/horse.ogg.m3u</string>
			<key>http</key>
			<string>http://37.59.47.192:8436/stream</string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Muqdisho</string>
			<key>logo</key>
			<string>Muqdisho</string>
			<key>link</key>
			<string>https://radiomuqdisho.net/radio/stream/audio.mp3</string>
			<key>http</key>
			<string>http://radio.ileysinc.com:9998/stream.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Risaala FM 102.2</string>
			<key>logo</key>
			<string>Risaala</string>
			<key>link</key>
			<string>http://node-05.zeno.fm/3xk17bzdd3quv</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk, Sport, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Shabelle FM 101.5</string>
			<key>logo</key>
			<string>Shabelle</string>
			<key>link</key>
			<string>http://176.31.107.8:8069/stream.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Star FM</string>
			<key>logo</key>
			<string>Sta</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/star-fm-somalia,18964.m3u</string>
			<key>http</key>
			<string>https://443-1.autopo.st/60/;stream.mp3</string>
			<key>note</key>
			<string>Talk</string>
		</dict>
	</array>
</dict>
</plist>
