<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>4122178309</string>
		<key>Back</key>
		<string>5407339818</string>
		<key>Banner</key>
		<string>4555678171</string>
		<key>Show1</key>
		<string>4832624742</string>
		<key>Show2</key>
		<string>4641053053</string>
		<key>Show3</key>
		<string>8197154685</string>
		<key>Show4</key>
		<string>9318664666</string>
		<key>Alarm</key>
		<string>1248602959</string>
		<key>CustomBanner</key>
		<string>4613132892</string>
		<key>CustomSplash</key>
		<string>6196062909</string>
		<key>Header</key>
		<string>7977662838</string>
		<key>Footer</key>
		<string>9476832362</string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1446705241</string>
		<key>Developer</key>
		<string>1239592099</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>City Radio</string>
			<key>logo</key>
			<string>City</string>
			<key>link</key>
			<string>http://checast.com/listen/mk/city.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 5</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Club FM 103.4</string>
			<key>logo</key>
			<string>Club</string>
			<key>link</key>
			<string>http://217.16.69.17:8000/club.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Dance</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ekspres Radio 101,1</string>
			<key>logo</key>
			<string>Ekspres</string>
			<key>link</key>
			<string>http://vozivo.ekspresradio.com.mk/</string>
			<key>http</key>
			<string>http://ekspresradio.dyndns.org:8000/listen.pls</string>
			<key>note</key>
			<string>Pop/Rock (Strumica)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Folk Radio 106.5 FM</string>
			<key>logo</key>
			<string>Folk</string>
			<key>link</key>
			<string>http://89.205.127.244:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Jazz FM 100.8 FM</string>
			<key>logo</key>
			<string>Jazz</string>
			<key>link</key>
			<string>http://217.16.69.17:8000/jazz.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kanal 4</string>
			<key>logo</key>
			<string>4</string>
			<key>link</key>
			<string>http://195.26.152.94:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Sport/Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kanal 77</string>
			<key>logo</key>
			<string>77</string>
			<key>link</key>
			<string>http://ss1.mk.checast.com:9002/live.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kanal 103</string>
			<key>logo</key>
			<string>103</string>
			<key>link</key>
			<string>http://radiostream.neotel.mk/kanal103</string>
			<key>http</key>
			<string>http://217.16.69.17:8000/kanal103.mp3.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Life Radio</string>
			<key>logo</key>
			<string>Life</string>
			<key>link</key>
			<string>http://217.16.69.17:8000/liveradio.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 5</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Metropolis Radio Network</string>
			<key>logo</key>
			<string>Metropolis</string>
			<key>link</key>
			<string>http://217.16.69.17:8000/metropolis.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 5 / Dance</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MX Radio</string>
			<key>logo</key>
			<string>MX</string>
			<key>link</key>
			<string>http://checast.com:27/mk/ohrid/mx.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Ohrid</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio 105</string>
			<key>logo</key>
			<string>105</string>
			<key>link</key>
			<string>http://radio105bombarder.com/Radio105.pls</string>
			<key>http</key>
			<string>http://radio105.makbots.com:21010/listen.pls</string>
			<key>note</key>
			<string>Bitola</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio 106</string>
			<key>logo</key>
			<string>106</string>
			<key>link</key>
			<string>http://ss1.topstream24.net:21100/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 5 (Bitola)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio БУБА МАРА</string>
			<key>logo</key>
			<string>Bubamara</string>
			<key>link</key>
			<string>http://217.16.69.17:8000/bubamara.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Fortuna 96.8 FM</string>
			<key>logo</key>
			<string>Fortuna</string>
			<key>link</key>
			<string>http://50.7.129.122:8497/listen.pls</string>
			<key>http</key>
			<string>http://50.7.245.10:9998/listen.pls</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Holidej 102.1 FM</string>
			<key>logo</key>
			<string>Holidej</string>
			<key>link</key>
			<string>http://217.16.69.10:8018/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music (Prilep)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Lav</string>
			<key>logo</key>
			<string>Lav</string>
			<key>link</key>
			<string>http://ss3.topstream24.net:27//mk/ohrid/lav.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Ohrid</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Plus Forte</string>
			<key>logo</key>
			<string>Forte</string>
			<key>link</key>
			<string>http://217.16.69.17:8000/plusforte.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Tetovo</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Ravel 96.0 FM</string>
			<key>logo</key>
			<string>Ravel</string>
			<key>link</key>
			<string>http://217.16.69.17:8000/ravel.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Vati 88.4 FM</string>
			<key>logo</key>
			<string>Vati</string>
			<key>link</key>
			<string>http://www.vati.com.mk/live/live.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News/Features</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sky Radio 102.5 FM</string>
			<key>logo</key>
			<string>Sky</string>
			<key>link</key>
			<string>http://skyradio.com.mk/listen.m3u</string>
			<key>http</key>
			<string>http://89.205.123.70:8000/listen.pls</string>
			<key>note</key>
			<string>Pop Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sportsko Radio</string>
			<key>logo</key>
			<string>Sportsko</string>
			<key>link</key>
			<string>http://217.16.69.10:8020/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Sport/Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>SuperRadio</string>
			<key>logo</key>
			<string>SuperRadio</string>
			<key>link</key>
			<string>http://checast.com:27/mk/ohrid/super.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Ohrid</string>
		</dict>
	</array>
</dict>
</plist>
