<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string></string>
		<key>Back</key>
		<string></string>
		<key>Banner</key>
		<string></string>
		<key>Show1</key>
		<string></string>
		<key>Show2</key>
		<string></string>
		<key>Show3</key>
		<string></string>
		<key>Show4</key>
		<string></string>
		<key>Alarm</key>
		<string></string>
		<key>CustomBanner</key>
		<string></string>
		<key>CustomSplash</key>
		<string></string>
		<key>Header</key>
		<string></string>
		<key>Footer</key>
		<string></string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string></string>
		<key>Application</key>
		<string></string>
		<key>Developer</key>
		<string></string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Adoration FM 88.9</string>
			<key>logo</key>
			<string>Adoration</string>
			<key>link</key>
			<string>http://198.50.158.92:8265/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Christlike 88.1 FM</string>
			<key>logo</key>
			<string>Christlike</string>
			<key>link</key>
			<string>http://s8.myradiostream.com:10926/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hot 97.1 FM</string>
			<key>logo</key>
			<string>Hot</string>
			<key>link</key>
			<string>http://149.56.183.178:8036/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Jem Radio 89.1 FM</string>
			<key>logo</key>
			<string>Jem</string>
			<key>link</key>
			<string>http://s41.myradiostream.com:32046/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Magic 103.7 FM</string>
			<key>logo</key>
			<string>Magic</string>
			<key>link</key>
			<string>http://stream.magic1037.com:9028/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NBC</string>
			<key>logo</key>
			<string>NBC</string>
			<key>link</key>
			<string>http://162.244.81.34:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nice Radio</string>
			<key>logo</key>
			<string>Nice</string>
			<key>link</key>
			<string>https://sc1.carihost.com:2000/tunein/BDSNiceRadio/stream/pls</string>
			<key>http</key>
			<string>http://91.121.62.104:8380/listen.pls</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Praise FM</string>
			<key>logo</key>
			<string>Praise</string>
			<key>link</key>
			<string>http://praiseradio.serverroom.us:8110/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Star FM 98.3</string>
			<key>logo</key>
			<string>Sta</string>
			<key>link</key>
			<string>http://starradio.serverroom.net:6688/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk, Top Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>WE-FM 99.9</string>
			<key>logo</key>
			<string>WE</string>
			<key>link</key>
			<string>http://mountain2.serverroom.net:6266/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Xtreme 104.3 FM</string>
			<key>logo</key>
			<string>Xtreme</string>
			<key>link</key>
			<string>http://s10.voscast.com:9498/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
	</array>
</dict>
</plist>
