<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>9822574730</string>
		<key>Back</key>
		<string>1012370321</string>
		<key>Banner</key>
		<string>8473053799</string>
		<key>Show1</key>
		<string>REMOVED</string>
		<key>Show2</key>
		<string>REMOVED</string>
		<key>Show3</key>
		<string>REMOVED</string>
		<key>Show4</key>
		<string>REMOVED</string>
		<key>Alarm</key>
		<string>9986226263</string>
		<key>CustomBanner</key>
		<string>7457525028</string>
		<key>CustomSplash</key>
		<string>7884900437</string>
		<key>Header</key>
		<string>6236776848</string>
		<key>Footer</key>
		<string>2105960148</string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1435391977</string>
		<key>Developer</key>
		<string>1239592099</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>RTBF La Première</string>
			<key>logo</key>
			<string>La</string>
			<key>link</key>
			<string>http://www.listenlive.eu/streams/belgium/be_rtbflaprem1eremp3.m3u</string>
			<key>http</key>
			<string>http://www.listenlive.eu/streams/belgium/be_rtbflaprem1ereaac.m3u</string>
			<key>note</key>
			<string>Music / Information</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RTBF Classic 21</string>
			<key>logo</key>
			<string>21</string>
			<key>link</key>
			<string>http://www.listenlive.eu/streams/belgium/be_rtbfclassic21mp3.m3u</string>
			<key>http</key>
			<string>http://www.listenlive.eu/streams/belgium/be_rtbfclassic21aac.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>RTBF Classic 21 60s</string>
			<key>logo</key>
			<string>60s</string>
			<key>link</key>
			<string>http://www.listenlive.eu/streams/belgium/be_rtbfc21-60mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>RTBF Classic 21 70s</string>
			<key>logo</key>
			<string>70s</string>
			<key>link</key>
			<string>http://www.listenlive.eu/streams/belgium/be_rtbfc21-70mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>RTBF Classic 21 80s</string>
			<key>logo</key>
			<string>80s</string>
			<key>link</key>
			<string>http://www.listenlive.eu/streams/belgium/be_rtbfc21-80mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>RTBF Pure FM</string>
			<key>logo</key>
			<string>Pure</string>
			<key>link</key>
			<string>http://www.listenlive.eu/streams/belgium/be_rtbfpuremp3.m3u</string>
			<key>http</key>
			<string>http://www.listenlive.eu/streams/belgium/be_rtbfpureaac.m3u</string>
			<key>note</key>
			<string>Top 40</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RTBF Pure 2</string>
			<key>logo</key>
			<string>2</string>
			<key>link</key>
			<string>http://www.listenlive.eu/streams/belgium/be_rtbfpure2mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>NPO Radio 1</string>
			<key>logo</key>
			<string>1</string>
			<key>link</key>
			<string>http://icecast.omroep.nl/radio1-sb-mp3.m3u</string>
			<key>http</key>
			<string>http://icecast.omroep.nl/radio1-bb-mp3.m3u</string>
			<key>note</key>
			<string>News / Feature programmes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NPO Radio 1 Nieuws24</string>
			<key>logo</key>
			<string>Nieuws24</string>
			<key>link</key>
			<string>http://icecast.omroep.nl/nieuws24-sb-mp3.m3u</string>
			<key>http</key>
			<string>http://icecast.omroep.nl/nieuws24-bb-mp3.m3u</string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NPO Radio 2</string>
			<key>logo</key>
			<string>r2</string>
			<key>link</key>
			<string>http://icecast.omroep.nl/radio2-sb-mp3.m3u</string>
			<key>http</key>
			<string>http://icecast.omroep.nl/radio2-bb-mp3.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>NPO Radio 2 Top 2000</string>
			<key>logo</key>
			<string>2000</string>
			<key>link</key>
			<string>http://icecast.omroep.nl/radio2-top2000-mp3.m3u</string>
			<key>http</key>
			<string>http://icecast.omroep.nl/radio2-top2000-aac.m3u</string>
			<key>note</key>
			<string>Oldies</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NPO Radio 2 Liedkunst</string>
			<key>logo</key>
			<string>Liedkunst</string>
			<key>link</key>
			<string>http://icecast.omroep.nl/radio2-liedkunst-mp3.m3u</string>
			<key>http</key>
			<string>http://icecast.omroep.nl/radio2-liedkunst-aac.m3u</string>
			<key>note</key>
			<string>Comedy / Dutch music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NPO Radio 2 In Concert</string>
			<key>logo</key>
			<string>In</string>
			<key>link</key>
			<string>http://icecast.omroep.nl/radio2-inconcert-mp3.m3u</string>
			<key>http</key>
			<string>http://icecast.omroep.nl/radio2-inconcert-aac.m3u</string>
			<key>note</key>
			<string>Live music</string>
		</dict>
	</array>
</dict>
</plist>
