<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1</string>
		<key>Back</key>
		<string>1</string>
		<key>Banner</key>
		<string>1</string>
		<key>Show1</key>
		<string>1</string>
		<key>Show2</key>
		<string>1</string>
		<key>Show3</key>
		<string>1</string>
		<key>Show4</key>
		<string>1</string>
		<key>Alarm</key>
		<string>1</string>
		<key>CustomBanner</key>
		<string>1</string>
		<key>CustomSplash</key>
		<string>1</string>
		<key>Header</key>
		<string>1</string>
		<key>Footer</key>
		<string>1</string>
		<key>Email</key>
		<string>1</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1</string>
		<key>Developer</key>
		<string>1</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Radio Moldova Actualitati</string>
			<key>logo</key>
			<string>Actualitati</string>
			<key>link</key>
			<string>http://radiolive.trm.md:8000/PGM1_128kb.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News/Features</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Moldova Muzical</string>
			<key>logo</key>
			<string>Muzical</string>
			<key>link</key>
			<string>http://radiolive.trm.md:8000/RM-muzical-128.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Moldova Tineret</string>
			<key>logo</key>
			<string>Tineret</string>
			<key>link</key>
			<string>http://radiolive.trm.md:8000/RM-tineret-128.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Youth</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Aquarelle FM</string>
			<key>logo</key>
			<string>Aquarelle</string>
			<key>link</key>
			<string>http://live.aquarellefm.md:8000/Aquarellefm.aac.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cool Radio</string>
			<key>logo</key>
			<string>Cool</string>
			<key>link</key>
			<string>http://m.protv.md:8000/profm-128.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 10</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Discovery FM</string>
			<key>logo</key>
			<string>Discovery</string>
			<key>link</key>
			<string>http://discovery.md/online/radio.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 10</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Europa Plus</string>
			<key>logo</key>
			<string>Europa</string>
			<key>link</key>
			<string>http://95.65.21.165/broadwave.m3u?src=1&amp;rate=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 10</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fresh FM</string>
			<key>logo</key>
			<string>Fresh</string>
			<key>link</key>
			<string>http://www.freshfm.md/freshfm.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 10</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hit FM</string>
			<key>logo</key>
			<string>Hit</string>
			<key>link</key>
			<string>http://www.listenlive.eu/hitfm_md.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 10</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Jurnal FM</string>
			<key>logo</key>
			<string>Jurnal</string>
			<key>link</key>
			<string>http://live.jurnalfm.md:8000/;?type=http&amp;nocache=474594</string>
			<key>http</key>
			<string>http://live.jurnalfm.md:8000/listen.pls?sid=1</string>
			<key>note</key>
			<string>News/Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kiss FM</string>
			<key>logo</key>
			<string>Kiss</string>
			<key>link</key>
			<string>https://www.kissfm.ro/listen.pls</string>
			<key>http</key>
			<string>http://89.28.66.205:8000/listen.pls</string>
			<key>note</key>
			<string>Top 10</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Maestro FM</string>
			<key>logo</key>
			<string>Maestro</string>
			<key>link</key>
			<string>http://live.maestrofm.md:8000/maestro.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Megapolis FM</string>
			<key>logo</key>
			<string>Megapolis</string>
			<key>link</key>
			<string>http://89.28.22.181:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Dance</string>
		</dict>
	</array>
</dict>
</plist>
