<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ID</key>
	<string>3694130267637407</string>
	<key>Show1</key>
	<string>1697207472</string>
	<key>Show2</key>
	<string>4281517523</string>
	<key>Show3</key>
	<string>1463782491</string>
	<key>Show4</key>
	<string>8156349207</string>
	<key>Banner</key>
	<string>7034839226</string>
	<key>Main</key>
	<string>3313541478</string>
	<key>Back</key>
	<string>2682986088</string>
	<key>Alarm</key>
	<string>3898374142</string>
	<key>CustomBanner</key>
	<string>1972539641</string>
	<key>CustomSplash</key>
	<string>9603617658</string>
	<key>Switch</key>
	<string>1234173042</string>
	<key>Top</key>
	<string>6841722942</string>
	<key>Bottom</key>
	<string>1589396261</string>
	<key>Header</key>
	<string>4157803565</string>
	<key>Footer</key>
	<string>8575985755</string>
	<key>Email</key>
	<string>ios.apps.community@gmail.com</string>
	<key>Alternative</key>
	<string>1403032226</string>
	<key>Application</key>
	<string>1440316725</string>
	<key>Developer</key>
	<string>1360678770</string>
	<key>Minutes</key>
	<string>4</string>
	<key>Delay</key>
	<string>2</string>
	<key>MenuMode</key>
	<string>10</string>
	<key>Deprecated</key>
	<string>1</string>
</dict>
</plist>
