<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ID</key>
	<string>3694130267637407</string>
	<key>Show1</key>
	<string>1</string>
	<key>Show2</key>
	<string>1</string>
	<key>Show3</key>
	<string>1</string>
	<key>Show4</key>
	<string>1</string>
	<key>Banner</key>
	<string>1</string>
	<key>Main</key>
	<string>1</string>
	<key>Back</key>
	<string>1</string>
	<key>Alarm</key>
	<string>1</string>
	<key>CustomBanner</key>
	<string>1</string>
	<key>CustomSplash</key>
	<string>1</string>
	<key>Switch</key>
	<string>1</string>
	<key>Top</key>
	<string>1</string>
	<key>Bottom</key>
	<string>1</string>
	<key>Header</key>
	<string>1</string>
	<key>Footer</key>
	<string>1</string>
	<key>Email</key>
	<string>world.app.community@gmail.com</string>
	<key>Alternative</key>
	<string>1</string>
	<key>Application</key>
	<string>1</string>
	<key>Developer</key>
	<string>1</string>
	<key>Minutes</key>
	<string>4</string>
	<key>Delay</key>
	<string>2</string>
	<key>MenuMode</key>
	<string>10</string>
	<key>Deprecated</key>
	<string>1</string>
</dict>
</plist>
