<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ID</key>
	<string>3694130267637407</string>
	<key>Show1</key>
	<string>REMOVED</string>
	<key>Show2</key>
	<string>REMOVED</string>
	<key>Show3</key>
	<string>REMOVED</string>
	<key>Show4</key>
	<string>REMOVED</string>
	<key>Banner</key>
	<string>2186817166</string>
	<key>Main</key>
	<string>9859377333</string>
	<key>Back</key>
	<string>2719253914</string>
	<key>Alarm</key>
	<string>9831457172</string>
	<key>CustomBanner</key>
	<string>6822150450</string>
	<key>CustomSplash</key>
	<string>5025443938</string>
	<key>Switch</key>
	<string>5714998634</string>
	<key>Top</key>
	<string>7383303521</string>
	<key>Bottom</key>
	<string>6617016765</string>
	<key>Header</key>
	<string>3228436097</string>
	<key>Footer</key>
	<string>1915354429</string>
	<key>Email</key>
	<string>idenitecs@gmail.com</string>
	<key>Alternative</key>
	<string>1227838626</string>
	<key>Application</key>
	<string>1435688236</string>
	<key>Developer</key>
	<string>1239592099</string>
	<key>Minutes</key>
	<string>4</string>
	<key>Delay</key>
	<string>2</string>
	<key>MenuMode</key>
	<string>10</string>
	<key>Deprecated</key>
	<string>1</string>
</dict>
</plist>
