<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ID</key>
	<string>3694130267637407</string>
	<key>Show1</key>
	<string>9264480966</string>
	<key>Show2</key>
	<string>3409109931</string>
	<key>Show3</key>
	<string>6773639872</string>
	<key>Show4</key>
	<string>4988240323</string>
	<key>Banner</key>
	<string>2170505290</string>
	<key>Main</key>
	<string>1493393039</string>
	<key>Back</key>
	<string>5535035239</string>
	<key>Alarm</key>
	<string>9727515393</string>
	<key>CustomBanner</key>
	<string>9152800329</string>
	<key>CustomSplash</key>
	<string>1437961836</string>
	<key>Switch</key>
	<string>1601613369</string>
	<key>Top</key>
	<string>4246004292</string>
	<key>Bottom</key>
	<string>5949968206</string>
	<key>Header</key>
	<string>4636886531</string>
	<key>Footer</key>
	<string>7755958176</string>
	<key>Email</key>
	<string>idenitecs@gmail.com</string>
	<key>Alternative</key>
	<string>1227837297</string>
	<key>Application</key>
	<string>1435534485</string>
	<key>Developer</key>
	<string>1239592099</string>
	<key>Minutes</key>
	<string>4</string>
	<key>Delay</key>
	<string>2</string>
	<key>MenuMode</key>
	<string>10</string>
	<key>Deprecated</key>
	<string>1</string>
</dict>
</plist>
