<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ID</key>
	<string>3694130267637407</string>
	<key>Show1</key>
	<string>3033274214</string>
	<key>Show2</key>
	<string>1803953027</string>
	<key>Show3</key>
	<string>4743061265</string>
	<key>Show4</key>
	<string>9803816254</string>
	<key>Banner</key>
	<string>8091704364</string>
	<key>Main</key>
	<string>3030949375</string>
	<key>Back</key>
	<string>2883184686</string>
	<key>Alarm</key>
	<string>8421332261</string>
	<key>CustomBanner</key>
	<string>5412025548</string>
	<key>CustomSplash</key>
	<string>1434796677</string>
	<key>Switch</key>
	<string>1051653291</string>
	<key>Top</key>
	<string>6206232463</string>
	<key>Bottom</key>
	<string>2211147132</string>
	<key>Header</key>
	<string>7080330439</string>
	<key>Footer</key>
	<string>8010268729</string>
	<key>Email</key>
	<string>ios.apps.community@gmail.com</string>
	<key>Alternative</key>
	<string>1403032226</string>
	<key>Application</key>
	<string>1440413081</string>
	<key>Developer</key>
	<string>1360678770</string>
	<key>Minutes</key>
	<string>4</string>
	<key>Delay</key>
	<string>2</string>
	<key>MenuMode</key>
	<string>10</string>
	<key>Deprecated</key>
	<string>1</string>
</dict>
</plist>
