<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ID</key>
	<string>3694130267637407</string>
	<key>Show1</key>
	<string>REMOVED</string>
	<key>Show2</key>
	<string>REMOVED</string>
	<key>Show3</key>
	<string>REMOVED</string>
	<key>Show4</key>
	<string>REMOVED</string>
	<key>Banner</key>
	<string>8278220828</string>
	<key>Main</key>
	<string>3486851159</string>
	<key>Back</key>
	<string>3650502685</string>
	<key>Alarm</key>
	<string>8019749267</string>
	<key>CustomBanner</key>
	<string>2614830604</string>
	<key>CustomSplash</key>
	<string>9258052581</string>
	<key>Switch</key>
	<string>8813956180</string>
	<key>Top</key>
	<string>5787788852</string>
	<key>Bottom</key>
	<string>2778482137</string>
	<key>Header</key>
	<string>3708420429</string>
	<key>Footer</key>
	<string>6581995778</string>
	<key>Email</key>
	<string>ios.apps.community@gmail.com</string>
	<key>Alternative</key>
	<string>1349746801</string>
	<key>Application</key>
	<string>1441579714</string>
	<key>Developer</key>
	<string>1360678770</string>
	<key>Minutes</key>
	<string>4</string>
	<key>Delay</key>
	<string>2</string>
	<key>MenuMode</key>
	<string>10</string>
	<key>Deprecated</key>
	<string>1</string>
</dict>
</plist>
