<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ID</key>
	<string>3694130267637407</string>
	<key>Show1</key>
	<string>REMOVED</string>
	<key>Show2</key>
	<string>REMOVED</string>
	<key>Show3</key>
	<string>REMOVED</string>
	<key>Show4</key>
	<string>REMOVED</string>
	<key>Banner</key>
	<string>8867687260</string>
	<key>Main</key>
	<string>6572696418</string>
	<key>Back</key>
	<string>6937735917</string>
	<key>Alarm</key>
	<string>2479616153</string>
	<key>CustomBanner</key>
	<string>1166534485</string>
	<key>CustomSplash</key>
	<string>2681004125</string>
	<key>Switch</key>
	<string>5307167463</string>
	<key>Top</key>
	<string>6428677440</string>
	<key>Bottom</key>
	<string>4120000885</string>
	<key>Header</key>
	<string>3670652163</string>
	<key>Footer</key>
	<string>1493837546</string>
	<key>Email</key>
	<string>ios.apps.community@gmail.com</string>
	<key>Alternative</key>
	<string>1308390114</string>
	<key>Application</key>
	<string>1441216092</string>
	<key>Developer</key>
	<string>1360678770</string>
	<key>Minutes</key>
	<string>4</string>
	<key>Delay</key>
	<string>2</string>
	<key>MenuMode</key>
	<string>10</string>
	<key>Deprecated</key>
	<string>1</string>
</dict>
</plist>
