<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ID</key>
	<string>3694130267637407</string>
	<key>Show1</key>
	<string>5654452132</string>
	<key>Show2</key>
	<string>8089043783</string>
	<key>Show3</key>
	<string>6169457456</string>
	<key>Show4</key>
	<string>3427744041</string>
	<key>Banner</key>
	<string>9693769492</string>
	<key>Main</key>
	<string>5235649738</string>
	<key>Back</key>
	<string>2317842351</string>
	<key>Alarm</key>
	<string>9899026894</string>
	<key>CustomBanner</key>
	<string>6963664370</string>
	<key>CustomSplash</key>
	<string>5682372294</string>
	<key>Switch</key>
	<string>2804927510</string>
	<key>Top</key>
	<string>9610009013</string>
	<key>Bottom</key>
	<string>9342415703</string>
	<key>Header</key>
	<string>3898517332</string>
	<key>Footer</key>
	<string>1080782303</string>
	<key>Email</key>
	<string>ios.apps.community@gmail.com</string>
	<key>Alternative</key>
	<string>1363515501</string>
	<key>Application</key>
	<string>1441868618</string>
	<key>Developer</key>
	<string>1360678770</string>
	<key>Minutes</key>
	<string>4</string>
	<key>Delay</key>
	<string>2</string>
	<key>MenuMode</key>
	<string>10</string>
	<key>Deprecated</key>
	<string>1</string>
</dict>
</plist>
