<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ID</key>
	<string>3694130267637407</string>
	<key>Show1</key>
	<string>REMOVED</string>
	<key>Show2</key>
	<string>REMOVED</string>
	<key>Show3</key>
	<string>REMOVED</string>
	<key>Show4</key>
	<string>REMOVED</string>
	<key>Banner</key>
	<string>7070165105</string>
	<key>Main</key>
	<string>6870854558</string>
	<key>Back</key>
	<string>2000427987</string>
	<key>Alarm</key>
	<string>2614795214</string>
	<key>CustomBanner</key>
	<string>1684856929</string>
	<key>CustomSplash</key>
	<string>7034506087</string>
	<key>Switch</key>
	<string>1371115868</string>
	<key>Top</key>
	<string>9455535736</string>
	<key>Bottom</key>
	<string>7950882372</string>
	<key>Header</key>
	<string>4091528418</string>
	<key>Footer</key>
	<string>5951404990</string>
	<key>Email</key>
	<string>idenitecs@gmail.com</string>
	<key>Alternative</key>
	<string>1349746801</string>
	<key>Application</key>
	<string>1436885546</string>
	<key>Developer</key>
	<string>1239592099</string>
	<key>Minutes</key>
	<string>4</string>
	<key>Delay</key>
	<string>2</string>
	<key>MenuMode</key>
	<string>10</string>
	<key>Deprecated</key>
	<string>1</string>
</dict>
</plist>
