<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ID</key>
	<string>3694130267637407</string>
	<key>Show1</key>
	<string>1229916571</string>
	<key>Show2</key>
	<string>1038344884</string>
	<key>Show3</key>
	<string>7120128384</string>
	<key>Show4</key>
	<string>3180883370</string>
	<key>Banner</key>
	<string>4669348575</string>
	<key>Main</key>
	<string>3711490127</string>
	<key>Back</key>
	<string>3839358921</string>
	<key>Alarm</key>
	<string>1094185203</string>
	<key>CustomBanner</key>
	<string>4650286834</string>
	<key>CustomSplash</key>
	<string>4577725522</string>
	<key>Switch</key>
	<string>6309733300</string>
	<key>Top</key>
	<string>6928556697</string>
	<key>Bottom</key>
	<string>9131337764</string>
	<key>Header</key>
	<string>2874170736</string>
	<key>Footer</key>
	<string>2379346716</string>
	<key>Email</key>
	<string>idenitecs@gmail.com</string>
	<key>Alternative</key>
	<string>1308390114</string>
	<key>Application</key>
	<string>1438216275</string>
	<key>Developer</key>
	<string>1239592099</string>
	<key>Minutes</key>
	<string>4</string>
	<key>Delay</key>
	<string>2</string>
	<key>MenuMode</key>
	<string>10</string>
	<key>Deprecated</key>
	<string>1</string>
</dict>
</plist>
