<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>7314195699</string>
		<key>Back</key>
		<string>4304888972</string>
		<key>Banner</key>
		<string>1104010561</string>
		<key>Show1</key>
		<string>REMOVED</string>
		<key>Show2</key>
		<string>REMOVED</string>
		<key>Show3</key>
		<string>REMOVED</string>
		<key>Show4</key>
		<string>REMOVED</string>
		<key>Alarm</key>
		<string>4991763615</string>
		<key>CustomBanner</key>
		<string>4800191929</string>
		<key>CustomSplash</key>
		<string>7860990603</string>
		<key>Header</key>
		<string>5730130213</string>
		<key>Footer</key>
		<string>9920656663</string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string>1241622315</string>
		<key>Application</key>
		<string>1447697765</string>
		<key>Developer</key>
		<string>1239592099</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>BLUE BOSSA NOVA</string>
			<key>logo</key>
			<string>BLUE</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://69.175.13.131:8280/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://69.175.13.131:8280/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Studio Souto</string>
			<key>logo</key>
			<string>Souto</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.99.150.31:9137/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.99.150.31:9137/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Forró das Antigas</string>
			<key>logo</key>
			<string>Antigas</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.24.165.178:9336/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.24.165.178:9336/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>The Sounds of Brazil</string>
			<key>logo</key>
			<string>Brazil</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.99.34.205:8010/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.99.34.205:8010/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Pop Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Gdynia Radio</string>
			<key>logo</key>
			<string>Gdynia</string>
			<key>link</key>
			<string>http://scscript.radiohost.pl/index.php?task=server,widget,tunein&amp;action=index&amp;id_server=407&amp;type=pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://51.255.8.139:8064/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Retro Brazil</string>
			<key>logo</key>
			<string>Retro</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://50.97.94.44:8076/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://50.97.94.44:8076/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>80s Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Omega FM 91.5</string>
			<key>logo</key>
			<string>Omega</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.24.156.115:8040/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.24.156.115:8040/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Melodia Web Radio</string>
			<key>logo</key>
			<string>Melodia</string>
			<key>link</key>
			<string>http://www.melodiawebradio.com/?pl=winamp&amp;c=Radio%20Melodia</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://directradios.net:9076/listen.pls?sid=1&amp;t=.pls</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Stay Rock Brazil</string>
			<key>logo</key>
			<string>Stay</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.254.68.106:10068/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.254.68.106:10068/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>VIP FM 99.2</string>
			<key>logo</key>
			<string>VIP</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://72.55.164.118:8573/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://72.55.164.118:8573/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Pop Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ESOTERICA</string>
			<key>logo</key>
			<string>ESOTERICA</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.99.247.236:8030/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.99.247.236:8030/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>CBS (Comunicações Brasileira de Sistemas)</string>
			<key>logo</key>
			<string>Sistemas</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://95.154.254.83:4862/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://95.154.254.83:4862/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Tatuape FM 24 Horas</string>
			<key>logo</key>
			<string>Tatuape</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://78.129.224.19:6253/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://78.129.224.19:6253/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string>Sao Paulo (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Click Mix</string>
			<key>logo</key>
			<string>Click</string>
			<key>link</key>
			<string>http://centova3.livehost.com.br:2199/tunein/canalpophits128kbps.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.99.35.31:8269/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>KGBrazil</string>
			<key>logo</key>
			<string>KGBrazil</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://188.40.135.197:8043/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://188.40.135.197:8043/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ImBrazil</string>
			<key>logo</key>
			<string>ImBrazil</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://45.43.200.26:9770/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://45.43.200.26:9770/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RENOVO AFRICA BRASIL</string>
			<key>logo</key>
			<string>RENOVO</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://170.75.146.162:8040/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://170.75.146.162:8040/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>REGIONAL FM</string>
			<key>logo</key>
			<string>REGIONAL</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.24.186.218:8320/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.24.186.218:8320/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rádio Gospel Hits</string>
			<key>logo</key>
			<string>Gospel</string>
			<key>link</key>
			<string>http://app.kshost.com.br/player/8836/winamp.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://hts01.kshost.com.br:8836/listen.pls?sid=1&amp;t=.pls</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>REDE Brasil FM 101.1</string>
			<key>logo</key>
			<string>REDE</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.24.165.178:9318/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.24.165.178:9318/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Serrana</string>
			<key>logo</key>
			<string>Serrana</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.254.68.106:10012/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.254.68.106:10012/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>News, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Freedom</string>
			<key>logo</key>
			<string>Freedom</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://64.37.51.105:8080/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://64.37.51.105:8080/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Top</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Freestyle Mania</string>
			<key>logo</key>
			<string>Freestyle</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://45.43.200.10:11192/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://45.43.200.10:11192/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Energy Brasil</string>
			<key>logo</key>
			<string>Energy</string>
			<key>link</key>
			<string>http://energybrasil.telia.com.br/EnergyBrasil.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://radio.maxicast.com.br:8039/listen.pls&amp;t=.pls</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Distorsion FM</string>
			<key>logo</key>
			<string>Distorsion</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://190.196.10.197:8100/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://190.196.10.197:8100/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>R@dio CampanhaWeb</string>
			<key>logo</key>
			<string>CampanhaWeb</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://45.43.200.50:8808/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://45.43.200.50:8808/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Sambrasil</string>
			<key>logo</key>
			<string>Sambrasil</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://45.43.200.114:8415/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://45.43.200.114:8415/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Som</string>
			<key>logo</key>
			<string>Som</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://45.43.200.26:12484/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://45.43.200.26:12484/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tributus</string>
			<key>logo</key>
			<string>Tributus</string>
			<key>link</key>
			<string>https://player.xcast.com.br/player/12476/winamp.pls</string>
			<key>http</key>
			<string>https://player.xcast.com.br/player/12476/iphone.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Star FM</string>
			<key>logo</key>
			<string>Sta</string>
			<key>link</key>
			<string>http://stream.zeno.fm/c4ztw4ppdseuv</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://199.233.234.34:8720/listen.pls?sid=1&amp;t=.pls</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CULTURA Online</string>
			<key>logo</key>
			<string>CULTURA</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://45.43.200.10:8218/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://45.43.200.10:8218/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Funk Mania</string>
			<key>logo</key>
			<string>Funk</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://45.43.200.26:12070/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://45.43.200.26:12070/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rádio Nova Orleans</string>
			<key>logo</key>
			<string>Nova</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://45.43.200.50:8168/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://45.43.200.50:8168/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>ARTVOICE</string>
			<key>logo</key>
			<string>ARTVOICE</string>
			<key>link</key>
			<string>http://player.srvstm.com/player/22548/iphone.m3u</string>
			<key>http</key>
			<string>http://player.srvstm.com/player/22548/winamp.pls</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Brasil Show</string>
			<key>logo</key>
			<string>Show</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://45.43.200.26:19978/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://45.43.200.26:19978/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Brasil Brega</string>
			<key>logo</key>
			<string>Brega</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://45.43.200.26:18458/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://45.43.200.26:18458/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Clube Tex</string>
			<key>logo</key>
			<string>Tex</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://45.43.200.26:17132/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://45.43.200.26:17132/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Audios Brasil</string>
			<key>logo</key>
			<string>Audios</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://199.233.234.34:25426/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://199.233.234.34:25426/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>RADIO BRASIL VOX</string>
			<key>logo</key>
			<string>VOX</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://45.43.200.114:8187/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://45.43.200.114:8187/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>ADSA</string>
			<key>logo</key>
			<string>ADSA</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://45.43.200.10:13020/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://45.43.200.10:13020/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
