<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string></string>
		<key>Back</key>
		<string></string>
		<key>Banner</key>
		<string></string>
		<key>Show1</key>
		<string></string>
		<key>Show2</key>
		<string></string>
		<key>Show3</key>
		<string></string>
		<key>Show4</key>
		<string></string>
		<key>Alarm</key>
		<string></string>
		<key>CustomBanner</key>
		<string></string>
		<key>CustomSplash</key>
		<string></string>
		<key>Header</key>
		<string></string>
		<key>Footer</key>
		<string></string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string></string>
		<key>Application</key>
		<string></string>
		<key>Developer</key>
		<string></string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>BBC World Service</string>
			<key>logo</key>
			<string>BBC</string>
			<key>link</key>
			<string>http://www.bbc.co.uk/worldservice/meta/live/mp3/eneuk.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hott 107.5 FM</string>
			<key>logo</key>
			<string>Hott</string>
			<key>link</key>
			<string>http://icy2.wostreaming.net/interislandcom-alachuatemplelive-128.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/hott-107-5-fm,16669.m3u</string>
			<key>note</key>
			<string>News, Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Irie 98.3 FM</string>
			<key>logo</key>
			<string>Irie</string>
			<key>link</key>
			<string>http://184.154.90.186:8231/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Magic 102.7 FM</string>
			<key>logo</key>
			<string>Magic</string>
			<key>link</key>
			<string>http://icy3.abacast.com/interislandcom-wmjfmmp3-64.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Vibe 103.3 FM</string>
			<key>logo</key>
			<string>Vibe</string>
			<key>link</key>
			<string>http://69.46.24.226:7099/mp3.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/vibe-103-fm,16670.m3u</string>
			<key>note</key>
			<string>Top Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>VSB Mix 106.1 FM</string>
			<key>logo</key>
			<string>VSB</string>
			<key>link</key>
			<string>http://50.7.99.155:7284/stream.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ZBM Ocean 89</string>
			<key>logo</key>
			<string>89</string>
			<key>link</key>
			<string>http://us2.internet-radio.com:8016/live.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ZFB Inspire 105</string>
			<key>logo</key>
			<string>105</string>
			<key>link</key>
			<string>http://us1.internet-radio.com:8008/live.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>ZFB Power 95</string>
			<key>logo</key>
			<string>95</string>
			<key>link</key>
			<string>http://us3.internet-radio.com:8026/live.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top Music</string>
		</dict>
	</array>
</dict>
</plist>
