<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Teledoce</string>
		<key>logo</key>
		<string>Teledoce</string>
		<key>link</key>
		<string>https://www.teledoce.com/envivo/</string>
		<key>http</key>
		<string>https://www.teledoce.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Canal U</string>
		<key>logo</key>
		<string>U</string>
		<key>link</key>
		<string>http://www.canalu.uy/canalu-en-vivo-tv</string>
		<key>http</key>
		<string>http://www.canalu.uy</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Monte Carlo</string>
		<key>logo</key>
		<string>Monte</string>
		<key>link</key>
		<string>http://www.montecarlotv.com.uy/montecarlo-tv-en-vivo</string>
		<key>http</key>
		<string>http://www.montecarlotv.com.uy</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Once Punta Del Este</string>
		<key>logo</key>
		<string>Once</string>
		<key>link</key>
		<string>http://canal11.uy/</string>
		<key>http</key>
		<string>http://canal11.uy/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tele 8 Mercedes</string>
		<key>logo</key>
		<string>Mercedes</string>
		<key>link</key>
		<string>http://www.canal8mercedes.com/</string>
		<key>http</key>
		<string>http://www.ustream.tv/channel/tele-8-mercedes-uruguay/pop-out</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TeleSUR</string>
		<key>logo</key>
		<string>TeleSUR</string>
		<key>link</key>
		<string>https://www.youtube.com/user/telesurtv/videos?view=2&amp;live_view=501&amp;flow=grid</string>
		<key>http</key>
		<string>https://www.telesurtv.net/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Misión Vida</string>
		<key>logo</key>
		<string>Vida</string>
		<key>link</key>
		<string>http://mvtv.misionvida.org/</string>
		<key>http</key>
		<string>http://www.misionvida.org/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TNU</string>
		<key>logo</key>
		<string>TNU</string>
		<key>link</key>
		<string>http://tv.vera.com.uy/canal/6042</string>
		<key>http</key>
		<string>http://tv.vera.com.uy/canales</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Vera+</string>
		<key>logo</key>
		<string>Vera</string>
		<key>link</key>
		<string>http://tv.vera.com.uy/canal/6001</string>
		<key>http</key>
		<string>http://tv.vera.com.uy/canales</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mi Móvil</string>
		<key>logo</key>
		<string>Mi</string>
		<key>link</key>
		<string>http://tv.vera.com.uy/canal/7073</string>
		<key>http</key>
		<string>http://tv.vera.com.uy/canales</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Charrúa</string>
		<key>logo</key>
		<string>Charrua</string>
		<key>link</key>
		<string>http://tv.vera.com.uy/canal/6038</string>
		<key>http</key>
		<string>http://tv.vera.com.uy/canales</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Los Profesionales</string>
		<key>logo</key>
		<string>Los</string>
		<key>link</key>
		<string>http://tv.vera.com.uy/canal/7131</string>
		<key>http</key>
		<string>http://tv.vera.com.uy/canales</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Presidencia</string>
		<key>logo</key>
		<string>Presidencia</string>
		<key>link</key>
		<string>http://tv.vera.com.uy/canal/6730</string>
		<key>http</key>
		<string>http://tv.vera.com.uy/canales</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Representantes</string>
		<key>logo</key>
		<string>Representantes</string>
		<key>link</key>
		<string>http://tv.vera.com.uy/canal/6763</string>
		<key>http</key>
		<string>http://tv.vera.com.uy/canales</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Senadores</string>
		<key>logo</key>
		<string>Senadores</string>
		<key>link</key>
		<string>http://tv.vera.com.uy/canal/6054</string>
		<key>http</key>
		<string>http://tv.vera.com.uy/canales</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Artigas</string>
		<key>logo</key>
		<string>Artigas</string>
		<key>link</key>
		<string>http://tv.vera.com.uy/canal/6044</string>
		<key>http</key>
		<string>http://tv.vera.com.uy/canales</string>
	</dict>
	<dict>
		<key>name</key>
		<string>8 Artigas</string>
		<key>logo</key>
		<string>8</string>
		<key>link</key>
		<string>http://tv.vera.com.uy/canal/9366</string>
		<key>http</key>
		<string>http://tv.vera.com.uy/canales</string>
	</dict>
	<dict>
		<key>name</key>
		<string>2 Visión Canaria</string>
		<key>logo</key>
		<string>Canaria</string>
		<key>link</key>
		<string>http://tv.vera.com.uy/canal/9411</string>
		<key>http</key>
		<string>http://tv.vera.com.uy/canales</string>
	</dict>
	<dict>
		<key>name</key>
		<string>11 Las Piedras</string>
		<key>logo</key>
		<string>Piedras</string>
		<key>link</key>
		<string>http://tv.vera.com.uy/canal/6055</string>
		<key>http</key>
		<string>http://tv.vera.com.uy/canales</string>
	</dict>
	<dict>
		<key>name</key>
		<string>REPETICIÓN DÍA ANTERIO</string>
		<key>logo</key>
		<string>ANTERIO</string>
		<key>link</key>
		<string>http://tv.vera.com.uy/canal/6703</string>
		<key>http</key>
		<string>http://tv.vera.com.uy/canales</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Pando</string>
		<key>logo</key>
		<string>Pando</string>
		<key>link</key>
		<string>http://tv.vera.com.uy/canal/6764</string>
		<key>http</key>
		<string>http://tv.vera.com.uy/canales</string>
	</dict>
	<dict>
		<key>name</key>
		<string>12</string>
		<key>logo</key>
		<string>12</string>
		<key>link</key>
		<string>http://tv.vera.com.uy/canal/6074</string>
		<key>http</key>
		<string>http://tv.vera.com.uy/canales</string>
	</dict>
	<dict>
		<key>name</key>
		<string>4 Juan Lacaze</string>
		<key>logo</key>
		<string>4</string>
		<key>link</key>
		<string>http://tv.vera.com.uy/canal/6157</string>
		<key>http</key>
		<string>http://tv.vera.com.uy/canales</string>
	</dict>
	<dict>
		<key>name</key>
		<string>5 Noticias y Deportes-Colonia</string>
		<key>logo</key>
		<string>5</string>
		<key>link</key>
		<string>http://tv.vera.com.uy/canal/8071</string>
		<key>http</key>
		<string>http://tv.vera.com.uy/canales</string>
	</dict>
	<dict>
		<key>name</key>
		<string>6 Durazno</string>
		<key>logo</key>
		<string>6</string>
		<key>link</key>
		<string>http://tv.vera.com.uy/canal/6070</string>
		<key>http</key>
		<string>http://tv.vera.com.uy/canales</string>
	</dict>
	<dict>
		<key>name</key>
		<string>2 San Carlos</string>
		<key>logo</key>
		<string>2</string>
		<key>link</key>
		<string>http://tv.vera.com.uy/canal/8204</string>
		<key>http</key>
		<string>http://tv.vera.com.uy/canales</string>
	</dict>
	<dict>
		<key>name</key>
		<string>A mas V</string>
		<key>logo</key>
		<string>A</string>
		<key>link</key>
		<string>http://tv.vera.com.uy/canal/6707</string>
		<key>http</key>
		<string>http://tv.vera.com.uy/canales</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tevé Ciudad</string>
		<key>logo</key>
		<string>Ciudad</string>
		<key>link</key>
		<string>http://tv.vera.com.uy/canal/6046</string>
		<key>http</key>
		<string>http://tv.vera.com.uy/canales</string>
	</dict>
	<dict>
		<key>name</key>
		<string>4 Paysandú</string>
		<key>logo</key>
		<string>Paysandu</string>
		<key>link</key>
		<string>http://tv.vera.com.uy/canal/9239</string>
		<key>http</key>
		<string>http://tv.vera.com.uy/canales</string>
	</dict>
	<dict>
		<key>name</key>
		<string>8 Rivera</string>
		<key>logo</key>
		<string>Rivera</string>
		<key>link</key>
		<string>http://tv.vera.com.uy/canal/9369</string>
		<key>http</key>
		<string>http://tv.vera.com.uy/canales</string>
	</dict>
	<dict>
		<key>name</key>
		<string>8 de Rocha</string>
		<key>logo</key>
		<string>Rocha</string>
		<key>link</key>
		<string>http://tv.vera.com.uy/canal/6071</string>
		<key>http</key>
		<string>http://tv.vera.com.uy/canales</string>
	</dict>
	<dict>
		<key>name</key>
		<string>9 Telerocha</string>
		<key>logo</key>
		<string>9</string>
		<key>link</key>
		<string>http://tv.vera.com.uy/canal/6067</string>
		<key>http</key>
		<string>http://tv.vera.com.uy/canales</string>
	</dict>
	<dict>
		<key>name</key>
		<string>2 Lascano</string>
		<key>logo</key>
		<string>Lascano</string>
		<key>link</key>
		<string>http://tv.vera.com.uy/canal/6090</string>
		<key>http</key>
		<string>http://tv.vera.com.uy/canales</string>
	</dict>
	<dict>
		<key>name</key>
		<string>4 Chuy</string>
		<key>logo</key>
		<string>Chuy</string>
		<key>link</key>
		<string>http://tv.vera.com.uy/canal/6057</string>
		<key>http</key>
		<string>http://tv.vera.com.uy/canales</string>
	</dict>
	<dict>
		<key>name</key>
		<string>8 Salto</string>
		<key>logo</key>
		<string>Salto</string>
		<key>link</key>
		<string>http://tv.vera.com.uy/canal/6769</string>
		<key>http</key>
		<string>http://tv.vera.com.uy/canales</string>
	</dict>
	<dict>
		<key>name</key>
		<string>4 Salto</string>
		<key>logo</key>
		<string>Salto</string>
		<key>link</key>
		<string>http://tv.vera.com.uy/canal/8081</string>
		<key>http</key>
		<string>http://tv.vera.com.uy/canales</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CV 10</string>
		<key>logo</key>
		<string>CV</string>
		<key>link</key>
		<string>http://tv.vera.com.uy/canal/9880</string>
		<key>http</key>
		<string>http://tv.vera.com.uy/canales</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Soy Tacuarembó</string>
		<key>logo</key>
		<string>Soy</string>
		<key>link</key>
		<string>http://tv.vera.com.uy/canal/6880</string>
		<key>http</key>
		<string>http://tv.vera.com.uy/canales</string>
	</dict>
	<dict>
		<key>name</key>
		<string>4 Treinta y Tres</string>
		<key>logo</key>
		<string>Treinta</string>
		<key>link</key>
		<string>http://tv.vera.com.uy/canal/6061</string>
		<key>http</key>
		<string>http://tv.vera.com.uy/canales</string>
	</dict>
	<dict>
		<key>name</key>
		<string>11 Treinta y Tres</string>
		<key>logo</key>
		<string>11</string>
		<key>link</key>
		<string>http://tv.vera.com.uy/canal/6853</string>
		<key>http</key>
		<string>http://tv.vera.com.uy/canales</string>
	</dict>
	<dict>
		<key>name</key>
		<string>POP</string>
		<key>logo</key>
		<string>POP</string>
		<key>link</key>
		<string>http://tv.vera.com.uy/canal/14410</string>
		<key>http</key>
		<string>http://tv.vera.com.uy/canales</string>
	</dict>
	<dict>
		<key>name</key>
		<string>M</string>
		<key>logo</key>
		<string>M</string>
		<key>link</key>
		<string>http://tv.vera.com.uy/canal/21259</string>
		<key>http</key>
		<string>http://tv.vera.com.uy/canales</string>
	</dict>
	<dict>
		<key>name</key>
		<string>El Observador</string>
		<key>logo</key>
		<string>El</string>
		<key>link</key>
		<string>http://tv.vera.com.uy/canal/10654</string>
		<key>http</key>
		<string>http://tv.vera.com.uy/canales</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Maroñas</string>
		<key>logo</key>
		<string>Maronas</string>
		<key>link</key>
		<string>http://tv.vera.com.uy/canal/6056</string>
		<key>http</key>
		<string>http://tv.vera.com.uy/canales</string>
	</dict>
	<dict>
		<key>name</key>
		<string>7 Punta</string>
		<key>logo</key>
		<string>7</string>
		<key>link</key>
		<string>http://tv.vera.com.uy/canal/10425</string>
		<key>http</key>
		<string>http://tv.vera.com.uy/canales</string>
	</dict>
	<dict>
		<key>name</key>
		<string>1000 X Hora</string>
		<key>logo</key>
		<string>1000</string>
		<key>link</key>
		<string>http://tv.vera.com.uy/canal/31488</string>
		<key>http</key>
		<string>http://tv.vera.com.uy/canales</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Florida</string>
		<key>logo</key>
		<string>Florida</string>
		<key>link</key>
		<string>http://tv.vera.com.uy/canal/30455</string>
		<key>http</key>
		<string>http://tv.vera.com.uy/canales</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RTV</string>
		<key>logo</key>
		<string>RTV</string>
		<key>link</key>
		<string>http://tv.vera.com.uy/canal/6085</string>
		<key>http</key>
		<string>http://tv.vera.com.uy/canales</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Young tevé</string>
		<key>logo</key>
		<string>Young</string>
		<key>link</key>
		<string>http://tv.vera.com.uy/canal/11264</string>
		<key>http</key>
		<string>http://tv.vera.com.uy/canales</string>
	</dict>
	<dict>
		<key>name</key>
		<string>San José Ahora</string>
		<key>logo</key>
		<string>Ahora</string>
		<key>link</key>
		<string>http://tv.vera.com.uy/canal/28835</string>
		<key>http</key>
		<string>http://tv.vera.com.uy/canales</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Uruguay Natural</string>
		<key>logo</key>
		<string>Natural</string>
		<key>link</key>
		<string>http://tv.vera.com.uy/canal/6068</string>
		<key>http</key>
		<string>http://tv.vera.com.uy/canales</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MIEM</string>
		<key>logo</key>
		<string>MIEM</string>
		<key>link</key>
		<string>http://tv.vera.com.uy/canal/19153</string>
		<key>http</key>
		<string>http://tv.vera.com.uy/canales</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Veoflix</string>
		<key>logo</key>
		<string>Veoflix</string>
		<key>link</key>
		<string>http://tv.vera.com.uy/canal/26085</string>
		<key>http</key>
		<string>http://tv.vera.com.uy/canales</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Peluffo Giguens</string>
		<key>logo</key>
		<string>Peluffo</string>
		<key>link</key>
		<string>http://tv.vera.com.uy/canal/25441</string>
		<key>http</key>
		<string>http://tv.vera.com.uy/canales</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Vivo 3</string>
		<key>logo</key>
		<string>3</string>
		<key>link</key>
		<string>http://tv.vera.com.uy/canal/21426</string>
		<key>http</key>
		<string>http://tv.vera.com.uy/canales</string>
	</dict>
	<dict>
		<key>name</key>
		<string>OCHO</string>
		<key>logo</key>
		<string>OCHO</string>
		<key>link</key>
		<string>http://tv.vera.com.uy/canal/6077</string>
		<key>http</key>
		<string>http://tv.vera.com.uy/canales</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Rio Uruguay</string>
		<key>logo</key>
		<string>Rio</string>
		<key>link</key>
		<string>http://tv.vera.com.uy/canal/10032</string>
		<key>http</key>
		<string>http://tv.vera.com.uy/canales</string>
	</dict>
</array>
</plist>
