<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string></string>
		<key>Back</key>
		<string></string>
		<key>Banner</key>
		<string></string>
		<key>Show1</key>
		<string></string>
		<key>Show2</key>
		<string></string>
		<key>Show3</key>
		<string></string>
		<key>Show4</key>
		<string></string>
		<key>Alarm</key>
		<string></string>
		<key>CustomBanner</key>
		<string></string>
		<key>CustomSplash</key>
		<string></string>
		<key>Header</key>
		<string></string>
		<key>Footer</key>
		<string></string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string></string>
		<key>Application</key>
		<string></string>
		<key>Developer</key>
		<string></string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>မြန်မာ့အသံ</string>
			<key>logo</key>
			<string>mrtv</string>
			<key>link</key>
			<string>http://203.81.77.250:88/broadwave.m3u?src=1&amp;rate=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>တိုင်းရင်းသားအစီအစဉ်-၁</string>
			<key>logo</key>
			<string>mrt</string>
			<key>link</key>
			<string>http://203.81.68.21:88/broadwave.m3u?src=1&amp;rate=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cherry FM</string>
			<key>logo</key>
			<string>Cherry</string>
			<key>link</key>
			<string>http://knight.wavestreamer.com:5511/live.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mandalay FM</string>
			<key>logo</key>
			<string>Mandalay</string>
			<key>link</key>
			<string>http://neon.wavestreamer.com:6561/listen.pls?sid=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Padamyar FM 88.2</string>
			<key>logo</key>
			<string>Padamyar</string>
			<key>link</key>
			<string>https://s2.radio.co/s969e6c4b7/listen</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Teen Radio Pyinsawadi 91.0 FM</string>
			<key>logo</key>
			<string>Teen</string>
			<key>link</key>
			<string>http://stereo.wavestreamer.com:4242/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Youth</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Thazin FM</string>
			<key>logo</key>
			<string>Thazin</string>
			<key>link</key>
			<string>http://78.129.224.21:4447/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MI Radio</string>
			<key>logo</key>
			<string>MI</string>
			<key>link</key>
			<string>https://hls.rastream.com/monnect-mir.web.hls/playlist.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk</string>
		</dict>
	</array>
</dict>
</plist>
