<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string></string>
		<key>Main</key>
		<string></string>
		<key>Back</key>
		<string></string>
		<key>Banner</key>
		<string></string>
		<key>Show1</key>
		<string></string>
		<key>Show2</key>
		<string></string>
		<key>Show3</key>
		<string></string>
		<key>Show4</key>
		<string></string>
		<key>Alarm</key>
		<string></string>
		<key>CustomBanner</key>
		<string></string>
		<key>CustomSplash</key>
		<string></string>
		<key>Header</key>
		<string></string>
		<key>Footer</key>
		<string></string>
		<key>Email</key>
		<string>ios.apps.community@gmail.com</string>
		<key>Alternative</key>
		<string></string>
		<key>Application</key>
		<string></string>
		<key>Developer</key>
		<string></string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Menu</key>
	<array>
		<string>Top</string>
		<string>News</string>
		<string>Local</string>
		<string>Classic</string>
		<string>Music</string>
		<string>Sport</string>
		<string>Talk</string>
		<string>Youth</string>
		<string>Oldies</string>
	</array>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>9 FM 98.9</string>
			<key>logo</key>
			<string>9</string>
			<key>link</key>
			<string>http://radio9.kloud.xyz:8060/radio.mp3.m3u</string>
			<key>http</key>
			<string>https://rs.suricloud.com/radio/8060/radio.mp3</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>10 Magic FM</string>
			<key>logo</key>
			<string>10</string>
			<key>link</key>
			<string>http://streams.radio.co/s28bc986cd/listen</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>ABC FM 101.7</string>
			<key>logo</key>
			<string>ABC</string>
			<key>link</key>
			<string>http://bombelman.com:5472/listen.pls</string>
			<key>http</key>
			<string>http://www.bombelman.com/abc/listen.pls</string>
			<key>note</key>
			<string>News, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Amor FM 102.3</string>
			<key>logo</key>
			<string>Amor</string>
			<key>link</key>
			<string>http://94.23.148.11:8058/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Apintie 97.1 FM</string>
			<key>logo</key>
			<string>Apintie</string>
			<key>link</key>
			<string>http://s6.voscast.com:8150/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/apintie-97-1-fm,770.m3u</string>
			<key>note</key>
			<string>Top Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Beat FM 92.1</string>
			<key>logo</key>
			<string>Beat</string>
			<key>link</key>
			<string>http://168.195.218.193:8000/radio2-2.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Color FM 102.5</string>
			<key>logo</key>
			<string>Color</string>
			<key>link</key>
			<string>http://95.154.193.6:8207/listen.pls</string>
			<key>http</key>
			<string>http://stream.colorradiosuriname.com:8207/live</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Garuda FM 105.7</string>
			<key>logo</key>
			<string>Garuda</string>
			<key>link</key>
			<string>http://162.244.80.245:8012/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-garuda,9670.m3u</string>
			<key>note</key>
			<string>News, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Gold FM 92.7</string>
			<key>logo</key>
			<string>Gold</string>
			<key>link</key>
			<string>http://162.244.80.245:8006/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Immanuël 95.9 FM</string>
			<key>logo</key>
			<string>Immanuel</string>
			<key>link</key>
			<string>http://bombelman.com:3052/listen.pls?sid=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ishara FM 100.7</string>
			<key>logo</key>
			<string>Ishara</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/ishara-fm-100-7,16580.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kabar Katresnan RK2 90.9 FM</string>
			<key>logo</key>
			<string>Kabar</string>
			<key>link</key>
			<string>http://server.jvhost.net:8120/live.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kankantri FM 100.9</string>
			<key>logo</key>
			<string>Kankantri</string>
			<key>link</key>
			<string>http://streamingv2.shoutcast.com/k1009.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>NIO FM 107.5</string>
			<key>logo</key>
			<string>NIO</string>
			<key>link</key>
			<string>http://bombelman.com:3062/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>One 103.1</string>
			<key>logo</key>
			<string>One</string>
			<key>link</key>
			<string>http://78.129.163.82:8261/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pipel FM</string>
			<key>logo</key>
			<string>Pipel</string>
			<key>link</key>
			<string>http://168.195.218.193:8000/radio1-0.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk, Oldies</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ramasha 88.9 FM</string>
			<key>logo</key>
			<string>Ramasha</string>
			<key>link</key>
			<string>http://162.244.80.245:8016/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RP Acme 91.3 FM</string>
			<key>logo</key>
			<string>Acme</string>
			<key>link</key>
			<string>http://168.195.218.193:8000/radio2-0.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Olies, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RP The Hot One 89.7 FM</string>
			<key>logo</key>
			<string>Hot</string>
			<key>link</key>
			<string>http://168.195.218.193:8000/radio1-3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sangeetmala FM 99.3</string>
			<key>logo</key>
			<string>Sangeetmala</string>
			<key>link</key>
			<string>http://sgm.kloud.xyz:8030/radio.mp3.m3u</string>
			<key>http</key>
			<string>https://rs.suricloud.com/radio/8030/radio.mp3?_=1</string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>SCCN Smooth FM 104.1</string>
			<key>logo</key>
			<string>Smooth</string>
			<key>link</key>
			<string>http://sccn104.serverroom.us:5600/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Shalom 94.5 FM</string>
			<key>logo</key>
			<string>Shalom</string>
			<key>link</key>
			<string>http://162.244.80.245:8014/stream.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>SRS Power 96.3</string>
			<key>logo</key>
			<string>SRS</string>
			<key>link</key>
			<string>http://168.195.218.193:8000/radio2-0.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Trishul 90.5 FM</string>
			<key>logo</key>
			<string>Trishul</string>
			<key>link</key>
			<string>http://tbn.kloud.xyz:8050/radio.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
	</array>
</dict>
</plist>
