<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>NTV (এনটিভি)</string>
		<key>logo</key>
		<string>NTV</string>
		<key>link</key>
		<string>https://www.ntvbd.com/livetv/</string>
		<key>http</key>
		<string>https://www.youtube.com/c/ntvdigital</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ATN Bangla (এটিএন বাংলা)</string>
		<key>logo</key>
		<string>ATN</string>
		<key>link</key>
		<string>http://www.atnbangla.tv/atn-tube/</string>
		<key>http</key>
		<string>http://www.jagobd.com/atn-bangla</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Channel i (চ্যানেল আই)</string>
		<key>logo</key>
		<string>i</string>
		<key>link</key>
		<string>https://www.channelionline.com/live-tv/</string>
		<key>http</key>
		<string>http://www.jagobd.com/channeli</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Boishakhi (বৈশাখী টিভি)</string>
		<key>logo</key>
		<string>Boishakhi</string>
		<key>link</key>
		<string>http://www.boishakhionline.com/live</string>
		<key>http</key>
		<string>http://www.jagobd.com/boishakhitv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RTV (আরটিভি)</string>
		<key>logo</key>
		<string>RTV1</string>
		<key>link</key>
		<string>http://www.rtvonline.net/rtv/live</string>
		<key>http</key>
		<string>http://www.jagobd.com/rtv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RTV Music</string>
		<key>logo</key>
		<string>RTV2</string>
		<key>link</key>
		<string>http://www.rtvmusic.tv/</string>
		<key>http</key>
		<string>http://www.jagobd.com/rtvmusic</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SATV (এসএ টিভি)</string>
		<key>logo</key>
		<string>SATV</string>
		<key>link</key>
		<string>https://www.satv.tv/live/</string>
		<key>http</key>
		<string>http://www.jagobd.com/satv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ekushey 24 (একুশে)</string>
		<key>logo</key>
		<string>Ekushey</string>
		<key>link</key>
		<string>http://www.ekushey-tv.com/etvlive/</string>
		<key>http</key>
		<string>http://www.jagobd.com/ekushey-tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>My (মাই টিভি)</string>
		<key>logo</key>
		<string>My</string>
		<key>link</key>
		<string>http://mytvbd.tv/mytvbd-live/</string>
		<key>http</key>
		<string>http://www.jagobd.com/my-tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>My Cinema BD</string>
		<key>logo</key>
		<string>Cinema</string>
		<key>link</key>
		<string>http://www.jagobd.com/my-cinematv</string>
		<key>http</key>
		<string>http://www.jagobd.com/my-cinematv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ETV Bangla</string>
		<key>logo</key>
		<string>ETV</string>
		<key>link</key>
		<string>https://bengali.news18.com/live-tv/</string>
		<key>http</key>
		<string>https://bengali.news18.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ABP Ananda</string>
		<key>logo</key>
		<string>ABP</string>
		<key>link</key>
		<string>http://abpananda.abplive.in/live-tv</string>
		<key>http</key>
		<string>http://abpananda.abplive.in</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TBN24</string>
		<key>logo</key>
		<string>TBN24</string>
		<key>link</key>
		<string>http://www.tbn24.com/</string>
		<key>http</key>
		<string>http://www.jagobd.com/tbn24</string>
	</dict>
	<dict>
		<key>name</key>
		<string>BTV Chittagong (বাংলাদেশ টেলিভিশন)</string>
		<key>logo</key>
		<string>BTV</string>
		<key>link</key>
		<string>http://btv.portal.gov.bd/site/page/64915c73-e02f-4973-9cc3-15ce6f1f7f1a</string>
		<key>http</key>
		<string>http://btv.portal.gov.bd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ATN News (এটিএন নিউজ)</string>
		<key>logo</key>
		<string>News</string>
		<key>link</key>
		<string>https://www.atnnewstv.com</string>
		<key>http</key>
		<string>https://www.youtube.com/channel/UCKlhfq1ILoAFav7iw5iCnfA/videos?flow=grid&amp;view=2&amp;live_view=501</string>
	</dict>
	<dict>
		<key>name</key>
		<string>24 (নিউজ 24)</string>
		<key>logo</key>
		<string>24</string>
		<key>link</key>
		<string>http://www.channel24bd.tv/live</string>
		<key>http</key>
		<string>https://www.youtube.com/channel/UCHLqIOMPk20w-6cFgkA90jw/videos?flow=grid&amp;view=2&amp;live_view=501</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Somoy</string>
		<key>logo</key>
		<string>Somoy</string>
		<key>link</key>
		<string>http://www.somoynews.tv/tv</string>
		<key>http</key>
		<string>https://www.youtube.com/channel/UCNUFterLJ9vpFZZ0try7sLA/videos?view=2&amp;live_view=501&amp;flow=grid</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Panvision</string>
		<key>logo</key>
		<string>Panvision</string>
		<key>link</key>
		<string>http://panvision.tv/</string>
		<key>http</key>
		<string>http://www.jagobd.com/panvision-tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Asian (এশিয়ান)</string>
		<key>logo</key>
		<string>Asian</string>
		<key>link</key>
		<string>http://asiantvbd.tv/%E0%A6%B2%E0%A6%BE%E0%A6%87%E0%A6%AD-%E0%A6%9F%E0%A6%BF%E0%A6%AD%E0%A6%BF/</string>
		<key>http</key>
		<string>http://www.jagobd.com/asiantv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Natun Somoy</string>
		<key>logo</key>
		<string>Natun</string>
		<key>link</key>
		<string>http://www.natunsomoy.com/tv/</string>
		<key>http</key>
		<string>http://www.natunsomoy.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nokshi</string>
		<key>logo</key>
		<string>Nokshi</string>
		<key>link</key>
		<string>http://www.nokshitv.com/</string>
		<key>http</key>
		<string>http://www.jagobd.com/nokshitv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Rang</string>
		<key>logo</key>
		<string>Rang</string>
		<key>link</key>
		<string>http://rangtv.tv/</string>
		<key>http</key>
		<string>http://www.jagobd.com/rangtv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ATN Music</string>
		<key>logo</key>
		<string>Music</string>
		<key>link</key>
		<string>http://www.atnmusic.tv/</string>
		<key>http</key>
		<string>http://www.jagobd.com/atnmusic</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sangsad</string>
		<key>logo</key>
		<string>Sangsad</string>
		<key>link</key>
		<string>http://www.parliament.gov.bd/tv/sangshadtv.php</string>
		<key>http</key>
		<string>http://www.jagobd.com/songsadtv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Al Dawah</string>
		<key>logo</key>
		<string>Dawah</string>
		<key>link</key>
		<string>http://aldawah.tv/</string>
		<key>http</key>
		<string>http://www.jagobd.com/al-dawah-tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tanzil</string>
		<key>logo</key>
		<string>Tanzil</string>
		<key>link</key>
		<string>http://altanzil.tv/tanzil/</string>
		<key>http</key>
		<string>http://altanzil.tv/tanzil/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>One UK</string>
		<key>logo</key>
		<string>One</string>
		<key>link</key>
		<string>http://www.tvoneuk.tv/</string>
		<key>http</key>
		<string>http://www.jagobd.com/tv-one-uk</string>
	</dict>
	<dict>
		<key>name</key>
		<string>IQRA Bangla</string>
		<key>logo</key>
		<string>Bangla</string>
		<key>link</key>
		<string>https://iqra.tv/iqra-bangla/</string>
		<key>http</key>
		<string>https://iqra.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>IQRA</string>
		<key>logo</key>
		<string>IQRA</string>
		<key>link</key>
		<string>https://iqra.tv/</string>
		<key>http</key>
		<string>http://www.jagobd.com/iqratv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NTV Europe</string>
		<key>logo</key>
		<string>Europe</string>
		<key>link</key>
		<string>http://www.europentv.com/live/</string>
		<key>http</key>
		<string>http://www.jagobd.com/ntveurope</string>
	</dict>
	<dict>
		<key>name</key>
		<string>i Europe</string>
		<key>logo</key>
		<string>iEurope</string>
		<key>link</key>
		<string>http://channelieurope.tv/</string>
		<key>http</key>
		<string>http://www.jagobd.com/channelieurope</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Deshe Bideshe</string>
		<key>logo</key>
		<string>Bideshe</string>
		<key>link</key>
		<string>http://deshebideshe.tv/</string>
		<key>http</key>
		<string>http://www.jagobd.com/deshebideshe-tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NRB</string>
		<key>logo</key>
		<string>NRB</string>
		<key>link</key>
		<string>http://www.thenrb.tv/</string>
		<key>http</key>
		<string>http://www.jagobd.com/nrbtv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Millennium</string>
		<key>logo</key>
		<string>Millennium</string>
		<key>link</key>
		<string>http://www.millenniumtv.net/live/</string>
		<key>http</key>
		<string>http://www.jagobd.com/millenniumtv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Srijan</string>
		<key>logo</key>
		<string>Srijan</string>
		<key>link</key>
		<string>http://www.srijan.tv/live/</string>
		<key>http</key>
		<string>http://www.srijan.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ATN Bangla UK</string>
		<key>logo</key>
		<string>UK</string>
		<key>link</key>
		<string>http://atnbanglauk.tv/</string>
		<key>http</key>
		<string>http://www.jagobd.com/atnbanglauk</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ATN Islamic</string>
		<key>logo</key>
		<string>Islamic</string>
		<key>link</key>
		<string>http://www.atnislamic.tv/</string>
		<key>http</key>
		<string>http://www.jagobd.com/atnislamictv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bangla21</string>
		<key>logo</key>
		<string>Bangla21</string>
		<key>link</key>
		<string>http://bangla21.tv/bangla-channel</string>
		<key>http</key>
		<string>http://www.jagobd.com/bangla21tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bangla</string>
		<key>logo</key>
		<string>Bangl</string>
		<key>link</key>
		<string>http://www.jagobd.com/banglatv</string>
		<key>http</key>
		<string>http://www.jagobd.com/banglatv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>BanglaVision</string>
		<key>logo</key>
		<string>BanglaVision</string>
		<key>link</key>
		<string>https://banglavision.tv/live/</string>
		<key>http</key>
		<string>https://banglavision.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bijoy</string>
		<key>logo</key>
		<string>Bijoy</string>
		<key>link</key>
		<string>http://www.jagobd.com/bijoytv</string>
		<key>http</key>
		<string>http://www.jagobd.com/bijoytv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>BTV World</string>
		<key>logo</key>
		<string>World</string>
		<key>link</key>
		<string>http://www.jagobd.com/btvworld</string>
		<key>http</key>
		<string>http://www.jagobd.com/btvworld</string>
	</dict>
	<dict>
		<key>name</key>
		<string>S UK</string>
		<key>logo</key>
		<string>S</string>
		<key>link</key>
		<string>http://www.jagobd.com/channelsuk</string>
		<key>http</key>
		<string>http://www.chsuk.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DBC NEWS</string>
		<key>logo</key>
		<string>DBC</string>
		<key>link</key>
		<string>http://www.jagobd.com/dbcnews</string>
		<key>http</key>
		<string>https://www.dbcnews.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ekattor</string>
		<key>logo</key>
		<string>Ekattor</string>
		<key>link</key>
		<string>http://www.jagobd.com/ekattortv</string>
		<key>http</key>
		<string>http://www.ekattor.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Gaan Bangla</string>
		<key>logo</key>
		<string>Gaan</string>
		<key>link</key>
		<string>http://www.jagobd.com/gaanbangla</string>
		<key>http</key>
		<string>http://www.gaanbangla.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Independent</string>
		<key>logo</key>
		<string>Independent</string>
		<key>link</key>
		<string>http://www.jagobd.com/independent</string>
		<key>http</key>
		<string>http://independent24.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mohona</string>
		<key>logo</key>
		<string>Mohona</string>
		<key>link</key>
		<string>http://www.jagobd.com/mohonatv</string>
		<key>http</key>
		<string>http://www.jagobd.com/mohonatv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Movie Bangla</string>
		<key>logo</key>
		<string>Movie</string>
		<key>link</key>
		<string>http://moviebangla.tv/</string>
		<key>http</key>
		<string>http://www.jagobd.com/moviebanglatv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NEWS24</string>
		<key>logo</key>
		<string>NEWS24</string>
		<key>link</key>
		<string>http://www.jagobd.com/news24tv</string>
		<key>http</key>
		<string>http://www.news24bd.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>iON</string>
		<key>logo</key>
		<string>iON</string>
		<key>link</key>
		<string>http://www.jagobd.com/iontvuk</string>
		<key>http</key>
		<string>http://www.jagobd.com/iontvuk</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Jamuna</string>
		<key>logo</key>
		<string>Jamuna</string>
		<key>link</key>
		<string>http://www.jagobd.com/jamunatv</string>
		<key>http</key>
		<string>https://www.jamuna.tv/live</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Jonmobhumi</string>
		<key>logo</key>
		<string>Jonmobhumi</string>
		<key>link</key>
		<string>http://www.jonmobhumi.tv/</string>
		<key>http</key>
		<string>http://www.jagobd.com/jonmobhumi-tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Time</string>
		<key>logo</key>
		<string>Time</string>
		<key>link</key>
		<string>http://www.timetvusa.com/</string>
		<key>http</key>
		<string>http://www.jagobd.com/timetv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tuntuni</string>
		<key>logo</key>
		<string>Tuntuni</string>
		<key>link</key>
		<string>http://tuntuni.tv/</string>
		<key>http</key>
		<string>http://www.jagobd.com/tuntunitv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Varendra</string>
		<key>logo</key>
		<string>Varendra</string>
		<key>link</key>
		<string>http://varendra.tv/</string>
		<key>http</key>
		<string>http://www.jagobd.com/varendra-tv</string>
	</dict>
</array>
</plist>
