<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Icon</key>
		<string>Work</string>
		<key>Title</key>
		<string>Политика</string>
		<key>Content</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Политика</string>
				<key>Link</key>
				<string>https://bb.lv/kategorija/politika/politiki</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Правительство</string>
				<key>Link</key>
				<string>https://bb.lv/kategorija/politika/praviteljstvo</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Мнение</string>
				<key>Link</key>
				<string>https://bb.lv/kategorija/politika/mnenie</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Сейм</string>
				<key>Link</key>
				<string>https://bb.lv/kategorija/politika/seim</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Партии</string>
				<key>Link</key>
				<string>https://bb.lv/kategorija/politika/partii</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Icon</key>
		<string>Transport</string>
		<key>Title</key>
		<string>Наша Латвия</string>
		<key>Content</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Латвия с плюсом</string>
				<key>Link</key>
				<string>https://bb.lv/kategorija/nasha-latvija/latvija-s-pljusom</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Социум</string>
				<key>Link</key>
				<string>https://bb.lv/kategorija/nasha-latvija/socium</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Погода</string>
				<key>Link</key>
				<string>https://bb.lv/kategorija/nasha-latvija/pogoda</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Происшествия</string>
				<key>Link</key>
				<string>https://bb.lv/kategorija/nasha-latvija/proisshestvija</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Криминал</string>
				<key>Link</key>
				<string>https://bb.lv/kategorija/nasha-latvija/kriminal</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Icon</key>
		<string>Home</string>
		<key>Title</key>
		<string>В мире</string>
		<key>Content</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Война</string>
				<key>Link</key>
				<string>https://bb.lv/kategorija/v-mire/voina</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Россия</string>
				<key>Link</key>
				<string>https://bb.lv/kategorija/v-mire/rossija</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Евросоюз</string>
				<key>Link</key>
				<string>https://bb.lv/kategorija/v-mire/evrosojuz</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Украина</string>
				<key>Link</key>
				<string>https://bb.lv/kategorija/v-mire/ukraina</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Политика</string>
				<key>Link</key>
				<string>https://bb.lv/kategorija/v-mire/politika</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Icon</key>
		<string>Tech</string>
		<key>Title</key>
		<string>Lifenews</string>
		<key>Content</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Интересно</string>
				<key>Link</key>
				<string>https://bb.lv/kategorija/lifenews/interesno</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Люди</string>
				<key>Link</key>
				<string>https://bb.lv/kategorija/lifenews/ljudi</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Шоу-бизнес</string>
				<key>Link</key>
				<string>https://bb.lv/kategorija/lifenews/shou-biznes</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Звезды</string>
				<key>Link</key>
				<string>https://bb.lv/kategorija/lifenews/zvezdy</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Icon</key>
		<string>Build</string>
		<key>Title</key>
		<string>Экономика</string>
		<key>Content</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Энергетика</string>
				<key>Link</key>
				<string>https://bb.lv/kategorija/ekonomika/energetika</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Мировая экономика</string>
				<key>Link</key>
				<string>https://bb.lv/kategorija/ekonomika/mirovaja-ekonomika</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Социальная экономика</string>
				<key>Link</key>
				<string>https://bb.lv/kategorija/ekonomika/socialjnaja-ekonomika</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Финансы</string>
				<key>Link</key>
				<string>https://bb.lv/kategorija/ekonomika/finansy</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Компании</string>
				<key>Link</key>
				<string>https://bb.lv/kategorija/ekonomika/kompanii</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Icon</key>
		<string>Cloth</string>
		<key>Title</key>
		<string>Техно</string>
		<key>Content</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Оружие</string>
				<key>Link</key>
				<string>https://bb.lv/kategorija/tehno/oruzhie</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Гаджеты</string>
				<key>Link</key>
				<string>https://bb.lv/kategorija/tehno/gadzhety</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Технологии</string>
				<key>Link</key>
				<string>https://bb.lv/kategorija/tehno/tehnologii</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Наука</string>
				<key>Link</key>
				<string>https://bb.lv/kategorija/tehno/nauka</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Космос</string>
				<key>Link</key>
				<string>https://bb.lv/kategorija/tehno/kosmos</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Icon</key>
		<string>Farm</string>
		<key>Title</key>
		<string>Спорт</string>
		<key>Content</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Хоккей</string>
				<key>Link</key>
				<string>https://bb.lv/kategorija/sport/hokkei</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Спортсмены</string>
				<key>Link</key>
				<string>https://bb.lv/kategorija/sport/sportsmeny</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Футбол</string>
				<key>Link</key>
				<string>https://bb.lv/kategorija/sport/futbol</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Теннис</string>
				<key>Link</key>
				<string>https://bb.lv/kategorija/sport/tennis</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Легкая атлетика</string>
				<key>Link</key>
				<string>https://bb.lv/kategorija/sport/legkaja-atletika</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Icon</key>
		<string>Kids</string>
		<key>Title</key>
		<string>Кино</string>
		<key>Content</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Новости кино</string>
				<key>Link</key>
				<string>https://bb.lv/kategorija/kino/novosti-kino</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Актеры</string>
				<key>Link</key>
				<string>https://bb.lv/kategorija/kino/aktery</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Массовое кино</string>
				<key>Link</key>
				<string>https://bb.lv/kategorija/kino/massovoe-kino</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Трейлеры</string>
				<key>Link</key>
				<string>https://bb.lv/kategorija/kino/treilery</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Icon</key>
		<string>House</string>
		<key>Title</key>
		<string>Наш город</string>
		<key>Content</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Наш город</string>
				<key>Link</key>
				<string>https://bb.lv/kategorija/nash-gorod</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
