<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Альпари Options</string>
		<key>logo</key>
		<string>28</string>
		<key>http</key>
		<string>https://ad.admitad.com/g/znpjbzewk7193a012fa5b2449a4f25/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Рокетбанк</string>
		<key>logo</key>
		<string>11</string>
		<key>http</key>
		<string>https://ad.admitad.com/g/gok5kq36l2193a012fa507e3048052/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Lamoda</string>
		<key>logo</key>
		<string>26</string>
		<key>http</key>
		<string>https://ad.admitad.com/g/a34a7skzqy193a012fa5455f164a65/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MyBook</string>
		<key>logo</key>
		<string>10</string>
		<key>http</key>
		<string>https://ad.admitad.com/g/foomryhdcx193a012fa5f579c5bf25/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Яндекс.Music</string>
		<key>logo</key>
		<string>6</string>
		<key>http</key>
		<string>http://store.kupi365.ru/g/zg96n0avye193a012fa51630a50d51/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>KupiVIP</string>
		<key>logo</key>
		<string>9</string>
		<key>http</key>
		<string>http://store.kupi365.ru/g/ob09paqt1d193a012fa5b02528114c/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ZakaZaka</string>
		<key>logo</key>
		<string>13</string>
		<key>http</key>
		<string>http://store.kupi365.ru/g/6zlskjiesc193a012fa5d6a50a8cd4/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>AliExspress</string>
		<key>logo</key>
		<string>14</string>
		<key>http</key>
		<string>http://store.kupi365.ru/g/tkkzph5tr5193a012fa58e5b1f086e/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Яндекс.Такси</string>
		<key>logo</key>
		<string>21</string>
		<key>http</key>
		<string>http://store.kupi365.ru/g/kh7ayzm7lo193a012fa56fddd3d249/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>AeroTaxi</string>
		<key>logo</key>
		<string>16</string>
		<key>http</key>
		<string>http://store.kupi365.ru/g/t9p6lev93i193a012fa537e8e74930/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Delivery Club</string>
		<key>logo</key>
		<string>17</string>
		<key>http</key>
		<string>http://store.kupi365.ru/g/4f0637fyq1193a012fa5a9f852612b/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>IQ Option</string>
		<key>logo</key>
		<string>19</string>
		<key>http</key>
		<string>http://store.kupi365.ru/g/vpkzm0h3vg193a012fa562309ad4af/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Throne: Kingdom at War - iPad</string>
		<key>logo</key>
		<string>20</string>
		<key>http</key>
		<string>http://store.kupi365.ru/g/jraygjva2b193a012fa50eaaa162de/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Юла</string>
		<key>logo</key>
		<string>26</string>
		<key>http</key>
		<string>http://store.kupi365.ru/g/f3bsxlz1n1193a012fa5e08538723c/</string>
	</dict>
</array>
</plist>
