<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Icon</key>
		<string>Work</string>
		<key>Title</key>
		<string>Работа</string>
		<key>Content</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Вакансии</string>
				<key>Link</key>
				<string>http://reklama.vesti.lv/ru/job_and_studies/jobs_offered/menus.html</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Icon</key>
		<string>Транспорт</string>
		<key>Title</key>
		<string></string>
		<key>Content</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Link</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Icon</key>
		<string>Недвижимость</string>
		<key>Title</key>
		<string></string>
		<key>Content</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Link</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Icon</key>
		<string>Техника</string>
		<key>Title</key>
		<string></string>
		<key>Content</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Link</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Icon</key>
		<string>Стройка</string>
		<key>Title</key>
		<string></string>
		<key>Content</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Link</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Icon</key>
		<string>Хозяйство</string>
		<key>Title</key>
		<string></string>
		<key>Content</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Link</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Icon</key>
		<string>Одежда</string>
		<key>Title</key>
		<string></string>
		<key>Content</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Link</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Icon</key>
		<string>Дом и быт</string>
		<key>Title</key>
		<string></string>
		<key>Content</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Link</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Icon</key>
		<string></string>
		<key>Title</key>
		<string></string>
		<key>Content</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Link</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Icon</key>
		<string>Для детей</string>
		<key>Title</key>
		<string></string>
		<key>Content</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Link</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Icon</key>
		<string></string>
		<key>Title</key>
		<string></string>
		<key>Content</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Link</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Icon</key>
		<string></string>
		<key>Title</key>
		<string></string>
		<key>Content</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Link</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Icon</key>
		<string></string>
		<key>Title</key>
		<string></string>
		<key>Content</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Link</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Icon</key>
		<string></string>
		<key>Title</key>
		<string></string>
		<key>Content</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Link</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Icon</key>
		<string></string>
		<key>Title</key>
		<string></string>
		<key>Content</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Link</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Icon</key>
		<string></string>
		<key>Title</key>
		<string></string>
		<key>Content</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Link</key>
				<string></string>
			</dict>
		</array>
	</dict>
</array>
</plist>
