<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1</string>
		<key>Back</key>
		<string>1</string>
		<key>Banner</key>
		<string>1</string>
		<key>Show1</key>
		<string>1</string>
		<key>Show2</key>
		<string>1</string>
		<key>Show3</key>
		<string>1</string>
		<key>Show4</key>
		<string>1</string>
		<key>Alarm</key>
		<string>1</string>
		<key>CustomBanner</key>
		<string>1</string>
		<key>CustomSplash</key>
		<string>1</string>
		<key>Header</key>
		<string>1</string>
		<key>Footer</key>
		<string>1</string>
		<key>Email</key>
		<string>1</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1</string>
		<key>Developer</key>
		<string>1</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Menu</key>
	<array>
		<string>Top</string>
		<string>News</string>
		<string>Local</string>
		<string>Classic</string>
		<string>Music</string>
		<string>Sport</string>
		<string>Talk</string>
		<string>Youth</string>
		<string>Oldies</string>
	</array>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>EldoRadio</string>
			<key>logo</key>
			<string>EldoRadio</string>
			<key>link</key>
			<string>http://www.radiosoma.com/RadioSoma_107.9_MHz.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 5</string>
		</dict>
		<dict>
			<key>name</key>
			<string>EldoRadio Alternative</string>
			<key>logo</key>
			<string>Alternative</string>
			<key>link</key>
			<string>http://stream.it-solutions.ge:8000/mp3-starfm.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>EldoRadio Chill</string>
			<key>logo</key>
			<string>Chill</string>
			<key>link</key>
			<string>http://93.123.123.7:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>EldoRadio 80s</string>
			<key>logo</key>
			<string>80s</string>
			<key>link</key>
			<string>http://provisioning.streamtheworld.com/pls/SER_TOLEDO.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>EldoRadio Top 25</string>
			<key>logo</key>
			<string>25</string>
			<key>link</key>
			<string>http://cast.streams.ovh:9069/live</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 5</string>
		</dict>
		<dict>
			<key>name</key>
			<string>LRB</string>
			<key>logo</key>
			<string>LRB</string>
			<key>link</key>
			<string>http://www.radiosoma.com/RadioSoma_107.9_MHz.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 5 / Dance</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RTL Radio Lëtzebuerg</string>
			<key>logo</key>
			<string>Letzebuerg</string>
			<key>link</key>
			<string>http://stream.it-solutions.ge:8000/mp3-starfm.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>RTL Radio</string>
			<key>logo</key>
			<string>RTL</string>
			<key>link</key>
			<string>http://93.123.123.7:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Oldies</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RTL</string>
			<key>logo</key>
			<string>RT</string>
			<key>link</key>
			<string>http://provisioning.streamtheworld.com/pls/SER_TOLEDO.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Oldies</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio 100,7</string>
			<key>logo</key>
			<string>100,7</string>
			<key>link</key>
			<string>http://cast.streams.ovh:9069/live</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Aktiv 106,5</string>
			<key>logo</key>
			<string>Aktiv</string>
			<key>link</key>
			<string>http://www.radiosoma.com/RadioSoma_107.9_MHz.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 5 (Echternach)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio ARA</string>
			<key>logo</key>
			<string>ARA</string>
			<key>link</key>
			<string>http://stream.it-solutions.ge:8000/mp3-starfm.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Gutt Laun</string>
			<key>logo</key>
			<string>Gutt</string>
			<key>link</key>
			<string>http://93.123.123.7:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Esch sur Alzette</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio ROM</string>
			<key>logo</key>
			<string>ROM</string>
			<key>link</key>
			<string>http://provisioning.streamtheworld.com/pls/SER_TOLEDO.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 5 (Medernach)</string>
		</dict>
	</array>
</dict>
</plist>
