<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>6010422154</string>
		<key>Back</key>
		<string>5627278777</string>
		<key>Banner</key>
		<string>8632839770</string>
		<key>Show1</key>
		<string>4118879691</string>
		<key>Show2</key>
		<string>1974387499</string>
		<key>Show3</key>
		<string>6908694566</string>
		<key>Show4</key>
		<string>3899387840</string>
		<key>Alarm</key>
		<string>7035142489</string>
		<key>CustomBanner</key>
		<string>3647395965</string>
		<key>CustomSplash</key>
		<string>5359685465</string>
		<key>Header</key>
		<string>2497965828</string>
		<key>Footer</key>
		<string>2661617358</string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1444529023</string>
		<key>Developer</key>
		<string>1239592099</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>EldoRadio</string>
			<key>logo</key>
			<string>EldoRadio</string>
			<key>link</key>
			<string>http://sc-eldolive.newmedia.lu/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 5</string>
		</dict>
		<dict>
			<key>name</key>
			<string>EldoRadio Alternative</string>
			<key>logo</key>
			<string>Alternative</string>
			<key>link</key>
			<string>http://sc-eldoalt.newmedia.lu/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>EldoRadio Chill</string>
			<key>logo</key>
			<string>Chill</string>
			<key>link</key>
			<string>http://sc-eldochill.newmedia.lu/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>EldoRadio 80s</string>
			<key>logo</key>
			<string>80s</string>
			<key>link</key>
			<string>http://sc-eldo80s.newmedia.lu/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>EldoRadio Top 25</string>
			<key>logo</key>
			<string>25</string>
			<key>link</key>
			<string>http://sc-eldotop25.newmedia.lu/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 5</string>
		</dict>
		<dict>
			<key>name</key>
			<string>LRB</string>
			<key>logo</key>
			<string>LRB</string>
			<key>link</key>
			<string>http://zeus.lrb.lu:8000/lrb.live.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 5 / Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RTL Radio Lëtzebuerg</string>
			<key>logo</key>
			<string>Letzebuerg</string>
			<key>link</key>
			<string>http://radio.rtl.lu/mp3.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>RTL Radio</string>
			<key>logo</key>
			<string>RTL</string>
			<key>link</key>
			<string>http://81.92.237.123:8080/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Oldies</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RTL</string>
			<key>logo</key>
			<string>RT</string>
			<key>link</key>
			<string>http://81.92.237.118/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Oldies</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio 100,7</string>
			<key>logo</key>
			<string>100,7</string>
			<key>link</key>
			<string>http://100komma7.cast.addradio.de/100komma7/live/mp3/128/stream.mp3</string>
			<key>http</key>
			<string>http://www.listenlive.eu/streams/luxembourg/100komma7.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Aktiv 106,5</string>
			<key>logo</key>
			<string>Aktiv</string>
			<key>link</key>
			<string>http://zeus.lrb.lu:8000/stream.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 5 (Echternach, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio ARA</string>
			<key>logo</key>
			<string>ARA</string>
			<key>link</key>
			<string>http://stream.ara.lu:80/stream.mp3</string>
			<key>http</key>
			<string>http://rs1.radiostreamer.com:8030/listen.pls</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Gutt Laun</string>
			<key>logo</key>
			<string>Gutt</string>
			<key>link</key>
			<string>http://soho.wavestreamer.com:7168/listen.pls?sid=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Esch sur Alzette (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio ROM</string>
			<key>logo</key>
			<string>ROM</string>
			<key>link</key>
			<string>http://rs1.radiostreamer.com:8270/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 5 (Medernach, Local)</string>
		</dict>
	</array>
</dict>
</plist>
