<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Ora News</string>
		<key>logo</key>
		<string>Ora</string>
		<key>link</key>
		<string>http://www.oranews.tv/live/</string>
		<key>http</key>
		<string>http://www.oranews.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RTSH 1</string>
		<key>logo</key>
		<string>RTSH1</string>
		<key>link</key>
		<string>http://rtsh.al/rtsh-live/RTSH1-HD.html</string>
		<key>http</key>
		<string>http://rtsh.al/rtsh-live/rtsh-dixhital.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RTSH 2</string>
		<key>logo</key>
		<string>RTSH2</string>
		<key>link</key>
		<string>http://rtsh.al/rtsh-live/RTSH2-HD.html</string>
		<key>http</key>
		<string>http://rtsh.al/rtsh-live/rtsh-dixhital.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RTSH 3</string>
		<key>logo</key>
		<string>RTSH3</string>
		<key>link</key>
		<string>http://rtsh.al/rtsh-live/RTSH3-HD.html</string>
		<key>http</key>
		<string>http://rtsh.al/rtsh-live/rtsh-dixhital.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RTSH Sport</string>
		<key>logo</key>
		<string>Sport</string>
		<key>link</key>
		<string>http://rtsh.al/rtsh-live/RTSH-sport.html</string>
		<key>http</key>
		<string>http://rtsh.al/rtsh-live/rtsh-dixhital.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RTSH Film</string>
		<key>logo</key>
		<string>Film</string>
		<key>link</key>
		<string>http://rtsh.al/rtsh-live/RTSH_Film.html</string>
		<key>http</key>
		<string>http://rtsh.al/rtsh-live/rtsh-dixhital.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RTSH Shqip</string>
		<key>logo</key>
		<string>Shqip</string>
		<key>link</key>
		<string>http://rtsh.al/rtsh-live/RTSH_Shqip.html</string>
		<key>http</key>
		<string>http://rtsh.al/rtsh-live/rtsh-dixhital.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>News 24</string>
		<key>logo</key>
		<string>News24</string>
		<key>link</key>
		<string>http://balkanweb.com/news24/news24_live.php</string>
		<key>http</key>
		<string>http://balkanweb.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ABC</string>
		<key>logo</key>
		<string>ABC</string>
		<key>link</key>
		<string>http://www.abcnews.al/live-stream</string>
		<key>http</key>
		<string>http://www.abcnews.al/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Scan</string>
		<key>logo</key>
		<string>Scan</string>
		<key>link</key>
		<string>http://www.scan-tv.com/live/</string>
		<key>http</key>
		<string>http://www.scan-tv.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>INTV</string>
		<key>logo</key>
		<string>INTV</string>
		<key>link</key>
		<string>http://www.intv.al/livetv.html</string>
		<key>http</key>
		<string>http://www.intv.al/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Report</string>
		<key>logo</key>
		<string>Report</string>
		<key>link</key>
		<string>http://report-tv.al/live/</string>
		<key>http</key>
		<string>http://report-tv.al</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tema</string>
		<key>logo</key>
		<string>Tema</string>
		<key>link</key>
		<string>http://www.tematv.al/</string>
		<key>http</key>
		<string>http://www.tematv.al/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>7</string>
		<key>logo</key>
		<string>7</string>
		<key>link</key>
		<string>http://shqiptv.us/channel7/</string>
		<key>http</key>
		<string>http://www.channel7gjirokaster.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Apollon</string>
		<key>logo</key>
		<string>Apollon</string>
		<key>link</key>
		<string>http://www.apollon.tv/tv-live</string>
		<key>http</key>
		<string>http://www.apollon.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Jug Intel-Media</string>
		<key>logo</key>
		<string>Jug</string>
		<key>link</key>
		<string>http://www.intel-media.tv/tv-jug1</string>
		<key>http</key>
		<string>http://www.intel-media.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TV1 Channel</string>
		<key>logo</key>
		<string>TV1</string>
		<key>link</key>
		<string>http://tv1-channel.tv/</string>
		<key>http</key>
		<string>http://cdn.livestream.com/embed/tv1channelshkoder?layout=4&amp;autoplay=true</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Antena</string>
		<key>logo</key>
		<string>Antena</string>
		<key>link</key>
		<string>http://www.antena.al/?page_id=14450</string>
		<key>http</key>
		<string>http://www.antena.al</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Alb UK</string>
		<key>logo</key>
		<string>Alb</string>
		<key>link</key>
		<string>http://albuktv.com/shqip/index.php/shiko-live-tv</string>
		<key>http</key>
		<string>http://albuktv.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Alb Plus Movie</string>
		<key>logo</key>
		<string>Plus</string>
		<key>link</key>
		<string>http://albuktv.com/shqip/index.php/alb-plus-tv</string>
		<key>http</key>
		<string>http://albuktv.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Alb Music</string>
		<key>logo</key>
		<string>Music</string>
		<key>link</key>
		<string>http://albuktv.com/shqip/index.php/alb-music</string>
		<key>http</key>
		<string>http://albuktv.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>A1</string>
		<key>logo</key>
		<string>A1</string>
		<key>link</key>
		<string>http://www.a1rtv.com/</string>
		<key>http</key>
		<string>http://www.a1rtv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Wedding Channel</string>
		<key>logo</key>
		<string>Wedding</string>
		<key>link</key>
		<string>http://www.wedding-channel.tv/</string>
		<key>http</key>
		<string>http://www.wedding-channel.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RTV Islam</string>
		<key>logo</key>
		<string>Islam</string>
		<key>link</key>
		<string>http://www.rtvislam.com/</string>
		<key>http</key>
		<string>http://www.rtvislam.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sky News</string>
		<key>logo</key>
		<string>Sky</string>
		<key>link</key>
		<string>http://news.sky.com/watch-live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/skynews</string>
	</dict>
</array>
</plist>
