<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>5069207435</string>
		<key>Back</key>
		<string>7312227398</string>
		<key>Banner</key>
		<string>7802633247</string>
		<key>Show1</key>
		<string>4123382304</string>
		<key>Show2</key>
		<string>1114075582</string>
		<key>Show3</key>
		<string>4488437716</string>
		<key>Show4</key>
		<string>8729250841</string>
		<key>Alarm</key>
		<string>8236111034</string>
		<key>CustomBanner</key>
		<string>8126615618</string>
		<key>CustomSplash</key>
		<string>8828914076</string>
		<key>Header</key>
		<string>4925737206</string>
		<key>Footer</key>
		<string>7831102141</string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string>1207268439</string>
		<key>Application</key>
		<string>1434202718</string>
		<key>Developer</key>
		<string>1239592099</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>ORF Ö-1</string>
			<key>logo</key>
			<string>ORF</string>
			<key>link</key>
			<string>http://mp3stream3.apasf.apa.at:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Information/Culture</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ORF oe1campus</string>
			<key>logo</key>
			<string>oe1campus</string>
			<key>link</key>
			<string>http://mp3stream4.apasf.apa.at:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News/information</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ORF Ö3</string>
			<key>logo</key>
			<string>3</string>
			<key>link</key>
			<string>http://mp3stream7.apasf.apa.at:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 40</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ORF FM4</string>
			<key>logo</key>
			<string>FM4</string>
			<key>link</key>
			<string>http://mp3stream1.apasf.apa.at:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Rock/Alternative/Diverse</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ORF Radio Burgenland</string>
			<key>logo</key>
			<string>Burgenland</string>
			<key>link</key>
			<string>http://194.232.200.146:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Eisenstadt</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ORF Radio Kärnten</string>
			<key>logo</key>
			<string>Karnten</string>
			<key>link</key>
			<string>http://194.232.200.145:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Klagenfurt</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ORF Radio Niederösterreich</string>
			<key>logo</key>
			<string>Niederosterreich</string>
			<key>link</key>
			<string>http://mp3stream8.apasf.apa.at:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>St.Pölten</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ORF Radio Oberösterreich</string>
			<key>logo</key>
			<string>Oberosterreich</string>
			<key>link</key>
			<string>http://orfradio.liwest.at/liveHQ.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Linz</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ORF Radio Steiermark</string>
			<key>logo</key>
			<string>Steiermark</string>
			<key>link</key>
			<string>http://mp3stream9.apasf.apa.at:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Graz</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ORF Radio Salzburg</string>
			<key>logo</key>
			<string>Salzburg</string>
			<key>link</key>
			<string>http://194.232.200.147:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>ORF Radio Tirol</string>
			<key>logo</key>
			<string>Tirol</string>
			<key>link</key>
			<string>http://mp3stream10.apasf.apa.at:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Innsbruck</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ORF Radio Vorarlberg</string>
			<key>logo</key>
			<string>Vorarlberg</string>
			<key>link</key>
			<string>http://194.232.200.149:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Dornbirn</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ORF Radio Wien</string>
			<key>logo</key>
			<string>Wien</string>
			<key>link</key>
			<string>http://mp3stream2.apasf.apa.at:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>88.6 Der Musiksender Vienna</string>
			<key>logo</key>
			<string>Musiksender</string>
			<key>link</key>
			<string>http://ber.radiostream.de:36889/listen.pls</string>
			<key>http</key>
			<string>http://radiostream.de/stream/36795.pls</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>88.6 Der Musiksender St.Pölten</string>
			<key>logo</key>
			<string>Polten</string>
			<key>link</key>
			<string>http://fra.radiostream.de:37540/listen.pls</string>
			<key>http</key>
			<string>http://fra.radiostream.de:37542/listen.pls</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Antenne Kärnten</string>
			<key>logo</key>
			<string>Antenne</string>
			<key>link</key>
			<string>http://www.antenne.at/antenne_ak.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Klagenfurt</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Antenne Salzburg</string>
			<key>logo</key>
			<string>Salzbur</string>
			<key>link</key>
			<string>http://streamplus14.leonex.de:24950/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Antenne Steiermark</string>
			<key>logo</key>
			<string>Steiermar</string>
			<key>link</key>
			<string>http://www.antenne.at/antenne.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Graz</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Antenne Tirol</string>
			<key>logo</key>
			<string>Tiro</string>
			<key>link</key>
			<string>http://streamplus30.leonex.de:14840/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Innsbruck</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Antenne Vorarlberg</string>
			<key>logo</key>
			<string>Vorarlber</string>
			<key>link</key>
			<string>http://webradio.antennevorarlberg.at/live.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Schwarzach</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Antenne Vorarlberg Classic Rock</string>
			<key>logo</key>
			<string>Classic</string>
			<key>link</key>
			<string>http://webradio.antennevorarlberg.at/classicrock.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Schwarzach</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Antenne Vorarlberg Schlagerkult</string>
			<key>logo</key>
			<string>Schlagerkult</string>
			<key>link</key>
			<string>http://webradio.antennevorarlberg.at/schlagerkult.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Pop/Schlager</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Antenne Vorarlberg Chillout Lounge</string>
			<key>logo</key>
			<string>Chillout</string>
			<key>link</key>
			<string>http://webradio.antennevorarlberg.at/lounge.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Electronica</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Antenne Vorarlberg 80er Hits</string>
			<key>logo</key>
			<string>80er</string>
			<key>link</key>
			<string>http://webradio.antennevorarlberg.at/80er.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Schwarzach</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Antenne Vorarlberg 90er Hits</string>
			<key>logo</key>
			<string>90er</string>
			<key>link</key>
			<string>http://webradio.antennevorarlberg.at/90er.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Schwarzach</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Antenne Vorarlberg Partymix</string>
			<key>logo</key>
			<string>Partymix</string>
			<key>link</key>
			<string>http://webradio.antennevorarlberg.at/partymix.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Schwarzach</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Antenne Vorarlberg Top Hits</string>
			<key>logo</key>
			<string>Hits</string>
			<key>link</key>
			<string>http://webradio.antennevorarlberg.at/hits.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 30</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Antenne Vorarlberg Love Songs</string>
			<key>logo</key>
			<string>Love</string>
			<key>link</key>
			<string>http://webradio.antennevorarlberg.at/lovesongs.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Schwarzach</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Antenne Vorarlberg Oldies but Goldies</string>
			<key>logo</key>
			<string>Goldies</string>
			<key>link</key>
			<string>http://webradio.antennevorarlberg.at/oldies.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Schwarzach</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Antenne Vorarlberg Fresh</string>
			<key>logo</key>
			<string>Fresh</string>
			<key>link</key>
			<string>http://webradio.antennevorarlberg.at/fresh.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Schwarzach</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Antenne Vorarlberg Rock Radio</string>
			<key>logo</key>
			<string>Rock</string>
			<key>link</key>
			<string>http://webradio.antennevorarlberg.at/rock.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 30</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Antenne Vorarlberg 2000er Hits</string>
			<key>logo</key>
			<string>2000er</string>
			<key>link</key>
			<string>http://webradio.antennevorarlberg.at/00er.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Schwarzach</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Antenne Vorarlberg Workout Hits</string>
			<key>logo</key>
			<string>Workout</string>
			<key>link</key>
			<string>http://webradio.antennevorarlberg.at/workout-hits.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Schwarzach</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Campus Radio</string>
			<key>logo</key>
			<string>Campus</string>
			<key>link</key>
			<string>http://www.cr944.at:8000/cr944-high.m3u</string>
			<key>http</key>
			<string>http://www.cr944.at:8000/cr944.m3u</string>
			<key>note</key>
			<string>St.Pölten</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Energy 104,2</string>
			<key>logo</key>
			<string>Energy</string>
			<key>link</key>
			<string>http://www.listenlive.eu/energywien2.m3u</string>
			<key>http</key>
			<string>http://www.listenlive.eu/energywien.m3u</string>
			<key>note</key>
			<string>Top 30</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Energy 94,0</string>
			<key>logo</key>
			<string>94</string>
			<key>link</key>
			<string>http://stream1.energy.at:8000/sbg.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 30 (Salzburg)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Energy 99,9</string>
			<key>logo</key>
			<string>99</string>
			<key>link</key>
			<string>http://stream1.energy.at:8000/ibk.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 30 (Innsbruck)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ERF Plus Österreich</string>
			<key>logo</key>
			<string>ERF</string>
			<key>link</key>
			<string>http://stream.erf.at/erfplus_320.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Freies Radio Salzkammergut</string>
			<key>logo</key>
			<string>Salzkammergut</string>
			<key>link</key>
			<string>http://stream.xaok.org:8000/frs.ogg.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Bad Ischl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Freies Radio B138</string>
			<key>logo</key>
			<string>B138</string>
			<key>link</key>
			<string>http://stream.radio-b138.at:25060/stream.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Kirchdorf an der Krems</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Freirad</string>
			<key>logo</key>
			<string>Freirad</string>
			<key>link</key>
			<string>http://www.freirad.at/live.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Innsbruck</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Freies Radio Freistadt</string>
			<key>logo</key>
			<string>Freies</string>
			<key>link</key>
			<string>http://develop.servus.at:8000/frf.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Freistadt</string>
		</dict>
		<dict>
			<key>name</key>
			<string>HEROLD relax radio</string>
			<key>logo</key>
			<string>HEROLD</string>
			<key>link</key>
			<string>http://arabella.stream.kapper.net:8015/heroldrelax.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Rock/Pop</string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
