<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string></string>
		<key>Main</key>
		<string></string>
		<key>Back</key>
		<string></string>
		<key>Banner</key>
		<string></string>
		<key>Show1</key>
		<string></string>
		<key>Show2</key>
		<string></string>
		<key>Show3</key>
		<string></string>
		<key>Show4</key>
		<string></string>
		<key>Alarm</key>
		<string></string>
		<key>CustomBanner</key>
		<string></string>
		<key>CustomSplash</key>
		<string></string>
		<key>Header</key>
		<string></string>
		<key>Footer</key>
		<string></string>
		<key>Email</key>
		<string>ios.apps.community@gmail.com</string>
		<key>Alternative</key>
		<string></string>
		<key>Application</key>
		<string></string>
		<key>Developer</key>
		<string></string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Menu</key>
	<array>
		<string>Top</string>
		<string>News</string>
		<string>Local</string>
		<string>Classic</string>
		<string>Music</string>
		<string>Sport</string>
		<string>Talk</string>
		<string>Youth</string>
		<string>Oldies</string>
	</array>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Çar Tarapdan</string>
			<key>logo</key>
			<string>Tarapdan</string>
			<key>link</key>
			<string>https://radio.telecom.tm/tarap.mp3</string>
			<key>http</key>
			<string>http://217.174.238.59/tarap.mp3</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Miras</string>
			<key>logo</key>
			<string>Miras</string>
			<key>link</key>
			<string>https://radio.telecom.tm/miras.mp3</string>
			<key>http</key>
			<string>http://217.174.238.59/miras.mp3</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Watan</string>
			<key>logo</key>
			<string>Watan</string>
			<key>link</key>
			<string>https://radio.telecom.tm/watan.mp3</string>
			<key>http</key>
			<string>http://217.174.238.59/watan.mp3</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Owaz</string>
			<key>logo</key>
			<string>Owaz</string>
			<key>link</key>
			<string>https://radio.telecom.tm/owaz.mp3</string>
			<key>http</key>
			<string>http://217.174.238.59/owaz.mp3</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pars Today</string>
			<key>logo</key>
			<string>Pars</string>
			<key>link</key>
			<string>http://cdn1.live.irib.ir:1935/channel-live/smil:r-torkaman/playlist.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Фарҳанг 106.5 FM</string>
			<key>logo</key>
			<string>Farhang</string>
			<key>link</key>
			<string>https://str-4.mediabay.tv/Radio_Farhang/tracks-a1/mono.m3u8?token=675a828662eaea0613bed07596f2a3d31cd65193-ace3cfa278cc70a25a5469002ccf559d-1573839741-1573828941</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ховар 101.5 FM</string>
			<key>logo</key>
			<string>Hobar</string>
			<key>link</key>
			<string>http://193.124.66.132:8001/live.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Varzesh (رادیو ورزش)</string>
			<key>logo</key>
			<string>Varzesh</string>
			<key>link</key>
			<string>http://altcdn.iranseda.ir:1935/channel-live/smil:r-varzesh/playlist.m3u8</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-varzesh,20008.m3u</string>
			<key>note</key>
			<string>News, Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Javan (رادیو جوان)</string>
			<key>logo</key>
			<string>Javan</string>
			<key>link</key>
			<string>http://altcdn.iranseda.ir:1935/channel-live/smil:r-javan/playlist.m3u8</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-javan-tehran,20426.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Maaref 96 FM (راديو معارف)</string>
			<key>logo</key>
			<string>Maaref</string>
			<key>link</key>
			<string>http://altcdn.iranseda.ir:1935/channel-live/smil:r-maaref/playlist.m3u8</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-maref,825.m3u</string>
			<key>note</key>
			<string>Talk</string>
		</dict>
	</array>
</dict>
</plist>
