<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string></string>
		<key>Back</key>
		<string></string>
		<key>Banner</key>
		<string></string>
		<key>Show1</key>
		<string></string>
		<key>Show2</key>
		<string></string>
		<key>Show3</key>
		<string></string>
		<key>Show4</key>
		<string></string>
		<key>Alarm</key>
		<string></string>
		<key>CustomBanner</key>
		<string></string>
		<key>CustomSplash</key>
		<string></string>
		<key>Header</key>
		<string></string>
		<key>Footer</key>
		<string></string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string></string>
		<key>Application</key>
		<string></string>
		<key>Developer</key>
		<string></string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>357 FM</string>
			<key>logo</key>
			<string>357</string>
			<key>link</key>
			<string>http://173.236.19.90:8312/listen.pls?sid=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC World Service</string>
			<key>logo</key>
			<string>BBC</string>
			<key>link</key>
			<string>http://www.bbc.co.uk/worldservice/meta/live/mp3/eneuk.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DOPE FM 103.6</string>
			<key>logo</key>
			<string>DOPE</string>
			<key>link</key>
			<string>http://usa7.fastcast4u.com/proxy/dope?mp=/1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Harvest</string>
			<key>logo</key>
			<string>Harvest</string>
			<key>link</key>
			<string>http://stream.zenolive.com/gbttqnabh3vtv.aac</string>
			<key>http</key>
			<string>https://stream.zenolive.com/gbttqnabh3vtv.aac</string>
			<key>note</key>
			<string>Talk, News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Maria (Lesotho)</string>
			<key>logo</key>
			<string>Maria</string>
			<key>link</key>
			<string>http://dreamsiteradiocp5.com:8038/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>MoAfrika</string>
			<key>logo</key>
			<string>MoAfrika</string>
			<key>link</key>
			<string>http://ca3.rcast.net:8040/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Molisa ea Molemo</string>
			<key>logo</key>
			<string>Molisa</string>
			<key>link</key>
			<string>http://usa7.fastcast4u.com/proxy/molisa?mp=/1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>People&apos;s Choice</string>
			<key>logo</key>
			<string>Choice</string>
			<key>link</key>
			<string>http://usa7.fastcast4u.com/proxy/pcfm?mp=/1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RFI English</string>
			<key>logo</key>
			<string>RFI</string>
			<key>link</key>
			<string>http://icepe1.infomaniak.ch/rfianglais-96k.mp3.m3u</string>
			<key>http</key>
			<string>http://icepe1.infomaniak.ch/rfiafrique-96k.mp3.m3u</string>
			<key>note</key>
			<string>Talk, News, Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tšenolo</string>
			<key>logo</key>
			<string>Tsenolo</string>
			<key>link</key>
			<string>http://usa7.fastcast4u.com/proxy/tsenolofm?mp=/1</string>
			<key>http</key>
			<string>http://102.130.114.208:8000/tsenolofm</string>
			<key>note</key>
			<string>Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>VOA Africa</string>
			<key>logo</key>
			<string>VOA</string>
			<key>link</key>
			<string>https://voa17.akacast.akamaistream.net/7/685/437799/v1/ibb.akacast.akamaistream.net/voa17</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
	</array>
</dict>
</plist>
