<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>TERMINATED</string>
		<key>Main</key>
		<string>TERMINATED</string>
		<key>Back</key>
		<string>TERMINATED</string>
		<key>Banner</key>
		<string>TERMINATED</string>
		<key>Show1</key>
		<string>TERMINATED</string>
		<key>Show2</key>
		<string>TERMINATED</string>
		<key>Show3</key>
		<string>TERMINATED</string>
		<key>Show4</key>
		<string>TERMINATED</string>
		<key>Alarm</key>
		<string>TERMINATED</string>
		<key>CustomBanner</key>
		<string>TERMINATED</string>
		<key>CustomSplash</key>
		<string>TERMINATED</string>
		<key>Header</key>
		<string>TERMINATED</string>
		<key>Footer</key>
		<string>TERMINATED</string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string>1421220216</string>
		<key>Application</key>
		<string>1454018749</string>
		<key>Developer</key>
		<string>1239592099</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Así fue mi vida 87.5 FM</string>
			<key>logo</key>
			<string>fue</string>
			<key>link</key>
			<string>http://s1.hdradiopanel.com:8305/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Estrella 89.3 FM</string>
			<key>logo</key>
			<string>Estrella</string>
			<key>link</key>
			<string>http://arcamediagroup.net:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rhema Stereo 91.7 FM</string>
			<key>logo</key>
			<string>Rhema</string>
			<key>link</key>
			<string>http://174.142.19.196:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Más Música 92.5 FM</string>
			<key>logo</key>
			<string>Mas</string>
			<key>link</key>
			<string>http://192.99.150.52:9302/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Disney 92.9 FM</string>
			<key>logo</key>
			<string>Disney</string>
			<key>link</key>
			<string>http://ic.streann.com:8000/disneyguatemala.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Joya 93.3 FM</string>
			<key>logo</key>
			<string>Joya</string>
			<key>link</key>
			<string>http://radios-gt.cdn.nedmedia.io/radios/gt/joya.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mia 93.7 FM</string>
			<key>logo</key>
			<string>Mia</string>
			<key>link</key>
			<string>https://rcn.radioonlinehd.net:8010/mia937</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nuevo Mundo 96.1 FM</string>
			<key>logo</key>
			<string>Nuevo</string>
			<key>link</key>
			<string>mms://wms1.iviplanet.com/nuevomundo</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ilumina 98.1 FM</string>
			<key>logo</key>
			<string>Ilumina</string>
			<key>link</key>
			<string>http://174.142.111.104:9996/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mundial 98.5 FM</string>
			<key>logo</key>
			<string>Mundial</string>
			<key>link</key>
			<string>http://188.165.236.90:7612/listen.pls</string>
			<key>http</key>
			<string>http://188.165.236.90:7612/;</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Gospel 99.7 FM</string>
			<key>logo</key>
			<string>Gospel</string>
			<key>link</key>
			<string>http://174.142.19.196:8004/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>TGN Cultural</string>
			<key>logo</key>
			<string>Cultural</string>
			<key>link</key>
			<string>http://stream.serverinfinity.com:7054/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio DJ</string>
			<key>logo</key>
			<string>DJ</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.105.218.124:7500/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.105.218.124:7500/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Impacto 107.7 FM</string>
			<key>logo</key>
			<string>Impacto</string>
			<key>link</key>
			<string>http://iws1.radioonlinehd.com:9916/listen.pls?sid=1</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://108.163.166.98:9916/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Party FM</string>
			<key>logo</key>
			<string>Party</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://168.144.82.115:9350/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://168.144.82.115:9350/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Instrumental</string>
			<key>logo</key>
			<string>Instrumental</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://168.144.82.115:7220/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://168.144.82.115:7220/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Progreso 580 AM</string>
			<key>logo</key>
			<string>Progreso</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://168.144.82.115:7050/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://168.144.82.115:7050/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Única 97.5 FM </string>
			<key>logo</key>
			<string>Unica</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://151.80.44.127:8364/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://151.80.44.127:8364/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Marimba de Guatemala</string>
			<key>logo</key>
			<string>Marimba</string>
			<key>link</key>
			<string>http://radiomarimba.com/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-marimba,16922.m3u</string>
			<key>note</key>
			<string>Sport/Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Iglesia de Cristo Elim Central</string>
			<key>logo</key>
			<string>Iglesia</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://38.96.148.26:8076/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://38.96.148.26:8076/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Catolica Espiritu Divino Guatemala</string>
			<key>logo</key>
			<string>Catolica</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://96.127.183.74:8538/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://96.127.183.74:8538/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Worship Conexion</string>
			<key>logo</key>
			<string>Worship</string>
			<key>link</key>
			<string>http://mediaserver2.radiofelove.com/tunein/conexion1.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://206.190.135.28:8832/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Latidos Radio</string>
			<key>logo</key>
			<string>Latidos</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://184.154.45.106:8559/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://184.154.45.106:8559/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Stereo La Chapina</string>
			<key>logo</key>
			<string>Chapina</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://149.56.195.94:9037/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://149.56.195.94:9037/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>949</string>
			<key>logo</key>
			<string>949</string>
			<key>link</key>
			<string>https://rcn.radioonlinehd.net:8010/949radio</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/949-nueve-cuatro-nueve,11273.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Atmosfera 96.5 FM</string>
			<key>logo</key>
			<string>Atmosfera</string>
			<key>link</key>
			<string>https://stream.zenolive.com/wbqp37gm8ueuv</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/atmosfera-96-5-fm,7948.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Clasica 106.5</string>
			<key>logo</key>
			<string>Clasica</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/clasica-106-5,7946.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Emisoras Unidas 89.7</string>
			<key>logo</key>
			<string>Emisoras</string>
			<key>link</key>
			<string>https://stream.zenolive.com/z96sq8tndseuv</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/emisoras-unidas-89-7,7942.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Exa FM 101.7</string>
			<key>logo</key>
			<string>Exa</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/exa-fm-101-7,18238.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fabuestereo 88.1 FM</string>
			<key>logo</key>
			<string>Fabuestereo</string>
			<key>link</key>
			<string>https://stream.zenolive.com/vs325dhm8ueuv</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/fabuestereo-88-1-fm,7950.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fama 102.5 FM</string>
			<key>logo</key>
			<string>Fama</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/fama-102-5-fm,11274.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>GamerSound Radio</string>
			<key>logo</key>
			<string>GamerSound</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/gamersound-radio,20063.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Globo 98.9 FM</string>
			<key>logo</key>
			<string>Globo</string>
			<key>link</key>
			<string>https://rcn.radioonlinehd.net:8010/globo989</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/fm-globo-98-9-fm,7945.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>KeBuena 91.3 FM</string>
			<key>logo</key>
			<string>KeBuena</string>
			<key>link</key>
			<string>http://radioserver11.profesionalhosting.com:9016/live.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/kebuena-91-3-fm,18239.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kiss FM 97.7</string>
			<key>logo</key>
			<string>Kiss</string>
			<key>link</key>
			<string>https://stream.zenolive.com/1sgzkhhm8ueuv</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/kiss-fm-97-7,7947.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Grande 99.3 FM</string>
			<key>logo</key>
			<string>Grande</string>
			<key>link</key>
			<string>https://stream.zenolive.com/3qzxcbhm8ueuv</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/la-grande-99-3-fm,7949.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Punto</string>
			<key>logo</key>
			<string>Punto</string>
			<key>link</key>
			<string>http://radioserver11.profesionalhosting.com:9041/live.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-punto,9364.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Stereo Apocalipsis 91.9 FM</string>
			<key>logo</key>
			<string>Apocalipsis</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/stereo-apocalipsis-91-9-fm,17981.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Super Hits 96.7</string>
			<key>logo</key>
			<string>Super</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/super-hits-96-7,9549.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Coban (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Viva 95.3 FM</string>
			<key>logo</key>
			<string>Viva</string>
			<key>link</key>
			<string>http://radioserver11.profesionalhosting.com:9015/live.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-viva-95-3-fm,18237.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Yosi Sideral 90.1 FM</string>
			<key>logo</key>
			<string>YosiSideral</string>
			<key>link</key>
			<string>https://stream.zenolive.com/t67dk5gm8ueuv</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/yosisideral-90-1-fm,7952.m3u</string>
			<key>note</key>
			<string>Top</string>
		</dict>
	</array>
</dict>
</plist>
