<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1</string>
		<key>Back</key>
		<string>1</string>
		<key>Banner</key>
		<string>5321812971</string>
		<key>Show1</key>
		<string>1</string>
		<key>Show2</key>
		<string>1</string>
		<key>Show3</key>
		<string>1</string>
		<key>Show4</key>
		<string>1</string>
		<key>Alarm</key>
		<string>1</string>
		<key>CustomBanner</key>
		<string>1</string>
		<key>CustomSplash</key>
		<string>1</string>
		<key>Header</key>
		<string>1</string>
		<key>Footer</key>
		<string>1</string>
		<key>Email</key>
		<string>1</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1</string>
		<key>Developer</key>
		<string>1</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Menu</key>
	<array>
		<string>Top</string>
		<string>News</string>
		<string>Local</string>
		<string>Classic</string>
		<string>Music</string>
		<string>Sport</string>
		<string>Talk</string>
		<string>Youth</string>
		<string>Oldies</string>
	</array>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>RDP ANTENA 1</string>
			<key>logo</key>
			<string>1</string>
			<key>link</key>
			<string>https://www.rtp.pt/play/direto/antena1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News / information / features</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RDP ANTENA 2</string>
			<key>logo</key>
			<string>2</string>
			<key>link</key>
			<string>https://www.rtp.pt/play/direto/antena2</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Culture / Classical music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RDP ANTENA 3</string>
			<key>logo</key>
			<string>3</string>
			<key>link</key>
			<string>https://www.rtp.pt/play/direto/antena3</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 30</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RDP Africa</string>
			<key>logo</key>
			<string>Africa</string>
			<key>link</key>
			<string>https://www.rtp.pt/play/direto/rdpafrica</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>RDP Lusitânia</string>
			<key>logo</key>
			<string>RDP</string>
			<key>link</key>
			<string>https://www.rtp.pt/play/direto/radiolusitania</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Portuguese music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RDP Jazzin</string>
			<key>logo</key>
			<string>Jazzin</string>
			<key>link</key>
			<string>https://www.rtp.pt/play/direto/antena2jazzin</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>RDP MEMORIA</string>
			<key>logo</key>
			<string>MEMORIA</string>
			<key>link</key>
			<string>https://www.rtp.pt/play/direto/antena1memoria</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>RDP Internacional</string>
			<key>logo</key>
			<string>Internacional</string>
			<key>link</key>
			<string>https://www.rtp.pt/play/direto/rdpinternacional</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>RDP VIDA</string>
			<key>logo</key>
			<string>VIDA</string>
			<key>link</key>
			<string>https://www.rtp.pt/play/direto/antena1vida</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>RDP ZigZag</string>
			<key>logo</key>
			<string>ZigZag</string>
			<key>link</key>
			<string>https://www.rtp.pt/play/zigzag/direto/radio</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>RDP FADO</string>
			<key>logo</key>
			<string>FADO</string>
			<key>link</key>
			<string>https://www.rtp.pt/play/direto/antena1fado</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>RDP ANTENA 1 Acores</string>
			<key>logo</key>
			<string>Acores</string>
			<key>link</key>
			<string>https://www.rtp.pt/play/direto/antena1acores</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>RDP ANTENA 1 Madeira</string>
			<key>logo</key>
			<string>Madeira</string>
			<key>link</key>
			<string>https://www.rtp.pt/play/direto/antena1madeira</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>RDP ANTENA 2 Opera</string>
			<key>logo</key>
			<string>Opera</string>
			<key>link</key>
			<string>https://www.rtp.pt/play/direto/antena2opera</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>RDP ANTENA 3 Madeira</string>
			<key>logo</key>
			<string>ANTENA</string>
			<key>link</key>
			<string>https://www.rtp.pt/play/direto/antena3madeira</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
