<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>RIK SAT</string>
		<key>logo</key>
		<string>RIK</string>
		<key>link</key>
		<string>http://www.riknews.com.cy/index.php/tv/sat-live</string>
		<key>http</key>
		<string>http://www.riknews.com.cy</string>
	</dict>
	<dict>
		<key>name</key>
		<string>One</string>
		<key>logo</key>
		<string>One</string>
		<key>link</key>
		<string>http://www.tvone.com.cy/live/</string>
		<key>http</key>
		<string>http://www.tvone.com.cy/live/?cs=1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Τηλεόραση ΣΙΓΜΑ</string>
		<key>logo</key>
		<string>Sigma</string>
		<key>link</key>
		<string>http://www.sigmatv.com/live</string>
		<key>http</key>
		<string>http://www.sigmatv.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ΠΡΩΤΟ Cyprus</string>
		<key>logo</key>
		<string>Proto</string>
		<key>link</key>
		<string>http://www.radioproto.com.cy/show/51/koyventes-kai-notes-laikes?autoplay=1#content-area</string>
		<key>http</key>
		<string>http://www.radioproto.com.cy</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ANT1 Κύπρου</string>
		<key>logo</key>
		<string>ANT1</string>
		<key>link</key>
		<string>https://www.antenna.gr/Live</string>
		<key>http</key>
		<string>http://www.ant1iwo.com/webtv/web-tv-live/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Alpha Κύπρου</string>
		<key>logo</key>
		<string>Alpha</string>
		<key>link</key>
		<string>http://www.alphacyprus.com.cy/page/live</string>
		<key>http</key>
		<string>http://www.alphacyprus.com.cy/webtv/live</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Smile</string>
		<key>logo</key>
		<string>Smile</string>
		<key>link</key>
		<string>http://smiletvcyprus.com/gr/index.php/smiletv-live</string>
		<key>http</key>
		<string>http://smiletvcyprus.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SAT7 ARABIC</string>
		<key>logo</key>
		<string>ARABIC</string>
		<key>link</key>
		<string>http://www.streamwebtown.com/player/sat7/arabic/index.php</string>
		<key>http</key>
		<string>http://sat7.org/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SAT7 PARS</string>
		<key>logo</key>
		<string>PARS</string>
		<key>link</key>
		<string>http://www.streamwebtown.com/player/sat7/pars/index.php</string>
		<key>http</key>
		<string>http://sat7.org/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SAT7 KIDS</string>
		<key>logo</key>
		<string>KIDS</string>
		<key>link</key>
		<string>http://www.streamwebtown.com/player/sat7/kids/index.php</string>
		<key>http</key>
		<string>http://sat7.org/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SAT7 TÜRK</string>
		<key>logo</key>
		<string>SAT7</string>
		<key>link</key>
		<string>http://www.streamwebtown.com/player/sat7/turk/index.php</string>
		<key>http</key>
		<string>http://sat7.org/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>BRT</string>
		<key>logo</key>
		<string>BRT</string>
		<key>link</key>
		<string>http://www.brtk.net/</string>
		<key>http</key>
		<string>http://www.brtk.net/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ada</string>
		<key>logo</key>
		<string>Ada</string>
		<key>link</key>
		<string>http://www.adatv.tv/</string>
		<key>http</key>
		<string>http://www.adatv.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kıbrıs</string>
		<key>logo</key>
		<string>Kibris</string>
		<key>link</key>
		<string>http://www.kibristv.com/</string>
		<key>http</key>
		<string>http://www.kibristv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kanal Sim</string>
		<key>logo</key>
		<string>Sim</string>
		<key>link</key>
		<string>http://www.kanalsim.com/canli-yayin/</string>
		<key>http</key>
		<string>http://www.kanalsim.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Diyalog</string>
		<key>logo</key>
		<string>Diyalog</string>
		<key>link</key>
		<string>http://www.kibrisdiyalogtv.com/canli-yayin/</string>
		<key>http</key>
		<string>http://www.kibrisdiyalogtv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kıbrıs Kanal T</string>
		<key>logo</key>
		<string>T</string>
		<key>link</key>
		<string>http://kanalt.com/</string>
		<key>http</key>
		<string>http://kanalt.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kıbrıs Genç</string>
		<key>logo</key>
		<string>Genc</string>
		<key>link</key>
		<string>http://www.kibrisgenctv.com/</string>
		<key>http</key>
		<string>http://www.kibrisgenctv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Radio ΠΡΩΤΟ</string>
		<key>logo</key>
		<string>Radio1</string>
		<key>link</key>
		<string>http://www.riknews.com.cy/index.php/radio-main/proto-live</string>
		<key>http</key>
		<string>http://www.riknews.com.cy/index.php/radio-main</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Radio ΔΕΥΤΕΡΟ</string>
		<key>logo</key>
		<string>Radio2</string>
		<key>link</key>
		<string>http://www.riknews.com.cy/index.php/radio-main/deftero-live</string>
		<key>http</key>
		<string>http://www.riknews.com.cy/index.php/radio-main</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Radio ΤΡΙΤΟ</string>
		<key>logo</key>
		<string>Radio3</string>
		<key>link</key>
		<string>http://www.riknews.com.cy/index.php/radio-main/trito-live</string>
		<key>http</key>
		<string>http://www.riknews.com.cy/index.php/radio-main</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Radio ΤΕΤΑΡΤΟ</string>
		<key>logo</key>
		<string>Radio4</string>
		<key>link</key>
		<string>http://www.riknews.com.cy/index.php/radio-main/tetarto-live</string>
		<key>http</key>
		<string>http://www.riknews.com.cy/index.php/radio-main</string>
	</dict>
</array>
</plist>
