<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>777</string>
		<key>logo</key>
		<string>777</string>
		<key>link</key>
		<string>http://www.tv777.me/</string>
		<key>http</key>
		<string>http://www.tv777.me/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Crne Gore</string>
		<key>logo</key>
		<string>Crne</string>
		<key>link</key>
		<string>http://www.rtcg.me/tv/tv-uzivo.html</string>
		<key>http</key>
		<string>http://www.rtcg.me</string>
	</dict>
	<dict>
		<key>name</key>
		<string>N1</string>
		<key>logo</key>
		<string>N1</string>
		<key>link</key>
		<string>http://rs.n1info.com/N1-Uzivo</string>
		<key>http</key>
		<string>http://rs.n1info.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>СОС канал</string>
		<key>logo</key>
		<string>SOS</string>
		<key>link</key>
		<string>http://soskanal.net/sos-stream</string>
		<key>http</key>
		<string>http://soskanal.net/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Subotica</string>
		<key>logo</key>
		<string>Subotica</string>
		<key>link</key>
		<string>http://www.tvsubotica.com/index.php?c=tvsu_live&amp;slider=off&amp;lg=sr</string>
		<key>http</key>
		<string>http://www.tvsubotica.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>K23</string>
		<key>logo</key>
		<string>K23</string>
		<key>link</key>
		<string>http://www.k23tv.com/online-tv/</string>
		<key>http</key>
		<string>http://www.k23tv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kanal 9</string>
		<key>logo</key>
		<string>9</string>
		<key>link</key>
		<string>http://www.kanal9tv.com/tv-k9-uzivo/</string>
		<key>http</key>
		<string>http://www.kanal9tv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Euronews</string>
		<key>logo</key>
		<string>Euronews</string>
		<key>link</key>
		<string>http://de.euronews.com/live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/euronewsfr/videos?live_view=501&amp;flow=grid&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>EbS Europe by Satellite</string>
		<key>logo</key>
		<string>EbS</string>
		<key>link</key>
		<string>http://ec.europa.eu/avservices/ebs/live.cfm?page=1</string>
		<key>http</key>
		<string>http://ec.europa.eu/avservices/ebs/schedule.cfm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bloomberg TV Europe</string>
		<key>logo</key>
		<string>bloomberg</string>
		<key>link</key>
		<string>https://www.bloomberg.com/live/europe</string>
		<key>http</key>
		<string>https://www.bloomberg.com/live/us</string>
	</dict>
</array>
</plist>
