<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>7544651639</string>
		<key>Back</key>
		<string>3670530399</string>
		<key>Banner</key>
		<string>7708303168</string>
		<key>Show1</key>
		<string>REMOVED</string>
		<key>Show2</key>
		<string>REMOVED</string>
		<key>Show3</key>
		<string>REMOVED</string>
		<key>Show4</key>
		<string>REMOVED</string>
		<key>Alarm</key>
		<string>4321267085</string>
		<key>CustomBanner</key>
		<string>9382022077</string>
		<key>CustomSplash</key>
		<string>5656854893</string>
		<key>Header</key>
		<string>8348142005</string>
		<key>Footer</key>
		<string>6891590100</string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string>1366394587</string>
		<key>Application</key>
		<string>1447551271</string>
		<key>Developer</key>
		<string>1239592099</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>La Estación FM</string>
			<key>logo</key>
			<string>La</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://199.167.150.105:8462/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://199.167.150.105:8462/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Pop</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Güemes</string>
			<key>logo</key>
			<string>Guemes</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://190.61.250.140:8022/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://190.61.250.140:8022/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string>Orán</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Streaming Internacional</string>
			<key>logo</key>
			<string>Internacional</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://67.212.165.162:9028/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://67.212.165.162:9028/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string>News (Freyre)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>LOS40 Argentina</string>
			<key>logo</key>
			<string>LOS40</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://5.135.154.72:20156/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://5.135.154.72:20156/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>MQC</string>
			<key>logo</key>
			<string>MQC</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://108.163.229.102:8202/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://108.163.229.102:8202/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string>Rock</string>
		</dict>
		<dict>
			<key>name</key>
			<string>01Argentina</string>
			<key>logo</key>
			<string>01Argentina</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://miradioenlaweb.com:4344/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://miradioenlaweb.com:4344/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string>Río Cuarto Córdoba</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Soft FM 102.1</string>
			<key>logo</key>
			<string>Soft</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.49.65.42:10700/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.49.65.42:10700/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Santiago del Estero</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mute Radio</string>
			<key>logo</key>
			<string>Mute</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://199.167.150.105:8100/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://199.167.150.105:8100/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Pop</string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM ACUARIO 98.1 (LRH 335)</string>
			<key>logo</key>
			<string>335</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://37.59.37.173:6388/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://37.59.37.173:6388/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string>Capiovi</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Wen 93.7</string>
			<key>logo</key>
			<string>Wen</string>
			<key>link</key>
			<string>http://arcamediagroup.net:8014/listen.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://69.175.88.11:8014/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Quilmes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cadena 10 Argentina</string>
			<key>logo</key>
			<string>10</string>
			<key>link</key>
			<string>http://198.50.206.239:8002/listen.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.50.206.239:8002/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Poder de DIOS</string>
			<key>logo</key>
			<string>Poder</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://167.114.219.240:9320/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://167.114.219.240:9320/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio BETEL 107.1</string>
			<key>logo</key>
			<string>BETEL</string>
			<key>link</key>
			<string>http://www.reproface.com.ar/html5/player.php?pl=winamp&amp;c=RADIO%20BETEL%20107.1%20MHZ</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.143.132.154:11560/listen.pls&amp;t=.pls</string>
			<key>note</key>
			<string>Misiones</string>
		</dict>
	</array>
</dict>
</plist>
