<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>7544651639</string>
		<key>Back</key>
		<string>3670530399</string>
		<key>Banner</key>
		<string>7708303168</string>
		<key>Show1</key>
		<string>REMOVED</string>
		<key>Show2</key>
		<string>REMOVED</string>
		<key>Show3</key>
		<string>REMOVED</string>
		<key>Show4</key>
		<string>REMOVED</string>
		<key>Alarm</key>
		<string>4321267085</string>
		<key>CustomBanner</key>
		<string>9382022077</string>
		<key>CustomSplash</key>
		<string>5656854893</string>
		<key>Header</key>
		<string>8348142005</string>
		<key>Footer</key>
		<string>6891590100</string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string>1366394587</string>
		<key>Application</key>
		<string>1447551271</string>
		<key>Developer</key>
		<string>1239592099</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Buenas Ondas 87.7 FM</string>
			<key>logo</key>
			<string>Buenas</string>
			<key>link</key>
			<string>http://pcf.sytes.net:8000/lrbo.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM Océano 87.7</string>
			<key>logo</key>
			<string>Oceano</string>
			<key>link</key>
			<string>http://stream.restauraciondefe.com.ar:8000/oceano.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>iSEC Make 87.9 FM</string>
			<key>logo</key>
			<string>Make</string>
			<key>link</key>
			<string>http://server.ohradio.com.ar:9968/listen.pls?sid=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM Boedo 88.1</string>
			<key>logo</key>
			<string>Boedo</string>
			<key>link</key>
			<string>http://audio.bustream.com:8012/stream.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM Plus 88.1</string>
			<key>logo</key>
			<string>Plu</string>
			<key>link</key>
			<string>https://59db7e671a1ad.streamlock.net/8018/8018/playlist.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sur 88.3 FM</string>
			<key>logo</key>
			<string>Sur</string>
			<key>link</key>
			<string>http://01.solumedia.com.ar:8020/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM La Barca 88.3</string>
			<key>logo</key>
			<string>Barca</string>
			<key>link</key>
			<string>http://audio.questreaming.com:2199/tunein/fmlabarca-stream.pls</string>
			<key>http</key>
			<string>http://audio.questreaming.com:9468/listen.pls</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>María</string>
			<key>logo</key>
			<string>Maria</string>
			<key>link</key>
			<string>https://dreamsiteradiocp2.com/proxy/rmargentina2?mp=/stream</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cítrica 88.5 FM</string>
			<key>logo</key>
			<string>Citrica</string>
			<key>link</key>
			<string>http://74.50.112.196:9132/citrica885.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nuevo Tiempo</string>
			<key>logo</key>
			<string>Nuevo</string>
			<key>link</key>
			<string>https://stream.live.novotempo.com/radio/smil:rntBuenosAiresAR.smil/playlist.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM Raíces 88.5</string>
			<key>logo</key>
			<string>Raices</string>
			<key>link</key>
			<string>http://streaming.radiolinksmedia.com:8056/;</string>
			<key>http</key>
			<string>http://streaming.radiolinksmedia.com:8056/listen.pls</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Tribu 88.7 FM</string>
			<key>logo</key>
			<string>Tribu</string>
			<key>link</key>
			<string>http://vivo.fmlatribu.com/latribu.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>TEC 88.7 FM</string>
			<key>logo</key>
			<string>TEC</string>
			<key>link</key>
			<string>http://stream.zeno.fm/64h3nxg0rvduv</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ambiente 88.9 FM</string>
			<key>logo</key>
			<string>Ambiente</string>
			<key>link</key>
			<string>http://sonic.dattalive.com:8470/stream.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM 101.9</string>
			<key>logo</key>
			<string>Villa</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/101-9-fm-villa-general-belgrano,7622.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Villa General Belgrano (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM 91.1</string>
			<key>logo</key>
			<string>91</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/91-1-fm,241.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Corrientes (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Amadeus 91.1 FM</string>
			<key>logo</key>
			<string>Amadeus</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/amadeus-91-1-fm,6053.m3u</string>
			<key>http</key>
			<string>http://18.220.84.192:8484/;</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>America 1190 AM</string>
			<key>logo</key>
			<string>America</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/america-1190-am,243.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Aspen Classic 102.3 FM</string>
			<key>logo</key>
			<string>Aspen</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/aspen-classic-102-3-fm,245.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Oldies</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Atlantica LU6 760 AM</string>
			<key>logo</key>
			<string>Atlantica</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/atlantica-lu6-760-am,246.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bahia Blanca LU2 840 AM</string>
			<key>logo</key>
			<string>Bahia</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/bahia-blanca-lu2-840-am,248.m3u</string>
			<key>http</key>
			<string>https://icecast2.hostingbahia.com.ar:8040/live</string>
			<key>note</key>
			<string>Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Blue 100.7 FM</string>
			<key>logo</key>
			<string>Blue</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/blue-100-7-fm,19746.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Buenos Aires 1350 AM</string>
			<key>logo</key>
			<string>1350</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/buenos-aires-1350-am,249.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cadena 3 FM 100.5</string>
			<key>logo</key>
			<string>Cadena</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/cadena-3-fm-100-5,250.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Córdoba (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cadena 3 FM 106.9</string>
			<key>logo</key>
			<string>3</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/cadena-3-fm-106-9,18952.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Córdoba (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>LT3 Cerealista 680 AM</string>
			<key>logo</key>
			<string>Cerealista</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/cadena-cerealista-680-am,251.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Santa Fe (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cadena ECO 1220 AM</string>
			<key>logo</key>
			<string>ECO</string>
			<key>link</key>
			<string>https://stream.zenolive.com/svszp3e072quv</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/cadena-eco-1220-am,252.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cielo 92.1 FM</string>
			<key>logo</key>
			<string>Cielo</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/cielo-92-1-fm,259.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Provincia de Salta (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ciudad 1110 AM</string>
			<key>logo</key>
			<string>1110</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/ciudad-1110-am,260.m3u</string>
			<key>http</key>
			<string>http://radios.argentina.fm:1110/stream</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Continental AM 590</string>
			<key>logo</key>
			<string>Continental</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/continental-am-590,263.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Del Plata 1030 AM</string>
			<key>logo</key>
			<string>Plata</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/del-plata-1030-am,269.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>El Destape</string>
			<key>logo</key>
			<string>Destape</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/el-destape-radio,20076.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Espacio 89.7 FM</string>
			<key>logo</key>
			<string>Espacio</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/espacio-89-7-fm,270.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Estacion del Sol 100.9 FM</string>
			<key>logo</key>
			<string>Estacion</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/estacion-del-sol-100-9-fm,272.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fisherton CNN 89.5 FM</string>
			<key>logo</key>
			<string>Fisherton</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/fisherton-cnn-89-5-fm,278.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Rosario (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM Express 96.5</string>
			<key>logo</key>
			<string>Express</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/fm-express-96-5,9583.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Villa Maria (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM Pop 101.5</string>
			<key>logo</key>
			<string>FMPop</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/fm-pop-101-5,6054.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM Soldados 87.5</string>
			<key>logo</key>
			<string>Soldados</string>
			<key>link</key>
			<string>https://radio02.ferozo.com/proxy/ra01000409?mp=/stream;</string>
			<key>http</key>
			<string>http://radio02.ferozo.com:8150/;stream/1/;</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM Uno En El SEÑOR 104.9</string>
			<key>logo</key>
			<string>Uno</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/fm-uno-en-el-senor,13243.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM Vida 97.9</string>
			<key>logo</key>
			<string>Vida</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/fm-vida-97-9,19292.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Rosario (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM Welcome 105.9</string>
			<key>logo</key>
			<string>Welcome</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/fm-welcome-105-9,9585.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM Fenix 93.1 FM</string>
			<key>logo</key>
			<string>Fenix</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/fmfenix-93-1-fm,279.m3u</string>
			<key>http</key>
			<string>http://173.243.114.218:8651/;stream.nsv</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>GDS Radio</string>
			<key>logo</key>
			<string>GDS</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/gds-radio,18987.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Guemes 106.3 FM</string>
			<key>logo</key>
			<string>Guemes</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/guemes-106-3-fm,281.m3u</string>
			<key>http</key>
			<string>http://190.61.250.140:8022/;</string>
			<key>note</key>
			<string>San Raman de la Nueva Oran (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Imaginate FM 105.7</string>
			<key>logo</key>
			<string>Imaginate</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/imaginate-fm-105-7,5839.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Oldies</string>
		</dict>
		<dict>
			<key>name</key>
			<string>LA 100 99.9 FM</string>
			<key>logo</key>
			<string>100</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/la-100-99-9-fm,19313.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Red 910 AM</string>
			<key>logo</key>
			<string>Red</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/la-red-910-am,290.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Red Rosario 98.3 FM</string>
			<key>logo</key>
			<string>Rosario</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/la-red-rosario-98-3-fm,19294.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Litoral 103.1 FM</string>
			<key>logo</key>
			<string>Litoral</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/litoral-103-1-fm,293.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Ri­o Negro (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mega</string>
			<key>logo</key>
			<string>MEGA3</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/mega-98-3-fm,296.m3u</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://miradioenlaweb.com:4610/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Metro 95.1 FM</string>
			<key>logo</key>
			<string>Metro</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/metro-95-1-fm,288.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Metropolitana 100.5 FM</string>
			<key>logo</key>
			<string>Metropolitana</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/metropolitana-100-5-fm,297.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mitre 790 AM</string>
			<key>logo</key>
			<string>Mitre</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/mitre-790-am,298.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-mitre-790-am,19312.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio 2 1230 AM</string>
			<key>logo</key>
			<string>1230</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-2-am-1230,19293.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-2-1230-am,303.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio A 97.5 FM</string>
			<key>logo</key>
			<string>A</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-a-97-5-fm,304.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Posadas (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Activa 107.5</string>
			<key>logo</key>
			<string>Activa</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-activa-107-5,13246.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>San Luis (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Brisas 98.5 FM</string>
			<key>logo</key>
			<string>Brisas</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-brisas-98-5-fm,15955.m3u</string>
			<key>http</key>
			<string>http://181.41.240.16:8030/live.mp3</string>
			<key>note</key>
			<string>Mar del Plata (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Con Vos 89.9 FM</string>
			<key>logo</key>
			<string>Con</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-con-vos-89-9-fm,20048.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Disney 94.3 Argentina</string>
			<key>logo</key>
			<string>Disney</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-disney-94-3-argentina,19314.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Equis 98.5 FM</string>
			<key>logo</key>
			<string>Equis</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-equis-98-5-fm,13242.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Rio Negro (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio La Voz 98.5 FM</string>
			<key>logo</key>
			<string>Voz</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-la-voz-98-5-fm,20093.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Corrientes (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Nacional</string>
			<key>logo</key>
			<string>Nacional</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-nacional,7941.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Nihuil 680</string>
			<key>logo</key>
			<string>680</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-nihuil-680-an,20046.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Nihuil 98.9 FM</string>
			<key>logo</key>
			<string>Nihuil</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-nihuil-98-9-fm,20045.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Rivadavia 630 AM</string>
			<key>logo</key>
			<string>Rivadavia</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-rivadavia-630-am,17568.m3u</string>
			<key>http</key>
			<string>http://209.95.35.49:7012/stream</string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Romantica 99.7 FM</string>
			<key>logo</key>
			<string>Romantica</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-romantica-99-7-fm,13247.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>San Luis (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Vos 95.5 FM</string>
			<key>logo</key>
			<string>Vos</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-vos-95-5-fm,20106.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Brandsen (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radiofonica 100.5 FM</string>
			<key>logo</key>
			<string>Radiofonica</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radiofonica-100-5-fm,305.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Santa Fe (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Red Vida 105.9 FM</string>
			<key>logo</key>
			<string>Vid</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/red-vida-105-9-fm,306.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rio Cuarto 1010 AM</string>
			<key>logo</key>
			<string>1010</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/rio-cuarto-1010-am,307.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rio Cuarto 93.9 FM</string>
			<key>logo</key>
			<string>Cuarto</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/rio-cuarto-93-9-fm,16967.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>RNA Futbol</string>
			<key>logo</key>
			<string>RNA</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/rna-futbol,17508.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rock &amp; Pop 95.9 FM</string>
			<key>logo</key>
			<string>Rock</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/rock-pop-95-9-fm,309.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sentir Radio</string>
			<key>logo</key>
			<string>Sentir</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/sentir-radio,18986.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sudamericana 100.3 FM</string>
			<key>logo</key>
			<string>Sudamericana</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/sudamericana-100-3-fm,316.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Transformacion 91.3 FM</string>
			<key>logo</key>
			<string>Transformacion</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/transformacion-91-3-fm,318.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Universidad 97.9 FM</string>
			<key>logo</key>
			<string>Universidad</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/universidad-97-9-fm,319.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>San Luis (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Vale 97.5</string>
			<key>logo</key>
			<string>Vale</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/vale-97-5,19315.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Estación FM</string>
			<key>logo</key>
			<string>La</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://199.167.150.105:8462/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://199.167.150.105:8462/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>LOS40 Argentina</string>
			<key>logo</key>
			<string>LOS40</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/los-40-principales-105-5-fm,17567.m3u</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://5.135.154.72:20156/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>MQC</string>
			<key>logo</key>
			<string>MQC</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://108.163.229.102:8202/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://108.163.229.102:8202/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>01Argentina</string>
			<key>logo</key>
			<string>01Argentina</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://miradioenlaweb.com:4344/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://miradioenlaweb.com:4344/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string>Río Cuarto Córdoba (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Soft FM 102.1</string>
			<key>logo</key>
			<string>Soft</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.49.65.42:10700/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.49.65.42:10700/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Santiago del Estero (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mute Radio</string>
			<key>logo</key>
			<string>Mute</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://199.167.150.105:8100/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://199.167.150.105:8100/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Pop Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM ACUARIO 98.1 (LRH 335)</string>
			<key>logo</key>
			<string>335</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://37.59.37.173:6388/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://37.59.37.173:6388/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string>Capiovi (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Wen 93.7</string>
			<key>logo</key>
			<string>Wen</string>
			<key>link</key>
			<string>http://arcamediagroup.net:8014/listen.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://69.175.88.11:8014/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Quilmes (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cadena 10 Argentina</string>
			<key>logo</key>
			<string>10</string>
			<key>link</key>
			<string>http://198.50.206.239:8002/listen.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.50.206.239:8002/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Poder de DIOS</string>
			<key>logo</key>
			<string>Poder</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://167.114.219.240:9320/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://167.114.219.240:9320/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio BETEL 107.1</string>
			<key>logo</key>
			<string>BETEL</string>
			<key>link</key>
			<string>http://www.reproface.com.ar/html5/player.php?pl=winamp&amp;c=RADIO%20BETEL%20107.1%20MHZ</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.143.132.154:11560/listen.pls&amp;t=.pls</string>
			<key>note</key>
			<string>Misiones (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Aire De Santa Fe 91.1 FM</string>
			<key>logo</key>
			<string>Fe</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://67.212.165.162:9028/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://67.212.165.162:9028/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Argentine Tango</string>
			<key>logo</key>
			<string>Tango</string>
			<key>link</key>
			<string>http://streaming2.argentinetangoradio.com/2202_128.mp3</string>
			<key>http</key>
			<string>https://listen.argentinetangoradio.com/</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM Bien</string>
			<key>logo</key>
			<string>Bien</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://miradioenlaweb.com:4036/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://miradioenlaweb.com:4036/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>RADIO DE FOLKLORE FM 98.9</string>
			<key>logo</key>
			<string>FOLKLORE</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://94.23.205.82:8476/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://94.23.205.82:8476/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Distorsion FM</string>
			<key>logo</key>
			<string>Distorsion</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://190.196.10.197:8100/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://190.196.10.197:8100/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string>Rock Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cristal FM 91.3</string>
			<key>logo</key>
			<string>Cristal</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://195.154.182.222:26493/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://195.154.182.222:26493/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM 105.5</string>
			<key>logo</key>
			<string>105</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://67.212.166.178:7198/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://67.212.166.178:7198/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>San Cristobal (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Filadelfia</string>
			<key>logo</key>
			<string>Filadelfia</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.50.206.239:8042/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.50.206.239:8042/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM Libre 92.7</string>
			<key>logo</key>
			<string>Libre</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.99.99.1:8220/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.99.99.1:8220/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM Libertad - Devoto (Cba.)</string>
			<key>logo</key>
			<string>Devoto</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://195.154.182.222:26087/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://195.154.182.222:26087/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Trans Mundial</string>
			<key>logo</key>
			<string>Trans</string>
			<key>link</key>
			<string>http://67.227.220.171:8122/;</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://67.227.220.171:8122/listen.pls?sid=1&amp;t=.pls</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cerrito</string>
			<key>logo</key>
			<string>Cerrito</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://200.58.112.14:11310/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://200.58.112.14:11310/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string>Chaco (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Independencia 106.3 FM</string>
			<key>logo</key>
			<string>Independencia</string>
			<key>link</key>
			<string>https://www.radios.com.br/players/listen-radio.pls?radio=42228</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>San Luis (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Al Tope</string>
			<key>logo</key>
			<string>Tope</string>
			<key>link</key>
			<string>http://bit.ly/2xJb89s</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://162.252.57.90:9606/listen.pls?sid=1&amp;t=.pls</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM NORTE 98.5</string>
			<key>logo</key>
			<string>NORTE</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://209.95.35.49:7484/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://209.95.35.49:7484/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Santa Elena (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Argentina 102.9 FM</string>
			<key>logo</key>
			<string>Argentin</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://miradioenlaweb.com:6056/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://miradioenlaweb.com:6056/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string>Catamarca (Local)</string>
		</dict>
	</array>
</dict>
</plist>
