<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<dict>
			<key>name</key>
			<string>NPO Nieuws</string>
			<key>logo</key>
			<string>Nieuws</string>
			<key>link</key>
			<string>http://nos.nl/livestream/npo-nieuws</string>
			<key>http</key>
			<string>https://www.npo.nl/live/npo-nieuws</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NPO Politiek</string>
			<key>logo</key>
			<string>Politiek</string>
			<key>link</key>
			<string>http://nos.nl/livestream/npo-politiek</string>
			<key>http</key>
			<string>https://www.npo.nl/live/npo-politiek</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NPO 1</string>
			<key>logo</key>
			<string>NPO1</string>
			<key>link</key>
			<string>https://www.npo.nl/live/npo-1</string>
			<key>http</key>
			<string>https://www.npo.nl</string>
		</dict>
	</array>
</plist>
