<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<dict>
			<key>name</key>
			<string>NPO Nieuws</string>
			<key>logo</key>
			<string>Nieuws</string>
			<key>link</key>
			<string>http://nos.nl/livestream/npo-nieuws</string>
			<key>http</key>
			<string>https://www.npo.nl/live/npo-nieuws</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NPO Politiek</string>
			<key>logo</key>
			<string>Politiek</string>
			<key>link</key>
			<string>http://nos.nl/livestream/npo-politiek</string>
			<key>http</key>
			<string>https://www.npo.nl/live/npo-politiek</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NPO 1</string>
			<key>logo</key>
			<string>NPO1</string>
			<key>link</key>
			<string>https://www.npo.nl/live/npo-1</string>
			<key>http</key>
			<string>https://www.npo.nl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NPO 2</string>
			<key>logo</key>
			<string>NPO2</string>
			<key>link</key>
			<string>https://www.npo.nl/live/npo-2</string>
			<key>http</key>
			<string>https://www.npo.nl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NPO 3</string>
			<key>logo</key>
			<string>NPO3</string>
			<key>link</key>
			<string>https://www.npo.nl/npo3</string>
			<key>http</key>
			<string>https://www.npo.nl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NPO Cultura</string>
			<key>logo</key>
			<string>Cultura</string>
			<key>link</key>
			<string>https://www.npo.nl/live/npo-cultura</string>
			<key>http</key>
			<string>https://www.npo.nl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NPO 101</string>
			<key>logo</key>
			<string>NPO101</string>
			<key>link</key>
			<string>https://www.npo.nl/live/npo-101</string>
			<key>http</key>
			<string>https://www.npo.nl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NPO Best</string>
			<key>logo</key>
			<string>NPOBest</string>
			<key>link</key>
			<string>https://www.npo.nl/live/npo-best</string>
			<key>http</key>
			<string>https://www.npo.nl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NPO Zapp Xtra</string>
			<key>logo</key>
			<string>Zapp</string>
			<key>link</key>
			<string>https://www.npo.nl/live/npo-zappxtra</string>
			<key>http</key>
			<string>https://www.npo.nl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>SLAM</string>
			<key>logo</key>
			<string>SLAM</string>
			<key>link</key>
			<string>https://live.slam.nl/slam-live/</string>
			<key>http</key>
			<string>https://www.slam.nl/slam-tv/</string>
		</dict>
		<dict>
			<key>name</key>
			<integer>538</integer>
			<key>logo</key>
			<integer>538</integer>
			<key>link</key>
			<string>http://www.538.nl/live/tv/index.php</string>
			<key>http</key>
			<string>https://www.538.nl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>AFTV</string>
			<key>logo</key>
			<string>AFTV</string>
			<key>link</key>
			<string>http://www.aftv.nl/</string>
			<key>http</key>
			<string>http://www.aftv.nl/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RTV Drenthe</string>
			<key>logo</key>
			<string>RTV</string>
			<key>link</key>
			<string>http://www.rtvdrenthe.nl/tv</string>
			<key>http</key>
			<string>http://www.rtvdrenthe.nl/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>EbS+ Europe by Satellite</string>
			<key>logo</key>
			<string>EbS</string>
			<key>link</key>
			<string>http://ec.europa.eu/avservices/ebs/live.cfm?page=1</string>
			<key>http</key>
			<string>http://ec.europa.eu/avservices/ebs/schedule.cfm</string>
		</dict>
		<dict>
			<key>name</key>
			<string>EbS Europe by Satellite</string>
			<key>logo</key>
			<string>EbS+</string>
			<key>link</key>
			<string>http://ec.europa.eu/avservices/ebs/live.cfm?page=2</string>
			<key>http</key>
			<string>http://ec.europa.eu/avservices/ebs/schedule.cfm</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ATV</string>
			<key>logo</key>
			<string>ATV</string>
			<key>link</key>
			<string>http://atv.be/info/extra-live-stream</string>
			<key>http</key>
			<string>http://atv.be/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BX1 Tele Bruxelles</string>
			<key>logo</key>
			<string>BX1</string>
			<key>link</key>
			<string>http://bx1.be/live/</string>
			<key>http</key>
			<string>http://bx1.be/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TV Oost</string>
			<key>logo</key>
			<string>Oost</string>
			<key>link</key>
			<string>http://www.tvoost.be/live</string>
			<key>http</key>
			<string>http://www.tvoost.be/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TeleMB</string>
			<key>logo</key>
			<string>TeleMB</string>
			<key>link</key>
			<string>http://www.telemb.be/direct</string>
			<key>http</key>
			<string>http://www.telemb.be/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Euronews</string>
			<key>logo</key>
			<string>Euronews</string>
			<key>link</key>
			<string>http://fr.euronews.com/live</string>
			<key>http</key>
			<string>https://www.youtube.com/user/euronewsfr/videos?live_view=501&amp;flow=grid&amp;view=2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bloomberg TV Europe</string>
			<key>logo</key>
			<string>bloomberg</string>
			<key>link</key>
			<string>https://www.bloomberg.com/live/europe</string>
			<key>http</key>
			<string>https://www.bloomberg.com/live/us</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Notele</string>
			<key>logo</key>
			<string>Notele</string>
			<key>link</key>
			<string>http://www.notele.be/home/live</string>
			<key>http</key>
			<string>http://www.notele.be/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ACTV Antenne Centre</string>
			<key>logo</key>
			<string>ACTV</string>
			<key>link</key>
			<string>http://www.antennecentre.tv/www/live</string>
			<key>http</key>
			<string>http://www.antennecentre.tv/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Telesambre</string>
			<key>logo</key>
			<string>Telesambre</string>
			<key>link</key>
			<string>http://www.telesambre.be/direct</string>
			<key>http</key>
			<string>http://www.telesambre.be</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RTC Tele-Liege</string>
			<key>logo</key>
			<string>RTC</string>
			<key>link</key>
			<string>http://www.rtc.be/direct</string>
			<key>http</key>
			<string>http://www.rtc.be/live</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Televesdre</string>
			<key>logo</key>
			<string>Televesdre</string>
			<key>link</key>
			<string>http://www.televesdre.eu/www/live</string>
			<key>http</key>
			<string>http://www.televesdre.eu</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TVL Limburg</string>
			<key>logo</key>
			<string>TVL</string>
			<key>link</key>
			<string>http://www.tvl.be/live</string>
			<key>http</key>
			<string>http://www.tvl.be</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TV Lux</string>
			<key>logo</key>
			<string>Lux</string>
			<key>link</key>
			<string>http://www.tvlux.be/direct</string>
			<key>http</key>
			<string>http://www.tvlux.be/live</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MAtele</string>
			<key>logo</key>
			<string>MAtele</string>
			<key>link</key>
			<string>http://www.matele.be/direct</string>
			<key>http</key>
			<string>http://www.matele.be/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RTL Télé Lëtzebuerg</string>
			<key>logo</key>
			<string>RTL</string>
			<key>link</key>
			<string>http://tele.rtl.lu/livestream/1ten_rtl/</string>
			<key>http</key>
			<string>http://tele.rtl.lu/livestream/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MCJ</string>
			<key>logo</key>
			<string>MCJ</string>
			<key>link</key>
			<string>http://www.tvmcj.com/</string>
			<key>http</key>
			<string>http://www.tvmcj.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chambre</string>
			<key>logo</key>
			<string>Chambre</string>
			<key>link</key>
			<string>http://www.chd.lu/wps/portal/public/Accueil/Actualite/ChamberTV</string>
			<key>http</key>
			<string>http://www.chd.webtvlive.lu/player.html</string>
		</dict>
	</array>
</plist>
