<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string></string>
		<key>Back</key>
		<string></string>
		<key>Banner</key>
		<string></string>
		<key>Show1</key>
		<string></string>
		<key>Show2</key>
		<string></string>
		<key>Show3</key>
		<string></string>
		<key>Show4</key>
		<string></string>
		<key>Alarm</key>
		<string></string>
		<key>CustomBanner</key>
		<string></string>
		<key>CustomSplash</key>
		<string></string>
		<key>Header</key>
		<string></string>
		<key>Footer</key>
		<string></string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string></string>
		<key>Application</key>
		<string></string>
		<key>Developer</key>
		<string></string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Alliance 92</string>
			<key>logo</key>
			<string>Alliance</string>
			<key>link</key>
			<string>http://41.188.43.211:8000/alliance92.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC Afrique</string>
			<key>logo</key>
			<string>BBC</string>
			<key>link</key>
			<string>http://bbcwssc.ic.llnwd.net/stream/bbcwssc_mp1_ws-frena.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Don Bosco 93.4 FM</string>
			<key>logo</key>
			<string>Bosco</string>
			<key>link</key>
			<string>http://onair15.xdevel.com:9248/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dream&apos;On 93.0 FM</string>
			<key>logo</key>
			<string>DreamOn</string>
			<key>link</key>
			<string>http://41.188.49.210:8000/dreamon.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fahasoavana Mahagaga 103.8 FM</string>
			<key>logo</key>
			<string>Fahasoavana</string>
			<key>link</key>
			<string>http://91.121.148.49:5777/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fréquence Plus 92.8 FM</string>
			<key>logo</key>
			<string>Plus</string>
			<key>link</key>
			<string>http://149.56.147.197:8945/listen.pls?sid=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>i-BC 90.0 FM</string>
			<key>logo</key>
			<string>i-BC</string>
			<key>link</key>
			<string>http://41.188.49.210:8000/ibcradio.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kolo FM 88.8</string>
			<key>logo</key>
			<string>Kolo</string>
			<key>link</key>
			<string>http://162.244.80.118:9448/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>MBS 95.4 FM</string>
			<key>logo</key>
			<string>MBS</string>
			<key>link</key>
			<string>https://listen.radioking.com/radio/169048/stream/210361</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Olivasoa 91.0 FM</string>
			<key>logo</key>
			<string>Olivasoa</string>
			<key>link</key>
			<string>http://uk7.internet-radio.com:8033/stream.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RDJ 96.6 FM</string>
			<key>logo</key>
			<string>RDJ</string>
			<key>link</key>
			<string>http://rdj966.net:8000/rdj966.mp3.m3u</string>
			<key>http</key>
			<string>http://rdj966.net:8000/rdj966.mp3</string>
			<key>note</key>
			<string>Top Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RFI Afrique</string>
			<key>logo</key>
			<string>RFI</string>
			<key>link</key>
			<string>http://icepe1.infomaniak.ch/rfiafrique-96k.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RFV 105 FM</string>
			<key>logo</key>
			<string>RFV</string>
			<key>link</key>
			<string>http://197.158.86.230:8000/live</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RNA Antalaha Madagascar</string>
			<key>logo</key>
			<string>RNA</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-rna-antalaha-madagascar,14407.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RVS Voix de la Sagesse 90.6 FM</string>
			<key>logo</key>
			<string>Voix</string>
			<key>link</key>
			<string>http://stric6.streamakaci.com/radiorvs.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Taratra FM 106.2</string>
			<key>logo</key>
			<string>Taratra</string>
			<key>link</key>
			<string>http://41.188.43.211:8000/taratraradio.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Top 102.8 FM</string>
			<key>logo</key>
			<string>Top102</string>
			<key>link</key>
			<string>https://listen.radioking.com/radio/170473/stream/211840</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Vaovao Mahasoa 106.8 FM</string>
			<key>logo</key>
			<string>Vaovao</string>
			<key>link</key>
			<string>http://91.121.148.49:7777/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>VOA Afrique</string>
			<key>logo</key>
			<string>VOA</string>
			<key>link</key>
			<string>http://stream.radiojar.com/gpmp7dpgq3quv</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Vazogasy</string>
			<key>logo</key>
			<string>Vazogasy</string>
			<key>link</key>
			<string>https://radiovazogasy.com/media/player/winamp.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-vazogasy,6583.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
	</array>
</dict>
</plist>
