<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>World TV</string>
		<key>Description</key>
		<string>The best television channels from all over the world</string>
		<key>Icon</key>
		<string>WorldTV</string>
		<key>Link</key>
		<string>https://itunes.apple.com/app/id1308390114</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Worldwide radio online</string>
		<key>Description</key>
		<string>Best FM stations 24/7</string>
		<key>Icon</key>
		<string>WorldRadio</string>
		<key>Link</key>
		<string>https://itunes.apple.com/app/id1436885546</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>African TV - African television</string>
		<key>Description</key>
		<string>The best TV programs and shows of all African countries </string>
		<key>Icon</key>
		<string>AfricaTV</string>
		<key>Link</key>
		<string>https://itunes.apple.com/app/id1441134517</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Radio of Europe</string>
		<key>Description</key>
		<string>European radio stations on air</string>
		<key>Icon</key>
		<string>EuroFM</string>
		<key>Link</key>
		<string>https://itunes.apple.com/app/id1440413081</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Arab TV - التلفزيون العربي يعيش</string>
		<key>Description</key>
		<string>Most popular TV channels of all Muslim world </string>
		<key>Icon</key>
		<string>ArabTV</string>
		<key>Link</key>
		<string>https://itunes.apple.com/app/id1355483606</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>TV do Brasil - HD TV of Brazil</string>
		<key>Description</key>
		<string>The best TV channels of Brazil in HD</string>
		<key>Icon</key>
		<string>BrazilTV</string>
		<key>Link</key>
		<string>https://itunes.apple.com/app/id1435636074</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>European TV</string>
		<key>Description</key>
		<string>Popular European television online</string>
		<key>Icon</key>
		<string>EuropeTV</string>
		<key>Link</key>
		<string>https://itunes.apple.com/app/id1227838626</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Deutsche TV - Fernsehen der Bundes Republik</string>
		<key>Description</key>
		<string>German television live</string>
		<key>Icon</key>
		<string>GermanTV</string>
		<key>Link</key>
		<string>https://itunes.apple.com/app/id1205306632</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Worldwide Radio live</string>
		<key>Description</key>
		<string>Worldwide FM radio stations</string>
		<key>Icon</key>
		<string>InternationalFM</string>
		<key>Link</key>
		<string>https://itunes.apple.com/app/id1438216275</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>TV Italiana</string>
		<key>Description</key>
		<string>Italiano televisiva in diretta</string>
		<key>Icon</key>
		<string>ItalyTV</string>
		<key>Link</key>
		<string>https://itunes.apple.com/app/id1224178528</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>TV de México</string>
		<key>Description</key>
		<string>Mexican HD TV LIVE</string>
		<key>Icon</key>
		<string>MexicoTV</string>
		<key>Link</key>
		<string>https://itunes.apple.com/app/id1426656180</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Global Radio. Top FM stations</string>
		<key>Description</key>
		<string>The best online radio stations</string>
		<key>Icon</key>
		<string>WorldFM</string>
		<key>Link</key>
		<string>https://itunes.apple.com/app/id1441579714</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>TV Española</string>
		<key>Description</key>
		<string>HD televisión española en línea</string>
		<key>Icon</key>
		<string>SpainTV</string>
		<key>Link</key>
		<string>https://itunes.apple.com/app/id1232667435</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>USA TV</string>
		<key>Description</key>
		<string>Television of the United States online</string>
		<key>Icon</key>
		<string>USATV</string>
		<key>Link</key>
		<string>https://itunes.apple.com/app/id1203644969</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>World Radio</string>
		<key>Description</key>
		<string>Live FM stations of the world</string>
		<key>Icon</key>
		<string>WorldwideFM</string>
		<key>Link</key>
		<string>https://itunes.apple.com/app/id1441216092</string>
	</dict>
</array>
</plist>
