<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Aliexpress</string>
		<key>Description</key>
		<string>AliExpress – это торговая площадка в ваших руках</string>
		<key>Icon</key>
		<string>1</string>
		<key>Link</key>
		<string>https://ad.admitad.com/g/tkkzph5tr55352224e368e5b1f086e/</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Яндекс.Music</string>
		<key>Description</key>
		<string>Открывайте для себя новую музыку!</string>
		<key>Icon</key>
		<string>6</string>
		<key>Link</key>
		<string>https://ad.admitad.com/g/zg96n0avye5352224e361630a50d51/</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>MyBook</string>
		<key>Description</key>
		<string>Покупать книги по одной не всегда удобно</string>
		<key>Icon</key>
		<string>4</string>
		<key>Link</key>
		<string>https://ad.admitad.com/g/foomryhdcx5352224e36f579c5bf25/</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Joom</string>
		<key>Description</key>
		<string>Joom - cамый простой способ для покупок любых товаров из Китая</string>
		<key>Icon</key>
		<string>15</string>
		<key>Link</key>
		<string>https://ad.admitad.com/g/4fn1abt7j75352224e36a8047f5415/</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Yango</string>
		<key>Description</key>
		<string>Yango — сервис доходчивых вложений, выгоднее банковских продуктов</string>
		<key>Icon</key>
		<string>14</string>
		<key>Link</key>
		<string>https://ad.admitad.com/g/rnt2mjvt2j5352224e36c8a5d3c63f/</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Cradle of Empires</string>
		<key>Description</key>
		<string>Cradle of Empires is an exciting — yet cool, calm and collected — family-friendly adventure</string>
		<key>Icon</key>
		<string>11</string>
		<key>Link</key>
		<string>https://ad.admitad.com/g/pm9n6fxm8n5352224e369d8faa63b1/</string>
	</dict>
</array>
</plist>
