<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Aliexpress</string>
		<key>Description</key>
		<string>AliExpress – это торговая площадка в ваших руках</string>
		<key>Icon</key>
		<string>1</string>
		<key>Link</key>
		<string>https://ad.admitad.com/g/tkkzph5tr55352224e368e5b1f086e/</string>
	</dict>
	<dict>
		<key>Title</key>
		<string></string>
		<key>Description</key>
		<string></string>
		<key>Icon</key>
		<string></string>
		<key>Link</key>
		<string></string>
	</dict>
	<dict>
		<key>Title</key>
		<string></string>
		<key>Description</key>
		<string></string>
		<key>Icon</key>
		<string></string>
		<key>Link</key>
		<string></string>
	</dict>
	<dict>
		<key>Title</key>
		<string></string>
		<key>Description</key>
		<string></string>
		<key>Icon</key>
		<string></string>
		<key>Link</key>
		<string></string>
	</dict>
	<dict>
		<key>Title</key>
		<string></string>
		<key>Description</key>
		<string></string>
		<key>Icon</key>
		<string></string>
		<key>Link</key>
		<string></string>
	</dict>
	<dict>
		<key>Title</key>
		<string></string>
		<key>Description</key>
		<string></string>
		<key>Icon</key>
		<string></string>
		<key>Link</key>
		<string></string>
	</dict>
	<dict>
		<key>Title</key>
		<string></string>
		<key>Description</key>
		<string></string>
		<key>Icon</key>
		<string></string>
		<key>Link</key>
		<string></string>
	</dict>
	<dict>
		<key>Title</key>
		<string></string>
		<key>Description</key>
		<string></string>
		<key>Icon</key>
		<string></string>
		<key>Link</key>
		<string></string>
	</dict>
	<dict>
		<key>Title</key>
		<string></string>
		<key>Description</key>
		<string></string>
		<key>Icon</key>
		<string></string>
		<key>Link</key>
		<string></string>
	</dict>
	<dict>
		<key>Title</key>
		<string></string>
		<key>Description</key>
		<string></string>
		<key>Icon</key>
		<string></string>
		<key>Link</key>
		<string></string>
	</dict>
	<dict>
		<key>Title</key>
		<string></string>
		<key>Description</key>
		<string></string>
		<key>Icon</key>
		<string></string>
		<key>Link</key>
		<string></string>
	</dict>
	<dict>
		<key>Title</key>
		<string></string>
		<key>Description</key>
		<string></string>
		<key>Icon</key>
		<string></string>
		<key>Link</key>
		<string></string>
	</dict>
	<dict>
		<key>Title</key>
		<string></string>
		<key>Description</key>
		<string></string>
		<key>Icon</key>
		<string></string>
		<key>Link</key>
		<string></string>
	</dict>
	<dict>
		<key>Title</key>
		<string></string>
		<key>Description</key>
		<string></string>
		<key>Icon</key>
		<string></string>
		<key>Link</key>
		<string></string>
	</dict>
	<dict>
		<key>Title</key>
		<string></string>
		<key>Description</key>
		<string></string>
		<key>Icon</key>
		<string></string>
		<key>Link</key>
		<string></string>
	</dict>
	<dict>
		<key>Title</key>
		<string></string>
		<key>Description</key>
		<string></string>
		<key>Icon</key>
		<string></string>
		<key>Link</key>
		<string></string>
	</dict>
	<dict>
		<key>Title</key>
		<string></string>
		<key>Description</key>
		<string></string>
		<key>Icon</key>
		<string></string>
		<key>Link</key>
		<string></string>
	</dict>
	<dict>
		<key>Title</key>
		<string></string>
		<key>Description</key>
		<string></string>
		<key>Icon</key>
		<string></string>
		<key>Link</key>
		<string></string>
	</dict>
	<dict>
		<key>Title</key>
		<string></string>
		<key>Description</key>
		<string></string>
		<key>Icon</key>
		<string></string>
		<key>Link</key>
		<string></string>
	</dict>
	<dict>
		<key>Title</key>
		<string></string>
		<key>Description</key>
		<string></string>
		<key>Icon</key>
		<string></string>
		<key>Link</key>
		<string></string>
	</dict>
</array>
</plist>
