<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>TVes</string>
		<key>logo</key>
		<string>TVes</string>
		<key>link</key>
		<string>http://www.tves.gob.ve/senal-en-vivo-de-tves/</string>
		<key>http</key>
		<string>http://www.tves.gob.ve</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TeleSUR</string>
		<key>logo</key>
		<string>TeleSUR</string>
		<key>link</key>
		<string>https://www.youtube.com/user/telesurtv/videos?view=2&amp;live_view=501&amp;flow=grid</string>
		<key>http</key>
		<string>https://www.telesurtv.net/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Globovisión</string>
		<key>logo</key>
		<string>Globovision</string>
		<key>link</key>
		<string>http://globovision.com/programas/en-vivo</string>
		<key>http</key>
		<string>https://www.youtube.com/channel/UCfJtBtmhnIyfUB6RqXeImMw/videos?view=2&amp;flow=grid&amp;live_view=501</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Televen</string>
		<key>logo</key>
		<string>Televen</string>
		<key>link</key>
		<string>http://www.televen.com/</string>
		<key>http</key>
		<string>http://www.televen.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Vepaco</string>
		<key>logo</key>
		<string>Vepaco</string>
		<key>link</key>
		<string>http://vepacotv.com.ve/</string>
		<key>http</key>
		<string>http://vepacotv.com.ve/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Canal i</string>
		<key>logo</key>
		<string>Canal</string>
		<key>link</key>
		<string>http://www.canal-i.com/seal-en-vivo</string>
		<key>http</key>
		<string>http://www.canal-i.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Venezuela</string>
		<key>logo</key>
		<string>Venezuela</string>
		<key>link</key>
		<string>https://www.tvvenezuela.tv/senal-en-vivo/</string>
		<key>http</key>
		<string>https://www.tvvenezuela.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Vale</string>
		<key>logo</key>
		<string>Vale</string>
		<key>link</key>
		<string>http://www.lorini.net/valetv/</string>
		<key>http</key>
		<string>http://www.valetv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Colombeia</string>
		<key>logo</key>
		<string>Colombeia</string>
		<key>link</key>
		<string>http://www.colombeia.edu.ve/?page_id=2156</string>
		<key>http</key>
		<string>http://www.colombeia.edu.ve</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Reforma</string>
		<key>logo</key>
		<string>Reforma</string>
		<key>link</key>
		<string>http://www.reformatv.net/reforma-tv-ver-television-cristiana-en-vivo-por-internet-gratis/</string>
		<key>http</key>
		<string>http://www.reformatv.net</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Familia</string>
		<key>logo</key>
		<string>Familia</string>
		<key>link</key>
		<string>http://www.tvfamilia.com/index.php/senal-en-vivo</string>
		<key>http</key>
		<string>http://www.tvfamilia.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Anzoátegui</string>
		<key>logo</key>
		<string>Anzoategui</string>
		<key>link</key>
		<string>http://anzoateguitv.com/senal-en-vivo/</string>
		<key>http</key>
		<string>http://anzoateguitv.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Orbita</string>
		<key>logo</key>
		<string>Orbita</string>
		<key>link</key>
		<string>http://orbitatv.com/</string>
		<key>http</key>
		<string>http://orbitatv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TVO</string>
		<key>logo</key>
		<string>TVO</string>
		<key>link</key>
		<string>http://www.tvo.com.ve/</string>
		<key>http</key>
		<string>http://www.tvo.com.ve/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Promar</string>
		<key>logo</key>
		<string>Promar</string>
		<key>link</key>
		<string>http://promar.tv/senal-en-vivo/</string>
		<key>http</key>
		<string>http://promar.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Isla</string>
		<key>logo</key>
		<string>Isla</string>
		<key>link</key>
		<string>http://www.islatv.com.ve/</string>
		<key>http</key>
		<string>http://www.islatv.com.ve/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Once Del Zulia</string>
		<key>logo</key>
		<string>Once</string>
		<key>link</key>
		<string>http://www.canal11delzulia.com.ve/senal-en-vivo/</string>
		<key>http</key>
		<string>http://www.canal11delzulia.com.ve</string>
	</dict>
</array>
</plist>
