<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1</string>
		<key>Back</key>
		<string>1</string>
		<key>Banner</key>
		<string>1</string>
		<key>Show1</key>
		<string>1</string>
		<key>Show2</key>
		<string>1</string>
		<key>Show3</key>
		<string>1</string>
		<key>Show4</key>
		<string>1</string>
		<key>Alarm</key>
		<string>1</string>
		<key>CustomBanner</key>
		<string>1</string>
		<key>CustomSplash</key>
		<string>1</string>
		<key>Header</key>
		<string>1</string>
		<key>Footer</key>
		<string>1</string>
		<key>Email</key>
		<string>1</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1</string>
		<key>Developer</key>
		<string>1</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Bula FM</string>
			<key>logo</key>
			<string>Bula</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/bula-fm,11107.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mirchi FM 98.3</string>
			<key>logo</key>
			<string>Mirchi</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/mirchi-fm,17126.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-mirchi,11108.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mirchi PEHLA NASHA</string>
			<key>logo</key>
			<string>PEHLA</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/mirchi-pehla-nasha,18455.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio 2Day FM Suva</string>
			<key>logo</key>
			<string>2Day</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-2day-fm-suva,11110.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Fiji Gold</string>
			<key>logo</key>
			<string>Gold</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-fiji-gold,11109.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Fiji One</string>
			<key>logo</key>
			<string>One</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-fiji-one,11105.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Fiji Two</string>
			<key>logo</key>
			<string>Two</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-fiji-two,11106.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Tarana</string>
			<key>logo</key>
			<string>Tarana</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-tarana,17002.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio 1</string>
			<key>logo</key>
			<string>1</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-1,14111.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Tahiti</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Maria No Te Hau</string>
			<key>logo</key>
			<string>Maria</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-maria-no-te-hau,898.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Tahiti</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tiare FM</string>
			<key>logo</key>
			<string>Tiare</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/tiare-fm,899.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Tahiti</string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
