<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>ПЕРВЫЙ</string>
		<key>logo</key>
		<string>1</string>
		<key>link</key>
		<string>https://www.1tv.ru/live</string>
		<key>http</key>
		<string>http://www.1tv.ru/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>euronews Россия</string>
		<key>logo</key>
		<string>euronews</string>
		<key>link</key>
		<string>http://ru.euronews.com/live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/euronewsru/videos?flow=grid&amp;live_view=501&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>РБК</string>
		<key>logo</key>
		<string>rbc</string>
		<key>link</key>
		<string>http://tv.rbc.ru/</string>
		<key>http</key>
		<string>http://tv.rbc.ru/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RT News</string>
		<key>logo</key>
		<string>RT1</string>
		<key>link</key>
		<string>https://www.rt.com/on-air/embed/</string>
		<key>http</key>
		<string>https://www.rt.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ОТР</string>
		<key>logo</key>
		<string>otr</string>
		<key>link</key>
		<string>http://www.otr-online.ru/online/</string>
		<key>http</key>
		<string>http://www.otr-online.ru/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Europa Plus ТВ</string>
		<key>logo</key>
		<string>Europa</string>
		<key>link</key>
		<string>http://www.europaplustv.com/online</string>
		<key>http</key>
		<string>http://www.europaplustv.com/online-new</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Европа Плюс</string>
		<key>logo</key>
		<string>Plus</string>
		<key>link</key>
		<string>http://www.europaplus.ru/live</string>
		<key>http</key>
		<string>http://www.europaplus.ru</string>
	</dict>
	<dict>
		<key>name</key>
		<string>НТВ</string>
		<key>logo</key>
		<string>NTV1</string>
		<key>link</key>
		<string>https://www.youtube.com/user/ntvru/videos?view=2&amp;live_view=501&amp;flow=grid</string>
		<key>http</key>
		<string>http://www.ntv.ru/air</string>
	</dict>
	<dict>
		<key>name</key>
		<string>НТВ-Стиль</string>
		<key>logo</key>
		<string>NTV2</string>
		<key>link</key>
		<string>http://www.ntv.ru/air/ntvstyle</string>
		<key>http</key>
		<string>http://www.ntv.ru/air</string>
	</dict>
	<dict>
		<key>name</key>
		<string>НТВ-Право</string>
		<key>logo</key>
		<string>NTV3</string>
		<key>link</key>
		<string>http://www.ntv.ru/air/ntvlaw</string>
		<key>http</key>
		<string>http://www.ntv.ru/air</string>
	</dict>
	<dict>
		<key>name</key>
		<string>НТВ-Сериал</string>
		<key>logo</key>
		<string>NTV4</string>
		<key>link</key>
		<string>http://www.ntv.ru/air/ntvseries</string>
		<key>http</key>
		<string>http://www.ntv.ru/air</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Настоящее Время</string>
		<key>logo</key>
		<string>Current</string>
		<key>link</key>
		<string>https://www.currenttime.tv/live</string>
		<key>http</key>
		<string>https://www.currenttime.tv/live/video/92</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Телеканал Ю</string>
		<key>logo</key>
		<string>U</string>
		<key>link</key>
		<string>https://www.u-tv.ru/online/</string>
		<key>http</key>
		<string>https://www.u-tv.ru</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MUSICBOX GOLD</string>
		<key>logo</key>
		<string>musicbox-tv</string>
		<key>link</key>
		<string>http://www.mboxtv.ru/pryamoj-efir</string>
		<key>http</key>
		<string>http://www.mboxtv.ru/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MUSICBOX</string>
		<key>logo</key>
		<string>musicbox</string>
		<key>link</key>
		<string>https://musicboxtv.ru/musicbox-online/</string>
		<key>http</key>
		<string>https://musicboxtv.ru</string>
	</dict>
	<dict>
		<key>name</key>
		<string>8</string>
		<key>logo</key>
		<string>8</string>
		<key>link</key>
		<string>http://live.proofix.ru/embed/tv8.php</string>
		<key>http</key>
		<string>http://www.8tv.ru/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Первый Тульский</string>
		<key>logo</key>
		<string>1tul</string>
		<key>link</key>
		<string>https://1tulatv.ru/live</string>
		<key>http</key>
		<string>https://1tulatv.ru/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ямал-Регион</string>
		<key>logo</key>
		<string>yamal</string>
		<key>link</key>
		<string>https://yamal-region.tv/on-line/</string>
		<key>http</key>
		<string>https://yamal-region.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Своё (Ставропольское телевидение)</string>
		<key>logo</key>
		<string>stv</string>
		<key>link</key>
		<string>https://stv24.tv/online/</string>
		<key>http</key>
		<string>https://stv24.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RT USA</string>
		<key>logo</key>
		<string>RT2</string>
		<key>link</key>
		<string>https://www.rt.com/on-air/rt-america-air/embed/</string>
		<key>http</key>
		<string>https://www.rt.com/on-air/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RT UK</string>
		<key>logo</key>
		<string>RT3</string>
		<key>link</key>
		<string>https://www.rt.com/on-air/rt-uk-air/embed/</string>
		<key>http</key>
		<string>https://www.rt.com/on-air/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RT Документальный</string>
		<key>logo</key>
		<string>RT4</string>
		<key>link</key>
		<string>https://rtd.rt.com/on-air/</string>
		<key>http</key>
		<string>https://rtd.rt.com/on-air/embed/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>РЖД</string>
		<key>logo</key>
		<string>RZD</string>
		<key>link</key>
		<string>http://rzdtv.ru/onair/</string>
		<key>http</key>
		<string>http://rzdtv.ru/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Шансон</string>
		<key>logo</key>
		<string>shanson</string>
		<key>link</key>
		<string>http://www.shanson.tv/</string>
		<key>http</key>
		<string>http://www.shanson.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ТУГАН ТЕЛ</string>
		<key>logo</key>
		<string>tugan</string>
		<key>link</key>
		<string>http://www.tugantel.tv/</string>
		<key>http</key>
		<string>http://www.tugantel.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SHOPPING-LIVE</string>
		<key>logo</key>
		<string>shopping</string>
		<key>link</key>
		<string>https://www.shoppinglive.ru/online</string>
		<key>http</key>
		<string>https://www.shoppinglive.ru</string>
	</dict>
	<dict>
		<key>name</key>
		<string>СИНЕРГИЯ ТВ</string>
		<key>logo</key>
		<string>synergy</string>
		<key>link</key>
		<string>https://synergytv.ru/</string>
		<key>http</key>
		<string>https://synergytv.ru/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ТЕЛЕДОМ</string>
		<key>logo</key>
		<string>teledom</string>
		<key>link</key>
		<string>http://teledom.tv/</string>
		<key>http</key>
		<string>http://teledom.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>НИКА</string>
		<key>logo</key>
		<string>nika</string>
		<key>link</key>
		<string>https://nikatv.ru/tv/online-veschanie</string>
		<key>http</key>
		<string>https://nikatv.ru</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Мир Белогорья</string>
		<key>logo</key>
		<string>mb</string>
		<key>link</key>
		<string>http://mirbelogorya.ru/live.html</string>
		<key>http</key>
		<string>http://mirbelogorya.ru/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ТРИ АНГЕЛА</string>
		<key>logo</key>
		<string>3</string>
		<key>link</key>
		<string>http://www.3angels.ru/air/online/</string>
		<key>http</key>
		<string>http://www.3angels.ru/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Радость Моя</string>
		<key>logo</key>
		<string>radost</string>
		<key>link</key>
		<string>http://www.radostmoya.ru/online/</string>
		<key>http</key>
		<string>http://www.radostmoya.ru/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ПРОСВЕЩЕНИЕ</string>
		<key>logo</key>
		<string>prosvesh</string>
		<key>link</key>
		<string>http://www.prosveshenie.tv/</string>
		<key>http</key>
		<string>http://www.prosveshenie.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>BEPA 24</string>
		<key>logo</key>
		<string>BEPA</string>
		<key>link</key>
		<string>https://vera24.tv/online/</string>
		<key>http</key>
		<string>https://vera24.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Т Б Н</string>
		<key>logo</key>
		<string>tbn</string>
		<key>link</key>
		<string>https://tbn-tv.com/online-us/</string>
		<key>http</key>
		<string>https://tbn-tv.com/online/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Раз</string>
		<key>logo</key>
		<string>Raz</string>
		<key>link</key>
		<string>http://www.raz.tv/live-mnu/livevideo-mnu</string>
		<key>http</key>
		<string>http://www.raz.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Надежда</string>
		<key>logo</key>
		<string>Hope</string>
		<key>link</key>
		<string>https://hopetv.ru/</string>
		<key>http</key>
		<string>https://hopetv.ru/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Russian Extreme</string>
		<key>logo</key>
		<string>Extreme</string>
		<key>link</key>
		<string>http://www.extremtv.ru/</string>
		<key>http</key>
		<string>http://www.extremtv.ru/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RU.TV</string>
		<key>logo</key>
		<string>RUTV</string>
		<key>link</key>
		<string>http://ru.tv/watch/online/</string>
		<key>http</key>
		<string>http://ru.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>1HD Music</string>
		<key>logo</key>
		<string>1HD</string>
		<key>link</key>
		<string>http://1hd.ru/</string>
		<key>http</key>
		<string>http://1hd.ru/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>HardLife</string>
		<key>logo</key>
		<string>HardLife</string>
		<key>link</key>
		<string>http://hardlife.tv/</string>
		<key>http</key>
		<string>http://hardlife.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Global Star</string>
		<key>logo</key>
		<string>Global</string>
		<key>link</key>
		<string>http://www.globalstar.tv/online.aspx</string>
		<key>http</key>
		<string>http://www.globalstar.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Top Shop</string>
		<key>logo</key>
		<string>Shop</string>
		<key>link</key>
		<string>http://www.top-shop.ru/genre/12-tv-tovary/</string>
		<key>http</key>
		<string>https://www.youtube.com/user/TopShopRU/videos?live_view=501&amp;flow=grid&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Impact</string>
		<key>logo</key>
		<string>Impact</string>
		<key>link</key>
		<string>http://206.190.141.27:1935/live/impact.smil/playlist.m3u8</string>
		<key>http</key>
		<string>http://impacttv.tv/onlinetv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Брат</string>
		<key>logo</key>
		<string>Brat</string>
		<key>link</key>
		<string>http://www.ibrattv.com/broadcasting-ru/</string>
		<key>http</key>
		<string>http://www.ibrattv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Первый христианский</string>
		<key>logo</key>
		<string>CNL</string>
		<key>link</key>
		<string>https://cnl.tv/live#cnl-eu</string>
		<key>http</key>
		<string>https://cnl.tv/live</string>
	</dict>
	<dict>
		<key>name</key>
		<string>РГВК Дагестан</string>
		<key>logo</key>
		<string>Dagestan</string>
		<key>link</key>
		<string>http://www.rgvktv.ru/live</string>
		<key>http</key>
		<string>http://www.rgvktv.ru</string>
	</dict>
	<dict>
		<key>name</key>
		<string>26 РЕГИОН</string>
		<key>logo</key>
		<string>26</string>
		<key>link</key>
		<string>https://frontend.vh.yandex.ru/player/4353bd946f8a1c628afc5faf901ebf7e?from=26region.tv</string>
		<key>http</key>
		<string>https://26region.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>K24 Катунь</string>
		<key>logo</key>
		<string>K24</string>
		<key>link</key>
		<string>https://katun24.ru/k24</string>
		<key>http</key>
		<string>https://katun24.ru</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Краснодар</string>
		<key>logo</key>
		<string>Krasnodar</string>
		<key>link</key>
		<string>https://tvkrasnodar.ru/tv/pryamoy-efir/</string>
		<key>http</key>
		<string>https://tvkrasnodar.ru</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Югра</string>
		<key>logo</key>
		<string>Ugra</string>
		<key>link</key>
		<string>https://ugra-tv.ru/online/</string>
		<key>http</key>
		<string>https://ugra-tv.ru</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Курай ТВ</string>
		<key>logo</key>
		<string>Kuray</string>
		<key>link</key>
		<string>http://xn--80asbyo.tv/</string>
		<key>http</key>
		<string>http://xn--80asbyo.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Салям</string>
		<key>logo</key>
		<string>Salam</string>
		<key>link</key>
		<string>https://bash.news/salyam</string>
		<key>http</key>
		<string>https://bash.news</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ЛенТВ 24</string>
		<key>logo</key>
		<string>24</string>
		<key>link</key>
		<string>https://lentv24.ru/timetable/</string>
		<key>http</key>
		<string>https://lentv24.ru</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Санкт-Петербург</string>
		<key>logo</key>
		<string>Sankt</string>
		<key>link</key>
		<string>https://topspb.tv/live/</string>
		<key>http</key>
		<string>https://topspb.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Эхо</string>
		<key>logo</key>
		<string>Exo</string>
		<key>link</key>
		<string>https://echotv.ru/</string>
		<key>http</key>
		<string>https://echotv.ru/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Красная Линия</string>
		<key>logo</key>
		<string>Red</string>
		<key>link</key>
		<string>https://www.rline.tv/</string>
		<key>http</key>
		<string>https://www.rline.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bridge</string>
		<key>logo</key>
		<string>Bridge</string>
		<key>link</key>
		<string>https://bridgetv.ru/show-player/</string>
		<key>http</key>
		<string>https://bridgetv.ru</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DMC MUSIC</string>
		<key>logo</key>
		<string>DMC</string>
		<key>link</key>
		<string>https://dmcmusic.tv/livevideo</string>
		<key>http</key>
		<string>https://dmcmusic.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Страна FM</string>
		<key>logo</key>
		<string>Strana</string>
		<key>link</key>
		<string>https://strana.fm/tv/</string>
		<key>http</key>
		<string>https://strana.fm/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>МУЗСОЮЗ</string>
		<key>logo</key>
		<string>MuzSouz</string>
		<key>link</key>
		<string>https://muz.tv-soyuz.ru/</string>
		<key>http</key>
		<string>https://muz.tv-soyuz.ru/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Смайлик</string>
		<key>logo</key>
		<string>Smilik</string>
		<key>link</key>
		<string>https://smilik.tv/tv-online/</string>
		<key>http</key>
		<string>https://smilik.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ВИТРИНА</string>
		<key>logo</key>
		<string>Vitrina</string>
		<key>link</key>
		<string>http://vitrinatv.ru/</string>
		<key>http</key>
		<string>http://vitrinatv.ru/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Вместе-РФ</string>
		<key>logo</key>
		<string>vmeste</string>
		<key>link</key>
		<string>https://vmeste-rf.tv/live/</string>
		<key>http</key>
		<string>https://vmeste-rf.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Эфир</string>
		<key>logo</key>
		<string>Kazan</string>
		<key>link</key>
		<string>http://www.efir24.tv/kazan/player/efir.php</string>
		<key>http</key>
		<string>http://www.efir24.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Кубань 24</string>
		<key>logo</key>
		<string>Kuban</string>
		<key>link</key>
		<string>http://kuban24.tv/tv/</string>
		<key>http</key>
		<string>http://kuban24.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>АТВмедиа</string>
		<key>logo</key>
		<string>ATV</string>
		<key>link</key>
		<string>http://atvmedia.ru/</string>
		<key>http</key>
		<string>http://atvmedia.ru/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Каббала</string>
		<key>logo</key>
		<string>Kabbalah</string>
		<key>link</key>
		<string>http://www.kab.tv/rus</string>
		<key>http</key>
		<string>http://www.kab.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>FRESHTV</string>
		<key>logo</key>
		<string>FRESHTV</string>
		<key>link</key>
		<string>http://www.planeta-online.tv/channels/4/live.html</string>
		<key>http</key>
		<string>http://www.planeta-online.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TBTYP</string>
		<key>logo</key>
		<string>TBTYP</string>
		<key>link</key>
		<string>http://www.planeta-online.tv/channels/2/live.html</string>
		<key>http</key>
		<string>http://www.planeta-online.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Премьера</string>
		<key>logo</key>
		<string>Prem</string>
		<key>link</key>
		<string>http://www.planeta-online.tv/channels/5/live.html</string>
		<key>http</key>
		<string>http://www.planeta-online.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Любимое</string>
		<key>logo</key>
		<string>Lubimoe</string>
		<key>link</key>
		<string>http://www.planeta-online.tv/channels/6/live.html</string>
		<key>http</key>
		<string>http://www.planeta-online.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Бьюти</string>
		<key>logo</key>
		<string>Beauty</string>
		<key>link</key>
		<string>http://www.planeta-online.tv/channels/134/live.html</string>
		<key>http</key>
		<string>http://www.planeta-online.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Вкусное</string>
		<key>logo</key>
		<string>Vkusnoe</string>
		<key>link</key>
		<string>http://www.planeta-online.tv/channels/133/live.html</string>
		<key>http</key>
		<string>http://www.planeta-online.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Релакс</string>
		<key>logo</key>
		<string>Relax</string>
		<key>link</key>
		<string>http://www.planeta-online.tv/channels/3/live.html</string>
		<key>http</key>
		<string>http://www.planeta-online.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Дайвинг</string>
		<key>logo</key>
		<string>Diving</string>
		<key>link</key>
		<string>http://www.planeta-online.tv/channels/130/live.html</string>
		<key>http</key>
		<string>http://www.planeta-online.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Радио FRESH</string>
		<key>logo</key>
		<string>FRESH</string>
		<key>link</key>
		<string>http://www.planeta-online.tv/channels/13/live.html</string>
		<key>http</key>
		<string>http://www.planeta-online.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Супер</string>
		<key>logo</key>
		<string>Super</string>
		<key>link</key>
		<string>https://superkanal.ru/live</string>
		<key>http</key>
		<string>https://superkanal.ru</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Жар-Птица</string>
		<key>logo</key>
		<string>Zhar</string>
		<key>link</key>
		<string>http://www.zhar-ptica.tv/</string>
		<key>http</key>
		<string>http://www.zhar-ptica.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Калейдоскоп</string>
		<key>logo</key>
		<string>Kaleydoskop</string>
		<key>link</key>
		<string>http://www.kaleidoskoptv.tv/online/</string>
		<key>http</key>
		<string>http://www.kaleidoskoptv.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Точка</string>
		<key>logo</key>
		<string>Tochka</string>
		<key>link</key>
		<string>https://tochkatv.tv/onlajn-veshhanie.html</string>
		<key>http</key>
		<string>https://tochkatv.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>UNIVER</string>
		<key>logo</key>
		<string>UNIVER</string>
		<key>link</key>
		<string>https://universmotri.ru/index.php/live/univertv</string>
		<key>http</key>
		<string>https://universmotri.ru</string>
	</dict>
	<dict>
		<key>name</key>
		<string>КФУ</string>
		<key>logo</key>
		<string>KFU</string>
		<key>link</key>
		<string>https://universmotri.ru/index.php/live/kfutv</string>
		<key>http</key>
		<string>https://universmotri.ru/index.php/live/kfutv-2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Океан</string>
		<key>logo</key>
		<string>OCEAN</string>
		<key>link</key>
		<string>http://ocean-tv.media/programma/</string>
		<key>http</key>
		<string>http://ocean-tv.media</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Большая Азия</string>
		<key>logo</key>
		<string>Big</string>
		<key>link</key>
		<string>https://bigasia.ru/tv/</string>
		<key>http</key>
		<string>https://bigasia.ru</string>
	</dict>
	<dict>
		<key>name</key>
		<string>7</string>
		<key>logo</key>
		<string>7</string>
		<key>link</key>
		<string>http://7-tv.tv/</string>
		<key>http</key>
		<string>http://7-tv.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TVM</string>
		<key>logo</key>
		<string>TVM</string>
		<key>link</key>
		<string>https://tvmchannel.ru/</string>
		<key>http</key>
		<string>http://tvmchannel.ru/videoplayer1.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Продвижение</string>
		<key>logo</key>
		<string>Prod</string>
		<key>link</key>
		<string>https://pro-tv.info/live/</string>
		<key>http</key>
		<string>https://pro-tv.info</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Министерство Идей</string>
		<key>logo</key>
		<string>Idey</string>
		<key>link</key>
		<string>https://minidey.ru/prjamoj-jefir/</string>
		<key>http</key>
		<string>https://minidey.ru</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Russian America</string>
		<key>logo</key>
		<string>America</string>
		<key>link</key>
		<string>https://russianamerica.tv/live-stream</string>
		<key>http</key>
		<string>https://russianamerica.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Волга</string>
		<key>logo</key>
		<string>Volga</string>
		<key>link</key>
		<string>https://www.volga-tv.ru/live/</string>
		<key>http</key>
		<string>https://www.volga-tv.ru</string>
	</dict>
	<dict>
		<key>name</key>
		<string>OTB Екатеринбург</string>
		<key>logo</key>
		<string>OTB</string>
		<key>link</key>
		<string>https://www.obltv.ru/broadcasting/online/</string>
		<key>http</key>
		<string>https://www.obltv.ru</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Каскад Калининград</string>
		<key>logo</key>
		<string>Kaskad</string>
		<key>link</key>
		<string>https://kaskad.tv/efir</string>
		<key>http</key>
		<string>https://kaskad.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Солнечногорское</string>
		<key>logo</key>
		<string>Soln</string>
		<key>link</key>
		<string>https://solntv.ru/</string>
		<key>http</key>
		<string>https://solntv.ru/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TBP24 Сергиев Посад</string>
		<key>logo</key>
		<string>TBP24</string>
		<key>link</key>
		<string>https://tvr24.tv/live-broadcast</string>
		<key>http</key>
		<string>https://tvr24.tv/playlist.m3u</string>
	</dict>
	<dict>
		<key>name</key>
		<string>HHTB (Н. Новгород)</string>
		<key>logo</key>
		<string>HHTB</string>
		<key>link</key>
		<string>http://nntv.tv/online</string>
		<key>http</key>
		<string>http://nntv.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Губерния 33 Владимир</string>
		<key>logo</key>
		<string>Vladimir</string>
		<key>link</key>
		<string>https://trc33.ru/tv/</string>
		<key>http</key>
		<string>https://trc33.ru</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Чӑваш Ен</string>
		<key>logo</key>
		<string>Chavash</string>
		<key>link</key>
		<string>http://www.ntrk21.ru/live</string>
		<key>http</key>
		<string>http://www.ntrk21.ru</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Maidan</string>
		<key>logo</key>
		<string>Maidan</string>
		<key>link</key>
		<string>https://maidan.tv/</string>
		<key>http</key>
		<string>https://maidan.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Хузур</string>
		<key>logo</key>
		<string>Huzur</string>
		<key>link</key>
		<string>http://playercdn.cdnvideo.ru/aloha/players/mycdn08724960135_player_stream1.html</string>
		<key>http</key>
		<string>http://huzurtv.ru/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>АРИС</string>
		<key>logo</key>
		<string>Aris</string>
		<key>link</key>
		<string>http://aris-tv.ru/aris-24</string>
		<key>http</key>
		<string>http://aris-tv.ru</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Вся Уфа</string>
		<key>logo</key>
		<string>Ufa</string>
		<key>link</key>
		<string>https://www.allufa.ru/online/</string>
		<key>http</key>
		<string>https://www.allufa.ru</string>
	</dict>
	<dict>
		<key>name</key>
		<string>OTC</string>
		<key>logo</key>
		<string>OTC</string>
		<key>link</key>
		<string>http://otstv.ru/efirots.php</string>
		<key>http</key>
		<string>http://otstv.ru</string>
	</dict>
	<dict>
		<key>name</key>
		<string>8 Новосибирск</string>
		<key>logo</key>
		<string>Novosibirsk</string>
		<key>link</key>
		<string>http://nsk.8tv.ru/bc.html</string>
		<key>http</key>
		<string>http://nsk.8tv.ru/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>12 Канал Омск</string>
		<key>logo</key>
		<string>12</string>
		<key>link</key>
		<string>https://12-kanal.ru/online/</string>
		<key>http</key>
		<string>https://12-kanal.ru</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Сочи 24</string>
		<key>logo</key>
		<string>Sochi</string>
		<key>link</key>
		<string>https://sochi24.tv/online</string>
		<key>http</key>
		<string>https://sochi24.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SOCHI LIVE</string>
		<key>logo</key>
		<string>SOCH</string>
		<key>link</key>
		<string>https://sochilive.tv/#translation</string>
		<key>http</key>
		<string>https://sochilive.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Инфо 24</string>
		<key>logo</key>
		<string>Info24</string>
		<key>link</key>
		<string>http://info24tv.ru/online/</string>
		<key>http</key>
		<string>http://info24tv.ru/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ингушетия</string>
		<key>logo</key>
		<string>Ingushetiya</string>
		<key>link</key>
		<string>https://ingushetiya.tv/pryamoy-yefir/</string>
		<key>http</key>
		<string>https://ingushetiya.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Губерния Хабаровск</string>
		<key>logo</key>
		<string>Gubernia</string>
		<key>link</key>
		<string>https://www.gubernia.com/projects/online/</string>
		<key>http</key>
		<string>https://www.gubernia.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CEBEP</string>
		<key>logo</key>
		<string>CEBEP</string>
		<key>link</key>
		<string>http://trksever.ru/on-line/</string>
		<key>http</key>
		<string>http://trksever.ru</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Юрган (Сыктывкар)</string>
		<key>logo</key>
		<string>Urgan</string>
		<key>link</key>
		<string>http://www.xn--80af5aj3e.xn--p1ai/online</string>
		<key>http</key>
		<string>http://www.xn--80af5aj3e.xn--p1ai/</string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>logo</key>
		<string></string>
		<key>link</key>
		<string></string>
		<key>http</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>logo</key>
		<string></string>
		<key>link</key>
		<string></string>
		<key>http</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>logo</key>
		<string></string>
		<key>link</key>
		<string></string>
		<key>http</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>logo</key>
		<string></string>
		<key>link</key>
		<string></string>
		<key>http</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>logo</key>
		<string></string>
		<key>link</key>
		<string></string>
		<key>http</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>logo</key>
		<string></string>
		<key>link</key>
		<string></string>
		<key>http</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>logo</key>
		<string></string>
		<key>link</key>
		<string></string>
		<key>http</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>logo</key>
		<string></string>
		<key>link</key>
		<string></string>
		<key>http</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>logo</key>
		<string></string>
		<key>link</key>
		<string></string>
		<key>http</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>logo</key>
		<string></string>
		<key>link</key>
		<string></string>
		<key>http</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>logo</key>
		<string></string>
		<key>link</key>
		<string></string>
		<key>http</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>logo</key>
		<string></string>
		<key>link</key>
		<string></string>
		<key>http</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>logo</key>
		<string></string>
		<key>link</key>
		<string></string>
		<key>http</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>logo</key>
		<string></string>
		<key>link</key>
		<string></string>
		<key>http</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>logo</key>
		<string></string>
		<key>link</key>
		<string></string>
		<key>http</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>logo</key>
		<string></string>
		<key>link</key>
		<string></string>
		<key>http</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>logo</key>
		<string></string>
		<key>link</key>
		<string></string>
		<key>http</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>logo</key>
		<string></string>
		<key>link</key>
		<string></string>
		<key>http</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>logo</key>
		<string></string>
		<key>link</key>
		<string></string>
		<key>http</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>logo</key>
		<string></string>
		<key>link</key>
		<string></string>
		<key>http</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>logo</key>
		<string></string>
		<key>link</key>
		<string></string>
		<key>http</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>logo</key>
		<string></string>
		<key>link</key>
		<string></string>
		<key>http</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>logo</key>
		<string></string>
		<key>link</key>
		<string></string>
		<key>http</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>logo</key>
		<string></string>
		<key>link</key>
		<string></string>
		<key>http</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>logo</key>
		<string></string>
		<key>link</key>
		<string></string>
		<key>http</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>logo</key>
		<string></string>
		<key>link</key>
		<string></string>
		<key>http</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>logo</key>
		<string></string>
		<key>link</key>
		<string></string>
		<key>http</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>logo</key>
		<string></string>
		<key>link</key>
		<string></string>
		<key>http</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>logo</key>
		<string></string>
		<key>link</key>
		<string></string>
		<key>http</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>logo</key>
		<string></string>
		<key>link</key>
		<string></string>
		<key>http</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>logo</key>
		<string></string>
		<key>link</key>
		<string></string>
		<key>http</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>logo</key>
		<string></string>
		<key>link</key>
		<string></string>
		<key>http</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>logo</key>
		<string></string>
		<key>link</key>
		<string></string>
		<key>http</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>logo</key>
		<string></string>
		<key>link</key>
		<string></string>
		<key>http</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>logo</key>
		<string></string>
		<key>link</key>
		<string></string>
		<key>http</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>logo</key>
		<string></string>
		<key>link</key>
		<string></string>
		<key>http</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>logo</key>
		<string></string>
		<key>link</key>
		<string></string>
		<key>http</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>logo</key>
		<string></string>
		<key>link</key>
		<string></string>
		<key>http</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>logo</key>
		<string></string>
		<key>link</key>
		<string></string>
		<key>http</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>logo</key>
		<string></string>
		<key>link</key>
		<string></string>
		<key>http</key>
		<string></string>
	</dict>
</array>
</plist>
