<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>ИКС-ТВ Севастополь</string>
		<key>logo</key>
		<string>iks</string>
		<key>link</key>
		<string>http://www.ustream.tv/embed/7958810?html5ui</string>
		<key>http</key>
		<string>http://ikstv.ru/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>KURGAN</string>
		<key>logo</key>
		<string>kurgan</string>
		<key>link</key>
		<string>http://www.ustream.tv/embed/18185333?html5ui</string>
		<key>http</key>
		<string>http://www.kurgan.ru/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Первый Тульский</string>
		<key>logo</key>
		<string>1tul</string>
		<key>link</key>
		<string>http://www.ustream.tv/embed/18213437?html5ui </string>
		<key>http</key>
		<string>http://1tulatv.ru/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>МТВ Столица</string>
		<key>logo</key>
		<string>mtv</string>
		<key>link</key>
		<string>http://www.ustream.tv/embed/18605731?html5ui</string>
		<key>http</key>
		<string>http://mtv-stolica.ru/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ямал-Регион</string>
		<key>logo</key>
		<string>yamal</string>
		<key>link</key>
		<string>http://www.ustream.tv/embed/16143936?html5ui</string>
		<key>http</key>
		<string>http://yamal-region.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ставропольское телевидение</string>
		<key>logo</key>
		<string>stv</string>
		<key>link</key>
		<string>http://www.ustream.tv/embed/21513552?html5ui</string>
		<key>http</key>
		<string>http://stv24.tv/index.php</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Народный Канал</string>
		<key>logo</key>
		<string>nk</string>
		<key>link</key>
		<string>https://www.youtube.com/watch?v=Du_KYJEIpm8</string>
		<key>http</key>
		<string>http://tvnk.ru/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ЕДА</string>
		<key>logo</key>
		<string>eda</string>
		<key>link</key>
		<string>https://www.youtube.com/watch?v=043IEMz9WaY</string>
		<key>http</key>
		<string>http://www.tveda.ru/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ТРО</string>
		<key>logo</key>
		<string>tro</string>
		<key>link</key>
		<string>http://www.tro-soyuz.com/channel-tro/online/</string>
		<key>http</key>
		<string>http://www.tro-soyuz.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ОТР</string>
		<key>logo</key>
		<string>otr</string>
		<key>link</key>
		<string>http://www.otr-online.ru/online/</string>
		<key>http</key>
		<string>http://www.otr-online.ru/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>LIFENEWS</string>
		<key>logo</key>
		<string>LIFENEWS</string>
		<key>link</key>
		<string>http://lifenews.ru/watch-live</string>
		<key>http</key>
		<string>http://lifenews.ru/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RT News</string>
		<key>logo</key>
		<string>RT</string>
		<key>link</key>
		<string>https://www.rt.com/on-air/embed/</string>
		<key>http</key>
		<string>https://www.rt.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RT USA</string>
		<key>logo</key>
		<string>RT1</string>
		<key>link</key>
		<string>https://www.rt.com/on-air/rt-america-air/embed/</string>
		<key>http</key>
		<string>https://www.rt.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RT UK</string>
		<key>logo</key>
		<string>RT2</string>
		<key>link</key>
		<string>https://www.rt.com/on-air/rt-uk-air/embed/</string>
		<key>http</key>
		<string>https://www.rt.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RT Документальный</string>
		<key>logo</key>
		<string>RT3</string>
		<key>link</key>
		<string>https://rtd.rt.com/on-air/embed/</string>
		<key>http</key>
		<string>https://www.rt.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>8</string>
		<key>logo</key>
		<string>8</string>
		<key>link</key>
		<string>http://www.8tv.ru/tv-projects/watch-online/</string>
		<key>http</key>
		<string>http://www.8tv.ru/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>РЖД</string>
		<key>logo</key>
		<string>RZD</string>
		<key>link</key>
		<string>http://www.rzdtv.ru/onair/</string>
		<key>http</key>
		<string>http://www.rzdtv.ru/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>O2</string>
		<key>logo</key>
		<string>O2</string>
		<key>link</key>
		<string>http://o2tv.ru/?page_id=4164</string>
		<key>http</key>
		<string>http://o2tv.ru/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ЮМОР</string>
		<key>logo</key>
		<string>humor-tv</string>
		<key>link</key>
		<string>http://www.humor-tv.com/</string>
		<key>http</key>
		<string>http://www.humor-tv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MUSICBOX</string>
		<key>logo</key>
		<string>musicbox-tv</string>
		<key>link</key>
		<string>http://www.mboxtv.ru/</string>
		<key>http</key>
		<string>http://www.mboxtv.ru/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ПЕРВЫЙ</string>
		<key>logo</key>
		<string>1</string>
		<key>link</key>
		<string>http://stream.1tv.ru/live/</string>
		<key>http</key>
		<string>http://www.1tv.ru/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NEBISET</string>
		<key>logo</key>
		<string>NEBISET</string>
		<key>link</key>
		<string>http://www.nebiset.tv/</string>
		<key>http</key>
		<string>http://www.nebiset.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Шансон</string>
		<key>logo</key>
		<string>shanson</string>
		<key>link</key>
		<string>http://www.shanson.tv/</string>
		<key>http</key>
		<string>http://www.shanson.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ТУГАН ТЕЛ</string>
		<key>logo</key>
		<string>tugan</string>
		<key>link</key>
		<string>http://www.tugantel.tv/</string>
		<key>http</key>
		<string>http://www.tugantel.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>JUCE</string>
		<key>logo</key>
		<string>JUCE</string>
		<key>link</key>
		<string>http://b.tbnit.spb.ru/player/jucetv.html </string>
		<key>http</key>
		<string>http://www.juce.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Дамам</string>
		<key>logo</key>
		<string>Damam</string>
		<key>link</key>
		<string>http://www.sovetidamam.ru/webcast.htm</string>
		<key>http</key>
		<string>http://www.sovetidamam.ru/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ВМЕСТЕ-РФ</string>
		<key>logo</key>
		<string>vmeste</string>
		<key>link</key>
		<string>http://vmeste-rf.tv/live.do</string>
		<key>http</key>
		<string>http://vmeste-rf.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SHOPPING-LIVE</string>
		<key>logo</key>
		<string>shopping</string>
		<key>link</key>
		<string>http://up.mediacdn.ru/shoppinglive/</string>
		<key>http</key>
		<string>http://www.shoppinglive.ru/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>СИНЕРГИЯ ТВ</string>
		<key>logo</key>
		<string>synergy</string>
		<key>link</key>
		<string>http://smena.streaming.eagleplatform.com/api/player/12469/iframe.html?player_template_id=3990&amp;width=640&amp;height=360</string>
		<key>http</key>
		<string>http://synergytv.ru/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>360</string>
		<key>logo</key>
		<string>360</string>
		<key>link</key>
		<string>http://360tv.streaming.eagleplatform.com/api/player/16663/iframe.html</string>
		<key>http</key>
		<string>http://360tv.ru/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ТВЦ</string>
		<key>logo</key>
		<string>tvc</string>
		<key>link</key>
		<string>http://www.tvc.ru/channel/onairiframe</string>
		<key>http</key>
		<string>http://www.tvc.ru/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ТЕЛЕДОМ</string>
		<key>logo</key>
		<string>teledom</string>
		<key>link</key>
		<string>http://teledom.tv/</string>
		<key>http</key>
		<string>http://teledom.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>РБК</string>
		<key>logo</key>
		<string>rbc</string>
		<key>link</key>
		<string>http://tv.rbc.ru/</string>
		<key>http</key>
		<string>http://tv.rbc.ru/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ПЕРВЫЙ ГОРОДСКОЙ</string>
		<key>logo</key>
		<string>kazan1</string>
		<key>link</key>
		<string>http://kazan.1gorodskoi.ru/online</string>
		<key>http</key>
		<string>http://kazan.1gorodskoi.ru/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>НИКА</string>
		<key>logo</key>
		<string>nika</string>
		<key>link</key>
		<string>http://nikatv.ru/radio/radio-online-veschanie</string>
		<key>http</key>
		<string>http://nikatv.ru/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Мир Белогорья</string>
		<key>logo</key>
		<string>mb</string>
		<key>link</key>
		<string>http://mirbelogorya.ru/live.html</string>
		<key>http</key>
		<string>http://mirbelogorya.ru/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>РСН</string>
		<key>logo</key>
		<string>rsn</string>
		<key>link</key>
		<string>http://rusnovosti.ru/videos</string>
		<key>http</key>
		<string>http://rusnovosti.ru/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ТРИ АНГЕЛА</string>
		<key>logo</key>
		<string>3</string>
		<key>link</key>
		<string>http://www.3angels.ru/air/online/</string>
		<key>http</key>
		<string>http://www.3angels.ru/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Радость Моя</string>
		<key>logo</key>
		<string>radost</string>
		<key>link</key>
		<string>http://www.radostmoya.ru/online/</string>
		<key>http</key>
		<string>http://www.radostmoya.ru/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ПРОСВЕЩЕНИЕ</string>
		<key>logo</key>
		<string>prosvesh</string>
		<key>link</key>
		<string>http://www.prosveshenie.tv/onairview.php</string>
		<key>http</key>
		<string>http://www.prosveshenie.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ШАЛОМ</string>
		<key>logo</key>
		<string>shalom</string>
		<key>link</key>
		<string>http://b.tbnit.spb.ru/player/israil-tv.html</string>
		<key>http</key>
		<string>http://shalom.media/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ВЕРА 24</string>
		<key>logo</key>
		<string>24</string>
		<key>link</key>
		<string>http://b.tbnit.spb.ru/player/vera24.html</string>
		<key>http</key>
		<string>http://vera24.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Т Б Н</string>
		<key>logo</key>
		<string>tbn</string>
		<key>link</key>
		<string>http://b.tbnit.spb.ru/player/tbn.html</string>
		<key>http</key>
		<string>http://tbn-tv.ru/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>T B N</string>
		<key>logo</key>
		<string>rodnoy</string>
		<key>link</key>
		<string>http://b.tbnit.spb.ru/player/amerika-tv.html</string>
		<key>http</key>
		<string>http://rodnoy.tv/</string>
	</dict>
</array>
</plist>
