<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>ПЕРВЫЙ</string>
		<key>logo</key>
		<string>1</string>
		<key>link</key>
		<string>http://stream.1tv.ru/live/</string>
		<key>http</key>
		<string>http://www.1tv.ru/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>euronews Россия</string>
		<key>logo</key>
		<string>euronews</string>
		<key>link</key>
		<string>http://ru.euronews.com/live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/euronewsru/videos?flow=grid&amp;live_view=501&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Мир</string>
		<key>logo</key>
		<string>Mir</string>
		<key>link</key>
		<string>http://onair.mir24.tv/?d=1</string>
		<key>http</key>
		<string>http://onair.mir24.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Мир HD</string>
		<key>logo</key>
		<string>HD</string>
		<key>link</key>
		<string>http://onair.mir24.tv/?d=2</string>
		<key>http</key>
		<string>http://onair.mir24.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>РБК</string>
		<key>logo</key>
		<string>rbc</string>
		<key>link</key>
		<string>http://tv.rbc.ru/</string>
		<key>http</key>
		<string>http://tv.rbc.ru/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>LIFENEWS</string>
		<key>logo</key>
		<string>LIFENEWS</string>
		<key>link</key>
		<string>http://lifenews.ru/watch-live</string>
		<key>http</key>
		<string>http://lifenews.ru/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RT News</string>
		<key>logo</key>
		<string>RT1</string>
		<key>link</key>
		<string>https://www.rt.com/on-air/embed/</string>
		<key>http</key>
		<string>https://www.rt.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ОТР</string>
		<key>logo</key>
		<string>otr</string>
		<key>link</key>
		<string>http://www.otr-online.ru/online/</string>
		<key>http</key>
		<string>http://www.otr-online.ru/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ТВЦ</string>
		<key>logo</key>
		<string>tvc</string>
		<key>link</key>
		<string>http://www.tvc.ru/channel/onair/</string>
		<key>http</key>
		<string>http://www.tvc.ru/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Мир 24</string>
		<key>logo</key>
		<string>Mir24</string>
		<key>link</key>
		<string>http://onair.mir24.tv/?d=3</string>
		<key>http</key>
		<string>http://onair.mir24.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Мир (пояс +4)</string>
		<key>logo</key>
		<string>4</string>
		<key>link</key>
		<string>http://onair.mir24.tv/?d=5</string>
		<key>http</key>
		<string>http://onair.mir24.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Радио Мир</string>
		<key>logo</key>
		<string>Radio</string>
		<key>link</key>
		<string>http://onair.mir24.tv/?d=4</string>
		<key>http</key>
		<string>http://onair.mir24.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Матч ТВ</string>
		<key>logo</key>
		<string>Match</string>
		<key>link</key>
		<string>https://matchtv.ru/on-air</string>
		<key>http</key>
		<string>https://matchtv.ru</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Europa Plus ТВ</string>
		<key>logo</key>
		<string>Europa</string>
		<key>link</key>
		<string>http://www.europaplustv.com/online</string>
		<key>http</key>
		<string>http://www.europaplustv.com/online-new</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Европа Плюс</string>
		<key>logo</key>
		<string>Plus</string>
		<key>link</key>
		<string>http://www.europaplus.ru/live</string>
		<key>http</key>
		<string>http://www.europaplus.ru</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CTC</string>
		<key>logo</key>
		<string>CTC</string>
		<key>link</key>
		<string>https://ctc.ru/online/</string>
		<key>http</key>
		<string>https://ctc.ru</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CTC Love</string>
		<key>logo</key>
		<string>Love</string>
		<key>link</key>
		<string>https://www.ctclove.ru/online/</string>
		<key>http</key>
		<string>https://www.ctclove.ru</string>
	</dict>
	<dict>
		<key>name</key>
		<string>НТВ</string>
		<key>logo</key>
		<string>NTV1</string>
		<key>link</key>
		<string>https://www.youtube.com/user/ntvru/videos?view=2&amp;live_view=501&amp;flow=grid</string>
		<key>http</key>
		<string>http://www.ntv.ru/air</string>
	</dict>
	<dict>
		<key>name</key>
		<string>НТВ-Стиль</string>
		<key>logo</key>
		<string>NTV2</string>
		<key>link</key>
		<string>http://www.ntv.ru/air/ntvstyle</string>
		<key>http</key>
		<string>http://www.ntv.ru/air</string>
	</dict>
	<dict>
		<key>name</key>
		<string>НТВ-Право</string>
		<key>logo</key>
		<string>NTV3</string>
		<key>link</key>
		<string>http://www.ntv.ru/air/ntvlaw</string>
		<key>http</key>
		<string>http://www.ntv.ru/air</string>
	</dict>
	<dict>
		<key>name</key>
		<string>НТВ-Сериал</string>
		<key>logo</key>
		<string>NTV4</string>
		<key>link</key>
		<string>http://www.ntv.ru/air/ntvseries</string>
		<key>http</key>
		<string>http://www.ntv.ru/air</string>
	</dict>
	<dict>
		<key>name</key>
		<string>THT</string>
		<key>logo</key>
		<string>THT</string>
		<key>link</key>
		<string>http://tnt-online.ru/</string>
		<key>http</key>
		<string>http://tnt-online.ru/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>РЕН ТВ</string>
		<key>logo</key>
		<string>REN</string>
		<key>link</key>
		<string>http://ren.tv/live</string>
		<key>http</key>
		<string>http://ren.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Домашний</string>
		<key>logo</key>
		<string>Domashniy</string>
		<key>link</key>
		<string>https://www.domashniy.ru/online/</string>
		<key>http</key>
		<string>https://www.domashniy.ru</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Пятый</string>
		<key>logo</key>
		<string>5</string>
		<key>link</key>
		<string>https://www.5-tv.ru/live/</string>
		<key>http</key>
		<string>https://www.5-tv.ru</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Че</string>
		<key>logo</key>
		<string>Che</string>
		<key>link</key>
		<string>https://chetv.ru/online/</string>
		<key>http</key>
		<string>https://chetv.ru</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TNT Music</string>
		<key>logo</key>
		<string>TNT</string>
		<key>link</key>
		<string>https://tntmusic.ru/live/</string>
		<key>http</key>
		<string>https://tntmusic.ru</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RT USA</string>
		<key>logo</key>
		<string>RT2</string>
		<key>link</key>
		<string>https://www.rt.com/on-air/rt-america-air/embed/</string>
		<key>http</key>
		<string>https://www.rt.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RT UK</string>
		<key>logo</key>
		<string>RT3</string>
		<key>link</key>
		<string>https://www.rt.com/on-air/rt-uk-air/embed/</string>
		<key>http</key>
		<string>https://www.rt.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RT Документальный</string>
		<key>logo</key>
		<string>RT4</string>
		<key>link</key>
		<string>https://rtd.rt.com/on-air/embed/</string>
		<key>http</key>
		<string>https://www.rt.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Калининград - Первый Городской</string>
		<key>logo</key>
		<string>kaliningrad</string>
		<key>link</key>
		<string>http://kaliningrad.1gorodskoi.ru/online</string>
		<key>http</key>
		<string>http://kaliningrad.1gorodskoi.ru</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Киров - Первый Городской</string>
		<key>logo</key>
		<string>Kirov</string>
		<key>link</key>
		<string>http://kirov.1gorodskoi.ru/online</string>
		<key>http</key>
		<string>http://kirov.1gorodskoi.ru</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Н. Новгород - Первый Городской</string>
		<key>logo</key>
		<string>NN</string>
		<key>link</key>
		<string>http://nn.1gorodskoi.ru/online</string>
		<key>http</key>
		<string>http://nn.1gorodskoi.ru</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Казань - Первый Городской</string>
		<key>logo</key>
		<string>kazan1</string>
		<key>link</key>
		<string>http://kazan.1gorodskoi.ru/online</string>
		<key>http</key>
		<string>http://kazan.1gorodskoi.ru/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RU.TV</string>
		<key>logo</key>
		<string>RUTV</string>
		<key>link</key>
		<string>http://ru.tv/watch/online/</string>
		<key>http</key>
		<string>http://ru.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>МУЗ-ТВ</string>
		<key>logo</key>
		<string>MUZ</string>
		<key>link</key>
		<string>http://muz-tv.ru/online/</string>
		<key>http</key>
		<string>http://muz-tv.ru/tvguide/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>1HD Music</string>
		<key>logo</key>
		<string>1HD</string>
		<key>link</key>
		<string>http://1hd.ru/</string>
		<key>http</key>
		<string>http://1hd.ru/</string>
	</dict>
</array>
</plist>
