<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string></string>
		<key>Main</key>
		<string></string>
		<key>Back</key>
		<string></string>
		<key>Banner</key>
		<string></string>
		<key>Show1</key>
		<string></string>
		<key>Show2</key>
		<string></string>
		<key>Show3</key>
		<string></string>
		<key>Show4</key>
		<string></string>
		<key>Alarm</key>
		<string></string>
		<key>CustomBanner</key>
		<string></string>
		<key>CustomSplash</key>
		<string></string>
		<key>Header</key>
		<string></string>
		<key>Footer</key>
		<string></string>
		<key>Email</key>
		<string>ios.apps.community@gmail.com</string>
		<key>Alternative</key>
		<string></string>
		<key>Application</key>
		<string></string>
		<key>Developer</key>
		<string></string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Menu</key>
	<array>
		<string>Top</string>
		<string>News</string>
		<string>Local</string>
		<string>Classic</string>
		<string>Music</string>
		<string>Sport</string>
		<string>Talk</string>
		<string>Youth</string>
		<string>Oldies</string>
	</array>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Al Lubnaniya الإذاعة اللبنانية الدولية</string>
			<key>logo</key>
			<string>Lubnaniya</string>
			<key>link</key>
			<string>http://andromeda.shoutca.st:8192/listen.pls</string>
			<key>http</key>
			<string>http://andromeda.shoutca.st:8192/;</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>إذاعة أغاني أغاني Aghani</string>
			<key>logo</key>
			<string>Aghani</string>
			<key>link</key>
			<string>http://185.52.127.163/lb/1/mp3_128.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RLC إذاعة لبنان الثقافة</string>
			<key>logo</key>
			<string>RLC</string>
			<key>link</key>
			<string>http://184.154.90.186:8029/stream.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>إذاعة الرسالة Risala</string>
			<key>logo</key>
			<string>Risala</string>
			<key>link</key>
			<string>http://38.96.175.97:4376/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>صوت الحرية</string>
			<key>logo</key>
			<string>alhorria</string>
			<key>link</key>
			<string>http://vps1.osina.cloud:9302/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Light FM</string>
			<key>logo</key>
			<string>Light</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/LIGHTFM.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk, Top</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ռադիո Սեւան</string>
			<key>logo</key>
			<string>Sevan</string>
			<key>link</key>
			<string>http://sevan.bitwize.me:8018/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>إذاعة النور Al Nour</string>
			<key>logo</key>
			<string>Nour</string>
			<key>link</key>
			<string>http://audiostreaming.itworkscdn.com:9066/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>صوت الهدى Sawt Al Hoda</string>
			<key>logo</key>
			<string>Hoda</string>
			<key>link</key>
			<string>https://l3.itworkscdn.net/itwaudio/9032/stream</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC Arabic</string>
			<key>logo</key>
			<string>Arabic</string>
			<key>link</key>
			<string>http://bbcwssc.ic.llnwd.net/stream/bbcwssc_mp1_ws-araba.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>إذاعة القرآن الكريم Quran</string>
			<key>logo</key>
			<string>Quran</string>
			<key>link</key>
			<string>http://162.244.81.30:8224/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ռադիո Վանայ Ձայն</string>
			<key>logo</key>
			<string>vana</string>
			<key>link</key>
			<string>http://23.92.21.22/vovan.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>إذاعة البشائر</string>
			<key>logo</key>
			<string>bachaer</string>
			<key>link</key>
			<string>http://audiostreaming.itworkscdn.com:9014/stream.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>صوت النجوم</string>
			<key>logo</key>
			<string>noujoum</string>
			<key>link</key>
			<string>http://elie91.primcast.com:7992/listen.pls</string>
			<key>http</key>
			<string>http://s25.myradiostream.com:15298/listen.mp3</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>إذاعة لبنان  Radio Liban</string>
			<key>logo</key>
			<string>Liban</string>
			<key>link</key>
			<string>http://162.244.80.118:3160/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>صوت النعمة Voice of Grace</string>
			<key>logo</key>
			<string>Grace</string>
			<key>link</key>
			<string>http://199.195.194.94:8065/stream.m3u</string>
			<key>http</key>
			<string>https://securestreams5.reliastream.com:1820/;</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Play FM 98.7</string>
			<key>logo</key>
			<string>PlayFM</string>
			<key>link</key>
			<string>https://usa5.fastcast4u.com/proxy/radioplay?mp=/1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sancta Maria 99.3 FM</string>
			<key>logo</key>
			<string>Sancta</string>
			<key>link</key>
			<string>http://streaming.radio.co/sa7e0251a2/listen</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>صوت لبنان Voice of Lebanon 100.5</string>
			<key>logo</key>
			<string>Voice</string>
			<key>link</key>
			<string>http://audiostreaming.itworkscdn.com:9054/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>إذاعة الفجر Fajr    </string>
			<key>logo</key>
			<string>Fajr</string>
			<key>link</key>
			<string>http://vps1.osina.cloud:9306/listen.pls</string>
			<key>http</key>
			<string>http://vps1.osina.cloud:9306/;</string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Power FM 101.3</string>
			<key>logo</key>
			<string>Power</string>
			<key>link</key>
			<string>http://s28.myradiostream.com:14784/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>راديو دلتا Delta</string>
			<key>logo</key>
			<string>Delta</string>
			<key>link</key>
			<string>http://s45.myradiostream.com:18408/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Top, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pax 103.0 FM</string>
			<key>logo</key>
			<string>Pax</string>
			<key>link</key>
			<string>http://78.129.190.50:3307/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>صوت الشعب Sawt El Shaeb </string>
			<key>logo</key>
			<string>Shaeb</string>
			<key>link</key>
			<string>http://vps1.osina.cloud:9320/listen.pls</string>
			<key>http</key>
			<string>http://vps1.osina.cloud:9320/;</string>
			<key>note</key>
			<string>News, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Երտասարդութեան ձայն 106.7 FM</string>
			<key>logo</key>
			<string>tsayne</string>
			<key>link</key>
			<string>http://s9.streammonster.com/tunein/kderderi.pls</string>
			<key>http</key>
			<string>http://199.189.111.28:8023/live.m3u</string>
			<key>note</key>
			<string>Youth, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>R1L 105.5 FM</string>
			<key>logo</key>
			<string>R1L</string>
			<key>link</key>
			<string>http://rss-streaming.co.uk:8026/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Star FM - لبنان</string>
			<key>logo</key>
			<string>Sta</string>
			<key>link</key>
			<string>http://audiostreaming.itworkscdn.com:9014/stream.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>اذاعة صوت المحبة Voice of Charity</string>
			<key>logo</key>
			<string>Charity</string>
			<key>link</key>
			<string>http://cast5.servcast.net:9980/stream.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>إذاعة جبل لبنان JABAL </string>
			<key>logo</key>
			<string>JABAL</string>
			<key>link</key>
			<string>http://cdn.nrjaudio.fm/audio1/lb/2/mp3_128.mp3</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ashohra Radio - إذاعة الشـهرة</string>
			<key>logo</key>
			<string>Ashohra</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/ashohra-radio,18542.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Beirut Nights</string>
			<key>logo</key>
			<string>Nights</string>
			<key>link</key>
			<string>http://beirutnights.com/live.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/beirut-nights,14513.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Byblos Radio</string>
			<key>logo</key>
			<string>Byblos</string>
			<key>link</key>
			<string>http://byblosradio.com/live.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/byblos-radio,16587.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fame FM 99.5</string>
			<key>logo</key>
			<string>Fame</string>
			<key>link</key>
			<string>http://stream.famefm.com:8200/fame.mp3.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/fame-fm-95-5,833.m3u</string>
			<key>note</key>
			<string>Top Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Jaras Scoop FM	</string>
			<key>logo</key>
			<string>Jaras</string>
			<key>link</key>
			<string>http://s6.myradiostream.com:44798/listen.mp3.m3u</string>
			<key>http</key>
			<string>http://www.jarasfm.com/JarasScoop.m3u</string>
			<key>note</key>
			<string>News, Talk, Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>LBI Radio 94.9 FM</string>
			<key>logo</key>
			<string>LBI</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/lbi-radio,19283.m3u</string>
			<key>http</key>
			<string>http://212.83.138.48:8039/;stream.mp3</string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>LBI Zaman</string>
			<key>logo</key>
			<string>Zaman</string>
			<key>link</key>
			<string>http://212.83.138.48:8165/;stream.mp3</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>LBI Oldies</string>
			<key>logo</key>
			<string>Oldie</string>
			<key>link</key>
			<string>http://212.83.138.48:8157/;stream</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Oldies</string>
		</dict>
		<dict>
			<key>name</key>
			<string>LBI Hits</string>
			<key>logo</key>
			<string>Hits</string>
			<key>link</key>
			<string>http://212.83.138.48:8177/;stream.mp3</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Liban Libre RLL إذاعة لبنان الحر</string>
			<key>logo</key>
			<string>RLL</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-liban-libre-rll-live,5249.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk, Top</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mix FM 104.4</string>
			<key>logo</key>
			<string>Mix</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/MIXFM_LEBANONAAC.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/mix-fm-104-4,834.m3u</string>
			<key>note</key>
			<string>Top Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>إذاعة نداء المعرفة  Nidaa</string>
			<key>logo</key>
			<string>Nidaa</string>
			<key>link</key>
			<string>http://198.1.73.222:8811/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/nidaa-fm,16589.m3u</string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nostalgie Liban 88.1 FM</string>
			<key>logo</key>
			<string>Nostalgie</string>
			<key>link</key>
			<string>http://185.52.127.172/lb/55157/mp3_128.mp3</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/nostalgie-88-fm,835.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRJ Lebanon 99.1 FM</string>
			<key>logo</key>
			<string>NRJ</string>
			<key>link</key>
			<string>http://185.52.127.172/lb/55219/mp3_128.mp3</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/nrj-lebanon-99-1-fm,16590.m3u</string>
			<key>note</key>
			<string>News, Talk, Top</string>
		</dict>
		<dict>
			<key>name</key>
			<string>One 105.5 FM</string>
			<key>logo</key>
			<string>One</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-one-105-5-fm,5250.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Orient 88.3 FM</string>
			<key>logo</key>
			<string>Orient</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-orient-88-3-fm,16592.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk, Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pervoe Radio</string>
			<key>logo</key>
			<string>Pervoe</string>
			<key>link</key>
			<string>https://www.pervoeradio.fm/player/?pl=winamp&amp;c=Pervoe%20Radio%20FM</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/pervoe-radio,16591.m3u</string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Reve Lebanon 87.5 FM</string>
			<key>logo</key>
			<string>Reve</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/reve-lebanon,19348.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sawa Levant راديو سوا</string>
			<key>logo</key>
			<string>Sawa</string>
			<key>link</key>
			<string>http://mbn-channel-06.akacast.akamaistream.net/7/28/233455/v1/ibb.akacast.akamaistream.net/mbn_channel_06</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-sawa-lebanon,14436.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sawt El Ghad صوت الغد</string>
			<key>logo</key>
			<string>Ghad</string>
			<key>link</key>
			<string>https://live.hibridcdn.net/ghadciel/ghadradio/playlist.m3u8</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/sawt-el-ghad-96-7-fm-lebanon,18764.m3u</string>
			<key>note</key>
			<string>News, Talk, Top</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sawt El Mada اذاعة صوت المدى</string>
			<key>logo</key>
			<string>Mada</string>
			<key>link</key>
			<string>http://audiostreaming.itworkscdn.com:9018/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-sawt-el-mada,13304.m3u</string>
			<key>note</key>
			<string>News, Top</string>
		</dict>
		<dict>
			<key>name</key>
			<string>VDL Voice of Lebanon صوت لبنان</string>
			<key>logo</key>
			<string>VDL</string>
			<key>link</key>
			<string>http://vps1.osina.cloud:9318/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/vdl-voice-of-lebanon,8451.m3u</string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Virgin Radio Lebanon 89.5 FM	</string>
			<key>logo</key>
			<string>Virgin</string>
			<key>link</key>
			<string>http://audiostreaming.itworkscdn.com:9000/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/virgin-radio-lebanon-89-5-fm,17670.m3u</string>
			<key>note</key>
			<string>Top Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Virgin Stars Lebanon 89.7 FM</string>
			<key>logo</key>
			<string>Stars</string>
			<key>link</key>
			<string>http://audiostreaming.itworkscdn.com:9028/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>YAN - Greek Zeimbekiko</string>
			<key>logo</key>
			<string>YAN</string>
			<key>link</key>
			<string>https://83.169.36.75:2199/tunein/radioyan3.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-yan-greek-zeimbekiko,18150.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
