<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string></string>
		<key>Back</key>
		<string></string>
		<key>Banner</key>
		<string></string>
		<key>Show1</key>
		<string></string>
		<key>Show2</key>
		<string></string>
		<key>Show3</key>
		<string></string>
		<key>Show4</key>
		<string></string>
		<key>Alarm</key>
		<string></string>
		<key>CustomBanner</key>
		<string></string>
		<key>CustomSplash</key>
		<string></string>
		<key>Header</key>
		<string></string>
		<key>Footer</key>
		<string></string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string></string>
		<key>Application</key>
		<string></string>
		<key>Developer</key>
		<string></string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Ajyal راديو أجيال 103.4</string>
			<key>logo</key>
			<string>Ajyal</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/ajyal-radio,14816.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-ajyal,6580.m3u</string>
			<key>note</key>
			<string>Ramallah (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Angham 92.3 FM</string>
			<key>logo</key>
			<string>Angham</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/angham-radio,10176.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Ramallah (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cool FM 104</string>
			<key>logo</key>
			<string>Cool</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/cool-fm-104,18516.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Bethlehem (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>GAZA FM</string>
			<key>logo</key>
			<string>GAZA</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/gaza-fm,7813.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Gaza (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mawwal</string>
			<key>logo</key>
			<string>Mawwal</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-mawwal,9782.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Bethlehem (Local)</string>
		</dict>
	</array>
</dict>
</plist>
