<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Trece Costa Rica</string>
		<key>logo</key>
		<string>Trece</string>
		<key>link</key>
		<string>http://www.costaricamedios.cr/trece/envivo</string>
		<key>http</key>
		<string>http://www.costaricamedios.cr</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Repretel 2</string>
		<key>logo</key>
		<string>2</string>
		<key>link</key>
		<string>http://www.repretel.com/envivo-2</string>
		<key>http</key>
		<string>http://www.repretel.com/envivo</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Repretel 4</string>
		<key>logo</key>
		<string>4</string>
		<key>link</key>
		<string>http://www.repretel.com/envivo-4</string>
		<key>http</key>
		<string>http://www.repretel.com/envivo</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Repretel 6</string>
		<key>logo</key>
		<string>6</string>
		<key>link</key>
		<string>http://www.repretel.com/envivo-6</string>
		<key>http</key>
		<string>http://www.repretel.com/envivo</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Repretel 11</string>
		<key>logo</key>
		<string>11</string>
		<key>link</key>
		<string>http://www.repretel.com/envivo-11</string>
		<key>http</key>
		<string>http://www.repretel.com/envivo</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sur 14</string>
		<key>logo</key>
		<string>14</string>
		<key>link</key>
		<string>http://www.tvsur.co.cr/envivo/</string>
		<key>http</key>
		<string>http://www.tvsur.co.cr</string>
	</dict>
	<dict>
		<key>name</key>
		<string>UCR</string>
		<key>logo</key>
		<string>UCR</string>
		<key>link</key>
		<string>http://www.canalucr.ucr.ac.cr/se%C3%B1al-en-vivo.html</string>
		<key>http</key>
		<string>http://www.canalucr.ucr.ac.cr</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Legislativa</string>
		<key>logo</key>
		<string>Legislativa</string>
		<key>link</key>
		<string>http://www.asamblea.go.cr/p/SitePages/Transmisi%C3%B3n%20en%20vivo.aspx</string>
		<key>http</key>
		<string>http://www.asamblea.go.cr</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Extra 42</string>
		<key>logo</key>
		<string>42</string>
		<key>link</key>
		<string>https://new.livestream.com/accounts/5637642/events/2507409?cat=event&amp;query=extra</string>
		<key>http</key>
		<string>http://www.extratv42.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>EJTV</string>
		<key>logo</key>
		<string>EJTV</string>
		<key>link</key>
		<string>http://www.ejtv.tv/envivo/</string>
		<key>http</key>
		<string>http://www.ejtv.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Enlace</string>
		<key>logo</key>
		<string>Enlace</string>
		<key>link</key>
		<string>https://www.enlace.org/envivo/</string>
		<key>http</key>
		<string>https://www.enlace.org</string>
	</dict>
</array>
</plist>
