<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string></string>
		<key>Main</key>
		<string></string>
		<key>Back</key>
		<string></string>
		<key>Banner</key>
		<string></string>
		<key>Show1</key>
		<string></string>
		<key>Show2</key>
		<string></string>
		<key>Show3</key>
		<string></string>
		<key>Show4</key>
		<string></string>
		<key>Alarm</key>
		<string></string>
		<key>CustomBanner</key>
		<string></string>
		<key>CustomSplash</key>
		<string></string>
		<key>Header</key>
		<string></string>
		<key>Footer</key>
		<string></string>
		<key>Email</key>
		<string>ios.apps.community@gmail.com</string>
		<key>Alternative</key>
		<string></string>
		<key>Application</key>
		<string></string>
		<key>Developer</key>
		<string></string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Menu</key>
	<array>
		<string>Top</string>
		<string>News</string>
		<string>Local</string>
		<string>Classic</string>
		<string>Music</string>
		<string>Sport</string>
		<string>Talk</string>
		<string>Youth</string>
		<string>Oldies</string>
	</array>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>1</string>
			<key>logo</key>
			<string>1</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-1,823.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>6o8</string>
			<key>logo</key>
			<string>6o8</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-6o8,19484.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Arabic Tehran</string>
			<key>logo</key>
			<string>Arabic</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-arabic-tehran,20427.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News/Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ava 93.5 FM</string>
			<key>logo</key>
			<string>Ava</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-ava-93-5-fm,17690.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music/Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Eghtesad</string>
			<key>logo</key>
			<string>Eghtesad</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-eghtesad,20428.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>English Tehran</string>
			<key>logo</key>
			<string>English</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-english-tehran,20424.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Farda</string>
			<key>logo</key>
			<string>Farda</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-farda,12754.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News/Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Farhang</string>
			<key>logo</key>
			<string>Farhang</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-farhang,824.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music/Talk/News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Goftegoo</string>
			<key>logo</key>
			<string>Goftegoo</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-goftegoo,20430.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk/News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Iran</string>
			<key>logo</key>
			<string>Ira</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-iran,20422.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Iran Proud</string>
			<key>logo</key>
			<string>Proud</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/iran-proud,13707.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Javad</string>
			<key>logo</key>
			<string>Javad</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/javad-radio,20271.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Javan Tehran 91.3 FM</string>
			<key>logo</key>
			<string>Javan</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-javan-tehran,20426.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Maaref 96 FM</string>
			<key>logo</key>
			<string>Maaref</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-maref,825.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Monasebati</string>
			<key>logo</key>
			<string>Monasebati</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-monasebati,20421.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Namayesh</string>
			<key>logo</key>
			<string>Namayesh</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-namayesh,20423.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music/News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pars Today Bangla - Iran&apos;s Bangla (BN) Service</string>
			<key>logo</key>
			<string>Pars</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/pars-today-bangla-iran-s-bangla-bn-service,19099.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Payam 104 FM</string>
			<key>logo</key>
			<string>Payam</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-payam-104-fm,13706.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music/News/Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Quran</string>
			<key>logo</key>
			<string>Quran</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-quran,6661.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Saba</string>
			<key>logo</key>
			<string>Saba</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-saba,20429.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music/Youth</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sarasari</string>
			<key>logo</key>
			<string>Sarasari</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/sarasari-radio,16124.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Salamat</string>
			<key>logo</key>
			<string>Salamat</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-salamat,12755.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Shady</string>
			<key>logo</key>
			<string>Shady</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-shady,19100.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sports 92 FM</string>
			<key>logo</key>
			<string>Sports</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-sport,6660.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tehran</string>
			<key>logo</key>
			<string>Tehran</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-tehran,20179.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News/Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Varzesh</string>
			<key>logo</key>
			<string>Varzesh</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-varzesh,20008.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News/Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ziarat</string>
			<key>logo</key>
			<string>Ziarat</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-ziarat,20431.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
