<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string></string>
		<key>Main</key>
		<string></string>
		<key>Back</key>
		<string></string>
		<key>Banner</key>
		<string></string>
		<key>Show1</key>
		<string></string>
		<key>Show2</key>
		<string></string>
		<key>Show3</key>
		<string></string>
		<key>Show4</key>
		<string></string>
		<key>Alarm</key>
		<string></string>
		<key>CustomBanner</key>
		<string></string>
		<key>CustomSplash</key>
		<string></string>
		<key>Header</key>
		<string></string>
		<key>Footer</key>
		<string></string>
		<key>Email</key>
		<string>ios.apps.community@gmail.com</string>
		<key>Alternative</key>
		<string></string>
		<key>Application</key>
		<string></string>
		<key>Developer</key>
		<string></string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Menu</key>
	<array>
		<string>Top</string>
		<string>News</string>
		<string>Local</string>
		<string>Classic</string>
		<string>Music</string>
		<string>Sport</string>
		<string>Talk</string>
		<string>Youth</string>
		<string>Oldies</string>
	</array>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Athavan</string>
			<key>logo</key>
			<string>Athavan</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/athavan-radio,20237.m3u</string>
			<key>http</key>
			<string>http://s1.voscast.com:9038/mountpoint/;stream.mp3</string>
			<key>note</key>
			<string>Wellawatte (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Capital FM 94.0</string>
			<key>logo</key>
			<string>Capital</string>
			<key>link</key>
			<string>http://ca4.rcast.net:8060/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/capital-fm-94-0-sri-lanka,20238.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>City FM</string>
			<key>logo</key>
			<string>City</string>
			<key>link</key>
			<string>http://220.247.227.20:8000/citystream.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/city-fm,12216.m3u</string>
			<key>note</key>
			<string>Top</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CRI චීන ජාත්‍යන්තර ගුවන්විදුලිය 97.9 FM</string>
			<key>logo</key>
			<string>CRI</string>
			<key>link</key>
			<string>http://s16.myradiostream.com:14898/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Top</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DJSiran Tamil FM</string>
			<key>logo</key>
			<string>DJSiran</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/djsiran-tamil-fm,14313.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dreams Share FM</string>
			<key>logo</key>
			<string>Dreams</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/dreams-share-fm,18172.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Derana FM 92.2 දෙරණ</string>
			<key>logo</key>
			<string>Derana</string>
			<key>link</key>
			<string>https://us10a.serverse.com/proxy/fmderana?mp=/stream</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/fm-derana-92-2,16426.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>E FM 88.3</string>
			<key>logo</key>
			<string>E</string>
			<key>link</key>
			<string>http://207.148.74.192:7874/stream.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fox 91.4 FM</string>
			<key>logo</key>
			<string>Fox</string>
			<key>link</key>
			<string>http://108.61.34.50:7094/listen.pls?sid=1</string>
			<key>http</key>
			<string>http://108.61.34.50:7094/stream</string>
			<key>note</key>
			<string>Top Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Gold FM 93.2</string>
			<key>logo</key>
			<string>Gold</string>
			<key>link</key>
			<string>http://209.133.216.3:7048/listen.pls?sid=1</string>
			<key>http</key>
			<string>http://209.133.216.3:7048/;stream.mp3</string>
			<key>note</key>
			<string>Oldies Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hiru FM 96.3 හිරු</string>
			<key>logo</key>
			<string>Hiru</string>
			<key>link</key>
			<string>http://209.133.216.3:7018/listen.pls?sid=1</string>
			<key>http</key>
			<string>http://209.133.216.3:7018/;stream.mp3</string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ISIRA ඉසිර ගුවන්විදුලිය</string>
			<key>logo</key>
			<string>ISIRA</string>
			<key>link</key>
			<string>ttps://music.accesshost.net/radio/8050/radio.mp3</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>ITN FM 93.5</string>
			<key>logo</key>
			<string>ITN</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/itn-fm-93-5,19750.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kandurata FM</string>
			<key>logo</key>
			<string>Kandurata</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/kandurata-fm,12222.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kiss 96.9 FM</string>
			<key>logo</key>
			<string>Kiss</string>
			<key>link</key>
			<string>http://s3.voscast.com:8404/listen.pls</string>
			<key>http</key>
			<string>http://s3.voscast.com:8404/;stream1472803644663/1</string>
			<key>note</key>
			<string>Top Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Lak 106.2 FM ලක්</string>
			<key>logo</key>
			<string>Lak</string>
			<key>link</key>
			<string>http://108.61.34.50:8054/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/lak-fm,17528.m3u</string>
			<key>note</key>
			<string>News, Top</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Lakhanda ලක්හඬ 93.7 FM	</string>
			<key>logo</key>
			<string>Lakhanda</string>
			<key>link</key>
			<string>https://cp12.serverse.com/proxy/itnfm?mp=/stream</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/lakhanda-radio,9566.m3u</string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Laksara</string>
			<key>logo</key>
			<string>Laksara</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/laksara-radio,18902.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Lakviru ලක්විරු ගුවන් විදුලිය</string>
			<key>logo</key>
			<string>Lakviru</string>
			<key>link</key>
			<string>https://cp11.serverse.com/proxy/kqxjpewq?mp=/;</string>
			<key>http</key>
			<string>https://cp11.serverse.com:2199/tunein/kqxjpewq.pls</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Legends 96.6 FM</string>
			<key>logo</key>
			<string>Legends</string>
			<key>link</key>
			<string>http://live.trusl.com:1190/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Lite 87 FM</string>
			<key>logo</key>
			<string>87</string>
			<key>link</key>
			<string>http://live.tnlrn.com:8020/live.mp3.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/lite-87-fm,16428.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>NETH FM 94.8 නෙත්</string>
			<key>logo</key>
			<string>Neth</string>
			<key>link</key>
			<string>http://69.46.24.226:7669/listen.pls</string>
			<key>http</key>
			<string>http://69.46.24.226:7669/stream</string>
			<key>note</key>
			<string>News, Youth, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Punnagai Radio</string>
			<key>logo</key>
			<string>Punnagai</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/punnagai-radio,20528.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ran FM 102.2 රන්</string>
			<key>logo</key>
			<string>Ran</string>
			<key>link</key>
			<string>http://207.148.74.192:7874/ran.mp3</string>
			<key>http</key>
			<string>http://207.148.74.192:7874/ran.mp3.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rangiri FM රන්ගිරි ශ්‍රී ලංකා</string>
			<key>logo</key>
			<string>Rangiri</string>
			<key>link</key>
			<string>http://tachyon.shoutca.st:8827/listen.pls?sid=1</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/rangiri-radio-96-7-fm,15238.m3u</string>
			<key>note</key>
			<string>Talk (Dambulla, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RASA 99.5 FM රස</string>
			<key>logo</key>
			<string>RASA</string>
			<key>link</key>
			<string>http://shaincast.caster.fm:47814/listen.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Real 97.1 FM</string>
			<key>logo</key>
			<string>Real</string>
			<key>link</key>
			<string>http://s3.voscast.com:8406/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/real-radio,12224.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Red 107.8 FM</string>
			<key>logo</key>
			<string>Red</string>
			<key>link</key>
			<string>http://shaincast.caster.fm:47830/listen.mp3.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/red-fm-99-5,17531.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Red Rose FM</string>
			<key>logo</key>
			<string>Rose</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/red-rose-fm,19663.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>SETH FM සෙත්</string>
			<key>logo</key>
			<string>SETH</string>
			<key>link</key>
			<string>https://streamingv2.shoutcast.com/sethfm2</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk, Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Shaa FM 91.1 ෂා</string>
			<key>logo</key>
			<string>Shaa</string>
			<key>link</key>
			<string>http://209.133.216.3:7073/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/shaa-fm-91-1,17526.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Shakthi FM சக்தி</string>
			<key>logo</key>
			<string>Shakthi</string>
			<key>link</key>
			<string>http://live.trusl.com:1160/listen.pls?sid=1</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/shakthi-fm,869.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Shree 100.2 FM ශ්‍</string>
			<key>logo</key>
			<string>Shree</string>
			<key>link</key>
			<string>http://207.148.74.192:7874/stream2.mp3</string>
			<key>http</key>
			<string>http://207.148.74.192:7874/stream2.mp3.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sihasara International</string>
			<key>logo</key>
			<string>Sihasara</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/sihasara-international-radio,17345.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sinhala Commercial Service</string>
			<key>logo</key>
			<string>Sinhala</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/sinhala-commercial-service,12220.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sinhala National Service</string>
			<key>logo</key>
			<string>National</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/sinhala-national-service,12217.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sirasa 106.5 FM</string>
			<key>logo</key>
			<string>Sirasa</string>
			<key>link</key>
			<string>http://live.trusl.com:1170/listen.pls?sid=1</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/sirasa-fm,870.m3u</string>
			<key>note</key>
			<string>News, Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sitha FM 88.6 සිත</string>
			<key>logo</key>
			<string>Sitha</string>
			<key>link</key>
			<string>http://shaincast.caster.fm:48148/listen.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Siyatha 98.2 FM සියත</string>
			<key>logo</key>
			<string>Siyatha</string>
			<key>link</key>
			<string>http://s3.voscast.com:8408/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/siyatha-fm-98-2,17244.m3u</string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>SLBC Asia Service</string>
			<key>logo</key>
			<string>Asia</string>
			<key>link</key>
			<string>http://220.247.227.6:8000/Asiastream.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>SLBC Sri Lanka 97.4 FM</string>
			<key>logo</key>
			<string>Sri</string>
			<key>link</key>
			<string>http://220.247.227.20:8000/RSLstream.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-sri-lanka,12218.m3u</string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>SLBC தமிழ் தேசிய சேவை</string>
			<key>logo</key>
			<string>SLBC</string>
			<key>link</key>
			<string>http://220.247.227.6:8000/Tnsstream.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sooriyan FM சூரியன்</string>
			<key>logo</key>
			<string>Sooriyan</string>
			<key>link</key>
			<string>http://209.133.216.3:7071/listen.pls?sid=1</string>
			<key>http</key>
			<string>http://209.133.216.3:7071/;stream.mp3</string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Star தமிழ்</string>
			<key>logo</key>
			<string>Sta</string>
			<key>link</key>
			<string>http://s3.voscast.com:8402/listen.pls?sid=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sun 98.9 FM</string>
			<key>logo</key>
			<string>Sun</string>
			<key>link</key>
			<string>http://209.133.216.3:7058/listen.pls?sid=1</string>
			<key>http</key>
			<string>http://209.133.216.3:7058/;stream.mp3</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Swadeshiya Sevaya (ස්වදේශිය සේවය)</string>
			<key>logo</key>
			<string>Swadeshiya</string>
			<key>link</key>
			<string>http://220.247.227.6:8000/Snsstream.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tamil National Service</string>
			<key>logo</key>
			<string>Tamil</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/tamil-national-service,12219.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Theen Tamil Osai</string>
			<key>logo</key>
			<string>Theen</string>
			<key>link</key>
			<string>https://eu2.fastcast4u.com:2199/tunein/theentamil-stream.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/theen-tamil-osai,20463.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>SLBC Thendral FM தென்றல்</string>
			<key>logo</key>
			<string>Thendral</string>
			<key>link</key>
			<string>http://220.247.227.20:8000/Threndralstream.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/thendral,12221.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TNL 101.7 FM</string>
			<key>logo</key>
			<string>TNL</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/tnl-101-7-fm,871.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>TNL NOW</string>
			<key>logo</key>
			<string>NOW</string>
			<key>link</key>
			<string>http://live.tnlrn.com:8010/live.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>V FM 107.0</string>
			<key>logo</key>
			<string>V</string>
			<key>link</key>
			<string>http://185.145.202.131:8002/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Varnam FM 90.4</string>
			<key>logo</key>
			<string>Varnam</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/varnam-fm-90-4,17533.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Vasantham FM வசந்தம்</string>
			<key>logo</key>
			<string>Vasantham</string>
			<key>link</key>
			<string>https://cp12.serverse.com/proxy/vasanthamfm?mp=/stream</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/vasantham-fm,19751.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Velanda Sevaya (වෙළඳ සේවය)</string>
			<key>logo</key>
			<string>Velanda</string>
			<key>link</key>
			<string>http://220.247.227.6:8000/Scomstream.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>World රිදම් 95.8 FM</string>
			<key>logo</key>
			<string>World</string>
			<key>link</key>
			<string>http://live.tnlrn.com:8030/live.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Y FM 92.7</string>
			<key>logo</key>
			<string>Y</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/y-fm-92-7,17857.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Yaal FM 90.1</string>
			<key>logo</key>
			<string>Yaal</string>
			<key>link</key>
			<string>http://live.trusl.com:1180/listen.pls?sid=1</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/yaal-fm-90-1,19627.m3u</string>
			<key>note</key>
			<string>Top Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Yes 100.8 FM</string>
			<key>logo</key>
			<string>Yes</string>
			<key>link</key>
			<string>http://live.trusl.com:1150/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/yes-fm,872.m3u</string>
			<key>note</key>
			<string>Top Music</string>
		</dict>
	</array>
</dict>
</plist>
