<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1</string>
		<key>Back</key>
		<string>1</string>
		<key>Banner</key>
		<string>1</string>
		<key>Show1</key>
		<string>1</string>
		<key>Show2</key>
		<string>1</string>
		<key>Show3</key>
		<string>1</string>
		<key>Show4</key>
		<string>1</string>
		<key>Alarm</key>
		<string>1</string>
		<key>CustomBanner</key>
		<string>1</string>
		<key>CustomSplash</key>
		<string>1</string>
		<key>Header</key>
		<string>1</string>
		<key>Footer</key>
		<string>1</string>
		<key>Email</key>
		<string>1</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1</string>
		<key>Developer</key>
		<string>1</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Menu</key>
	<array>
		<string>Top</string>
		<string>News</string>
		<string>Local</string>
		<string>Classic</string>
		<string>Music</string>
		<string>Sport</string>
		<string>Talk</string>
		<string>Youth</string>
		<string>Oldies</string>
	</array>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Radio Que Buena FM 88.9</string>
			<key>logo</key>
			<string>Que</string>
			<key>link</key>
			<string>http://www.radiosoma.com/RadioSoma_107.9_MHz.m3u</string>
			<key>http</key>
			<string>http://www.radiosoma.com/RadioSoma_107.9_MHz.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mi Radio 330 AM </string>
			<key>logo</key>
			<string>Mi</string>
			<key>link</key>
			<string>http://stream.it-solutions.ge:8000/mp3-starfm.m3u</string>
			<key>http</key>
			<string>http://stream.it-solutions.ge:8000/mp3-starfm.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Loca</string>
			<key>logo</key>
			<string>Loca</string>
			<key>link</key>
			<string>http://93.123.123.7:8000/listen.pls</string>
			<key>http</key>
			<string>http://93.123.123.7:8000/listen.pls</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Zona 503</string>
			<key>logo</key>
			<string>Zona</string>
			<key>link</key>
			<string>http://provisioning.streamtheworld.com/pls/SER_TOLEDO.pls</string>
			<key>http</key>
			<string>http://provisioning.streamtheworld.com/pls/SER_TOLEDO.pls</string>
			<key>note</key>
			<string>Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Vicentina 503</string>
			<key>logo</key>
			<string>Vicentina</string>
			<key>link</key>
			<string>http://cast.streams.ovh:9069/live</string>
			<key>http</key>
			<string>http://cast.streams.ovh:9069/live</string>
			<key>note</key>
			<string>San Juan</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TOP FM 95,1</string>
			<key>logo</key>
			<string>95</string>
			<key>link</key>
			<string>http://www.radiosoma.com/RadioSoma_107.9_MHz.m3u</string>
			<key>http</key>
			<string>http://www.radiosoma.com/RadioSoma_107.9_MHz.m3u</string>
			<key>note</key>
			<string>90s Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Salvadoreñísima</string>
			<key>logo</key>
			<string>La</string>
			<key>link</key>
			<string>http://stream.it-solutions.ge:8000/mp3-starfm.m3u</string>
			<key>http</key>
			<string>http://stream.it-solutions.ge:8000/mp3-starfm.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Astral 94.9 FM</string>
			<key>logo</key>
			<string>Astral</string>
			<key>link</key>
			<string>http://93.123.123.7:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Rock Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Maranatha</string>
			<key>logo</key>
			<string>Maranatha</string>
			<key>link</key>
			<string>http://provisioning.streamtheworld.com/pls/SER_TOLEDO.pls</string>
			<key>http</key>
			<string>http://provisioning.streamtheworld.com/pls/SER_TOLEDO.pls</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Femenina 102.5 FM</string>
			<key>logo</key>
			<string>Femenina</string>
			<key>link</key>
			<string>http://cast.streams.ovh:9069/live</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Chevere 100.9 FM</string>
			<key>logo</key>
			<string>Chevere</string>
			<key>link</key>
			<string>http://www.radiosoma.com/RadioSoma_107.9_MHz.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Adventista 96.5</string>
			<key>logo</key>
			<string>Adventista</string>
			<key>link</key>
			<string>http://stream.it-solutions.ge:8000/mp3-starfm.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Luz FM 97.7</string>
			<key>logo</key>
			<string>Luz</string>
			<key>link</key>
			<string>http://93.123.123.7:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
