<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>3886050525</string>
		<key>Back</key>
		<string>1750718064</string>
		<key>Banner</key>
		<string>3460095990</string>
		<key>Show1</key>
		<string>4581605978</string>
		<key>Show2</key>
		<string>7522043207</string>
		<key>Show3</key>
		<string>5905585498</string>
		<key>Show4</key>
		<string>8080446402</string>
		<key>Alarm</key>
		<string>6755756442</string>
		<key>CustomBanner</key>
		<string>8160337450</string>
		<key>CustomSplash</key>
		<string>6129070487</string>
		<key>Header</key>
		<string>6999175310</string>
		<key>Footer</key>
		<string>2321687416</string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string>1424684275</string>
		<key>Application</key>
		<string>1453684829</string>
		<key>Developer</key>
		<string>1239592099</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Radio Que Buena FM 88.9</string>
			<key>logo</key>
			<string>Que</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.178.123.11:8366/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://198.178.123.11:8366/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mi Radio 330 AM </string>
			<key>logo</key>
			<string>Mi</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://37.187.250.76:9838/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://37.187.250.76:9838/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Loca</string>
			<key>logo</key>
			<string>Loca</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://173.236.59.83:8650/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://173.236.59.83:8650/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Zona 503</string>
			<key>logo</key>
			<string>Zona</string>
			<key>link</key>
			<string>https://trappist.shoutca.st/tunein/radiozona503.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://149.56.195.94:8445/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Vicentina 503</string>
			<key>logo</key>
			<string>Vicentina</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://94.23.6.53:8264/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://94.23.6.53:8264/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>San Juan</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TOP FM 95,1</string>
			<key>logo</key>
			<string>95</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://170.75.146.162:8264/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://170.75.146.162:8264/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string>90s Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Salvadoreñísima</string>
			<key>logo</key>
			<string>La</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://108.178.13.122:8044/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://108.178.13.122:8044/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Astral 94.9 FM</string>
			<key>logo</key>
			<string>Astral</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/astral-94-9-fm,9190.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Rock Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Maranatha</string>
			<key>logo</key>
			<string>Maranatha</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://108.163.197.114:8068/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://108.163.197.114:8068/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Femenina 102.5 FM</string>
			<key>logo</key>
			<string>Femenina</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/femenina-102-5-fm,3986.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Chevere 100.9 FM</string>
			<key>logo</key>
			<string>Chevere</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/la-chevere-100-9-fm,9191.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Adventista 96.5</string>
			<key>logo</key>
			<string>Adventista</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-adventista-96-5,9618.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Luz FM 97.7</string>
			<key>logo</key>
			<string>Luz</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-luz,9188.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
