<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string></string>
		<key>Main</key>
		<string></string>
		<key>Back</key>
		<string></string>
		<key>Banner</key>
		<string></string>
		<key>Show1</key>
		<string></string>
		<key>Show2</key>
		<string></string>
		<key>Show3</key>
		<string></string>
		<key>Show4</key>
		<string></string>
		<key>Alarm</key>
		<string></string>
		<key>CustomBanner</key>
		<string></string>
		<key>CustomSplash</key>
		<string></string>
		<key>Header</key>
		<string></string>
		<key>Footer</key>
		<string></string>
		<key>Email</key>
		<string>ios.apps.community@gmail.com</string>
		<key>Alternative</key>
		<string></string>
		<key>Application</key>
		<string></string>
		<key>Developer</key>
		<string></string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Menu</key>
	<array>
		<string>Top</string>
		<string>News</string>
		<string>Local</string>
		<string>Classic</string>
		<string>Music</string>
		<string>Sport</string>
		<string>Talk</string>
		<string>Youth</string>
		<string>Oldies</string>
	</array>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>WVVI Caribbean Country 93.5 FM</string>
			<key>logo</key>
			<string>WVVI</string>
			<key>link</key>
			<string>http://208.84.199.84:8088/broadwave.mp3?src=1&amp;rate=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>WJKC Isle 95.1 FM</string>
			<key>logo</key>
			<string>WJKC</string>
			<key>link</key>
			<string>http://208.84.199.84:8084/broadwave.mp3?src=1&amp;rate=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>WTJC Caribbean Gospel 96.9 FM</string>
			<key>logo</key>
			<string>WTJC</string>
			<key>link</key>
			<string>http://s9.viastreaming.net:7820/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>WUVI 97.3 FM</string>
			<key>logo</key>
			<string>WUVI</string>
			<key>link</key>
			<string>http://kpftx.org:8000/wuvi.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>WMYP Rumba 98.3 FM</string>
			<key>logo</key>
			<string>WMYP</string>
			<key>link</key>
			<string>http://208.84.199.84:8087/broadwave.mp3?src=1&amp;rate=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>WVIQ Sunny 99.5 FM</string>
			<key>logo</key>
			<string>WVIQ</string>
			<key>link</key>
			<string>http://208.84.199.84:8084/broadwave.mp3?src=1&amp;rate=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>WSTX 100.3 FM</string>
			<key>logo</key>
			<string>WSTX</string>
			<key>link</key>
			<string>http://wstxradio.serverroom.net:7490/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>WAXJ The Reef 103.5 FM</string>
			<key>logo</key>
			<string>WAXJ</string>
			<key>link</key>
			<string>http://ic2.sslstream.com/waxj-fm.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>WMNG The Mongoose 104.9 FM</string>
			<key>logo</key>
			<string>WMNG</string>
			<key>link</key>
			<string>http://208.84.199.84:8086/broadwave.mp3?src=1&amp;rate=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>WLDV DaVybe 107.9 FM</string>
			<key>logo</key>
			<string>WLDV</string>
			<key>link</key>
			<string>http://ice3.securenetsystems.net/WLDV.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>WSTA 1340 AM</string>
			<key>logo</key>
			<string>WSTA</string>
			<key>link</key>
			<string>http://dpcmj8bn3cs1i.cloudfront.net/stream.ogg.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>WDHP The Reef 1620 AM</string>
			<key>logo</key>
			<string>WDHP</string>
			<key>link</key>
			<string>http://ic2.mainstreamnetwork.com/wdhp-am.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk, Music</string>
		</dict>
	</array>
</dict>
</plist>
