<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>VTV 1</string>
		<key>logo</key>
		<string>1</string>
		<key>link</key>
		<string>http://vtv.vn/truyen-hinh-truc-tuyen/vtv1.htm</string>
		<key>http</key>
		<string>http://kr.tvnet.gov.vn/kenh-truyen-hinh/1011/vtv1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>VTV 2 (Science/Tech.)</string>
		<key>logo</key>
		<string>2</string>
		<key>link</key>
		<string>http://vtv.vn/truyen-hinh-truc-tuyen/vtv2.htm</string>
		<key>http</key>
		<string>http://kr.tvnet.gov.vn/kenh-truyen-hinh/1010/vtv2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>VTV 3 (Sports/Entertainment)</string>
		<key>logo</key>
		<string>3</string>
		<key>link</key>
		<string>http://vtv.vn/truyen-hinh-truc-tuyen/vtv3.htm</string>
		<key>http</key>
		<string>http://kr.tvnet.gov.vn/kenh-truyen-hinh/1013/vtv3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>VTV 4 (International)</string>
		<key>logo</key>
		<string>4</string>
		<key>link</key>
		<string>http://vtv.vn/truyen-hinh-truc-tuyen/vtv4.htm</string>
		<key>http</key>
		<string>http://kr.tvnet.gov.vn/kenh-truyen-hinh/1009/vtv4</string>
	</dict>
	<dict>
		<key>name</key>
		<string>VTV 5 (Ethnic Minorities)</string>
		<key>logo</key>
		<string>5</string>
		<key>link</key>
		<string>http://vtv.vn/truyen-hinh-truc-tuyen/vtv5.htm</string>
		<key>http</key>
		<string>http://vtv.vn/truyen-hinh-truc-tuyen.htm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>VTV5 TÂY NAM BỘ</string>
		<key>logo</key>
		<string>NAM</string>
		<key>link</key>
		<string>http://vtv.vn/truyen-hinh-truc-tuyen/vtv5-tay-nam-bo.htm</string>
		<key>http</key>
		<string>http://vtv.vn/truyen-hinh-truc-tuyen.htm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>VTV 6 (Youth-oriented Sports &amp; Ent.)	</string>
		<key>logo</key>
		<string>6</string>
		<key>link</key>
		<string>http://vtv.vn/truyen-hinh-truc-tuyen/vtv6.htm</string>
		<key>http</key>
		<string>http://vtv.vn/truyen-hinh-truc-tuyen.htm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>VTV 7 (Educational)</string>
		<key>logo</key>
		<string>7</string>
		<key>link</key>
		<string>http://vtv.vn/truyen-hinh-truc-tuyen/vtv7.htm</string>
		<key>http</key>
		<string>http://vtv.vn/truyen-hinh-truc-tuyen.htm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>VTV 8 (Central &amp; Central Highlands)	</string>
		<key>logo</key>
		<string>8</string>
		<key>link</key>
		<string>http://vtv.vn/truyen-hinh-truc-tuyen/vtv8.htm</string>
		<key>http</key>
		<string>http://vtv.vn/truyen-hinh-truc-tuyen.htm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>VTV 9 (Southern Vietnam)</string>
		<key>logo</key>
		<string>9</string>
		<key>link</key>
		<string>http://vtv.vn/truyen-hinh-truc-tuyen/vtv9.htm</string>
		<key>http</key>
		<string>http://vtv.vn/truyen-hinh-truc-tuyen.htm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>VTV Live</string>
		<key>logo</key>
		<string>VTV</string>
		<key>link</key>
		<string>http://thunghiem.vtv.vn/</string>
		<key>http</key>
		<string>http://vtv.vn/truyen-hinh-truc-tuyen.htm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>VTC 1</string>
		<key>logo</key>
		<string>VTC1</string>
		<key>link</key>
		<string>http://kr.tvnet.gov.vn/kenh-truyen-hinh/1007/vtc1</string>
		<key>http</key>
		<string>http://kr.tvnet.gov.vn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>VTC 9 - Let&apos;sViet</string>
		<key>logo</key>
		<string>VTC9</string>
		<key>link</key>
		<string>http://letsviet.vn/vi/xem-truc-tuyen/</string>
		<key>http</key>
		<string>http://letsviet.vn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>VTC 10 - NETVIET</string>
		<key>logo</key>
		<string>NETVIET</string>
		<key>link</key>
		<string>http://kr.tvnet.gov.vn/kenh-truyen-hinh/1006/netviet</string>
		<key>http</key>
		<string>http://kr.tvnet.gov.vn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>VTC 11 - Kids And Family</string>
		<key>logo</key>
		<string>11</string>
		<key>link</key>
		<string>http://kidstv.com.vn/</string>
		<key>http</key>
		<string>http://kidstv.com.vn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>iTV</string>
		<key>logo</key>
		<string>iTV</string>
		<key>link</key>
		<string>http://kenhitv.vn/xem-itv</string>
		<key>http</key>
		<string>http://kenhitv.vn</string>
	</dict>
	<dict>
		<key>name</key>
		<string>VTC 16 (Agriculture &amp; Rural)</string>
		<key>logo</key>
		<string>16</string>
		<key>link</key>
		<string>http://kr.tvnet.gov.vn/kenh-truyen-hinh/1018/vtc16</string>
		<key>http</key>
		<string>http://kr.tvnet.gov.vn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>HTV9</string>
		<key>logo</key>
		<string>HTV9</string>
		<key>link</key>
		<string>http://kr.tvnet.gov.vn/kenh-truyen-hinh/1012/htv9</string>
		<key>http</key>
		<string>http://kr.tvnet.gov.vn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TTXVN</string>
		<key>logo</key>
		<string>TTXVN</string>
		<key>link</key>
		<string>http://vnews.gov.vn/</string>
		<key>http</key>
		<string>http://kr.tvnet.gov.vn/kenh-truyen-hinh/1019/ttxvn</string>
	</dict>
	<dict>
		<key>name</key>
		<string>HN</string>
		<key>logo</key>
		<string>HN</string>
		<key>link</key>
		<string>http://hanoitv.vn/truyen-hinh-truc-tuyen.html</string>
		<key>http</key>
		<string>http://kr.tvnet.gov.vn/kenh-truyen-hinh/1008/hn</string>
	</dict>
	<dict>
		<key>name</key>
		<string>VOV</string>
		<key>logo</key>
		<string>VOV</string>
		<key>link</key>
		<string>http://vovtv.vov.vn/</string>
		<key>http</key>
		<string>http://vovtv.vov.vn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>VOV1</string>
		<key>logo</key>
		<string>VOV1</string>
		<key>link</key>
		<string>http://kr.tvnet.gov.vn/kenh-truyen-hinh/1014/vov1</string>
		<key>http</key>
		<string>http://kr.tvnet.gov.vn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>VOV2</string>
		<key>logo</key>
		<string>VOV2</string>
		<key>link</key>
		<string>http://kr.tvnet.gov.vn/kenh-truyen-hinh/1015/vov2</string>
		<key>http</key>
		<string>http://kr.tvnet.gov.vn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>VOV3</string>
		<key>logo</key>
		<string>VOV3</string>
		<key>link</key>
		<string>http://kr.tvnet.gov.vn/kenh-truyen-hinh/1016/vov3</string>
		<key>http</key>
		<string>http://kr.tvnet.gov.vn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>VOV5</string>
		<key>logo</key>
		<string>VOV5</string>
		<key>link</key>
		<string>http://kr.tvnet.gov.vn/kenh-truyen-hinh/1017/vov5</string>
		<key>http</key>
		<string>http://kr.tvnet.gov.vn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ANTV</string>
		<key>logo</key>
		<string>ANTV</string>
		<key>link</key>
		<string>http://www.antv.gov.vn/truyen-hinh-truc-tuyen.html</string>
		<key>http</key>
		<string>http://www.antv.gov.vn</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nhân Dân</string>
		<key>logo</key>
		<string>Dan</string>
		<key>link</key>
		<string>http://nhandantv.vn/</string>
		<key>http</key>
		<string>http://nhandantv.vn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>QPVN</string>
		<key>logo</key>
		<string>QPVN</string>
		<key>link</key>
		<string>http://qpvn.vn/tv.html</string>
		<key>http</key>
		<string>http://qpvn.vn</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SCJ</string>
		<key>logo</key>
		<string>SCJ</string>
		<key>link</key>
		<string>http://www.scj.vn/vi/lich-phat-song.html</string>
		<key>http</key>
		<string>http://www.scj.vn/en/lich-phat-song.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>QVC</string>
		<key>logo</key>
		<string>QVC</string>
		<key>link</key>
		<string>http://qvc.jp/cont/live/Main?</string>
		<key>http</key>
		<string>https://www.youtube.com/user/QVCJapan/videos?view=2&amp;flow=grid</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bloomberg Asia</string>
		<key>logo</key>
		<string>bloomberg</string>
		<key>link</key>
		<string>https://www.bloomberg.com/live/asia</string>
		<key>http</key>
		<string>https://www.bloomberg.com/live/asia_stream</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Saigon 57.5</string>
		<key>logo</key>
		<string>Saigon</string>
		<key>link</key>
		<string>http://www.saigontv.us/</string>
		<key>http</key>
		<string>http://www.saigontv.us/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>VNA 57.3</string>
		<key>logo</key>
		<string>VNA</string>
		<key>link</key>
		<string>http://vnatv573.com/p284/live-4</string>
		<key>http</key>
		<string>http://vnatv573.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Little Saigon</string>
		<key>logo</key>
		<string>Little</string>
		<key>link</key>
		<string>http://mylstv.com/live/</string>
		<key>http</key>
		<string>http://mylstv.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Saigon Network</string>
		<key>logo</key>
		<string>Network</string>
		<key>link</key>
		<string>http://www.saigonnetwork.tv/</string>
		<key>http</key>
		<string>http://www.saigonnetwork.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SET 57.4</string>
		<key>logo</key>
		<string>SET</string>
		<key>link</key>
		<string>http://set574.com/</string>
		<key>http</key>
		<string>http://set574.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Saigon 55.3</string>
		<key>logo</key>
		<string>55</string>
		<key>link</key>
		<string>http://saigon-tv.tv/</string>
		<key>http</key>
		<string>http://saigon-tv.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>VBS</string>
		<key>logo</key>
		<string>VBS</string>
		<key>link</key>
		<string>http://vbstelevision.com/</string>
		<key>http</key>
		<string>http://vbstelevision.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>IBC</string>
		<key>logo</key>
		<string>IBC</string>
		<key>link</key>
		<string>http://www.ibcnews.tv/</string>
		<key>http</key>
		<string>http://www.ibcnews.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Viet Global Mall</string>
		<key>logo</key>
		<string>Mall</string>
		<key>link</key>
		<string>http://www.vietglobalmalltv.com/</string>
		<key>http</key>
		<string>http://www.vietglobalmalltv.com/Default.aspx</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hoa Binh</string>
		<key>logo</key>
		<string>Hoa</string>
		<key>link</key>
		<string>http://hoabinhtv.vn/</string>
		<key>http</key>
		<string>http://hoabinhtv.vn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sơn La</string>
		<key>logo</key>
		<string>La</string>
		<key>link</key>
		<string>http://sonlatv.vn/</string>
		<key>http</key>
		<string>http://sonlatv.vn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bắc Kạn</string>
		<key>logo</key>
		<string>TBK</string>
		<key>link</key>
		<string>http://backantv.vn/</string>
		<key>http</key>
		<string>http://backantv.vn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Cao Bằng</string>
		<key>logo</key>
		<string>Cao</string>
		<key>link</key>
		<string>http://caobangtv.vn/</string>
		<key>http</key>
		<string>http://caobangtv.vn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hà Giang</string>
		<key>logo</key>
		<string>Giang</string>
		<key>link</key>
		<string>http://hagiangtv.vn/</string>
		<key>http</key>
		<string>http://hagiangtv.vn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Lạng Sơn</string>
		<key>logo</key>
		<string>Son</string>
		<key>link</key>
		<string>http://www.langsontv.vn/</string>
		<key>http</key>
		<string>http://www.langsontv.vn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Phú Thọ</string>
		<key>logo</key>
		<string>Tho</string>
		<key>link</key>
		<string>http://phuthotv.vn/</string>
		<key>http</key>
		<string>http://phuthotv.vn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Thái Nguyên</string>
		<key>logo</key>
		<string>Nguyen</string>
		<key>link</key>
		<string>http://thainguyentv.vn/</string>
		<key>http</key>
		<string>http://thainguyentv.vn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tuyên Quang</string>
		<key>logo</key>
		<string>Quang</string>
		<key>link</key>
		<string>http://tuyenquangtv.vn/trang-chu/</string>
		<key>http</key>
		<string>http://www.tuyenquangtv.vn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bắc Ninh</string>
		<key>logo</key>
		<string>Ninh</string>
		<key>link</key>
		<string>http://bacninhtv.vn/</string>
		<key>http</key>
		<string>http://bacninhtv.vn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hải Phòng</string>
		<key>logo</key>
		<string>Phong</string>
		<key>link</key>
		<string>http://thp.org.vn/tv-online.html</string>
		<key>http</key>
		<string>http://thp.org.vn</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hải Dương</string>
		<key>logo</key>
		<string>Hai</string>
		<key>link</key>
		<string>http://www.haiduongtv.com.vn/truyen-hinh-truc-tuyen.html</string>
		<key>http</key>
		<string>http://www.haiduongtv.com.vn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hà Nam</string>
		<key>logo</key>
		<string>Ha</string>
		<key>link</key>
		<string>http://hanamtv.vn/</string>
		<key>http</key>
		<string>http://hanamtv.vn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hanoi 2</string>
		<key>logo</key>
		<string>Hanoi</string>
		<key>link</key>
		<string>http://hanoitv.vn/truyen-hinh-truc-tuyen.html#hanoi2</string>
		<key>http</key>
		<string>http://hanoitv.vn</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hưng Yên</string>
		<key>logo</key>
		<string>Yen</string>
		<key>link</key>
		<string>http://hungyentv.vn/truyen-hinh-truc-tuyen</string>
		<key>http</key>
		<string>http://hungyentv.vn</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ninh Bình</string>
		<key>logo</key>
		<string>Binh</string>
		<key>link</key>
		<string>http://www.nbtv.vn/</string>
		<key>http</key>
		<string>http://www.nbtv.vn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Thái Bình</string>
		<key>logo</key>
		<string>TBTV</string>
		<key>link</key>
		<string>http://thaibinhtv.vn/</string>
		<key>http</key>
		<string>http://thaibinhtv.vn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Vĩnh Phúc</string>
		<key>logo</key>
		<string>Phuc</string>
		<key>link</key>
		<string>http://vinhphuctv.vn/</string>
		<key>http</key>
		<string>http://vinhphuctv.vn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nghệ An</string>
		<key>logo</key>
		<string>An</string>
		<key>link</key>
		<string>http://www.truyenhinhnghean.vn/</string>
		<key>http</key>
		<string>http://www.truyenhinhnghean.vn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Quảng Trị</string>
		<key>logo</key>
		<string>Tri</string>
		<key>link</key>
		<string>http://quangtritv.vn/tv-online.html</string>
		<key>http</key>
		<string>http://quangtritv.vn</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Thanh Hóa</string>
		<key>logo</key>
		<string>Thanh</string>
		<key>link</key>
		<string>http://truyenhinhthanhhoa.vn/web/media/livetv</string>
		<key>http</key>
		<string>http://truyenhinhthanhhoa.vn</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bình Định</string>
		<key>logo</key>
		<string>Bin</string>
		<key>link</key>
		<string>http://www.binhdinhtv.vn/</string>
		<key>http</key>
		<string>http://www.binhdinhtv.vn/tv.php</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bình Thuận</string>
		<key>logo</key>
		<string>Thuan</string>
		<key>link</key>
		<string>http://www.binhthuantv.vn/trang-chu.html</string>
		<key>http</key>
		<string>http://www.binhthuantv.vn</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ĐaNang TV1 (DRT 1)</string>
		<key>logo</key>
		<string>TV1</string>
		<key>link</key>
		<string>http://www.drt.danang.vn/truc_tuyen-252</string>
		<key>http</key>
		<string>http://www.drt.danang.vn</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DaNang TV2 (DRT 2)</string>
		<key>logo</key>
		<string>TV2</string>
		<key>link</key>
		<string>http://www.drt.danang.vn/truc_tuyen-253</string>
		<key>http</key>
		<string>http://www.drt.danang.vn</string>
	</dict>
	<dict>
		<key>name</key>
		<string>VTV Đà Nẵng</string>
		<key>logo</key>
		<string>Nang</string>
		<key>link</key>
		<string>http://www.vtvdanang.vn/truc-tuyen</string>
		<key>http</key>
		<string>http://www.vtvdanang.vn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Khánh Hoà</string>
		<key>logo</key>
		<string>Ho</string>
		<key>link</key>
		<string>http://ktv.org.vn/truyen-hinh/</string>
		<key>http</key>
		<string>http://ktv.org.vn</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ninh Thuận</string>
		<key>logo</key>
		<string>Nin</string>
		<key>link</key>
		<string>http://ninhthuantv.vn/</string>
		<key>http</key>
		<string>http://ninhthuantv.vn/trangchu/1.aspx</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Quảng Nam</string>
		<key>logo</key>
		<string>Quan</string>
		<key>link</key>
		<string>http://qrt.vn/</string>
		<key>http</key>
		<string>http://qrt.vn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Đắk Lắk</string>
		<key>logo</key>
		<string>Lak</string>
		<key>link</key>
		<string>http://drt.vn/trang-ch-menuheader-197</string>
		<key>http</key>
		<string>http://drt.vn</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Đăk Nông</string>
		<key>logo</key>
		<string>Nong</string>
		<key>link</key>
		<string>http://ptthdaknong.com.vn/truyenhinh.html</string>
		<key>http</key>
		<string>http://ptthdaknong.com.vn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Gia Lai</string>
		<key>logo</key>
		<string>Gia</string>
		<key>link</key>
		<string>http://gialaitv.vn/</string>
		<key>http</key>
		<string>http://gialaitv.vn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kon Tum</string>
		<key>logo</key>
		<string>Kon</string>
		<key>link</key>
		<string>http://kontumtv.vn/</string>
		<key>http</key>
		<string>http://kontumtv.vn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Lâm Đồng</string>
		<key>logo</key>
		<string>Lam</string>
		<key>link</key>
		<string>http://www.lamdongtv.vn/</string>
		<key>http</key>
		<string>http://www.lamdongtv.vn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bà Rịa-Vũng Tàu</string>
		<key>logo</key>
		<string>Tau</string>
		<key>link</key>
		<string>http://brt.vn/</string>
		<key>http</key>
		<string>http://brt.vn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bình Phước 1</string>
		<key>logo</key>
		<string>Binh1</string>
		<key>link</key>
		<string>http://bptv.vn/</string>
		<key>http</key>
		<string>http://bptv.vn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bình Phước 2</string>
		<key>logo</key>
		<string>Binh2</string>
		<key>link</key>
		<string>http://bptv.vn/</string>
		<key>http</key>
		<string>http://bptv.vn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Đồng Nai RTV</string>
		<key>logo</key>
		<string>RTV</string>
		<key>link</key>
		<string>http://www.dnrtv.org.vn/</string>
		<key>http</key>
		<string>http://www.dnrtv.org.vn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>HTV 7 Hồ Chí Minh</string>
		<key>logo</key>
		<string>HTV7</string>
		<key>link</key>
		<string>http://www.htv.com.vn/Trang/Chinh/HTV7.aspx</string>
		<key>http</key>
		<string>http://www.htv.com.vn</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bạc Liêu</string>
		<key>logo</key>
		<string>Lieu</string>
		<key>link</key>
		<string>http://thbl.vn/</string>
		<key>http</key>
		<string>http://thbl.vn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>An Giang</string>
		<key>logo</key>
		<string>AnGiang</string>
		<key>link</key>
		<string>http://www.atv.org.vn/</string>
		<key>http</key>
		<string>http://www.atv.org.vn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bến Tre</string>
		<key>logo</key>
		<string>Tre</string>
		<key>link</key>
		<string>http://thbt.vn/</string>
		<key>http</key>
		<string>http://thbt.vn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Cà Mau</string>
		<key>logo</key>
		<string>Mau</string>
		<key>link</key>
		<string>http://ctvcamau.vn/</string>
		<key>http</key>
		<string>http://ctvcamau.vn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>THTPCT Cần Thơ</string>
		<key>logo</key>
		<string>THTPCT</string>
		<key>link</key>
		<string>http://canthotv.vn/category/videos/</string>
		<key>http</key>
		<string>http://canthotv.vn</string>
	</dict>
	<dict>
		<key>name</key>
		<string>HGTV Hậu Giang</string>
		<key>logo</key>
		<string>HGTV</string>
		<key>link</key>
		<string>http://www.truyenhinhhaugiang.vn/</string>
		<key>http</key>
		<string>http://www.truyenhinhhaugiang.vn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kiên Giang</string>
		<key>logo</key>
		<string>Kien</string>
		<key>link</key>
		<string>http://kgtv.vn/</string>
		<key>http</key>
		<string>http://kgtv.vn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>LA34</string>
		<key>logo</key>
		<string>LA34</string>
		<key>link</key>
		<string>http://la34.com.vn/truyen-hinh/</string>
		<key>http</key>
		<string>http://la34.com.vn</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sóc Trăng</string>
		<key>logo</key>
		<string>Soc</string>
		<key>link</key>
		<string>http://www.thst.vn/truyen-hinh</string>
		<key>http</key>
		<string>http://www.thst.vn</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tiền Giang</string>
		<key>logo</key>
		<string>Tien</string>
		<key>link</key>
		<string>http://www.thtg.vn/</string>
		<key>http</key>
		<string>http://www.thtg.vn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Trà Vinh</string>
		<key>logo</key>
		<string>Vinh</string>
		<key>link</key>
		<string>http://travinhtv.vn/thtv/</string>
		<key>http</key>
		<string>http://travinhtv.vn</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Vĩnh Long</string>
		<key>logo</key>
		<string>Long</string>
		<key>link</key>
		<string>http://thvl.vn/</string>
		<key>http</key>
		<string>http://thvl.vn/</string>
	</dict>
</array>
</plist>
