<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string></string>
		<key>Main</key>
		<string></string>
		<key>Back</key>
		<string></string>
		<key>Banner</key>
		<string></string>
		<key>Show1</key>
		<string></string>
		<key>Show2</key>
		<string></string>
		<key>Show3</key>
		<string></string>
		<key>Show4</key>
		<string></string>
		<key>Alarm</key>
		<string></string>
		<key>CustomBanner</key>
		<string></string>
		<key>CustomSplash</key>
		<string></string>
		<key>Header</key>
		<string></string>
		<key>Footer</key>
		<string></string>
		<key>Email</key>
		<string>ios.apps.community@gmail.com</string>
		<key>Alternative</key>
		<string></string>
		<key>Application</key>
		<string></string>
		<key>Developer</key>
		<string></string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Menu</key>
	<array>
		<string>Top</string>
		<string>News</string>
		<string>Local</string>
		<string>Classic</string>
		<string>Music</string>
		<string>Sport</string>
		<string>Talk</string>
		<string>Youth</string>
		<string>Oldies</string>
	</array>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>МҮОНР-1 FM 106</string>
			<key>logo</key>
			<string>106</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/1052-1198-1054-1053-1056-1-fm-106,18974.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>МҮОНР-2</string>
			<key>logo</key>
			<string>МҮОНР-2</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/1052-1198-1054-1053-1056-2,18975.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Best FM 98.5</string>
			<key>logo</key>
			<string>Best</string>
			<key>link</key>
			<string>http://www.bestfm.mn/Best_FM_98.5.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/best-fm-98-5,20201.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Family Radio 104.5 FM</string>
			<key>logo</key>
			<string>Family</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/family-radio-104-5-fm,18977.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Gerbul Radio 104.5 FM</string>
			<key>logo</key>
			<string>Gerbul</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/gerbul-radio-104-5-fm,20202.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>MGL RADIO 102.1 FM</string>
			<key>logo</key>
			<string>MGL</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/mglradio-102-1-fm,18973.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>P3 FM 100.9</string>
			<key>logo</key>
			<string>P3</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/p3-fm-100-9,18976.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
