<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1</string>
		<key>Back</key>
		<string>1</string>
		<key>Banner</key>
		<string>1</string>
		<key>Show1</key>
		<string>1</string>
		<key>Show2</key>
		<string>1</string>
		<key>Show3</key>
		<string>1</string>
		<key>Show4</key>
		<string>1</string>
		<key>Alarm</key>
		<string>1</string>
		<key>CustomBanner</key>
		<string>1</string>
		<key>CustomSplash</key>
		<string>1</string>
		<key>Header</key>
		<string>1</string>
		<key>Footer</key>
		<string>1</string>
		<key>Email</key>
		<string>1</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1</string>
		<key>Developer</key>
		<string>1</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Menu</key>
	<array>
		<string>Top</string>
		<string>News</string>
		<string>Local</string>
		<string>Classic</string>
		<string>Music</string>
		<string>Sport</string>
		<string>Talk</string>
		<string>Youth</string>
		<string>Oldies</string>
	</array>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Retro Bollywood</string>
			<key>logo</key>
			<string>Retro</string>
			<key>link</key>
			<string>http://www.radiosoma.com/RadioSoma_107.9_MHz.m3u</string>
			<key>http</key>
			<string>http://www.radiosoma.com/RadioSoma_107.9_MHz.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio HSL</string>
			<key>logo</key>
			<string>HSL</string>
			<key>link</key>
			<string>http://stream.it-solutions.ge:8000/mp3-starfm.m3u</string>
			<key>http</key>
			<string>http://stream.it-solutions.ge:8000/mp3-starfm.m3u</string>
			<key>note</key>
			<string>Top</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hits Of Bollywood</string>
			<key>logo</key>
			<string>Bollywood</string>
			<key>link</key>
			<string>http://93.123.123.7:8000/listen.pls</string>
			<key>http</key>
			<string>http://93.123.123.7:8000/listen.pls</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>XL Gurbani</string>
			<key>logo</key>
			<string>XL</string>
			<key>link</key>
			<string>http://provisioning.streamtheworld.com/pls/SER_TOLEDO.pls</string>
			<key>http</key>
			<string>http://provisioning.streamtheworld.com/pls/SER_TOLEDO.pls</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Akhand Path Radio</string>
			<key>logo</key>
			<string>Akhand</string>
			<key>link</key>
			<string>http://cast.streams.ovh:9069/live</string>
			<key>http</key>
			<string>http://cast.streams.ovh:9069/live</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Jagat Radio</string>
			<key>logo</key>
			<string>Jagat</string>
			<key>link</key>
			<string>http://www.radiosoma.com/RadioSoma_107.9_MHz.m3u</string>
			<key>http</key>
			<string>http://www.radiosoma.com/RadioSoma_107.9_MHz.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Taj</string>
			<key>logo</key>
			<string>Taj</string>
			<key>link</key>
			<string>http://stream.it-solutions.ge:8000/mp3-starfm.m3u</string>
			<key>http</key>
			<string>http://stream.it-solutions.ge:8000/mp3-starfm.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sikh Kirtan</string>
			<key>logo</key>
			<string>Sikh</string>
			<key>link</key>
			<string>http://93.123.123.7:8000/listen.pls</string>
			<key>http</key>
			<string>http://93.123.123.7:8000/listen.pls</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Khalsa FM</string>
			<key>logo</key>
			<string>Khalsa</string>
			<key>link</key>
			<string>http://provisioning.streamtheworld.com/pls/SER_TOLEDO.pls</string>
			<key>http</key>
			<string>http://provisioning.streamtheworld.com/pls/SER_TOLEDO.pls</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Diverse FM</string>
			<key>logo</key>
			<string>Diverse</string>
			<key>link</key>
			<string>http://cast.streams.ovh:9069/live</string>
			<key>http</key>
			<string>http://cast.streams.ovh:9069/live</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bhakti</string>
			<key>logo</key>
			<string>Bhakti</string>
			<key>link</key>
			<string>http://www.radiosoma.com/RadioSoma_107.9_MHz.m3u</string>
			<key>http</key>
			<string>http://www.radiosoma.com/RadioSoma_107.9_MHz.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Punjab Rocks</string>
			<key>logo</key>
			<string>Punjab</string>
			<key>link</key>
			<string>http://stream.it-solutions.ge:8000/mp3-starfm.m3u</string>
			<key>http</key>
			<string>http://stream.it-solutions.ge:8000/mp3-starfm.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Apna eRadio</string>
			<key>logo</key>
			<string>Apna</string>
			<key>link</key>
			<string>http://93.123.123.7:8000/listen.pls</string>
			<key>http</key>
			<string>http://93.123.123.7:8000/listen.pls</string>
			<key>note</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
