<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string></string>
		<key>Main</key>
		<string></string>
		<key>Back</key>
		<string></string>
		<key>Banner</key>
		<string></string>
		<key>Show1</key>
		<string></string>
		<key>Show2</key>
		<string></string>
		<key>Show3</key>
		<string></string>
		<key>Show4</key>
		<string></string>
		<key>Alarm</key>
		<string></string>
		<key>CustomBanner</key>
		<string></string>
		<key>CustomSplash</key>
		<string></string>
		<key>Header</key>
		<string></string>
		<key>Footer</key>
		<string></string>
		<key>Email</key>
		<string>ios.apps.community@gmail.com</string>
		<key>Alternative</key>
		<string></string>
		<key>Application</key>
		<string></string>
		<key>Developer</key>
		<string></string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Menu</key>
	<array>
		<string>Top</string>
		<string>News</string>
		<string>Local</string>
		<string>Classic</string>
		<string>Music</string>
		<string>Sport</string>
		<string>Talk</string>
		<string>Youth</string>
		<string>Oldies</string>
	</array>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>راديو دجلة</string>
			<key>logo</key>
			<string>dijla</string>
			<key>link</key>
			<string>http://radio.radiodijla.com:8443/listen.pls</string>
			<key>http</key>
			<string>http://eu3.radioboss.fm:8164/stream</string>
			<key>note</key>
			<string>News, Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>راديو نوا - بغداد 89.9 FM</string>
			<key>logo</key>
			<string>nawa</string>
			<key>link</key>
			<string>http://nawaradio2.primcast.com:1344/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>راديو الرشيد FM 91.5 </string>
			<key>logo</key>
			<string>alrasheed</string>
			<key>link</key>
			<string>http://alrasheedmedia.com:9998/listen.pls</string>
			<key>http</key>
			<string>http://alrasheedmedia.com:9998/;</string>
			<key>note</key>
			<string>News, Talk, Top Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>اذاعة المدى - بغداد 92.8 FM</string>
			<key>logo</key>
			<string>almada</string>
			<key>link</key>
			<string>http://almadaradio.primcast.com:8604/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>راديو الحرية </string>
			<key>logo</key>
			<string>alhurria</string>
			<key>link</key>
			<string>http://109.224.60.54:8686/alhurriafm.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>راديو اور FM - بغداد 98.9</string>
			<key>logo</key>
			<string>98</string>
			<key>link</key>
			<string>http://162.244.80.32:6252/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>راديو سومر FM - العراق</string>
			<key>logo</key>
			<string>sumer</string>
			<key>link</key>
			<string>http://audiostreaming.itworkscdn.com:9012/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>راديو ديموزي - بغداد FM 104.1</string>
			<key>logo</key>
			<string>demozy</string>
			<key>link</key>
			<string>http://162.244.81.30:6584/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>إذاعة الكفيل - العراق</string>
			<key>logo</key>
			<string>alkafeel</string>
			<key>link</key>
			<string>https://stream.alkafeel.net/live/radio/manifest.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>إذاعة صوت النجباء - العراق</string>
			<key>logo</key>
			<string>alnujaba</string>
			<key>link</key>
			<string>http://51.254.197.101:9300/listen.pls?sid=1</string>
			<key>http</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC World Arabic</string>
			<key>logo</key>
			<string>Arabic</string>
			<key>link</key>
			<string>http://bbcwssc.ic.llnwd.net/stream/bbcwssc_mp1_ws-araba.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>راديو سوا العراق</string>
			<key>logo</key>
			<string>Sawa</string>
			<key>link</key>
			<string>http://mbn-channel-05.akacast.akamaistream.net/7/25/233454/v1/ibb.akacast.akamaistream.net/mbn_channel_05</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sky News Arabia</string>
			<key>logo</key>
			<string>Sky</string>
			<key>link</key>
			<string>http://radio.skynewsarabia.com/stream/radio/skynewsarabia.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
	</array>
</dict>
</plist>
