<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string></string>
		<key>Main</key>
		<string></string>
		<key>Back</key>
		<string></string>
		<key>Banner</key>
		<string></string>
		<key>Show1</key>
		<string></string>
		<key>Show2</key>
		<string></string>
		<key>Show3</key>
		<string></string>
		<key>Show4</key>
		<string></string>
		<key>Alarm</key>
		<string></string>
		<key>CustomBanner</key>
		<string></string>
		<key>CustomSplash</key>
		<string></string>
		<key>Header</key>
		<string></string>
		<key>Footer</key>
		<string></string>
		<key>Email</key>
		<string>ios.apps.community@gmail.com</string>
		<key>Alternative</key>
		<string></string>
		<key>Application</key>
		<string></string>
		<key>Developer</key>
		<string></string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Menu</key>
	<array>
		<string>Top</string>
		<string>News</string>
		<string>Local</string>
		<string>Classic</string>
		<string>Music</string>
		<string>Sport</string>
		<string>Talk</string>
		<string>Youth</string>
		<string>Oldies</string>
	</array>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>راديو روتانا - السعودية</string>
			<key>logo</key>
			<string>Rotana</string>
			<key>link</key>
			<string>http://philae.shoutca.st:8114/listen.pls</string>
			<key>http</key>
			<string>http://philae.shoutca.st:8114/;stream.mp3</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>راديو UFM - السعودية</string>
			<key>logo</key>
			<string>UFM</string>
			<key>link</key>
			<string>http://104.200.150.186:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>إذاعات المملكة العربية السعودية - إذاعة الرياض</string>
			<key>logo</key>
			<string>Riyadh</string>
			<key>link</key>
			<string>http://87.98.130.255:8234/stream.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>إذاعات المملكة العربية السعودية - إذاعة جدة</string>
			<key>logo</key>
			<string>sba</string>
			<key>link</key>
			<string>http://87.98.130.255:8509/stream.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>SBC Saudia</string>
			<key>logo</key>
			<string>SBC</string>
			<key>link</key>
			<string>http://live.badrshfaqah.sa:8021/stream.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>إذاعات المملكة العربية السعودية - إذاعة القرأن الكريم</string>
			<key>logo</key>
			<string>Quran</string>
			<key>link</key>
			<string>http://live2.badrshfaqah.sa:8027/stream.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>راديو ألف ألف FM - السعودية</string>
			<key>logo</key>
			<string>Alifalif</string>
			<key>link</key>
			<string>http://www.alifaliffm.com:8800/AlifAlif.mp3.m3u</string>
			<key>http</key>
			<string>http://www.alifaliffm.com:8800/AlifAlif.mp3</string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>راديو مكس FM - السعودية</string>
			<key>logo</key>
			<string>mix</string>
			<key>link</key>
			<string>http://s2.voscast.com:11376/live.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC World Arabic</string>
			<key>logo</key>
			<string>Arabic</string>
			<key>link</key>
			<string>http://bbcwssc.ic.llnwd.net/stream/bbcwssc_mp1_ws-araba.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>راديو سوا الخليج</string>
			<key>logo</key>
			<string>Sawa</string>
			<key>link</key>
			<string>http://mbn-channel-01.akacast.akamaistream.net/7/29/233450/v1/ibb.akacast.akamaistream.net/mbn_channel_01</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sky News Arabia</string>
			<key>logo</key>
			<string>Sky</string>
			<key>link</key>
			<string>http://radio.skynewsarabia.com/stream/radio/skynewsarabia.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
	</array>
</dict>
</plist>
