<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Echorouk (HD الشروق تي في‎‎)</string>
		<key>logo</key>
		<string>Echorouk</string>
		<key>link</key>
		<string>https://tv.echoroukonline.com/live/</string>
		<key>http</key>
		<string>https://www.echoroukonline.com/#live</string>
		<key>country</key>
		<string>Algeria</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ennahar (قناة النهار)</string>
		<key>logo</key>
		<string>Ennahar</string>
		<key>link</key>
		<string>https://www.ennaharonline.com/live/</string>
		<key>http</key>
		<string>https://www.ennaharonline.com</string>
		<key>country</key>
		<string>Algeria</string>
	</dict>
	<dict>
		<key>name</key>
		<string>El Bilad</string>
		<key>logo</key>
		<string>Bilad</string>
		<key>link</key>
		<string>http://www.elbilad.net/static/tv</string>
		<key>http</key>
		<string>http://www.elbilad.net</string>
		<key>country</key>
		<string>Algeria</string>
	</dict>
	<dict>
		<key>name</key>
		<string>AlMagharibia (المغاربية‎)</string>
		<key>logo</key>
		<string>AlMagharibia</string>
		<key>link</key>
		<string>https://almagharibia.tv/</string>
		<key>http</key>
		<string>https://almagharibia.tv/</string>
		<key>country</key>
		<string>Algeria</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Numidia</string>
		<key>logo</key>
		<string>Numidia</string>
		<key>link</key>
		<string>http://www.numidiatv.tv/direct/</string>
		<key>http</key>
		<string>http://www.numidiatv.tv/direct/</string>
		<key>country</key>
		<string>Algeria</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CNA (La Chaîne Nord-Africaine)</string>
		<key>logo</key>
		<string>CNA</string>
		<key>link</key>
		<string>http://www.cna-sat.org/CnaLiveTv.html</string>
		<key>http</key>
		<string>http://www.cna-sat.org/</string>
		<key>country</key>
		<string>Algeria</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Zimbo</string>
		<key>logo</key>
		<string>Zimbo</string>
		<key>link</key>
		<string>http://www.tvzimbo.com/</string>
		<key>http</key>
		<string>https://livestream.com/accounts/19766999/events/5548210</string>
		<key>country</key>
		<string>Angola</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RTP Africa</string>
		<key>logo</key>
		<string>RTP</string>
		<key>link</key>
		<string>https://www.rtp.pt/play/direto/rtpafrica</string>
		<key>http</key>
		<string>http://www.rtp.pt/rtpafrica/</string>
		<key>country</key>
		<string>Angola</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Afrique Média</string>
		<key>logo</key>
		<string>Afrique</string>
		<key>link</key>
		<string>http://www.afriquemedia.tv/live</string>
		<key>http</key>
		<string>http://www.afriquemedia.tv</string>
		<key>country</key>
		<string>Benin</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ICÔN AFRICA</string>
		<key>logo</key>
		<string>AFRICA</string>
		<key>link</key>
		<string>https://www.iconafricatv.com/videos-c23dw</string>
		<key>http</key>
		<string>https://www.iconafricatv.com</string>
		<key>country</key>
		<string>Benin</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Terre Mère</string>
		<key>logo</key>
		<string>Terre</string>
		<key>link</key>
		<string>https://www.iconafricatv.com/ltm--live</string>
		<key>http</key>
		<string>https://www.iconafricatv.com</string>
		<key>country</key>
		<string>Benin</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TROPIC</string>
		<key>logo</key>
		<string>TROPIC</string>
		<key>link</key>
		<string>https://www.iconafricatv.com/tropic-tv</string>
		<key>http</key>
		<string>https://www.iconafricatv.com</string>
		<key>country</key>
		<string>Benin</string>
	</dict>
	<dict>
		<key>name</key>
		<string>GOSPEL</string>
		<key>logo</key>
		<string>GOSPEL</string>
		<key>link</key>
		<string>https://www.iconafricatv.com/gospel-tv</string>
		<key>http</key>
		<string>https://www.iconafricatv.com</string>
		<key>country</key>
		<string>Benin</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RTB</string>
		<key>logo</key>
		<string>RTB</string>
		<key>link</key>
		<string>http://www.rtb.bf/television-en-direct/</string>
		<key>http</key>
		<string>http://www.rtb.bf</string>
		<key>country</key>
		<string>Burkina Faso</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Impact</string>
		<key>logo</key>
		<string>Impact</string>
		<key>link</key>
		<string>http://www.impacttele.tv/</string>
		<key>http</key>
		<string>http://www.impacttele.tv/</string>
		<key>country</key>
		<string>Burkina Faso</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Canal 2 International</string>
		<key>logo</key>
		<string>International</string>
		<key>link</key>
		<string>http://www.canal2international.net/live.php</string>
		<key>http</key>
		<string>http://www.canal2international.net</string>
		<key>country</key>
		<string>Cameroon</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TCV (Televisão de Cabo Verde)</string>
		<key>logo</key>
		<string>TCV1</string>
		<key>link</key>
		<string>http://www.rtc.cv/tcvdirecto/</string>
		<key>http</key>
		<string>http://www.rtc.cv</string>
		<key>country</key>
		<string>Cape Verde</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RTC (Radiotelevisão Caboverdiana)</string>
		<key>logo</key>
		<string>TCV2</string>
		<key>link</key>
		<string>http://www.rtc.cv/rcvdirecto/</string>
		<key>http</key>
		<string>http://www.rtc.cv</string>
		<key>country</key>
		<string>Cape Verde</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RTC+ (Radiotelevisão Caboverdiana)</string>
		<key>logo</key>
		<string>TCV3</string>
		<key>link</key>
		<string>http://www.rtc.cv/rcvmaisdirecto/</string>
		<key>http</key>
		<string>http://www.rtc.cv</string>
		<key>country</key>
		<string>Cape Verde</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Télé Tchad</string>
		<key>logo</key>
		<string>Tchad</string>
		<key>link</key>
		<string>http://www.onrtv.org/tv/</string>
		<key>http</key>
		<string>http://www.onrtv.org/fr/</string>
		<key>country</key>
		<string>Chad</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Africanews</string>
		<key>logo</key>
		<string>Africanews</string>
		<key>link</key>
		<string>http://www.africanews.com/live/</string>
		<key>http</key>
		<string>https://www.youtube.com/channel/UC1_E8NeF5QHY2dtdLRBCCLA/videos?flow=grid&amp;live_view=501&amp;view=2</string>
		<key>country</key>
		<string>Congo Brazzaville</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ratelki</string>
		<key>logo</key>
		<string>Ratelki</string>
		<key>link</key>
		<string>http://ratelki.net</string>
		<key>http</key>
		<string>http://ratelki.net</string>
		<key>country</key>
		<string>Congo DR</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Congo Planet</string>
		<key>logo</key>
		<string>Planet</string>
		<key>link</key>
		<string>http://www.congoplanet.com/congo_television_live.jsp</string>
		<key>http</key>
		<string>https://www.congoplanet.com/tv_radio.jsp</string>
		<key>country</key>
		<string>Congo DR</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RTI (Radiodiffusion Télévision Ivoirienne)</string>
		<key>logo</key>
		<string>Ivoirienne</string>
		<key>link</key>
		<string>http://www.rti.ci/</string>
		<key>http</key>
		<string>http://www.rti.ci/</string>
		<key>country</key>
		<string>Côte d&apos;Ivoire</string>
	</dict>
	<dict>
		<key>name</key>
		<string>225</string>
		<key>logo</key>
		<string>225</string>
		<key>link</key>
		<string>http://www.canal225.com/?page_id=7307</string>
		<key>http</key>
		<string>http://www.canal225.com</string>
		<key>country</key>
		<string>Côte d&apos;Ivoire</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Benie</string>
		<key>logo</key>
		<string>Benie</string>
		<key>link</key>
		<string>http://www.benie.tv/index.php/livestream</string>
		<key>http</key>
		<string>http://www.benie.tv</string>
		<key>country</key>
		<string>Côte d&apos;Ivoire</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RTD - Télé Djibouti 2</string>
		<key>logo</key>
		<string>RTD2</string>
		<key>link</key>
		<string>http://www.rtd.dj/index.php?option=com_content&amp;view=article&amp;id=1048&amp;Itemid=298</string>
		<key>http</key>
		<string>http://www.rtd.dj</string>
		<key>country</key>
		<string>Djibouti</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RTD - Télé Djibouti 3</string>
		<key>logo</key>
		<string>RTD3</string>
		<key>link</key>
		<string>http://www.rtd.dj/index.php?option=com_content&amp;view=article&amp;id=1691&amp;Itemid=310</string>
		<key>http</key>
		<string>http://www.rtd.dj</string>
		<key>country</key>
		<string>Djibouti</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RTD - Télé Djibouti 4</string>
		<key>logo</key>
		<string>RTD4</string>
		<key>link</key>
		<string>http://www.rtd.dj/index.php?option=com_content&amp;view=article&amp;id=1570&amp;Itemid=250</string>
		<key>http</key>
		<string>http://www.rtd.dj</string>
		<key>country</key>
		<string>Djibouti</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Eri-TV</string>
		<key>logo</key>
		<string>Eri</string>
		<key>link</key>
		<string>http://www.eastafro.com/EriTV1/</string>
		<key>http</key>
		<string>http://www.eastafro.com</string>
		<key>country</key>
		<string>Eritrea</string>
	</dict>
	<dict>
		<key>name</key>
		<string>EBC 1</string>
		<key>logo</key>
		<string>EBC1</string>
		<key>link</key>
		<string>http://www.ebc.et/web/en/etv</string>
		<key>http</key>
		<string>https://www.youtube.com/channel/UCOhrz3uRCOHmK6ueUstw7_Q/videos?flow=grid&amp;live_view=501&amp;view=2</string>
		<key>country</key>
		<string>Ethiopia</string>
	</dict>
	<dict>
		<key>name</key>
		<string>EBC 2</string>
		<key>logo</key>
		<string>EBC2</string>
		<key>link</key>
		<string>http://www.ebc.et/web/en/etv-language</string>
		<key>http</key>
		<string>https://www.youtube.com/channel/UCOhrz3uRCOHmK6ueUstw7_Q/videos?flow=grid&amp;live_view=501&amp;view=2</string>
		<key>country</key>
		<string>Ethiopia</string>
	</dict>
	<dict>
		<key>name</key>
		<string>EBC 3</string>
		<key>logo</key>
		<string>EBC3</string>
		<key>link</key>
		<string>http://www.ebc.et/web/en/etv-entertainment</string>
		<key>http</key>
		<string>https://www.youtube.com/channel/UCOhrz3uRCOHmK6ueUstw7_Q/videos?flow=grid&amp;live_view=501&amp;view=2</string>
		<key>country</key>
		<string>Ethiopia</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ETN Elshaddai</string>
		<key>logo</key>
		<string>ETN</string>
		<key>link</key>
		<string>http://elshaddaitv.org/</string>
		<key>http</key>
		<string>http://elshaddaitv.org/</string>
		<key>country</key>
		<string>Ethiopia</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Joy News MultiTV</string>
		<key>logo</key>
		<string>MultiTV</string>
		<key>link</key>
		<string>https://www.multitvworld.com/newworld/live/</string>
		<key>http</key>
		<string>https://www.youtube.com/user/myjoyonlinetube/videos?live_view=501&amp;flow=grid&amp;view=2</string>
		<key>country</key>
		<string>Ghana</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kessben</string>
		<key>logo</key>
		<string>Kessben</string>
		<key>link</key>
		<string>http://kessbentv.com/live/</string>
		<key>http</key>
		<string>http://kessbentv.com</string>
		<key>country</key>
		<string>Ghana</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Adom</string>
		<key>logo</key>
		<string>Adom</string>
		<key>link</key>
		<string>http://multitvworld.com/newworld/live/?vid=adom</string>
		<key>http</key>
		<string>https://www.youtube.com/user/adomtvtube/videos?view=2&amp;flow=grid&amp;live_view=501</string>
		<key>country</key>
		<string>Ghana</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Joy Prime</string>
		<key>logo</key>
		<string>Joy</string>
		<key>link</key>
		<string>http://www.ghanalive.tv/joyprime/</string>
		<key>http</key>
		<string>http://www.ghanalive.tv/joyprime/</string>
		<key>country</key>
		<string>Ghana</string>
	</dict>
	<dict>
		<key>name</key>
		<string>GBC GTV</string>
		<key>logo</key>
		<string>GBC</string>
		<key>link</key>
		<string>http://www.ghanalive.tv/gtv/</string>
		<key>http</key>
		<string>http://www.gbcghana.com/</string>
		<key>country</key>
		<string>Ghana</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TV3</string>
		<key>logo</key>
		<string>TV3</string>
		<key>link</key>
		<string>http://www.ghanalive.tv/tv3-online-stream/</string>
		<key>http</key>
		<string>http://3news.com/</string>
		<key>country</key>
		<string>Ghana</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Healing Jesus</string>
		<key>logo</key>
		<string>Healing</string>
		<key>link</key>
		<string>http://www.healingjesus.tv/n_livenow.htm</string>
		<key>http</key>
		<string>http://www.healingjesus.tv</string>
		<key>country</key>
		<string>Ghana</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Resurrection</string>
		<key>logo</key>
		<string>Resurrection</string>
		<key>link</key>
		<string>http://admin.ottdemo.rrsat.com/multibit/rrsatrtv1/index.php</string>
		<key>http</key>
		<string>http://www.resurrectiontv.org/</string>
		<key>country</key>
		<string>Ghana</string>
	</dict>
	<dict>
		<key>name</key>
		<string>GTV Sports Plus</string>
		<key>logo</key>
		<string>Sports</string>
		<key>link</key>
		<string>http://www.ghanalive.tv/gtv-sports/</string>
		<key>http</key>
		<string>http://www.ghanalive.tv/gtv-sports/</string>
		<key>country</key>
		<string>Ghana</string>
	</dict>
	<dict>
		<key>name</key>
		<string>218</string>
		<key>logo</key>
		<string>218</string>
		<key>link</key>
		<string>http://95.85.47.43:8080/218tv/embed.html</string>
		<key>http</key>
		<string>https://www.218tv.net/</string>
		<key>country</key>
		<string>Libya</string>
	</dict>
	<dict>
		<key>name</key>
		<string>218 News</string>
		<key>logo</key>
		<string>News</string>
		<key>link</key>
		<string>http://95.85.47.43/218news/embed.html</string>
		<key>http</key>
		<string>https://www.218tv.net/</string>
		<key>country</key>
		<string>Libya</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Libya 24 (ليبيا 24)</string>
		<key>logo</key>
		<string>Libya</string>
		<key>link</key>
		<string>https://libya24.tv/live</string>
		<key>http</key>
		<string>https://libya24.tv</string>
		<key>country</key>
		<string>Libya</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Libya&apos;s Channel (قناة ليبيا)</string>
		<key>logo</key>
		<string>Libyas</string>
		<key>link</key>
		<string>http://libyas.tv/</string>
		<key>http</key>
		<string>https://libyaschannel.com/</string>
		<key>country</key>
		<string>Libya</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Libya One (قناة ليبيا الأولى)</string>
		<key>logo</key>
		<string>One</string>
		<key>link</key>
		<string>http://libyaone.tv/live-3/</string>
		<key>http</key>
		<string>http://libyaone.tv</string>
		<key>country</key>
		<string>Libya</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tanasuh (قناة التناصح الفضائية)</string>
		<key>logo</key>
		<string>Tanasuh</string>
		<key>link</key>
		<string>http://stream.tanasuh.tv/</string>
		<key>http</key>
		<string>https://tanasuh.tv/</string>
		<key>country</key>
		<string>Libya</string>
	</dict>
</array>
</plist>
