<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>6855748938</string>
		<key>Back</key>
		<string>3463298831</string>
		<key>Banner</key>
		<string>3206232247</string>
		<key>Show1</key>
		<string>REMOVED</string>
		<key>Show2</key>
		<string>REMOVED</string>
		<key>Show3</key>
		<string>REMOVED</string>
		<key>Show4</key>
		<string>REMOVED</string>
		<key>Alarm</key>
		<string>9887136769</string>
		<key>CustomBanner</key>
		<string>6488917424</string>
		<key>CustomSplash</key>
		<string>1383930401</string>
		<key>Header</key>
		<string>3922749245</string>
		<key>Footer</key>
		<string>7264062601</string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string>1207568934</string>
		<key>Application</key>
		<string>1443378648</string>
		<key>Developer</key>
		<string>1239592099</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>80s Bylgjan</string>
			<key>logo</key>
			<string>80s</string>
			<key>link</key>
			<string>http://icecast.365net.is:8000/orb80s.aac.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>80s FlashBack 101.5 FM</string>
			<key>logo</key>
			<string>80</string>
			<key>link</key>
			<string>http://radio.is:443/80flashback.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bylgjan 98.9 FM</string>
			<key>logo</key>
			<string>Bylgjan</string>
			<key>link</key>
			<string>http://live.visir.is/hls-radio/bylgjan/playlist.m3u8</string>
			<key>http</key>
			<string>http://icecast.365net.is:8000/orbbylgjan.aac.m3u</string>
			<key>note</key>
			<string>News, Top Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>FlashBack 91.9 FM</string>
			<key>logo</key>
			<string>FlashBack</string>
			<key>link</key>
			<string>http://radio.is:443/flashback.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM 95.7</string>
			<key>logo</key>
			<string>95</string>
			<key>link</key>
			<string>http://live.visir.is/hls-radio/fm957/playlist.m3u8</string>
			<key>http</key>
			<string>http://icecast.365net.is:8000/orbFm957.aac.m3u</string>
			<key>note</key>
			<string>Top Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM Extra</string>
			<key>logo</key>
			<string>Extra</string>
			<key>link</key>
			<string>http://icecast.365net.is:8000/orbFmExtra.aac.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>RnB, Dance Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Gull Bylgjan 90.9 FM</string>
			<key>logo</key>
			<string>Gull</string>
			<key>link</key>
			<string>http://live.visir.is/hls-radio/gullbylgjan/playlist.m3u8</string>
			<key>http</key>
			<string>http://icecast.365net.is:8000/orbGullBylgjan.aac.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Íslenska Bylgjan 103.9 FM</string>
			<key>logo</key>
			<string>Islenska</string>
			<key>link</key>
			<string>http://live.visir.is/hls-radio/fmx/playlist.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>K100 FM</string>
			<key>logo</key>
			<string>K100</string>
			<key>link</key>
			<string>http://radio.is:443/kaninnmobile.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kiss FM 104.5</string>
			<key>logo</key>
			<string>Kiss</string>
			<key>link</key>
			<string>http://radio.is:443/kiss.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/kiss-fm-reykjavik,9511.m3u</string>
			<key>note</key>
			<string>Top Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Létt Bylgjan</string>
			<key>logo</key>
			<string>Lett</string>
			<key>link</key>
			<string>http://live.visir.is/hls-radio/lettbylgjan/playlist.m3u8</string>
			<key>http</key>
			<string>http://icecast.365net.is:8000/orbLettBylgjan.aac.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Lindin FM 102.9</string>
			<key>logo</key>
			<string>Lindin</string>
			<key>link</key>
			<string>http://62.145.147.50:8001/lindin.m3u</string>
			<key>http</key>
			<string>http://62.145.147.50:8001/stream.aac.m3u</string>
			<key>note</key>
			<string>Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Retro FM</string>
			<key>logo</key>
			<string>Retro</string>
			<key>link</key>
			<string>http://radio.is:443/retromobile.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RÚV Ras 1</string>
			<key>logo</key>
			<string>1</string>
			<key>link</key>
			<string>http://sip-live.hds.adaptive.level3.net/hls-live/ruv-ras1/_definst_/live.m3u8</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/ras-1,1148.m3u</string>
			<key>note</key>
			<string>News, Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RÚV Ras 2</string>
			<key>logo</key>
			<string>2</string>
			<key>link</key>
			<string>http://sip-live.hds.adaptive.level3.net/hls-live/ruv-ras2/_definst_/live.m3u8</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/ras-2,1149.m3u</string>
			<key>note</key>
			<string>News, Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RÚV Rondó</string>
			<key>logo</key>
			<string>Rondo</string>
			<key>link</key>
			<string>http://sip-live.hds.adaptive.level3.net/hls-live/ruv-ras3/_definst_/live.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sport 102.5 FM</string>
			<key>logo</key>
			<string>Spor</string>
			<key>link</key>
			<string>http://radio.is:443/sportveitan.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Suðurland FM</string>
			<key>logo</key>
			<string>Sudurland</string>
			<key>link</key>
			<string>http://178.19.58.119:1818/stream</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Útvarp 101</string>
			<key>logo</key>
			<string>101</string>
			<key>link</key>
			<string>http://stream.101.live/audio/101/playlist.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Útvarp Boðun 105.5 FM</string>
			<key>logo</key>
			<string>Bodun</string>
			<key>link</key>
			<string>http://radio.bodun.is:8000/stream.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Útvarp Kántrýbær</string>
			<key>logo</key>
			<string>Utvarp</string>
			<key>link</key>
			<string>http://93.95.74.162:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Utvarp Saga 99.4 FM</string>
			<key>logo</key>
			<string>Saga</string>
			<key>link</key>
			<string>http://radio.is:443/saga.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/saga-fm,1150.m3u</string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>X977</string>
			<key>logo</key>
			<string>X977</string>
			<key>link</key>
			<string>http://live.visir.is/hls-radio/x977/playlist.m3u8</string>
			<key>http</key>
			<string>http://icecast.365net.is:8000/orbXid.aac.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
	</array>
</dict>
</plist>
