<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>A-PAC</string>
		<key>logo</key>
		<string>a-pac</string>
		<key>link</key>
		<string>http://www.a-pac.tv/</string>
		<key>http</key>
		<string>http://www.a-pac.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ABC 24 (ONLY IN AUSTRALIA)</string>
		<key>logo</key>
		<string>abc</string>
		<key>link</key>
		<string>http://www.abc.net.au/news/abcnews24/</string>
		<key>http</key>
		<string>https://www.youtube.com/user/NewsOnABC/videos?view=2&amp;flow=list</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sky News</string>
		<key>logo</key>
		<string>Sky</string>
		<key>link</key>
		<string>https://www.youtube.com/watch_popup?v=y60wDzZt8yg</string>
		<key>http</key>
		<string>https://www.youtube.com/user/skynews/videos?flow=list&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MNTV Australia</string>
		<key>logo</key>
		<string>mntv</string>
		<key>link</key>
		<string>http://mntv.com.au/portal/?page_id=895</string>
		<key>http</key>
		<string>http://mntv.com.au/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>INTV</string>
		<key>logo</key>
		<string>intvau</string>
		<key>link</key>
		<string>http://www.intvau.com/#</string>
		<key>http</key>
		<string>http://www.intvau.com/#</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Parliament</string>
		<key>logo</key>
		<string>aph</string>
		<key>link</key>
		<string>http://www.aph.gov.au/News_and_Events/Watch_Parliament</string>
		<key>http</key>
		<string>http://www.aph.gov.au/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TV2</string>
		<key>logo</key>
		<string>TV2</string>
		<key>link</key>
		<string>http://www.tv2.com.au/</string>
		<key>http</key>
		<string>https://www.youtube.com/channel/UCO7e_DD3X2ZqOyp4DCFgEXQ/videos?flow=grid&amp;view=2&amp;live_view=501</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ABC News</string>
		<key>logo</key>
		<string>News</string>
		<key>link</key>
		<string>https://www.youtube.com/user/NewsOnABC/videos?view=2&amp;live_view=501&amp;flow=grid</string>
		<key>http</key>
		<string>http://www.abc.net.au/tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>WTV</string>
		<key>logo</key>
		<string>WTV</string>
		<key>link</key>
		<string>http://wtvperth.com.au/watch-live-tv/</string>
		<key>http</key>
		<string>http://wtvperth.com.au/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bloomberg Australia</string>
		<key>logo</key>
		<string>bloomberg</string>
		<key>link</key>
		<string>https://www.bloomberg.com/live/australia</string>
		<key>http</key>
		<string>https://www.bloomberg.com/live</string>
	</dict>
	<dict>
		<key>name</key>
		<string>44</string>
		<key>logo</key>
		<string>44</string>
		<key>link</key>
		<string>http://www.c44.com.au/live-streams</string>
		<key>http</key>
		<string>http://www.c44.com.au</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Arcana</string>
		<key>logo</key>
		<string>Arcana</string>
		<key>link</key>
		<string>http://www.tvarcana.tv/live-tv.html</string>
		<key>http</key>
		<string>http://www.tvarcana.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sky Racing</string>
		<key>logo</key>
		<string>Racing</string>
		<key>link</key>
		<string>http://skyracing.com.au/index.php?component=content&amp;Itemid=210&amp;id=97</string>
		<key>http</key>
		<string>http://skyracing.com.au</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TVSN</string>
		<key>logo</key>
		<string>tvsn</string>
		<key>link</key>
		<string>https://www.itvsn.com.au/itvsn/streaming/watch_tvsn.html</string>
		<key>http</key>
		<string>https://www.itvsn.com.au/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Expo Channel</string>
		<key>logo</key>
		<string>Expo</string>
		<key>link</key>
		<string>http://expochannel.com.au/</string>
		<key>http</key>
		<string>http://expochannel.com.au/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>God TV</string>
		<key>logo</key>
		<string>god</string>
		<key>link</key>
		<string>http://www.god.tv/live/au</string>
		<key>http</key>
		<string>http://www.god.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Angel TV</string>
		<key>logo</key>
		<string>angeltv</string>
		<key>link</key>
		<string>http://www.angeltv.org/watching_now_new/watchmovie.php</string>
		<key>http</key>
		<string>http://www.angeltv.org/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hillsong</string>
		<key>logo</key>
		<string>Hillsong</string>
		<key>link</key>
		<string>https://www.tbn.org/watch/live?network=hillsong-channel-live</string>
		<key>http</key>
		<string>https://www.tbn.org/watch</string>
	</dict>
</array>
</plist>
