<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>TN8</string>
		<key>logo</key>
		<string>TN8</string>
		<key>link</key>
		<string>http://www.tn8.tv/</string>
		<key>http</key>
		<string>http://www.tn8.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>10 Nicaragua</string>
		<key>logo</key>
		<string>Nicaragua</string>
		<key>link</key>
		<string>http://www.canal10.com.ni/envivo</string>
		<key>http</key>
		<string>http://www.canal10.com.ni</string>
	</dict>
	<dict>
		<key>name</key>
		<string>2</string>
		<key>logo</key>
		<string>2</string>
		<key>link</key>
		<string>http://canal2tv.com/envivo/</string>
		<key>http</key>
		<string>http://canal2tv.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>VOS</string>
		<key>logo</key>
		<string>VOS</string>
		<key>link</key>
		<string>https://www.vostv.com.ni/directo/</string>
		<key>http</key>
		<string>https://www.vostv.com.ni</string>
	</dict>
	<dict>
		<key>name</key>
		<string>6</string>
		<key>logo</key>
		<string>6</string>
		<key>link</key>
		<string>http://canal6.com.ni/</string>
		<key>http</key>
		<string>http://canal6.com.ni/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>4</string>
		<key>logo</key>
		<string>4</string>
		<key>link</key>
		<string>http://www.ustream.tv/channel/canal-4-nicaragua-lmtv</string>
		<key>http</key>
		<string>http://www.canal4.com.ni/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>12</string>
		<key>logo</key>
		<string>12</string>
		<key>link</key>
		<string>http://www.canal12.com.ni/en-vivo</string>
		<key>http</key>
		<string>http://www.canal12.com.ni</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Megabox 76</string>
		<key>logo</key>
		<string>76</string>
		<key>link</key>
		<string>http://www.megaboxni.tv/</string>
		<key>http</key>
		<string>http://www.megaboxni.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Viva Nicaragua</string>
		<key>logo</key>
		<string>Viva</string>
		<key>link</key>
		<string>https://www.vivanicaragua.com.ni/</string>
		<key>http</key>
		<string>https://www.vivanicaragua.com.ni/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CDNN 23</string>
		<key>logo</key>
		<string>23</string>
		<key>link</key>
		<string>http://www.cdnn23.com/</string>
		<key>http</key>
		<string>http://www.cdnn23.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TeleSUR</string>
		<key>logo</key>
		<string>TeleSUR</string>
		<key>link</key>
		<string>https://www.youtube.com/user/telesurtv/videos?view=2&amp;live_view=501&amp;flow=grid</string>
		<key>http</key>
		<string>https://www.telesurtv.net/</string>
	</dict>
</array>
</plist>
