<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1</string>
		<key>Back</key>
		<string>1</string>
		<key>Banner</key>
		<string>1</string>
		<key>Show1</key>
		<string>1</string>
		<key>Show2</key>
		<string>1</string>
		<key>Show3</key>
		<string>1</string>
		<key>Show4</key>
		<string>1</string>
		<key>Alarm</key>
		<string>1</string>
		<key>CustomBanner</key>
		<string>1</string>
		<key>CustomSplash</key>
		<string>1</string>
		<key>Header</key>
		<string>1</string>
		<key>Footer</key>
		<string>1</string>
		<key>Email</key>
		<string>1</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1</string>
		<key>Developer</key>
		<string>1</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>La Mega</string>
			<key>logo</key>
			<string>Mega</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://184.154.202.243:8093/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://184.154.202.243:8093/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Perla</string>
			<key>logo</key>
			<string>Perla</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.235.87.105:10640/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.235.87.105:10640/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>98.1 FM</string>
			<key>logo</key>
			<string>98</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/98-1-fm,14812.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>El Paraiso (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ambiental 102.5 FM</string>
			<key>logo</key>
			<string>Ambiental</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/ambiental-102-5-fm,18215.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top (San Pedro Sula)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio América 94.7 FM</string>
			<key>logo</key>
			<string>America</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-america-94-7-fm,7514.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/america-610-am,45.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Power 90.1 FM</string>
			<key>logo</key>
			<string>Power</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/power-90-1-fm,46.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/hrsc-power-90-1-fm,17319.m3u</string>
			<key>note</key>
			<string>San Pedro Sula</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Luna FM</string>
			<key>logo</key>
			<string>Luna</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/luna-fm,18171.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio HRN - AM 680</string>
			<key>logo</key>
			<string>HRN</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-hrn,7512.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Progreso</string>
			<key>logo</key>
			<string>Progreso</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-progreso,7903.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Yoro</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Super 100 Stereo</string>
			<key>logo</key>
			<string>Super</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/super-100-stereo,10771.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Los 40 93.1 FM</string>
			<key>logo</key>
			<string>1</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/los-40-nicaragua-93-1-fm,20099.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Alfa 93.5 FM</string>
			<key>logo</key>
			<string>2</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-alfa-93-5-fm,20102.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio León 106.5 FM</string>
			<key>logo</key>
			<string>3</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.235.87.105:10890/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.235.87.105:10890/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
