<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>4443242278</string>
		<key>Back</key>
		<string>2061455661</string>
		<key>Banner</key>
		<string>2172302153</string>
		<key>Show1</key>
		<string>REMOVED</string>
		<key>Show2</key>
		<string>REMOVED</string>
		<key>Show3</key>
		<string>REMOVED</string>
		<key>Show4</key>
		<string>REMOVED</string>
		<key>Alarm</key>
		<string>8598943854</string>
		<key>CustomBanner</key>
		<string>5398189157</string>
		<key>CustomSplash</key>
		<string>9312425575</string>
		<key>Header</key>
		<string>7832780801</string>
		<key>Footer</key>
		<string>3155045488</string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string>1417437694</string>
		<key>Application</key>
		<string>1454260052</string>
		<key>Developer</key>
		<string>1239592099</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Stereo Éxitos 88.1 FM</string>
			<key>logo</key>
			<string>Stereo</string>
			<key>link</key>
			<string>http://ice42.securenetsystems.net/EXITOS.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Globo</string>
			<key>logo</key>
			<string>Globo</string>
			<key>link</key>
			<string>http://aliasdns.info:8016/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBN - Red de Radiodifusión Bíblica</string>
			<key>logo</key>
			<string>BBN</string>
			<key>link</key>
			<string>https://bbnspanish-lh.akamaihd.net/i/BibleBroadcasting_Spanishios@87757/index_48_a-p.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>House</string>
			<key>logo</key>
			<string>House</string>
			<key>link</key>
			<string>http://shout.worldkast.com:8162/listen.pls?sid=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>XY 90.5 FM</string>
			<key>logo</key>
			<string>XY</string>
			<key>link</key>
			<string>http://ice42.securenetsystems.net/XY905.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kairos FM 90.9</string>
			<key>logo</key>
			<string>Kairos</string>
			<key>link</key>
			<string>rtmp://85.25.119.176:1935/livemedia/kairos</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Buenísima 91.7 FM</string>
			<key>logo</key>
			<string>Buenisima</string>
			<key>link</key>
			<string>http://giss.tv:8000/labuenisima2.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rock n&apos; Pop</string>
			<key>logo</key>
			<string>Rock</string>
			<key>link</key>
			<string>http://74.115.208.36:8209/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RCV - Cadena Voces</string>
			<key>logo</key>
			<string>RCV</string>
			<key>link</key>
			<string>http://stream.playerlive.info:8048/RCV.aac.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>94 su FM</string>
			<key>logo</key>
			<string>su</string>
			<key>link</key>
			<string>http://ice42.securenetsystems.net/94SUFM.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Stereo Fiel</string>
			<key>logo</key>
			<string>Fiel</string>
			<key>link</key>
			<string>http://190.92.17.21:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tic-Tac 97.3 FM</string>
			<key>logo</key>
			<string>Tic</string>
			<key>link</key>
			<string>http://giss.tv:8001/tictac2.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Stereo Fé 98.9 FM</string>
			<key>logo</key>
			<string>Fe</string>
			<key>link</key>
			<string>http://173.236.71.61:9970/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Suprema FM</string>
			<key>logo</key>
			<string>Suprema</string>
			<key>link</key>
			<string>http://stream.playerlive.info:8095/live.aac.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hit 99.7 FM</string>
			<key>logo</key>
			<string>Hit</string>
			<key>link</key>
			<string>http://node-10.zeno.fm/cf7azhtr3qruv</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Vertical FM 100.9</string>
			<key>logo</key>
			<string>Vertical</string>
			<key>link</key>
			<string>http://radios.innovandote.com:8004/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>RNH - Nacional de Honduras</string>
			<key>logo</key>
			<string>RNH</string>
			<key>link</key>
			<string>http://stream.playerlive.info:8049/rnh.aac.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>VOX</string>
			<key>logo</key>
			<string>VOX</string>
			<key>link</key>
			<string>http://ice42.securenetsystems.net/VOXFM.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Suyapa Éstereo 102.1 FM</string>
			<key>logo</key>
			<string>Suyapa</string>
			<key>link</key>
			<string>http://173.236.71.61:9990/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Suave</string>
			<key>logo</key>
			<string>Suave</string>
			<key>link</key>
			<string>http://ice42.securenetsystems.net/SUAVE.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM 102.9</string>
			<key>logo</key>
			<string>102</string>
			<key>link</key>
			<string>http://stream.playerlive.info:8033/FM1029.aac.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Stereo Luz 103.7 FM</string>
			<key>logo</key>
			<string>Luz</string>
			<key>link</key>
			<string>http://stream.playerlive.info:8081/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ultra FM 104.1</string>
			<key>logo</key>
			<string>Ultra</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/ULTRA.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>98.1 FM</string>
			<key>logo</key>
			<string>98</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/98-1-fm,14812.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>El Paraiso (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ambiental 102.5 FM</string>
			<key>logo</key>
			<string>Ambiental</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/ambiental-102-5-fm,18215.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top (San Pedro Sula)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>América 94.7 FM</string>
			<key>logo</key>
			<string>America</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/AMERICA.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-america-94-7-fm,7514.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>GRT 107.5 FM</string>
			<key>logo</key>
			<string>GRT</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://69.30.243.166:8038/listen.pls?sid=1&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://69.30.243.166:8038/listen.pls?sid=1&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>HRN AM 680</string>
			<key>logo</key>
			<string>HRN</string>
			<key>link</key>
			<string>http://ice42.securenetsystems.net/HRN.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-hrn,7512.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Mega</string>
			<key>logo</key>
			<string>Mega</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://184.154.202.243:8093/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://184.154.202.243:8093/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Luna FM</string>
			<key>logo</key>
			<string>Luna</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/luna-fm,18171.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Power 90.1 FM</string>
			<key>logo</key>
			<string>Power</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/power-90-1-fm,46.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/hrsc-power-90-1-fm,17319.m3u</string>
			<key>note</key>
			<string>San Pedro Sula</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Perla</string>
			<key>logo</key>
			<string>Perla</string>
			<key>link</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.235.87.105:10640/listen.pls&amp;t=.pls</string>
			<key>http</key>
			<string>https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://192.235.87.105:10640/listen.pls&amp;t=.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Progreso</string>
			<key>logo</key>
			<string>Progreso</string>
			<key>link</key>
			<string>http://192.99.233.46:8900/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-progreso,7903.m3u</string>
			<key>note</key>
			<string>Yoro (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Super 100 Stereo</string>
			<key>logo</key>
			<string>Super</string>
			<key>link</key>
			<string>http://playerservices.streamtheworld.com/pls/SUPER100.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/super-100-stereo,10771.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
