<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>RTVS 1</string>
		<key>logo</key>
		<string>1</string>
		<key>link</key>
		<string>http://www.rtvs.sk/televizia/live-1</string>
		<key>http</key>
		<string>http://www.rtvs.sk/televizia/tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RTVS 2</string>
		<key>logo</key>
		<string>2</string>
		<key>link</key>
		<string>http://www.rtvs.sk/televizia/live-2</string>
		<key>http</key>
		<string>http://www.rtvs.sk/televizia/tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RTVS O</string>
		<key>logo</key>
		<string>O</string>
		<key>link</key>
		<string>http://www.rtvs.sk/televizia/live-o</string>
		<key>http</key>
		<string>http://www.rtvs.sk/televizia/tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RTVS NR SR</string>
		<key>logo</key>
		<string>SR</string>
		<key>link</key>
		<string>http://www.rtvs.sk/televizia/live-nr-sr</string>
		<key>http</key>
		<string>http://www.rtvs.sk/televizia/tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TA3</string>
		<key>logo</key>
		<string>3</string>
		<key>link</key>
		<string>http://www.ta3.com/live.html</string>
		<key>http</key>
		<string>http://www.ta3.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Osem</string>
		<key>logo</key>
		<string>Osem</string>
		<key>link</key>
		<string>http://www.tv8.sk/wp/?p=104</string>
		<key>http</key>
		<string>http://www.tv8.sk</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TVA</string>
		<key>logo</key>
		<string>TVA</string>
		<key>link</key>
		<string>http://tva.sk/zive-vysielanie/</string>
		<key>http</key>
		<string>http://tva.sk/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>JOJ</string>
		<key>logo</key>
		<string>JOJ</string>
		<key>link</key>
		<string>https://live.joj.sk/</string>
		<key>http</key>
		<string>https://www.joj.sk/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>JOJ Plus</string>
		<key>logo</key>
		<string>Plus</string>
		<key>link</key>
		<string>https://plus.joj.sk/live</string>
		<key>http</key>
		<string>https://plus.joj.sk/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>WAU</string>
		<key>logo</key>
		<string>WAU</string>
		<key>link</key>
		<string>https://wau.joj.sk/live</string>
		<key>http</key>
		<string>https://wau.joj.sk/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bratislava</string>
		<key>logo</key>
		<string>Bratislava</string>
		<key>link</key>
		<string>http://www.tvba.sk/live/</string>
		<key>http</key>
		<string>http://www.tvba.sk/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TVR Ružinov</string>
		<key>logo</key>
		<string>TVR</string>
		<key>link</key>
		<string>http://www.tvr.sk/live-vysielanie</string>
		<key>http</key>
		<string>http://www.tvr.sk/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Pezinok</string>
		<key>logo</key>
		<string>Pezinok</string>
		<key>link</key>
		<string>http://www.respublica.sk/?id=10</string>
		<key>http</key>
		<string>http://www.tvpezinok.sk/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TVR Reduta</string>
		<key>logo</key>
		<string>Reduta</string>
		<key>link</key>
		<string>http://www.respublica.sk/?id=8</string>
		<key>http</key>
		<string>http://www.snv.sk/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Zemplín</string>
		<key>logo</key>
		<string>Zemplin</string>
		<key>link</key>
		<string>http://www.respublica.sk/?id=2</string>
		<key>http</key>
		<string>http://www.tvzemplin.sk/index.php</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nitrička</string>
		<key>logo</key>
		<string>Nitricka</string>
		<key>link</key>
		<string>http://tvnitricka.sk/</string>
		<key>http</key>
		<string>http://tvnitricka.sk/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NZTV Nové Zámky</string>
		<key>logo</key>
		<string>NZTV</string>
		<key>link</key>
		<string>http://www.respublica.sk/?id=1</string>
		<key>http</key>
		<string>http://www.nztv.eu/nazivo</string>
	</dict>
	<dict>
		<key>name</key>
		<string>BTV Bardejovská</string>
		<key>logo</key>
		<string>BTV</string>
		<key>link</key>
		<string>http://www.respublica.sk/?id=9</string>
		<key>http</key>
		<string>http://www.bardejovskatv.sk/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Trenčín</string>
		<key>logo</key>
		<string>Trencin</string>
		<key>link</key>
		<string>http://www.respublica.sk/?id=16</string>
		<key>http</key>
		<string>http://www.televiziatrencin.sk/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TVM Myjava</string>
		<key>logo</key>
		<string>TVM</string>
		<key>link</key>
		<string>http://www.respublica.sk/?id=14</string>
		<key>http</key>
		<string>http://myjava.sk/mesto/televizia-myjava</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Senica</string>
		<key>logo</key>
		<string>Senica</string>
		<key>link</key>
		<string>http://www.respublica.sk/?id=5</string>
		<key>http</key>
		<string>http://www.tvsen.sk/nazivo/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MTR Ružomberok</string>
		<key>logo</key>
		<string>MTR</string>
		<key>link</key>
		<string>http://www.mtr.sk/live/</string>
		<key>http</key>
		<string>http://www.mtr.sk/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TVT Turzovská</string>
		<key>logo</key>
		<string>TVT</string>
		<key>link</key>
		<string>http://www.respublica.sk/?id=6</string>
		<key>http</key>
		<string>http://www.tvt.sk/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TVDK Dolný Kubín</string>
		<key>logo</key>
		<string>TVDK</string>
		<key>link</key>
		<string>http://www.respublica.sk/?id=18</string>
		<key>http</key>
		<string>http://www.tvdk.sk/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Vega</string>
		<key>logo</key>
		<string>Vega</string>
		<key>link</key>
		<string>http://www.respublica.sk/?id=22</string>
		<key>http</key>
		<string>http://vegatv.sk/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Košice</string>
		<key>logo</key>
		<string>Kosice</string>
		<key>link</key>
		<string>https://www.tvkosice.sk/live</string>
		<key>http</key>
		<string>https://www.tvkosice.sk</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TVS Skalica</string>
		<key>logo</key>
		<string>TVS</string>
		<key>link</key>
		<string>http://www.respublica.sk/?id=13</string>
		<key>http</key>
		<string>http://www.skalica.sk/sk/tv-skalica/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MTP - Mestská televízia Partizánske</string>
		<key>logo</key>
		<string>MTP</string>
		<key>link</key>
		<string>http://www.respublica.sk/?id=20</string>
		<key>http</key>
		<string>http://tvzpravodaj.mnoho.info/televizni-stanice/slovenske-regionalni-tv/mtp---partizanske</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Severka</string>
		<key>logo</key>
		<string>Severka</string>
		<key>link</key>
		<string>http://www.respublica.sk/?id=12</string>
		<key>http</key>
		<string>http://severka.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Lux</string>
		<key>logo</key>
		<string>Lux</string>
		<key>link</key>
		<string>http://www.tvlux.sk/nazivo/</string>
		<key>http</key>
		<string>http://www.tvlux.sk/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bloomberg TV Europe</string>
		<key>logo</key>
		<string>bloomberg</string>
		<key>link</key>
		<string>https://www.bloomberg.com/live/europe</string>
		<key>http</key>
		<string>https://www.bloomberg.com/live/us</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Euronews</string>
		<key>logo</key>
		<string>Euronews</string>
		<key>link</key>
		<string>http://de.euronews.com/live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/euronewsfr/videos?live_view=501&amp;flow=grid&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>EbS Europe by Satellite</string>
		<key>logo</key>
		<string>EbS</string>
		<key>link</key>
		<string>http://ec.europa.eu/avservices/ebs/live.cfm?page=1</string>
		<key>http</key>
		<string>http://ec.europa.eu/avservices/ebs/schedule.cfm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sky News</string>
		<key>logo</key>
		<string>Sky</string>
		<key>link</key>
		<string>http://news.sky.com/watch-live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/skynews</string>
	</dict>
</array>
</plist>
