<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string></string>
		<key>Back</key>
		<string></string>
		<key>Banner</key>
		<string></string>
		<key>Show1</key>
		<string></string>
		<key>Show2</key>
		<string></string>
		<key>Show3</key>
		<string></string>
		<key>Show4</key>
		<string></string>
		<key>Alarm</key>
		<string></string>
		<key>CustomBanner</key>
		<string></string>
		<key>CustomSplash</key>
		<string></string>
		<key>Header</key>
		<string></string>
		<key>Footer</key>
		<string></string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string></string>
		<key>Application</key>
		<string></string>
		<key>Developer</key>
		<string></string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>BBlack</string>
			<key>logo</key>
			<string>BBlack</string>
			<key>link</key>
			<string>http://srv2.streaming-ingenierie.fr:8162/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chérie FM</string>
			<key>logo</key>
			<string>Cherie</string>
			<key>link</key>
			<string>http://cheriefmguyane.ice.infomaniak.ch/cheriefmguyane-64.aac.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Classica</string>
			<key>logo</key>
			<string>Classica</string>
			<key>link</key>
			<string>http://france16.coollabel-productions.com:8280/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>France Inter</string>
			<key>logo</key>
			<string>Inter</string>
			<key>link</key>
			<string>http://icecast.radiofrance.fr/franceinter-midfi.mp3</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fun</string>
			<key>logo</key>
			<string>Fun</string>
			<key>link</key>
			<string>http://manager2.streaming-ingenierie.fr:8050/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>KFM 91.6</string>
			<key>logo</key>
			<string>KFM</string>
			<key>link</key>
			<string>http://10191.go2stream.fr:8000/stream.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>La 1ère</string>
			<key>logo</key>
			<string>1ere</string>
			<key>link</key>
			<string>http://radios.la1ere.fr/guyane</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Métis FM</string>
			<key>logo</key>
			<string>Metis</string>
			<key>link</key>
			<string>http://str0.creacast.com/metisfm.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nostalgie</string>
			<key>logo</key>
			<string>Nostalgie</string>
			<key>link</key>
			<string>http://2stream.dyndns.org/nostalgieguy.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRJ</string>
			<key>logo</key>
			<string>NRJ</string>
			<key>link</key>
			<string>http://nrjguyane.ice.infomaniak.ch/nrjguyane-64.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Péyi</string>
			<key>logo</key>
			<string>Peyi</string>
			<key>link</key>
			<string>https://radiopeyiguyane.ice.infomaniak.ch/radiopeyiguyane-64.mp3</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>RCF</string>
			<key>logo</key>
			<string>RCF</string>
			<key>link</key>
			<string>http://rcf.streamakaci.com/rcf.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>RFI</string>
			<key>logo</key>
			<string>RFI</string>
			<key>link</key>
			<string>http://icepe1.infomaniak.ch/rfimonde-96k.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RKS 92.4 FM</string>
			<key>logo</key>
			<string>RKS</string>
			<key>link</key>
			<string>http://37.187.119.81:8122/live.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Kourou (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RMC</string>
			<key>logo</key>
			<string>RMC</string>
			<key>link</key>
			<string>http://chai5she.cdn.dvmr.fr/rmcinfo</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk, Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rossignol 107.2 FM</string>
			<key>logo</key>
			<string>Rossignol</string>
			<key>link</key>
			<string>http://radio3.pro-fhi.net:9004/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>RTL2</string>
			<key>logo</key>
			<string>RTL2</string>
			<key>link</key>
			<string>http://coollabel1.streaming-ingenierie.fr:8136/listen.pls?sid=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RTM 103.3 FM</string>
			<key>logo</key>
			<string>RTM</string>
			<key>link</key>
			<string>http://euroticast5.euroti.com.br:8046/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>RVLD - Radio Voix dans le Désert</string>
			<key>logo</key>
			<string>RVLD</string>
			<key>link</key>
			<string>http://str0.creacast.com/metisfm.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Trace FM</string>
			<key>logo</key>
			<string>Trace</string>
			<key>link</key>
			<string>http://stream.trace.tv/trace_fm_guyane-midfi.aac</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
	</array>
</dict>
</plist>
