<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>MRTV-4</string>
		<key>logo</key>
		<string>4</string>
		<key>link</key>
		<string>http://www.pyoneplay.com/live/mrtv---4</string>
		<key>http</key>
		<string>http://www.mrtv4.com.mm/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>7</string>
		<key>logo</key>
		<string>7</string>
		<key>link</key>
		<string>http://www.pyoneplay.com/live/channel---7</string>
		<key>http</key>
		<string>http://www.forevergroup.com.mm/channel-7.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Up to Date</string>
		<key>logo</key>
		<string>Up</string>
		<key>link</key>
		<string>http://www.skynetdth.com/index.php/live-tv</string>
		<key>http</key>
		<string>https://livestream.com/accounts/7228455</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MNTV</string>
		<key>logo</key>
		<string>MNTV</string>
		<key>link</key>
		<string>http://www.skynetdth.com/index.php/live-tv</string>
		<key>http</key>
		<string>https://livestream.com/accounts/7228455</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hluttaw</string>
		<key>logo</key>
		<string>Hluttaw</string>
		<key>link</key>
		<string>http://www.skynetdth.com/index.php/live-tv</string>
		<key>http</key>
		<string>https://livestream.com/accounts/7228455</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MITV</string>
		<key>logo</key>
		<string>MITV</string>
		<key>link</key>
		<string>http://live.myanmaritv.com/</string>
		<key>http</key>
		<string>https://livestream.com/myanmaritv/live</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Democratic Voice of Burma</string>
		<key>logo</key>
		<string>Burma</string>
		<key>link</key>
		<string>http://tv.dvb.no/</string>
		<key>http</key>
		<string>http://tv.dvb.no/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Buddha</string>
		<key>logo</key>
		<string>Buddha</string>
		<key>link</key>
		<string>http://www.skynetdth.com/index.php/live-tv</string>
		<key>http</key>
		<string>https://livestream.com/accounts/7228455</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mahar Bawdi</string>
		<key>logo</key>
		<string>Mahar</string>
		<key>link</key>
		<string>http://www.pyoneplay.com/live/maharbawdi</string>
		<key>http</key>
		<string>http://www.forevergroup.com.mm/mahabawdi.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MRTV / NRC / MITV</string>
		<key>logo</key>
		<string>MRTV</string>
		<key>link</key>
		<string>http://www.mrtv.gov.mm/?q=live-stream</string>
		<key>http</key>
		<string>http://www.mrtv.gov.mm</string>
	</dict>
</array>
</plist>
