<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Fiji 1</string>
		<key>logo</key>
		<string>Fiji1</string>
		<key>link</key>
		<string>https://new.fijione.tv/live-tv/</string>
		<key>http</key>
		<string>https://new.fijione.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TNTV Tahiti Nui</string>
		<key>logo</key>
		<string>Nui</string>
		<key>link</key>
		<string>https://www.tntv.pf/LIVE-Le-ve-a-et-le-journal-en-direct_a17290.html</string>
		<key>http</key>
		<string>https://www.tntv.pf</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Polynésie la 1ère</string>
		<key>logo</key>
		<string>1</string>
		<key>link</key>
		<string>https://la1ere.francetvinfo.fr/polynesie/tv/direct</string>
		<key>http</key>
		<string>https://la1ere.francetvinfo.fr/polynesie/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>PNC News</string>
		<key>logo</key>
		<string>PNC</string>
		<key>link</key>
		<string>http://pacificnewscenter.com/livestream/</string>
		<key>http</key>
		<string>http://pacificnewscenter.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>EMTV</string>
		<key>logo</key>
		<string>EMTV</string>
		<key>link</key>
		<string>http://www.emtv.com.pg/streaming/</string>
		<key>http</key>
		<string>http://www.emtv.com.pg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TV Tonga</string>
		<key>logo</key>
		<string>Tonga1</string>
		<key>link</key>
		<string>http://www.tonga-broadcasting.net/?page_id=26</string>
		<key>http</key>
		<string>http://www.tonga-broadcasting.net</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Radio Tonga</string>
		<key>logo</key>
		<string>Tonga2</string>
		<key>link</key>
		<string>http://www.tonga-broadcasting.net/?page_id=35</string>
		<key>http</key>
		<string>http://www.tonga-broadcasting.net</string>
	</dict>
</array>
</plist>
