<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string></string>
		<key>Back</key>
		<string></string>
		<key>Banner</key>
		<string></string>
		<key>Show1</key>
		<string></string>
		<key>Show2</key>
		<string></string>
		<key>Show3</key>
		<string></string>
		<key>Show4</key>
		<string></string>
		<key>Alarm</key>
		<string></string>
		<key>CustomBanner</key>
		<string></string>
		<key>CustomSplash</key>
		<string></string>
		<key>Header</key>
		<string></string>
		<key>Footer</key>
		<string></string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string></string>
		<key>Application</key>
		<string></string>
		<key>Developer</key>
		<string></string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Choice FM 106.4</string>
			<key>logo</key>
			<string>Choice</string>
			<key>link</key>
			<string>http://uk3-pn.webcast-server.net/8276/stream.mp3</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>GRTS</string>
			<key>logo</key>
			<string>GRTS</string>
			<key>link</key>
			<string>http://162.244.80.52:6508/listen.pls?sid=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Paradise FM</string>
			<key>logo</key>
			<string>Paradise</string>
			<key>link</key>
			<string>http://amber.streamguys.com:4340/paradise105.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>QRadio 103.3 FM</string>
			<key>logo</key>
			<string>QRadio</string>
			<key>link</key>
			<string>http://s9.viastreaming.net:9560/listen.pls</string>
			<key>http</key>
			<string>http://s9.viastreaming.net/mobile.php?port=9560</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Senn FM 90.5</string>
			<key>logo</key>
			<string>Senn</string>
			<key>link</key>
			<string>http://www.partyviberadio.com:8000/listen.pls?sid=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>West Coast Radio 92.1 FM</string>
			<key>logo</key>
			<string>West</string>
			<key>link</key>
			<string>http://stream.westcoast.gm:8002/listen.pls</string>
			<key>http</key>
			<string>http://stream.westcoast.gm:8080/westcoast921?type=.mp3</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>West Coast Radio 95.3 FM</string>
			<key>logo</key>
			<string>Coast</string>
			<key>link</key>
			<string>http://stream.westcoast.gm:8000/listen.pls</string>
			<key>http</key>
			<string>http://stream.westcoast.gm:8080/westcoast953?type=.mp3</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>VOA Africa</string>
			<key>logo</key>
			<string>VOA</string>
			<key>link</key>
			<string>https://voa17.akacast.akamaistream.net/7/685/437799/v1/ibb.akacast.akamaistream.net/voa17</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC World Service</string>
			<key>logo</key>
			<string>BBC</string>
			<key>link</key>
			<string>http://www.bbc.co.uk/worldservice/meta/live/mp3/eneuk.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
	</array>
</dict>
</plist>
