<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Pública</string>
		<key>logo</key>
		<string>Publica</string>
		<key>link</key>
		<string>https://www.youtube.com/user/TVPublicaArgentina/videos?view=2&amp;flow=grid&amp;live_view=501</string>
		<key>http</key>
		<string>http://www.tvpublica.com.ar/vivo/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Todo Noticias</string>
		<key>logo</key>
		<string>Todo</string>
		<key>link</key>
		<string>https://tn.com.ar/envivo/24hs</string>
		<key>http</key>
		<string>https://www.youtube.com/channel/UCj6PcyLvpnIRT_2W_mwa9Aw/videos?view=2&amp;live_view=501&amp;flow=grid</string>
	</dict>
	<dict>
		<key>name</key>
		<string>América</string>
		<key>logo</key>
		<string>America</string>
		<key>link</key>
		<string>https://www.americatv.com.ar</string>
		<key>http</key>
		<string>https://www.americatv.com.ar/vivo</string>
	</dict>
	<dict>
		<key>name</key>
		<string>A24</string>
		<key>logo</key>
		<string>A24</string>
		<key>link</key>
		<string>https://www.a24.com/</string>
		<key>http</key>
		<string>https://www.youtube.com/channel/UCR9120YBAqMfntqgRTKmkjQ/videos?view=2&amp;live_view=501&amp;flow=grid</string>
	</dict>
	<dict>
		<key>name</key>
		<string>C5N</string>
		<key>logo</key>
		<string>C5N</string>
		<key>link</key>
		<string>https://www.youtube.com/user/c5n/live</string>
		<key>http</key>
		<string>http://c5n.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>El Nueve</string>
		<key>logo</key>
		<string>Nueve</string>
		<key>link</key>
		<string>http://www.elnueve.com.ar/envivo</string>
		<key>http</key>
		<string>http://www.elnueve.com.ar</string>
	</dict>
	<dict>
		<key>name</key>
		<string>8 Mar del Plata</string>
		<key>logo</key>
		<string>8</string>
		<key>link</key>
		<string>https://www.youtube.com/channel/UCY0QZk2M_ZZi95S-MN1Zndg/videos?flow=grid&amp;live_view=501&amp;view=2</string>
		<key>http</key>
		<string>http://telefe.com/canal8mardelplata/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Diario 26</string>
		<key>logo</key>
		<string>Diario</string>
		<key>link</key>
		<string>https://www.youtube.com/user/canal26argentina/videos?view=2&amp;live_view=501&amp;flow=grid</string>
		<key>http</key>
		<string>http://www.diario26.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MUSICTOP</string>
		<key>logo</key>
		<string>MUSICTOP</string>
		<key>link</key>
		<string>http://www.diario26.com/musictop</string>
		<key>http</key>
		<string>http://www.diario26.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TELEMAX</string>
		<key>logo</key>
		<string>TELEMAX</string>
		<key>link</key>
		<string>http://www.diario26.com/telemax_en_vivo</string>
		<key>http</key>
		<string>http://www.diario26.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>La Nación +</string>
		<key>logo</key>
		<string>Nacion</string>
		<key>link</key>
		<string>https://lnmas.lanacion.com.ar/program/live/041cca55-2007-4551-9bfb-3940e6ba15c0</string>
		<key>http</key>
		<string>https://www.youtube.com/user/LaNacionTV/videos?live_view=501&amp;flow=grid&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Argentinísima Satelital</string>
		<key>logo</key>
		<string>Satelital</string>
		<key>link</key>
		<string>http://argentinisimatv.com.ar/</string>
		<key>http</key>
		<string>http://argentinisimatv.com.ar/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DeporTV</string>
		<key>logo</key>
		<string>DeporTV</string>
		<key>link</key>
		<string>http://deportv.gov.ar/en-vivo</string>
		<key>http</key>
		<string>http://deportv.gov.ar</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Construir</string>
		<key>logo</key>
		<string>Construir</string>
		<key>link</key>
		<string>http://construirtv.com/streaming/</string>
		<key>http</key>
		<string>http://construirtv.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Encuentro</string>
		<key>logo</key>
		<string>Encuentro</string>
		<key>link</key>
		<string>http://encuentro.gob.ar/envivo</string>
		<key>http</key>
		<string>http://encuentro.gob.ar</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Canal Rural</string>
		<key>logo</key>
		<string>Rural</string>
		<key>link</key>
		<string>https://www.elrural.com/transmision-en-vivo</string>
		<key>http</key>
		<string>https://www.elrural.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Orbe 21</string>
		<key>logo</key>
		<string>21</string>
		<key>link</key>
		<string>http://www.canalorbe21.com/en-vivo/</string>
		<key>http</key>
		<string>http://www.canalorbe21.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Luz</string>
		<key>logo</key>
		<string>Luz</string>
		<key>link</key>
		<string>http://vivo.canalluz.org/</string>
		<key>http</key>
		<string>http://www.canalluz.org/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ManáSat</string>
		<key>logo</key>
		<string>ManaSat</string>
		<key>link</key>
		<string>http://manasat.com/</string>
		<key>http</key>
		<string>http://manasat.com/mm1/index.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ciudad</string>
		<key>logo</key>
		<string>Ciudad</string>
		<key>link</key>
		<string>http://www.buenosaires.gob.ar/canaldelaciudad</string>
		<key>http</key>
		<string>http://www.buenosaires.gob.ar/canaldelaciudad</string>
	</dict>
	<dict>
		<key>name</key>
		<string>5 Tigre</string>
		<key>logo</key>
		<string>Tigre</string>
		<key>link</key>
		<string>http://canal5tigretv.com.ar/pagina/112/en-directo</string>
		<key>http</key>
		<string>http://canal5tigretv.com.ar/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mar del Plata</string>
		<key>logo</key>
		<string>Mar</string>
		<key>link</key>
		<string>http://www.canal79tv.com.ar/mardelplata.html</string>
		<key>http</key>
		<string>http://www.canal79tv.com.ar/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>La Costa</string>
		<key>logo</key>
		<string>Costa</string>
		<key>link</key>
		<string>http://www.canal79tv.com.ar/lacosta.html</string>
		<key>http</key>
		<string>http://www.canal79tv.com.ar/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>San Juan</string>
		<key>logo</key>
		<string>Juan</string>
		<key>link</key>
		<string>http://www.canal79tv.com.ar/sanjuan.html</string>
		<key>http</key>
		<string>http://www.canal79tv.com.ar/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>San Martín de los Andes</string>
		<key>logo</key>
		<string>Andes</string>
		<key>link</key>
		<string>http://www.canal79tv.com.ar/sanmartin.html</string>
		<key>http</key>
		<string>http://www.canal79tv.com.ar/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Catamarca</string>
		<key>logo</key>
		<string>Catamarca</string>
		<key>link</key>
		<string>http://www.canal79tv.com.ar/catamarca.html</string>
		<key>http</key>
		<string>http://www.canal79tv.com.ar/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tucumán</string>
		<key>logo</key>
		<string>Tucuman</string>
		<key>link</key>
		<string>http://www.canal79tv.com.ar/tucuman.html</string>
		<key>http</key>
		<string>http://www.canal79tv.com.ar/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Provincial</string>
		<key>logo</key>
		<string>Provincial</string>
		<key>link</key>
		<string>http://canalprovincial.com/</string>
		<key>http</key>
		<string>http://canalprovincial.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Celta</string>
		<key>logo</key>
		<string>Celta</string>
		<key>link</key>
		<string>http://www.celtatv.com.ar/</string>
		<key>http</key>
		<string>http://www.ustream.tv/channel/celta-tv1/pop-out</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CN 22</string>
		<key>logo</key>
		<string>22</string>
		<key>link</key>
		<string>http://cn22chaco.tv/</string>
		<key>http</key>
		<string>http://cn22chaco.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Chaco</string>
		<key>logo</key>
		<string>Chaco</string>
		<key>link</key>
		<string>http://www.chaco.tv/</string>
		<key>http</key>
		<string>http://www.chaco.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nueve 9 Comodoro</string>
		<key>logo</key>
		<string>9</string>
		<key>link</key>
		<string>http://canalnueve.tv/senal-en-vivo</string>
		<key>http</key>
		<string>http://canalnueve.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>cba24n</string>
		<key>logo</key>
		<string>cba24n</string>
		<key>link</key>
		<string>http://www.cba24n.com.ar/streamcba24.html</string>
		<key>http</key>
		<string>http://www.cba24n.com.ar/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Canal 10 Córdoba</string>
		<key>logo</key>
		<string>10</string>
		<key>link</key>
		<string>http://www.cba24n.com.ar/streamdc.html</string>
		<key>http</key>
		<string>http://www.cba24n.com.ar/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Imperio</string>
		<key>logo</key>
		<string>Imperio</string>
		<key>link</key>
		<string>http://imperiotv.com.ar/vivo/</string>
		<key>http</key>
		<string>http://imperiotv.com.ar</string>
	</dict>
	<dict>
		<key>name</key>
		<string>13 Max</string>
		<key>logo</key>
		<string>Max</string>
		<key>link</key>
		<string>http://www.13maxtv.com/new/</string>
		<key>http</key>
		<string>http://www.13maxtv.com/new/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>El Once</string>
		<key>logo</key>
		<string>Once</string>
		<key>link</key>
		<string>https://www.elonce.com/tv/</string>
		<key>http</key>
		<string>http://www.ustream.tv/channel/elonce-tv3/pop-out</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Lapacho 11 (LT88 Formosa)</string>
		<key>logo</key>
		<string>Lapacho</string>
		<key>link</key>
		<string>http://www.lapachotv.com.ar/</string>
		<key>http</key>
		<string>http://www.lapachotv.com.ar/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>El Siete Mendoza</string>
		<key>logo</key>
		<string>Mendoza</string>
		<key>link</key>
		<string>https://www.elsietetv.com.ar/</string>
		<key>http</key>
		<string>https://www.youtube.com/user/webcanal7mendoza/videos?live_view=501&amp;view=2&amp;flow=grid</string>
	</dict>
	<dict>
		<key>name</key>
		<string>6 San Rafael</string>
		<key>logo</key>
		<string>Rafael</string>
		<key>link</key>
		<string>http://www.canal6sanrafael.com.ar/vivo</string>
		<key>http</key>
		<string>https://www.youtube.com/channel/UCwq0epWuoVUDbuBz3hpgGeg/videos?view=2&amp;live_view=501&amp;flow=grid</string>
	</dict>
	<dict>
		<key>name</key>
		<string>12 Doce Misiones</string>
		<key>logo</key>
		<string>Doce</string>
		<key>link</key>
		<string>http://www.canal12misiones.com/</string>
		<key>http</key>
		<string>http://www.canal12misiones.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Misiones Cuatro</string>
		<key>logo</key>
		<string>Cuatro</string>
		<key>link</key>
		<string>http://misionescuatro.com/en-vivo</string>
		<key>http</key>
		<string>http://misionescuatro.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Noticiero 12</string>
		<key>logo</key>
		<string>Noticiero</string>
		<key>link</key>
		<string>http://www.noticiero12.com/index.php/sin-categorias/11443-ver-en-vivo.html</string>
		<key>http</key>
		<string>http://www.noticiero12.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>9 Salta (Nueve)</string>
		<key>logo</key>
		<string>Salta</string>
		<key>link</key>
		<string>http://www.canal9salta.com/</string>
		<key>http</key>
		<string>http://www.canal9salta.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Telesol</string>
		<key>logo</key>
		<string>Telesol</string>
		<key>link</key>
		<string>http://www.telesol.tv/</string>
		<key>http</key>
		<string>http://www.telesol.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>San Juan</string>
		<key>logo</key>
		<string>San</string>
		<key>link</key>
		<string>http://www.canal8sanjuan.com.ar/</string>
		<key>http</key>
		<string>https://www.youtube.com/channel/UC5UKMEIoqvNDMSDz2_6Sn9g/videos?view=2&amp;flow=grid&amp;live_view=501</string>
	</dict>
	<dict>
		<key>name</key>
		<string>San Juan</string>
		<key>logo</key>
		<string>13</string>
		<key>link</key>
		<string>https://www.canal13sanjuan.com/a/plantillas/1/p/9/vivo/vivo.html</string>
		<key>http</key>
		<string>https://www.canal13sanjuan.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>4 de Rosario</string>
		<key>logo</key>
		<string>Rosario</string>
		<key>link</key>
		<string>http://www.notiexpress.com.ar/static/canal_4.html?skin=santiago</string>
		<key>http</key>
		<string>http://www.notiexpress.com.ar</string>
	</dict>
	<dict>
		<key>name</key>
		<string>El Tres</string>
		<key>logo</key>
		<string>Tres</string>
		<key>link</key>
		<string>https://www.rosario3.com/el-tres-en-vivo/</string>
		<key>http</key>
		<string>https://www.rosario3.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>5 de Tucumán</string>
		<key>logo</key>
		<string>5</string>
		<key>link</key>
		<string>http://www.canal5.tucuman.tv/</string>
		<key>http</key>
		<string>http://www.canal5.tucuman.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Norte</string>
		<key>logo</key>
		<string>Norte</string>
		<key>link</key>
		<string>http://www.canal7.tucuman.tv/</string>
		<key>http</key>
		<string>http://www.ntvcanal7.com.ar/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>fm 93.1 PLUS</string>
		<key>logo</key>
		<string>PLUS</string>
		<key>link</key>
		<string>https://www.rosario3.com/radios/frecuenciaplus.html</string>
		<key>http</key>
		<string>https://www.rosario3.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RADIO 2</string>
		<key>logo</key>
		<string>2</string>
		<key>link</key>
		<string>https://www.rosario3.com/radios/radio2.html</string>
		<key>http</key>
		<string>https://www.rosario3.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>fm 97.9 VIDA</string>
		<key>logo</key>
		<string>VIDA</string>
		<key>link</key>
		<string>https://www.rosario3.com/radios/fmvida.html</string>
		<key>http</key>
		<string>https://www.rosario3.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Canal 4 Eldorado - Misiones</string>
		<key>logo</key>
		<string>4</string>
		<key>link</key>
		<string>https://www.canal4eldorado.com/en-vivo/</string>
		<key>http</key>
		<string>https://www.canal4eldorado.com/</string>
	</dict>
</array>
</plist>
