<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>1</string>
		<key>Back</key>
		<string>1</string>
		<key>Banner</key>
		<string>1</string>
		<key>Show1</key>
		<string>1</string>
		<key>Show2</key>
		<string>1</string>
		<key>Show3</key>
		<string>1</string>
		<key>Show4</key>
		<string>1</string>
		<key>Alarm</key>
		<string>1</string>
		<key>CustomBanner</key>
		<string>1</string>
		<key>CustomSplash</key>
		<string>1</string>
		<key>Header</key>
		<string>1</string>
		<key>Footer</key>
		<string>1</string>
		<key>Email</key>
		<string>1</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1</string>
		<key>Developer</key>
		<string>1</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Menu</key>
	<array>
		<string>Top</string>
		<string>News</string>
		<string>Local</string>
		<string>Classic</string>
		<string>Music</string>
		<string>Sport</string>
		<string>Talk</string>
		<string>Youth</string>
		<string>Oldies</string>
	</array>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>NRK P1 Østlandssendingen</string>
			<key>logo</key>
			<string>P1</string>
			<key>link</key>
			<string>http://lyd.nrk.no/nrk_radio_p1_ostlandssendingen_aac_h.m3u</string>
			<key>http</key>
			<string>http://lyd.nrk.no/nrk_radio_p1_ostlandssendingen_mp3_m.m3u</string>
			<key>note</key>
			<string>Oslo</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRK P1 Buskerud</string>
			<key>logo</key>
			<string>Buskerud</string>
			<key>link</key>
			<string>http://lyd.nrk.no/nrk_radio_p1_buskerud_aac_h.m3u</string>
			<key>http</key>
			<string>http://lyd.nrk.no/nrk_radio_p1_buskerud_mp3_m.m3u</string>
			<key>note</key>
			<string>Drammen</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRK P1+</string>
			<key>logo</key>
			<string>P1+</string>
			<key>link</key>
			<string>http://lyd.nrk.no/nrk_radio_p1pluss_aac_l.m3u</string>
			<key>http</key>
			<string>http://lyd.nrk.no/nrk_radio_p1pluss_aac_h.m3u</string>
			<key>note</key>
			<string>News / Talk / Culture / Oldies</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRK P2</string>
			<key>logo</key>
			<string>P2</string>
			<key>link</key>
			<string>http://lyd.nrk.no/nrk_radio_p2_aac_l.m3u</string>
			<key>http</key>
			<string>http://lyd.nrk.no/nrk_radio_p2_aac_h.m3u</string>
			<key>note</key>
			<string>News / Culture / Community</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRK P3</string>
			<key>logo</key>
			<string>P3</string>
			<key>link</key>
			<string>http://lyd.nrk.no/nrk_radio_p3_aac_l.m3u</string>
			<key>http</key>
			<string>http://lyd.nrk.no/nrk_radio_p3_aac_h.m3u</string>
			<key>note</key>
			<string>News / Talk / Humour / Pop / Rock</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRK P3 Radioresepsjonen</string>
			<key>logo</key>
			<string>Radioresepsjonen</string>
			<key>link</key>
			<string>http://lyd.nrk.no/nrk_radio_p3_radioresepsjonen_aac_l.m3u</string>
			<key>http</key>
			<string>http://lyd.nrk.no/nrk_radio_p3_radioresepsjonen_mp3_l.m3u</string>
			<key>note</key>
			<string>Humour</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRK P3 National rap show</string>
			<key>logo</key>
			<string>National</string>
			<key>link</key>
			<string>http://lyd.nrk.no/nrk_radio_p3_national_rap_show_aac_l.m3u</string>
			<key>http</key>
			<string>http://lyd.nrk.no/nrk_radio_p3_national_rap_show_mp3_l.m3u</string>
			<key>note</key>
			<string>Rap/HipHop</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRK P3 Pyro</string>
			<key>logo</key>
			<string>Pyro</string>
			<key>link</key>
			<string>http://lyd.nrk.no/nrk_radio_p3_pyro_aac_l.m3u</string>
			<key>http</key>
			<string>http://lyd.nrk.no/nrk_radio_p3_pyro_mp3_l.m3u</string>
			<key>note</key>
			<string>Hard Rock/Heavy Metal</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRK P3 Urørt</string>
			<key>logo</key>
			<string>NRK</string>
			<key>link</key>
			<string>http://lyd.nrk.no/nrk_radio_p3_urort_aac_l.m3u</string>
			<key>http</key>
			<string>http://lyd.nrk.no/nrk_radio_p3_urort_aac_h.m3u</string>
			<key>note</key>
			<string>Pop / Contemporary</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRK P13</string>
			<key>logo</key>
			<string>P13</string>
			<key>link</key>
			<string>http://lyd.nrk.no/nrk_radio_p13_aac_l.m3u</string>
			<key>http</key>
			<string>http://lyd.nrk.no/nrk_radio_p13_mp3_l.m3u</string>
			<key>note</key>
			<string>Rock</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRK mP3</string>
			<key>logo</key>
			<string>mP3</string>
			<key>link</key>
			<string>http://lyd.nrk.no/nrk_radio_mp3_aac_l.m3u</string>
			<key>http</key>
			<string>http://lyd.nrk.no/nrk_radio_mp3_aac_h.m3u</string>
			<key>note</key>
			<string>Pop / Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRK Klassisk</string>
			<key>logo</key>
			<string>Klassisk</string>
			<key>link</key>
			<string>http://lyd.nrk.no/nrk_radio_klassisk_aac_l.m3u</string>
			<key>http</key>
			<string>http://lyd.nrk.no/nrk_radio_klassisk_aac_h.m3u</string>
			<key>note</key>
			<string>Classical Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRK Alltid Nyheter</string>
			<key>logo</key>
			<string>Nyheter</string>
			<key>link</key>
			<string>http://lyd.nrk.no/nrk_radio_alltid_nyheter_aac_l.m3u</string>
			<key>http</key>
			<string>http://lyd.nrk.no/nrk_radio_alltid_nyheter_aac_h.m3u</string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRK Folkemusikk</string>
			<key>logo</key>
			<string>Folkemusikk</string>
			<key>link</key>
			<string>http://lyd.nrk.no/nrk_radio_folkemusikk_aac_l.m3u</string>
			<key>http</key>
			<string>http://lyd.nrk.no/nrk_radio_folkemusikk_aac_h.m3u</string>
			<key>note</key>
			<string>Folk music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRK Sámi Radio</string>
			<key>logo</key>
			<string>Sami</string>
			<key>link</key>
			<string>http://lyd.nrk.no/nrk_radio_sami_aac_l.m3u</string>
			<key>http</key>
			<string>http://lyd.nrk.no/nrk_radio_sami_aac_h.m3u</string>
			<key>note</key>
			<string>Karasjohka</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRK Jazz</string>
			<key>logo</key>
			<string>Jazz</string>
			<key>link</key>
			<string>http://lyd.nrk.no/nrk_radio_jazz_aac_l.m3u</string>
			<key>http</key>
			<string>http://lyd.nrk.no/nrk_radio_jazz_aac_h.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRK Super</string>
			<key>logo</key>
			<string>Super</string>
			<key>link</key>
			<string>http://lyd.nrk.no/nrk_radio_super_aac_l.m3u</string>
			<key>http</key>
			<string>http://lyd.nrk.no/nrk_radio_super_aac_h.m3u</string>
			<key>note</key>
			<string>Children programmes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRK Sport</string>
			<key>logo</key>
			<string>Sport</string>
			<key>link</key>
			<string>http://lyd.nrk.no/nrk_radio_sport_aac_l.m3u</string>
			<key>http</key>
			<string>http://lyd.nrk.no/nrk_radio_sport_aac_h.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
