<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>5961577158</string>
		<key>Back</key>
		<string>4821236943</string>
		<key>Banner</key>
		<string>4590847246</string>
		<key>Show1</key>
		<string>7929264946</string>
		<key>Show2</key>
		<string>9467893119</string>
		<key>Show3</key>
		<string>4673488160</string>
		<key>Show4</key>
		<string>4098773094</string>
		<key>Alarm</key>
		<string>7654874722</string>
		<key>CustomBanner</key>
		<string>4453996310</string>
		<key>CustomSplash</key>
		<string>7382470034</string>
		<key>Header</key>
		<string>9131607926</string>
		<key>Footer</key>
		<string>2655072755</string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string>1207573832</string>
		<key>Application</key>
		<string>1431055526</string>
		<key>Developer</key>
		<string>1239592099</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>NRK P1 Østlandssendingen</string>
			<key>logo</key>
			<string>P1</string>
			<key>link</key>
			<string>http://lyd.nrk.no/nrk_radio_p1_ostlandssendingen_aac_h.m3u</string>
			<key>http</key>
			<string>http://lyd.nrk.no/nrk_radio_p1_ostlandssendingen_mp3_m.m3u</string>
			<key>note</key>
			<string>Oslo</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRK P1 Buskerud</string>
			<key>logo</key>
			<string>Buskerud</string>
			<key>link</key>
			<string>http://lyd.nrk.no/nrk_radio_p1_buskerud_aac_h.m3u</string>
			<key>http</key>
			<string>http://lyd.nrk.no/nrk_radio_p1_buskerud_mp3_m.m3u</string>
			<key>note</key>
			<string>Drammen</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRK P1 Finnmark</string>
			<key>logo</key>
			<string>Finnmark</string>
			<key>link</key>
			<string>http://lyd.nrk.no/nrk_radio_p1_finnmark_aac_h.m3u</string>
			<key>http</key>
			<string>http://lyd.nrk.no/nrk_radio_p1_finnmark_mp3_m.m3u</string>
			<key>note</key>
			<string>Vadsø</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRK P1 Hordaland</string>
			<key>logo</key>
			<string>Hordaland</string>
			<key>link</key>
			<string>http://lyd.nrk.no/nrk_radio_p1_hordaland_aac_h.m3u</string>
			<key>http</key>
			<string>http://lyd.nrk.no/nrk_radio_p1_hordaland_mp3_m.m3u</string>
			<key>note</key>
			<string>Bergen</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRK P1 Møre og Romsdal</string>
			<key>logo</key>
			<string>Romsdal</string>
			<key>link</key>
			<string>http://lyd.nrk.no/nrk_radio_p1_more_og_romsdal_aac_h.m3u</string>
			<key>http</key>
			<string>http://lyd.nrk.no/nrk_radio_p1_more_og_romsdal_mp3_m.m3u</string>
			<key>note</key>
			<string>Ålesund</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRK P1 Nordland</string>
			<key>logo</key>
			<string>Nordland</string>
			<key>link</key>
			<string>http://lyd.nrk.no/nrk_radio_p1_nordland_aac_l.m3u</string>
			<key>http</key>
			<string>http://lyd.nrk.no/nrk_radio_p1_nordland_mp3_l.m3u</string>
			<key>note</key>
			<string>Bodø</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRK P1 Hedmark og Oppland</string>
			<key>logo</key>
			<string>Hedmark</string>
			<key>link</key>
			<string>http://lyd.nrk.no/nrk_radio_p1_hedmark_og_oppland_aac_l.m3u</string>
			<key>http</key>
			<string>http://lyd.nrk.no/nrk_radio_p1_hedmark_og_oppland_mp3_l.m3u</string>
			<key>note</key>
			<string>Lillehammer</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRK P1 Rogaland</string>
			<key>logo</key>
			<string>Rogaland</string>
			<key>link</key>
			<string>http://lyd.nrk.no/nrk_radio_p1_rogaland_aac_l.m3u</string>
			<key>http</key>
			<string>http://lyd.nrk.no/nrk_radio_p1_rogaland_mp3_l.m3u</string>
			<key>note</key>
			<string>Hafrsfjord</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRK P1 Sogn og Fjordane</string>
			<key>logo</key>
			<string>Sogn</string>
			<key>link</key>
			<string>http://lyd.nrk.no/nrk_radio_p1_sogn_og_fjordane_aac_l.m3u</string>
			<key>http</key>
			<string>http://lyd.nrk.no/nrk_radio_p1_sogn_og_fjordane_mp3_l.m3u</string>
			<key>note</key>
			<string>Førde</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRK P1 Sørlandet</string>
			<key>logo</key>
			<string>Sorlandet</string>
			<key>link</key>
			<string>http://lyd.nrk.no/nrk_radio_p1_sorlandet_aac_l.m3u</string>
			<key>http</key>
			<string>http://lyd.nrk.no/nrk_radio_p1_sorlandet_mp3_l.m3u</string>
			<key>note</key>
			<string>Kristiansand</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRK P1 Telemark</string>
			<key>logo</key>
			<string>Telemark</string>
			<key>link</key>
			<string>http://lyd.nrk.no/nrk_radio_p1_telemark_aac_l.m3u</string>
			<key>http</key>
			<string>http://lyd.nrk.no/nrk_radio_p1_telemark_mp3_l.m3u</string>
			<key>note</key>
			<string>Porsgrunn</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRK P1 Troms</string>
			<key>logo</key>
			<string>Troms</string>
			<key>link</key>
			<string>http://lyd.nrk.no/nrk_radio_p1_troms_aac_l.m3u</string>
			<key>http</key>
			<string>http://lyd.nrk.no/nrk_radio_p1_troms_mp3_l.m3u</string>
			<key>note</key>
			<string>Tromsø</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRK P1 Trøndelag</string>
			<key>logo</key>
			<string>Trondelag</string>
			<key>link</key>
			<string>http://lyd.nrk.no/nrk_radio_p1_trondelag_aac_l.m3u</string>
			<key>http</key>
			<string>http://lyd.nrk.no/nrk_radio_p1_trondelag_mp3_l.m3u</string>
			<key>note</key>
			<string>Trondheim</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRK P1 Vestfold</string>
			<key>logo</key>
			<string>Vestfold</string>
			<key>link</key>
			<string>http://lyd.nrk.no/nrk_radio_p1_vestfold_aac_l.m3u</string>
			<key>http</key>
			<string>http://lyd.nrk.no/nrk_radio_p1_vestfold_mp3_l.m3u</string>
			<key>note</key>
			<string>Tønsberg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRK P1 Østfold</string>
			<key>logo</key>
			<string>Ostfold</string>
			<key>link</key>
			<string>http://lyd.nrk.no/nrk_radio_p1_ostfold_aac_l.m3u</string>
			<key>http</key>
			<string>http://lyd.nrk.no/nrk_radio_p1_ostfold_mp3_l.m3u</string>
			<key>note</key>
			<string>Fredrikstad</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRK P1+</string>
			<key>logo</key>
			<string>P1+</string>
			<key>link</key>
			<string>http://lyd.nrk.no/nrk_radio_p1pluss_aac_l.m3u</string>
			<key>http</key>
			<string>http://lyd.nrk.no/nrk_radio_p1pluss_aac_h.m3u</string>
			<key>note</key>
			<string>News / Talk / Culture / Oldies</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRK P2</string>
			<key>logo</key>
			<string>P2</string>
			<key>link</key>
			<string>http://lyd.nrk.no/nrk_radio_p2_aac_l.m3u</string>
			<key>http</key>
			<string>http://lyd.nrk.no/nrk_radio_p2_aac_h.m3u</string>
			<key>note</key>
			<string>News / Culture / Community</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRK P3</string>
			<key>logo</key>
			<string>P3</string>
			<key>link</key>
			<string>http://lyd.nrk.no/nrk_radio_p3_aac_l.m3u</string>
			<key>http</key>
			<string>http://lyd.nrk.no/nrk_radio_p3_aac_h.m3u</string>
			<key>note</key>
			<string>News / Talk / Humour / Pop / Rock</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRK P3 Radioresepsjonen</string>
			<key>logo</key>
			<string>Radioresepsjonen</string>
			<key>link</key>
			<string>http://lyd.nrk.no/nrk_radio_p3_radioresepsjonen_aac_l.m3u</string>
			<key>http</key>
			<string>http://lyd.nrk.no/nrk_radio_p3_radioresepsjonen_mp3_l.m3u</string>
			<key>note</key>
			<string>Humour</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRK P3 National rap show</string>
			<key>logo</key>
			<string>National</string>
			<key>link</key>
			<string>http://lyd.nrk.no/nrk_radio_p3_national_rap_show_aac_l.m3u</string>
			<key>http</key>
			<string>http://lyd.nrk.no/nrk_radio_p3_national_rap_show_mp3_l.m3u</string>
			<key>note</key>
			<string>Rap/HipHop</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRK P3 Pyro</string>
			<key>logo</key>
			<string>Pyro</string>
			<key>link</key>
			<string>http://lyd.nrk.no/nrk_radio_p3_pyro_aac_l.m3u</string>
			<key>http</key>
			<string>http://lyd.nrk.no/nrk_radio_p3_pyro_mp3_l.m3u</string>
			<key>note</key>
			<string>Hard Rock/Heavy Metal</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRK P3 Urørt</string>
			<key>logo</key>
			<string>NRK</string>
			<key>link</key>
			<string>http://lyd.nrk.no/nrk_radio_p3_urort_aac_l.m3u</string>
			<key>http</key>
			<string>http://lyd.nrk.no/nrk_radio_p3_urort_aac_h.m3u</string>
			<key>note</key>
			<string>Pop / Contemporary</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRK P13</string>
			<key>logo</key>
			<string>P13</string>
			<key>link</key>
			<string>http://lyd.nrk.no/nrk_radio_p13_aac_l.m3u</string>
			<key>http</key>
			<string>http://lyd.nrk.no/nrk_radio_p13_mp3_l.m3u</string>
			<key>note</key>
			<string>Rock</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRK mP3</string>
			<key>logo</key>
			<string>mP3</string>
			<key>link</key>
			<string>http://lyd.nrk.no/nrk_radio_mp3_aac_l.m3u</string>
			<key>http</key>
			<string>http://lyd.nrk.no/nrk_radio_mp3_aac_h.m3u</string>
			<key>note</key>
			<string>Pop / Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRK Klassisk</string>
			<key>logo</key>
			<string>Klassisk</string>
			<key>link</key>
			<string>http://lyd.nrk.no/nrk_radio_klassisk_aac_l.m3u</string>
			<key>http</key>
			<string>http://lyd.nrk.no/nrk_radio_klassisk_aac_h.m3u</string>
			<key>note</key>
			<string>Classical Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRK Alltid Nyheter</string>
			<key>logo</key>
			<string>Nyheter</string>
			<key>link</key>
			<string>http://lyd.nrk.no/nrk_radio_alltid_nyheter_aac_l.m3u</string>
			<key>http</key>
			<string>http://lyd.nrk.no/nrk_radio_alltid_nyheter_aac_h.m3u</string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRK Folkemusikk</string>
			<key>logo</key>
			<string>Folkemusikk</string>
			<key>link</key>
			<string>http://lyd.nrk.no/nrk_radio_folkemusikk_aac_l.m3u</string>
			<key>http</key>
			<string>http://lyd.nrk.no/nrk_radio_folkemusikk_aac_h.m3u</string>
			<key>note</key>
			<string>Folk music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRK Sámi Radio</string>
			<key>logo</key>
			<string>Sami</string>
			<key>link</key>
			<string>http://lyd.nrk.no/nrk_radio_sami_aac_l.m3u</string>
			<key>http</key>
			<string>http://lyd.nrk.no/nrk_radio_sami_aac_h.m3u</string>
			<key>note</key>
			<string>Karasjohka</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRK Jazz</string>
			<key>logo</key>
			<string>Jazz</string>
			<key>link</key>
			<string>http://lyd.nrk.no/nrk_radio_jazz_aac_l.m3u</string>
			<key>http</key>
			<string>http://lyd.nrk.no/nrk_radio_jazz_aac_h.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRK Super</string>
			<key>logo</key>
			<string>Super</string>
			<key>link</key>
			<string>http://lyd.nrk.no/nrk_radio_super_aac_l.m3u</string>
			<key>http</key>
			<string>http://lyd.nrk.no/nrk_radio_super_aac_h.m3u</string>
			<key>note</key>
			<string>Children programmes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRK Sport</string>
			<key>logo</key>
			<string>Sport</string>
			<key>link</key>
			<string>http://lyd.nrk.no/nrk_radio_sport_aac_l.m3u</string>
			<key>http</key>
			<string>http://lyd.nrk.no/nrk_radio_sport_aac_h.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Narvik Studentradio</string>
			<key>logo</key>
			<string>Narvik</string>
			<key>link</key>
			<string>http://stream.sysrq.no:8000/00-nsr.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRJ</string>
			<key>logo</key>
			<string>NRJ</string>
			<key>link</key>
			<string>http://www.listenlive.eu/nrj_mp3_mq.m3u</string>
			<key>http</key>
			<string>http://www.listenlive.eu/nrj_aac_lq.m3u</string>
			<key>note</key>
			<string>Top 30</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nærkanalen</string>
			<key>logo</key>
			<string>Nrkanalen</string>
			<key>link</key>
			<string>http://www.narkanalen.no/high.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Ørnes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ordentlig Radio</string>
			<key>logo</key>
			<string>Ordentlig</string>
			<key>link</key>
			<string>http://mms-live.online.no/oradio_mp3_m.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>P4</string>
			<key>logo</key>
			<string>P4</string>
			<key>link</key>
			<string>http://www.listenlive.eu/p4_mp3_mq.m3u</string>
			<key>http</key>
			<string>http://www.listenlive.eu/p4_aac_lq.m3u</string>
			<key>note</key>
			<string>Lillehammer</string>
		</dict>
		<dict>
			<key>name</key>
			<string>P4 Bandit</string>
			<key>logo</key>
			<string>Bandit</string>
			<key>link</key>
			<string>http://www.listenlive.eu/bandit_mp3_mq.m3u</string>
			<key>http</key>
			<string>http://www.listenlive.eu/bandit_aac_lq.m3u</string>
			<key>note</key>
			<string>Lillehammer</string>
		</dict>
		<dict>
			<key>name</key>
			<string>P5 Oslo</string>
			<key>logo</key>
			<string>P5</string>
			<key>link</key>
			<string>http://www.listenlive.eu/p5oslo_mp3_mq.m3u</string>
			<key>http</key>
			<string>http://www.listenlive.eu/p5oslo_aac_lq.m3u</string>
			<key>note</key>
			<string>Top 30</string>
		</dict>
		<dict>
			<key>name</key>
			<string>P5 Bergen</string>
			<key>logo</key>
			<string>Bergen</string>
			<key>link</key>
			<string>http://www.listenlive.eu/p5bergen_mp3_mq.m3u</string>
			<key>http</key>
			<string>http://www.listenlive.eu/p5bergen_aac_lq.m3u</string>
			<key>note</key>
			<string>Top 30</string>
		</dict>
		<dict>
			<key>name</key>
			<string>P5 Stavanger</string>
			<key>logo</key>
			<string>Stavanger</string>
			<key>link</key>
			<string>http://www.listenlive.eu/p5stavanger_mp3_mq.m3u</string>
			<key>http</key>
			<string>http://www.listenlive.eu/p5stavanger_aac_lq.m3u</string>
			<key>note</key>
			<string>Top 30</string>
		</dict>
		<dict>
			<key>name</key>
			<string>P5 Trondheim</string>
			<key>logo</key>
			<string>Trondheim</string>
			<key>link</key>
			<string>http://www.listenlive.eu/p5trondheim_mp3_mq.m3u</string>
			<key>http</key>
			<string>http://www.listenlive.eu/p5trondheim_aac_lq.m3u</string>
			<key>note</key>
			<string>Top 30</string>
		</dict>
		<dict>
			<key>name</key>
			<string>P6 Rock</string>
			<key>logo</key>
			<string>P6</string>
			<key>link</key>
			<string>http://www.listenlive.eu/p6_mp3_mq.m3u</string>
			<key>http</key>
			<string>http://www.listenlive.eu/p6_aac_lq.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>P7 Klem</string>
			<key>logo</key>
			<string>P7</string>
			<key>link</key>
			<string>http://www.listenlive.eu/p7_mp3_mq.m3u</string>
			<key>http</key>
			<string>http://www.listenlive.eu/p7_aac_lq.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>P8 Pop</string>
			<key>logo</key>
			<string>P8</string>
			<key>link</key>
			<string>http://www.listenlive.eu/p8_mp3_mq.m3u</string>
			<key>http</key>
			<string>http://www.listenlive.eu/p8_aac_lq.m3u</string>
			<key>note</key>
			<string>Top 30</string>
		</dict>
		<dict>
			<key>name</key>
			<string>P9 Retro</string>
			<key>logo</key>
			<string>P9</string>
			<key>link</key>
			<string>http://www.listenlive.eu/p9_mp3_mq.m3u</string>
			<key>http</key>
			<string>http://www.listenlive.eu/p9_aac_lq.m3u</string>
			<key>note</key>
			<string>Lillehammer</string>
		</dict>
		<dict>
			<key>name</key>
			<string>P10 Mix</string>
			<key>logo</key>
			<string>P10</string>
			<key>link</key>
			<string>http://www.listenlive.eu/p10_mp3_mq.m3u</string>
			<key>http</key>
			<string>http://www.listenlive.eu/p10_aac_lq.m3u</string>
			<key>note</key>
			<string>Top 30</string>
		</dict>
		<dict>
			<key>name</key>
			<string>P7 Kystradioen</string>
			<key>logo</key>
			<string>Kystradioen</string>
			<key>link</key>
			<string>http://4832.cloudrad.io:8054/p7kystradioen.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Bergen</string>
		</dict>
		<dict>
			<key>name</key>
			<string>POPradio</string>
			<key>logo</key>
			<string>POPradio</string>
			<key>link</key>
			<string>http://public.popradio.no:8058/live.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 30</string>
		</dict>
		<dict>
			<key>name</key>
			<string>102</string>
			<key>logo</key>
			<string>102</string>
			<key>link</key>
			<string>http://downstream.radio.raw.no:8000/radio102.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 30 (Karmøy)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>1FM</string>
			<key>logo</key>
			<string>1FM</string>
			<key>link</key>
			<string>http://213.158.233.199:2026/listen.pls</string>
			<key>http</key>
			<string>http://213.158.233.199:2012/listen.pls</string>
			<key>note</key>
			<string>Top 30 (Molde)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>3</string>
			<key>logo</key>
			<string>3</string>
			<key>link</key>
			<string>http://wms.yourstation.com:8000/listen.pls?sid=2</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 30 (Bodø)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Altaposten</string>
			<key>logo</key>
			<string>Altaposten</string>
			<key>link</key>
			<string>http://lyd.radioalta.no/radioalta-128k.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 30 (Alta)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Askøy</string>
			<key>logo</key>
			<string>Askoy</string>
			<key>link</key>
			<string>http://213.158.233.199:8577/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Atlantic</string>
			<key>logo</key>
			<string>Atlantic</string>
			<key>link</key>
			<string>http://204.232.197.158:8022/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Sandnes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Beat</string>
			<key>logo</key>
			<string>Beat</string>
			<key>link</key>
			<string>http://www.listenlive.eu/no_thebeat_mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>RnB/HipHop</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Beiarn</string>
			<key>logo</key>
			<string>Beiarn</string>
			<key>link</key>
			<string>http://uk3-vn.mixstream.net/listen/8080.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Moldjord</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bø</string>
			<key>logo</key>
			<string>B</string>
			<key>link</key>
			<string>http://nettradio.radiobo.com/radiobo-med.m3u</string>
			<key>http</key>
			<string>http://nettradio.radiobo.com/radiobo-high.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>ElverumsRadioen</string>
			<key>logo</key>
			<string>ElverumsRadioen</string>
			<key>link</key>
			<string>http://109.169.96.11:8000/elverum.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 30 (Flisa)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Grenland</string>
			<key>logo</key>
			<string>Grenland</string>
			<key>link</key>
			<string>http://stream.jaerradiogruppen.no:8020/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hallingdal</string>
			<key>logo</key>
			<string>Hallingdal</string>
			<key>link</key>
			<string>http://www.radiohallingdal.no/radiohallingdal.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Hol</string>
		</dict>
		<dict>
			<key>name</key>
			<string>HamarRadioen</string>
			<key>logo</key>
			<string>HamarRadioen</string>
			<key>link</key>
			<string>http://109.169.96.11:8000/hamar.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>HamarRadioen Hits</string>
			<key>logo</key>
			<string>Hits</string>
			<key>link</key>
			<string>http://109.169.96.11:8000/hamarhits.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Haugaland</string>
			<key>logo</key>
			<string>Haugaland</string>
			<key>link</key>
			<string>http://stream.radioh.no:443/rh.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Jazzabit</string>
			<key>logo</key>
			<string>Jazzabit</string>
			<key>link</key>
			<string>http://213.158.233.199:2042/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>JærRadioen</string>
			<key>logo</key>
			<string>JrRadioen</string>
			<key>link</key>
			<string>http://stream.jaerradiogruppen.no:8018/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 30 (Sandnes)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kiss</string>
			<key>logo</key>
			<string>Kiss</string>
			<key>link</key>
			<string>http://stream.bauermedia.no:8000/kiss.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 30</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kongsvinger</string>
			<key>logo</key>
			<string>Kongsvinger</string>
			<key>link</key>
			<string>http://stream.radiokongsvinger.no:8000/stream128.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>L</string>
			<key>logo</key>
			<string>L</string>
			<key>link</key>
			<string>http://www.listenlive.eu/no_radiol_mp3.m3u</string>
			<key>http</key>
			<string>http://www.listenlive.eu/no_radiol_aac.m3u</string>
			<key>note</key>
			<string>Lillesand</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Loland</string>
			<key>logo</key>
			<string>Loland</string>
			<key>link</key>
			<string>http://www.listenlive.eu/no_radiololand_mp3.m3u</string>
			<key>http</key>
			<string>http://www.listenlive.eu/no_radiololand_aac.m3u</string>
			<key>note</key>
			<string>Vennesla</string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
