<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>3222198285</string>
		<key>Back</key>
		<string>5984092998</string>
		<key>Banner</key>
		<string>1</string>
		<key>Show1</key>
		<string>1</string>
		<key>Show2</key>
		<string>1</string>
		<key>Show3</key>
		<string>1</string>
		<key>Show4</key>
		<string>1</string>
		<key>Alarm</key>
		<string>1</string>
		<key>CustomBanner</key>
		<string>1</string>
		<key>CustomSplash</key>
		<string>8147577126</string>
		<key>Header</key>
		<string>2703678756</string>
		<key>Footer</key>
		<string>7301044090</string>
		<key>Email</key>
		<string>ios.apps.community@gmail.com</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1463378820</string>
		<key>Developer</key>
		<string>1360678770</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Menu</key>
	<array>
		<string>Top</string>
		<string>News</string>
		<string>Local</string>
		<string>Classic</string>
		<string>Music</string>
		<string>Sport</string>
		<string>Talk</string>
		<string>Youth</string>
		<string>Oldies</string>
	</array>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>101</string>
			<key>logo</key>
			<string>101</string>
			<key>link</key>
			<string>http://lush.wavestreamer.com:6961/listen.m3u?sid=1</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-101,16569.m3u</string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>103</string>
			<key>logo</key>
			<string>103</string>
			<key>link</key>
			<string>http://s2.radio.co/s955b1ced9/listen</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>105</string>
			<key>logo</key>
			<string>105</string>
			<key>link</key>
			<string>http://s5.voscast.com:9304/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>All Rock FM</string>
			<key>logo</key>
			<string>All</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/all-rock-fm,17606.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bastjaniżi 95.0 FM</string>
			<key>logo</key>
			<string>Bastjanizi</string>
			<key>link</key>
			<string>http://bfmlive.ddns.net:88/broadwave.m3u?src=1&amp;rate=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bay Radio</string>
			<key>logo</key>
			<string>Bay</string>
			<key>link</key>
			<string>http://178.32.161.194:8022/listen.pls</string>
			<key>http</key>
			<string>http://s1.voscast.com:8132/listen.pls</string>
			<key>note</key>
			<string>News, Top, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bay Easy</string>
			<key>logo</key>
			<string>Easy</string>
			<key>link</key>
			<string>http://178.32.161.194:8018/listen.pls</string>
			<key>http</key>
			<string>http://s1.voscast.com:8154/listen.pls</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bay Retro</string>
			<key>logo</key>
			<string>Retro</string>
			<key>link</key>
			<string>http://178.32.161.194:8014/listen.pls</string>
			<key>http</key>
			<string>http://s1.voscast.com:8156/listen.pls</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC World Service</string>
			<key>logo</key>
			<string>BBC</string>
			<key>link</key>
			<string>http://www.bbc.co.uk/worldservice/meta/live/mp3/eneuk.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BKR 94.5 FM</string>
			<key>logo</key>
			<string>BKR</string>
			<key>link</key>
			<string>https://s4.radio.co/s0ac89720b/listen</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Calypso 101.8 FM</string>
			<key>logo</key>
			<string>Calypso</string>
			<key>link</key>
			<string>https://s4.radio.co/sf3aa4c25a/listen</string>
			<key>http</key>
			<string>http://s9.voscast.com:8128/listen.pls</string>
			<key>note</key>
			<string>Oldies, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>City 98 FM</string>
			<key>logo</key>
			<string>City</string>
			<key>link</key>
			<string>https://freeuk7.listen2myradio.com/live.mp3?typeportmount=s1_39263_stream_620021671</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Deejay&apos;s 95.6 FM</string>
			<key>logo</key>
			<string>Deejay</string>
			<key>link</key>
			<string>https://freeus1.listen2myradio.com/live.mp3?typeportmount=s1_5213_stream_518629660</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Energy Web</string>
			<key>logo</key>
			<string>Energy</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/energy-web-radio,19677.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hompesch 90.0 FM</string>
			<key>logo</key>
			<string>Hompesch</string>
			<key>link</key>
			<string>http://janus2.cdnstream.com:8008/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>KISS</string>
			<key>logo</key>
			<string>KISS</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/kiss-malta,17932.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Lauretana - Għajnsielem 89.3 FM</string>
			<key>logo</key>
			<string>Lauretana</string>
			<key>link</key>
			<string>https://stream.radjulauretana.com/hls/index.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Leħen il-Ġużeppini 89.1 FM</string>
			<key>logo</key>
			<string>Guzeppini</string>
			<key>link</key>
			<string>http://streaming.sanguzeppghaxaq.com:88/broadwave.m3u?src=1&amp;rate=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Leħen il-Belt Ġorġjana</string>
			<key>logo</key>
			<string>Belt</string>
			<key>link</key>
			<string>http://s37.myradiostream.com:9088/listen.mp3</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Leħen il-Qala 106.3 FM</string>
			<key>logo</key>
			<string>Qala</string>
			<key>link</key>
			<string>http://stream.radjulehenil-qala.com:8000/radjulehenil-qala.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Luminaria 106.9 FM</string>
			<key>logo</key>
			<string>Luminaria</string>
			<key>link</key>
			<string>http://stream.radjuluminaria.com:8000/radjuluminaria.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk (Nadur, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Marija</string>
			<key>logo</key>
			<string>Marija</string>
			<key>link</key>
			<string>http://dreamsiteradiocp.com:8102/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MICS 93.3 FM</string>
			<key>logo</key>
			<string>MICS</string>
			<key>link</key>
			<string>http://micsradio.ddns.net:90/listen.pls</string>
			<key>http</key>
			<string>http://micsradio.ddns.net:90/;</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>NET FM</string>
			<key>logo</key>
			<string>NET</string>
			<key>link</key>
			<string>http://s2.voscast.com:11392/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/net-fm-101-0,21114.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>ONE</string>
			<key>logo</key>
			<string>One</string>
			<key>link</key>
			<string>http://s10.voscast.com:8202/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/one-radio,17931.m3u</string>
			<key>note</key>
			<string>News, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>PBS Magic Malta</string>
			<key>logo</key>
			<string>Magic</string>
			<key>link</key>
			<string>http://myradiostream.com/46/6076.pls</string>
			<key>http</key>
			<string>http://myradiostream.com/16/4542.pls</string>
			<key>note</key>
			<string>News, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>PBS Malta</string>
			<key>logo</key>
			<string>Malta</string>
			<key>link</key>
			<string>http://myradiostream.com/38/6982.pls</string>
			<key>http</key>
			<string>http://myradiostream.com/8/6982/listen.pls</string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>PBS Malta 2</string>
			<key>logo</key>
			<string>PBS</string>
			<key>link</key>
			<string>http://myradiostream.com/11/4954.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Prekursur 99.3 FM</string>
			<key>logo</key>
			<string>Prekursur</string>
			<key>link</key>
			<string>http://78.129.187.73:27150/stream.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>RAVE</string>
			<key>logo</key>
			<string>RAVE</string>
			<key>link</key>
			<string>https://s3.radio.co/s614efd5e8/listen</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Smash 104.6 FM</string>
			<key>logo</key>
			<string>Smash</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/smash-radio-104-6-fm,3683.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Vibe FM 88.7</string>
			<key>logo</key>
			<string>Vibe</string>
			<key>link</key>
			<string>http://s9.voscast.com:7824/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/vibe-fm,11911.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>XFM 100.2</string>
			<key>logo</key>
			<string>XFM</string>
			<key>link</key>
			<string>http://s10.voscast.com:7866/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top Music</string>
		</dict>
	</array>
</dict>
</plist>
