<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>8440573550</string>
		<key>Back</key>
		<string>3167355131</string>
		<key>Banner</key>
		<string>9485351473</string>
		<key>Show1</key>
		<string>REMOVED</string>
		<key>Show2</key>
		<string>REMOVED</string>
		<key>Show3</key>
		<string>REMOVED</string>
		<key>Show4</key>
		<string>REMOVED</string>
		<key>Alarm</key>
		<string>5300949483</string>
		<key>CustomBanner</key>
		<string>6230887777</string>
		<key>CustomSplash</key>
		<string>7844966744</string>
		<key>Header</key>
		<string>7820916015</string>
		<key>Footer</key>
		<string>9265859626</string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string>1</string>
		<key>Application</key>
		<string>1446576113</string>
		<key>Developer</key>
		<string>1239592099</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>All Rock FM</string>
			<key>logo</key>
			<string>All</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/all-rock-fm,17606.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Energy Web</string>
			<key>logo</key>
			<string>Energy</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/energy-web-radio,19677.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>KISS</string>
			<key>logo</key>
			<string>KISS</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/kiss-malta,17932.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>NET FM</string>
			<key>logo</key>
			<string>NET</string>
			<key>link</key>
			<string>http://s2.voscast.com:11392/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/net-fm-101-0,21114.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Smash 104.6 FM</string>
			<key>logo</key>
			<string>Smash</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/smash-radio-104-6-fm,3683.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Leħen il-Ġużeppini 89.1 FM</string>
			<key>logo</key>
			<string>Guzeppini</string>
			<key>link</key>
			<string>http://streaming.sanguzeppghaxaq.com:88/broadwave.m3u?src=1&amp;rate=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Lauretana - Għajnsielem 89.3 FM</string>
			<key>logo</key>
			<string>Lauretana</string>
			<key>link</key>
			<string>https://stream.radjulauretana.com/hls/index.m3u8</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hompesch - Ħaż-Żabbar 90.0 FM</string>
			<key>logo</key>
			<string>Hompesch</string>
			<key>link</key>
			<string>http://janus2.cdnstream.com:8008/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>MICS 93.3 FM</string>
			<key>logo</key>
			<string>MICS</string>
			<key>link</key>
			<string>http://micsradio.ddns.net:90/listen.pls</string>
			<key>http</key>
			<string>http://micsradio.ddns.net:90/;</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>BKR 94.5 FM</string>
			<key>logo</key>
			<string>BKR</string>
			<key>link</key>
			<string>https://s4.radio.co/s0ac89720b/listen</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bastjaniżi 95.0 FM</string>
			<key>logo</key>
			<string>Bastjanizi</string>
			<key>link</key>
			<string>http://bfmlive.ddns.net:88/broadwave.m3u?src=1&amp;rate=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Deejay&apos;s 95.6 FM</string>
			<key>logo</key>
			<string>Deejay</string>
			<key>link</key>
			<string>https://freeus1.listen2myradio.com/live.mp3?typeportmount=s1_5213_stream_518629660</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bay Radio</string>
			<key>logo</key>
			<string>Bay</string>
			<key>link</key>
			<string>http://s1.voscast.com:8132/listen.pls</string>
			<key>http</key>
			<string>http://178.32.161.194:8022/listen.pls</string>
			<key>note</key>
			<string>St.Julians</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bay Easy</string>
			<key>logo</key>
			<string>Easy</string>
			<key>link</key>
			<string>http://s1.voscast.com:8154/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>St.Julians</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bay Retro</string>
			<key>logo</key>
			<string>Retro</string>
			<key>link</key>
			<string>http://s1.voscast.com:8156/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>St.Julians</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Calypso Radio 101.8 FM</string>
			<key>logo</key>
			<string>Calypso</string>
			<key>link</key>
			<string>http://cdn.voscast.com/resources/?key=4f870a0b3f3891cfc3b3309f49b2cc9c&amp;c=winamp</string>
			<key>http</key>
			<string>http://s9.voscast.com:8128/listen.pls</string>
			<key>note</key>
			<string>Victoria - Gozo (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Magic Malta 91.7 FM</string>
			<key>logo</key>
			<string>Magic</string>
			<key>link</key>
			<string>http://myradiostream.com/16/4542.pls</string>
			<key>http</key>
			<string>http://myradiostream.com/46/6076.pls</string>
			<key>note</key>
			<string>G&apos;Mangia (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ONE Radio</string>
			<key>logo</key>
			<string>One</string>
			<key>link</key>
			<string>http://s10.voscast.com:8202/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/one-radio,17931.m3u</string>
			<key>note</key>
			<string>Hamrun (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Malta</string>
			<key>logo</key>
			<string>Malta</string>
			<key>link</key>
			<string>http://myradiostream.com/38/6982.pls</string>
			<key>http</key>
			<string>http://myradiostream.com/8/6982/listen.pls</string>
			<key>note</key>
			<string>News/Information (G&apos;Mangia, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio 101</string>
			<key>logo</key>
			<string>101</string>
			<key>link</key>
			<string>http://lush.wavestreamer.com:6961/listen.m3u?sid=1</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/radio-101,16569.m3u</string>
			<key>note</key>
			<string>Pieta (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radju Luminaria</string>
			<key>logo</key>
			<string>Radju</string>
			<key>link</key>
			<string>http://stream.radjuluminaria.com:8000/radjuluminaria.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Nadur - Gozo (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Vibe FM 88.7</string>
			<key>logo</key>
			<string>Vibe</string>
			<key>link</key>
			<string>http://s9.voscast.com:7824/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/vibe-fm,11911.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
	</array>
</dict>
</plist>
