<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>YTN</string>
		<key>logo</key>
		<string>YTN</string>
		<key>link</key>
		<string>http://ytn.co.kr/hd/hd_live.html</string>
		<key>http</key>
		<string>http://www.ytn.co.kr/_cs/hd_live.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>YTN life</string>
		<key>logo</key>
		<string>life</string>
		<key>link</key>
		<string>http://life.ytn.co.kr/hd/hd_live.php</string>
		<key>http</key>
		<string>https://www.youtube.com/user/ytnweatherlive/videos?shelf_id=0&amp;live_view=501&amp;sort=dd&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>YTN Science</string>
		<key>logo</key>
		<string>Science</string>
		<key>link</key>
		<string>http://science.ytn.co.kr/hd/hd_live.php</string>
		<key>http</key>
		<string>https://www.youtube.com/user/ytnsciencelive/videos?shelf_id=0&amp;live_view=501&amp;sort=dd&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Channel A</string>
		<key>logo</key>
		<string>A</string>
		<key>link</key>
		<string>http://www.ichannela.com/com/cmm/onair.do</string>
		<key>http</key>
		<string>http://www.ichannela.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>연합뉴스TV Yonhap</string>
		<key>logo</key>
		<string>Yonhap</string>
		<key>link</key>
		<string>http://www.yonhapnewstv.co.kr/</string>
		<key>http</key>
		<string>http://www.yonhapnewstv.co.kr/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>KBS 한국방송공사</string>
		<key>logo</key>
		<string>KBS</string>
		<key>link</key>
		<string>http://myk.kbs.co.kr/live/tv</string>
		<key>http</key>
		<string>http://www.kbs.co.kr/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>KBS World 월드 24</string>
		<key>logo</key>
		<string>24</string>
		<key>link</key>
		<string>http://kbsworld.kbs.co.kr/vod/onair.php?p_no=live_news24</string>
		<key>http</key>
		<string>http://kbsworld.kbs.co.kr/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>KBS World 월드 TV</string>
		<key>logo</key>
		<string>World</string>
		<key>link</key>
		<string>http://kbsworld.kbs.co.kr/vod/onair.php?p_no=onair</string>
		<key>http</key>
		<string>http://kbsworld.kbs.co.kr/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>KBS World 월드 Latino</string>
		<key>logo</key>
		<string>Latino</string>
		<key>link</key>
		<string>http://kbsworld.kbs.co.kr/vod/onair.php?p_no=latino</string>
		<key>http</key>
		<string>http://kbsworld.kbs.co.kr/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Arirang World</string>
		<key>logo</key>
		<string>Arirang1</string>
		<key>link</key>
		<string>http://www.arirang.com/player/onair_tv.asp?Channel=CH_W&amp;Quality=</string>
		<key>http</key>
		<string>http://www.arirang.com/player/onair_tv.asp?sys_lang=Eng</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Arirang UN</string>
		<key>logo</key>
		<string>Arirang2</string>
		<key>link</key>
		<string>http://www.arirang.com/player/onair_tv.asp?Channel=CH_Z&amp;Quality=</string>
		<key>http</key>
		<string>http://www.arirang.com/player/onair_tv.asp?sys_lang=Eng</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Arirang Korea</string>
		<key>logo</key>
		<string>Arirang3</string>
		<key>link</key>
		<string>http://www.arirang.com/player/onair_tv.asp?Channel=CH_K&amp;Quality=</string>
		<key>http</key>
		<string>http://www.arirang.com/player/onair_tv.asp?sys_lang=Eng</string>
	</dict>
	<dict>
		<key>name</key>
		<string>OhmyTV 오마이TV</string>
		<key>logo</key>
		<string>OhmyTV</string>
		<key>link</key>
		<string>https://www.youtube.com/user/OhmynewsTV/videos?shelf_id=0&amp;live_view=501&amp;sort=dd&amp;view=2</string>
		<key>http</key>
		<string>http://www.ohmynews.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NTV</string>
		<key>logo</key>
		<string>NTV</string>
		<key>link</key>
		<string>http://www.n-tv.or.kr/popup/on_air.php</string>
		<key>http</key>
		<string>http://www.n-tv.or.kr/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SEN 서울경제TV</string>
		<key>logo</key>
		<string>SEN</string>
		<key>link</key>
		<string>http://www.sentv.co.kr/player/tv/</string>
		<key>http</key>
		<string>http://www.sentv.co.kr</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Maeil Business 매일경제TV</string>
		<key>logo</key>
		<string>Maeil</string>
		<key>link</key>
		<string>http://mbnmoney.mbn.co.kr/tv/onair</string>
		<key>http</key>
		<string>http://mbnmoney.mbn.co.kr/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SBS CNBC</string>
		<key>logo</key>
		<string>CNBC</string>
		<key>link</key>
		<string>http://sbscnbc.sbs.co.kr/onair/</string>
		<key>http</key>
		<string>http://sbscnbc.sbs.co.kr/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Edaily 이데일리TV</string>
		<key>logo</key>
		<string>Edaily</string>
		<key>link</key>
		<string>http://tv.edaily.co.kr/Live/NormalVod</string>
		<key>http</key>
		<string>http://tv.edaily.co.kr/Live/HighVod</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NBN 내외경제TV</string>
		<key>logo</key>
		<string>NBN</string>
		<key>link</key>
		<string>http://www.nbntv.co.kr/news/list.php?mcode=m41mass241</string>
		<key>http</key>
		<string>http://www.nbntv.co.kr/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MTN 머니투데이방송</string>
		<key>logo</key>
		<string>MTN</string>
		<key>link</key>
		<string>https://www.youtube.com/user/mtn/videos?shelf_id=0&amp;live_view=501&amp;sort=dd&amp;view=2</string>
		<key>http</key>
		<string>http://www.mtn.co.kr/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>WOW 한국경제TV</string>
		<key>logo</key>
		<string>WOW</string>
		<key>link</key>
		<string>https://www.youtube.com/user/hkwowtv/videos?shelf_id=0&amp;live_view=501&amp;sort=dd&amp;view=2</string>
		<key>http</key>
		<string>http://www.wowtv.co.kr/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Yes 소상공인 방송</string>
		<key>logo</key>
		<string>Yes</string>
		<key>link</key>
		<string>http://yestv.or.kr/onAir1.php</string>
		<key>http</key>
		<string>http://yestv.or.kr/onAir.php</string>
	</dict>
	<dict>
		<key>name</key>
		<string>FTN 한국식품산업방송</string>
		<key>logo</key>
		<string>FTN</string>
		<key>link</key>
		<string>http://ftnvideo.com/2.php</string>
		<key>http</key>
		<string>http://ftnvideo.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>G1 강원민방</string>
		<key>logo</key>
		<string>G1</string>
		<key>link</key>
		<string>http://www.g1tv.co.kr/?type=onair</string>
		<key>http</key>
		<string>http://www.g1tv.co.kr/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>UBC 울산방송</string>
		<key>logo</key>
		<string>UBC</string>
		<key>link</key>
		<string>http://web.ubc.co.kr/wp/onair_tv</string>
		<key>http</key>
		<string>http://web.ubc.co.kr/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>OBS Gyeongin OBS경인TV</string>
		<key>logo</key>
		<string>OBS</string>
		<key>link</key>
		<string>http://www.obs.co.kr/obsvod/popVod_onair.php?onair=Y</string>
		<key>http</key>
		<string>http://www.obs.co.kr</string>
	</dict>
	<dict>
		<key>name</key>
		<string>OBS W 오비에스 더블유</string>
		<key>logo</key>
		<string>OBSW</string>
		<key>link</key>
		<string>http://www.obsw.co.kr/player.php?onair=Y</string>
		<key>http</key>
		<string>http://www.obsw.co.kr</string>
	</dict>
	<dict>
		<key>name</key>
		<string>KCTV Gwangju 광주방송</string>
		<key>logo</key>
		<string>KCTV</string>
		<key>link</key>
		<string>http://www.kctv.co.kr/real_vod2.php</string>
		<key>http</key>
		<string>http://www.kctv.co.kr/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>KCTV Jeju 7 광주방송</string>
		<key>logo</key>
		<string>7</string>
		<key>link</key>
		<string>https://www.kctvjeju.com/program/onair.kctv</string>
		<key>http</key>
		<string>https://www.kctvjeju.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>KCTV Jeju 20 광주방송</string>
		<key>logo</key>
		<string>20</string>
		<key>link</key>
		<string>https://www.kctvjeju.com/kctvn/onair.kctv</string>
		<key>http</key>
		<string>https://www.kctvjeju.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TBS 교통방송</string>
		<key>logo</key>
		<string>TBS</string>
		<key>link</key>
		<string>http://tbs.seoul.kr/player/live.do?channelCode=CH_B&amp;tab=tab_c</string>
		<key>http</key>
		<string>https://www.youtube.com/user/seoultbstv/videos?shelf_id=0&amp;live_view=501&amp;sort=dd&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mountain 마운틴TV</string>
		<key>logo</key>
		<string>Mountain</string>
		<key>link</key>
		<string>http://www.mountaintv.co.kr/onair/</string>
		<key>http</key>
		<string>http://www.mountaintv.co.kr/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>AsiaN 아시아N</string>
		<key>logo</key>
		<string>AsiaN</string>
		<key>link</key>
		<string>http://www.asiantv.co.kr/live/</string>
		<key>http</key>
		<string>http://www.asiantv.co.kr/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>All The K-Pop 올 더 케이팝</string>
		<key>logo</key>
		<string>ALL</string>
		<key>link</key>
		<string>https://www.youtube.com/user/imbcevery1/videos?shelf_id=0&amp;live_view=501&amp;sort=dd&amp;view=2</string>
		<key>http</key>
		<string>http://www.mbcplus.com/allthe_kpop</string>
	</dict>
	<dict>
		<key>name</key>
		<string>EBS 1</string>
		<key>logo</key>
		<string>EBS1</string>
		<key>link</key>
		<string>http://www.ebs.co.kr/onair?channelCodeString=tv</string>
		<key>http</key>
		<string>http://www.ebs.co.kr</string>
	</dict>
	<dict>
		<key>name</key>
		<string>EBS 2</string>
		<key>logo</key>
		<string>EBS2</string>
		<key>link</key>
		<string>http://www.ebs.co.kr/onair?channelCodeString=tv2</string>
		<key>http</key>
		<string>http://www.ebs.co.kr</string>
	</dict>
	<dict>
		<key>name</key>
		<string>PLUS 1</string>
		<key>logo</key>
		<string>PLUS1</string>
		<key>link</key>
		<string>http://www.ebs.co.kr/onair?channelCodeString=plus1</string>
		<key>http</key>
		<string>http://www.ebs.co.kr</string>
	</dict>
	<dict>
		<key>name</key>
		<string>PLUS 2</string>
		<key>logo</key>
		<string>PLUS2</string>
		<key>link</key>
		<string>http://www.ebs.co.kr/onair?channelCodeString=plus2</string>
		<key>http</key>
		<string>http://www.ebs.co.kr</string>
	</dict>
	<dict>
		<key>name</key>
		<string>EBSe</string>
		<key>logo</key>
		<string>EBSe</string>
		<key>link</key>
		<string>http://www.ebs.co.kr/onair?channelCodeString=ebse</string>
		<key>http</key>
		<string>http://www.ebs.co.kr</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Work 한국직업방송</string>
		<key>logo</key>
		<string>Work</string>
		<key>link</key>
		<string>http://www.worktv.or.kr/onAir/onAir.do</string>
		<key>http</key>
		<string>http://www.worktv.or.kr/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>WBC 복지</string>
		<key>logo</key>
		<string>WBC</string>
		<key>link</key>
		<string>http://www.iwbc.co.kr/</string>
		<key>http</key>
		<string>http://www.iwbc.co.kr/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>KTV 국민방송</string>
		<key>logo</key>
		<string>KTV</string>
		<key>link</key>
		<string>http://www.ktv.go.kr/onair/tv</string>
		<key>http</key>
		<string>http://www.ktv.go.kr/onair/tv/popup</string>
	</dict>
	<dict>
		<key>name</key>
		<string>KFN 국방</string>
		<key>logo</key>
		<string>KFN</string>
		<key>link</key>
		<string>http://www.dema.mil.kr/web/tv/onAir.do</string>
		<key>http</key>
		<string>http://www.dema.mil.kr/web/main.do</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hmall 현대홈쇼핑</string>
		<key>logo</key>
		<string>Hmall</string>
		<key>link</key>
		<string>http://www.hyundaihmall.com/front/tvMainR.do</string>
		<key>http</key>
		<string>http://www.hyundaihmall.com/Home.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Lotte 롯데홈쇼핑</string>
		<key>logo</key>
		<string>Lotte</string>
		<key>link</key>
		<string>http://www.lotteimall.com/tvshop/tvPlayerPop.lotte</string>
		<key>http</key>
		<string>http://www.lotteimall.com/main/viewMain.lotte?dpml_no=6&amp;tlog=00100_29</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CJ오쇼핑</string>
		<key>logo</key>
		<string>CJ</string>
		<key>link</key>
		<string>http://www.cjmall.com/etv/broad/broad_list_all.jsp</string>
		<key>http</key>
		<string>http://www.cjmall.com/etv/broad/broad_list.jsp?pic=GBTV0004</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NS Mall NS홈쇼핑</string>
		<key>logo</key>
		<string>NS</string>
		<key>link</key>
		<string>http://www.nsmall.com/TVHomeShoppingView?storeId=13001&amp;catalogId=18151&amp;langId=-9</string>
		<key>http</key>
		<string>http://www.nsmall.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>IM Shopping 공영홈쇼핑</string>
		<key>logo</key>
		<string>IM</string>
		<key>link</key>
		<string>https://www.immall.co.kr/tvshopping/selectLive.do?log=vod</string>
		<key>http</key>
		<string>https://www.immall.co.kr</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Home &amp; Shopping</string>
		<key>logo</key>
		<string>Home</string>
		<key>link</key>
		<string>http://www.hnsmall.com/tv.do</string>
		<key>http</key>
		<string>http://www.hnsmall.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CPBC 가톨릭평화방송</string>
		<key>logo</key>
		<string>CPBC</string>
		<key>link</key>
		<string>http://www.cpbc.co.kr/home/PBC_OnAirVideoPlayer.html</string>
		<key>http</key>
		<string>http://www.cpbc.co.kr</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CTS 기독교TV</string>
		<key>logo</key>
		<string>CTS</string>
		<key>link</key>
		<string>http://www.cts.tv/vodplayer/ctshighliveplayer.asp</string>
		<key>http</key>
		<string>http://www.cts.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Good 기독교복음방송</string>
		<key>logo</key>
		<string>Good</string>
		<key>link</key>
		<string>http://www.goodtv.co.kr/live.asp</string>
		<key>http</key>
		<string>http://www.goodtv.co.kr/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Cchannel C채널</string>
		<key>logo</key>
		<string>Cchannel</string>
		<key>link</key>
		<string>http://www.cchannel.com/popup/onair</string>
		<key>http</key>
		<string>http://www.cchannel.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hope 채널</string>
		<key>logo</key>
		<string>Hope</string>
		<key>link</key>
		<string>http://hopechannel.kr/%EB%B0%A9%EC%86%A1-%EC%8B%9C%EC%B2%AD/%ED%98%B8%ED%94%84%EC%B1%84%EB%84%90-%EB%9D%BC%EC%9D%B4%EB%B8%8C/</string>
		<key>http</key>
		<string>http://hopechannel.kr</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CGN Christian Global Network</string>
		<key>logo</key>
		<string>CGN</string>
		<key>link</key>
		<string>http://www.cgntv.net/onair/home.cgn</string>
		<key>http</key>
		<string>http://www.cgntv.net/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>GCN in Korean</string>
		<key>logo</key>
		<string>GCN1</string>
		<key>link</key>
		<string>http://www.gcntv.org/KO/Media/Viewer/Live24File.asp?live=KO_W01_24H</string>
		<key>http</key>
		<string>http://www.gcntv.org</string>
	</dict>
	<dict>
		<key>name</key>
		<string>GCN in English</string>
		<key>logo</key>
		<string>GCN2</string>
		<key>link</key>
		<string>http://www.gcntv.org/KO/Media/Viewer/Live24File.asp?playtype=FLASH&amp;live=EN_F01_24H</string>
		<key>http</key>
		<string>http://www.gcntv.org</string>
	</dict>
	<dict>
		<key>name</key>
		<string>BTN 불교TV Buddhist True Network</string>
		<key>logo</key>
		<string>BTN</string>
		<key>link</key>
		<string>http://www.btn.co.kr/pro/btnlive_player01ch.asp</string>
		<key>http</key>
		<string>http://www.btn.co.kr/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>STB 상생방송</string>
		<key>logo</key>
		<string>STB</string>
		<key>link</key>
		<string>http://www.stb.co.kr/app/live/</string>
		<key>http</key>
		<string>http://www.stb.co.kr/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bloomberg Asia</string>
		<key>logo</key>
		<string>bloomberg</string>
		<key>link</key>
		<string>http://www.bloomberg.com/live/asia</string>
		<key>http</key>
		<string>http://www.bloomberg.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sky News</string>
		<key>logo</key>
		<string>Sky</string>
		<key>link</key>
		<string>http://news.sky.com/watch-live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/skynews</string>
	</dict>
</array>
</plist>
