<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
            <key>name</key>
            <string>India Today</string>
            <key>logo</key>
            <string>Today</string>
            <key>link</key>
            <string>http://indiatoday.intoday.in/livetv.jsp</string>
            <key>http</key>
            <string>http://indiatoday.intoday.in/</string>
        </dict>
        <dict>
            <key>name</key>
            <string>NDTV 24x7</string>
            <key>logo</key>
            <string>24</string>
            <key>link</key>
            <string>http://www.ndtv.com/video/live/channel/ndtv24x7</string>
            <key>http</key>
            <string>http://www.ndtv.com/video/live/</string>
        </dict>
        <dict>
            <key>name</key>
            <string>NDTV Prime</string>
            <key>logo</key>
            <string>Prime</string>
            <key>link</key>
            <string>http://prime.ndtv.com/</string>
            <key>http</key>
            <string>http://prime.ndtv.com/#home</string>
        </dict>
        <dict>
            <key>name</key>
            <string>NDTV India</string>
            <key>logo</key>
            <string>NDTV</string>
            <key>link</key>
            <string>https://khabar.ndtv.com/videos/live/channel/ndtvindia</string>
            <key>http</key>
            <string>https://khabar.ndtv.com</string>
        </dict>
        <dict>
            <key>name</key>
            <string>NDTV Goodtimes</string>
            <key>logo</key>
            <string>Goodtimes</string>
            <key>link</key>
            <string>http://goodtimes.ndtv.com/live-tv</string>
            <key>http</key>
            <string>http://goodtimes.ndtv.com</string>
        </dict>
        <dict>
            <key>name</key>
            <string>CNN News18</string>
            <key>logo</key>
            <string>CNN</string>
            <key>link</key>
            <string>http://www.news18.com/livetv/</string>
            <key>http</key>
            <string>http://www.news18.com</string>
        </dict>
        <dict>
            <key>name</key>
            <string>News18 Hindi</string>
            <key>logo</key>
            <string>News18</string>
            <key>link</key>
            <string>http://hindi.news18.com/livetv/</string>
            <key>http</key>
            <string>http://hindi.news18.com</string>
        </dict>
        <dict>
            <key>name</key>
            <string>NewsX</string>
            <key>logo</key>
            <string>NewsX</string>
            <key>link</key>
            <string>http://www.newsx.com/live-tv/newsx-live</string>
            <key>http</key>
            <string>http://www.inkhabar.com/newsx</string>
        </dict>
        <dict>
            <key>name</key>
            <string>InKhabar</string>
            <key>logo</key>
            <string>InKhabar</string>
            <key>link</key>
            <string>http://www.inkhabar.com/livetv</string>
            <key>http</key>
            <string>http://www.newsx.com/live-tv/inkhabar</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Haryana</string>
            <key>logo</key>
            <string>Haryana</string>
            <key>link</key>
            <string>http://www.inkhabar.com/livetv-haryana</string>
            <key>http</key>
            <string>http://www.newsx.com/live-tv/inkhabar-haryana</string>
        </dict>
        <dict>
            <key>name</key>
            <string>MPCG</string>
            <key>logo</key>
            <string>MPCG</string>
            <key>link</key>
            <string>http://www.inkhabar.com/livetv-mpcg</string>
            <key>http</key>
            <string>http://www.newsx.com/live-tv/inkhabar-mpcg</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Rajasthan</string>
            <key>logo</key>
            <string>Rajasthan</string>
            <key>link</key>
            <string>http://www.inkhabar.com/livetv-rajasthan</string>
            <key>http</key>
            <string>http://www.newsx.com/live-tv/inkhabar-rajasthan</string>
        </dict>
        <dict>
            <key>name</key>
            <string>UP</string>
            <key>logo</key>
            <string>UP</string>
            <key>link</key>
            <string>http://www.inkhabar.com/livetv-up</string>
            <key>http</key>
            <string>http://www.newsx.com/live-tv/inkhabar-up</string>
        </dict>
        <dict>
            <key>name</key>
            <string>CVR News</string>
            <key>logo</key>
            <string>News</string>
            <key>link</key>
            <string>http://www.cvrinfo.com/livetvs.html</string>
            <key>http</key>
            <string>https://www.youtube.com/user/CVREnglishOfficial/videos?shelf_id=0&amp;live_view=501&amp;sort=dd&amp;view=2</string>
        </dict>
        <dict>
            <key>name</key>
            <string>CVR English</string>
            <key>logo</key>
            <string>CVR</string>
            <key>link</key>
            <string>http://www.cvrinfo.com/livetv/news.html#tab2</string>
            <key>http</key>
            <string>http://www.cvrinfo.com/livetv</string>
        </dict>
        <dict>
            <key>name</key>
            <string>CVR Health</string>
            <key>logo</key>
            <string>Health</string>
            <key>link</key>
            <string>http://www.cvrinfo.com/livetv/news.html#tab3</string>
            <key>http</key>
            <string>http://www.cvrinfo.com/livetv</string>
        </dict>
        <dict>
            <key>name</key>
            <string>ETV Urdu</string>
            <key>logo</key>
            <string>Urdu</string>
            <key>link</key>
            <string>http://urdu.news18.com/live-tv/etv-urdu</string>
            <key>http</key>
            <string>http://urdu.news18.com/live-tv</string>
        </dict>
        <dict>
            <key>name</key>
            <string>ETV Gujarati</string>
            <key>logo</key>
            <string>ETV</string>
            <key>link</key>
            <string>http://gujarati.news18.com/live-tv/etv-gujarati</string>
            <key>http</key>
            <string>http://gujarati.news18.com/live-tv</string>
        </dict>
        <dict>
            <key>name</key>
            <string>ETV Bangla</string>
            <key>logo</key>
            <string>Bangla</string>
            <key>link</key>
            <string>http://bengali.news18.com/live-tv/etv-bangla</string>
            <key>http</key>
            <string>http://bengali.news18.com/live-tv</string>
        </dict>
        <dict>
            <key>name</key>
            <string>ETV Odia</string>
            <key>logo</key>
            <string>Odia</string>
            <key>link</key>
            <string>http://hindi.news18.com/livetv/etv-odia/</string>
            <key>http</key>
            <string>http://hindi.news18.com/livetv</string>
        </dict>
        <dict>
            <key>name</key>
            <string>ETV Andhra Pradesh</string>
            <key>logo</key>
            <string>Andhra</string>
            <key>link</key>
            <string>http://www.etv.co.in/channels/home?channelId=3</string>
            <key>http</key>
            <string>http://www.etv.co.in/channels/home?channelId=2</string>
        </dict>
        <dict>
            <key>name</key>
            <string>ETV Telangana</string>
            <key>logo</key>
            <string>Telangana</string>
            <key>link</key>
            <string>http://etv.co.in/channels/home?channelId=2</string>
            <key>http</key>
            <string>https://www.youtube.com/channel/UC6ickpgDIsltU_-8CbZaksQ/videos?live_view=501&amp;flow=grid&amp;view=2</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Bloomberg Asia</string>
            <key>logo</key>
            <string>bloomberg</string>
            <key>link</key>
            <string>https://www.bloomberg.com/live/asia</string>
            <key>http</key>
            <string>https://www.bloomberg.com/live/asia_stream</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Sky News</string>
            <key>logo</key>
            <string>Sky</string>
            <key>link</key>
            <string>http://news.sky.com/watch-live</string>
            <key>http</key>
            <string>https://www.youtube.com/user/skynews</string>
        </dict>
</array>
</plist>
