<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string></string>
		<key>Back</key>
		<string></string>
		<key>Banner</key>
		<string></string>
		<key>Show1</key>
		<string></string>
		<key>Show2</key>
		<string></string>
		<key>Show3</key>
		<string></string>
		<key>Show4</key>
		<string></string>
		<key>Alarm</key>
		<string></string>
		<key>CustomBanner</key>
		<string></string>
		<key>CustomSplash</key>
		<string></string>
		<key>Header</key>
		<string></string>
		<key>Footer</key>
		<string></string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string></string>
		<key>Application</key>
		<string></string>
		<key>Developer</key>
		<string></string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>938 LIVE</string>
			<key>logo</key>
			<string>938</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/938-live,864.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>96.3 Hao FM</string>
			<key>logo</key>
			<string>Hao</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/96-3-hao-fm,19705.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top</string>
		</dict>
		<dict>
			<key>name</key>
			<string>987 FM</string>
			<key>logo</key>
			<string>987</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/987-fm,865.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Capital Radio 95.8 FM</string>
			<key>logo</key>
			<string>Capital</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/capital-radio-95-8-fm,5255.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Class 95 FM</string>
			<key>logo</key>
			<string>95</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/class-95-fm,860.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Desi Dance</string>
			<key>logo</key>
			<string>Desi</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/desi-dance,17925.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Gold 90 FM</string>
			<key>logo</key>
			<string>90</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/gold-90-fm,861.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Oldies</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Jia 88.3 FM</string>
			<key>logo</key>
			<string>Jia</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/jia-88-3-fm,14768.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kiss92</string>
			<key>logo</key>
			<string>Kiss92</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/kiss92-92-0-fm-singapore,17581.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Love 97.2</string>
			<key>logo</key>
			<string>Love</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/love-97-2,15002.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Masti 96.3</string>
			<key>logo</key>
			<string>Masti</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/masti-96-3,19954.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Naga FM</string>
			<key>logo</key>
			<string>Naga</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/naga-fm,19953.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
