<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Bolivia 7.1</string>
		<key>logo</key>
		<string>71</string>
		<key>link</key>
		<string>http://www.boliviatv.bo/principal/tvenvivo71.php</string>
		<key>http</key>
		<string>http://www.boliviatv.bo</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bolivia 7.2</string>
		<key>logo</key>
		<string>72</string>
		<key>link</key>
		<string>http://www.boliviatv.bo/principal/tvenvivo72.php</string>
		<key>http</key>
		<string>http://www.boliviatv.bo</string>
	</dict>
	<dict>
		<key>name</key>
		<string>PAT La Paz</string>
		<key>logo</key>
		<string>PAT1</string>
		<key>link</key>
		<string>http://losmejoresdelweb.com/redpat/senal-en-vivo-la-paz/</string>
		<key>http</key>
		<string>http://www.redpat.tv/senal-en-vivo-la-paz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>PAT Santa Cruz</string>
		<key>logo</key>
		<string>PAT2</string>
		<key>link</key>
		<string>http://losmejoresdelweb.com/redpat/senal-en-vivo-santa-cruz/</string>
		<key>http</key>
		<string>http://www.redpat.tv/senal-en-vivo-santa-cruz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Abya Yala</string>
		<key>logo</key>
		<string>Abya</string>
		<key>link</key>
		<string>http://abyayala.tv.bo/index.php/abyayala-en-vivo/</string>
		<key>http</key>
		<string>http://abyayala.tv.bo</string>
	</dict>
	<dict>
		<key>name</key>
		<string>PlusTLT</string>
		<key>logo</key>
		<string>PlusTLT</string>
		<key>link</key>
		<string>http://www.ustream.tv/channel/plus-tv-tarija</string>
		<key>http</key>
		<string>http://www.plustlt.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Red Bolivisión - La Paz</string>
		<key>logo</key>
		<string>Paz</string>
		<key>link</key>
		<string>http://www.redbolivision.tv.bo/envivo-5</string>
		<key>http</key>
		<string>http://www.redbolivision.tv.bo</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Red Bolivisión - Santa Cruz</string>
		<key>logo</key>
		<string>Cruz</string>
		<key>link</key>
		<string>http://www.redbolivision.tv.bo/envivo-4</string>
		<key>http</key>
		<string>http://www.redbolivision.tv.bo</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TeleSUR</string>
		<key>logo</key>
		<string>TeleSUR</string>
		<key>link</key>
		<string>https://www.youtube.com/user/telesurtv/videos?view=2&amp;live_view=501&amp;flow=grid</string>
		<key>http</key>
		<string>https://www.telesurtv.net/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Red Uno</string>
		<key>logo</key>
		<string>Red</string>
		<key>link</key>
		<string>http://www.reduno.com.bo/senal-en-vivo/</string>
		<key>http</key>
		<string>http://www.reduno.com.bo</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Red ADvenir</string>
		<key>logo</key>
		<string>ADvenir</string>
		<key>link</key>
		<string>http://redadvenir.org/</string>
		<key>http</key>
		<string>http://redadvenir.org/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CVC (Canal Virgen de Copacabana)</string>
		<key>logo</key>
		<string>CVC</string>
		<key>link</key>
		<string>http://virgendecopacabana.tv/</string>
		<key>http</key>
		<string>http://virgendecopacabana.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Valentia</string>
		<key>logo</key>
		<string>Valentia</string>
		<key>link</key>
		<string>http://valentiatv.com/</string>
		<key>http</key>
		<string>http://valentiatv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RT en Español</string>
		<key>logo</key>
		<string>RT</string>
		<key>link</key>
		<string>https://actualidad.rt.com/en_vivo2</string>
		<key>http</key>
		<string>https://www.youtube.com/user/ActualidadRT/videos?view=2&amp;flow=grid&amp;live_view=501</string>
	</dict>
</array>
</plist>
