<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>11 TUTV</string>
		<key>logo</key>
		<string>11</string>
		<key>link</key>
		<string>http://www.canal11.com.sv</string>
		<key>http</key>
		<string>http://www.canal11.com.sv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>12</string>
		<key>logo</key>
		<string>12</string>
		<key>link</key>
		<string>http://www.canal12.com.sv/envivo</string>
		<key>http</key>
		<string>http://www.canal12.com.sv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Megavisión 19/21/TRV/TvS/9</string>
		<key>logo</key>
		<string>Megavision</string>
		<key>link</key>
		<string>http://megavision.univtec.com/</string>
		<key>http</key>
		<string>http://megavision.univtec.com/#!/live/channels</string>
	</dict>
	<dict>
		<key>name</key>
		<string>33</string>
		<key>logo</key>
		<string>33</string>
		<key>link</key>
		<string>http://www.canal33.tv/envivo.php</string>
		<key>http</key>
		<string>http://www.ustream.tv/channel/canal33-el-salvador/pop-out</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Esmi</string>
		<key>logo</key>
		<string>Esmi</string>
		<key>link</key>
		<string>http://original.livestream.com/esmitvonline</string>
		<key>http</key>
		<string>http://live.tcsgo.com/live/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Oriental (TVO 23)</string>
		<key>logo</key>
		<string>TVO</string>
		<key>link</key>
		<string>http://www.tvocanal23.com/</string>
		<key>http</key>
		<string>http://www.tvocanal23.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TVU Usuluteca</string>
		<key>logo</key>
		<string>TVU</string>
		<key>link</key>
		<string>http://televisionusuluteca.com/en-vivo/</string>
		<key>http</key>
		<string>http://televisionusuluteca.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TVES</string>
		<key>logo</key>
		<string>TVES</string>
		<key>link</key>
		<string>http://tves.sv/tv-online/</string>
		<key>http</key>
		<string>http://tves.sv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Iglesia del Camino</string>
		<key>logo</key>
		<string>Camino</string>
		<key>link</key>
		<string>http://www.iglesiadelcamino.org/tv</string>
		<key>http</key>
		<string>http://www.iglesiadelcamino.org</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tabernáculo</string>
		<key>logo</key>
		<string>Tabernaculo</string>
		<key>link</key>
		<string>http://tabernaculo.net/home/tabertv/</string>
		<key>http</key>
		<string>http://tabernaculo.net</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Agape 8</string>
		<key>logo</key>
		<string>Agape</string>
		<key>link</key>
		<string>http://www.agapetv8.com/</string>
		<key>http</key>
		<string>http://www.agapetv8.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Orbita</string>
		<key>logo</key>
		<string>Orbita</string>
		<key>link</key>
		<string>http://orbitatv.com/</string>
		<key>http</key>
		<string>http://orbitatv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Elim</string>
		<key>logo</key>
		<string>Elim</string>
		<key>link</key>
		<string>https://www.elim.org.sv/elimtv/</string>
		<key>http</key>
		<string>https://www.elim.org.sv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>WOW</string>
		<key>logo</key>
		<string>WOW</string>
		<key>link</key>
		<string>http://www.wowelsalvador.com/</string>
		<key>http</key>
		<string>http://www.wowelsalvador.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>15 Usulutan</string>
		<key>logo</key>
		<string>15</string>
		<key>link</key>
		<string>http://canal15usulutan.com/</string>
		<key>http</key>
		<string>http://canal15usulutan.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TRV</string>
		<key>logo</key>
		<string>TRV</string>
		<key>link</key>
		<string>http://trvelsalvador.tv/</string>
		<key>http</key>
		<string>http://trvelsalvador.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TVCA39</string>
		<key>logo</key>
		<string>TVCA39</string>
		<key>link</key>
		<string>http://tvcaelsalvador.org/</string>
		<key>http</key>
		<string>http://www.tvcaelsalvador.com/tv-en-linea/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TVX</string>
		<key>logo</key>
		<string>TVX</string>
		<key>link</key>
		<string>http://www.tvx.com.sv/#envivo</string>
		<key>http</key>
		<string>http://www.tvx.com.sv</string>
	</dict>
</array>
</plist>
