<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>CBC</string>
		<key>logo</key>
		<string>CBC</string>
		<key>link</key>
		<string>http://network.cbc-eg.com/live/cbc</string>
		<key>http</key>
		<string>https://www.youtube.com/channel/UCUHq39HXLyAjjMPIjsNRLpw</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CBC Drama</string>
		<key>logo</key>
		<string>Drama</string>
		<key>link</key>
		<string>http://network.cbc-eg.com/live/drama</string>
		<key>http</key>
		<string>https://www.youtube.com/channel/UC6vnBggs5mkGu7dMaGso_rw</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Extra News</string>
		<key>logo</key>
		<string>Extra</string>
		<key>link</key>
		<string>http://www.extranews.tv/live/extra</string>
		<key>http</key>
		<string>https://www.youtube.com/channel/UC65F33K2cXk9hGDbOQYhTOw</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CBC Sofra</string>
		<key>logo</key>
		<string>Sofra</string>
		<key>link</key>
		<string>https://sofra.cbc-eg.com/%D8%A7%D9%84%D8%A8%D8%AB-%D8%A7%D9%84%D9%85%D8%A8%D8%A7%D8%B4%D8%B1</string>
		<key>http</key>
		<string>https://www.youtube.com/channel/UC--UtxrU7FWNCp0l7AG9EIw</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Al Kahera Wal Nas القاهرة والناس</string>
		<key>logo</key>
		<string>Wal</string>
		<key>link</key>
		<string>http://www.alkaherawalnas.com/index.php/kwn-live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/cairocentric</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Al Kahera Wal Nas 2 القاهرة والناس</string>
		<key>logo</key>
		<string>Nas</string>
		<key>link</key>
		<string>http://www.alkaherawalnas.com/index.php/kwn2-live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/cairocentric</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ON E</string>
		<key>logo</key>
		<string>E</string>
		<key>link</key>
		<string>https://on-eg.com/live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/ONtveg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ON Live</string>
		<key>logo</key>
		<string>ON</string>
		<key>link</key>
		<string>https://www.youtube.com/onliveegypt</string>
		<key>http</key>
		<string>https://on-eg.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ON Sport</string>
		<key>logo</key>
		<string>Sport</string>
		<key>link</key>
		<string>https://www.youtube.com/onsportegypt</string>
		<key>http</key>
		<string>https://on-eg.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ONdrama</string>
		<key>logo</key>
		<string>ONdrama</string>
		<key>link</key>
		<string>https://www.youtube.com/channel/UCeTTToFL9qZIybv69LX20Lg</string>
		<key>http</key>
		<string>https://on-eg.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mehwar قناة المحور الفضائية</string>
		<key>logo</key>
		<string>Mehwar</string>
		<key>link</key>
		<string>http://www.elmehwartv.com/stream.aspx</string>
		<key>http</key>
		<string>http://www.elmehwartv.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Al Saeedah قناة السعيدة الفضائية</string>
		<key>logo</key>
		<string>Saeedah</string>
		<key>link</key>
		<string>http://www.alsaeedah-tv.com/live.aspx</string>
		<key>http</key>
		<string>http://www.alsaeedah-tv.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DMC دي إم سي</string>
		<key>logo</key>
		<string>DMC1</string>
		<key>link</key>
		<string>https://www.youtube.com/channel/UClWxVmz6anf2M58vK_LHZJg</string>
		<key>http</key>
		<string>http://dmc.com.eg/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DMC Drama</string>
		<key>logo</key>
		<string>DMC2</string>
		<key>link</key>
		<string>https://www.youtube.com/channel/UCUVyZ8v2nm0cX3HS13HVzFg</string>
		<key>http</key>
		<string>http://dmc.com.eg/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DMC Sports</string>
		<key>logo</key>
		<string>DMC3</string>
		<key>link</key>
		<string>https://www.youtube.com/channel/UCiR6nRlvEBWVHPsJRXiCyyg</string>
		<key>http</key>
		<string>http://dmc.com.eg/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Dream دريم</string>
		<key>logo</key>
		<string>Dream</string>
		<key>link</key>
		<string>https://www.youtube.com/channel/UC6lw7C5O3rMrDB-2Z_wLQBA</string>
		<key>http</key>
		<string>https://www.youtube.com/channel/UC6lw7C5O3rMrDB-2Z_wLQBA</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nogoum</string>
		<key>logo</key>
		<string>Nogoum</string>
		<key>link</key>
		<string>http://www.nogoumfm.net/nogoumfm-tv-live/</string>
		<key>http</key>
		<string>http://www.nogoumfm.net</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nile TC Sport قنوات النيل المتخصصة</string>
		<key>logo</key>
		<string>Nile1</string>
		<key>link</key>
		<string>http://www.niletc.tv/Channel/sport</string>
		<key>http</key>
		<string>http://www.niletc.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nile TC Drama قنوات النيل المتخصصة</string>
		<key>logo</key>
		<string>Nile2</string>
		<key>link</key>
		<string>http://www.niletc.tv/Channel/drama</string>
		<key>http</key>
		<string>http://www.niletc.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nile TC Cinema قنوات النيل المتخصصة</string>
		<key>logo</key>
		<string>Nile3</string>
		<key>link</key>
		<string>http://www.niletc.tv/Channel/cinema</string>
		<key>http</key>
		<string>http://www.niletc.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nile TC Life قنوات النيل المتخصصة</string>
		<key>logo</key>
		<string>Nile4</string>
		<key>link</key>
		<string>http://www.niletc.tv/Channel/life</string>
		<key>http</key>
		<string>http://www.niletc.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nile TC Family قنوات النيل المتخصصة</string>
		<key>logo</key>
		<string>Nile5</string>
		<key>link</key>
		<string>http://www.niletc.tv/Channel/family</string>
		<key>http</key>
		<string>http://www.niletc.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nile TC Culture قنوات النيل المتخصصة</string>
		<key>logo</key>
		<string>Nile6</string>
		<key>link</key>
		<string>http://www.niletc.tv/Channel/culture</string>
		<key>http</key>
		<string>http://www.niletc.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nile TC Comedy قنوات النيل المتخصصة</string>
		<key>logo</key>
		<string>Nile7</string>
		<key>link</key>
		<string>http://www.niletc.tv/Channel/comedy</string>
		<key>http</key>
		<string>http://www.niletc.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nile TC Learning قنوات النيل المتخصصة</string>
		<key>logo</key>
		<string>Nile8</string>
		<key>link</key>
		<string>http://www.niletc.tv/Channel/Learning</string>
		<key>http</key>
		<string>http://www.niletc.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mekameleen قناة مكملين</string>
		<key>logo</key>
		<string>Mekameleen1</string>
		<key>link</key>
		<string>http://www.mekameleen.tv/</string>
		<key>http</key>
		<string>http://www.mekameleen.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mekameleen 2 قناة مكملين</string>
		<key>logo</key>
		<string>Mekameleen2</string>
		<key>link</key>
		<string>http://mekameleen.tv/tv2.php</string>
		<key>http</key>
		<string>http://mekameleen.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>El-Sharq قناة الشرق</string>
		<key>logo</key>
		<string>Sharq</string>
		<key>link</key>
		<string>http://elsharq.net/live</string>
		<key>http</key>
		<string>http://elsharq.net</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Alghad قناة الغد</string>
		<key>logo</key>
		<string>Alghad</string>
		<key>link</key>
		<string>http://www.alghad.tv/%D8%A7%D9%84%D8%A8%D8%AB-%D8%A7%D9%84%D9%85%D8%A8%D8%A7%D8%B4%D8%B1/</string>
		<key>http</key>
		<string>https://www.youtube.com/channel/UCaJykDM6rs776xPgzVvLkzg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Al Rafidain قناة الرافدين الفضائية</string>
		<key>logo</key>
		<string>Rafidain</string>
		<key>link</key>
		<string>http://alrafidain.org/live</string>
		<key>http</key>
		<string>http://alrafidain.org</string>
	</dict>
	<dict>
		<key>name</key>
		<string>تلفزيون وطن Watan </string>
		<key>logo</key>
		<string>Watan</string>
		<key>link</key>
		<string>http://www.watanegypt.tv/live</string>
		<key>http</key>
		<string>http://www.watanegypt.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>AlHayah 1</string>
		<key>logo</key>
		<string>AlHayah1</string>
		<key>link</key>
		<string>https://www.youtube.com/channel/UCeP1MABuqrn98hHjDoo3V-g</string>
		<key>http</key>
		<string>https://www.youtube.com/channel/UCeP1MABuqrn98hHjDoo3V-g</string>
	</dict>
	<dict>
		<key>name</key>
		<string>AlHayah 2</string>
		<key>logo</key>
		<string>AlHayah2</string>
		<key>link</key>
		<string>https://www.youtube.com/channel/UCFc3vCJ02oy0JglKm8dn8Rg</string>
		<key>http</key>
		<string>https://www.youtube.com/channel/UCFc3vCJ02oy0JglKm8dn8Rg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Al Jazeera (الجزيرة‎ / قناة الجزيرة)</string>
		<key>logo</key>
		<string>Jazeera</string>
		<key>link</key>
		<string>http://www.aljazeera.net/broadcastschedule</string>
		<key>http</key>
		<string>https://www.youtube.com/user/aljazeerachannel/videos?live_view=501&amp;flow=grid&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Al Jazeera English (قناة الجزيرة الإنجليزية)</string>
		<key>logo</key>
		<string>English</string>
		<key>link</key>
		<string>http://www.aljazeera.com/live/</string>
		<key>http</key>
		<string>https://www.youtube.com/user/AlJazeeraEnglish/videos?view=2&amp;live_view=501&amp;flow=grid</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Aljazeera Mubasher (الجزيرة مباشر‎)</string>
		<key>logo</key>
		<string>Mubasher</string>
		<key>link</key>
		<string>http://mubasher.aljazeera.net/</string>
		<key>http</key>
		<string>https://www.youtube.com/user/aljazeeramubasher/videos?flow=grid&amp;view=2&amp;live_view=501</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Al Arabiya (قناة العربية‎)</string>
		<key>logo</key>
		<string>Arabiya</string>
		<key>link</key>
		<string>https://www.alarabiya.net/live-stream.html?cref=navdesk</string>
		<key>http</key>
		<string>https://www.youtube.com/user/AlArabiya/videos?live_view=501&amp;flow=grid&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>قناة الحدث Al Hadath</string>
		<key>logo</key>
		<string>Hadath</string>
		<key>link</key>
		<string>http://www.alhadath.net/live-stream.html?cref=navdesk</string>
		<key>http</key>
		<string>https://www.youtube.com/channel/UCrj5BGAhtWxDfqbza9T9hqA/videos?live_view=501&amp;flow=grid&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sky News Arabia (سكاي نيوز عربية‎)</string>
		<key>logo</key>
		<string>Sky</string>
		<key>link</key>
		<string>https://www.skynewsarabia.com/web/livestream</string>
		<key>http</key>
		<string>https://www.youtube.com/user/skynewsarabia/videos?flow=grid&amp;view=2&amp;live_view=501</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CNBC Arabia (سي إن بي سي عربية)</string>
		<key>logo</key>
		<string>CNBC</string>
		<key>link</key>
		<string>https://www.cnbcarabia.com/Pages/live</string>
		<key>http</key>
		<string>https://www.cnbcarabia.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>BBC Arabic (بي بي سي عربي)</string>
		<key>logo</key>
		<string>BBC</string>
		<key>link</key>
		<string>http://www.bbc.com/arabic/tvandradio/2013/05/000000_bbcarabic_livetv</string>
		<key>http</key>
		<string>https://www.youtube.com/user/BBCArabicNews/videos?flow=grid&amp;live_view=501&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>التلفزيون العربي Alaraby    </string>
		<key>logo</key>
		<string>Alaraby</string>
		<key>link</key>
		<string>http://alaraby.tv/live/61/alaraby</string>
		<key>http</key>
		<string>http://alaraby.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>euronews عــربي</string>
		<key>logo</key>
		<string>euronews</string>
		<key>link</key>
		<string>http://arabic.euronews.com/live</string>
		<key>http</key>
		<string>http://arabic.euronews.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>فرانس 24 (FRANCE 24 Arabic)</string>
		<key>logo</key>
		<string>FRANCE</string>
		<key>link</key>
		<string>http://www.france24.com/ar/</string>
		<key>http</key>
		<string>https://www.youtube.com/user/france24arabic/videos?flow=grid&amp;view=2&amp;live_view=501</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Al Mayadeen (قناة الميادين)</string>
		<key>logo</key>
		<string>Mayadeen</string>
		<key>link</key>
		<string>http://www.almayadeen.net/live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/Mayadeentv/videos?view=2&amp;live_view=501&amp;flow=grid</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Almagharibia المغاربية‎</string>
		<key>logo</key>
		<string>Almagharibia</string>
		<key>link</key>
		<string>https://almagharibia.tv/</string>
		<key>http</key>
		<string>https://almagharibia.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Alhurra الحرة</string>
		<key>logo</key>
		<string>Alhurra</string>
		<key>link</key>
		<string>https://www.alhurra.com/embed/player/tube/4.html</string>
		<key>http</key>
		<string>https://www.alhurra.com/embed/player/tube/5.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RT Arabic</string>
		<key>logo</key>
		<string>RT</string>
		<key>link</key>
		<string>https://arabic.rt.com/live/</string>
		<key>http</key>
		<string>https://www.youtube.com/user/RTarabic/videos?view=2&amp;live_view=501&amp;flow=grid</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CGTN Arabic سي جي تي أن العربية‎‎</string>
		<key>logo</key>
		<string>CGTN</string>
		<key>link</key>
		<string>https://www.cgtn.com/channel/ar.do</string>
		<key>http</key>
		<string>https://www.cgtn.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Al Nada قناة الندى الفضائية</string>
		<key>logo</key>
		<string>Nada</string>
		<key>link</key>
		<string>https://www.youtube.com/user/ALNADATV</string>
		<key>http</key>
		<string>http://alnada.tv/cms/live.php</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Daawah قناة دعوة</string>
		<key>logo</key>
		<string>Daawah</string>
		<key>link</key>
		<string>http://www.daawah.tv/</string>
		<key>http</key>
		<string>http://www.daawah.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Huda</string>
		<key>logo</key>
		<string>Huda</string>
		<key>link</key>
		<string>https://www.youtube.com/user/hudatv</string>
		<key>http</key>
		<string>http://www.huda.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Quran Hidayah Amazigh</string>
		<key>logo</key>
		<string>Quran1</string>
		<key>link</key>
		<string>http://www.quran-hidayah.com/main/en/live-amazigh</string>
		<key>http</key>
		<string>http://www.quran-hidayah.com/hidayah-live.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Quran Hidayah Bembara</string>
		<key>logo</key>
		<string>Quran2</string>
		<key>link</key>
		<string>http://www.quran-hidayah.com/main/en/live-bembara</string>
		<key>http</key>
		<string>http://www.quran-hidayah.com/hidayah-live.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Quran Hidayah Arabic</string>
		<key>logo</key>
		<string>Quran3</string>
		<key>link</key>
		<string>http://www.quran-hidayah.com/main/en/live-fulani-arabic</string>
		<key>http</key>
		<string>http://www.quran-hidayah.com/hidayah-live.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Menhag قناة منهاج النبوة الفضائية</string>
		<key>logo</key>
		<string>Menhag</string>
		<key>link</key>
		<string>http://www.rslan.com/</string>
		<key>http</key>
		<string>http://www.rslan.com/live.php</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Al Fath قناة الفتح الفضائية</string>
		<key>logo</key>
		<string>Fath</string>
		<key>link</key>
		<string>http://www.alfath.tv/</string>
		<key>http</key>
		<string>http://www.alfath.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CTV Coptic Orthodox Church</string>
		<key>logo</key>
		<string>CTV</string>
		<key>link</key>
		<string>http://www.ctvchannel.tv/Pages/CTVLive.aspx</string>
		<key>http</key>
		<string>http://www.ctvchannel.tv/Pages/Live.aspx</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mesat مي سات</string>
		<key>logo</key>
		<string>Mesat</string>
		<key>link</key>
		<string>https://www.youtube.com/channel/UCFEaK3sSFvXQIgE3jTjqxcA/videos?view=2&amp;flow=grid&amp;live_view=501</string>
		<key>http</key>
		<string>http://mesat.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kingdom Sat قناة الملكوت</string>
		<key>logo</key>
		<string>Kingdom</string>
		<key>link</key>
		<string>http://kingdomsat.com/en/live-streaming</string>
		<key>http</key>
		<string>http://kingdomsat.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Al Hayat</string>
		<key>logo</key>
		<string>Hayat</string>
		<key>link</key>
		<string>https://www.alhayat.tv/</string>
		<key>http</key>
		<string>https://www.alhayat.tv/home</string>
	</dict>
</array>
</plist>
