<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>MASTV - 澳亞衛視</string>
		<key>logo</key>
		<string>MASTV</string>
		<key>link</key>
		<string>http://www.imastv.com/live/</string>
		<key>http</key>
		<string>http://www.imastv.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Lotus 澳門蓮花衛視</string>
		<key>logo</key>
		<string>Lotus</string>
		<key>link</key>
		<string>http://www.lotustv.cc/</string>
		<key>http</key>
		<string>http://www.lotustv.cc/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TDM Informação 澳門資訊台</string>
		<key>logo</key>
		<string>TDM</string>
		<key>link</key>
		<string>http://www.tdm.com.mo/c_broadcast/index_radioLive_2channel.php?channel=info</string>
		<key>http</key>
		<string>http://www.tdm.com.mo/c_broadcast</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TDM Ou Mun 澳視澳門台</string>
		<key>logo</key>
		<string>Mun</string>
		<key>link</key>
		<string>http://www.tdm.com.mo/c_broadcast/</string>
		<key>http</key>
		<string>http://www.tdm.com.mo/c_broadcast/index_radioLive_2channel.php?channel=hdctvp</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TDM HD 澳視高清台</string>
		<key>logo</key>
		<string>HD</string>
		<key>link</key>
		<string>http://www.tdm.com.mo/c_broadcast/index_radioLive_2channel.php?channel=hdctvp</string>
		<key>http</key>
		<string>http://www.tdm.com.mo/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TDM Desporto - 澳視體育台</string>
		<key>logo</key>
		<string>Desporto</string>
		<key>link</key>
		<string>http://www.tdm.com.mo/c_broadcast/index_radioLive_2channel.php?channel=sports</string>
		<key>http</key>
		<string>http://www.tdm.com.mo</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bloomberg Asia</string>
		<key>logo</key>
		<string>bloomberg</string>
		<key>link</key>
		<string>https://www.bloomberg.com/live/asia</string>
		<key>http</key>
		<string>https://www.bloomberg.com/live/asia_stream</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CCTV English</string>
		<key>logo</key>
		<string>cctve</string>
		<key>link</key>
		<string>http://english.cctv.com/live/p2p/index.shtml</string>
		<key>http</key>
		<string>http://tv.cctv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CCTV 1</string>
		<key>logo</key>
		<string>cctv1</string>
		<key>link</key>
		<string>http://tv.cctv.com/live/cctv1/</string>
		<key>http</key>
		<string>http://tv.cctv.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CNC 中文版</string>
		<key>logo</key>
		<string>CNC1</string>
		<key>link</key>
		<string>http://live.cncnews.cn/?t=0</string>
		<key>http</key>
		<string>http://www.cncnews.cn/clive.jhtml</string>
	</dict>
</array>
</plist>
