<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string>7183831936</string>
		<key>Back</key>
		<string>7305027536</string>
		<key>Banner</key>
		<string>2591493573</string>
		<key>Show1</key>
		<string>REMOVED</string>
		<key>Show2</key>
		<string>REMOVED</string>
		<key>Show3</key>
		<string>REMOVED</string>
		<key>Show4</key>
		<string>REMOVED</string>
		<key>Alarm</key>
		<string>3516049661</string>
		<key>CustomBanner</key>
		<string>5136253095</string>
		<key>CustomSplash</key>
		<string>2407924077</string>
		<key>Header</key>
		<string>8986183986</string>
		<key>Footer</key>
		<string>4515212661</string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string>1207580806</string>
		<key>Application</key>
		<string>1431862070</string>
		<key>Developer</key>
		<string>1239592099</string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Bandit Rock 106.3</string>
			<key>logo</key>
			<string>Bandit</string>
			<key>link</key>
			<string>http://stream-ice.mtgradio.com:8080/stat_bandit.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dansbandskanalen</string>
			<key>logo</key>
			<string>Dansbandskanalen</string>
			<key>link</key>
			<string>http://www.guldkanalen.se/static/streamDBK/128MP3.pls</string>
			<key>http</key>
			<string>http://www.guldkanalen.se/static/streamDBK/64AAC.pls</string>
			<key>note</key>
			<string>Malmo (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>East FM</string>
			<key>logo</key>
			<string>East</string>
			<key>link</key>
			<string>http://www.listenlive.eu/eastfm.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>RnB/Dance/Alternative Music (Norrköping, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Gold 102,4</string>
			<key>logo</key>
			<string>Gold</string>
			<key>link</key>
			<string>http://gold24.xnk.nu:8080/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Växjö (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Guldkanalen 102.6</string>
			<key>logo</key>
			<string>102</string>
			<key>link</key>
			<string>http://www.guldkanalen.se/static/streamGK/128MP3.pls</string>
			<key>http</key>
			<string>http://www.guldkanalen.se/static/streamGK/64AAC.pls</string>
			<key>note</key>
			<string>Malmo (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Guldkanalen 60-tal</string>
			<key>logo</key>
			<string>60</string>
			<key>link</key>
			<string>http://www.guldkanalen.se/static/streamGK60/128MP3.pls</string>
			<key>http</key>
			<string>http://www.guldkanalen.se/static/streamGK60/64AAC.pls</string>
			<key>note</key>
			<string>Malmo (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Guldkanalen 70-tal</string>
			<key>logo</key>
			<string>70</string>
			<key>link</key>
			<string>http://www.guldkanalen.se/static/streamGK70/128MP3.pls</string>
			<key>http</key>
			<string>http://www.guldkanalen.se/static/streamGK70/64AAC.pls</string>
			<key>note</key>
			<string>Malmo (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Guldkanalen 80-tal</string>
			<key>logo</key>
			<string>80</string>
			<key>link</key>
			<string>http://www.guldkanalen.se/static/streamGK80/128MP3.pls</string>
			<key>http</key>
			<string>http://www.guldkanalen.se/static/streamGK80/64AAC.pls</string>
			<key>note</key>
			<string>Malmo (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Guldkanalen 90-tal</string>
			<key>logo</key>
			<string>90</string>
			<key>link</key>
			<string>http://www.guldkanalen.se/static/streamGK90/128MP3.pls</string>
			<key>http</key>
			<string>http://www.guldkanalen.se/static/streamGK90/64AAC.pls</string>
			<key>note</key>
			<string>Malmo (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hitcity Öresund 94.5</string>
			<key>logo</key>
			<string>Hitcity</string>
			<key>link</key>
			<string>http://hitcity.bredbandsson.se/live.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music (Landskrona, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>K103</string>
			<key>logo</key>
			<string>K103</string>
			<key>link</key>
			<string>http://130.241.172.94:8080/icestream96.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Gothenburg (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Lite FM</string>
			<key>logo</key>
			<string>Lite</string>
			<key>link</key>
			<string>http://www.litefm.se/live.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 30 / Dance (Trollhättan, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Lugna Favoriter 104,7</string>
			<key>logo</key>
			<string>Lugna</string>
			<key>link</key>
			<string>http://stream-ice.mtgradio.com:8080/stat_lugna_favoriter.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mix Megapol</string>
			<key>logo</key>
			<string>Megapol</string>
			<key>link</key>
			<string>http://194.16.21.227/mix_se_mp3.m3u</string>
			<key>http</key>
			<string>http://194.16.21.227/mix_se_aacp.m3u</string>
			<key>note</key>
			<string>Stockholm</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mix Megapol 107,3</string>
			<key>logo</key>
			<string>Mix</string>
			<key>link</key>
			<string>http://194.16.21.227/mix_gbg_se_mp3.m3u</string>
			<key>http</key>
			<string>http://194.16.21.227/mix_gbg_se_aacp.m3u</string>
			<key>note</key>
			<string>Göteborg (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mix Megapol 107,0</string>
			<key>logo</key>
			<string>107</string>
			<key>link</key>
			<string>http://194.16.21.227/mix_malmo_se_mp3.m3u</string>
			<key>http</key>
			<string>http://194.16.21.227/mix_malmo_se_aacp.m3u</string>
			<key>note</key>
			<string>Malmö (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MRS</string>
			<key>logo</key>
			<string>MRS</string>
			<key>link</key>
			<string>http://radiostreamone.mine.nu:19050/listen.pls</string>
			<key>http</key>
			<string>http://user.tninet.se/~hyt673y/stream/mrs905/</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>NERadio</string>
			<key>logo</key>
			<string>NERadio</string>
			<key>link</key>
			<string>http://www.neradio.se/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Techno/Trance Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NRJ</string>
			<key>logo</key>
			<string>NRJ</string>
			<key>link</key>
			<string>http://194.16.21.227/nrj_se_mp3.m3u</string>
			<key>http</key>
			<string>http://194.16.21.227/nrj_se_aacp.m3u</string>
			<key>note</key>
			<string>Top 30</string>
		</dict>
		<dict>
			<key>name</key>
			<string>One FM</string>
			<key>logo</key>
			<string>One</string>
			<key>link</key>
			<string>http://www.joda.se/onefm/stream.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 30 (Åre, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pirate Rock</string>
			<key>logo</key>
			<string>Pirate</string>
			<key>link</key>
			<string>http://scb2.fantis.se:8080/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Kungälv (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Playdio</string>
			<key>logo</key>
			<string>Playdio</string>
			<key>link</key>
			<string>http://media.playdio.se/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pop och Rock</string>
			<key>logo</key>
			<string>och</string>
			<key>link</key>
			<string>http://radioumea.dyndns.info:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Umeå (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio 107.5</string>
			<key>logo</key>
			<string>107.5</string>
			<key>link</key>
			<string>http://194.16.21.227/1075_se_mp3.m3u</string>
			<key>http</key>
			<string>http://194.16.21.227/1075_se_aacp.m3u</string>
			<key>note</key>
			<string>Uptempo Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Active</string>
			<key>logo</key>
			<string>Active</string>
			<key>link</key>
			<string>http://www.listenlive.eu/fmosterlan.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top 30 (Ystad, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio AF</string>
			<key>logo</key>
			<string>AF</string>
			<key>link</key>
			<string>http://live.radioaf.se:8000/listen.pls?sid=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Lund (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Andra</string>
			<key>logo</key>
			<string>Andra</string>
			<key>link</key>
			<string>http://majestic.wavestreamer.com:9472/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Indie/Alternative Music (Gothenburg, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Berg</string>
			<key>logo</key>
			<string>Berg</string>
			<key>link</key>
			<string>http://62.20.28.156/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Svenstavik (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Bohuslän 106,2</string>
			<key>logo</key>
			<string>Bohuslan</string>
			<key>link</key>
			<string>http://radio.itconnect.se/rb2.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Uddevalla (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Campus</string>
			<key>logo</key>
			<string>Campus</string>
			<key>link</key>
			<string>http://130.243.117.157:8000/radiocampus.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Örebro (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Guld</string>
			<key>logo</key>
			<string>Guld</string>
			<key>link</key>
			<string>http://audiostream.picsearch.com:8000/radioguld.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Sundsvall (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Lidingö</string>
			<key>logo</key>
			<string>Lidingo</string>
			<key>link</key>
			<string>http://83.251.191.119:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Mariestad</string>
			<key>logo</key>
			<string>Mariestad</string>
			<key>link</key>
			<string>http://myradiostream.com/17/10512/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Nacka</string>
			<key>logo</key>
			<string>Nacka</string>
			<key>link</key>
			<string>http://user.tninet.se/~hyt673y/stream/radionacka/listen.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk/Culture</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Prime</string>
			<key>logo</key>
			<string>Prime</string>
			<key>link</key>
			<string>http://primestream.monsternett.no:8000/stromstad.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Contemporary/Classic (Strömstad, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Seven</string>
			<key>logo</key>
			<string>Seven</string>
			<key>link</key>
			<string>http://www.radioseven.se/128.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Skellefteå</string>
			<key>logo</key>
			<string>Skelleftea</string>
			<key>link</key>
			<string>http://goldtown.servemp3.com/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Sotenäs</string>
			<key>logo</key>
			<string>Sotenas</string>
			<key>link</key>
			<string>http://ice-cluster.streaming.xmc.se/radiosotenas.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Kungshamn (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Sydväst</string>
			<key>logo</key>
			<string>Sydvast</string>
			<key>link</key>
			<string>http://www.radiosydvast.se/webbradio/webbradio.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Treby</string>
			<key>logo</key>
			<string>Treby</string>
			<key>link</key>
			<string>http://stream1.bogalnet.se:443/vargarda.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Vara</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rix FM</string>
			<key>logo</key>
			<string>Rix</string>
			<key>link</key>
			<string>http://stream-ice.mtgradio.com:8080/stat_rix_fm.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rocket FM 95.3</string>
			<key>logo</key>
			<string>Rocket</string>
			<key>link</key>
			<string>http://stream.thsradio.se:8000/rocket_hi.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rockklassiker 106,7</string>
			<key>logo</key>
			<string>Rockklassiker</string>
			<key>link</key>
			<string>http://194.16.21.227/rock_se_mp3.m3u</string>
			<key>http</key>
			<string>http://194.16.21.227/rock_se_aacp.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Stockholms Närradio 88,0</string>
			<key>logo</key>
			<string>88</string>
			<key>link</key>
			<string>http://www.narradio.se/webbradio.php?k=880&amp;q=32&amp;m=m3u</string>
			<key>http</key>
			<string>http://www.narradio.se/webbradio.php?k=880&amp;q=64&amp;m=m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Stockholms Närradio 95,3</string>
			<key>logo</key>
			<string>95</string>
			<key>link</key>
			<string>http://www.narradio.se/webbradio.php?k=953&amp;q=32&amp;m=m3u</string>
			<key>http</key>
			<string>http://www.narradio.se/webbradio.php?k=953&amp;q=64&amp;m=m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Stockholms Närradio 101,1</string>
			<key>logo</key>
			<string>101</string>
			<key>link</key>
			<string>http://www.narradio.se/webbradio.php?k=101&amp;q=32&amp;m=m3u</string>
			<key>http</key>
			<string>http://www.narradio.se/webbradio.php?k=101&amp;q=64&amp;m=m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Studentradion 98,9</string>
			<key>logo</key>
			<string>Studentradion</string>
			<key>link</key>
			<string>http://130.238.166.180:8004/live.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Uppsala (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tidaholm FM</string>
			<key>logo</key>
			<string>Tidaholm</string>
			<key>link</key>
			<string>http://radio.fnf.nu:443/radiotidaholm.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Vinyl 107</string>
			<key>logo</key>
			<string>Vinyl</string>
			<key>link</key>
			<string>http://194.16.21.227/vinyl_se_mp3.m3u</string>
			<key>http</key>
			<string>http://194.16.21.227/vinyl_se_aacp.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>V97</string>
			<key>logo</key>
			<string>V97</string>
			<key>link</key>
			<string>http://v97stream.audire.se:8080/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Vallentuna (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>The Voice 105,9</string>
			<key>logo</key>
			<string>Voice</string>
			<key>link</key>
			<string>http://194.16.21.227/voice_se_mp3.m3u</string>
			<key>http</key>
			<string>http://194.16.21.227/voice_se_aacp.m3u</string>
			<key>note</key>
			<string>HipHop/RnB Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sedaie Ashena 94.6 FM</string>
			<key>logo</key>
			<string>Ashena</string>
			<key>link</key>
			<string>http://213.113.46.134:88/broadwave.m3u?src=1&amp;rate=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Music</string>
		</dict>
	</array>
</dict>
</plist>
