<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Al Saudia (Saudi 1)</string>
		<key>logo</key>
		<string>Saudi</string>
		<key>link</key>
		<string>http://saudiatv.sa/%D8%A7%D9%84%D8%A8%D8%AB-%D8%A7%D9%84%D9%85%D8%A8%D8%A7%D8%B4%D8%B1</string>
		<key>http</key>
		<string>https://www.youtube.com/user/SaudiChannelOne/videos?live_view=501&amp;flow=grid&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Saudi 2</string>
		<key>logo</key>
		<string>Saudi2</string>
		<key>link</key>
		<string>http://saudi2tv.sa/live-feed</string>
		<key>http</key>
		<string>http://saudi2tv.sa</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Radio Quran إذاعة القران الكريم</string>
		<key>logo</key>
		<string>Quran1</string>
		<key>link</key>
		<string>http://quran.sr.sa/%D8%A7%D9%84%D8%A8%D8%AB-%D8%A7%D9%84%D9%85%D8%A8%D8%A7%D8%B4%D8%B1</string>
		<key>http</key>
		<string>https://www.youtube.com/channel/UCrZNAOv_KBLfb-3TFgxIZqg/videos?view=2&amp;flow=grid&amp;live_view=501</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Saudia Radio</string>
		<key>logo</key>
		<string>Saudia</string>
		<key>link</key>
		<string>http://saudia.sr.sa/ar/live-streaming</string>
		<key>http</key>
		<string>http://saudia.sr.sa</string>
	</dict>
	<dict>
		<key>name</key>
		<string>إذاعة جدة</string>
		<key>logo</key>
		<string>Jeddah</string>
		<key>link</key>
		<string>http://jeddah.sr.sa/%D8%A7%D9%84%D8%A8%D8%AB-%D8%A7%D9%84%D9%85%D8%A8%D8%A7%D8%B4%D8%B1</string>
		<key>http</key>
		<string>http://jeddah.sr.sa</string>
	</dict>
	<dict>
		<key>name</key>
		<string>إذاعة نداء الإسلام</string>
		<key>logo</key>
		<string>Neda</string>
		<key>link</key>
		<string>http://neda.sr.sa/%D8%A7%D9%84%D8%A8%D8%AB-%D8%A7%D9%84%D9%85%D8%A8%D8%A7%D8%B4%D8%B1</string>
		<key>http</key>
		<string>https://www.youtube.com/channel/UCoETJxkpBpS1WP2c2HRnoPQ/videos?flow=grid&amp;live_view=501&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>إذاعة الرياض</string>
		<key>logo</key>
		<string>Riyadh</string>
		<key>link</key>
		<string>http://riyadh.sr.sa/%D8%A7%D9%84%D8%A8%D8%AB-%D8%A7%D9%84%D9%85%D8%A8%D8%A7%D8%B4%D8%B1</string>
		<key>http</key>
		<string>http://riyadh.sr.sa</string>
	</dict>
	<dict>
		<key>name</key>
		<string>الإذاعات الدولية السعودية</string>
		<key>logo</key>
		<string>International</string>
		<key>link</key>
		<string>http://international.sr.sa/ar/live-streaming</string>
		<key>http</key>
		<string>http://international.sr.sa</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Eqtisadia Saudi الاقتصادية السعودية</string>
		<key>logo</key>
		<string>Eqtisadia</string>
		<key>link</key>
		<string>http://eqtisadiyatv.sa/%D8%A7%D9%84%D8%A8%D8%AB-%D8%A7%D9%84%D9%85%D8%A8%D8%A7%D8%B4%D8%B1</string>
		<key>http</key>
		<string>http://eqtisadiyatv.sa</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Al Sunna السنة النبوية</string>
		<key>logo</key>
		<string>Sunna</string>
		<key>link</key>
		<string>http://sunnatv.sa/%D8%A7%D9%84%D8%A8%D8%AB-%D8%A7%D9%84%D9%85%D8%A8%D8%A7%D8%B4%D8%B1</string>
		<key>http</key>
		<string>https://www.youtube.com/user/SaudiSunnahTv/videos?view=2&amp;live_view=501&amp;flow=grid</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Al Quran القرآن الكريم</string>
		<key>logo</key>
		<string>Quran2</string>
		<key>link</key>
		<string>http://qurantv.sa/%D8%A7%D9%84%D8%A8%D8%AB-%D8%A7%D9%84%D9%85%D8%A8%D8%A7%D8%B4%D8%B1</string>
		<key>http</key>
		<string>https://www.youtube.com/user/SaudiQuranTv/videos?view=2&amp;flow=grid&amp;live_view=501</string>
	</dict>
	<dict>
		<key>name</key>
		<string>الثقافية Al Thaqafiya</string>
		<key>logo</key>
		<string>Thaqafiya</string>
		<key>link</key>
		<string>http://thaqafiyatv.sa/%D8%A7%D9%84%D8%A8%D8%AB-%D8%A7%D9%84%D9%85%D8%A8%D8%A7%D8%B4%D8%B1</string>
		<key>http</key>
		<string>https://www.youtube.com/user/SaudiCulturalTv/videos?live_view=501&amp;flow=grid&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Al Ekhbaria الإخبارية</string>
		<key>logo</key>
		<string>Ekhbaria1</string>
		<key>link</key>
		<string>http://alekhbariya.net/ar/live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/SaudiNewsTV/videos?view=2&amp;flow=grid&amp;live_view=501</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Al Ekhbaria English</string>
		<key>logo</key>
		<string>Ekhbaria2</string>
		<key>link</key>
		<string>http://alekhbariya.net/en/node/652</string>
		<key>http</key>
		<string>https://www.youtube.com/user/SaudiNewsTV/videos?view=2&amp;flow=grid&amp;live_view=501</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Al Ekhbaria Farsi</string>
		<key>logo</key>
		<string>Ekhbaria3</string>
		<key>link</key>
		<string>http://alekhbariya.net/fa/node/652</string>
		<key>http</key>
		<string>https://www.youtube.com/user/SaudiNewsTV/videos?view=2&amp;flow=grid&amp;live_view=501</string>
	</dict>
	<dict>
		<key>name</key>
		<string>الفضائية Nabaa</string>
		<key>logo</key>
		<string>Nabaa</string>
		<key>link</key>
		<string>http://nabaa.tv/%D9%85%D8%A8%D8%A7%D8%B4%D8%B1</string>
		<key>http</key>
		<string>http://nabaa.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SA 24</string>
		<key>logo</key>
		<string>SA</string>
		<key>link</key>
		<string>http://www.sa24tv.com/sa24.html</string>
		<key>http</key>
		<string>http://www.sa24tv.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SA 24 Sport</string>
		<key>logo</key>
		<string>24</string>
		<key>link</key>
		<string>http://www.sa24tv.com/spor.html</string>
		<key>http</key>
		<string>http://www.sa24tv.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Masdar</string>
		<key>logo</key>
		<string>Masdar</string>
		<key>link</key>
		<string>http://www.sa24tv.com/masdar.html</string>
		<key>http</key>
		<string>http://www.sa24tv.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Belad Al Haramin</string>
		<key>logo</key>
		<string>Belad</string>
		<key>link</key>
		<string>http://www.sa24tv.com/harameen.html</string>
		<key>http</key>
		<string>http://www.sa24tv.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Enjazat</string>
		<key>logo</key>
		<string>Enjazat</string>
		<key>link</key>
		<string>http://www.sa24tv.com/injazat.html</string>
		<key>http</key>
		<string>http://www.sa24tv.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mokhatat Safawi</string>
		<key>logo</key>
		<string>Mokhatat</string>
		<key>link</key>
		<string>http://www.sa24tv.com/safawi.html</string>
		<key>http</key>
		<string>http://www.sa24tv.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Erhaby</string>
		<key>logo</key>
		<string>Erhaby</string>
		<key>link</key>
		<string>http://www.sa24tv.com/erhab.html</string>
		<key>http</key>
		<string>http://www.sa24tv.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Shareeyah</string>
		<key>logo</key>
		<string>Shareeyah</string>
		<key>link</key>
		<string>http://www.sa24tv.com/shr3eya.html</string>
		<key>http</key>
		<string>http://www.sa24tv.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Alyaman Alyawm</string>
		<key>logo</key>
		<string>Alyaman</string>
		<key>link</key>
		<string>http://www.sa24tv.com/watani.html</string>
		<key>http</key>
		<string>http://www.sa24tv.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Rotana Khalejia روتانا خليجية</string>
		<key>logo</key>
		<string>Rotana</string>
		<key>link</key>
		<string>http://rotana.net/%D8%A7%D9%84%D8%A8%D8%AB-%D8%A7%D9%84%D9%85%D8%A8%D8%A7%D8%B4%D8%B1/</string>
		<key>http</key>
		<string>http://rotana.net</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bedaya بداية الفضائية</string>
		<key>logo</key>
		<string>Bedaya</string>
		<key>link</key>
		<string>http://www.bedaya.tv/section/9/Bedaya.Live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/tvbedaya/videos?view=2&amp;flow=grid&amp;live_view=501</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Atfal &amp; Mawaheb اطفال ومواهب</string>
		<key>logo</key>
		<string>Atfal</string>
		<key>link</key>
		<string>http://atfal1.com/%D8%A8%D8%AB-%D9%85%D8%A8%D8%A7%D8%B4%D8%B1</string>
		<key>http</key>
		<string>http://atfal1.com/portal/%D8%A8%D8%AB-%D9%85%D8%A8%D8%A7%D8%B4%D8%B1/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Al Riyadia الرياضية السعودية</string>
		<key>logo</key>
		<string>Riyadia</string>
		<key>link</key>
		<string>https://www.youtube.com/user/AlMalabTube/videos?view=2&amp;flow=grid&amp;live_view=501</string>
		<key>http</key>
		<string>http://www.riyadiyatv.sa/live</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Al Jazeera الجزيرة‎</string>
		<key>logo</key>
		<string>Jazeera</string>
		<key>link</key>
		<string>http://www.aljazeera.net/broadcastschedule</string>
		<key>http</key>
		<string>https://www.youtube.com/user/aljazeerachannel/videos?live_view=501&amp;flow=grid&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Al Jazeera English (الجزيرة الإنجليزية)</string>
		<key>logo</key>
		<string>English</string>
		<key>link</key>
		<string>http://www.aljazeera.com/live/</string>
		<key>http</key>
		<string>https://www.youtube.com/user/AlJazeeraEnglish/videos?view=2&amp;live_view=501&amp;flow=grid</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Aljazeera Mubasher (الجزيرة مباشر‎)</string>
		<key>logo</key>
		<string>Mubasher</string>
		<key>link</key>
		<string>http://mubasher.aljazeera.net/</string>
		<key>http</key>
		<string>https://www.youtube.com/user/aljazeeramubasher/videos?flow=grid&amp;view=2&amp;live_view=501</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Al Arabiya العربية‎</string>
		<key>logo</key>
		<string>Arabiya</string>
		<key>link</key>
		<string>https://www.alarabiya.net/live-stream.html?cref=navdesk</string>
		<key>http</key>
		<string>https://www.youtube.com/user/AlArabiya/videos?live_view=501&amp;flow=grid&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>الحدث Al Hadath</string>
		<key>logo</key>
		<string>Hadath</string>
		<key>link</key>
		<string>http://www.alhadath.net/live-stream.html?cref=navdesk</string>
		<key>http</key>
		<string>https://www.youtube.com/channel/UCrj5BGAhtWxDfqbza9T9hqA/videos?live_view=501&amp;flow=grid&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sky News Arabia (سكاي نيوز عربية‎)</string>
		<key>logo</key>
		<string>Sky</string>
		<key>link</key>
		<string>https://www.skynewsarabia.com/web/livestream</string>
		<key>http</key>
		<string>https://www.youtube.com/user/skynewsarabia/videos?flow=grid&amp;view=2&amp;live_view=501</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CNBC Arabia (سي إن بي سي عربية)</string>
		<key>logo</key>
		<string>CNBC</string>
		<key>link</key>
		<string>https://www.cnbcarabia.com/Pages/live</string>
		<key>http</key>
		<string>https://www.cnbcarabia.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>BBC Arabic (بي بي سي عربي)</string>
		<key>logo</key>
		<string>BBC</string>
		<key>link</key>
		<string>http://www.bbc.com/arabic/tvandradio/2013/05/000000_bbcarabic_livetv</string>
		<key>http</key>
		<string>https://www.youtube.com/user/BBCArabicNews/videos?flow=grid&amp;live_view=501&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>العربي Alaraby    </string>
		<key>logo</key>
		<string>Alaraby</string>
		<key>link</key>
		<string>http://alaraby.tv/live/61/alaraby</string>
		<key>http</key>
		<string>http://alaraby.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>euronews عــربي</string>
		<key>logo</key>
		<string>euronews</string>
		<key>link</key>
		<string>http://arabic.euronews.com/live</string>
		<key>http</key>
		<string>http://arabic.euronews.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>فرانس 24 (FRANCE 24 Arabic)</string>
		<key>logo</key>
		<string>FRANCE</string>
		<key>link</key>
		<string>http://www.france24.com/ar/</string>
		<key>http</key>
		<string>https://www.youtube.com/user/france24arabic/videos?flow=grid&amp;view=2&amp;live_view=501</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Al Mayadeen الميادين</string>
		<key>logo</key>
		<string>Mayadeen</string>
		<key>link</key>
		<string>http://www.almayadeen.net/live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/Mayadeentv/videos?view=2&amp;live_view=501&amp;flow=grid</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Almagharibia المغاربية‎</string>
		<key>logo</key>
		<string>Almagharibia</string>
		<key>link</key>
		<string>https://almagharibia.tv/</string>
		<key>http</key>
		<string>https://almagharibia.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Alhurra الحرة</string>
		<key>logo</key>
		<string>Alhurra</string>
		<key>link</key>
		<string>https://www.alhurra.com/embed/player/tube/4.html</string>
		<key>http</key>
		<string>https://www.alhurra.com/embed/player/tube/5.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RT Arabic</string>
		<key>logo</key>
		<string>RT</string>
		<key>link</key>
		<string>https://arabic.rt.com/live/</string>
		<key>http</key>
		<string>https://www.youtube.com/user/RTarabic/videos?view=2&amp;live_view=501&amp;flow=grid</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CGTN Arabic سي جي تي أن العربية‎‎</string>
		<key>logo</key>
		<string>CGTN</string>
		<key>link</key>
		<string>https://www.cgtn.com/channel/ar.do</string>
		<key>http</key>
		<string>https://www.cgtn.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Iqraa اقرأ الفضائية</string>
		<key>logo</key>
		<string>Iqraa1</string>
		<key>link</key>
		<string>http://iqraa.com/Livestream/?t=arabic&amp;lng=ar</string>
		<key>http</key>
		<string>http://tabie.net/ar/live</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Iqraa EN</string>
		<key>logo</key>
		<string>Iqraa2</string>
		<key>link</key>
		<string>http://iqraa.com/Livestream/?t=america&amp;lng=en</string>
		<key>http</key>
		<string>http://tabie.net/ar/live</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Iqraa FR/AR</string>
		<key>logo</key>
		<string>Iqraa3</string>
		<key>link</key>
		<string>http://iqraa.com/Livestream/?t=africa&amp;lng=en</string>
		<key>http</key>
		<string>http://tabie.net/ar/live</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Al Maaref المعارف</string>
		<key>logo</key>
		<string>Maaref</string>
		<key>link</key>
		<string>http://www.almaareftv.com/archives/5643</string>
		<key>http</key>
		<string>http://www.almaareftv.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Makkah مكة الفضائية</string>
		<key>logo</key>
		<string>Makkah</string>
		<key>link</key>
		<string>http://makkahtv.tv/</string>
		<key>http</key>
		<string>https://www.youtube.com/user/MakkahTVchannel/videos?view=2&amp;live_view=501&amp;flow=grid</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Huda</string>
		<key>logo</key>
		<string>Huda</string>
		<key>link</key>
		<string>https://www.youtube.com/user/hudatv/videos?flow=grid&amp;live_view=501&amp;view=2</string>
		<key>http</key>
		<string>http://www.huda.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Wesal وصال</string>
		<key>logo</key>
		<string>Wesal</string>
		<key>link</key>
		<string>http://tvwesal.com/livestream.php</string>
		<key>http</key>
		<string>http://live.noorlive.com:1935/wesal/wesal1/playlist.m3u8</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Wesal Haq</string>
		<key>logo</key>
		<string>Haq</string>
		<key>link</key>
		<string>http://www.wesalhaq.tv/</string>
		<key>http</key>
		<string>http://www.wesalhaq.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Al Sahraa الصحراء</string>
		<key>logo</key>
		<string>Sahraa</string>
		<key>link</key>
		<string>http://www.alsahraa.tv/index.php</string>
		<key>http</key>
		<string>https://www.youtube.com/user/SahraaChannel/videos?view=2&amp;flow=grid&amp;live_view=501</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Al Abel الصحراء الابل</string>
		<key>logo</key>
		<string>Abel</string>
		<key>link</key>
		<string>http://alsahraa.tv/alabel/</string>
		<key>http</key>
		<string>https://www.youtube.com/user/SahraaChannel/videos?view=2&amp;flow=grid&amp;live_view=501</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ahlu Al Quran أهل القرآن الفضائية</string>
		<key>logo</key>
		<string>Ahlu</string>
		<key>link</key>
		<string>http://www.ahlualquran.tv/?page_id=634</string>
		<key>http</key>
		<string>http://www.ahlualquran.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ZAD زاد العلمية</string>
		<key>logo</key>
		<string>ZAD</string>
		<key>link</key>
		<string>https://www.zad.tv/live-broadcast/</string>
		<key>http</key>
		<string>https://www.youtube.com/channel/UCOll3M-P7oKs5cSrQ9ytt6g/videos?view=2&amp;flow=grid&amp;live_view=501</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Semsem سمسم الفضائية</string>
		<key>logo</key>
		<string>Semsem</string>
		<key>link</key>
		<string>https://www.semsem.islamtv.live/albth-almbashr</string>
		<key>http</key>
		<string>https://www.semsem.islamtv.live</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ibn Othaimeen</string>
		<key>logo</key>
		<string>Ibn</string>
		<key>link</key>
		<string>http://binothaimeen.net/channel/site/live</string>
		<key>http</key>
		<string>https://www.youtube.com/user/ibnothaimeentv/videos?flow=grid&amp;live_view=501&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ajyal أجيال للأطفال‎</string>
		<key>logo</key>
		<string>Ajyal</string>
		<key>link</key>
		<string>http://ajyaltv.sa/live-feed</string>
		<key>http</key>
		<string>https://www.youtube.com/user/SaudiAjyalTv/videos?live_view=501&amp;flow=grid&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Al Aoula</string>
		<key>logo</key>
		<string>Aoula</string>
		<key>link</key>
		<string>http://www.alaoula.ma/</string>
		<key>http</key>
		<string>http://snrtlive.ma/laayoune-tv-streaming-live-%D8%A7%D9%84%D8%A8%D8%AB-%D8%A7%D9%84%D9%85%D8%A8%D8%A7%D8%B4%D8%B1-%D9%82%D9%86%D8%A7%D8%A9-%D8%A7%D9%84%D8%B9%D9%8A%D9%88%D9%86</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Arryadia</string>
		<key>logo</key>
		<string>Arryadia</string>
		<key>link</key>
		<string>http://arryadia.snrt.ma/</string>
		<key>http</key>
		<string>http://snrtlive.ma/arryadia</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Athaqafia</string>
		<key>logo</key>
		<string>Athaqafia</string>
		<key>link</key>
		<string>http://www.arrabia.ma/</string>
		<key>http</key>
		<string>http://snrtlive.ma/athaqafia</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Al Maghribia</string>
		<key>logo</key>
		<string>Maghribia</string>
		<key>link</key>
		<string>http://almaghribia-tv.ma/</string>
		<key>http</key>
		<string>http://snrtlive.ma/al-maghribia-live-%D8%A7%D9%84%D8%A8%D8%AB-%D8%A7%D9%84%D9%85%D8%A8%D8%A7%D8%B4%D8%B1-%D9%82%D9%86%D8%A7%D8%A9-%D8%A7%D9%84%D9%85%D8%BA%D8%B1%D8%A8%D9%8A%D8%A9</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Assadissa</string>
		<key>logo</key>
		<string>Assadissa</string>
		<key>link</key>
		<string>http://www.assadissatv.ma/</string>
		<key>http</key>
		<string>http://snrtlive.ma/assadissa</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Aflam</string>
		<key>logo</key>
		<string>Aflam</string>
		<key>link</key>
		<string>http://www.aflamtv.ma/</string>
		<key>http</key>
		<string>http://www.aflamtv.ma/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tamazight</string>
		<key>logo</key>
		<string>Tamazight</string>
		<key>link</key>
		<string>http://www.tamazight-tv.ma/</string>
		<key>http</key>
		<string>http://snrtlive.ma/tamazight-streaming-live-%D8%A7%D9%84%D8%A8%D8%AB-%D8%A7%D9%84%D9%85%D8%A8%D8%A7%D8%B4%D8%B1-%D9%82%D9%86%D8%A7%D8%A9-%D8%A7%D9%84%D8%A7%D9%85%D8%A7%D8%B2%D9%8A%D8%BA%D9%8A%D8%A9</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Radio Idaa al Watania</string>
		<key>logo</key>
		<string>Idaa</string>
		<key>link</key>
		<string>http://www.alidaa-alwatania.ma/</string>
		<key>http</key>
		<string>http://snrtlive.ma/alidaa-alwatania</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Radio Alidaa Alamazighia</string>
		<key>logo</key>
		<string>Alidaa</string>
		<key>link</key>
		<string>http://www.alidaa-alamazighia.ma/</string>
		<key>http</key>
		<string>http://snrtlive.ma/alidaa-alamazighia</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Radio Mohammed Assadiss</string>
		<key>logo</key>
		<string>Assadiss</string>
		<key>link</key>
		<string>http://www.idaatmohammedassadiss.ma/</string>
		<key>http</key>
		<string>http://snrtlive.ma/idaatmohammedassadiss</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Radio Chaîne Inter</string>
		<key>logo</key>
		<string>Inter</string>
		<key>link</key>
		<string>http://www.chaineinter.ma/</string>
		<key>http</key>
		<string>http://snrtlive.ma/chaineinter</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Radios Régionales</string>
		<key>logo</key>
		<string>Radios</string>
		<key>link</key>
		<string>http://snrtlive.ma/radios-regionales</string>
		<key>http</key>
		<string>http://snrtlive.ma/radios-regionales</string>
	</dict>
</array>
</plist>
