<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>TVT Тоҷикистон</string>
		<key>logo</key>
		<string>TVT</string>
		<key>link</key>
		<string>http://ktr.tj/tvt</string>
		<key>http</key>
		<string>http://teleradiocom.tj/online-tv/81-shabakai-avval.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ҷаҳоннамо</string>
		<key>logo</key>
		<string>Jahonnamo</string>
		<key>link</key>
		<string>http://ktr.tj/tvj</string>
		<key>http</key>
		<string>http://jahonnamo.tj/tv-onlain.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TVB Баҳористон</string>
		<key>logo</key>
		<string>TVB</string>
		<key>link</key>
		<string>http://ktr.tj/tvb</string>
		<key>http</key>
		<string>http://teleradiocom.tj/online-tv/83-shabakai-bahoriston.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TVS Сафина</string>
		<key>logo</key>
		<string>TVS</string>
		<key>link</key>
		<string>http://ktr.tj/tvs</string>
		<key>http</key>
		<string>http://teleradiocom.tj/online-tv/82-shabakai-safina.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Варзиш</string>
		<key>logo</key>
		<string>Varzish</string>
		<key>link</key>
		<string>http://varzishtv.tj/tj/tv-futbol-onlayn.php</string>
		<key>http</key>
		<string>http://varzishtv.tj/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>BBC Arabic (بي بي سي عربي)</string>
		<key>logo</key>
		<string>BBC</string>
		<key>link</key>
		<string>http://www.bbc.com/arabic/tvandradio/2013/05/000000_bbcarabic_livetv</string>
		<key>http</key>
		<string>https://www.youtube.com/user/BBCArabicNews/videos?flow=grid&amp;live_view=501&amp;view=2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>LIFENEWS</string>
		<key>logo</key>
		<string>LIFENEWS</string>
		<key>link</key>
		<string>http://lifenews.ru/watch-live</string>
		<key>http</key>
		<string>http://lifenews.ru/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RT Новости</string>
		<key>logo</key>
		<string>RT</string>
		<key>link</key>
		<string>https://www.rt.com/on-air/embed/</string>
		<key>http</key>
		<string>https://www.rt.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>euronews Россия</string>
		<key>logo</key>
		<string>euronews</string>
		<key>link</key>
		<string>http://ru.euronews.com/live</string>
		<key>http</key>
		<string>http://ru.euronews.com/</string>
	</dict>
</array>
</plist>
