<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string></string>
		<key>Main</key>
		<string></string>
		<key>Back</key>
		<string></string>
		<key>Banner</key>
		<string></string>
		<key>Show1</key>
		<string></string>
		<key>Show2</key>
		<string></string>
		<key>Show3</key>
		<string></string>
		<key>Show4</key>
		<string></string>
		<key>Alarm</key>
		<string></string>
		<key>CustomBanner</key>
		<string></string>
		<key>CustomSplash</key>
		<string></string>
		<key>Header</key>
		<string></string>
		<key>Footer</key>
		<string></string>
		<key>Email</key>
		<string>ios.apps.community@gmail.com</string>
		<key>Alternative</key>
		<string></string>
		<key>Application</key>
		<string></string>
		<key>Developer</key>
		<string></string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Menu</key>
	<array>
		<string>Top</string>
		<string>News</string>
		<string>Local</string>
		<string>Classic</string>
		<string>Music</string>
		<string>Sport</string>
		<string>Talk</string>
		<string>Youth</string>
		<string>Oldies</string>
	</array>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>98.1 Arman FM</string>
			<key>logo</key>
			<string>Arman</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/98-1-arman-fm,10311.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Arazokia 90.3 FM</string>
			<key>logo</key>
			<string>Arazokia</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/arazokia-90-3-fm,17586.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bakhtar Radio</string>
			<key>logo</key>
			<string>Bakhtar</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/bakhtar-radio,13699.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC Pashto</string>
			<key>logo</key>
			<string>BBC</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/bbc-pashto,20125.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>BFBS Afghanistan</string>
			<key>logo</key>
			<string>BFBS</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/bfbs-afghanistan,15832.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radio Azadi</string>
			<key>logo</key>
			<string>Azadi</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-azadi,19718.m3u</string>
			<key>http</key>
			<string>https://audio.rferl.org/AF/2020/05/17/20200517-140000-AF061-program.mp3?download=1</string>
			<key>note</key>
			<string>News</string>
		</dict>
	</array>
</dict>
</plist>
