<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string></string>
		<key>Back</key>
		<string></string>
		<key>Banner</key>
		<string></string>
		<key>Show1</key>
		<string></string>
		<key>Show2</key>
		<string></string>
		<key>Show3</key>
		<string></string>
		<key>Show4</key>
		<string></string>
		<key>Alarm</key>
		<string></string>
		<key>CustomBanner</key>
		<string></string>
		<key>CustomSplash</key>
		<string></string>
		<key>Header</key>
		<string></string>
		<key>Footer</key>
		<string></string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string></string>
		<key>Application</key>
		<string></string>
		<key>Developer</key>
		<string></string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>Arazokia FM 90.3</string>
			<key>logo</key>
			<string>Arazokia</string>
			<key>link</key>
			<string>http://158.69.225.238:4723/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/arazokia-90-3-fm,17586.m3u</string>
			<key>note</key>
			<string>News, Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ariana FM 93.5 - کابل</string>
			<key>logo</key>
			<string>Ariana</string>
			<key>link</key>
			<string>https://streams.radio.co/sa3345aaa8/listen</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Arman FM 98.1</string>
			<key>logo</key>
			<string>Arman</string>
			<key>link</key>
			<string>http://158.69.225.238:3953/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/98-1-arman-fm,10311.m3u</string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ATN News FM 100.2 - کابل</string>
			<key>logo</key>
			<string>ATN</string>
			<key>link</key>
			<string>https://streams.radio.co/sb55071395/listen</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Azadi</string>
			<key>logo</key>
			<string>Azadi</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-azadi,19718.m3u</string>
			<key>http</key>
			<string>https://audio.rferl.org/AF/2020/05/17/20200517-140000-AF061-program.mp3?download=1</string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bakhtar</string>
			<key>logo</key>
			<string>Bakhtar</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/bakhtar-radio,13699.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC Pashto</string>
			<key>logo</key>
			<string>BBC</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/bbc-pashto,20125.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BFBS Afghanistan</string>
			<key>logo</key>
			<string>BFBS</string>
			<key>link</key>
			<string>http://direct.sharp-stream.com/ssvcbfbs9.mp3.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/bfbs-afghanistan,15832.m3u</string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sky News Arabia</string>
			<key>logo</key>
			<string>Sky</string>
			<key>link</key>
			<string>http://radio.skynewsarabia.com/stream/radio/skynewsarabia.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>رادیو جوانان - کابل 97.5 اف ام</string>
			<key>logo</key>
			<string>Jawanan</string>
			<key>link</key>
			<string>https://s3.radio.co/s3a13a855f/listen</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>راديو سلام وطندار - افغانستان</string>
			<key>logo</key>
			<string>Salam</string>
			<key>link</key>
			<string>http://176.31.248.14:12238/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>سپوږمۍ راډیو - کابل</string>
			<key>logo</key>
			<string>Spogmai</string>
			<key>link</key>
			<string>http://ca10.rcast.net:8026/listen.pls</string>
			<key>http</key>
			<string>https://ca10ssl.rcast.net/stream/61805.mp3</string>
			<key>note</key>
			<string>Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>راديو سوا الخليج</string>
			<key>logo</key>
			<string>Sawa</string>
			<key>link</key>
			<string>http://mbn-channel-01.akacast.akamaistream.net/7/29/233450/v1/ibb.akacast.akamaistream.net/mbn_channel_01</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
	</array>
</dict>
</plist>
