<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Հայաստան 1 (H1)</string>
		<key>logo</key>
		<string>H1</string>
		<key>link</key>
		<string>http://www.1tv.am/</string>
		<key>http</key>
		<string>http://www.1tv.am/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kentron (Կենտրոն)</string>
		<key>logo</key>
		<string>Kentron</string>
		<key>link</key>
		<string>http://kentron.tv/live.html</string>
		<key>http</key>
		<string>http://kentron.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Global (ԳԼՈԲԱԼ ԹԻ-ՎԻ)</string>
		<key>logo</key>
		<string>Global</string>
		<key>link</key>
		<string>http://globaltv.am/%D6%85%D5%B6%D5%AC%D5%A1%D5%B5%D5%B6</string>
		<key>http</key>
		<string>http://globaltv.am</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hrazdan (Հրազդան)</string>
		<key>logo</key>
		<string>Hrazdan</string>
		<key>link</key>
		<string>http://www.hrazdantv.am/?page_id=1500</string>
		<key>http</key>
		<string>http://www.hrazdantv.am</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Гала (Գալա)</string>
		<key>logo</key>
		<string>Gala</string>
		<key>link</key>
		<string>http://galatv.am/</string>
		<key>http</key>
		<string>http://galatv.am/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MTV (SONGTV)</string>
		<key>logo</key>
		<string>MTV</string>
		<key>link</key>
		<string>https://songtv.am/live</string>
		<key>http</key>
		<string>https://songtv.am</string>
	</dict>
	<dict>
		<key>name</key>
		<string>AABC</string>
		<key>logo</key>
		<string>AABC</string>
		<key>link</key>
		<string>http://aabc.tv/</string>
		<key>http</key>
		<string>http://aabc.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ARTN Shant</string>
		<key>logo</key>
		<string>ARTN</string>
		<key>link</key>
		<string>http://www.artn.tv/artn-live/</string>
		<key>http</key>
		<string>http://www.artn.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>AMGA</string>
		<key>logo</key>
		<string>AMGA</string>
		<key>link</key>
		<string>http://www.amga.tv/index.php?option=com_wrapper&amp;view=wrapper&amp;Itemid=278</string>
		<key>http</key>
		<string>http://www.amga.tv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>A1+ (Ա1+)</string>
		<key>logo</key>
		<string>A1</string>
		<key>link</key>
		<string>http://www.a1plus.am/live</string>
		<key>http</key>
		<string>http://www.a1plus.am</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sosi (Սոսի)</string>
		<key>logo</key>
		<string>Sosi</string>
		<key>link</key>
		<string>http://sosi-tv.com/online.html</string>
		<key>http</key>
		<string>http://sosi-tv.com</string>
	</dict>
</array>
</plist>
