<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Imedi ტელეკომპანია იმედი</string>
		<key>logo</key>
		<string>Imedi</string>
		<key>link</key>
		<string>http://www.imedi.ge/</string>
		<key>http</key>
		<string>http://www.imedi.ge/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>1TV პირველი არხი</string>
		<key>logo</key>
		<string>1</string>
		<key>link</key>
		<string>http://1tv.ge/ge/live.html</string>
		<key>http</key>
		<string>http://1tv.ge</string>
	</dict>
	<dict>
		<key>name</key>
		<string>2TV მეორე არხი</string>
		<key>logo</key>
		<string>2</string>
		<key>link</key>
		<string>http://2tv.ge/ge/live.html</string>
		<key>http</key>
		<string>http://2tv.ge</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Palitra TV (პალიტრა</string>
		<key>logo</key>
		<string>Palitra</string>
		<key>link</key>
		<string>http://www.palitravideo.ge/live-tv.html?view=tv</string>
		<key>http</key>
		<string>http://www.palitravideo.ge</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Obieqtivi</string>
		<key>logo</key>
		<string>Obieqtivi</string>
		<key>link</key>
		<string>http://www.obieqtivi.net/</string>
		<key>http</key>
		<string>http://www.obieqtivi.net/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Rustavi 2 (რუსთავი 2)</string>
		<key>logo</key>
		<string>Rustavi</string>
		<key>link</key>
		<string>http://rustavi2.ge/ka/dvr</string>
		<key>http</key>
		<string>http://rustavi2.ge/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ТРИ АНГЕЛА</string>
		<key>logo</key>
		<string>3</string>
		<key>link</key>
		<string>http://www.3angels.ru/air/online/</string>
		<key>http</key>
		<string>http://www.3angels.ru/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ПРОСВЕЩЕНИЕ</string>
		<key>logo</key>
		<string>prosvesh</string>
		<key>link</key>
		<string>http://www.prosveshenie.tv/onairview.php</string>
		<key>http</key>
		<string>http://www.prosveshenie.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ВЕРА 24</string>
		<key>logo</key>
		<string>24</string>
		<key>link</key>
		<string>http://b.tbnit.spb.ru/player/vera24.html</string>
		<key>http</key>
		<string>http://vera24.tv/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Т Б Н</string>
		<key>logo</key>
		<string>tbn</string>
		<key>link</key>
		<string>http://b.tbnit.spb.ru/player/tbn.html</string>
		<key>http</key>
		<string>http://tbn-tv.ru/</string>
	</dict>
</array>
</plist>
