<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string></string>
		<key>Back</key>
		<string></string>
		<key>Banner</key>
		<string></string>
		<key>Show1</key>
		<string></string>
		<key>Show2</key>
		<string></string>
		<key>Show3</key>
		<string></string>
		<key>Show4</key>
		<string></string>
		<key>Alarm</key>
		<string></string>
		<key>CustomBanner</key>
		<string></string>
		<key>CustomSplash</key>
		<string></string>
		<key>Header</key>
		<string></string>
		<key>Footer</key>
		<string></string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string></string>
		<key>Application</key>
		<string></string>
		<key>Developer</key>
		<string></string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>ASO Radio 93.5 FM</string>
			<key>logo</key>
			<string>ASO</string>
			<key>link</key>
			<string>https://node-23.zeno.fm/qdeg1ha4a1duv</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Brila FM 88.9</string>
			<key>logo</key>
			<string>Brila</string>
			<key>link</key>
			<string>http://ice31.securenetsystems.net/BRILAMP3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk, Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Classic FM 94.3</string>
			<key>logo</key>
			<string>Classic</string>
			<key>link</key>
			<string>http://classicfmabuja.atunwadigital.streamguys1.com/classicfmabuja</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cool 96.9 FM</string>
			<key>logo</key>
			<string>Cool</string>
			<key>link</key>
			<string>http://worldradiomap.com/ng/play/cool_abuja.htm</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Eko 89.7 FM</string>
			<key>logo</key>
			<string>Eko</string>
			<key>link</key>
			<string>http://ca3.rcast.net:8034/listen.pls</string>
			<key>http</key>
			<string>https://ca3ssl.rcast.net/stream/61651.mp3</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>FRCN Bond 92.9 FM</string>
			<key>logo</key>
			<string>Bond</string>
			<key>link</key>
			<string>http://www.go.webgateready.com/bondfm/bondstream.mp3</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>FRCN Kaduna - Shashen Hausa</string>
			<key>logo</key>
			<string>Kaduna</string>
			<key>link</key>
			<string>http://213.32.16.94:9984/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>FRCN Kapital 92.9 FM</string>
			<key>logo</key>
			<string>FRCN</string>
			<key>link</key>
			<string>http://protostar.shoutca.st:8710/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>FRCN Metro 97.7 FM</string>
			<key>logo</key>
			<string>Metro</string>
			<key>link</key>
			<string>http://www.go.webgateready.com/metrofm/metrostream.mp3</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>FRCN Premier 93.5 FM</string>
			<key>logo</key>
			<string>Premier</string>
			<key>link</key>
			<string>http://boxradio.link:5302/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>FRCN Radio One 103.5 FM</string>
			<key>logo</key>
			<string>One</string>
			<key>link</key>
			<string>http://www.go.webgateready.com/radioonefm/radioonestream.mp3</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>FRCN Voice of Nigeria</string>
			<key>logo</key>
			<string>Voice</string>
			<key>link</key>
			<string>http://50.116.99.96:8000/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Greetings</string>
			<key>logo</key>
			<string>Greetings</string>
			<key>link</key>
			<string>http://87.117.208.118:24188/;stream.mp3</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Inspiration Radio 92.3 FM</string>
			<key>logo</key>
			<string>Inspiration</string>
			<key>link</key>
			<string>http://159.65.180.178:8550/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Lagos 107.5 FM</string>
			<key>logo</key>
			<string>Lagos</string>
			<key>link</key>
			<string>https://ca7ssl.rcast.net/stream/61621.mp3</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Lagos Talks 91.3 FM</string>
			<key>logo</key>
			<string>Talks</string>
			<key>link</key>
			<string>http://lagostalks.atunwadigital.streamguys1.com/lagostalks</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Lagos Traffic Radio 96.1 FM</string>
			<key>logo</key>
			<string>Traffic</string>
			<key>link</key>
			<string>http://trafficradio.servotechstream.com:8550/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Liberty Radio 103.3 FM</string>
			<key>logo</key>
			<string>Liberty</string>
			<key>link</key>
			<string>https://node-33.zeno.fm/ebt2pkyfxuquv</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Max 90.9 FM</string>
			<key>logo</key>
			<string>Max</string>
			<key>link</key>
			<string>https://audiostreamer.gridpapaservers.com:2000/stream/MAXABUJA</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nigeria Info 95.1 FM</string>
			<key>logo</key>
			<string>Nigeria</string>
			<key>link</key>
			<string>http://icestream.coolwazobiainfo.com:8000/niginfo-abuja.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk, Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nagarta Radio</string>
			<key>logo</key>
			<string>Nagarta</string>
			<key>link</key>
			<string>http://edge.mixlr.com/channel/tnctv</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Naija FM 102.7</string>
			<key>logo</key>
			<string>Naija</string>
			<key>link</key>
			<string>http://naijafmlagos.atunwadigital.streamguys1.com/naijafmlagos</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>SMA FM 104.7</string>
			<key>logo</key>
			<string>SMA</string>
			<key>link</key>
			<string>http://192.99.170.8:5034/listen.pls</string>
			<key>http</key>
			<string>http://www.smafmonline.com/?pl=winamp&amp;c=104.7%20SMAfm%20|%20smafmonline.com</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Smooth 98.1 FM</string>
			<key>logo</key>
			<string>Smooth</string>
			<key>link</key>
			<string>http://smoothlive.smooth981.fm:8000/smoothlivefm128.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>The Beat 97.9 FM</string>
			<key>logo</key>
			<string>Beat</string>
			<key>link</key>
			<string>http://beatfmabuja.atunwadigital.streamguys1.com/beatfmabuja</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Top Radio 90.9 FM</string>
			<key>logo</key>
			<string>TopRadio</string>
			<key>link</key>
			<string>http://topradio.servotechstream.com/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Vision 92.1 FM</string>
			<key>logo</key>
			<string>Vision</string>
			<key>link</key>
			<string>https://node-03.zeno.fm/dh2ta5a8seruv</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk, Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Wazobia 95.1 FM</string>
			<key>logo</key>
			<string>Wazobia</string>
			<key>link</key>
			<string>http://icestream.coolwazobiainfo.com:8000/wazobia-abuja.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>VOA Africa</string>
			<key>logo</key>
			<string>VOA</string>
			<key>link</key>
			<string>https://voa17.akacast.akamaistream.net/7/685/437799/v1/ibb.akacast.akamaistream.net/voa17</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RFI Afrique</string>
			<key>logo</key>
			<string>RFI</string>
			<key>link</key>
			<string>http://icepe1.infomaniak.ch/rfiafrique-96k.mp3.m3u</string>
			<key>http</key>
			<string>http://icepe1.infomaniak.ch/rfianglais-96k.mp3.m3u</string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC World Service</string>
			<key>logo</key>
			<string>BBC</string>
			<key>link</key>
			<string>http://www.bbc.co.uk/worldservice/meta/live/mp3/eneuk.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
	</array>
</dict>
</plist>
