<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Oʻzbekiston</string>
		<key>logo</key>
		<string>Ozbekiston1</string>
		<key>link</key>
		<string>https://www.mtrk.uz/uz/tv/ozbekiston/</string>
		<key>http</key>
		<string>https://www.mtrk.uz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Yoshlar</string>
		<key>logo</key>
		<string>Yoshlar1</string>
		<key>link</key>
		<string>https://www.mtrk.uz/uz/tv/yoshlar/</string>
		<key>http</key>
		<string>https://www.mtrk.uz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Madaniyat va Ma&apos;rifat</string>
		<key>logo</key>
		<string>Madaniyat</string>
		<key>link</key>
		<string>https://www.mtrk.uz/uz/tv/madaniyat/</string>
		<key>http</key>
		<string>https://www.mtrk.uz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Navo</string>
		<key>logo</key>
		<string>Navo</string>
		<key>link</key>
		<string>https://www.mtrk.uz/uz/tv/navo/</string>
		<key>http</key>
		<string>https://www.mtrk.uz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Toshkent</string>
		<key>logo</key>
		<string>Toshkent1</string>
		<key>link</key>
		<string>https://www.mtrk.uz/uz/tv/toshkent/</string>
		<key>http</key>
		<string>https://www.mtrk.uz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sport</string>
		<key>logo</key>
		<string>Sport</string>
		<key>link</key>
		<string>https://www.mtrk.uz/uz/tv/sport/</string>
		<key>http</key>
		<string>https://www.mtrk.uz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bolajon</string>
		<key>logo</key>
		<string>Bolajon</string>
		<key>link</key>
		<string>https://www.mtrk.uz/uz/tv/bolajon/</string>
		<key>http</key>
		<string>https://www.mtrk.uz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Dunyo bo‘ylab</string>
		<key>logo</key>
		<string>Dunyo</string>
		<key>link</key>
		<string>https://www.mtrk.uz/uz/tv/dunyo/</string>
		<key>http</key>
		<string>https://www.mtrk.uz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>UZHD</string>
		<key>logo</key>
		<string>UZHD</string>
		<key>link</key>
		<string>https://www.mtrk.uz/uz/tv/uzhd/</string>
		<key>http</key>
		<string>https://www.mtrk.uz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mahalla</string>
		<key>logo</key>
		<string>Mahalla1</string>
		<key>link</key>
		<string>https://www.mtrk.uz/uz/tv/mahalla/</string>
		<key>http</key>
		<string>https://www.mtrk.uz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kinoteatr</string>
		<key>logo</key>
		<string>Kinoteatr</string>
		<key>link</key>
		<string>https://www.mtrk.uz/uz/tv/kinoteatr/</string>
		<key>http</key>
		<string>https://www.mtrk.uz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Oilaviy</string>
		<key>logo</key>
		<string>Oilaviy</string>
		<key>link</key>
		<string>https://www.mtrk.uz/uz/tv/oilaviy/</string>
		<key>http</key>
		<string>https://www.mtrk.uz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Yoshlar FM</string>
		<key>logo</key>
		<string>Yoshlar2</string>
		<key>link</key>
		<string>https://www.mtrk.uz/uz/radio/yoshlar/</string>
		<key>http</key>
		<string>https://www.mtrk.uz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Oʻzbekiston FM</string>
		<key>logo</key>
		<string>Ozbekiston2</string>
		<key>link</key>
		<string>https://www.mtrk.uz/uz/radio/ozbekiston/</string>
		<key>http</key>
		<string>https://www.mtrk.uz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Toshkent FM</string>
		<key>logo</key>
		<string>Toshkent2</string>
		<key>link</key>
		<string>https://www.mtrk.uz/uz/radio/toshkent/</string>
		<key>http</key>
		<string>https://www.mtrk.uz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mahalla FM</string>
		<key>logo</key>
		<string>Mahalla2</string>
		<key>link</key>
		<string>https://www.mtrk.uz/uz/radio/mahalla/</string>
		<key>http</key>
		<string>https://www.mtrk.uz</string>
	</dict>
</array>
</plist>
