<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string></string>
		<key>Back</key>
		<string></string>
		<key>Banner</key>
		<string></string>
		<key>Show1</key>
		<string></string>
		<key>Show2</key>
		<string></string>
		<key>Show3</key>
		<string></string>
		<key>Show4</key>
		<string></string>
		<key>Alarm</key>
		<string></string>
		<key>CustomBanner</key>
		<string></string>
		<key>CustomSplash</key>
		<string></string>
		<key>Header</key>
		<string></string>
		<key>Footer</key>
		<string></string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string></string>
		<key>Application</key>
		<string></string>
		<key>Developer</key>
		<string></string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>الشبابية 88.8 FM - طرابلس، ليبيا</string>
			<key>logo</key>
			<string>AlShababiya</string>
			<key>link</key>
			<string>http://109.169.23.22:14279/listen.pls?sid=1</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>إذاعة الكتاب والسنة FM 89.5 - طرابلس، ليبيا</string>
			<key>logo</key>
			<string>kwsfm</string>
			<key>link</key>
			<string>http://162.244.80.118:5678/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC Arabic / بي.بي.سي العربية</string>
			<key>logo</key>
			<string>BBC</string>
			<key>link</key>
			<string>http://bbcwssc.ic.llnwd.net/stream/bbcwssc_mp1_ws-araba.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Echo FM 92.5 - طرابلس، ليبيا</string>
			<key>logo</key>
			<string>Echo</string>
			<key>link</key>
			<string>http://echo-ly.net:8000/stream.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>ممونت كارلو الدولية</string>
			<key>logo</key>
			<string>doualiya</string>
			<key>link</key>
			<string>http://icepe1.infomaniak.ch/mc-doualiya.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Alwasat FM راديو الوسط - القاهرة، مصر</string>
			<key>logo</key>
			<string>alwasat</string>
			<key>link</key>
			<string>https://s3.radio.co/scb106c3a5/listen</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>إذاعة طريق السلف 100.3 FM - طرابلس، ليبيا</string>
			<key>logo</key>
			<string>salafway</string>
			<key>link</key>
			<string>http://www.salafwayfm.ly:8000/fm.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nass راديو ناس - طرابلس، ليبيا</string>
			<key>logo</key>
			<string>Nass</string>
			<key>link</key>
			<string>https://streamer.radio.co/s149a8867a/listen</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>راديو سوا ليبيا</string>
			<key>logo</key>
			<string>Sawa</string>
			<key>link</key>
			<string>http://mbn-channel-02.akacast.akamaistream.net/7/32/233451/v1/ibb.akacast.akamaistream.net/mbn_channel_02</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>الإذاعة الجزائرية - Jil FM</string>
			<key>logo</key>
			<string>Jil</string>
			<key>link</key>
			<string>http://jil-fm.ice.infomaniak.ch/jilfm.aac.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>الإذاعة الوطنية - تونس</string>
			<key>logo</key>
			<string>Nationale</string>
			<key>link</key>
			<string>http://rtstream.tanitweb.com/nationale.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RTCI</string>
			<key>logo</key>
			<string>RTCI</string>
			<key>link</key>
			<string>http://rtstream.tanitweb.com/rtci.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
	</array>
</dict>
</plist>
