<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string>3694130267637407</string>
		<key>Main</key>
		<string></string>
		<key>Back</key>
		<string></string>
		<key>Banner</key>
		<string></string>
		<key>Show1</key>
		<string></string>
		<key>Show2</key>
		<string></string>
		<key>Show3</key>
		<string></string>
		<key>Show4</key>
		<string></string>
		<key>Alarm</key>
		<string></string>
		<key>CustomBanner</key>
		<string></string>
		<key>CustomSplash</key>
		<string></string>
		<key>Header</key>
		<string></string>
		<key>Footer</key>
		<string></string>
		<key>Email</key>
		<string>idenitecs@gmail.com</string>
		<key>Alternative</key>
		<string></string>
		<key>Application</key>
		<string></string>
		<key>Developer</key>
		<string></string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>107.5 Radio Haifa (רדיו חיפה)</string>
			<key>logo</key>
			<string>Haifa</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/107-5-radio-haifa,9774.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>The Voice of Peace</string>
			<key>logo</key>
			<string>Voice</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/1540-the-voice-of-peace,12106.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top (Yavne, Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>90.3 Kol Israel Reshet Dalet</string>
			<key>logo</key>
			<string>Kol</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/90-3-kol-israel-reshet-dalet,17560.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Eco 99 FM</string>
			<key>logo</key>
			<string>Eco</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/eco-99-fm,17559.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>ESC - Eurovision Song Contest</string>
			<key>logo</key>
			<string>ESC</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/esc-radio-eurovision-song-contest,7980.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM 102</string>
			<key>logo</key>
			<string>102</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/fm-102,827.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Eilat (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>FM 103</string>
			<key>logo</key>
			<string>103</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/fm-103,828.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Galei Zahal 102.3 FM</string>
			<key>logo</key>
			<string>Galei</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/galei-zahal-102-3-fm,14213.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Haifa (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Galgalatz 91.8 FM</string>
			<key>logo</key>
			<string>Galgalatz</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/galgalatz-91-8fm,6566.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Israel National Radio</string>
			<key>logo</key>
			<string>National</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/israel-national-radio,12760.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/aruz-sheva,6755.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Jerusalem FM 101</string>
			<key>logo</key>
			<string>101</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/jerusalem-fm-101,10265.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kol HaMusica 91.3 FM</string>
			<key>logo</key>
			<string>HaMusica</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/kol-hamusica-91-3-fm,16826.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mt. Scopus Radio 106.0 FM</string>
			<key>logo</key>
			<string>Scopus</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/mt-scopus-radio-106-0-fm,10266.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>100 FM רדיוס</string>
			<key>logo</key>
			<string>100</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-100-fm,2562.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Sharon (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>2000 Tel Aviv</string>
			<key>logo</key>
			<string>2000</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-2000-tel-aviv,18505.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pervoe 89.1 FM</string>
			<key>logo</key>
			<string>Pervoe</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-89-1-fm,3420.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Agape FM</string>
			<key>logo</key>
			<string>Agape</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-agape-fm,17788.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Netanya (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Akko</string>
			<key>logo</key>
			<string>Akko</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-akko,19950.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Local</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Beat</string>
			<key>logo</key>
			<string>Beat</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-beat,17561.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hamesh 99.5 FM</string>
			<key>logo</key>
			<string>Hamesh</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-hamesh-99-5-fm,17562.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Haifa (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hamizrah רדיו המזרח</string>
			<key>logo</key>
			<string>Hamizrah</string>
			<key>link</key>
			<string>https://live.cradio.co.il:9046/arik_barda/1/winamp.m3u</string>
			<key>http</key>
			<string>https://ssl.shoutcaststreaming.us:8061/0/stream</string>
			<key>note</key>
			<string>Aschdod (Local)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kol Barama</string>
			<key>logo</key>
			<string>Barama</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-kol-barama,17563.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kol Raga 91.5 FM</string>
			<key>logo</key>
			<string>Raga</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-kol-raga-91-5-fm,17558.m3u</string>
			<key>http</key>
			<string>https://icy.streamgates.net/Radio_CDN/Kol_Rega/icecast.audio</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kol Rega 96 FM</string>
			<key>logo</key>
			<string>Rega</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-kol-rega-96-fm,15249.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Lev Hamedina 91 FM</string>
			<key>logo</key>
			<string>Lev</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-lev-hamedina-91-fm,10268.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>logo</key>
			<string></string>
			<key>link</key>
			<string></string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
