<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDs</key>
	<dict>
		<key>ID</key>
		<string></string>
		<key>Main</key>
		<string></string>
		<key>Back</key>
		<string></string>
		<key>Banner</key>
		<string></string>
		<key>Show1</key>
		<string></string>
		<key>Show2</key>
		<string></string>
		<key>Show3</key>
		<string></string>
		<key>Show4</key>
		<string></string>
		<key>Alarm</key>
		<string></string>
		<key>CustomBanner</key>
		<string></string>
		<key>CustomSplash</key>
		<string></string>
		<key>Header</key>
		<string></string>
		<key>Footer</key>
		<string></string>
		<key>Email</key>
		<string>ios.apps.community@gmail.com</string>
		<key>Alternative</key>
		<string></string>
		<key>Application</key>
		<string></string>
		<key>Developer</key>
		<string></string>
		<key>Minutes</key>
		<string>4</string>
		<key>Delay</key>
		<string>2</string>
		<key>MenuMode</key>
		<string>10</string>
		<key>Deprecated</key>
		<string>1</string>
	</dict>
	<key>Menu</key>
	<array>
		<string>Top</string>
		<string>News</string>
		<string>Local</string>
		<string>Classic</string>
		<string>Music</string>
		<string>Sport</string>
		<string>Talk</string>
		<string>Youth</string>
		<string>Oldies</string>
	</array>
	<key>Content</key>
	<array>
		<dict>
			<key>name</key>
			<string>99FM</string>
			<key>logo</key>
			<string>99FM</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/99fm,15436.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Africa Radio</string>
			<key>logo</key>
			<string>Afric</string>
			<key>link</key>
			<string>http://statslive.infomaniak.ch/playlist/african1paris/african1paris-128.mp3/playlist.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBC Africa</string>
			<key>logo</key>
			<string>BBC</string>
			<key>link</key>
			<string>http://bbcwssc.ic.llnwd.net/stream/bbcwssc_mp1_ws-frena.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>EFM</string>
			<key>logo</key>
			<string>EFM</string>
			<key>link</key>
			<string>http://s2.stationplaylist.com:9140/listen.aac.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Energy 100 FM</string>
			<key>logo</key>
			<string>Energy</string>
			<key>link</key>
			<string>http://196.44.136.119:8080/listen.pls</string>
			<key>http</key>
			<string>https://s2.stationplaylist.com:7094/listen.aac</string>
			<key>note</key>
			<string>Top Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fresh FM 102.9</string>
			<key>logo</key>
			<string>Fresh</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/fresh-fm-102-9,18240.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk, Sport, Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Funkhaus FM</string>
			<key>logo</key>
			<string>Funkhaus</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/funkhaus-fm,19791.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hitradio Namibia</string>
			<key>logo</key>
			<string>Hitradio</string>
			<key>link</key>
			<string>http://85.25.217.22:8000/hitradio-namibia.mp3.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/hitradio-namibia,15952.m3u</string>
			<key>note</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kanaal 7</string>
			<key>logo</key>
			<string>7</string>
			<key>link</key>
			<string>http://85.25.164.52/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/kanaal-7-channel-7-namibia,15890.m3u</string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kosmos 94.1 FM</string>
			<key>logo</key>
			<string>Kosmos</string>
			<key>link</key>
			<string>http://sirius.shoutca.st:9171/stream.m3u</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/kosmos-94-1-fm,13070.m3u</string>
			<key>note</key>
			<string>Top Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>National Radio 92.6 FM</string>
			<key>logo</key>
			<string>National</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/national-radio-92-6-fm,18740.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>NBC</string>
			<key>logo</key>
			<string>NBC</string>
			<key>link</key>
			<string>http://197.243.227.19:8802/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/nbc-namibia-german-radio,16161.m3u</string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NBC Hartklop FM</string>
			<key>logo</key>
			<string>Hartklop</string>
			<key>link</key>
			<string>http://197.243.227.19:8801/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NBC Kaisames FM</string>
			<key>logo</key>
			<string>Kaisames</string>
			<key>link</key>
			<string>http://197.243.227.19:8812/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NBC Kati FM</string>
			<key>logo</key>
			<string>Kati</string>
			<key>link</key>
			<string>http://197.243.227.19:8808/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NBC Lozi Service 93.5 FM	</string>
			<key>logo</key>
			<string>Lozi</string>
			<key>link</key>
			<string>http://197.243.227.19:8814/listen.pls</string>
			<key>http</key>
			<string>http://www.surfmusic.de/m3u/lozi-service-93-5-fm,18746.m3u</string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NBC National FM</string>
			<key>logo</key>
			<string>Nation</string>
			<key>link</key>
			<string>http://197.243.227.19:8812/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NBC Omurari FM</string>
			<key>logo</key>
			<string>Omurari</string>
			<key>link</key>
			<string>http://197.243.227.19:8806/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NBC TYS FM (Tirelo Ya Sechaba)</string>
			<key>logo</key>
			<string>TYS</string>
			<key>link</key>
			<string>http://197.243.227.19:8810/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NBC Wato FM</string>
			<key>logo</key>
			<string>Wato</string>
			<key>link</key>
			<string>http://197.243.227.19:8816/listen.pls</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Omulunga Radio FM 100.9</string>
			<key>logo</key>
			<string>Omulunga</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/omulunga-radio,15892.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk, Sport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ovambo Service 98.2 FM</string>
			<key>logo</key>
			<string>Ovambo</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/ovambo-service-98-2-fm,18741.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>RFI English</string>
			<key>logo</key>
			<string>RFI</string>
			<key>link</key>
			<string>http://icepe1.infomaniak.ch/rfianglais-96k.mp3.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>VOA</string>
			<key>logo</key>
			<string>VOA</string>
			<key>link</key>
			<string>http://stream.radiojar.com/yuqn4nngq3quv</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Wave 96.7 FM</string>
			<key>logo</key>
			<string>Wave</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/radio-wave-96-7-fm,7.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>Top Music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>West Coast FM 107.7</string>
			<key>logo</key>
			<string>West</string>
			<key>link</key>
			<string>http://www.surfmusic.de/m3u/west-coast-fm,15891.m3u</string>
			<key>http</key>
			<string></string>
			<key>note</key>
			<string>News, Talk, Music</string>
		</dict>
	</array>
</dict>
</plist>
